<div class="ilForm">
	<div class="ilFormHeader">
		<h3 class="ilFormHeader">
			{TXT_CAS_LOGIN}
		</h3>
	</div>
	<div class="ilFormRow">
		<div class="ilFormValue" style="text-align: center">
			<a href="{TARGET_CAS_LOGIN}"><img src="{TXT_CAS_LOGIN_BUTTON}" style="border:0;" alt="CAS Login Button"></a>
		</div>
	</div>
	<!-- BEGIN instruction -->
	<div class="ilFormRow">
		<div class="ilFormValue" style="text-align: center">
			{TXT_CAS_LOGIN_INSTRUCTIONS}
		</div>
	</div>
	<!-- END instruction -->
</div>
