	<script type="text/javascript">
	//<![CDATA[
	ilMapData["{MAP_ID}"] = new Array({LAT},{LONG},{ZOOM},{TYPE_CONTROL},
		{NAV_CONTROL}, {UPDATE_LISTENER}, {LARGE_CONTROL}, {CENTRAL_MARKER});
	ilMapUserMarker["{MAP_ID}"] = Array();
	<!-- BEGIN user_marker -->
	ilMapUserMarker["{UMAP_ID}"][{CNT}] = new Array({ULAT},{ULONG},
		"<div style='width:220px;'><img style='float:right; margin-right:10px;' src='{IMG_USER}'\/><span class='small'>{USER_INFO}<\/span><\/div>");
	<!-- END user_marker -->
	//]]>
	</script>
	<div id="{MAP_ID}" class="ilGoogleMap" style="width: {WIDTH}; height: {HEIGHT};"></div>
