.ui-dropzone {
	&.ui-dropzone-container {
		padding: 1px
	}

	&.darkened-highlight {
		z-index: 1100;
		position: relative;
		border: @il-dropzone-border-width @il-dropzone-border-style @il-dropzone-border-color;
		-moz-border-radius: @il-dropzone-border-radius;
		-webkit-border-radius: @il-dropzone-border-radius;
		border-radius: @il-dropzone-border-radius;
		background: @il-dropzone-highlight-bg;
	}

	&.default-highlight {
		border: @il-dropzone-border-width @il-dropzone-border-style @il-dropzone-border-color;
		-moz-border-radius: @il-dropzone-border-radius;
		-webkit-border-radius: @il-dropzone-border-radius;
		border-radius: @il-dropzone-border-radius;
		background: @il-dropzone-highlight-bg;
	}

	&.drag-hover {
		border: @il-dropzone-border-width @il-dropzone-border-style @il-dropzone-border-color-hover;
		-moz-border-radius: @il-dropzone-border-radius;
		-webkit-border-radius: @il-dropzone-border-radius;
		border-radius: @il-dropzone-border-radius;
		background-color: @il-dropzone-hover-bg;
	}
}
