<!--<form action="ilias.php?ref_id=1&new_type=file&cmd=uploadFiles&cmdClass=ilobjfilegui&cmdNode=10v:mt&baseClass=ilRepositoryGUI" method="post">-->

<!--	<div class="preview1">-->
<!--		<input type="text" name="files[1][new_name]" value="the new name" />-->
<!--		<input type="checkbox" name="files[1][extract]" checked />-->
<!--		<input type="checkbox" name="files[1][keep]" checked />-->
<!--		<input type="text" name="files[1][file_id]" value="lol_string">-->
<!--	</div>-->

<!--	<div class="preview2">-->
<!--		<input type="text" name="files[2][new_name]" value="the new name 2" />-->
<!--		<input type="checkbox" name="files[2][extract]" checked />-->
<!--		<input type="checkbox" name="files[2][keep]" />-->
<!--		<input type="text" name="files[2][file_id]" value="lol_string_2">-->
<!--	</div>-->

<!--	<input type="submit" value="SUBMIT FAKE FORM">-->

<!--</form>-->

<div id="{ID}" class="il-dropzone-base">
	<!-- Dropzone Wrapper -->
	<div class="il-dropzone wrapper">
		<!-- On-Drop Modal -->
		{MODAL}

		<!-- Components -->
		{CONTENT}
	</div>
</div>
