<tr class="{CSS_ROW}">
	<td class="std" style="vertical-align:top;">
		<input type="checkbox" name="rules[]" value="{VAL_ID}" {VAL_CHECKED}/>
	</td>
	<td class="std"  style="vertical-align:top;">
		<span class="small">
			{TXT_TITLE}: {VAL_CAT_TITLE}<br />
			{TXT_ID}: {VAL_CAT_ID}<br />
			{PATH}
		</span>
	</td>
	<td class="std"  style="vertical-align:top;">
		<span class="small">
			{VAL_CONDITION}
		</span>
	</td>
	<td class="std" style="vertical-align:center;">
		<span class="small"><a class="il_ContainerItemCommand2" href="{EDIT_LINK}">{TXT_EDIT}</a></span>
	</td>
</tr>