/* Modules/Course */
.ilValignTop {
  vertical-align: top;
}
.halfWidth {
  width: 50%;
}
.ilInheritBGColor {
  background-color: inherit;
}
td.option_value_details {
  background: none #FFF;
  color: #222;
  padding: 3px;
  vertical-align: top;
  text-align: left;
}
td.option_value_center_details {
  background: none #FFE4E4;
  color: #222;
  padding: 3px;
  vertical-align: top;
  text-align: center;
}
ul.noStyle {
  list-style: none;
}
li.smallPad {
  padding: 1px;
}
.listIndent {
  padding: 0 0 20px;
}
.ilCrsObjAcc {
  margin-bottom: 10px;
}
