.lo#lo_view {
	color:#000000;
	background-color:#ffffff;
	padding-top:5px;
	padding-left:5px;
	padding-bottom:5px;
	padding-right:5px;
}

.Title#lo_view {
	font-size:25px;
	font-face:bold;
}	

.Image#lo_view {
}

.ImageTable#lo_view {
}

.ImageCell#lo_view {
	text-align:center;
}	

.ImageCaption#lo_view {
	background-color:#eeeeee;
}	

.ImageText#lo_view {
	background-color:#eeeeee;
}

.Headline#lo_view {
	color:#000000;
	font-size:25px;
	font-weigth:bold;
}	

.EmphKeyword#lo_view {
	padding-top:0px;
	padding-left:0px;
	padding-bottom:0px;
	padding-right:0px;
	font-size:20pt;
}

.Strong#lo_view {
	padding-top:0px;
	padding-left:0px;
	padding-bottom:0px;
	padding-right:0px;
	font-weight:bold;
}

.Code#lo_view {
	padding-top:0px;
	padding-left:0px;
	padding-bottom:0px;
	padding-right:0px;
	white-space:pre;
	text-indent:100px;
	background-color:#FFFFFF;
}

.CodeBlock#lo_view {
	padding-top:0px;
	padding-left:0px;
	padding-bottom:0px;
	padding-right:0px;
	white-space:pre;
	text-indent:50px;
	background-color:#FFFFFF;
}	

.CodeElem#lo_view {
}

.Quotation#lo_view {
	padding-top:0px;
	padding-left:0px;
	padding-bottom:0px;
	padding-right:0px;
	font-style:italic;
}

.QuotationBlock#lo_view {
	padding-top:0px;
	padding-left:0px;
	padding-bottom:0px;
	padding-right:0px;
	font-style:italic;
	text-indent:50px;
}	

.Link#lo_view {
	color:blue;
	padding-top:0px;
	padding-left:0px;
	padding-bottom:0px;
	padding-right:0px;
}

.List#lo_view {
}

.OrderedList#lo_view {
}

.ListItem#lo_view {
}

.Comment#lo_view {
	font-weight:bold;
}

.Reference#lo_view {
}

.Table#lo_view {
}

.TableRow#lo_view {
}

.TableData#lo_view {
}
