//** for mobile (small devices)
$il-standard-page-small-header-height: 45px;
$il-standard-page-small-mainbar-height: 60 * 0.0625rem;
$il-standard-page-small-logo-width: 40px;
$il-mainbar-small-btn-height: $il-standard-page-small-mainbar-height;
$il-mainbar-small-btn-width: 80px;