//** for mobile (small devices)
$il-standard-page-small-header-height: 45px;
$il-standard-page-small-mainbar-height: 60px;
$il-standard-page-small-logo-width: 40px;
$il-mainbar-small-btn-height: 60px;
$il-mainbar-small-btn-width: 80px;