<div class="c-field-password">
    <input type="password" class="c-field-password" id="{ID}" name="{NAME}" aria-labelledby="{LABEL_ID}"<!-- BEGIN describedby --> aria-describedby="{DESCRIBED_BY}"<!-- END describedby --><!-- BEGIN disabled --> disabled="disabled"<!-- END disabled --> autocomplete="off"<!-- BEGIN value --> value="{VALUE}"<!-- END value -->/>
    <!-- BEGIN revelation -->
    <span class="c-field-password__revelation-glyph c-field-password__revelation-glyph--reveal">
        {PASSWORD_REVEAL}
    </span>
    <span class="c-field-password__revelation-glyph c-field-password__revelation-glyph--mask">
        {PASSWORD_MASK}
    </span>
    <!-- END revelation -->
</div>
