<div class="c-field-radio<!-- BEGIN filterablelist --> c-field--has-option-filter__list<!-- END filterablelist -->">
<!-- BEGIN optionblock -->
	<div class="c-field-radio__item<!-- BEGIN filterableitem --> c-field--has-option-filter__item<!-- END filterableitem -->">
		<input type="radio" id="{OPTIONID}"<!-- BEGIN name --> name="{NAME}"<!-- END name --> value="{VALUE}" {CHECKED} {DISABLED}/>
		<label for="{OPTIONID}">{LABEL}</label>

		<!-- BEGIN byline -->
		<div class="c-input__help-byline">{BYLINE}</div>
		<!-- END byline -->
	</div>

<!-- END optionblock -->
</div>
