<div class="ilc_LMMenu">
<table><tr><td>
<!-- BEGIN lm_menu_btn -->
<span style="white-space: nowrap;"><a class="tabinactive" href="{BTN_LINK}" target="{BTN_TARGET}"><img src="./templates/studip/images/blank.gif" width="15" border="0">{BTN_TXT}</a><img src="./templates/studip/images/blank.gif" width="15"></span>
<!-- END lm_menu_btn -->
</td></tr></table>
<!-- BEGIN js_close --><script>document.write('<a class="ilc_LMMenu" href="javascript:top.window.close()">{JS_BTN_TXT}</a>');</script><!-- END js_close -->
<!-- BEGIN jump --><a onclick="return ilJumpToList()" class="ilc_LMMenu" href="{JUMP_LINK}">{JUMP_TXT}</a><!-- END jump -->
</div>
