div#qpl_lac_legend
{
    width: 500px;
}

div.qpl_lac_legend
{
    margin: 10px;
}
div.qpl_lac_legend div.header
{
    margin: 30px 0 15px 0;
    font-weight: bold;
}
div.qpl_lac_legend td.element
{
    padding: 5px 15px 0 0;
    font-style: italic;
    width: 150px;
}
div.qpl_lac_legend td.description
{
    padding: 5px 0 0 0;
}
div.qpl_lac_legend td.operators
{
    padding: 0 0 5px 0;
    font-size: 0.8em;
}
