<table class="fullwidth">
<!-- BEGIN row -->
<!-- BEGIN item -->
<tr class="{CSS_ROW}" onclick="return ilShowUserMarker('{MAP_ID}','{MARKER_CNT}');"><td width="1" class="std"><img src="{IMG_USER}" alt="{TXT_USER}"/></td><td class="std"><a class="small" onclick="return ilShowUserMarker('{MAP_ID}','{MARKER_CNT}');" href="#">{TXT_USER}</a></td></tr>
<!-- END item -->
<!-- BEGIN item_no_link -->
<tr class="{CSS_ROW}"><td width="1" class="std"><img src="{IMG_USER}" alt="{TXT_USER}"/></td><td class="std"><span class="small">{TXT_USER}</span></td></tr>
<!-- END item_no_link -->
<!-- END row -->
</table>
