<div class="il_Description">
	<b>[MAIL_SALUTATION]</b>: {TXT_MAIL_SALUTATION}<br />
	<b>[FIRST_NAME]</b>: {TXT_FIRST_NAME}<br />
	<b>[LAST_NAME]</b>: {TXT_LAST_NAME}<br />
	<b>[EMAIL]</b>: {TXT_EMAIL}<br />
	<b>[LOGIN]</b>: {TXT_LOGIN}<br />
	<b>[ADMIN_MAIL]</b>: {TXT_ADMIN_MAIL}<br />
	<b>[ILIAS_URL]</b>: {TXT_ILIAS_URL}<br />
	<b>[CLIENT_NAME]</b>: {TXT_CLIENT_NAME}<br />
	<b>[DISK_QUOTA]</b>: {TXT_DISK_QUOTA}<br />
	<b>[DISK_USAGE]</b>: {TXT_DISK_USAGE}<br />
	<b>[DISK_USAGE_DETAILS]</b>: {TXT_DISK_USAGE_DETAILS}<br />
</div>