/* Services/Container */
div.il_Preconditions {
  margin-top: 3px;
  text-align: left;
  font-size: 90%;
}
/* Repository */
div.ilContainerListItemOuter {
  padding: 15px;
  zoom: 1;
}
td.ilContainerListFooter {
  padding-left: 15px;
}
div.ilContainerListItemOuterHighlight {
  padding: 15px;
  background-color: #FFFFD9;
  zoom: 1;
}
.ilCLIRow1,
.ilCLIRow2 {
  padding: 0;
}
td.ilCLI {
  padding: 0;
}
div.il_ContainerListItem {
  margin: 2px 0;
  padding-left: 8px;
}
th.ilContainerBlockHeader {
  font-family: 'Open Sans Semibold';
  font-weight: normal;
  font-size: 90%;
  padding: 2px;
  text-align: left;
  vertical-align: middle;
  background: url(images/block_top.png) repeat-x #f8f8f8;
  border-bottom: 1px solid #E9E9E9;
}
h3.ilContainerBlockHeader {
  font-family: 'Open Sans Semibold';
  font-weight: normal;
  padding: 0;
  margin: 0;
  display: inline;
  font-size: 100%;
}
table.ilContainerBlock {
  border: 1px solid #D6D6D6;
  width: 100%;
  /* border-spacing: 0; */
  border-collapse: collapse;
  clear: both;
  margin-bottom: 20px;
}
div#cont_paste_explorer_tree ul.il_Explorer {
  margin: 0 0 0 24px;
}
#ilContRepIntro {
  margin: 20px 0 50px 0;
  clear: both;
}
div#ilContRepIntro img {
  float: right;
  width: 150px;
  height: 150px;
}
