/* Services/Locator */

ol.breadcrumb {
	margin: 0;
	font-family: 'Open Sans Semibold';
	padding-left: 15px;
	font-size: 0.8em;
}

.breadcrumb a {
/*	color: #A0A0A0; */
}

.breadcrumb > li + li:before {
/*	 color: #A0A0A0; */
 }