<div class="il-card thumbnail">
	<!-- BEGIN action -->
	<div class="il-card-repository-head">
		<div>
			{OBJECT_ICON}
		</div>
		<div>
			{PROGRESS_STATUS}
		</div>
		<div class="il-card-repository-dropdown">
			{DROPDOWN}
		</div>
	</div>
	<!-- END action -->
	<!-- BEGIN image -->
	<div class="il-card-image-container">{IMAGE}</div>
	<!-- END image -->
	<!-- BEGIN highlight --><div class="card-highlight"></div><!-- END highlight -->
	<!-- BEGIN no_highlight --><div class="card-no-highlight"></div><!-- END no_highlight -->
	<div class="caption card-title">
		<!-- BEGIN title_action_begin --><a href="{HREF}" id="{ID}"><!-- END title_action_begin -->{TITLE}<!-- BEGIN title_action_end --></a><!-- END title_action_end -->
	</div>
	<!-- BEGIN section -->
	<div class="caption">{SECTION}</div>
	<!-- END section -->
</div>