/* --- Services/COPage ---*/
.ilTinyInfo {
  display: none;
}
div.ilTinyMenuSection,
#ilTinyMenuButtons {
  border-right: 0px;
  margin: 3px 3px 3px 0px;
  float: left;
  height: 28px;
  padding: 0 10px 0 0;
}
