{FORM}
<!--
	<form action="{SEARCH_ACTION}" class="il_Form" METHOD="post">
	  <table class="std">
		<tr class="tblheader">
		  <td class="std" colspan="4">{TBL_TITLE}
		  </td>
		</tr>
		<tr class="tblrow1">
		  <td class="option">
			{TXT_SEARCHTERM}
		  </td>
		  <td class="option_value" >
			<input type="TEXT" name="search[string]" value="{FORM_SEARCH_STR}" size="30"/>
		  </td>
		  <td align="center" class="option_value" >
			<input type="RADIO" name="search[combination]" value="or" {OR_CHECKED}>{TXT_OR}</input>
		  </td>
		  <td align="center" class="option_value" >
			<input type="RADIO" name="search[combination]" value="and" {AND_CHECKED}>{TXT_AND}</input>
		  </td>
		</tr>
		<tr class="tblrow1">
		  <td class="option">
			{TXT_SEARCHAREA}
		  </td>
		  <td class="option_value" colspan="3">
			{SEARCHAREA}&nbsp;[<a href="{HREF_UPDATE_AREA}">{UPDATE_AREA}</a>]
		  </td>
		</tr>
		<tr class="tblrow1">
		  <td class="option" rowspan="2">
			{TXT_SEARCH_TYPE}
		  </td>
		  <td class="option_value" colspan="3">
			<table width="100%" border="0" >
			  <tr>
				<td align="center" width="1%">{CHECK_FAST}</td>
				<td align="left" nowrap="nowrap" colspan="3">&nbsp;{INFO_FAST}</td>
			  </tr>
			</table>
		  </td>
		</tr>
		<tr class="tblrow1">
		  <td class="option_value" colspan="3" align="left">
			<table width="100%" border="0" >
			  <tr>
				<td align="center" width="1%">{CHECK_DETAILS}</td>
				<td align="left" nowrap="nowrap" colspan="3">&nbsp;{INFO_DETAILS}</td>
			  </tr>
			  <tr>
				<td>&nbsp;</td>
				<td align="left" valign="center" width="33%" nowrap="nowrap">{CHECK_LMS} {LMS}</td>
				<td align="left" valign="center" width="33%" nowrap="nowrap">{CHECK_GLO} {GLO}</td>
				<td align="left" valign="center" width="33%" nowrap="nowrap">{CHECK_MEP} {MEP}</td>
			  </tr>
			  <tr>
				<td>&nbsp;</td>
				<td align="left" valign="center"  nowrap="nowrap">{CHECK_TST} {TST}</td>
				<td align="left" valign="center"  nowrap="nowrap">{CHECK_FOR} {FOR}</td>
				<td align="left" valign="center"  nowrap="nowrap">{CHECK_EXC} {EXC}</td>
			  </tr>
			  <tr>
				<td>&nbsp;</td>
				<td align="left" valign="center"  nowrap="nowrap">{CHECK_FIL} {FIL}</td>
				<td align="left" valign="center"  nowrap="nowrap">{CHECK_MCST} {MCST}</td>
				<td align="left" valign="center"  nowrap="nowrap">{CHECK_WIKI} {WIKI}</td>
			  </tr>
			</table>
		  </td>
		</tr>
		<tr class="tablefooter">
		  <td class="submit" colspan="4">
			<div align="right">
			  <input class="submit" type="SUBMIT" name="cmd[performSearch]" value="{BTN_SEARCH}"/>
			  <!-- BEGIN search_results -->
			  <input class="submit" type="SUBMIT" name="cmd[searchInResults]" value="{BTN_SEARCHRESULTS}"/>
			  <!-- END search_results -->
			</div>
		  </td>
		</tr>
	  </table>
	  <br />
-->
	  <!--  BEGIN prev_next -->
	  <center>{SEARCH_PAGE} 
	  <!--  BEGIN prev --><a href="{PREV_LINK}">{TXT_PREV} </a><!--  END prev -->
	  <!-- BEGIN pages_link -->{NUMBER} <!-- END pages_link -->
	  <!-- BEGIN next --><a href="{NEXT_LINK}">{TXT_NEXT}</a><!-- END next -->
	   	</center>
		<br />
		<!--  END prev_next -->	  
	  {RESULTS}
	  <br />
	  <!-- BEGIN save_result -->
	  <table class="fullwidth_invisible">
		<tr>
		  <td valign="center" align="left">
  			<img src="{DOWNRIGHT}" border="0" />
		  </td>
		  <td valign="center" align="left" nowrap="nowrap">
			&nbsp;{SELECT_FOLDER}
		  </td>
		  <td valign="center" align="left" width="90%">
			&nbsp;<input class="submit" type="SUBMIT" name="cmd[saveResult]" value="{BTN_SAVE_RESULT}"/>
		  </td>
		  </tr>
	  </table>
	  <!-- END save_result -->
	</form>
