	<style>
	  body { margin:0px; }
	</style>
	{STATUSLINE}
	  <table class="fullwidth_invisible"><tr><td class="ilInvisibleBorder">
	  	<form class="il_Form" action="{H_FORMACTION}" method="post">
			  <div class="il_Header">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
					  <td><h1>{TXT_HEADER}</h1></td>
					  <td nowrap="1" align="right">
						<!-- BEGIN top -->
						<a class="{CLASS_TOP}" href="{LINK_TOP}"><img src="{IMG_TOP}" border="0"></a>&nbsp;
						<!-- END top -->
					  </td>
					</tr>
					<tr>
					  <td>
						<div class="il_Tab">{TABS}</div>
					  </td>
					  <!-- BEGIN add_folder -->
					  <td align="right">
						<!-- BEGIN commands -->
						{SELECT_OBJTYPE}
						<input class="submit" type="submit" name="cmd[{BTN_NAME}]" value="{TXT_ADD}" />
						<!-- END commands -->
					  </td>
					  <!-- END add_folder -->
					</tr>
				</table>
			  </div>
			  </form>
			  <br/>
			  {BUTTONS}
			  {MESSAGE}
			  {ADM_CONTENT}
	  </table>

