<form method="post" action="{FORM_ACTION}">
<div class="ilToolbar"><input type="text" name="term" value="{TERM}" size="60" maxlength="200"/> <input class="submit" type="submit"  value="{TXT_SEARCH}" name="cmd[performSearch]" />
	<a class="small" href="#" id="search_options_tr">{TXT_OPTIONS} {ARR_IMG}</a><div class="ilOverlay" id="search_options" style="display:none;">{FORM}</div>
</div>
<div class="xsmall light">
	{TXT_COMBINATION}: <span id="sop_combination">{TXT_COMBINATION_DEFAULT}</span>,
	{TXT_AREA}: <span id="sop_area"></span>,
	{TXT_TYPE}: <span id="sop_type">{TXT_TYPE_DEFAULT}</span>
</div>
</form>
<br />
<!--  BEGIN prev_next -->
  <center>{SEARCH_PAGE} 
  <!--  BEGIN prev --><a href="{PREV_LINK}">{TXT_PREV} </a><!--  END prev -->
  <!-- BEGIN pages_link -->{NUMBER} <!-- END pages_link -->
  <!-- BEGIN next --><a href="{NEXT_LINK}">{TXT_NEXT}</a><!-- END next -->
   	</center>
	<br />
<!--  END prev_next -->	  
{RESULTS_TABLE}