<!-- BEGIN nested_ordering_init -->
<script language="JavaScript" type="text/javascript"> var updateOutput__{INSTANCE_ID};
(function($) { $(document).ready(function () {

    fetchIndentations__{INSTANCE_ID} = function (e)
    {
        var containerSelector = 'div#nestable__{INSTANCE_ID}';
        var items = [], indent = 0, selektor = containerSelector + ' ';

        $(containerSelector).find('input[type=hidden].hiddenIndentationInput').remove();
        
        do
        {
            var found = false;
            
            selektor += ' > {HTML_LIST_TAG} > li';
            
            $(selektor).each(
                function(pos, item)
                {
                    var val = $(item).attr('data-id');

                    found = true;
                   
                    $(containerSelector).append(
                        '<input type="hidden" class="hiddenIndentationInput" name="{INDENTATION_POSTVAR}[' + val + ']" value="' + indent + '" />'
                    );
                }
            );
            
            indent++;
         }
        while(found);
    };
    
    // activate Nestable for list 
    $('#nestable__{INSTANCE_ID}').nestable({
        <!-- BEGIN avoid_nesting -->maxDepth: 1,<!-- END avoid_nesting -->
        listNodeName: '{HTML_LIST_TAG}',
        listClass: '{CSS_LIST_CLASS}',
        itemClass: '{CSS_ITEM_CLASS}',
        group:1,
        expandBtnHTML:'',
        collapseBtnHTML:'',
        scroll: true
    }).on('change', fetchIndentations__{INSTANCE_ID});
    
    // output initial serialized data
    fetchIndentations__{INSTANCE_ID}($('#nestable__{INSTANCE_ID}'));
    
}); })(jQuery);
</script>
<!-- END nested_ordering_init -->
