<div class="ilFormInnerCol">
<div class="form-group form-inline">
	<div class="input-group date" id="{DATEPICKER_ID}">
		<input aria-describedby="date_desc_{DATE_ID}" type="text" class="form-control" placeholder="{PLACEHOLDER}" style="min-width:120px" value="{DATEPICKER_VALUE}" id="{DATE_ID}" name="{DATE_ID}" {DATEPICKER_DISABLED} {REQUIRED} />
		<p class="sr-only" id="date_desc_{DATE_ID}">{DESCRIPTION}</p>
		<span class="input-group-addon">
			<span class="glyphicon glyphicon-calendar"></span>
		</span>
	</div>
</div>
</div>