<!-- BEGIN inline_in_bl -->
<div class="form-inline">
<!-- END inline_in_bl -->	
	<select class="form-control" id="{ID}" name="{POST_VAR}" <!-- BEGIN cust_attr -->{CUSTOM_ATTR}<!-- END cust_attr --> {DISABLED}>
	<!-- BEGIN prop_groupstart -->
	<optgroup label="{HEADER}">
		<!-- BEGIN prop_select_option -->
		<option value="{VAL_SELECT_OPTION}" title="{TXT_SELECT_OPTION_TITLE}" {CHK_SEL_OPTION}>{TXT_SELECT_OPTION}</option>
		<!-- END prop_select_option -->
	</optgroup>
	<!-- END prop_groupstart -->
	</select>
	{HIDDEN_INPUT}
<!-- BEGIN inline_out_bl -->
</div>
<!-- END inline_out_bl -->