<div id="{ELEMENT_ID}">
<!-- BEGIN row -->
<div class="{ROW_CLASS}">
	<input type="text" size="{SIZE}" id="{ID}" maxlength="{MAXLENGTH}" name="{POST_VAR}" <!-- BEGIN prop_text_propval -->value="{PROPERTY_VALUE}" <!-- END prop_text_propval -->{DISABLED}/>
	<input type="image" name="{CMD_ADD}" class="textwizard_add" id="add_{ID}" src="{ADD_BUTTON}" onclick="javascript: void(0); return false;" />
	<input type="image" name="{CMD_REMOVE}" class="textwizard_remove" id="remove_{ID}" src="{REMOVE_BUTTON}" onclick="javascript: void(0); return false;" />
<!-- BEGIN move -->
	<input type="image" name="{CMD_UP}" class="textwizard_up" id="up_{ID}" src="{UP_BUTTON}" onclick="javascript: void(0); return false;" />
	<input type="image" name="{CMD_DOWN}" class="textwizard_down" id="down_{ID}" src="{DOWN_BUTTON}" onclick="javascript: void(0); return false;" />
<!-- END move -->
</div>
<!-- END row -->
</div>