<!-- BEGIN prop_number_range -->
		<!-- BEGIN prop_number_range_label1 --><label for="{ID}1">{LABEL1}</label> <!-- END prop_number_range_label1 --><input style="text-align:right;" type="TEXT" style="text-align:right;" size="{SIZE}" id="{ID}1" maxlength="{MAXLENGTH}" name="{POST_VAR}[]" <!-- BEGIN prop_number_range_propval1 -->value="{PROPERTY_VALUE1}" <!-- END prop_number_range_propval1 -->{DISABLED}/> {INPUT_SUFFIX1}
		<div class="ilFormInfo">{TXT_NUMBER_CONSTRAINTS1}</div>
		<!-- BEGIN prop_number_range_label2 --><label for="{ID}2">{LABEL2}</label> <!-- END prop_number_range_label2 --><input style="text-align:right;" type="TEXT" style="text-align:right;" size="{SIZE}" id="{ID}2" maxlength="{MAXLENGTH}" name="{POST_VAR}[]" <!-- BEGIN prop_number_range_propval2 -->value="{PROPERTY_VALUE2}" <!-- END prop_number_range_propval2 -->{DISABLED}/> {INPUT_SUFFIX2}
		<div class="ilFormInfo">{TXT_NUMBER_CONSTRAINTS2}</div>
<!-- END prop_number_range -->