<div class="input-group">
	<span class="input-group-btn">
		<span class="btn btn-default btn-file">
			{TXT_BROWSE}<input type="file" id="{ID}" name="{POST_VAR}"{DISABLED}/>
		</span>
	</span>
	<input tabindex="-1" type="text" class="form-control" readonly="readonly"{DISABLED}>
</div>

<!--<input type="file" id="{ID}" name="{POST_VAR}" size="30" {DISABLED}/>-->
<div class="help-block">{TXT_MAX_SIZE}</div>
<!-- BEGIN allowed_image_suffixes -->
<div class="help-block">{TXT_ALLOWED_SUFFIXES}</div>
<!-- END allowed_image_suffixes -->
<!-- BEGIN image -->
<div id="{POST_VAR_I}_existing_img_section">
<img style="margin: 5px 0; max-width: 25%; height: auto;" src="{SRC_IMAGE}" alt="{ALT_IMAGE}" {WIDTH} {HEIGHT} />
<!-- BEGIN delete_bl -->
<div class="checkbox">
<label><input type="checkbox" name="{POST_VAR_D}_delete" id="{POST_VAR_D}_delete" value="1" />
	{TXT_DELETE_EXISTING}</label></div>
<!-- END delete_bl -->
<!-- BEGIN has_value -->
<input type="hidden" name="{POST_VAR_D}_name" value="{TEXT_IMAGE_NAME}" />
<!-- END has_value -->
</div>
<!-- END image -->
<div style="margin: 10px 0px;">
	<img style="display: none; width: 200px; height: auto;" id="{POST_VAR}_capture_img" src="" alt="" />
</div>
<!-- BEGIN pending -->
<div style="margin-bottom:3px; margin-left:3px;"><span class="subtitle">{TXT_PENDING}</span></div>
<!-- END pending -->
<!-- BEGIN capture -->
<!-- see https://gist.github.com/anantn/1852070 -->
<button data-form-image-file-capture-base="{POST_VAR_V}" class="btn btn-default" id="{POST_VAR_V}_button1">{TXT_USE_CAMERA}</button>
<button class="btn btn-default btn-primary" id="{POST_VAR_V}_button2">{TXT_TAKE_SNAPSHOT}</button>
<canvas style="display: none" id="{POST_VAR_V}_canvas"></canvas>
<input type="hidden" id="{POST_VAR_V}_capture" name="{POST_VAR_V}_capture" value="" />
<div style="margin-top: 10px;">
	<video style="display: none; width: 100px; height: auto;" id="{POST_VAR_V}_video" autoplay></video>
</div>
<!-- END capture -->

