<!-- BEGIN prop_date_activation -->
			<input type="checkbox" name="{CHECK_ENABLED_DATE}" value="1" {CHECKED_ENABLED} {CHECKED_DISABLED}/> {TXT_DATE_ENABLED}<br />
<!-- END prop_date_activation -->
<!-- BEGIN prop_date -->
			<span style="white-space:nowrap;">
			{DATE_SELECT}
			<input type="image" alt="{TXT_DATE_CALENDAR}" title="{TXT_DATE_CALENDAR}" src="{IMG_DATE_CALENDAR}" id="btn_cal_{DATE_ID}" />
			</span>
			<script type="text/javascript">
			//<![CDATA[
			Calendar.setup( 
			{ 
				button : "btn_cal_{DATE_ID}",
				inputFieldsDate : "{INPUT_FIELDS_DATE}"
			}
			);
			//]]>
			</script>
<!-- END prop_date -->{DELIM}
<!-- BEGIN prop_time -->
			{TIME_SELECT} {TXT_TIME}
<!-- END prop_time -->
