<input type="file" id="{ID}" name="{POST_VAR}" size="30" {DISABLED}/>
<div class="help-block">{TXT_MAX_SIZE}</div>
<!-- BEGIN allowed_image_suffixes -->
<div class="help-block">{TXT_ALLOWED_SUFFIXES}</div>
<!-- END allowed_image_suffixes -->
<!-- BEGIN image -->
<img style="margin: 5px 0; max-width: 25%;" src="{SRC_IMAGE}" alt="{ALT_IMAGE}" {WIDTH} {HEIGHT} border="0" />
<!-- BEGIN delete_bl -->
<div class="checkbox">
<label><input type="checkbox" name="{POST_VAR_D}_delete" id="{POST_VAR_D}_delete" value="1" />
	{TXT_DELETE_EXISTING}</label></div>
<!-- END delete_bl -->
<!-- BEGIN has_value -->
<input type="hidden" name="{POST_VAR_D}_name" value="{TEXT_IMAGE_NAME}" />
<!-- END has_value -->
<!-- END image -->
<!-- BEGIN pending -->
<div style="margin-bottom:3px; margin-left:3px;"><span class="subtitle">{TXT_PENDING}</span></div>
<!-- END pending -->

