<!-- BEGIN text_input -->
<input class="form-control" type="password" size="{SIZE}" id="{ID}" maxlength="{MAXLENGTH}" name="{POST_VAR}" <!-- BEGIN prop_password_propval -->value="{PROPERTY_VALUE}" <!-- END prop_password_propval -->{DISABLED} {AUTOCOMPLETE}/><br />
<!-- BEGIN retype -->
<div class="subtitle" style="white-space:nowrap; margin: 3px 0px 0px 0px;">{TXT_RETYPE}</div>
<input class="form-control" type="password" size="{RSIZE}" id="{RID}_retype" maxlength="{RMAXLENGTH}" name="{RPOST_VAR}_retype" value="{PROPERTY_RETYPE_VALUE}" {RDISABLED} {RAUTOCOMPLETE}/>
<!-- END retype -->
<!-- END text_input -->
<!-- BEGIN select_input -->
<div><input type="radio" name="{POST_VAR}" id="{OP_ID}" value="{VAL_RADIO_OPTION}" {DISABLED}/> <label for="{OP_ID}">{TXT_RADIO_OPTION}</label></div>
<!-- END select_input -->
