<!-- BEGIN std_table -->
<table class="std">
<!-- END std_table -->
<!-- BEGIN sub_table -->
<table class="nobackground">
<!-- END sub_table -->
	<!-- BEGIN item -->
	<!-- BEGIN header -->
	<tr class="tblheader">
		<td class="std" colspan="2">
		<!-- BEGIN title_icon --><img src="{IMG_ICON}" border="0"/><!-- END title_icon -->
		{TXT_TITLE}</td>
	</tr>
	<!-- END header -->
	<!-- BEGIN prop -->
	<!-- BEGIN std_prop_start -->
	<tr>
		<td class="option">
		<label for="{LAB_ID}">{PROPERTY_TITLE}</label><!-- BEGIN required --><span class="asterisk">*</span><!-- END required -->
		</td>
		<td class="option_value" width="400px">
	<!-- END std_prop_start -->
	<!-- BEGIN sub_prop_start -->
	<tr>
		<td class="std" style="padding-left:40px; vertical-align:top;">
		<label for="{LAB_ID}">{PROPERTY_TITLE}</label><!-- BEGIN required --><span class="asterisk">*</span><!-- END required -->
		</td>
		<td class="std">
	<!-- END sub_prop_start -->
		<!-- BEGIN prop_text -->
		<input type="text" size="{SIZE}" id="{ID}" maxlength="{MAXLENGTH}" name="{POST_VAR}" value="{PROPERTY_VALUE}" />
		<!-- END prop_text -->
		<!-- BEGIN prop_textarea -->
		<textarea name="{POST_VAR}" id="{ID}" <!-- BEGIN no_rteditor -->class="noRTEditor" style="width:90%;"<!-- END no_rteditor --> wrap="virtual" <!-- BEGIN prop_ta_c -->cols="{COLS}"<!-- END prop_ta_c --> rows="{ROWS}" <!-- BEGIN prop_ta_w -->style="width:90%;"<!-- END prop_ta_w -->>{PROPERTY_VALUE}</textarea>
		<!-- END prop_textarea -->
		<!-- BEGIN prop_custom -->
		{CUSTOM_CONTENT}
		<!-- END prop_custom -->
		<!-- BEGIN prop_checkbox -->
		<input type="checkbox" id="{ID}" name="{POST_VAR}" value="{PROPERTY_VALUE}" {PROPERTY_CHECKED} /> <label for="{ID}">{OPTION_TITLE}</label>
		{SUB_FORM}
		<!-- END prop_checkbox -->
		<!-- BEGIN prop_radio -->
			<!-- BEGIN prop_radio_option -->
			<div><input type="radio" name="{POST_VAR}" id="{OP_ID}" value="{VAL_RADIO_OPTION}" {CHK_RADIO_OPTION}/> <label for="{OP_ID}">{TXT_RADIO_OPTION}</label></div>
			<!-- BEGIN radio_option_desc -->
			<div style="margin-top:3px; margin-left:3px;"><span class="subtitle">{RADIO_OPTION_DESC}</span></div>
			<!-- END radio_option_desc -->
			{SUB_FORM}
			<!-- END prop_radio_option -->
		<!-- END prop_radio -->
		<!-- BEGIN prop_select -->
		<select name="{POST_VAR}">
			<!-- BEGIN prop_select_option -->
			<option value="{VAL_SELECT_OPTION}" {CHK_SEL_OPTION}>{TXT_SELECT_OPTION}</option>
			<!-- END prop_select_option -->
		</select>
		<!-- END prop_select -->
		<!-- BEGIN prop_location -->
		<input type="text" id="{MAP_ID}_lat" size="14" maxlength="18" name="{POST_VAR}[latitude]" value="{PROPERTY_VALUE_LAT}"
			onchange="ilUpdateMap('{MAP_ID}');" /> /
		<input type="text" id="{MAP_ID}_lng" size="14" maxlength="18" name="{POST_VAR}[longitude]" value="{PROPERTY_VALUE_LONG}"
			onchange="ilUpdateMap('{MAP_ID}');" />
		&nbsp;&nbsp;{TXT_ZOOM}: {ZOOM_SELECT}<br />
		<div style="margin-top:3px; margin-left:3px;"><span class="subtitle">{LOC_DESCRIPTION}</span></div>
		{MAP}
		<!-- END prop_location -->
		<!-- BEGIN prop_file -->
		<!-- BEGIN filename -->
		<div style="margin-bottom:3px"><input type="text" id="{FILENAME_ID}" size="30" maxlength="70" name="{POST_FILENAME}" /></div>
		<div style="margin-top:3px; margin-left:3px; margin-bottom:3px;"><span class="subtitle">{TXT_FILENAME_HINT}</span></div>
		<!--  END filename -->
		<input type="file" id="{ID}" name="{POST_VAR}" size="30" />
		<div style="margin-top:3px; margin-left:3px;"><span class="subtitle">{TXT_MAX_SIZE}</span></div>
		<!-- BEGIN allowed_suffixes -->
		<div style="margin-top:3px; margin-left:3px;"><span class="subtitle">{TXT_ALLOWED_SUFFIXES}</span></div>
		<!-- END allowed_suffixes -->
		<!-- END prop_file -->
		<!-- BEGIN prop_datetime -->
			<!-- BEGIN prop_date -->
			{DATE_SELECT}
			<input type="image" alt="{TXT_DATE_CALENDAR}" title="{TXT_DATE_CALENDAR}" src="{IMG_DATE_CALENDAR}" id="btn_cal_{DATE_ID}" />
			<script type="text/javascript">
			//<![CDATA[
			Calendar.setup( 
			{ 
				button : "btn_cal_{DATE_ID}",
				inputFieldsDate : "{INPUT_FIELDS_DATE}"
			}
			);
			//]]>
			</script>
			<!-- END prop_date -->{DELIM}
			<!-- BEGIN prop_time -->
			{TIME_SELECT} {TXT_TIME}
			<!-- END prop_time -->
		<!-- END prop_datetime -->
		<!-- BEGIN prop_duration -->
			<!-- BEGIN dur_days -->{TXT_DAYS}: {SELECT_DAYS}&nbsp;<!-- END dur_days -->
			<!-- BEGIN dur_hours -->{TXT_HOURS}: {SELECT_HOURS}&nbsp;<!-- END dur_hours -->
			<!-- BEGIN dur_minutes -->{TXT_MINUTES}: {SELECT_MINUTES}&nbsp;<!-- END dur_minutes -->
			<!-- BEGIN dur_seconds -->{TXT_SECONDS}: {SELECT_SECONDS}&nbsp;<!-- END dur_seconds -->
		<!-- END prop_duration -->
		<!-- BEGIN exp_description -->
		<div style="margin-top:3px; margin-left:3px;"><span class="ilFormHelpLink"><img border="0" src="{IMG_INFO}" alt="{ALT_INFO}" /></span><span class="subtitle"> {PROPERTY_DESCRIPTION}</span></div>
		<!-- END exp_description -->
		<!-- BEGIN description -->
		<div style="margin-top:3px; margin-left:3px;"><span class="subtitle">{PROPERTY_DESCRIPTION}</span></div>
		<!-- END description -->
		<!-- BEGIN alert -->
		<div style="margin-top:3px; margin-left:3px;"><img border="0" src="{IMG_ALERT}" alt="{ALT_ALERT}" />
		<span class="subtitle">{TXT_ALERT}</span></div>
		<!-- END alert -->
		</td>
	</tr>
	<!-- END prop -->
	<!-- END item -->
	<!-- BEGIN commands -->
	<tr>
	<td class="submit" colspan="2">
		<!-- BEGIN required_text -->
		<div style="float:left;">
			<span class="asterisk">*</span><span class="small"> {TXT_REQUIRED}</span>
		</div>
		<!-- END required_text -->
		<div align="right">
		<!-- BEGIN cmd -->
		<input class="submit" type="SUBMIT" name="cmd[{CMD}]" value="{CMD_TXT}">
		<!-- END cmd -->
		</div>
	</td>
	</tr>
	<!-- END commands -->
</table>
