<!-- BEGIN applet -->
		<input type="checkbox" name="{POST_VAR_D}[delete]" id="{POST_VAR_D}_delete" value="1" /><label for="{POST_VAR_D}_delete">{TXT_DELETE_EXISTING}</label><br />
		<input type="hidden" name="{POST_VAR_D}[filename]" value="{FILENAME}">
		<div style="padding: 0.5em 0;">
		<label for="{POST_VAR_D}_width">{TEXT_WIDTH}</label> <input type="text" size="4" id="{POST_VAR_D}_width" name="{POST_VAR_D}[width]" {VALUE_WIDTH} />
		<label for="{POST_VAR_D}_height">{TEXT_HEIGHT}</label> <input type="text" size="4" id="{POST_VAR_D}_height" name="{POST_VAR_D}[height]" {VALUE_HEIGHT} />
		</div>
		<div style="padding: 0.5em 0;">
			<input type="submit" class="submit" id="flashAddParam" name="cmd[flashAddParam][{POST_VAR_D}]" value="{TEXT_ADD_PARAM}" onclick="return newParamClicked();" />
		</div>
		<div id="flashAppletParams">
<!-- BEGIN applet_param_input -->
			<div id="singleFlashAppletParam" style="padding: 0.5em 0;">
				<label for="{POST_VAR_P}_flash_param_name[{PARAM_INDEX}]">{TEXT_NAME}</label> <input type="text" name="{POST_VAR_P}[flash_param_name][{PARAM_INDEX}]" id="{POST_VAR_P}_flash_param_name[{PARAM_INDEX}]" size="25" {VALUE_NAME} />
				<label for="{POST_VAR_P}_flash_param_value[{PARAM_INDEX}]">{TEXT_VALUE}</label> <input type="text" name="{POST_VAR_P}[flash_param_value][{PARAM_INDEX}]" id="{POST_VAR_P}_flash_param_value[{PARAM_INDEX}]" size="25" {VALUE_VALUE} />
				<input type="checkbox" class="{POST_VAR_P}_deleteFlashParam" name="{POST_VAR_P}[flash_param_delete][{PARAM_INDEX}]" id="{POST_VAR_P}_flash_param_delete[{PARAM_INDEX}]" value="1" /><label for="{POST_VAR_P}_flash_param_delete[{PARAM_INDEX}]">{TEXT_DELETE_PARAM}</label>
			</div>
<!-- END applet_param_input -->
		</div>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
	codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"
	width="{APPLET_WIDTH}" height="{APPLET_HEIGHT}" id="movie_{ID}">
	<param name="movie" value="{APPLET_FILE}">
<!-- BEGIN applet_parameter -->
	<param name="FlashVars" value="{PARAM_VALUE}">
<!-- END applet_parameter -->
	<embed src="{APPLET_PATH}" quality="high" bgcolor="#FFFFFF" width="{APPLET_WIDTH}" height="{APPLET_HEIGHT}"
		name="movie_name_{ID}" align="" type="application/x-shockwave-flash"
		pluginspage="http://www.macromedia.com/go/getflashplayer"<!-- BEGIN flash_vars --> FlashVars="{PARAM_VALUE}"<!-- END flash_vars -->></embed>
</object><br />
<!-- END applet -->
		<input type="file" id="{ID}" name="{POST_VAR}" size="30" />
		<div class="help-block">{TXT_MAX_SIZE}</div>
<!-- BEGIN allowed_suffixes -->
		<div class="help-block">{TXT_ALLOWED_SUFFIXES}</div>
<!-- END allowed_suffixes -->
{JAVASCRIPT_FLASH}