<div style="{STYLE_PAR}">
	<input <!-- BEGIN submit_form_on_enter -->onkeypress="return il.Util.submitOnEnter(event, this.form);"<!-- END submit_form_on_enter --> type="{PROP_INPUT_TYPE}" <!-- BEGIN stylecss -->style="{CSS_STYLE}" <!-- END stylecss -->size="{SIZE}" id="{ID}" <!-- BEGIN classcss --> class="{CLASS_CSS}" <!-- END classcss --> maxlength="{MAXLENGTH}" name="{POST_VAR}" <!-- BEGIN prop_text_propval -->value="{PROPERTY_VALUE}" <!-- END prop_text_propval -->{DISABLED}/> {INPUT_SUFFIX}
	{HIDDEN_INPUT}
	{MULTI_ICONS}
	
	<!-- BEGIN prop_text_autocomplete -->	
	<script type="text/javascript">
		il.Util.addOnLoad(	
			function() {
				<!-- BEGIN ac_multi -->ilMultiFormValues.addAutocomplete('{ID_AUTOCOMPLETE}', '{MURL_AUTOCOMPLETE}');<!-- END ac_multi -->
				$('{SEL_AUTOCOMPLETE}').autocomplete({
					source: "{URL_AUTOCOMPLETE}",
					minLength: 3
				});
			});
	</script>
	<!-- END prop_text_autocomplete -->		
</div>