<div class="il-prompt-state">
    <section data-section="il-prompt-state__title">
        {TITLE}
    </section>
    <section data-section="il-prompt-state__contents">
        {CONTENT}
    </section>
    <section data-section="il-prompt-state__buttons">
        {BUTTONS}
    </section>
    <section data-section="il-prompt-state__command">
        {COMMAND}
    </section>
    <section data-section="il-prompt-state__parameters">
        <!-- BEGIN param -->
        <data value="{VALUE}">{KEY}</data>
        <!-- END param -->
    </section>
</div>