	<form action="{FORMACTION}" method="post">
	  <table class="std" width="50%">
		  <tr class="tblheader">
			<td class="std" colspan="2">{TXT_EDIT_CHATROOMS}</td>
		  </tr>
		  <tr class="tblrow1">
			<td class="option">{TXT_ROOM_NAME}</td>
			<td class="option_value"><input type="text" name="room_name" value="{ROOM_NAME}" /></td>
		  </tr>
		  <tr class="tblfooter">
			<td colspan="2" align="right">
			  <input class="submit" type="submit" name="cmd[{CMD}]" value="{ROOM_EDIT}" />
			  <input class="submit" type="submit" name="cmd[cancel]" value="{ROOM_CANCEL}" />
		  </tr>
	  </table>
	</form>