<tr class="{CSS_ROW}">
	<td class="std" style="vertical-align:top;">
		<input type="checkbox" name="smiley_id[]" value="{VAL_SMILEY_ID}" />
	</td>
	<td class="std"  style="vertical-align:top;"><img src="{VAL_SMILEY_PATH}" alt="Smiley: {VAL_SMILEY_KEYWORDS_NONL}"/></td>
	<td class="std"  style="vertical-align:top;">{VAL_SMILEY_KEYWORDS}</td>
	<td class="std" style="vertical-align:top;">				
		<div style="float: right;">
			<div class="il_ContainerItemCommands">
				<a class="il_ContainerItemCommand" href="{EDIT_LINK}">{TXT_EDIT_RECORD}</a>
				<a class="il_ContainerItemCommand" href="{DELETE_LINK}">{TXT_DELETE_RECORD}</a>
			</div>	
		</div>
	</td>
</tr>