	<form action="{FORMACTION}" name="ObjectItems" method="post">
	  <table class="std" width="60%">
		  <tr class="tbltitle">
			<td colspan="4">
			  <table class="fullwidth_invisible" cellspacing="0">
				  <tr class="tbltitle">
					<td width="10"><img src="{TBL_TITLE_IMG}" alt="{TBL_TITLE_IMG_ALT}" title="{TBL_TITLE_IMG_ALT}" border="0" /></td>
					<td class="tbltitle" align="left">&nbsp;{TBL_TITLE}</td>
				  </tr>
			  </table>
			</td>
		  </tr>
		  <tr class="tblheader">
			<td class="std" nowrap="nowrap" width="1%"></td>
			<td class="std" nowrap="nowrap" width="99%">{HEADER_NAME}</td>
		  </tr>
		  <!-- BEGIN blocked_users -->
		  <tr class="{TBLROW}">
			<td class="option_value" valign="center">{BLOCK_CHECK}</td>
			<td class="option_value">{FULLNAME}<br />{LOGIN}</td>
		  </tr>
		  <!-- END blocked_users -->
		  <!-- BEGIN no_blocked -->
		  <tr>
			<td class="tblrow1" colspan="2"><div align="center">{MESSAGE_NO_BLOCKED}</div></td>
		  </tr>
		  <!-- END no_blocked -->
		  <tr>
			<td class="submit" colspan="2" align="left" nowrap="nowrap">
			  <table width="100%" cellpadding="0" cellspacing="0" border="0">
				  <tr>
					<!-- BEGIN delete_blocked -->
					<td align="left" width="10">
					  <img src="{IMG_ARROW}" border="0" />
					</td>
					<td align="left">&nbsp;
					  <input class="submit" type="submit" name="cmd[unBlockUsers]" value="{BTN_DELETE}" />
					</td>
					<!-- END delete_blocked -->
					<td align="right">
					  <input type="text" name="block" value="{BLOCK}"/>&nbsp;
					  <input class="submit" type="submit" name="cmd[blockUser]" value="{BTN_BLOCK}" />
					</td>
				  </tr>
			  </table>
			</td>
		  </tr>
	  </table>
	</form>
