<tr class="{CSS_ROW}">
<td class="std">
  <input type="checkbox" name="recordings[]" value="{VAL_REC_ID}" id="recordings_{VAL_REC_ID}" />
</td>
<td class="std">
  <!-- BEGIN title -->
  {VAL_RECORDING_TITLE}
  <!-- END title -->
  <!-- BEGIN description -->
  <div class="il_Description_no_margin">{VAL_RECORDING_DESCRIPTION}</div>
  <!-- END description -->
</td>
<td class="st">
  {VAL_MODERATOR}
</td>
<td class="std">
  <div style="float: left; white-space: nowrap">{VAL_START_TIME}</div><!-- BEGIN end_time --> <div style="float: left; white-space: nowrap">&nbsp;- {VAL_END_TIME}</div><!-- END end_time -->
</td>
<td class="std">
	{VAL_COMMAND_SELECTION_LIST}
  <!-- BEGIN export -->
  <!-- <a class="il_ContainerItemCommand" href="{VAL_LINK_EXPORT}" target="_top">{VAL_TXT_EXPORT}</a> -->
  <!-- END export -->
</td>
 </tr>