  <style>
	body { margin:0px; }
  </style>
  <p>{MESSAGE}</p>
  <table class="fullwidth_invisible" border="0">
  <tr>
  	<td class="ilInvisibleBorder" valign="top">
  <!--<div class="invisible_border">-->
		<form action="{FORMACTION}" name="txt_input" method="post">
		<table class="std" border="0">
		  <tr class="tblheader">
			  <th class="std" align="left" nowrap="nowrap" colspan="3">
				{TXT_NEW_MESSAGE}
			  </th>
			</tr>
		<tr>
			<td class="option">{TXT_COLOR}</td>
			<td class="option_value" colspan="2">{SELECT_COLOR}</td>
		</tr>
		<tr>
			<td class="option">{TXT_TYPE}</td>
			<td class="option_value" colspan="2"><!-- BEGIN FONT_TYPES --><input type="radio" name="type" value="{FONT_TYPE}" {TYPE_CHECKED} />&nbsp;{BL_TXT_TYPE}&nbsp;&nbsp;<!-- END FONT_TYPES --></td>
		</tr>
		<tr>
			<td class="option">{TXT_FACE}</td>
			<td class="option_value" colspan="2"><!-- BEGIN FONT_FACES --><input type="checkbox" name="face[]" value="{FONT_FACE}" {FACE_CHECKED} />&nbsp;{BL_TXT_FACE}&nbsp;&nbsp;<!-- END FONT_FACES --></td>
		</tr>
		<tr>
<!--			<td class="option">{TXT_INPUT}</td>//-->
			<td class="option_value" colspan="3" style="text-align:center">
				<input type="text" name="message" size="50" maxlength="1800" />
			  </td>
		</tr>
		<tr class="tblfooter">
			<td class="std" colspan="3">
				<input class="submit" type="submit" name="cmd[input]" value="{TXT_SUBMIT_OK}" />&nbsp;
				<!-- BEGIN cancel -->
				<input class="submit" type="submit" name="cmd[cancel]" value="{TXT_SUBMIT_CANCEL}" />&nbsp;
				<!-- END cancel -->
				<input class="submit" type="submit" name="cmd[export]" value="{TXT_HTML_EXPORT}" />
			</td>
		</tr>
		</table>
		</form>
  <!--</div>-->
	</td>
<!-- BEGIN moderator -->
	<td class="ilInvisibleBorder" valign="top">
		<form action="{MODERATOR_FORMACTION}" name="mod_input" method="post" target="{MODERATOR_TARGET}">
		<table class="std" border="0">
		  <tr class="tblheader">
			  <th class="std" align="left" nowrap="nowrap" colspan="2">
				{TXT_RECORDINGS}
			  </th>
			</tr>

<!-- BEGIN start_recording -->
		<tr>
			<td class="option">{TXT_TITLE_START_RECORDING}</td>
			<td class="option_value"><input type="text" name="title" value="" /></td>
		</tr>
<!--		<tr>
			<td class="option_value" colspan="2">
				<b>{TXT_DESCRIPTION_START_RECORDING}</b><br />
				<textarea cols=50 rows=2 wrap="virtual" name="description"></textarea>
			</td>
		</tr>//-->
		<tr class="tblfooter">
			<td class="std" colspan="2">
				<input class="submit" type="submit" name="cmd[startRecording]" value="{TXT_SUBMIT_START_RECORDING}" />
			</td>
		</tr>
<!-- END start_recording -->
<!-- BEGIN stop_recording -->
<!-- BEGIN title_stop_recording -->
		<tr>
			<td class="option">{TXT_TITLE_STOP_RECORDING}</td>
			<td class="option_value">{VAL_TITLE_STOP_RECORDING}</td>
		</tr>
<!-- END title_stop_recording -->
<!-- BEGIN description_stop_recording -->
		<tr>
			<td>{TXT_DESCRIPTION_STOP_RECORDING}</td>
			<td>{VAL_DESCRIPTION_STOP_RECORDING}</td>
		</tr>
<!-- END description_stop_recording -->
		<tr class="tblfooter">
			<td class="std" colspan="2">
				<input class="submit" type="submit" name="cmd[stopRecording]" value="{TXT_SUBMIT_STOP_RECORDING}" />
			</td>
		</tr>
<!-- END stop_recording -->
		</table>
		</form>
	</td>
<!-- END moderator -->
  </tr>
  </table>
<script language="JavaScript">
<!--
	if(document.txt_input.message.value!="") document.txt_input.message.focus();
	else document.txt_input.message.focus();
//-->
</script>
