	<br />
	<form action="{FORMACTION}" method="post">
	  <!-- BEGIN confirm_delete -->
	  <table width="100%">
		<tr>
		  <td align="center" valign="top" height="30">
			<input class="submit" type="submit" name="cmd[confirmedDeleteRoom]" value="{TXT_DELETE_CONFIRM}"/>
			<input class="submit" type="submit" name="cmd[cancel]" value="{TXT_DELETE_CANCEL}"/>
		  </td>
		</tr>
	  </table>
	  <!-- END confirm_delete -->
	  <br />
	  <table class="std" width="75%">
		<tr class="tbltitle">
		  <td colspan="3">
			<table class="fullwidth_invisible" cellspacing="0">
			  <tr class="tbltitle">
				<td width="10"><img src="{TYPE_IMG}" alt="{ALT_IMG}" title="{ALT_IMG}" border="0" vspace="0" align="left" /></td>
				<td class="tbltitle" align="left">&nbsp;{TITLE}</td>
			  </tr>
			</table>
		  </td>
		</tr>
		<tr class="tblheader">
		  <td class="std" width="3%">&nbsp;</td>
		  <td class="std"><b>{TXT_CHATROOMS}</b></td>
		  <td class="std" width="10%">{ACTIONS}</td>
		</tr>
		<!-- BEGIN tbl_rooms_row -->
		<tr class="{ROWCOL}">
		  <td class="std" align="center">{ROOM_CHECK}</td>
		  <td class="std">
			{ROOM_NAME}
			<div class="il_ItemProperties">
			  <span class="il_ItemProperty">
				{USERS_ONLINE}
			  </span>
			</div>
		  </td>
		  <!-- BEGIN active -->
		  <td class="std"><a href="{ROOM_LINK}" class="navigation" target="{ROOM_TARGET}" onclick="openChatWindow(this); return false;">{ROOM_TXT_LINK}</a></td>
		  <!-- END active -->
		  <!-- BEGIN not_active -->
		  <td class="std">&nbsp;</td>
		  <!-- END not_active -->
		  <!-- BEGIN blocked -->
		  <td class="std">{MESSAGE_BLOCKED}</td>
		  <!-- END blocked -->
		  
		</tr>
		<!-- END tbl_rooms_row -->
		<tr class="tblfooter">
		  <td colspan="3">
			<table width="100%">
			  <tr>
				<!-- BEGIN has_rooms -->
				<td align="left"><img src="{TBL_FOOTER_IMG_SRC}" border="0" /></td>
				<td class="std">
				  {TBL_FOOTER_SELECT}&nbsp;
				  <input class="submit" type="submit" name="cmd[adminRooms]" value="{FOOTER_HAS_ROOMS_OK}" />
				</td>
				<!-- END has_rooms -->
				<td class="std" colspan="{COLSPAN}" align="right" nowrap="nowrap">
				  {TBL_FOOTER_ADD_SELECT}&nbsp;
				  <input class="submit" type="submit" name="cmd[adminAddRoom]" value="{FOOTER_OK}" />
				</td>
			  </tr>
			  </table>
		  </td>
		</tr>
	  </table>
	</form>
<!-- BEGIN perma_link -->
<div class="il_info"><br />
{TXT_PERMA_LINK}: <a href="{PERMA_LINK}" target="{PERMA_TARGET}">{PERMA_LINK}</a>
</div>
<!-- END perma_link -->
