<style>
body {
	margin: 0px;
}

.il_chat_list {
	margin: 0px 0px 4px 4px;
	padding: 0;
	width: 90%;
	overflow: auto;
	
	border: 1px solid #9eadba;
	border-top: 0px solid #9eadba;
	
	background-color: white;
}

.il_chat_list_limit_height {
	height: 148px;
}

.chatlist_header div {
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	
	padding: 8px;
	padding-top: 0;
	padding-bottom: 0;
}
.chatlist_header {
	width: 90%;
	margin: 4px 0 0 4px;
	line-height: 25px;
	height: 25px;
	background-image: url(./templates/default/images/TableHeaderBlue.gif);
	vertical-align: middle;
	border: 1px solid #9eadba;
}

.il_chat_list li {
	margin: 0;
	padding: 0;
	
	/* height: 29px; */
	line-height: 29px;
	vertical-align: middle;
	padding-left: 5px;
	list-style-type: none;
}

.il_chat_list li a {
	display: block;
	width: 99%;
	margin: 0;
	padding: 0;
}

.chatrow {
	border-top: 1px solid #9eadba;
}

.tblactive {
	background-color: #e1e1e1;
}

.tblrowmarked {
	font-weight: bold;
}

.tblrow {
	background-color: #e1e1e1;
}

.tblrowempty {
	background-color: white;
}

.list_icon {
	margin-right: 5px;
	vertical-align: middle;
	margin-top: 4px;
}

.sublist_icon {
	margin-left: 27px;
	margin-right: 5px;
	vertical-align: middle;
	margin-top: 4px;
}

#il_chat_context {
	background-color: white;
	border: 1px solid #9eadba;
	padding: 0px;
	dislpay: none;
}

.il_chat_context_small {
	width: 172px;
}

.il_chat_context_large {
	width: 284px;
}

#il_chat_context_menu {
	float: right;
	width: 170px;
	padding: 1px;

}

#il_chat_context_title {
	font-weight: bold;
	float: left;
	padding-left: 5px;
}

#il_chat_context_title_container {
	/* border-bottom: 1px solid #9eadba; */
	border-bottom: 1px solid white;
	background-color: white;
}

#il_chat_context_close {
	float: right;
}

.il_context_menu_item {
	border-bottom: 1px solid white;
	background-color: #e5e5e5;
	width: 50px;
}

.il_context_menu_item a {
	padding: 8px;
	line-height: 23px;osse
}

#il_chat_context_userimage {
	float: left;
	width: 110px;
	background-color: white;
	padding: 1px;
}

#il_chat_context_userimage img {
	width: 110px;
	text-align: center;
}

</style>

<script type="text/javascript" src="Modules/Chat/js/ChatContextMenu.js"></script>
<script type="text/javascript" src="Modules/Chat/js/ChatUserFrameAsync.js"></script>

<script type="text/javascript" src="./Services/YUI/js/2_5_0/yahoo/yahoo-min.js?vers=3-11-0-Pre-Alpha-b"></script>
<script type="text/javascript" src="./Services/YUI/js/2_5_0/event/event-min.js?vers=3-11-0-Pre-Alpha-b"></script>
<script type="text/javascript" src="./Services/YUI/js/2_5_0/connection/connection-min.js?vers=3-11-0-Pre-Alpha-b"></script>


<!-- BEGIN js_chat_init -->
<script type="text/javascript">
	var il_chat_async_handler = new ilChatController('{ONLINE_USERS_REFRESH_LINK}');
</script>
<!-- END js_chat_init -->

{MAINMENU}

<div class="il_Locator">{LOCATOR}</div>
<h1 class="il_Header" style="margin-left: 4px">{TITLE}</h1>

<!-- list of chatrooms -->
<div style="clear: both;" class="tblheader std chatlist_header">
	<div style="float: left">{ROOMS_ROOMS}&nbsp;({ROOMS_COUNT})</div>
	<div style="float: right"><a class="il_ContainerItemCommand" href="{DETAILS_A}">{DETAILS_TXT}</a></div>
	<br style="clear: both;" />
</div>

<ul class="il_chat_list {ROOMS_LIST_CLASS}">
	<!-- BEGIN room_row -->
	<li class="{ROOM_ROW_CSS} small">
		<!-- BEGIN room_row_indent -->
		&nbsp;&nbsp;&nbsp;
		<!-- END room_row_indent -->
		<img class="{LIST_ICONCLASS}" src="{ROOM_ICON}" {ROOM_ONCLICK} style="float: left;" />
		<a href="{ROOM_LINK}" target="{ROOM_TARGET}">
			{ROOM_NAME} ({ROOM_ONLINE})
			<!-- BEGIN room_row_recording -->
				<span class="small">[ {TXT_RECORDING} ]</span>
			<!-- END room_row_recording -->
		</a> 
		

	</li>
	<!-- END room_row -->
</ul>

<br />
  
<!-- list of active users -->  
  
<div style="clear: both;" class="tblheader std chatlist_header">
	<div style="float: left">{ACTIVE_USERS} [{ACTIVE_USERS_COUNT}]</div>
	<div style="float: right"><a class="il_ContainerItemCommand" href="{DETAILS_B}">{DETAILS_B_TXT}</a></div>
	<br style="clear: both;" />
</div>

<!-- BEGIN no_active -->
<ul class="il_chat_list {ACTIVE_LIST_CLASS}">
	<li><div class="option_value"><font class="smallred">{NO_ACTIVE_USERS}</font></div></li>
</ul>
<!-- END no_active -->

<!-- BEGIN active -->
<ul class="il_chat_list {ACTIVE_LIST_CLASS}">


<!-- BEGIN active_user_row -->
	<li>
		<img class="list_icon"  src="{ACTIVE_USER_ICON}" {ACTIVE_USER_ONCLICK} style="float: left;" />
		<a href="{ACTIVE_USER_DEFAULT_LINK}" target="input"	class="navigation small">{ACTIVE_USER_NAME_A}</a>
	</li>
<!-- END active_user_row -->


</ul>
<!-- END active -->

<!-- list of active users end -->

<!-- BEGIN show_online --> <br />
	<!-- <div class="tblheader std chatlist_header"><div>{ONLINE_USERS}</div></div> -->
<div style="clear: both;" class="tblheader std chatlist_header">
	<div style="float: left">{ONLINE_USERS} [{ONLINE_USERS_COUNT}]</div>
	<div style="float: right"><a class="il_ContainerItemCommand" href="{DETAILS_C}">{DETAILS_C_TXT}</a></div>
	<br style="clear: both;" />
</div>

<!-- BEGIN no_online -->
<ul class="il_chat_list {ACTIVE_LIST_CLASS}">
	<li><font class="smallred">{NO_ONLINE_USERS}</font></li>
</ul>
<!-- END no_online -->

<!-- BEGIN online -->
<ul class="il_chat_list {ONLINE_LIST_CLASS}">
	<!-- BEGIN online_row -->
		<li class="navigation {ONLINE_FONT_A}">
			<img class="list_icon"  src="{ONLINE_USER_ICON}" {ONLINE_ONCLICK} style="float: left;" /><a href="{ONLINE_LINK_A}" onclick="return window.confirm('{ONLINE_INVITE}');" target="_top">{ONLINE_USER_NAME_A}</a>
		</li>
	<!-- END online_row -->
</ul>
<!-- END online -->

<!-- END show_online -->





		
<!-- BEGIN add_chatroom -->
	<form action="{ADD_FORMACTION}" method="post" target="_top">
		<p class="small" style="margin-left: 4px;">{TXT_ADD_PRIVATE_CHATROOM}:<br>
			<input class="small" type="text" name="room_name" value="{ROOM_NAME}" />
			<input class="submit" type="submit" name="cmd[addPrivateRoom]" value="{TXT_ADD}" />
		</p>
	</form>
<!-- END add_chatroom -->


<div style="position: absolute; display: none;" id="il_chat_context">
	<div id="il_chat_context_userimage" style="display: none;"></div>
	<div id="il_chat_context_menu">
		<div id="il_chat_context_title_container">
			<div id="il_chat_context_title"></div>
			<div id="il_chat_context_close"><img src="./templates/default/images/cancel.gif" onclick="contextMenu.hide();"/></div>
			<br style="clear: both;">
		</div>
		
		<div id="il_chat_context_menuitems"></div>	
	</div>
</div>