<tr class="{CSS_ROW}">
	<td class="std" style="vertical-align:top;">
		<input type="checkbox" name="del_id[]" value="{VAL_ROOM_ID}" />
	</td>
	<td class="std" style="vertical-align:middle;">
		<div class="il_ContainerListItem">
			<h4 class="il_ContainerItemTitle"><a href="{VAL_LINK_SHOW}" target="{VAL_SHOW_TARGET}">{VAL_ROOM_TITLE}</a></h4>
			<div class="il_ItemProperties"><div class="il_ItemProperty">{VAL_TXT_USERS}: {VAL_USERS}</div></div>
		</div>
	</td>
	<td class="std" style="vertical-align:middle;">
		{ACTION_LIST}				
	</td>
</tr>