<tr>
  <td class="{ROWCOL}" width="1"></td>
  <td valign="top" class="{ROWCOL}" nowrap="nowrap">
	<table class="fullwidth_invisible">
	  <tr>
		<td valign="top" width="1" style="white-space:nowrap;" class="{ROWCOL}">
		  <!-- BEGIN block_row_check --><input type="checkbox" name="id[]" value="{ITEM_ID}" /><!-- END block_row_check -->
		  <img src="{TYPE_IMG}" alt="{ALT_IMG}" title="{ALT_IMG}" border="0" / >
		</td>
		<td class="{ROWCOL}">
		  {ITEM_HTML}
		</td>
	  </tr>
	</table>
  </td>
  <td class="{ROWCOL}" width="1"></td>
</tr>
  