<tr class="{CSS_ROW} small">
	<td class="std">
		<input type="checkbox" name="objective[]" value="{VAL_ID}" id="{VAL_ID}" {VAL_CHECKED} />
	</td>
	<td class="std">
		<input type="text" name="position[{VAL_ID}]" value="{VAL_POSITION}" size="2" maxlength="5" />
	</td>
	<td class="std">
  		<label for="{VAL_ID}">
			<a href="{VAL_TITLE_LINKED}">{VAL_TITLE}</a>
			<!-- BEGIN desc -->
			<div class="il_Description">{VAL_DESC}</div>
			<!-- END desc -->
			<!-- BEGIN limited_passes -->
			<div>
				<font class="small">{PASSES_TXT} {PASSES_VAL}</font>
			</div>
			<!-- END limited_passes -->
			<div>
				<font class="{ONOFFLINE_CLASS}">{VAL_ONOFFLINE}</font>
			</div>
		</label>
	</td>
	<td class="std">
		<!-- BEGIN mat_row -->
		<img src="{LM_IMG}" alt="{LM_ALT}" title="{LM_ALT}" /> {LM_TITLE}
		<!-- BEGIN ul_begin -->
			<ul class="noStyle">
		<!-- END ul_begin -->
		<!-- BEGIN st_pg -->
		<li class="smallPad"><img src="{MAT_IMG}" alt="{MAT_ALT}" title="{MAT_ALT}" /> {MAT_TITLE}</li>
		<!-- END st_pg -->
		<!-- BEGIN ul_end -->
			</ul>
		<!-- END ul_end -->
		<!-- BEGIN new_line --><br/><!-- END new_line -->
		<!-- END mat_row -->
	</td>
	<!-- BEGIN with_self_test -->
	<td class="std">
		<!-- BEGIN self_qst_row --><p>{SELF_QST_TITLE}</p><!-- END self_qst_row -->
	</td>
	<!-- END with_self_test -->
	<td class="std">
		<!-- BEGIN final_qst_row --><p>{FINAL_QST_TITLE}</p><!-- END final_qst_row -->
		<!-- BEGIN final_test_rnd -->
		{SELF_QST_RND_TITLE}
		<!-- BEGIN final_test_rnd -->
	</td>
	<td class="std">
		<div class="editLink">
			{VAL_ACTIONS}
		</div>
	</td>
</tr>