<tr class="{CSS_ROW}">
	<td class="std">
		<!-- BEGIN title_plain -->
		{TITLE}
		<!-- END title_plain -->
		<!-- BEGIN title_link -->
		<a href="{TITLE_LINK}">{TITLE_LINK_NAME}</a>
		<!-- END title_link -->
		<!-- BEGIN item_description -->
		<div class="il_Description" >{DESC}</div>
		<!-- END item_description -->
		<!-- BEGIN alert -->
				<div class="help-block alert alert-danger" role="alert"><img border="0" src="{IMG_ALERT}" alt="{ALT_ALERT}" /> {TXT_ALERT}</div>
		<!-- END alert -->
		<!-- BEGIN tlt -->
		<div class="il_ItemProperties">
			<div class="il_ItemProperty">{TXT_TLT}: {TLT_VAL}</div>
		</div>
		<!-- END tlt -->
	</td>
	<td class="{TD_CLASS}">
		<!-- BEGIN start_abs -->
			{SUG_START}
		<!-- END start_abs -->
	</td>
	<td class="{TD_CLASS}">
		<!-- BEGIN end_abs -->
			{SUG_END}
		<!-- END end_abs -->
	</td>
	<td class="{TD_CLASS}">
		{TXT_CHANGEABLE}
	</td>
</tr>

