  <table class="std">
	<tr class="tbltitle">
	  <td colspan="3">
		<table class="fullwidth_invisible" cellspacing="0">
		  <tr class="tbltitle">
			<td width="10"><img src="{TYPE_IMG}" alt="{ALT_IMG}" title="{ALT_IMG}" border="0" vspace="0" align="left" /></td>
			<td class="tbltitle" align="left">&nbsp;{TITLE}</td>
		  </tr>
		</table>
	  </td>
	</tr>
	<tr>
	  <td class="option">{TXT_SYLLABUS}</td>
	  <td class="sub_option" >&nbsp;</td>
	  <td class="option_value">{SYLLABUS}</td>
	</tr>
	<tr>
	  <td class="option" align="top" rowspan="5">{TXT_CONTACT}</td>
	  <td class="sub_option">{TXT_CONTACT_NAME}</td>
	  <td class="option_value">{CONTACT_NAME}</td>
	</tr>
	<tr>
	  <td class="sub_option">{TXT_CONTACT_RESPONSIBILITY}</td>
	  <td class="option_value">{CONTACT_RESPONSIBILITY}</td>
	</tr>
	<tr>
	  <td class="sub_option">{TXT_CONTACT_PHONE}</td>
	  <td class="option_value">{CONTACT_PHONE}</td>
	</tr>
	<tr>
	  <td class="sub_option">{TXT_CONTACT_EMAIL}</td>
	  <!-- BEGIN email_link -->
	  <td class="option_value"><a href="{EMAIL_LINK}">{CONTACT_EMAIL}</a></td>
	  <!-- END email_link -->
	  <!-- BEGIN no_mail -->
	  <td class="option_value">{NO_CONTACT_EMAIL}</td>
	  <!-- END no_mail -->
	</tr>
	<tr>
	  <td class="sub_option">{TXT_CONTACT_CONSULTATION}</td>
	  <td class="option_value">{CONTACT_CONSULTATION}</td>
	</tr>
	<tr>
	  <td class="option" align="top" rowspan="3">{TXT_DATES}</td>
	  <td class="sub_option">{TXT_ACTIVATION}</td>
	  <td class="option_value">{ACTIVATION}</td>
	</tr>
	<tr>
	  <td class="sub_option">{TXT_SUBSCRIPTION}</td>
	  <td class="option_value">{SUBSCRIPTION}</td>
	</tr>
	<tr>
	  <td class="sub_option">{TXT_ARCHIVE}</td>
	  <td class="option_value">{ARCHIVE}</td>
	</tr>
  </table>
