	<form action="{SELECT_ACTION}" method="post">
	  <table>
		<tr>
		  <td>{TXT_COMPOSE_MESSAGE}</td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td><input class="submit" type="submit" name="mailselected" value="{MAIL_SELECTED}" />
		</tr>
		</table>
	</form>
	<form action="{MAILACTION}" method="post">
	<table>
		<!-- BEGIN mailbox_row -->
		<tr>
		  <td>{CHECK_MAILBOX}&nbsp;{MAILBOX}</td>
		</tr>
		<!-- END mailbox_row -->
		<tr>
		  <td><img border="0" src="{IMG_ARROW}" />&nbsp;<input class="submit" type="submit" name="mail" value="{OK}" />
		</tr>
	  </table>
	</form>