	<form action="{FORMACTION}" name="cmd" method="post">
	  <table class="fullwidth">
		  <tr class="tblheader">
			<th class="std">
			  {TXT_EVENT_NAME}
			</th>
		  </tr>
		  <!-- BEGIN events -->
		  <tr class="{CSS_ROW}">
			<td>
			  {EVENT_NAME}
			  <!-- BEGIN desc -->
			  <div class="il_Description">
				{DESCRIPTION}
			  </div>
			  <!-- END desc -->
			</td>
		  </tr>
		  <!-- END events -->
		  <tr class="tblfooter">
			<td>
			  <div style="text-align:right">
				<input class="submit" type="submit" name="cmd[delete]" value="{DELETE}" />
				<input class="submit" type="submit" name="cmd[cancel]" value="{CANCEL}" />
			  </div>
			</td>
		  </tr>
	  </table>
	</form>
