	<form action="{FORMACTION}" method="post">
	  <table class="std" border="0">
		  <tr class="tblheader">
			<th class="std" colspan="2">
			  {TXT_SELECT_TYPE}
			</th>
		  </tr>
		  <tr>
			<td class="option">
			  {FIELD_TYPE}
			</td>
			<td class="option_value">
			  {TYPE_TEXT}&nbsp;{TXT_TEXT}<br />
			  {TYPE_SELECT}&nbsp;{TXT_SELECT}
			</td>
		  <tr class="tblfooter">
			<td class="std" colspan="2">
			  <div align="right">
				<input type="submit" class="submit" name="cmd[chooseDefinitions]" value="{BTN_MORE}" />
				<input type="submit" class="submit" name="cmd[show]" value="{BTN_CANCEL}" />
			  </div>
			</td>
		  </tr>
	  </table>
	</form>