	<form action="{FORMACTION}" method="post">
	  <table class="fullwidth" border="0">
		  <tr class="tblheader">
			<th class="std" colspan="3">
			  <div style="float:left">
				<img style="vertical-align: middle" src="{TBL_TITLE_IMG}" alt="{TBL_TITLE_IMG_ALT}" title="{TBL_TITLE_IMG_ALT}" border="0" />
				{TABLE_TITLE} ({OBJECTIVE_TITLE})
			  </div>
			</th>
		  </tr>
		  <!-- BEGIN table_content -->
		  <tr>
			<td class="{ROWCOL}" valign="top" width="1px">
				{CHECK_MAT}
			</td>
			<td class="{ROWCOL}" valign="top" width="1px">
				<img src="{TYPE_IMG}" alt="{TYPE_ALT}" title="{TYPE_ALT}" border="0" vspace="0" />
			</td>
			<td class="{ROWCOL}">
			  <div class="il_ContainerItemTitle">
				{MAT_TITLE}
				<!-- BEGIN row_desc --><div class="il_Description">{DESCRIPTION}</div><!-- END row_desc -->
				<!-- BEGIN chapters -->
				<div>
				  <strong>{TXT_CHAPTER}:</strong>
				  <ul style="list-style:none;margin: 0px">
					<!-- BEGIN chapter -->
					<!--  BEGIN begin_depth --><div style="padding-left: 20px" ><!--  END begin_depth -->
					<li>{CHECK_CHAPTER} {CHAPTER_TITLE}</li>
					<!--  BEGIN end_depth --></div><!-- END end_depth -->
					<!-- END chapter -->
				  </ul>
				</div>
				<!-- END chapters -->
			  </div>
			</td>
			<!-- END table_content -->
		  <tr class="tblfooter">
			<td class="tblfooter" colspan="3">
			  <div style="float:left">
				<img src="{DOWNRIGHT}" border="0" />
				&nbsp;<input class="submit" type="SUBMIT" name="cmd[assignMaterials]" value="{BTN_ASSIGN}"/>
			  </div>
			  <div style="float:right">
				<input class="submit" type="SUBMIT" name="cmd[listObjectives]" value="{BTN_CANCEL}"/>
			  </div>
			</td>
		  </tr>
	  </table>
	</form>