<div class="il_MembersGallery">
	<!-- BEGIN members -->
	<div class="il_CourseGallery">
		<!-- BEGIN member -->
		<div class="{MEMBER_CLASS}">
			<span class="il_MemberGalleryImage">
				<!-- BEGIN member_linked -->
				<a class="il_MemberGalleryLinked" href="{LINK_PROFILE}">
					<img src="{SRC_USR_IMAGE}"></a>
				<!-- END member_linked -->
				<!-- BEGIN member_not_linked -->
					<img src="{SRC_USR_IMAGE}">
				<!-- END member_not_linked -->
			</span>
			<p class="il_MemberGalleryFirstname">{FIRSTNAME}</p>
			<p class="il_MemberGalleryLastname">{LASTNAME}</p>
			<p class="il_MemberGalleryLogin">[{LOGIN}]</p>
		</div>
		<!-- END member -->
	</div>
	<!-- END members -->
</div>