  <tr>
  <td valign="top" class="{EVENT_ROWCOL}" width="1" style="white-space:nowrap;">
	<img src="{EVENT_IMG}" alt="{EVENT_ALT}" title="{EVENT_ALT}" border="0" />
  </td>
  <td valign="top" class="{EVENT_ROWCOL}">
	<div style="float:right">
	  <div class="il_ContainerItemCommands">
		<!-- BEGIN event_commands -->
		<a class="il_ContainerItemCommand" href="{EVENT_LINK}" >{EVENT_LINK_TXT}</a>
		<!-- END event_commands -->
	  </div>
	</div>
	<div class="il_ContainerItemTitle">
	  <a href="{HREF_EVENT_TITLE}" class="il_ContainerItemTitle" >{EVENT_TITLE}</a>
	</div>
	<!-- BEGIN event_desc -->
	<div class="il_Description">{EVENT_DESCRIPTION}</div>
	<!-- END event_desc -->
	<span class="il_ItemProperty">{EVENT_TXT_DATE} {EVENT_DATE}</span><br />
	  <!-- BEGIN materials -->
	<table class="fullwidth_invisible">
	  <tr>
		<td valign="top" width="1" style="white-space:nowrap;" class="{MATERIAL_ROWCOL}">
		  <!-- BEGIN block_row_check --><input type="checkbox" name="id[]" value="{ITEM_ID}" /><!-- END block_row_check -->
		  <img src="{TYPE_IMG}" alt="{ALT_IMG}" title="{ALT_IMG}" border="0" / >
		</td>
		<td class="{MATERIAL_ROWCOL}">
		  {ITEM_HTML}
		</td>
	  </tr>
	</table>
	<!-- END materials -->
  </td>
  <!-- BEGIN options -->
  <td valign="center" class="{OPT_ROWCOL}" nowrap="nowrap" style="text-align:center;">
	<!-- BEGIN img -->
	<a href="{IMG_LINK}" target="{IMG_TARGET}"><img src="{IMG_TYPE}" alt="{IMG_ALT}" title="{IMG_ALT}" border="0" vspace="0" /></a>&nbsp;
	<!-- END img -->
  </td>
  <!-- END options -->
  </tr>
  