<table class="fullwidth">
	<thead>
		<tr class="tbltitle">
			<th scope="col" colspan="3">
				&nbsp;{TBL_TITLE_OBJECTIVES}
			</th>
		</tr>
		<!-- BEGIN show -->
		<tr class="tblheader">
			<th scope="col" class="std ilWhiteSpaceNowrap" width="1">
				<div class="ilCenter">
					{TBL_HEADER_NAME_OBJECTIVES_A}
				</div>
			</th>
			<th scope="col" class="std ilWhiteSpaceNowrap">
				{TBL_HEADER_NAME_OBJECTIVES_B}
			</th>
			<th scope="col" class="std ilWhiteSpaceNowrap">
				<div class="ilCenter">
					{TBL_HEADER_NAME_OBJECTIVES_C}
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN objective_row -->
		<tr class="std">
			<td class="{OBJ_CLASS_1_CENTER_OBJECTIVES}"><b>{OBJ_NR_1_OBJECTIVES}</b></td>
			<td aria-label="{OBJ_TITLE_1_OBJECTIVES}" class="{OBJ_CLASS_1_OBJECTIVES}">
				<a href="{OBJ_LINK_1_OBJECTIVES}">
					{OBJ_TITLE_1_OBJECTIVES}
				</a>
			</td>
			<td class="{OBJ_CLASS_1_CENTER_OBJECTIVES}">
				<img src="{OBJ_STATUS_IMG_1_OBJECTIVES}" alt="{OBJ_STATUS_ALT_1_OBJECTIVES}"
					 title="{OBJ_STATUS_ALT_1_OBJECTIVES}" />
			</td>
		</tr>
		<!-- END objective_row -->
		<!-- END show -->
	</tbody>
</table>
<table class="fullwidth_invisible">
	<tbody>
		<tr>
			<td colspan="3" class="ilRight" >{TXT_HIDE_SHOW_OBJECTIVES}
				<a aria-label="{TXT_HIDE_SHOW_OBJECTIVES}" href="{LINK_HIDE_SHOW_OBJECTIVES}">
					<img src="{HIDE_SHOW_IMG_OBJECTIVES}" aria-hidden="true" " />
				</a>
			</td>
		</tr>
	</tbody>
</table>
