	<form action="{FORMACTION}" method="post" enctype="multipart/form-data" name="cmd">
	  <table class="fullwidth" width="70%">
		  <tr class="tblheader">
			<th class="std" colspan="2">{TXT_GENERAL_INFO}</th>
		  </tr>
		  <tr class="std">
			<td class="option" width="30%">{TXT_IMPORTANT}</td>
			<td class="option_value" width="70%"><textarea rows="8" style="width:95%" name="important">{IMPORTANT}</textarea></td>
		  </tr>
		  <tr class="std">
			<td class="option">{TXT_SYLLABUS}</td>
			<td class="option_value" width="70%"><textarea rows="8" style="width:95%" name="syllabus">{SYLLABUS}</textarea></td>
		  </tr>
		  <tr class="tblheader">
			<th class="std" colspan="2">{TXT_DOWNLOAD}</th>
		  </tr>
		  <tr class="std">
			<td class="option">{TXT_FILE_NAME}</td>
			<td class="option_value">
			  <input type="text" name="file_name" value="{FILE_NAME}">
			</td>
		  </tr>
		  <tr class="std">
			<td class="option">{TXT_FILE} <span class="asterisk">**</span></td>
			<td class="option_value">
			  <input type="file" name="file">
			  <!-- BEGIN files -->
			  <div class="il_ItemProperty">{TXT_EXISTING_FILES}</div>
			  <!-- BEGIN file -->
			  {TXT_DEL_FILE}<input type="checkbox" name="del_files[]" value="{FILE_ID}" /> {DEL_FILE}<br />
			  <!-- END file -->
			</div>
			  <!-- END files -->
			</td>
		  </tr>
		  <tr class="tblheader">
			<th class="std" colspan="2">{TXT_CONTACT}</th>
		  </tr>
		  <tr>
			<td class="option">{TXT_CONTACT_NAME}</td>
			<td class="option_value"><input name="contact_name" value="{CONTACT_NAME}" size="40" maxlength="70" style="width:300px;"/></td>
		  </tr>
		  <tr>
			<td class="option">{TXT_CONTACT_RESPONSIBILITY}</td>
			<td class="option_value"><input name="contact_responsibility" value="{CONTACT_RESPONSIBILITY}" size="40" maxlength="70" style="width:300px;" /></td>
		  </tr>
		  <tr>
			<td class="option">{TXT_CONTACT_PHONE}</td>
			<td class="option_value"><input name="contact_phone" value="{CONTACT_PHONE}" size="40" maxlength="40" style="width:300px;"/></td>
		  </tr>
		  <tr>
			<td class="option">{TXT_CONTACT_EMAIL}</td>
			<td class="option_value"><input name="contact_email" value="{CONTACT_EMAIL}" size="40" maxlength="70" style="width:300px;"/></td>
		  </tr>
		  <tr>
			<td class="option">{TXT_CONTACT_CONSULTATION}</td>
			<td class="option_value"><textarea id="consultation" name="contact_consultation" rows="8" style="width:95%;">{CONTACT_CONSULTATION}</textarea></td>
		  </tr>
		  <tr class="tblfooter">
			<td class="tblfooter" colspan="2">
			  <div align="right">
				<input class="submit" type="submit" name="cmd[updateInfo]" value="{TXT_BTN_UPDATE}" />
				<input class="submit" type="submit" name="cmd[cancel]" value="{TXT_CANCEL}" />
			  </div>
			</td>
		  </tr>
	  </table>
	</form>
	<span class="asterisk">**</span><span class="small"> {TXT_FILESIZE}<br><br></span>
