<tr class="{CSS_ROW}">
	<td class="std" valign="top">
		<input type="checkbox" name="usrs[]" value="{VAL_ID}" id="{VAL_ID}" {VAL_CHECKED} />
	</td>	
	<td class="std" valign="top">
  		{TXT_USER}
	</td>
    <td class="std" valign="top">
        {TXT_LOGIN}
    </td>
	<td class="std" valign="top">
		{VAL_GROUP_NUMBER}
	</td>
	<td class="std">
		<!-- BEGIN groups -->
		{TXT_GROUP_TITLE} <!-- BEGIN groups_remove --><a class="il_ContainerItemCommand" href="{URL_REMOVE}">{TXT_GROUP_REMOVE}</a><!-- END groups_remove --><br />
		<!-- END groups -->
	</td>
</tr>