	<form action="{FORMACTION}" name="cmd" method="post">
	  <table class="fullwidth">
		  <tr class="tblheader">
			<th class="std">
			  {TXT_NAME}
			</th>
			<th class="std">
			  {TXT_TYPE}
			</th>
		  </tr>
		  <!-- BEGIN del_row -->
		  <tr class="{CSS_ROW}">
			<td>{DEL_NAME}</td>
			<td>{DEL_TYPE}</td>
		  </tr>
		  <!-- END del_row -->
		  <tr class="tblfooter">
			<td colspan="2">
			  <div style="text-align:right">
				<input class="submit" type="submit" name="cmd[delete]" value="{DELETE}" />
				<input class="submit" type="submit" name="cmd[show]" value="{CANCEL}" />
			  </div>
			</td>
		  </tr>
	  </table>
	</form>
