//== Category 21
//
//## Comment Category 21
// Random Section 21

//** comment variable 211
$variable211: value211;
//** comment variable 212
$variable212: value212;
//** comment variable 213
$variable213: $variable211;

//== Category 22
//
//## Comment Category 22
/**
 Random Section 212 **/

//** comment variable 221
$variable221: $variable211;
//** comment variable 222
$variable222: value221;
//** comment variable 223
$variable223: $variable221;
