<div class="il-prompt" id="{ID}">
    <dialog aria-labelledby="{ID}_title">
        <div class="il-prompt__header">
            <form>
                <button formmethod="dialog" class="close" aria-label="{CLOSE_LABEL}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </form>
            <span class="il-prompt__title" id="{ID}_title" >{TITLE}</span>
        </div>
        <hr>
        <div class="il-prompt__contents"></div>
        <hr>
        <div class="il-prompt__buttons"></div>
    </dialog>
    <section class="il-prompt__scripts"></section>
</div>