<div class="il-table-presentation"<!-- BEGIN id --> id="{ID}"<!-- END id -->>

	<h3 class="ilHeader">{TITLE}</h3>

	<div class="il-table-presentation-viewcontrols">
		<div class="l-bar__space-keeper l-bar__space-keeper--space-between">
			<div class="l-bar__group">
				<div class="l-bar__element">{EXPANDCOLLAPSEALL}</div>
			</div>
			<div class="l-bar__group">
				{VC}
			</div>
		</div>
	</div>

	<div class="il-table-presentation-data">
	<!-- BEGIN row -->
		{ROW}
	<!-- END row -->
	</div>

</div>
