@use "../../../010-settings/" as *;
@use "../../../050-layout/basics" as *;
@use "../../../070-components/UI-framework/Button/ui-component_button" as *;


//== View Control
//
//##
$il-vc-glyph-padding-horizontal: $il-padding-base-horizontal;
$il-vc-glyph-hover-bg: lighten($il-main-color, 5%);
$il-vc-mode-btn-active: $il-vc-glyph-hover-bg;
$il-vc-pagination-btn-active-bg: $il-main-bg;

// basic layout for all viewcontrol flex constructs
.il-viewcontrol-section,
.il-viewcontrol-pagination,
.il-viewcontrol-mode,
.il-viewcontrol-pagination__sectioncontrol {
	display: flex;
	align-items: center;
	gap: $il-margin-xs-horizontal;
}

// viewcontrols container bar to include set of inner buttons
.il-viewcontrol-section,
.il-viewcontrol-pagination,
.il-viewcontrol-mode {
	width: fit-content;
	min-height: $il-btn-ctrl-outer-height;
	min-width: $il-btn-ctrl-outer-height;
	border: 1px solid $il-btn-ctrl-border;
	padding: $il-padding-xs-horizontal;
	background-color: $il-btn-ctrl-bg;
	border-radius: $il-border-radius-secondary-large;
}

// buttons inside the container
.il-viewcontrol-section,
.il-viewcontrol-section .btn-group,
.il-viewcontrol-pagination__sectioncontrol,
.il-viewcontrol-pagination__num-of-items,
.il-viewcontrol-pagination,
.il-viewcontrol-pagination .dropdown,
.il-viewcontrol-pagination .last,
.il-viewcontrol-mode {
	// turn any buttons in bar into viewcontrol buttons
	> .btn-default, > .btn-link  {
		@extend .btn-ctrl;
	}
	> .btn-default, > .btn-link, > .btn-ctrl  {
		min-height: $il-btn-ctrl-inner-btn-height;
		min-width: $il-btn-ctrl-inner-btn-height;
		border-radius: $il-border-radius-secondary-large;
	}
}

// viewcontrols as single buttons
// should in the future be done by using btn-ctrl class on these buttons
.il-viewcontrol-sortation .dropdown,
.il-table-presentation-viewcontrols .l-bar__container .l-bar__group .l-bar__element {
	> .btn-default.btn {
		@extend .btn-ctrl;
		border-radius: $il-border-radius-secondary-large;
	}
}

// centering browse next/previous arrows
.il-viewcontrol-pagination__sectioncontrol,
.il-viewcontrol-pagination,
.il-viewcontrol-section {
	.browse {
		display: inline-block;
	}
}
.il-viewcontrol-section {
	.glyphicon {
		vertical-align: middle;
		&::before {
			top: 0;
			vertical-align: middle;
		}
	}
}
.il-viewcontrol-pagination {
	.glyph {
		.glyphicon {
			vertical-align: middle;
			&::before {
				top: 0;
			}
		}
	}
}

.il-viewcontrol-fieldselection .dropdown-menu {
	padding: $il-padding-xlarge-horizontal $il-padding-xlarge-vertical;
}

// View control buttons with glyphs
.il-viewcontrol-sortation .dropdown-toggle .caret,
.il-viewcontrol-pagination__num-of-items .dropdown-toggle .caret,
.il-viewcontrol-fieldselection .dropdown-toggle .caret {
	display: inline;
	border: none; // removes dropdown arrow
	vertical-align: initial;
}

// specify glyps for specific types
.il-viewcontrol-sortation .dropdown-toggle .caret {
	&:before {
		content: "\21f5";
	}
}
.il-viewcontrol-pagination__num-of-items .dropdown-toggle .caret {
	&:before {
		font-family: il-icons;
		font-size: .8rem;
		content: "\e900";
	}
}
.il-viewcontrol-fieldselection .dropdown-toggle .caret {
	&:before {
		font-family: "Glyphicons Halflings";
		font-size: .8rem;
		content: "\e105";
	}
}

// make engaged buttons not clickable
.il-viewcontrol-pagination, .il-viewcontrol-mode {
	.engaged{
		pointer-events: none;
		cursor: default;
	}
}

// strip normal form column layout from apply offest viewcontrol
.il-viewcontrol-pagination__sectioncontrol .form-group.row {
    align-items: center;
    height: 100%;
    margin: 0;
    gap: 9px;
	label {
		width: fit-content;
		margin-left: 9px;
		margin-bottom: 0;
		// adding colon to label, so a cleanly defined translation string could be used
		&:after {
			content: ":"
		}
	}
	[class*="col-"] {
		width: auto;
		flex-grow: 1;
		padding: 0;
	}
	input[type="number"] {
		width: 5rem;
	}
}