<!-- todo: proper id support, spacer?, separator?, emph classes -->

<!-- BEGIN form_open --><form method="post" id="ilToolbar" action="{FORMACTION}" {TARGET} {ENC_TYPE} {FORMNAME} class="ilForm<!-- BEGIN form_class --> {FORM_CLASS}<!-- END form_class -->"><!-- END form_open -->
<h3 class="hidden">{TXT_FUNCTIONS}</h3>
<div class="c-toolbar l-bar__container" {ID}>
	<div class="l-bar__space-keeper">
		<!-- BEGIN lead -->
		<div class="l-bar__group c-toolbar__lead-items">
			<!-- BEGIN lead_image --><div class="l-bar__element"><img src="{IMG_SRC}" alt="{IMG_ALT}" /></div><!-- END lead_image -->
			<!-- BEGIN sticky_items -->
			{STICKY_ITEMS}
			<!-- END sticky_items -->
		</div>
		<!-- END lead -->
		<div class="l-bar__group c-toolbar__main-body">
			{ITEMS}
		</div>
	</div>
</div>

<!-- BEGIN form_close --></form><!-- END form_close -->
