<div class="modal fade il-modal-interruptive" tabindex="-1" role="dialog" id="{ID}">
	<div class="modal-dialog" role="document">
		<form action="{FORM_ACTION}" method="POST">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="{CLOSE_LABEL}"><span aria-hidden="true">&times;</span></button>
					<span class="modal-title">{TITLE}</span>
				</div>
				<div class="modal-body">
					<div class="alert alert-warning il-modal-interruptive-message" role="alert">
						{MESSAGE}
					</div>
					<!-- BEGIN with_items -->
					<div class="il-modal-interruptive-items">
						<table>
							<!-- BEGIN item -->
							{ITEM}
							<!-- END item -->
						</table>
						{ITEMS}
					</div>
					<!-- END with_items -->
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-primary" value="{ACTION_BUTTON_LABEL}" name="cmd[{ACTION_BUTTON}]">
					<button class="btn btn-default" data-dismiss="modal">{CANCEL_BUTTON_LABEL}</button>
				</div>
			</div>
		</form>
	</div>
</div>
