<tr class="{CSS_ROW}">
	<td class="std">
		<input type="checkbox" name="{VAL_POSTNAME}[]" value="{VAL_ID}" {VAL_CHECKED} />
	</td>
	<td class="std">
		{VAL_NAME}
		<!-- BEGIN access_warning -->
		<br />
		<font class="smallred">
			{PARENT_ACCESS}
		</font>
		<!-- END access_warning -->
	</td>
	<!-- BEGIN custom_fields -->
	<td class="std">
		{VAL_CUST}
	</td>
	<!-- END custom_fields -->
	<!-- BEGIN lp -->
	<td class="std">
		<img src="{LP_STATUS_PATH}" alt="{LP_STATUS_ALT}" title="{LP_STATUS_ALT}" /> {LP_STATUS_ALT}
	</td>
	<!-- END lp -->
	<!--  BEGIN edit_info -->
	<td class="std">
		{VAL_EDIT_INFO}
	</td>
	<!--  END edit_info -->
	<!--  BEGIN access_time -->
	<td class="std">
		{VAL_ACCESS}
	</td>
	<!--  END access_time -->
	<!-- BEGIN notification -->
	<td class="std">
		<input type="checkbox" name="notification[]" value="{VAL_NOTIFICATION_ID}" {VAL_NOTIFICATION_CHECKED} />
	</td>
	<!-- END notification -->
	<td class="std">
		<!-- BEGIN as_link -->
		<div class="il_ContainerItemCommands2">
		<!-- BEGIN link -->
			<a class="il_ContainerItemCommand2" href="{LINK_NAME}">{LINK_TXT}</a><br />
	 	<!-- END link -->
			<!-- BEGIN as_menu -->
			{ACTION_USER}
			<!-- END as_menu -->
	 	</div>
		<!-- END as_link -->
	</td>
</tr>
