<tr class="{CSS_ROW}">
	<td class="std">
		<input type="checkbox" name="{VAL_POSTNAME}[]" value="{VAL_ID}" {VAL_CHECKED} />
	</td>
	<td class="std">
		{VAL_NAME}
	</td>
	<td class="std">
		[{VAL_LOGIN}]
	</td>
	<!--  BEGIN access_time -->
	<td class="std">
		{VAL_ACCESS}
	</td>
	<!--  END access_time -->
	<!-- BEGIN notification -->
	<td class="std">
		<input type="checkbox" name="notification[]" value="{VAL_NOTIFICATION_ID}" {VAL_NOTIFICATION_CHECKED} />
	</td>
	<!-- END notification -->
	<td class="std">
		<div style="float:right;">
		  <a class="il_ContainerItemCommand" href="{LINK_NAME}">{LINK_TXT}</a>&nbsp;&nbsp;
		</div>
	</td>
</tr>
