<tr class="{CSS_ROW}">
	<td class="std" style="vertical-align:top;">
		<input type="checkbox" name="field_id[]" value="{VAL_ID}" />
	</td>
	<td class="std" style="vertical-align:top;">
		<input type="text" class="form-control" id="text{ASS_ID}" name="position[{ASS_ID}]" value="{VAL_POS}" size="2" {POS_DISABLED} />
	</td>
	<td class="std"  style="vertical-align:top;">
		{VAL_TITLE}
		<!-- BEGIN field_desc -->
		<br /><font class="small">{VAL_DESCRIPTION}</font>
		<!-- END field_desc -->
	</td>
	<td class="std" style="vertical-align:top;">		
		<span class="small">{FIELD_TYPE}</span>
		<ul class="std">
			<!-- BEGIN field_value -->
			<li class="std"><span class="small">{FIELD_KEY}: {FIELD_VAL}</span></li>
			<!-- END field_value -->
		</ul>
	</td>
	<td class="std" style="vertical-align:top;">		
		<div style="float:left">
			<input type="checkbox" name="searchable[{ASS_ID}][]" value="1" {ASS_CHECKED} {ASS_DISABLED}  /> {TXT_SEARCHABLE}<br />
		</div>
		<div style="float: right;">
			<div class="il_ContainerItemCommands">
				<a class="il_ContainerItemCommand" href="{EDIT_LINK}">{TXT_EDIT_RECORD}</a>
			</div>	
		</div>
	</td>
</tr>