<tr class="{CSS_ROW}">
	<td class="std" style="vertical-align:top;">
		<input type="checkbox" name="record_id[]" value="{VAL_ID}" />
	</td>
	<td class="std"  style="vertical-align:top;">
		{VAL_TITLE}
		<!-- BEGIN record_desc -->
		<br /><font class="small">{VAL_DESCRIPTION}</font>
		<!-- END record_desc -->
	</td>
	<td class="std" style="vertical-align:top;">		
		<span class="small">{TXT_FIELDS}</span>
		<ul class="std">
		<!-- BEGIN field_entry -->
		<li class="std"><span class="small">{FIELD_NAME}</span></li>
		<!-- END field_entry -->
	</td>
	<td class="std"  style="vertical-align:top;">
		<input type="checkbox" name="active[{ACTIVE_ID}]" value="1" {ACTIVE_CHECKED} />
	</td>
	<td class="std" style="vertical-align:top;">		
		<div style="float:left">
		<!-- BEGIN ass_obj_types -->
		<input type="checkbox" name="obj_types[{ASS_ID}][]" value="{ASS_NAME}" {ASS_CHECKED} /> {VAL_OBJ_TYPE}<br />
		<!-- END ass_obj_types -->
		</div>
		<div style="float: right;">
			<div class="il_ContainerItemCommands">
				<a class="il_ContainerItemCommand" href="{EDIT_LINK}">{TXT_EDIT_RECORD}</a>
			</div>	
		</div>
	</td>
</tr>