<tr class="{CSS_ROW}">
    <td class="std">
        <input type="checkbox" name="active_languages[]" value="{VAL_ID}" {ACTIVATION_CHECKED} />
    </td>
    <td class="std">
        {TXT_LANGUAGE}
    </td>
    <td class="std">
        <input type="radio" name="default" value="{VAL_ID}" {DEFAULT_CHECKED} />
    </td>
    <td class="std">
        <div class="ilLeft">
            {GLYPH_ACTIVE}
        </div>
    </td>
    <td class="std">
        <div class="ilLeft">
            {GLYPH_INSTALLED}
        </div>
    </td>
</tr>