.yui-overlay { 
	position:absolute;
	background:#EDEDED;
	border:1px solid #9EADBA;
	padding:0px;
	margin:10px; 
	color:#222222;
	font-weight:normal;
	background-color: #EDEDED;
}
.yui-overlay .hd {  
	background-repeat:repeat;
	padding: 4px;
}
.yui-overlay .bd {
	margin: 1em;
}
.yui-overlay .ft {  
}
