<div id="qpl_lac_legend">
	<div class="qpl_lac_legend">

		<div class="qpl_lac_common_expressions">
			<div class="header">{COMMON_ELEMENTS_HEADER}</div>
			<table>
			<!-- BEGIN common_elements -->
			<tr>
				<td class="element">{CE_ELEMENT}</td>
				<td class="description">{CE_DESCRIPTION}</td>
			</tr>
			<!-- END common_elements -->
			</table>
		</div>

		<div class="qpl_lac_qtype_specific_expressions">
			<div class="header">{QUEST_SPECIFIC_ELEMENTS_HEADER}</div>
			<table>
			<!-- BEGIN quest_specific_elements -->
			<tr>
				<td class="element">{QSE_ELEMENT}</td>
				<td class="description">{QSE_DESCRIPTION}</td>
			</tr>
			<tr>
				<td></td>
				<td class="operators">{QSE_OPERATORS_TXT}: {QSE_OPERATORS}</td>
			</tr>
			<!-- END quest_specific_elements -->
			</table>
		</div>

		<div class="qpl_lac_expression_examples">
			<div class="header">{QUEST_SPECIFIC_EXAMPLES_HEADER}</div>
			<table>
				<!-- BEGIN quest_specific_examples -->
				<tr>
					<td class="element">{QSEX_ELEMENT}</td>
					<td class="description">{QSEX_DESCRIPTION}</td>
				</tr>
				<!-- END quest_specific_examples -->
			</table>
		</div>
		
	</div>
</div>