<div class="col-sm-9" id="gap_id_value_append_0_0">
    <div class="combination_labels">
        <table class="answerwizard table table-condensed table-striped">
            <tbody>
            <tr class="first_row">
                <th>{POINTS_HEADER}</th>
                <!-- BEGIN gap_header -->
                <th>{GAP_HEADER}</th>
                <!-- END gap_header -->
            </tr>
            <!-- BEGIN variant -->
            <tr >
                <td>
                    <div class="form-inline">
                        <input name="{POSTVAR}[points][]" size="5" type="text" style="text-align: right;" class="gap_combination_points form-control small_hidden_input" size="5" value="{POINTS}">
                    </div>
                </td>
                <!-- BEGIN gap_answer -->
                <td>{GAP_ANSWER}</td>
                <!-- END gap_answer -->
            </tr>
            <!-- END variant -->
            </tbody>
        </table>
    </div>
</div>