<tr class="{CSS_ROW}">
	<td class="std"  style="vertical-align:top;">
		<div class="ilContainerListItem">
			<div class="ilContainerListItemIcon ">
				{OBJ_TYPE_ICON}
			</div>
			<div class="ilContainerListItemContent">
				<div class="il_ContainerListItem">
					<div class="il_ContainerItemTitle form-inline">
						{TITLE}
					</div>
					<div class="ilListItemSection il_Description">
						{DESCRIPTION}
					</div>
				</div>
			</div>
		</div>
	</td>
	<td class="std" style="vertical-align:top;">
		<div>
			<!-- BEGIN references -->
					{REFERENCE}
			<!-- END references -->
		</div>
	</td>
	<td class="std" style="vertical-align:top;">
		{SUB_ITEMS}
	</td>
	<td class="std" style="vertical-align:top;">
		<!-- BEGIN link_owner -->
		<a class="il_ContainerItemCommand" href="{OWNER_LINK}">{OWNER}</a>
		<!-- END link_owner -->
		<!-- BEGIN owner -->
		{OWNER}
		<!-- END owner -->
	</td>
</tr>
