<!-- BEGIN no_educational -->
{TXT_NO_EDUCATIONAL} <a class="il_ContainerItemCommand" href="{ACTION_ADD_EDUCATIONAL}">{TXT_ADD_EDUCATIONAL}</a>
<!-- END no_educational -->
<!-- BEGIN educational -->
<form action="{EDIT_ACTION}" {TARGET} name="post" method="post">
<table class="std">
<tr class="tblheader">
	<td class="std" colspan="3">
		<div class="ilFloatLeft">{TXT_EDUCATIONAL}
		<a class="il_ContainerItemCommand" href="{ACTION_DELETE}">{TXT_DELETE}</a></div>
		<div class="ilRight">
		<select name="section_element" size="1">
			<option value="educational_typical_age_range"{META_NAME_VAL_TYPICALAGERANGE}>{TXT_TYPICALAGERANGE}</option>
			<option value="meta_description"{META_NAME_VAL_DESCRIPTION}>{TXT_DESCRIPTION}</option>
			<option value="meta_language"{META_NAME_VAL_LANGUAGE}>{TXT_LANGUAGE}</option>
		</select>
		<input class="submit" type="submit" name="cmd[addSectionElement]" value="{TXT_ADD}"/>
		</div>
	</td>
</tr>
<tr>
	<td class="option" colspan="2">{TXT_INTERACTIVITYTYPE}</td>
	<td class="option_value">
		<select name="educational[InteractivityType]" size="1">
			<option value="">{TXT_PLEASE_SELECT}</option>
			<option value="Active"{VAL_INTERACTIVITYTYPE_ACTIVE}>{TXT_ACTIVE}</option>
			<option value="Expositive"{VAL_INTERACTIVITYTYPE_EXPOSITIVE}>{TXT_EXPOSITIVE}</option>
			<option value="Mixed"{VAL_INTERACTIVITYTYPE_MIXED}>{TXT_MIXED}</option>
		</select>
	</td>
</tr>
<tr>
	<td class="option" colspan="2">{TXT_LEARNINGRESOURCETYPE}</td>
	<td class="option_value">
		<select name="educational[LearningResourceType]" size="1">
			<option value="">{TXT_PLEASE_SELECT}</option>
			<option value="Exercise"{VAL_LEARNINGRESOURCETYPE_EXERCISE}>{TXT_EXERCISE}</option>
			<option value="Simulation"{VAL_LEARNINGRESOURCETYPE_SIMULATION}>{TXT_SIMULATION}</option>
			<option value="Questionnaire"{VAL_LEARNINGRESOURCETYPE_QUESTIONNAIRE}>{TXT_QUESTIONNAIRE}</option>
			<option value="Diagramm"{VAL_LEARNINGRESOURCETYPE_DIAGRAMM}>{TXT_DIAGRAMM}</option>
			<option value="Figure"{VAL_LEARNINGRESOURCETYPE_FIGURE}>{TXT_FIGURE}</option>
			<option value="Graph"{VAL_LEARNINGRESOURCETYPE_GRAPH}>{TXT_GRAPH}</option>
			<option value="Index"{VAL_LEARNINGRESOURCETYPE_INDEX}>{TXT_INDEX}</option>
			<option value="Slide"{VAL_LEARNINGRESOURCETYPE_SLIDE}>{TXT_SLIDE}</option>
			<option value="Table"{VAL_LEARNINGRESOURCETYPE_TABLE}>{TXT_TABLE}</option>
			<option value="NarrativeText"{VAL_LEARNINGRESOURCETYPE_NARRATIVETEXT}>{TXT_NARRATIVETEXT}</option>
			<option value="Exam"{VAL_LEARNINGRESOURCETYPE_EXAM}>{TXT_EXAM}</option>
			<option value="Experiment"{VAL_LEARNINGRESOURCETYPE_EXPERIMENT}>{TXT_EXPERIMENT}</option>
			<option value="ProblemStatement"{VAL_LEARNINGRESOURCETYPE_PROBLEMSTATEMENT}>{TXT_PROBLEMSTATEMENT}</option>
			<option value="SelfAssessment"{VAL_LEARNINGRESOURCETYPE_SELFASSESSMENT}>{TXT_SELFASSESSMENT}</option>
			<option value="Lecture"{VAL_LEARNINGRESOURCETYPE_LECTURE}>{TXT_LECTURE}</option>
		</select>
	</td>
</tr>
<tr>
	<td class="option" colspan="2">{TXT_INTERACTIVITYLEVEL}</td>
	<td class="option_value">
		<select name="educational[InteractivityLevel]" size="1">
			<option value="">{TXT_PLEASE_SELECT}</option>
			<option value="VeryLow"{VAL_INTERACTIVITYLEVEL_VERYLOW}>{TXT_VERYLOW}</option>
			<option value="Low"{VAL_INTERACTIVITYLEVEL_LOW}>{TXT_LOW}</option>
			<option value="Medium"{VAL_INTERACTIVITYLEVEL_MEDIUM}>{TXT_MEDIUM}</option>
			<option value="High"{VAL_INTERACTIVITYLEVEL_HIGH}>{TXT_HIGH}</option>
			<option value="VeryHigh"{VAL_INTERACTIVITYLEVEL_VERYHIGH}>{TXT_VERYHIGH}</option>
		</select>
	</td>
</tr>
<tr>
	<td class="option" colspan="2">{TXT_SEMANTICDENSITY}</td>
	<td class="option_value">
		<select name="educational[SemanticDensity]" size="1">
			<option value="">{TXT_PLEASE_SELECT}</option>
			<option value="VeryLow"{VAL_SEMANTICDENSITY_VERYLOW}>{TXT_VERYLOW}</option>
			<option value="Low"{VAL_SEMANTICDENSITY_LOW}>{TXT_LOW}</option>
			<option value="Medium"{VAL_SEMANTICDENSITY_MEDIUM}>{TXT_MEDIUM}</option>
			<option value="High"{VAL_SEMANTICDENSITY_HIGH}>{TXT_HIGH}</option>
			<option value="VeryHigh"{VAL_SEMANTICDENSITY_VERYHIGH}>{TXT_VERYHIGH}</option>
		</select>
	</td>
</tr>
<tr>
	<td class="option" colspan="2">{TXT_INTENDEDENDUSERROLE}</td>
	<td class="option_value">
		<select name="educational[IntendedEndUserRole]" size="1">
			<option value="">{TXT_PLEASE_SELECT}</option>
			<option value="Teacher"{VAL_INTENDEDENDUSERROLE_TEACHER}>{TXT_TEACHER}</option>
			<option value="Author"{VAL_INTENDEDENDUSERROLE_AUTHOR}>{TXT_AUTHOR}</option>
			<option value="Learner"{VAL_INTENDEDENDUSERROLE_LEARNER}>{TXT_LEARNER}</option>
			<option value="Manager"{VAL_INTENDEDENDUSERROLE_MANAGER}>{TXT_MANAGER}</option>
		</select>
	</td>
</tr>
<tr>
	<td class="option" colspan="2">{TXT_CONTEXT}</td>
	<td class="option_value">
		<select name="educational[Context]" size="1">
			<option value="">{TXT_PLEASE_SELECT}</option>
			<option value="School"{VAL_CONTEXT_SCHOOL}>{TXT_SCHOOL}</option>
			<option value="HigherEducation"{VAL_CONTEXT_HIGHEREDUCATION}>{TXT_HIGHEREDUCATION}</option>
			<option value="Training"{VAL_CONTEXT_TRAINING}>{TXT_TRAINING}</option>
			<option value="Other"{VAL_CONTEXT_OTHER}>{TXT_OTHER}</option>
		</select>
	</td>
</tr>
<tr>
	<td class="option" colspan="2">{TXT_DIFFICULTY}</td>
	<td class="option_value">
		<select name="educational[Difficulty]" size="1">
			<option value="">{TXT_PLEASE_SELECT}</option>
			<option value="VeryEasy"{VAL_DIFFICULTY_VERYEASY}>{TXT_VERYEASY}</option>
			<option value="Easy"{VAL_DIFFICULTY_EASY}>{TXT_EASY}</option>
			<option value="Medium"{VAL_DIFFICULTY_MEDIUM}>{TXT_MEDIUM}</option>
			<option value="Difficult"{VAL_DIFFICULTY_DIFFICULT}>{TXT_DIFFICULT}</option>
			<option value="VeryDifficult"{VAL_DIFFICULTY_VERYDIFFICULT}>{TXT_VERYDIFFICULT}</option>
		</select>
	</td>
</tr>

<!-- BEGIN typicalagerange_loop -->
<tr>
	<!-- BEGIN agerange_head -->
	<td class="option" colspan="2" rowspan="{ROWSPAN_AGERANGE}">
		{TYPICALAGERANGE_LOOP_TXT_TYPICALAGERANGE}
	</td>
	<!-- END agerange_head -->
	<td class="option_value" nowrap="nowrap">
		<!-- BEGIN typicalagerange_delete -->
		<div style="float:right;" class="il_ContainerItemCommands">
		<a class="il_ContainerItemCommand" href="{TYPICALAGERANGE_LOOP_ACTION_DELETE}">{TYPICALAGERANGE_LOOP_TXT_DELETE}</a>
		</div>
		<!-- END typicalagerange_delete -->

		<input type="text" maxlength="200" name="educational[TypicalAgeRange][{TYPICALAGERANGE_LOOP_NO}][Value]" value="{TYPICALAGERANGE_LOOP_VAL}">
		{TYPICALAGERANGE_LOOP_VAL_LANGUAGE}&nbsp;
	</td>
</tr>
<!-- END typicalagerange_loop -->
		<tr>
		  <td class="option" colspan="2"><div align="left">{TXT_TYPICAL_LEARN_TIME}</div></td>
		  <td class="option_value">
			{TXT_MONTH}&nbsp;{SEL_MONTHS}&nbsp;{TXT_DAYS}&nbsp;{SEL_DAYS}&nbsp;{TXT_TIME}&nbsp;{SEL_TLT}&nbsp;{TLT_HINT}
			<!-- BEGIN tlt_not_valid -->
			<br />
			<br />{TXT_CURRENT_VAL}: {TLT}
			<br /><span class="subtitle">{INFO_TLT_NOT_VALID}</span>
			<!-- END tlt_not_valid -->
		  </td>
		</tr>
<!-- BEGIN description_loop -->
<tr>
	<!-- BEGIN desc_head -->
	<td class="option" colspan="2" rowspan="{ROWSPAN_DESC}">
		{DESCRIPTION_LOOP_TXT_DESCRIPTION}
	</td>
	<!-- END desc_head -->
	<td class="option_value">
		<div style="float:right;" class="il_ContainerItemCommands">
			<a class="il_ContainerItemCommand" href="{DESCRIPTION_LOOP_ACTION_DELETE}">{DESCRIPTION_LOOP_TXT_DELETE}</a>
		</div>
		<textarea name="educational[Description][{DESCRIPTION_LOOP_NO}][Value]">{DESCRIPTION_LOOP_VAL}</textarea>
		<br />{DESCRIPTION_LOOP_VAL_LANGUAGE}</td>
</tr>
<!-- END description_loop -->

<!-- BEGIN language_loop -->
<tr>
	<!-- BEGIN language_head -->
	<td class="option" colspan="2" rowspan="{ROWSPAN_LANG}">
		{LANGUAGE_LOOP_TXT_LANGUAGE}
	</td>
	<!-- END language_head -->
	<td class="option_value">
		<div style="float:right;" class="il_ContainerItemCommands">
			<a class="il_ContainerItemCommand" href="{LANGUAGE_LOOP_ACTION_DELETE}">{LANGUAGE_LOOP_TXT_DELETE}</a>
		</div>
		{LANGUAGE_LOOP_VAL_LANGUAGE}</td>
</tr>
<!-- END language_loop -->

<tr>
	<td class="submit" colspan="4"><div align="right"><input class="submit" type="submit" name="cmd[updateEducational]" value="{TXT_SAVE}"/></div></td>
</tr>
</table>
</form>
<!-- END educational -->
