<!-- BEGIN no_lifecycle -->
	{TXT_NO_LIFECYCLE} <a class="il_ContainerItemCommand" href="{ACTION_ADD_LIFECYCLE}">{TXT_ADD_LIFECYCLE}</a>
	<!-- END no_lifecycle -->
	<!-- BEGIN lifecycle -->
	<form action="{EDIT_ACTION}" {TARGET} name="post" method="post">
	  <table class="std" >
		  <tr class="tblheader">
			<td class="std" colspan="4">
			  <div class="ilFloatLeft">{TXT_LIFECYCLE}
				<a class="il_ContainerItemCommand" href="{ACTION_DELETE}">{TXT_DELETE}</a>
			  </div>
			  <div class="ilRight"><!-- BEGIN subelements -->{SEL_SUBELEMENTS}<!-- END subelements -->
			  	<input class="submit" type="submit" name="cmd[addSectionElement]" value="{TXT_ADD}"/>
			  </div>
			</td>
		  </tr>
		  <tr>
			<td class="option" colspan="3">{TXT_STATUS}</td>
			<td class="option_value">{SEL_STATUS}</td>
		  </tr>
		  <tr>
			<td class="option" colspan="3"><div align="left">{TXT_VERSION}</div></td>
			<td class="option_value"><input type="text" maxlength="200" name="lif_version" value="{VAL_VERSION}">
				{VAL_VERSION_LANGUAGE}
			</td>
		  </tr>
		  <!-- BEGIN contribute_loop -->
		  <tr>
			<td class="option" colspan="4">
				<div class="ilFloatLeft">
			  {CONTRIBUTE_LOOP_TXT_CONTRIBUTE}
					<a class="il_ContainerItemCommand" href="{CONTRIBUTE_ENTITY_LOOP_ACTION_ADD}">{CONTRIBUTE_ENTITY_LOOP_TXT_ADD}</a>
					<!-- BEGIN contribute_delete -->
					<a class="il_ContainerItemCommand" href="{CONTRIBUTE_LOOP_ACTION_DELETE}">{CONTRIBUTE_LOOP_TXT_DELETE}</a>
					<!-- END contribute_delete -->
				</div>
			</td>
		  <tr>
			<td class="option" width="10" rowspan="{CONTRIBUTE_LOOP_ROWSPAN}">&nbsp;</td>
			<td class="sub_option" colspan="2">{CONTRIBUTE_LOOP_TXT_ROLE}</td>
			<td class="option_value">{SEL_CONTRIBUTE_ROLE}
			</td>
		  </tr>
		  <!-- BEGIN contribute_entity_loop -->
		  <tr>
			<td class="sub_option" colspan="2">
				{CONTRIBUTE_ENTITY_LOOP_TXT_ENTITY}
			</td>
			<td class="option_value">
				<!-- BEGIN contribute_entity_delete -->
				<div class="il_ContainerItemCommands ilFloatRight">
					<a class="il_ContainerItemCommand" href="{CONTRIBUTE_ENTITY_LOOP_ACTION_DELETE}">{CONTRIBUTE_ENTITY_LOOP_TXT_DELETE}</a>
				</div>
				<!-- END contribute_entity_delete -->
			  <input type="text" maxlength="200" name="met_entity[{CONTRIBUTE_ENTITY_LOOP_CONTRIBUTE_NO}][{CONTRIBUTE_ENTITY_LOOP_NO}][Entity]" value="{CONTRIBUTE_ENTITY_LOOP_VAL_ENTITY}">
			</td>
		  </tr>
		  <!-- END contribute_entity_loop -->
		  <tr>
			<td class="sub_option" colspan="2">{CONTRIBUTE_LOOP_TXT_DATE}</td>
			<td class="option_value"><input type="text" maxlength="200" name="met_contribute[{CONTRIBUTE_LOOP_NO}][Date]" value="{CONTRIBUTE_LOOP_VAL_DATE}"></td>
		  </tr>
		  <!-- END contribute_loop -->

		  <tr>
			<td class="submit" colspan="4">
			  <div class="ilRight">
				<input class="submit" type="submit" name="cmd[updateLifecycle]" value="{TXT_SAVE}"/>
			  </div>
			</td>
		  </tr>
	  </table>
	</form>
	<!-- END lifecycle -->