<tr class="{CSS_ROW}">
	<td class="std" style="vertical-align:top;">
		<input type="checkbox" name="entry_id[]" value="{VAL_ID}" />
	</td>
	<td class="std"  style="vertical-align:top;">
		{VAL_TITLE}
		<!-- BEGIN record_desc -->
		<br /><font class="small">{VAL_DESCRIPTION}</font>
		<!-- END record_desc -->
	</td>
	<td class="std" style="vertical-align:top;">
		<div align="center">
			{VAL_USAGE}
		</div>
	</td>
	<td class="std" style="vertical-align:top;">
		{VAL_PREVIEW}
	</td>
	<td class="std" style="vertical-align:top;">
		<a class="il_ContainerItemCommand" href="{EDIT_LINK}">{TXT_EDIT}</a>
	</td>
</tr>
	