	<form action="{EDIT_ACTION}" method="post">
	  <table class="std" width="60%">
		<tr class="tblheader">
		  <td class="std" colspan="2"><div class="ilFloatLeft">{TXT_QUICK_EDIT}</div>
		  </td>
		</tr>
		<!-- BEGIN identifier_loop -->
		<tr>
		  <!-- BEGIN id_head -->
		  <td class="option" colspan="1" nowrap="nowrap" rowspan="{ROWSPAN_ID}">
			<div class="ilLeft">{IDENTIFIER_LOOP_TXT_IDENTIFIER}<br />
			  <div class="il_Description">{IDENTIFIER_LOOP_TXT_CATALOG} / {IDENTIFIER_LOOP_TXT_ENTRY}</div>
			</div>
		  </td>
		  <!-- END id_head -->
		  <td class="option_value" nowrap="nowrap">
			<!-- BEGIN identifier_delete -->
			<div class="il_ContainerItemCommands ilFloatRight">
			  <a class="il_ContainerItemCommand" href="{IDENTIFIER_LOOP_ACTION_DELETE}">{IDENTIFIER_LOOP_TXT_DELETE}</a>
			</div>
			<!-- END identifier_delete -->
			<input type="text" maxlength="200" name="gen_identifier[{IDENTIFIER_LOOP_NO}][Catalog]" {DISABLE_IDENT} value="{IDENTIFIER_LOOP_VAL_IDENTIFIER_CATALOG}"> /
			<input type="text" maxlength="200" name="gen_identifier[{IDENTIFIER_LOOP_NO}][Entry]" {DISABLE_IDENT} value="{IDENTIFIER_LOOP_VAL_IDENTIFIER_ENTRY}">
		  </td>
		</tr>
		<!-- END identifier_loop -->

		<tr>
		  <td class="option" colspan="1"><div align="left">{TXT_TITLE} <span class="asterisk">*</span></div></td>
		  <td class="option_value">
			<input type="text" maxlength="200" size="54" name="gen_title" value="{VAL_TITLE}">
			{VAL_TITLE_LANGUAGE}
		  </td>
		</tr>
		<!-- <tr>
		<td class="option" width="10">&nbsp;</td>
		<td class="sub_option">{TXT_LANGUAGE} (Language)</td>
		<td class="option_value">{VAL_TITLE_LANGUAGE}</td>
	  </tr> -->

		<!-- BEGIN language_loop -->
		<tr>
		  <!-- BEGIN language_head -->
		  <td class="option" colspan="1" rowspan="{ROWSPAN_LANG}">
			{LANGUAGE_LOOP_TXT_LANGUAGE}
		  </td>
		  <!-- END language_head -->
		  <td class="option_value">
			<!-- BEGIN language_delete -->
			<div class="il_ContainerItemCommands ilFloatRight">
			  <a class="il_ContainerItemCommand" href="{LANGUAGE_LOOP_ACTION_DELETE}">{LANGUAGE_LOOP_TXT_DELETE}</a>
			</div>
			<!-- END language_delete -->
			{LANGUAGE_LOOP_VAL_LANGUAGE}
		  </td>
		</tr>
		<!-- END language_loop -->

		<!-- BEGIN description_loop -->
		<tr>
		  <td class="option" colspan="1">
			<div class="ilLeft">{DESCRIPTION_LOOP_TXT_DESCRIPTION}<br>
			  <!-- BEGIN description_delete -->
			  <a class="il_ContainerItemCommand" href="{DESCRIPTION_LOOP_ACTION_DELETE}">{DESCRIPTION_LOOP_TXT_DELETE}</a>
			  <!-- END description_delete -->
			</div>
		  </td>
		  <td class="option_value">
			<textarea rows="4" cols="50" name="gen_description[{DESCRIPTION_LOOP_NO}][description]">{DESCRIPTION_LOOP_VAL}</textarea>
			<br />{DESCRIPTION_LOOP_VAL_LANGUAGE}
		  </td>
		</tr>
		<!--
		<tr>
		<td class="option"width="10">&nbsp;</td>
		<td class="sub_option">{DESCRIPTION_LOOP_TXT_LANGUAGE} (Language)</td>
		<td class="option_value">{DESCRIPTION_LOOP_VAL_LANGUAGE}</td>
	  </tr> -->
		<!-- END description_loop -->

		<!-- BEGIN keyword_loop -->
		<tr>
		  <!-- BEGIN keyword_head -->
		  <td class="option" colspan="1" rowspan="{ROWSPAN_KEYWORD}">
			{KEYWORD_LOOP_TXT_KEYWORD}<br>
			<div class="il_Description">{TXT_COMMA_SEP2}</div>
		  </td>
		  <!-- END keyword_head -->
		  <td class="option_value">
			<!-- BEGIN keyword_delete -->
			<div class="il_ContainerItemCommands ilFloatRight">
			  <a class="il_ContainerItemCommand" href="{KEYWORD_LOOP_ACTION_DELETE}">{KEYWORD_LOOP_TXT_DELETE}</a>
			</div>
			<!-- END keyword_delete -->
			<textarea rows="4" cols="50" name="keywords[value][{LANG}]">{KEYWORD_LOOP_VAL}</textarea>
			<!--<input type="text" maxlength="200" name="gen_keyword[{KEYWORD_LOOP_NO}][keyword]" value="{KEYWORD_LOOP_VAL}">
			-->
			{KEYWORD_LOOP_VAL_LANGUAGE}
		  </td>
		</tr>
		<!-- END keyword_loop -->
		<tr>
		  <td class="option" colspan="1">
			{TXT_AUTHORS}<br>
			<div class="il_Description">{TXT_COMMA_SEP}</div>
		  </td>
		  <td class="option_value">
			<textarea rows="2" cols="50" name="life_authors">{AUTHORS_VAL}</textarea>
		  </td>
		</tr>
		<tr>
		  <td class="option" colspan="1">
			{TXT_COPYRIGHT}<br>
		  </td>
		  <td class="option_value">
		  	<!-- BEGIN copyright_selection -->
				<input type="radio" name="copyright_id" id="cp_{COPYRIGHT_ID}" value="{COPYRIGHT_ID}" {COPYRIGHT_CHECKED} />
					<label for="cp_{COPYRIGHT_ID}">
						{COPYRIGHT_TITLE}				
						<div class="il_Description">{COPYRIGHT_DESCRIPTION}</div>
					</label>
			<!-- END copyright_selection -->
			<textarea rows="2" cols="50" name="rights_copyright">{COPYRIGHT_VAL}</textarea>
		  </td>
		</tr>
		<tr>
		  <td class="option" colspan="1"><div align="left">{TXT_TYPICAL_LEARN_TIME}</div></td>
		  <td class="option_value">
			{TXT_MONTH}&nbsp;{SEL_MONTHS}&nbsp;{TXT_DAYS}&nbsp;{SEL_DAYS}&nbsp;{TXT_TIME}&nbsp;{SEL_TLT}&nbsp;{TLT_HINT}
			<!-- BEGIN tlt_not_valid -->
			<br />
			<br />{TXT_CURRENT_VAL}: {TLT}
			<br /><span class="subtitle">{INFO_TLT_NOT_VALID}</span>
			<!-- END tlt_not_valid -->
		  </td>
		</tr>
		<tr>
		  <td class="submit" colspan="2">
			<div align="right">
			  <input class="submit" type="submit" name="cmd[updateQuickEdit]" value="{TXT_SAVE}"/>
			</div>
		  </td>
		</tr>
	  </table>
	</form>