	<form action="{EDIT_ACTION}" method="post">
	  <table class="std" width="50%">
		  <tr class="tblheader">
			<td class="std" colspan="2"><div class="ilFloatLeft">{TXT_GENERAL}</div>
				<div class="ilRight">
				<!-- BEGIN subelements -->{SEL_SUBELEMENTS}
				<!-- END subelements -->
				<input class="submit" type="submit" name="cmd[addSectionElement]" value="{TXT_ADD}"/>
				</div>
			</td>
		  </tr>
		  <!-- BEGIN identifier_loop -->
		  <tr>
		  	<!-- BEGIN id_head -->
			<td class="option" colspan="1" nowrap="nowrap" rowspan="{ROWSPAN_ID}">
			  <div class="ilLeft">{IDENTIFIER_LOOP_TXT_IDENTIFIER}<br />
				<div class="il_Description">{IDENTIFIER_LOOP_TXT_CATALOG} / {IDENTIFIER_LOOP_TXT_ENTRY}</div>
			  </div>
			</td>
			<!-- END id_head -->
			<td class="option_value" nowrap="nowrap">
				<!-- BEGIN identifier_delete -->
				<div class="il_ContainerItemCommands ilFloatRight">
				<a class="il_ContainerItemCommand" href="{IDENTIFIER_LOOP_ACTION_DELETE}">{IDENTIFIER_LOOP_TXT_DELETE}</a>
				</div>
				<!-- END identifier_delete -->
				<input type="text" maxlength="200" name="gen_identifier[{IDENTIFIER_LOOP_NO}][Catalog]" {DISABLE_IDENT} value="{IDENTIFIER_LOOP_VAL_IDENTIFIER_CATALOG}"> /
				<input type="text" maxlength="200" name="gen_identifier[{IDENTIFIER_LOOP_NO}][Entry]" {DISABLE_IDENT} value="{IDENTIFIER_LOOP_VAL_IDENTIFIER_ENTRY}">
			</td>
		  </tr>
		  <!--
		  <tr>
			<td class="option" width="10" rowspan="2">&nbsp;</td>
			<td class="sub_option">{IDENTIFIER_LOOP_TXT_CATALOG}</td>
			<td class="option_value">
			  <input type="text" maxlength="200" name="gen_identifier[{IDENTIFIER_LOOP_NO}][Catalog]" {DISABLE_IDENT} value="{IDENTIFIER_LOOP_VAL_IDENTIFIER_CATALOG}"></td>
		  </tr>
		  <tr>
			<td class="sub_option">{IDENTIFIER_LOOP_TXT_ENTRY} (Entry)</td>
			<td class="option_value">
			  <input type="text" maxlength="200" name="gen_identifier[{IDENTIFIER_LOOP_NO}][Entry]" {DISABLE_IDENT} value="{IDENTIFIER_LOOP_VAL_IDENTIFIER_ENTRY}"></td>
		  </tr>
		  -->
		  <!-- END identifier_loop -->

		  <tr>
			<td class="option" colspan="1"><div align="left">{TXT_TITLE} <span class="asterisk">*</span></div></td>
			<td class="option_value">
				<input type="text" size="40" maxlength="128" name="gen_title" value="{VAL_TITLE}">
				{VAL_TITLE_LANGUAGE}
				</td>
		  </tr>
		  <!-- <tr>
			<td class="option" width="10">&nbsp;</td>
			<td class="sub_option">{TXT_LANGUAGE} (Language)</td>
			<td class="option_value">{VAL_TITLE_LANGUAGE}</td>
		  </tr> -->

		  <!-- BEGIN language_loop -->
		  <tr>
		  	<!-- BEGIN language_head -->
			<td class="option" colspan="1" rowspan="{ROWSPAN_LANG}">
			  {LANGUAGE_LOOP_TXT_LANGUAGE}
			</td>
			<!-- END language_head -->
			<td class="option_value">
				<!-- BEGIN language_delete -->
				<div style="float:right;" class="il_ContainerItemCommands">
				<a class="il_ContainerItemCommand" href="{LANGUAGE_LOOP_ACTION_DELETE}">{LANGUAGE_LOOP_TXT_DELETE}</a>
				</div>
				<!-- END language_delete -->
				{LANGUAGE_LOOP_VAL_LANGUAGE}
			</td>
		  </tr>
		  <!-- END language_loop -->

		  <!-- BEGIN description_loop -->
		  <tr>
			<td class="option" colspan="1">
			  <div align="left">{DESCRIPTION_LOOP_TXT_DESCRIPTION}<br>
				<!-- BEGIN description_delete -->
				<a class="il_ContainerItemCommand" href="{DESCRIPTION_LOOP_ACTION_DELETE}">{DESCRIPTION_LOOP_TXT_DELETE}</a>
				<!-- END description_delete -->
			  </div>
			</td>
			<td class="option_value">
				<textarea rows="4" cols="50" name="gen_description[{DESCRIPTION_LOOP_NO}][description]">{DESCRIPTION_LOOP_VAL}</textarea>
				<br />{DESCRIPTION_LOOP_VAL_LANGUAGE}
				</td>
		  </tr>
		  <!--
		  <tr>
			<td class="option"width="10">&nbsp;</td>
			<td class="sub_option">{DESCRIPTION_LOOP_TXT_LANGUAGE} (Language)</td>
			<td class="option_value">{DESCRIPTION_LOOP_VAL_LANGUAGE}</td>
		  </tr> -->
		  <!-- END description_loop -->

		  <!-- BEGIN keyword_loop -->
		  <tr>
		  	<!-- BEGIN keyword_head -->
			 <td class="option" colspan="1" rowspan="{ROWSPAN_KEYWORD}">
			  {KEYWORD_LOOP_TXT_KEYWORD}
			</td>
			<!-- END keyword_head -->
			<td class="option_value">
				<!-- BEGIN keyword_delete -->
				<div style="float:right;" class="il_ContainerItemCommands">
				<a class="il_ContainerItemCommand" href="{KEYWORD_LOOP_ACTION_DELETE}">{KEYWORD_LOOP_TXT_DELETE}</a>
				</div>
				<!-- END keyword_delete -->
				<input type="text" maxlength="200" name="gen_keyword[{KEYWORD_LOOP_NO}][keyword]" value="{KEYWORD_LOOP_VAL}">
				{KEYWORD_LOOP_VAL_LANGUAGE}
			</td>
		  </tr>
		  <!--<tr>
			<td class="option" width="10">&nbsp;</td>
			<td class="sub_option">{KEYWORD_LOOP_TXT_LANGUAGE} (Language)</td>
			<td class="option_value">{KEYWORD_LOOP_VAL_LANGUAGE}</td>
		  </tr>-->
		  <!-- END keyword_loop -->

		  <tr>
			<td class="option" colspan="1">
			  <div align="left">{COVERAGE_LOOP_TXT_COVERAGE}</div>
			</td>
			<td class="option_value">
				<input type="text" maxlength="200" name="gen_coverage" value="{COVERAGE_LOOP_VAL}">
				{COVERAGE_LOOP_VAL_LANGUAGE}
			</td>
		  </tr>
		  <tr>
			<td class="option" colspan="1">{TXT_STRUCTURE}</td>
			<td class="option_value">
			  <select name="gen_structure" size="1">
				<option value="">{TXT_PLEASE_SELECT}</option>
				<option value="Atomic"{STRUCTURE_VAL_ATOMIC}>{TXT_ATOMIC}</option>
				<option value="Collection"{STRUCTURE_VAL_COLLECTION}>{TXT_COLLECTION}</option>
				<option value="Networked"{STRUCTURE_VAL_NETWORKED}>{TXT_NETWORKED}</option>
				<option value="Hierarchical"{STRUCTURE_VAL_HIERARCHICAL}>{TXT_HIERARCHICAL}</option>
				<option value="Linear"{STRUCTURE_VAL_LINEAR}>{TXT_LINEAR}</option>
			  </select>
			</td>
		  </tr>
		  <!--
		  <tr>
			<td class="option" width="10">&nbsp;</td>
			<td class="sub_option">{COVERAGE_LOOP_TXT_LANGUAGE} (Language)</td>
			<td class="option_value">{COVERAGE_LOOP_VAL_LANGUAGE}</td>
		  </tr> -->
		  <tr>
			<td class="submit" colspan="2">
			  <div align="right">
				<input class="submit" type="submit" name="cmd[updateGeneral]" value="{TXT_SAVE}"/>
			  </div>
			</td>
		  </tr>
	  </table>
	</form>