<div id='copg-editor-help'>
	<!-- BEGIN help -->
	<div id="ilPageEditLegend">
		<table>
			<tr>
				<td>
					<span class="glyphicon glyphicon-plus-sign"></span>
				</td>
				<td>
					<span class="subtitle">{TXT_ADD_EL}</span>
				</td>
			</tr>
			<tr>
				<td>
					<div class="ilPageEditLegendElement">&nbsp;</div>
				</td>
				<td>
					<span class="subtitle">{TXT_EDIT}</span>
				</td>
			</tr>
			<tr>
				<td>
					<div class="ilPageEditLegendElement">&nbsp;</div>
				</td>
				<td>
					<span class="subtitle">{TXT_SEL}</span>
				</td>
			</tr>
			<tr>
				<td>
					<div class="ilPageEditLegendElement">&nbsp;</div>
					{DRAG_ARROW}
					<div class="il_droparea">&nbsp;</div>
				</td>
				<td>
					<span class="subtitle">{TXT_DRAG}</span>
				</td>
			</tr>
		</table>
	</div>
	<!-- END help -->
	<!-- BEGIN multi-help -->
	<div id="ilPageEditLegend">
		<table>
			<tr>
				<td>
					<div class="ilPageEditLegendElement">&nbsp;</div>
				</td>
				<td>
					<span class="subtitle">{TXT_SEL}</span>
				</td>
			</tr>
		</table>
	</div>
	<!-- END multi-help -->
</div>