{CONTENT}
<script>
document.addEventListener('DOMContentLoaded', (event) => {
  const fields = {FIELDS};

  document.getElementById('{ID}').addEventListener('change', function () {
    const elm = this,
        val = elm.value.trim();

    if (val.length > 0) {
      const url = '{URL}',
          separator = url.includes('?') ? '&' : '?';
      fetch(`${url + separator}template_id=${encodeURIComponent(elm.value)}`, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
        },
      })
        .then((response) => response.json())
        .then((data) => {
          for (const fieldId of Object.keys(fields)) {
            const fieldElement = document.getElementById(fieldId);
            if (fieldElement.value.length === 0 || fields[fieldId]) {
              fieldElement.value = data[fieldId];
            }
          }
        });
    }
  });
});
</script>