<tr class="{CSS_ROW}">
	<td class="std">
				
		{TXT_QUESTION}
		<!-- BEGIN image -->
		<img src="{URL_IMAGE}" />
		<!-- END image -->
		<br />
		
		<!-- BEGIN answers_vote -->
		<form method="post" action="{URL_FORM}">
		
			<!-- BEGIN answer -->
			<input type="radio" name="aw" value="{VALUE_ANSWER}" />{TXT_ANSWER_VOTE}<br />
			<!-- END answer -->
		
			<input type="submit" value="{TXT_SUBMIT}" name="cmd[{CMD_FORM}]" />
		</form>
		<!-- END answers_vote -->
		
		<!-- BEGIN answers_result -->
		
		<!-- BEGIN answer_result -->
		{TXT_ANSWER_RESULT}: {PERC_ANSWER_RESULT}%<br />
		<!-- END answer_result -->

		<!-- END answers_result -->
		
	</td>
</tr>