<!-- BEGIN rowselection_cell -->
<td class="c-table-data__cell c-table-data__rowselection">
</td>
<!-- END rowselection_cell -->

<!-- BEGIN cell -->
<td class="c-table-data__cell c-table-data__cell--{COL_TYPE} <!-- BEGIN highlighted --> c-table-data__cell--highlighted<!-- END highlighted -->" <!-- BEGIN with_col_span -->colspan="{COL_SPAN}"<!-- END with_col_span --> tabindex="-1">
	<span class="c-table-data__cell__col-title">{CELL_COL_TITLE}: </span>{CELL_CONTENT}
</td>
<!-- END cell -->

<!-- BEGIN rowaction_cell -->
<td class="c-table-data__cell c-table-data__rowaction">
</td>
<!-- END rowaction_cell -->
