<!-- BEGIN rowselection_cell -->
<td class="c-table-data__cell c-table-data__rowselection" tabindex="-1">
	{DRAG_HANDLE}
	<!-- BEGIN rowselection_checkbox --><input type="checkbox" value="{ROW_ID}" class="c-table-data__row-selector"><!-- END rowselection_checkbox -->
</td>
<!-- END rowselection_cell -->

<!-- BEGIN orderinput_cell -->
<td class="c-table-data__cell c-table-data__positioninput" tabindex="-1">
	{ORDER_INPUT}
</td>
<!-- END orderinput_cell -->

<!-- BEGIN cell -->
<td class="c-table-data__cell c-table-data__cell--{COL_TYPE} <!-- BEGIN highlighted --> c-table-data__cell--highlighted<!-- END highlighted -->" tabindex="-1">
	<span class="c-table-data__cell__col-title">{CELL_COL_TITLE}: </span>{CELL_CONTENT}
</td>
<!-- END cell -->

<!-- BEGIN rowaction_cell -->
<td class="c-table-data__cell c-table-data__rowaction" tabindex="-1">
		{ACTION_CONTENT}
</td>
<!-- END rowaction_cell -->
