<?php xml version = "1.0" encoding = "UTF-8"?>
<module xmlns="http://www.w3.org" version="$Id: modules.xml 15671 2008-01-04 13:08:30Z akill $"
	name="WebResource" short="webr" dir="Modules/WebResource">
	<baseclasses>
		<baseclass name="ilLinkResourceHandlerGUI" dir="classes" />
	</baseclasses>
	<objects>
		<object short="webr" class_name="LinkResource" dir="classes"
			checkbox="1" inherit="0" allow_link="1" allow_copy="1" translate="0" rbac="1" devmode="0">
			<subobj name="rolf" max="1">rolf</subobj>
		</object>
	</objects>
</module>
