<tr class="{CSS_ROW}">
	<td class="std">
	<!-- BEGIN multi_bl -->
	<input type="checkbox" name="mrsv[]" value="{MULTI_ID}" />		   
	<!-- END multi_bl -->
	</td>
	<td class="std">
	{TXT_TITLE}
	</td>
	<!-- BEGIN status_bl -->
	<td class="std">
	{TXT_STATUS}
	</td>
	<!-- END status_bl -->
	<!-- BEGIN period -->
	<td class="std">
	{VALUE_DATE}
	</td>
	<!-- BEGIN week_bl -->
	<td class="std">
	{VALUE_WEEK}
	</td>
	<!-- END week_bl -->
	<!-- BEGIN weekday_bl -->
	<td class="std">
	{VALUE_WEEKDAY}
	</td>
	<!-- END weekday_bl -->
	<td class="std">
	{VALUE_SLOT}
	</td>
	<td class="std">
	{VALUE_COUNTER}
	</td>
	<!-- END period --> 
	<!-- BEGIN advmd_bl -->
	<td class="std">
	{VALUE_ADVMD}
	</td>
	<!-- END advmd_bl -->
	<!-- BEGIN context -->
	<td class="std">
		{VALUE_CONTEXT_TITLE}
	</td>
	<!-- END context -->
	<td class="std">

		{TXT_CURRENT_USER}
	</td>
	<!-- BEGIN user_col -->
	<td class="std">
		{VALUE_USER_COL}
	</td>
	<!-- END user_col -->
	<td class="std">
		<!-- BEGIN action -->
		<a href="{URL_ACTION}">{TXT_ACTION}</a>
		<!-- END action -->
	</td>
</tr>
