<style>
body {
	margin:0px;
	background-color: #E9E9E9;
}
</style>

<script type="text/javascript">
<!--
if (document.images)
{
	var path = "./templates/qualitus/images/navbar/";

	imag = new Array();
	imag[0]  = "{IMG_DESK}";
	imag[1]  = "{IMG_CATALOG}";
	imag[2]  = "{IMG_BOOKMA}";
	imag[3]  = "{IMG_SEARCH}";
	imag[4]  = "{IMG_LITERAT}";
	imag[5]  = "{IMG_MAIL}";
	imag[6]  = "{IMG_FORUMS}";
	imag[7]  = "{IMG_GROUPS}";
	imag[8]  = "{IMG_HELP}";
	imag[9]  = "{IMG_FEEDB}";
	imag[10] = "{IMG_LOGOUT}";
	imag[11] = "{IMG_DESK_O}";
	imag[12] = "{IMG_CATALOG_O}";
	imag[13] = "{IMG_BOOKMA_O}";
	imag[14] = "{IMG_SEARCH_O}";
	imag[15] = "{IMG_LITERAT_O}";
	imag[16] = "{IMG_MAIL_O}";
	imag[17] = "{IMG_FORUMS_O}";
	imag[18] = "{IMG_GROUPS_O}";
	imag[19] = "{IMG_HELP_O}";
	imag[20] = "{IMG_FEEDB_O}";
	imag[21] = "{IMG_LOGOUT_O}";
	imag[22] = "{IMG_LOGIN}";
	imag[23] = "{IMG_LOGIN_O}";
	imag[24] = "{IMG_EDITOR}";
	imag[25] = "{IMG_EDITOR_O}";
	imag[26] = "{IMG_ADMIN}";
	imag[27] = "{IMG_ADMIN_O}";
	imag[28] = "{IMG_DP}";
	imag[29] = "{IMG_DP_O}";

	im = new Array();

	for (var i = 0; i < imag.length; i++)
	{
		im[i] = new Image();
		im[i].src = imag[i];
	}

	function swtch(num,imgname)
	{
		imgname.src = im[num].src;
		window.status = '';
	}

	function swtchon(num,imgname,text)
	{
		imgname.src = im[num].src;
		window.status = text;
	}
}
//-->
</script>

<div class="ilMainHeader">
		<table width="100%" height="50" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td width="36%" valign="top" bgcolor="#E9E9E9"><img src="./templates/qualitus/images/p_trans.gif" width="300" height="1" align="top"></td>
				<td width="1" valign="top" bgcolor="#E9E9E9"><img src="./templates/qualitus/images/p_trans.gif" width="1" height="18" align="top"></td>
				<td valign="top" bgcolor="#E9E9E9"><img src="./templates/qualitus/images/p_trans.gif" width="1" height="1" align="top"></td>
			</tr>
			<tr>
				<td height="92" valign="top" bgcolor="#E9E9E9">
					<a href="http://www.qualitus.de" target="_blank">					</a>
					<table width="100%"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="30%"><a href="http://www.qualitus.de" target="_blank"><img src="./templates/qualitus/images/spacer.gif" width="20" height="10" border="0"><img src="./templates/qualitus/images/qualitus_logo.gif" width="72" height="78" border="0" align="top"></a></td>
                        <td width="70%" valign="top"><div class="ilLogin"><!-- END registration_link -->
                       					 </div>
                        <div class="il_Tab_navi"> {TXT_LOGIN_AS} {USERNAME}
                        <a href="{LINK_LOGOUT2}" target="_top">{TXT_LOGOUT2}</a> </div></td>
                      </tr>
              </table></td>
				<td width="1" bgcolor="#E9E9E9"><img src="./templates/qualitus/images/tp_trans.gif" width="1" height="88"></td>
				<td height="92" valign="top" bgcolor="#E9E9E9">
							<table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                        			<td valign="top">
										<div class="il_Tab_navi">
										<!-- BEGIN desktopbutton -->
												<a class="ilMainHeader" href="{SCRIPT_DESK}" target="{TARGET_DESK}">{TXT_PERSONAL_DESKTOP}</a>
												<span class="ilMainHeader">&nbsp;|&nbsp;</span>
										<!-- END desktopbutton -->
												<a class="ilMainHeader" href="{SCRIPT_CATALOG}" target="{TARGET}">{TXT_CATALOG}</a>
										<!-- BEGIN searchbutton -->
												<span class="ilMainHeader">&nbsp;|&nbsp;</span>
												<a class="ilMainHeader" href="{SCRIPT_SEARCH}" target="{TARGET_SEARCH}">{TXT_SEARCH}</a>
										<!-- END searchbutton -->
										<!-- BEGIN mailbutton -->
												<span class="ilMainHeader">&nbsp;|&nbsp;</span>
												<a class="ilMainHeader" href="{SCRIPT_MAIL}" target="{TARGET_MAIL}">{TXT_MAIL}</a>
												<span class="ilMainHeader">&nbsp;|&nbsp;</span>
										<!-- END mailbutton -->
										<!-- BEGIN userisadmin -->
												<a class="ilMainHeader" href="{SCRIPT_ADMIN}" target="{TARGET_ADMIN}">{TXT_ADMINISTRATION}</a>
										<!-- END userisadmin -->
										</div>
									</td>
									<td>
									<!-- BEGIN userisanonymous -->
										<form nowrap="nowrap" name="languageselection" action="{LANG_FORM_ACTION}" method="post">
										<div class="il_Tab_navi">
										<span class="il_menu">{TXT_NOT_LOGGED_IN}!</span>
										<a href="{LINK_LOGIN}" target="_top">{TXT_LOGIN}</a>
										<!-- BEGIN registration_link -->
										<span class="il_menu">&nbsp;|&nbsp;</span>
										<a href="{LINK_REGISTER}" target="bottom">{TXT_REGISTER}</a>
										<!-- END registration_link -->
										<br/>
										
										<select name="change_lang_to" onChange="this.form.submit()"> 
										<option value="">{TXT_CHOOSE_LANGUAGE}</option>
										<!-- BEGIN languages -->
										<option value="{LANG_KEY}" {SELECTED_LANG}>{LANG_NAME}</option>
										<!-- END languages -->
										</select>
										<input class="submit" type="submit" value="{TXT_OK}"/>
										</div>
										</form>	
									<!-- END userisanonymous -->
									</td>
                                  </tr>
                  </table>
	  		  </td>
			</tr>
			<tr>
				<td  height="23" class="naviback1"></td>
				<td height="23"><img src="./templates/qualitus/images/p_weiss.gif" width="1" height="23"></td>
				<td height="23" align="right" valign="top" class="naviback2"><img src="./templates/qualitus/images/linea_ende.gif" align="top"></td>
			</tr>
			<tr>
				<td width="36%" height="1"><img src="./templates/qualitus/images/p_weiss.gif" width="258" height="1"></td>
				<td height="1"><img src="./templates/qualitus/images/p_weiss.gif" width="1" height="1"></td>
				<td width="460" height="1"><img src="./templates/qualitus/images/p_weiss.gif" width="460" height="1"></td>
			</tr>
			<tr>
			  <td align="center" valign="top" bgcolor="#E9E9E9"></td>
				<td valign="top" bgcolor="#E9E9E9"></td>
				<td valign="top" bgcolor="#E9E9E9"></td>
			</tr>
  </table>
</div>
