<tr class="{CSS_ROW}">
	<td class="std">
	</td>

	<td class="std">
		{STYLE_NAME}
	</td>
	<td class="std">
		{SKIN_NAME}
	</td>
	<td class="std">
		{SUB_STYLE_OF}
	</td>
	<td class="std">
		{CATEGORIES}
	</td>
	<td class="std">
		<!-- BEGIN default_input --><input type="radio" name="default_skin_style" value="{DEFAULT_ID}" disabled {CHECKED_DEFAULT} /><!-- END default_input -->
	</td>
	<td class="std">
		<!-- BEGIN active_input --><input type="checkbox" name="st_act[{ACTIVE_ID}]" value="1" disabled {CHECKED_ACTIVE} /><!-- END active_input -->
	</td>
	<td class="std">
		{USERS}
	</td>
</tr>
