<tr class="{CSS_ROW}">
	<td class="std">
		<!-- BEGIN login_link -->
		<span class="small"><a href="{HREF_LOGIN}">{VAL_LOGIN}</a></span>
		<!-- END login_link -->
		<!-- BEGIN login_plain -->
		<span class="small">{VAL_LOGIN_PLAIN}</span>
		<!-- END login_plain -->
	</td>
	<!-- BEGIN firstname -->
	<td class="std">
		<span class="small">{VAL_FIRSTNAME}</span>
	</td>
	<!-- END firstname -->
	<!-- BEGIN lastname -->
	<td class="std">
		<span class="small">{VAL_LASTNAME}</span>
	</td>
	<!-- END lastname -->
	<!-- BEGIN online_time -->
	<td class="std">
		<span class="small">{VAL_ONLINE_TIME}</span>
	</td>
	<!-- END online_time -->
	<!-- BEGIN last_login -->
	<td class="std">
		<span class="small">{VAL_LAST_LOGIN}</span>
	</td>
	<!-- END last_login -->
</tr>