@use "sass:map";
@use "../../010-settings/" as *;
@use "../../030-tools/tool_color-shades" as *;
@use "../../030-tools/tool_contrast-color" as *;

// building priority color map
$tag-priority-bg-colors: color-desaturation-map($il-btn-tag-bg, ("verylow":80%,"low":60%,"middle":40%,"high":20%,"veryhigh":0%));
$tag-additional-priority-colors: ("highlighted": $il-btn-tag-bg-highlighted);
$tag-priority-bg-colors: map.merge($tag-priority-bg-colors, $tag-additional-priority-colors);

$tag-priority-text-colors: contrast-color-for-maps($tag-priority-bg-colors, $il-text-color, $il-text-color-invert);