@use "../../010-settings/"as *;

//** Text color of inactive buttons
$il-disabled-btn-color: darken($il-text-color, 20%); // wasn't on settings layer
$il-disabled-btn-bg: #b0b0b0;
$il-disabled-btn-border: #b0b0b0;
$il-disabled-btn-color: darken($il-text-color, 20%);

//** Text color of engaged buttons
$il-engaged-btn-color: $il-text-color;
$il-engaged-btn-bg: white;

//** Background color for tags with relevance 5; by default, color is desaturated in steps of 20%.
$il-btn-tag-bg: #75deea;
$il-btn-tag-bg-relevance-verylow: desaturate($il-btn-tag-bg, 80%);
$il-btn-tag-bg-relevance-low: desaturate($il-btn-tag-bg, 60%);
$il-btn-tag-bg-relevance-middle: desaturate($il-btn-tag-bg, 40%);
$il-btn-tag-bg-relevance-high: desaturate($il-btn-tag-bg, 20%);
$il-btn-tag-bg-relevance-veryhigh: $il-btn-tag-bg;
$il-btn-tag-bg-highlighted: $il-warning-color;
//** Foreground colors for tags; usually black/white depending on the background color
$il-btn-tag-fg-relevance-verylow: contrast(desaturate($il-btn-tag-bg, 80%));
$il-btn-tag-fg-relevance-low: contrast(desaturate($il-btn-tag-bg, 60%));
$il-btn-tag-fg-relevance-middle: contrast(desaturate($il-btn-tag-bg, 40%));
$il-btn-tag-fg-relevance-high: contrast(desaturate($il-btn-tag-bg, 20%));
$il-btn-tag-fg-relevance-veryhigh: contrast($il-btn-tag-bg);
$il-btn-tag-fg-highlighted: white;
//** Border radius of tags
$il-btn-tag-border-radius: 3px;
//** margin of tags
$il-btn-tag-margin: 2px 4px 2px 0;