@use "../../010-settings/" as *;

//## Basic adjustments for the tree
$il-tree-node-indentation: $il-font-size-base;
//** Vertical Space between nodes
$il-tree-node-vertical-spacing: 3px;
//** Horizontal space between expand/collapse icon, an optional node icon and node label
$il-tree-node-horizontal-spacing: 4px;