<tr>			
	<td colspan=3 style="border-style: solid; border-width: 0" $DP_CSS[tblheader] >$DP_language[dv_rotation_date]</td>		
</tr>		
<tr height=30 >		
	<td	width="20%">Rotation :</td>
	<td width="80%" colspan=2>
		<select name="DateValuesRotation" size="1" onChange="CheckSelectRotation('rotationtime')"  >					
			<option $DateValues[0] value="0">$DP_language[r_nonrecurring]</option> 
			<option $DateValues[1] value="1">$DP_language[r_day]</option>
			<option $DateValues[2] value="2">$DP_language[r_week]</option>
			<option $DateValues[3] value="3">$DP_language[r_14]</option>
			<option $DateValues[4] value="4">$DP_language[r_4_weeks]</option>	
			<option $DateValues[5] value="5">$DP_language[r_month]</option>	
			<option $DateValues[6] value="6">$DP_language[r_halfyear]</option>	
			<option $DateValues[7] value="7">$DP_language[r_year]</option>
		</select>
<!-- Hilfe Funktion Start -->
{jsscriptIn}
<a onMouseOver=show('6') onMouseOut=hide('6') href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]#_Toc59013340" target="_blank">
	<IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/help.gif" border=0>
</a>
<div id='6' style='position:absolute; top:400px; left:0px; width:250; visibility:hidden; z-index:1; background-color:white'>
<table border="0" cellpadding="2" cellspacing="2" style="border-collapse: collapse"  width="100%" height="100%">
  <tr>
    <td width="100%" bgcolor="#000080"><b><font color="#FFFFFF">$DP_language[help_rotation]</font></b> </td>
  </tr>
  <tr>
    <td width="100%" height="100%" valign="top" bgcolor="#FFFFFF" ><font color="#000000">$DP_language[help_rotation_l] $DP_language[help_further]</font></td>
  </tr>
</table>
</div>
{jsscriptOut}
<noscript><a href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]#_Toc59013340" target="_blank" TITLE="$DP_language[help_rotation]" ><IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/help.gif" border=0></a></noscript>	
<!-- Hilfe Funktion End -->

	</td >		
</tr>
<tr height=30  id="rotationtime" >
	<td	width="20%">$DP_language[dv_rotation_end]</td>
	<td width="10">
		<INPUT size=10 value="$date6" name="date6"> 			
	</td >			
	<td width="75%">
		$DateValues[popupcall_3]	
		<A id=anchor6 onclick="cal6.select(document.forms[0].date6,'anchor6','dd/MM/yyyy'); return false;" href="#"  name=anchor6>					
			<IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/cal.gif" border=0>				
		</A>			
<!-- Hilfe Funktion Start -->
{jsscriptIn}
<a onMouseOver=show('7') onMouseOut=hide('7') href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]#_Toc59013340" target="_blank">
	<IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/help.gif" border=0>
</a>
<div id='7' style='position:absolute; top:400px; left:0px; width:250; visibility:hidden; z-index:1; background-color:white'>
<table border="0" cellpadding="2" cellspacing="2" style="border-collapse: collapse"  width="100%" height="100%">
  <tr>
    <td width="100%" bgcolor="#000080"><b><font color="#FFFFFF">$DP_language[help_endrotation]</font></b> </td>
  </tr>
  <tr>
    <td width="100%" height="100%" valign="top" bgcolor="#FFFFFF" ><font color="#000000">$DP_language[help_endrotation_l] $DP_language[help_further]</font></td>
  </tr>
</table>
</div>
{jsscriptOut}
<noscript><a href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]#_Toc59013340" target="_blank" TITLE="$DP_language[help_endrotation]" ><IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/help.gif" border=0></a></noscript>	
<!-- Hilfe Funktion End -->
	</td>
</tr>
