<tr>		
	<td colspan=3 style="border-style: solid; border-width: 0" $DP_CSS[tblheader] >Message</td>
</tr>
<tr>		
	<td colspan=3 ><form>
			
		<input type="hidden" name="date2"						value="$date2">
		<input type="hidden" name="DateValues[begin_h]"			value="$DateValues[begin_h]">
		<input type="hidden" name="DateValues[begin_min]"		value="$DateValues[begin_min]">
		<input type="hidden" name="DateValuesWhole_day"			value="$DateValuesWhole_day">
		<input type="hidden" name="date4"						value="$date4">
		<input type="hidden" name="DateValues[end_h]"			value="$DateValues[end_h]">
		<input type="hidden" name="DateValues[end_min]"			value="$DateValues[end_min]">
		<input type="hidden" name="DateValuesRotation"			value="$DateValuesRotation">
		<input type="hidden" name="date6"						value="$date6">
		<input type="hidden" name="DateValuesGroup_id"			value="$DateValuesGroup_id">
		<input type="hidden" name="DateValues[keyword_id]"		value="$DateValues[keyword_id]">
		<input type="hidden" name="DateValues[text]"			value="$DateValues[text]">
		<input type="hidden" name="DateValues[shorttext]"		value="$DateValues[shorttext]">
		<input type="hidden" name="DateValues[date_id]"			value="$DateValues[date_id]">

		<input type="hidden" name="DateValues[referer]"			value="$DateValues[caller]">
		<center>
		$msg
		<input type="button" value="Back" onClick="document.Formular.action='dateplaner.php?app=date&dateview=$DateValues[caller]'; document.Formular.submit()" >
		</center>
		</td>
</tr>
