<tr>		
	<td colspan=3 style="border-style: solid; border-width: 0" $DP_CSS[tblheader] >$DP_language[dv_message]</td>
</tr>
<tr height=30 >
	<td width="20%" >$DP_language[dv_shorttext]</td>
	<td width="80%" colspan=2 >
		<input type="text" value="$DateValues[shorttext]" name="DateValues[shorttext]" size=50>
<!-- Hilfe Funktion Start -->
{jsscriptIn}
<a onMouseOver=show_left('10') onMouseOut=hide('10') href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]#_Toc59013343" target="_blank">
	<IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/help.gif" border=0>
</a>
<div id='10' style='position:absolute; top:400px; left:0px; width:300; visibility:hidden; z-index:1; background-color:white'>
<table border="0" cellpadding="2" cellspacing="2" style="border-collapse: collapse"  width="100%" height="100%">
  <tr>
    <td width="100%" bgcolor="#000080"><b><font color="#FFFFFF">$DP_language[help_shorttext]</font></b> </td>
  </tr>
  <tr>
    <td width="100%" height="100%" valign="top" bgcolor="#FFFFFF" ><font color="#000000">$DP_language[help_shorttext_l] $DP_language[help_further]</font></td>
  </tr>
</table>
</div>
{jsscriptOut}
<noscript><a href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]#_Toc59013343" target="_blank" TITLE="$DP_language[help_shorttext]" ><IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/help.gif" border=0></a></noscript>	
<!-- Hilfe Funktion End -->
	</td>
</tr>	
<tr>
	<td	width="20%" >$DP_language[dv_text]</td>
	<td width="80%" colspan=2  >
		<textarea name="DateValues[text]" cols="50" rows="10">$DateValues[text]</textarea>
<!-- Hilfe Funktion Start -->
{jsscriptIn}
<a onMouseOver=show_left('11') onMouseOut=hide('11') href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]#_Toc59013343" target="_blank">
	<IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/help.gif" border=0>
</a>
<div id='11' style='position:absolute; top:400px; left:0px; width:300; visibility:hidden; z-index:1; background-color:white'>
<table border="0" cellpadding="2" cellspacing="2" style="border-collapse: collapse"  width="100%" height="100%">
  <tr>
    <td width="100%" bgcolor="#000080"><b><font color="#FFFFFF">$DP_language[help_text]</font></b> </td>
  </tr>
  <tr>
    <td width="100%" height="100%" valign="top" bgcolor="#FFFFFF" ><font color="#000000">$DP_language[help_text_l] $DP_language[help_further]</font></td>
  </tr>
</table>
</div>
{jsscriptOut}
<noscript><a href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]#_Toc59013343" target="_blank" TITLE="$DP_language[help_keyword]" ><IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/help.gif" border=0></a></noscript>	
<!-- Hilfe Funktion End -->
	</td>
</tr>
