<form name="Formular" action="dateplaner.php?app=list" method="POST" >
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber1">
  <tr $DP_CSS[tblheader] height=20 >
	<td align="middle" colspan=4>
		<b>$DP_language[Listbox_long]</b>
<!-- Hilfe Funktion Start -->
{jsscriptIn}
<a onMouseOver=show('302') onMouseOut=hide('302') href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]#_Toc59013358" target="_blank">
	<IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/help.gif" border=0>
</a>
<div id='302' style='position:absolute; top:400px; left:0px; width:250; visibility:hidden; z-index:1; background-color:white'>
<table border="0" cellpadding="2" cellspacing="2" style="border-collapse: collapse"  width="100%" height="100%">
  <tr>
    <td width="100%" bgcolor="#000080"><b><font color="#FFFFFF">$DP_language[help_list]</font></b> </td>
  </tr>
  <tr>
    <td width="100%" height="100%" valign="top" bgcolor="#FFFFFF" ><font color="#000000">$DP_language[help_list_l] $DP_language[help_further]</font></td>
  </tr>
</table>
</div>
{jsscriptOut}
<noscript><a href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]#_Toc59013358" target="_blank" TITLE="$DP_language[help_list]" ><IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/help.gif" border=0></a></noscript>	
<!-- Hilfe Funktion End -->

	</td>
  </tr>
  <tr>
	<td align="middle"  colspan=4>
		&nbsp;
	</td>
  </tr>

	$list_navigation
  <tr>
    <td width="100%" colspan="2" height="5">&nbsp;
	</td>
  </tr>
  <tr>
    <td width="100%" colspan="2">
	  <table border="1" cellpadding="2" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber3">
		  <tr $DP_CSS[tblheader]>
			<td width="15%">$DP_language[begin_date]</td>
	        <td width="15%">$DP_language[end_date]</td>
			<td width="25%">$DP_language[shorttext]</td>
	        <td width="45%">$DP_language[Text]</td>
		  </tr>
			$list_float

	</table>
	</td>
  </tr>

</table>
</form>
