<table border="0" cellspacing="1" cellpadding="2" width="162" bgcolor="#909090">
              <tr  height=19 $DP_CSS[tblheader] >
                <td>
					<!--<span $DP_CSS[small]>$DP_language[keywords]</span>-->
					$DP_language[keywords]
<!-- Hilfe Funktion Start -->
{jsscriptIn}
<a onMouseOver=show('301') onMouseOut=hide('301') href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]#_Toc59013353" target="_blank">
	<IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/help.gif" border=0>
</a>
<div id='301' style='position:absolute; top:400px; left:0px; width:250; visibility:hidden; z-index:1; background-color:white'>
<table border="0" cellpadding="2" cellspacing="2" style="border-collapse: collapse"  width="100%" height="100%">
  <tr>
    <td width="100%" bgcolor="#000080"><b><font color="#FFFFFF">$DP_language[help_keywordUse]</b> </td>
  </tr>
  <tr>
    <td width="100%" height="100%" valign="top" bgcolor="#FFFFFF" ><font color="#000000">$DP_language[help_keywordUse_l] $DP_language[help_further]</font></td>
  </tr>
</table>
</div>
{jsscriptOut}
<noscript><a href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]#_Toc59013353" target="_blank" TITLE="$DP_language[help_keywordUse]" ><IMG src="$templatefolder/$actualtemplate/images/help.gif" border=0></a></noscript>	
<!-- Hilfe Funktion End -->
				</td>
              </tr>
              <tr $DP_CSS[tblrow2]>
                <td>
					$keywords_float
				</td>
              </tr>
</table>
