<td align="middle" width="5%" height="100%" rowSpan="$rowSpan" class="tblrow2">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="90%"  height="100%">
      <tr>
        <td width="100%" TITLE="$DP_language[myeahr]"><center><a href="dateplaner.php?app=month&timestamp=$lastyear"><<<</a></td>
      </tr>
      <tr>
        <td width="100%" TITLE="$DP_language[mmonth]"><center><a href="dateplaner.php?app=month&timestamp=$lastmonth"><<</a></td>
      </tr>
      <tr>
        <td width="100%" TITLE="$DP_language[mweek]"><center><a href="dateplaner.php?app=month&timestamp=$lastweek&week_s=1"><</a></td>
      </tr>
      <tr>
        <td width="100%" TITLE="$DP_language[today]"><center><a href="dateplaner.php?app=month&timestamp=$today&first_change=1">$DP_language[today]</a></td>
      </tr>
      <tr>
        <td width="100%" TITLE="$DP_language[pweek]"><center><a href="dateplaner.php?app=month&timestamp=$nextweek&week_s=1">></a></td>
      </tr>
      <tr>
        <td width="100%" TITLE="$DP_language[pmonth]"><center><a href="dateplaner.php?app=month&timestamp=$nextmonth">>></a></td>
      </tr>
      <tr>
        <td width="100%" TITLE="$DP_language[pyear]"><center><a href="dateplaner.php?app=month&timestamp=$nextyear">>>></a></td>
      </tr>
    </table>
  </td> 

