<form name="propertiesForm" action="dateplaner.php?app=properties" method="post">
<table style="border-width: 0; border-collapse: collapse;" cellspacing="0" cellpadding="2" border="0" class="fullwidth"> 
  <tr class="tblheader">
	<td align="middle"  colspan=2>
		<b>$DP_language[properties]</b>
	</td>
  </tr>
  <tr>
	<td align="middle"  colspan=2>
		&nbsp;
	</td>
  </tr>
  <tr class="tblheader" >
	<td align="middle" colspan=2 >
		<b>$DP_language[keywords]</b>
	</td>
  </tr>
  <tr class="tblrow2" >
	<td align="right" valign="center"  rowspan=2 height="130" width="50%">
		<select name='keyword' size='5' onChange='setKeywordEdit()'>
		$optionBox
		</select>
	</td>
	<td align="left" valign="bottom" width="50%"><input type='submit' name='btn_delete' value='$DP_language[delete]'>
<!-- start help function -->
{jsscriptIn}
<a onMouseOver=show('302') onMouseOut=hide('302') href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]#_Toc59013352" target="_blank">
	<IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/help.gif" border=0>
</a>
<div id='302' style='position:absolute; top:400px; left:0px; width:250; visibility:hidden; z-index:1; background-color:white'>
<table border="0" cellpadding="2" cellspacing="2" style="border-collapse: collapse"  width="100%" height="100%">
  <tr>
    <td width="100%" bgcolor="#000080"><b><font color="#FFFFFF">$DP_language[help_properties_del]</font></b> </td>
  </tr>
  <tr>
    <td width="100%" height="100%" valign="top" bgcolor="#FFFFFF" ><font color="#000000">$DP_language[help_properties_del_l] $DP_language[help_further]</font></td>
  </tr>
</table>
</div>
{jsscriptOut}
<noscript><a href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]#_Toc59013352" target="_blank" TITLE="$DP_language[help_properties_del]" ><IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/help.gif" border=0></a></noscript>	
<!-- end help function -->
	<br><br>
	</td>
  </tr>
  <tr class="tblrow2">
	<td align="left" valign="top" >$DP_language[changeTo]<br>
		<input name='changedKeyword' type='text' size='20' maxlength='20'>&nbsp;<input type='submit' name='btn_accept' value='OK'>
<!-- start help function -->
{jsscriptIn}
<a onMouseOver=show('303') onMouseOut=hide('303') href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]#_Toc59013351" target="_blank">
	<IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/help.gif" border=0>
</a>
<div id='303' style='position:absolute; top:400px; left:0px; width:250; visibility:hidden; z-index:1; background-color:white'>
<table border="0" cellpadding="2" cellspacing="2" style="border-collapse: collapse"  width="100%" height="100%">
  <tr>
    <td width="100%" bgcolor="#000080"><b><font color="#FFFFFF">$DP_language[help_properties_alt]</font></b> </td>
  </tr>
  <tr>
    <td width="100%" height="100%" valign="top" bgcolor="#FFFFFF" ><font color="#000000">$DP_language[help_properties_alt_l] $DP_language[help_further]</font></td>
  </tr>
</table>
</div>
{jsscriptOut}
<noscript><a href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]#_Toc59013351" target="_blank" TITLE="$DP_language[help_properties_alt]" ><IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/help.gif" border=0></a></noscript>	
<!-- end help function -->
	</td>
  </tr>
  <tr class="tblrow2">
	<td align="right" valign="center" height="50" >$DP_language[newKeyword]
	</td>
	<td align="left"  >
		<input name='newKeyword' type='text' size='20' maxlength='20'>&nbsp;<input type='submit' name='btn_accept' value='OK'>
<!-- start help function -->
{jsscriptIn}
<a onMouseOver=show('304') onMouseOut=hide('304') href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]#_Toc59013350" target="_blank">
	<IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/help.gif" border=0>
</a>
<div id='304' style='position:absolute; top:400px; left:0px; width:250; visibility:hidden; z-index:1; background-color:white'>
<table border="0" cellpadding="2" cellspacing="2" style="border-collapse: collapse"  width="100%" height="100%">
  <tr>
    <td width="100%" bgcolor="#000080"><b><font color="#FFFFFF">$DP_language[help_properties_new]</font></b> </td>
  </tr>
  <tr>
    <td width="100%" height="100%" valign="top" bgcolor="#FFFFFF" ><font color="#000000">$DP_language[help_properties_new_l] $DP_language[help_further]</font></td>
  </tr>
</table>
</div>
{jsscriptOut}
<noscript><a href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]#_Toc59013350" target="_blank" TITLE="$DP_language[help_properties_new]" ><IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/help.gif" border=0></a></noscript>	
<!-- end help function -->
	</td>
  </tr>
  <tr>
	<td align="middle"  colspan=2>
		&nbsp;
	</td>
  </tr>
  <tr class="tblheader">
	<td align="middle" colspan=2 >
		<b>$DP_language[View]</b>
	</td>
  </tr>
  <tr class="tblrow2">
	<td align="right" height="50" >$DP_language[starttime_for_view]
	</td>
	<td align="left"  >
		<select size="1" name="starttime">
  		<option selected>$_SESSION[DP_Starttime]</option>
  		<option>05:00:00</option>
  		<option>06:00:00</option>
  		<option>07:00:00</option>
  		<option>08:00:00</option>
  		<option>09:00:00</option>
  		<option>10:00:00</option>
  		<option>11:00:00</option>
  		<option>12:00:00</option>
  		<option>13:00:00</option>
  		<option>14:00:00</option>
  		<option>15:00:00</option>
  		</select>
	</td>
  </tr>
  <tr class="tblrow2">
	<td align="right" height="50" >$DP_language[endtime_for_view]
	</td>
	<td align="left"  >
		<select size="1" name="endtime">
  		<option selected>$_SESSION[DP_Endtime]</option>
  		<option>16:00:00</option>
  		<option>17:00:00</option>
  		<option>18:00:00</option>
  		<option>19:00:00</option>
  		<option>20:00:00</option>
  		<option>21:00:00</option>
  		<option>22:00:00</option>
  		<option>23:00:00</option>
  		<option>24:00:00</option>
  		</select>
	</td>
  </tr>
  <tr class="tblrow2">
	<td align="middle" height="50" colspan=2>
		<input type='submit' name='btn_time' value='OK'>
<!-- start help function -->
{jsscriptIn}
<a onMouseOver=show('305') onMouseOut=hide('305') href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]" target="_blank">
	<IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/help.gif" border=0>
</a>
<div id='305' style='position:absolute; top:400px; left:0px; width:250; visibility:hidden; z-index:1; background-color:white'>
<table border="0" cellpadding="2" cellspacing="2" style="border-collapse: collapse"  width="100%" height="100%">
  <tr>
    <td width="100%" bgcolor="#000080"><b><font color="#FFFFFF">$DP_language[help_properties_time]</font></b> </td>
  </tr>
  <tr>
    <td width="100%" height="100%" valign="top" bgcolor="#FFFFFF" ><font color="#000000">$DP_language[help_properties_time_l] $DP_language[help_further]</font></td>
  </tr>
</table>
</div>
{jsscriptOut}
<noscript><a href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]" target="_blank" TITLE="$DP_language[help_properties_time]" ><IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/help.gif" border=0></a></noscript>	
<!-- end help function -->
	</td>
  </tr>
</table>
</form>   
<form name="parseInput" action="dateplaner.php?app=properties" method="post" enctype="multipart/form-data">
<table style="border-width: 0; border-collapse: collapse;" cellspacing="0" cellpadding="2" border="0" class="fullwidth">
  </tr>
	<td align="middle"  colspan=2>
		&nbsp;
	</td>
  </tr>
  </tr> 
  <tr class="tblheader">
	<td align="middle" colspan=2 >
		<b>$DP_language[importDates]</b>
	</td>
  </tr> 
  <tr class="tblrow2">
	<td align="middle" height="50" colspan=2>$parsedata
		<br>
		<input name="Datei" type="file" size="50" maxlength="100000" accept="text/CSV">
		<br>		
		<br>
		<input type="submit" value="$DP_language[readimportfile]">
<!-- start help function -->
{jsscriptIn}
<a onMouseOver=show('306') onMouseOut=hide('306') href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]" target="_blank">
	<IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/help.gif" border=0>
</a>
<div id='306' style='position:absolute; top:400px; left:0px; width:250; visibility:hidden; z-index:1; background-color:white'>
<table border="0" cellpadding="2" cellspacing="2" style="border-collapse: collapse"  width="100%" height="100%">
  <tr>
    <td width="100%" bgcolor="#000080"><b><font color="#FFFFFF">$DP_language[help_properties_import]</font></b> </td>
  </tr>
  <tr>
    <td width="100%" height="100%" valign="top" bgcolor="#FFFFFF" ><font color="#000000">$DP_language[help_properties_import_l] $DP_language[help_further]</font></td>
  </tr>
</table>
</div>
{jsscriptOut}
<noscript><a href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]" target="_blank" TITLE="$DP_language[help_properties_import]" ><IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/help.gif" border=0></a></noscript>	
<!-- end help function -->

		<br>&nbsp;

	</td>
  </tr>
</table>
</form> 
