@lso-dark-bg: darken(@il-secondary-container-bg, 10%);

.ilLSOLearnerView { /*ILIAS-GUI, "startpage" of LSO*/

	.il-workflow-step-label,
	.il-workflow-step-label .btn {
		color: @text-color !important;
		cursor: default !important;
		text-decoration: none !important;
	}
}

.ilLSOKioskModeObjectHeader {
	.il_HeaderInner{
		padding-bottom: 5px;
	}
}
.ilLSOKioskModeNavigation {
	margin-bottom: 10px;
	background-color: @lso-dark-bg;
	.navbar-form {
		line-height: 25px;
	}
}

.ilLSOKioskModeContent {
	.panel-primary {
		.panel-heading {
			display: none;
		}
	}
}