<tr class="{CSS_ROW}">
    <!-- BEGIN check --><td class="std small">{VAL_CHECK}</td><!-- END check -->
    <!-- BEGIN no_sorting --><td class="std small">
    {VAL_NO_SORTING}</td>
    <!-- END no_sorting -->
	<td class="std small">
		<!-- BEGIN unlinked_subject -->{VAL_UNLINKED_SUBJECT}<!-- END unlinked_subject -->
		<!-- BEGIN linked_subject --><a href="{VAL_EDIT_URL}" title="{VAL_LINKED_SUBJECT}">{VAL_LINKED_SUBJECT}</a><!-- END linked_subject -->
	</td>
	<td class="std small">{VAL_DATE}</td>
</tr>
