<tr class="{CSS_ROW}">
    <!-- BEGIN check --><td class="std small" valign="top">{VAL_CHECK}</td><!-- END check -->
    <!-- BEGIN no_sorting --><td class="std small"  valign="top">
    {VAL_NO_SORTING}</td>
    <!-- END no_sorting -->
    <!-- BEGIN sorting --><td class="std small"  valign="top">
    <input id="{VAL_SORTING}" size="3" maxlength="4" type="text" value="{VAL_SORTING}" name="{VAL_SORTING_NAME}" /></td>
    <!-- END sorting -->
	<td class="std small" valign="top">{VAL_SUBJECT}</td>
	<td class="std small" valign="top">{VAL_AUTHOR}</td>
	<td class="std small" valign="top">{VAL_ARTICLE_STATS}</td>
	<td class="std small" valign="top">{VAL_NUM_VISIT}</td>
	<td class="std small" valign="top">{VAL_LP_DATE}</td><!-- BEGIN block_rating -->
	<td class="std small" valign="top">{VAL_RATING}</td><!-- END block_rating -->
</tr>
