<a id="frm_page_top"></a>
{THREAD_MENU}
<!-- BEGIN posttable -->
<ul id="ilFrmPostList" class="{LIST_TYPE}">
	<!-- BEGIN posts_row -->
	<li class="ilFrmPostRow{ROWCOL} ilFrmPost-level-{DEPTH}">
		<div>
			<div class="ilFrmPostImage"><img class="ilUserIcon" src="{USR_IMAGE}" /></div>
			<div class="ilFrmPostContentContainer">
				<a name="{POST_ANKER}"></a>
				<!-- BEGIN draft_anchor --><a name="{DRAFT_ANCHOR}"></a><!-- END draft_anchor -->
				<div class="ilFrmPostHeader">
					<span class="small"><!-- BEGIN usr_name -->{USR_NAME} | <!-- END usr_name -->{AUTHOR} <!-- BEGIN role --> ({ROLE})<!-- END role --><!-- BEGIN pseudonym --> ({PSEUDONYM})<!-- END pseudonym --> | {POST_DATE}<br /><!-- BEGIN post_update -->{POST_UPDATE_TXT}  <!-- BEGIN update_usr_name -->{UPDATE_USR_NAME} | <!-- END update_usr_name -->{UPDATE_AUTHOR}<!-- END post_update --><!-- BEGIN post_not_activated_yet --><br /><span class="ilFrmPostActivationStatus">{POST_NOT_ACTIVATED_YET}</span><!-- END post_not_activated_yet --></span>
					<div class="ilFrmPostTitle">{SUBJECT}</div>
				</div><!-- BEGIN censorship_advice -->
				<div class="ilFrmPostCensorshipAdvice">{TXT_CENSORSHIP_ADVICE}:</div><!-- END censorship_advice -->
				<div class="ilFrmPostContent">{POST}</div>
				<div class="ilFrmPostClear"></div>
				<!-- BEGIN attachments -->
				<div class="ilFrmPostAttachmentsContainer small">
					{DOWNLOAD_IMG}
					{TXT_ATTACHMENTS_DOWNLOAD}<!-- BEGIN attachment_download_row -->
					<br /><a href="{HREF_DOWNLOAD}" title="{TXT_FILENAME}">{TXT_FILENAME}</a><!-- END attachment_download_row -->
					<br />{DOWNLOAD_ZIP}
				</div>
				<!-- END attachments -->
			</div>
		</div>
		<div class="ilFrmPostClear"></div><!-- BEGIN commands_block -->
		<div class="ilFrmPostCommands">{COMMANDS}</div><!-- END commands_block -->
		<div class="ilFrmPostClear"></div>
		<!-- BEGIN edit_draft_anchor --><a name="{EDIT_DRAFT_ANCHOR}"></a><!-- END edit_draft_anchor -->
		{DRAFT_FORM}
		<a name="{REPLY_ANKER}"></a>
		{FORM}
		{FORM_ADDITIONAL_JS}
	</li>
	<!-- END posts_row -->
	<!-- BEGIN posts_no --><li>{TXT_MSG_NO_POSTS_AVAILABLE}</li><!-- END posts_no -->
</ul>
<a id="frm_page_bottom"></a>
{BOTTOM_FORM}
{BOTTOM_FORM_ADDITIONAL_JS}

<!-- BEGIN jump2anchor -->
<script type="text/javascript">
    $(function() {
        document.location.href = "#{JUMP2ANCHOR_ID}";
    });
</script><!-- END jump2anchor --><!-- END posttable -->

{THREAD_MENU}
<div class="ilFrmBottomToolbar">{TOOLBAR_BOTTOM}</div>