<!--{COUNT_POST}-->
<br />
{THREAD_MENU}
<br />
<!-- BEGIN posttable -->
<table class="fullwidth">
<tr class="tblheader">
  <td class="std" width="80px">{TXT_AUTHOR}</td>
  <td class="std">{TXT_POST}</td>
</tr>
<!-- BEGIN posts_row -->
<tr>
	<td valign="top" width="80px" class="{ROWCOL}">
		<span class="small">
			<!-- BEGIN usr_name -->
			{USR_NAME}<br />
			<!-- END usr_name -->
			{AUTHOR}
		<!-- BEGIN usr_image -->
		<br />
		<img border="0px" src="{USR_IMAGE}" style="vertical-align:text-bottom; margin:5px;" />
		<!-- END usr_image -->
	 <!-- BEGIN registered -->
		<!-- <br /><nobr>{TXT_REGISTERED}</nobr><br />
		<nobr>{REGISTERED_SINCE}</nobr>-->
	 <!-- END registered -->
	 <!-- BEGIN num_posts -->
		<!--<br /><nobr>{TXT_NUM_POSTS}</nobr><br />
		<nobr>{NUM_POSTS}</nobr>-->
	 <!-- END num_posts -->
		</span>
	</td>

 <td class="{ROWCOL}" valign="top">
 <div style="float:right;">
 <span class="small">{TXT_CREATE_DATE}: {POST_DATE}</span>
 <!-- BEGIN post_update -->
 <br /><span class="small">{POST_UPDATE}</span>
 <!-- END post_update -->
 </div>
<a name="{POST_ANKER}"></a><a class="small" href="{PERMA_LINK}" target="{PERMA_TARGET}" alt="{TXT_PERMA_LINK}"><img border="0" align="top" alt="{TXT_PERMA_LINK}" src="{IMG_POSTING}" />&nbsp;{SUBJECT}</a><!-- BEGIN mark_icon -->&nbsp;<img border="0" style="vertical-align:top;" alt="{TXT_MARK_ICON}" src="{IMG_MARK_ICON}" /><!-- END mark_icon --><br />
<div style="margin:20px 0px 10px 0px;">
<!-- BEGIN censorship_advice --><b>{TXT_CENSORSHIP_ADVICE}:</b><br /><!-- END censorship_advice -->
{POST}
	<!-- BEGIN attachments -->
	<div style="margin:20px 0px 0px 0px;">
	<span class="small">
	<img src="{DOWNLOAD_IMG}" style="vertical-align:middle" alt="{TXT_DOWNLOAD_ATTACHMENT}" title="{TXT_DOWNLOAD_ATTACHMENT}" border="0" />
	<b>{TXT_ATTACHMENTS_DOWNLOAD}</b>
	<!-- BEGIN attachment_download_row -->
	<br /><a href="{HREF_DOWNLOAD}">
	{TXT_FILENAME}
	</a>
	<!-- END attachment_download_row -->
	</span>
	</div>
	<!-- END attachments -->
</div>
<div style="text-align:right; margin: 0px 0px 3px 0px;">
	<!-- BEGIN reply_cell -->
	<a class="il_ContainerItemCommand" href="{REPLY_LINK}">{REPLY_BUTTON}</a>
	<!-- END reply_cell -->
	<!-- BEGIN edit_cell -->
	<a class="il_ContainerItemCommand" href="{EDIT_LINK}">{EDIT_BUTTON}</a>
	<!-- END edit_cell -->
	<!-- BEGIN print_cell -->
	<a class="il_ContainerItemCommand" href="{PRINT_LINK}" target="_blank">{PRINT_BUTTON}</a>
	<!-- END print_cell -->
	<!-- BEGIN del_cell -->
	<a class="il_ContainerItemCommand" href="{DEL_LINK}">{DEL_BUTTON}</a>
	<!-- END del_cell -->
	<!-- BEGIN cens_cell -->
	<a class="il_ContainerItemCommand" href="{CENS_LINK}">{CENS_BUTTON}</a>
	<!-- END cens_cell -->
	<!-- BEGIN read_cell -->
	<a class="il_ContainerItemCommand" href="{READ_LINK}">{READ_BUTTON}</a>
	<!-- END read_cell -->
	<!-- BEGIN activate_deactivate_cell -->
	<a class="il_ContainerItemCommand" href="{ACTIVATE_DEACTIVATE_LINK}">{ACTIVATE_DEACTIVATE_BUTTON}</a>
	<!-- END activate_deactivate_cell -->
</div>

<!-- BEGIN kill_cell -->
<form name="formular2" action="{DEL_FORMACTION}" target="{DEL_FORM_TARGET}" method="post">
{KILL_SPACER}<a name="{KILL_ANKER}"></a>
<p class="warning">{TXT_KILL}</p>
<input class="submit" type="submit" name="confirm" value="{CONFIRM_BUTTON}" />
&nbsp;&nbsp;
<input class="submit" type="submit" name="cancel" value="{CANCEL_BUTTON}" />
</form>
<br/>
<!-- END kill_cell -->

<!-- BEGIN confirm_activation -->
<form name="formular4" action="{ACT_FORMACTION}" method="post">
{ACT_SPACER}<a name="{ACT_ANKER}"></a>	
<p class="warning">{TXT_ACT}</p>
<input class="submit" type="submit" name="cmd[{CMD_CONFIRM}]" value="{CONFIRM_BUTTON}" />	
&nbsp;&nbsp;
<input class="submit" type="submit" name="cmd[{CMD_CONFIRM_BRANCH}]" value="{CONFIRM_BRANCH_BUTTON}" />	
&nbsp;&nbsp;
<input class="submit" type="submit" name="cmd[{CMD_CANCEL}]" value="{CANCEL_BUTTON}" />
</form>
<br/>
<!-- END confirm_activation -->

<!-- BEGIN confirm_deactivation -->
<form name="formular5" action="{DEACT_FORMACTION}" method="post">
{DEACT_SPACER}<a name="{CENS_ANKER}"></a>		
<p class="warning">{TXT_DEACT}</p>
<input class="submit" type="submit" name="cmd[{CMD_CONFIRM}]" value="{CONFIRM_BUTTON}" />	
&nbsp;&nbsp;
<input class="submit" type="submit" name="cmd[{CMD_CANCEL}]" value="{CANCEL_BUTTON}" />
</form>
<br/>
<!-- END confirm_deactivation -->

<!-- BEGIN censorship_cell -->
<form name="formular3" action="{CENS_FORMACTION}" method="post">
{CENS_SPACER}<a name="{CENS_ANKER}"></a>
	<table class="std" width="95%">
	<tr class="tblheader">
		<td valign="top">{TXT_CENS_COMMENT}</td>
	</tr>
	<tr>
		<td class="option_value">
		<textarea id="{TXT_CENS_MESSAGE}" name="formData[cens_message]" cols="50" rows="5" wrap=virtual style="width:95%; height=80px">{CENS_MESSAGE}</textarea>
		</td>
	</tr>
	</table>
<p class="warning">{TXT_CENS}</p>	
<input class="submit" type="submit" name="confirm" value="{CONFIRM_BUTTON}" />
&nbsp;&nbsp;
<input class="submit" type="submit" name="cancel" value="{CANCEL_BUTTON}" />
</form>
<br/>
<!-- END censorship_cell -->

<!-- BEGIN reply_post -->
<a name="{REPLY_ANKER}"></a>
<form name="formular1" class="ilForm" action="{FORMACTION}" enctype="multipart/form-data" method="post">
<table class="std" width="95%">
<!-- BEGIN alias -->
	<tr class="tblheader">
		<td class="std">{TXT_FORM_ALIAS}</td>
	</tr>
	<tr>
		<td class="option_value">
			<input type="text" name="formData[alias]" value="{ALIAS_VALUE}" size="32" maxlength="64"><br/>
			<i>{TXT_ALIAS_INFO}</i>
		</td>
	</tr>
<!-- END alias -->
	<tr class="tblheader">
		<td class="std">{TXT_FORM_SUBJECT}</td>
	</tr>
	<tr>
		<td class="option_value"><input type="text" name="formData[subject]" value="{SUBJECT_VALUE}" size="40" maxlength="64"></td>
	</tr>
	<tr class="tblheader">
		<td class="std">
		<!-- BEGIN quotation -->
		<div style="float:right;"><input class="submit" type="submit" name="addQuote" value="{TXT_ADD_QUOTE}"/></div>
		<!-- END quotation -->
		{TXT_FORM_MESSAGE}<span class="asterisk">*</span></td>
	</tr>
	<tr>
		<td class="option_value" valign="top">
		<textarea name="formData[message]" cols="50" rows="15" wrap=virtual style="width:95%; height=250px">{MESSAGE_VALUE}</textarea>
		</td>
	</tr>
	<!-- BEGIN reply_attachment -->
	<tr class="tblheader">
		<td class="std">{TXT_ATTACHMENTS_ADD}</td>
	</tr>
	<tr>
		<td class="option_value" align="right">
		<input type="file" name="userfile" />
		</td>
	</tr>
	<!-- END reply_attachment -->
	<tr class="submit">
		<td class="submit">
			<div style="float:right;">
			<input class="submit" type="submit" name="SUB" value="{SUBMIT}"/>
			<input class="submit" type="submit" name="cmd[cancelPost]" value="{CANCEL_FORM_TXT}"/>
			</div>
			<!-- BEGIN notify -->
			<input type="checkbox" name="notify" value="1" {NOTIFY_CHECKED} /> {NOTIFY}					
			<!-- END notify -->
			<!-- BEGIN anonymize -->
			<br /><input type="checkbox" name="anonymize" value="1" {ANONYMIZE_CHECKED} /> {ANONYMIZE}
			<!-- END anonymize -->
		</td>
	</tr>
	<!-- BEGIN reply_attachment_edit -->
		<tr class="tblheader">
		<td>{TXT_ATTACHMENTS_EDIT}</td>
		</tr>
		<!-- BEGIN ATTACHMENT_EDIT_ROW -->
		<tr>
		<td class="option_value" align="left">{CHECK_FILE}&nbsp;{FILENAME}</td>
		</tr>
		<!-- END ATTACHMENT_EDIT_ROW -->
		<tr>
		<td class="submit" align="left">
		<input class="submit" type="submit" name="cmd[delete_file]" value="{ATTACHMENT_EDIT_DELETE}"/>
		</td>
		</tr>
	<!-- END reply_attachment_edit -->
</table>
</form>
<!-- END reply_post -->
 </td>
</tr>
<!-- END posts_row -->
<!-- BEGIN posts_no -->
<tr>
 <td colspan="2">{TXT_MSG_NO_POSTS_AVAILABLE}</td>
</tr>
<!-- END posts_no -->
</table>
<!-- END posttable -->
<br />
{THREAD_MENU}
<!-- BEGIN javascript -->
<script language="JavaScript">
parent.frames['tree'].document.location.href='{JAVASCRIPT}';
</script>
<!-- END javascript -->
<!-- BEGIN perma_link -->
<div class="il_info"><br />
{TXT_PERMA_LINK}: <a href="{PERMA_LINK}" target="{PERMA_TARGET}">{PERMA_LINK}</a>
</div>
<!-- END perma_link -->

