<form name="formular1" class="il_Form" action="{FORMACTION}" method="post"  enctype="multipart/form-data">
<table class="std">
 <tr class="tblheader">
 <td class="std" colspan="2">{TXT_NEW_TOPIC}</td>
 </tr>
<!-- BEGIN name -->
 <tr>
<td class="option">{TXT_ALIAS}</td>
<td class="option_value">	
	<input type="{TYPE}" name="formData[alias]" value="{ALIAS_VALUE}" size="50" maxlength="255" style="width:550px"/>{ALIAS_VALUE_2}<br />
	<i>{TXT_ALIAS_INFO}
</td>
 </tr>
<!-- END name -->
 <tr>
<td class="option">{TXT_SUBJECT}<span class="asterisk">*</span></td>
<td class="option_value"><input type="text" name="formData[subject]" value="{SUBJECT_VALUE}" size="50" maxlength="255" style="width:550px"/></td>
 </tr>
 <tr>
<td class="option" valign="top">{TXT_MESSAGE}<span class="asterisk">*</span></td>
<td class="option_value">
  <textarea name="formData[message]" cols="50" rows="15" wrap="virtual" style="width:550px; height=250px">{MESSAGE_VALUE}</textarea>
</td>
 </tr>
<!-- BEGIN attachment -->
 <tr>
<td class="option" align="right"><b>{TXT_ATTACHMENTS_ADD}</b></td>
<td class="option_value"><input type="file" name="userfile" /></td>
 </tr>
<!-- END attachment -->
  <!-- BEGIN notify -->
 <tr>
<td class="option" valign="top">{TXT_NOTIFY}</td>
<td class="option_value">&nbsp;<input type="checkbox" name="formData[notify]" value="1" {NOTIFY_CHECKED} />{NOTIFY}</td>
 </tr>
  <!-- END notify -->
  <!-- BEGIN notify_posts -->
 <tr>
<td class="option" valign="top">{TXT_NOTIFY_POSTS}</td>
<td class="option_value">&nbsp;<input type="checkbox" name="formData[notify_posts]" value="1" {NOTIFY_POSTS_CHECKED} />{NOTIFY_POSTS}</td>
 </tr>
  <!-- END notify_posts -->
 <tr>
<td class="submit" colspan="2"><span class="asterisk"> *</span><span class="small"> {TXT_REQUIRED_FIELDS}</span>
<div style="text-align:right;">
	<input class="submit" type="submit" name="cmd[addThread]" value="{SUBMIT}" />
	<input class="submit" type="submit" name="cmd[showThreads]" value="{CANCEL}" />
</div>
</td>
 </tr>
</table>
</form>