{SPACER}<a name="{ANCHOR}"></a>
<form action="{FORM_ACTION}" method="post" role="form" class="preventDoubleSubmission">
<table class="std" width="95%">
<tr class="tblheader">
	<td>{TXT_CENS_COMMENT}</td>
</tr>
<tr>
	<td class="option_value">
	<textarea id="{TXT_CENS_MESSAGE}" name="formData[cens_message]" cols="50" rows="5" wrap="virtual" style="width:95%; height=80px">{CENS_MESSAGE}</textarea>
	</td>
</tr>
</table>
<p class="warning">{TXT_CENS}</p>	
<div class="ilRight">
<!-- BEGIN change_censorship_yn -->	
<input class="btn btn-default btn-sm" type="submit" name="yes_cs_change" value="{YES_BUTTON}" />&nbsp;&nbsp;
<input class="btn btn-default btn-sm" type="submit" name="no_cs_change" value="{NO_BUTTON}" />
<!-- END change_censorship_yn -->	
<!-- BEGIN censorship -->	
<input class="btn btn-default btn-sm" type="submit" name="confirm" value="{CONFIRM_BUTTON}" />&nbsp;&nbsp;
<input class="btn btn-default btn-sm" type="submit" name="cancel" value="{CANCEL_BUTTON}" />
<!-- END censorship -->	
</div>
</form>
<br/>