@use "../../../010-settings/" as *;

//== Player
$il-player-audio-width: 100%;
$il-player-audio-height: 30px;

// audio
.il-audio-container {
  > button {
    width: $il-player-audio-width;
  }
}
.il-audio-player {
  background: transparent;
  height: $il-player-audio-height;
  width: $il-player-audio-width;
}
.il-video-container {
  video {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width:100%;
  }
  iframe {
    width:100%;
    aspect-ratio: 16/9;
    border:0;
  }
}