// slates
.il-maincontrols-slate {

	&.engaged {
	}
	&.disengaged {
		display:none;
	}
	.btn-bulky {
		padding: @il-slate-bulky-padding;
	}
	.link-bulky {
		padding: @il-slate-bulky-link-padding;
	}
	.btn-bulky,
	.link-bulky {
		align-items: flex-start;
		background-color: @il-slate-bulky-bg-color;
		border: none;
		display: flex;
		margin-bottom: @il-slate-content-spacing;
		position: relative;
		&.engaged::before,
		&.disengaged::before {
				font-family: "il-icons";
				font-size: @il-slate-bulky-glyph-size * 0.85;
				position: absolute;
				right: 10px;
				top: 20px;
		}
		&.engaged::before {
				content: " \e604";
		}
		&.disengaged::before {
				content: " \e606";
		}
		&:focus{
			color: inherit;
		}
		&:hover,
		&.engaged {
			background-color: @il-slate-bulky-bg-color-engaged;
		    color: inherit;
		}
		.icon {
			margin-top: @padding-small-vertical;
			margin-right: @il-slate-bulky-glyph-margin-right;
			filter: invert(50%);

		}
		.icon.small {
			min-width: @il-icon-size-small;
		}
		.icon.medium {
			min-width: @il-icon-size-medium;
		}
		.bulky-label {
			font-size: @il-slate-bulky-label-size;
			line-height: @il-slate-bulky-label-size * 1.133333333333333;
			text-align: left;
			word-break: normal;
		}
	}
	.il-maincontrols-slate .btn-bulky {
		background-color: @il-slate-bulky-level2-bg-color;
	}

	&.il-maincontrols-slate-notification{
		.il-maincontrols-slate-notification-title{
			text-transform: uppercase;
			padding: @padding-large-horizontal;
			.btn-bulky{
				.glyph{
					:before{
						content: " \e605";
						font-family: "il-icons";
						font-size: 1.7rem;
						margin-right: 10px;
					}
				}
				margin: -@padding-large-horizontal;
				border: none;
				border-right: solid 3px;
				border-right-color: @il-main-dark-bg;;
				padding: @padding-large-horizontal;

				background-color: transparent;
				text-transform: uppercase;

				width: 50%;
			}
		}
	}
	//@Todo, this is a fix for #27705. Note the similarities to the back button above from the notification center.
	//@Todo This should be probably refactored into a named Back Button Component or similar for slates. The usage of
	//@Todo ID as selector tag also hints to an issue concerning the unique usage of this code here.
	#il-tag-slate-container, #ilHelpPanel{
		.btn-bulky{
			.glyph{
				:before{
					content: " \e605";
					font-family: "il-icons";
					font-size: 1.7rem;
					margin-right: 10px;
				}
			}
			.bulky-label{
				margin-top: 3px;
			}
			padding: @padding-small-horizontal;
			text-align: center;
			text-transform: uppercase;
		}
	}

}

// color hierchachy highlight slate depth levels
// see Mantis #26107
.il-maincontrols-slate.engaged {
	&[data-depth-level="2"] {
		.btn-bulky:not(:hover),
		.link-bulky:not(:hover) {
			background-color: @il-slate-bulky-level2-bg-color;
		}
	}
	&[data-depth-level="3"] {
		.btn-bulky:not(:hover),
		.link-bulky:not(:hover) {
			background-color: fade(@il-slate-bulky-level2-bg-color, 15%);
		}
	}
	&[data-depth-level="4"] {
		.btn-bulky:not(:hover),
		.link-bulky:not(:hover) {
			background-color: fade(@il-slate-bulky-level2-bg-color, 10%);
		}
	}
}

.il-maincontrols-slate-content {
	p, h1, h2, h3, li {
		padding: @il-slate-content-padding @il-slate-content-padding*2;
	}
	> hr {
		margin: @il-slate-content-padding 0;
	}
	li.jstree-node {
		padding: @il-slate-tree-padding;
	}
	li.il-workflow-step {
		padding: 0 @il-slate-content-padding*2;
	}
}

.il-maincontrols-slate-close,
.il-maincontrols-slate-back {
	button {
		background-color: transparent;
	}
}

.il-maincontrols-slate-back {
	display: none;
	&.active {
		display: block;
	}
	button {
		width: 100%;
		text-align: left;
		padding: 30px 0 10px 20px;
	}
}

// close slate
.il-maincontrols-slate-close {
	width: 100%;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	height: 50px;
	margin-top: auto;
	bottom: 0;
	position: sticky;
	.bulky-label {
		display: none;
	}
	.btn-bulky {
		background-color: #fff;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		text-align: right;
		.glyph {
			padding-right: 20px;
		}
		&.engaged {
			background-color: #fff;
			border: 0;
		}
		&:active
		{
			outline: none;
		}
	}
}

// only for mobile view
// when badges are displayed together with glyphs in slate entries
// the visual left alignment is broken
@media only screen and (max-width: @grid-float-breakpoint-max) {
	.il-maincontrols-slate {
		span.glyph{
			width: 45px;
			text-align: left;
		}
		.il-avatar{
			margin-right: 45px - @il-avatar-inner-mobile-size;
		}
		.link-bulky .icon.small, .btn-bulky .icon.small {
			margin-right: 45px - @il-icon-size-small;
		}
	}
}
//
