// slates
.il-maincontrols-slate {
	&.engaged {
	}
	&.disengaged {
		display:none;
	}
	.btn-bulky {
		align-items: center;
		background-color: @slate-bg-bulky;
		display: flex;
		margin-bottom: @slate-content-spacing;
		padding: 10px 20px; /* !variable! */
		&.disengaged:before {
				content: " \e606";
				font-family: "il-icons";
				font-size: 2.1rem;
				margin-right: 10px;
		}
		&.engaged:before {
				content: " \e604";
				font-family: "il-icons";
				font-size: 2.1rem;
				margin-right: 10px;
		}
		&:hover,
		&.engaged {
			background-color: @slate-bg-bulky-engaged;
		    border-color: #e0e0e0;
		    color: inherit;
		    // box-shadow: 4px 0px 5px -2px inset #ccc;
		}
		.icon {
			filter: invert(50%);
			margin-right: 10px; /* !variable! */
		}
		.bulky-label {
			font-size: 1.5rem;
		}
	}
	.backlink {
		.btn-bulky {
			background-color: #fff; /* !variable! */
			height: @mainbar-btn-height;
			.bulky-label {
				color: @brand-primary;
			}
			.icon.small,
			.icon.small img {
				height: @icon-size-small - 6px;
				line-height: @icon-size-small - 6px;
				width: @icon-size-small - 6px;
			}
		}
	}
	.il-maincontrols-slate .btn-bulky {
		background-color: @slate-bg-bulky-level-2;
	}
}

.il-maincontrols-slate-overflow {
	min-height: 0;
}

.il-maincontrols-slate-content {
	p, h1, h2, h3, h4 {
		padding: 10px 20px; /* !variable! */
	}
}

.il-maincontrols-slate-close,
.il-maincontrols-slate-back {
	button {
		background-color: transparent;
	}
}

.il-maincontrols-slate-back {
	display: none;
	&.active {
		display: block;
	}
	button {
		width: 100%;
		text-align: left;
		padding: 30px 0 10px 20px;
	}
}

// close slate
.il-maincontrols-slate-close {
	width: 100%;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	height: 50px;
	margin-top: auto;
	bottom: 0;
	position: sticky;
	.bulky-label {
		display: none;
	}
	.btn-bulky {
		background-color: #fff;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		text-align: right;
		.glyph {
			padding-right: 20px;
		}
		&.engaged {
			background-color: #fff;
			border: 0;
		}
		&:active,
		&:focus,
		 {
			outline: none;
		}
	}
}
