<table class="il_Block">
<tr><th class="il_BlockHeader">
<!-- BEGIN block_img --><img border="0" src="{IMG_BLOCK}" /><!-- END block_img -->
{BLOCK_TITLE}
</th></tr>
{BLOCK_ROW}
<!-- BEGIN block_footer -->
<tr class="tblfooter">
	<td class="tblfooter">
	<div style="float:right;">
	{LINKBAR}
	</div>
	<span class="small">{NUMINFO}</span>
	</td>
</tr>
<!-- END block_footer -->
<!-- BEGIN block_commands -->
<tr><td class="submit">
<!-- BEGIN block_command -->
<a class="il_ContainerItemCommand" href="{CMD_HREF}">{CMD_TEXT}</a>
<!-- END block_command -->
</td></tr>
<!-- END block_commands -->
</table>
