<?php xml version = "1.0" encoding = "UTF-8"?>
<module xmlns="http://www.w3.org" version="$Id$"
        id="cld">
    <baseclasses>
    </baseclasses>
    <objects>
        <object id="cld" class_name="Cloud" dir="classes" default_pos="440" default_pres_pos="440"
                checkbox="1" inherit="1" translate="0" allow_link="1" allow_copy="0" rbac="1" export="0"
                workspace="0" repository="1">
            <subobj id="rolf" max="1">rolf</subobj>
            <parent id="cat">cat</parent>
            <parent id="crs">crs</parent>
            <parent id="fold">fold</parent>
            <parent id="grp">grp</parent>
            <parent id="recf">recf</parent>
            <parent id="root">root</parent>
        </object>
    </objects>
    <pluginslots>
        <pluginslot id="cldh" name="CloudHook"/>
    </pluginslots>
</module>