.il-drilldown {
	ul {
		list-style: none;
		padding: 0;
	}

	.btn-bulky {
		align-items: center;
		display: flex;
	}

	.il-drilldown-current .btn-bulky {
		cursor: auto;
	}

	.il-drilldown-structure,
	.il-drilldown-current ul,
	.il-drilldown-backlink ul,
	.il-drilldown-visible ul {
		display: none;
	}
}

