<div class="ilTableHeaderTitle">
	<div class="ilRight">
		<a class="il_ContainerItemCommand" href="{SHOW_HIDE_LINK}">{SHOW_HIDE_TEXT}</a>	    
	</div>
	<!-- <img src="{HEADER_IMG}" alt="{HEADER_ALT}" title="{HEADER_ALT}" /> -->
	<h3 class="ilHeader ilTableHeaderTitle">{BLOCK_HEADER_CONTENT}</h3>
</div>
<form action="{FORMACTION}" method="post">
	<div class="form-inline table-responsive">
	<table class="table table-striped">
		<thead>
	  <tr>
		<th class="std">{TXT_TITLE}</th>
		<th class="std">{TXT_START}</th>
		<th class="std">{TXT_END}</th>
	  </tr>
		</thead>
		<tbody>
	  <!-- BEGIN container_standard_row -->
	  <tr class="{ROWCLASS}">
		<td>
		<!-- BEGIN start_indent --><div style="padding-left:26px"><!-- END start_indent -->
		  <div class="ilFloatLeft">
			<img src="{TYPE_IMG}" alt="{TYPE_ALT_IMG}" title="{TYPE_ALT_IMG}" />
		  </div>
		  <div class="ilFloatLeft" style="padding-left:5px">
			<!-- BEGIN title_as_link -->
			<a class="il_ContainerItemTitle" href="{TITLE_LINK}" target="_top">{TITLE_NAME}</a>
			<!-- END title_as_link -->
			<!-- BEGIN title_plain -->
			<b>{TITLE}</b>
			<!-- END title_plain -->
			<!-- BEGIN item_description -->
			<div class="il_Description" >{DESC}</div>
			<!-- END item_description -->
			<!-- BEGIN tlt -->
			<div class="il_ItemProperties">
			  <div class="il_ItemProperty">{TXT_TLT}: {TLT_VAL}</div>
			</div>
			<!-- END tlt -->
		  </div>
		  <!-- BEGIN end_indent --></div><!-- END end_indent -->
		</td>
		<td>
		  {SUG_START}
		</td>
		<td>
		  {SUG_END}
		</td>
	  </tr>
	  <!-- END container_standard_row -->
		</tbody>
	</table>
</div>
</form>	
<br />
{FORM}