	<table class="fullwidth_invisible">
		<tr>
		  <td>
			<table class="fullwidth">
				<tr class="tbltitle">
				  <td colspan="3">
					<table class="fullwidth_invisible">
						<tr class="tbltitle">
						  <td class="tbltitle">&nbsp;{TBL_TITLE_TST}</td>
						</tr>
					</table>
				  </td>
				</tr>
				<tr class="tblheader">
				  <td class="std" nowrap="nowrap" width="{TBL_HEADER_WIDTH_TST}" >
			<div align="center">{TBL_HEADER_NAME_TST}</div></td>
				  <td class="std ilWhiteSpaceNowrap ilCenter" width="{TBL_HEADER_WIDTH_TST_1}" >{TBL_HEADER_NAME_TST_1}</td>
		  <td class="std ilWhiteSpaceNowrap ilCenter" width="{TBL_HEADER_WIDTH_TST_2}" >{TBL_HEADER_NAME_TST_2}</td>
				</tr>
				<!-- BEGIN tst_row -->
				<tr class="std">
				  <td class="{OBJ_CLASS_CENTER_TST}"><b>{OBJ_NR_TST}</b></td>
				  <td class="{OBJ_CLASS_TST}">
					<!-- BEGIN tst_visible -->
					<b>{VISIBLE_LINK_TST}</b>
					<!-- END tst_visible -->
					<!-- BEGIN tst_read -->
					<a href="{READ_LINK_TST}" target="{READ_TARGET_TST}">{READ_TITLE_TST}</a>
					<!-- END tst_read -->
				  </td>
				  <td class="{OBJ_CLASS_TST}">
				  	<!-- BEGIN tst_desklink -->
			<div class="ilFloatRight">
			  <a class="il_ContainerItemCommand" href="{DESK_LINK_TST}">{TXT_DESK_TST}</a>
			</div>
					<!-- END tst_desklink -->
				
				  </td>
				</tr>
				<!-- END tst_row -->
			</table>
		  </td>
		</tr>
		<tr>
		  <td class="ilRight" colspan="2">{TXT_HIDE_SHOW_TST}
			<a href="{LINK_HIDE_SHOW_TST}">
			  <img src="{HIDE_SHOW_IMG_TST}" alt="{TXT_HIDE_SHOW_TST}" title="{TXT_HIDE_SHOW_TST}" />
			</a>
		</tr>
	</table>
