<tr class="{CSS_ROW}">
  	<td class="std">
  		<label for="{VAL_ID}">
			<img src="{ROW_TYPE_IMG}" alt="{ROW_TYPE_ALT}" title="{ROW_TYPE_ALT}" />
		</label>
	</td>
	<td class="std">
  		<label for="{VAL_ID}">
			{VAL_TITLE}
			<!-- BEGIN row_desc --><div class="il_Description">{VAL_DESC}</div><!-- END row_desc -->
			<!-- BEGIN row_qst --><div class="il_Description">{VAL_QST_TXT}</div><!-- END row_qst -->
			<!-- BEGIN row_warn --><div class="smallred">{VAL_WARN}</div><!-- END row_warn -->
		</label>
		<!-- BEGIN chapters -->
		<div>
			<strong>{TXT_QUESTIONS}:</strong>
			<ul class="noStyle noMargin">
				<!-- BEGIN qst -->
				<div class="listIndent">
				<li>
					<input type="checkbox" name="questions[]" value="{QST_ID}" id="{QST_ID}" {QST_CHECKED} />
					<label for="{QST_ID}"> 
						{QST_TITLE}
					<!-- BEGIN qst_desc --><div class="il_Description">{QST_DESCRIPTION}</div><!-- END qst_desc -->
					</label>
				</li>
				</div>
				<!-- END qst -->
			</ul>
		</div>
		<!-- END chapters -->
	</td>
</tr>