	<table class="fullwidth_invisible">
		<tr>
		  <td>
			<table class="fullwidth">
				<tr class="tbltitle">
				  <td colspan="3">
					<table class="fullwidth_invisible">
						<tr class="tbltitle">
						  <td class="tbltitle">&nbsp;{TBL_TITLE_OR}</td>
						</tr>
					</table>
				  </td>
				</tr>
				<tr class="tblheader">
				  <!-- BEGIN tbl_header_columns_or -->
				  <td class="std ilWhiteSpaceNowrap ilCenter" width="{TBL_HEADER_WIDTH_OR}" >{TBL_HEADER_NAME_OR}</td>
				  <!-- END tbl_header_columns_or -->
				</tr>
				<!-- BEGIN or_row -->
				<tr class="std">
				  <td class="option_value_center">
					<img src="{IMG_TYPE_OR}" alt="{TXT_IMG_OR}" title="{TXT_IMG_OR}" />
				  </td>
				  <td class="{OBJ_CLASS_OR}">
					<!-- BEGIN or_visible -->
					<b>{VISIBLE_LINK_OR}</b>
					<!-- END or_visible -->
					<!-- BEGIN or_read -->
					<a href="{READ_LINK_OR}" target="{READ_TARGET_OR}">{READ_TITLE_OR}</a>
					<!-- END or_read -->
				</td>
				 <td class="{OBJ_CLASS_OR}">
					<!-- BEGIN or_desklink -->
			<div class="ilFloatRight">
					<a class="il_ContainerItemCommand" href="{DESK_LINK_OR}">{TXT_DESK_OR}</a>
			</div>
					<!-- END or_desklink -->
				  </td>
				</tr>
				<!-- END or_row -->
			</table>
		  </td>
		</tr>
		<tr>
		  <td colspan="2" class="ilRight">{TXT_HIDE_SHOW_OR}
			<a href="{LINK_HIDE_SHOW_OR}">
			  <img src="{HIDE_SHOW_IMG_OR}" alt="{TXT_HIDE_SHOW_OR}" title="{TXT_HIDE_SHOW_OR}" />
			</a></td>
		</tr>
	</table>
