	<form action="{SELECT_FORMACTION}" method="post">
	  <table class="std" width="40%">
		<tr class="tbltitle">
		  <th class="std" colspan="2">{LANGUAGE_SELECTION}</th>
		</tr>
		<tr class="std">
		  <td class="option">{LANGUAGE}</td>
		  <td class="option_value">
			{LANG_SELECTOR}<br />
			<span class="subtitle">{INFO_TXT}</span>
		  </td>
		</tr>
		  <tr class="tblfooter">
			<td colspan="2">
			  <div class="ilRight">
				<input class="submit" type="submit" name="cmd[addHTMLArchive]" value="{TXT_SUBMIT}" />
				<input class="submit" type="submit" name="cmd[view]" value="{TXT_CANCEL}" />
			  </div>
			</td>
		  </tr>
	  </table>
	</form>