<table class="fullwidth">
	<tr class="tbltitle">
		<th colspan="3">
			&nbsp;{TBL_TITLE_OBJECTIVES}
		</th>
	</tr>
		<!-- BEGIN show -->
		<tr class="tblheader">
		  <th class="std ilWhiteSpaceNowrap" width="1">
			<div class="ilCenter">
			  {TBL_HEADER_NAME_OBJECTIVES_A}
			</div>
		  </th>
		  <th class="std ilWhiteSpaceNowrap">
			  {TBL_HEADER_NAME_OBJECTIVES_B}
		  </th>
		  <th class="std ilWhiteSpaceNowrap">
			<div class="ilCenter">
			  {TBL_HEADER_NAME_OBJECTIVES_C}
			</div>
		  </th>
		</tr>
		<!-- BEGIN objective_row -->
		<tr class="std">
		  <td class="{OBJ_CLASS_1_CENTER_OBJECTIVES}"><b>{OBJ_NR_1_OBJECTIVES}</b></td>
		  <td class="{OBJ_CLASS_1_OBJECTIVES}"><a href="{OBJ_LINK_1_OBJECTIVES}">{OBJ_TITLE_1_OBJECTIVES}</a></td>
		  <td class="{OBJ_CLASS_1_CENTER_OBJECTIVES}">
			<img src="{OBJ_STATUS_IMG_1_OBJECTIVES}" alt="{OBJ_STATUS_ALT_1_OBJECTIVES}" title="{OBJ_STATUS_ALT_1_OBJECTIVES}" />
		  </td>
		  
		</tr>
		<!-- END objective_row -->
		<!-- END show -->
</table>
  <table class="fullwidth_invisible">
  	<tr>
		<td colspan="3" class="ilRight" >{TXT_HIDE_SHOW_OBJECTIVES}
		  <a href="{LINK_HIDE_SHOW_OBJECTIVES}">
			<img src="{HIDE_SHOW_IMG_OBJECTIVES}" alt="{TXT_HIDE_SHOW_OBJECTIVES}" title="{TXT_HIDE_SHOW_OBJECTIVES}" />
		  </a>
		</td>
	</tr>
 </table>
