/* see content style roadmap */

div.ilc_QuestionPlaceHolder
{
	padding: 10px 10px 10px 10px;
	background-color: #F4F4FF;
	border-width: 1px;
	font-size: 10px;
	border-color: #D0D0FF;
	border-style: solid;
	background-image: url(../../../templates/default/images/placeholder/question_placeholder.png);
	font-weight: bold;
}

div.ilc_MediaPlaceHolder
{
	padding: 10px 10px 10px 10px;
	background-color: #F4F4FF;
	border-width: 1px;
	font-size: 10px;
	border-color: #D0D0FF;
	border-style: solid;
	min-height:100px;
	font-weight: bold;
	background-image: url(../../../templates/default/images/placeholder/media_placeholder.png);
}

div.ilc_TextPlaceHolder,
div.ilc_VerificationPlaceHolder /* no custom image yet */
{
	padding: 10px 10px 10px 10px;
	background-color: #F4F4FF;
	border-width: 1px;
	font-size: 10px;
	border-color: #D0D0FF;
	border-style: solid;
	font-weight: bold;
	background-image: url(../../../templates/default/images/placeholder/text_placeholder.png);
}

.il-copg-cell-selected {
	outline: #557b2e 2px solid;
}

#il_EditPage div.il_editarea_selected, #il_EditPage div.copg-current-edit, iframe#tinytarget_ifr {
	border-style: solid;
	border-width: 2px;
	border-color: #557b2e;
}

#ed_datatable th.il-copg-edit-table {
	background-color: #f9f9f9;
	text-align: center;
	min-width: 40px;
}

.copg-iim-area-shape-sel {
	stroke: #B54F00;
	stroke-width: 1;
	fill: transparent;
}

.copg-iim-area-shape-sel:hover {
	stroke: #0078D7;
	stroke-width: 2;
	fill-opacity: 40%;
	fill: white;
}

.copg-iim-popup {
	position:absolute;
	width: auto;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
}

button.copg-add.dropdown-toggle.btn:focus-visible {
  outline: 3px solid #0078D7;
  outline-offset: -3px;
}

#ilPageTocContent ul {
	list-style-type: none;
	padding-left: 20px;
}

#ilPageTocContent > ul {
	padding-left: 5px;
}


@media (min-width: 480px) {
	.copg-iim-popup-sm {
		max-width: 50%;
	}
}
@media (min-width: 768px) {
	.copg-iim-popup-sm {
		max-width: 35%;
	}
}
@media (min-width: 992px) {
	.copg-iim-popup-sm {
		max-width: 30%;
	}
}
@media (min-width: 1200px) {
	.copg-iim-popup-sm {
		max-width: 300px;
	}
}

@media (min-width: 480px) {
	.copg-iim-popup-md {
		max-width: 100%;
	}
}
@media (min-width: 768px) {
	.copg-iim-popup-md {
		max-width: 70%;
	}
}
@media (min-width: 992px) {
	.copg-iim-popup-md {
		max-width: 45%;
	}
}
@media (min-width: 1200px) {
	.copg-iim-popup-md {
		max-width: 600px;
	}
}

@media (min-width: 480px) {
	.copg-iim-popup-lg {
		max-width: 100%;
	}
}
@media (min-width: 768px) {
	.copg-iim-popup-lg {
		max-width: 100%;
	}
}
@media (min-width: 992px) {
	.copg-iim-popup-lg {
		max-width: 100%;
	}
}
@media (min-width: 1200px) {
	.copg-iim-popup-lg {
		max-width: 100%;
	}
}