/* Page */
div.ilc_page_frame_PageFrame
{
	padding-left: 15px;
	padding-right: 15px;
}

div.ilc_page_cont_PageContainer
{
	border: 1px solid #D6D6D6;
	background-color: #FFF;
	padding: 20px;
}

div.ilc_page_Page
{
	min-height: 300px;
}

h1.ilc_page_title_PageTitle
{
	margin-top: 5px;
	margin-bottom: 20px;
	font-size: 140%;
	padding-bottom: 3px;
	border-bottom: 1px solid #000;
	font-weight: normal;
}

div.ilc_page_tnav_TopNavigation
{
	padding: 3px;
	border-style: solid;
	border-color: #D6D6D6;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 0px;
	background-color: #F6F6F6;
	margin: 0px;
}

div.ilc_page_bnav_BottomNavigation
{
	padding: 3px;
	border-style: solid;
	border-color: #D6D6D6;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 0px;
	border-bottom-width: 1px;
	background-color: #F6F6F6;
	margin: 0px;
}

div.ilc_page_lnav_LeftNavigation
{
	float: left;
	width: 50%;
	text-align:left;
	font-size: 80%;
}

a.ilc_page_lnavlink_LeftNavigationLink
{
}

img.ilc_page_lnavimage_LeftNavigationImage
{
	background-image: url(../../../templates/default/images/nav_arr_L_s.png);
	background-repeat: no-repeat;
	background-position: left 1px;
	width: 16px;
	height: 16px;
}

div.ilc_page_rnav_RightNavigation
{
	text-align:right;
	font-size: 80%;
}

a.ilc_page_rnavlink_RightNavigationLink
{
}

img.ilc_page_rnavimage_RightNavigationImage
{
	background-image: url(../../../templates/default/images/nav_arr_R_s.png);
	background-repeat: no-repeat;
	background-position: right 1px;
	width: 16px;
	height: 16px;
}

div.ilc_page_fn_Footnote
{
	margin-top: 5px;
	margin-bottom: 5px;
}

div.ilc_BacklinkTitle
{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 100%;
	font-style: italic;
	padding-top: 3px;
	border-top-width: 1px;
	border-top-style: solid;
	border-color: #000000;
}

/* Text (Character) */
span.ilc_text_inline_Strong
{
	font-weight: bold;
}

span.ilc_text_inline_Emph
{
	font-style: italic;
}

span.ilc_text_inline_Comment
{
	color: green;
}

span.ilc_text_inline_Quotation
{
	color: brown;
	font-style: italic;
}

span.ilc_text_inline_Important
{
	text-decoration: underline;
}

span.ilc_text_inline_Accent
{
	color: #E000E0;
}

/* Links */
a.ilc_link_FootnoteLink
{
	color: blue;
	font-weight: normal;
}

a.ilc_link_FootnoteLink:hover
{
	color:#000000;
}

a.ilc_link_IntLink
{
	color: blue;
	font-weight: normal;
	text-decoration: underline;
}

a.ilc_link_IntLink:hover
{
	color:#000000;
}

a.ilc_link_IntLink:visited
{
	color: blue;
}

a.ilc_link_ExtLink
{
	color: blue;
	font-weight: normal;
	text-decoration: underline;
}

a.ilc_link_ExtLink:hover
{
	color:#000000;
}

a.ilc_link_ExtLink:visited
{
	color: blue;
}

a.ilc_link_FileLink
{
	color: blue;
	font-weight: normal;
	text-decoration: underline;
}

a.ilc_link_FileLink:hover
{
	color:#000000;
}

a.ilc_link_GlossaryLink
{
	color: blue;
	font-weight: normal;
	text-decoration: underline;
}

a.ilc_link_GlossaryLink:hover
{
	color:#000000;
}

/* Tables */
table.ilc_table_StandardTable
{
	border-collapse: collapse;
	background-color: #FFFFFF;
	margin: 10px 0px;
	border-color: #9EADBA;
}

table.ilc_table_StandardTable td {
	vertical-align: top;
}

td.ilc_table_cell_Cell1
{
	background-color:#FFCCCC;
}

td.ilc_table_cell_Cell2
{
	background-color:#CCCCFF;
}

td.ilc_table_cell_Cell3
{
	background-color:#CCFFCC;
}

td.ilc_table_cell_Cell4
{
	background-color:#FFFFCC;
}

/* Text (Block) and Sections */
div.ilc_text_block_Standard, body.ilc_text_block_Standard
{
	margin-top: 10px;
	margin-bottom: 10px;
}

div.ilc_text_block_TableContent, body.ilc_text_block_TableContent
{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}


div.ilc_text_block_List, body.ilc_text_block_List
{
	margin-top: 3px;
	margin-bottom: 3px;
}

h1.ilc_heading1_Headline1, div.ilc_text_block_Headline1, body.ilc_text_block_Headline1
{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 140%;
	font-weight: normal;
}

h2.ilc_heading2_Headline2, div.ilc_text_block_Headline2, body.ilc_text_block_Headline2
{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 130%;
	font-weight: normal;
}

h3.ilc_heading3_Headline3, div.ilc_text_block_Headline3, body.ilc_text_block_Headline3
{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 120%;
	font-weight: normal;
}

div.ilc_text_block_Example, body.ilc_text_block_Example
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	border-left: 3px;
	border-left-style: solid;
	border-left-color: blue;
}

div.ilc_section_Example
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	border-left: 3px;
	border-left-style: solid;
	border-left-color: blue;
}

div.ilc_text_block_Citation, body.ilc_text_block_Citation
{
	margin-top: 10px;
	margin-bottom: 10px;
	color: brown;
	font-style: italic;
}

div.ilc_text_block_Mnemonic, body.ilc_text_block_Mnemonic
{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: red;
}

div.ilc_section_Mnemonic
{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: red;
}

div.ilc_text_block_Additional, body.ilc_text_block_Additional
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: blue;
}

div.ilc_section_Additional
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: blue;
}

div.ilc_text_block_Remark, body.ilc_text_block_Remark
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #909090;
	background-color:#F0F0F0;
	text-align: center;
}

div.ilc_section_Remark
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #909090;
	background-color:#F5F5F5;
	text-align: center;
}

div.ilc_section_Block {
	border-width: 1px;
	border-style: solid;
	padding: 5px 10px;
	margin: 10px 0px;
	border-color: #A0A0A0;
	background-color: #FFFFFF;
	background-image: url(../../../templates/default/images/FramedBack.png);
	background-repeat:repeat-x;
}

div.ilc_section_Special {
	border-width: 1px;
	border-style: solid;
	padding: 5px 10px;
	margin: 10px 0px;
	border-color: #A0A0A0;
	background-color: #FFF7F7;
	background-image: url(../../../templates/default/images/SpecialBack.png);
	background-repeat:repeat-x;
}

div.ilc_section_Excursus {
	border-width: 1px;
	border-style: solid;
	padding: 5px 10px;
	margin: 10px 0px;
	border-color: #A0A0A0;
	background-color: #F7FFF7;
	background-image: url(../../../templates/default/images/ExcursusBack.png);
	background-repeat: repeat-x;
}

div.ilc_section_AdvancedKnowledge
{
	margin: 20px 0px;
	padding: 10px 60px 10px 30px;
	background-color: #fff9ef;
	border-width: 1px;
	border-color: #ffdda5;
	border-style: solid;
	background-image: url(../../../templates/default/images/advknow.png);
	background-repeat: no-repeat;
	background-position: top right;
}


/* Media */
table.ilc_media_cont_MediaContainer
{
	background-color: #F5F5F5;
	padding: 0px;
	margin: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #B0B0B0;
}

div.ilc_media_caption_MediaCaption
{
	padding: 5px;
	font-size: 90%;
}

/* Question */
div.ilc_question_Standard
{
	margin: 20px 0px;
	padding: 10px 100px 60px 40px;
	background-color: #F2F6FF;
	border-width: 1px;
	border-color: #BBCCDD;
	border-style: solid;
	background-image: url(../../../templates/default/images/qmark.png);
	background-repeat: no-repeat;
	background-position: top right;
}

div.ilc_qtitle_Title
{
	margin-bottom: 10px;
} 

div.ilc_qanswer_Answer
{
	margin-top: 2px;
	margin-bottom: 2px;
}

div.ilc_qfeedw_FeedbackWrong
{
	margin: 10px 0px 10px 0px;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #808080;
	background-color: #FFE7E7;

}

div.ilc_qfeedr_FeedbackRight
{
	margin: 10px 0px 10px 0px;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #808080;
	background-color: #E7FFE7;
}

img.ilc_qimg_QuestionImage
{
	margin:5px;
}

ul.ilc_qordul_OrderList
{
	list-style: none;
	list-style-position: outside;
	padding: 0px;
	margin: 0px;
}

li.ilc_qordli_OrderListItem
{
	border: 1px solid #D0D0FF;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: move;
}

a.ilc_qimgd_ImageDetailsLink
{
	font-size: 90%;
}

a.ilc_qetitem_ErrorTextItem {
	text-decoration: none;
	color: #000000;
	padding: 2px;
}
a.ilc_qetitem_ErrorTextItem:hover {
	text-decoration: none;
	background-color: #D0D0D0;
	color: #000000;
}
a.ilc_qetitem_ErrorTextSelected {
	background-color: #9bd9fe;
	border: 1px #606060 solid;
}
span.ilc_qetcorr_ErrorTextCorrected {
	text-decoration:line-through;
	color: #909090;
}

li.ilc_qordli_OrderListItemHorizontal {
    float: left;
	border: 1px solid #D0D0FF;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	cursor: move;
}

ul.ilc_qordul_OrderListHorizontal
{
	list-style: none;
	list-style-position: outside;
    padding: 0px;
    margin: 0px;
}

/* File Lists */
div.ilc_flist_cont_FileListContainer
{
	border-width:1px;
	border-style:solid;
	border-color:#9EADBA;
	margin: 10px 0px;
}


div.ilc_flist_head_FileListHeading
{
	text-align: left;
	padding: 3px;
	background-color: #E0E0E0;
	font-weight: bold;
}

li.ilc_flist_li_FileListItem
{
	padding: 3px;
}

ul.ilc_flist_FileList
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

/* Glossaries */
div.ilc_glo_overlay_GlossaryOverlay
{
	background-color: #FFFFFF;
	border-color: #A0A0A0;
	border-style: solid;
	border-width: 2px;
	padding: 5px 10px 5px 10px;
}

div.ilc_glo_ovtitle_GlossaryOvTitle
{
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: normal;
	font-size: 120%;
}

a.ilc_glo_ovclink_GlossaryOvCloseLink,
a.ilc_glo_ovuglink_GlossaryOvUnitGloLink,
a.ilc_glo_ovuglistlink_GlossaryOvUGListLink
{
	color: blue;
	font-weight: normal;
	text-decoration: underline;
}

/* SCOs */
div.ilc_sco_title_Title
{
	border-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 3px;
	font-size: 140%;
	margin-bottom: 20px;
	margin-top: 5px;
}

div.ilc_sco_fmess_FinalMessage
{
	margin: 100px;
	padding: 50px;
	font-size: 125%;
	border: 1px solid #F0F0F0;
	background-color: #FAFAFA;
	text-align: center;
}

/* Question  Overview */
div.ilc_qover_Correct
{
	margin: 20px 0px;
	padding: 10px 60px 10px 30px;
	background-color: #E7FFE7;
	border-width: 1px;
	border-color: #808080;
	border-style: solid;
}

div.ilc_qover_Incorrect
{
	margin: 20px 0px;
	padding: 10px 60px 10px 30px;
	background-color: #FFE7E7;
	border-width: 1px;
	border-color: #808080;
	border-style: solid;
}

div.ilc_qover_StatusMessage
{
	padding-bottom: 7px;
}

div.ilc_qover_WrongAnswersMessage
{
}


/* Tabs */
div.ilc_va_cntr_VAccordCntr
{
	margin-top: 5px;
}

div.ilc_va_icntr_VAccordICntr
{
	background-color: #FFFFFF;
	margin-bottom: 5px;
	border-width:1px;
	border-color:#9EADBA;
	border-style:solid;
}

div.ilc_va_ihead_VAccordIHead
{
	padding: 3px 3px 3px 24px;
	background-color: #E2EAF4;
	text-align:left;
	cursor: pointer;
	background-image: url(../../../templates/default/images/tree_col.svg);
	background-repeat: no-repeat;
	background-position: 3px 4px;
}

div.ilc_va_iheada_VAccordIHeadActive
{
	background-image: url(../../../templates/default/images/tree_exp.svg);
}

div.ilc_va_ihcap_VAccordIHeadCap
{
}

div.ilc_va_ihead_VAccordIHead:hover
{
	background-color: #D2D8E2;
}

div.ilc_va_icont_VAccordICont
{
	padding: 3px;
	background-color: #FFFFFF;
}


div.ilc_ha_cntr_HAccordCntr
{
}

div.ilc_ha_icntr_HAccordICntr
{
	background-color: #FFFFFF;
	border-width:1px;
	border-color:#9EADBA;
	border-style:solid;
	margin-right:5px;
}

div.ilc_ha_ihead_HAccordIHead
{
	padding: 3px 10px 3px 20px;
	background-color: #E2EAF4;
	text-align:left;
	cursor: pointer;
	background-image: url(../../../templates/default/images/tree_col.svg);
	background-repeat: no-repeat;
	background-position: 6px 4px;
}

div.ilc_ha_iheada_HAccordIHeadActive
{
	background-image: url(../../../templates/default/images/tree_exp.svg);
}

div.ilc_ha_ihcap_HAccordIHeadCap
{
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-ms-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	width:1px;
	white-space: nowrap;
	position:relative;
	left:5px;
	top:20px;
}

div.ilc_ha_ihead_HAccordIHead:hover
{
	background-color: #D2D8E2;
}

div.ilc_ha_icont_HAccordICont
{
	padding: 3px;
}

/* Interactive Image */
div.ilc_iim_ContentPopup
{
	background-color: #FFFFFF;
	border-color: #A0A0A0;
	border-style: solid;
	border-width: 2px;
	padding: 5px 10px 5px 10px;
}

a.ilc_marker_Marker
{
	display: block;
	cursor: pointer;
	width: 27px;
	height: 32px;
	position: absolute;
	background-image: url(../../../templates/default/images/icon_pin.png);
}

a.ilc_marker_Marker:hover
{
	background-image: url(../../../templates/default/images/icon_pin_on.png);
}
