/* Page */
table.ilc_page_frame_PageFrame
{
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

table.ilc_page_cont_PageContainer
{
	border-width: 1px;
	border-style: solid;
	border-color: #9EADBA;
	background-color:#FFFFFF;
	margin: 0px;
	width: 100%;
	padding: 20px;
}

div.ilc_page_title_PageTitle
{
	margin-top: 5px;
	margin-bottom: 20px;
	font-size: 140%;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: #000000;
}

div.ilc_page_tnav_TopNavigation
{
	padding: 3px;
	border-style: solid;
	border-color: #9EADBA;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 0px;
	background-color: #F6F6F6;
	margin: 0px;
}

div.ilc_page_bnav_BottomNavigation
{
	padding: 3px;
	border-style: solid;
	border-color: #9EADBA;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 0px;
	border-bottom-width: 1px;
	background-color: #F6F6F6;
	margin: 0px;
}

div.ilc_page_lnav_LeftNavigation
{
	float: left;
	width: 50%;
	text-align:left;
	font-size: 80%;
}

a.ilc_page_lnavlink_LeftNavigationLink
{
}

img.ilc_page_lnavimage_LeftNavigationImage
{
	background-image: url(../../../templates/default/images/nav_arr_L_s.gif);
	background-repeat: no-repeat;
	background-position: left 1px;
	width: 16px;
	height: 16px;
}

div.ilc_page_rnav_RightNavigation
{
	text-align:right;
	font-size: 80%;
}

a.ilc_page_rnavlink_RightNavigationLink
{
}

img.ilc_page_rnavimage_RightNavigationImage
{
	background-image: url(../../../templates/default/images/nav_arr_R_s.gif);
	background-repeat: no-repeat;
	background-position: right 1px;
	width: 16px;
	height: 16px;
}

div.ilc_page_fn_Footnote
{
	margin-top: 5px;
	margin-bottom: 5px;
	font-style: italic;
}

div.ilc_BacklinkTitle
{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 100%;
	font-style: italic;
	padding-top: 3px;
	border-top-width: 1px;
	border-top-style: solid;
	border-color: #000000;
}

/* Text (Character) */
span.ilc_text_inline_Strong
{
	font-weight: bold;
}

span.ilc_text_inline_Emph
{
	font-style: italic;
}

span.ilc_text_inline_Comment
{
	color: green;
}

span.ilc_text_inline_Quotation
{
	color: brown;
	font-style: italic;
}

/* Links */
a.ilc_link_FootnoteLink
{
	color: blue;
	font-weight: normal;
}

a.ilc_link_FootnoteLink:hover
{
	color:#000000;
}

a.ilc_link_IntLink
{
	color: blue;
	font-weight: normal;
	text-decoration: underline;
}

a.ilc_link_IntLink:hover
{
	color:#000000;
}

a.ilc_link_IntLink:visited
{
	color: blue;
}

a.ilc_link_ExtLink
{
	color: blue;
	font-weight: normal;
	text-decoration: underline;
}

a.ilc_link_ExtLink:hover
{
	color:#000000;
}

a.ilc_link_ExtLink:visited
{
	color: blue;
}

/* Tables */
table.ilc_table_StandardTable
{
	border-collapse: collapse;
	background-color: #FFFFFF;
	margin: 10px 0px;
	border-color: #9EADBA;
}

td.ilc_table_cell_Cell1
{
	background-color:#FFCCCC;
}

td.ilc_table_cell_Cell2
{
	background-color:#CCCCFF;
}

td.ilc_table_cell_Cell3
{
	background-color:#CCFFCC;
}

td.ilc_table_cell_Cell4
{
	background-color:#FFFFCC;
}

/* Text (Block) and Sections */
div.ilc_text_block_Standard
{
	margin-top: 10px;
	margin-bottom: 10px;
}

div.ilc_text_block_TableContent
{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}


div.ilc_text_block_List
{
	margin-top: 3px;
	margin-bottom: 3px;
}

div.ilc_text_block_Headline1
{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 140%;
}

div.ilc_text_block_Headline2
{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 130%;
}

div.ilc_text_block_Headline3
{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 120%;
}

div.ilc_text_block_Example
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	border-left: 3px;
	border-left-style: solid;
	border-left-color: blue;
}

div.ilc_section_Example
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	border-left: 3px;
	border-left-style: solid;
	border-left-color: blue;
}

div.ilc_text_block_Citation
{
	margin-top: 10px;
	margin-bottom: 10px;
	color: brown;
	font-style: italic;
}

div.ilc_text_block_Mnemonic
{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: red;
}

div.ilc_section_Mnemonic
{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: red;
}

div.ilc_text_block_Additional
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: blue;
}

div.ilc_section_Additional
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: blue;
}

div.ilc_text_block_Remark
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #909090;
	background-color:#F0F0F0;
	text-align: center;
}

div.ilc_section_Remark
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #909090;
	background-color:#F5F5F5;
	text-align: center;
}

div.ilc_section_Block {
	border-width: 1px;
	border-style: solid;
	padding: 5px 10px;
	margin: 10px 0px;
	border-color: #A0A0A0;
	background-color: #FFFFFF;
	background-image: url(../../../templates/default/images/FramedBack.gif);
	background-repeat:repeat-x;
}

div.ilc_section_Special {
	border-width: 1px;
	border-style: solid;
	padding: 5px 10px;
	margin: 10px 0px;
	border-color: #A0A0A0;
	background-color: #FFF7F7;
	background-image: url(../../../templates/default/images/SpecialBack.gif);
	background-repeat:repeat-x;
}

div.ilc_section_Excursus {
	border-width: 1px;
	border-style: solid;
	padding: 5px 10px;
	margin: 10px 0px;
	border-color: #A0A0A0;
	background-color: #F7FFF7;
	background-image: url(../../../templates/default/images/ExcursusBack.gif);
	background-repeat: repeat-x;
}

div.ilc_section_Hint
{
	margin: 20px 0px;
	padding: 10px 10px 10px 50px;
	background-color: #FFFFF4;
	border-width: 1px;
	border-color: #FFFFD0;
	border-style: solid;
	background-image: url(../../../templates/default/images/hint.gif);
	background-repeat: no-repeat;
	background-position: top left;
	min-height: 25px;
	height: auto !important;
	height: 25px;
}

div.ilc_text_block_Hint
{
	margin: 20px 0px;
	padding: 10px 10px 10px 50px;
	background-color: #FFFFF4;
	border-width: 1px;
	border-color: #FFFFD0;
	border-style: solid;
	background-image: url(../../../templates/default/images/hint.gif);
	background-repeat: no-repeat;
	background-position: top left;
	min-height: 25px;
	height: auto !important;
	height: 25px;
}

/* Media */
table.ilc_media_cont_MediaContainer
{
	background-color: #F5F5F5;
	padding: 0px;
	margin: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #B0B0B0;
}

div.ilc_media_caption_MediaCaption
{
	padding: 5px;
	font-size: 90%;
}

/* Question */
div.ilc_question_Standard
{
	margin: 20px 0px;
	padding: 10px 60px 10px 30px;
	background-color: #F4F4FF;
	border-width: 1px;
	border-color: #D0D0FF;
	border-style: solid;
	background-image: url(../../../templates/default/images/qmark.gif);
	background-repeat: no-repeat;
	background-position: top right;
}

div.ilc_qtitle_Title
{
	font-weight: bold;
} 

div.ilc_qanswer_Answer
{
	margin-top: 2px;
	margin-bottom: 2px;
	
}

div.ilc_qfeedw_FeedbackWrong
{
	margin: 10px 0px 10px 0px;
	border-width: 1px;
	border-style: solid;
	background-color: #FFCCCC;

}

div.ilc_qfeedr_FeedbackRight
{
	margin: 10px 0px 10px 0px;
	border-width: 1px;
	border-style: solid;
	background-color: #CCFFCC;
}


/* File Lists */
div.ilc_flist_cont_FileListContainer
{
	border-width:1px;
	border-style:solid;
	border-color:#9EADBA;
	margin: 10px 0px;
}


div.ilc_flist_head_FileListHeading
{
	text-align: left;
	padding: 3px;
	background-color: #E0E0E0;
	font-weight: bold;
}

li.ilc_flist_li_FileListItem
{
	padding: 3px;
}

ul.ilc_flist_FileList
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

/* SCOs */
div.ilc_sco_title_Title
{
	border-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 3px;
	font-size: 140%;
	margin-bottom: 20px;
	margin-top: 5px;
}

/* Tabs */
div.ilc_va_cntr_VAccordCntr
{
	margin-top: 5px;
}

div.ilc_va_icntr_VAccordICntr
{
	background-color: #FFFFFF;
	margin-bottom: 5px;
	border-width:1px;
	border-color:#9EADBA;
	border-style:solid;
}

div.ilc_va_ihead_VAccordIHead
{
	padding: 3px 3px 3px 24px;
	background-color: #E2EAF4;
	text-align:left;
	cursor: pointer;
	background-image: url(../../../templates/default/images/accordion_arrow.gif);
	background-repeat: no-repeat;
	background-position: 3px 4px;
}

div.ilc_va_ihead_VAccordIHead:hover
{
	background-color: #D2D8E2;
}

div.ilc_va_icont_VAccordICont
{
	padding: 3px;
	background-color: #FFFFFF;
}

div.ilc_ha_cntr_HAccordCntr
{
}

div.ilc_ha_icntr_HAccordICntr
{
	background-color: #FFFFFF;
	border-width:1px;
	border-color:#9EADBA;
	border-style:solid;
	margin-right:5px;
}

div.ilc_ha_ihead_HAccordIHead
{
	padding: 3px 10px 3px 20px;
	background-color: #E2EAF4;
	text-align:left;
	cursor: pointer;
	background-image: url(../../../templates/default/images/haccordion_arrow.gif);
	background-repeat: no-repeat;
	background-position: 3px 4px;
}

div.ilc_ha_ihead_HAccordIHead:hover
{
	background-color: #D2D8E2;
}

div.ilc_ha_icont_HAccordICont
{
	padding: 3px;
}
