/* ------------------ styles for lm content, should be placed at a better place -------------- */

div.ilc_PageTitle
{
	margin-top: 5px;
	margin-bottom: 20px;
	font-size: 140%;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: #000000;
}

div.ilc_BacklinkTitle
{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 100%;
	font-style: italic;
	padding-top: 3px;
	border-top-width: 1px;
	border-top-style: solid;
	border-color: #000000;
}

span.ilc_Strong
{
	font-weight: bold;
}

span.ilc_Emph
{
	font-style: italic;
}

span.ilc_Comment
{
	color: green;
}

span.ilc_Quotation
{
	color: brown;
	font-style: italic;
}

a.ilc_FootnoteLink
{
	color: blue;
	font-weight: normal;
}

a.ilc_FootnoteLink:hover
{
	color:#000000;
}

div.ilc_Footnote
{
	margin-top: 5px;
	margin-bottom: 5px;
	font-style: italic;
}

a.ilc_IntLink
{
	color: blue;
	font-weight: normal;
	text-decoration: underline;
}

a.ilc_IntLink:hover
{
	color:#000000;
}

a.ilc_IntLink:visited
{
	color: blue;
}

a.ilc_ExtLink
{
	color: blue;
	font-weight: normal;
	text-decoration: underline;
}

a.ilc_ExtLink:hover
{
	color:#000000;
}

a.ilc_ExtLink:visited
{
	color: blue;
}

div.ilc_LMNavigation
{
	background-color:#EEEEEE;
	border-style: outset;
	border-color: #EEEEEE;
	border-width: 1px;
	margin-top: 0px;
}

div.ilc_Page
{
	background-color:#FFFFFF;
	margin: 0px;
	padding: 0px;
}

table.ilc_Page
{
	background-color:#FFFFFF;
}

td.ilc_Cell1
{
	background-color:#FFCCCC;
}

td.ilc_Cell2
{
	background-color:#CCCCFF;
}

td.ilc_Cell3
{
	background-color:#CCFFCC;
}

td.ilc_Cell4
{
	background-color:#FFFFCC;
}

div.ilc_Standard
{
	margin-top: 10px;
	margin-bottom: 10px;
}

div.ilc_TableContent
{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}


div.ilc_List
{
	margin-top: 3px;
	margin-bottom: 3px;
}

div.ilc_Headline1
{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 140%;
}

div.ilc_Headline2
{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 130%;
}

div.ilc_Headline3
{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 120%;
}

div.ilc_Example
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	border-left: 3px;
	border-left-style: solid;
	border-left-color: blue;
}

div.ilc_Citation
{
	margin-top: 10px;
	margin-bottom: 10px;
	color: brown;
	font-style: italic;
}

div.ilc_Mnemonic
{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: red;
}

div.ilc_Additional
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: blue;
}

div.ilc_Remark
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #909090;
	background-color:#F0F0F0;
	text-align: center;
}

/*
p.ilc_Code
{
	white-space: pre;
}*/

table.ilc_Media
{
	background-color: #F5F5F5;
	padding: 0px;
	margin: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #B0B0B0;
}

td.ilc_MediaCaption
{
	padding:5px;
	font-size: 90%;
}

div.ilc_Block {
	border-width: 1px;
	border-style: solid;
	padding: 5px 10px;
	margin: 10px 0px;
	border-color: #A0A0A0;
	background-color: #FFFFFF;
	background-image: url(../../../templates/default/images/FramedBack.gif);
	background-repeat:repeat-x;
}

div.ilc_Special {
	border-width: 1px;
	border-style: solid;
	padding: 5px 10px;
	margin: 10px 0px;
	border-color: #A0A0A0;
	background-color: #FFF7F7;
	background-image: url(../../../templates/default/images/SpecialBack.gif);
	background-repeat:repeat-x;
}

div.ilc_Excursus {
	border-width: 1px;
	border-style: solid;
	padding: 5px 10px;
	margin: 10px 0px;
	border-color: #A0A0A0;
	background-color: #F7FFF7;
	background-image: url(../../../templates/default/images/ExcursusBack.gif);
	background-repeat: repeat-x;
}
