p.ilc_Code {

}

table.ilc_Sourcecode {
	border: 1px solid black;
	background: white;
	padding: 5px;
	margin: 10px 0px;
}

td.ilc_LineNumbers {
	background: #ffffff;
	padding-left: 10px;
	text-align: right;	
}

td.ilc_Sourcecode {
	background: white;
	padding-left: 10px;
	
}

span.ilc_CodeCategory_1 {	
	text-decoration: underline;
	color: navy;	
}

span.ilc_CodeCategory_2 {
	color: navy;

}

span.ilc_CodeCategory_3 {
	color: #555555;

}

span.ilc_CodeQuote {
	color: green;

}

span.ilc_CodeLinecomment {
	color: gray;

}

span.ilc_CodeBlockcomment {
	color: gray;

}

span.ilc_CodePrepro {
	color: black;

}

span.ilc_CodeSelect {
	color: black;

}

pre.ilc_Code {
	font-size: 1em;	
}

span.ilc_LineNumber {
	font-size: 1em;
}
