<!-- BEGIN confirm_delete -->
  <form action="{CONFIRM_FORMACTION}" method="post">
	<table class="fullwidth_invisible">
	  <tr>
		<td align="center">
			<input class="submit" type="submit" name="cmd[{CONFIRM_CMD}]" value="{TXT_CONFIRM}" />
		  <input class="submit" type="submit" name="cmd[listUsers]" value="{TXT_CANCEL}" />
		</td>
	  </tr>
	</table>
  </form>
  <!-- END confirm_delete -->
<!-- BEGIN filter -->
<form action="{FILTER_ACTION}" method="post">
	<b>{FILTER_TXT_FILTER}</b>&nbsp;{SELECT_FILTER}&nbsp;<input class="submit" type="submit" name="cmd[{FILTER_NAME}]" value="{FILTER_VALUE}"/>&nbsp;
</form>
<!-- END filter -->
{USERS_TABLE}