<html>
  <head>
    <title></title>
    <meta content="">
    <style></style>
  </head>
  <body bgcolor="#336699">

  <table  width="100%" cellpadding=2 cellspacing=0 border="0">

<tr>
<td height="20" width="100%">
&nbsp;
</td>
</tr>

<tr>
<td bgcolor="#EEF1F1" width="100%">

<font color=#336699 >&nbsp;<b>Nutzungsbedingungen</b></font>
</td>
</tr>
</table>

<table class="fullwidth_style1_ing" bgcolor="#FFFFFF" cellpadding="5" border="0">
<tr>
<td>
<font SIZE=2>
Angegebene Systemvoraussetzungen und Benutzerhinweise müssen beachtet werden.<br><br>
Haftungsausschluss<br><br>
1. Dieses Dokument erhebt weder den Anspruch auf Vollständigkeit noch auf Fehlerfreiheit. Für Fehler die auf fasche oder falsch verstandene Beschreibung in diesem Dokument zurückzuführen sind, übernehmen die Autoren keine Haftung.<br>
2. Die Autoren übernehmen keine Gewähr für Schäden, die aus dem Gebrauch der angebotenen Software entstehen .<br>
3. Die Inhalte werden laufend aktualisiert; deshalb behalten sich die Autoren ausdrücklich vor, Teile, Seiten oder den/das gesamte(n) Kurs/Praktikum ohne gesonderte Ankündigung zu verändern, oder zu ergänzen.<br>
4.Verweise und Links.:<br>
Bei direkten oder indirekten Verweisen auf fremde Internetseiten übernimmt der Autor keine Haftung für deren Inhalt. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart angebotenen Informationen entstehen haftet allein der Anbieter dieser Links oder Seiten.<br>
<br><br>
Copyright<br><br>
Das Kopieren und die Weitergabe der Dokumente an Dritte ist nur innerhalb der Praktikums Arbeitsgruppen erlaubt, soweit es zum Bearbeiten des Praktikums nötig ist.<br>
Kopieren - auch in Auszügen zu anderen Zwecken - ist nicht erlaubt.<br>
Das Copyright für veröffentlichte, vom Autor selbst erstellte Objekte bleibt allein beim Autor der Seiten. Eine Vervielfältigung oder Verwendung solcher Grafiken,Animationen, Tondokumente, Videosequenzen oder Texte in anderen Publikationen ist ohne ausdrückliche Zustimmung des Autors nicht gestattet.<br>
<br><br>
Datenschutz<br><br>
Der Benutzer wird ausdrücklich darauf aufmerksam gemacht, dass persönliche Daten, die zur Verwaltung nötig sind gespeichert werden.<br>
Da dies ein wissenschaftliches Projekt ist, werden auch persönliche Daten gespeichert und zu statistischen und wissenschaftlichen Zwecken ausgewertet.<br>
</font>

</td>
</tr>
</table>
  </body>
</html>