<a name="anchor{NAME_INPUT}"></a>
<form name="form{NAME_INPUT}" id="form{NAME_INPUT}"method="post" action="{FORMACTION}">
<table class="fullwidth">
<tr>
	<td class="submit">
<!-- BEGIN feedback -->		
		<div class="manfeedback">
		<div class="toggle-button yes off">{TEXT_MANUAL_FEEDBACK}</div>
		<div id="feedback_{FEEDBACK_NAME_INPUT}" style="display: block;">
			<textarea name="feedback[{FEEDBACK_NAME_INPUT}]" rows="10" cols="80" wrap="virtual" style="width:95%;">{VALUE_FEEDBACK}</textarea>
<!-- BEGIN suggested_solution -->
			<h2>{TEXT_SUGGESTED_SOLUTION}</h2>
			<div>{VALUE_SUGGESTED_SOLUTION}</div>
<!-- END suggested_solution -->
		</div>
		</div>
<!-- END feedback -->		
		<label for="{NAME_INPUT}">{LABEL_INPUT}:</label> <input type="text" size="3" name="question[{NAME_INPUT}]" id="{NAME_INPUT}"{VALUE_INPUT} /> {TEXT_MAXIMUM_POINTS}
		<div><input type="submit" class="btn btn-default" name="cmd[setFeedbackManual]" value="{VALUE_SAVE}" /></div>
	</td>
</tr>
</table>
</form>
