<script type="text/javascript">
$(document).ready(function () {
    $('#{SLIDER_ID}').slider({
        buttonDisabledClass: '{BTN_DISABLED_CLASS}',
        buttonDownClass: '{BTN_DOWN_CLASS}',
        buttonOverClass: '{BTN_OVER_CLASS}',
        easing: '{EASING}',
        itemSelector: '{ITEM_SELECTOR}',
        itemSlidingClass: '{ITEM_SLIDING_CLASS}',
        nextButtonClass: '{BTN_NEXT_CLASS}',
        prevButtonClass: '{BTN_PREV_CLASS}',
        scroll: {SCROLL},
        speed: {SPEED},
        wrapperSelector: '.{SLIDES_CLASS}'
    });
});
</script>