@use "../../010-settings/"as *;

//** Text color of inactive buttons
$il-disabled-btn-color: darken($il-text-color, 20%); // wasn't on settings layer
$il-disabled-btn-bg: #b0b0b0;
$il-disabled-btn-border: #b0b0b0;
$il-disabled-btn-color: darken($il-text-color, 20%);

//** Text color of engaged buttons
$il-engaged-btn-color: $il-text-color;
$il-engaged-btn-bg: white;