@use "../../010-settings/" as *;
@use "../../050-layout/layout_spacing-variables" as *;

$il-panel-heading-padding: $il-padding-xlarge-vertical $il-padding-xlarge-horizontal;
$il-panel-heading-color: $il-text-color;
$il-panel-shadow: none;
$il-panel-border: 1px solid $il-main-border-color;
$il-panel-border-radius: 3px;