<form method="post" action="{FORMACTION}">
<input type="hidden" name="form[delete]" value="1"/>
<table class="std">
<tr class="tblheader">
	<td class="std" colspan="2">{TXT_DELETE_CONFIRM}</td>
</tr>
<tr>
	<td class="option_value">{TXT_DELETE_INFO}</td>
</tr>

<!-- disabled
<tr>
	<td class="option_value"><input type="radio" name="form[delete]" value="1"/>&nbsp;remove client from list (delete ini file only)</td>
</tr>
<tr>
	<td class="option_value"><input type="radio" name="form[delete]" value="2"/>&nbsp;delete ini file & database (keep files)</td>
</tr>
<tr>
	<td class="option_value"><input type="radio" name="form[delete]" value="3"/>&nbsp;delete all (ini file, database & files)</td>
</tr>
-->

<tr>
	<td class="submit">&nbsp;
	<div align="center"><input class="btn btn-default" type="submit" name="cmd[delete]" value="{TXT_DELETE}"/></div>
	</td>
</tr>
</table>
</form>