<form method="post" action="{FORMACTION}">
<table class="std">
	<tr class="tblheader">
      <td class="std" colspan="2">{TXT_PASS_TITLE}</td>
    </tr>
<!-- BEGIN pass_update_field -->
    <tr>
      <td class="option">{TXT_PASS_OLD}<span class="asterisk">*</span></td>
      <td class="option_value"><input type="password" size="30" maxlength="64" name="pass_old" /></td>
    </tr>
<!-- END pass_update_field -->
    <tr>
      <td class="option">{TXT_PASS}<span class="asterisk">*</span></td>
      <td class="option_value"><input type="password" size="30" maxlength="64" name="pass" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_PASS2}<span class="asterisk">*</span></td>
      <td class="option_value"><input type="password" size="30" maxlength="64" name="pass2" /></td>
    </tr>
	<tr>
	  <td class="submit" colspan="2"><span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FIELDS}</span>
	  <div align="right"><input class="btn btn-default" type="submit" name="cmd[step_6]" value="{TXT_SAVE}"/></div></td>
	</tr>
</table>
</form>