<form method="post" action="{FORMACTION}">
<table class="std">
	<tr class="tblheader">
      <td class="std" colspan="2">{TXT_INST_DATA}</td>
    </tr>
    <tr>
      <td class="option">{TXT_INST_NAME}<span class="asterisk">*</span></td>
      <td class="option_value"><input type="text" size="30" maxlength="64" name="form[inst_name]" value="{INST_NAME}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_INST_INFO}<span class="asterisk">*</span></td>
      <td class="option_value"><input type="text" size="30" maxlength="64" name="form[inst_info]" value="{INST_INFO}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_INST_INSTITUTION}<span class="asterisk">*</span></td>
      <td class="option_value"><input type="text" size="30" maxlength="64" name="form[inst_institution]" value="{INST_INSTITUTION}" /></td>
    </tr>

	<tr class="tblheader">
      <td class="std" colspan="2">{TXT_CONTACT_DATA}</td>
    </tr>
    <tr>
      <td class="option">{TXT_FIRSTNAME}<span class="asterisk">*</span></td>
      <td class="option_value"><input type="text" size="30" maxlength="64" name="form[admin_firstname]" value="{ADMIN_FIRSTNAME}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_LASTNAME}<span class="asterisk">*</span></td>
      <td class="option_value"><input type="text" size="30" maxlength="64" name="form[admin_lastname]" value="{ADMIN_LASTNAME}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_TITLE}</td>
      <td class="option_value"><input type="text" size="30" maxlength="64" name="form[admin_title]" value="{ADMIN_TITLE}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_POSITION}</td>
      <td class="option_value"><input type="text" size="30" maxlength="64" name="form[admin_position]" value="{ADMIN_POSITION}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_INSTITUTION}</td>
      <td class="option_value"><input type="text" size="30" maxlength="200" name="form[admin_institution]" value="{ADMIN_INSTITUTION}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_STREET}<span class="asterisk">*</span></td>
      <td class="option_value"><input type="text" size="30" maxlength="64" name="form[admin_street]" value="{ADMIN_STREET}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_ZIPCODE}<span class="asterisk">*</span></td>
      <td class="option_value"><input type="text" size="5" maxlength="10" name="form[admin_zipcode]" value="{ADMIN_ZIPCODE}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_CITY}<span class="asterisk">*</span></td>
      <td class="option_value"><input type="text" size="30" maxlength="64" name="form[admin_city]" value="{ADMIN_CITY}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_COUNTRY}<span class="asterisk">*</span></td>
      <td class="option_value"><input type="text" size="30" maxlength="64" name="form[admin_country]" value="{ADMIN_COUNTRY}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_PHONE}<span class="asterisk">*</span></td>
      <td class="option_value"><input type="text" size="30" maxlength="64" name="form[admin_phone]" value="{ADMIN_PHONE}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_EMAIL}<span class="asterisk">*</span></td>
      <td class="option_value"><input type="text" size="30" maxlength="64" name="form[admin_email]" value="{ADMIN_EMAIL}" /></td>
    </tr>
<!-- BEGIN tmp_disabled -->
    <tr>
      <td class="option">{TXT_FEEDBACK_RECIPIENT}</td>
      <td class="option_value"><input type="text" size="40" maxlength="200" name="feedback_recipient" value="{FEEDBACK_RECIPIENT}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_ERROR_RECIPIENT}</td>
      <td class="option_value"><input type="text" size="40" maxlength="200" name="error_recipient" value="{ERROR_RECIPIENT}" /></td>
    </tr>
<!-- END tmp_disabled -->

	<tr>
	  <td class="submit" colspan="2"><span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FIELDS}</span>
	  <div align="right"><input class="btn btn-default" type="submit" name="cmd[contact]" value="{TXT_SAVE}"/></div></td>
	</tr>
</table>
</form>