<form method="post" action="{FORMACTION}">
<table class="std">
<tr class="tblheader">
	<td class="std" colspan="4">{TXT_LANG_HEADER}</td>
</tr>
<tr class="tblheader">
	<td class="std">{TXT_LANGUAGE}</td>
	<td class="std">{TXT_INSTALLED}</td>
	<td class="std">{TXT_INCLUDE_LOCAL}</td>
	<td class="std">{TXT_DEFAULT}</td>
</tr>
<!-- BEGIN language_row -->
<tr>
	<td class="option"><label for="{LANG_KEY}">{TXT_LANG}</label></td>
	<td class="option_value"><input type="checkbox" name="form[lang_id][]" value="{LANG_KEY}" id="{LANG_KEY}" {CHECKED} /></td>
	<td class="option_value"><input type="checkbox" name="form[lang_local][]" value="{LANG_KEY}" id="{LANG_KEY}" {LOCAL} /></td>
	<td class="option_value"><input type="radio" name="form[lang_default]" value="{LANG_KEY}" {DEFAULT} /></td>
</tr>
<!-- END language_row -->
<tr>
	<td class="submit" colspan="4">&nbsp;
	<div align="right"><input class="btn btn-default" type="submit" name="cmd[lang]" value="{TXT_SAVE}"/></div>
	</td>
</tr>
</table>
</form>
