<table class="std">
  <tr class="tblheader">
    <td class="std" colspan="4">{TXT_SETUP_PROCESS_STATUS}</td>
  </tr>
<!-- BEGIN menu_row -->
  <tr{HIGHLIGHT} class="std">
    <td class="std" style="vertical-align:top;" align="right" nowrap="nowrap">&nbsp;<img style="vertical-align:top;" src="../templates/default/images/{IMG_ARROW}" />&nbsp;</td>
    <td class="std" nowrap="nowrap">{TXT_STEP}</td>
    <td class="std" nowrap="nowrap">{TXT_ACTION}</td>
    <td class="std">{TXT_STATUS}</td>
  </tr>
<!-- END menu_row -->
</table>
