{MESSAGE}
<div class="il_Header">
<h1>{TXT_HEADER}</h1>
</div>
<p>It seems that you install ILIAS for the very first time, because no setup.ini was found.
<br/>In setup.ini we store a master password to protect ILIAS setup from unauthorized access
 and a mysql user account.</p>
<p>ILIAS 3 supports multiple clients with different databases. You should use different database user accounts
 for each installation (client). The database user stored here should grant you access to all client databases.</p>
<table class="fullwidth_invisible">
  <tr valign="top">
    <td>
    <table>
      <tr valign="top">
        <td height="400">
		{SETUP_CONTENT}
        </td>
      </tr>
    </table>
    </td>
    <td align="right">
    {PROCESS_MENU}
    </td>
  </tr>
</table>
{NAVBUTTONS}