<p{SAFE_MODE_STYLE}>{TXT_SAFE_MODE_INFO}</p>{FORM}
<form method="POST" action="{FORMACTION}">
<table class="std">
<!-- BEGIN setup_datadir -->
	<tr class="tblheader">
      <td class="std" colspan="2">{TXT_DATADIR_TITLE}</td>
    </tr>
    <tr>
      <td class="option">{TXT_DATADIR_PATH_IN_WS}</td>
      <td class="option_value">{DATADIR_IN_WS}
	  <br /><span class="subtitle">{TXT_DATADIR_PATH_IN_WS_INFO}</span>
	  </td>
    </tr>
    <tr>
      <td class="option">{TXT_DATADIR_PATH}</td>
      <td class="option_value"><input type="text" size="40" maxlength="250" name="form[datadir_path]" value="{DATADIR_PATH}" />
	  <br /><span class="subtitle">{TXT_DATADIR_PATH_INFO}</span>
	  </td>
    </tr>
    <!-- <tr>
      <td class="option"><label for="chk_datadir_path">{TXT_CREATE}</label></td>
      <td class="option_value"><input type="checkbox" name="form[chk_datadir_path]" value="1" id="chk_datadir_path" {CHK_DATADIR_PATH}/></td>
    </tr> -->
<!-- END setup_datadir -->
<!-- BEGIN display_datadir -->
	<tr class="tblheader">
      <td class="std" colspan="2">{TXT_DATADIR_TITLE}</td>
    </tr>
    <tr>
      <td class="option">{TXT_DATADIR_PATH_IN_WS}</td>
      <td class="option_value">{DATADIR_IN_WS}
	  <br /><span class="subtitle">{TXT_DATADIR_PATH_IN_WS_INFO}</span>
	  </td>
    </tr>
    <tr>
      <td class="option" nowrap="nowrap">{TXT_DATADIR_PATH}
	  </td>
      <td class="option_value">{DATADIR_PATH}
	  <!-- <br /><span class="subtitle">{TXT_DATADIR_COMMENT2}</span> -->
	  </td>
    </tr>
<!-- END display_datadir -->

<!-- BEGIN setup_log -->
	<tr class="tblheader">
      <td class="std" colspan="2">{TXT_LOG_TITLE}</td>
    </tr>
    <tr>
      <td class="option">{TXT_LOG_PATH}</td>
      <td class="option_value"><input type="text" size="40" maxlength="200" name="form[log_path]" value="{LOG_PATH}" />
	  <br /><span class="subtitle">{TXT_LOG_COMMENT}</span>
	  </td>
    </tr>
    <tr>
      <td class="option"><label for="chk_log_status">{TXT_DISABLE_LOGGING}</label></td>
	  <td class="option_value"><input type="checkbox" name="form[chk_log_status]" value="1" id="chk_log_status" {CHK_LOG_STATUS}/></td>
    </tr>
<!-- END setup_log -->

<!-- BEGIN setup_tools -->
	<tr class="tblheader">
      <td class="std" colspan="2">{TXT_REQ_TOOLS_TITLE}</td>
    </tr>
    <tr>
      <td class="option">{TXT_CONVERT_PATH}</td>
      <td class="option_value"><input type="text" size="40" maxlength="200" name="form[convert_path]" value="{CONVERT_PATH}" />
	  <br /><span class="subtitle">{TXT_CONVERT_COMMENT}
	  <!-- BEGIN warning_convert --><br /> {TXT_WARNING_CONVERT}<!-- END warning_convert -->
	  </span>
	  </td>
    </tr>
    <tr>
      <td class="option">{TXT_ZIP_PATH}</td>
      <td class="option_value"><input type="text" size="40" maxlength="200" name="form[zip_path]" value="{ZIP_PATH}" />
	  <br /><span class="subtitle">{TXT_ZIP_COMMENT}
	  <!-- BEGIN warning_zip --><br /> {TXT_WARNING_ZIP}<!-- END warning_zip -->
	  </span>
	  </td>
    </tr>
    <tr>
      <td class="option">{TXT_UNZIP_PATH}</td>
      <td class="option_value"><input type="text" size="40" maxlength="200" name="form[unzip_path]" value="{UNZIP_PATH}" />
	  <br /><span class="subtitle">{TXT_UNZIP_COMMENT}
	  <!-- BEGIN warning_unzip --><br /> {TXT_WARNING_UNZIP}<!-- END warning_unzip -->
	  </span>
	  </td>
    </tr>
	<tr class="tblheader">
      <td class="std" colspan="2">{TXT_OPT_TOOLS_TITLE}</td>
    </tr>
    <tr>
      <td class="option">{TXT_JAVA_PATH}</td>
      <td class="option_value"><input type="text" size="40" maxlength="200" name="form[java_path]" value="{JAVA_PATH}" />
	  <br /><span class="subtitle">{TXT_JAVA_COMMENT}
	  <!-- BEGIN warning_java --><br /> {TXT_WARNING_JAVA}<!-- END warning_java -->
	  </span>
	  </td>
    </tr>
    <tr>
      <td class="option">{TXT_HTMLDOC_PATH}</td>
      <td class="option_value"><input type="text" size="40" maxlength="250" name="form[htmldoc_path]" value="{HTMLDOC_PATH}" />
	  <br /><span class="subtitle">{TXT_HTMLDOC_COMMENT}
	  <!-- BEGIN warning_htmldoc --><br /> {TXT_WARNING_HTMLDOC}<!-- END warning_htmldoc -->
	  </span>
	  </td>
    </tr>
    <tr>
      <td class="option">{TXT_FFMPEG_PATH}</td>
      <td class="option_value"><input type="text" size="40" maxlength="250" name="form[ffmpeg_path]" value="{FFMPEG_PATH}" />
	  <br /><span class="subtitle">{TXT_FFMPEG_COMMENT}
	  <!-- BEGIN warning_ffmpeg --><br /> {TXT_WARNING_FFMPEG}<!-- END warning_ffmpeg -->
	  </span>
	  </td>
    </tr>
    <tr>
      <td class="option">{TXT_LATEX_URL}</td>
      <td class="option_value"><input type="text" size="40" maxlength="250" name="form[latex_url]" value="{LATEX_URL}" />
	  <br /><span class="subtitle">{TXT_LATEX_URL_COMMENT}
	  <!-- BEGIN warning_latex --><br /> {TXT_WARNING_LATEX}<!-- END warning_latex -->
	  </span>
	  </td>
    </tr>
    <tr>
      <td class="option">{TXT_VIRUS_SCANNER}</td>
      <td class="option_value">
	  	<select name="form[vscanner_type]">
		  <option value="none" {STYPE_NONE}>{TXT_NONE}</option>
		  <option value="sophos" {STYPE_SOPHOS}>{TXT_SOPHOS}</option>
		  <option value="antivir" {STYPE_ANTIVIR}>{TXT_ANTIVIR}</option>
		  <option value="clamav" {STYPE_CLAMAV}>{TXT_CLAMAV}</option>
		</select>
      </td>
    </tr>
    <tr>
      <td class="option">{TXT_SCAN_COMMAND}</td>
      <td class="option_value"><input type="text" size="40" maxlength="250" name="form[scan_command]" value="{SCAN_COMMAND}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_CLEAN_COMMAND}</td>
      <td class="option_value"><input type="text" size="40" maxlength="250" name="form[clean_command]" value="{CLEAN_COMMAND}" /></td>
    </tr>
	<!--
    <tr>
      <td class="option">{TXT_FOP_PATH}</td>
      <td class="option_value"><input type="text" size="40" maxlength="250" name="form[fop_path]" value="{FOP_PATH}" /></td>
      <td class="option_value" nowrap="nowrap"><input type="checkbox"  name="form[chk_fop_path]" value="1" id="chk_fop_path" {CHK_FOP_PATH}/><label for="chk_fop_path">{TXT_DISABLE_CHECK}</label></td>
      <td class="option_desc">{TXT_FOP_COMMENT}</td>
    </tr>
	-->
<!-- END setup_tools -->

<!-- BEGIN setup_pass -->
<tr class="tblheader">
	<td class="std" colspan="2">{TXT_SETUP_PASS_TITLE}</td>
</tr>
<tr>
	<td class="option">{TXT_SETUP_PASS}</td>
	<td class="option_value"><input type="password" name="form[setup_pass]" maxlength="40" size="40" value="{SETUP_PASS}"/>
	<br /><span class="subtitle">{TXT_SETUP_PASS_COMMENT}</span>
	</td>
</tr>
<tr>
	<td class="option">{TXT_SETUP_PASS2}</td>
	<td class="option_value"><input type="password" name="form[setup_pass2]" maxlength="40" size="40" value="{SETUP_PASS2}"/></td>
</tr>
<!-- END setup_pass -->
<tr>
	<td class="submit" colspan="2">
	<span class="asterisk">*</span><span class="small"> {TXT_ENTER_DIR_AND_FILENAME}</span>
	<div align="right">
		<!-- BEGIN det_tools --><input class="btn btn-default" type="submit" name="cmd[{CMD_DET_TOOLS_PATH}]" value="{TXT_DET_TOOLS_PATH}"/><!-- END det_tools -->
		<input class="btn btn-default" type="submit" name="cmd[{SUBMIT_CMD}]" value="{TXT_SAVE}"/>
	</div>
	</td>
</tr>
</table>
</form>
<br />
