<form method="post" action="{FORMACTION}">
<table class="std">
<tr class="tblheader">
	<td class="std" colspan="2">{TXT_DB_SELECTION}</td>
</tr>
<tr>
	<td class="option">{TXT_DB_TYPE}</td>
	<td class="option_value">
		<select name="form[db_type]">
			<option value="mysql">MySQL</option>
			<option value="oracle">Oracle</option>
		</select>
	</td>
</tr>
<tr>
	<td class="submit" colspan="2">&nbsp;
	<div align="right"><input class="submit" type="submit" name="cmd[selectdbtype]" value="{TXT_SAVE}"/></div>
	</td>
</tr>
</table>
</form>