{MESSAGE}
<div class="il_Header">
<h1>{TXT_HEADER}</h1>
</div>
<p>It seems that you install ILIAS for the very first time, because no ilias.ini was found.
<br/>In ilias.ini we store a master password to protect ILIAS setup from unauthorized access.</p>
<p>ILIAS 3 supports multiple clients with different databases. You should use different database user accounts
 for each installation (client).
<br/>
Below you enter the base data directory, log file location and the pathes to 3rd party programs.
These settings are valid for all clients you create later on.
 </p>
<table class="fullwidth_invisible">
  <tr valign="top">
    <td>
    <table>
      <tr valign="top">
        <td height="400">
		{SETUP_CONTENT}
        </td>
      </tr>
    </table>
    </td>
    <td align="right">
    {PROCESS_MENU}
    </td>
  </tr>
</table>
{NAVBUTTONS}