<div style="float:right; margin:10px 0px;">
<form method="GET" action="setup.php">
<table border="0" cellpadding="0" >
<tr>
<td style="background-color:#F6F6F6; padding:4px;">{TXT_LISTSTATUS}<input type="hidden" name="cmd" value="togglelist" />
<input type="submit" class="btn btn-default" value="{TXT_TOGGLELIST}" />
</td>
</tr>
</table>
</form>
</div>
<div class="il_Header">
<h1>{TXT_HEADER}</h1>
</div>
{MESSAGE}
<p style="clear:both;">{TXT_INFO}</p>
<div style="margin:10px 0px 10px 0px;">{NAVBUTTONS}</div>
{CLIENT_LIST}
<div style="margin:10px 0px 10px 0px;">{NAVBUTTONS}</div>