{MESSAGE}
<div class="il_Header"><h1>{TXT_HEADER}</h1></div>
<!-- BEGIN logout_text -->
<p style="color:red">{TXT_LOGOUT_TEXT}</p>
<!-- END logout_text -->
<!-- BEGIN home_link -->
<p><a href="{LNK_INDEX}">{TXT_INDEX}</a></p>
<!-- END home_link -->
<!-- BEGIN logout_confirm -->
<form method="post" action="{FORMACTION}">
<table>
  <tr>
    <td><input class="btn btn-default" type="submit" name="cmd[logout_confirmed]" value="{TXT_LOGOUT}"/></td>
    <td><input class="btn btn-default" type="submit" name="cmd[cancel]" value="{TXT_CANCEL}"/></td>
  </tr>
</table>
</form>
<!-- END logout_confirm -->