
# /
/.buildpath
/.htaccess
/extern
/*.bak
/.project
/.cache
/data
/ilias.ini.php
/.settings
/nbproject
/.idea
/ilias.log
/lang
*~
db_template_writer.php

# /Customizing/
/Customizing/global

# /Modules/BookingManager/js/

# /Modules/Chatroom/classes/admintasks/
/Modules/Chatroom/classes/admintasks/.nfs0000000000143b080000000d

# /Modules/Course/classes/
/Modules/Course/classes/*.bak

# /Modules/Exercise/classes/
/Modules/Exercise/classes/*.bak

# /Modules/File/classes/
/Modules/File/classes/*.bak

# /Modules/ScormAicc/apiadapter/
/Modules/ScormAicc/apiadapter/dist
/Modules/ScormAicc/apiadapter/build

# /Modules/Test/classes/
/Modules/Test/classes/*.bak

# /Modules/TestQuestionPool/classes/
/Modules/TestQuestionPool/classes/*.bak

# /Modules/TestQuestionPool/templates/default/
/Modules/TestQuestionPool/templates/default/*.bak

# /Services/ActiveRecord/
/Services/ActiveRecord/.git
/Services/ActiveRecord/.gitignore
/Services/ActiveRecord/.travis.yml
/Services/ActiveRecord/class.srModelObjectTableGUI.php
/Services/ActiveRecord/class.srWebAccessChecker.php
/Services/ActiveRecord/composer.json
/Services/ActiveRecord/README.md
/Services/ActiveRecord/Tests

# /Services/COPage/
/Services/COPage/plugins

# /Services/GlobalCache/
/Services/GlobalCache/.git
/Services/GlobalCache/patches
/Services/GlobalCache/index.php
/Services/GlobalCache/README.md

# /Services/GlobalCache/classes/Apc/
/Services/GlobalCache/classes/Apc/apc.php
/Services/GlobalCache/classes/Apc/apcu.php
/Services/GlobalCache/classes/Apc/opcache.php

# /Services/Init/classes/
/Services/Init/classes/*.bak

# /Services/JavaScript/
/Services/JavaScript/jsMath

# /Services/Mail/templates/default/
/Services/Mail/templates/default/copy_tpl.mail_new.html

# /Services/PHPUnit/config/
/Services/PHPUnit/config/cfg.phpunit.php

# /Services/WebServices/FileManager/lib/
/Services/WebServices/FileManager/lib/build
/Services/WebServices/FileManager/lib/nbproject

# /Services/WebServices/RPC/lib/
/Services/WebServices/RPC/lib/bin
/Services/WebServices/RPC/lib/oracle
/Services/WebServices/RPC/lib/build
/Services/WebServices/RPC/lib/dist

# /Services/YUI/js/2_9_0/

# /Services/YUI/js/2_9_0/animation/

# /Services/YUI/js/2_9_0/assets/

# /Services/YUI/js/2_9_0/assets/skins/

# /Services/YUI/js/2_9_0/assets/skins/sam/

# /Services/YUI/js/2_9_0/autocomplete/

# /Services/YUI/js/2_9_0/autocomplete/assets/

# /Services/YUI/js/2_9_0/autocomplete/assets/skins/

# /Services/YUI/js/2_9_0/autocomplete/assets/skins/sam/

# /Services/YUI/js/2_9_0/base/

# /Services/YUI/js/2_9_0/button/

# /Services/YUI/js/2_9_0/button/assets/

# /Services/YUI/js/2_9_0/button/assets/skins/

# /Services/YUI/js/2_9_0/button/assets/skins/sam/

# /Services/YUI/js/2_9_0/calendar/

# /Services/YUI/js/2_9_0/calendar/assets/

# /Services/YUI/js/2_9_0/calendar/assets/skins/

# /Services/YUI/js/2_9_0/calendar/assets/skins/sam/

# /Services/YUI/js/2_9_0/carousel/

# /Services/YUI/js/2_9_0/carousel/assets/

# /Services/YUI/js/2_9_0/carousel/assets/skins/

# /Services/YUI/js/2_9_0/carousel/assets/skins/sam/

# /Services/YUI/js/2_9_0/charts/

# /Services/YUI/js/2_9_0/charts/assets/

# /Services/YUI/js/2_9_0/colorpicker/

# /Services/YUI/js/2_9_0/colorpicker/assets/

# /Services/YUI/js/2_9_0/colorpicker/assets/skins/

# /Services/YUI/js/2_9_0/colorpicker/assets/skins/sam/

# /Services/YUI/js/2_9_0/connection/

# /Services/YUI/js/2_9_0/container/

# /Services/YUI/js/2_9_0/container/assets/

# /Services/YUI/js/2_9_0/container/assets/skins/

# /Services/YUI/js/2_9_0/container/assets/skins/sam/

# /Services/YUI/js/2_9_0/cookie/

# /Services/YUI/js/2_9_0/datasource/

# /Services/YUI/js/2_9_0/datatable/

# /Services/YUI/js/2_9_0/datatable/assets/

# /Services/YUI/js/2_9_0/datatable/assets/skins/

# /Services/YUI/js/2_9_0/datatable/assets/skins/sam/

# /Services/YUI/js/2_9_0/datemath/

# /Services/YUI/js/2_9_0/dom/

# /Services/YUI/js/2_9_0/dragdrop/

# /Services/YUI/js/2_9_0/editor/

# /Services/YUI/js/2_9_0/editor/assets/

# /Services/YUI/js/2_9_0/editor/assets/skins/

# /Services/YUI/js/2_9_0/editor/assets/skins/sam/

# /Services/YUI/js/2_9_0/element/

# /Services/YUI/js/2_9_0/element-delegate/

# /Services/YUI/js/2_9_0/event/

# /Services/YUI/js/2_9_0/event-delegate/

# /Services/YUI/js/2_9_0/event-mouseenter/

# /Services/YUI/js/2_9_0/event-simulate/

# /Services/YUI/js/2_9_0/fonts/

# /Services/YUI/js/2_9_0/get/

# /Services/YUI/js/2_9_0/grids/

# /Services/YUI/js/2_9_0/history/

# /Services/YUI/js/2_9_0/history/assets/

# /Services/YUI/js/2_9_0/imagecropper/

# /Services/YUI/js/2_9_0/imagecropper/assets/

# /Services/YUI/js/2_9_0/imagecropper/assets/skins/

# /Services/YUI/js/2_9_0/imagecropper/assets/skins/sam/

# /Services/YUI/js/2_9_0/imageloader/

# /Services/YUI/js/2_9_0/json/

# /Services/YUI/js/2_9_0/layout/

# /Services/YUI/js/2_9_0/layout/assets/

# /Services/YUI/js/2_9_0/layout/assets/skins/

# /Services/YUI/js/2_9_0/layout/assets/skins/sam/

# /Services/YUI/js/2_9_0/logger/

# /Services/YUI/js/2_9_0/logger/assets/

# /Services/YUI/js/2_9_0/logger/assets/skins/

# /Services/YUI/js/2_9_0/logger/assets/skins/sam/

# /Services/YUI/js/2_9_0/menu/

# /Services/YUI/js/2_9_0/menu/assets/

# /Services/YUI/js/2_9_0/menu/assets/skins/

# /Services/YUI/js/2_9_0/menu/assets/skins/sam/

# /Services/YUI/js/2_9_0/paginator/

# /Services/YUI/js/2_9_0/paginator/assets/

# /Services/YUI/js/2_9_0/paginator/assets/skins/

# /Services/YUI/js/2_9_0/paginator/assets/skins/sam/

# /Services/YUI/js/2_9_0/profiler/

# /Services/YUI/js/2_9_0/profilerviewer/

# /Services/YUI/js/2_9_0/profilerviewer/assets/

# /Services/YUI/js/2_9_0/profilerviewer/assets/skins/

# /Services/YUI/js/2_9_0/profilerviewer/assets/skins/sam/

# /Services/YUI/js/2_9_0/progressbar/

# /Services/YUI/js/2_9_0/progressbar/assets/

# /Services/YUI/js/2_9_0/progressbar/assets/skins/

# /Services/YUI/js/2_9_0/progressbar/assets/skins/sam/

# /Services/YUI/js/2_9_0/reset/

# /Services/YUI/js/2_9_0/reset-fonts/

# /Services/YUI/js/2_9_0/reset-fonts-grids/

# /Services/YUI/js/2_9_0/resize/

# /Services/YUI/js/2_9_0/resize/assets/

# /Services/YUI/js/2_9_0/resize/assets/skins/

# /Services/YUI/js/2_9_0/resize/assets/skins/sam/

# /Services/YUI/js/2_9_0/selector/

# /Services/YUI/js/2_9_0/slider/

# /Services/YUI/js/2_9_0/slider/assets/

# /Services/YUI/js/2_9_0/slider/assets/skins/

# /Services/YUI/js/2_9_0/slider/assets/skins/sam/

# /Services/YUI/js/2_9_0/storage/

# /Services/YUI/js/2_9_0/stylesheet/

# /Services/YUI/js/2_9_0/swf/

# /Services/YUI/js/2_9_0/swfdetect/

# /Services/YUI/js/2_9_0/swfstore/

# /Services/YUI/js/2_9_0/tabview/

# /Services/YUI/js/2_9_0/tabview/assets/

# /Services/YUI/js/2_9_0/tabview/assets/skins/

# /Services/YUI/js/2_9_0/tabview/assets/skins/sam/

# /Services/YUI/js/2_9_0/treeview/

# /Services/YUI/js/2_9_0/treeview/assets/

# /Services/YUI/js/2_9_0/treeview/assets/skins/

# /Services/YUI/js/2_9_0/treeview/assets/skins/sam/

# /Services/YUI/js/2_9_0/uploader/

# /Services/YUI/js/2_9_0/uploader/assets/

# /Services/YUI/js/2_9_0/utilities/

# /Services/YUI/js/2_9_0/yahoo/

# /Services/YUI/js/2_9_0/yahoo-dom-event/

# /Services/YUI/js/2_9_0/yuiloader/

# /Services/YUI/js/2_9_0/yuiloader-dom-event/

# /Services/YUI/js/2_9_0/yuitest/

# /Services/YUI/js/2_9_0/yuitest/assets/

# /Services/YUI/js/2_9_0/yuitest/assets/skins/

# /Services/YUI/js/2_9_0/yuitest/assets/skins/sam/

# /lang/
/lang/*.bak
/lang/.ilias_de.lang.swp
/lang/.ilias_de.lang.swo
/lang/.ilias_en.lang.swo
/lang/.swp

# /setup/sql/
/setup/sql/*.bak
/setup/sql/ilDBTemplate

# /templates/
/templates/isw

# /templates/default/
/templates/default/*.bak

# /webservice/soap/
/webservice/soap/*.bak

# /webservice/soap/classes/
/webservice/soap/classes/*.bak

# /webservice/soap/include/
/webservice/soap/include/*.bak

# /webservice/soap/lib/
/webservice/soap/lib/*.bak

# /xml/
/xml/*.bak
