# enforces strict compatibility with the version of `node` and `npm`
# as specified in the `package.json` file when running commands in
# this project.
# @see https://docs.npmjs.com/cli/v11/using-npm/config#engine-strict
# @see https://docs.npmjs.com/cli/v11/configuring-npm/package-json#engines
engine-strict=true
