body {
        color:#222222;
        background-color:#dddddd;
        font-family:Verdana,Arial,Helvetica,sans-serif;
        font-size:medium;
}


option,select,p,ul,ol,li,div,td,tr,th,b,i
{
  font-family:verdana;
  font-size: 10pt;
  font-style: bold;

}
sup
{
  font-family:verdana;
  font-size: 8pt;
  color: #FF0000;
}

h1
{
  font-family:verdana;
  font-size: 12pt;
  font-style: bold;

  color: #000000;
}

.legende
{
  color: #FFFFFF;
  vertical-align:top;
}

.menu
{
  color: #FFFFFF;
  vertical-align:top;
}

a.inlist
{
  text-decoration: none;
  color: #0000FF;
}

a.mailread
{
	font-weight: normal;
	color: white;
}

a.mailunread
{
    text-decoration: underline;
	font-weight: bold;
}

a
{
  text-decoration: none;
  color: #0000FF;
}

.menu
{
  text-decoration: none;
  color: #FFFFFF;
}

.statusbar
{
  color: #FFFFFF;
  font-weight: bold;
}

input
{
  font-family:verdana;
  font-size: 8pt;
}

.message
{
  color: #DD0000;
  font-weight: bold;
  text-align: center;
}

.subtitel
{
  font-weight: bold;
}

.head
{
  font-size: 8pt;
  background-color: #99BBFF;
}

.infotext
{
  font-size: 10px;
}

:hover { color: #0099FF }


.row_low
{
  background-color: #DDDDFF;
}

.row_high
{
  background-color: #FFFFFF;
}

.locator
{
  background-color: #DDDDFF;
}

.header
{
  background-color: #BBBBFF;
}

CODE {
	font-size: 8pt;
}
/* ------------------ tabs -------------- */
.tab {
	font-size: x-small;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	color: #000000;
	font-weight: bold;
}
