parameters:
    ignoreErrors:
    excludes_analyse:
        - 'libs/*'
        - 'Customizing/*'
        - '*/tests/*'
        - '*/test/*'
    autoload_directories:
        - libs/composer/vendor/autoload.php
    earlyTerminatingMethodCalls:
        ilCtrl:
          - redirect
          - redirectByClass
          - redirectToURL
        ilUtil:
          - redirect