/* Services/User */
div.ilProfile {
  width: 450px;
  margin: 0 auto;
  background: url(images/form_back.png) repeat-y #f6f6f6;
  border: 1px solid #D0D5EA;
  padding: 15px;
}
h3.ilProfileName {
  margin: 0 0 10px;
  padding: 0;
  font-weight: normal;
  font-size: 130%;
}
div.ilProfileSection {
  margin-top: 20px;
  font-size: 90%;
  color: #606060;
}
h3.ilProfileSectionHead {
  margin: 0 0 3px;
  padding: 0;
  font-weight: normal;
  font-size: 110%;
  color: #202020;
}
table.il_user_quota_disk_usage_overview {
  background-color: white;
}
