/* Services/User */

div.ilProfile {
	max-width: 450px;
	margin: 0 auto;
	background-color: @il-main-dark-bg;
	padding: @il-padding-xxxlarge-vertical;
	+ div.ilProfile {
		margin-top: @il-margin-xxxlarge-vertical;
	}

	+ div.ilPermalinkContainer {
		margin-top: @il-padding-xxxlarge-vertical;
		.input-group-btn {
			vertical-align: bottom;
		}
	}
}

img.ilProfileImage {
	width: 100%;
}

h3.ilProfileName {
	margin: 0 0 @il-margin-xlarge-vertical;
	padding: 0;
	font-weight: @il-font-weight-base;
	font-size: @il-font-size-xlarge;
}

div.ilProfileSection {
	margin-top: @il-padding-xxxlarge-vertical;
	font-size: @il-font-size-small;
	color: @il-text-light-color;
}

h3.ilProfileSectionHead {
	margin: 0 0 @il-margin-base-vertical;
	padding: 0;
	font-weight: @il-font-weight-base;
	font-size: @il-font-size-large;
	color: @il-text-color;
}

table.il_user_quota_disk_usage_overview {
	background-color: @il-main-bg;
}

img.ilUserXXSmall {
	max-width: 30px;
}