/* Services/User */
div.ilProfile {
  width: 450px;
  margin: 0 auto;
  background-color: #F6F6F6;
  border: 1px solid #D0D5EA;
  padding: 15px;
}
h3.ilProfileName {
  margin: 0 0 10px;
  padding: 0;
  font-weight: normal;
  font-size: 130%;
}
div.ilProfileSection {
  margin-top: 20px;
  font-size: 90%;
  color: #606060;
}
h3.ilProfileSectionHead {
  margin: 0 0 3px;
  padding: 0;
  font-weight: normal;
  font-size: 110%;
  color: #202020;
}
table.il_user_quota_disk_usage_overview {
  background-color: white;
}
/* -- User Gallery Styles -- */
.ilUsersGalleryContainer div.ilUser {
  margin: 0 0 20px;
  background-color: #fff;
  padding: 20px 0;
  font-size: 100%;
  width: 100%;
  height: auto;
  text-align: center;
}
.ilUsersGalleryContainer div.ilUser img {
  min-height: 80px;
  max-height: 80px;
}
.ilUsersGalleryContainer div.ilUser h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
  margin: 20px 0;
  font-size: 1.6rem !important;
}
.ilUsersGalleryContainer div.ilUser .action {
  width: 100%;
  height: 40px;
}
.ilUsersGalleryContainer div.ilUser .action div {
  display: inline-block;
}
.ilUsersGalleryContainer div.ilUser .action .btn {
  float: left;
}
.ilUsersGalleryContainer div.ilUser .action .btn-default:hover {
  color: #fff !important;
}
.ilUsersGalleryContainer div.ilUser .action .mailBtn {
  height: 37px;
  font-size: 16px;
  padding: 0 15px;
  line-height: 30px;
  margin: 2px 0 0 0;
}
.ilUsersGalleryContainer div.ilUser .action .open .btn {
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 0 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0 3px 5px rgba(0, 0, 0, 0.5);
}
.ilUsersGalleryContainer div.ilUser .action .open .btn-success:hover,
.ilUsersGalleryContainer div.ilUser .action .open .btn-success:focus,
.ilUsersGalleryContainer div.ilUser .action .open .btn-success:active {
  color: white;
  background: #626f78;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 0 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0 3px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid #5b6770;
}
.ilUsersGalleryContainer div.ilUser .action ul.dropdown-menu {
  min-width: 170px;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.ilUsersGalleryContainer div.ilUser .action ul.dropdown-menu li > a {
  padding: 8px 10px;
}
