<tr class="{CSS_ROW}">
	<!-- BEGIN check_col -->
	<td class="std">
		<input type="checkbox" name="id[]" value="{CHECKBOX_ID}" {CHECKED} />
	</td>
	<!-- END check_col -->
	<!-- BEGIN td -->
	<td class="std small">
		{TD_VAL}
	</td>
	<!-- END td -->
	<!-- BEGIN td_lang -->
	<td class="std small">
		{TEXT_LANGUAGE}
	</td>
	<!-- END td_lang -->
	<!-- BEGIN td_usage -->
	<td class="std small">
		<!-- BEGIN link_usage --><a href="{LINK_USAGE}">{LUSAGE}</a><!-- END link_usage -->
		<!-- BEGIN usage -->{USAGE}<!-- END usage -->
	</td>
	<!-- END td_usage -->
	<td class="std">
	<!-- BEGIN definition_row -->
		<!-- BEGIN def_head -->
			<i>{DEF_TEXT}</i><br />
		<!-- END def_head -->
		<!-- BEGIN definition -->
			<div class="small">{DEF_SHORT}</div>
		<!-- END definition -->
		<div class="il_ContainerItemCommands ilRight"> 
		<!-- BEGIN move_up -->
			<a class="il_ContainerItemCommand" href="{LINK_UP}">{TXT_UP}</a>
		<!-- END move_up -->
		<!-- BEGIN move_down -->
			<a class="il_ContainerItemCommand" href="{LINK_DOWN}">{TXT_DOWN}</a>
		<!-- END move_down -->
		<!-- BEGIN delete -->
			<a class="il_ContainerItemCommand" href="{LINK_DELETE}">{TXT_DELETE}</a>
		<!-- END delete -->
		<!-- BEGIN edit -->
			<a class="il_ContainerItemCommand" href="{LINK_EDIT}">{TXT_EDIT}</a>
		<!-- END edit -->
		</div>
	<!-- END definition_row -->
	</td>
	<!-- BEGIN glossary -->
	<td class="std small">
		{GLO_TITLE}
	</td>
	<!-- END glossary -->
	<td class="std small">
		{ACTIONS}
	</td>
</tr>
