<div class="ilExplorerFrame">
	<table class="ilExplorer">
		<tr>
			<td class="ilExpH">
				<div class="ilExpH">
					<h1 class="ilExplorerHead">{TXT_EXPLORER_HEADER}</h1>
				</div>
			</td>
		</tr>
		<tr>
			<td class="ilExpBody">
				<div class="il_Explorer">
					<form class="il_Form" action="{FORMACTION1}" method="post">
						<div class="ilRight">
							<input class="submit" type="submit" name="cmd[{CMD_REFR}]" value="{TXT_REFR}" />
						</div>
					</form>
					{SHORT_LIST}
				</div>
			</td>
		</tr>
	</table>
</div>