<tr class="{CSS_ROW}">
	<!-- BEGIN check_col -->
	<td class="std" valign="top">
		<input class="{CSS_ROW}" type="checkbox" name="id[]" value="{CHECKBOX_ID}" {CHECKED}/>
	</td>
	<!-- END check_col -->
	<!-- BEGIN td -->
	<td class="std" valign="top">
		<!-- BEGIN link_start --><a href="{LINK_VIEW_TERM}"><b><!-- END link_start -->{TEXT}<!-- BEGIN link_end --></b></a><a name="{ANCHOR_TERM}"/><!-- END link_end -->
	</td>
	<!-- END td -->
	<td class="std" valign="top">
	<!-- BEGIN definition_row -->
		<!-- BEGIN definition -->
			{DEF_SHORT}<br />
		<!-- END definition -->
	<!-- END definition_row -->
	</td>
<!-- BEGIN glossary_row -->
	<td class="std" valign="top">
		{GLO_TITLE}
	</td>
<!-- END glossary_row -->
</tr>
