<form action="{FORMACTION}" name="post" method="post">
<table class="std">
<tr class="tblheader">
	<td class="std" colspan="2">
		{TXT_ACTION}
	</td>
</tr>
<tr class="std">
	<td class="option">
	{TXT_TERM}
	</td>
	<td class="option_value">
		<input type="text" name="{INPUT_TERM}" size="50" maxlength="200" value="{VALUE_TERM}">
	</td>
</tr>
<tr class="std">
	<td class="option">
	{TXT_LANGUAGE}
	</td>
	<td class="option_value">
	{SELECT_LANGUAGE}
	</td>
</tr>
<!-- BEGIN commands -->
<tr>
	<td class="submit" colspan="2">
		<input class="submit" type="submit" name="cmd[{BTN_NAME}]" value="{BTN_TEXT}" />
	</td>
</tr>
<!-- END commands -->
</table>
</form>
