<h1 class="ilc_glo_ovtitle_GlossaryOvTitle">{TXT_TERM}</h1>
<!-- BEGIN definition -->
<!-- BEGIN definition_header -->
<div class="ilc_DefinitionHeader">{TXT_DEFINITION}</div>
<!-- END definition_header -->
{PAGE_CONTENT}
<!-- END definition -->
<div>
<table><tr><td class="ilWhiteSpaceNowrap">
<a class="ilc_glo_ovclink_GlossaryOvCloseLink" href="#" id="{ID_CLOSE}">{TXT_CLOSE}</a>&nbsp;</td>
<!-- BEGIN glovlink -->
<td class="ilWhiteSpaceNowrap ilRight">&nbsp;<a class="ilc_glo_ovuglink_GlossaryOvUnitGloLink" href="#" id="{ID_LINK}">{TXT_LINK}</a></td>
<!-- END glovlink -->
</tr></table>
</div>