<table>
<!-- BEGIN filter -->
<tr>
<form action="{FILTER_ACTION}" method="post">
   <td><b>{TXT_FILTER}</b></td>
   <td><input type="text" size="10" name="{PATTERN_NAME}" value="{PATTERN_VALUE}" />
   {SELECT_MODULE}
   {SELECT_MODE}
    <input type="hidden" name="{OFFSET_NAME}" value="{OFFSET_VALUE}" />
    <input class="submit" type="submit" name="cmd[{CMD_FILTER}]" value="{TXT_APPLY_FILTER}" />&nbsp;
    </td>   
</form>
</tr>
<!-- END filter -->
<!-- BEGIN compare -->
<tr>
<form action="{COMPARE_ACTION}" method="post">
    <td><b>{TXT_COMPARE}</b></td>
    <td>{SELECT_COMPARE}
    <input class="submit" type="submit" name="cmd[{CMD_COMPARE}]" value="{TXT_CHANGE}" />&nbsp;
    </td>   
</form>
</tr>
<!-- END compare -->

</table>
{TRANSLATION_TABLE}
