/* see content style roadmap */

#il-edit-cont {
	position: static;
}

#il-edit-cont p {
	/*margin: 0px;*/
	/*padding: 0px;*/
}

.ilTinyMenuSection .dropdown-menu .btn, .il-copg-button-group .dropdown-menu .btn {
	width: 100%;
	text-align: left;
}

.ilTinyMenuSection .dropdown-menu {
	width: auto;
}

#iltinymenu div.ilTinyMenuSection {
	white-space: normal;
}
.ilTinyMenuSection > div.dropdown:nth-child(1) > ul.dropdown-menu {
	right:auto;
	left:0;
}

/* see #41844 and #46127 */
#copg-editor-slate-content p, #iltinymenu .il-copg-button-group p {
	background-color: transparent;
}

#tinytarget_div .tox-tinymce {
	border-radius: 0;
}
#tinytarget_div .tox.tox-edit-focus .tox-edit-area::before {
	opacity: 0;
}

div.ilc_QuestionPlaceHolder
{
	padding: 10px 10px 10px 10px;
	background-color: #F4F4FF;
	border-width: 1px;
	font-size: 10px;
	border-color: #D0D0FF;
	border-style: solid;
	background-image: url(../../../assets/images/placeholder/question_placeholder.png);
	font-weight: bold;
}

div.ilc_MediaPlaceHolder
{
	padding: 10px 10px 10px 10px;
	background-color: #F4F4FF;
	border-width: 1px;
	font-size: 10px;
	border-color: #D0D0FF;
	border-style: solid;
	min-height:100px;
	font-weight: bold;
	background-image: url(../../../assets/images/placeholder/media_placeholder.png);
}

div.ilc_TextPlaceHolder,
div.ilc_VerificationPlaceHolder /* no custom image yet */
{
	padding: 10px 10px 10px 10px;
	background-color: #F4F4FF;
	border-width: 1px;
	font-size: 10px;
	border-color: #D0D0FF;
	border-style: solid;
	font-weight: bold;
	background-image: url(../../../assets/images/placeholder/text_placeholder.png);
}

.il-copg-cell-selected {
	outline: #557b2e 2px solid;
}

#il_EditPage div.il_editarea_selected, #il_EditPage div.copg-current-edit, iframe#tinytarget_ifr {
	border-style: solid;
	border-width: 2px;
	border-color: #557b2e;
}

#ed_datatable th.il-copg-edit-table {
	background-color: #f9f9f9;
	text-align: center;
	min-width: 40px;
}

.copg-iim-area-shape-sel {
	stroke-width: 1;
	fill: transparent;
	cursor: pointer;
}

.copg-iim-area-shape-sel.copg-iim-hl-mode-Edit {
	stroke: #FFF;
	stroke-dasharray: 4 2;
	filter: drop-shadow(0 0 1px #000) drop-shadow(0 0 1px #000);
}
.copg-iim-area-shape-sel.copg-iim-hl-mode-Always,
.copg-iim-area-shape-sel.copg-iim-hl-mode-Hover:hover {
	stroke: #B54F00;
}
.copg-iim-area-shape-sel.copg-iim-hl-mode-Always.copg-iim-hl-class-Dark,
.copg-iim-area-shape-sel.copg-iim-hl-mode-Hover.copg-iim-hl-class-Dark:hover
{
	stroke: #181818;
}
.copg-iim-area-shape-sel.copg-iim-hl-mode-Always.copg-iim-hl-class-Light,
.copg-iim-area-shape-sel.copg-iim-hl-mode-Hover.copg-iim-hl-class-Light:hover{
	stroke: #ffffff;
}
.copg-iim-area-shape-sel:hover {
	stroke-width: 2;
}
.copg-iim-area-shape-sel.copg-iim-hl-mode-Edit:hover {
	stroke: #0078D7;
	fill-opacity: 40%;
	fill: white;
	filter: none;
}

.copg-iim-popup {
	position:absolute;
	width: auto;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
	z-index: 1;
}

button.copg-add.dropdown-toggle.btn:focus-visible {
  outline: 3px solid #0078D7;
  outline-offset: -3px;
}

#ilPageTocContent ul {
	list-style-type: none;
	padding-left: 20px;
}

#ilPageTocContent > ul {
	padding-left: 5px;
}


@media (min-width: 480px) {
	.copg-iim-popup-sm {
		max-width: 50%;
	}
}
@media (min-width: 768px) {
	.copg-iim-popup-sm {
		max-width: 35%;
	}
}
@media (min-width: 992px) {
	.copg-iim-popup-sm {
		max-width: 30%;
	}
}
@media (min-width: 1200px) {
	.copg-iim-popup-sm {
		max-width: 300px;
	}
}

@media (min-width: 480px) {
	.copg-iim-popup-md {
		max-width: 100%;
	}
}
@media (min-width: 768px) {
	.copg-iim-popup-md {
		max-width: 70%;
	}
}
@media (min-width: 992px) {
	.copg-iim-popup-md {
		max-width: 45%;
	}
}
@media (min-width: 1200px) {
	.copg-iim-popup-md {
		max-width: 600px;
	}
}

@media (min-width: 480px) {
	.copg-iim-popup-lg {
		max-width: 100%;
	}
}
@media (min-width: 768px) {
	.copg-iim-popup-lg {
		max-width: 100%;
	}
}
@media (min-width: 992px) {
	.copg-iim-popup-lg {
		max-width: 100%;
	}
}
@media (min-width: 1200px) {
	.copg-iim-popup-lg {
		max-width: 100%;
	}
}

.ilc_ca_cntr_CarouselCntr {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.ilc_ca_cntr_CarouselCntr > div {
	width: 100%;
	box-sizing: border-box;
	opacity: 0;
	transition: opacity 0.5s ease;
	display: none;
}
.ilc_ca_cntr_CarouselCntr > div.active {
	display: block;
	opacity: 1;
}
.copg-src-form.c-form [data-il-ui-component=textarea-field-input] .c-input__field textarea {
	height: 50vh;
}

.ilc_media_caption_MediaCaption img {
	width: 25px;
	height: 25px;
}

.il-copg-mob-fullscreen-modal .il-modal-roundtrip {
	width: 90%;
	height: 90vh;
	.modal-dialog {
		width: 100%;
		.modal-content {
			height: 100%;
		}
	}
	.modal-body {
		height: calc(100% - 100px);
	}
}

.il-copg-mob-fullscreen {
	height: calc(90vh - 160px);
}