<div class="ilMainHeader">
	<div style="padding:2px 0px 9px 20px; float: left;">
		<img style="vertical-align:middle; padding:0px 15px 0px 0px;" width="44" height="44" border="0" src="{HEADER_ICON}" alt="ILIAS Logo"/>
	</div>
	<div style="float:left;" class="ilTopTitle">
		{TXT_HEADER_TITLE}
	</div>
	<!-- BEGIN top_section -->
	<!-- BEGIN userisanonymous -->
	<div class="ilLogin" >
		<span class="il_menu">{TXT_NOT_LOGGED_IN}.
			<a href="{LINK_LOGIN}" class="ilLogin" target="_top">{TXT_LOGIN}</a><!-- BEGIN registration_link -->&nbsp;<a href="{LINK_REGISTER}" class="ilLogin" target="_top">{TXT_REGISTER}</a><!-- END registration_link --></span>
		<form nowrap="nowrap" style="display:inline;" class="il_Form" name="languageselection" action="{LANG_FORM_ACTION}" method="post">
		<select class="ilLanguageSelection" name="change_lang_to" onChange="this.form.submit()"> 
		<option value="">{TXT_CHOOSE_LANGUAGE}</option>
		<!-- BEGIN languages -->
		<option value="{LANG_KEY}" {SELECTED_LANG}>{LANG_NAME}</option>
		<!-- END languages -->
		</select>
		<input class="ilLogin" type="submit" value="{TXT_OK}" /></form></div>
	<!-- END userisanonymous -->
	<!-- BEGIN userisloggedin -->
	<div class="ilLogin">
		{TXT_LOGIN_AS} {USERNAME} » <a class="ilLogin" href="{LINK_LOGOUT2}" target="_top">{TXT_LOGOUT2}</a>
	</div>
	<!-- END userisloggedin -->
	<!-- BEGIN search_box -->
	{SEARCHBOX}
	<!-- END search_box -->
	<!-- END top_section -->
	<div class="il_MainMenu" style="clear:both;">
		<h2 class="ilAccHeadingHidden">{TXT_MAIN_MENU}</h2>
		<!-- BEGIN chat_lastmsg -->
		{CHAT_LAST_MESSAGE}		
		<!-- END chat_lastmsg -->	
		<!-- BEGIN chatbutton -->
		{CHAT_INVITATIONS}		
		<!-- END chatbutton -->
		<!-- BEGIN desktopbutton -->
		<a class="{MM_CLASS}" href="{SCRIPT_DESK}" target="{TARGET_DESK}">{TXT_PERSONAL_DESKTOP}</a>
		<!-- END desktopbutton -->
		<!-- BEGIN rep_button -->
		<a class="{MM_CLASS}" href="{SCRIPT_CATALOG}" target="{TARGET}">{TXT_CATALOG}</a>
		<!-- END rep_button -->
		<!-- BEGIN searchbutton -->
		<a class="{MM_CLASS}" href="{SCRIPT_SEARCH}" target="{TARGET_SEARCH}">{TXT_SEARCH}</a>
		<!-- END searchbutton -->
		<!-- BEGIN mailbutton -->
		<a class="{MM_CLASS}" href="{SCRIPT_MAIL}" target="{TARGET_MAIL}">{TXT_MAIL}</a>
		<!-- END mailbutton -->		
		<!-- BEGIN shopbutton -->
		<a class="{MM_CLASS}" href="{SCRIPT_SHOP}" target="{TARGET_SHOP}">{TXT_SHOP}</a>
		<!-- END shopbutton -->
		<!-- BEGIN userisadmin -->
		<a class="{MM_CLASS}" href="{SCRIPT_ADMIN}" target="{TARGET_ADMIN}">{TXT_ADMINISTRATION}</a>
		<!-- END userisadmin -->		
		<!-- BEGIN userhelp -->
		<a class="{MM_CLASS}" href="{SCRIPT_HELP}" target="{TARGET_HELP}">{TXT_HELP}</a>
		<!-- END userhelp -->
		<!-- BEGIN nav_history -->
		<h2 class="ilAccHeadingHidden">{TXT_LAST_VISITED}</h2>
		{NAVIGATION_HISTORY}
		<!-- END nav_history -->
	</div>
	<div style="clear:both;"></div>
</div>
