<script>
    $(document).ready(function () {
        $('.il-mm-selfloading').closest(".dropdown").on("show.bs.dropdown", function () {
            var item = $(this).find('.il-mm-selfloading');
            var url = item.data("asyncUrl");
            $.get(url, function (data) {
                var element = $.parseHTML(data);
                item.closest("a").replaceWith(element);
                $(element).show();
                $(element).addClass("il-mm-selfloading");
            });
        });
    });
</script><span class="il-mm-selfloading" data-async-url="{ASYNC_URL}">
</span>