<li id="userlog" class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<span>{USER_IMG}<!--{USERNAME}--><span class="caret"></span></span>
	</a>
	<ul class="dropdown-menu pull-right" role="menu">
		<li>
			<a href="{USR_LINK_PROFILE}" target="_top">{USR_TXT_PROFILE}</a>
		</li>
		<li>
			<a href="{USR_LINK_SETTINGS}" target="_top">{USR_TXT_SETTINGS}</a>
		</li>
		<li role="presentation" class="divider"></li>
		<li>
			<a href="{LINK_LOGOUT2}">{TXT_LOGOUT2}</a>
		</li>
	</ul>
</li>
