<div id="ilTopBar" class="ilTopBar ilTopFixed{TOPBAR_CLASS}">
	<div class="container-fluid ilContainerWidth">
		<div class="row">
			<!-- BEGIN header_top_title -->
			<div class="ilTopTitle">{TXT_HEADER_TITLE}</div>
			<!-- END header_top_title -->
			<!-- BEGIN header_back_bl -->
			<div class="ilTopTitle ilTopTitleVisible"><a href="{URL_HEADER_BACK}">&laquo; {TXT_HEADER_BACK}</a></div>
			<!-- END header_back_bl -->
			<!-- BEGIN member_view_bl -->
			<div class="ilTopMemberView"><h3>{MEMBER_VIEW_INFO}</h3></div>
			<!-- END member_view_bl -->
				<ul id="ilTopBarNav" class="">					
					<!-- BEGIN status_box -->
						<!-- BEGIN status_item -->
						<li><a target="_top" href="{STATUS_HREF}"><span class="glyphicon glyphicon-envelope"></span> <!-- BEGIN status_text --><span class="badge">{STATUS_TXT}</span><span class="ilBadgeSpacer">{STATUS_TXT}</span><!-- END status_text --></a></li>
						<!-- END status_item -->
					<!-- END status_box -->
					<!-- BEGIN help_icon -->
						<li><a id="help_tr" href="#" onclick="return il.Help.listHelp(event, false);"><img src="{IMG_HELP}" alt="" /></a></li>
					<!-- END help_icon -->
					<!-- BEGIN help_tt_icon -->
						<li><a id="help_tt" href="#" onclick="return il.Help.switchTooltips(event);"><img src="{IMG_TT_ON}" id="help_tt_switch_on" alt="" /><img class="ilNoDisplay" src="{IMG_TT_OFF}" id="help_tt_switch_off" alt="" /></a></li>
					<!-- END help_tt_icon -->
					<!-- BEGIN search_box -->{SEARCHBOX}<!-- END search_box -->
					<!-- BEGIN help -->
					<li id="mm_help" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span class="visible-xs-inline glyphicon glyphicon-question-sign"></span>
						<span class="hidden-xs">{TXT_HELP} <span class="caret"></span></span></a>
						{HELP_SELECT}
					</li>
					<!-- END help -->
					<!-- BEGIN userisloggedin -->
					<li id="userlog" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span>{USER_IMG}<!--{USERNAME}--><span class="caret"></span></span>
						</a>
						<ul class="dropdown-menu pull-right" role="menu">
							<li>
								<a href="{USR_LINK_PROFILE}" target="_top">{USR_TXT_PROFILE}</a>
							</li>
							<li>
								<a href="{USR_LINK_SETTINGS}" target="_top">{USR_TXT_SETTINGS}</a>
							</li>
							<li role="presentation" class="divider"></li>
							<li>
								<a href="{LINK_LOGOUT2}">{TXT_LOGOUT2}</a>
							</li>
						</ul>
					</li>
					<!-- END userisloggedin -->
					<!-- BEGIN lang_select -->
					<li class="dropdown"><a id="mm_lang_sel" href="#" class="dropdown-toggle" data-toggle="dropdown">{TXT_LANGSELECT} <span class="caret"></span></a>
						{LANG_SELECT}
					</li>
					<!-- END lang_select -->
					<!-- BEGIN userisanonymous -->
					<li>
						<a href="{LINK_LOGIN}" target="_top">{TXT_LOGIN}</a>
						<!-- BEGIN registration_link --><!-- {LINK_REGISTER} --><!-- {TXT_REGISTER} --><!-- END registration_link -->
					</li>
					<!-- END userisanonymous -->

				</ul>

		</div>
	</div>
</div>
<!-- BEGIN osd_enabled --><script type="text/javascript">
	var OSDNotifier;
	$(function () {
		OSDNotifier = OSDNotifications({
			closeHtml:            {NOTIFICATION_CLOSE_HTML},
			initialNotifications: {INITIAL_NOTIFICATIONS},
			pollingIntervall:     {OSD_POLLING_INTERVALL},
			playSound:            {OSD_PLAY_SOUND}
		});
	});
	</script><!-- END osd_enabled -->
<!-- BEGIN osd_container --><div class="osdNotificationContainer"></div><!-- END osd_container -->
<!-- BEGIN main_menu_bl -->
<div class="ilMainHeader ilTopFixed">
	<header class="container-fluid ilContainerWidth">
		<div class="row">
			<a class="navbar-brand" href="{HEADER_URL}" target="_top">
				<img src="{HEADER_ICON}" alt="Logo" class="noMirror" /></a>
		</div>
	</header>
</div>
<div class="ilMainMenu ilTopFixed">
<div class="container-fluid ilContainerWidth">
	<div class="row">
		<nav id="ilTopNav" class="navbar navbar-default" role="navigation">
			
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ilMainMenuEntries">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- <a class="navbar-brand" href="#">Brand</a> -->
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="ilMainMenuEntries">
					{MAIN_MENU_LIST_ENTRIES}
					
				</div><!-- /.navbar-collapse -->
			
		</nav>

		<!-- BEGIN screen_id -->
		<div id="il_screen_id" class="ilHighlighted small">Screen-ID: {SCREEN_ID}</div>
		<!-- END screen_id -->
		<!-- BEGIN top_section --><!-- END top_section -->
	</div>
</div>
</div>
<!-- END main_menu_bl -->