/* Services/PersonalDesktop */
h3.ilPDBlockSubHeader {
  margin: 0;
  display: block;
  font-weight: normal;
  text-align: left;
  font-size: 90%;
  background-color: #F8F8F8;
  vertical-align: middle;
  border-top: 1px solid #F0F0F0;
  padding: 1px 3px;
}
.ilUserOnlineRow {
  margin: 0 0 0 40px;
}
.ilUserImage {
  margin: 0 0 0 -40px;
}
div.ilUserImage + img {
  margin: 2px 0;
}
