/* Services/UIComponent/Button */
div.il_ButtonGroup {
  margin: 3px 0 10px;
  line-height: 150%;
  white-space: nowrap;
  display: block;
}
input.submit,
a.submit,
a.submit:hover {
  font-size: 80%;
  font-weight: normal;
  line-height: 16px;
  vertical-align: baseline;
  color: #359;
  background: url(images/ButtonsBack.png) repeat-x top;
  background-size: auto 100%;
  /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
	background-image: -moz-linear-gradient(center top , #EDEDED, #FAFAFA);*/
  border: 1px solid #D0D0D0;
  /* border: 1px solid #C0C0C0; */
  padding: 2px 5px;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
}
input.submit:hover,
a.submit:hover {
  border-color: #B0B0B0;
  color: #101010;
  box-shadow: 0px 0px 1px #A0A0A0;
}
input.emphsubmit,
a.emphsubmit,
a.emphsubmit:hover {
  background-color: #5dbf61;
  background-image: none;
  /* IE10 will not work otherwise */
  background-image: -moz-linear-gradient(top, #5dbf61, #4fa152);
  background-image: -webkit-linear-gradient(top, #5dbf61, #4fa152);
  background-image: -o-linear-gradient(top, #5dbf61, #4fa152);
  background-image: linear-gradient(to bottom, #5dbf61, #4fa152);
  background-repeat: repeat-x;
  border-color: #0044CC #0044CC #003AAD;
  color: #FFFFFF;
  font-weight: 600;
  border-color: #4ea051 #4ea051 #7fcc81;
  min-width: 100px;
  display: inline-block;
  text-align: center;
}
input.emphsubmit:hover,
a.emphsubmit:hover {
  border-color: #707070;
  color: #FFFFFF;
  box-shadow: 0px 0px 1px #909090;
}
input.ilSubmitInactive,
input.ilSubmitInactive:hover,
a.ilSubmitInactive,
a.ilSubmitInactive:hover {
  color: #909090;
  cursor: default;
  border-color: #D0D0D0;
  box-shadow: none;
  background: url(images/ButtonsBack.png) repeat-x top;
  background-size: auto 100%;
}
div.il_ButtonGroup.bigButton > input.submit {
  padding: 10px;
}
input.submit_disabled,
a.submit_disabled,
a.submit_disabled:hover {
  background-color: #E6ECF8;
  color: gray;
  border: 1px solid #B6B6B6;
  padding: 2px;
  text-decoration: none;
  font-size: 90%;
  cursor: pointer;
}
