<tr class="{CSS_ROW}">
<td class="std" valign="top">
{TXT_MODULE_NAME}
</td>
<td class="std">
<!-- BEGIN rep_object -->
<div style="margin: 0px 0px 10px 0px;"><img alt="{TXT_REP_OBJECT}" src="{IMG_REP_OBJECT}" border="0"/>&nbsp;{TXT_REP_OBJECT} [{TXT_REP_OBJECT_ID}]
<div class="small">
<!-- BEGIN group -->
{TXT_GROUP}: {VAL_GROUP} [{VAL_GROUP_ID}]<br />
<!-- END group -->
{TXT_ADD_NEW_POS}: <input type="text" name="{VAR_POS}" value="{VAL_POS}" size="3" maxlength="3" /><br />
{TXT_DISABLE_CREATION}: <input type="checkbox" value="1" name="{VAR_DISABLE_CREATION}" {CHECKED_DISABLE_CREATION} />
</div>
</div>
<!-- END rep_object -->
</td>
</tr>
