<!-- BEGIN mini_month -->
<div style="text-align:center;">
	{VIEW_CTRL_SECTION}
</div>
<table class="calmini">
	<tr class="calminiheader">
		<!-- BEGIN month_header_col -->
		<th class="calmini">{TXT_WEEKDAY}</th>
		<!--  END month_header_col -->
	</tr>
	<!-- BEGIN month_row -->
	<tr class="calmini">
		<!-- BEGIN week -->
		<th class="calminiweek">
			<div class="il_calmini_monthday">
			<span>{WEEK}</span>
			</div>
		</th>
		<!-- END week -->
		<!-- BEGIN month_col -->
		<td class="{TD_CLASS}">
			<div class="il_calmini_monthday">
			<!-- BEGIN month_col_link -->
			<a class="{DAY_CLASS}" href="{OPEN_DAY_VIEW}">{MONTH_DAY}</a>
			<!-- END month_col_link -->
			<!-- BEGIN month_col_no_link -->
			<span class="{DAY_CLASS}">{MONTH_DAY}</span>
			<!-- END month_col_no_link -->
			</div>
		</td>
		<!-- END month_col -->
	</tr>
	<!-- END month_row -->
</table>
<!-- END mini_month -->