<div style="padding:15px;">

<div class="ilc_PageTitle">{PAGE_TITLE}</div>

<div style="margin-bottom: 15px;">
	<div>{TXT_OTHER_PAGES}:</div>
	<!-- BEGIN lpage --><div class="small" style="padding-left: 20px;">{TXT_LINKING_PAGE}</div><!-- END lpage -->
</div>

<div style="margin-bottom: 15px;">
	<div>{TXT_CONTRIBUTORS}:</div>
	<!-- BEGIN contributor --><div class="small" style="padding-left: 20px;">{TXT_CONTRIBUTOR}</div><!-- END contributor -->
</div>

<div style="margin-bottom: 15px;">
	<div>{TXT_NUMBER_USERS_NOTES_OR_COMMENTS}:</div>
	<div class="small" style="padding-left: 20px;">{TXT_NR_NOTES_COMMENTS}</div>
</div>

<!-- BEGIN ratings -->
<div style="margin-bottom: 15px;">
	<div>{TXT_NUMBER_OF_RATINGS}</div>
	<div class="small" style="padding-left: 20px;">{TXT_NR_RATINGS}</div>
</div>
<!-- END ratings -->

</div>
