<div class="small" style="margin-left:5px;">
<p><a href="{HREF_START_PAGE}">{TXT_START_PAGE}</a></p>
<p><a href="{HREF_RECENT_CHANGES}">{TXT_RECENT_CHANGES}</a></p>
<!-- BEGIN what_links_here -->
<p><a href="{HREF_WHAT_LINKS_HERE}">{TXT_WHAT_LINKS_HERE}</a></p>
<!-- END what_links_here -->
<p><a href="{HREF_PRINT_VIEW}">{TXT_PRINT_VIEW}</a></p>
<p><a href="{HREF_RANDOM_PAGE}">{TXT_RANDOM_PAGE}</a></p>
<p><a href="{HREF_ALL_PAGES}">{TXT_ALL_PAGES}</a></p>
<p><a href="{HREF_NEW_PAGES}">{TXT_NEW_PAGES}</a></p>
<p><a href="{HREF_POPULAR_PAGES}">{TXT_POPULAR_PAGES}</a></p>
<p><a href="{HREF_MEDIA_LIST}">{TXT_MEDIA_LIST}</a></p>
</div>
