<div style="padding:10px;">
	{CHART}
</div>
<div class="il_Block" style="width:25%;">
	<div class="ilBlockHeader">
		<div>		
			<h3 class="ilBlockHeader">{BLOCK_TITLE}</h3>		
		</div>
	</div>
	<div class="ilBlockContent">
		<table class="fullwidth">
			<tr class="tblheader">
				<th>{FIGURE_HEAD}</th>
				<th>{YESTERDAY_HEAD}</th>
				<th>{TODAY_HEAD}</th>
			</tr>
			<!-- BEGIN row_bl -->
			<tr class="{CSS_ROW} small">
				<td class="std">{FIGURE}</td>
				<td class="std">{YESTERDAY_VALUE}</td>
				<td class="std">{TODAY_VALUE}</td>
			</tr>
			<!-- END row_bl -->
		</table>
	</div>
</div>