<div class="small" style="margin-left:5px;">
<!-- BEGIN print_view -->
<p><a href="{HREF_PRINT_VIEW}">{TXT_PRINT_VIEW}</a></p>
<!-- END print_view -->
<!-- BEGIN what_links_here -->
<p><a href="{HREF_WHAT_LINKS_HERE}">{TXT_WHAT_LINKS_HERE}</a></p>
<!-- END what_links_here -->
<!-- BEGIN info -->
<p><a href="{HREF_INFO}">{TXT_INFO}</a></p>
<!-- END info -->
<!-- BEGIN settings -->
<p><a href="{HREF_SETTINGS}">{TXT_SETTINGS}</a></p>
<!-- END settings -->
<!-- BEGIN contributors -->
<p><a href="{HREF_CONTRIBUTORS}">{TXT_CONTRIBUTORS}</a></p>
<!-- END contributors -->
<p><a href="{HREF_START_PAGE}">{TXT_START_PAGE}</a></p>
<p><a href="{HREF_RANDOM_PAGE}">{TXT_RANDOM_PAGE}</a></p>
<p><a href="{HREF_RECENT_CHANGES}">{TXT_RECENT_CHANGES}</a></p>
<p><a href="{HREF_ALL_PAGES}">{TXT_ALL_PAGES}</a></p>
<p><a href="{HREF_NEW_PAGES}">{TXT_NEW_PAGES}</a></p>
<p><a href="{HREF_POPULAR_PAGES}">{TXT_POPULAR_PAGES}</a></p>
<p><a href="{HREF_ORPHANED_PAGES}">{TXT_ORPHANED_PAGES}</a></p>
</div>
