<div class="row">
	<div class="col-sm-6">
		{CHART}
	</div>
	<div class="col-sm-6">
		<table class="table">
			<thead>
				<tr class="small">
					<th scope="col">
						{FIGURE_HEAD}
					</th>
					<th scope="col">
						{YESTERDAY_HEAD}
					</th>
					<th scope="col">
						{TODAY_HEAD}
					</th>
				</tr>
			</thead>
			<tbody>
			<!-- BEGIN row_bl -->
			<tr class="small">
				<td>
					{FIGURE}
				</td>
				<td>
					{YESTERDAY_VALUE}
				</td>
				<td>
					{TODAY_VALUE}
				</td>
			</tr>
			<!-- END row_bl -->
			</tbody>
		</table>
	</div>
</div>