<div style="margin-bottom:5px; text-align:right;">
{RATING}
<span class="small">{TXT_NOTIFICATION}: <a href="{URL_NOTIFICATION_TOGGLE_WIKI}">{TXT_NOTIFICATION_TOGGLE_WIKI}</a> {TXT_NOTIFICATION_TOGGLE_DIVIDER}
<a href="{URL_NOTIFICATION_TOGGLE_PAGE}">{TXT_NOTIFICATION_TOGGLE_PAGE}</a></span>
</div>
{PAGE}
<br />
<!-- BEGIN page_commands -->
<div class="il_ContainerItemCommands" style="float:right;">
<!-- BEGIN page_command -->
<a class="il_ContainerItemCommand" href="{HREF_PAGE_CMD}">{TXT_PAGE_CMD}</a>
<!-- END page_command -->
</div>
<!-- END page_commands -->
{PERMA_LINK}
<br />
{NOTES}
