body {
        color:#222222;
        background-color:#ffcc66;
        font-family:Verdana,Arial,Helvetica,sans-serif;
        font-size: 13px;
        margin: 10px;
}


/* ----------------- normal links ------------- */
a {
        font-weight:bold;
        text-decoration:none;
        color:#000000;
}

a:hover {
        color:#000000;
}

a:visited {
        color:#000000;
}

/* ------------------- mail links ----------- */
a.mailread
{
        font-weight: normal;
        color: blue;
}

a.mailunread
{
        color: blue;
        font-weight: bold;
}

/* ------------------ anchor stlyes for buttons -------------- */

a.btn {
        color:#000000;
        text-decoration:none;
        font-size: 13px;
		font-weight:700;
}

a.tblheader:visited, a.tblheader:hover {
        color:#000000;
}

a.btn:visited {
        color:#ffffff;
        text-decoration:none;
        font-size: 13px;
}

a.btn:hover {
        color:#eeeeff;
}



/* --- to prevent images from spacing when using DOCTYPE xhtml --- */
img {
	display: block;
}

sup {
	color:ff0000;
}

/* ---------------- headlines ------------------ */

h1 {
	font-size: 18px;
	color:#222222;
}

h2 {
	font-size: 16px;
	color:#222222;
}

input, textarea {
	font-family:Verdana,Arial,Helvetica,sans-serif;
}

table {
	padding: 0px;
	margin: 0px;
	border-style: none;
	border-width: 0px;
	border-spacing: 0px;
	border-collapse: collapse;

}

tr.treeTopline {
	height: 5px;
}

td {
	font-size: 13px;
}


/* ----------------- background images for tree-elements ------------- */

td.treeTlc, td.treeTlc, td.treeBlc, td.treeBrc {
	width: 5px;
}

td.treeTlc {
	background-image:url(images/treeElem_tlc.gif);
	height: 8px;
}

td.treeTrc {
	background-image:url(images/treeElem_trc.gif);
	height: 8px;
}

td.treeBlc {
	background-image:url(images/treeElem_blc.gif);
	height: 5px;
}

td.treeBrc {
	background-image:url(images/treeElem_brc.gif);
	height: 5px;
}

td.treeTop {
	background-image:url(images/treeElem_top.gif);
	height: 8px;
}

td.treeBottom {
	background-image:url(images/treeElem_bottom.gif);
	height: 5px;
}

td.treeLeft {
	background-image:url(images/treeElem_left.gif);
}

td.treeRight {
	background-image:url(images/treeElem_right.gif);
}
td.treeCenter {
	background-color: #ffcc66;
	font-size: 13px;
}

/*---------------------------------------------------------------
----------------- independent style-classes----------------------
---------------------------------------------------------------*/



/*------------- style for buttons ------------------------------*/
.btn {
/*        background-color:#006699; */
        background-color: #ff9900;
        color:#ffffff;
}

.btnbar {
/*        background-color:#006699;*/
	background-color: #ff9900;
}

/* ------------------ content window body tag (not used yet) -------------- */
.content {
        margin:0px;
}

/* ---------------- alternating tablerowcolors ----------------- */
.tblrow2 {
        color:#222222;
        background-color:#ffcc66;
}

.tblrow1 {
        color:#222222;
        background-color:#FDE5B6;
}

/* -------------------- table formatting ------------------ */

.tblheader {
     color:#000000;
     background-color:#ffcc66;
     font-size:18px;
     font-family: Times, Times New Roman;
}

/* ----------------- alternative text styles ------------- */
.small {
        text-decoration:none;
        font-size: 11px;
}

.smallgreen {
        text-decoration:none;
        font-size: 11px;
	color:green;
}

.smallred {
        text-decoration:none;
        font-size: 11px;
	color:red;
}
.message {
  color: #dd0000;
  font-weight: bold;
  text-align: center;
}

/* ------------------ tabs -------------- */
.tab {
        font-size: 11px;
        color: #000000;
        font-weight: bold;
        background-color:#cc9933;
}

.tabactive {
        background-color:#FDE5B6;
}
.tabinactive {
        background-color:#ff9900;
}


