<form action="{FORMACTION}" name="objectItems" method="post">
<table width="100%" cellspacing="0" cellpadding="2" border="0">
<!-- BEGIN table_header_row -->
	<tr>
<!-- BEGIN table_header_cell -->
		<td class="tblheader"><a href="{HEADER_LINK}">{HEADER_TEXT}</a></td>
<!-- END table_header_cell -->
	</tr>
<!-- END table_header_row -->

<!-- BEGIN table_row -->
	<tr>
	<!-- BEGIN table_cell -->
		<td class="{CELLSTYLE}" valign="top">
			<!-- BEGIN image -->
				<img src="{TPLPATH}/images/{IMG}" alt="{ALT_IMG}" title="{ALT_IMG}" border="0" vspace="0" />
			<!-- END image -->
			<!-- BEGIN begin_link -->
				<a href="{LINK_TARGET}{NEW_TARGET}">
			<!-- END begin_link -->
			<!-- BEGIN text -->
				{TEXT_CONTENT}
			<!-- END text -->
			<!-- BEGIN checkbox -->
				<input type="checkbox" name="id[]" value="{CHECKBOX_ID}" />
			<!-- END checkbox -->
			<!-- BEGIN empty_cell -->
				&nbsp;
			<!-- END empty_cell -->
			<!-- BEGIN end_link -->
				</a>
			<!-- END end_link -->
		</td>
	<!-- END table_cell -->
	</tr>
<!-- END table_row -->
<!-- BEGIN notfound -->
	<tr>
		<td colspan="{NUM_COLS}" align="center" valign="top"><i>{TXT_OBJECT_NOT_FOUND}</i></td>
	</tr>
<!-- END notfound -->
</table>
<!-- BEGIN operation -->
<table cellspacing="0" cellpadding="2" border="0">
	<tr height="40">
		<td align="left" width="16"><img src="{TPLPATH}/images/arrow_downright.gif" border="0" /></td>
		<td align="left">
<!-- BEGIN operation_btn -->
			<input type="submit" name="cmd[{BTN_NAME}]" value="{BTN_VALUE}" />
<!-- END operation_btn -->
		</td>
	</tr>
</table>
<!-- END operation -->
</form>
<br><br>
<!-- BEGIN add_object -->
<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td align="left" valign="top">&nbsp;</td>
		<td align="left" valign="top">
			<form action="{FORMACTION_OBJ_ADD}" method="post">
			{SELECT_OBJTYPE}
			<input type="submit" name="submit" value="{TXT_ADD}" />
			</form>
		</td>
	</tr>
</table>
<!-- END add_object -->
{SYSTEMSETTINGS}
