<h1>{TXT_SEARCH}</h1>

{MESSAGE}

<form method="post" action="{ACTION}">
<table CELLPADDING=3 CELLSPACING=1 BORDER=0>
<tr class="tblrow2">
  <td><input name="searchtext" value="{SEARCHTEXT}" size=40 maxlength=255><input type=submit value="{TXT_SEARCH}" name="search"></td>
</tr>
<tr>
  <td COLSPAN=4><b><input type="radio" name="options[]" value="keywords" checked>&nbsp;{TXT_KEYWORDS}&nbsp;<input type="radio" name="options[]" value="phrase">&nbsp;{TXT_PHRASE}</b></td>
</tr>
<tr>
  <td COLSPAN=4><strong>{TXT_SEARCH_IN}</strong>&nbsp;&nbsp;<select name="area">
<!-- BEGIN searcharea -->
	<option value="{SELVALUE}" {SELECTED}>{SELOPTION}</option>
<!-- END searcharea -->
  </select></td>
</tr>
</table>
</form>
<!-- BEGIN result -->
<table>
<!-- BEGIN resultrow -->
<tr>
  <td class="tblrow1"><a href="{LINK}">{LINK}</a></td>
  <td class="tblrow2">{TEXT}</td>
  <td class="tblrow1">{CONTENT}</td>
</tr>
<!-- END resultrow -->
</table>
<!-- END result -->