<!-- $Id$ -->
<!-- @author Eva Wenzl <ewenzl@databay.de> -->

<h1>{TXT_PAGEHEADLINE}</h1>
{BUTTONS}

    <br><form action="{FORMACTION}" method="post">

    <table cellpadding=2 cellspacing=0 border=0>
    <tr>
      <td valign="top" class="tblheader">{TXT_TITLE}</td>
      <td class="tblrow1">{TITLE}</td>
      <td><img src="./images/spacer.gif" alt="" width=50 height=1 border=0></td>
      <td VALIGN="top" class="tblheader">{TXT_LO_CAT}</td>
      <td class="tblrow1">{LO_CAT}</td>
    </tr>
    <tr>
      <td valign="top" class="tblheader">{TXT_UID}</td>
      <td class="tblrow2">{UID}</td>
      <td></td>
      <td valign="top" class="tblheader"></td>
      <td class="tblrow2"></td>
    </tr>
    <tr>
      <td valign="top" class="tblheader">{TXT_AUTHORS}</td>
      <td class="tblrow1">{AUTHORS}</TD>
      <td></td>
      <td valign="top" class="tblheader">{TXT_LEVEL}</td>
      <td class="tblrow1">{LEVEL}</td>
    </tr>
    <tr>
      <td valign="top" class="tblheader">{TXT_MEMBERS}</td>
      <td class="tblrow2">{MEMBERS}</td>
      <td></td>
      <td valign="top" class="tblheader">{TXT_STATUS}</td>
      <td class="tblrow2">{STATUS}</td>
    </tr>
    <tr>
      <td valign="top" class="tblheader">{TXT_PUBLISHING_ORGANISATION}</td>
      <td class="tblrow1">{PUBLISHING_ORGANISATION}</td>
      <td></td>
      <td valign="top" class="tblheader">{TXT_PUB_DATE}</td>
      <td class="tblrow1">{PUB_DATE}</td>
    </tr>
    <tr>
      <td valign="top" class="tblheader">{TXT_LANGUAGE}</td>
	  <td class="tblrow2">{LANGUAGE}</td>
      <td> </td>
	  <td valign="top" class="tblheader">{TXT_PUB}</td>
      <td class="tblrow2">{PUBLICATION}</td>
    </tr>
    <tr>
      <td valign="top" class="tblheader">{TXT_SUMMARY}</td>
      <td class="tblrow1">{SUMMARY}</td>
      <td></td>
      <td valign="top" class="tblheader">{TXT_LASTCHANGE}</td>
      <td class="tblrow1">{LASTCHANGE}</td>
    </tr>
    <tr>
      <td valign="top" class="tblheader">{TXT_KEYWORDS}</td>
      <td class="tblrow2">{KEYWORDS}</td>
    </tr>
    </table>

    <p>
    <table cellpadding=2 cellspacing=0 border=0>
    <tr>
      <td colspan=9 align="center">{TXT_FUNCTIONS}</td>
    </TR>
    <TR>
      <td align="center">{TXT_CHANGE_METADATA}</td>
      <td align="center">{TXT_PRESENTATION_OPTIONS}</td>
      <td>{TXT_CHANGE_LO_INFO}</td>
      <td>{TXT_ANNOUNCE_CHANGES}</td>
      <td>{TXT_ASSIGN_LO_FORUM}</td>
    </tr>
    </table>
    </form>

