<h1>{TXT_MAIL}</h1>

{BUTTONS}
{MESSAGE}
...
<form method="post" name="formmsg" action="{ACTION}">

<h2>{FOLDERNAME}</h2>

<p>{MAIL_COUNT}&nbsp;{TXT_MAIL_S} ({MAIL_COUNT_UNREAD} {TXT_UNREAD})</p>

<table cellpadding="4" cellspacing="0" border="0" width="100%">
	<tr>
		<td class="tblrow2">
			<table cellpadding="4" cellspacing="0" border="0">
				<tr>
					<td class="tblrow1"><img src="{TPLPATH}/images/arrow_upright.gif" border=0 alt="{TXT_ARROW_UPRIGHT}"></td>
					<td class="tblrow2"><input type="submit" name="read" value="{TXT_READ}"></td>
					<td class="tblrow1"><input type="submit" name="delete" value="{TXT_DELETE}"></td>
					<td class="tblrow2">
						<select name="action" onChange="document.formmsg.submit();">
							<option selected>{TXT_ACTIONS}</option>
<!-- BEGIN mailactions -->
							<option value="{MAILACTION_VALUE}">{MAILACTION_OPTION}</option>
<!-- END mailactions -->
						</select>
					</td>
					<td class="tblrow1">
						<select name="move_to" onChange="document.formmsg.submit();">
							<option selected>{TXT_MOVE_TO}</option>
<!-- BEGIN mailmoveto -->
							<option value="{MAILMOVE_VALUE}">{MAILMOVE_OPTION}</option>
<!-- END mailmoveto -->
						</select>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table cellpadding="4" cellspacing="0" border="0">
				<tr>
					<td align="right">{TXT_FOLDERS}
						<select name="folder" onChange="document.formmsg.submit();">
<!-- BEGIN folder -->
							<option value="{FOLDER_VALUE}" {FOLDER_SELECTED}>{FOLDER_OPTION}</option>
<!-- END folder -->
						</select>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table>
	<tr>
		<td><img src="./images/spacer.gif" width=1 height=1></td>
	</tr>
</table>

<table width="100%" cellpadding=0 cellspacing=0 border=0>
	<tr>
		<td class="tblheader">&nbsp;</td>
		<td class="tblheader">{TXT_SENDER}</td>
		<td class="tblheader">{TXT_SUBJECT}</td>
		<td class="tblheader">{TXT_DATE}<img VSPACE=0 BORDER=0 SRC="{TPLPATH}/images/a_{DIRECTION}.gif" WIDTH=12 HEIGHT=6 ALT="{TXT_DIRECTION}"></a></td>
	</tr>
<!-- BEGIN row -->
	<tr>
		<td class="tblrow1">&nbsp;<input type="checkbox" name="marker[]" value="{MAIL_ID}"></td>
		<td class="tblrow2" valign="middle">&nbsp;{MAIL_FROM}</TD>
		<td class="tblrow1" valign="middle">&nbsp;<a class="{MAILCLASS}" href="{MAIL_LINK_READ}">{MAIL_SUBJ}</a></td>
		<td class="tblrow2" valign="middle">&nbsp;{MAIL_DATE}</td>
	</tr>
<!-- END row -->
	<tr>
		<td><img src="./images/spacer.gif" width=1 height=3></td>
	</tr>
	<tr>
		<td colspan=4>&nbsp;<input type="checkbox" name="all" value="check_all" onClick="CheckAll();">&nbsp;<strong>{TXT_SELECT_ALL}</strong></td>
	</tr>
</table>
</form>
