{LOCATOR}

<table width="100%" cellpadding="0" cellpadding="0" border="0">
<tr>
	<td width=1% nowrap="nowrap" valign="top">{COUNT_THREAD}</td>
	<td align="right">{BUTTONS}</td>
</tr>
</table>

{NO_BTN}

{MESSAGE}

<!-- BEGIN threadtable -->

<!-- BEGIN linkbar -->
<table cellpadding="3" cellspacing="1" border="0">
<tr><td>{LINKBAR}</td></tr>
</table>
<!-- END linkbar -->

<table width="100%" cellpadding="3" cellspacing="1" border="0">

<tr valign="top">
  <td width="20%" class="tblheader"><b>{TXT_TITLE}</b></td>
  <td class="tblheader"><b>{TXT_AUTHOR}</b></td>
  <td class="tblheader"><b>{TXT_DATE}</b></td>
  <td class="tblheader"><b>{TXT_NUM_POSTS}</b></td>
  <td class="tblheader"><b>{TXT_NUM_VISITS}</b></td>
  <td class="tblheader"><b>{TXT_LAST_POST}</b></td>
</tr>

<!-- BEGIN threads_row -->
<tr>
 <td valign="top" class="tblrow1" width="20%">{TITLE}</td>
 <td valign="top" class="tblrow2">{AUTHOR}</td>
 <td valign="top" class="tblrow1">{DATE}</td>
 <td valign="top" class="tblrow2">{NUM_POSTS}</td>
 <td valign="top" class="tblrow1">{NUM_VISITS}</td>
 <td valign="top" class="tblrow2">{LAST_POST}</td>
</tr>
<!-- END threads_row -->

<!-- BEGIN threads_no -->
<tr>
 <td colspan="6">{TXT_MSG_NO_THREADS_AVAILABLE}</td>
</tr>
<!-- END threads_no -->
</table>
<!-- END threadtable -->
