	<form action="{FORMACTION_BASICDATA}" method="post">
    <table class="std">
    <tr class="tblheader">
      <td class="std" colspan="2">{TXT_BASIC_DATA}</td>
    </tr>
    <tr>
      <td class="option">{TXT_DB_VERSION}</td>
      <td class="option_value">{DB_VERSION}</td>
    </tr>
    <tr>
      <td class="option">{TXT_ILIAS_VERSION}</td>
      <td class="option_value">{ILIAS_VERSION}</td>
    </tr>
    <tr>
      <td class="option">{TXT_INST_ID}</td>
      <td class="option_value">{INST_ID}</td>
    </tr>
    <tr>
      <td class="option">{TXT_HOSTNAME}</td>
      <td class="option_value">{HOSTNAME}</td>
    </tr>
    <tr>
      <td class="option">{TXT_IP_ADDRESS}</td>
      <td class="option_value">{IP_ADDRESS}</td>
    </tr>
    <tr>
      <td class="option">{TXT_SERVER_PORT}</td>
      <td class="option_value">{SERVER_PORT}</td>
    </tr>
    <tr>
      <td class="option">{TXT_SERVER_SOFTWARE}</td>
      <td class="option_value">{SERVER_SOFTWARE}</td>
    </tr>
    <tr>
      <td class="option">{TXT_HTTP_PATH}</td>
      <td class="option_value">{HTTP_PATH}</td>
    </tr>
    <tr>
      <td class="option">{TXT_ABSOLUTE_PATH}</td>
      <td class="option_value">{ABSOLUTE_PATH}</td>
    </tr>
    <tr>
      <td class="option">{TXT_INST_NAME}</td>
      <td class="option_value"><input type="text" size="40" maxlength="40" name="inst_name" value="{INST_NAME}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_INST_INFO}</td>
      <td class="option_value"><input type="text" size="40" maxlength="128" name="inst_info" value="{INST_INFO}" /></td>
    </tr>
    <tr>
        <td class="option">{TXT_DEFAULT_SKIN}</td>
        <td class="option_value">
          <select name="default_skin">
<!-- BEGIN selectskin -->
             <option value="{SKINVALUE}"{SKINSELECTED}>{SKINOPTION}</option>
<!-- END selectskin -->
          </select>
        </td>
    </tr>
    <tr>
        <td class="option">{TXT_DEFAULT_STYLE}</td>
        <td class="option_value">
          <select name="default_style">
<!-- BEGIN selectstyle -->
             <option value="{STYLEVALUE}"{STYLESELECTED}>{STYLEOPTION}</option>
<!-- END selectstyle -->
          </select>
        </td>
    </tr>
    <tr>
        <td class="option">{TXT_DEFAULT_LANGUAGE}</td>
        <td class="option_value">
          <select name="default_language">
<!-- BEGIN selectlanguage -->
             <option value="{LANGVALUE}"{LANGSELECTED}>{LANGOPTION}</option>
<!-- END selectlanguage -->
          </select>
        </td>
    </tr>
    <tr>
      <td class="option">{TXT_FEEDBACK_RECIPIENT}</td>
      <td class="option_value"><input type="text" size="40" maxlength="200" name="feedback_recipient" value="{FEEDBACK_RECIPIENT}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_ERROR_RECIPIENT}</td>
      <td class="option_value"><input type="text" size="40" maxlength="200" name="error_recipient" value="{ERROR_RECIPIENT}" /></td>
    </tr>
	<tr>
      <td colspan="2">&nbsp;</td>
    </tr>
	<tr class="tblheader">
      <td class="std" colspan="2">{TXT_PATHES}</td>
    </tr>
    <tr>
      <td class="option">{TXT_TPL_PATH}</td>
      <td class="option_value"><input type="text" size="40" maxlength="128" name="tpl_path" value="{TPL_PATH}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_LANG_PATH}</td>
      <td class="option_value"><input type="text" size="40" maxlength="128" name="lang_path" value="{LANG_PATH}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_CONVERT_PATH}</td>
      <td class="option_value"><input type="text" size="40" maxlength="200" name="convert_path" value="{CONVERT_PATH}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_ZIP_PATH}</td>
      <td class="option_value"><input type="text" size="40" maxlength="200" name="zip_path" value="{ZIP_PATH}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_UNZIP_PATH}</td>
      <td class="option_value"><input type="text" size="40" maxlength="200" name="unzip_path" value="{UNZIP_PATH}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_JAVA_PATH}</td>
      <td class="option_value"><input type="text" size="40" maxlength="200" name="java_path" value="{JAVA_PATH}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_BABYLON_PATH}</td>
      <td class="option_value"><input type="text" size="40" maxlength="250" name="babylon_path" value="{BABYLON_PATH}" /></td>
    </tr>
	<tr>
      <td colspan="2">&nbsp;</td>
    </tr>
	<tr class="tblheader">
      <td class="std" colspan="2">{TXT_MODULES}</td>
    </tr>
    <tr>
      <td class="option">{TXT_PUB_SECTION}</td>
      <td class="option_value"><input type="checkbox" name="pub_section"  value="y" {PUB_SECTION} /></td>
    </tr>
    <tr>
      <td class="option">{TXT_NEWS}</td>
      <td class="option_value"><input type="checkbox" name="news"  value="y" {NEWS} /></td>
    </tr>
    <tr>
      <td class="option">{TXT_PAYMENT_SYSTEM}</td>
      <td class="option_value"><input type="checkbox" name="payment_system"  value="y" {PAYMENT_SYSTEM} /></td>
    </tr>
    <!--

    <tr>

      <td class="option">{TXT_FORWARD_PASSWORD}</td>

      <td class="option_value"><input type="checkbox" name="forward_password"  value="y"></td>

    </tr>

    <tr>

      <td class="option">{TXT_FORWARD_PW_SENDER}</td>

      <td class="option_value"><input type="text" SIZE=40 maxlength=200 name="forward_pw_sender" value="{FORWARD_PW_SENDER}"></td>

    </tr>

    -->
    <tr>
      <td class="option">{TXT_GROUP_FILE_SHARING}</td>
      <td class="option_value"><input type="checkbox" name="group_file_sharing"  value="y" {GROUP_FILE_SHARING} /></td>
    </tr>
    <tr>
      <td class="option">{TXT_CRS_MANAGEMENT_SYSTEM}</td>
      <td class="option_value"><input type="checkbox" name="crs_enable"  value="y" {CRS_MANAGEMENT_SYSTEM} /></td>
    </tr>
	<tr>
      <td colspan="2">&nbsp;</td>
    </tr>
 	<tr class="tblheader">
      <td class="std" colspan="2">{TXT_LDAP}</td>
    </tr>
    <tr>
      <td class="option">{TXT_LDAP_ENABLE}</td>
      <td class="option_value"><input type="checkbox" name="ldap_enable"  value="y" {LDAP_ENABLE} /></td>
    </tr>
    <tr>
      <td class="option">{TXT_LDAP_SERVER}</td>
      <td class="option_value"><input type="text" size="40" maxlength="200" name="ldap_server" value="{LDAP_SERVER}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_LDAP_PORT}</td>
      <td class="option_value"><input type="text" size="5" maxlength="5" name="ldap_port" value="{LDAP_PORT}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_LDAP_BASEDN}</td>
      <td class="option_value"><input type="text" size="40" maxlength="200" name="ldap_basedn" value="{LDAP_BASEDN}" /></td>
    </tr>
	<tr>
      <td colspan="2">&nbsp;</td>
    </tr>
 	<tr class="tblheader">
      <td class="std" colspan="2">{TXT_MAIL_SMTP}</td>
    </tr>
    <tr>
      <td class="option">{TXT_MAIL_SERVER}</td>
      <td class="option_value"><input type="text" size="40" maxlength="200" name="mail_server" value="{MAIL_SERVER}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_MAIL_PORT}</td>
      <td class="option_value"><input type="text" size="5" maxlength="5" name="mail_port" value="{MAIL_PORT}" /></td>
    </tr>
	<tr>
      <td colspan="2">&nbsp;</td>
    </tr>
 	<tr class="tblheader">
      <td class="std" colspan="2">{TXT_MAIL_INTERN}</td>
    </tr>
    <tr>
      <td class="option">{TXT_MAIL_INTERN_ENABLE}</td>
      <td class="option_value"><input type="checkbox" name="mail_intern_enable"  value="y" {MAIL_INTERN_ENABLE} /></td>
    </tr>
    <tr>
      <td class="option">{TXT_MAIL_ALLOW_SMTP}</td>
      <td class="option_value"><input type="checkbox" name="mail_allow_smtp"  value="y" {MAIL_ALLOW_SMTP} /></td>
    </tr>
    <tr>
      <td class="option">{TXT_MAIL_MAXSIZE_MAIL}</td>
      <td class="option_value"><input type="text" size="10" maxlength="10" name="mail_maxsize_mail" value="{MAIL_MAXSIZE_MAIL}" />
	  {TXT_IN_KB}</td>
    </tr>
    <tr>
      <td class="option">{TXT_MAIL_MAXSIZE_ATTACH}</td>
      <td class="option_value"><input type="text" size="10" maxlength="10" name="mail_maxsize_attach" value="{MAIL_MAXSIZE_ATTACH}" />
	  {TXT_IN_KB}</td>
    </tr>
    <tr>
      <td class="option">{TXT_MAIL_MAXSIZE_BOX}</td>
      <td class="option_value"><input type="text" size="10" maxlength="10" name="mail_maxsize_box" value="{MAIL_MAXSIZE_BOX}" />
	  {TXT_IN_KB}</td>
    </tr>
    <tr>
      <td class="option">{TXT_MAIL_MAXTIME_MAIL}</td>
      <td class="option_value"><input type="text" size="10" maxlength="10" name="mail_maxtime_mail" value="{MAIL_MAXTIME_MAIL}" />
	  {TXT_DAYS}</td>
    </tr>
    <tr>
      <td class="option">{TXT_MAIL_MAXTIME_ATTACH}</td>
      <td class="option_value"><input type="text" size="10" maxlength="10" name="mail_maxtime_attach" value="{MAIL_MAXTIME_ATTACH}" />
	  {TXT_DAYS}</td>
    </tr>
	<tr>
      <td colspan="2">&nbsp;</td>
    </tr>
	<tr class="tblheader">
      <td class="std" colspan="2">{TXT_CONTACT_INFORMATION}</td>
    </tr>
    <tr>
      <td class="option">{TXT_FIRSTNAME} *</td>
      <td class="option_value"><input type="text" size="40" maxlength="64" name="admin_firstname" value="{ADMIN_FIRSTNAME}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_LASTNAME} *</td>
      <td class="option_value"><input type="text" size="40" maxlength="64" name="admin_lastname" value="{ADMIN_LASTNAME}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_TITLE}</td>
      <td class="option_value"><input type="text" size="40" maxlength="64" name="admin_title" value="{ADMIN_TITLE}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_POSITION}</td>
      <td class="option_value"><input type="text" size="40" maxlength="64" name="admin_position" value="{ADMIN_POSITION}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_INSTITUTION}</td>
      <td class="option_value"><input type="text" size="40" maxlength="200" name="admin_institution" value="{ADMIN_INSTITUTION}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_STREET} *</td>
      <td class="option_value"><input type="text" size="40" maxlength="64" name="admin_street" value="{ADMIN_STREET}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_ZIPCODE} *</td>
      <td class="option_value"><input type="text" size="5" maxlength="10" name="admin_zipcode" value="{ADMIN_ZIPCODE}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_CITY} *</td>
      <td class="option_value"><input type="text" size="40" maxlength="64" name="admin_city" value="{ADMIN_CITY}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_COUNTRY} *</td>
      <td class="option_value"><input type="text" size="40" maxlength="64" name="admin_country" value="{ADMIN_COUNTRY}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_PHONE} *</td>
      <td class="option_value"><input type="text" size="40" maxlength="64" name="admin_phone" value="{ADMIN_PHONE}" /></td>
    </tr>
    <tr>
      <td class="option">{TXT_EMAIL} *</td>
      <td class="option_value"><input type="text" size="40" maxlength="64" name="admin_email" value="{ADMIN_EMAIL}" /></td>
    </tr>
    </table>
	<br />
	* {TXT_MUST_FILL_IN}

    <br /><br />
    <input class="submit" type="submit" name="save_settings" value="{TXT_SAVE}" />

    </form>
