<!-- $Id$ -->
<!-- @author Eva Wenzl <ewenzl@databay.de> -->

<h1>{TXT_PAGEHEADLINE}</h1>
{BUTTONS}

    <br><form action="{FORMACTION}" method="post">

    <table cellpadding=2 cellspacing=0 border=0>
    <tr>
      <td class="tblheader" align="center">{TXT_ITEM}</td>
      <td class="tblheader" colspan=4  align="center"><a href="/projekte/uni-koeln/ilias/ed_glossar.php?le=5&amp;cmd=c&le_inst=1" onMouseOver="window.status='neuer Eintrag';return true;"><IMG VSPACE=0 BORDER=0 SRC="./images/editor/new.gif" WIDTH=16 HEIGHT=16 ALT="neuer Eintrag" TITLE="neuer Eintrag" ></A></TD>
    </tr>
    </table>
    </form>
