<!-- $Id$ -->
<!-- @author Astrid Koch <akoch@databay.de> -->
<h1>{TXT_PAGEHEADLINE}</h1>
{BUTTONS}
<form name="form" action="{FORMACTION}" method="post">
  <select name="type">
<!-- BEGIN seltype -->
    <option value="{SELTYPE_VALUE}" {SELTYPE_SELECTED}>{SELTYPE_OPTION}</option>
<!-- END seltype -->
  </select>
  <input type="submit" value="{TXT_NEW}">
</form>

<!-- BEGIN mm_group -->
<table cellspacing=0 cellpadding=0 border=0>
<tr>
  <td>{TXT_TITLE}</td>
</tr>
<!-- BEGIN mm_group_no -->
<tr>
  <td>{TXT_NO_OBJECTS}</td>
</tr>
<!-- END mm_group_no -->
<!-- BEGIN row -->
<tr>
  <td>{TXT_NAME}</td>
</tr>
<!-- END row -->
</table>
<!-- END mm_group -->
<br>