<h1>{TXT_GROUPS}</h1>
{BUTTONS}
{MESSAGE}
<!-- BEGIN group -->
<h2>{TXT_GRP_TITLE}</h2>
<table CELLPADDING=2 CELLSPACING=0 BORDER=0>
<tr>
  <td class="tblheader"><b>{TXT_NAME}</b></td>
  <td class="tblheader"><b>{TXT_DESC}</b></td>
  <td class="tblheader"><b>{TXT_OWNER}</b></td>
</tr>
<!-- BEGIN group_row -->
<tr>
  <td class="tblrow1"><a HREF="" TARGET="_top">{GRP_NAME}</a></td>
  <td class="tblrow2">{GRP_DESC}</td>
  <td class="tblrow1">{GRP_OWNER}</td>
</tr>
<!-- END group_row -->
</table>
<!-- END group -->
