<h1>{TXT_PAGEHEADLINE}</h1>

{BUTTONS}

<form name="form" action="{FORMACTION}" method="post">

<h3>{TXT_BOOKMARK_NEW}</h3>
<table cellspacing=0 cellpadding=2 border=0>
<tr class="tblrow2">
  <td><b>&nbsp;{TXT_NAME}</b></td>
  <td>&nbsp;<input type=text maxlength=255 SIZE=40 name="name" value="{NAME}"></td>
</tr>
<tr class="tblrow1">
  <td><b>&nbsp;{TXT_URL}</b></td>
  <td>&nbsp;<input type=text maxlength=255 SIZE=40 name="url" value="{URL}"></td>
</tr>
<tr class="tblrow2">
  <td>&nbsp;{TXT_FOLDER}</td>
  <td>&nbsp;<select name="folder" size=1>
  <option value="top">{TXT_TOP}</option>
<!-- BEGIN selfolders -->
  <option value="{SEL_VALUE}" {SEL_SELECTED}>{SEL_OPTION}</option>
<!-- END selfolders -->
  </select></td>
</tr>
</table>
  <br>
  <input type=submit name="submit" value="{TXT_SAVE}">
</FORM>
