<h1>{TXT_PAGEHEADLINE}</h1>

{BUTTONS}
{MESSAGE}
{LOCATOR}
<!-- BEGIN learningstuff -->

<!-- BEGIN linkbar -->
<table cellpadding="3" cellspacing="1" border="0">
<tr><td>{LINKBAR}</td></tr>
</table>
<!-- END linkbar -->

<table width="100%" cellpadding="3" cellspacing="0" border="0">
<tr valign="top">
  <td nowrap="nowrap" class="tblheader"><b>{TXT_TITLE}</b></td>
  <td class="tblheader"><b>{TXT_DESCRIPTION}</b></td>
  <td class="tblheader"><b>{TXT_STATUS}</b></td>
  <td class="tblheader"><b>{TXT_LAST_VISIT}</b></td>
  <td class="tblheader"><b>{TXT_LAST_CHANGE}</b></td>
  <td class="tblheader"><b>{TXT_CONTEXTPATH}</b></td>
</tr>

<!-- BEGIN learningstuff_row -->
<tr>
 <td valign="top" class="tblrow1" nowrap="nowrap">
  <a href="{LO_LINK}" target="lo_view">
   <img src="{TPLPATH}/images/{IMG}" alt="{ALT_IMG}" title="{ALT_IMG}" border="0" vspace="0" align="left" />
  </a>
  &nbsp;
  <a href="{LO_LINK}">{TITLE}</a>
 </td>
 <td valign="top" class="tblrow2"><i>{DESCRIPTION}</i></td>
 <td valign="top" class="tblrow1">{STATUS}</td>
 <td valign="top" class="tblrow2">{LAST_VISIT}</td>
 <td valign="top" class="tblrow1">{LAST_CHANGE}</td>
 <td valign="top" class="tblrow2"><font size="1">{CONTEXTPATH}</font></td>
</tr>
<!-- END learningstuff_row -->

<!-- BEGIN no_content -->
<tr>
 <td colspan="6">{TXT_MSG_NO_CONTENT}</td>
</tr>
<!-- END no_content -->

</table>
<!-- END learningstuff -->

<!-- BEGIN nix -->
<!-- BEGIN category -->
<table cellpadding="0" cellspacing="0" border="0">
<tr class="tblheader" valign="bottom">
        <td><b>{TXT_TITLE}</b></td>
        <td ALIGN="right"><b>{TXT_SUBSCRIPTION}</b><img src="./images/spacer.gif" width="5" height="1" border="0" alt="" /></td>
</tr>
<!-- BEGIN subcategory -->
<tr class="{ROWCOL}" VALIGN="bottom">
        <td><a href="{LINK_LO}">{TITLE}</a></td>
        <td align="right">{IMG_AND_LINK}<img src="./images/spacer.gif" width="5" height="1" border="0" alt="" /></td>
</tr>
<!-- END subcategory -->

</table>
<!-- END category -->
<!-- END nix -->