<h1>{TXT_COMPOSE}</h1>
	  {INFOPANEL}
	  {LOCATOR}
	  {BUTTONS}
	  {MESSAGE}
	<FORM ACTION="{ACTION}" METHOD="post">
	  <table class="fullwidth">
		<!-- BEGIN search -->
		  <TR>
			<TD CLASS="STD"  ALIGN=right>&nbsp;
			</TD>
			<td class="std" >
			  <INPUT name="search" value="" SIZE=30 width="80%"/>
			</TD>
		  </TR>
		  <TR>
			<TD CLASS="STD"  ALIGN=right>&nbsp;</TD>
			<td class="std" >
			  <input class="submit" type="submit" name="cmd" value="{BUTTON_SEARCH_SYSTEM}"/>
			  <input class="submit" type="submit" name="cmd" value="{BUTTON_SEARCH_ADDRESSBOOK}"/>
			  <input class="submit" type="submit" name="cmd" value="{BUTTON_CANCEL}"/>
			</TD>
		  </TR>
		  <!-- END search -->
		  <TR>
			<TD CLASS="tblrow1" ALIGN=right>{TXT_RECIPIENT}</a></TD>
			<td class="tblrow2">
				<input name="rcp_to" value="{RCP_TO}" SIZE="50" width="80%"/>
				<input class="submit" type="submit" name="cmd" value="{BUTTON_TO}"/>
			</TD>
		  </TR>
		  <TR>
			<TD CLASS="tblrow1" ALIGN=right>{TXT_CC}</a></TD>
			<td class="tblrow2">
				<INPUT name="rcp_cc" value="{RCP_CC}" SIZE="50" width="80%"/>
				<input class="submit" type="submit" name="cmd" value="{BUTTON_CC}"/></TD>
		  </TR>
		  <TR>
			<TD CLASS="tblrow1" ALIGN=right>{TXT_BC}</a></TD>
			<TD CLASS="tblrow2">
				<INPUT name="rcp_bcc" value="{RCP_BCC}" SIZE=50 width="80%"/>
				<input class="submit" type="submit" name="cmd" value="{BUTTON_BC}"/>
			</TD>
		  </TR>
		  <TR>
			<td class="tblrow1" align="right">{TXT_SUBJECT}</TD>
			<td class="tblrow2" ><INPUT name="m_subject" value="{M_SUBJECT}" SIZE=50 width="80%"/></TD>
		  </TR>
		  <TR>
			<td class="tblrow1"  align="right">{TXT_TYPE}</TD>
			<td class="tblrow2" >
			  <input type="radio" name="m_type" value="normal" {CHECKED_NORMAL}/>{TXT_NORMAL}
			  <input type="radio" name="m_type" value="system" {CHECKED_SYSTEM}/>{TXT_SYSTEM}
			  <!-- BEGIN also_smtp -->
			  <input type="radio" name="m_type" value="email" {CHECKED_EMAIL}/>{TXT_EMAIL}
			  <!-- END also_smtp -->
			</td>
		  </TR>
		  <!-- BEGIN smtp --> 
		  <TR>
			<td class="tblrow1" align="right">{TXT_ALSO_AS_EMAIL}</TD>
			<td class="tblrow2"><input type="checkbox" name="m_email" value="1" {CHECKED_ALSO_EMAIL}/></TD>
		  </TR>
		  <!-- END smtp -->
		  <TR>
			<td class="tblrow1"align="right" valign="top">{TXT_ATTACHMENT}</TD>
			<td class="tblrow2">
			  <!-- BEGIN files -->
			  <textarea cols="60" rows="{ROWS}" readonly>{FILES}</textarea><br/>
			  <!-- BEGIN hidden -->
			  <input type="hidden" name="attachments[]" value="{ATTACHMENTS}"/>
			  <!-- END hidden -->
			  <!-- END files -->
			  <input class="submit" type="submit" name="cmd" value="{BUTTON_EDIT}"/>
			</td>
		  </TR>
		  <TR>
			<td class="tblrow1" align="right" valign="top" style="padding-top:5px;">{TXT_MSG_CONTENT}</td>
			<TD CLASS="tblrow2"><TEXTAREA name="m_message" ROWS=10 COLS=60>{M_MESSAGE}</TEXTAREA></TD>
		  </TR>
		  <TR>
			<td class="tblrow1">&nbsp;</td>
			<TD CLASS="tblrow2"><input class="submit" type="submit" name="cmd" value="{TXT_SEND}"/>&nbsp;
			  <input class="submit" type="submit" name="cmd" value="{TXT_MSG_SAVE}"/></TD>
		  </TR>
	  </table>
    </FORM>