<tr class="{CSS_ROW}">
	<td class="std small">
		{FULLNAME}
		<!-- BEGIN access_warning -->
		<br />
		<font class="smallred">
			{PARENT_ACCESS}
		</font>
		<!-- END access_warning -->
	</td>
	<td class="std small">
		{LOGIN}
	</td>
	<!-- BEGIN grading_columns -->
    <td class="std small">
    	{LP_STATUS}
    </td>
    <td class="std small">
        {GRADED_BY}
    </td>
    <td class="std small">
		{CHANGED_BY}
    </td>
	<!-- END grading_columns -->
    <td class="std small">
        {ACTIONS}
    </td>
</tr>
