@use "../../../010-settings" as s;
@use "../../../030-tools/tool_multi-line-cap" as t-cap;
@use "../../../030-tools/tool_focus-outline" as t-focus;
@use "../../../050-layout/basics/" as l;
@use "../../../050-layout/layout_breakpoints" as l-brk;

.c-listing-inline {
  padding: 0;
  margin: 0;
  list-style: none;
  > .c-listing-inline__item {
    &::after {
      content: ", ";
    }
    &:last-child::after {
      content: "";
    }
  }
}
