@use "sass:math";
@use "../../../010-settings/"as *;
@use "../../../020-dependencies/modifications/bootstrap-3-scss/bootstrap-3-scss-modified-variables-mixins" as btstrp3;
@use "../../../030-patterns/pattern_panel" as *;
@use "../../../050-layout/basics" as *;
@use "../../../050-layout/standardpage/" as *;

//== Workflow
//
//##Workflow-steps have an icon indicating their status. The label changes color and size accordingly.
$il-workflow-icon-size: 21px;
$il-workflow-icon-font-color: white;
$il-workflow-available-text-color: $il-text-color;
$il-workflow-unavailable-text-color: $il-main-border-color;

.il-workflow {
	&.linear {
		-webkit-box-shadow: $il-panel-shadow;
		box-shadow: $il-panel-shadow;
	}
}
.il-workflow-header {
	// margin-bottom:  $il-slate-content-padding;
	// height: $il-top-bar-height;
	.il-workflow-title {
		background-color: $il-main-dark-bg;
		color: $il-text-color;
		font-size: $il-font-size-xlarge;
		font-weight: $il-font-weight-base;
		margin-bottom:  $il-slate-content-padding*3;
		margin-top: 0;
		padding: $il-padding-large-vertical $il-padding-large-horizontal;
	}
}
.il-workflow-container {
	list-style: none;
	padding: 0 $il-padding-small-horizontal;
	.il-workflow-step {
		&:before {
			background-color: $il-workflow-icon-font-color;
			border: $il-workflow-icon-size*0.05 solid $il-main-color;
			border-radius: 50%;
			color: $il-workflow-icon-font-color;
			content: "";
			font-family: Glyphicons Halflings;
			font-size: math.floor($il-workflow-icon-size*0.52381);
			height: $il-workflow-icon-size;
			line-height: math.ceil($il-workflow-icon-size*0.9);
			margin-left: math.floor($il-workflow-icon-size*0.25);
			padding-left: math.ceil($il-workflow-icon-size*0.04761);
			position: absolute;
			text-align: center;
			width: $il-workflow-icon-size;
		}
		&:last-child .text {
			border-left: none;
		}

		.il-workflow-step-description {
			font-size: $il-font-size-base;
			font-weight: $il-font-weight-light;
		}
	}
	//available, not-available, no-longer
	.not-available,
	.no-longer-available {
		&:before {
			content: "\e033";
			color: $il-workflow-unavailable-text-color;
			background-color: btstrp3.$panel-footer-bg;
			border: none;
		}
		&.in-progress {
			&:before {
				background-color: lighten($il-main-color, 30%);
				color: $il-workflow-icon-font-color;
			}
			.text span {
				color: $il-neutral-color;
				opacity: .5;
			}
		}
		.text {
			color: $il-workflow-unavailable-text-color;
		}
	}
	.no-longer-available {
		&:before {
			content: "\e023";
		}
	}
	//successfully,unsuccessfully
	.completed-successfully,
	.completed-unsuccessfully {
		&:before {
			background-color: $il-workflow-unavailable-text-color;
			color: $il-workflow-icon-font-color;
		}
	}
	.completed-successfully {
		&:before {
			content: "\e013";
		}
	}
	.completed-unsuccessfully {
		&:before {
			content: "\e014";
		}
	}
	.available.completed-successfully,
	.available.completed-unsuccessfully,
	.in-progress {
		&:before {
			background-color: $il-main-color;
		}
	}
	//active
	.active {
		&:before {
			margin: 0;
			width: $il-workflow-icon-size*1.5;
			height: $il-workflow-icon-size*1.5;
			font-size: $il-font-size-xlarge;
		}
		&.completed-successfully:before,
		&.completed-unsuccessfully:before {
	    	line-height: $il-workflow-icon-size*1.5;
			background-color: $il-main-color;
		}
		.text {
			.il-workflow-step-label,
			.il-workflow-step-label .btn.btn-link {
				color: $il-main-color;
				font-size: $il-font-size-large;
				font-weight: $il-font-weight-base;
			}
		}
	}
	//text
	.text {
		border-left: 1px dashed $il-neutral-color;
		font-size: $il-workflow-icon-size*0.7;
		margin-left: math.floor($il-workflow-icon-size*0.75);
		padding: 0 0 $il-workflow-icon-size*1.5 $il-workflow-icon-size;
		.il-workflow-step-label {
			display: block;
		}
	}
	.available .il-workflow-step-label,
	.available .il-workflow-step-label .btn.btn-link {
		color: $il-workflow-available-text-color;
		font-size: $il-font-size-large;
		font-weight: $il-font-weight-base;
		margin-top: -($il-slate-content-padding/2);
	}
}

#il_right_col .il-workflow {

	border: $il-panel-border;
	border-radius: $il-panel-border-radius;
	-webkit-box-shadow: $il-panel-shadow;
	box-shadow: $il-panel-shadow;

	.il-workflow-header {
		background-color: $il-main-dark-bg;
		margin: 0;
		padding: $il-panel-heading-padding;

		h3 {
			margin: 0;
			padding: 0;
			color: $il-panel-heading-color;
			font-size: $il-font-size-xlarge;
			line-height: $il-line-height-large;
			font-weight: $il-font-weight-bold;
		}
	}

	.il-workflow-container {
		padding: $il-padding-xxxlarge-vertical $il-padding-xlarge-horizontal;
	}
}