<!-- BEGIN form_open --><form method="post" action="{FORMACTION}" {ENC_TYPE} class="ilForm"><!-- END form_open -->
<div class="ilToolbar"><h3 class="ilAccHeadingHidden">{TXT_FUNCTIONS}</h3>
<!-- BEGIN lead_image --><img border="0" src="{IMG_SRC}" alt="{IMG_ALT}" /><!-- END lead_image -->
<!-- BEGIN item -->
<!-- BEGIN button -->
<a {BTN_ACC_KEY} class="submit" href="{BTN_LINK}" {BTN_TARGET}>&nbsp;{BTN_TXT}&nbsp;</a>
<!-- END button -->
<!-- BEGIN form_button -->
<input class="submit" type="submit" name="cmd[{SUB_CMD}]" value="{SUB_TXT}" />
<!-- END form_button -->
<!-- BEGIN input -->
<!-- BEGIN input_label -->{TXT_INPUT}&nbsp;<!-- END input_label -->{INPUT_HTML}
<!-- END input -->
<!-- BEGIN separator -->
<span class="ilToolbarSeparator">&nbsp;</span>&nbsp;
<!-- END separator -->
<!-- BEGIN spacer -->
<span style="padding:0px 2px;">&nbsp;</span>
<!-- END spacer -->
<!-- END item -->
</div>
<!-- BEGIN form_close --></form><!-- END form_close -->