<!-- BEGIN item -->
<!-- BEGIN button -->
<div class="navbar-form"><button {BID} class="btn btn-default" type="button" onclick="location.href='{BTN_LINK}'" {BTN_ADD_ARG}>{BTN_TXT}</button></div>
<!-- END button -->
<!-- BEGIN dropdown -->
<a href="#" class="dropdown-toggle" data-toggle="dropdown">{TXT_DROPDOWN} <span class="caret"></span></a>{DROP_DOWN}
<!-- END dropdown -->
<!-- BEGIN form_button -->
<div class="navbar-form"><input class="btn btn-default" type="submit" name="cmd[{SUB_CMD}]" value="{SUB_TXT}" /></div>
<!-- END form_button -->
<!-- BEGIN button_instance -->
<div class="navbar-form">{BUTTON_OBJ}</div>
<!-- END button_instance -->
<!-- BEGIN input -->
<div class="navbar-form"><!-- BEGIN input_label --><label for="{INPUT_ID}">{TXT_INPUT}&nbsp;</label><!-- END input_label -->{INPUT_HTML}</div>
<!-- END input -->
<!-- BEGIN spacer -->
<!-- END spacer -->
<!-- BEGIN link -->
<a href="{LINK_URL}">{LINK_TXT}</a>
<!-- END link -->
<!-- BEGIN text -->
<div class="navbar-text">{VAL_TEXT}</div>
<!-- END text -->
<!-- BEGIN component -->
<div class="navbar-form">{COMPONENT}</div>
<!-- END component -->
<!-- BEGIN link_disabled -->
<span class="ilTableFootLight">{LINK_DISABLED_TXT}</span>
<!-- END link_disabled -->
<!-- END item -->