<div class="il_tep_nav">
	<table>
		<colgroup>
			<col width="13.4%" />
			<col width="1%" />
			<col width="13.4%" />
			<col width="1%" />
			<col width="13.4%" />
			<col width="1%" />
			<col width="13.4%" />
			<col width="1%" />
			<col width="13.4%" />
			<col width="1%" />
			<col width="13.4%" />
			<col width="1%" />
			<col width="13.4%" />
		</colgroup>
		<tr>
			<td class="std small"><a href="{PREV_PREV_PREV_URL}">{PREV_PREV_PREV_CAPTION}</a></td>
			<td class="std small">|</td>
			<td class="std small"><a href="{PREV_PREV_URL}">{PREV_PREV_CAPTION}</a></td>
			<td class="std small">|</td>
			<td class="std small"><a href="{PREV_URL}">{PREV_CAPTION}</a></td>
			<td class="std small">|</td>
			<td class="std"><a class="il_tep_nav_current" href="{CURRENT_URL}">{CURRENT_CAPTION}</a></td>
			<td class="std small">|</td>
			<td class="std small"><a href="{NEXT_URL}">{NEXT_CAPTION}</a></td>
			<td class="std small">|</td>
			<td class="std small"><a href="{NEXT_NEXT_URL}">{NEXT_NEXT_CAPTION}</a></td>
			<td class="std small">|</td>
			<td class="std small"><a href="{NEXT_NEXT_NEXT_URL}">{NEXT_NEXT_NEXT_CAPTION}</a></td>
		</tr>
	</table>

</div>