<div class="il_tep_legend small">
	
	<fieldset>
		<legend>{TITLE}</legend>
		<table cellspacing="5">
		<!-- BEGIN row_bl -->
		<tr>
			<!-- BEGIN type_bl -->
			<td class="il_tep_legend_item">
				<span style="background-color: #{TYPE_COLOR};">&nbsp;&nbsp;&nbsp;</span>
				{TYPE_CAPTION}
			</td>
			<!-- END type_bl -->
			<!-- BEGIN dummy_bl -->
			<td>&nbsp;</td>
			<!-- END dummy_bl -->
		</tr>
		<!-- END row_bl -->
		</table>
	</fieldset>
	
	<div style="clear:both;"></div>
	
</div>