/* ---------------- alternating tablerowcolors ----------------- */

.tblstickyrow1 td {
	background-color:#FBF2D5 !important;
	color:#222222 !important;;
}

.tblstickyrow2 td {
	background-color:#F8E2B1 !important;;
	color:#222222 !important;;
}

