<?php xml version = "1.0" encoding = "UTF-8"?>
<module xmlns="http://www.w3.org" version="$Id: modules.xml 15671 2008-01-04 13:08:30Z akill $"
	id="adm">
	<baseclasses>
	</baseclasses>
	<objects>
		<object id="adm" class_name="SystemFolder" dir="classes"
			checkbox="0" inherit="0" translate="sys" rbac="1" system="1" administration="1">
			<subobj id="rolf" max="1">rolf</subobj>
		</object>
	</objects>
</module>
