<tr class="{CSS_ROW}">
    <td class="std">
      <!-- BEGIN checkb --><input type="checkbox" name="prgs_ids[]" value="{ID}" /><!-- END checkb -->
    </td>
    <td class="std small">
        {LASTNAME}, {FIRSTNAME}
    </td>
    <td class="std small">
        {LOGIN}
    </td>
    <!-- BEGIN orgus -->
    <td class="std small">
        {ORGUS}
    </td>
    <!-- END orgus -->
    <td class="std small">
        {STATUS}
    </td>
    <!-- BEGIN prg_completion_date -->
    <td class="std small">
        {COMPLETION_DATE}
    </td>
    <!-- END prg_completion_date -->
    <!-- BEGIN comp_by -->
    <td class="std small">
        {COMPLETION_BY}
    </td>
    <!-- END comp_by -->
    <td class="std small">
        {POINTS_REQUIRED}
    </td>
    <!-- BEGIN points_current -->
    <td class="std small">
        {POINTS_CURRENT}
    </td>
    <!-- END points_current -->
    <!-- BEGIN cust_plan -->
    <td class="std small">
        {CUSTOM_PLAN}
    </td>
    <!-- END cust_plan -->
    <!-- BEGIN belongs_to -->
    <td class="std small">
        {BELONGS_TO}
    </td>
    <!-- END belongs_to -->
    <td class="std small">
        {ASSIGN_DATE}
    </td>
    <!-- BEGIN assigned_by -->
    <td class="std small">
        {ASSIGNED_BY}
    </td>
    <!-- END assigned_by -->
    <!-- BEGIN deadline -->
    <td class="std small">
        {DEADLINE}
    </td>
    <!-- END deadline -->
    <!-- BEGIN prg_expiry_date -->
    <td class="std small">
        {EXPIRY_DATE}
    </td>
    <!-- END prg_expiry_date -->
    <!-- BEGIN validity -->
    <td class="std small">
        {VALIDITY}
    </td>
    <!-- END validity -->
    <td class="std small">
        {ACTIONS}
    </td>

</tr>