<!-- BEGIN statusinformation -->
<div class="border border-radius prg-padding-medium prg-statusinfo-wrapper">
    <div class="row row-flex row-flex-wrap prg-statusinfo-row-head">
        <div class="col flex-grow-1 prg-statusinfo-headline">
            <h3 class="ilc_heading3_Headline3">{HEADLINE}</h3>
        </div>
    </div>
    <div class="row row-flex prg-statusinfo-row-content">
        <div class="col prg-statusinfo-icon">{ICON}</div>
        <div class="col flex-grow-1 prg-statusinfo-text">
            <div class="ilc_text_inline_Accent prg-statusinfo-status">{STATUS}</div>
            <div class="prg-statusinfo-content">
                {STATUS_TEXT}
                <br>
                {EDIT_QUALIFICATION}
            </div>
            <div class="ilc_link_IntLink prg-statusinfo-certificate">{CERTIFICATE}</div>
        </div>
    </div>
</div>
<!-- END statusinformation -->
