<tr class="{CSS_ROW}">
    <td class="std small">
        {STATUS}
    </td>
    <td class="std small">
        {TITLE}
    </td>
    <td class="std small">
        {POINTS_CURRENT}
    </td>
    <td class="std small">
        {POINTS_REQUIRED}
    </td>
    <td class="std small">
        {MANUAL_STATUS}
    </td>
    <td class="std small">
        {POSSIBLE}
    </td>
    <td class="std small">
        {CHANGED_BY}
    </td>
    <td class="std small">
        {COMPLETION_BY}
    </td>
    <!-- BEGIN deadline -->
    <td class="std small">
        {DEADLINE}
    </td>
    <!-- END deadline -->
</tr>