<tr class="{CSS_ROW}">
    <td class="std small">
        {LASTNAME}, {FIRSTNAME}
    </td>
    <td class="std small">
        {LOGIN}
    </td>
    <td class="std small">
        {STATUS}
    </td>
    <td class="std small">
        {COMPLETION_BY}
    </td>
    <td class="std small">
        {POINTS_REQUIRED}
    </td>
    <td class="std small">
        {POINTS_CURRENT}
    </td>
    <td class="std small">
        {CUSTOM_PLAN}
    </td>
    <td class="std small">
        {BELONGS_TO}
    </td>
    <td class="std small">
        {ACTIONS}
    </td>
</tr>