<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" id="scormplayer">
	<head>
		<title>{DOC_TITLE}</title>
		<link type="text/css" href="{THEME_CSS}" rel="stylesheet"/>
<style type="text/css" >
/* special SCORM 2004 Styles */
select {width: 100%;}
input[type=submit] {border: 2px outset; font-size: 100%;}
input[type=submit]:active {border: 2px inset; font-size: 100%;}
</style>
<script type="text/javascript">
	function getSelectedIndex(arr) 
	{
		if (arr.length && arr[0].options) arr = arr[0].options;
		for (var i=arr.length-1; i>-1; i-=1)
		{
			if (arr[i].checked || arr[i].selected) break;
		}
		return i;
	}
	function packagesForm_submit(f) 
	{
		var a = document.getElementsByName("packageId");
		var i = getSelectedIndex(a);
		if (i==-1) 
		{
			alert('No package selected');
			return false;
		}
		f.disabled = true;
		return true;
	}
	function btnPlay_click(mode) 
	{
		var a = document.getElementsByName("packageId");
		var i = getSelectedIndex(a);
		if (i>=0) 
		{
			open("player.php?call=player&packageId=" + a[i].value + "&debug=" + mode);
		}
		else
		{
			alert('No package selected');
		}
	}
	function uploadAndImport_click(f) 
	{
		if (f.packagedata.value) {
			f.enctype = "multipart/form-data";
			f.onsubmit = null;
		} else if (f.packagefile.value) {
			f.onsubmit = null;
		} else {
			return alert("No file selected");
		}
		return true;
	}
</script>
	</head>
	<body>

	<form id="packagesForm" action="" method="post" onsubmit="return packagesForm_submit(this);">

		<table width="100%" cellspacing="0" cellpadding="0" border="0"  summary="">
			<tr height="1%">
				<td colspan="2">
					<div class="ilMainHeader" >
						<div class="ilLogin">SCORM 2004</div>
						<div style="padding:2px 0px 2px 15px;">
							<img style="vertical-align:middle; padding:0px 15px 0px 0px;" width="44" height="44" border="0" src="./templates/css/images/HeaderIcon.png" alt=""/>
							<span class="il_PDTitle">Open Source eLearning</span>
						</div>
						<div class="il_MainMenu" style="clear:both;">
							<a target="_blank" href="./sqlite/index.php?dbsel=2" class="MMInactive">Sqlite Admin</a>
							<a target="_blank" href="#" onclick="btnPlay_click(0);return false;" class="MMInactive">Play</a>
						</div>
						<div style="clear:both;"></div>
					</div>
				</td>
			</tr>

			<tr class="il_PDBlock" >
				<th class="il_PDBlockHeader" colspan="2">
					<div style="float:left;" id="mainTitle">Demo Administration</div>
					<div class="il_ContainerItemCommands" style="float:right;">
					</div>
				</th>
			</tr>
		</table>

		<br/>
		
		<table align="center" cellspacing="0" cellpadding="5" border="1"  summary="">
			<tr class="il_PDBlock" height="1%">
				<th class="il_PDBlockHeader" colspan="2">
					<div style="float:left;" >Select User and Package</div>
				</th>
			</tr>

			<tr valign="top" >
				<td class="std" width="30%" >
					<br/>Select a demo user
					<br/>{USERS}
				</td>
				<td class="std" width="70%">
					<br/>Select a test package
					<br/>{PACKAGES}
				</td>
			</tr>
			<tr class="il_PDBlock" >
				<td class="il_BlockFooter">
					<input class="button" name="submit[removeCMIData]" type="submit" value="Remove Trackingdata" title="Removes the tracking data"/>
				</td>
				<td class="il_BlockFooter">
					<input class="button" name="submit[removePackage]" type="submit" value="Remove" title="Removes the package completely, tracking data will be lost"/>
					<input class="button" name="submit[exportXML]" type="submit" value="Export XML" title="Gives you the internal XML representation"/>
					<input class="button" name="submit[exportManifest]" type="submit"	value="Export Manifest" title="Creates a IMS Manifest from database representation"/>
					<input class="button" name="submit[exportZIP]" type="submit" value="Export ZIP" title="Gives you the original uploaded ZIP"/>
					<input class="button" name="submit[exportPackage]" type="submit" value="Export Package" title="Creates new package from database representation"/>
				</td>
			</tr>	
		</table>

		<br/>
		
		<table align="center" cellspacing="0" cellpadding="5" border="1"  summary="">
			<tr class="il_PDBlock" height="1%">
				<th class="il_PDBlockHeader">
					<div style="float:left;" >Upload / Import a Package</div>
				</th>
			</tr>
			<tr>
				<td>
					<br/>
					{PACKAGE_FILES}
					<br/>
					<br/>Or upload a new one
					<br/>
					<input type="hidden" name="MAX_FILE_SIZE" value="4000000" />
					<input class="text" name="packagedata" type="file" />
					Max upload size is 4 MB
				</td>
			</tr>
			<tr class="il_PDBlock" >
				<td class="il_BlockFooter">
					Will overwrite current package
					<input class="button" name="submit[uploadAndImport]" type="submit" value="Upload &amp; Import"
					onclick="return uploadAndImport_click(this.form)"
					/>
				</td>
			</tr>
			
		</table>

	</form>

	</body>
</html>
