/* Modules/ScormAicc */

table.il_ScormTable {
	color: #222;
	background-color: #BBB;
	border-spacing: 1px;
	border: none;
}

td.il_ScormTableKey {
	background-color: #E2E2E2;
	color: #222;
	padding: 1px 3px;
	vertical-align: top;
	text-align: right;
}

td.il_ScormTableValue {
	background: none #F7F7F7;
	color: #222;
	padding: 1px 3px;
	vertical-align: top;
	text-align: left;
}
