<div class="panel panel-flex il-panel-listing-std-container clearfix">
    <!-- BEGIN heading -->
    <div class="panel-heading ilHeader">
        <div class="panel-title"><h{HEADLINE_NESTING_LEVEL}>{TITLE}</h{HEADLINE_NESTING_LEVEL}></div>
        <!-- BEGIN vc_container -->
        <div class="panel-viewcontrols l-bar__space-keeper"><!-- BEGIN view_controls -->{VIEW_CONTROL}<!-- END view_controls --></div>
        <!-- END vc_container -->
        <div class="panel-controls">{ACTIONS}</div>
    </div>
    <!-- END heading -->
    <!-- BEGIN group -->
    {ITEM_GROUP}
    <!-- END group -->
</div>