<!-- BEGIN heading -->
<div class="panel-heading ilHeader">
	<!-- BEGIN title -->
	<div class="panel-title">
		<h2>{TITLE}</h2>
	</div>
	<!-- END title -->
	<!-- BEGIN toggler -->
	<div class="panel-toggler">
		<h2>
			<span data-collapse-button-visibility="{COLLAPSE_BUTTON_VISIBLE}">{COLLAPSE_BUTTON}</span>
			<span data-expand-button-visibility="{EXPAND_BUTTON_VISIBLE}">{EXPAND_BUTTON}</span>
		</h2>
	</div>
	<!-- END toggler -->
	<!-- BEGIN vc_container -->
	<div class="panel-viewcontrols l-bar__space-keeper"<!-- BEGIN vc_expandable --> data-vc-expanded="{VC_EXPANDED}"<!-- END vc_expandable -->><!-- BEGIN view_controls -->{VIEW_CONTROL}<!-- END view_controls --></div>
	<!-- END vc_container -->
	<div class="panel-controls">{ACTIONS}</div>
</div>
<!-- END heading -->
