/* Modules/Wiki */
a.ilWikiPageMissing:link,
a.ilWikiPageMissing:visited {
  color: red;
}
a.ilWikiPageMissing:hover {
  color: black;
}
ul.ilWikiBlockList {
  margin: 0 0 0 20px;
  padding: 0;
  list-style: disc outside;
}
ul.ilWikiBlockListNoIndent {
  margin: 0;
  padding: 0;
  list-style: none;
}
li.ilWikiBlockItem {
  margin: 0;
  padding: 0;
}
