// In order not to manually overwrite the focus in all places, the following bootstrap focus mixin is overwritten ilias/libs/bower/bower_components/bootstrap/less/mixins/tab-focus.less.

.tab-focus() {
    // WebKit-specific. Other browsers will keep their default outline style.
    // (Initially tried to also force default via `outline: initial`,
    // but that seems to erroneously remove the outline in Firefox altogether.)
    outline: none;
    outline-offset: 0px;
    &:focus-visible {
        outline: @il-focus-outline;
    }
  }

.il-focus(){
	&:focus-visible{
		outline: @il-focus-outline;
		outline-offset: 0px;
	}

	&:active,&.engaged{
		outline: none;
	}
}