// In order not to manually overwrite the focus in all places, the following bootstrap focus mixin is overwritten ilias/libs/bower/bower_components/bootstrap/less/mixins/tab-focus.less.

.tab-focus() {
    // WebKit-specific. Other browsers will keep their default outline style.
    // (Initially tried to also force default via `outline: initial`,
    // but that seems to erroneously remove the outline in Firefox altogether.)
    outline: none;
    outline-offset: 0px;
    &:focus-visible {
        outline: @il-focus-outline-outer;
        outline-offset: @il-focus-outline-width;
        
        .il-focus-after();
    }
  }

.il-focus() {
	&:focus-visible {
		position: relative;
		border: none;
		outline: @il-focus-outline-outer;
		outline-offset: @il-focus-outline-width - 1px;
		
		.il-focus-after();
	}

	&:active,&.engaged{
		outline: none;
	}
}

.il-focus-after() {
	&::after {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		outline: @il-focus-outline-inner;
	}
}