@font-face {
	font-family: 'Open Sans';
	src:	url('fonts/OpenSansWeb/opensans-regular-webfont.eot');
	src:	url('fonts/OpenSansWeb/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
			url('fonts/OpenSansWeb/opensans-regular-webfont.woff') format('woff'),
			url('fonts/OpenSansWeb/opensans-regular-webfont.ttf') format('truetype'),
			url('fonts/OpenSansWeb/opensans-regular-webfont.svg') format('svg');
}

@font-face {
	font-family: 'Open Sans';
	src:	url('fonts/OpenSansWeb/opensans-bold-webfont.eot');
	src:	url('fonts/OpenSansWeb/opensans-bold-webfont?#iefix') format('embedded-opentype'),
			url('fonts/OpenSansWeb/opensans-bold-webfont.woff') format('woff'),
			url('fonts/OpenSansWeb/opensans-bold-webfont.ttf') format('truetype'),
			url('fonts/OpenSansWeb/opensans-bold-webfont.svg') format('svg');
	font-weight: bold;
}

@font-face {
	font-family: 'Open Sans';
	src:	url('fonts/OpenSansWeb/opensans-italic-webfont.eot');
	src:	url('fonts/OpenSansWeb/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
			url('fonts/OpenSansWeb/opensans-italic-webfont.woff') format('woff'),
			url('fonts/OpenSansWeb/opensans-italic-webfont.ttf') format('truetype'),
			url('fonts/OpenSansWeb/opensans-italic-webfont.svg') format('svg');
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src:	url('fonts/OpenSansWeb/opensans-bolditalic-webfont.eot');
	src:	url('fonts/OpenSansWeb/opensans-bolditalic-webfont?#iefix') format('embedded-opentype'),
			url('fonts/OpenSansWeb/opensans-bolditalic-webfont.woff') format('woff'),
			url('fonts/OpenSansWeb/opensans-bolditalic-webfont.ttf') format('truetype'),
			url('fonts/OpenSansWeb/opensans-bolditalic-webfont.svg') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans Light';
	src:	url('fonts/OpenSansWeb/opensans-light-webfont.eot');
	src:	url('fonts/OpenSansWeb/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
			url('fonts/OpenSansWeb/opensans-light-webfont.woff') format('woff'),
			url('fonts/OpenSansWeb/opensans-light-webfont.ttf') format('truetype'),
			url('fonts/OpenSansWeb/opensans-light-webfont.svg') format('svg');
}

@font-face {
	font-family: 'Open Sans Light';
	src:	url('fonts/OpenSansWeb/opensans-lightitalic-webfont.eot');
	src:	url('fonts/OpenSansWeb/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
			url('fonts/OpenSansWeb/opensans-lightitalic-webfont.woff') format('woff'),
			url('fonts/OpenSansWeb/opensans-lightitalic-webfont.ttf') format('truetype'),
			url('fonts/OpenSansWeb/opensans-lightitalic-webfont.svg') format('svg');
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans Semibold';
	src:	url('fonts/OpenSansWeb/opensans-semibold-webfont.eot');
	src:	url('fonts/OpenSansWeb/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
			url('fonts/OpenSansWeb/opensans-semibold-webfont.woff') format('woff'),
			url('fonts/OpenSansWeb/opensans-semibold-webfont.ttf') format('truetype'),
			url('fonts/OpenSansWeb/opensans-semibold-webfont.svg') format('svg');
}

@font-face {
	font-family: 'Open Sans Semibold';
	src:	url('fonts/OpenSansWeb/opensans-semibolditalic-webfont.eot');
	src:	url('fonts/OpenSansWeb/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
			url('fonts/OpenSansWeb/opensans-semibolditalic-webfont.woff') format('woff'),
			url('fonts/OpenSansWeb/opensans-semibolditalic-webfont.ttf') format('truetype'),
			url('fonts/OpenSansWeb/opensans-semibolditalic-webfont.svg') format('svg');
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans Extrabold';
	src:	url('fonts/OpenSansWeb/opensans-extrabold-webfont.eot');
	src:	url('fonts/OpenSansWeb/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
			url('fonts/OpenSansWeb/opensans-extrabold-webfont.woff') format('woff'),
			url('fonts/OpenSansWeb/opensans-extrabold-webfont.ttf') format('truetype'),
			url('fonts/OpenSansWeb/opensans-extrabold-webfont.svg') format('svg');
}

@font-face {
	font-family: 'Open Sans Extrabold';
	src:	url('fonts/OpenSansWeb/opensans-extrabolditalic-webfont.eot');
	src:	url('fonts/OpenSansWeb/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
			url('fonts/OpenSansWeb/opensans-extrabolditalic-webfont.woff') format('woff'),
			url('fonts/OpenSansWeb/opensans-extrabolditalic-webfont.ttf') format('truetype'),
			url('fonts/OpenSansWeb/opensans-extrabolditalic-webfont.svg') format('svg');
	font-style: italic;
}
