
	<div class="ilFormRow">
		<div class="ilFormOption">{TXT_FROM}</div>
		<div class="ilFormValue">
			<!-- BEGIN pers_image -->
			<img style="float:left; margin-right:10px;" src="{IMG_SENDER}" alt="{ALT_SENDER}" border="0"/>
			<!-- END pers_image -->
			{PUBLIC_NAME}
		</div>
	</div>
	<div class="ilFormRow">
		<div class="ilFormOption">{TXT_TO}</div>
		<div class="ilFormValue">{TO}</div>
	</div>
	<!-- BEGIN cc -->
	<div class="ilFormRow">
		<div class="ilFormOption">{TXT_CC}</div>
		<div class="ilFormValue">{CC}</div>
	</div>
	<!-- END cc -->
	<div class="ilFormRow">
		<div class="ilFormOption">{TXT_SUBJECT}</div>
		<div class="ilFormValue">{SUBJECT}</div>
	</div>
	<div class="ilFormRow">
		<div class="ilFormOption">{TXT_DATE}</div>
		<div class="ilFormValue">{DATE}</div>
	</div>
	<!-- BEGIN attachment -->
	<div class="ilFormRow">
		<div class="ilFormOption">
			{TXT_ATTACHMENT}
		</div>
		<div class="ilFormValue">
			<!-- BEGIN a_row -->
			<div>{FILE_NAME} <a class="il_containeritemcommand" href="{HREF_DOWNLOAD}">{TXT_DOWNLOAD}</a></div>
			<!-- END a_row -->
		</div>
	</div>

<!-- END attachment -->
<div class="ilBlockContent">
	<br/>{MAIL_MESSAGE}<br/><br/>
</div>