<!-- BEGIN row -->
<tr class="{CSS_ROW}">
	<td class="std" ><input type="checkbox" {CHECKED} name="mail_id[]" value="{MAIL_ID}" {CHECKBOX_CHECKED}></td>
	<!-- BEGIN attachments_column -->
	<td class="std">{ATTACHMENT_INDICATOR}</td>
	<!-- END attachments_column -->
	<!-- BEGIN avatar_column -->
	<td class="std"><!-- BEGIN pers_image -->
		<img class="ilUserXXSmall" src="{IMG_SENDER}" alt="{ALT_SENDER}" /><!-- END pers_image -->
	</td>
	<!-- END avatar_column -->
	<td class="std">
	<!-- BEGIN mails_from -->
		{MAIL_FROM}<br />
	<!-- END mails_from -->
		{MAIL_LOGIN}
	</td>
	<!-- BEGIN mail_subject --><td class="std"><a class="{MAILCLASS}" href="{MAIL_LINK_READ}">{MAIL_SUBJECT}</a><span class="sr-only"> ({MAIL_SUBJECT_READ_UNREAD})</span></td><!-- END mail_subject -->
	<!-- BEGIN search_result -->
	<td class="std">
	<!-- BEGIN msr_subject --><p><a class="{MSR_SUBJECT_MAILCLASS}" href="{MSR_SUBJECT_LINK_READ}">{MSR_SUBJECT}</a><span class="sr-only"> ({MSR_SUBJECT_READ_UNREAD})</span></p><!-- END msr_subject -->
	<!-- BEGIN msr_data -->{MSR_DATA}<!-- END msr_data -->
	</td>
	<!-- END search_result -->
	<td class="std">{MAIL_DATE}</td>
	<td class="std">{ACTIONS}</td>
</tr>
<!-- END row -->
