<div class="{CSS_ROW} pdMailRow">
	<!-- BEGIN image_container -->
	<div class="ilFloatLeft">
	<!-- BEGIN image -->
	<img src="{IMG_SENDER}" title="{ALT_SENDER}" alt="{ALT_SENDER}" class="noMirror" />
	<!-- END image -->
	</div>
	<!-- END image_container -->
	<div class="<!-- BEGIN usr_image_space -->imageSpace<!-- END usr_image_space -->">
		<!-- BEGIN short -->
		<div class="small" class="ilFloatRight">{PUBLIC_NAME_SHORT}</div>
		<!-- END short -->
		<div class="small">
			<a href="{NEW_MAIL_LINK_READ}">{NEW_MAIL_SUBJ}</a>
		</div>
		<!-- BEGIN long -->
		<div class="small">{PUBLIC_NAME_LONG}</div>
		<div class="il_BlockInfo" class="ilRight">{NEW_MAIL_DATE}</div>
		<!-- END long -->
	</div>
	<div class="ilClearFloat"></div>
</div>
