<form action="{ACTION}" target="{FORM_TARGET}" method="post">
	<table class="fullwidth">
		<tr class="{CSSROW_FROM}">
			<td id="header-from" class="option" style="vertical-align: bottom; width: 15%;">{TXT_FROM}</td>
			<td headers="header-from" class="option_value">
			<!-- BEGIN pers_image -->
			<img style="float:left; margin-right:10px;" src="{IMG_SENDER}" alt="{ALT_SENDER}" border="0" />
			<!-- END pers_image -->
			<!-- BEGIN fullname --><a href="{PROFILE_LINK_FROM}">{FROM}</a><br /><!-- END fullname -->{MAIL_LOGIN}
			<!-- BEGIN add --><br />{ADD_USER_BTN}<!-- END add -->
			</td>
		</tr>
		<tr class="{CSSROW_TO}">
			<td id="header-to" class="option">{TXT_TO}</td>
			<td headers="header-to" class="option_value">{TO}</td>
		</tr>
		<!-- BEGIN cc -->
		<tr class="{CSSROW_CC}">
			<td id="header-cc" class="option">{TXT_CC}</td>
			<td headers="header-cc" class="option_value">{CC}</td>
		</tr>
		<!-- END cc -->
		<!-- BEGIN bcc -->
		<tr class="{CSSROW_BCC}">
			<td id="header-bcc" class="option">{TXT_BCC}</td>
			<td headers="header-bcc" class="option_value">{BCC}</td>
		</tr>
		<!-- END bcc -->
		<tr class="{CSSROW_SUBJ}">
			<td id="header-subject" class="option">{TXT_SUBJECT}</td>
			<td headers="header-subject" class="option_value">{SUBJECT}</td>
		</tr>
		<tr class="{CSSROW_DATE}">
			<td id="header-date" class="option">{TXT_DATE}</td>
			<td headers="header-date" class="option_value">{DATE}</td>
		</tr>
	</table>
	<br />
	{BUTTONS2}
	<br />
	<!-- BEGIN attachment -->
	<table class="fullwidth">
		<tr class="tblheader">
			<th id="header-attachment" colspan="2" class="std">{TXT_ATTACHMENT}</th>
		</tr>
		<!-- BEGIN a_row -->
		<tr class="{A_CSSROW}">
			<td class="std" align="center" width="4%">
				<input type="radio" name="filename" value="{FILE}" id="{FILE}" />
			</td>
			<td class="std"><label for="{FILE}">{FILE_NAME}</label></td>
		</tr>
		<!-- END a_row -->
		<tr>
			<td class="std"  align="center" width="4%">
				<img src="templates/default/images/arrow_downright.gif" />
			</td>
			<td class="std" >
				<input type="submit" class="submit" name="cmd[deliverFile]" value="{TXT_DOWNLOAD}">
			</td>
		</tr>
 	</table>
	<br />
	<!-- END attachment -->
	<table class="fullwidth">
		<tr class="tblheader" colspan="2">
			<th id="header-message" class="std">{TXT_MESSAGE}</th>
		</tr>
		<tr class="std">
			<td headers="header-message" class="std" colspan="2">{MAIL_MESSAGE}</td>
		</tr>
	</table>
	<br />
	{MAIL_NAVIGATION}
</form>