<!-- BEGIN confirm_empty_trash -->
<form action="{ACTION_EMPTY_TRASH_CONFIRMATION}" class="il_Form" method="POST">
  <table class="fullwidth_invisible">
	  <tr>
		<td align="center">
		  <input class="submit" type="submit" name="cmd[performEmptyTrash]" value="{BUTTON_CONFIRM_EMPTY_TRASH}" />
		  <input class="submit" type="submit" name="cmd[cancelEmptyTrash]" value="{BUTTON_CANCEL_EMPTY_TRASH}" />
		</td>
	  </tr>
  </table>
  </form>
  <br />
<!-- END confirm_empty_trash -->

<!-- BEGIN confirm_delete -->
<form method="post" name="cmd" action="{ACTION}">
	<table class="fullwidth_invisible">
		<tr>
			<td align="center">
				<input class="submit" type="submit" name="cmd[confirmDeleteMails]" value="{BUTTON_CONFIRM}" />
				<input class="submit" type="submit" name="cmd[cancelDeleteMails]" value="{BUTTON_CANCEL}" />
				<!-- BEGIN mail_ids -->
				<input type="hidden" name="mail_id[]" value="{MAIL_ID_VALUE}" />
				<!-- END mail_ids -->
			</td>
		</tr>
	</table>
</form>
<!-- END confirm_delete -->

<!-- BEGIN show_folder -->
<form action="{ACTION_FLAT}" class="il_Form" method="POST">
  <table class="std">
	  <tr class="std">
		<td class="option">{TXT_FOLDERS}
		</td>
		<td class="option_row">
		  <select name="mobj_id">
			<!-- BEGIN flat_select -->
			<option value="{FLAT_VALUE}" "{FLAT_SELECTED}">{FLAT_NAME}</option>
			<!-- END flat_select -->
		  </select>
		  <input class="submit" type="SUBMIT" name="cmd[showFolder]" value="{FOLDER_VALUE}"/>
		</td>
	  </tr>
  </table><br />
</form>
<!-- END show_folder -->
	  
{MAIL_TABLE}
