    <form action="{ACTION}" target="{FORM_TARGET}" method="post">
	<table class="fullwidth">
		<TR class="{CSSROW_FROM}">
			<TD id="header-from" class="option">{TXT_FROM}</TD>
			<TD headers="header-from" class="option_value">
			<!-- BEGIN pers_image -->
			<img style="float:left; margin-right:10px;" src="{IMG_SENDER}" alt="{ALT_SENDER}" border="0" />
			<!-- END pers_image -->
			<!-- BEGIN fullname --><a href="{PROFILE_LINK_FROM}">{FROM}</a><br /><!-- END fullname -->{MAIL_LOGIN}
			<!-- BEGIN add --><br />{ADD_USER_BTN}<!-- END add -->
			</TD>
		</TR>
		<TR class="{CSSROW_TO}">
			<TD id="header-to" class="option">{TXT_TO}</TD>
			<TD headers="header-to" class="option_value">{TO}</TD>
		</TR>
		<!-- BEGIN cc -->
		<TR class="{CSSROW_CC}">
			<TD id="header-cc" class="option">{TXT_CC}</TD>
			<TD headers="header-cc" class="option_value">{CC}</TD>
		</TR>
		<!-- END cc -->
		<TR class="{CSSROW_SUBJ}">
			<TD id="header-subject" class="option">{TXT_SUBJECT}</TD>
			<TD headers="header-subject" class="option_value">{SUBJECT}</TD>
		</TR>
		<TR class="{CSSROW_DATE}">
			<TD id="header-date" class="option">{TXT_DATE}</TD>
			<TD headers="header-date" class="option_value">{DATE}</TD>
		</TR>
	</table>
	  <br>

	  {BUTTONS2}
	  <!-- BEGIN attachment -->
	  <table class="fullwidth">
		  <TR class="tblheader">
			<TH id="header-attachment" colspan="2" class="std">
			  {TXT_ATTACHMENT}
			</TH>
		  </TR>
		  <!-- BEGIN a_row -->
		  <TR class="{A_CSSROW}">
			<TD CLASS="STD" align="center" width="4%">
			  <input type="radio" name="filename" value="{FILE}">
			</TD>
			<TD CLASS="STD" >
			  {FILE_NAME}
			</TD>
		  </TR>
		  <!-- END a_row -->
		  <tr>
			<td class="std"  align="center" width="4%">
			  <img src="templates/default/images/arrow_downright.gif" />
			</td>
			<td class="std" >
			  <input type="submit" name="cmd[deliverFile]" value="{TXT_DOWNLOAD}">
			</td>
		  </tr>
	  </TABLE>
	  <!-- END attachment -->
		<table class="fullwidth">
			<TR class="tblheader" colspan="2">
				<TH id="header-message" class="std">{TXT_MESSAGE}</TH>
			</tr>
			<tr class="std">
				<TD headers="header-message" class="std" colspan="2">{MAIL_MESSAGE}</TD>
			</TR>
		</TABLE>
<div>
<br />
<table class="fullwidth_invisible">
<tr>
	<td align="left">
		<select name="selected_cmd">
		<!-- BEGIN movemail -->
			<option value="{MOVEMAIL_VALUE}" {MOVEMAIL_SELECTED}>{MOVEMAIL_NAME}</option>
		<!-- END movemail -->	  
		</select>
		<input type="submit" name="cmd[changeFolder]" class="submit" value="{TXT_MOVEMAIL_SEND}" />
	</td>
	<td align="right">{NAV_BUTTONS}</td>
</tr>
</table>

</form>


<!--</div>-->
</td></tr></table>
