<tr class="{CSS_ROW}">
	<!-- BEGIN image -->
	<td class="std" valign="top" width="1px">
		<img src="{IMG_SENDER}" title="{ALT_SENDER}" alt="{ALT_SENDER}" border="0"
		style="margin: 2px 0px;"/>
	</td>
	<!-- END image -->
	<td class="std" valign="middle">
	<!-- BEGIN short -->
	<div class="small" style="float:right;"> [{NEW_MAIL_FROM_LOGIN}]</div>
	<!-- END short -->
	<div class="small">
	<a href="{NEW_MAIL_LINK_READ}">{NEW_MAIL_SUBJ}</a></div>
	<!-- BEGIN long -->
	<div class="small"><!-- BEGIN fullname -->{NEW_MAIL_FROM} <!-- END fullname -->[{NEW_MAIL_FROM_LOGIN}]</div>
	<div class="il_BlockInfo" style="text-align:right;">{NEW_MAIL_DATE}</div>
	<!-- END long -->
	</td>
</tr>
