<!-- BEGIN placeholder_box -->
<div class="option_value" id="placeholders_box">
	<div class="il_Description">
		<b>{TXT_USE_PLACEHOLDERS}</b>:<br />
		{TXT_PLACEHOLDERS_ADVISE}<br />
		<!-- BEGIN man_placeholder -->
		<b><a href="#" onclick="insertTextIntoTextField(this.innerHTML, 'm_message'); return false;">[{MANUAL_PLACEHOLDER}]</a></b>: {TXT_MANUAL_PLACEHOLDER}<br />
		<!-- END man_placeholder -->
	</div>
</div>
<!-- END placeholder_box -->
<script>
	(function($) {
		var $ctx = $('#context');
		if ($ctx.size() == 1) {
			var onCtxChange = function () {
				var value = $ctx.val();
				if (value) {
					$.ajax({
						url: "{URL}" + "&context_id=" + value,
						type: 'GET'
					}).done(function (placeholders) {
						$('#placeholders_box').html(placeholders);
					});
				}
			};

			$ctx.off('change').on('change', onCtxChange);

			$(document).ready(function () {
				onCtxChange();
			});
		}
	})(jQuery);
</script>