<form role="form" id="form_{FORM_ID}" class="form-horizontal preventDoubleSubmission"
<!-- BEGIN form_target -->target="{FORM_TARGET}"<!-- END form_target -->
action="{FORM_ACTION}" method="post">
<div class="il_ButtonGroup">
	<input class="btn btn-default" type="submit" name="cmd[searchUsers]" value="{BUTTON_TO}"/>
	<input class="btn btn-default" type="submit" name="cmd[searchCoursesTo]" value="{BUTTON_COURSES_TO}"/>
	<input class="btn btn-default" type="submit" name="cmd[searchGroupsTo]" value="{BUTTON_GROUPS_TO}"/>
	<input class="btn btn-default" type="submit" name="cmd[searchMailingListsTo]" value="{BUTTON_MAILING_LISTS_TO}"/>
</div>
<br />
<!-- BEGIN mailform -->
{FORM}
<!-- END mailform -->
<script type="text/javascript">
	$('#form_{FORM_ID}').on('keyup keydown keypress', function(event) {
		if (event.which == 13) {
			if ($(event.target).prop("tagName").toLowerCase() != "textarea" &&
				(
					$(event.target).prop("tagName").toLowerCase() != "input"
					||
					$(event.target).prop("type") != "submit"
			)) {
				event.preventDefault();
			}
		}
	});
</script>