<table class="std">
<form action="{ACTION}" method="post">
<!-- BEGIN options -->
<tr class="tblheader" >
	<th id="header-options" class="std" colspan="2">
	{GLOBAL_OPTIONS}
	</th>
</tr>
<tr>
	<td id="header-incoming"  class="option">
	{TXT_INCOMING}
	</td>
	<td headers="header-options header-incoming" class="option_value">
	<select name="incoming_type" {INC_DISABLED}>
		<!-- BEGIN option_inc_line -->
		<option value="{OPTION_INC_VALUE}" {OPTION_INC_SELECTED}>
		{OPTION_INC_NAME}
		</option>
		<!-- END option_inc_line -->
	</select>
	</td>
</tr>
<tr>
	<td id="header-linebreak" class="option">
	{TXT_LINEBREAK}
	</td>
	<td headers="header-linebreak header-options" class="option_value">
	<select name="linebreak">
		<!-- BEGIN option_line -->
		<option value="{OPTION_VALUE}" {OPTION_SELECTED}>
		{OPTION_NAME}
		</option>
		<!-- END option_line -->
	</select>
	</td>
</tr>
<tr>
	<td id="header-signature" class="option">{TXT_SIGNATURE}</td>
	<td headers="header-signature header-options" class="option_value"><textarea name="signature" rows=10 cols=60>{CONTENT}</textarea></td>
</tr>
<!-- BEGIN cron_mail_notifications -->
<tr>
	<td id="header-cronjob-notification" class="option">{TXT_CRONJOB_NOTIFICATION}</td>
	<td headers="header-cronjob-notification header-options" class="option_value">
		<input type="checkbox" name="cronjob_notification" value="1" {CRONJOB_NOTIFICATION_SELECTED} />
		<br /><span class="subtitle">{TXT_CRONJOB_NOTIFICATION_INFO}</span>
	</td>
</tr>
<!-- END cron_mail_notifications -->
<tr class="submit" align="right">
	<td class="submit" colspan="2"><input class="submit" type=submit value="{TXT_SAVE}" name="cmd[saveOptions]"/></td>
</tr>
<!-- END options -->
</form>
</table>