<div style="float:right;">
<table class="std">
<tr class="std"><td class="option" style="text-align:center;">{TIME_TO_SEND_TXT}</td>
</tr>
<!-- BEGIN TIME_NOT_REACHED -->
<tr class="std"><td style="text-align:center;">{TIME_TO_SEND}</td>
</tr>
<!-- END TIME_NOT_REACHED -->
<!-- BEGIN TIME_REACHED -->
<tr class="std"><td class="warning" style="text-align:center;">{TIME_TO_SEND}</td>
</tr>
<!-- END TIME_REACHED -->
</table>
</div>
<form action="{FORM_DOWNLOAD_ACTION}" method="post">
	<table class="std" width="50%">
<tr class="tblheader">
                        <td class="std" colspan="3">
                          <table class="invisible_border" width="100%">
                                  <tr>
                                        <td>&nbsp;{TXT_HEADER}</td>
                                  </tr>
                          </table>
                        </td>
                  </tr>

		<tr class="std">
		  <td class="option">{TITLE_TXT}</td>
		  <td class="exc_title" colspan="3"><div>{TITLE}</div></td>
		</tr>
		<tr class="std">
		  <td class="option">{DESCRIPTION_TXT}</td>
		  <td class="option_value" style="text-align:justify;" colspan="3"><div class="ilDescription">{DESCRIPTION}</div></td>
		</tr>
		<tr class="std">
		  <td class="option" colspan="2">{INSTRUCTION_TXT}</td>
		  <td class="option_value" style="text-align:justify;">{INSTRUCTION}</td>
		</tr>
		<tr class="std">
		  <td class="option" colspan="2">{EDIT_UNTIL_TXT}</td>
		  <td class="exc_edit_until">{EDIT_UNTIL}</td>
		</tr>
		<!-- BEGIN FILES -->
		<tr class="std">
		  <td class="option" colspan="2">{FILES_TXT}</td>
		  <td class="option_value">&nbsp;</td>
		</tr>
		<!-- BEGIN FILES_ROW -->
		<tr class="std">
		  <td class="option_value" colspan="3">{FILE_CHECK} {FILE_DATA}</td>
		</tr>
		<!-- END FILES_ROW -->
		<tr class="tblfooter">
		  <td class="std" colspan="3"><img src="{IMG}" /> <input class="submit" type="submit" name="cmd[downloadFile]" value="{TXT_DOWNLOAD}" /></td>
		</tr>
		<!-- END FILES -->
	</table>
</form>
