<tr class="{CSS_ROW}">
	<!-- BEGIN cb_bl -->
	<td class="std">{VAL_CHECK}</td>
	<!-- END cb_bl -->
	<td class="std" align="center"><img src="{VAL_ICON}" alt="{VAL_TITLE}" /></td>
	<td class="std small">{VAL_TITLE}</td>
	<td class="std small">{VAL_LINK}</td>
	<!-- BEGIN static_status_bl -->
	<td class="std small">{VAL_ACTIVE_STATIC}</td>
	<!-- END static_status_bl -->
	<!-- BEGIN actions_bl -->
	<td class="std small"><a href="{VAL_TOGGLE_LINK}">{VAL_ACTIVE}</a></td>
	<td class="std small">{VAL_ACTIONS}</td>
	<!-- END actions_bl -->
</tr>
