
.btn-default {
    color: @accent-primary;
    background-color: transparent;
    border-color: @accent-primary;
    font-size: inherit;
}
.btn-default:hover,
.btn-default:active,
.btn-default.active,
.btn-default:focus,
.btn-default.focus,
.open > .dropdown-toggle.btn-default {
    color: white;
    background-color: @accent-primary;
    border-color: @accent-primary;
}
.input-group-btn {
    font-size: 100%;
}
