div.ilMemberViewMainHeader {
    background-color: #981a0a;
    color: white !important;
}
div.ilMemberViewMainHeader .ilTopTitle {
    float: right;
    margin-right: 15px;
    padding-right: 15px;
}
div.ilMemberViewMainHeader a {
    color: white !important;
    font-weight: initial;
}
div.ilMemberViewMainHeader .ilTopTitle:hover,
div.ilMemberViewMainHeader .ilTopTitle:active,
div.ilMemberViewMainHeader .ilTopTitle:focus {
    background-color: #aeaeae;
    outline: 0;
    text-decoration: none;
}
div.ilTopMemberView h3 {
    float: left;
    margin-left: 15px;
}
