.nav-tabs > li > a {
    color: @accent-primary;
    font-size: 100%;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: @accent-primary;
    color: white;
    border: 0;
}
.nav-tabs > li > a:hover {
    border-color: white;
    background-color: white;
    color: @mid-gray;
}
#ilSubTab {
    background-color: #e5eef6;
    margin: -23px 15px 10px;
    padding: 5px 0;
}
#ilSubTab > li > a {
    font-size: 90%;
    color: @accent-primary;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    color: @mid-gray;
    background-color: transparent;
}
