/* special SCORM 2004 Styles */
#zmove{
	background: url(images/transparent.gif) 0 0 repeat;
	position:absolute;
	width:100%;
	height:100%;
	z-index:7;
	display:none;
}
#leftView{
	width:230px;
	position:absolute;
	float:left;
	top:30px;
	bottom:0;
}
div.dragbar{
	background-color:#D0D0D0;
	z-index:8;
	width:2px;
	cursor:col-resize;
	position:absolute;
	top:30px;
	bottom:0px;
	left:230px;
}
#tdResource{
	float:right;
	position:absolute;
	right:0;
	top:30px;
	bottom:0px;
	left:232px;
}
#ilLog{
	font-size:9px;
	white-space:pre;
	overflow:scroll;
}
#ilLogPre{
	font-family:Verdana,Arial,Helvetica,sans-serif;
}
#treeControls{
	padding:5px;
	height: 100%;
}
#toggleLog{
	display:none;
}
#toolbar{
	background-color: #F3F3F3;
	zoom: 1;
}

.il_ContainerItemCommands{
	clear:both;
	margin: 1px 8px 3px 8px;
}

.asset, .completed , .not_attempted, .running, .incomplete, .passed, .failed, .browsed {
	padding-left: 18px;
}

#scormplayer html 
{
	overflow: hidden;
}

#scormplayer body 
{
	overflow: hidden;
}

#frmResource 
{
	height: 100%;
	width: 100%;
	border: 1px inset #808080;
	border-width: 0px;
	xoverflow: auto;
}


#treeView a {
	/* display: block; */
}


#treeView a:hover {
	text-decoration: underline;
}


#scormplayer .suspended
{
	border-style: inset;
}

#scormplayer .disabled
{
	color: #A0A0A0;
	background-color: #E0E0E0;
	cursor: not-allowed;
}
#scormplayer .disabled:hover
{
	text-decoration: none;
}

#scormplayer .hidden
{
	display: none;
}

#scormplayer .invisible /* imscp:@isvisible=false */
{
	color: white;
	background-color: orchid;
}


/* Attention: display "table" is not really supported by IE6 */

.loadingState .il_MainMenu {display: none}
.loadingState #il_PDBlock {display: none}
.loadingState #intro {display: block}
.loadingState #mainTable {display: none}
.loadingState .il_ContainerItemCommands {visibility:hidden}

.playingState .il_MainMenu {display: block}
.playingState #il_PDBlock {display: block}
.playingState #intro {display: none}
.playingState #mainTable {display: block;}
.playingState .il_ContainerItemCommands {visibility:visible}

#treeView 
{
	overflow: auto;
	width: 100%; 
	height: 100%;
}

#tdResource div {padding: 2em;}

/* Styles for YUI treeeview */

/* Copyright (c) 2006 Yahoo! Inc. All rights reserved. */

/* first or middle sibling, no children */
.ygtvtn {
	width:16px; height:22px; 
	background: url(images/tn.gif) 0 0 no-repeat; 
}

/* first or middle sibling, collapsable */
.ygtvtm {
	width:16px; height:22px; 
	cursor:pointer ;
	background: url(images/tm.gif) 0 0 no-repeat; 
}

/* first or middle sibling, collapsable, hover */
.ygtvtmh {
	width:16px; height:22px; 
	cursor:pointer ;
	background: url(images/tmh.gif) 0 0 no-repeat; 
}

/* first or middle sibling, expandable */
.ygtvtp {
	width:16px; height:22px; 
	cursor:pointer ;
	background: url(images/tp.gif) 0 0 no-repeat; 
}

/* first or middle sibling, expandable, hover */
.ygtvtph {
	width:16px; height:22px; 
	cursor:pointer ;
	background: url(images/tph.gif) 0 0 no-repeat; 
}

/* last sibling, no children */
.ygtvln {
	width:16px; height:22px; 
	background: url(images/ln.gif) 0 0 no-repeat; 
}

/* Last sibling, collapsable */
.ygtvlm {
	width:16px; height:22px; 
	cursor:pointer ;
	background: url(images/lm.gif) 0 0 no-repeat; 
}

/* Last sibling, collapsable, hover */
.ygtvlmh {
	width:16px; height:22px; 
	cursor:pointer ;
	background: url(images/lmh.gif) 0 0 no-repeat; 
}

/* Last sibling, expandable */
.ygtvlp { 
	width:16px; height:22px; 
	cursor:pointer ;
	background: url(images/lp.gif) 0 0 no-repeat; 
}

/* Last sibling, expandable, hover */
.ygtvlph { 
	width:16px; height:22px; cursor:pointer ;
	background: url(images/lph.gif) 0 0 no-repeat; 
}

/* Loading icon */
.ygtvloading { 
	width:16px; height:22px; 
	background: url(images/loading.gif) 0 0 no-repeat; 
}

/* the style for the empty cells that are used for rendering the depth 
 * of the node */
.ygtvdepthcell { 
	width:16px; height:22px; 
	background: url(images/vline.gif) 0 0 no-repeat; 
}

.ygtvblankdepthcell { width:16px; height:22px; }

/* the style of the div around each node */
.ygtvitem {font-size:13px;}  

/* the style of the div around each node's collection of children */
.ygtvchildren { }  
* html .ygtvchildren { height:2%; }  

/* the style of the text label in ygTextNode */
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover { 
	margin-left:2px;
	text-decoration: none;
}

.ygtvspacer { height: 10px; width: 10px; margin: 2px; }



#lightbox{
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	}
#lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
	}	
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }
#closeButton{ top: 5px; right: 5px; }

#lightbox img{ border: none; clear: both;} 
#overlay img{ border: none; }

#overlay{ background-image: url(images/overlay.png); }

* html #overlay{
	background-color: #333;
	back\ground-color: transparent;
	background-image: url(images/blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/overlay.png", sizingMethod="scale");
	}

/* default rte styles */
div.iosRTEMenu
{
	padding-top: 6px;
	padding-right: 11px;
	padding-bottom: 8px;
	padding-left: 11px;
	background-color: #F3F3F3;
}

div.ilc_rte_menu_RTEMenu
{
}

div.iosRTELogo
{
	float:left;
}
a.ilc_rte_mlink_RTELink
{
	color: #2020C0;
	font-size: 80%;
	text-decoration: underline;
	zoom: 1;
}
a.ilc_rte_mlink_RTELink:hover
{
}

a.ilc_rte_mlink_RTELinkDisabled
{
	color: #A0A0A0;
	background-color: #E0E0E0;
	cursor: not-allowed;
	text-decoration:none;
	zoom: 1;
}
a.ilc_rte_mlink_RTELinkDisabled:hover
{
	text-decoration:none;
}

a.ilc_rte_tlink_RTETreeLink
{
	color: #2020C0;
	font-size: 90%;
	text-decoration: none;
}
a.ilc_rte_tlink_RTETreeLink:hover
{
}

ul.ilc_rte_tul_RTETreeList
{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

li.ilc_rte_tli_RTETreeItem
{
	padding: 5px 0px 0px 20px;
	margin: 0px;
}

.ilc_rte_texp_RTETreeExpanded,
.ilc_rte_texp_RTETreeCollapsed
{
	background: url(images/tree_exp.svg) 0 0 no-repeat;
	display:block;
	width:16px;
	height:16px;
	float: left;
	margin-left: -17px;
	margin-top: 1px;
	cursor: pointer;
}

a.ilc_rte_texp_RTETreeCollapsed
{
	background: url(images/tree_col.svg) 0 0 no-repeat;
}

div.ilc_rte_node_RTECourse, div.ilc_rte_node_RTEChapter, div.ilc_rte_node_RTESco,
div.ilc_rte_node_RTEAsset,
div.ilc_rte_node_RTECourseDisabled, div.ilc_rte_node_RTEChapterDisabled, div.ilc_rte_node_RTEScoDisabled,
div.ilc_rte_node_RTEAssetDisabled
{
}

/* tree links */
a.ilc_rte_tlink_RTETreeLinkDisabled, a.ilc_rte_tlink_RTETreeLinkDisabled
{
	color: #A0A0A0;
	background-color: #E0E0E0;
	cursor: not-allowed;
	text-decoration:none;
	font-size: 90%;
}

a.ilc_rte_tlink_RTETreeLinkDisabled:hover, a.ilc_rte_tlink_RTETreeLinkDisabled:hover
{
	text-decoration:none;
}

a.ilc_rte_tlink_RTETreeCurrent
{
	background-color: #B0E0E6;
}

a.ilc_rte_tclink_RTETreeControlLink
{
	color: #2020C0;
	font-size: 90%;
	text-decoration: none;
}
a.ilc_rte_tclink_RTETreeControlLink:hover
{
	text-decoration:underline;
}

