/* we need because of the placeholder element */
ul.ordering li {
	list-style: none;
	border:1px solid black;
	margin:3px;
	padding:3px;
	height:20px;
	cursor:move;
}
ul.ordering_vrt li {
	width:200px;
}
ul.ordering_hrz li {
	float:left;
}
span.errortext_corrected {
	text-decoration:line-through;
	color: #999;
}
.errortext a {
	text-decoration: none;
	color: #000;
	padding: 2px;
}
.errortext a:hover {
	text-decoration: none;
	background-color: #ddd;
	color: #000;
}
.sel {
	background-color: #9bd9fe;
	border: 1px #666 solid;
}