/* we need because of the placeholder element */
ul.ordering li {
}

ul.ordering_vrt_terms li {
	height:20px;
	width:200px;
}
ul.ordering_vrt_images li {

}
ul.ordering_hrz li {
	height:20px;
	float:left;
}
span.errortext_corrected {
}
a.image_details {
}
img.mc_image {
}