{FORM_BEGIN}
<!-- BEGIN singlechoice -->
	<div id="container{VAL_ID}" class="ilc_question_SingleChoice">
	<div class="ilc_qtitle_Title question id@id">qtitle</div>
	<span class="ilc_answers answers">
		<div class="ilc_qanswer_Answer"><input type="radio" class="order@value" value="0" name="answers{VAL_ID}" /> <span class="answertext" /></span></div>
		</span>	
	<div id="feedback{VAL_ID}" style="display:none"></div>
	<input type="button" class="ilc_qsubmit_Submit" {VAL_NO_DISPLAY} id="button{VAL_ID}" onclick="ilias.questions.checkAnswers({VAL_ID})" value="{TXT_SUBMIT_ANSWERS}" />
	</div>
<script>
	function renderILQuestion{VAL_ID}()
	{
		ilias.questions.shuffle(questions[{VAL_ID}]);
		jQuery('div#container{VAL_ID}').autoRender(questions[{VAL_ID}]);
		{HANDLE_IMAGES}
	}
	renderILQuestion{VAL_ID}();
</script>
<!-- END singlechoice -->
<!-- BEGIN multiplechoice -->
<div id="container{VAL_ID}" class="ilc_question_MultipleChoice">
	<div class="ilc_qtitle_Title question id@id">qtitle</div>
	<span class="ilc_answers answers">
		<div class="ilc_qanswer_Answer"><input type="checkbox" class="order@value" value="0" name="answers{VAL_ID}" /> <span class="answertext" /></span></div>
		</span>	
	<div id="feedback{VAL_ID}" style="display:none"></div>
	<input type="button" class="ilc_qsubmit_Submit" id="button{VAL_ID}" {VAL_NO_DISPLAY} onclick="ilias.questions.checkAnswers({VAL_ID})" value="{TXT_SUBMIT_ANSWERS}" />
	</div>
<script>
	function renderILQuestion{VAL_ID}()
	{
		ilias.questions.shuffle(questions[{VAL_ID}]);
		jQuery('div#container{VAL_ID}').autoRender(questions[{VAL_ID}]);
		{HANDLE_IMAGES}
	}
	renderILQuestion{VAL_ID}();
</script>
<!-- END multiplechoice -->
<!-- BEGIN kprimchoice -->
<div id="container{VAL_ID}" class="ilc_question_MultipleChoice">
	<div class="question_head">
		<div class="ilc_qtitle_Title question id@id">qtitle</div>
		<p class="ilAssKprimInstruction instruction">qinstruction</p>
	</div>
	<table class="nobackground ilAssKprimChoiceTable">
		<tr>
			<th class="optionLabel">{OPTION_LABEL_TRUE}</th>
			<th class="optionLabel">{OPTION_LABEL_FALSE}</th>
			<th></th>
		</tr>
		<!-- pure js tpl for answers begin -->
		<tr class="answers">
			<td class="kprimInput">
				<input class="" type="radio" name="qtrueinputname" value="{VALUE_TRUE}" />
			</td>
			<td class="kprimInput" width="15">
				<input type="radio" name="qfalseinputname" value="{VALUE_FALSE}" />
			</td>
			<td class="answertext">qanswertext</td>
		</tr>
		<!-- pure js tpl for answers end -->
	</table>
<div id="feedback{VAL_ID}" style="display:none"></div>
<input type="button" class="ilc_qsubmit_Submit" id="button{VAL_ID}" {VAL_NO_DISPLAY} onclick="ilias.questions.checkAnswers({VAL_ID})" value="{TXT_SUBMIT_ANSWERS}" />
</div>
<script>
(function(questionData){

	ilias.questions.shuffle(questionData);

	$('div#container'+questionData.id+' div.question_head').autoRender(questionData);

	$('div#container'+questionData.id).render(questionData, {
		'tr.answers':
		{
			'answer <- answers':
			{
				'td.answertext': 'answer.answertext',
				'td.kprimInput input@name': function(arg)
				{
					return 'kprim_choice_'+questionData.id+'_result_'+arg.context.answers[arg.pos].order;
				}
			}
		}
	});

})(questions[{VAL_ID}]);
</script>
<!-- END kprimchoice -->
<!-- BEGIN orderingquestion -->
<div id="container{VAL_ID}" class="ilc_question_OrderingQuestion">
<div class="ilc_qtitle_Title question id@id">qtitle</div>	
<ul id="order{VAL_ID}" class="ordering ordering_vrt{VAL_SUBTYPE} ilc_qordul_OrderList">
	<li class="answers order@id ilc_qordli_OrderListItem"><div class="ilc_qanswer_Answer answertext"></div></li>
</ul>
<div id="feedback{VAL_ID}" style="display:none"></div>
<input type="button" class="ilc_qsubmit_Submit" id="button{VAL_ID}" {VAL_NO_DISPLAY} onclick="ilias.questions.checkAnswers({VAL_ID})" value="{TXT_SUBMIT_ANSWERS}" />
</div>
<script>
	function renderILQuestion{VAL_ID}()
	{
		ilias.questions.shuffle(questions[{VAL_ID}]);
		jQuery('div#container{VAL_ID}').autoRender(questions[{VAL_ID}]);
		{HANDLE_IMAGES}
		jQuery("#order{VAL_ID}").sortable({axis: 'y', containment: '#container{VAL_ID}'});
	}
	$(document).ready(function() {
		renderILQuestion{VAL_ID}();
	});
</script>
<!-- END orderingquestion -->
<!-- BEGIN clozequestion -->
<div id="container{VAL_ID}" class="ilc_question_ClozeTest">
<div class="ilc_qanswer_Answer question id@id">qtitle</div>	
<div id="feedback{VAL_ID}" style="display:none"></div>
<input type="button" class="ilc_qsubmit_Submit" id="button{VAL_ID}" {VAL_NO_DISPLAY} onclick="ilias.questions.checkAnswers({VAL_ID})" value="{TXT_SUBMIT_ANSWERS}" />
</div>
<script>
	function renderILQuestion{VAL_ID}()
	{
		jQuery('div#container{VAL_ID}').autoRender(questions[{VAL_ID}]);
		ilias.questions.initClozeTest({VAL_ID});
	}
	renderILQuestion{VAL_ID}();
</script>
<!-- END clozequestion -->
<!-- BEGIN textquestion -->
<div id="container{VAL_ID}" class="ilc_question_TextQuestion">
	<div class="ilc_qtitle_Title question id@id">qtitle</div>
	<textarea class="ilc_qlinput_LongTextInput answer" id="textarea{VAL_ID}" cols="60" rows="5" maxlength="{VAL_MAXLENGTH}"></textarea>
<div id="feedback{VAL_ID}" style="display:none"></div><br/>
<input type="button" class="ilc_qsubmit_Submit" id="button{VAL_ID}"  {VAL_NO_DISPLAY} onclick="ilias.questions.checkAnswers({VAL_ID})" value="{TXT_SUBMIT_ANSWERS}" />
</div>
<script>
	function renderILQuestion{VAL_ID}()
	{
		jQuery('div#container{VAL_ID}').autoRender(questions[{VAL_ID}]);	
		//	jQuery('#textarea{VAL_ID}').textLimiter();
	}
	renderILQuestion{VAL_ID}();
</script>
<!-- END textquestion -->
<!-- BEGIN imagemapquestion -->
<div id="container{VAL_ID}" class="ilc_question_ImagemapQuestion">
	<div class="ilc_qtitle_Title question id@id">qtitle</div>
	<img class="cmap{VAL_ID} imagemap image@src" src="url" usemap="#map{VAL_ID}" />
	<div id="feedback{VAL_ID}" style="display:none"></div>
	<input type="button" class="ilc_qsubmit_Submit" id="button{VAL_ID}"  {VAL_NO_DISPLAY} onclick="ilias.questions.checkAnswers({VAL_ID})" value="{TXT_SUBMIT_ANSWERS}" />
	</div>
	<map class="map" name="map{VAL_ID}">
		<!-- BEGIN mapareas -->
		<area href="javascript:ilias.questions.toggleArea({VAL_ID},{VAL_ORDER});" coords="{VAL_COORDS}" shape="{VAL_AREA}" id="{VAL_ID}_{VAL_ORDER}" />
		<!-- END mapareas -->
	</map>

<script>
	function renderILQuestion{VAL_ID}()
	{
		jQuery('div#container{VAL_ID}').autoRender(questions[{VAL_ID}]);	
		
		// the if does not seem to make sense and will lead to problems during execution (preview will work though)
		// if(typeof(pager) == 'undefined') {	
			jQuery('.cmap{VAL_ID}').maphilight_mod({fade:true});		

		ilias.questions.initAreas('{VAL_ID}');
		if (ScormApi!=null) {
			ilias.questions.fix_imageurls('div#container{VAL_ID}');	
		}	
	}
	renderILQuestion{VAL_ID}();
</script>
<!-- END imagemapquestion -->
<!-- BEGIN matchingquestion -->
<!-- todo: move to global tpl->addStyle... -->
<div class="ilc_question_MatchingQuestion">
	<div class="ilc_qtitle_Title" id="qtitle{VAL_ID}">qtitle</div>
	<div id="ilMatchingQuestionContainer_{VAL_ID}" data-type="ilMatchingQuestion" data-id="{VAL_ID}">

		<div style="text-align: right; margin: 0 0 1em 0;">
			<input id="ilMatchingResetButton_{VAL_ID}" type="button" class="submit" name="reset" value="{BTN_LABEL_RESET}">
		</div>

		<table style="width: 100%; overflow: auto;">
			<tbody>
				<tr>
					<td id="targetArea" style="width: 66%; vertical-align: top;">
						<!-- pure tpl for definitions begin -->
						<div class="droparea" id="definition_{ID_DROPAREA}" data-id="{ID_DROPAREA}" data-type="definition">
							<table style="width: 100%;">
								<tbody>
									<tr>
										<td class="ilMatchingQuestionDefinition">Definition</td>
										<td class="ilMatchingQuestionTerm"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- pure tpl for definitions end -->
					</td>
					<td id="sourceArea" style="width: 33%; vertical-align: top;">
						<!-- pure tpl for terms begin -->
						<div class="draggable" id="term_{ID_DRAGGABLE}" data-id="{ID_DRAGGABLE}" data-type="term">Term</div>
						<!-- pure tpl for terms end -->
					</td>
				</tr>
			</tbody>
		</table>
		
		<div id="feedback{VAL_ID}" style="display:none"></div>
		
		<input type="button" class="ilc_qsubmit_Submit" id="button{VAL_ID}"  {VAL_NO_DISPLAY} onclick="ilias.questions.checkAnswers({VAL_ID})" value="{TXT_SUBMIT_ANSWERS}" />
		
	</div>
</div>
<script>
(function(questionData){

	$('div#qtitle'+questionData.id).html(questionData.question);

	$('#ilMatchingQuestionContainer_{VAL_ID} #sourceArea').render(questionData, {
		'div.draggable':
		{
			'term <- terms':
			{
				'.': 'term.text',
				'@id': function(arg) { return "term_"+arg.context.terms[arg.pos].id; },
				'@data-type': '"term"',
				'@data-id': 'term.id'
			}
		}
	});

	$('#ilMatchingQuestionContainer_{VAL_ID} #targetArea').render(questionData, {
		'div.droparea':
		{
			'definition <- definitions':
			{
				'td.ilMatchingQuestionDefinition': 'definition.text',
				'@id': function(arg) { return "definition_"+arg.context.definitions[arg.pos].id; },
				'@data-type': '"definition"',
				'@data-id': 'definition.id'
			}
		}
	});
	
	$(document).ready(
		function()
		{
			var question = $.fn.ilMatchingQuestionEngine(questionData.id, {
				/* matchingContainer: '#ilMatchingQuestionContainer_{QUESTION_ID}', */
				matchingContainer: 'body',
				matchingMode: questionData.matching_mode,
				resetButtonId: '#ilMatchingResetButton_'+questionData.id
			});

			$(questionData.definitions).each(function(pos, definition){
				question.addDefinition(definition.id);
			});

			$(questionData.terms).each(function(pos, term){
				question.addTerm(term.id);
			});
			
			question.init();
			
			questionData.engineInstance = question;
		}
	);
	
})(questions[{VAL_ID}]);
</script>
<!-- END matchingquestion -->
<!-- BEGIN textsubset -->
<div id="container{VAL_ID}" class="ilc_question_TextSubset">
	<div class="ilc_qtitle_Title question id@id">qtitle</div>
	<span class="ilc_answers answers">
		<div class="ilc_qanswer_Answer"><span class="answernr"></span>. <input type="text" class="order ilc_qinput_TextInput" value="" name="answers{VAL_ID}[]" /> </div>
		</span>	
<div id="feedback{VAL_ID}" style="display:none"></div><br/>
<input type="button" class="ilc_qsubmit_Submit" id="button{VAL_ID}"  {VAL_NO_DISPLAY} onclick="ilias.questions.checkAnswers({VAL_ID})" value="{TXT_SUBMIT_ANSWERS}" />
</div>
<script>
	function renderILQuestion{VAL_ID}()
	{
		jQuery('div#container{VAL_ID}').autoRender(questions[{VAL_ID}]);
	}
	renderILQuestion{VAL_ID}();
</script>
<!-- END textsubset -->
<!-- BEGIN orderinghorizontal -->
<div id="container{VAL_ID}" class="ilc_question_OrderingQuestion">
<div class="ilc_qtitle_Title question id@id">qtitle</div>
<div style="margin-bottom:10px">
<ul id="order{VAL_ID}" class="ilc_qordul_OrderListHorizontal">
	<li class="answers ilc_qordli_OrderListItemHorizontal order@id"><div class="ilc_qanswer_Answer answertext"></div></li>
</ul>
<div style="clear:both;"></div>
</div>
<div id="feedback{VAL_ID}" style="display:none"></div>
<input type="button" class="ilc_qsubmit_Submit" id="button{VAL_ID}" {VAL_NO_DISPLAY} onclick="ilias.questions.checkAnswers({VAL_ID})" value="{TXT_SUBMIT_ANSWERS}" />
</div>
<script>
	function renderILQuestion{VAL_ID}()
	{		
		ilias.questions.shuffle(questions[{VAL_ID}]);
		jQuery('div#container{VAL_ID}').autoRender(questions[{VAL_ID}]);
		jQuery("#order{VAL_ID}").sortable({axis: 'x', containment: '#container{VAL_ID}'});
		jQuery("#order{VAL_ID}").css('font-size', questions[{VAL_ID}].textsize+'%');		
	}
	renderILQuestion{VAL_ID}();
</script>
<!-- END orderinghorizontal -->
<!-- BEGIN errortext -->
<div id="container{VAL_ID}" class="ilc_question_ErrorText">
	<div class="ilc_qtitle_Title question id@id">qtitle</div>
	<div>
	<span class="answers">
		<span class="order@id"><a href="#" class="answertext ilc_qetitem_ErrorTextItem" onclick="ilias.questions.selectErrorText({VAL_ID}, this); return false;"></a></span>
	</span>
	</div>
<div id="feedback{VAL_ID}" style="display:none"></div><br/>
<input type="button" class="ilc_qsubmit_Submit" id="button{VAL_ID}"  {VAL_NO_DISPLAY} onclick="ilias.questions.checkAnswers({VAL_ID})" value="{TXT_SUBMIT_ANSWERS}" />
</div>
<script>
	function renderILQuestion{VAL_ID}()
	{
		jQuery('div#container{VAL_ID}').autoRender(questions[{VAL_ID}]);
		jQuery('div#container{VAL_ID} a.answertext').each(function(key, value) {
			if(jQuery(value).html() == "###")
			{
				jQuery(value).parent().after("<br />");
				jQuery(value).parent().remove();

			}
		});
	}
	renderILQuestion{VAL_ID}();
</script>
<!-- END errortext -->
{FORM_END}