<!-- BEGIN head --><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<!-- BEGIN css_file -->
	<link rel="stylesheet" type="text/css" href="{CSS_FILE}" media="{CSS_MEDIA}" />
	<!-- END css_file -->
	<!-- BEGIN js_file -->
	<script type="text/javascript" src="{JS_FILE}"></script>
	<!-- END js_file -->
	<!-- BEGIN init --><script type="text/javascript">
		il.Util.addOnLoad(function () {init(0);
			{TXT_INIT_CODE}
			il.COPagePres.updateQuestionOverviews();
			});
	</script><!-- END init -->
	<script src="./js/accordion.js" type="text/javascript" language="JavaScript1.2"></script>
	<title>{SCO_TITLE}</title>
</head><!-- END head -->
<!-- BEGIN finish --><body class="yui-skin-sam" onunload="finish();"><!-- END finish -->
<!-- BEGIN ilLMNavigation -->
<div class="ilc_page_tnav_TopNavigation">
<div class="ilc_page_lnav_LeftNavigation">
<a class="ilc_page_lnavlink_LeftNavigationLink">
<img class="ilc_page_lnavimage_LeftNavigationImage" border="0" src="{SRC_SPACER}" alt="" title="" />&nbsp;{TXT_PREVIOUS}</a>
</div>
<div class="ilc_page_rnav_RightNavigation">
<a class="ilc_page_rnavlink_RightNavigationLink">{TXT_NEXT}&nbsp;<img class="ilc_page_rnavimage_RightNavigationImage" border="0" src="{SRC_SPACER}" alt="" title="" /></a>
</div>
<div style="clear:both;"></div>
</div>
<!-- END ilLMNavigation -->
<!-- BEGIN meta_page -->
<div class="ilc_page_cont_PageContainer">
<div class="ilc_page_Page">
<!-- BEGIN title -->
<div class="ilc_sco_title_Title">{SCO_TITLE}</div>
<!-- END title --><!-- BEGIN pdf_title -->
<h1>{SCO_TITLE}</h1>
<!-- END pdf_title --><!-- BEGIN sco_desc -->
<div class="ilc_sco_desct_DescriptionTop">{TXT_DESC}</div>
<div class="ilc_sco_desc_Description">{VAL_DESC}</div>
<!-- END sco_desc --><!-- BEGIN sco_objs -->
<div class="ilc_sco_objt_ObjectiveTop">{TXT_OBJECTIVES}</div>
<!-- BEGIN sco_obj --><div class="ilc_sco_obj_Objective">{VAL_OBJECTIVE}</div><!-- END sco_obj -->
<!-- END sco_objs -->
</div>
</div>
<!-- BEGIN pdf_break --><!-- PAGE BREAK --><!-- END pdf_break -->
<!-- END meta_page -->
<!-- BEGIN page -->
<div {PAGE_ID_ATTR} class="ilc_page_cont_PageContainer">
<div class="ilc_page_Page">{PAGE}</div></div>
<!-- BEGIN pdf_pg_break --><!-- PAGE BREAK --><!-- END pdf_pg_break -->
<!-- END page --><!-- BEGIN page_preview -->{PAGE_PRV}<!-- END page_preview -->
{GLOSSARY_HTML}
<!-- BEGIN ilLMNavigation2 -->
<div class="ilc_page_bnav_BottomNavigation">
<div class="ilc_page_lnav_LeftNavigation">
<a class="ilc_page_lnavlink_LeftNavigationLink">
<img class="ilc_page_lnavimage_LeftNavigationImage" border="0" src="{SRC_SPACER}" alt="" title="" />&nbsp;{TXT_PREVIOUS}</a>
</div>
<div class="ilc_page_rnav_RightNavigation">
<a class="ilc_page_rnavlink_RightNavigationLink">{TXT_NEXT}&nbsp;<img class="ilc_page_rnavimage_RightNavigationImage" border="0" src="{SRC_SPACER}" alt="" title="" /></a>
</div>
<div style="clear:both;"></div>
</div>
<!-- END ilLMNavigation2 -->
<!-- BEGIN tail --></body></html><!-- END tail -->