/* Services/Calendar */

td.even {
	color: @il-text-color;
	background-color: @il-main-dark-bg;
	padding: 3px;
}

td.uneven {
	color: @il-text-color;
	background-color: @il-content-bg;
	padding: 3px;
}

td.today {
	background-color: @il-content-bg;
}


td.date {
	background-color: @il-main-dark-bg;
}

td.prevMonth {
	background-color: @il-main-dark-bg;
}

div#block_cal_sel_0 div.ilBlockContent {
	padding: 0;
}

div.ilCalSelAct {
	font-size: 90%;
	padding: 2px 2px 3px 0;
}

div.ilCalSelSelAll {
	font-size: 80%;
	padding: 3px 2px 2px 0;
}

div.ilCalSelList {
	max-height: 300px;
	overflow: auto;
}

.ilCalSelList img {
	width: 20px;
	height: 20px;
}

ul.ilCalSel {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.ilCalSel li {
	margin: 0;
	/* padding: 0 0 0 48px; */
	margin: 0;
	border-bottom: 1px solid @il-content-bg;
	/* min-height: 25px; */
}

ul.ilCalSel li > div {
	display:table-row;
}

ul.ilCalSel li > div > div {
	display:table-cell;
	padding: 2px;
}

ul.ilCalSel li > div > div.ilCalColSpan {
	border-left: 5px solid;
	padding: 2px 5px;
}

ul.ilCalSel li img {
}

div.ilCalSelList h6 {
	padding-left: 5px;
	font-size: @font-size-small;
	margin-top: 16px;
	margin-bottom: 8px;
}

div.ilCalSelTitle {
	padding: 5px 3px 3px;
	font-size: 90%;
}

table.calmini {
	width: 100%;
	font-size: 90%;
	//border-spacing: 2px;
	//border-collapse: separate;
	border-collapse: collapse;
	background-color: @il-main-dark-bg;
	border: none;
	tr, td, th {
		border: none;
		padding: 5px 3px;
		@media only screen and (max-width: 991px) {padding: 5px 1px;}
		text-align: center;
		vertical-align: middle;
		color: @il-text-color;
		background-color: transparent;
	}
	tr:nth-child(odd) {
		background-color: @il-main-dark-bg;
	}
	tr:nth-child(even) {
		background-color: @il-main-bg;
	}
	th.calmini, th.calminiweek {
		font-weight: 600;
		font-size: 90%;
	}
	td.calministd > .il_calmini_monthday > a {
	}
	td.calminitoday {
		background-color: @brand-warning;
		> .il_calmini_monthday > a {
			color: white;
		}
	}
	td.calminiprev > .il_calmini_monthday > a,
	td.calmininext > .il_calmini_monthday > a {
		color: @il-text-color;
		display:none;
	}
	a {
        display: block;
        width: 100%;
    }
}

a.callink:link, a.callink:visited {
	color: inherit;
	cursor: pointer;
}
a.callink:hover {
}
.il_calevent > .btn.btn-link {
	color:inherit;
	vertical-align: inherit;
}
.cal_modal_infoscreen .il_InfoScreenPropertyValue .btn-link {
	text-align:left;
	vertical-align: top;
	font-size: 90%;
}

//** Moved from Services/Calendar/templates/calendar.css
table.calstd {
	margin-top: @padding-large-vertical;
	color: @il-text-color;
	width:100%;
	border: none;
	font-size: 100%;
}

.calheader {
	color: @il-text-color;
	font-weight: normal;
	background-color: @il-main-dark-bg;
}


th.calstd {
	text-align: center;
	background-color: @il-main-dark-bg;
	font-weight: normal;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:@table-border-color;
}

.calheadertime {
	background-color: @il-main-dark-bg;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:@table-border-color;
	line-break: auto;
	vertical-align: top;
}

td.calheadertime {
	width: 6em;
	text-align: center;
	background-color: @il-content-bg;
	font-size: 90%;
	padding: 3px;
}

tr.calstdtime:first-of-type td{
	background-color: black;
}
.calstdtime td {
	border-spacing: 0px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: @table-border-color;
}

td.calempty,  th.calempty{
	background-color:white;
}

td.calempty_border {
	background-color:white;
	border-spacing:0px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:@table-border-color;
}

tr.calstd{
	/*background-color: inherit;*/
	background-color:white;
	height: 6em;
}

table.il-cal-day tr.calstd + tr.calstdtime td.calempty,
table.il-cal-week  tr.calstd + tr.calstdtime td.calempty{
	background-color: @il-main-bg;
}

table.il-cal-day tr.calstd , table.il-cal-week tr.calstd {
	border-collapse:collapse;
	border-color:@table-border-color;

	border-bottom-width:2px;
	border-bottom-style:solid;

	border-top-width:2px;
	border-top-style:solid;
}

table.il-cal-week {
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
}

table.il-cal-week td.calevent {
	overflow: hidden;
}

tr.calstdtime {
	height: 1.2em;
	background-color: inherit;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:@table-border-color;
}


td.calstd {
	vertical-align: top;
	background-color: @il-main-bg;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:@table-border-color;
	padding: 2px 0px;
}

td.caltoday {
	vertical-align: top;
	background-color:#FFE79C;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:@table-border-color;
}


td.calnow {
	vertical-align: top;
	background-color:#FFF0C4;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:@table-border-color;
}

td.calnext {
	vertical-align: top;
	background-color: @il-main-dark-bg;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:@table-border-color;
}

td.calprev {
	vertical-align: top;
	background-color: @il-main-dark-bg;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:@table-border-color;
}

p.il_calevent {
	color:white;
	margin: 2px 0 0 0;
	padding: 2px;
	border-spacing: 0px;
	font-size: 90%;

	.btn-link{
		margin:0 auto;
		width: 100%;
		text-align: center;
	}
}

td.calevent {
	//color:white;
	vertical-align: top;
	/*padding: 3px;*/
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style: solid;
	border-color: @table-border-color;
	font-size:90%;
	/*background-color:white;*/
}

div.calevent {
	font-size:90%;
	padding: 3px;
	margin: 3px;
}

div.calfullcontent {
	padding:4px;
	height:100%;
}

p.il_cal_monthday {
	padding: 2px;
	margin: 0px;
	font-weight: normal;
}

p.il_cal_navigation {
	padding: 0px 3px 0px 0px;
	margin: 0px;
}


table.calmini
{
	width:100%;

}

.calminiheader {
	color:@il-text-color;
	background-color: @il-main-dark-bg;
}

th.calmini {
	text-align: center;
	font-size:90%;
	font-weight:normal;
	background-color: @il-main-bg;
}

tr.calmini {
}

a.calminiapp {
	font-weight: bold;
}

p.il_calmini_monthday, div.il_calmini_monthday {
	margin: 1px;
	text-align:center;
}

td.calministd {
	vertical-align: top;
	border-collapse:collapse;
	background-color:@il-main-bg;
	border-spacing:0px;
	border-width:1px;
	border-style:solid;
	border-color:@table-border-color;
	font-size:90%;
	text-align:center;
	vertical-align:middle;
}

td.calminitoday {
	vertical-align: top;
	background-color:#FFE79C;
	border-width:1px;
	border-style:solid;
	border-color:@table-border-color;
	font-size:90%;
	text-align:center;
	vertical-align:middle;
}

td.calmininow {
	vertical-align: top;
	background-color:#FFF0C4;
	border-width:1px;
	border-style:solid;
	border-color:@table-border-color;
	font-size:90%;
	text-align:center;
	vertical-align:middle;
}

td.calmininext {
	vertical-align: top;
	background-color: @il-main-dark-bg;
	border-width:1px;
	border-style:solid;
	border-color:@table-border-color;
	font-size:90%;
	text-align:center;
	vertical-align:middle;
}

td.calminiprev {
	vertical-align: top;
	background-color: @il-main-dark-bg;
	border-width:1px;
	border-style:solid;
	border-color:@table-border-color;
	font-size:90%;
	text-align:center;
	vertical-align:middle;
}

td.calminiweek, th.calminiweek {
	vertical-align: top;
	background-color: @il-main-bg;
	font-size:60%;
	text-align:center;
	vertical-align:middle;
}

span.calminiinactive {
	color: #CCCCCC;
}
.calnewapplink {
	float: right;
	visibility:hidden;
}

span.ilIcalIcon .btn {
	text-align: initial;
	margin-top: @il-padding-large-vertical;
}