// File Input Style
// @author Thibeau Fuhrer <thibeau@sr.solutions>

.ui-input-file-input-dropzone {
	border: @il-dropzone-border-width @il-dropzone-border-style @il-dropzone-border-color;
	padding: @il-padding-base-vertical @il-padding-base-horizontal;
}

.ui-input-file-input-dropzone button {
	font-size: @il-font-size-base;
	margin-left: @il-margin-base;
}

.ui-input-file-input-error-msg {
	font-size: @il-font-size-base;
	color: @il-danger-color;
}

.ui-input-file-input-dropzone button:disabled,
.ui-input-file-input-dropzone button:disabled:hover {
	color: @il-disabled-btn-bg;
	border: none;
	background: none;
}

.ui-input-file-input {
	border: @il-dropzone-border-width @il-dropzone-border-style @il-dropzone-border-color;
	margin-bottom: @il-margin-large-vertical;
	padding: @il-padding-base;
}

.ui-input-file-input .glyph[aria-label="Close"],
.ui-input-file-input .glyph[aria-label="Close Disabled"] {
	margin-right: @il-margin-base;
	float: right;
}

.ui-input-file-input .glyph[aria-label="Expand Content"],
.ui-input-file-input .glyph[aria-label="Collapse Content"] {
	margin: @il-margin-base 0;
}

.ui-input-file-info span[data-dz-name],
.ui-input-file-info span[data-dz-size] {
	font-size: @il-font-size-base;
	margin-left: @il-margin-base;
}

.ui-input-file-info span[data-dz-size] {
	font-style: italic;
}