// File Input Style
// @author Fabian Schmid <fs@studer-raimann.ch>

.file-input-standard-padding() {
	padding: @padding-large-vertical @padding-large-horizontal;
}

.il-file-input {
	.il-file-input-preview {
		margin-bottom: 10px;
	}

	.il-file-input-dropzone {
		background: @il-dropzone-bg;
		border: @il-dropzone-border-width @il-dropzone-border-style @il-dropzone-border-color;
		-moz-border-radius: @il-dropzone-border-radius;
		-webkit-border-radius: @il-dropzone-border-radius;
		border-radius: @il-dropzone-border-radius;
		margin-bottom: @padding-large-vertical;
		.file-input-standard-padding();

		&.dz-max-files-reached {
			background-color: @il-dropzone-bg-inactive;
			border-color: @il-dropzone-bg-inactive;

			button.btn {
				background-color: @il-dropzone-bg-inactive;
				border-color: @il-dropzone-bg-inactive;
				color: darken(@il-dropzone-bg-inactive, 50);
			}
		}

		&.darkened-highlight {
			z-index:               1100;
			position:              relative;
			border:                @il-dropzone-border-width @il-dropzone-border-style @il-dropzone-border-color;
			-moz-border-radius:    @il-dropzone-border-radius;
			-webkit-border-radius: @il-dropzone-border-radius;
			border-radius:         @il-dropzone-border-radius;
			background:            @il-dropzone-highlight-bg;
		}

		&.default-highlight {
			border:                @il-dropzone-border-width @il-dropzone-border-style @il-dropzone-border-color;
			-moz-border-radius:    @il-dropzone-border-radius;
			-webkit-border-radius: @il-dropzone-border-radius;
			border-radius:         @il-dropzone-border-radius;
			background:            @il-dropzone-highlight-bg;
		}

		&.drag-hover {
			border:                @il-dropzone-border-width @il-dropzone-border-style @il-dropzone-border-color-hover;
			-moz-border-radius:    @il-dropzone-border-radius;
			-webkit-border-radius: @il-dropzone-border-radius;
			border-radius:         @il-dropzone-border-radius;
			background-color:      @il-dropzone-hover-bg;
		}
	}


	.il-file-input-fileinfo, .il-file-input-error {
		.file-input-standard-padding();
	}

	.il-file-input-fileinfo {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-align-content: flex-start;
		-ms-flex-line-pack: start;
		align-content: flex-start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;

		.il-file-input-fileinfo-title {
			-webkit-order: 1;
			-ms-flex-order: 1;
			order: 1;
			-webkit-flex: 3 0 auto;
			-ms-flex: 3 0 auto;
			flex: 3 0 auto;
			-webkit-align-self: flex-start;
			-ms-flex-item-align: start;
			align-self: flex-start;

			span {

				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

			}
		}

		.il-file-input-fileinfo-size {
			-webkit-order: 2;
			-ms-flex-order: 2;
			order: 2;
			-webkit-flex: 0 0 50px;
			-ms-flex: 0 0 50px;
			flex: 0 0 50px;
			-webkit-align-self: flex-start;
			-ms-flex-item-align: start;
			align-self: flex-start;
		}

		.il-file-input-fileinfo-close {
			-webkit-order: 3;
			-ms-flex-order: 3;
			order: 3;
			-webkit-flex: 0 1 20px;
			-ms-flex: 0 1 20px;
			flex: 0 1 20px;
			-webkit-align-self: auto;
			-ms-flex-item-align: auto;
			align-self: auto;
		}
	}
}