.il-standard-form{
  background-color: @il-standard-form-bg;
  margin-top: @padding-large-vertical;


  .il-standard-form-cmd {
    float: right;
    .btn {
      display: inline-block;
      min-width: @il-button-min-width-forms;
      vertical-align: top;

      @media (max-width: @grid-float-breakpoint-max){
        min-width: 0;
      }
    }

  }
  .il-standard-form-header, .il-standard-form-footer, .il-section-input-header{
    background-color: @il-standard-form-header-bg;
    color: @il-standard-form-header-color;
  }

  .il-standard-form-header h3, .il-section-input-header h3{
    font-size: @il-standard-form-header-font-size;
    text-transform: uppercase;
    padding-top: @padding-large-vertical;
    margin-bottom: @padding-small-vertical;

  }

  .il-standar-form-header-byline, .il-section-input-header-byline{
    font-size: @il-standard-form-header-byline-font-size;
  }

  //Move the first section header up, to be displayed next to the forms top button
  .il-standard-form-header + .il-section-input{
    margin-top: -(@il-button-font-size*@line-height-base+@padding-base-vertical*2+2);
    padding: 0;

    .il-section-input-header h3{
      margin-top: 0;
      padding-top: 0;
    }
  }

  .il-dependant-group{
    background-color: @il-standard-form-dependant-group-bg;
    padding: @padding-small-vertical 0;
    .form-group {
      margin: 0;
    }
  }

  input[type="radio"], input[type="checkbox"] {
    height: unset;
    width: unset;
  }

  .il-filter-bar {
    font-size: 1.4em;
    padding: @padding-small-vertical @padding-large-horizontal;

    .il-toggle-button {
      height: 13px;
      border-radius: 13px;
      padding-left: 15px;
      padding-right: 15px;

      .il-toggle-switch {
        border-radius: 19px;
        width: 19px;
        height: 19px;
      }
    }

    .btn-bulky {
      display: inline-flex;
      width: auto;
      background-color: initial;
      font-size: 0.7em;
      border-width: 0;
      &.disabled .bulky-label{
        color: #b0b0b0;
      }
    }
    .glyph {
      padding-right: 0.3em;
    }
  }

  .il-filter-bar-controls {
    float: right;
    .il-toggle-button {
      vertical-align: middle;
    }
  }

  .il-filter-inputs-active {
    background-color: @il-secondary-container-bg;
    padding: @padding-small-vertical @padding-large-horizontal;

    span {
      display: inline-block;
      margin: 1px 4px;
      float: left;
      background-color: @il-primary-container-bg;
    }
  }

  .col-md-4 {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  //Strange fix, check later if we really need this
  .glyphicon-ok {
    font-size: unset;
    text-align: unset;
  }

  input {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .input-group {
    width: 100%;
    height: 25px;
    table-layout: fixed;
    .glyphicon-plus-sign {
      //font-size: 1.2em;
    }
  }

  #leftaddon {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 30%;
  }

  #rightaddon {
    overflow: visible;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 10%;
  }

  .il-filter-field {
    cursor: text;
  }

  @media (max-width: @screen-sm){
    .il-filter-bar-controls .bulky-label {
      display: none;
    }
  }
}

.il-filter.disabled {
  .input-group-addon {
    background-color: @il-primary-container-bg;
    color: #b0b0b0;
  }
  .input-group span.form-control {
    color: #b0b0b0;
  }
}

@media (max-width: @screen-sm) {
  .il-filter {
    .webui-popover {
      position: static;
      max-width: none;

    }

    .webui-popover.bottom > .webui-arrow, .webui-popover.bottom-right > .webui-arrow, .webui-popover.bottom-left > .webui-arrow {
      display: none;
    }
    .webui-popover.bottom, .webui-popover.bottom-left, .webui-popover.bottom-right {
      padding: 4px;
      margin-top: 0;
      border: 0;
      box-shadow: none;
      background-color: @il-secondary-container-bg;
    }
  }
}


    //== Specific Inputs
    //
    //
    @import "tag.less";
    @import "password.less";
    @import "radio.less";
    @import "multiselect.less";

