.il-standard-form{
  background-color: @il-standard-form-bg;
  margin-top: @padding-large-vertical;


  .il-standard-form-cmd {
    float: right;
    .btn {
      display: inline-block;
      min-width: @il-button-min-width-forms;
      vertical-align: top;

      @media (max-width: @grid-float-breakpoint-max){
        min-width: 0;
      }
    }

  }
  .il-standard-form-header, .il-standard-form-footer, .il-section-input-header{
    background-color: @il-standard-form-header-bg;
    color: @il-standard-form-header-color;
  }

  .il-standard-form-header h3, .il-section-input-header h3{
    font-size: @il-standard-form-header-font-size;
    text-transform: uppercase;
    padding-top: @padding-large-vertical;
    margin-bottom: @padding-small-vertical;

  }

  .il-standar-form-header-byline, .il-section-input-header-byline{
    font-size: @il-standard-form-header-byline-font-size;
  }

  //Move the first section header up, to be displayed next to the forms top button
  .il-standard-form-header + .il-section-input{
    margin-top: -(@il-button-font-size*@line-height-base+@padding-base-vertical*2+2);
    padding: 0;

    .il-section-input-header h3{
      margin-top: 0;
      padding-top: 0;
    }
  }

  .il-dependant-group{
    background-color: @il-standard-form-dependant-group-bg;
    padding: @padding-small-vertical 0;
    .form-group {
      margin: 0;
    }
  }

  //This is a strange necessary fix.
  input[type="radio"], input[type="checkbox"] {
    margin: 0;
  }

  .il-filter-bar {
    font-size: 1.4em;
    padding: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid black;
    .btn-bulky {
      display: inline-flex;
      width: auto;
      background-color: initial;
      font-size: 0.9em;
    }
    .glyph {
      padding-right: 0.3em;
    }
  }

  .il-filter-bar-controls {
    float: right;
    .il-toggle-button {
      vertical-align: middle;
    }
  }

  .il-filter-inputs-active {
    //overflow: hidden;
    //white-space: nowrap;
    //text-overflow: ellipsis;
    //max-width: 100%;
  }

  .col-md-4 {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  //Strange fix, check later if we really need this
  .glyphicon-ok {
    font-size: unset;
    text-align: unset;
  }

  input {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .input-group {
    width: 100%;
    height: 25px;
    table-layout: fixed;
    .glyphicon-plus-sign {
      //font-size: 1.2em;
    }
  }

  #leftaddon {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 30%;
  }

  #rightaddon {
    overflow: visible;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 10%;
  }

  .il-filter-field {
    cursor: text;
  }

  @media (max-width: @screen-sm){
    .il-filter-bar-controls .bulky-label {
      display: none;
    }
  }

}
