.il-input-password {
  .revelation-glyph {
    float: right;
    margin-top: -21px;
    margin-right: 5px;
  }

  .revelation-reveal {
    display: block;
  }
  .revelation-mask {
    display: none;
  }

  .revealed& {
    .revelation-reveal {
      display: none;
    }
    .revelation-mask {
      display: block;
    }
  }
}