.il-input-tag {
	--tags-focus-border-color: @brand-primary;
	--tag-bg: @brand-primary;
	--tag-hover: @brand-primary;
	--tag-text-color: #f3fafb;
	--tag-invalid-color: @brand-primary;
	--tag-invalid-bg: @brand-primary;
	--tag-remove-bg: @brand-primary;
	--tag-remove-btn-color: #f3fafb;
	--tag-remove-btn-bg--hover: @brand-primary;
	--tag-hide-transition: .0s;
	line-height: @line-height-base;
}

.il-input-tag-container {
  height:     auto;
  min-height: @line-height-base;

	.il-input-tag {
		border:      none;
		box-shadow:  none;
		outline:     none;
		padding:     0 0px @padding-base-vertical + 1;
		line-height: @line-height-base;
		font-weight: 700 !important;
		margin-bottom: (@padding-base-vertical * 2.2);
	}

	.il-input-tag .tagify__tag {
		margin-top: 0;
	}
}

.il-input-tag-container.disabled {
	background-color: @il-input-tag-color-disabled;
	cursor: not-allowed;

	.tagify__tag {
		cursor: not-allowed;
	}
}
