.il-input-tag {
  height:     auto;
  min-height: @line-height-base;
  input {
	border:      none;
	box-shadow:  none;
	outline:     none;
	padding:     0 6px @padding-base-vertical + 1;
	line-height: @line-height-base;
  }
  .tag {
	font-size:     100%;
	display:       inline-block;
	margin-bottom: @padding-base-vertical;
	[data-role="remove"] {
	  margin-left: 8px;
	  cursor:      pointer;
	}
	[data-role="remove"]:after {
	  content: "x";
	  padding: 0px 2px;
	}
  }
  .bootstrap-tagsinput {
	margin-bottom: (@padding-base-vertical * -1);
  }
}