<div class="form-group row">
	<label for="{NAME}" class="control-label col-sm-3">{LABEL}</label>
	<div class="col-sm-9">
		<input type="text"<!-- BEGIN value --> value="{VALUE}"<!-- END value --> name="{NAME}" class="form-control form-control-sm" />
		<!-- BEGIN byline --><div class="help-block">{BYLINE}</div><!-- END byline -->
		<!-- BEGIN error --><div class="help-block alert alert-danger" role="alert">
			<img border="0" src="./templates/default/images/icon_alert.svg" alt="alert">
			{ERROR}
		</div><!-- END error -->
	</div>
</div>
