<div class="dropdown il-viewcontrol il-viewcontrol-fieldselection l-bar__element" id="{ID}">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"<!-- BEGIN aria_label --> aria-label="{ARIA_LABEL}"<!-- END aria_label --> aria-haspopup="true" aria-expanded="false" aria-controls="{ID_MENU}"><span class="caret"></span></button>
    
    <ul id="{ID_MENU}" class="dropdown-menu">
        <!-- BEGIN option -->
        <li><input type="checkbox" value="{OPTION_VALUE}" {CHECKED} /> <span>{OPTION_LABEL}</span> </li>
        <!-- END option -->
        {BUTTON}
    </ul>

    <div class="il-viewcontrol-value">
        <input  type="hidden" name="{NAME}" value="{VALUE}" />
    </div>

</div>