<div id="{ID}" class="ui-input-file">
    <div class="ui-input-file-input-list ui-input-dynamic-inputs-list">
        <!-- BEGIN block_file_preview -->
        <div class="ui-input-file-input ui-input-dynamic-input">
            <div class="ui-input-file-info">
                {EXPAND_GLYPH}
                {COLLAPSE_GLYPH}
                <span data-dz-name>{FILE_NAME}</span>
                <span data-dz-size>{FILE_SIZE}</span>
                {REMOVAL_GLYPH}
                <span class="ui-input-file-input-error-msg" data-dz-error-msg></span>
            </div>

            <div class="ui-input-file-metadata" style="display: none;">
                {METADATA_INPUTS}
            </div>
        </div>
        <!-- END block_file_preview -->
    </div>

    <!-- BEGIN block_file_dropzone -->
    <div class="ui-input-file-input-dropzone">
        {ACTION_BUTTON}
        <span class="ui-input-file-input-error-msg" data-dz-error-msg></span>
    </div>
    <!-- END block_file_dropzone -->
</div>