<form role="form" class="il-standard-form form-horizontal" enctype="multipart/form-data" <!-- BEGIN action --> action="{URL}"<!-- END action --> method="post" novalidate="novalidate">
	<div class="il-standard-form-header clearfix">
		<div class="il-standard-form-cmd">{BUTTONS_TOP}</div>
	</div>
	<!-- BEGIN error -->
	<div class="help-block alert alert-danger" role="alert">
		{ERROR}
	</div>
	<!-- END error -->
	{INPUTS}
	<div class="il-standard-form-footer clearfix">
		<div class="il-standard-form-cmd">{BUTTONS_BOTTOM}</div>
	</div>
</form>
