<div class="form-group row">
	<label for="{NAME}" class="control-label col-sm-3">{LABEL}<!-- BEGIN required --><span class="asterisk">*</span><!-- END required --></label>
	<div class="col-sm-9">
		{INPUT}
		<!-- BEGIN byline --><div class="help-block">{BYLINE}</div><!-- END byline -->
		<!-- BEGIN error --><div class="help-block alert alert-danger" role="alert">
			<img border="0" src="./templates/default/images/icon_alert.svg" alt="alert" />
			{ERROR}
		</div><!-- END error -->{DEPENDANT_GROUP}
	</div>
</div>
