<div class="c-input-markdown">
    <div class="c-input-markdown__controls">
        {VIEW_CONTROLS}
        <div class="c-input-markdown__actions">
            <span data-action="insert-heading">{ACTION_HEADING}</span>
            <span data-action="insert-link">{ACTION_LINK}</span>
            <span data-action="insert-bold">{ACTION_BOLD}</span>
            <span data-action="insert-italic">{ACTION_ITALIC}</span>
            <span data-action="insert-bullet-points">{ACTION_UNORDERED_LIST}</span>
            <span data-action="insert-enumeration">{ACTION_ORDERED_LIST}</span>
        </div>
    </div>
    {TEXTAREA}
    <div class="c-input-markdown__preview hidden">{PREVIEW}</div>
</div>
