<h3 class="ilHeader">{SKILL_TITLE}</h3><div class="ilSkillActions">{ACTIONS1}</div>
<div class="ilSkill">
<div style="clear:both;"></div>
<!-- BEGIN skill -->
<h4>{BSKILL_TITLE}</h4><div class="ilSkillActions">{ACTIONS2}</div>
<table class="ilSkill">
	<tr>
		<th class="ilSkill ilSkillEntryHead">{TXT_LEVEL}
		</th>
		<!-- BEGIN level_td -->
		<td class="ilSkill ilSkillLevel" id="{TT_ID}">
			<span>{VAL_LEVEL}</span>
		</td>
		<!-- END level_td -->
	</tr>
	<!-- BEGIN value_row -->
	<tr>
		<th class="ilSkill">{TXT_VAL_TITLE}
		</th>
		<!-- BEGIN val_level_td -->
		<td class="ilSkill {TD_CLASS}" id="{TT_ID}">
			<span>{VAL_LEVEL}</span>
			<!-- BEGIN level_link -->
			<a id="{LEVEL_LINK_ID}" href="{HREF_LINK}">{TXT_LINK}</a>
			<!-- END level_link -->
		</td>
		<!-- END val_level_td -->
	</tr>
	<!-- END value_row -->
</table>
<!-- BEGIN resources -->
<div class="ilSkillSuggRes">
    <p class="light">{SUGGESTED_MAT_MESS}</p>
    <!-- BEGIN resources_list -->
    <!-- BEGIN resources_list_level --><p class="light small">{TXT_LEVEL}: {LEVEL_NAME}</p><!-- END resources_list_level -->
    <ul class="small">
    <!-- BEGIN resource_item --><li><a href="{HREF_RES}">{TXT_RES}</a></li><!-- END resource_item -->
    </ul>
    <!-- END resources_list -->
</div>
<!-- END resources -->
<!-- END skill -->
</div>
