/* common css for characteristic value listing */
.il-listing-characteristic-value-row {
  .clearfix; /* i tried .ilClearFloat, did not work as expected */
  border-top: solid @characteristic-value-border-color 1px;
  padding: 15px 0;
}
.il-listing-characteristic-value-row:first-child {
  border-top: none;
}
.il-listing-characteristic-value-label {
  .ilFloatLeft;
  width: 50%;
  right: 50%;
  @media (max-width: @grid-float-breakpoint-max) {
	width: 75%;
	right: 75%;
  }
}
.il-listing-characteristic-value-item {
  .ilFloatRight;
  padding-left: 15px;
  width: 50%;
  left: 50%;
  @media (max-width: @grid-float-breakpoint-max) {
	width: 25%;
	left: 25%;
  }
}
/* when characteristic value listing is used in the card */
.il-card .il-listing-characteristic-value-row {
  border-top: none;
  padding: 5px;
}
.il-card .il-listing-characteristic-value-label {
  padding-left: 5px;
  width: 75%;
  right: 75%;
}
.il-card .il-listing-characteristic-value-item {
  .ilRight;
  width: 25%;
  left: 25%;
}