.il-workflow-header {
	margin-bottom:  @padding-base-horizontal;
	height: @il-top-bar-height;
}
.il-workflow-container {
	list-style: none;
	padding: 0;
	.il-workflow-step {
		&:before {
			background-color: @workflow-icon-font-color;
			border: @workflow-icon-size*0.05 solid @brand-primary;
			border-radius: 50%;
			color: @workflow-icon-font-color;
			content: "";
			font-family: Glyphicons Halflings;
			font-size: @workflow-icon-size*0.5;
			height: @workflow-icon-size;
			line-height: @workflow-icon-size*0.9;
			margin-left: @workflow-icon-size/4;
			padding-left: @workflow-icon-size*0.05;
			position: absolute;
			text-align: center;
			width: @workflow-icon-size;
		}
		&:last-child .text {
			border-left: none;
		}

		.text .il-workflow-step-label .btn-link,
		.text .il-workflow-step-description {
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.text .il-workflow-step-description {
			display: block;
		}
	}
	//available, not-available, no-longer
	.not-available,
	.no-longer-available {
		&:before {
			content: "\e033";
			color: @workflow-unavailable-text-color;
			background-color: @panel-footer-bg;
			border: none;
		}
		&.in-progress {
			&:before {
				background-color: lighten(@brand-primary, 30%);
				color: @workflow-icon-font-color;
			}
			.text span {
				color: @mid-gray;
				opacity: .5;
			}
		}
		.text {
			color: @workflow-unavailable-text-color;
		}
	}
	.no-longer-available {
		&:before {
			content: "\e023";
		}
	}
	//successfully,unsuccessfully
	.completed-successfully,
	.completed-unsuccessfully {
		&:before {
			background-color: @workflow-unavailable-text-color;
			color: @workflow-icon-font-color;
		}
	}
	.completed-successfully {
		&:before {
			content: "\e013";
		}
	}
	.completed-unsuccessfully {
		&:before {
			content: "\e014";
		}
	}
	.available.completed-successfully,
	.available.completed-unsuccessfully,
	.in-progress {
		&:before {
			background-color: @brand-primary;
		}
	}
	//active
	.active {
		&:before {
			margin: 0;
			width: @workflow-icon-size*1.5;
			height: @workflow-icon-size*1.5;
			font-size: @workflow-icon-size*0.75;
		}
		&.completed-successfully:before,
		&.completed-unsuccessfully:before {
	    	line-height: @workflow-icon-size*1.5;
			background-color: @brand-primary;
		}
		.text {
			padding-left: @workflow-icon-size*1.5;
			.il-workflow-step-label,
			.il-workflow-step-label .btn.btn-link {
				color: @brand-primary;
				font-size: @workflow-icon-size*0.9;
				font-weight: 600;
			}
		}
	}
	//text
	.text {
		border-left: 1px dashed @mid-gray;
		font-size: @workflow-icon-size*0.7;
		margin-left: @workflow-icon-size*0.75;
		padding: 0 0 @workflow-icon-size*1.5 @workflow-icon-size;
		.il-workflow-step-label {
			display: block;
		}
	}
	.available .il-workflow-step-label,
	.available .il-workflow-step-label .btn.btn-link {
		color: @workflow-available-text-color;
		font-size: @workflow-icon-size*0.7;
		font-weight: 600;
	}
}
