.il-viewcontrol-section {
  overflow:hidden;
  height:26px;
}
.il-viewcontrol-section .glyph {
  height:30px;
}
.il-viewcontrol-section .btn-default{
  height:30px;
}
.il-viewcontrol-section .glyphicon:before {
  background-color: @il-btn-standard-bg;
  border: @il-btn-standard-border;
  padding: @il-vc-glyph-padding-vertical @il-vc-glyph-padding-horizontal;
  color:@il-btn-standard-color;
}
.il-viewcontrol-section .glyphicon:hover:before {
  background-color: @il-vc-glyph-hover-bg;
}
.il-viewcontrol-section a:hover {
  text-decoration:none;
}
.il-viewcontrol-mode .ilSubmitInactive, .il-viewcontrol-mode .ilSubmitInactive:hover {
  background-color:@il-vc-mode-btn-active;
  color:@il-btn-standard-color;
  border-color:transparent;
}