.il-viewcontrol-sortation .dropdown-toggle .caret {
	&:before {
		content: "\21f5";
	}
	border: none;
	vertical-align: initial;
	width: 8px;
	height: 8px;
}


.il-viewcontrol-pagination .dropdown {
	display: inline;
}

.ilBlockContent .il-viewcontrol-section .btn.btn-default {
	background-color: transparent;
	border: 0;
	color: @link-color;
	padding: 3px 3px;
}

.il-viewcontrol-pagination, .il-viewcontrol-mode{
	.engaged{
		pointer-events: none;
		cursor: default;
	}
}
