.il-viewcontrol-sortation .dropdown-toggle .caret {
	&:before {
		content: "\21f5";
	}
	border: none;
	vertical-align: initial;
	width: 8px;
	height: 8px;
}


.il-viewcontrol-pagination .dropdown {
	display: inline;
}

.il-viewcontrol-pagination .btn {
	vertical-align: top;

	&.engaged {
		background-color: @il-vc-pagination-btn-active-bg;
		padding: 0px @il-padding-small-horizontal 0px @il-padding-small-horizontal;
		border: 1px solid @il-main-color;
		font-weight: normal;
	}
}

.il-viewcontrol-pagination .dropdown-toggle {
	padding-top: 0;
	padding-bottom: 0;
}

.ilBlockContent .il-viewcontrol-section .btn.btn-default {
	background-color: transparent;
	border: 0;
	color: @link-color;
	padding: @il-padding-base-vertical @il-padding-base-vertical;

}

.il-viewcontrol-pagination, .il-viewcontrol-mode {
	.engaged{
		pointer-events: none;
		cursor: default;
	}
}

.il-viewcontrol-mode {
	.btn + .btn {
		border-left-color: @il-main-border-color;
	}
	.btn:not(:last-child):hover {
		border-right-color: @il-main-border-color;
	}
}

.panel-secondary .il-viewcontrol-section {
	.btn-default, .btn-default:active {
		background-color: transparent;
		border-color: transparent;
		color: @link-color;
		box-shadow: none;
	}
}