<form name="advanced_editing" action="{FORMACTION}" method="POST">
<table class="std">
	<tr class="tblheader">
		<td class="std" colspan="2">{TXT_ASSESSMENT_SETTINGS}</td>
	</tr>
	<tr>
		<td class="option"><label for="html_tags">{TXT_ALLOW_HTML_TAGS}</label></td>
		<td class="option_value">
			<select name="html_tags[]" size="10" multiple>
<!-- BEGIN html_tag_row -->
				<option value="{HTML_TAG}"{HTML_TAG_SELECTED}>{HTML_TAG}</option>
<!-- END html_tag_row -->
			</select>
		</td>
	</tr>
<!-- BEGIN save -->
	<tr class="tablefooter">
	<td class="submit" colspan="2">
		<div align="right">
			<input class="submit" type="SUBMIT" name="cmd[saveAssessmentSettings]" value="{TXT_SAVE}">
		</div>
	</td>
	</tr>
<!-- END save -->
</table>
</form>
