.ilc_rte_status_RTEAsset { padding-left: 18px; background: url({IC_ASSET}) 0 0 no-repeat; }
.ilc_rte_status_RTECompleted { padding-left: 18px; background: url({IC_COMPLETED}) 0 0 no-repeat; }
.ilc_rte_status_RTENotAttempted{padding-left: 18px; background: url({IC_NOTATTEMPTED}) 0 0 no-repeat;}
.ilc_rte_status_RTERunning {padding-left: 18px; background: url({IC_RUNNING}) 0 0 no-repeat;}
.ilc_rte_status_RTEIncomplete {padding-left: 18px; background: url({IC_INCOMPLETE}) 0 0 no-repeat;}
.ilc_rte_status_RTEPassed {padding-left: 18px; background: url({IC_PASSED}) 0 0 no-repeat;}
.ilc_rte_status_RTEFailed {padding-left: 18px; background: url({IC_FAILED}) 0 0 no-repeat;}
.ilc_rte_status_RTEBrowsed {padding-left: 18px; background: url({IC_BROWSED}) 0 0 no-repeat;}

