table.printtable 
{
	border: 1px solid #AAAAAA;
	border-collapse: collapse;
	background-color: white;
}

h1 
{
	font-size:15pt;
}

h3 
{
	font-size:12pt;
}

body
{ 
	color : black; 
	background : white; 
	font-family : "Times New Roman", Times, serif; 
	font-size : 10pt; 
} 

tr 
{
	font-family : "Times New Roman", Times, serif;
	font-size:10pt;
	border: 1px solid #AAAAAA;
	background-color:white;
	color:black;
}

th
{     	
	valign: top;
	border: 1px solid #AAAAAA;
	background-color: white;
} 

td
{      	
	border: 1px solid #AAAAAA;
	background-color: inherit;
	text-align: left;
	vertical-align: top;
}

.tblrow1 
{
	background: #FFFFFF;
}

.tblrow2 
{
	background: #DDDDDD;
} 

.tblrow1top 
{
	background: #FFFFFF;
	vertical-align: top;
}

.tblrow2top
{
	background: #DDDDDD;
	vertical-align: top;
} 

