<form name="searchQuestionsForm" method="post" action="{FORM_ACTION}">
<table class="std">
<tr class="tblheader"><td class="std" colspan="2">&nbsp;</td></tr>
<tr>
	<td class="option"><label for="search_term">{TEXT_SEARCH_TERM}</label>:</td>
	<td class="option_value"><input type="text" name="search_term" id="search_term" value="{VALUE_SEARCH_TERM}" size="60" /></td>
</tr>
<tr>
	<td class="option">{TEXT_CONCATENATION}:</td>
	<td class="option_value">
	<input type="radio" name="concat" id="concat_and" value="0"{CHECKED_AND} /> <label for="concat_and">{TEXT_AND}</label>
	<input type="radio" name="concat" id="concat_or" value="1"{CHECKED_OR} /> <label for="concat_or">{TEXT_OR}</label>
	</td>
</tr>
<tr>
	<td class="option"><label for="search_field">{TEXT_SEARCH_FOR}</label>:</td>
	<td class="option_value">
	<select name="search_field" size="1" id="search_field">
	<option value="all"{CHECKED_ALL}>{SEARCH_FIELD_ALL}</option>
	<option value="title"{CHECKED_TITLE}>{SEARCH_FIELD_TITLE}</option>
	<option value="description"{CHECKED_DESCRIPTION}>{SEARCH_FIELD_DESCRIPTION}</option>
	<option value="author"{CHECKED_AUTHOR}>{SEARCH_FIELD_AUTHOR}</option>
	<option value="questiontext"{CHECKED_QUESTIONTEXT}>{SEARCH_FIELD_QUESTIONTEXT}</option>
	</select>
	</td>
</tr>
<tr>
	<td class="option"></td>
	<td class="option_value">
	<select name="search_type" size="1" id="search_type">
	<option value="all">{SEARCH_TYPE_ALL}</option>
	<!-- BEGIN questiontypes -->
	<option value="{VALUE_QUESTION_TYPE}"{SELECTED_SEARCH_TYPE}>{TEXT_QUESTION_TYPE}</option>
	<!-- END questiontypes -->
	</select>
	</td>
</tr>
<tr class="tablefooter">
	<td class="submit" colspan="2"><div align="right"><input type="submit" class="submit" name="cmd[searchQuestionsExecute]" value="{BTN_SEARCH}" /></div></td>
</tr>
</table>
<!-- BEGIN search_results -->
<p></p>
<h2><img src="{RESULT_IMAGE}" alt="{ALT_IMAGE}" /> {FOUND_QUESTIONS}</h2>
<table class="fullwidth">
<tr class="tblheader">
	<td class="std"><input type="checkbox" name="chb_check_all" value="1" onclick="setChecked('searchQuestionsForm', 'cb_', document.searchQuestionsForm.chb_check_all.checked);" /></td>
	<td class="std">{TEXT_QUESTION_TITLE}</td>
	<td class="std">{TEXT_QUESTION_DESCRIPTION}</td>
	<td class="std">{TEXT_QUESTION_TYPE}</td>
	<td class="std">{TEXT_QUESTION_AUTHOR}</td>
	<td class="std">{TEXT_QUESTION_POOL}</td>
</tr>
<!-- BEGIN result_row -->
<tr class="{COLOR_CLASS}">
<td class="{COLOR_CLASS}" width="20"><input type="checkbox" name="cb_{QUESTION_ID}" value="1" /></td>
<td class="{COLOR_CLASS}">{QUESTION_TITLE}</td>
<td class="{COLOR_CLASS}">{QUESTION_DESCRIPTION}</td>
<td class="{COLOR_CLASS}">{QUESTION_TYPE}</td>
<td class="{COLOR_CLASS}">{QUESTION_AUTHOR}</td>
<td class="{COLOR_CLASS}">{QUESTION_POOL}</td>
</tr>
<!-- END result_row -->
<tr class="tablefooter">
	<td class="submit" colspan="7">{ARROW} <input type="submit" class="submit" name="cmd[insertQuestions]" value="{BTN_INSERT}" /></td>
</tr>
</table>
<!-- END search_results -->
</form>