<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
     "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>{TXT_STATISTICAL_EVALUATION}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{PRINT_CSS}" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>

<script type="text/javascript" language="javascript1.2">
<!--
// Do print the page
if (typeof(window.print) != 'undefined') {
    window.print();
}
//-->
</script>
            
<h1>{TXT_STATISTICAL_EVALUATION}</h1> <br>
<table class="printtable">
<tr>
<!-- BEGIN headercell -->
<td class="header">{TEXT_HEADER_CELL}</td>
<!-- END headercell -->
</tr>
<!-- BEGIN row -->
<tr>
<!-- BEGIN bodycell -->
<td class="{COLOR_CLASS}">{TEXT_BODY_CELL}</td>
<!-- END bodycell -->
</tr>
<!-- END row -->
<!-- BEGIN Emptytable -->
<tr><td class="option_value" colspan="9">{TEXT_EMPTYTABLE}</td></tr>
<!-- END Emptytable -->
</table>
<p>
<table class="printtable">
<tr>
  <td class="header" colspan="2">{TEXT_LEGEND}</td>
</tr>
<!-- BEGIN legendrow -->
<tr>
  <td class="tblrow2">{TEXT_KEY}:</td>
  <td class="tblrow1">{TEXT_VALUE}</td>
</tr>
<!-- END legendrow -->
</table>
</p>
</body>
</html>
