<form name="frm_nominal" action="{FORM_ACTION}" method="post" enctype="multipart/form-data">
<input type="hidden" name="id" value="{QUESTION_ID}">
<!-- BEGIN move -->
<input type="hidden" name="move_{MOVE_COUNTER}" value="{MOVE_VALUE}">
<!-- END move -->
<table class="std">
<tr>
  <td class="option">{TEXT_TITLE}<span class="asterisk">*</span>:</td>
  <td class="option_value" colspan="4"><input name="title" type="text" value="{VALUE_TITLE}" size="50" /></td></tr>
<tr>
  <td class="option">{TEXT_AUTHOR}<span class="asterisk">*</span>:</td>
  <td class="option_value" colspan="4"><input name="author" type="text" value="{VALUE_AUTHOR}" size="50" /></td></tr>
<tr>
  <td class="option">{TEXT_DESCRIPTION}:</td>
  <td class="option_value" colspan="4"><input name="description" type="text" value="{VALUE_DESCRIPTION}" id="description" size="50" /></td></tr>
<tr>
  <td class="option">{TEXT_QUESTION}<span class="asterisk">*</span>:</td>
  <td class="option_value" colspan="4"><textarea name="question" cols="50" rows="5" id="question">{VALUE_QUESTION}</textarea></td>
</tr>
<tr>
  <td class="option">{TEXT_QUESTION_TYPE}:</td>
  <td class="option_value" colspan="4"><select name="type" size="1"><option value="1"{SELECTED_SR}>{TXT_SR}</option><option value="2"{SELECTED_MR}>{TXT_MR}</option></select></td>
</tr>
<tr>
  <td class="option"></td>
  <td class="option_value" colspan="4"><input type="checkbox" name="obligatory" value="1" id="obligatory"{CHECKED_OBLIGATORY} /> <label for="obligatory">{TEXT_OBLIGATORY}</label></td>
</tr>
<!-- BEGIN orientation -->
<tr>
  <td class="option">{TEXT_ORIENTATION}:</td>
  <td class="option_value" colspan="4">
	<select name="orientation" size="1">
		<option value="0"{SELECTED_VERTICAL}>{TXT_VERTICAL}</option>
		<option value="1"{SELECTED_HORIZONTAL}>{TXT_HORIZONTAL}</option>
<!-- BEGIN comboboxselection -->
		<option value="2"{SELECTED_COMBOBOX}>{TXT_COMBOBOX}</option>
<!-- END comboboxselection -->
	</select></td>
</tr>
<!-- END orientation -->
<tr>
	<td class="option">{TEXT_MATERIAL}:</td>
	<td class="option_value" colspan="4">
		<input type="hidden" name="material" value="{VALUE_MATERIAL}" />
		{TEXT_VALUE_MATERIAL}
		<!-- BEGIN remove_material -->
		<input type="submit" class="submit" name="cmd[removeMaterial]" value="{BUTTON_REMOVE_MATERIAL}" />
		<!-- END remove_material -->
		<input type="submit" class="submit" name="cmd[addMaterial]" value="{BUTTON_ADD_MATERIAL}" />
		<select name="internalLinkType">
<!-- BEGIN internallink -->
		<option value="{TYPE_INTERNAL_LINK}">{TEXT_INTERNAL_LINK}</option>
<!-- END internallink -->
		</select>
<!-- BEGIN material_title -->
		<p>
		{TEXT_TITLE}: <input type="text" name="material_title" value="{VALUE_MATERIAL_TITLE}" size="40" />
		</p>
<!-- END material_title -->
		
	</td>
</tr>
<tr><td colspan="5" class="option">
<!-- BEGIN move_buttons -->
<input type="submit" class="submit" name="cmd[insertBeforeCategory]" value="{INSERT_BEFORE}" />
<input type="submit" class="submit" name="cmd[insertAfterCategory]" value="{INSERT_AFTER}" />
<!-- END move_buttons -->
<input type="submit" class="submit" name="cmd[moveCategory]" value="{MOVE}" />
<input type="submit" class="submit" name="cmd[deleteCategory]" value="{DELETE}" />
<input name="cmd[addCategory]" type="submit" class="submit" id="add_category" value="{VALUE_ADD_CATEGORY}" />
</td>
<!-- BEGIN categories -->
<tr>
  <td class="option">
<!-- BEGIN cat_selector -->
	<input type="checkbox" name="chb_category_{CATEGORY_ORDER}" value="{CATEGORY_ORDER}" />
<!-- END cat_selector -->
	</td>
  <td class="option_value" colspan="3"><input name="category_{CATEGORY_ORDER}" type="text" id="category_{CATEGORY_ORDER}" size="50" value="{VALUE_CATEGORY}" /></td>
  <td class="option_value"><input type="text" name="number" value="{CATEGORY_NUMBER}" size="3" disabled="disabled"/></td>
</tr>
<!-- END categories -->
<tr><td colspan="5" class="submit">
<span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FLD}</span>
<div align="right">
<input name="cmd[save]" type="submit" class="submit" id="save" value="{SAVE}" />&nbsp;&nbsp;<input name="cmd[cancel]" type="submit" class="submit" id="cancel" value="{CANCEL}" />
</div>
</td></tr>
</table>
</form>
