<form name="deletePhrases" method="post" action="{FORM_ACTION}">
<table class="fullwidth">
<tr class="tblheader">
<td>{TEXT_PHRASE_TITLE}</td>
<td>{TEXT_PHRASE_CONTENT}</td>
</tr>
<!-- BEGIN row -->
<tr class="{COLOR_CLASS}" valign="top">
<td>{PHRASE_TITLE}</td>
<td>{PHRASE_CONTENT}</td>
</tr>
<!-- END row -->
<tr class="std">
<td class="std" colspan="2">
<input type="submit" name="cmd[confirmDeletePhrase]" value="{BTN_CONFIRM}" />
<input type="submit" name="cmd[cancelDeletePhrase]" value="{BTN_CANCEL}" />
</td>
</tr>
</table>
<!-- BEGIN hidden -->
<input type="hidden" name="{HIDDEN_NAME}" value="{HIDDEN_VALUE}" />
<!-- END hidden -->
</form>