<p>{TEXT_INTRODUCTION}</p>
<!-- BEGIN anonymize -->
<p>{TEXT_ANONYMIZE}</p>
{ENTER_ANONYMOUS_ID}: <input type="text" name="anonymous_id" size="32" />
<!-- END anonymize -->
<div align="right">
<!-- BEGIN evaluation -->
<input type="submit" class="submit" name="cmd[evaluation]" value="{BTN_EVALUATION}"{DISABLED} />
<!-- END evaluation -->
<!-- BEGIN start -->
<input type="submit" class="submit" name="cmd[start]" value="{BTN_START}"{DISABLED} />
<!-- END start -->
<!-- BEGIN resume -->
<input type="submit" class="submit" name="cmd[resume]" value="{BTN_RESUME}"{DISABLED} />
<!-- END resume -->
<!-- BEGIN back -->
<input type="submit" class="submit" name="cmd[cancel]" value="{BTN_BACK}" />
<!-- END back -->
</div>