<form name="removeCategories" method="post" action="{FORM_ACTION}">
<table class="fullwidth">
<tr class="tblheader">
<td class="std" colspan="2">{TXT_TITLE}</td>
</tr>
<!-- BEGIN row -->
<tr class="{COLOR_CLASS}">
<td class="{COLOR_CLASS}">{TXT_TITLE}</td>
</tr>
<!-- END row -->
<tr class="std">
<td class="std" colspan="2">
<input type="submit" class="submit" name="cmd[confirm_delete]" value="{BTN_CONFIRM}" />
<input type="submit" class="submit" name="cmd[cancel_delete]" value="{BTN_CANCEL}" />
</td>
</tr>
</table>
<!-- BEGIN hidden -->
<input type="hidden" name="{HIDDEN_NAME}" value="{HIDDEN_VALUE}" />
<!-- END hidden -->
</form>