<form name="form_questions" method="POST" action="{ACTION_QUESTION_FORM}">
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td align="left">{FILTER_QUESTION_MANAGER}</td>
<td align="right">{CREATE_QUESTION}</td>
</tr>
</table>
<table class="fullwidth">
<thead>
	<tr class="tblheader">
		<th class="std"></th>
		<th class="std">{QUESTION_TITLE}</th>
		<th class="std">{QUESTION_EDIT}</th>
		<th class="std">{QUESTION_PREVIEW}</th>
		<th class="std">{QUESTION_DESCRIPTION}</th>
		<th class="std">{QUESTION_TYPE}</th>
		<th class="std">{QUESTION_AUTHOR}</th>
		<th class="std">{QUESTION_CREATED}</th>
		<th class="std">{QUESTION_UPDATED}</th>
	</tr>
</thead>
<!-- BEGIN QTab --> 
<tr class="{COLOR_CLASS}">
<td class="{COLOR_CLASS}">
<!-- BEGIN checkable -->
<input type="checkbox" name="cb_{QUESTION_ID}" id="cb_{QUESTION_ID}" value="1" />
<!-- END checkable -->
</td>
<td class="{COLOR_CLASS}">
<!-- BEGIN qpl_warning -->	
<img src="{IMAGE_WARNING}" border="0" alt="{ALT_WARNING}" title="{TITLE_WARNING}" />
<!-- END qpl_warning -->
<label for="cb_{QUESTION_ID}">{QUESTION_TITLE}</label>
</td>
<td class="{COLOR_CLASS}">
<!-- BEGIN url_edit -->
	<a class="il_ContainerItemCommand" href="{URL_EDIT}">{TEXT_EDIT}</a>
<!-- END url_edit -->
</td>
<td class="{COLOR_CLASS}"><a class="il_ContainerItemCommand" href="{URL_PREVIEW}">{TEXT_PREVIEW}</a></td>
<td class="{COLOR_CLASS}">{QUESTION_DESCRIPTION}</td>
<td class="{COLOR_CLASS}">{QUESTION_TYPE}</td>
<td class="{COLOR_CLASS}">{QUESTION_AUTHOR}</td>
<td class="{COLOR_CLASS}">{QUESTION_CREATED}</td>
<td class="{COLOR_CLASS}">{QUESTION_UPDATED}</td>
</tr>
<!-- END QTab -->
<!-- BEGIN Emptytable -->
<tr><td class="option_value" colspan="9">{TEXT_EMPTYTABLE}</td></tr>
<!-- END Emptytable -->
<!-- BEGIN navigation_bottom -->
<tr class="tblfooter"><td></td><td colspan="4">({TEXT_ITEM} {TEXT_ITEM_START} - {TEXT_ITEM_END} {TEXT_OF} {TEXT_ITEM_COUNT})</td><td colspan="5"><div align="right"><a href="{HREF_PREV_ROWS}">{TEXT_PREVIOUS}</a> <!-- BEGIN pages --> [{PAGE_NUMBER}] <!-- END pages --><a href="{HREF_NEXT_ROWS}">{TEXT_NEXT}</a></div></td></tr>
<!-- END navigation_bottom -->
<!-- BEGIN selectall -->
<tr class="{COLOR_CLASS}">
	<td class="{COLOR_CLASS}"><input type="checkbox" id="chb_check_all" name="chb_check_all" value="1" onclick="setChecked('form_questions', 'cb_', document.form_questions.chb_check_all.checked);" /></td>
	<td class="{COLOR_CLASS}" colspan="8"><label for="chb_check_all"><strong>{SELECT_ALL}</strong></label></td>
</tr>
<!-- END selectall -->
<!-- BEGIN Footer -->
<tr><td class="submit">{ARROW}</td><td class="submit" colspan="8">{A_BUTTONS}</td></tr>
<!-- END Footer -->
</table>
</form>