<table class="fullwidth_invisible"><tr><td class="ilInvisibleBorder">
<form name="surveyOutput" method="post" action="{FORM_ACTION}">
<div class="il_Header">
<table width="100%">
<tr>
<td align="left">
<!-- BEGIN top_prev -->
<input type="submit" class="submit" name="cmd[previous]" value="{BTN_PREV}" />
<!-- END top_prev -->
</td>
<td align="center">
<!-- BEGIN percentage -->
<div align="left" style="height: 15px;
width: {HUNDRED_PERCENT}px;
background: #ffffff;
border: 1px solid #333333;
margin: .5em;
padding: 0;">
<div align="center" style="height:15px;
width: {PERCENTAGE}px;
margin: 0;
padding: 0;
background: #C0C0C0" >
<span style="font: 12px Verdana, Arial, sans-serif;
color: #000000;
text-align: center;">
&nbsp;{PERCENTAGE_VALUE}%
</span>
</div>
</div>
<!-- END percentage -->
</td>
<td align="right">
<!-- BEGIN top_next -->
<input type="submit" class="submit" name="cmd[next]" value="{BTN_NEXT}" />
<!-- END top_next -->
</td>
</tr>
</table>
</div>
<br/>
<div class="surveySheet">
<!-- BEGIN questionblock_title -->
<div class="questionblockTitle">{TEXT_QUESTIONBLOCK_TITLE}</div>
<br />
<!-- END questionblock_title -->
<!-- BEGIN survey_content -->
<!-- BEGIN heading -->
<div class="questionheading">{QUESTION_HEADING}</div>
<!-- END heading -->
{NOMINAL_QUESTION}
{ORDINAL_QUESTION}
{METRIC_QUESTION}
{TEXT_QUESTION}
<br />
<br />
<!-- END survey_content -->
{SYSTEMSETTINGS}
</div>
<br/>
<!-- BEGIN bottom_navigation -->
<div class="il_Header">
<table width="100%">
<tr>
<td align="left">
<!-- BEGIN bottom_prev -->
<input type="submit" class="submit" name="cmd[previous]" value="{BTN_PREV}" />
<!-- END bottom_prev -->
</td>
<td align="right">
<!-- BEGIN bottom_next -->
<input type="submit" class="submit" name="cmd[next]" value="{BTN_NEXT}" />
<!-- END bottom_next -->
</td>
</tr>
</table>
</div>
<!-- END bottom_navigation -->
</form>
</td></tr></table>
