<!-- BEGIN standard -->
<!-- BEGIN editbutton -->
<input class="submit" type="submit" name="cmd[edit]" value="{EDIT}" />
<!-- END editbutton -->
<input class="submit" type="submit" name="cmd[delete]" value="{DELETE}" />
<input class="submit" type="submit" name="cmd[duplicate]" value="{DUPLICATE}" />
<input class="submit" type="submit" name="cmd[copy]" value="{COPY}" />
<input class="submit" type="submit" name="cmd[paste]" value="{PASTE}"{PASTE_DISABLED} />
<input class="submit" type="submit" name="cmd[export]" value="{EXPORT}" />
<!--input class="submit" type="submit" name="cmd[questionblock]" value="{QUESTIONBLOCK}" />
<input class="submit" type="submit" name="cmd[unfold]" value="{UNFOLD}" /-->
<!-- END standard -->
<!-- BEGIN selection -->
<input class="submit" type="submit" name="cmd[insert]" value="{INSERT}" />
<!-- END selection -->
