<!-- BEGIN question_data_metric -->
<div class="questionTitle">{QUESTION_TITLE}</div>
{ERROR_MESSAGE}
<p class="questiontext">{QUESTIONTEXT} <span class="obligatory">{OBLIGATORY_TEXT}</span></p>
<table class="nobackground">
<tr>
<td class="nobackground"><label for="{QUESTION_ID}_metric_question">{TEXT_ANSWER}</label>:</td>
<td class="nobackground" colspan="4"><input name="{QUESTION_ID}_metric_question" type="text" id="{QUESTION_ID}_metric_question" size="{INPUT_SIZE}" value="{VALUE_METRIC}" /></td></tr>
<tr>
  <td class="nobackground">{TEXT_MINIMUM}:</td>
  <td class="nobackground" colspan="4">{VALUE_MINIMUM}</td>
</tr>
<tr>
  <td class="nobackground">{TEXT_MAXIMUM}:</td>
  <td class="nobackground" colspan="4">{VALUE_MAXIMUM}</td>
</tr>
</table>
<!-- END question_data_metric -->
