<style>
body { margin:0px; }
</style>
{STATUSLINE}
<table class="fullwidth_invisible"><tr><td class="ilInvisibleBorder">
<!--<div class="invisible_border">-->
<form name="surveyOutput" method="post" action="{FORM_ACTION}">
<div class="il_Header">
<table width="100%">
<tr colspan="2">
<td><h1>{HEADER}<!-- BEGIN print_block -->[<a href="{PRINT_ACTION}" target="_blank"><img src="{PRINT_IMAGE}" width="18" height="18" alt="{PRINT_TEXT}" title="{PRINT_TEXT}" border="0"></a> <a href="{PRINT_ACTION}" target="_blank">{PRINT_TEXT}</a>]<!-- END print_block --></h1></td>
</tr>
<tr>
<td align="left">
<!-- BEGIN prev -->
<input type="submit" class="submit" name="cmd[previous]" value="{BTN_PREV}" />
<!-- END prev -->
<!-- BEGIN skipprev -->
<input type="submit" class="submit" name="cmd[skip_previous]" value="{BTN_SKIP_PREV}" />
<!-- END skipprev -->
</td>
<td align="center">
<!-- BEGIN percentage -->
<div align="left" style="height: 15px;
width: {HUNDRED_PERCENT}px;
background: #ffffff;
border: 1px solid #333333;
margin: .5em;
padding: 0;">
<div align="center" style="height:15px;
width: {PERCENTAGE}px;
margin: 0;
padding: 0;
background: #C0C0C0" >
<span style="font: 12px Verdana, Arial, sans-serif;
color: #000000;
text-align: center;">
&nbsp;{PERCENTAGE_VALUE}%
</span>
</div>
</div>
<!-- END percentage -->
</td>
<td align="right">
<!-- BEGIN skipnext -->
<input type="submit" class="submit" name="cmd[skip_next]" value="{BTN_SKIP_NEXT}" />
<!-- END skipnext -->
<!-- BEGIN next -->
<input type="submit" class="submit" name="cmd[next]" value="{BTN_NEXT}" />
<!-- END next -->
</td>
</tr>
</table>
</div>
<br/>
<div class="surveySheet">
{BUTTONS}
{MESSAGE}
<!-- BEGIN questionblock_title -->
<div class="questionblockTitle">{TEXT_QUESTIONBLOCK_TITLE}</div>
<br />
<!-- END questionblock_title -->
{ADM_CONTENT}
<!-- BEGIN survey_content -->
{NOMINAL_QUESTION}
{ORDINAL_QUESTION}
{METRIC_QUESTION}
{TEXT_QUESTION}
<br />
<br />
<!-- END survey_content -->
{SYSTEMSETTINGS}
</div>
</form>
<!--</div>-->
</td></tr></table>
