<form name="form_constraints" method="post" action="{FORM_ACTION}">
<p>{CONSTRAINTS_INTRODUCTION}</p>
<table class="fullwidth">
<tr class="tblheader">
	<td colspan="4">{CONSTRAINTS_HEADER}</td>
</tr>
<!-- BEGIN constraint_section -->
<tr class="{COLOR_CLASS}">
	<td width="25"><!-- BEGIN include_elements --><input type="checkbox" name="includeElements[]" value="{QUESTION_NR}" /><!-- END include_elements --></td>
	<td width="25">{QUESTION_NR}.</td>
	<td width="25"><img src="{ICON_HREF}" alt="{ICON_ALT}" /></td>
	<td>{TYPE}{TITLE}</td>
</tr>
<!-- BEGIN description -->
<!-- <p>{DESCRIPTION}</p>  -->
<!-- END description -->
<!-- BEGIN question -->
<tr class="{COLOR_CLASS}">
	<td colspan="3"></td>
	<td>
<table class="fullwidth">
<tr class="tblheader">
	<td colspan="3">{DEFINED_PRECONDITIONS}</td>
</tr>
<!-- BEGIN empty_row -->
<tr class="{COLOR_CLASS}">
<td class="{COLOR_CLASS}" colspan="2">{EMPTY_TEXT}</td>
</tr>
<!-- END empty_row -->
<!-- BEGIN constraint -->
<tr class="{COLOR_CLASS}">
<td class="{COLOR_CLASS}" width="25"><input type="checkbox" name="constraint_{SEQUENCE_ID}_{CONSTRAINT_ID}" value="1" /></td>
<td class="{COLOR_CLASS}">{CONSTRAINT_TEXT}</td>
</tr>
<!-- END constraint -->
<!-- BEGIN delete_button -->
<tr>
	<td class="submit">{ARROW}</td>
	<td class="submit" align="left"><input type="submit" class="submit" name="cmd[deleteConstraints]" value="{BTN_DELETE}" /></td>
</tr>
<!-- END delete_button -->
</table>
</td>
</tr>
<!--br /-->
<!-- END question -->
<!-- END constraint_section -->
<!-- BEGIN selectall -->
<tr>
	<td class="{COLOR_CLASS}"><input type="checkbox" id="chb_check_all" name="chb_check_all" value="1" onclick="setChecked('form_constraints', 'includeElements', document.form_constraints.chb_check_all.checked);" /></td>
  <td class="{COLOR_CLASS}" colspan="3"><label for="chb_check_all"><strong>{SELECT_ALL}</strong></label></td>
</tr>
<!-- END selectall -->
<!-- BEGIN buttons -->
<tr>
	<td class="submit">{ARROW}</td>
	<td class="submit" align="left" colspan="3"><input type="submit" class="submit" name="cmd[createConstraints]" value="{BTN_CREATE_CONSTRAINTS}" /></td>
</tr>
<!-- END buttons -->
</table>
</form>