<form name="form_questions" method="POST" action="{FORM_ACTION}">
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td align="left">{FILTER_QUESTION_MANAGER}</td>
<td align="right">{CREATE_QUESTION}</td>
</tr>
</table>
<table class="fullwidth">
<!-- BEGIN questions_header -->
<tr class="tblheader">
<td class="std"><input type="checkbox" name="chb_check_all" value="1" onclick="setCheckboxes('form_questions', 'cb_', document.form_questions.chb_check_all.checked);" /></td>
<td class="std">{QUESTION_TITLE}</td>
<td class="std"></td>
<td class="std">{QUESTION_COMMENT}</td>
<td class="std">{QUESTION_TYPE}</td>
<td class="std">{QUESTION_AUTHOR}</td>
<td class="std">{QUESTION_CREATED}</td>
<td class="std">{QUESTION_UPDATED}</td>
<td class="std">{QUESTION_POOL}</td>
<!-- END questions_header -->
<!-- BEGIN questionblocks_header -->
<tr class="tblheader">
<td class="std"><input type="checkbox" name="chb_check_all" value="1" onclick="setCheckboxes('form_questions', 'cb_', document.form_questions.chb_check_all.checked);" /></td>
<td class="std">{QUESTIONBLOCK_TITLE}</td>
<td class="std">{QUESTIONS_TITLE}</td>
<td class="std" colspan="6">{SURVEY_TITLE}</td>
<!-- END questionblocks_header -->
</tr>
<!-- BEGIN questionblock_row --> 
<tr class="{COLOR_CLASS}">
<td class="{COLOR_CLASS}" width="20">
<!-- BEGIN checkable_block -->
<input type="checkbox" name="cb_{QUESTIONBLOCK_ID}" value="1" />
<!-- END checkable_block -->
</td>
<td class="{COLOR_CLASS}">{QUESTIONBLOCK_TITLE}</td>
<td class="{COLOR_CLASS}">{QUESTIONS_TITLE}</td>
<td class="{COLOR_CLASS}" colspan="6">{SURVEY_TITLE}</td>
</tr>
<!-- END questionblock_row --> 
<!-- BEGIN QTab --> 
<tr class="{COLOR_CLASS}">
<td class="{COLOR_CLASS}" width="20">
<!-- BEGIN checkable -->
<input type="checkbox" name="cb_{QUESTION_ID}" value="1" />
<!-- END checkable -->
</td>
<td class="{COLOR_CLASS}">{QUESTION_TITLE}</td>
<td class="{COLOR_CLASS}">{PREVIEW}</td>
<td class="{COLOR_CLASS}">{QUESTION_COMMENT}</td>
<td class="{COLOR_CLASS}">{QUESTION_TYPE}</td>
<td class="{COLOR_CLASS}">{QUESTION_AUTHOR}</td>
<td class="{COLOR_CLASS}">{QUESTION_CREATED}</td>
<td class="{COLOR_CLASS}">{QUESTION_UPDATED}</td>
<td class="{COLOR_CLASS}">{QUESTION_POOL}</td>
</tr>
<!-- END QTab --> 
<!-- BEGIN Emptytable -->
<tr><td class="option_value" colspan="9">{TEXT_EMPTYTABLE}</td></tr>
<!-- END Emptytable -->
<!-- BEGIN questions_navigation_bottom -->
<tr class="tblfooter"><td></td><td colspan="4">({TEXT_ITEM} {TEXT_ITEM_START} - {TEXT_ITEM_END} {TEXT_OF} {TEXT_ITEM_COUNT})</td><td colspan="5"><div align="right"><a href="{HREF_PREV_ROWS}">{TEXT_PREVIOUS}</a> <!-- BEGIN pages_questions --> [{PAGE_NUMBER}] <!-- END pages_questions --><a href="{HREF_NEXT_ROWS}">{TEXT_NEXT}</a></div></td></tr>
<!-- END questions_navigation_bottom -->
<!-- BEGIN questionblocks_navigation_bottom -->
<tr class="tblfooter"><td></td><td colspan="4">({TEXT_ITEM} {TEXT_ITEM_START} - {TEXT_ITEM_END} {TEXT_OF} {TEXT_ITEM_COUNT})</td><td colspan="5"><div align="right"><a href="{HREF_PREV_ROWS}">{TEXT_PREVIOUS}</a> <!-- BEGIN pages_questionblocks --> [{PAGE_NUMBER}] <!-- END pages_questionblocks --><a href="{HREF_NEXT_ROWS}">{TEXT_NEXT}</a></div></td></tr>
<!-- END questionblocks_navigation_bottom -->
<!-- BEGIN Footer -->
<tr><td class="option_value">{ARROW}</td><td class="option_value" colspan="8">{A_BUTTONS}</td></tr>
<!-- END Footer -->
</table>
<p>
<input type="submit" class="submit" name="cmd[back]" value="{BUTTON_BACK}" />
</p>
</form>