<table class="fullwidth_invisible">
<tr>
<td>{FILTER_TEXT}&nbsp;<select name="sel_filter_type">
<!-- BEGIN filterrow -->
<option value="{VALUE_FILTER_TYPE}"{VALUE_FILTER_SELECTED}>{NAME_FILTER_TYPE}</option>
<!-- END filterrow -->
</select>&nbsp;{TEXT_FILTER_BY}
</td>
<td><input type="text" name="filter_text" size="20" value="{VALUE_FILTER_TEXT}" />
<input class="submit" type="submit" name="cmd[filterQuestions]" value="{VALUE_SUBMIT_FILTER}" />
<input class="submit" type="submit" name="cmd[resetFilterQuestions]" value="{VALUE_RESET_FILTER}" /></td>
</td>
<td align="right">{TEXT_DATATYPE} <select name="datatype"><option value="1"{SELECTED_QUESTIONS}>{OPTION_QUESTIONS}</option><option value="0"{SELECTED_QUESTIONBLOCKS}>{OPTION_QUESTIONBLOCKS}</option></select> <input type="submit" class="submit" name="cmd[changeDatatype]" value="{BTN_CHANGE}" /></td>
</tr>
<!-- BEGIN question_filters -->
<tr>
<td>
{SHOW_QUESTION_TYPES}:
</td>
<td colspan="2">
<select name="sel_question_type">
<option value="all"{SELECTED_ALL_QUESTION_TYPES}>{TEXT_ALL_QUESTION_TYPES}</option>
<!-- BEGIN questiontype_row -->
<option value="{VALUE_QUESTION_TYPE}"{SELECTED_QUESTION_TYPE}>{TEXT_QUESTION_TYPE}</option>
<!-- END questiontype_row -->
</select>
</td>
</tr>
<tr>
<td>
{SHOW_QUESTIONPOOLS}:
</td>
<td colspan="2">
<select name="sel_questionpool">
<option value="all"{SELECTED_ALL_QUESTIONPOOLS}>{TEXT_ALL_QUESTIONPOOLS}</option>
<!-- BEGIN questionpool_row -->
<option value="{VALUE_QUESTIONPOOL}"{SELECTED_QUESTIONPOOL}>{TEXT_QUESTIONPOOL}</option>
<!-- END questionpool_row -->
</select>
</tr>
<!-- END question_filters -->
</table>
