<!-- BEGIN question_data_nominal -->
<h2>{QUESTIONTEXT}</h2>
<br />
<table class="fullwidth_invisible">
<!-- BEGIN nominal_row_sr -->
<tr>
<td width="1%"><input type="radio" name="{QUESTION_ID}_value" value="{VALUE_NOMINAL}" id="{VALUE_NOMINAL}" /></td>
<td><label for="{VALUE_NOMINAL}">{TEXT_NOMINAL}</label></td>
</tr>
<!-- END nominal_row_sr -->
<!-- BEGIN nominal_row_mr -->
<tr>
<td width="1%"><input type="checkbox" name="{QUESTION_ID}_value[]" value="{VALUE_NOMINAL}" id="{VALUE_NOMINAL}" /></td>
<td><label for="{VALUE_NOMINAL}">{TEXT_NOMINAL}</label></td>
</tr>
<!-- END nominal_row_mr -->
</table>
<!-- END question_data_nominal -->
