<form name="frm_properties" action="{FORM_ACTION}" method="post">
<table class="std">
<tr>
  <td class="option"><label for="title">{TEXT_TITLE}</label><span class="asterisk">*</span>:</td>
  <td class="option_value"><input name="title" id="title" type="text" value="{VALUE_TITLE}" size="50" /></td>
</tr>
<tr>
  <td class="option"><label for="author">{TEXT_AUTHOR}</label><span class="asterisk">*</span>:</td>
  <td class="option_value"><input name="author" id="author" type="text" value="{VALUE_AUTHOR}" size="50" /></td>
</tr>
<tr>
  <td class="option"><label for="description">{TEXT_DESCRIPTION}:</label></td>
  <td class="option_value"><input name="description" type="text" value="{VALUE_DESCRIPTION}" id="description" size="50" /></td>
</tr>
<tr>
  <td class="option"><label for="introduction">{TEXT_INTRODUCTION}:</label></td>
  <td class="option_value">
	<textarea id="introduction" name="introduction" cols="80" rows="10">{VALUE_INTRODUCTION}</textarea>
	</td>
</tr>
<tr>
  <td class="option"><label for="status">{TEXT_STATUS}:</label></td>
  <td class="option_value"><select name="status" id="status"><option value="0"{SELECTED_OFFLINE}>{VALUE_OFFLINE}</option><option value="1"{SELECTED_ONLINE}>{VALUE_ONLINE}</option></select></td>
</tr>
<tr>
  <td class="option"><label for="checked_start_date">{TEXT_START_DATE}:</label></td>
  <td class="option_value"><input type="checkbox" name="checked_start_date" id="checked_start_date" value="1"{CHECKED_START_DATE} /> <label for="checked_start_date">{TEXT_ENABLED}</label><br>{VALUE_START_DATE} <input type="image" alt="{TXT_START_DATE_CALENDAR}" title="{TXT_START_DATE_CALENDAR}" src="{IMG_START_DATE_CALENDAR}" id="btn_cal_start_date" /></td>
</tr>
<tr>
  <td class="option"><label for="checked_end_date">{TEXT_END_DATE}:</label></td>
  <td class="option_value"><input type="checkbox" name="checked_end_date" id="checked_end_date" value="1"{CHECKED_END_DATE} /> <label for="checked_end_date">{TEXT_ENABLED}</label><br>{VALUE_END_DATE} <input type="image" alt="{TXT_END_DATE_CALENDAR}" title="{TXT_END_DATE_CALENDAR}" src="{IMG_END_DATE_CALENDAR}" id="btn_cal_end_date" /></td>
</tr>
<tr>
  <td class="option"><label for="evaluation_access">{TEXT_EVALUATION_ACCESS}:</label></td>
  <td class="option_value">
		<select name="evaluation_access" id="evaluation_access">
			<option value="0"{SELECTED_OFF}>{VALUE_OFF}</option>
			<option value="2"{SELECTED_PARTICIPANTS}>{VALUE_PARTICIPANTS}</option>
			<option value="1"{SELECTED_ALL}>{VALUE_ALL}</option>
		</select>
	</td>
</tr>
<tr>
  <td class="option"><label for="anonymize">{TEXT_ANONYMIZATION}:</label></td>
  <td class="option_value">
		<select name="anonymize" id="anonymize">
			<option value="0"{ANON_SELECTED_OFF}>{ANON_VALUE_OFF}</option>
			<option value="1"{ANON_SELECTED_ON}>{ANON_VALUE_ON}</option>
			<option value="2"{ANON_SELECTED_FREEACCESS}>{ANON_VALUE_FREEACCESS}</option>
		</select>
	</td>
</tr>
<tr>
  <td class="option"></td>
  <td class="option_value"><input type="checkbox" id="showQuestionTitles" name="showQuestionTitles" value="1"{QUESTIONTITLES_CHECKED} /> <label for="showQuestionTitles">{TEXT_SHOW_QUESTIONTITLES}</label></td>
</tr>
<tr>
  <td class="option"><label for="outro">{TEXT_OUTRO}:</label></td>
  <td class="option_value">
	<textarea id="outro" name="outro" cols="80" rows="10">{VALUE_OUTRO}</textarea>
	</td>
</tr>
<tr><td colspan="2" class="submit">
<span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FLD}</span>
<!-- BEGIN command_buttons -->
<div align="right">
<input name="cmd[saveProperties]" type="submit" class="submit" id="save" value="{SAVE}" />&nbsp;&nbsp;<input name="cmd[cancelProperties]" type="submit" class="submit" id="cancel" value="{CANCEL}" />
</div>
<!-- END command_buttons -->
</td></tr>
</table>
</form>
<script type="text/javascript">
	Calendar.setup( 
		{ 
			button : "btn_cal_start_date",
			inputFieldsDate : "start_date"
		} 
	); 
	Calendar.setup( 
		{ 
			button : "btn_cal_end_date",
			inputFieldsDate : "end_date"
		} 
	); 
</script> 
