.panel {
	box-shadow: none;
	border: none;
}

.panel.panel-primary {
	background: @il-primary-container-bg;
}

.panel-heading.ilHeader {
	background: @body-bg;
	padding-left: 0px;
	padding-bottom: 5px;
}