<?php xml version = "1.0" encoding = "UTF-8"?>
<module xmlns="http://www.w3.org" version="$Id: modules.xml 15671 2008-01-04 13:08:30Z akill $"
	id="ilnc">
	<baseclasses>
	</baseclasses>
	<objects>
		<object id="icrs" class_name="iLincCourse" dir="classes" default_pos="230" default_pres_pos="50"
			checkbox="1" inherit="1" translate="0" rbac="1" devmode="0" repository="0">
			<subobj id="rolf" max="1">rolf</subobj>
			<parent id="cat">cat</parent>
			<parent id="crs">crs</parent>
			<parent id="grp">grp</parent>
			<parent id="root">root</parent>
		</object>
		<object id="icla" class_name="iLincClassroom" dir="classes" default_pos="240" default_pres_pos="60"
			checkbox="0" inherit="0" translate="0" rbac="0" devmode="0" repository="0">
			<parent id="icrs">icrs</parent>
		</object>
	</objects>
</module>
