<?xml version = "1.0" encoding = "UTF-8"?>
<module xmlns="http://www.w3.org" version="$Id$" id="copa">
	<baseclasses>
	</baseclasses>
	<objects>
		<object id="copa" class_name="ContentPage" dir="classes" default_pos="340" default_pres_pos="340"
				checkbox="1" inherit="1" translate="db" allow_link="1" allow_copy="1" rbac="1" export="1"
				workspace="0" repository="1" offline_handling="1">
			<parent id="cat">cat</parent>
			<parent id="crs">crs</parent>
			<parent id="fold">fold</parent>
			<parent id="grp">grp</parent>
			<parent id="recf">recf</parent>
			<parent id="root">root</parent>
		</object>
		<object id="cpad" class_name="ContentPageAdministration" dir="classes" checkbox="0" inherit="0" translate="sys" rbac="1" system="1" administration="1">
			<parent id="adm" max="1">adm</parent>
		</object>
	</objects>
	<copage>
		<pageobject parent_type="copa" class_name="ilContentPagePage" directory="classes"/>
	</copage>
</module>
