/* Services/Rating */

img.ilRatingIcon {
	width: 16px;
	height: 16px;
}

img.ilRatingMarker {
	width: 7px;
	height: 7px;
}

a.ilRating {
	text-decoration: none;
}

div.ilRatingOverlay {
   z-index: 1000 !important;
   padding: 0 5px;
   display: none;
}