@use "../../../030-patterns/tool_form-patterns" as *;
@use "../../../050-layout/basics" as *;

.ilInfoScreenSec:not(:first-child) .ilFormHeader {
	margin: $il-standard-form-header-margin;
	border-top: $il-standard-form-header-border;
}

.il_InfoScreenPropertyValue{
	padding-top: calc($il-padding-base-vertical + 1px);
	padding-bottom: calc($il-padding-base-vertical + 1px);

	.ilProfile {
		margin: 0;
	}
}