@use "../../../010-settings/" as *;
@use "../../../010-settings/legacy-settings/legacy-settings_symbol" as *;
@use "../../../010-settings/legacy-settings/legacy-settings_panel" as *;
@use "../../../050-layout/basics" as *;


/* Services/Container */
div.il_Preconditions {
	padding: 10px 0 0;
}

div.il_PreconditionsTitel {
	margin-top: 3px;
	text-align: left;
	font-size: $il-font-size-small;
}

div.ilPreconditionItem {
	margin: 0 -10px;
}

/* Repository */
div.ilContainerListItemOuter {
	padding: $il-padding-xlarge-vertical $il-padding-xlarge-horizontal;
	zoom: 1;

	.subitem {
		margin-right: (-$il-padding-xlarge-horizontal);
	}
}

div.tblfooter {
	&.ilContainerListFooter {
		font-size: $il-font-size-base;
		padding: 3px 0 0 10px;
		text-align: left;
		> input {
			padding: 0;
			margin: 0;
		}
		> label {
			margin: 0;
			padding: 0 0 0 8px;
			vertical-align: top;
		}
	}
}

input[name^="position[blocks]"] {
	margin: 0 0 0 -2px;
}

div.ilListItemSection {
	clear:both;
    max-width: calc(unquote("100% - 40px"));
}

div.ilContainerListItemOuterHighlight {
	background-color: $il-highlight-bg;
	zoom: 1;
}


.ilCLI {
	padding: 0;
}

div.ilContainerListItemCB {
	/*float: left;
	width: 25px;*/
	display: table-cell;
	vertical-align: top;
	padding-right: $il-padding-xlarge-horizontal;

	img{
		width: 20px;
	}
}

div.ilContainerListItemIcon {
	/* margin-top: -3px;
	   float: left;
	position: absolute; */
	display: table-cell;
	vertical-align: top;
}
div.ilContainerListItemIcon a {
	display: block;
	margin-top: -$il-padding-small-vertical;
}

div.ilContainerListItemIconCB {
	margin-left: $il-padding-xlarge-horizontal;
}

div[class^="il_editarea"] .ilContainerListItemOuter img,
img.ilListItemIcon {
	width: $il-icon-size-medium;
	height: $il-icon-size-medium;
	max-width: none;
}

div.ilContainerListItemContent {
	/* margin-left: 35px; */
	display: table-cell;
	vertical-align: top;
	width: 100%;
}

/* If checkbox is activated, add spacing */
div.ilContainerListItemContentCB {
	/* margin-left: 60px; */
}

div.il_ContainerListItem {
	margin: $il-padding-small-vertical 0;
	padding-left: $il-padding-base;
	width:100%;
}

.ilContainerBlockHeader {
	background-color: $il-main-dark-bg;
	padding: $il-panel-heading-padding;
	font-weight: $il-font-weight-base;
	text-align: left;
	vertical-align: middle;
	h3{
		margin: 0;
		color: $il-panel-heading-color;
	}
	//See headings overlays input field in sorting view 32364
	.form-control {
		width: auto;
		display: inline-block;
	}
}

.ilContainerBlockHeaderExpanded, .ilContainerBlockHeaderCollapsed {
	background-repeat: no-repeat;
	background-position: 15px 10px;
	background-size: 20px 20px;
	padding-left: 45px;
	/* padding-top: 6px; */
	background-color: $il-main-dark-bg;
	cursor: pointer;
}


.ilContainerBlockHeaderExpanded {
	background-image: url("#{$il-background-images-path}tree_exp.svg");
}

.ilContainerBlockHeaderCollapsed {
	background-image: url("#{$il-background-images-path}tree_col.svg");
}

.ilContainerBlock {
	width: 100%;
	clear: both;
	margin-bottom: 20px;
	border: $il-panel-border;
	border-radius: $il-panel-border-radius;
	-webkit-box-shadow: $il-panel-shadow;
    box-shadow: $il-panel-shadow;
}

div#cont_paste_explorer_tree ul.il_Explorer {
	margin: 0 0 0 24px;
}

#ilContRepIntro {
	margin: 20px 0 50px 0;
	clear:both;
}

div#ilContRepIntro img {
	float: right;
	width: 150px;
	height: 150px;
}

.ilContObjectiveObjectListItem {
	background-color: $il-main-dark-bg;
}

.ilContObjectiveIntro {
	background-color: $il-main-dark-bg;
	padding: $il-padding-xs-vertical $il-padding-xlarge-horizontal;
}

.ilContObjectivesViewTestItem {
	background-color: $il-main-dark-bg;
	margin-bottom: 10px;
}


.ilContainerTileRows {
	margin: 0px (-$il-padding-xlarge-horizontal) 0 (-$il-padding-xlarge-horizontal);
	padding: $il-padding-large-vertical $il-padding-xlarge-horizontal;
	background-color: $il-main-bg;
}

.ilContainerTileRows .card-no-highlight {
	height: 0px;
}

.ilContainerTileRows .il-chart-progressmeter-container {
	height: 100%;
}

.ilContainerTileRows .il-card h5 button.btn {
	font-size: inherit;
}

.ilContainerShowMore {
	padding: 15px 10px;
	background-color: $il-main-dark-bg;
	text-align: center;
	margin: 0 (-$il-padding-xlarge-horizontal);
}

.il_ContainerListItem .navbar-form .modal .radio {
       display: block;
}

.il_ContainerListItem .navbar-form .modal .form-group {
       display: block;
}

.il_ContainerItemTitle .modal .form-horizontal .radio {
	display: block;
}

.il_ContainerItemTitle .modal .form-horizontal .form-group {
	display: block;
}
.il_ContainerItemTitle .btn {
	font-size: $il-font-size-large;
}
