@use "../../../010-settings/" as *;
@use "../../../050-layout/basics" as *;

/* Services/Style */

.ilPositionStatic {
	position: static;
}

/* PageLayout Previews */

.il-style-layout-preview-wrapper {
	width: 160px;
	height: 120px;
	margin: $il-padding-base-vertical;
	background-color: $il-main-bg;
	border: 0;
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.30);
}

div.ilc_QuestionPlaceHolderThumb,
div.ilc_MediaPlaceHolderThumb,
div.ilc_TextPlaceHolderThumb,
div.ilc_PredTextPlaceHolderThumb {
	margin: 1px;
	padding: 5px 2px 5px 0;
	border: 1px solid $il-neutral-color;
	font-size: $il-font-size-xsmall;
	background: url("#{$il-background-images-path}question_placeholder_thumb.png") no-repeat center;
	background-color: $il-main-bg;
	font-weight: $il-font-weight-bold;
}

div.ilc_MediaPlaceHolderThumb {
	background-image: url("#{$il-background-images-path}media_placeholder_thumb.png");
}

div.ilc_TextPlaceHolderThumb {
	background-image: url("#{$il-background-images-path}text_placeholder_thumb.png");
}

div.ilc_PredTextPlaceHolderThumb {
	background-image: url("#{$il-background-images-path}pred_text_placeholder_thumb.png");
}

div.ilc_HeadlineThumb {
	font-size: $il-font-size-small;
	font-weight: $il-font-weight-bold;
	width: 100%;
	border-bottom: 1px solid $il-neutral-color;
	color: $il-text-color;
	margin: 2px 0 4px;
}
