/* Services/Form */
.form-control-static {
	//needed until bootstrap set min-heigth and padding...
	//no effect without it!
	display: block;
}


.ilFormHeader {
	padding: @il-standard-form-header-padding;
	&:not(:first-child){
		margin: @il-standard-form-header-margin;
		border-top: @il-standard-form-header-border;
	}

	.ilHeader{
		vertical-align: middle;
	}

	.ilFormCmds {
		margin: 0;
		float: right;
	}
	h3 {
		margin: 0;
	}
}

.ilFormHeader, .ilFormFooter {
	color: @il-standard-form-header-color;
	background-color: @il-standard-form-header-bg;
}

.ilSubForm {
	background-color: @il-standard-form-dependant-group-bg;
	padding: @il-padding-base-vertical 0;
	margin-bottom: @il-margin-xlarge-vertical;
	margin-left: @il-margin-xxlarge-horizontal;

	.form-group {
		background-color: @il-standard-form-dependant-group-bg;
		margin: 0;
		@media (max-width: @grid-float-breakpoint-max) {
			margin: @il-margin-large-vertical 0;
		}
	}
	.col-sm-9.il_textarea {
		width: 100%;
	}
}

.ilFormFooter {
	padding: @il-padding-small-vertical @il-padding-xlarge-horizontal @il-padding-small-vertical 0;
}

.ilFormFooter .ilFormCmds {
	text-align: right;
	padding: 0;
}

/* jQuery ui autocomplete menu */
input.ilHFormHighlighted, .ui-state-focus {
	background-color: #ff9;
}

div.ilFormExternalSetting {
	margin-bottom: 10px;
}

div.ilFormExternalSetting ul {
	margin: 2px 0;
	padding-left: 25px;
}

div.ilFormExternalSetting span {
	color: @il-warning-color;
	/* font-style: italic; */
}

div[id^="ilFormField"] {
	margin-bottom: 10px;
}

/* Hierarchy Form */
div.ilHFormHeader, div.ilHFormFooter {
	color: @il-standard-form-header-color;
	background-color: @il-standard-form-header-bg;
	padding: 4px 0 4px 22px;
}

div.ilHFormContent {
	padding: 20px 10px 20px 0px;
	table {
		width:100%;
	}
}

div.ilHFormItem {
	margin-bottom: 5px;
	display: table-row;
}

div.ilHFormHeader .ilFormCmds, div.ilHFormFooter .ilFormCmds {
	float: right;
}

.ilHFormExpIcon, .ilHFormCheckbox, .ilHFormIcon, .ilHFormInput, .ilHFormItemCmd {
}

.ilHFormExpIcon, .ilHFormCheckbox, .ilHFormIcon {
	min-width: 20px;
	padding: 0;
}

.ilHFormItemCmd {
	padding: 0 10px;
}

.ilHFormChilds {

}

.ilHFormExpIcon img, .ilHFormIcon img {
	width: 19px;
	height: 19px;
}

.ilHFormInput, .ilHFormInput input.form-control {
	width: 100%;
}

.wzdrow .form-control {
	height: (@il-font-size-small * @il-line-height-base) + ((2+2*@il-padding-base-vertical) * @il-pixel-to-rem) * 1.35;
}


.ilHFormDropArea {
	margin: 6px 0;
	width: auto;
}

/* experimental: bootstrap'ed file upload */
.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.ilFormInnerCol {
	padding: 0;
}

.ilFormInnerCol .form-group {
	margin: 0;
}

input:invalid {
	background-color:  #ffebeb;
	border-color: @il-danger-color;
}

.bootstrap-datetimepicker-widget {
	z-index: 2000;
}

/* provisory fix for #0021322  */
div[id$="color-picker-menu"] {
	z-index: 3;
}