/* Services/Badge */

img.ilBadgeImage {
	max-width: 150px;
	max-height: 150px;
}

.ilBadgeImageThumbnail a .img-responsive {
	max-width: 50px;
	max-height: 50px;
	display: inline-block;
}

.ilBadgeImageThumbnail .modal .img-responsive {
	margin: auto;
	width: 50%;
	height: auto;
}

div.ilBadgeBackpackPanelContent {
	min-height: 200px;
}

div.ilBadgeBackpackPanelContent img {
	margin: auto;
}

span.ilProfileBadge {
	display: inline-block;
	padding: 5px;

	> a {
		width: 50px;
		height: 50px;
		display: inline-block;

		img {
			margin: auto;
			max-width: 50px;
			max-height: 50px;
		}
	}

	.modal .img-responsive {
		margin: auto;
		width: 50%;
		height: auto;
	}
}

.ilBadgeDeck {
	.modal .img-responsive {
		margin: auto;
		width: 50%;
		height: auto;
	}
}