@use "../../../010-settings/" as *;
@use "../../../030-tools/tool_rem-conversion" as t-rem;
@use "../../../010-settings/legacy-settings/legacy-settings_panel" as *;
@use "../../../050-layout/basics" as *;

/* Services/Accordion */

.il_VAccordionHead, .il_HAccordionHead {
	padding: $il-padding-base-horizontal $il-padding-base-horizontal $il-padding-base-horizontal ($il-padding-base-horizontal+30px);
	text-align: left;
	cursor: pointer;
	color: $il-link-color;
	font-size: $il-font-size-large;
	background-image: url("#{$il-background-images-path}tree_col.svg");
	background-repeat: no-repeat;
	background-color: $il-main-dark-bg;
	background-position: $il-padding-xlarge-horizontal $il-padding-xlarge-vertical;
	background-size: 20px 20px;
	border: 0;
	&:hover {
		background-color: $il-highlight-bg;
	}
}

.il_VAccordionHead {
	display: block;
	width: 100%;
}

.il_VAccordionInnerContainer {
	border: $il-panel-border;
	margin-bottom: $il-margin-xxlarge-vertical;
	border-radius: $il-panel-border-radius;
}

.il_VAccordionContent, .il_HAccordionContent {
	padding-top: $il-padding-xlarge-vertical;
}
.il_HAccordionHeadActive, .il_VAccordionHeadActive {
	background-image: url("#{$il-background-images-path}tree_exp.svg");
	background-color: $il-highlight-bg;
}

.ilAccHideContent {
	width: 0px;
	height: 0px;
	display: none;
}

.il_VAccordionContentDef, .il_HAccordionContentDef {
    > div {
        //overflow: auto;
		//was added for #17978, yet removed for #20719
		//seems yet useless
    }
}

div.ilc_va_icont_VAccordICont {
    overflow: visible !important;
}