body {
	background-color: #91A2B6; 
	background : url('images/bathtile2.jpg'); 
	font-family: Arial, Helvetica, sans-serif;
}

body.il_Explorer {
	background-color: #91A2B6; 
	background : url('images/bathtile_leer.jpg'); 
	font-family: Arial, Helvetica, sans-serif;
}

// Header: Kopfleiste mit Buttons
table.toolbar {background-image: url('images/toolbarbg.gif');font-size:1pt;}
TD.toolbar {background-image: url('images/toolbarbg.gif');font-size:1pt;}
A:link.toolbar {color: #91A2B6; text-decoration: none;font-family: Arial, Helvetica, sans-serif; font-size:1pt;}
A:visited.toolbar {color: #91A2B6; text-decoration: none;font-family: Arial, Helvetica, sans-serif; font-size:1pt;}
A:hover.toolbar {color: #EEEEEE;text-decoration: none;font-family: Arial, Helvetica, sans-serif ;font-size:1pt;}

td {
	font-family: Arial, Helvetica, sans-serif; 
}

.btnbar {
	background-color:#006699;
}

input, textarea {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:13px;
}

a.menu:link, a.menu:visited {
	color:#a0c0ff;
	text-decoration:underline;
}

a.menu:hover {
	color:#ff9900;
}

span.il_menu {
	color:#f7f7f7;
}

/* ---------------- alternating tablerowcolors ----------------- */

.tblrow2 {
	color:#222222;
	background-image: url('images/steelgraulight.jpg'); 
	background-color:#E2E2E2;
	font-size:13px;
	padding:3px;
}

.tblrow1 {
	color:#222222;
	background-image: url('images/steel1.jpg'); 
	background-color:#F2F2F2;
	font-size:13px;
	padding:3px;
}

/* -------------------- table formatting ------------------ */

table.std {
	border-spacing: 0px;
	border-collapse:collapse;
	background-color:#FFFFFF;
	width: 100%;
}

table.fullwidth {
	width: 100%;
	background-color:#FFFFFF;
	border-spacing:0px;
	border-collapse:collapse;
	padding: 0px;
	margin: 0px;
}

table.fullwidth_invisible {
	width: 100%;
	border-spacing:0px;
	border-collapse:collapse;
	padding: 0px;
	margin: 0px;
}

table.il_InfoScreen {
	border-spacing: 0px;
	border-collapse:collapse;
	background-image: url('images/steel1.jpg'); 
	width: 100%;
	color:#000000; 
	background-color: #FFFFFF;
	
}

th.il_InfoScreen {
	border:0px solid #000000; 
	background-image: url('images/steelkante.jpg'); 
	color:#000000; 
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif; 
}

table.il_PDBlock {
	width: 100%;
}

table.il_ColumnLayout 
{
	border-spacing: 0px;
	border-collapse:collapse;
	background-color:#FFFFFF;
	width: 100%;
}

table.il_ContainerBlock 
{
	border-spacing: 0px;
	border-collapse:collapse;
	padding: 0px;
	margin: 0px;
	background-color:#FFFFFF;
	width: 100%;
}

th.il_ContainerBlockHeader
{
	padding:0px;
	background:#B5B5B5 url('images/steelgraudunkel.gif'); 
	color:#FFFFFF; 
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:16px;
	background-color:#B5B5B5
}

td.infobox {
	font-size:13px;
	border:1px solid #000000; 
	padding:3px;
}

td.std {
	padding:3px;
}

/* -------------------- Table-Headlines ---------------------*/

.pgtitle {
	border:0px solid #000000; 
	background-image: url('images/fill1.gif'); 
	color:#ffffff; 
	font-weight: bold;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif; 
	background-color:#4A5681
}

.tbltitle {
	border-spacing: 0px;
	border:0px solid #000000; 
	background:#B5B5B5 url('images/steelgraudunkel.gif'); 
	color:#FFFFFF; 
	font-weight: bold;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif; 
	background-color:#B5B5B5
}

.tblheader {
	border-spacing: 0px;
	border:0px solid #000000; 
	background-image: url('images/steelgraulight.jpg'); 
	color:#000000; 
	font-weight: bold;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif; 
}

.tblsubheader {
	border-spacing: 0px;
	border:0px solid #000000; 
	background-image: url('images/steelkante.jpg'); 
	color:#000000; 
	font-weight: bold;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif; 
}

.tblfooter {
	border:0px solid #000000; 
	background:#B5B5B5 url('images/steelgraudunkel.gif'); 
	color:#FFFFFF; 
	font-family:Arial, Helvetica, sans-serif; 
	background-color:#B5B5B5
}

th.il_PDBlockHeader
{
	font-size:13px;
}

th.il_PDBlockSubHeader
{
	border-spacing: 0px;
	border:0px solid #000000; 
	background:#B5B5B5 url('images/steelgraudunkel.gif'); 
	color:#FFFFFF; 
	font-weight: bold;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif; 
	background-color:#B5B5B5
}

td.option {
	padding:3px;
	border-bottom:1px solid #000000;
}

td.option_value {
	padding:3px;
	border-bottom:1px solid #000000;
}

td.submit {
	background:#d0d0d0 url('images/steelgraulight.jpg'); 
	color:#222222;
	padding:3px;
	font-size:13px;
	vertical-align:top;
}

/* must reset all values of td style */
td.il_no_style {
	font-size:normal;
	font-weight:normal;
	background-image:none;
	background-color:white;
}

/* locator */

div.locator {
	padding-top:2px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:2px;
	font-size:13px;
	vertical-align:top;
	text-align:left;
	background-color:#dddddd;
	border-width:2px;
	border-style:solid;
	border-color:#606060;
}


/* ---------------- headlines ------------------ */

h1 {
	font-size:16px;
	font-family: Arial, Helvetica, sans-serif;	
	color: #213499;	
	font-weight: bold;
	white-space:nowrap;
}

h2 {
	font-size:16px;
	font-family: Arial, Helvetica, sans-serif;	
	color: #213499;	
	font-weight: bold;
	color:#222222;
}

/* ----------------- invisible border ------------- */
div.top_border {
	margin:0px;
	padding-top:10px;
	padding-bottom:5px;
	padding-right:15px;
	padding-left:15px;
	background-color: black;
}
div.invisible_border {
	margin-top:12px;
	margin-bottom:12px;
	margin-right:15px;
	margin-left:15px;
}

div.il_Footer
{
	margin-top:30px;
	margin-bottom:10px;
	font-size: 10px;
	text-align:center;
}

/* ----------------- alternative text styles ------------- */
.small {
	text-decoration:none;
	font-size:11px;
}

.smallgreen {
	text-decoration:none;
	font-size:11px;
	color:green;
}

.smallred {
	text-decoration:none;
	font-size:11px;
	color:red;
}

.warning {
	text-decoration:none;
	font-weight:bold;
	color:red;
}

.asterisk {
	color:red;
	font-size:11px;
}

.default {
	text-decoration:none;
	font-weight:normal;
}

.quote {
	font-style:italic;
	font-weight:normal;
}

.subtitle {
	font-style:italic;
	font-weight:normal;
	font-size:11px;
}

.moderator_small {
	text-decoration:none;
	font-size:11px;
	color:red;
}

.moderator {
	text-decoration:none;
	font-size:13px;
	color:red;
}

.bold {
	font-weight:bold;
}

/* ----------------- normal links ------------- */
a {
	color:#213499; 
	text-decoration : none;	
	font-family: Arial, Helvetica, sans-serif;
}

a:hover {
	color: #FF3333; 
	text-decoration : none;	
	font-family: Arial, Helvetica, sans-serif;
}

/* ------------------- mail links ----------- */
a.mailread
{
	font-weight:normal;
	color:blue;
}

a.mailunread
{
	color:blue;
	font-weight:bold;
}

/* ------------------ buttons -------------- */

.btn {
	background-image: url('images/button-leer.gif');
	border:1px solid #777777; 
	color:#000000;
	font-size:10px;
}

input.submit {
	background-image: url('images/button-leer.gif');
	border:1px solid #777777; 
	padding-top:2px;
	padding-bottom:2px;
	padding-right:14px;
	padding-left:14px;
	color:#000000;
	font-size:10px;
	text-decoration:none;
}

a.submit {
	background-image: url('images/button-leer.gif');
	padding-top:3px;
	padding-bottom:3px;
	padding-right:14px;
	padding-left:14px;
	border:1px solid #777777; 
	color:#000000;
	font-size:10px;
	text-decoration:none;
	vertical-align:middle;
}

div.il_ContainerItemCommands {
	padding-top:4px;
	padding-bottom:4px;
	padding-right:15px;
	padding-left:15px;
	font-size:10px;
	white-space:nowrap;
}

a.il_ContainerItemCommand {
	background-image: url('images/button-leer.gif');
	padding-top:3px;
	padding-bottom:3px;
	padding-right:14px;
	padding-left:14px;
	border:1px solid #777777; 
	color:#000000;
	font-size:10px;
	text-decoration:none;
	vertical-align:center;
	white-space:nowrap;
}

a.btn {
	color:#000000;
	border:0px solid #777777; 
	font-size:10px;
	text-decoration:none;
	vertical-align:middle;
}

a.tblheader:visited, a.tblheader:hover  {
	color:#ffffff;
}

a.tblfooter:visited, a.tblfooter:hover  {
	color:#ffffff;
}

a.btn:visited {
	font-size:10px;
	color:#000000;
}

a.btn:hover {
	font-size:10px;
	color:#AA0000;
}

.message {
	color:#dd0000;
	line-height:25px;
	font-weight:bold;
	text-align:center;
	vertical-align:top;
}

/* ------------------ tabs -------------- */
td.links1 {background-image: url('images/fill2.gif');}
td.linksinfo {background-image: url('images/steel1info.jpg');}
td.links1a {background-image: url('images/fill3.gif');}

td.reiter {
	background-image: url('images/steel1info.jpg');
	font-weight:bold;
	font-size:13px;
}

td.reiter3 {
	background-image: url('images/reiter3.jpg');
}

td.reiterunten {
	background-image: url('images/reiter3.jpg');
}

.tab {
	font-size:11px;
	color:#000000;
	background-image: url('images/steelblau4.jpg');
}

td.subtab {
	padding-top: 2px;
	padding-bottom: 2px;
	border-spacing: 2px;
	border-collapse:collapse;
	vertical-align:top;
	font-size:11px;
	color:#000000;
	background-image: url('images/steelkante2.jpg');
}

A:link.tablink { color: #000000; font-family: Arial, Helvetica, sans-serif; font-weight: bold;font-size:10pt;}
A:visited.tablink { color: #000000; text-decoration : none; font-family: Arial, Helvetica, sans-serif; font-weight: bold;font-size:10pt;}
A:hover.tablink {color: #FF3333;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size:10pt;}

a.tabactive {
	background-image: url('images/tab_pfeilrot.gif');
	color: #000000; 
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: bold;
	font-size:10pt;
}
a:visited.tabactive {
	color: #000000; 
}
a:hover.tabactive {
	color: #FF3333; 
}

a.tabinactive {
	background-image: url('images/tab_pfeilweiss.gif');
	color: #000000; 
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: bold;
	font-size:10pt;
}
a:visited.tabinactive {
	color: #000000; 
}
a:hover.tabinactive {
	color: #FF3333; 
}

a.subtabactive {
	background-image: url('images/subtab_pfeilrot.gif');
	padding-top: 3px;
	padding-bottom: 2px;
	color: #000000; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size:10pt;
}
a:visited.subtabactive {
	color: #000000; 
}
a:hover.subtabactive {
	color: #FF3333; 
}

a.subtabinactive {
	background-image: url('images/subtab_pfeilgrau.gif');
	color: #555555; 
	padding-top: 3px;
	padding-bottom: 2px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size:10pt;
}
a:visited.subtabinactive {
	color: #555555; 
}
a:hover.subtabinactive {
	color: #FF3333; 
}

/* --- to prevent tab-images from spacing when using DOCTYPE xhtml --- */
img.imgtab {
	display:block;
}

/* ------------------ Explorer -------------- */

a.treelink {
	color:#000000;
	border:0px solid #000000; 
	font-size:11px;
	text-decoration:none;
	vertical-align:middle;
}

ul.il_Explorer {
	list-style-image:url('images/forumgrau.gif')
}

ul.il_ExplorerNoIndent {
	list-style-image:url('images/blank.gif')
}

il.il_Explorer {
	list-style-image:url('images/forumgrau.gif')
}

/* ------------------ content window body tag (not used yet) -------------- */
.content {
	margin:0px;
}

/* --- Editor styles ---*/
div.il_editarea
{
	border-style: dotted;
	border-width: 1px;
}

div.ilc_Disabled {
	margin-left: -10px;
	padding-left: 10px;
	border-left: 3px dotted red;
}


/* ------------------ blind image - spacer gif --------------
   please use this style class always when using this blind image */
img.spacer {
	display:block;
}