<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
     "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{LOCATION_STYLESHEET}" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>

<frameset cols="30%,70%" frameborder="0" framespacing="0" border="0">
<frame src="{TREE_CONTENT}" name="tree" marginwidth="0" marginheight="0" scrolling="auto" />
<frame src="{MAIN_CONTENT}" name="content" marginwidth="0" marginheight="0" scrolling="auto" />
<noframes>
The administration interface requires a <b>frames-capable</b> web browser.
</noframes>
</frameset>

</html>
