<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td valign="top">
<!-- BEGIN selected_items -->
{SELECTED_ITEMS}
<!-- END selected_items -->
</td>
<td>
<img class="spacer" src="{IMG_SPACE}" border="0" width="20" height="1" />
</td>
<td valign="top" width="250">
<table cellspacing="0" cellpadding="0" border="0" width="250"><tr class="blank"><td background="./templates/studip/images/seminare.jpg" width="250" height="108">
&nbsp;
</td></tr><tr><td class="infobox">

{FEEDBACK}

{NOTES}
<br>
<!-- BEGIN tbl_users -->
<table class="il_PDBlock">
<tr>
	<th class="il_PDBlockHeader" colspan="3"><div style="float:left;"><img src="./templates/studip/images/nutzer.gif">{TXT_USERS_ONLINE}</div>
		<div class="il_ContainerItemCommands" style="float:right;">
		<a class="il_ContainerItemCommand" href="{LINK_USER_DETAILS}">{TXT_USER_DETAILS}</a></div>
	</th>
</tr>
<tr>
	<th class="il_PDBlockHeader" valign="top" colspan="3">{USER_LIST}</th>
</tr>
<!-- BEGIN tbl_users_row -->
<tr class="{ROWCOL}">
	<td class="std" valign="middle" align="center" width="1%">{NO_IMAGE}
		<!-- BEGIN usr_image -->
		<img border="0" src="{USR_IMAGE}" title="{USR_ALT}" alt="{USR_ALT}" style="vertical-align:text-bottom" />
		<!-- END usr_image -->
	</td>
	<td class="std" valign="top">
		<span class='navigation'>{USR_FULLNAME}</span>
		<br />{USR_LOGIN}
		<!--  BEGIN chat_info -->
		<div class="il_Description_no_margin">
		{CHAT_ACTIVE_IN}<a  href="{CHAT_LINK}" target="_blank">{CHAT_TITLE}</a>
		</div>
		<!--  END chat_info -->
	</td>
	<td class="std" valign="top" nowrap="1" align="right">
		<div class="il_ContainerItemCommand">
		<!-- BEGIN profile_link -->
		<a class="il_ContainerItemCommand" href="{LINK_PROFILE}">{TXT_VIEW}</a>
		<!-- END profile_link -->
		<!-- BEGIN mailto_link -->
		<a class="il_ContainerItemCommand" href="ilias.php?baseClass=ilMailGUI&type=new&rcp_to={USR_LOGIN}">{TXT_MAIL}</a>
		<!-- END mailto_link -->
		<!-- BEGIN chat_link -->
		<a class="il_ContainerItemCommand" href="{CHAT_LINK}" target="_blank">{TXT_CHAT_INVITE}</a>
		<!-- END chat_link -->
		</div>
	</td>
</tr>
<!-- END tbl_users_row -->
</table>
<!-- END tbl_users -->
<br>
{BOOKMARKS}

<!-- BEGIN tbl_tst -->
<h2>{TXT_TST_HEADER}</h2>
<table class="fullwidth">
<!-- BEGIN tbl_tstheader -->
  <tr>
    <th class="il_PDBlockHeader"><b>{TXT_TST_TITLE}</b></th>
  </tr>
<!-- END tbl_tstheader -->
<!-- BEGIN tbl_tst_row -->
  <tr class="{ROWCOL}">
    <td class="std">
<!-- BEGIN linked_test -->
    <a href="{TST_LINK}" class="navigation" target="bottom">{TST_TITLE}</a>
<!-- END linked_test -->
<!-- BEGIN unlinked_test -->
    {TST_TITLE_UNLINKED}
<!-- END unlinked_test -->
    &nbsp;[<a href="{DROP_LINK}" class="navigation">{TXT_DROP}</a>]
    </td>
  </tr>
<!-- END tbl_tst_row -->
<!-- BEGIN tbl_no_tst -->
  <tr class="{ROWCOL}">
    <td class="std" colspan="2">{TXT_NO_TST}</td>
  </tr>
<!-- END tbl_no_tst -->
</table>
<!-- END tbl_tst -->
</td></tr></table>
<br>
    </td>

  </tr>
</table>