<div class="ilMainHeader">
<div class="il_MainMenu">
<table class="toolbar" border="0" width="100%" cellspacing="0" cellpadding="0">
<tr valign="top">
<td width="40%" class="toolbar">
	<table class="toolbar" border="0" width="100%" cellspacing="0" cellpadding="0">
		<tr>
		<!-- BEGIN desktopbutton -->
		<td class="toolbar" align="center"><img border="0" src="./templates/studip/images/blank.gif" height="1" width="45"><br><a class="toolbar" href="{SCRIPT_DESK}" target="{TARGET_DESK}"><img border="0" src="./templates/studip/images/home.gif"  alt="{TXT_PERSONAL_DESKTOP}" title="{TXT_PERSONAL_DESKTOP}" ><br><img src="./templates/studip/images/blank.gif" border="0" height="6" width="40"><br><b><font size="2">Desktop</font></b></a></td>
		<!-- END desktopbutton -->
		<td class="toolbar" align="left"><img border="0" src="./templates/studip/images/blank.gif" height="1" width="45"><br><a class="toolbar" href="{SCRIPT_CATALOG}" target="{TARGET}"><img border="0" src="./templates/studip/images/meinesem.gif"  alt="{TXT_CATALOG}" title="{TXT_CATALOG}" ><br><img src="./templates/studip/images/blank.gif" border="0" height="6" width="40"><br><b><font size="2">{TXT_CATALOG}</font></b></a></td>
		<td class="toolbar" width="99%">
		&nbsp; 
		</td>
		</tr>
	</table>
</td>
<td width="20%" align="center">
	<table class="toolbar" border="0" width="100%" cellspacing="0" cellpadding="0">
		<tr align="center" valign="top">
		<td class="toolbar" align="center"><a class="toolbar" href="http://www.ilias.de" target="_top"><img border="0" src="./templates/studip/images/headerlogo-ilias.gif"  alt="ILIAS" title="ILIAS" ><br><img src="./templates/studip/images/blank.gif" border="0" height="6" width="40"><br><b><font size="2">www.ilias.de</font></b></a></td>
		</tr>
	</table>
</td>
<td width="40%" align="right">
	<table class="toolbar" border="0" width="100%" cellspacing="0" cellpadding="0">
		<tr valign="top">
		<td class="toolbar" width="99%">
		&nbsp; 
		</td>
		<!--<td class="toolbar" align="right"><img border="0" src="./templates/studip/images/blank.gif" height="1" width="45"><br><a class="toolbar" href="ilias.php?cmdClass=ilpersonalprofilegui&cmdNode=28&baseClass=ilPersonalDesktopGUI" target="bottom"><img border="0" src="./templates/studip/images/einst.gif"  alt="Profile" title="Profile" ><br><img src="./templates/studip/images/blank.gif" border="0" height="6" width="40"><br><b><font size="2">Profil</font></b></a></td>-->
		<!-- BEGIN searchbutton -->
		<td class="toolbar" align="center"><img border="0" src="./templates/studip/images/blank.gif" height="1" width="45"><br><a class="toolbar" href="{SCRIPT_SEARCH}" target="{TARGET_SEARCH}"><img border="0" src="./templates/studip/images/suchen.gif"  alt="{TXT_SEARCH}" title="{TXT_SEARCH}" ><br><img src="./templates/studip/images/blank.gif" border="0" height="6" width="40"><br><b><font size="2">{TXT_SEARCH}</font></b></a></td>
		<!-- END searchbutton -->
		<!-- BEGIN userisadmin -->
		<td class="toolbar" align="center"><img border="0" src="./templates/studip/images/blank.gif" height="1" width="45"><br><a class="toolbar" href="{SCRIPT_ADMIN}" target="{TARGET_ADMIN}"><img border="0" src="./templates/studip/images/admin.gif"  alt="{TXT_ADMINISTRATION}" title="{TXT_ADMINISTRATION}" ><br><img src="./templates/studip/images/blank.gif" border="0" height="6" width="40"><br><b><font size="2">{TXT_ADMINISTRATION}</font></b></a></td>
		<!-- END userisadmin -->
		<td class="toolbar" align="left"><img border="0" src="./templates/studip/images/blank.gif" height="1" width="45"><br>
		<!-- BEGIN userisloggedin -->
		<a class="toolbar" href="#" target=""><img border="0" src="./templates/studip/images/info_header.gif"  onClick="alert('{TXT_LOGIN_AS} {USERNAME}');" alt="{TXT_LOGIN_AS} {USERNAME}" title="{TXT_LOGIN_AS} {USERNAME}" ><br><img src="./templates/studip/images/blank.gif" border="0" height="6" width="40"><br><b><!--<font size="2">{USERNAME}</font>--></b></a>
			<!-- END userisloggedin -->
		<br><img border="0" src="./templates/studip/images/blank.gif" height="4" width="30"></td>
		<!-- BEGIN userhelp -->
		<td class="toolbar" align="right"><img border="0" src="./templates/studip/images/blank.gif" height="1" width="45"><br><a class="toolbar" href="{SCRIPT_HELP}" target="{TARGET_HELP}"><img border="0" src="./templates/studip/images/hilfe.gif"  alt="{TXT_HELP}" title="{TXT_HELP}" ><br><img src="./templates/studip/images/blank.gif" border="0" height="6" width="40"><br><b><font size="2">{TXT_HELP}</font></b></a></td>
		<!-- END userhelp -->
		<!-- BEGIN userisanonymous -->
		<td align="right" nowrap="nowrap" style="padding:5px 20px 5px 0px;" width="1px">
		<div class="ilLogin">
		<span class="il_menu">{TXT_NOT_LOGGED_IN}!&nbsp;&nbsp;</span>
		</div>
		</td>
		<!-- END userisanonymous -->
		<!-- BEGIN userisloggedin -->
		<div class="ilLogin">
		<td class="toolbar" align="center"><img border="0" src="./templates/studip/images/blank.gif" height="1" width="45"><br><a class="toolbar" href="{LINK_LOGOUT2}" target="_top"><img border="0" src="./templates/studip/images/logout.gif"  alt="{TXT_LOGOUT2}" title="{TXT_LOGOUT2}" ><br><img src="./templates/studip/images/blank.gif" border="0" height="6" width="40"><br><b><font size="2">{TXT_LOGOUT2}</font></b></a></td>
		</div>
		<!-- END userisloggedin -->
		</tr>
	</table>
</td>
</tr>
</table>
</div>
</div>