<table width="100%" cellpadding="6">
<tr><td>
<!--	<span class="il_LocatorTitle">{TXT_LOCATOR}</span> -->
	<!-- BEGIN locator_item -->
	<!-- BEGIN locator_separator_prefix -->
<!--	> -->
	<!-- END locator_separator_prefix -->
<!--	{PREFIX}<a class="il_LocatorLink" href="{LINK_ITEM}" {LINK_TARGET}>{ITEM}</a> -->
	<!-- BEGIN locator_separator -->
<!--	> -->
	<!-- END locator_separator -->
	<!-- END locator_item -->
{MAINMENU}
{STATUSLINE}
<div class="il_HeaderOuter">
<div class="il_Header">
<div class="il_HeaderInner">
<table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0"><tr><td class="reiter">	
	&nbsp;&nbsp;&nbsp;&nbsp;{HEADER}&nbsp;&nbsp;
	&nbsp;&nbsp;<img src="./templates/studip/images/reiter4.jpg" align="absmiddle">
</td></tr></table>
{TABS}
<table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" width="100%"><tr><td><br></td></tr>
<tr><td class="pgtitle" colspan="3">&nbsp;<!--<img src="./pictures/icon-lern.gif" align="texttop">&nbsp;-->
<!-- BEGIN header_image --><img style="vertical-align:middle" <!-- BEGIN header_image_desc -->alt="{IMAGE_DESC}"<!-- END header_image_desc --> border="0" src="{IMG_HEADER}" id="headerimage" />&nbsp;<!-- END header_image -->
{HEADER}
</td></tr><tr><td>
<br>
<div class="il_Description">{H_DESCRIPTION}</div>
<div style="clear:both;"><!-- BEGIN stop_floating -->&nbsp;<!-- END stop_floating --></div>
<div style="margin-left:15px; clear:both;">{SUB_TABS}</div>