{RELOAD}
<table width="100%" cellpadding="6">
	<table class="toolbar" border="0" width="100%" cellspacing="0" cellpadding="0" height="25">
		<tr>
<td class="toolbar" align="center"><a class="toolbar" href="http://www.ilias.de" target="_top"><img border="0" src="./templates/studip/images/headerlogo-ilias.gif"  alt="ILIAS" title="ILIAS" ><br><img src="./templates/studip/images/blank.gif" border="0" height="6" width="40"><br><b><font size="2">www.ilias.de</font></b></a><br><img border="0" src="./templates/studip/images/blank.gif" height="4" width="30"></td>
		</tr>
	</table>
<!-- BEGIN cookies_howto -->
[<a href="nocookies.php?lang={LANG_ID}" target="_blank">{COOKIES_HOWTO}</a>]
<!-- END cookies_howto -->

<table width="75%" align="center" border=0 cellpadding=0 cellspacing=0 bgcolor="#FFFFFF">
<tr><td class="pgtitle"><img src="./templates/studip/images/login.gif" border="0"><b>&nbsp;{TXT_ILIAS_LOGIN}</b></td></tr>
<tr><td class="blank">
<table width=100% class=blank border=0 cellpadding=0 cellspacing=0>
<form method="post" action="{FORMACTION}" name="formlogin">
<tr><td class=blank><blockquote>
	<br>
	<p class="warning">&nbsp;{TXT_MSG_LOGIN_FAILED}&nbsp;</p>

	<table border=0 class="steel1" align="left" cellspacing=0 cellpadding=4>
		<tr valign=top align=left>
		<td class="steel1" align="right">{TXT_USERNAME}</td>
		<td class="steel1"><input type="text" name="username" value="{USERNAME}"/></td>
		  </tr>
		<tr valign=top align=left>
		<td class="steel1" align="right">{TXT_PASSWORD}</td>
		<td class="steel1"><input type="password" name="password" value="{PASSWORD}"/></td>
		  </tr>
		  <tr>
		<td class="steel1" colspan="2" align="center"><input class="submit" type="submit" name="butSubmit" value="{TXT_SUBMIT}"/></td>
		  </tr>
	</table>
	</blockquote></td>
	<td align=right class="blank" valign=top><img src="./templates/studip/images/maus.jpg"></td></tr>
	<tr><td class="blank" colspan=2>&nbsp;</td></tr>
</form>
</table>

<div align="center">
<p>
<!-- BEGIN new_registration -->
[<a href="register.php?lang={LANG_ID}">{REGISTER}</a>]
<!-- END new_registration -->
<!-- BEGIN homelink -->
[<a href="./index.php{CLIENT_ID}">{TXT_HOME}</a>]
<!-- END homelink -->
<!-- BEGIN password_assistance -->
[<a href="pwassist.php?lang={LANG_ID}">{FORGOT_PASSWORD}</a>]
<!-- END password_assistance -->
<!-- BEGIN password_assistance -->
[<a href="pwassist.php?lang={LANG_ID}&cmd=forgot_username">{FORGOT_USERNAME}</a>]
<!-- END password_assistance -->

</p>
<p><form name="languageselection" action="{LANG_FORM_ACTION}"
method="post">
<select name="lang" onChange="this.form.submit()"> 
<option value="">{TXT_CHOOSE_LANGUAGE}</option>
<!-- BEGIN languages -->
<option value="{LANG_KEY}" {SELECTED_LANG}>{LANG_NAME}</option>
<!-- END languages -->
</select>
<input class="submit" type="submit" value="{TXT_OK}"/>
</form>
</p>
<p>[<a href="view_usr_agreement.php?lang={LANG_ID}">{USER_AGREEMENT}</a>]</p>

</div>
</td></tr>
</table>
<br>
&nbsp;{ILIAS_RELEASE}
</td></tr></table>

<script language="JavaScript">
<!--
	if(document.formlogin.username.value!="") document.formlogin.password.focus();
	else document.formlogin.username.focus();
//-->
</script>