<table width="100%" style="padding: 6px;padding-top:0px;">
<tr><td>
{STATUSLINE}
<div class="il_HeaderOuter">
<div class="il_Header">
<div class="il_HeaderInner">
<!-- BEGIN tree_icons -->
{TABS}
<table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" width="100%">
<tr><td class="pgtitle" colspan="3">&nbsp;
<!-- BEGIN header_image --><img align="absmiddle" <!-- BEGIN header_image_desc -->alt="{IMAGE_DESC}"<!-- END header_image_desc --> border="0" src="{IMG_HEADER}" id="headerimage" />&nbsp;<!-- END header_image -->
{HEADER}&nbsp;&nbsp;
<!-- BEGIN top -->
<a class="{CLASS_TOP}" href="{LINK_TOP}" <!-- BEGIN target_top -->target="{TARGET_TOP}"<!-- END target_top --> id="imgtop"><img src="{IMG_TOP}" border="0" align="absmiddle"/></a>&nbsp;
<!-- END top -->
</td></tr><tr><td>
<br>
<div style="clear:both;">{SUB_TABS}</div>
<table cellpadding="5" width="100%" align="center"><tr><td>
	<div style="float:right; margin-right:15px;  margin-top:5px;">
		<!-- BEGIN tree_mode -->
		<div class="viewmode">
		<a class="{CLASS_TREE}" href="{LINK_MODE}" target="bottom" id="imgtree"><img src="{IMG_TREE}" border="0" /></a><br>
		</div>
		<!-- END tree_mode -->
	</div>
	<!-- END tree_icons -->
<div class="il_Description" style="float:left;">{H_DESCRIPTION}</div>
<div style="clear:both;"><!-- BEGIN stop_floating -->&nbsp;<!-- END stop_floating --></div>
<br>
<table class="il_ColumnLayout"><tr>
<!-- BEGIN left_column -->
<td class="il_LeftColumn">{LEFT_CONTENT}</td>
<!-- END left_column -->
<td class="il_CenterColumn">
	<!-- BEGIN add_commands -->
	<form class="il_Form" action="{H_FORMACTION}" method="post">
	<div style="text-align:right; margin-bottom:10px;">
	{SELECT_OBJTYPE_REPOS}
	<input class="submit" type="submit" name="cmd[{BTN_NAME_REPOS}]" value="{TXT_ADD_REPOS}" />
	</div>
	</form>
	<!-- END add_commands -->
{BUTTONS}
{MESSAGE}
</td></tr></table>
{ADM_CONTENT}
{OBJECTS}
{SYSTEMSETTINGS}
<br>
</td>
<!-- BEGIN right_column -->
<td class="il_RightColumn">{RIGHT_CONTENT}</td>
<!-- END right_column -->
</tr></table>
</td></tr></table>
</div>
</div>
</div>
</td></tr></table>