<form action="{FILTER_ACTION}" class="il_Form" METHOD="post">
	<table class="std">
	<tr class="tblheader">
		<td class="std" rowspan="3">{TBL_TITLE}
		</td>
		<td class="option">
		{TXT_QUERY}
		</td>
		<td class="option_value">
		<input type="text" name="query" value="{QUERY}" size="32" maxsize="64" />
		</td>
		<td class="option">
		{TYPES}
		</td>
		<td class="option_value">
		{TYPE_SELECTOR}
		</td>
	</tr>
	<tr>
		<td class="option">
		{TXT_HIDDEN}
		</td>
		<td nowrap="{NOWRAP}"  class="option_value">
			{HIDDEN_SELECTOR}
			<!-- BEGIN editable -->
			<input class="submit" type="SUBMIT" name="cmd[updateHidden]" value="{BTN_SHOW}"/>
			<!-- END editable -->
		</td>
		<td  class="option">
		{TXT_AREA}
		</td>
		<td  class="option_value">
		{FILTER_AREA}&nbsp;
		<a class="il_ContainerItemCommand" href="{HREF_UPDATE_AREA}">{UPDATE_AREA}</a>
		</td>
	</tr>
	<tr>
		<td class="submit" colspan="4" style="text-align:right;">
		<input class="submit" type="SUBMIT" name="cmd[refresh]" value="{BTN_REFRESH}"/>
		</td>
	</tr>
	</table>
</form>
