<tr class="{CSS_ROW}">
<td class="std small">
{VAL_LOGIN}
<!-- BEGIN inactive_bl -->
<div class="il_ItemProperties">
	<span class="il_ItemAlertProperty">{TXT_INACTIVE}</span>
</div>
<!-- END inactive_bl -->
</td>
<!-- BEGIN objects -->
<td class="std small">
{VAL_STATUS} {VAL_PERCENTAGE}
<!-- BEGIN warning_img -->
<img border="0" src="{WARNING_IMG}" alt="{WARNING_ALT}" title="{WARNING_ALT}" />
<!-- END warning_img -->
</td>
<!-- END objects -->
<!-- BEGIN user_field -->
<td class="std small">
{VAL_UF}
</td>
<!-- END user_field -->
</tr>