	  <tr>
		<td class="{ROW_CLASS}" width="1%">
		  {CHECK_TRAC}
		</td>
		<td class="{ROW_CLASS}">
			<img src="{TYPE_IMG}" alt="{ALT_IMG}" title="{ALT_IMG}" /> <a href="{COLL_LINK}" target="{COLL_FRAME}">{COLL_TITLE}</a>
		  <!-- BEGIN description -->
		  <div class="il_Description_no_margin">{COLL_DESC}</div>
		  <!-- END description -->
		  <div class="il_info">{COLL_MODE}&nbsp;<span class="il_ItemAlertProperty">{ANONYMIZED}</span></div>
		  <div class="il_info">{COLL_PATH}</div>
		</td>
		<td class="{ROW_CLASS}">
		  <div align="center">
			<img src="{ASSIGNED_IMG_OK}" alt="{ASSIGNED_STATUS}" 
			  title="{ASSIGNED_STATUS}" border="0" vspace="0" align="center" valign="center"/>
		  </div>
		</td>
	  </tr>
