	{LM_INFO}
	<br />
	<form action="{FORMACTION}" method="post">
	  <table class="fullwidth" border="0">
		<tr class="tbltitle">
		  <th class="std" colspan="5">
			<img border="0" src="{HEADER_IMG}" alt="{HEADER_ALT}" title="{HEADER_ALT}" />
			<span style="vertical-align:top;">&nbsp;{BLOCK_HEADER_CONTENT}</span>
		  </th>
		</tr>
		<tr class="tblheader">
		  <th class="std" width="60%"></th>
		  <th class="std" width="10%"><div align="center">{HEAD_STATUS}</div></th>
		  <!-- BEGIN timings_header -->
		  <th class="std" width="15%"><div align="center">{HEAD_TIMING}</div></th>
		  <th class="std" width="10%"><div align="center">{HEAD_TIME_PASSED}</div></th>
		  <!-- END timings_header -->
		  <th class="std" width="10%">{HEAD_OPTIONS}</th>
		</tr>
		<!-- BEGIN container_standard_row -->
		<tr class="{TBLROW}">
		  <td class="std">
			{ITEM_HTML}
		  </td>
		  <td class="std" valign="top" align="center">
			<div align="center">
			  <img border="0" src="{STATUS_IMG}" alt="{STATUS_ALT}" title="{STATUS_ALT}" />
			</div>
		  </td>
		  <!-- BEGIN timing -->
		  <td class="std" valign="top" align="center">
			<div align="center">
			  {END_EDITING_TIME}
			</div>
		  </td>
		  <td class="std" valign="top" align="center">
			<!-- BEGIN warning_img -->
			<div align="center">
			  <img border="0" src="{WARNING_IMG}" alt="{WARNING_ALT}" title="{WARNING_ALT}" />
			</div>
			<!-- END warning_img -->
			<!-- BEGIN no_warn -->
			&nbsp;
			<!-- END no_warn -->
		  </td>
		  <!-- END timing -->
		  <td class="std" valign="top" nowrap="nowrap" width="20%" align="center">
			<!-- BEGIN item_command -->
			<a class="il_ContainerItemCommand" href="{HREF_COMMAND}">{TXT_COMMAND}</a>
			<!-- END item_command -->
		  </td>
		</tr>
		<!-- END container_standard_row -->
	  </table>
	</form>
	<br />
	{LEGEND}
