	  <tr>
		<td class="{EVENT_ROW_CLASS}" width="1%">
		  {EVENT_CHECK_TRAC}
		</td>
		<td class="{EVENT_ROW_CLASS}">
		  {EVENT_COLL_TITLE}
		  <!-- BEGIN  event_description -->
		  <div class="il_Description_no_margin">{EVENT_COLL_DESC}</div>
		  <!-- END event_description -->
		  <div class="il_info">{EVENT_COLL_PATH}</div>
		</td>
		<td class="{EVENT_ROW_CLASS}">
		  <div align="center">
			<img src="{EVENT_ASSIGNED_IMG_OK}" alt="{EVENT_ASSIGNED_STATUS}" 
			  title="{EVENT_ASSIGNED_STATUS}" border="0" vspace="0" align="center" valign="center"/>
		  </div>
		</td>
	  </tr>
