<tr class="{CSS_ROW}">
	<td class="std"><img src="{ICON}" /> {TITLE}</td>
	<!-- BEGIN user_total -->
	<td class="std">{USER_TOTAL}</td>
	<!-- END user_total -->
	<!-- BEGIN country -->
	<td class="std">
		<!-- BEGIN country_percentages -->
		<ul>
			<!-- BEGIN country_row -->
			<li>{CAPTION}: {ABSOLUTE} ({PERCENTAGE}%)</li>
			<!-- END country_row -->
		</ul>
		<!-- END country_percentages -->
	</td>
	<!-- END country -->
	<!-- BEGIN registration_earliest -->
	<td class="std">{REGISTRATION_EARLIEST}</td>
	<!-- END registration_earliest -->
	<!-- BEGIN registration_latest -->
	<td class="std">{REGISTRATION_LATEST}</td>
	<!-- END registration_latest -->
	<!-- BEGIN gender -->
	<td class="std">
		<!-- BEGIN gender_percentages -->
		<ul>
			<!-- BEGIN gender_row -->
			<li>{CAPTION}: {ABSOLUTE} ({PERCENTAGE}%)</li>
			<!-- END gender_row -->
		</ul>
		<!-- END gender_percentages -->
	</td>
	<!-- END gender -->
	<!-- BEGIN city -->
	<td class="std">
		<!-- BEGIN city_percentages -->
		<ul>
			<!-- BEGIN city_row -->
			<li>{CAPTION}: {ABSOLUTE} ({PERCENTAGE}%)</li>
			<!-- END city_row -->
		</ul>
		<!-- END city_percentages -->
	</td>
	<!-- END city -->
	<!-- BEGIN language -->
	<td class="std">
		<!-- BEGIN language_percentages -->
		<ul>
			<!-- BEGIN language_row -->
			<li>{CAPTION}: {ABSOLUTE} ({PERCENTAGE}%)</li>
			<!-- END language_row -->
		</ul>
		<!-- END language_percentages -->
	</td>
	<!-- END language -->
	<!-- BEGIN access_total -->
	<td class="std">{ACCESS_TOTAL}</td>
	<!-- END access_total -->
	<!-- BEGIN access_average -->
	<td class="std">{ACCESS_AVERAGE}</td>
	<!-- END access_average -->
	<!-- BEGIN activity_earliest -->
	<td class="std">{ACTIVITY_EARLIEST}</td>
	<!-- END activity_earliest -->
	<!-- BEGIN activity_latest -->
	<td class="std">{ACTIVITY_LATEST}</td>
	<!-- END activity_latest -->
	<!-- BEGIN time_average -->
	<td class="std">{TIME_AVERAGE}</td>
	<!-- END time_average -->
	<!-- BEGIN status -->
	<td class="std">
		<!-- BEGIN status_percentages -->
		<ul>
			<!-- BEGIN status_row -->
			<li>{CAPTION}: {ABSOLUTE} ({PERCENTAGE}%)</li>
			<!-- END status_row -->
		</ul>
		<!-- END status_percentages -->
	</td>
	<!-- END status -->
	<!-- BEGIN mark -->
	<td class="std">
		<!-- BEGIN mark_percentages -->
		<ul>
			<!-- BEGIN mark_row -->
			<li>{CAPTION}: {ABSOLUTE} ({PERCENTAGE}%)</li>
			<!-- END mark_row -->
		</ul>
		<!-- END mark_percentages -->
	</td>
	<!-- END mark -->
	<!-- BEGIN completion_average -->
	<td class="std">{COMPLETION_AVERAGE}</td>
	<!-- END completion_average -->
</tr>