<div id="jkn_div_rubric" class="table-responsive" style="margin-top: 20px;">
    
                    <table id="jkn_table_rubric" class="table table-striped">
                    
                        <thead>            
                            <tr>                            
                                <th colspan="2">&nbsp;</th><th scope="col" class="col-sm-2">
                            <div class="form-group has-success has-feedback">
                                <label class="control-label" for="Label0">{LABEL}</label>
                                <input id="Label0" name="Label0" type="text" class="form-control" placeholder="Excellent" value="Excellent" aria-describedby="Label0WarningStatus" onkeyup="validate(this)" onblur="recalculate()" oninput="validate(this)">
                                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span id="Label0WarningStatus" class="sr-only">(ok)</span>
                            </div>
                        </th><th scope="col" class="col-sm-2">
                            <div class="form-group has-success has-feedback">
                                <label class="control-label" for="Label1">{LABEL}</label>
                                <input id="Label1" name="Label1" type="text" class="form-control" placeholder="Good" value="Good" aria-describedby="Label1WarningStatus" onkeyup="validate(this)" onblur="recalculate()" oninput="validate(this)">
                                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span id="Label1WarningStatus" class="sr-only">(ok)</span>
                            </div>
                        </th><th scope="col" class="col-sm-2">
                            <div class="form-group has-success has-feedback">
                                <label class="control-label" for="Label2">{LABEL}</label>
                                <input id="Label2" name="Label2" type="text" class="form-control" placeholder="Acceptable" value="Acceptable" aria-describedby="Label2WarningStatus" onkeyup="validate(this)" onblur="recalculate()" oninput="validate(this)">
                                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span id="Label2WarningStatus" class="sr-only">(ok)</span>
                            </div>
                        </th><th scope="col" class="col-sm-2">
                            <div class="form-group has-success has-feedback">
                                <label class="control-label" for="Label3">{LABEL}</label>
                                <input id="Label3" name="Label3" type="text" class="form-control" placeholder="Unacceptable" value="Unacceptable" aria-describedby="Label3WarningStatus" onkeyup="validate(this)" onblur="recalculate()" oninput="validate(this)">
                                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span id="Label3WarningStatus" class="sr-only">(ok)</span>
                            </div>
                        </th></tr>            
                        </thead>
                        
                        <tfoot>
                            <tr>
                                <th colspan="2">{OVERALL_POINT}</th>
                                <td colspan="4">0 - 40</td>
                            </tr>
                        </tfoot>
                        
                        <tbody><tr class="tblrow1 small">            
                        <th scope="col" class="col-sm-2">
                            &nbsp;
                        </th>                
                        <th scope="col" class="col-sm-2">
                            &nbsp;
                        </th><th scope="col">
                            <div class="form-group has-success has-feedback">
                                <label class="control-label" for="Points1_0">{POINT}</label>
                                <input id="Points1_0" name="Points1_0" type="text" class="form-control" value="8-10" onkeyup="validate(this)" onblur="recalculate()" oninput="validate(this)"/>
                               <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                               <span id="'.Points1_0.'WarningStatus" class="sr-only">(ok)</span>
                            </div>
                        </th><th scope="col">
                            <div class="form-group has-success has-feedback">
                                <label class="control-label" for="Points1_1">{POINT}</label>
                                <input id="Points1_1" name="Points1_1" type="text" class="form-control" value="6-7" onkeyup="validate(this)" onblur="recalculate()" oninput="validate(this)"/>
                               <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                               <span id="'.Points1_1.'WarningStatus" class="sr-only">(ok)</span>
                            </div>
                        </th><th scope="col">
                            <div class="form-group has-success has-feedback">
                                <label class="control-label" for="Points1_2">{POINT}</label>
                                <input id="Points1_2" name="Points1_2" type="text" class="form-control" value="4-5" onkeyup="validate(this)" onblur="recalculate()" oninput="validate(this)"/>
                               <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                               <span id="'.Points1_2.'WarningStatus" class="sr-only">(ok)</span>
                            </div>
                        </th><th scope="col">
                            <div class="form-group has-success has-feedback">
                                <label class="control-label" for="Points1_3">{POINT}</label>
                                <input id="Points1_3" name="Points1_3" type="text" class="form-control" value="0-3" onkeyup="validate(this)" onblur="recalculate()" oninput="validate(this)"/>
                               <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                               <span id="'.Points1_3.'WarningStatus" class="sr-only">(ok)</span>
                            </div>
                        </th><tr class="tblrow1 small">
                        <td scope="rowgroup" rowspan="4">
                            <div class="form-group has-success has-feedback">
                                <label class="control-label" for="Group_0">{GROUP_NAME}</label>                        
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="checkbox" id="Group_0_checkbox">
                                    </span>
                                    <input id="Group_0" name="Group_0" type="text" class="form-control" placeholder="All of the choices" value="All of the choices" aria-describedby="Group_0WarningStatus" onkeyup="validate(this)" oninput="validate(this)">
                                </div>
                                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span id="Group_0WarningStatus" class="sr-only">(ok)</span>
                            </div>
                        </td><td scope="rowgroup">
                        <div class="form-group has-success has-feedback">
                            <label class="control-label" for="Criteria_0_0">{CRITERIA_NAME}</label>                        
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" id="Criteria_0_0_checkbox">
                                </span>
                                <input id="Criteria_0_0" name="Criteria_0_0" type="text" class="form-control" placeholder="Purposefulness" value="Purposefulness" aria-describedby="WarningStatus" onkeyup="validate(this)" oninput="validate(this)">
                            </div>
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span id="Criteria_0_0WarningStatus" class="sr-only">(ok)</span>
                        </div>
                    </td><td scope="rowgroup">
                    <div class="form-group has-success has-feedback">
                        <label class="control-label" for="behaviorname0_0">{BEHAVIOR_NAME}</label>
                        <textarea id="Behavior_0_0_0" name="Behavior_0_0_0" class="form-control" placeholder="Clearly stated purpose and objectives." value="Clearly stated purpose and objectives." aria-describedby="Behavior_0_0_0WarningStatus" onkeyup="validate(this)" oninput="validate(this)">Clearly stated purpose and objectives.</textarea>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="Behavior_0_0_0WarningStatus" class="sr-only">(ok)</span>
                    </div>
                </td><td scope="rowgroup">
                    <div class="form-group has-success has-feedback">
                        <label class="control-label" for="behaviorname0_0">{BEHAVIOR_NAME}</label>
                        <textarea id="Behavior_0_0_1" name="Behavior_0_0_1" class="form-control" placeholder="Somewhat clearly stated purpose and objectives." value="Somewhat clearly stated purpose and objectives." aria-describedby="Behavior_0_0_1WarningStatus" onkeyup="validate(this)" oninput="validate(this)">Somewhat clearly stated purpose and objectives.</textarea>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="Behavior_0_0_1WarningStatus" class="sr-only">(ok)</span>
                    </div>
                </td><td scope="rowgroup">
                    <div class="form-group has-success has-feedback">
                        <label class="control-label" for="behaviorname0_0">{BEHAVIOR_NAME}</label>
                        <textarea id="Behavior_0_0_2" name="Behavior_0_0_2" class="form-control" placeholder="Purpose and objectives are not clearly stated." value="Purpose and objectives are not clearly stated." aria-describedby="Behavior_0_0_2WarningStatus" onkeyup="validate(this)" oninput="validate(this)">Purpose and objectives are not clearly stated.</textarea>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="Behavior_0_0_2WarningStatus" class="sr-only">(ok)</span>
                    </div>
                </td><td scope="rowgroup">
                    <div class="form-group has-success has-feedback">
                        <label class="control-label" for="behaviorname0_0">{BEHAVIOR_NAME}</label>
                        <textarea id="Behavior_0_0_3" name="Behavior_0_0_3" class="form-control" placeholder="Purpose and objectives were not stated." value="Purpose and objectives were not stated." aria-describedby="Behavior_0_0_3WarningStatus" onkeyup="validate(this)" oninput="validate(this)">Purpose and objectives were not stated.</textarea>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="Behavior_0_0_3WarningStatus" class="sr-only">(ok)</span>
                    </div>
                </td></tr><tr class="tblrow1 small"><td scope="rowgroup">
                        <div class="form-group has-success has-feedback">
                            <label class="control-label" for="Criteria_0_1">{CRITERIA_NAME}</label>                        
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" id="Criteria_0_1_checkbox">
                                </span>
                                <input id="Criteria_0_1" name="Criteria_0_1" type="text" class="form-control" placeholder="Clarify" value="Clarify" aria-describedby="WarningStatus" onkeyup="validate(this)" oninput="validate(this)">
                            </div>
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span id="Criteria_0_1WarningStatus" class="sr-only">(ok)</span>
                        </div>
                    </td><td scope="rowgroup">
                    <div class="form-group has-success has-feedback">
                        <label class="control-label" for="behaviorname0_0">{BEHAVIOR_NAME}</label>
                        <textarea id="Behavior_0_1_0" name="Behavior_0_1_0" class="form-control" placeholder="Ideas are well organized and the flow is fluent." value="Ideas are well organized and the flow is fluent." aria-describedby="Behavior_0_1_0WarningStatus" onkeyup="validate(this)" oninput="validate(this)">Ideas are well organized and the flow is fluent.</textarea>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="Behavior_0_1_0WarningStatus" class="sr-only">(ok)</span>
                    </div>
                </td><td scope="rowgroup">
                    <div class="form-group has-success has-feedback">
                        <label class="control-label" for="behaviorname0_0">{BEHAVIOR_NAME}</label>
                        <textarea id="Behavior_0_1_1" name="Behavior_0_1_1" class="form-control" placeholder="Ideas are somewhat well organized and the flow is somewhat fluent." value="Ideas are somewhat well organized and the flow is somewhat fluent." aria-describedby="Behavior_0_1_1WarningStatus" onkeyup="validate(this)" oninput="validate(this)">Ideas are somewhat well organized and the flow is somewhat fluent.</textarea>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="Behavior_0_1_1WarningStatus" class="sr-only">(ok)</span>
                    </div>
                </td><td scope="rowgroup">
                    <div class="form-group has-success has-feedback">
                        <label class="control-label" for="behaviorname0_0">{BEHAVIOR_NAME}</label>
                        <textarea id="Behavior_0_1_2" name="Behavior_0_1_2" class="form-control" placeholder="Ideas are not well organized and the flow is not fluent." value="Ideas are not well organized and the flow is not fluent." aria-describedby="Behavior_0_1_2WarningStatus" onkeyup="validate(this)" oninput="validate(this)">Ideas are not well organized and the flow is not fluent.</textarea>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="Behavior_0_1_2WarningStatus" class="sr-only">(ok)</span>
                    </div>
                </td><td scope="rowgroup">
                    <div class="form-group has-success has-feedback">
                        <label class="control-label" for="behaviorname0_0">{BEHAVIOR_NAME}</label>
                        <textarea id="Behavior_0_1_3" name="Behavior_0_1_3" class="form-control" placeholder="Organization and clarity were not perceivable." value="Organization and clarity were not perceivable." aria-describedby="Behavior_0_1_3WarningStatus" onkeyup="validate(this)" oninput="validate(this)">Organization and clarity were not perceivable.</textarea>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="Behavior_0_1_3WarningStatus" class="sr-only">(ok)</span>
                    </div>
                </td></tr><tr class="tblrow1 small"><td scope="rowgroup">
                        <div class="form-group has-success has-feedback">
                            <label class="control-label" for="Criteria_0_2">{CRITERIA_NAME}</label>                        
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" id="Criteria_0_2_checkbox">
                                </span>
                                <input id="Criteria_0_2" name="Criteria_0_2" type="text" class="form-control" placeholder="Engagement" value="Engagement" aria-describedby="WarningStatus" onkeyup="validate(this)" oninput="validate(this)">
                            </div>
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span id="Criteria_0_2WarningStatus" class="sr-only">(ok)</span>
                        </div>
                    </td><td scope="rowgroup">
                    <div class="form-group has-success has-feedback">
                        <label class="control-label" for="behaviorname0_0">{BEHAVIOR_NAME}</label>
                        <textarea id="Behavior_0_2_0" name="Behavior_0_2_0" class="form-control" placeholder="Presentation was interesting, engaging and held attention." value="Presentation was interesting, engaging and held attention." aria-describedby="Behavior_0_2_0WarningStatus" onkeyup="validate(this)" oninput="validate(this)">Presentation was interesting, engaging and held attention.</textarea>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="Behavior_0_2_0WarningStatus" class="sr-only">(ok)</span>
                    </div>
                </td><td scope="rowgroup">
                    <div class="form-group has-success has-feedback">
                        <label class="control-label" for="behaviorname0_0">{BEHAVIOR_NAME}</label>
                        <textarea id="Behavior_0_2_1" name="Behavior_0_2_1" class="form-control" placeholder="Presentation was somewhat interesting, somewhat engaging and somewhat held attention." value="Presentation was somewhat interesting, somewhat engaging and somewhat held attention." aria-describedby="Behavior_0_2_1WarningStatus" onkeyup="validate(this)" oninput="validate(this)">Presentation was somewhat interesting, somewhat engaging and somewhat held attention.</textarea>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="Behavior_0_2_1WarningStatus" class="sr-only">(ok)</span>
                    </div>
                </td><td scope="rowgroup">
                    <div class="form-group has-success has-feedback">
                        <label class="control-label" for="behaviorname0_0">{BEHAVIOR_NAME}</label>
                        <textarea id="Behavior_0_2_2" name="Behavior_0_2_2" class="form-control" placeholder="Presentation was briefly interesting, engaging and held my attention scarcely." value="Presentation was briefly interesting, engaging and held my attention scarcely." aria-describedby="Behavior_0_2_2WarningStatus" onkeyup="validate(this)" oninput="validate(this)">Presentation was briefly interesting, engaging and held my attention scarcely.</textarea>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="Behavior_0_2_2WarningStatus" class="sr-only">(ok)</span>
                    </div>
                </td><td scope="rowgroup">
                    <div class="form-group has-success has-feedback">
                        <label class="control-label" for="behaviorname0_0">{BEHAVIOR_NAME}</label>
                        <textarea id="Behavior_0_2_3" name="Behavior_0_2_3" class="form-control" placeholder="Presentation was not interesting, not engaging and did not hold my attention." value="Presentation was not interesting, not engaging and did not hold my attention." aria-describedby="Behavior_0_2_3WarningStatus" onkeyup="validate(this)" oninput="validate(this)">Presentation was not interesting, not engaging and did not hold my attention.</textarea>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="Behavior_0_2_3WarningStatus" class="sr-only">(ok)</span>
                    </div>
                </td></tr><tr class="tblrow1 small"><td scope="rowgroup">
                        <div class="form-group has-success has-feedback">
                            <label class="control-label" for="Criteria_0_3">{CRITERIA_NAME}</label>                        
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" id="Criteria_0_3_checkbox">
                                </span>
                                <input id="Criteria_0_3" name="Criteria_0_3" type="text" class="form-control" placeholder="Personal development" value="Personal development" aria-describedby="WarningStatus" onkeyup="validate(this)" oninput="validate(this)">
                            </div>
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span id="Criteria_0_3WarningStatus" class="sr-only">(ok)</span>
                        </div>
                    </td><td scope="rowgroup">
                    <div class="form-group has-success has-feedback">
                        <label class="control-label" for="behaviorname0_0">{BEHAVIOR_NAME}</label>
                        <textarea id="Behavior_0_3_0" name="Behavior_0_3_0" class="form-control" placeholder="Identified specific personal learning outcomes that occurred as a result of the course." value="Identified specific personal learning outcomes that occurred as a result of the course." aria-describedby="Behavior_0_3_0WarningStatus" onkeyup="validate(this)" oninput="validate(this)">Identified specific personal learning outcomes that occurred as a result of the course.</textarea>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="Behavior_0_3_0WarningStatus" class="sr-only">(ok)</span>
                    </div>
                </td><td scope="rowgroup">
                    <div class="form-group has-success has-feedback">
                        <label class="control-label" for="behaviorname0_0">{BEHAVIOR_NAME}</label>
                        <textarea id="Behavior_0_3_1" name="Behavior_0_3_1" class="form-control" placeholder="dentified some personal learning outcomes that occurred as a result of the course." value="dentified some personal learning outcomes that occurred as a result of the course." aria-describedby="Behavior_0_3_1WarningStatus" onkeyup="validate(this)" oninput="validate(this)">dentified some personal learning outcomes that occurred as a result of the course.</textarea>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="Behavior_0_3_1WarningStatus" class="sr-only">(ok)</span>
                    </div>
                </td><td scope="rowgroup">
                    <div class="form-group has-success has-feedback">
                        <label class="control-label" for="behaviorname0_0">{BEHAVIOR_NAME}</label>
                        <textarea id="Behavior_0_3_2" name="Behavior_0_3_2" class="form-control" placeholder="Did not identify specific personal learning outcomes that occurred as a result of the course." value="Did not identify specific personal learning outcomes that occurred as a result of the course." aria-describedby="Behavior_0_3_2WarningStatus" onkeyup="validate(this)" oninput="validate(this)">Did not identify specific personal learning outcomes that occurred as a result of the course.</textarea>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="Behavior_0_3_2WarningStatus" class="sr-only">(ok)</span>
                    </div>
                </td><td scope="rowgroup">
                    <div class="form-group has-success has-feedback">
                        <label class="control-label" for="behaviorname0_0">{BEHAVIOR_NAME}</label>
                        <textarea id="Behavior_0_3_3" name="Behavior_0_3_3" class="form-control" placeholder="Did not identify any personal learning outcomes." value="Did not identify any personal learning outcomes." aria-describedby="Behavior_0_3_3WarningStatus" onkeyup="validate(this)" oninput="validate(this)">Did not identify any personal learning outcomes.</textarea>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="Behavior_0_3_3WarningStatus" class="sr-only">(ok)</span>
                    </div>
                </td></tr>            
                        <tr>
                            <th colspan="2" scope="rowgroup" class="text-right">{GROUP_POINT}</th>
                            <td colspan="4">0 - 40</td>
                        
                        </tr></tbody>
                    </table>
                </div>
            </form>