<!-- BEGIN javascript -->
<script language="javascript">
function do_on_change() {
while (this.search.lm.length > 0) {
		this.search.lm.options[this.search.lm.length --] = null;
	}
	this.search.lm.options[this.search.lm.length] = new Option ("{ALL_LMS}",  "0" );
	<!-- BEGIN select_value -->
	if(this.search.author.options[this.search.author.selectedIndex].value =="{VALUE}")
	{
		this.search.lm.options[this.search.lm.length] = new Option ("{LMVALUE}",  "{LMVALUE}" );
	}
	<!-- END select_value -->
}
</script>
<!-- END javascript -->
<!-- BEGIN javascript1 -->
<script language="javascript">
function do_on_change1() {
while (this.search.tst.length > 0) {
		this.search.tst.options[this.search.tst.length --] = null;
	}
	this.search.tst.options[this.search.tst.length] = new Option ("{ALL_TSTS}",  "0" );
	<!-- BEGIN select_value1 -->
	if(this.search.author1.options[this.search.author1.selectedIndex].value =="{VALUE1}")
	{
		this.search.tst.options[this.search.tst.length] = new Option ("{TSTVALUE}",  "{TSTVALUE}" );
	}
	<!-- END select_value1 -->
}
</script>
<!-- END javascript1 -->
<form name="search" action="{SEARCH_ACTION}" METHOD="post">
<table class="std">
<tr class="tblheader">
	<td class="std" colspan="2" >{TXT_TRACKING_DATA}</td>
</tr>
<tr>
	<td class="option">
		{TXT_SEARCH_TERMS}:
	</td>
	<td class="option_value">
		<input type="text" name="search_terms" size="40" maxlength="80" value="{VAL_SEARCH_TERMS}" />
	</td>
</tr>
<tr>
	<td class="option">
		{TXT_TIME_SEGMENT}:
	</td>
	<td class="option_value">
		<select name="yearf">
			<!-- BEGIN fromyear_selection -->
			<option value="{YEARF}" {YEARF_SEL}>{YEARFR}</option>
			<!-- END fromyear_selection -->
		</select>
		<select name="monthf">
			<!-- BEGIN frommonth_selection -->
			<option value="{MONTHF}" {MONTHF_SEL}>{MONTHFR}</option>
			<!-- END frommonth_selection -->
		</select>
		<select name="dayf">
			<!-- BEGIN fromday_selection -->
			<option value="{DAYF}" {DAYF_SEL}>{DAYFR}</option>
			<!-- END fromday_selection -->
		</select>
		&nbsp;-&nbsp;
		<select name="yeart">
			<!-- BEGIN toyear_selection -->
			<option value="{YEART}" {YEART_SEL}>{YEARTO}</option>
			<!-- END toyear_selection -->
		</select>
		<select name="montht">
			<!-- BEGIN tomonth_selection -->
			<option value="{MONTHT}" {MONTHT_SEL}>{MONTHTO}</option>
			<!-- END tomonth_selection -->
		</select>
		<select name="dayt">
			<!-- BEGIN today_selection -->
			<option value="{DAYT}" {DAYT_SEL}>{DAYTO}</option>
			<!-- END today_selection -->
		</select>
	</td>
</tr>
<tr>
	<td class="option">
		{TXT_VIEW_MODE}:
	</td>
	<td class="option_value">
		<select name="stat" size="1">
			<option value="d" {D_SEL}>{TXT_VIEW_MODE_D}</option>
			<option value="h" {H_SEL}>{TXT_VIEW_MODE_H}</option>
			<!-- BEGIN user_stat -->
			<option value="u" {U_SEL}>{TXT_VIEW_MODE_U}</option>
			<!-- END user_stat -->
		</select>
	</td>
</tr>
<tr>
	<td class="option">
		{TXT_TRACKED_OBJECTS}:
	</td>
	<td class="option_value">
		<select name="object_type" size="1">
			<option value="lm" {LM_SEL}>{TXT_LM}</option>
			<option value="htlm" {HTLM_SEL}>{TXT_HTLM}</option>
<!--			<option value="tst" {TST_SEL}>{TXT_TST}</option>//-->
		</select>
<!-- BEGIN old -->
		<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td nowrap="1">
				<input type="radio" name="object_type" value="lm" {xxxLM_CHK}>{xxxTXT_LM}</input>&nbsp;
			</td>
			<td>
				<select name="author" onchange="javascript: return do_on_change()">
					<!-- BEGIN author_selection -->
					<option value="{AUTHOR}" {AUTHOR_SEL}>{AUTHOR_SELECT}</option>
					<!-- END author_selection -->
				</select>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td nowrap="1">
				<input type="radio" name="object_type" value="tst" {xxxTST_CHK}>{xxxTXT_TEST}</input>&nbsp;
			</td>
			<td>
				<select name="author1" onchange="javascript: return do_on_change1()">
					<!-- BEGIN author_selection_tst -->
					<option value="{AUTHOR1}" {AUTHOR1_SEL}>{AUTHOR1_SELECT}</option>
					<!-- END author_selection_tst -->
				</select>
			</td>
			<td>
			</td>
		</tr>
		</table>
<!-- END old -->
	</td>
</tr>
<tr>
	<td class="option">
		{TXT_USER_LANGUAGE}:
	</td>
	<td class="option_value">
		<select name="language" size="1">
			<!-- BEGIN language_selection -->
			<option value="{LANGSHORT}" {LANG_SEL}>{LANG}</option>
			<!-- END language_selection -->
		</select>
	</td>
</tr>
<!--<tr>
	<td class="option">
		{TXT_FILTER_AREA}
	</td>
	<td class="option_value">
		{FILTER_AREA}&nbsp;
		<a class="il_ContainerItemCommand" href="{LINK_FILTER_AREA}">{TXT_CHANGE}</a>
	</td>
</tr>//-->
<tr class="tablefooter">
	<td class="submit" colspan="2">
		<div align="right">
			<input class="submit" type="SUBMIT" name="cmd[outputTrackingData]" value="{TXT_SHOW_TR_DATA}">
		</div>
	</td>
</tr>
</table>
</form>