<tr class="{CSS_ROW}">
	<!-- BEGIN checkbox -->
	<td class="std" style="vertical-align:top;">
	<input type="checkbox" name="item_id[]" value="{OBJ_ID}"{CHECKBOX_STATE} />
	</td>
	<td class="std">
	<img src="{ICON_SRC}" alt="{ICON_ALT}" title="{ICON_ALT}" /> {TITLE_TEXT}
	</td>
	<!-- BEGIN obj_id_col -->
	<td class="std">
		{OBJ_ID_COL_VALUE}
	</td>
	<!-- END obj_id_col -->
	<!-- BEGIN ref_ids_col -->
	<td class="std">
		{REF_IDS}
	</td>
	<!-- END ref_ids_col -->
	<!-- BEGIN paths_col -->
	<td class="std">
		{PATHS}
	</td>
	<!-- END paths_col -->
	<!-- END checkbox -->
	<!-- BEGIN details -->
	<td class="std">
		{TXT_FIGURE}
	</td>
	<!-- END details -->	
	<!-- BEGIN item -->
	<td class="std">
		{ITEM_VALUE}
	</td>
	<!-- END item -->
</tr>
