<tr class="{CSS_ROW}">
<!-- BEGIN user_field -->
<td class="std">
<span class="small">{VAL_UF}
<!-- BEGIN warning_img -->
<img border="0" src="{WARNING_IMG}" alt="{WARNING_ALT}" title="{WARNING_ALT}" />
<!-- END warning_img -->
<!-- BEGIN inactive_bl -->
<div class="il_ItemProperties">
	<span class="il_ItemAlertProperty">{TXT_INACTIVE}</span>
</div>
<!-- END inactive_bl -->
</span>
</td>
<!-- END user_field -->
<td class="std" valign="top" nowrap="nowrap" align="center">
	<!-- BEGIN item_command -->
	<a class="il_ContainerItemCommand" href="{HREF_COMMAND}">{TXT_COMMAND}</a>
	<!-- END item_command -->
</td>
</tr>