<div class="small">
<img border="0" style="vertical-align:middle;" src="{IMG_NOT_ATTEMPTED}" alt="{TXT_NOT_ATTEMPTED}" title="{TXT_NOT_ATTEMPTED}" />: {TXT_NOT_ATTEMPTED}<br />
<img border="0" style="vertical-align:middle;" src="{IMG_IN_PROGRESS}" alt="{TXT_IN_PROGRESS}" title="{TXT_IN_PROGRESS}" />: {TXT_IN_PROGRESS}<br />
<img border="0" style="vertical-align:middle;" src="{IMG_COMPLETED}" alt="{TXT_COMPLETED}" title="{TXT_COMPLETED}" />: {TXT_COMPLETED}<br />
<img border="0" style="vertical-align:middle;" src="{IMG_FAILED}" alt="{TXT_FAILED}" title="{TXT_FAILED}" />: {TXT_FAILED}
</div>