<tr class="{CSS_ROW}" valign="top">
	<td class="std small"><img src="{ICON}" alt="{ICON_ALT}" title="{ICON_ALT}" /> {TITLE}
	<!-- BEGIN status_bl -->
	<div class="il_ItemProperties">
		<span class="il_ItemAlertProperty">{TEXT_STATUS}</span>
	</div>
	<!-- END status_bl -->
	</td>
	<!-- BEGIN user_total -->
	<td class="std small">{USER_TOTAL}</td>
	<!-- END user_total -->
	<!-- BEGIN read_count_sum -->
	<td class="std small">{READ_COUNT_SUM}</td>
	<!-- END read_count_sum -->
	<!-- BEGIN read_count_avg -->
	<td class="std small">{READ_COUNT_AVG}</td>
	<!-- END read_count_avg -->
	<!-- BEGIN spent_seconds_avg -->
	<td class="std small">{SPENT_SECONDS_AVG}</td>
	<!-- END spent_seconds_avg -->
	<!-- BEGIN read_count_spent_seconds_avg -->
	<td class="std small">{READ_COUNT_SPENT_SECONDS_AVG}</td>
	<!-- END read_count_spent_seconds_avg -->
	<!-- BEGIN percentage_avg -->
	<td class="std small">{PERCENTAGE_AVG}</td>
	<!-- END percentage_avg -->
	<!-- BEGIN status -->
	<td class="std small">
		<!-- BEGIN status_percentages -->
		<ul style="margin:0; padding:0; padding-left: 15px;">
			<!-- BEGIN status_row -->
			<li>{CAPTION}: {ABSOLUTE} ({PERCENTAGE}%)</li>
			<!-- END status_row -->
		</ul>
		<!-- END status_percentages -->
	</td>
	<!-- END status -->
	<!-- BEGIN status_changed_max -->
	<td class="std small">{STATUS_CHANGED_MAX}</td>
	<!-- END status_changed_max -->
	<!-- BEGIN mark -->
	<td class="std small">
		<!-- BEGIN mark_percentages -->
		<ul style="margin:0; padding:0; padding-left: 15px;">
			<!-- BEGIN mark_row -->
			<li>{CAPTION}: {ABSOLUTE} ({PERCENTAGE}%)</li>
			<!-- END mark_row -->
		</ul>
		<!-- END mark_percentages -->
	</td>
	<!-- END mark -->
	<!-- BEGIN gender -->
	<td class="std small">
		<!-- BEGIN gender_percentages -->
		<ul style="margin:0; padding:0; padding-left: 15px;">
			<!-- BEGIN gender_row -->
			<li>{CAPTION}: {ABSOLUTE} ({PERCENTAGE}%)</li>
			<!-- END gender_row -->
		</ul>
		<!-- END gender_percentages -->
	</td>
	<!-- END gender -->
	<!-- BEGIN city -->
	<td class="std small">
		<!-- BEGIN city_percentages -->
		<ul style="margin:0; padding:0; padding-left: 15px;">
			<!-- BEGIN city_row -->
			<li>{CAPTION}: {ABSOLUTE} ({PERCENTAGE}%)</li>
			<!-- END city_row -->
		</ul>
		<!-- END city_percentages -->
	</td>
	<!-- END city -->
	<!-- BEGIN country -->
	<td class="std small">
		<!-- BEGIN country_percentages -->
		<ul style="margin:0; padding:0; padding-left: 15px;">
			<!-- BEGIN country_row -->
			<li>{CAPTION}: {ABSOLUTE} ({PERCENTAGE}%)</li>
			<!-- END country_row -->
		</ul>
		<!-- END country_percentages -->
	</td>
	<!-- END country -->
	<!-- BEGIN sel_country -->
	<td class="std small">
		<!-- BEGIN sel_country_percentages -->
		<ul style="margin:0; padding:0; padding-left: 15px;">
			<!-- BEGIN sel_country_row -->
			<li>{CAPTION}: {ABSOLUTE} ({PERCENTAGE}%)</li>
			<!-- END sel_country_row -->
		</ul>
		<!-- END sel_country_percentages -->
	</td>
	<!-- END sel_country -->
	<!-- BEGIN language -->
	<td class="std small">
		<!-- BEGIN language_percentages -->
		<ul style="margin:0; padding:0; padding-left: 15px;">
			<!-- BEGIN language_row -->
			<li>{CAPTION}: {ABSOLUTE} ({PERCENTAGE}%)</li>
			<!-- END language_row -->
		</ul>
		<!-- END language_percentages -->
	</td>
	<!-- END language -->
	<!-- BEGIN first_access_min -->
	<td class="std small">{FIRST_ACCESS_MIN}</td>
	<!-- END first_access_min -->
	<!-- BEGIN last_access_max -->
	<td class="std small">{LAST_ACCESS_MAX}</td>
	<!-- END last_access_max -->
	<!-- BEGIN create_date_min -->
	<td class="std small">{CREATE_DATE_MIN}</td>
	<!-- END create_date_min -->
	<!-- BEGIN create_date_max -->
	<td class="std small">{CREATE_DATE_MAX}</td>
	<!-- END create_date_max -->
	<!-- BEGIN path_action -->
	<td class="std small">
		<!-- BEGIN item_path -->
		<p>{PATH_ITEM}<br/><a href="{URL_DETAILS}">{TXT_DETAILS}</a></p>
		<!-- END item_path -->		
	</td>
	<!-- BEGIN column_action -->
	<td class="std" nowrap="nowrap">
	<!-- BEGIN item_command -->
	<a class="il_ContainerItemCommand" href="{HREF_COMMAND}">{TXT_COMMAND}</a>
	<!-- END item_command -->
	</td>
	<!-- END column_action -->
	<!-- END path_action -->
</tr>