<tr class="{CSS_ROW}">
	<td class="std" valign="top">
		<input type="checkbox" name="item_ids[]" value="{ITEM_ID}" />
	</td>
	<td class="std" valign="top">
		<!-- BEGIN item_row -->
		<img src="{TYPE_IMG}" alt="{ALT_IMG}" title="{ALT_IMG}" /> <a href="{COLL_LINK}" target="{COLL_FRAME}">{COLL_TITLE}</a>
		<!-- BEGIN description -->
		<div class="il_Description_no_margin">{COLL_DESC}</div>
		<!-- END description -->
		<div class="il_info">{COLL_MODE}&nbsp;<span class="il_ItemAlertProperty">{COLL_MODE_DEACTIVATED} {ANONYMIZED}</span></div>
		<div class="il_info">{COLL_PATH}</div>
		<br />
		<!-- END item_row -->
	</td>
	<td class="std" valign="top">
		<div align="left">
			<img src="{ASSIGNED_IMG_OK}" alt="{ASSIGNED_STATUS}" title="{ASSIGNED_STATUS}" border="0" vspace="0" align="center" />
		</div>
	</td>
</tr>
