{LM_INFO}
	  <!-- BEGIN crs_collection -->
	  <br />
	  <table class="il_ContainerBlock">
		<tr>
		  <td class="il_PDBlockSubHeader" width="1">
			<img border="0" src="{HEADER_IMG}" alt="{HEADER_ALT} title="{HEADER_ALT}" />
		  </td>
		  <td class="il_PDBlockSubHeader">{BLOCK_HEADER_CONTENT}</td>
		</tr>
		<!-- BEGIN container_standard_row -->
		<!-- BEGIN row_type_1 -->
		<tr class="tblrow1">
		  <!-- END row_type_1 -->
		  <!-- BEGIN row_type_2 -->
		  <tr class="tblrow2">
			<!-- END row_type_2 -->
			<td class="std" colspan="2">{BLOCK_ROW_CONTENT}</td>
		  </tr>
		  <!-- END container_standard_row -->
	  </table>
	<!-- END crs_collection -->