<tr class="{TBLROW}">
	<td class="std" style="vertical-align:top;">
	<input type="checkbox" name="item_id[]" value="{OBJ_ID}" />
	</td>
	<td class="std">
	{ITEM_HTML}
	</td>
	<td class="std" valign="top" style="padding-left: 20px;">
	<img border="0" src="{STATUS_IMG}" alt="{STATUS_ALT}" title="{STATUS_ALT}" />
	</td>
	<td class="std" valign="top" nowrap="nowrap" width="20%" align="center">
	<!-- BEGIN item_command -->
	<a class="il_ContainerItemCommand" href="{HREF_COMMAND}">{TXT_COMMAND}</a>
	<!-- END item_command -->
	</td>
</tr>
