<!-- BEGIN no_js_section -->
	<!-- BEGIN no_js_links --><!-- BEGIN no_js_link --><!-- BEGIN no_js_link_frame --><!-- END no_js_link_frame --> >
	<!-- END no_js_link --><!-- END no_js_links -->
	<!-- BEGIN no_js_form_select -->
	<!-- BEGIN no_js_form_begin -->
	<!-- END no_js_form_begin -->
	<!-- BEGIN no_js_form_option -->
	<!-- END no_js_form_option -->
	<!-- BEGIN no_js_form_button -->
	<!-- END no_js_form_end -->
	<!-- END no_js_form_select -->
<!-- END no_js_section -->

<!-- BEGIN js_section -->
<div class="btn-group">
<!-- Important: The next a-tag had a this.blur(); in the onclick event before. Please do not add it again, see bug #8723 -->
<button type="button" {ACCKEY} class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" data-container="body">
{TXT_SEL_TOP} <!-- BEGIN top_img --><span class="caret" alt="{ALT_SEL_TOP}"></span><!-- END top_img -->
</button>
<!-- BEGIN asynch_request -->
<img src="{IMG_LOADER}" alt="loading" />
<!-- END asynch_request -->
<ul class="dropdown-menu pull-right" role="menu">
<!-- onmouseover="il.AdvancedSelectionList.listOn('{ID}', false);" onmouseout="il.AdvancedSelectionList.listOff('{ID}');" -->
	<!-- BEGIN cmd_table -->
	<!-- BEGIN item -->
	<li {ONCLICK_ITEM}>
	<!-- BEGIN href_s --><a id="{ID_ITEM}" {HREF_ITEM} <!-- BEGIN frame -->target="{TARGET_ITEM}"<!-- END frame -->><span <!-- BEGIN item_link_class -->class="{ITEM_LINK_CLASS}"<!-- END item_link_class -->><!-- END href_s --><!-- BEGIN image --><img src="{IMG_ITEM}" alt="{ALT_ITEM}" /> <!-- END image --><!-- BEGIN no_image --><span class="ilAdvNoImg"></span> <!-- END no_image -->{TXT_ITEM}<!-- BEGIN href_e --></span></a><!-- END href_e -->
	</li>
	<!-- END item -->
	<!-- END cmd_table -->
	<!-- BEGIN hidden_input -->
	<input type="hidden" id="ilAdvSelListHidden_{HID}" />
	<input type="hidden" id="ilAdvSelListHiddenCmd_{HID}" />
	<!-- END hidden_input -->
</ul>
</div>
<!-- BEGIN js_item --><!-- END js_item -->
<!-- END js_section -->
