<h3>{TITLE}</h3>
<table>
	<!-- BEGIN course_bl -->
	<tr>
		<td class="std"><a href="{COURSE_URL}">{COURSE_TITLE}</a></td>
		<td class="std">
			<!-- BEGIN lp_bl -->
			<img src="{LP_ICON_URL}" alt="{LP_ICON_ALT}" title="{LP_ICON_ALT}" />
			<!-- END lp_bl -->
		</td>
	</tr>
	<!-- BEGIN objective_bl -->
	<tr>
		<td class="std">--- {OBJECTIVE_TITLE}</td>
		<td class="std">
			<!-- BEGIN lp_objtv_bl -->
			<img src="{LP_OBJTV_ICON_URL}" alt="{LP_OBJTV_ICON_ALT}" title="{LP_OBJTV_ICON_ALT}" /> 
			{LP_OBJTV_PROGRESS}
			<!-- END lp_objtv_bl -->
		</td>
	</tr>
	<!-- END objective_bl -->
	<!-- END course_bl -->
</table>