<div class="media il_HeaderInner">
	<img id="headerimage" style="width:40px;" class="media-object" src="{PORTFOLIO_ICON}" alt="Icon Portfolio" title="Icon Portfolio">
	<h1 class="media-heading ilHeader"><a class="ilAccAnchor" id="il_mhead_t_focus">{PORTFOLIO_TITLE}</a></h1>
</div>

<table class="ilPrtfMetaInfo">
<tr>
	<th class="small">{TXT_AUTHOR}</th>
	<td class="small">{AUTHOR}</td>
</tr>
<tr>
	<th class="small">{TXT_LINK}</th>
	<td class="small"><a href="{LINK}">{LINK}</a></td>
</tr>
<tr>
	<th class="small">{TXT_DATE}</th>
	<td class="small">{DATE}</td>
</tr>
</table>

<!-- BEGIN decl_author -->
<p class="ilPrtfDeclAuthor">{TXT_DECL_AUTHOR}</p>
<!-- END decl_author -->

<!-- BEGIN signature -->
<div class="ilPrtfSignature">{TXT_SIGNATURE}</div>
<!-- END signature -->


<div class="ilPrtfToc">
<h1>Table of Contents</h1>
<!-- BEGIN content_item -->
<p>{ITEM_TITLE}</p>
<!-- END content_item -->
</div>