.il-toggle-button {
  position: relative;
  display: inline-block;
  height: @il-btn-toggle-height;
  padding-left: @il-btn-toggle-padding;
  padding-right: @il-btn-toggle-padding;
  border-radius: @il-btn-toggle-border-radius;
    cursor: pointer;
}

.il-toggle-button .il-toggle-switch {
  position: absolute;
  top: @il-btn-toggle-switch-position-top;
  left: @il-disabled-btn-toggle-switch-position-left;
  width: @il-btn-toggle-switch-size;
  height: @il-btn-toggle-switch-size;
  border-radius: @il-btn-toggle-border-radius;
  -webkit-transition: @il-btn-toggle-switch-transition; /* Safari */
  transition: @il-btn-toggle-switch-transition;
}

.il-toggle-button {
  &.on {
    background: @il-btn-toggle-bg-color-on;
    border: @il-btn-toggle-border @il-btn-toggle-border-color-on;
    .il-toggle-switch {
      left: @il-enabled-btn-toggle-switch-position-left;
      background: @il-btn-toggle-switch-bg-color-on;
      border: @il-btn-toggle-border @il-btn-toggle-switch-border-color-on;
    }
  }
  &.off {
    background: @il-btn-toggle-bg-color-off;
    border: @il-btn-toggle-border @il-btn-toggle-border-color-off;
    .il-toggle-switch {
      background: @il-btn-toggle-switch-bg-color-off;
      border: @il-btn-toggle-border @il-btn-toggle-switch-border-color-off;
    }
  }
  &.unavailable {
    background: @il-btn-toggle-bg-color-unavailable;
    border: @il-btn-toggle-border @il-btn-toggle-border-color-unavailable;
    .il-toggle-switch {
      background: @il-btn-toggle-switch-bg-color-unavailable;
      border: @il-btn-toggle-border @il-btn-toggle-switch-border-color-unavailable;
    }
  }
}

//Currently special case since toolbar is not yet in UI Components, see: https://mantis.ilias.de/view.php?id=30471
.ilToolbar{
  .il-toggle-button {
    bottom: @il-padding-base-vertical;
    left: @il-padding-small-horizontal;
  }
}
