<div <!-- BEGIN with_id --> id="{ID}"<!-- END with_id --> class="btn-group il-btn-month">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		<span class="il-current-month">{DEFAULT_LABEL}</span>
		<span class="caret"></span>
	</button>
	<div class="dropdown-menu" data-default-date="{DEF_DATE}" data-lang="{LANG}">
		<div class="inline-picker"></div>
	</div>
</div>
<script>il.Util.addOnLoad(function() {il.UI.button.initMonth('{JSID}');});</script>