<!-- BEGIN with_label --><label>{LABEL}</label><!-- END with_label -->
<button class="il-toggle-button<!-- BEGIN on --> on<!-- END on --><!-- BEGIN off --> off<!-- END off --><!-- BEGIN unavailable --> unavailable<!-- END unavailable -->"
<!-- BEGIN with_aria_label --> aria-label="{ARIA_LABEL}"<!-- END with_aria_label --><!-- BEGIN with_aria_describedby --> aria-describedby="{ARIA_DESCRIBED_BY}" <!-- END with_aria_describedby --><!-- BEGIN with_id --> id="{ID}"<!-- END with_id --> aria-pressed="false"  <!-- BEGIN disabled --> disabled="disabled"<!-- END disabled -->>
<!-- BEGIN with_on_off_label -->
<span class="il-toggle-label-on">{ON_LABEL}</span>
<span class="il-toggle-label-off">{OFF_LABEL}</span>
<!-- END with_on_off_label -->
<span class="il-toggle-switch"></span>
</button>