<form action="{FORMACTION}" method="post">
<!-- BEGIN hidden_item_row -->
<input type="hidden" name="{VAR_HIDDEN_VAR}" value="{VAR_HIDDEN_VALUE}" />
<!-- END hidden_item_row -->
<table class="fullwidth">
	<tr class="tblheader">
		<td class="std" colspan="{COL_SPAN}">{TXT_HEADER}</td>
	</tr>
	<!-- BEGIN item_row -->
	<tr class="{CSS_ROW}">
		<!-- BEGIN img_cell -->
		<td class="std" valign="top" nowrap="1" width="1">
		<img src="{IMG_ITEM}" border="0" />
		</td>
		<!-- END img_cell -->
		<!-- BEGIN blank_cell -->
		<td class="std" valign="top" nowrap="1" width="1">&nbsp;</td>
		<!-- END blank_cell -->
		<td class="std" valign="top">
		<input type="hidden" name="{VAR_ITEM}" value="{ID}" />
		{TXT_ITEM}
		</td>
	</tr>
	<!-- END item_row -->
	<tr>
		<td class="submit" align="left" colspan="{COL_SPAN}">
		<!-- BEGIN cmd -->
		<input class="submit" type="submit" name="cmd[{CMD}]" value="{TXT_CMD}" />
		<!-- END cmd -->
		</td>
	</tr>
</table>
</form>
