/* Services/UI/Explorer2 */

table.ilExplorer {
	width: 100%;
	background-color: @il-main-dark-bg;
}

div.ilExplorerFrame {
}

td.ilExpH {
}

body.il_Explorer {
	background: none @il-main-dark-bg;
}

div.il_Explorer {
	margin: 0;
	min-height: 468px;
	padding: 10px 5px 15px;
}

div.ilExpH {
	padding-top: 48px;
	min-height: 35px;
}

td.ilExpBody {
	border-top: 1px solid @il-main-border-color;
	background-color: @il-main-dark-bg;
}

h1.ilExplorerHead {
	color: @il-text-color;
	margin: 0;
	padding: 10px 5px 10px 28px;
	vertical-align: top;
	text-align: left;
	font-weight: bold;
	font-size: @il-font-size-small;
}

div.il_ExplorerTree {
	font-size: @il-font-size-small;
}

ul.il_Explorer {
	margin: 0 0 0 10px;
	padding: 0;
	list-style: none;
}

ul.il_ExplorerNoIndent {
	margin: 0;
	padding: 0;
	list-style: none;
}

li.il_Explorer {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}


a.il_HighlightedNode, .ilHighlighted {
	background-color: @il-highlight-bg;
	padding: 0 5px;
}

li.ilExplSecHighlight {
	background-color: @il-main-dark-bg !important;
	border-top: solid 2px darken(@il-highlight-bg, 45%);
	border-bottom: solid 2px darken(@il-highlight-bg, 45%);
}


div.il_ExplorerItemDescription {
	margin-left: 40px;
}

/* Explorer2, jsTree */
.jstree.jstree-default a {
	color: @link-color !important;
}

.jstree.jstree-default a.disabled {
	color: @il-text-color !important;
	cursor: default !important;
}

.jstree.jstree-default a {
	font-size: @il-font-size-base;
	min-height: 22px;
}

.jstree li, .jstree.jstree-default li i {
	background: url("@{il-background-images-path}jstree.svg") no-repeat;
	vertical-align: top;
}

.jstree.jstree-default .jstree-open > i {
	background-position: -15px 0 !important;
}

.jstree.jstree-default .jstree-closed > i {
	background-position: 3px 0 !important;
}

#vakata-contextmenu.jstree-context,
#vakata-contextmenu.jstree-context li ul {
	background: none #f0f0f0;
	border: 1px solid #979797;
    .box-shadow(1px 1px 2px #999);
}

#vakata-contextmenu.jstree-context li {}

#vakata-contextmenu.jstree-context a {
	color: black;
}

#vakata-contextmenu.jstree-context a:hover,
#vakata-contextmenu.jstree-context .vakata-hover > a {
	padding: 0 5px;
	background: #e8eff7;
	border: 1px solid #aecff7;
	color: @il-text-hover-color;
	border-radius: 2px;
}

#vakata-contextmenu.jstree-context li.jstree-contextmenu-disabled a,
#vakata-contextmenu.jstree-context li.jstree-contextmenu-disabled a:hover {
	color: silver;
	background: none;
	border: 0;
	padding: 1px 4px;
}

#vakata-contextmenu.jstree-context li.vakata-separator {
	background: white;
	border-top: 1px solid @il-main-border-color;
	margin: 0;
}

#vakata-contextmenu.jstree-context li ul {
	margin-left: -4px;
}

.jstree img {
	border: 0;
	width: 20px;
	height: 20px;
}

img.il_ExplorerIcon {
	height: 20px;
	width: 20px;
}

.ilExplorerContainer {
    padding: 2px 0 6px 0;
}

.ilExplorerContainer .jstree-default .jstree-anchor {
	height: auto;
}

.jstree-default .jstree-node, .jstree-default .jstree-anchor {
	line-height: inherit;
}

.il-maincontrols-slate-content .jstree-default{
	>ul>li.jstree-node{
		margin-left: 0;
	}
	li.jstree-node{
		margin-left: @il-tree-node-indentation;
		padding: 0 @il-tree-node-vertical-spacing;
	}
}