parameters:
    ignoreErrors:
        - /PHPDoc tag/
    excludes_analyse:
        - '%currentWorkingDirectory%/libs/*'
        - '%currentWorkingDirectory%/Customizing/*'
        - '%currentWorkingDirectory%/src/UI/examples/*'
        - '%currentWorkingDirectory%/tests/*'
        - '*/test/*'
        - '*/_Examples/*'
    autoload_directories:
        - %currentWorkingDirectory%/libs/composer/vendor/autoload.php
    earlyTerminatingMethodCalls:
        ilCtrl:
          - redirect
          - redirectByClass
          - redirectToURL
        ilUtil:
          - redirect