parameters:
    level: 6
    bootstrapFiles:
        - constants.php
    excludePaths:
        - '%currentWorkingDirectory%/vendor/*'
        - '%currentWorkingDirectory%/Customizing/*'
        - '%currentWorkingDirectory%/CI/*'
        - '%currentWorkingDirectory%/data/*'
        - '%currentWorkingDirectory%/dicto/*'
        - '%currentWorkingDirectory%/docs/*'
        - '%currentWorkingDirectory%/lang/*'
        - '%currentWorkingDirectory%/node_modules/*'
        - '%currentWorkingDirectory%/templates/*'
        - '%currentWorkingDirectory%/xml/*'
        - '%currentWorkingDirectory%/.github/*'
    earlyTerminatingMethodCalls:
        ilCtrl:
            - redirect
            - redirectByClass
            - redirectToURL
        ilCtrlInterface:
            - redirect
            - redirectByClass
            - redirectToURL
        ILIAS\HTTP\RawHTTPServices:
            - close