<!-- fau: testNav - new template for 'use unchanged answer' -->
<div id="ilQuestionForceFormDiffInput">
    <hr />
	<!-- BEGIN checkbox -->
    <input type="checkbox" name="tst_force_form_diff_input" id="tst_force_form_diff_input" value="1" <!-- BEGIN checked -->checked="checked" <!-- END checked -->>
    <label for="tst_force_form_diff_input"><span id="ilQuestionForceFormDiffInputLabel">{TXT_FORCE_FORM_DIFF_LABEL}</span></label>
	<!-- END checkbox -->
	<!-- BEGIN button -->{BUTTON}<!-- END button -->
</div>