/*
* from legacy template delos.less
*/

.ilCenter {
	text-align: center;
}

.ilRight {
	text-align: right;
}

[dir="rtl"] .ilRight {
	text-align: left;
}

.ilLeft {
	text-align: left;
}

[dir="rtl"] .ilLeft {
	text-align: right;
}

.ilValignMiddle {
	vertical-align: middle;
}