//** Modal backdrop background color
$modal-backdrop-bg:           #000 !default;
//** Modal backdrop blur
$modal-backdrop-blur:           3px !default;
//** Modal backdrop opacity
$modal-backdrop-opacity:      .5 !default;
