@use "../010-settings/" as *;

// The offset should only be used if the contrast between the focus outline and the component is insufficient.
$il-focus-outline-inner-width: 3px;
$il-focus-outline-outer-width: 2px;
$il-focus-outline-inner: $il-focus-outline-inner-width solid $il-focus-color;
$il-focus-outline-outer: $il-focus-outline-outer-width solid $il-focus-protection-color;

// KEYBOARD FOCUS DEFAULT
// This is the mixin you should be using if possible
@mixin il-focus(){
	&:focus {
		outline: none;
    	outline-offset: 0px;
	}
	&:focus-visible {
		position: relative;
		outline: $il-focus-outline-outer;
		outline-offset: $il-focus-outline-inner-width + $il-focus-outline-outer-width - 1px;
		
		&::after {
			content: " ";
			position: absolute;
			top: -$il-focus-outline-outer-width;
			left: -$il-focus-outline-outer-width;
			right: -$il-focus-outline-outer-width;
			bottom: -$il-focus-outline-outer-width;
			border: $il-focus-outline-outer;
			outline: $il-focus-outline-inner;
		}
	}
}

// KEYBOARD FOCUS FOR BUTTONS, INPUTS AND ELEMENTS WITH :AFTER
// some elements like buttons and input field cannot display the il-focus mixin because of the :after element
// in this case use this mixin instead
@mixin il-focus-outline-only($clearAfter: false) {
	&:focus-visible {
		outline: $il-focus-outline-inner;
		box-shadow: inset 0px 0px 0px 2px $il-focus-protection-color, 0px 0px 0px 6px $il-focus-protection-color;
		@if $clearAfter {
			&::after {
				content: none;
			}
		}
	}
}

// KEYBOARD FOCUS FOR ELEMENTS AT THE EDGE
// some elements at the edge do not show the focus outline because it's already offscreen
// in this case use this mixin instead
@mixin il-focus-border-only($clearAfter: false) {
	&:focus-visible {
		outline: none;
		border: $il-focus-outline-inner;
		box-shadow: inset 0px 0px 0px 2px $il-focus-protection-color, 0px 0px 0px 2px $il-focus-protection-color;
		@if $clearAfter {
			&::after {
				content: none;
			}
		}
	}
}