@use "sass:map";
@use "../010-settings/" as *;
@use "../050-layout/basics/" as *;
@use "../030-tools/tool_browser-prefixes" as *;

// Generates highlighted boxes
$background-color:$il-main-darker-bg !default;
$text-color: $il-text-color-invert !default;
$border-color:$il-main-border-color !default;
$border: $il-main-border !default;
$shadow-box: inset 0 1px 1px rgba(0, 0, 0, .05) !default;
$min-height: auto !default;

@mixin highlighted-box(
  $background-color: $background-color,
  $text-color: $text-color,
  $border-color: $border-color
) {
  min-height: $min-height;
  padding: $il-padding-xxxlarge-horizontal;
  margin-bottom: $il-margin-xxlarge-vertical;
  background-color: $background-color;
  border: $border;
  border-radius: $il-border-radius-base;
  text-color: $text-color;
  @include box-shadow($shadow-box);
  blockquote {
    border-color: $border-color;
  }
}