@mixin strip-paragraph-margin__first-and-last {
	p {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}

	}
}

@mixin ilRight {
	text-align: right;
}

@mixin ilLeft {
	text-align: left;
}

@mixin ilCenter {
	text-align: center;
}