// Extended color variants mixin
//
// Easily pump classes for the various color variants
// Example: To render a div with color variant 1 in the light version use:
// <div class="extended-color-variant-1 il-extended-color-variant-light">

//** Factor by witch a specific color variant is darkened in the standard coloring
$il-extended-color-factor-standard: 0%;
//** Factor by witch a specific color variant is lightened in the light coloring
$il-extended-color-factor-light: 14%;
//** Factor by witch a specific variant is lightened in the lighter coloring
$il-extended-color-factor-lighter: 24%;
//** Factor by witch a specific variant is darkened in the dark coloring
$il-extended-color-factor-dark: 14%;
//** Factor by witch a specific variant is darkened in the darker coloring
$il-extended-color-factor-darker: 22%;

//** Factor by witch text colored by a specific color variant in the standard coloring shown inside a background of this exact variant is lightened
$il-extended-text-color-factor-standard: 30%;
//** Factor by witch text colored by a specific color variant in the light coloring shown inside a background of this exact variant is darkened
$il-extended-text-color-factor-light: 17%;
//** Factor by witch text colored by a specific color variant in the lighter coloring shown inside a background of this exact variant is darkened
$il-extended-text-color-factor-lighter: 15%;
//** Factor by witch text colored by a specific color variant in the dark coloring shown inside a background of this exact variant is lightened
$il-extended-text-color-factor-dark: 40%;
//** Factor by witch text colored by a specific color variant in the darker coloring shown inside a background of this exact variant is lightened
$il-extended-text-color-factor-darker: 60%;

@mixin il-extended-color-variant-mixin($background-color,){
  &.il-extended-color-variant-standard{
    color: darken($background-color,$il-extended-text-color-factor-standard);
    background-color: lighten($background-color,$il-extended-color-factor-standard);
  }

  &.il-extended-color-variant-light{
    color: darken($background-color,$il-extended-text-color-factor-light);
    background-color: lighten($background-color,$il-extended-color-factor-light);
  }
  &.il-extended-color-variant-lighter{
    color: darken($background-color,$il-extended-text-color-factor-lighter);
    background-color: lighten($background-color,$il-extended-color-factor-lighter);
  }
  &.il-extended-color-variant-dark{
    color: lighten($background-color,$il-extended-text-color-factor-dark);
    background-color: darken($background-color,$il-extended-color-factor-light);
  }
  &.il-extended-color-variant-darker{
    color: lighten($background-color,$il-extended-text-color-factor-darker);
    background-color: darken($background-color,$il-extended-color-factor-darker);
  }
}



//Concrete color variant classes
.extended-color-variant-1{
  @include il-extended-color-variant-mixin($il-extended-color-1);
}
.extended-color-variant-2{
  @include il-extended-color-variant-mixin($il-extended-color-2);
}
.extended-color-variant-3{
  @include il-extended-color-variant-mixin($il-extended-color-3);
}
.extended-color-variant-4{
  @include il-extended-color-variant-mixin($il-extended-color-4);
}
.extended-color-variant-5{
  @include il-extended-color-variant-mixin($il-extended-color-5);
}
.extended-color-variant-6{
  @include il-extended-color-variant-mixin($il-extended-color-6);
}
.extended-color-variant-7{
  @include il-extended-color-variant-mixin($il-extended-color-7);
}
.extended-color-variant-8{
  @include il-extended-color-variant-mixin($il-extended-color-8);
}
.extended-color-variant-9{
  @include il-extended-color-variant-mixin($il-extended-color-9);
}