<!-- BEGIN row -->
<tr class="{ROW_CSS}">
  <td class="std" valign="top">
	{CHECK_ITEM}
  </td>
  <td class="std" valign="top">
	{TITLE}
	<!-- BEGIN description -->
	<div class="il_Description_no_margin">{DESCRIPTION}</div>
	<!-- END description -->
	<div class="il_Description_no_margin">{TXT_LAST_CHECK} {LAST_CHECK}</div>
  </td>
  <td class="std" valign="top">
	{TARGET}
  </td>
  <!-- BEGIN params -->
  <td class="std" valign="top">
	{DYN_PARAM}
  </td>
  <!-- END params -->
  <td class="std" valign="top">
	{VALID}
  </td>
  <td class="std" valign="top">
	{ACTIVE}
  </td>
  <td class="std" valign="top">
	{DISABLE_CHECK}
  </td>
  <td class="std" valign="top">
	<a href="{EDIT_LINK}"><img src="{EDIT_IMG}" alt="{EDIT_ALT}" title="{EDIT_ALT}" border="0" /></a>
  </td>
</tr>
<!-- END row -->
