.ltiMetaBarExit {
    position: absolute;
    overflow: hidden;
    text-overflow: clip;
    right: 70px;
    top: 18px;
}

.il-maincontrols-metabar .btn-bulky .bulky-label {
	display: block !important;
}