@use "../../../010-settings/"as *;
@use "../../../050-layout/"as *;

//== Counter
//
//##
$il-counter-padding: 2px 4px;
$il-counter-font-size: $il-font-size-xsmall;
$il-counter-margin-left: -4px;

//== Status Counter
//
//##
$il-counter-status-bg: $il-neutral-light-color;
$il-counter-status-margin-top: 10px;

//== Novelty Counter
//
//##
$il-counter-novelty-bg: $il-warning-color;
$il-counter-novelty-margin-top: -5px;

.badge {
  font-size: $il-counter-font-size;
  margin-left: $il-counter-margin-left;
  position: absolute;
}
.il-counter-novelty {
  padding: $il-counter-padding;
  margin-top: $il-counter-novelty-margin-top;
  background-color: $il-counter-novelty-bg;
}
.il-counter-status {
  padding: $il-counter-padding;
  margin-top: $il-counter-status-margin-top;
  background-color: $il-counter-status-bg;
}