.badge {
  font-size: @il-counter-font-size;
  margin-left: @il-counter-margin-left;
  position: absolute;
}
.il-counter-novelty {
  padding: @il-counter-padding;
  margin-top: @il-counter-novelty-margin-top;
  background-color: @il-counter-novelty-bg;
}
.il-counter-status {
  padding: @il-counter-padding;
  margin-top: @il-counter-status-margin-top;
  background-color: @il-counter-status-bg;
}