<!-- BEGIN tbl_form_header -->
<form action="{FORMACTION}" name="{FORMNAME}" method="post" target="{ACTIONTARGET}">
<!-- END tbl_form_header -->
<div class="ilTableOuter">
<!-- BEGIN tbl_header_title -->
<div class="ilTableHeaderTitle">
	<div style="text-align:right;">
	<!-- BEGIN head_cmd --><a class="il_ContainerItemCommand" href="{HREF_HEAD_CMD}">{TXT_HEAD_CMD}</a><!-- END head_cmd -->
	<!-- BEGIN tbl_header_html -->{HEADER_HTML}<!-- END tbl_header_html -->
    <!-- BEGIN tbl_header_img_link -->
	<a href="{HREF_IMG_LINK}" {TARGET_IMG_LINK}><img alt="{ALT_IMG_LINK}" border="0" src="{SRC_IMG_LINK}" /></a><!-- END tbl_header_img_link -->
	</div>
<!-- BEGIN tbl_header_title_icon --><img src="{TBL_TITLE_IMG}" style="vertical-align:middle" alt="{TBL_TITLE_IMG_ALT}" title="{TBL_TITLE_IMG_ALT}" border="0" />
<!-- END tbl_header_title_icon --><h3 class="ilTableHeaderTitle"><a name="il_table_head" id="il_table_head">{TBL_TITLE}</a></h3>
</div>
<!-- END tbl_header_title --><!-- BEGIN tbl_header_description --><div class="subtitle" style="clear:left;">{TBL_DESCRIPTION}</div>
<!-- END tbl_header_description -->
<!-- BEGIN top_navigation -->
  <div class="tblfooter">
	<div style="text-align:right;">
		<!-- BEGIN top_numinfo -->
		<span class="ilTableFootLight">{NUMINFO}</span>&nbsp;&nbsp;&nbsp;
		<!-- END top_numinfo -->
		<!-- BEGIN top_linkbar -->
		{LINKBAR}
		<!-- END top_linkbar -->
	</div>
  </div>
<!-- END top_navigation -->
<!-- BEGIN tbl_table_start -->
<table class="{CSS_TABLE}" {WIDTH} {ID}>
<!-- END tbl_table_start -->
<!-- BEGIN tbl_header -->
  <tr class="tblheader">
<!-- BEGIN tbl_header_th -->
<!-- BEGIN tbl_header_no_link -->
		<th class="std"{TBL_COLUMN_WIDTH_NO_LINK}>{TBL_HEADER_CELL_NO_LINK}</th>
<!-- END tbl_header_no_link -->
<!-- BEGIN tbl_header_cell -->
    <th class="std" nowrap="nowrap"{TBL_COLUMN_WIDTH}>
	  <a class="tblheader" href="{TBL_ORDER_LINK}" alt="{TBL_ORDER_ALT}" title="{TBL_ORDER_ALT}">{TBL_HEADER_CELL}
<!-- BEGIN tbl_order_image -->
	  <img src="{IMG_ORDER_DIR}" border="0" style="vertical-align: middle;" />
<!-- END tbl_order_image -->
	  </a>
	</th>
<!-- END tbl_header_cell -->
<!-- END tbl_header_th -->
  </tr>
<!-- END tbl_header -->
<!-- BEGIN tbl_content_row -->
  <tr class="{ROWCOLOR}">
<!-- BEGIN tbl_content_cell -->
    <td class="std" colspan="{TBL_COL_SPAN}">{TBL_CONTENT_CELL}
<!-- BEGIN tbl_cell_subtitle -->
	<br/><div class="il_Description">{TBL_CELL_SUBTITLE}&nbsp;</div>
<!-- END tbl_cell_subtitle -->
    </td>
<!-- END tbl_content_cell -->
  </tr>
<!-- END tbl_content_row -->
{TBL_CONTENT}
<!-- BEGIN tbl_no_entries -->
  <tr class="{TBL_NO_ENTRY_CSS_ROW}">
  	<td class="std" style="text-align:center;" colspan="{TBL_NO_ENTRY_COLUMN_COUNT}">{TBL_NO_ENTRY_TEXT}</td>
  </tr>
<!-- END tbl_no_entries -->
<!-- BEGIN tbl_hidden_row -->
  <tr>
  	<td>
  		<!-- BEGIN tbl_hidden_field -->
  			<input type="hidden" name="{FIELD_NAME}" value="{FIELD_VALUE}" />
  		<!-- END tbl_hidden_field -->
  	</td>
  </tr>
<!-- END tbl_hidden_row -->
<!-- BEGIN tbl_table_end -->
</table>
<!-- END tbl_table_end -->
<!-- BEGIN select_all_checkbox -->
<div class="ilTableSelectAll">
	<input type="checkbox" name="{CHECKBOXNAME}" id="{CHECKBOXNAME}" value="1" onClick="javascript:setChecked('{SELECT_ALL_FORM_NAME}', '{SELECT_ALL_CHECKBOX_NAME}', document.{SELECT_ALL_FORM_NAME}.{CHECKBOXNAME}.checked);" />
	<label for="{CHECKBOXNAME}" class="small">{SELECT_ALL_TXT_SELECT_ALL}</label>
</div>
<!-- END select_all_checkbox -->
<!-- BEGIN tbl_action_row -->
<div class="ilTableCommandRow">
		<div style="float:left;">
<!-- BEGIN tbl_action_img_arrow -->
		  <img src="{IMG_ARROW}" alt="{ALT_ARROW}" style="vertical-align:middle;" border="0" />
<!-- END tbl_action_img_arrow -->
<!-- BEGIN tbl_cmd_select -->
		  {SELECT_CMDS}
		  <input class="submit" type="submit" name="select_cmd" value="{TXT_EXECUTE}" />
<!-- END tbl_cmd_select -->
<!-- BEGIN tbl_single_cmd -->
		  <input class="submit" type="submit" name="cmd[{SINGLE_CMD}]" value="{TXT_SINGLE_CMD}" />
<!-- END tbl_single_cmd -->
		</div>
<!-- BEGIN add_object -->
	<div style="text-align:right;">
		{SELECT_OBJTYPE}
		<input class="submit" type="submit" name="cmd[{BTN_NAME}]" value="{TXT_ADD}" />
	</div>
<!-- END add_object -->
<!-- BEGIN plain_buttons -->
			  <div style="text-align:right;">
<!-- BEGIN input_text -->
				<input class="std" type="text" name="{PB_TXT_NAME}" value="{PB_TXT_VALUE}" />
<!-- END input_text -->
<!-- BEGIN plain_button -->
				<input class="submit" type="submit" name="cmd[{PBTN_NAME}]" value="{PBTN_VALUE}" />
<!-- END plain_button -->
			  </div>
<!-- END plain_buttons -->
<div style="clear:both;"></div>
</div>
<!-- END tbl_action_row -->
<!-- BEGIN tbl_footer -->
<div class="tblfooter">
	<div style="text-align:right;">
	<!-- BEGIN tbl_footer_numinfo -->
	<span class="ilTableFootLight">{NUMINFO}</span>&nbsp;&nbsp;&nbsp;
	<!-- END tbl_footer_numinfo -->
	<!-- BEGIN tbl_footer_linkbar -->
	{LINKBAR}
	<!-- END tbl_footer_linkbar -->
	</div>
</div>
<div style="clear:both;"></div>
</div>
<!-- END tbl_footer -->
<!-- BEGIN save_object -->
<br />
<input class="submit" type="submit" value="{BTN_VALUE}" />
<!-- END save_object -->
<!-- BEGIN tbl_form_footer -->
</form>
<!-- END tbl_form_footer -->
