.il-file-dropzone {

  // standard dropzone design
  &.standard {
	padding: 20px 20px;
	min-height: 150px;
	background: @il-file-dropzone-bg;
	border: @il-file-dropzone-border-width @il-file-dropzone-border-style @il-file-dropzone-border-color;
	-moz-border-radius: @il-file-dropzone-border-raduis;
	-webkit-border-radius: @il-file-dropzone-border-raduis;
	border-radius: @il-file-dropzone-border-raduis;  }
	&.standard .dz-message {
	  text-align: center;
	  margin:     40px 0;  }

  // wrapper dropzone design
  &.wrapper {
	padding: 1px  } // <- is needed to display a possible margin of the inner elements

  // general dropzone design
  &.darkend-highlight {
	z-index:  1100;
	position: relative;
	border: @il-file-dropzone-border-width @il-file-dropzone-border-style @il-file-dropzone-border-color;
	-moz-border-radius: @il-file-dropzone-border-raduis;
	-webkit-border-radius: @il-file-dropzone-border-raduis;
	border-radius: @il-file-dropzone-border-raduis;
	background: @il-file-dropzone-highlight-bg;	}

  &.default-highlight {
	border: @il-file-dropzone-border-width @il-file-dropzone-border-style @il-file-dropzone-border-color;
	-moz-border-radius: @il-file-dropzone-border-raduis;
	-webkit-border-radius: @il-file-dropzone-border-raduis;
	border-radius: @il-file-dropzone-border-raduis;
	background: @il-file-dropzone-highlight-bg;	}

  &.drag-hover {
	border: @il-file-dropzone-border-width @il-file-dropzone-border-style @il-file-dropzone-border-color-hover;
	-moz-border-radius: @il-file-dropzone-border-raduis;
	-webkit-border-radius: @il-file-dropzone-border-raduis;
	border-radius: @il-file-dropzone-border-raduis;
	background-color: @il-file-dropzone-hover-bg; }
}
