.il-file-dropzone {



  // standard dropzone design
  &.standard {
	padding: 20px 20px;
	border: 3px #C0C0C0 dashed;
	min-height: 150px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: #FFFFFF;  }
	&.standard .dz-message {
	  text-align: center;
	  margin:     40px 0;  }

  // wrapper dropzone design
  &.wrapper {
	border: 3px #C0C0C0 dashed;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;  }



  // general dropzone design
  &.darkend-drag-enter {
	background-color: #FFFFFF;  }
	&.darkend-drag-enter {
	  z-index:  1100;
	  position: relative;  }

  &.dz-drag-hover {
	border: 3px dashed #606060;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-color: #FFF9BC;
	opacity: 0.7;  }
  &.dz-drag-hover * {
	pointer-events: none;  }
}
