/* Services/UIComponent/Lightbox */
.ilLightbox {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #303030;
  overflow: auto;
}
a.ilMediaLightboxClose {
  display: block;
  float: right;
  margin: 0 0 10px 10px;
  width: 20px;
  height: 20px;
  background: url(images/close_dg.png) no-repeat center;
  cursor: pointer;
}
.ilLightboxContent {
  margin: 50px auto 0;
  width: 640px;
  max-width: 100%;
}
