<form method="post" action={FORMACTION}>
<table class="fullwidth">
	<!-- BEGIN vote_head -->
	<tr class="tbltitle">
	<th class="std">
		<img alt="{TXT_CRS_TITLE}" src="{IMG_VHEAD}" border="0" style="vertical-align: middle;"/>
		{TXT_CRS_TITLE}
	</th>
	</tr>
	<!-- END vote_head -->
	<tr>
		<td class="option_value">
			<table>
				<tr><td colspan="2"><b>{TXT_TITLE}</b></td></tr>
			
			<tr><td colspan="2">{TXT_DESCRIPTION}</td></tr>
			<tr><td colspan="2"><hr noshade style="border:0px; border-bottom:1px solid #C6C6C6">
			{RADIO_VOTES}</td></tr>
				<!-- BEGIN text_answer -->
				<tr><td colspan="2"><hr noshade style="border:0px; border-bottom:1px solid #C6C6C6"></td></tr>
					<tr><td valign="top" width="50">{TXT_NOTE}</td><td>
			<textarea rows="10" cols="25" name="text_answer"></textarea></td></tr>
			<!-- END text_answer -->
			</table>
		</td>
	</tr>
	<tr><td class="submit" align="right"><input type="submit" name="cmd[saveVote]" value="{TXT_SAVE}" class="submit"></td></tr>
	
</table>
</form>
	