<form action="{FORMACTION}" {TARGET} method="post">
	  <table class="fullwidth">
		  <tr class="tbltitle">
			<td colspan="2">
			  <table class="fullwidth_invisible" cellspacing="0">
				  <tr class="tbltitle">
					<td class="tbltitle" align="left">&nbsp;{TXT_HEADER}</td>
				  </tr>
			  </table>
			</td>
		  </tr>
		<tr>
			<td class="option_value">
				<table>
					<tr>
						<td><b>{TXT_TITLE}</b></td>
						<td><input type="text" name="title" value="{VALUE_TITLE}"></td>
					</tr>
					<tr>
						<td><b>{TXT_TEXT}</b></td>
						<td><textarea name="text">{VALUE_TEXT}</textarea></td>
					</tr>
					<tr>
						<td><b>{TXT_ANONYMOUS}</b></td>
						<td><input type="radio" name="anonymous" value="1"{ANONYMOUS_YES}> {TXT_YES} <input type="radio" name="anonymous" value="0"{ANONYMOUS_NO}> {TXT_NO} </td>
					</tr>
					<tr> 
						<td><b>{TXT_TYPE}</b></td>
						<td>{SELECT_TYPE}&nbsp;&nbsp;
						<select name="show_on">
							<option value="login" {SHOW_LOGIN_SELECTED}>{TXT_LOGIN}</option>
							<option value="course" {SHOW_CHANGE_COURSE_SELECTED}>{TXT_CHANGE_COURSE}</option>
						</select>
						</td>
					</tr>
					<tr>
						<td><b>{TXT_TEXT_ANSWER}</b></td>
						<td><input type="radio" name="text_answer" value="1" {TEXT_ANSWER_YES}> {TXT_YES} <input type="radio" name="text_answer" value="0" {TEXT_ANSWER_NO}> {TXT_NO} </td>
					</tr>
					<tr>
						<td valign="top"><b>{TXT_VOTES}</b></td>
						<td>
						<!-- BEGIN vote -->{VOTE_NUM}.&nbsp;{TXT_TEXT}&nbsp;&nbsp;<input type="text" name="vote[{VOTE_NUM}]" value="{VALUE_VOTE_TEXT}"a><br><!-- END vote -->
							
							<div align="right"><input type="hidden" name="extra_votes" value="{VALUE_EXTRA_VOTES}"><input type="submit" class="submit" value="{TXT_NEW_VOTE}" name="cmd[{CMD_ADDVOTE}]"></div>
						</td>
					</tr>
				</table>
			</td>
			<td class="option_value">
				<table>
					<tr>
						<td></td>
						<td align="right">{TXT_DAY}</td>
						<td>{TXT_MONTH}</td>
						<td>{TXT_YEAR}</td>
						<td></td>
					</tr>
					<tr>
						<td><b>{TXT_FROM}</b></td>
						<td align="right">
							{SELECT_ACTIVATION_START_DAY}
						</td>
						<td>
							{SELECT_ACTIVATION_START_MONTH}
						</td>
						<td>
							{SELECT_ACTIVATION_START_YEAR}&nbsp;{SELECT_ACTIVATION_START_HOUR}:{SELECT_ACTIVATION_START_MINUTE}
						
						</td>
						<td>
						</td>
					</tr>
					<tr>
						<td><b>{TXT_UNTIL}</b></td>
						<td align="right">
							{SELECT_ACTIVATION_END_DAY}
						</td>
						<td>
							{SELECT_ACTIVATION_END_MONTH}
						</td>
						<td>
							{SELECT_ACTIVATION_END_YEAR}&nbsp;{SELECT_ACTIVATION_END_HOUR}:{SELECT_ACTIVATION_END_MINUTE}
						
						
						</td>
						<td></td>
					</tr>
					<tr>
						<td></td><td colspan="4">{TXT_REPEAT}</td>
					</tr>
					<tr>
						<td><b>{TXT_EVERY}</b></td>
						<td>
							{SELECT_INTERVAL}
							{SELECT_INTERVAL_UNIT}
						</td>
						<td></td><td></td><td></td>
					</tr>
					<tr>
						<td colspan="5"><br><br><br><br><br>{TXT_FIRST_VOTE} <input type="radio" name="first_vote_best" value="1" {BEST_CHECKED}>{TXT_BEST}  <input type="radio" name="first_vote_best" value="0" {WORST_CHECKED}>{TXT_WORST} {TXT_VOTE}</td>
					</tr>
				</table>
			</td>
		</tr>
	  <tr>
		<td class="submit" colspan="2">
		  <div align="right">
			  <input class="submit" type="submit" name="cmd[{CMD_SUBMIT}]" value="{TXT_SUBMIT}" />
		  </div>
		</td>
	  </tr>
	</table>
  </form>