<table>
	<tr>
		<td valign="top"><form name="stats" action="{FORMACTION}" method="post">
			<table cellspacing="5">
				<tr>
					<td>{TXT_CHART_TYPE}</td>
					<td>{SELECTBOX_CHART_TYPE}</td>
				</tr>
				<tr>
					<td>{TXT_USER}</td>
					<td>{SELECTBOX_USER}<input type="hidden" name="cmd[stats]"></form></td>
				</tr>
			</table></td>
		<td>
	</tr>
		<td>
			{CHART_LINES} 
			{CHART_PIE} 
			<!-- BEGIN votes_table -->
			<table cellspacing="0" width="600">
				<tr class="tblheader">
					<td>{TXT_TABLE_DATE}</td>
					<td>{TXT_TABLE_USERNAME}</td>
					<td>{TXT_TABLE_VOTE}</td>
				</tr>
				<!-- BEGIN tablerow -->
				<tr class="tblrow{VALUE_NUM}"> 
					<td>{VALUE_VOTETIME}</td>
					<td>{VALUE_USER}</td>
					<td>{VALUE_VOTE}</td>
				</tr>
				<!-- END tablerow -->
			</table>
			<!-- END votes_table -->
		</td>
	</tr>
</table>
<p></p>
<!-- BEGIN comment -->
<table cellspacing="0" cellpadding="2" width="600">
	<tr class="tblheader">
		<td>{TXT_USERNAME}</td>
		<td>{TXT_DATE}</td>
		<td width="350">{TXT_COMMENT}</td>
	</tr>	
	<!-- BEGIN comment_row -->
	<tr class="tblrow{VALUE_NUM}">
		<td valign="top"><b>{VALUE_LOGIN}</b></td>
		<td valign="top">{VALUE_DATE}</td>
		<td>{VALUE_NOTE}</td>
	</tr>
	<!-- END comment_row -->
</table>
<!-- END comment -->
