<!DOCTYPE html>
<html lang="{LANGUAGE}" dir="{TEXT_DIRECTION}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<!-- BEGIN for_ui_examples_only -->
    <!-- ATTENTION: This only exists to provide an example of the complete page.     -->
    <!-- This won't be included in renderings of ordinary pages. Also have a look    -->
    <!-- into \ILIAS\UI\Implementation\Component\Layout\Page\Renderer::setHeaderVars -->
	<base href="{BASE}" />
	<!-- END for_ui_examples_only -->

	<title>{SHORT_TITLE}: {VIEW_TITLE}</title>

	<style>
		{CSS_INLINE}
	</style>

	<!-- BEGIN css_file -->
	<link rel="stylesheet" type="text/css" href="{CSS_FILE}" />
	<!-- END css_file -->

	<!-- BEGIN js_file -->
	<script src="{JS_FILE}"></script>
	<!-- END js_file -->

    <!-- BEGIN meta_datum -->
    <meta name="{META_KEY}" content="{META_VALUE}" />
    <!-- END meta_datum -->
</head>

<body>

	<div class="il-layout-page<!-- BEGIN slates_engaged --> with-mainbar-slates-engaged<!-- END slates_engaged -->">

		<header>
			<div class="header-inner">
				<div class="il-logo">
					<span class="hidden-xs">{LOGO}</span>
					<span class="visible-xs">{RESPONSIVE_LOGO}</span>
					<div class="il-pagetitle">
						{TITLE}
					</div>
				</div>

				<!-- BEGIN header_locator -->
				<nav class="il-header-locator">
					{HEADER_BREADCRUMBS}
				</nav>
				<!-- END header_locator -->
				{METABAR}
			</div>
		</header>

		<div class="breadcrumbs">
			{BREADCRUMBS}
		</div>

		<div class="il-system-infos">
			{SYSTEMINFOS}
		</div>

		<div class="nav il-maincontrols">
			{MAINBAR}
		</div>

		<!-- html5 main-tag is not supported in IE / div is needed -->
		<main class="il-layout-page-content">
			<div>
				<!-- BEGIN mode_info -->
				{MODEINFO}
				<!-- END mode_info -->
				{CONTENT}
			</div>


			<!-- BEGIN pagefooter -->
			<footer role="contentinfo">
				{FOOTER}
			</footer>
			<!-- END pagefooter -->
		</main>


	</div>


<!-- BEGIN on_load_code -->
<script>
	<!-- BEGIN on_load_code_inner -->
		il.Util.addOnLoad(function() {
			{OLCODE}
		});
	<!-- END on_load_code_inner -->
</script>
<!-- END on_load_code -->

</body>
</html>
