{
    "extends": "eslint:recommended",
    "rules": {
        "no-unused-vars": ["error", { "args": "none" }],
        "no-console": ["error", { "allow": ["warn"] }],
        "keyword-spacing": "error",
        "no-tabs": "error",
        "semi": "error",
        "no-trailing-spaces": "error"
    },
    "env": {
        "browser": true
    },
    "globals": {
        "Nestable": true
    }
}
