<tr class="{CSS_ROW}">
	<td class="std" valign="top">
		{TXT_PAYS_FEES}
	</td>
	<td class="std" valign="top">
		{TXT_LASTNAME}
	</td>
	<td class="std" valign="top">
		{TXT_FIRSTNAME}
	</td>
	<td class="std" valign="top">
		{TXT_EMAIL}
	</td>
	<td class="std" valign="top">
		{TXT_LOGIN}
	</td>
	<td class="std" valign="top">
		{TXT_ORG}
	</td>
	<td class="std" valign="top">
		{TXT_STATUS}
	</td>
	<td class="std" valign="top">
		{TXT_BILL_DATA_COMPLETE}
	</td>
	<td class="std" valign="top">
		{TXT_ACTION}
	</td>
</tr>