<!-- BEGIN no_js_section -->
<noscript>
{NO_JS_CONTENT}
<!-- BEGIN no_js_link -->
<a class="{LINK_CLASS_NO_JS}" href="{HREF_NO_JS}" <!-- BEGIN no_js_link_frame -->target="{TARGET_NO_JS}"<!-- END no_js_link_frame --> >{TXT_LINK_NO_JS}</a>
<!-- BEGIN no_js_link -->
</noscript>
<!-- END no_js_section -->
<!-- BEGIN js_section -->
<span onmouseover="ilAdvSelListOn('{ID}');" onmouseout="ilAdvSelListOff('{ID}');" id="ilAdvSelListAnchorElement_{ID}">
<a class="{CLASS_SEL_TOP}" href="#" target="_top">
<!-- BEGIN top_img --><img border="0" src="{IMG_DOWN}" alt="{ALT_SEL_TOP}"/><!-- END top_img --> {TXT_SEL_TOP}
</a>
</span>
<table onmouseover="ilAdvSelListOn('{ID}');" onmouseout="ilAdvSelListOff('{ID}');" style="clear:both; display:none; position:absolute;" class="il_adv_sel" id="ilAdvSelListTable_{ID}">
<!-- BEGIN item -->
<tr class="il_adv_sel" onmouseover="ilAdvSelItemOn(this);" onmouseout="ilAdvSelItemOff(this);" onclick="parent.location='{HREF_ITEM}';"><!-- BEGIN no_image --><td class="il_adv_sel"></td><!-- END no_image --><!-- BEGIN image --><td class="il_adv_sel"><img src="{IMG_ITEM}" alt="{ALT_ITEM}"/></td><!-- END image --><td class="il_adv_sel"><a <!-- BEGIN item_link_class -->class="{ITEM_LINK_CLASS}"<!-- END item_link_class --> <!-- BEGIN frame -->target="{TARGET_ITEM}"<!-- END frame --> href="{HREF_ITEM}">{TXT_ITEM}</a></td></tr>
<!-- END item -->
</table>
<script type="text/javascript">
//<![CDATA[
il_adv_sel_lists.push('{ID}');
//]]>
</script>
<!-- END js_section -->
