@use "../../../010-settings/"as *;
@use "../../../020-dependencies/modifications/bootstrap-3-scss/bootstrap-3-scss-modified-variables-mixins" as btstrp3;

@use "../../../050-layout/basics" as *;

//== Modal
//
//## Variables that modify and minpulate the appearance of modals
//** Controls the speed of the fade in/out of the modal
$il-modal-transition-speed: 0.15s;
$il-modal-light-color: $il-main-bg;
$il-modal-dark-color: $il-neutral-color;

.modal {
	&.fade{
		transition-property: opacity;
		transition-duration: $il-modal-transition-speed;
		transition-timing-function: linear;
		transition-delay: 0s;

		.modal-title{
			font-size: $il-font-size-large;
		}
		.modal-dialog {
			@include btstrp3.transition-transform(unquote("#{$il-modal-transition-speed} ease-out"));
		}
	}
	&.il-modal-lightbox-dark {
		.modal-content {
			background-color: $il-modal-dark-color;
			color: $il-modal-light-color;
			.modal-header {
				border-bottom-color: $il-modal-dark-color;
			}
		}
		.close {
			color: $il-modal-light-color;
			opacity: 1;
		}
	}
}

.carousel {
	.carousel-inner {
		min-height: 400px;

		.item:not(.text-only) .item-content {
			display: flex;
			justify-content: center
		}
	}

	.carousel-indicators {
		position: relative; // show indicators on top of the image
		li {
			border-color: $il-main-bg;
			background-color: $il-neutral-color;

			&.active {
				background-color: $il-main-bg;
				border-color: $il-neutral-color;
			}
		}
	}

	.carousel-control {
		background: transparent;
		color: $il-main-bg;
		text-shadow: 0px 0px 4px $il-neutral-color;
		opacity: 0.9;
		&:hover, &:focus-visible {
			position: absolute;
			opacity: 1;
			text-shadow: 0px 0px 8px $il-neutral-color;
		}
	}
}


.il-modal-roundtrip {
	//Override the grid system for forms in modals, see #33172
	.il-standard-form {
		.row {
			.col-sm-4, .col-md-3, .col-lg-2 {
				width: 33.33%;
			}
			.col-sm-8, .col-md-9, .col-lg-10 {
				width: 66.67%
			}
		}
	}
}

.c-modal--interruptive {
	.c-modal--interruptive__items {
			margin-bottom: $il-margin-xxxlarge-vertical;
		.c-modal--interruptive__items__key-value {
			.c-modal--interruptive__items__key-value__key {
				float: left;
				clear: left;
				font-weight: initial;
			}
			.c-modal--interruptive__items__key-value__value {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-style: italic;
				color: $il-text-light-color;
				padding-left: $il-padding-small-horizontal;
			}
		}
	}
}
