/* Services/UIComponent/AdvancedSelectionList */

div.il_adv_sel {
	border: 1px solid #d6d6d6;
    .box-shadow(2px 2px 4px #c0c0c0);
}

table.il_adv_sel {
	color: black;
	background-color: white;
	border-spacing: 0;
	cursor: pointer;
}

tr.il_adv_sel {
	cursor: pointer;
}

tr.il_adv_sel_act {
	background-color: #fff9bc;
	cursor: pointer;
}

td.il_adv_sel {
	border-bottom: 1px solid #f0f0f0;
	padding: 3px 10px;
	text-align: left;
	white-space: nowrap;
	cursor: pointer;
	font-weight: normal;
}

#ilAdvSelListTable_item_creation td.il_adv_sel {
	min-width: 150px;
}

td.il_adv_sel_ic {
	border-bottom: 1px solid #f0f0f0;
	padding: 3px 0 3px 10px;
	text-align: left;
	cursor: pointer;
}

td.ilAsyncImgLoader {
	padding: 0 40px;
}

span[id^="ilAdvSelListAnchorElement_"] + div {
	position: absolute;
	z-index: 5000;
	left: 0;
	right: 0;
}

div[id^="ilAdvSelListTable_"] {
	overflow: auto;
	background-color: white;
	clear: both;
	display: none;
	position: absolute;
}
