<li id="{ID}"
	class="il-tree-node node-simple<!-- BEGIN expandable --> expandable<!-- END expandable --><!-- BEGIN expanded --> expanded<!-- END expanded --><!-- BEGIN highlighted --> highlighted<!-- END highlighted -->"
	<!-- BEGIN async_loading --> data-async_url="{ASYNCURL}" data-async_loaded="false"<!-- END async_loading -->
	>
	<span class="node-line">
		{ICON}<span class="node-label">{LABEL}</span>
		<!-- BEGIN byline -->
		<span class="node-byline">{BYLINE}</span>
		<!-- END byline -->
	</span>



<!-- BEGIN subnodes -->
	<ul>
		{SUBNODES}
	</ul>
	<!-- END subnodes -->
</li>
