.il-tree {
	list-style-type: none;
	padding: 0 @padding-small-vertical 0 calc(@padding-small-vertical + @il-tree-node-horizontal-spacing);
	margin-left: 0;
	ul {
		padding-left: @il-tree-node-indentation;
		list-style-type: none;
	}
	li.il-tree-node {
		padding: 0;

		.node-line {
			padding: @il-tree-node-vertical-spacing 0 @il-tree-node-vertical-spacing @il-tree-node-indentation;
			cursor: pointer;
			display: flex;
			flex-wrap: wrap;
			> .node-label {
				padding-left: @il-tree-node-horizontal-spacing;
				.icon {
					vertical-align: text-bottom;
				}
			}
			> .node-byline {
				padding-left: @il-tree-node-horizontal-spacing;
				width: 100%;
			}
		}
		&.highlighted > .node-line {
			background-color: @il-highlight-bg;
		}
		&.expandable {
			> .node-line:before {
				color: @il-neutral-light-color;
				&:extend(.glyphicon-triangle-right:before);
				position: absolute;
				margin-left: -@il-tree-node-indentation;
			}
			&[aria-expanded="true"] > .node-line:before {
				&:extend(.glyphicon-triangle-bottom:before);
			}
		}
		&[aria-expanded="false"] > ul{
			display: none;
		}
	}
}

