@use "../../../010-settings/"as *;
@use "../../../010-settings/legacy-settings/legacy-settings_form" as *;
@use "../../../030-tools/tool_focus-outline" as *;
@use "../../../050-layout/basics"as *;
@use "../../../020-dependencies/modifications/bootstrap-3-scss/bootstrap-3-scss-modified-variables-mixins" as btstrp3;

//== Buttons

//** Colors of engaged buttons
$il-engaged-btn-color: $il-text-color;
$il-engaged-btn-bg: white;

//** many variables can be found on settings layer

// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-size: $il-button-font-size;
  font-weight: btstrp3.$btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  @include btstrp3.button-size($il-padding-base-vertical, $il-padding-base-horizontal, $il-font-size-base, $il-line-height-base, btstrp3.$btn-border-radius-base);
  @include btstrp3.user-select(none);
  @include il-focus();

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $il-btn-standard-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    background-image: none;
    outline: 0;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: btstrp3.$cursor-disabled;
    @include btstrp3.opacity(.65);
    @include btstrp3.box-shadow(none);
  }

  // [converter] extracted a& to a.btn
}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}

//This is legacy for the old forms implementation. Can be removed as soon as the old implementation is removed.
input.btn{
  display: inline-block;
  min-width: $il-button-min-width-forms;
  vertical-align: top;

  @media (max-width: $il-grid-float-breakpoint-max){
    min-width: 0;
  }
}

.btn-default {
  @include btstrp3.button-variant($il-btn-standard-color, $il-btn-standard-bg, $il-btn-standard-border);
  &:focus-visible {
    position: relative;
  }
}

.btn-primary {
  @include btstrp3.button-variant($il-btn-primary-color, $il-btn-primary-bg, $il-btn-primary-border);
}

// ILIAS doesn't use btn-success, btn-info, btn-warning, btn-danger

// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  font-weight: 400;
  color: $il-link-color;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include btstrp3.box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $il-link-hover-color;
    text-decoration: btstrp3.$link-hover-decoration;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: btstrp3.$btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include btstrp3.button-size($il-padding-large-vertical, $il-padding-large-horizontal, $il-font-size-large, $il-line-height-large, btstrp3.$btn-border-radius-large);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include btstrp3.button-size($il-padding-small-vertical, $il-padding-small-horizontal, $il-font-size-small, $il-line-height-small, btstrp3.$btn-border-radius-small);
}
.btn-xs {
  @include btstrp3.button-size($il-padding-xs-vertical, $il-padding-xs-horizontal, $il-font-size-small, $il-line-height-small, btstrp3.$btn-border-radius-small);
}


.btn, .btn.btn-tag{
  &[disabled],
  fieldset[disabled] {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $il-disabled-btn-bg;
      border-color: $il-disabled-btn-border;
      color: $il-disabled-btn-color;
      cursor: default;
    }
  }
  &.engaged {
    &,
    &:hover,
    &:active,
    &.active {
      background-color: $il-engaged-btn-bg;
      color: $il-engaged-btn-color;
    }
  }
}


// #16322
button > .glyphicon {
  pointer-events: none;
}

a[disabled], a fieldset[disabled] {
	&,
	&:hover,
	&:focus,
	&:active,
	&.active {
		background-color: $il-disabled-btn-bg;;
		color: $il-disabled-btn-color;
		border-color: $il-disabled-btn-border;
		padding: 0;
		cursor: default;
	}
}

.il-btn-month .dropdown-menu {
  min-width:250px;
}

// shy buttons
.btn.btn-link {
	padding: 0;
	text-align: left;
	white-space: normal;

    vertical-align: baseline;
    font-size: inherit;
}

// bulky buttons
.btn-bulky {
	width: 100%
}

// button with loading animation
.il-btn-with-loading-animation {
	background-image: url("#{$il-background-images-path}loader.svg");
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 18px;
}

.minimize, .close {
  font-size: ($il-font-size-base * 1.5);
  font-weight: $il-font-weight-bold;
  line-height: 1;
  color: $il-neutral-light-color;

  &:hover,
  &:focus {
    color: $il-neutral-color;
    text-decoration: none;
  }

  button & {
    padding: 0;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
  }
}

.close{
  float: right;
}