.btn-tag {
    display: inline-block;
    white-space: nowrap;
    padding: @il-padding-xs-vertical @il-padding-xs-horizontal;
    margin: @il-btn-tag-margin;
    border-radius: @il-btn-tag-border-radius;

    &.btn-tag-inactive {
        cursor: default !important;
    }

    &.btn-tag-relevance-verylow {
        background-color: @il-btn-tag-bg-relevance-verylow;
        color: @il-btn-tag-fg-relevance-verylow;
    }

    &.btn-tag-relevance-low {
        background-color: @il-btn-tag-bg-relevance-low;
        color: @il-btn-tag-fg-relevance-low;
    }

    &.btn-tag-relevance-middle {
        background-color: @il-btn-tag-bg-relevance-middle;
        color: @il-btn-tag-fg-relevance-middle;
    }

    &.btn-tag-relevance-high {
        background-color: @il-btn-tag-bg-relevance-high;
        color: @il-btn-tag-fg-relevance-high;
    }

    &.btn-tag-relevance-veryhigh {
        background-color: @il-btn-tag-bg-relevance-veryhigh;
        color: @il-btn-tag-fg-relevance-veryhigh;
    }
}
