@use "../../../010-settings/"as *;
@use "../../../030-tools/scss-input/tool_form-patterns" as *;
@use "../../../050-layout/"as *;
@use "../../../030-tools/scss-input/tool_focus-outline" as *;
@use "../../../020-dependencies/modifications/bootstrap-3-scss-modified-variables-mixins" as btstrp3;


//== Buttons

//** some variables can be found on settings layer

//** Text color of inactive buttons
$il-disabled-btn-color: darken($il-text-color, 20%); // wasn't on settings layer
$il-disabled-btn-bg: #b0b0b0;
$il-disabled-btn-border: #b0b0b0;
$il-disabled-btn-color: darken($il-text-color, 20%);

//** Text color of engaged buttons
$il-engaged-btn-color: $il-text-color;
$il-engaged-btn-bg: white;

.btn {
	font-size: $il-button-font-size;
	@include il-focus();

  &:active {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

//This is legacy for the old forms implementation. Can be removed as soon as the old implementation is removed.
input.btn{
  display: inline-block;
  min-width: $il-button-min-width-forms;
  vertical-align: top;

  @media (max-width: $il-grid-float-breakpoint-max){
    min-width: 0;
  }
}

.btn-default {
  @include btstrp3.button-variant($il-btn-standard-color, $il-btn-standard-bg, $il-btn-standard-border);
  &:focus-visible {
    position: relative;
  }
}

.btn-primary {
  @include btstrp3.button-variant($il-btn-primary-color, $il-btn-primary-bg, $il-btn-primary-border);
}

.btn, .btn.btn-tag{
  &[disabled],
  fieldset[disabled] {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $il-disabled-btn-bg;
      border-color: $il-disabled-btn-border;
      color: $il-disabled-btn-color;
      cursor: default;
    }
  }
  &.engaged {
    &,
    &:hover,
    &:active,
    &.active {
      background-color: $il-engaged-btn-bg;
      color: $il-engaged-btn-color;
    }
  }
}


// #16322
button > .glyphicon {
  pointer-events: none;
}

a[disabled], a fieldset[disabled] {
	&,
	&:hover,
	&:focus,
	&:active,
	&.active {
		background-color: $il-disabled-btn-bg;;
		color: $il-disabled-btn-color;
		border-color: $il-disabled-btn-border;
		padding: 0;
		cursor: default;
	}
}

.il-btn-month .dropdown-menu {
  min-width:250px;
}

// shy buttons
.btn.btn-link {
	padding: 0;
	text-align: left;
	white-space: normal;

    vertical-align: baseline;
    font-size: inherit;
}

// bulky buttons
.btn-bulky {
	width: 100%
}

// button with loading animation
.il-btn-with-loading-animation {
	background-image: url("#{$il-background-images-path}loader.svg");
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 18px;
}

.minimize, .close {
  font-size: ($il-font-size-base * 1.5);
  font-weight: $il-font-weight-bold;
  line-height: 1;
  color: $il-neutral-light-color;

  &:hover,
  &:focus {
    color: $il-neutral-color;
    text-decoration: none;
  }

  button & {
    padding: 0;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
  }
}

.close{
  float: right;
}