<!-- BEGIN bucket -->
<div class="il-item-task">
	<div class="il-item-task-title">
		<h4>{BUCKET_TITLE}</h4>
		<!-- BEGIN description -->
		<p>{BUCKET_DESCRIPTION}</p>
		<!-- END description -->
	</div>
	<div class="il-item-task-content">
		{CONTENT}
	</div>
	<!-- BEGIN failed -->
	<div class="">
		<p>{ALERT}</p>
	</div>
	<!-- END failed -->
	<div class="il-item-task-interactions text-right">
		{INTERACTIONS} <!-- BEGIN close_button -->{CLOSE_BUTTON}<!-- END close_button -->
	</div>
</div>
<!-- END bucket -->
