{CONFIRMATION}
{FORM}
{FORM_2}
{TABLE}
{TABLE_2}

<!-- form used for ajax actions -->
<form name="ajaxform" id="ajaxform" method="post" action="{WYSIWYG_ACTION}">
<input type="hidden" id="ajaxform_cmd" name="" value="" />
<input type="hidden" id="ajaxform_node" name="ajaxform_node" value="" />
<input type="hidden" id="ajaxform_content" name="ajaxform_content" />
</form>
<script language="JavaScript" type="text/javascript">
{DND_INIT_JS}

var tiny_formats = "{WYSIWYG_BLOCKFORMATS}";
var tiny_valid = "{WYSIWYG_VALID_ELEMENTS}";
var tiny_buttons1 = "{WYSIWYG_BUTTONS_1}";
var tiny_buttons2 = "{WYSIWYG_BUTTONS_2}";
var tiny_buttons3 = "{WYSIWYG_BUTTONS_3}";
</script>
