<tr class="{CSS_ROW}">
<!-- BEGIN transaction --><td>{VAL_TRANSACTION}</td><!-- END transaction -->
<!-- BEGIN object_title --><td>{VAL_OBJECT_TITLE}</td><!-- END object_title -->
<!-- BEGIN vendor --><td>{VAL_VENDOR}</td><!-- END vendor -->
<!-- BEGIN customer --><td>{VAL_CUSTOMER}</td><!-- END customer -->
<!-- BEGIN order_date --><td>{VAL_ORDER_DATE}</td><!-- END order_date -->
<!-- BEGIN duration --><td>{VAL_DURATION}</td><!-- END duration -->
<!-- BEGIN price --><td>{VAL_PRICE}</td><!-- END price -->
<!-- BEGIN discount --><td>{VAL_DISCOUNT}</td><!-- END discount -->
<!-- BEGIN payed_access --><td>{VAL_PAYED_ACCESS}</td><!-- END payed_access -->

<!-- BEGIN edit --><td>{VAL_EDIT}</td><!-- END edit -->
</tr>