<!-- BEGIN page_content -->{PAGE_CONTENT}<div style="height: 1px; line-height: 1px; clear: both;">&nbsp;</div><!-- END page_content -->

<!-- BEGIN SHOW_FILTER -->
<form method="post" action="{FILTER_FORM_ACTION}">
<table class="invisible">
<tr>
	<td>{FILTER_TEXT}</td>
	<td>
		<select name="sel_filter_type">
<!-- BEGIN filterrow -->
		<option value="{VALUE_FILTER_TYPE}" {VALUE_FILTER_SELECTED}>{NAME_FILTER_TYPE}</option>
<!-- END filterrow -->
		</select>
	</td>
	<td>{TEXT_FILTER_BY}</td>
	<td><input type="text" name="filter_text" size="20" value="{VALUE_FILTER_TEXT}" /></td>
	<td><input class="submit" type="submit" name="cmd[{CMD_SUBMIT_FILTER}]" value="{VALUE_SUBMIT_FILTER}" /></td>
	<td><input class="submit" type="submit" name="cmd[{CMD_RESET_FILTER}]" value="{VALUE_RESET_FILTER}" /></td>
</tr>

<!-- BEGIN filter_topics -->
<tr>
	<td>{TXT_FILTER_TOPICS}:</td>
	<td>{SELECTBOX_FILTER_TOPICS}</td>
</tr>
<!-- END filter_topics -->
</table>
</form>
<!-- END SHOW_FILTER -->
<!-- BEGIN sorting -->
<form method="post" action="{SORTING_FORM_ACTION}">
<table class="invisible" align="right">
<!-- BEGIN topics_sort_block -->
<tr>	
 	<td valign="middle">{SORT_TOPICS_BY_TEXT}:&nbsp;</td>
 	<td valign="middle">
	 	<select name="topics_sorting_type"  size="1">
			<option value="{SORTING_TYPE_BY_TITLE}" {SORTING_TYPE_BY_TITLE_SELECTED}>{SORTING_TYPE_BY_TITLE_TEXT}</option>
			<option value="{SORTING_TYPE_BY_DATE}" {SORTING_TYPE_BY_DATE_SELECTED}>{SORTING_TYPE_BY_DATE_TEXT}</option>
			<!-- BEGIN sort_manually -->
			<option value="{SORTING_TYPE_MANUALLY}" {SORTING_TYPE_MANUALLY_SELECTED}>{SORTING_TYPE_MANUALLY_TEXT}</option>
			<!-- END sort_manually -->
		</select>
	</td>
	<td valign="middle">
		<select name="topics_sorting_direction"  size="1">
			<option value="ASC" {SORTING_DIRECTION_ASC_SELECTED}>{SORTING_DIRECTION_ASCENDING_TEXT}</option>
			<option value="DESC" {SORTING_DIRECTION_DESC_SELECTED}>{SORTING_DIRECTION_DESCENDING_TEXT}</option>
		</select>
	</td>
</tr>
<!-- END topics_sort_block -->
<tr>
	 <td valign="middle">{SORT_BY_TEXT}:&nbsp;</td>
	 <td valign="middle">
	 	<select name="order_field"  size="1">
	 		<!-- BEGIN order_field -->
			<option value="{ORDER_FIELD_VALUE}" {ORDER_FIELD_SELECTED}>{ORDER_FIELD_TEXT}</option>
			<!-- END order_field -->
		</select>				
	</td>
	<td valign="middle">		
		<select name="order_direction"  size="1">
			<option value="asc" {ORDER_DIRECTION_ASC_SELECTED}>{ASCENDING_TEXT}</option>
			<option value="desc" {ORDER_DIRECTION_DESC_SELECTED}>{DESCENDING_TEXT}</option>
		</select>
	</td>
</tr>
<tr>
	<td valign="middle">&nbsp;&nbsp;</td>
	<td valign="middle">&nbsp;&nbsp;</td>
	<td valign="middle" align="right"><input class="submit" type="submit" name="cmd[{CMD_SORT}]" value="{SORT_TEXT}"/></td>
</tr>
</table>
</form>
<div style="clear: both; height: 1px; line-height: 1px; display: block;"></div>
<!-- END sorting -->

<!-- BEGIN results -->
<br />
<!--  BEGIN prev_next -->
<center>{SEARCH_PAGE} 
<!--  BEGIN prev --><a href="{PREV_LINK}">{TXT_PREV} </a><!--  END prev -->
<!-- BEGIN pages_link -->{NUMBER} <!-- END pages_link -->
<!-- BEGIN next --><a href="{NEXT_LINK}">{TXT_NEXT}</a><!-- END next -->
</center>
<br />
<!--  END prev_next -->	 

<!-- BEGIN result_list -->
{RESULTS}
<!-- END result_list -->
<!-- END results -->