<!-- BEGIN tbl_form_header -->
<form action="{FORMACTION}" name="{FORMNAME}" method="post" target="{ACTIONTARGET}" class="preventDoubleSubmission"<!-- BEGIN form_multipart_bl --> enctype="multipart/form-data"<!-- END form_multipart_bl -->>
<!-- END tbl_form_header -->

<div>
	<!-- BEGIN filter_activation -->
	<a  style="display:none;" class="btn btn-link" id = "atfil_{FILA_ID}" href="#" onclick="return ilShowTableFilter('tfil_{FILA_ID}', '{SAVE_URLA}');">{TXT_ACTIVATE_FILTER}</a>
	<!-- END filter_activation -->
	
	<!-- BEGIN filter_deactivation -->
	<a class="btn btn-link" id = "dtfil_{FILD_ID}" href="#" onclick="return ilHideTableFilter('tfil_{FILD_ID}', '{SAVE_URL}');">{TXT_HIDE}</a>
	<!-- END filter_deactivation -->
	<!-- BEGIN filter_hidden -->
	<script type="text/javascript">
		ilTableHideFilter['atfil_{FI_ID}'] = true;
		ilTableHideFilter['tfil_{FI_ID}'] = true;
		ilTableHideFilter['dtfil_{FI_ID}'] = true;
	</script>
	<!-- END filter_hidden -->
</div>
<!-- BEGIN filter_section -->
<div class="ilTableFilterSec" id = "tfil_{FIL_ID}" style="display:none;">
	<fieldset class="ilTableFilter">
		<legend class="ilTableFilter">{TXT_FILTER}</legend>
		<!-- BEGIN filter_select -->
		<input type="submit" class="btn btn-default" name="cmd[{HIDDEN_CMD_APPLY}]" style="display:none;" />
		<div class="small" style="margin-bottom:5px";>{FILTER_SELECTOR}</div>
<!-- END filter_select -->
<table border="0" class="ilTableFilter" datatable="0">
	<!-- BEGIN filter_row -->
	<tr>
		<!-- BEGIN filter_item -->
		<td class="ilFilterOption">
			<div class="ilTableFilterLabel"><label for="{F_INPUT_ID}">{OPTION_NAME}</label></div>
			<div class="ilTableFilterInput">{INPUT_HTML}</div>
		</td>
		<!-- END filter_item -->
		<!-- BEGIN filter_empty_cell -->
		<td>&nbsp;</td>
		<!-- END filter_empty_cell -->
	</tr>
	<!-- END filter_row -->
	<!-- BEGIN optional_filter_hint -->
	<tr>
		<td class="ilFilterOption">{TXT_OPT_HINT}</td>
	</tr>
	<!-- END optional_filter_hint -->
</table>
<!-- BEGIN filter_buttons -->
<span><input type="submit" class="btn btn-default" name="cmd[{CMD_APPLY}]" value="{TXT_APPLY}" />
<input type="submit" class="btn btn-default" name="cmd[{CMD_RESET}]" value="{TXT_RESET}" /></span>
<!-- END filter_buttons -->
</fieldset>
</div>
<!-- END filter_section -->
<!-- BEGIN tbl_form_footer -->
</form>
<!-- END tbl_form_footer -->