<tr class="{CSS_ROW}">
<!-- BEGIN coupon_id --><td class="std">{VAL_COUPON_ID}</td><!-- END coupon_id -->
<!-- BEGIN coupon_code --><td class="std">{VAL_COUPON_CODE}</td><!-- END coupon_code -->
<!-- BEGIN pc_title --><td class="std">{VAL_PC_TITLE}</td><!-- END pc_title -->
<!-- BEGIN number_of_codes --><td>{VAL_NUMBER_OF_CODES}</td><!-- END number_of_codes -->
<!-- BEGIN usage_of_codes --><td>{VAL_USAGE_OF_CODES}</td><!-- END usage_of_codes -->
<!-- BEGIN objects --><td class="std">{VAL_OBJECTS}</td><!-- END objects -->
<!-- BEGIN pc_from --><td class="std">{VAL_PC_FROM}</td><!-- END pc_from -->
<!-- BEGIN pc_till --><td class="std">{VAL_PC_TILL}</td><!-- END pc_till -->
<!-- BEGIN last_changed --><td class="std">{VAL_PC_LAST_CHANGED}</td><!-- END last_changed -->
<!-- BEGIN last_changed_author --><td class="std">{VAL_PC_LAST_CHANGED_AUTHOR}</td><!-- END last_changed_author -->
<!-- BEGIN options --><td class="std">{VAL_OPTIONS}</td><!-- END options -->
</tr>