<tr class="{CSS_ROW}">
<!-- BEGIN price_id --><td>{VAL_PRICE_ID}</td><!-- END price_id -->
<!-- BEGIN duration --><td>{VAL_DURATION}</td><!-- END duration -->
<!-- BEGIN month --><td>{VAL_MONTH}</td><!-- END month -->
<!-- BEGIN unlimited_duration --><td>{VAL_UNLIMITED_DURATION}</td><!-- END unlimited_duration -->
<!-- BEGIN price --><td>{VAL_PRICE}</td><!-- END price -->
<!-- BEGIN currency_unit --><td>{VAL_CURRENCY_UNIT}</td><!-- END currency_unit -->
<!-- BEGIN extension --><td>{VAL_EXTENSION}</td><!-- END extension -->
<!-- BEGIN edit --><td>{VAL_EDIT}</td><!-- END edit -->
</tr>