<table class="il_Block"><!-- BEGIN container_row --><!-- BEGIN container_header_row_image -->
<tr>
<th class="il_PDBlockSubHeader" style="vertical-align:top;" width="1">
<img border="0" src="{HEADER_IMG}" alt="{HEADER_ALT}" title="{HEADER_ALT}" />
</th>
<th class="il_PDBlockSubHeader" id="{BLOCK_HEADER_ID}">{BLOCK_HEADER_CONTENT}</th>
</tr>
<!-- END container_header_row_image -->
<!-- BEGIN container_header_row -->
<tr>
<th class="il_PDBlockSubHeader" style="padding:3px;" id="{BLOCK_HEADER_ID}" colspan="2">{BLOCK_HEADER_CONTENT}</th>
</tr>
<!-- END container_header_row -->
<!-- BEGIN container_standard_row -->
<!-- BEGIN row_type_1 -->
<tr class="tblrow1">
<!-- END row_type_1 -->
<!-- BEGIN row_type_2 -->
<tr class="tblrow2">
<!-- END row_type_2 -->
<td class="std" valign="top" width="1"><!-- BEGIN block_row_image --><img border="0" src="{ROW_IMG}" alt="{ROW_ALT}" title="{ROW_ALT}"/><!-- END block_row_image -->{ROW_NBSP}</td>
<td class="std" headers="{BLOCK_ROW_HEADERS}">{BLOCK_ROW_CONTENT}</td>
</tr>
<!-- END container_standard_row --><!-- END container_row --></table>