<tr class="{CSS_ROW}">
<!-- BEGIN object_id --><td>{VAL_OBJECT_ID}</td><!-- END object_id -->
<!-- BEGIN title --><td>{VAL_TITLE}</td><!-- END title -->
<!-- BEGIN status --><td>{VAL_STATUS}</td><!-- END status -->
<!-- BEGIN pay_method --><td>{VAL_PAY_METHOD}</td><!-- END pay_method -->
<!-- BEGIN vat_rate --><td>{VAL_VAT_RATE}</td><!-- END vat_rate -->
<!-- BEGIN vendor --><td>{VAL_VENDOR}</td><!-- END vendor -->
<!-- BEGIN purchasers --><td>{VAL_PURCHASERS}</td><!-- END purchasers -->
<!-- BEGIN options --><td>{VAL_OPTIONS}</td><!-- END options -->

</tr>