@use "../../../010-settings/"as *;
@use "../../../030-tools/scss-input/pattern_dropzone" as *;
@use "../../../050-layout/basics"as *;

//== Dropzones
//
//## Customizes the Drozpones component

// Dropzone Styles
// $author Thibeau Fuhrer <thibeau$sr.solutions>
.ui-dropzone {
	border: $il-dropzone-border-width $il-dropzone-border-style $il-dropzone-filelist-border-color;
	background: $il-dropzone-bg;
	display: inline-block;
	margin-bottom: $il-margin-xs-horizontal;
	width: 100%;
}

.ui-dropzone-wrapper {
	background: none;
	border: none;
}

.ui-dropzone.highlight {
	border: $il-dropzone-border-width $il-dropzone-border-style $il-dropzone-border-color;
	border-radius: $il-dropzone-border-radius;
	background: $il-dropzone-highlight-bg;
	padding: calc($il-padding-base-vertical - $il-dropzone-border-width);
}

.ui-dropzone.highlight-current {
	border: $il-dropzone-border-width $il-dropzone-border-style $il-dropzone-border-color-hover;
	background-color: $il-dropzone-hover-bg;
	padding: calc($il-padding-base-vertical - $il-dropzone-border-width);
}

.ui-dropzone-message {
	font-size: $il-font-size-base;
	margin-bottom: $il-margin-base-vertical;
	float: right;
}

.ui-dropzone .form-group {
	width: 100%;
}

// fix to enlarge inputs if they are in an ilXYListGUI.
.ui-dropzone .form-group input,
.ui-dropzone .form-group textarea {
	width: 100%;
}