<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>ILIAS SCORM Offline Manager</title>
	<!-- Bootstrap -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link id="skin" href="skin/ilias/som.css" rel="stylesheet" media="screen">
	<script type="text/javascript" src="../Modules/ScormAicc/scripts/jquery-min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../Modules/ScormAicc/scripts/pouchdb-6.2.0.js"></script>
	<script type="text/javascript" src="som.js"></script>
</head>
<body id="somBody">
	<div class="container" id="somHeader">
		<div id="somLogo64"></div><div id="somTitle" data-l10n-id="somTitle"></div>
	</div>
	<div class="container" id="somLm">
		<div class="accordion" id="acLm"></div>
	</div>
</body>
</html>
