<div id="accordion_{CNT}" class="{CONTAINER_CLASS}" {CWIDTH}>
<!-- BEGIN item -->
<div class="{INNER_CONTAINER_CLASS}">
<div class="il_{OR_SHORT}AccordionToggleDef"><div class="{HEADER_CLASS}" style="{HHEIGHT} overflow:auto;">{HEADER}</div></div>
<div class="il_{OR_SHORT}AccordionContentDef"><div class="{CONTENT_CLASS}" style="{HEIGHT} overflow:auto;">{CONTENT}</div></div>
</div>
<!-- END item -->
<div style="clear:both;"></div>
</div>
<script type="text/javascript">
	ilAccordionData[ilAccordionData.length] = new Array('accordion_{CNT}', 'il_{OR2_SHORT}AccordionToggleDef',
		'il_{OR2_SHORT}AccordionToggleActiveDef', 'il_{OR2_SHORT}AccordionContentDef',
		{WIDTH}, null, '{ORIENTATION}', '{BEHAVIOUR}', '{SAVE_URL}', '{ACTIVE_HEAD_CLASS}', '{ID}');
</script>
