<div id="il_center_col" class="col-sm-12">

	<div class="ilLSOKioskModeObjectHeader">
		<div class="media il_HeaderInner">
			<div id="headerimage" class="media-object">
				{OBJECT_ICON}
			</div>
			<h1 class="media-heading ilHeader">
				<div class="ilAccAnchor" id="il_mhead_t_focus">
					{OBJECT_TITLE}
				</div>
			</h1>
		</div>
	</div>

	<nav class="ilToolbar navbar-default ilLSOKioskModeNavigation" role="navigation" id="2">
		<div class="container-fluid">
			<div class="navbar-header">
				<div class="navbar-form">
					<script>{JS_INLINE}</script>
					{PLAYER_NAVIGATION} | {OBJ_NAVIGATION}
				</div>

				<div class="ilLSOKioskModeViewModes">
					{VIEW_MODES}
				</div>
			</div>

		</div>
	</nav>

	<div class="ilLSOKioskModeLocator">
		{LOCATOR}
	</div>

	<div class="ilLSOKioskModeContent">
		{CONTENT}
	</div>

</div> <!-- il_center_col -->
