/* Modules/Poll */
.ilPollDescription {
  margin: 5px;
  font-size: 80%;
  color: #808080;
}
.ilPollQuestion {
  display: inline-block;
  width: 97%;
  margin: 1.5%;
  font-size: 90%;
  font-style: italic;
}
img.ilPollQuestionImage {
  margin: 1.5% 0%;
  max-width: 100%;
}
.ilPollQuestionAnswers {
  margin: 5px;
  font-size: 80%;
}
.ilPollQuestionAnswer {
  margin-bottom: 5px;
}
.ilPollQuestionResults {
  margin: 10px;
  font-size: 80%;
}
.ilPollQuestionResult {
  margin-bottom: 5px;
}
.ilPollQuestionResultBar {
  width: 100%;
  border: 1px solid #AAA;
  float: left;
  height: 18px;
}
.ilPollQuestionResultBarInner {
  background-color: #C2E1FF;
  height: 18px;
}
.ilPollQuestionResultPerc {
  float: right;
  position: relative;
  margin-top: -17px;
  margin-right: 3px;
}
.ilPollLegend {
  margin-bottom: 5px;
}
.ilPollLegend td.legendLabel {
  font-size: 120%;
}
