<script type="text/javascript">
<!--
function toggleDownloadsPublic(form)
{
	if (form.downloads.checked)
	{
		form.downloads_public.disabled = false;
	}
	else
	{
		form.downloads_public.disabled = true;
	}
}
//-->
</script>

<form action="{FORMACTION}" name="post" method="post">
<table class="std">
<tr class="tblheader">
	<td class="std" colspan="2">
		{TXT_PROPERTIES}
	</td>
</tr>
<tr class="std">
	<td class="option">
	{TXT_ONLINE}
	</td>
	<td class="option_value">
	<input type="checkbox" name="{CBOX_ONLINE}" value="{VAL_ONLINE}" {CHK_ONLINE}>
	</td>
</tr>
<tr class="std">
	<td class="option">
	{TXT_LAYOUT}
	</td>
	<td class="option_value">
	{SELECT_LAYOUT}
	</td>
</tr>
<tr class="std">
	<td class="option">
	{TXT_STYLE}
	</td>
	<td class="option_value">
	{VAL_STYLE}
	<!-- BEGIN style_edit -->
		<a href="{LINK_STYLE_EDIT}" class="il_ContainerItemCommand">{TXT_STYLE_EDIT}</a>
		<a href="{LINK_STYLE_DROP}" class="il_ContainerItemCommand">{TXT_STYLE_DROP}</a>
	<!-- END style_edit -->
	<!-- BEGIN style_create -->
		<a class="il_ContainerItemCommand" href="{LINK_STYLE_CREATE}">{TXT_STYLE_CREATE}</a>
	<!-- END style_create -->
	</td>
</tr>
<tr class="std">
	<td class="option">
	{TXT_PAGE_HEADER}
	</td>
	<td class="option_value">
	{SELECT_PAGE_HEADER}
	</td>
</tr>
<tr class="std">
	<td class="option">
	{TXT_NUMBER}
	</td>
	<td class="option_value">
	<input type="checkbox" name="{CBOX_NUMBER}" value="{VAL_NUMBER}" {CHK_NUMBER}>
	</td>
</tr>
<tr class="std">
	<td class="option">
	{TXT_TOC_MODE}
	</td>
	<td class="option_value">
	{SELECT_TOC_MODE}
	</td>
</tr>
<!-- BEGIN pub_notes -->
<tr class="std">
	<td class="option">
	{TXT_PUB_NOTES}
	</td>
	<td class="option_value">
	<input type="checkbox" name="{CBOX_PUB_NOTES}" value="{VAL_PUB_NOTES}" {CHK_PUB_NOTES}>
	<span class="small"><br />{TXT_PUB_NOTES_DESC}</span>
	</td>
</tr>
<!-- END pub_notes -->
<tr class="std">
	<td class="option">
	{TXT_CLEAN_FRAMES}
	</td>
	<td class="option_value">
	<input type="checkbox" name="{CBOX_CLEAN_FRAMES}" value="{VAL_CLEAN_FRAMES}" {CHK_CLEAN_FRAMES}>
	<span class="small"><br />{TXT_CLEAN_FRAMES_DESC}</span>
	</td>
</tr>
<tr class="std">
	<td class="option">
	{TXT_HIST_USER_COMMENTS}
	</td>
	<td class="option_value">
	<input type="checkbox" name="{CBOX_HIST_USER_COMMENTS}" value="{VAL_HIST_USER_COMMENTS}" {CHK_HIST_USER_COMMENTS}>
	<span class="small"><br />{TXT_HIST_USER_COMMENTS_DESC}</span>
	</td>
</tr>
<tr class="tblheader">
	<td class="std" colspan="2">
		{TXT_LM_MENU}
	</td>
</tr>
<tr class="std">
	<td class="option">
	{TXT_ACT_MENU}
	</td>
	<td class="option_value">
	<input type="checkbox" name="{CBOX_LM_MENU}" value="{VAL_LM_MENU}" {CHK_LM_MENU}>
	</td>
</tr>
<tr class="std">
	<td class="option">
	{TXT_TOC}
	</td>
	<td class="option_value">
	<input type="checkbox" name="{CBOX_TOC}" value="{VAL_TOC}" {CHK_TOC}>
	</td>
</tr>
<tr class="std">
	<td class="option">
	{TXT_PRINT}
	</td>
	<td class="option_value">
	<input type="checkbox" name="{CBOX_PRINT}" value="{VAL_PRINT}" {CHK_PRINT}><br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="checkbox" name="{CBOX_PRINT_PREV_GLO}" value="{VAL_PRINT_PREV_GLO}" {CHK_PRINT_PREV_GLO}>
	{TXT_PRINT_PREV_GLO}
	</td>
</tr>
<tr class="std">
	<td class="option">
	{TXT_DOWNLOADS}
	</td>
	<td class="option_value">
	<input type="checkbox" name="{CBOX_DOWNLOADS}" id="downloads" value="{VAL_DOWNLOADS}" {CHK_DOWNLOADS} onClick="toggleDownloadsPublic(document.post)"/>
	<span class="small"><br />{TXT_DOWNLOADS_DESC}</span>
	<br/>
	<input type="checkbox" name="{CBOX_DOWNLOADS_PUBLIC}" id="downloads_public" value="{VAL_DOWNLOADS_PUBLIC}" {CHK_DOWNLOADS_PUBLIC} {CHK2_DOWNLOADS_PUBLIC}/>
	<span class="small"><br />{TXT_DOWNLOADS_PUBLIC_DESC}</span>
	</td>
</tr>
<!-- BEGIN menu_entries -->
<tr class="std">
	<td class="option">
	<a href="{ENTRY_LINK}" target="_blank">{ENTRY_TITLE}</a> 
	</td>
	<td class="option_value">
	<table cellpadding="0" cellspacing="0" border="0"><tr>
		<td>
		<input type="checkbox" name="{CBOX_ENTRY}" value="{VAL_ENTRY}" {CHK_ENTRY}>
		</td>
		<td valign="top" class="std" width="1px">{EDIT}
		  <a href="{LINK_EDIT}" class="navigation" target="{TARGET_EDIT}">
			<img border="0" src="{IMG_EDIT}" align="middle" title="{TXT_EDIT}" alt="{TXT_EDIT}" />
		  </a>
		</td>
		<td valign="top" class="std" width="1px">{DROP}
		 <a href="{LINK_DROP}" class="navigation" target="{TARGET_DROP}">
		   <img border="0" src="{IMG_DROP}" align="middle" title="{TXT_DROP}" alt="{TXT_DROP}" />
		 </a>
		 </td>
	  </tr></table>
	  </td>
	</tr>
	</td>
</tr>
<!-- END menu_entries -->
<!-- BEGIN commands -->
<tr>
	<td class="submit" colspan="2">
		<input class="submit" type="submit" name="cmd[{BTN_NAME}]" value="{BTN_TEXT}" />
		<input class="submit" type="submit" name="cmd[{BTN_NAME2}]" value="{BTN_TEXT2}" />
	</td>
</tr>
<!-- END commands -->
</table>
<!-- BEGIN TRANSLATION -->
	  <br />
	  <table class="std">
		  <tr class="tblheader">
			<td class="std" colspan="2">
			  {TRANSLATION_HEADER}
			</td>
		  </tr>
		  <!-- BEGIN TRANSLATION_ROW -->
		  <tr class="std">
			<td class="option_value"><input type="checkbox" name="id[]" value="{ROW_ID}" /></td>
			<td class="option_value">{ROW_TITLE}</td>
		  </tr>
		  <!-- END TRANSLATION_ROW -->
		  <tr>
			<td class="submit" colspan="2">
			  <input class="submit" type="submit" name="cmd[{BTN1_NAME}]" value="{BTN1_TEXT}" />&nbsp;
			  <!-- BEGIN TRANSLATION_DELETE -->
			  <input class="submit" type="submit" name="cmd[{BTN2_NAME}]" value="{BTN2_TEXT}" />
			  <!-- END TRANSLATION_DELETE -->
			</td>
		  </tr>
	  </table>
<!-- END TRANSLATION -->
	</form>
		  
		
