<!DOCTYPE html>
<html lang="{META_CONTENT_LANGUAGE}" dir="{LANGUAGE_DIRECTION}">
<head>
	<title>{WINDOW_TITLE} {PAGETITLE}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{LOCATION_STYLESHEET}" />
	<!-- BEGIN ContentStyle -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_CONTENT_STYLESHEET}" />
	<!-- END ContentStyle -->
	<!-- BEGIN SyntaxStyle -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_SYNTAX_STYLESHEET}" />
	<!-- END SyntaxStyle -->
	<!-- BEGIN js_file -->
	<script type="text/javascript" src="{JS_FILE}"></script>
	<!-- END js_file -->
	<!-- BEGIN css_file -->
	<link rel="stylesheet" type="text/css" href="{CSS_FILE}" media="{CSS_MEDIA}" />
	<!-- END css_file -->
	<!-- BEGIN tree_icons --><!-- END tree_icons -->
</head>
<body style="background-color: white;">
{INLINE_JS}
<div class="ilInvisibleBorder">
	<div class="xxxilc_page_frame_PageFrame">
		<div class="xxxilc_page_cont_PageContainer">
			<h2 class="ilc_page_title_PageTitle">{TXT_TERM}</h2>
			<!-- BEGIN definition -->
			<!-- BEGIN definition_header -->
			<div class="ilc_DefinitionHeader">{TXT_DEFINITION}</div>
			<!-- END definition_header -->
			{PAGE_CONTENT}
			<!-- END definition -->
		</div>
	</div>
</div>
<!-- BEGIN on_load_code -->
<script type="text/javascript">
	<!-- BEGIN on_load_code_inner -->
		il.Util.addOnLoad(function() {
			{OLCODE}
		});
	<!-- END on_load_code_inner -->
</script>
<!-- END on_load_code -->
</body>
</html>
