<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
	"http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>ILIAS 3</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{LOCATION_STYLESHEET}" />
	<!-- BEGIN ContentStyle -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_CONTENT_STYLESHEET}" />
	<!-- END ContentStyle -->
	<!-- BEGIN SyntaxStyle -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_SYNTAX_STYLESHEET}" />
	<!-- END SyntaxStyle -->
	<!-- BEGIN js_file -->
	<script type="text/javascript" src="{JS_FILE}"></script>
	<!-- END js_file -->
</head>
<body>
<style>
body { margin:0px; }
</style>
{MAINMENU}
{NAVIGATION_HISTORY}
<!-- BEGIN ilLocator -->
{STATUSLINE}
<!-- END ilLocator -->
<!--<div class="invisible_border">-->
<!-- BEGIN lm_head --><h1 class="il_LMHead"><!-- BEGIN header_image --><img style="vertical-align:middle" <!-- BEGIN header_image_desc -->alt="{IMAGE_DESC}"<!-- END header_image_desc --> border="0" src="{IMG_HEADER}" id="headerimage" />&nbsp;<!-- END header_image -->
	{HEADER}</h1>
<!-- END lm_head -->
{MENU}
<table class="fullwidth_invisible"><tr><td class="ilInvisibleBorder" style="padding-top:2px;">
{MESSAGE}
{INLINE_JS}
<table class="ilc_Page" width="100%" cellspacing="0" cellpadding="0">
<!-- BEGIN ilLMNavigation -->
<tr>
	<td class="ilc_LMNavigation" cellpadding="3" valign="middle" align="left">
	<!-- BEGIN ilLMNavigation_Prev -->
	<a href="{HREF_PREV}" {FRAME_PREV}>
	<img style="vertical-align:middle; margin-right:5px;" border="0" src="{IMG_PREV}" alt="{ALT_PREV}" title="{ALT_PREV}"/>{TXT_PREV}</a>
	<!-- END ilLMNavigation_Prev -->
	</td>
	<td class="ilc_LMNavigation" cellpadding="3" valign="middle" align="right">
	<!-- BEGIN ilLMNavigation_Next -->
	<a href="{HREF_SUCC}" {FRAME_SUCC}>
	{TXT_SUCC}<img style="vertical-align:middle; margin-left:5px;" border="0" src="{IMG_SUCC}" alt="{ALT_SUCC}" title="{ALT_SUCC}"/></a>
	<!-- END ilLMNavigation_Next -->
	</td>
</tr>
<!-- END ilLMNavigation -->
<!-- BEGIN ilPage -->
<tr><td class="ilc_Page" colspan="2">
{PAGE_CONTENT}
</td></tr>
<!-- END ilPage -->
<!-- BEGIN ilLMNavigation2 -->
<tr>
	<td class="ilc_LMNavigation" cellpadding="3" valign="middle" align="left">
	<!-- BEGIN ilLMNavigation_Prev2 -->
	<a href="{HREF_PREV2}" {FRAME_PREV2}>
	<img style="vertical-align:middle; margin-right:5px;" border="0" src="{IMG_PREV2}" alt="{ALT_PREV2}" title="{ALT_PREV2}"/>{TXT_PREV2}</a>
	<!-- END ilLMNavigation_Prev2 -->
	</td>
	<td class="ilc_LMNavigation" cellpadding="3" valign="middle" align="right">
	<!-- BEGIN ilLMNavigation_Next2 -->
	<a href="{HREF_SUCC2}" {FRAME_SUCC2}>
	{TXT_SUCC2}<img style="vertical-align:middle; margin-left:5px;" border="0" src="{IMG_SUCC2}" alt="{ALT_SUCC2}" title="{ALT_SUCC2}"/></a>
	<!-- END ilLMNavigation_Next2 -->
	</td>
</tr>
<!-- END ilLMNavigation2 -->
</table>
<!--</div>-->
<br />
{SUBMENU}
<br />
{NOTES}
</td></tr></table>
</body>
</html>
