<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
	"http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>ILIAS 3</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{LOCATION_STYLESHEET}" />
	<!-- BEGIN ContentStyle -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_CONTENT_STYLESHEET}" />
	<!-- END ContentStyle -->
	<!-- BEGIN SyntaxStyle -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_SYNTAX_STYLESHEET}" />
	<!-- END SyntaxStyle -->
	<!-- BEGIN js_file -->
	<script type="text/javascript" src="{JS_FILE}"></script>
	<!-- END js_file -->
</head>
<body>
<style>
body { margin:0px; }
</style>
{MAINMENU}<!-- BEGIN sr_focus -->
<script type="text/javascript">ilAddOnLoad(ilScreenReaderFocus);</script>
<!-- END sr_focus -->
{NAVIGATION_HISTORY}
<!-- BEGIN ilLocator -->
{STATUSLINE}
<!-- END ilLocator -->
<!--<div class="invisible_border">-->
<!-- BEGIN lm_head --><h1 class="il_LMHead"><!-- BEGIN header_image --><img style="vertical-align:middle" <!-- BEGIN header_image_desc -->alt="{IMAGE_DESC}"<!-- END header_image_desc --> border="0" src="{IMG_HEADER}" id="headerimage" />&nbsp;<!-- END header_image -->
	{HEADER}</h1>
<!-- END lm_head -->
{MENU}
<table class="ilc_page_frame_PageFrame" cellpadding="0" cellspacing="0"><tr><td>
{MESSAGE}
{INLINE_JS}
<!-- BEGIN ilLMNavigation -->
<div class="ilc_page_tnav_TopNavigation">
	<!-- BEGIN ilLMNavigation_Prev -->
	<div class="ilc_page_lnav_LeftNavigation">
	<a {PREV_ACC_KEY} class="ilc_page_lnavlink_LeftNavigationLink" href="{HREF_PREV}" {FRAME_PREV}>
	<img class="ilc_page_lnavimage_LeftNavigationImage" border="0" src="./templates/default/images/spacer.gif" alt="{ALT_PREV}" title="{ALT_PREV}" class="ilc_page_rnavimage_RightNavigationImage" />{TXT_PREV}&nbsp;</a>
	</div>
	<!-- END ilLMNavigation_Prev -->
	<!-- BEGIN ilLMNavigation_Next -->
	<div class="ilc_page_rnav_RightNavigation">
	<a {NEXT_ACC_KEY} class="ilc_page_rnavlink_RightNavigationLink" href="{HREF_SUCC}" {FRAME_SUCC}>&nbsp;
	{TXT_SUCC}<img class="ilc_page_rnavimage_RightNavigationImage" border="0" src="./templates/default/images/spacer.gif" alt="{ALT_SUCC}" title="{ALT_SUCC}" class="ilc_page_rnavimage_RightNavigationImage" /></a>
	</div>
	<!-- END ilLMNavigation_Next -->
	<div style="clear:both;"></div>
</div>
<!-- END ilLMNavigation -->
<!-- BEGIN ilPage -->
<table class="ilc_page_cont_PageContainer" width="100%" cellspacing="0" cellpadding="0">
<tr><td><span class="ilAccHidden"><a name="il_lm_head" id="il_lm_head"></a></span>
{PAGE_CONTENT}
</td></tr>
</table>
<!-- END ilPage -->
<!-- BEGIN ilLMNavigation2 -->
<div class="ilc_page_bnav_BottomNavigation">
	<!-- BEGIN ilLMNavigation_Prev2 -->
	<div class="ilc_page_lnav_LeftNavigation">
	<a class="ilc_page_lnavlink_LeftNavigationLink" href="{HREF_PREV2}" {FRAME_PREV2}>
	<img class="ilc_page_lnavimage_LeftNavigationImage" border="0" src="./templates/default/images/spacer.gif" alt="{ALT_PREV2}" title="{ALT_PREV2}" class="ilc_page_rnavimage_RightNavigationImage" />{TXT_PREV2}&nbsp;</a>
	</div>
	<!-- END ilLMNavigation_Prev2 -->
	<!-- BEGIN ilLMNavigation_Next2 -->
	<div class="ilc_page_rnav_RightNavigation">
	<a class="ilc_page_rnavlink_RightNavigationLink" href="{HREF_SUCC2}" {FRAME_SUCC2}>&nbsp;
	{TXT_SUCC2}<img class="ilc_page_rnavimage_RightNavigationImage" border="0" src="./templates/default/images/spacer.gif" alt="{ALT_SUCC2}" title="{ALT_SUCC2}" class="ilc_page_rnavimage_RightNavigationImage" /></a>
	</div>
	<!-- END ilLMNavigation_Next2 -->
	<div style="clear:both;"></div>
</div>
<!-- END ilLMNavigation2 -->
<!--</div>-->
<br />
{SUBMENU}
<br />
{NOTES}
</td></tr></table>
</body>
</html>
