<!DOCTYPE html>
<html lang="{META_CONTENT_LANGUAGE}" dir="{LANGUAGE_DIRECTION}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{WINDOW_TITLE} {PAGETITLE}</title>
	<!-- BEGIN js_file -->
	<script type="text/javascript" src="{JS_FILE}"></script>
	<!-- END js_file -->
	<!-- BEGIN css_file -->
	<link rel="stylesheet" type="text/css" href="{CSS_FILE}" media="{CSS_MEDIA}" />
	<!-- END css_file -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_STYLESHEET}" />
	<!-- BEGIN ContentStyle -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_CONTENT_STYLESHEET}" />
	<!-- END ContentStyle -->
	<!-- BEGIN SyntaxStyle -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_SYNTAX_STYLESHEET}" />
	<!-- END SyntaxStyle -->
</head>
<body <!-- BEGIN body_class -->class="{BODY_CLASS}"<!-- END body_class -->>
<div id="drag_zmove"></div>
<!-- BEGIN ilPage -->
{PAGE_CONTENT}
<!-- END ilPage -->
<!-- BEGIN on_load_code -->
<script type="text/javascript">
	il.Util.addOnLoad(function() {
		<!-- BEGIN on_load_code_inner -->
		{OLCODE}
		<!-- END on_load_code_inner -->
	});
</script>
<!-- END on_load_code -->
<!-- BEGIN view_append_inline_css -->
{APPEND_STYLES}
<!-- END view_append_inline_css -->
</body>
</html>
