<tr>
	<td colspan=3 style="border-style: solid; border-width: 0" $DP_CSS[tblheader] >$DP_language[dv_groupselect]</td>
</tr>    
<tr height=30>
	<td width="20%">$DP_language[dv_groupselect]</td>
	<td width="80%" colspan=2>
		<select name="DateValuesGroup_id" size="1" onChange="CheckSelectGroup('freetime')"  >
			<option value=0>$DP_language[dv_noGroup]</option>
			$DateValues[Groupform]
		</select>
<!-- Hilfe Funktion Start -->
{jsscriptIn}
<a onMouseOver=show('8') onMouseOut=hide('8') href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]#_Toc59013341" target="_blank">
	<IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/help.gif" border=0>
</a>
<div id='8' style='position:absolute; top:400px; left:0px; width:250; visibility:hidden; z-index:1; background-color:white'>
<table border="0" cellpadding="2" cellspacing="2" style="border-collapse: collapse"  width="100%" height="100%">
  <tr>
    <td width="100%" bgcolor="#000080"><b><font color="#FFFFFF">$DP_language[help_group]</font></b> </td>
  </tr>
  <tr>
    <td width="100%" height="100%" valign="top" bgcolor="#FFFFFF" ><font color="#000000">$DP_language[help_group_l] $DP_language[help_further]</font></td>
  </tr>
</table>
</div>
{jsscriptOut}
<noscript><a href=".{DATEPLANER_ROOT_DIR}/lang/$DP_language[help_filename]#_Toc59013341" target="_blank" TITLE="$DP_language[help_group]" ><IMG src=".{DATEPLANER_ROOT_DIR}$templatefolder/$actualtemplate/images/help.gif" border=0></a></noscript>	
<!-- Hilfe Funktion End -->
		&nbsp;
		<!-- Including of the "groups_freetime"- funktion into the NewDate form -->
		<input type="button" value="$DP_language[dv_Grouptime]" onClick="document.Formular.action='dateplaner.php?app=freetime'; document.Formular.submit()" id="freetime">
	</td >
</tr>
