
/* ---------------- alternating tablerowcolors ----------------- */
td.tblrow1 {
	color:#222222;
	background-color:#bbbbbb;
	font-size:13px;
	padding:3px;
	border-color: #525157;
}

td.tblrow2 {
	color:#222222;
	background-color:#eeeeee;
	font-size:13px;
	padding:3px;
    border-color: #525157;
}



td.tblrow3 {
	color:#222222;
	background-color:#6699ff;
	font-size:13px;
	padding:3px;
	border-color: #525157;
}

td.tblrow4 {
	font-size:13px;
    border-color: #525157;
}

td..tblheader {
	font-weight:bold;
	color:#ffffff;
	background-color:#666677;
    border-color: #525157;
}


/*--- freetime-table without padding! ---*/
.tblrow01 {
	color:#222222;
	background-color:#bbbbbb;
	border-color: #525157;
}

.tblrow02 {
	color:#222222;
	background-color:#eeeeee;
	border-color: #525157;
}

.tblrow03 {
	color:#222222;
	background-color:#6699ff;
	border-color: #525157;
}

/* -------------------- table formatting ------------------ */



/* ---------------- headlines ------------------ */



/* ----------------- invisible border ------------- */



/* ----------------- alternative text styles ------------- */

/* ------------------- mail links ----------- */


/* ------------------ buttons -------------- */

/* ------------------ tabs -------------- */

/* ------------------ links -------------- */
a.navi_new:link {
        display: block;
        float: left;
        background-image:url('images/new.gif'); 
		background-repeat:no-repeat ; 
		background-position:center center;}

.navi_new:visited {
        display: block;
        float: left;
        background-image:url('images/new.gif'); 
		background-repeat:no-repeat ; 
		background-position:center center;}
        
.navi_new:hover {
        display: block;
        background-image:url('images/new_o.gif');
		background-repeat:no-repeat ; 
		background-position:center center;}
        
.navi_new:active {
        display: block;
        background-image:url('images/new_o.gif');
		background-repeat:no-repeat ; 
		background-position:center center;}


a.navi_open:link {
        display: block;
        float: left;
        background-image:url('images/open.gif'); 
		background-repeat:no-repeat ; 
		background-position:center center;}

.navi_open:visited {
        display: block;
        float: left;
        background-image:url('images/open.gif'); 
		background-repeat:no-repeat ; 
		background-position:center center;}
        
.navi_open:hover {
        display: block;
        background-image:url('images/open_o.gif');
		background-repeat:no-repeat ; 
		background-position:center center;}
        
.navi_open:active {
        display: block;
        background-image:url('images/open_o.gif');
		background-repeat:no-repeat ; 
		background-position:center center;}