<form name="feedback" action="dateplaner.php?app=date" method="POST" > 
<input type="hidden" name="date2"					value="$date2"> 
<input type="hidden" name="DateValues[begin_h]"		value="$DateValues[begin_h]"> 
<input type="hidden" name="DateValues[begin_min]"	value="$DateValues[begin_min]"> 
<input type="hidden" name="DateValuesWhole_day"		value="$DateValuesWhole_day" > 
<input type="hidden" name="date4"					value="$date4"> 
<input type="hidden" name="DateValues[end_h]"		value="$DateValues[end_h]"> 
<input type="hidden" name="DateValues[end_min]"		value="$DateValues[end_min]"> 
<input type="hidden" name="DateValuesRotation"		value="$DateValuesRotation" >  
<input type="hidden" name="date6"					value="$date6" > 
<input type="hidden" name="DateValuesGroup_id"		value="$DateValuesGroup_id" > 
<input type="hidden" name="DateValues[keyword_id]"	value="$DateValues[keyword_id]" > 
<input type="hidden" name="DateValues[text]"		value="$DateValues[text]" > 
<input type="hidden" name="DateValues[shorttext]"	value="$DateValues[shorttext]" > 
<input type="hidden" name="DateValues[referer]"		value="$DateValues[caller]"> 
<input type="hidden" name="dateview"				value="freetime" > 
<input type="hidden" name="timestamp"				value="" > 

<a href="javascript:document.getElementsByName('feedback')[0].submit()" class="btn" >[<b> $DP_language[back] </b>]</a> 
</form>

<table style="border-width:0; BORDER-COLLAPSE: collapse"  cellSpacing="0" cellPadding="0" border="1" width="560" height="10">
  <tr >
    <td align="middle" width="60px" height="40"  $DP_CSS[tblheader]><center>$DP_language[week]
	<br><span $DP_CSS[small]>$S_Datum[week]</span></center></td>
    <td align="middle" width="60px" height="40" $DP_CSS[tblheader]>$DP_language[Mo_short]
	<br><span $DP_CSS[small]>$S_Datum[monday_full]</span></td>
    <td align="middle" width="60px" height="40"  $DP_CSS[tblheader]>$DP_language[Tu_short]
	<br><span $DP_CSS[small]>$S_Datum[tuesday_full]</span></td>
    <td align="middle" width="60px" height="40" $DP_CSS[tblheader]>$DP_language[We_short]	
	<br><span $DP_CSS[small]>$S_Datum[wednesday_full]</span></td>
    <td align="middle" width="60px" height="40"  $DP_CSS[tblheader]>$DP_language[Th_short]
	<br><span $DP_CSS[small]>$S_Datum[thursday_full]</span></td>
    <td align="middle" width="60px" height="40"  $DP_CSS[tblheader]>$DP_language[Fr_short]
	<br><span $DP_CSS[small]>$S_Datum[friday_full]</span></td>
    <td align="middle" width="60px" height="40"  $DP_CSS[tblheader]>$DP_language[Sa_short]
	<br><span $DP_CSS[small]>$S_Datum[saturday_full]</span></td>
    <td align="middle" width="60px" height="40"  $DP_CSS[tblheader]>$DP_language[Su_short]
	<br><span $DP_CSS[small]>$S_Datum[sunday_full]</span></td>

	$htmlBuffer

  <tr>
    <td width="100%" colSpan="9" style="border-style: none; border-width: medium">
    <p align="center"></p>
    </td>
  </tr>
</table>
<br><center>
<table border="0" cellpadding="2" cellspacing="2" style="border-width:0; BORDER-COLLAPSE: collapse" bordercolor="#111111" width="40%" id="AutoNumber1">
  <tr>
    <td width="13%" $DP_CSS[tblrow03]>&nbsp;</td>
    <td width="87%" align="left">$DP_language[busytime]</td>
  </tr>
  <tr>
    <td width="13%" colspan=2 height=10>
  </tr>
    <tr>
    <td width="13%" $DP_CSS[tblrow02]>&nbsp;</td>
    <td width="87%" align="left">$DP_language[freetime]</td>
  </tr>

</table>
</center>


</body>
</html>
