<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>{TITLE} {PAGETITLE}</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Print List</title>
<SCRIPT LANGUAGE="JavaScript">
<!-- Begin

function printPage() {
if (window.print) {
jetztdrucken = confirm('Seite drucken ?');
if (jetztdrucken) window.print();
   }
}
//  End -->
</script>

</head>

<body OnLoad="printPage()">

<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber1">
  <tr>
    <td width="100%" colspan="2">
	  <table border="1" cellpadding="2" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber3">
		  <tr style="border-style: solid; border-width: 1" class="tblheader">
			<td width="15%">$DP_language[begin_date]</td>
	        <td width="15%">$DP_language[end_date]</td>
			<td width="25%">$DP_language[shorttext]</td>
	        <td width="45%">$DP_language[Text]</td>
		  </tr>
$list_print_float

	</table>
	</td>
  </tr>

</table>


<center>
<form name="Formular" >
	<input type="button" value="close" onclick="window.close()" size="20">
</form>
</center>
</body>

</html>
