$CALENDAR
<br>
<!-- <div class="dp_Menu"><a href="dateplaner.php?app=inbox">$DP_language[inbox]</a></div> -->
<div class="dp_Menu">
{jsscriptIn}
<a href="javascript:popup('dateplaner.php?app=date&PHPSESSID=$PHPSESSID','Date','width=600,height=650,directories=no,toolbar=no,location=no,menubar=no,scrollbars=yes,status=yes,resizable=yes,dependent=no')" >$DP_language[c_date]</a>
{jsscriptOut}
<noscript><a href="dateplaner.php?app=date" target="_blank">$DP_language[c_date]</a></noscript>
</div>
<!--<div class="dp_Menu"><a href="dateplaner.php?app=list">$DP_language[Listbox_long]</a></div>-->
<!--<div class="dp_Menu"><a href="dateplaner.php?app=day&timestamp=$_REQUEST[timestamp]">$DP_language[Day_long]</a></div>-->
<!--<div class="dp_Menu"><a href="dateplaner.php?app=week&timestamp=$_REQUEST[timestamp]">$DP_language[Week_long]</a></div>-->
<!--<div class="dp_Menu"><a href="dateplaner.php?app=month&timestamp=$_REQUEST[timestamp]">$DP_language[Month_long]</a></div>-->
<!--<div class="dp_Menu"><a href="dateplaner.php?app=properties">$DP_language[properties]</a></div>-->

<br>
$keywords_show
