<table>
	<tr class="std">
		<td class="std">
			{TXT_MAX}
		</td>
		<td class="std">
			{NUM_MAX}
		</td>
	</tr>
	<tr class="std">
		<td class="std">
			{TXT_FREE}
		</td>
		<td class="std">
			<!-- BEGIN free_warn -->
			<div class="warning">{WARN_FREE}</div>
			<!-- EDN free_warn -->
			<!-- BEGIN no_warn -->
			{NUM_FREE}
			<!-- END no_warn -->
		</td>
	</tr>
	<!-- BEGIN wait -->
	<tr class="std">
		<td class="std">
			{TXT_WAIT}
		</td>
		<td class="std">
			<!-- BEGIN wait_warn -->
			<div class="warning">{WARN_WAIT}</div>
			<!-- END wait_warn -->
			<!-- BEGIN no_wait_warn -->
			{NUM_WAIT}
			<!-- END no_wait_warn -->
		</td>
	</tr>
	<!-- END wait -->
</table>
