<div class="c-form c-form--horizontal">
    <div class="c-input">
        <h2 class="ilHeader">{TXT_OIDCONNECT_HEADER}</h2>
        <!-- BEGIN text_login -->
        <a href="{SCRIPT_OIDCONNECT_T}" class="btn btn-default btn-bulky il-openid-login-button preventDoubleSubmission">
            {TXT_OIDC}
        </a>
        <!-- END text_login -->
        <!-- BEGIN image_login -->
        <a href="{SCRIPT_OIDCONNECT_I}" class="btn btn-default btn-bulky il-openid-login-button preventDoubleSubmission">
            <img alt="{TXT_OIDCONNECT_HEADER}" class="img-responsive" src="{IMG_SOURCE}" />
        </a>
        <!-- END image_login -->
    </div>
</div>
