/*
* Dependencies
*/

@use "./modifications/bootstrap-3-scss/bootstrap-3-scss-modified";
// You MUST NOT include bootstrap like this anywhere elese!
// In components load bootstrap variables from botstrap-3-scss-modified-variables-mixins instead!

@use "./modifications/datetimepicker/bootstrap-datetimepicker.scss";
@use "./modifications/jquery-autocomplete";
@use "./modifications/additions_tinymce";
@use "./modifications/additions_yui2";
