#orderlist li { margin: 0px; }
#orderlist { margin-top: -4px; }
#orderlist li { margin-top: 4px; }

ul.boxy {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	width: 250px;
	font-size: 13px;
	font-family: Arial, sans-serif;
}

ul.boxy li {
	cursor:move;
	padding: 12px 12px;
	border: 1px solid #808080;
	background-color: #CCCCCC;
	text-align: center;
}

/* drag and drop support */

.droparea { border:1px solid #666; background-color:#ccc; color:black; text-align:center; width:250px; margin: 5px; padding: 0.5em;}
.draggable { border:1px solid #666; background-color: #eee; color:black; text-align:center; width: 250px; margin: 5px; padding: 0.5em; cursor:pointer; }
.target { border:1px dotted #666; color: black; background-color:#f0ffff;}
.dragover { border:2px solid #666; background-color:#eee; }
