.ilVerticalOrderingQuestion li { margin: 0px; }
.ilVerticalOrderingQuestion ul { margin-top: -4px; }
.ilVerticalOrderingQuestion li { margin-top: 4px; }

ul.boxy {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	width: 250px;
	font-size: 13px;
	font-family: Arial, sans-serif;
}

ul.boxy li {
	cursor:move;
	padding: 12px 12px;
	border: 1px solid #808080;
	background-color: #CCCCCC;
	text-align: center;
}

/* drag and drop support */

.droparea
{
    border:2px solid #666;
    background-color:#ccc;
    color:black;
    text-align:center;
    width:550px;
    margin: 5px;
    padding: 0.5em;
}

.ilMatchingQuestionDefinition
{
    width: 50%;
}

.ilMatchingQuestionTerm
{
    width: 50%;
}

#sourceArea .draggable
{
    float:right;
}

.draggable,
.draggableHelper
{
    border:2px solid #666;
    background-color: #eee;
    color:black;
    text-align:center;
    width: 250px;
    margin: 5px;
    padding: 0.5em;
    cursor:pointer;
}

.droppedDraggable
{
    float: right;
}

.draggableDisabled
{
    opacity: 0.5;
}

.droppableTarget
{
    border:2px dashed #666;
    background-color: #ffa;
}

.droppableHover
{
    background-color: #cff;
}
