<script>
	$.ui.sortable.prototype.restoreInitialOrder = function() {
		$(this).html($(this).data('initial_order'));
	};

	function saveOrder(listID)
	{
		var list = document.getElementById(listID);
		var items = list.getElementsByTagName("li");
		var itemsString = "";
		for(var i = 0; i < items.length; i++)
		{
			if (itemsString.length > 0) itemsString += ":";
			itemsString += items[i].id;
		}
		document.test_output.orderresult.value = itemsString;
	}

	function restoreInitialOrder()
	{
		$('#orderlist').sortable("destroy");
		$("#orderlist").html($("#orderlist").data('initial_order'));
		createSortable();
	}

	function createSortable() {
		$("#orderlist").sortable({
			create: function (event, ui) {
				$(this).data('initial_order', $(this).html());
			},
			opacity: 0.6,
			revert: true,
			cursor: "move",
			axis: "y"
		}).disableSelection();
	}

	$(function() {
		createSortable();
	});
</script>