{QUESTIONTEXT}
<p class="ilAssKprimInstruction ilClearFloat">{INSTRUCTIONTEXT}</p>
<table class="nobackground ilAssKprimChoiceTable">
	<tr>
		<th class="optionLabel">{OPTION_LABEL_TRUE}</th>
		<th class="optionLabel">{OPTION_LABEL_FALSE}</th>
		<th></th>
	</tr>
	<!-- BEGIN answer_row -->
	<tr>
		<td class="kprimInput">
			<!-- BEGIN solution_true_image -->
			<img src="{SOLUTION_IMAGE_TRUE}" alt="{SOLUTION_ALT_TRUE}" title="{SOLUTION_ALT_TRUE}" />
			<!-- END solution_true_image -->
			<!-- BEGIN solution_true_field -->
			<input type="radio" name="kprim_result_q{SOL_QID}_{SOL_SUFFIX}_{SOL_POSITION}" value="{SOL_TRUE_VALUE}" readonly disabled {SOL_TRUE_CHECKED} />
			<!-- END solution_true_field -->
		</td>
		<td class="kprimInput">
			<!-- BEGIN solution_false_image -->
			<img src="{SOLUTION_IMAGE_FALSE}" alt="{SOLUTION_ALT_FALSE}" title="{SOLUTION_ALT_FALSE}" />
			<!-- END solution_false_image -->
			<!-- BEGIN solution_false_field -->
			<input type="radio" name="kprim_result_q{SOL_QID}_{SOL_SUFFIX}_{SOL_POSITION}" value="{SOL_FALSE_VALUE}" readonly disabled {SOL_FALSE_CHECKED} />
			<!-- END solution_false_field -->
		</td>
		<td>
			<!-- BEGIN answer_image -->
			<img src="{ANSWER_IMAGE_URL}" alt="{ANSWER_IMAGE_ALT}" title="{ANSWER_IMAGE_TITLE}" {ATTR} />
			<!-- END answer_image -->
			{ANSWER_TEXT}
		</td>
		<td>
			<!-- BEGIN icon_ok -->
			<img src="{ICON_OK}" alt="{TEXT_OK}" title="{TEXT_OK}" />
			<!-- END icon_ok -->
			<!-- BEGIN icon_not_ok -->
			<img src="{ICON_NOT_OK}" alt="{TEXT_NOT_OK}" title="{TEXT_NOT_OK}" />
			<!-- END icon_not_ok -->
		</td>
		<td class="middle">
			<!-- BEGIN result_output -->
			<em>{RESULT_OUTPUT}</em>
			<!-- END result_output -->
		</td>
	</tr>
	<!-- BEGIN feedback -->
	<tr>
		<td colspan="2"></td>
		<td colspan="3">
			<span class="feedback">{FEEDBACK}</span>
		</td>
	</tr>
	<!-- END feedback -->
	<!-- END answer_row -->
</table>
