{QUESTIONTEXT}
<!-- BEGIN ordering_without_javascript -->
<table class="nobackground">
<!-- BEGIN ordering_row_standard -->
	<tr>
		<td class="nobackground" width="30">
			<input type="text" size="2" name="order_{ANSWER_ID}" id="id_{ANSWER_ID}"{ANSWER_ORDER} />
		</td>
		<td class="nobackground">
<!-- BEGIN ordering_row_standard_text -->
			<label for="id_{ANSWER_ID}">{ANSWER_TEXT}</label>
<!-- END ordering_row_standard_text -->
<!-- BEGIN ordering_row_standard_pictures -->
			<label for="id_{ANSWER_ID}"><a target="_new" href="{PICTURE_HREF}"><img border="0" src="{THUMB_HREF}" alt="{THUMB_ALT}" title="{THUMB_TITLE}" /></a></label>
<!-- END ordering_row_standard_pictures -->
		</td>
	</tr>
<!-- END ordering_row_standard -->
</table>
<!-- END ordering_without_javascript -->
<!-- BEGIN ordering_with_javascript -->
<table border="0" width="100%">
	<tr>
		<td align="right">
			<a href="javascript:restoreInitialOrder();">{RESET_POSITIONS}</a>
		</td>
	</tr>
</table>

<ul id="orderlist" class="boxy">
<!-- BEGIN ordering_row_javascript_text -->
	<li id="id_{ANSWER_ID}">{ANSWER_TEXT}</li>
<!-- END ordering_row_javascript_text -->
<!-- BEGIN ordering_row_javascript_pictures -->
	<li id="id_{ANSWER_ID}">
		<table border="0">
			<tr>
				<td align="left">
					<img border="0" src="{THUMB_HREF}" alt="{THUMB_ALT}" title="{THUMB_TITLE}" />
				</td>
				<td valign="top">
					<a target="_new" href="{PICTURE_HREF}"><img border="0" src="{ENLARGE_HREF}" alt="{ENLARGE_ALT}" title="{ENLARGE_TITLE}" /></a>
				</td>
			</tr>
		</table>
	</li>
<!-- END ordering_row_javascript_pictures -->
</ul>

<input type="hidden" name="orderresult"{VALUE_ORDERRESULT}>
<!-- END ordering_with_javascript -->
<!-- BEGIN javascript_restore_order -->
<script type="text/javascript">
	{RESTORE_ORDER}
</script>
<!-- END javascript_restore_order -->