<!-- BEGIN createquestion -->
<form name="form_questions" method="POST" action="{ACTION_QUESTION_FORM}">
	<div style="float: right; text-align: right;">
		<select name="sel_question_types">
<!-- BEGIN QTypes -->
			<option value="{QUESTION_TYPE_ID}"{QUESTION_TYPE_SELECTED}>{QUESTION_TYPE}</option>
<!-- END QTypes -->
		</select>
		<input class="submit" type="submit" name="cmd[createQuestion]" value="{QUESTION_ADD}"{DISABLED} />
	</div>
</form>
<!-- END createquestion -->
<div style="clear: both;">{QUESTIONBROWSER}</div>
