<style>
	.modal-dialog, .modal-content, .modal-body
	{
		height: auto
	}
	.modal_answer_options
	{
		overflow: auto;
		max-height: 80%;
		margin: 0.5em 0;
	}
	.modal-submit
	{
		float:right;
	}
	.prototype_long_menu{
		display:none;
	}
	.modal-content{
		padding-bottom:20px;
	}
</style>

<script src="./Modules/TestQuestionPool/templates/default/gapInsertingWizard.js"></script>
<script src="./Modules/TestQuestionPool/templates/default/longMenuQuestion.js"></script>

<script>
	function debugPrinter(message)
	{
		if(false)
		{
			console.log(message)
		}
	}
	var long_menu_language = {
		'edit' 				: '[{EDIT_TXT}]',
		'type' 				: '{TYPE_TXT}',
		'answers'			: '{ANSWERS_TXT}',
		'answer_options' 	: '{ANSWER_OPTIONS_TXT}',
		'correct_answers'	: '{CORRECT_ANSWER_TXT}',
		'add_answers'	 	: '[{ADD_ANSWER_TXT}]',
		'info_text_gap'	 	: '{INFO_TEXT_GAP}',
		'manual_editing' 	: '{MANUAL_EDITING}'
	};
	
	$( document ).ready(function() {
		longMenuQuestion.questionParts = {
			list 					: {CORRECT_ANSWERS},
			gap_placeholder			: "{GAP_PLACEHOLDER}",
			last_updated_element 	: 0,
			replacement_word 		: '',
			filereader_usable		: false,
			max_input_fields		: {MAX_INPUT_FIELDS}
		};
		longMenuQuestion.answers = {ALL_ANSWERS};
		longMenuQuestion.Init();
	});

</script>
<div class="prototype_long_menu">
	<div class="gap_title">
		<div class="ilFormHeader">
			<h3 class="ilHeader"></h3>
			<div class="help-block"></div>
		</div>
	</div>
	<div class="form-group" id="layout_dummy_answers">
		<label for="" class="col-sm-3 control-label"></label>
		<div class="col-sm-9">
			<div class="form-inline">
			</div>
		</div>
	</div>
	<div class="form-group" id="layout_dummy_select">
		<label for="" class="col-sm-3 control-label"></label>
		<div class="col-sm-9">
			<div class="form-inline">
				<select name="proto_type" class="type_selection form-control" size="0">
					<option value="0" selected="selected">{SELECT}</option>
					<option value="1">{TEXT}</option>
				</select>
			</div>
		</div>
	</div>
	<div class="form-group" id="layout_dummy_points">
		<label for="" class="col-sm-3 control-label">{POINTS} <span class="asterisk">*</span></label>
		<div class="col-sm-9">
			<div class="form-inline">
				<input type="text" class="form-control" size="5" value="0">
			</div>
		</div>
	</div>
	<div id="layout_dummy_upload">
		<div class="input-group">
			<span class="input-group-btn">
				<span class="btn btn-default btn-file">
					{TXT_BROWSE}<input class="upload" type="file" name="file" size="30" />
				</span>
			</span>
			<input type="text" class="form-control" readonly="readonly">
		</div>
		<div class="help-block">{INFO_TEXT_UPLOAD}</div>
	</div>
	<div class="form-group" id="layout_dummy_buttons">
			<div class="modal-submit">
				<input type="submit" class="btn btn-default save-modal" value="{SAVE}" />
				<input type="submit" class="btn btn-default cancel-modal" value="{CANCEL}" />
			</div>
	</div>
	<div class="layout_dummy_help-block">
		<div class="help-block"></div>
	</div>
	<div class="layout_dummy_add_remove_buttons">
		<div class="col-sm-2">
			<button name="add_gap" class="clone_fields_add combination btn btn-link"><span class="sr-only"></span><span class="glyphicon glyphicon-plus"></span></button>
			<button name="remove_gap" class="clone_fields_remove combination btn btn-link"><span class="sr-only"></span><span class="glyphicon glyphicon-minus"></span></button>
		</div>
	</div>
	<div class="layout_dummy_help-block form-group" id="error_answer" class="col-sm-12">
		<div class="col-sm-3">
			<label></label>
		</div>
		<div>
			<div id="error_answer_val" class="col-sm-9">
				<span class="prototype_long_menu value_error form_error help-block alert alert-danger"><img border="0" src="./templates/default/images/./icon_alert.svg" alt="-alert-"> {MISSING_VALUE}</br></span>
				<span class="prototype_long_menu points_error form_error help-block alert alert-danger"><img border="0" src="./templates/default/images/./icon_alert.svg" alt="-alert-">{POINTS_ERROR}</br></span>
				<span class="prototype_long_menu autocomplete_error form_error help-block alert alert-warning"><img border="0" src="./templates/default/images/./icon_alert.svg" alt="-alert-">{AUTOCOMPLETE_ERROR}</br></span>
			</div>
		</div>
	</div>
	{TAGGING_PROTOTYPE}
</div>
{MY_MODAL}