<!-- BEGIN question_related_navigation -->
<div class="ilAssQuestionRelatedNavigationContainer">
	<!-- BEGIN direct_feedback -->
	<input type="submit" class="btn btn-default" name="cmd[{CMD_SHOW_INSTANT_RESPONSE}]" id="directfeedback" value="{TEXT_SHOW_INSTANT_RESPONSE}" />
	<!-- END direct_feedback -->
	<!-- BEGIN button_request_next_question_hint -->
	<input type="submit" class="btn btn-default" name="cmd[{CMD_REQUEST_NEXT_QUESTION_HINT}]" value="{TEXT_REQUEST_NEXT_QUESTION_HINT}" />
	<!-- END button_request_next_question_hint -->
	<!-- BEGIN button_show_requested_question_hints -->
	<input type="submit" class="btn btn-default" name="cmd[{CMD_SHOW_REQUESTED_QUESTION_HINTS}]" value="{TEXT_SHOW_REQUESTED_QUESTION_HINTS}" />
	<!-- END button_show_requested_question_hints -->
</div>
<!-- END question_related_navigation -->
