<!-- BEGIN gap_input -->
<input type="text" disabled="disabled" readonly="readonly" value="{INPUT_SOLUTION}"<!-- BEGIN gap_size --> size="{GAP_SIZE}" maxlength="{GAP_SIZE}"<!-- END gap_size --> />
<!-- END gap_input -->
<!-- BEGIN gap_select -->
<select disabled="disabled" readonly="readonly"><option>{SELECT_SOLUTION}</option></select>
<!-- END gap_select -->
<!-- BEGIN gap_span -->
<span class="ilc_qinput_TextInput solutionbox">{SPAN_SOLUTION}</span>
<!-- END gap_span -->
<!-- BEGIN icon_ok --><img src="{ICON_OK}" alt="{TEXT_OK}" title="{TEXT_OK}" /><!-- END icon_ok -->
<!-- BEGIN icon_not_ok --><img src="{ICON_NOT_OK}" alt="{TEXT_NOT_OK}" title="{TEXT_NOT_OK}" /><!-- END icon_not_ok -->
<!-- BEGIN solution_hint --> [<a href="{URL_SOLUTION_HINT}" target="_blank">{TEXT_SOLUTION_HINT}</a>] <!-- END solution_hint -->