<div class="ilc_question_FileUpload">
<!-- BEGIN question_text -->
<div class="ilc_qtitle_Title">{QUESTIONTEXT}</div>
<!-- END question_text -->
<div class="ilClearFloat assFileUpload">
<!-- BEGIN files -->
<div class="ilc_qanswer_Answer ilc_answers answers filesContainer">{FILES}</div>
<!-- END files -->
<h2>{TXT_UPLOAD_FILE}</h2>
<div class="uploadContainer"><input type="file" name="upload" disabled readonly /> <input type="submit" class="ilc_qsubmit_Submit btn btn-default" name="cmd[{CMD_UPLOAD}]" value="{TEXT_UPLOAD}" disabled readonly /></div>
<div style="margin-top:3px; margin-left:3px;"><span class="subtitle">{TXT_MAX_SIZE}</span></div>
<!-- BEGIN allowed_extensions -->
<div style="margin-top:3px; margin-left:3px;"><span class="subtitle">{TXT_ALLOWED_EXTENSIONS}</span></div>
<!-- END allowed_extensions -->
<p>
<!-- BEGIN icon_ok -->
				<img src="{ICON_OK}" alt="{TEXT_OK}" title="{TEXT_OK}" />
<!-- END icon_ok -->
<!-- BEGIN icon_not_ok -->
				<img src="{ICON_NOT_OK}" alt="{TEXT_NOT_OK}" title="{TEXT_NOT_OK}" />
<!-- END icon_not_ok -->
<!-- BEGIN result_output -->
		<em>{RESULT_OUTPUT}</em>
<!-- END result_output -->
</p>
</div>
</div>