<div class="ilc_question_MultipleChoice">
	<div class="ilc_qtitle_Title">{QUESTIONTEXT}</div>
	<div class="ilc_answers answers answer-table ilClearFloat">
<!-- BEGIN answer_row -->	
		<div class="ilc_qanswer_Answer">
			<div>
				<!-- BEGIN solution_image -->
				<img src="{SOLUTION_IMAGE}" alt="{SOLUTION_ALT}" title="{SOLUTION_ALT}" />
				<!-- END solution_image -->
				<!-- BEGIN solution_field -->
				<input type="checkbox" name="multiple_choice_result_q{QID}_{SUFFIX}" value="{SOLUTION_VALUE}" readonly disabled {SOLUTION_CHECKED} />
				<!-- END solution_field -->
			</div>
			<div>
<!-- BEGIN answer_image -->
				<div class="ilc_media_cont_MediaContainer">
					<div class="ilc_qimg_QuestionImage ilc_Mob">
						<img src="{ANSWER_IMAGE_URL}" alt="{ANSWER_IMAGE_ALT}" title="{ANSWER_IMAGE_TITLE}" {ATTR} />
					</div>
				</div>
<!-- END answer_image -->
				<span class="answertext">{ANSWER_TEXT}</span>
<!-- BEGIN icon_ok -->
				<img src="{ICON_OK}" alt="{TEXT_OK}" title="{TEXT_OK}" />
<!-- END icon_ok -->
<!-- BEGIN icon_not_ok -->
				<img src="{ICON_NOT_OK}" alt="{TEXT_NOT_OK}" title="{TEXT_NOT_OK}" />
<!-- END icon_not_ok -->
<!-- BEGIN result_output -->
				<em>{RESULT_OUTPUT}</em>
<!-- END result_output -->
			</div>
		</div>
<!-- BEGIN feedback -->
		<div>
			<span class="feedback">{FEEDBACK}</span>
		</div>
<!-- END feedback -->
<!-- END answer_row -->	
	</div>
</div>