<div class="ilc_question_ImagemapQuestion">
	<!-- BEGIN question_text -->
	<div class="ilc_qtitle_Title">{QUESTIONTEXT}</div>
	<!-- END question_text -->
	<div class="ilc_qanswer_Answer ilc_answers answers ilClearFloat">
		<img class="imagemap ilc_qimg_QuestionImage" border="0" src="{IMG_SRC}" alt="{IMG_ALT}" title="{IMG_TITLE}" />
	</div>
	<div>
<!-- BEGIN icon_ok -->
				<img src="{ICON_OK}" alt="{TEXT_OK}" title="{TEXT_OK}" />
<!-- END icon_ok -->
<!-- BEGIN icon_not_ok -->
				<img src="{ICON_NOT_OK}" alt="{TEXT_NOT_OK}" title="{TEXT_NOT_OK}" />
<!-- END icon_not_ok -->
<!-- BEGIN result_output -->
		<em>{RESULT_OUTPUT}</em>
<!-- END result_output -->
<!-- BEGIN feedback -->
	<span class="feedback">{FEEDBACK}</span>
<!-- END feedback -->
	</div>
</div>