<div class="form-inline" id="{ELEMENT_ID}">
	<table class="answerwizard table table-condensed table-striped">
		<thead>
			<tr>
				<th>{ANSWER_TEXT}</th>
				<th>{POINTS_TEXT}</th>
				<th>{COMMANDS_TEXT}</th>
			</tr>
		</thead>
		<tbody class="answwzd">
<!-- BEGIN row -->
			<tr class="answwzd">
				<td>
<!-- BEGIN singleline -->
					<input class="form-control" type="text" size="{SIZE}" id="{SINGLELINE_ID}" maxlength="{MAXLENGTH}" name="{SINGLELINE_POST_VAR}[answer][{SINGLELINE_ROW_NUMBER}]" <!-- BEGIN prop_text_propval -->value="{PROPERTY_VALUE}" <!-- END prop_text_propval -->{DISABLED_SINGLELINE}/>
<!-- END singleline -->
				</td>
				<td class="ilValignTop">
					<input class="form-control text-right" type="text" size="5" id="{POINTS_ID}" name="{POST_VAR}[points][{ROW_NUMBER}]" <!-- BEGIN prop_points_propval -->value="{PROPERTY_VALUE}" <!-- END prop_points_propval -->{DISABLED_POINTS}/>
				</td>
				<td class="ilValignTop">
					<button type="button" name="{CMD_ADD}" class="answerwizard_add btn btn-link" id="add_{ID}" onclick="javascript: void(0); return false;">{ADD_BUTTON}</button>
					<button type="button" name="{CMD_REMOVE}" class="answerwizard_remove btn btn-link" id="remove_{ID}" onclick="javascript: void(0); return false;">{REMOVE_BUTTON}</button>
<!-- BEGIN move -->
					<button type="button" name="{CMD_UP}" class="answerwizard_up btn btn-link" id="up_{ID}" onclick="javascript: void(0); return false;">{UP_BUTTON}</button>
					<button type="button" name="{CMD_DOWN}" class="answerwizard_down btn btn-link" id="down_{ID}" onclick="javascript: void(0); return false;">{DOWN_BUTTON}</button>
<!-- END move -->
				</td>
			</tr>
<!-- END row -->
		</tbody>
	</table>
</div>