<div xmlns:xhtml="http://www.w3.org/1999/xhtml" class="ilc_Question">
	{QUESTIONTEXT}
	<table class="nobackground">
<!-- BEGIN answer_row -->	
		<tr>
			<td class="top" width="15">
				<input type="radio" name="multiple_choice_result" value="{ANSWER_ID}" id="{ANSWER_ID}"{CHECKED_ANSWER} />
			</td>
			<td class="middle" width="left">
				<label for="{ANSWER_ID}">
<!-- BEGIN answer_image -->
					<img src="{ANSWER_IMAGE_URL}" alt="{ANSWER_IMAGE_ALT}" title="{ANSWER_IMAGE_TITLE}" />
<!-- END answer_image -->
					{ANSWER_TEXT}
				</label>
<!-- BEGIN feedback -->
				<br />
				<span class="feedback">{FEEDBACK}</span>
<!-- END feedback -->
			</td>
		</tr>
<!-- END answer_row -->	
	</table>
</div>