<div <!-- BEGIN block_id -->id="{BLOCK_ID}"<!-- END block_id --> class="questionPrintview clearfix">
	<table cellspacing="0" cellpadding="0" border="0" class="fullwidth">
		<tr>
			<td class="pdfSpacer ilNoDisplay"></td>
			<td class="pdfContent">
				<p class="ilNoDisplay"> </p>
                <p class="questionTitle">{COUNTER_QUESTION} {QUESTION_TITLE} <!-- BEGIN question_points --><em>({QUESTION_POINTS})</em><!-- END question_points --><!-- BEGIN id_info_block --> [{TXT_QUESTION_ID}: {QUESTION_ID}]<!-- END id_info_block --><!-- BEGIN back_anchor --><a class="il_question_answer_list_back_anchor" href="{HREF_BACK_ANCHOR}">{TXT_BACK_ANCHOR}</a><!-- END back_anchor --></p>
                <p class="ilNoDisplay"> </p>
				<p>{SOLUTION_OUTPUT}</p>
				<!-- BEGIN result_points -->	
					<p>{RESULT_POINTS}</p>
				<!-- END result_points -->
			</td>
			<td class="pdfSpacer ilNoDisplay"></td>
		</tr>
	</table>
</div>

