{QUESTIONTEXT}
<p class="ilAssKprimInstruction ilClearFloat">{INSTRUCTIONTEXT}</p>
<table class="nobackground ilAssKprimChoiceTable">
	<tr>
		<th class="optionLabel">{OPTION_LABEL_TRUE}</th>
		<th class="optionLabel">{OPTION_LABEL_FALSE}</th>
		<th></th>
	</tr>
	<!-- BEGIN answer_row -->
	<tr>
		<td class="kprimInput">
			<img src="{SOLUTION_IMAGE_TRUE}" alt="{SOLUTION_ALT_TRUE}" title="{SOLUTION_ALT_TRUE}" />
		</td>
		<td class="kprimInput">
			<img src="{SOLUTION_IMAGE_FALSE}" alt="{SOLUTION_ALT_FALSE}" title="{SOLUTION_ALT_FALSE}" />
		</td>
		<td>
			<!-- BEGIN answer_image -->
			<img src="{ANSWER_IMAGE_URL}" alt="{ANSWER_IMAGE_ALT}" title="{ANSWER_IMAGE_TITLE}" {ATTR} />
			<!-- END answer_image -->
			{ANSWER_TEXT}
		</td>
		<td>
			<!-- BEGIN icon_ok -->
			<img src="{ICON_OK}" alt="{TEXT_OK}" title="{TEXT_OK}" />
			<!-- END icon_ok -->
			<!-- BEGIN icon_not_ok -->
			<img src="{ICON_NOT_OK}" alt="{TEXT_NOT_OK}" title="{TEXT_NOT_OK}" />
			<!-- END icon_not_ok -->
		</td>
		<td class="middle">
			<!-- BEGIN result_output -->
			<em>{RESULT_OUTPUT}</em>
			<!-- END result_output -->
		</td>
	</tr>
	<!-- BEGIN feedback -->
	<tr>
		<td colspan="2"></td>
		<td colspan="3">
			<span class="feedback">{FEEDBACK}</span>
		</td>
	</tr>
	<!-- END feedback -->
	<!-- END answer_row -->
</table>
