<!-- BEGIN CODE -->
<input type="submit" class="btn btn-default btn-sm" name="gapbutton" id="gaptrigger" value="{INSERT_GAP}" />&nbsp;
<!-- <input type="submit" class="btn btn-default" name="cmd[createGaps]" id="createGaps" value="{CREATE_GAPS}" />&nbsp; -->
<script type="text/javascript">
    jQuery.fn.extend({
        insertGapCodeAtCaret: function() {
            return this.each(function(i) {
                var code_start = "[gap]"
                var code_end = "[/gap]"
                if (typeof tinyMCE != "undefined" && typeof tinyMCE.get('cloze_text') != "undefined") {
                    var ed =  tinyMCE.get('cloze_text');
                    ed.focus();
                    ed.selection.setContent(code_start + ed.selection.getContent() + code_end);
                    
                    return;
                }
                if (document.selection) {
                    //For browsers like Internet Explorer
                    this.focus();
                    sel = document.selection.createRange();
                    sel.text = code_start + sel.text + code_end;
                    this.focus();
                }
                else if (this.selectionStart || this.selectionStart == '0') {
                    //For browsers like Firefox and Webkit based
                    var startPos = this.selectionStart;
                    var endPos = this.selectionEnd;
                    var scrollTop = this.scrollTop;
                    this.value = this.value.substring(0, startPos)
                                    + code_start 
                                    + this.value.substring(startPos, endPos) 
                                    + code_end 
                                    + this.value.substring(endPos, this.value.length);
                    this.focus();
                    this.scrollTop = scrollTop;
                } else {
                    this.value += code_start + code_end;
                    this.focus();
                }
            });
        }
    });
   /* $('#gaptrigger').on('click',function(evt) {
        //evt.preventDefault();
        var textfeld_id = 'cloze_text';
        $('#'+textfeld_id).insertGapCodeAtCaret();
        return false;
    });*/
</script>
<!-- END CODE -->