<tr class="{CSS_ROW}">
	<td class="std" style="vertical-align: top">
		{TITLE}
	</td>
<!-- BEGIN description -->
	<td class="std" style="vertical-align: top">{DESCRIPTION}</td>
<!-- END description -->
<!-- BEGIN author -->
	<td class="std" style="vertical-align: top">{AUTHOR}</td>
<!-- END author -->
<!-- BEGIN ttype -->
	<td class="std" style="vertical-align: top">{TYPE}</td>
<!-- END ttype -->
<!-- BEGIN points -->
	<td class="std" style="vertical-align: top">{POINTS}</td>
<!-- END points -->
<!-- BEGIN created -->
	<td class="std" style="vertical-align: top">{CREATED}</td>
<!-- END created -->
<!-- BEGIN updated -->
	<td class="std" style="vertical-align: top">{UPDATED}</td>
<!-- END updated -->
</tr>
<!-- BEGIN overview_row_detail -->
<tr class="question_printview">
	<td class="std" colspan="6">{DETAILS}</td>
</tr>
<!-- END overview_row_detail -->