<form name="frm_javaapplet" action="{ACTION_FLASH_QUESTION}" method="post" enctype="multipart/form-data">
<input type="hidden" name="id" value="{FLASHFILE_ID}" />
<table class="fullwidth">
<thead>
	<tr class="tblheader">
		<th colspan="5">{TEXT_QUESTION_TYPE}</th>
	</tr>
</thead>
<tr>
	<td class="option">{TEXT_TITLE}<span class="asterisk">*</span>:</td>
	<td class="option_value" colspan="4"><input name="title" type="text" value="{VALUE_FLASHFILE_TITLE}" size="50" /></td>
</tr>
<tr>
	<td class="option">{TEXT_AUTHOR}<span class="asterisk">*</span>:</td>
	<td class="option_value" colspan="4"><input name="author" type="text" value="{VALUE_FLASHFILE_AUTHOR}" size="50" /></td>
</tr>
<tr>
	<td class="option">{TEXT_COMMENT}:</td>
	<td class="option_value" colspan="4"><input name="comment" type="text" value="{VALUE_FLASHFILE_COMMENT}" id="comment" size="50" /></td>
</tr>
<tr>
	<td class="option">{TEXT_QUESTION}:<span class="asterisk">*</span></td>
	<td class="option_value" colspan="4"><textarea name="question" id="question" rows="10" cols="80" wrap="virtual" style="width:95%;">{VALUE_QUESTION}</textarea></td>
</tr>
<tr>
  <td class="option">{TEXT_WORKING_TIME}:<br />({TIME_FORMAT})</td>
  <td class="option_value" colspan="4">{VALUE_WORKING_TIME} </td>
</tr>
<tr>
	<td class="option">{TEXT_SOLUTION_HINT}:</td>
	<td class="option_value" colspan="4">
		<input type="hidden" name="solution_hint" value="{VALUE_SOLUTION_HINT}" />
		{TEXT_VALUE_SOLUTION_HINT}
		<!-- BEGIN remove_solution -->
		<input type="submit" class="submit" name="cmd[removeSuggestedSolution]" value="{BUTTON_REMOVE_SOLUTION}" />
		<!-- END remove_solution -->
		<input type="submit" class="submit" name="cmd[addSuggestedSolution]" value="{BUTTON_ADD_SOLUTION}" />
		<select name="internalLinkType">
<!-- BEGIN internallink -->
		<option value="type_internal_link{TYPE_INTERNAL_LINK}">{TEXT_INTERNAL_LINK}</option>
<!-- END internallink -->
		</select>
	</td>
</tr>
<tr>
	<td class="option">{TEXT_FLASHFILE}:</td>
	<td class="option_value">
	<!-- BEGIN flashfileupload -->
	{UPLOADED_FLASHFILE} <br />
	<!-- END flashfileupload -->
	<input type="hidden" name="uploaded_flashfile" value="{FLASHFILE_FILENAME}">
	<input type="hidden" name="MAX_FILE_SIZE" value="2097152">
	<input name="flashfileName" type="file" id="javaapplet" size="30" />
	</td>
	<td class="option_value" colspan="3" >
		<input name="cmd[uploadingFlash]" type="submit" class="submit" id="upload_javaapplet" value="{VALUE_FLASHFILE_UPLOAD}" />
<!-- BEGIN delete_flash -->
		<input name="cmd[removeJavaapplet]" type="submit" class="submit" id="delete_javaapplet" value="{VALUE_FLASHFILE_DELETE}" />
<!-- END delete_flash -->
	</td>
</tr>
<tr>
	<td class="option">{TEXT_POINTS}<span class="asterisk">*</span>:</td>
	<td class="option_value" colspan="4"><input type="text" name="flash_points" value="{VALUE_FLASH_POINTS}" size="3" /></td>
</tr>
<!-- BEGIN flashcode -->
<tr class="tblheader">
	<th colspan="5" class="std">{FLASH_ATTRIBUTES}</th>
</tr>



<tr>
	<td class="option">{TEXT_WIDTH}<span class="asterisk">*</span>:</td>
	<td class="option_value" colspan="4"><input type="text" name="flash_width" value="{VALUE_WIDTH}" size="5" /></td>
</tr>
<tr>
	<td class="option">{TEXT_HEIGHT}<span class="asterisk">*</span>:</td>
	<td class="option_value" colspan="4"><input type="text" name="flash_height" value="{VALUE_HEIGHT}" size="5" /></td>
</tr>
<tr class="tblheader">
	<th colspan="5">{FLASH_PARAMETERS}</th>
</tr>
<tr><td colspan="5" class="option"><input name="cmd[addParameter]" type="submit" class="submit" id="add_parameter" value="{VALUE_ADD_PARAMETER}" /></td></tr>
<!-- BEGIN flash_parameter -->
<tr>
	<td class="option">{PARAM_PARAM}</td>
	<td class="option_value" colspan="3">
		<label for="param_name_{PARAM_COUNTER}">{PARAM_NAME}:</label> <input type="text" name="param_name_{PARAM_COUNTER}" value="{PARAM_NAME_VALUE}" size="20" id="param_name_{PARAM_COUNTER}" />
		<label for="param_value_{PARAM_COUNTER}">{PARAM_VALUE}:</label> <input type="text" name="param_value_{PARAM_COUNTER}" value="{PARAM_VALUE_VALUE}" size="20" id="param_value_{PARAM_COUNTER}" />
	</td>
	<td class="option_value">
<!-- BEGIN delete_parameter -->
		<input type="submit" class="submit" name="cmd[delete_{DELETE_PARAMETER_COUNT}]" value="{VALUE_DELETE_PARAMETER}" />
<!-- END delete_parameter -->
	</td>
</tr>
<!-- END flash_parameter -->
<!-- END flashcode -->
<tr><td colspan="5" class="submit">
<span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FLD}</span>
<div align="right">
<input name="cmd[save]" type="submit" class="submit" id="save_javaapplet" value="{SAVE}" /> <input name="cmd[saveEdit]" type="submit" class="submit" value="{SAVE_EDIT}" />&nbsp;&nbsp;<input name="cmd[cancel]" type="submit" class="submit" id="cancel" value="{CANCEL}" />
</div>
</td></tr>
</table>
</form>
<a name="bottom"></a>
