<div id="qpl_lac_legend" style="{CSS_DISPLAY_NONE}" class="ilOverlay">
	<div class="qpl_lac_legend">
	
		
		<a class="closeAction" href="#" style="display: block; position: absolute; right: 10px; top: 10px;">{CLOSE_ICON}</a>

		<div class="qpl_lac_common_expressions">
			<div class="header">{COMMON_ELEMENTS_HEADER}</div>
			<table>
			<!-- BEGIN common_elements -->
			<tr>
				<td class="element">{CE_ELEMENT}</td>
				<td class="description">{CE_DESCRIPTION}</td>
			</tr>
			<!-- END common_elements -->
			</table>
		</div>

		<div class="qpl_lac_qtype_specific_expressions">
			<div class="header">{QUEST_SPECIFIC_ELEMENTS_HEADER}</div>
			<table>
			<!-- BEGIN quest_specific_elements -->
			<tr>
				<td class="element">{QSE_ELEMENT}</td>
				<td class="description">{QSE_DESCRIPTION}</td>
			</tr>
			<tr>
				<td></td>
				<td class="operators">{QSE_OPERATORS_TXT}: {QSE_OPERATORS}</td>
			</tr>
			<!-- END quest_specific_elements -->
			</table>
		</div>

		<div class="qpl_lac_expression_examples">
			<div class="header">{QUEST_SPECIFIC_EXAMPLES_HEADER}</div>
			<table>
				<!-- BEGIN quest_specific_examples -->
				<tr>
					<td class="element">{QSEX_ELEMENT}</td>
					<td class="description">{QSEX_DESCRIPTION}</td>
				</tr>
				<!-- END quest_specific_examples -->
			</table>
		</div>
		
	</div>
</div>

<script>
	(function($){$().ready(function(){

		var isOverlayVisible = function(overlayId)
		{
			return $(il.Overlay.overlays[overlayId].element).hasClass('yui-overlay-hidden');
		};

		var updateLegendToggleBtnLabel = function(overlayId)
		{
			var toggleButtonShowLabel = '{TOGGLE_BTN_SHOW_LABEL}';
			var toggleButtonHideLabel = '{TOGGLE_BTN_HIDE_LABEL}';

			if( isOverlayVisible(overlayId) )
			{
				$('a#lac_legend_toggle_btn').html(toggleButtonShowLabel);
			}
			else
			{
				$('a#lac_legend_toggle_btn').html(toggleButtonHideLabel);
			}
		};

		$('a#lac_legend_toggle_btn').click(
			function(e)
			{
				e.stopPropagation();

				if( isOverlayVisible('qpl_lac_legend') )
				{
					il.Overlay.show(null, 'qpl_lac_legend');
				}
				else
				{
					il.Overlay.hide(null, 'qpl_lac_legend');
				}

				updateLegendToggleBtnLabel('qpl_lac_legend');
			}
		);

		$('#qpl_lac_legend .closeAction').click(
			function()
			{
				il.Overlay.hide(null, 'qpl_lac_legend');
				updateLegendToggleBtnLabel('qpl_lac_legend');
			}
		);

		$('input[name=eval_mode]').change(
			function()
			{
				var selectedValue = $('input[name=eval_mode]:checked').val();

				if(selectedValue == '{SKILL_POINT_EVAL_MODE_BY_RESULT}')
				{
					il.Overlay.hide(null, 'qpl_lac_legend');
				}
				else if(selectedValue == '{SKILL_POINT_EVAL_MODE_BY_SOLUTION}')
				{
					il.Overlay.show(null, 'qpl_lac_legend');
				}

				updateLegendToggleBtnLabel('qpl_lac_legend');
			}
		);

		$(document).bind("click",function (e) {
			updateLegendToggleBtnLabel('qpl_lac_legend');
		});

	});})(jQuery);
</script>