<!-- BEGIN item -->
    <span id="{ITEM_ID}">
        <!-- BEGIN item_text -->
            {ITEM_CONTENT}
        <!-- END item_text -->
        <!-- BEGIN item_image -->
            <img class="ilc_qimg_QuestionImage" border="0" src="{ITEM_SOURCE}" alt="{ITEM_CONTENT}" title="{ITEM_CONTENT}" />
        <!-- END item_image -->
    </span>
    <input type="hidden" name="{ITEM_POSTVAR}" value="{ITEM_CONTENT}" />
    <!-- BEGIN correctness_icon -->
        <img src="{ICON_SRC}" alt="{ICON_TEXT}" title="{ICON_TEXT}" style="float:right" />
    <!-- END correctness_icon -->
<!-- END item -->

