	{QUESTIONTEXT}
	<p class="ilClearFloat">
		<applet code="{APPLET_CODE}"{APPLET_ARCHIVE}{APPLET_CODEBASE} width="{APPLET_WIDTH}" height="{APPLET_HEIGHT}">
<!-- BEGIN appletparam -->
			<param name="{PARAM_NAME}" value="{PARAM_VALUE}" />
<!-- END appletparam -->
		</applet>
<!-- BEGIN icon_ok -->
		<img src="{ICON_OK}" alt="{TEXT_OK}" title="{TEXT_OK}" />
<!-- END icon_ok -->
<!-- BEGIN icon_not_ok -->
		<img src="{ICON_NOT_OK}" alt="{TEXT_NOT_OK}" title="{TEXT_NOT_OK}" />
<!-- END icon_not_ok -->
	</p>