	{QUESTIONTEXT}
<!-- BEGIN ordering_without_javascript -->
<table class="nobackground ilClearFloat">
<!-- BEGIN ordering_row_standard -->
	<tr>
		<td class="nobackground" width="30"><!--<span class="solutionbox"> {ANSWER_ORDER} </span>--></td>
		<td class="nobackground">
<!-- BEGIN ordering_row_standard_text -->
			{ANSWER_TEXT}
<!-- END ordering_row_standard_text -->
<!-- BEGIN ordering_row_standard_pictures -->
			<img border="0" src="{THUMB_HREF}" alt="{THUMB_ALT}" title="{THUMB_TITLE}" {ATTR} />
<!-- END ordering_row_standard_pictures -->
		</td>
		<td>
<!-- BEGIN icon_ok -->
			<img src="{ICON_OK}" alt="{TEXT_OK}" title="{TEXT_OK}" />
<!-- END icon_ok -->
<!-- BEGIN icon_not_ok -->
			<img src="{ICON_NOT_OK}" alt="{TEXT_NOT_OK}" title="{TEXT_NOT_OK}" />
<!-- END icon_not_ok -->
		</td>
<!-- BEGIN result_output -->
		<td>
			<em>{RESULT_OUTPUT}</em>
		</td>
<!-- END result_output -->
	</tr>
<!-- END ordering_row_standard -->
</table>
<!-- END ordering_without_javascript -->

