<div class="form-inlne" id="{ELEMENT_ID}">
	<table class="imagewizard table table-condensed table-striped">
		<tbody class="imgwzd">
<!-- BEGIN row -->
			<tr class="imgwzd">
				<td class="imagecolumn">
<!-- BEGIN addimage -->
					<input type="hidden" name="{IMAGE_POST_VAR}[count][{IMAGE_ROW_NUMBER}]" value="1" />
					<div class="imageselection">
					<div><input type="file" id="{IMAGE_ID}" name="{IMAGE_POST_VAR}[image][{IMAGE_ROW_NUMBER}]" size="20" /> <input type="submit" class="btn btn-default" name="cmd[upload{IMAGE_POST_VAR}][{IMAGE_ROW_NUMBER}]" value="{IMAGE_SUBMIT}" /></div>
<!-- BEGIN image -->
					<div class="imagepresentation">
						<input type="hidden" name="{IMAGE_POST_VAR}[imagename][{IMAGE_ROW_NUMBER}]" value="{IMAGE_NAME}" />
						<img style="margin: 5px 0px 5px 0px;" src="{SRC_IMAGE}" alt="{ALT_IMAGE}" {WIDTH} {HEIGHT} border="0" /><br />
						<input type="submit" class="btn btn-default" name="cmd[removeimage{IMAGE_POST_VAR}][{IMAGE_ROW_NUMBER}]" value="{TXT_DELETE_EXISTING}" /><br />
					</div>
<!-- END image -->
					</div>
<!-- END addimage -->
				</td>
				<td class="ilValignTop">
					<button type="button" name="{CMD_ADD}" class="imagewizard_add btn btn-link" id="add_{ID}" onclick="javascript: void(0); return false;">{ADD_BUTTON}</button>
					<button type="button" name="{CMD_REMOVE}" class="imagewizard_remove btn btn-link" id="remove_{ID}" onclick="javascript: void(0); return false;">{REMOVE_BUTTON}</button>
<!-- BEGIN move -->
					<button type="button" name="{CMD_UP}" class="imagewizard_up btn btn-link" id="up_{ID}" onclick="javascript: void(0); return false;">{UP_BUTTON}</button>
					<button type="button" name="{CMD_DOWN}" class="imagewizard_down btn btn-link" id="down_{ID}" onclick="javascript: void(0); return false;">{DOWN_BUTTON}</button>
<!-- END move -->
				</td>
			</tr>
<!-- END row -->
		</tbody>
	</table>
	<div class="ilFormInfo">{TXT_MAX_SIZE}<!-- BEGIN allowed_image_suffixes --> {TXT_ALLOWED_SUFFIXES}<!-- END allowed_image_suffixes --></div>
</div>