	{QUESTIONTEXT}
	<table class="nobackground">
<!-- BEGIN answer_row -->	
		<tr>
			<td class="middle" width="15">
				<input type="radio" name="multiple_choice_result" value="{ANSWER_ID}" id="{ANSWER_ID}"{CHECKED_ANSWER} />
			</td>
			<td class="middle">
				<label for="{ANSWER_ID}">
<!-- BEGIN answer_image -->
				<img src="{ANSWER_IMAGE_URL}" alt="{ANSWER_IMAGE_ALT}" title="{ANSWER_IMAGE_TITLE}" {ATTR} />
<!-- END answer_image -->
					{ANSWER_TEXT}
				</label>
			</td>
		</tr>
<!-- BEGIN feedback -->
		<tr>
			<td></td>
			<td>
				<span class="feedback">{FEEDBACK}</span>
			</td>
		</tr>
<!-- END feedback -->
<!-- END answer_row -->	
	</table>