<div class="ilc_question_TextSubset">
<!-- BEGIN question_text -->
<div class="ilc_qtitle_Title">{QUESTIONTEXT}</div>
<!-- END question_text -->
<div class="ilc_qanswer_Answer ilc_answers answers ilClearFloat">
<!-- BEGIN textsubset_row -->
	<p>{COUNTER}.&nbsp;<span class="ilc_qinput_TextInput solutionbox">{SOLUTION}</span>
<!-- BEGIN icon_ok -->
		<img src="{ICON_OK}" alt="{TEXT_OK}" title="{TEXT_OK}" />
<!-- END icon_ok -->
<!-- BEGIN icon_not_ok -->
		<img src="{ICON_NOT_OK}" alt="{TEXT_NOT_OK}" title="{TEXT_NOT_OK}" />
<!-- END icon_not_ok -->
<!-- BEGIN result_output -->
		<em>{RESULT_OUTPUT}</em>
<!-- END result_output -->
	</p>
<!-- END textsubset_row -->
</div>
</div>