<div class="ilc_question_OrderingQuestion">
<div class="ilc_qtitle_Title">{QUESTIONTEXT}</div>
<!-- BEGIN ordering_with_javascript -->
<div class="ilVerticalOrderingQuestion ilClearFloat">
	<div class="ilFloatRight">
		<a class="btn btn-default reset" href="#">{RESET_POSITIONS}</a>
	</div>
	<div class="ilClearFloat"></div>
<div>
	<ul class="ilc_qordul_OrderList" id="vertical_{QUESTION_ID}" class="boxy">
	<!-- BEGIN ordering_row_javascript_text -->
		<li class="ilc_qordli_OrderListItem ilOrderingValue" id="id_{ANSWER_ID}">
			<div class="ilc_qanswer_Answer answertext">{ANSWER_TEXT}</div>
		</li>
	<!-- END ordering_row_javascript_text -->
	<!-- BEGIN ordering_row_javascript_pictures -->
		<li class="ilc_qordli_OrderListItem ilOrderingValue" id="id_{ANSWER_ID}">
			<div class="ilc_qanswer_Answer answertext">
			<table border="0">
				<tr>
					<td class="text-right">
						<img class="ilc_qimg_QuestionImage" border="0" src="{THUMB_HREF}" alt="{THUMB_ALT}" title="{THUMB_TITLE}" />
					</td>
					<td class="ilValignTop">
						<a class="ilc_qimgd_ImageDetailsLink" target="_new" href="{PICTURE_HREF}"><img border="0" src="{ENLARGE_HREF}" alt="{ENLARGE_ALT}" title="{ENLARGE_TITLE}" /></a>
					</td>
				</tr>
			</table>
			</div>
		</li>
	<!-- END ordering_row_javascript_pictures -->
	</ul>
	<input type="hidden" id="orderresult_{QUESTION_ID}" name="orderresult" {VALUE_ORDERRESULT} />
</div>
</div>
<div class="ilClearFloat"></div>
</div>
<script type="text/javascript">
	$().ready(function() {
		if (typeof $.fn.ilOrderingQuestion != 'undefined') {
			$('div.ilVerticalOrderingQuestion').ilOrderingQuestion({
				sortable_selector:     'ul',
				result_value_selector: '.ilOrderingValue',
				result_separator:      ':', <!-- BEGIN form_submit_register -->
				build_result_on_form_submit: true, <!-- END form_submit_register -->
				reset_selector:        '.reset',
				initial_order: $.parseJSON('{INITIAL_ORDER}') || []
			});
		}
	});
</script>
<!-- END ordering_with_javascript -->
<!-- BEGIN nested_ordering_output -->
{NESTED_ORDERING}
<!-- END nested_ordering_output -->