{QUESTIONTEXT}
<div class="ilClearFloat">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
	codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"
	width="{APPLET_WIDTH}" height="{APPLET_HEIGHT}" id="movie_{ID}">
	<param name="movie" value="{APPLET_FILE}">
<!-- BEGIN applet_parameters -->
	<param name="FlashVars" value="{PARAM_VALUE}">
<!-- END applet_parameters -->
	<embed src="{APPLET_PATH}" quality="high" bgcolor="#FFFFFF" width="{APPLET_WIDTH}" height="{APPLET_HEIGHT}"
		name="movie_name_{ID}" align="" type="application/x-shockwave-flash"
		pluginspage="http://www.macromedia.com/go/getflashplayer"<!-- BEGIN flash_vars --> FlashVars="{FLASH_VARS}"<!-- END flash_vars -->></embed>
</object>
</div>
<p>
<!-- BEGIN icon_ok -->
	<img src="{ICON_OK}" alt="{TEXT_OK}" title="{TEXT_OK}" />
<!-- END icon_ok -->
<!-- BEGIN icon_not_ok -->
	<img src="{ICON_NOT_OK}" alt="{TEXT_NOT_OK}" title="{TEXT_NOT_OK}" />
<!-- END icon_not_ok -->
</p>