<form name="frm_javaapplet" action="{ACTION_JAVAAPPLET_QUESTION}" method="post" enctype="multipart/form-data">
<input type="hidden" name="id" value="{JAVAAPPLET_ID}" />
<table class="fullwidth">
<thead>
	<tr class="tblheader">
		<th colspan="5">{TEXT_QUESTION_TYPE}</th>
	</tr>
</thead>
<tr>
	<td class="option">{TEXT_TITLE}<span class="asterisk">*</span></td>
	<td class="option_value" colspan="4"><input name="title" type="text" value="{VALUE_JAVAAPPLET_TITLE}" size="50" /></td>
</tr>
<tr>
	<td class="option">{TEXT_AUTHOR}<span class="asterisk">*</span></td>
	<td class="option_value" colspan="4"><input name="author" type="text" value="{VALUE_JAVAAPPLET_AUTHOR}" size="50" /></td>
</tr>
<tr>
	<td class="option">{TEXT_COMMENT}</td>
	<td class="option_value" colspan="4"><input name="comment" type="text" value="{VALUE_JAVAAPPLET_COMMENT}" id="comment" size="50" /></td>
</tr>
<tr>
	<td class="option">{TEXT_QUESTION}<span class="asterisk">*</span></td>
	<td class="option_value" colspan="4"><textarea name="question" id="question" rows="10" cols="80" wrap="virtual" style="width:95%;">{VALUE_QUESTION}</textarea></td>
</tr>
<tr>
  <td class="option">{TEXT_WORKING_TIME}<br />({TIME_FORMAT})</td>
  <td class="option_value" colspan="4">{VALUE_WORKING_TIME} </td>
</tr>
<tr>
	<td class="option">{TEXT_JAVAAPPLET}</td>
	<td class="option_value">
	<!-- BEGIN javaappletupload -->
	{UPLOADED_JAVAAPPLET} <br />
	<!-- END javaappletupload -->
	<input type="hidden" name="uploaded_javaapplet" value="{JAVAAPPLET_FILENAME}">
	<input type="hidden" name="MAX_FILE_SIZE" value="2097152">
	<input name="javaappletName" type="file" id="javaapplet" size="30" />
	</td>
	<td class="option_value" colspan="3" >
		<input name="cmd[uploadingJavaapplet]" type="submit" class="submit" id="upload_javaapplet" value="{VALUE_JAVAAPPLET_UPLOAD}" />
<!-- BEGIN delete_applet -->
		<input name="cmd[removeJavaapplet]" type="submit" class="submit" id="delete_javaapplet" value="{VALUE_JAVAAPPLET_DELETE}" />
<!-- END delete_applet -->
	</td>
</tr>
<tr>
	<td class="option">{TEXT_POINTS}<span class="asterisk">*</span></td>
	<td class="option_value" colspan="4"><input type="text" name="applet_points" value="{VALUE_APPLET_POINTS}" size="3" /></td>
</tr>
<!-- BEGIN appletcode -->
<tr class="tblheader">
	<th colspan="5" class="std">{APPLET_ATTRIBUTES}</th>
</tr>
<tr>
	<td class="option">{TEXT_CODE}</td>
	<td class="option_value" colspan="4"><input type="text" name="java_code" value="{VALUE_CODE}" size="50" /></td>
</tr>
<!-- BEGIN codebase -->
<tr>
	<td class="option">{TEXT_CODEBASE}</td>
	<td class="option_value" colspan="4"><input type="text" name="java_codebase" value="{VALUE_CODEBASE}" size="50" /></td>
</tr>
<!-- END codebase -->
<!-- BEGIN archive -->
<tr>
	<td class="option">{TEXT_ARCHIVE}</td>
	<td class="option_value" colspan="4"><input type="text" name="java_archive" value="{VALUE_ARCHIVE}" size="50" /></td>
</tr>
<!-- END archive -->
<tr>
	<td class="option">{TEXT_WIDTH}<span class="asterisk">*</span></td>
	<td class="option_value" colspan="4"><input type="text" name="java_width" value="{VALUE_WIDTH}" size="5" /></td>
</tr>
<tr>
	<td class="option">{TEXT_HEIGHT}<span class="asterisk">*</span></td>
	<td class="option_value" colspan="4"><input type="text" name="java_height" value="{VALUE_HEIGHT}" size="5" /></td>
</tr>
<tr class="tblheader">
	<th colspan="5">{APPLET_PARAMETERS}</th>
</tr>
<tr><td colspan="5" class="option"><input name="cmd[addParameter]" type="submit" class="submit" id="add_parameter" value="{VALUE_ADD_PARAMETER}" /></td>
<!-- BEGIN applet_parameter -->
<tr>
	<td class="option">{PARAM_PARAM}</td>
	<td class="option_value" colspan="3">
		<label for="param_name_{PARAM_COUNTER}">{PARAM_NAME}</label> <input type="text" name="param_name_{PARAM_COUNTER}" value="{PARAM_NAME_VALUE}" size="20" id="param_name_{PARAM_COUNTER}" />
		<label for="param_value_{PARAM_COUNTER}">{PARAM_VALUE}</label> <input type="text" name="param_value_{PARAM_COUNTER}" value="{PARAM_VALUE_VALUE}" size="20" id="param_value_{PARAM_COUNTER}" />
	</td>
	<td class="option_value">
<!-- BEGIN delete_parameter -->
		<input type="submit" class="submit" name="cmd[delete_{DELETE_PARAMETER_COUNT}]" value="{VALUE_DELETE_PARAMETER}" />
<!-- END delete_parameter -->
	</td>
</tr>
<!-- END applet_parameter -->
<!-- END appletcode -->
<tr><td colspan="5" class="submit">
<span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FLD}</span>
<div align="right">
<input name="cmd[save]" type="submit" class="submit" id="save_javaapplet" value="{SAVE}" /> <input name="cmd[saveEdit]" type="submit" class="submit" value="{SAVE_EDIT}" />&nbsp;&nbsp;<input name="cmd[cancel]" type="submit" class="submit" id="cancel" value="{CANCEL}" />
</div>
</td></tr>
</table>
</form>
<a name="bottom"></a>
