	{QUESTIONTEXT}
	<table class="nobackground ilClearFloat">
<!-- BEGIN answer_row -->	
		<tr>
			<td class="middle" width="15">
				<input type="radio" name="multiple_choice_result{QID}" value="{ANSWER_ID}" id="{ANSWER_ID}"{CHECKED_ANSWER} />
			</td>
			<td class="middle">
				<label for="{ANSWER_ID}">
<!-- BEGIN preview -->
					<table class="ilc_media_cont_MediaContainer">
						<tr>
							<td class="ilc_Mob"><img border="0" src="{ANSWER_IMAGE_URL}" alt="{ANSWER_IMAGE_ALT}" title="{ANSWER_IMAGE_TITLE}" /></td>
						</tr>
						<tr>
							<td>
								<div class="ilc_media_caption_MediaCaption"><a target="_blank" href="{URL_PREVIEW}" title="{TEXT_PREVIEW}"><img border="0" align="right" src="{IMG_PREVIEW}"/></a></div>
							</td>
						</tr>
					</table>
<!-- END preview -->
<!-- BEGIN answer_image -->
					<img src="{ANSWER_IMAGE_URL}" alt="{ANSWER_IMAGE_ALT}" title="{ANSWER_IMAGE_TITLE}" />
<!-- END answer_image -->
					{ANSWER_TEXT}
				</label>
			</td>
		</tr>
<!-- BEGIN feedback -->
		<tr>
			<td></td>
			<td>
				<span class="feedback">{FEEDBACK}</span>
			</td>
		</tr>
<!-- END feedback -->
<!-- END answer_row -->	
	</table>