/* Services/Init */

div.ilStartupFrame {
	//margin: 10px auto;
	//background: url(images/head_back.png) repeat-x #F9F9F9 ;
	//width: 750px;
	//box-shadow: 0 0 40px #808080;
	//min-height: 450px;
}
/*
div#il_startup_content {
	padding: 40px 20px 35px;
	box-shadow: inset 0 2px 2px #D0D0D0;
	background-color: #F9F9F9;
}
*/
#il_startup_content form table {
	/* out-commented due to http://www.ilias.de/mantis/view.php?id=10264 */
	/* width: 500px; */
}

.ilStartupSection {
	//text-align: center;
	padding-top: 25px;
}

div.ilStartupSection form.form-horizontal {
	//margin: auto;
	text-align: left;
	width: 40em;
}

div#il_startup_logo img {
	width: 50px;
	height: 50px;
	margin: 15px;
}
