/* Services/Init */

div.ilStartupFrame {
	@media only screen and (max-width: @grid-float-breakpoint-max) {
		width: 100%;
	}
}

.ilStartupSection {

	.control-label {
	 	width: 33.33%;
		& + div {
			width: 66.67%;
		}
	}

	padding-top: 25px;
	@media only screen and (max-width: @grid-float-breakpoint-max) {
		padding-top: 15px;
	}
}

div.ilStartupSection form.form-horizontal {
	text-align: left;
	width: 40em;
	@media only screen and (max-width: @grid-float-breakpoint-max) {
		width: auto;
	}
}