body {
	color:#222222;
	background-color:#D9D9D9;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:13px;
	margin:0px;
}

td {
	font-size:13px;
}

.btnbar {
	background-color:#ffffff;
	color:#ffffff;
}

a.menu:link, a.menu:visited {
	color:#a0c0ff;
}

a.menu:hover {
	color:#DDDDFF;
}

a.offline, a.offline:visited
{
	font-style: italic;
}

input {
	font-family:Verdana,Arial,Helvetica,sans-serif;
}

input.marked {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	background: #FFFFCC;
}

textarea {
	font-family:Verdana,Arial,Helvetica,sans-serif;
}

input.fullwidth {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	width: 98%
}

input.fullwidth_marked {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	width: 98%;
	background: #FFFFCC
}

textarea.fullwidth {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	width: 98%
}
/* ---------------- alternating tablerowcolors ----------------- */

.tblrow2 {
	background-color:#F0F0F0;
	color:#222222;
	font-size:13px;
	padding:3px;
}

.tblrow1 {
	background-color:#FFFFFF;
	color:#222222;
	font-size:13px;
	padding:3px;
}

.tblrow2light {
	background-color:#F0F0F0;
	color:#808080;
	font-size:13px;
	padding:3px;
	vertical-align:top;
}

.tblrow1light {
	background-color:#FFFFFF;
	color:#808080;
	font-size:13px;
	padding:3px;
	vertical-align:top;
}

.tblrowmarked {
	background-color:#ffe0e0;
	color:#222222;
	font-size:13px;
	padding:3px;
}

.tblrow2top {
	background-color:#F0F0F0;
	color:#222222;
	font-size:13px;
	padding:3px;
	vertical-align: top;
}

.tblrow1top {
	background-color:#FFFFFF;
	color:#222222;
	font-size:13px;
	padding:3px;
	vertical-align: top;
}

.tblrowmarkedtop {
	background-color:#ffe0e0;
	color:#222222;
	font-size:13px;
	padding:3px;
	vertical-align: top;
}

/* -------------------- table formatting ------------------ */

table.std {
	color:#222222;
	background-color:#bbbbbb;
	border-spacing: 1px;
	border-width: 0px;
}

table.fullwidth {
	color:#222222;
	background-color:#bbbbbb;
	width:100%;
	border-spacing:1px;
	border-width:0px;
}

table.halfwidth {
	color:#222222;
	background-color:#bbbbbb;
	width:50%;
	border-spacing:1px;
	border-width:0px;
}

table.ilPDSelectedItemBlock {
	color:#222222;
	background-color:#bbbbbb;
	width:100%;
	border-spacing:1px;
	border-width:0px;
}

td.il_BlockFooter {
	color:#222222;
	background-color:#D8D8D8;
	text-align:right;
	font-size: 10px;
	padding:2px;
}

table.fullwidth_nowrap {
	color:#222222;
	background-color:#bbbbbb;
	width:100%;
	border-spacing:1px;
	white-space: nowrap;
}

table.fullwidth_invisible {
	color:#222222;
	background-color:#D9D9D9;
	width:100%;
	border-spacing:0px;
}

table.nobackground {
	color: #000000;
	background-color: inherit;
	border-spacing:0px;
	padding: 3px;
}

td.nobackground {
	color: #000000;
	background-color: inherit;
	border-spacing:0px;
	border: transparent;
	padding: 3px;
	vertical-align: top;
}

td.std, th.std {
	padding:2px;
	text-align: left;
}

th.il_invisible, td.il_invisible {
	background-color:#D9D9D9;
	background-image: none;
}

.tbltitle {
	color:#222222;
	font-size:14px;
	font-weight:bold;
	background-color: #C0C0C0;
	background-image: url(blueshadow/images/cellpic5.gif);
}

.tblheader {
	color: #000000;
	font-size:13px;
	font-weight:bold;
}

tr.tblheader {
	color:#000000;
	font-size:13px;
	font-weight:bold;
	background-color:#e3e3e3;
	background-image:url(blueshadow/images/cellpic1.gif);
	background-repeat:repeat-x;
}

.tblfooter {
	color: #000000;
	font-size:13px;
	font-weight:normal;
}

tr.tblfooter {
	color:#000000;
	font-size:13px;
	font-weight:normal;
	background-color:#e3e3e3;
	background-image:url(blueshadow/images/cellpic1.gif);
	background-repeat:repeat-x;
}

tr.std {
	background-color:#FFFFFF;
	color:#222222;
	padding:3px;
}

td.option {
	background-color:#e2e2e2;
	color:#222222;
	padding:3px;
	font-size:13px;
	font-weight : bold;
	vertical-align:top;
	text-align:right;
}

td.sub_option {
	background-color:#FFFFFF;
	color:#222222;
	padding:3px;
	font-size:13px;
	font-weight : bold;
	vertical-align:top;
	text-align:right;
}

td.option_subtitle {
	background-color:#f7f7f7;
	background-image: none;
	color:#000000;
	padding:3px;
	border-width: 10px;
	border-style: solid;
	border-color: #909090;
	font-size:15px;
	vertical-align:top;
	text-align:right;
}

td.option_value {
	background-color:#f7f7f7;
	background-image: none;
	color:#222222;
	padding:3px;
	font-size:13px;
	vertical-align:top;
	text-align:left;
}

td.option_value_center {
	background-color:#f7f7f7;
	background-image: none;
	color:#222222;
	padding:3px;
	font-size:13px;
	vertical-align:top;
	text-align:center;
}

td.option_value_details {
	background-color:#ebbdbd;
	background-image: none;
	color:#222222;
	padding:3px;
	font-size:13px;
	vertical-align:top;
	text-align:left;
}
td.option_value_center_details {
	background-color:#ebbdbd;
	background-image: none;
	color:#222222;
	padding:3px;
	font-size:13px;
	vertical-align:top;
	text-align:center;
}
td.option_desc, p.option_desc {
	background-color:#f7f7f7;
	background-image: none;
	color:#222222;
	padding:3px;
	font-style:italic;
	font-weight:normal;
	font-size:11px;
	vertical-align:top;
	text-align:left;
}

td.option_info {
	background-color:#f7f7f7;
	background-image: none;
	color:#222222;
	padding:3px;
	font-size:13px;
    font-weight:bold;
	vertical-align:top;
	text-align:center;
}

td.boxed {
	border-style: solid;
	border-width: thin;
}

td.submit {
	background-color:#dddddd;
	color:#222222;
	padding:3px;
	font-size:13px;
	vertical-align:top;
}

/* Container  list related styles */

a.il_ContainerItemCommand
{
	padding-top:1px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:1px;
	margin-top:1px;
	margin-bottom:1px;
	border-width: 1px;
	border-style: solid;
	border-color: #B6B6B6;
	font-size:10px;
	color: black;
	white-space: nowrap;
	background-color:#E6ECF8;
}

div.il_ContainerItemCommands
{
	line-height: 18px;
}


div.il_ItemProperties
{
	margin-top: 5px;
	font-size: 13px;
	font-weight: normal;
	text-align:left;
}

div.il_Preconditions
{
	margin-top: 3px;
	font-size: 13px;
	text-align:left;
}

a.il_ItemProperty:link, a.il_ItemProperty:visited {
	text-decoration:none;
	font-weight: normal;
	color:#2255a0;
}

a.il_ItemProperty:hover {
	color:#000000;
}


span.il_ItemAlertProperty
{
	font-size: 13px;
	color: red;
}

span.il_ItemProperty,
{
	font-size: 13px;
}

th.il_ContainerBlockHeader
{
	background-image: url(blueshadow/images/cellpic5.gif);
	background-color:#e5e5e5;
	font-weight: bold;
	padding: 2px;
	text-align:left;
}

table.il_ContainerBlock
{
	color:#222222;
	background-color:#bbbbbb;
	width:100%;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:#a0a0a0;
}

/* Personal Desktop Header*/
div.il_PDTitle
{
	font-family: "Times New Roman", Times, Palatino, "Palatino Linotype", serif;
	font-size: 22px;
	line-height: 36px;
	color: #606060;
	letter-spacing: 0.1em;
	word-spacing: -0.1em;
	white-space: nowrap;
}

table.il_PDBlock
{
	color:#222222;
	background-color:#bbbbbb;
	width:100%;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:#a0a0a0;
	margin-bottom:25px;
}

th.il_PDBlockHeader
{
	background-image: url(blueshadow/images/cellpic5.gif);
	background-repeat: repeat-x;
	font-weight: bold;
	padding: 3px;
	font-size:14px;
	background-color: #CCCCCC;
	text-align:left;
	border-bottom-width:1px;
	border-bottom-color:#909090;
	border-bottom-style:solid;
}

th.il_PDBlockSubHeader
{
	color:#000000;
	font-size:13px;
	font-weight:bold;
	background-color:#e3e3e3;
	background-image:url(blueshadow/images/cellpic1.gif);
	background-repeat:repeat-x;
	text-align:left;
	border-top-width:1px;
	border-top-color:#909090;
	border-top-style:solid;
}


/* Repository Header */
table.ilc_RepHeader {
	border-width: 0px;
	border-spacing: 0px;
	margin: 0px;
	padding: 0px;
	background-color:#EEEEEE;
	width:100%;
}

td.il_RepHeader
{
	padding:0px;
	border-style: solid;
	border-color:#909090;
	border-width: 1px;
	margin-bottom: 0px;
}

div.il_RepHeader
{
	color:#222222;
	background-color: #CCCCCC;
}

/* SCORM styles */

table.il_ScormTable
{
	color:#222222;
	background-color:#bbbbbb;
	border-spacing:1px;
	border-width:0px;
}

td.il_ScormTableKey {
	background-color:#e2e2e2;
	color:#222222;
	padding-left:3px;
	padding-right:3px;
	padding-top:1px;
	padding-bottom:1px;
	font-size:13px;
	vertical-align:top;
	text-align:right;
}

td.il_ScormTableValue {
	background-color:#f7f7f7;
	background-image: none;
	color:#222222;
	padding-left:3px;
	padding-right:3px;
	padding-top:1px;
	padding-bottom:1px;
	font-size:13px;
	vertical-align:top;
	text-align:left;
}



/* must reset all values of td style */
td.il_no_style {
	font-size:normal;
	font-weight:normal;
	background-image:none;
	background-color:white;
}

/* locator */
table.il_Locator
{
	vertical-align:top;
	text-align:left;
	background-color: #E0E0E0;
	border-width: 1px;
	border-style: solid;
	border-color: #909090;
}

div.il_Locator {
	padding-top:1px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:1px;
	font-size:13px;
}

span.il_LocatorTitle
{
	font-weight: bold;
}

/* form */
form.il_Form
{
	padding: 0px;
	margin: 0px;
	border: 0px;
}


/* MainMenu Tabs */
div.il_MainMenu
{
	line-height: 22px;
	white-space: nowrap;
	padding:0px 15px 0px 15px;
}

a.MMInactive:link, a.MMInactive:visited
{
	padding:1px 5px 1px 5px;
	margin-top:2px;
	margin-bottom:2px;
	border-width: 1px;
	border-style: solid;
	border-color: #909090;
	background-color: #EBEBEB;
	white-space: nowrap;
}

a.MMInactive:hover
{
	color: #000000;
}

a.MMActive:link, a.MMActive:visited
{
	padding:1px 5px 1px 5px;
	margin-top:2px;
	margin-bottom:2px;
	border-width: 1px;
	border-style: solid;
	border-color: #909090;
	background-color: #D9D9D9;
	white-space: nowrap;
}

a.MMActive:hover
{
	color: #000000;
}

/* Tabs */

div.il_Tab
{
	line-height: 22px;
	float:left;
	line-height:normal;
}

ul.il_Tab
{
	margin: 0px;
	padding: 0px;
	list-style:none;
}

li.tabinactive
{
	float:left;
	margin: 0px 5px 0px 0px;
	padding: 0px;
}

li.tabactive
{
	float:left;
	margin: 0px 5px 0px 0px;
	padding: 0px;
}

a.tabactive
{
	float: left;
	display:block;
	padding-top:1px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:1px;
	margin-top:2px;
	margin-bottom:2px;
	border-width: 1px;
	border-style: solid;
	border-color: #909090;
	color: black;
	background-color: #D9D9D9;
	white-space: nowrap;
}

a.tabinactive
{
	float: left;
	display:block;
	padding-top:1px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:1px;
	margin-top:2px;
	margin-bottom:2px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	border-color: #909090;
	background-color: #EBEBEB;
	white-space: nowrap;
}


/* Sub Tabs */

div.il_SubTab
{
    float:left;
    width:100%;
	padding-left:0px;
    font-size: 10px;
    line-height:normal;
}

ul.il_SubTab
{
	margin: 0px;
	padding: 0px 0px;
	list-style:none;
}

li.subtabinactive
{
	float:left;
	#background:url("blueshadow2/images/TabInactiveRight.gif")
	#	no-repeat right top;
	margin:0;
	padding:0;
}

a.subtabinactive
{
	float: left;
	display:block;
	background:url("blueshadow/images/SubTabInactiveLeft.gif") no-repeat left top;
    padding: 3px 10px;
}

li.subtabactive
{
	float:left;
	#background:url("blueshadow2/images/TabActiveRight.gif")
	#	no-repeat right top;
	margin:0;
	padding:0;
}

a.subtabactive
{
	float: left;
	display:block;
	background:url("blueshadow/images/SubTabActiveLeft.gif") no-repeat left top;
    padding: 3px 10px;
}

/*  Commented Backslash Hack
	hides rule from IE5-Mac, we do not want the left float for other browsers \*/
	a.subtabinactive a.subtabactive {float:none;}
/* End IE5-Mac hack */

/* Explorer */

div.il_Explorer
{
	background-color: #FFFFFF;
	border-color: #a0a0a0;
	border-width: 1px;
	border-style: solid;
}

/*div.il_RepExplorer
{
	background-color:#FFFFFF;
	padding:20px;
	border-spacing: 1px;
	border-style: outset;
	border-color: #EEEEEE;
	border-width: 1px;
	margin-bottom: 0px;
}*/

div.il_ExplorerHeader
{
	padding-top:1px;
	padding-left:3px;
	padding-right:3px;
	padding-bottom:1px;
	font-size:13px;
	vertical-align:top;
	text-align:left;
	background-color:#E0E0E0;
	border-width: 1px;
	border-style: solid;
	border-color: #a0a0a0;
	margin:0px;
	font-weight: bold;
	border-bottom:0px;
}
ul.il_Explorer
{
	margin: 0px 0px 0px 22px;
	padding: 0px 0px;
	list-style:none;
}

ul.il_ExplorerNoIndent
{
	margin: 0px;
	padding: 0px 0px;
	list-style:none;
}

li.il_Explorer
{
	margin:0;
	padding:0;
	white-space: nowrap;
}

li.il_ExplorerInline
{
	margin:0;
	padding:0;
}

a.il_HighlightedNode
{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-color: #909090;
}

div.il_ExplorerItemDescription
{
	margin-left: 44px;
}

/* Table Links */

a.tblheader, a.tblheader:visited
{
	color:#3444aa;
}

a.tblheader:hover
{
	color:#000000;
}

/* --- description text ---*/
div.il_Description, td.il_Description
{
	margin-top:5px;
	font-size: 13px;
	#font-style: italic;
	text-align:left;
}
div.il_Description_no_margin, td.il_Description_no_margin
{
	font-size: 13px;
	font-style: italic;
	text-align:left;
}
div.il_info
{
	font-size: 13px;
	text-align:left;
}

/* ---------------- headlines ------------------ */

div.il_HeaderOuter
{
	margin:15px;
}

div.il_Header
{
	margin-top:2px;
	margin-bottom:5px;
	color:#222222;
	border-width:1px;
	border-color:#909090;
	border-style:solid;
	padding:7px;
	background-color: #CCCCCC;
}

div.il_HeaderInner
{
	float:left;
}

table.ilHeader
{
	margin-top:2px;
	margin-bottom:5px;
	color:#222222;
	background-color: #DBE6F4;
	border-width:1px;
	border-color:#E0E0F0;
	border-style:outset;
	padding:7px;
	background-image: url(blueshadow/images/cellpic5.gif);
	background-repeat:repeat-x;
}

div.ilMainHeader
{
	background-image: url(blueshadow/images/HeaderBackground2.gif);
	background-repeat: repeat-x;
	background-color: #F0F0F0;
}

a.ilMainHeader
{
	padding-top:1px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:1px;
	margin-top:2px;
	margin-bottom: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: #909090;
	background-color: #EBEBEB;
}

div.ilLogin
{
	padding-top:2px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:2px;
	margin-top:2px;
	margin-bottom:2px;
	border-width: 1px;
	border-style: solid;
	border-color: #909090;
	background-color: #EBEBEB;
	white-space: nowrap;
	
	float:right;
	text-align:right;
	font-size:90%;

}

div.il_Footer
{
	margin-top:30px;
	margin-bottom:10px;
	font-size: 10px;
	text-align:center;
}

h1 {
	margin-top:2px;
	margin-bottom:5px;
	font-size:14px;
}

h2 {
	font-size:14px;
	color:#222222;
	background-color: #CCCCCC;
	border-width:1px;
	border-color:#909090;
	border-style:solid;
	padding:3px;
	margin-top:25px;
	margin-bottom:0px;
	background-image: url(blueshadow/images/cellpic5.gif);
}

/* ----------------- invisible border ------------- */

div.invisible_border {
	margin:15px;
}

td.ilInvisibleBorder
{
	padding:15px;
}

/* --- column table -- */
table.il_ColumnLayout
{
	color:#222222;
	background-color:#D9D9D9;;
	width:100%;
	border-spacing:0px;
}

td.il_LeftColumn
{
	padding-left:15px;
	vertical-align:top;
}

td.il_CenterColumn
{
	padding-right:15px;
	padding-left:15px;
	vertical-align:top;
}

td.il_RightColumn
{
	padding-left:15px;
	padding-left:15px;
	vertical-align:top;
}

/* ------- Helptext --------- */
span.il_Helptext {
	font-size:11px;
}

/* ----------------- alternative text styles ------------- */
.small {
	text-decoration:none;
	font-size:11px;
}

.smallgreen {
	text-decoration:none;
	font-size:11px;
	color:green;
}

.smallred {
	text-decoration:none;
	font-size:11px;
	color:red;
}

.obligatory {
	font-weight: normal;
	color: #800000;
	font-variant: normal;
}

.warning {
	text-decoration:none;
	font-weight:bold;
	color:red;
}

div.Warning {
	text-decoration:none;
	font-weight:bold;
	color:red;
}

div.Access {
	text-decoration:none;
	font-weight:bold;
	text-decoration:underline;
	color:red;
}

.asterisk {
	color:red;
	font-size:11px;
}

.default {
	text-decoration:none;
	font-weight:normal;
}

.inactivepage {
	text-decoration:none;
	font-weight: bold;
	color: gray;
}

.quote {
	font-style:italic;
	font-weight:normal;
}

.subtitle {
	font-style:italic;
	font-weight:normal;
	font-size:11px;
}

.questiontext {
	font-weight:bold;
}

.bold {
	font-weight:bold;
}

/* ----------------- normal links ------------- */

a:link, a:visited {
	text-decoration:none;
	font-weight: bold;
	color:#2255a0;
}

a:hover {
	color:#000000;
}

/* ------------------- mail links ----------- */
a.mailread, a.mailread:visited
{
	font-weight: normal;
	color: #2255a0;
}

a.mailunread, a.mailunread:visited
{
	color: #2255a0;
	font-weight: bold;
}

/* ------------------- forum links ----------- */
a.postread, a.postread:visited
{
	font-weight: normal;
	color: #2255a0;
}

a.postunread, a.postunread:visited
{
	color: #2255a0;
	font-weight: bold;
}

a.postnew, a.postnew:visited
{
    color: #2255a0;
    font-style: italic;
}
/* ------------------ buttons -------------- */

td.btn {
	background-color:#D3DAE8;
	color:#BBBBBB;
	border-width:1px;
	border-color:#909090;
	border-style:solid;
	padding:2px;
}

div.il_ButtonGroup
{
	margin: 3px 0px 3px 0px;
	line-height: 150%;
}

a.btn:link, a.btn:visited {
	color:#2255a0;
	text-decoration:none;
	font-size:13px;
}


a.btn:hover {
	color:#000000;
}


/*
input {
	background-color:#ffffff;
	color:#000000;
	border-width:1px;
	border-color:#bbbbbb;
	border-style:inset;
	font-size:13px;
}
*/


input.submit, a.submit {
	background-color:#D3DAE8;
	color:#2255a0;
	border-width:1px;
	border-color:#909090;
	border-style:solid;
	padding:2px;
	text-decoration:none;
	font-size:13px;
	font-weight:bold;
	cursor:pointer;
}

input.submit_disabled, a.submit_disabled {
	background-color:#D3DAE8;
	color:grey;
	border-width:1px;
	border-color:#909090;
	border-style:solid;
	padding:2px;
	text-decoration:none;
	font-size:13px;
	font-weight:bold;
	cursor:pointer;
}

label, input[type=checkbox], input[type=radio], select
{
	cursor:pointer;
}

input[type=checkbox], input[type=radio]
{
	border-style:none;
	background-color:none;
}

a.ilEditSubmit {
	background-color:#ffffff;
	color:#2255a0;
	border-width:1px;
	border-color:#bbbbbb;
	border-style:outset;
	padding: 2px;
	margin: 0px;
	background-image: none;
	text-decoration: none;
	font-size: 10px;
	line-height: 14px;
	font-weight:bold;
	cursor:pointer;
}

input.ilEditSubmit {
	background-color:#ffffff;
	color:#2255a0;
	border-width:1px;
	border-color:#bbbbbb;
	border-style:outset;
	padding: 1px;
	margin: 0px;
	background-image: none;
	text-decoration: none;
	font-size: 10px;
	line-height: 14px;
	font-weight:bold;
	cursor:pointer;
}

input.ilEditHelpline {
	background-color:#f7f7f7;
	border-style:none;
	padding:3px;
	background-image: none;
	text-decoration:none;
	font-size:10px;
}

input.tblrow1, input.tblrow2
{
	background-color:#ffffff;
	color:#000000;
	background-image: none;
	padding:0px;
}

textarea {
	background-color:#ffffff;
	color:#000000;
	border-width:1px;
	border-color:#bbbbbb;
	border-style:inset;
	padding:3px;
	text-decoration:none;
	font-size:13px;
}

input.submit:hover, input.ilEditSubmit:hover, a.submit:hover {
	color:#000000;
}


.message {
	color: #dd0000;
	font-weight:bold;
	text-align:center;
	background-color:#D0D0D0;
	margin-bottom: 2px;
}

.alert {
	color: #dd0000;
}

select.ilEditSelect {
	background-color:#ffffff;
	border-width:1px;
	border-color:#bbbbbb;
	padding:1px;
	background-image: none;
	text-decoration:none;
	font-size:10px;
}

/* --- to prevent tab-images from spacing when using DOCTYPE xhtml --- */
img.imgtab {
	display:block;
}

/* ------------------ content window body tag (not used yet) -------------- */
.content {
	margin:0px;
}

/* --- Editor styles ---*/

div.il_editarea
{
	border-style: dotted;
	border-width: 1px;
}

/* ------------------ blind image - spacer gif --------------
   please use this style class always when using this blind image */
img.spacer {
	display:block;
}

/* --- calendar styles -- */
div.dp_Menu
{
	padding-top:1px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:1px;
	margin-top:2px;
	margin-bottom:2px;
	border-width: 1px;
	border-style: solid;
	border-color: #909090;
	background-color: #EBEBEB;
	width: 152px;
}

td.even
{
	color:#222222;
	background-color:#F7F7F7;
	padding: 3px;
}

td.uneven
{
	color:#222222;
	background-color:#EEEEEE;
	padding: 3px;
}

td.today
{
	text-align: center;
	font-size: smaller;
	background-color: #E0E0FF;
}

td.chosenDate
{
	text-align: center;
	font-size: smaller;
	background-color: #FFE0E0;
}

td.date
{
	text-align: center;
	font-size: smaller;
	background-color: #F7F7F7;
}

td.prevMonth
{
	text-align: center;
	font-size: smaller;
	background-color: #DFDFDF;
}

td.todayMO
{
	height: 40px;
	text-align: center;
	vertical-align: top;
	font-size: smaller;
	background-color: #E0E0FF;
}

td.chosenDateMO
{
	height: 40px;
	text-align: center;
	vertical-align: top;
	font-size: smaller;
	background-color:  #FFE0E0;
}

td.dateMO
{
	height: 40px;
	text-align: center;
	vertical-align: top;
	font-size: smaller;
	background-color: #F7F7F7;
}

td.prevMonthMO
{
	height: 40px;
	text-align: center;
	vertical-align: top;
	font-size: smaller;
	background-color: #DFDFDF;
}

td.evenMO
{
	color:#222222;
	background-color:#F7F7F7;
	font-size: smaller;
	padding: 3px;
}

td.unevenMO
{
	color:#222222;
	background-color:#EEEEEE;
	font-size: smaller;
	padding: 3px;
}

td.weeknumber
{
	color: #5F5F5F;
	background-color: none;
	font-size: smaller;
}

a.weekLink
{
	font-size: x-small;
}

td.appointmentConfTitle
{
	font-size: 2em;
	font-style: italic;
}

td.doubleComment
{
	font-size: 1em;
	color: #FF0000;
	font-weight: bold;
}

/* --- content styles (will move to content.css) --- */
table.ilc_Page {
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: #EEEEEE;
	border-collapse:collapse;
	margin: 0px;
	padding: 0px;
	width:100%;
}

td.ilc_Page
{
	padding:20px;
	border-left-style: solid;
	border-right-style: solid;
	border-color: #EEEEEE;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	margin-bottom: 0px;
}

table.ilc_LMNavigation {
	border-width: 0px;
	border-spacing: 0px;
	margin: 0px;
	padding: 0px;
	background-color:#EEEEEE;
	width:100%;
}

td.ilc_LMNavigation
{
	padding:1px;
	border-style: solid;
	border-color: #EEEEEE;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	margin-bottom: 0px;
}

div.ilc_DefinitionHeader
{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size:18px;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-top-style: solid;
	border-color: #000000;
}

table.ilc_Fullscreen
{
	background-color:#EEEEEE;
	position: absolute;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

html.ilc_Fullscreen, body.ilc_Fullscreen
{
	margin: 0;
	padding: 0;
	height: 100%;
}

table.ilc_FileList
{
	color: #222222;
	background-color: #c0c0c0;
	width: 100%;
	border-spacing: 1px;
	border-style: outset;
	border-color: #bbbbbb;
	border-width: 1px;
	margin-bottom: 5px;
	margin-top: 5px;
}

th.ilc_FileList
{
	font-size: 13px;
	text-align: left;
	padding: 3px;
}

td.ilc_FileItem
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	background-color: #FFFFFF;
	padding: 3px;
}

div.ilc_LMMenu
{
	line-height: 22px;
}

a.ilc_LMMenu
{
	padding-top:1px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:1px;
	margin-top:2px;
	margin-bottom:2px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	border-color: #909090;
	background-color: #EBEBEB;
	white-space: nowrap;
}

div.ilc_TableOfContents
{
	background-color:#EEEEEE;
	padding:20px;
	border-spacing: 1px;
	border-style: outset;
	border-color: #EEEEEE;
	border-width: 1px;
	margin-bottom: 0px;
}

div.ilc_Disabled {
	margin-left: -10px;
	padding-left: 10px;
	border-left: 3px dotted red;
}

/* --- Test & Assessment styles --- */

div.ilc_Question
{
	padding-left: 20px;
	border-left: 3px;
	border-left-style: solid;
	margin-top: 10px;
	margin-bottom: 10px;
	border-left-color: red;
}

.testSheet {
	background: #EEEEEE;
	border-spacing: 1px;
	border: 1px outset #BBBBBB;
	margin: 5px;
	padding: 2em;
}

.questionTitle {
	border-bottom: thin solid #333333;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 0.5em;
}

span.solutionbox {
	color:black;
	background-color:white;
	padding-left: 5px;
	padding-right: 5px;
	border-width:1px;
	border-style:solid;
	border-color:black;
}

/* --- Test tool javascript styles --- */

div.textbox
{
	width: 200px;
	position:relative;
	border: 1px solid #000000;
	background: #DDDDDD;
	padding: 10px;
	vertical-align: middle;
	border-style: outset;
	text-align: center;
}

div.textboximage
{
	width: 200px;
	height: 80px;
	position:relative;
	border: 1px solid #000000;
	background: #DDDDDD;
	padding: 10px;
	vertical-align: middle;
	border-style: outset;
	text-align: center;
}

div.imagebox
{
	position:relative;
	width: 150px;
}

/* --- Survey tool styles --- */

.surveySheet {
	background: #EEEEEE;
	border-spacing: 1px;
	border: 1px outset #BBBBBB;
	margin: 5px;
	padding: 2em;
}

.questionblockTitle {
	font-size:14px;
	color:#222222;
	background-color: #CCCCCC;
	border-width:1px;
	border-color:#909090;
	border-style:solid;
	padding: 10px;
	margin-top:25px;
	margin-bottom:0px;
	background-image: url(blueshadow/images/cellpic5.gif);
}

.questionheading {
	margin-top:2px;
	margin-bottom:5px;
	font-size:14px;
	font-weight: bold;
}
