/**
* alternative stylesheet in blue colors
* @access public
* @author Peter Gabriel <pgabriel@databay.de>
* @version $Id$
*/
body {
        color:#2222aa;
        background-color:#eeeeee;
        font-family:Times New Roman, courier ,serif;
        font-size:x-small;
		margin:10px;
}
td {
        font-size:x-small;
}

.btnbar {
        background-color:#ccccff;
}

/* ---------------- alternating tablerowcolors ----------------- */

.tblrow2 {
        color:#222222;
        background-color:#ddddee;
}

.tblrow1 {
        color:#222222;
        background-color:#bbbbdd;
}

/* -------------------- table formatting ------------------ */

.tblheader {
     color:#ffffff;
     background-color:#222266;
}

/* ---------------- headlines ------------------ */

h1 {
   font-size:large;
   color:#222233;
}

h2 {
   font-size:large;
   color:#222233;
}



/* ----------------- normal links ------------- */
a {
        font-weight:bold;
        text-decoration:none;
        color:#000022;
}

a:hover {
        color:#000022;
}

a:visited {
        color:#000022;
}

/* ------------------- mail links ----------- */
a.mailread
{
	font-weight: normal;
	color: blue;
}

a.mailunread
{
	color: blue;
	font-weight: bold;
}

/* ------------------ buttons -------------- */

.btn {
        background-color:#ccccff;
        color:#0000ff;
}

a.btn {
        color:#000022;
        text-decoration:none;
        font-size:x-small;
}

a.btn:hover {
        color:#ccccff;
}

a.btn:visited {
        color:#000022;
}

a.tblheader:visited, a.tblheader:hover {
		color:#ffffff;
}

input {
	background-color:#eeeeff;
}

select {
	background-color:#eeeeff;
}

textarea {
	background-color:#eeeeff;
}

.message {
  color: #dd0000;
  font-weight: bold;
  text-align: center;
}

/* ------------------ tabs -------------- */
.tab {
	font-size: x-small;
	color: #000000;
	font-weight: bold;
	background-color:#000000;
}

.tabactive {
	background-color:#eeeeee;
}
.tabinactive {
	background-color:#cccccc;
}