body {
	color:#222222;
	background-color:#b9c0d5;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:13px;
	margin:10px;
}

td {
	font-size:13px;
}

.btnbar {
	background-color:#ffffff;
	background-image: url(blueshadow/images/navbar/back.gif);
}

input, textarea {
	font-family:Verdana,Arial,Helvetica,sans-serif;
}


/* ---------------- alternating tablerowcolors ----------------- */

.tblrow2 {
	background-color:#f7f7f7;
	color:#222222;
	font-size:13px;
	padding:4px;
}

.tblrow1 {
	background-color:#eeeeee;
	color:#222222;
	font-size:13px;
	padding:4px;
}

/* -------------------- table formatting ------------------ */

table.std {
	color:#222222;
	background-color:#b9c0d5;
	border-spacing: 1px;
	border-style: outset;
	border-color: #bbbbbb;
	border-width: 1px;
}

table.fullwidth {
	color:#222222;
	background-color:#b9c0d5;
	width:100%;
	border-spacing:1px;
	border-style:outset;
	border-color:#bbbbbb;
	border-width:1px;
}

td.std {
	padding:4px;
}

.tblheader {
	color: #000000;
	font-size:13px;
	font-weight:bold;
}

tr.tblheader {
	color:#000000;
	font-size:13px;
	font-weight:bold;
	background-color:#e3e3e3;
	background-image:url(blueshadow/images/cellpic1.gif);
	background-repeat:repeat-x;
}

tr.std {
	background-color:#eeeeee;
	color:#222222;
	padding:4px;
}

td.option {
	background-color:#e2e2e2;
	color:#222222;
	padding:4px;
	font-size:13px;
	font-weight : bold;
	vertical-align:top;
	text-align:right;
}

td.option_value {
	background-color:#f7f7f7;
	color:#222222;
	padding:4px;
	font-size:13px;
	vertical-align:top;
	text-align:left;
}


a.tblheader, a.tblheader:visited
{
	color:#3444aa;
}

a.tblheader:hover
{
	color:#000000;
}


/* ---------------- headlines ------------------ */

h1 {
	font-size:16px;
	color:#222222;
	background-color: #C0C0C0;
	border-width:2px;
	border-color:#BBBBBB;
	border-style:outset;
	padding:7px;
	background-image: url(blueshadow/images/cellpic5.gif);
}

h2 {
	font-size:16px;
	color:#222222;
	background-color: #CCCCCC;
	border-width:1px;
	border-color:#BBBBBB;
	border-style:outset;
	padding:4px;
	margin-top:25px;
	margin-bottom:0px;
	background-image: url(blueshadow/images/cellpic5.gif);
}

/* ----------------- invisible border ------------- */

div.invisible_border {
	margin-top:15px;
	margin-bottom:15px;
	margin-right:15px;
	margin-left:15px;
}

/* ----------------- alternative text styles ------------- */
.small {
	text-decoration:none;
	font-size:11px;
}

.smallgreen {
	text-decoration:none;
	font-size:11px;
	color:green;
}

.smallred {
	text-decoration:none;
	font-size:11px;
	color:red;
}

.warning {
	text-decoration:none;
	font-weight;bold;
	color:red;
}

.asterisk {
	color:red;
	font-size:11px;
}

.default {
	text-decoration:none;
	font-weight:normal;
}

.quote {
	font-style:italic;
	font-weight:normal;
}


/* ----------------- normal links ------------- */

a:link, a:visited {
	font-weight:bold;
	text-decoration:none;
	color:#2255a0;
}

a:hover {
	color:#000000;
}

/* ------------------- mail links ----------- */
a.mailread
{
	font-weight: normal;
	color: #2255a0;
}

a.mailunread
{
	color: #2255a0;
	font-weight: bold;
}

/* ------------------ buttons -------------- */

td.btn {
	background-color:#006699;
	color:#BBBBBB;
	border-width:2px;
	border-color:#BBBBBB;
	border-style:outset;
	padding:3px;
	background-image: url(blueshadow/images/cellpic2.jpg);
}

a.btn:link, a.btn:visited {
	color:#2255a0;
	text-decoration:none;
	font-size:13px;
}


a.btn:hover {
	color:#000000;
}

input {
	background-color:#ffffff;
	color:#000000;
	border-width:2px;
	border-color:#bbbbbb;
	border-style:inset;
	font-size:13px;
}


input.submit {
	background-color:#ffffff;
	color:#2255a0;
	border-width:2px;
	border-color:#bbbbbb;
	border-style:outset;
	padding:3px;
	background-image: url(blueshadow/images/cellpic2.jpg);
	text-decoration:none;
	font-size:13px;
	font-weight:bold;
	cursor:pointer;
}

input.tblrow1, input.tblrow2
{
	background-color:#ffffff;
	color:#000000;
	background-image: none;
	padding:0px;
}

textarea {
	background-color:#ffffff;
	color:#000000;
	border-width:2px;
	border-color:#bbbbbb;
	border-style:inset;
	padding:3px;
	text-decoration:none;
	font-size:13px;
}

input.submit:hover {
	color:#000000;
}


.message {
	color: #dd0000;
	font-weight:bold;
	text-align:center;
}

/* ------------------ tabs -------------- */
.tab {
	font-size:11px;
	color: #000000;
	font-weight: bold;
	background-color:#000000;
}

.tabactive {
	background-color:#dddddd;
}
.tabinactive {
	background-color:#bbbbbb;
}

/* ------------------ content window body tag (not used yet) -------------- */
.content {
	margin:0px;
}

/* --- to prevent images from spacing when using DOCTYPE xhtml --- */
img {
	display: block;
}