<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
  <head>

	<title>ILIAS admin interface</title>
	<link rel="stylesheet" type="text/css" href="ilias.css">
  </head>
  <body>
	<table cellpadding="0" cellspacing="0" width="100%" border="0">

		<tr>
		  <td bgcolor="#000000" rowspan="5" width="10%" valign="bottom" 
			  align="left">&nbsp;&nbsp;<img src="images/spacer.gif" 
											width="2" height="1" alt="" />
		  </td>
		  <td bgcolor="#000000" colspan="28"><img 
												  src="images/spacer.gif" width="1" height="5" alt="" /></td>
		</tr>

		<tr>
		  <td bgcolor="#ffffff" rowspan="2" valign="top" 
			  align="left"><img src="images/eck_l.gif" width="5" 
								height="5" alt="" /></td>
		  <td bgcolor="#ffffff"><img src="images/spacer.gif"
									 width="1" height="2" alt="" /></td>
		  <td bgcolor="#ffffff" rowspan="2" valign="top" 
			  align="right"><img src="images/eck_r.gif" width="5" 
								 height="5" alt="" /></td>
		  <td bgcolor="#000000" rowspan="4"><img src="images/spacer.gif"
												 width="2" height="1" alt="" /></td>

		  <td bgcolor="#efefef" rowspan="2" valign="top" 
			  align="left"><img src="images/eck_l.gif" width="5" 
								height="5" alt="" /></td>
		  <td bgcolor="#efefef"><img src="images/spacer.gif"
									 width="1" height="2" alt="" /></td>
		  <td bgcolor="#efefef" rowspan="2" valign="top" 
			  align="right"><img src="images/eck_r.gif" width="5" 
								 height="5" alt="" /></td>
		  <td bgcolor="#000000" rowspan="4"><img src="images/spacer.gif"
												 width="2" height="1" alt="" /></td>

		  <td bgcolor="#efefef" rowspan="2" valign="top" 
			  align="left"><img src="images/eck_l.gif" width="5" 
								height="5" alt="" /></td>
		  <td bgcolor="#efefef"><img src="images/spacer.gif"
									 width="1" height="2" alt="" /></td>
		  <td bgcolor="#efefef" rowspan="2" valign="top" 
			  align="right"><img src="images/eck_r.gif" width="5" 
								 height="5" alt="" /></td>
		  <td bgcolor="#000000" rowspan="4"><img src="images/spacer.gif"
												 width="2" height="1" alt="" /></td>
		  
		  <td bgcolor="#efefef" rowspan="2" valign="top" 
			  align="left"><img src="images/eck_l.gif" width="5" 
								height="5" alt="" /></td>
		  <td bgcolor="#efefef"><img src="images/spacer.gif"
									 width="1" height="2" alt="" /></td>
		  <td bgcolor="#efefef" rowspan="2" valign="top" 
			  align="right"><img src="images/eck_r.gif" width="5" 
								 height="5" alt="" /></td>
		  <td bgcolor="#000000" rowspan="4"><img src="images/spacer.gif"
												 width="2" height="1" alt="" /></td>
		</tr>
<tr>
  <td bgcolor="#ffffff" valign="bottom" 
   align="center"><font face="Verdana, Arial, Helvetica" 
   size="1" color="#000000">&nbsp;<a href="{OBJ_SELF}"><span class="tab">View content</span></a>&nbsp;</td>
  <td bgcolor="#efefef" valign="bottom" class="tab" 
   align="center">&nbsp;<a href="./object.php?obj_id={OBJ_ID}&parent={TPOS}&cmd=edit"><span class="tab">Edit properties</span></a>&nbsp;</td>
  <td bgcolor="#efefef" valign="bottom" class="tab" 
   align="center">&nbsp;<a href="./object.php?obj_id={OBJ_ID}&parent={TPOS}&cmd=perm">Permission settings</a>&nbsp;</td>
  <td bgcolor="#efefef" valign="bottom" class="tab" 
   align="center">&nbsp;<a href="./object.php?obj_id={OBJ_ID}&parent={TPOS}&cmd=owner"><span class="tab">Show owner</span></a>&nbsp;</td>
</tr>
		<tr>
		  <td colspan="3" bgcolor="#ffffff"><img src="images/spacer.gif"
												 width="2" height="1" alt="" /></td>
		  <td colspan="3" bgcolor="#efefef"><img src="images/spacer.gif"
												 width="2" height="1" alt="" /></td>
		  <td colspan="3" bgcolor="#efefef"><img src="images/spacer.gif"
												 width="2" height="1" alt="" /></td>
		  <td colspan="3" bgcolor="#efefef"><img src="images/spacer.gif"
												 width="2" height="1" alt="" /></td>
		</tr>
		<tr>
		  <td colspan="3" bgcolor="#ffffff"><img src="images/spacer.gif"
												 width="2" height="1" alt="" /></td>
		  <td colspan="3" bgcolor="#c0c0c0"><img src="images/spacer.gif"
												 width="2" height="1" alt="" /></td>
		  <td colspan="3" bgcolor="#c0c0c0"><img src="images/spacer.gif"
												 width="2" height="1" alt="" /></td>
		  <td colspan="3" bgcolor="#c0c0c0"><img src="images/spacer.gif"
												 width="2" height="1" alt="" /></td>
		</tr>
	</table>
	
	
	
	<table width="100%" cellspacing="0" cellpadding="2" border="0">
		<tr class="locator">
		  <td align="left" valign="top">
			<strong>
			  Roles at {TREEPATH}
			</strong>
		  </td>
		</tr>
	</table>
	<!-- BEGIN sys_message -->
	<table width="100%" cellspacing="0" cellpadding="2" border="0">
		<tr class="message">
		  <td align="center" valign="top" height="30">
			<strong>
			  {ERROR_MESSAGE}
			</strong>
		  </td>
		</tr>
	</table>
	<!-- END sys_message -->
	<form action="object.php?obj_id={OBJ_ID}&parent={TPOS}" name="objectItems" method="post">
	  <input type="HIDDEN" name="type" value="{TYPE}">
	  <table width="100%" cellspacing="0" cellpadding="2" border="0">
		{MESSAGE}
		<!-- END notfound -->
		  <tr class="header">
			<td width="8%" align="right" colspan="2">
			  <div class="list-item"><a href="void">&nbsp;</a>
			  </div>
			</td>
			<td width="62%" align="left"><div class="list-item"><a 
																   href="content.php?obj_id={OBJ_ID}&parent={TPOS}&order=title&direction={DIR}"
				  <strong>Name</strong></a></div>
			</td>
			<td width="30%" align="right"><div class="list-item"> 
				<a href="content.php?obj_id={OBJ_ID}&parent={TPOS}&order=last_update&direction={DIR}">Last modified</a></div>
			</td>
		  </tr>
		  
		  
		  <!-- BEGIN row -->
		  <tr class="{CSS_ROW}">
			<td align="left" valign="top" width="16">
			  <input type="checkbox" name="id[]" value="{OBJ}"/>
			</td>
			<td align="left" valign="top" nowrap="1">
			  <a href="{LINK_TARGET}">
				<img src="images/{IMG_TYPE}" alt="{ALT_IMG_TYPE}" title="{ALT_IMG_TYPE}" border="0" /></a>
			</td>
			<td align="left" valign="top">
			  <div class="list-item">
				<a href="{LINK_TARGET}"> {OBJ_TITLE} </a>
			  </div>
			</td>
			<td align="right" valign="top">
			  {OBJ_LAST_UPDATE}
			</td>
		  </tr>
		  <!-- END row -->
	  </table>
	  <table cellspacing="0" cellpadding="2" border="0">
		  <tr>
			<td align="left" width="16">
			  <img src="images/pfeil_rechts.gif" border="0">
			</td>
			<td>
			  <input class="form-element" type="submit" name="cmd" value="delete">
	</form>
  </td>
	<td>
	  <form action="object.php?obj_id={OBJ_ID}&parent={TPOS}&cmd=create" name="objectItems" method="post">
		<input type="HIDDEN" name="type" value="role">
		<input class="form-element" type="submit" value="create role"> 
	  </form>
	</td>
	<td>
	  <form action="object.php?obj_id={OBJ_ID}&parent={TPOS}&cmd=create" name="objectItems" method="post">
		<input type="HIDDEN" name="type" value="rolt">
		<input class="form-element" type="submit" value="create template"> 
	  </form>
	</td>
  </tr>
  </table>
  </body>
</html>