<!-- @version $Id$ -->
<style>
body { margin:0px; }
</style>

{TABS}

<table width="100%" cellspacing="0" cellpadding="2" border="0">
<tr class="locator">
  <td align="left" valign="top">
    <strong>Operations for Object type at {TREEPATH}</strong>
  </td>
</tr>
</table>

<!-- BEGIN sys_message -->
<table width="100%" cellspacing="0" cellpadding="2" border="0">
  <tr class="message">
	<td align="center" valign="top" height="30">
      <strong>
            {ERROR_MESSAGE}
	  </strong>
    </td>
  </tr>
</table>
<!-- END sys_message -->
<br><br>

<form action="object.php?obj_id={OBJ_ID}&parent={TPOS}&parent_parent={PAR}" name="objectItems" method="post">
<table width="100%" cellspacing="0" cellpadding="2" border="0">
<tr class="header">
  <td width="8%" align="right" colspan="2">
    <div class="list-item"><a href="void">&nbsp;</a>
    </div>
  </td>
  <td width="15%" align="left"><div class="list-item"><a href="content.php?obj_id={OBJ_ID}&parent={TPOS}&order=operation&direction={DIR}"
   <strong>Operation</strong></a></div>
  </td>
   <td width="47%" align="left"><div class="list-item"><a
   href="content.php?obj_id={OBJ_ID}&parent={TPOS}&order=description&direction={DIR}"
   <strong>Description</strong></a></div>
  </td>
  <td width="25%" align="right"><div class="list-item">
  <a href="void">Status</a></div>
  </td>
  <td width="5%" align="right">
  &nbsp;
  </td>
</tr>

<!-- BEGIN row -->
<tr class="{CSS_ROW}">
  <td align="left" valign="top" width="16">
    <input type="checkbox" name="id[]" value="{OPS_ID}"/>
  </td>
  <td align="left" valign="top" nowrap="1">
    <a href="{LINK_TARGET}">
  	<img src="images/{IMG_TYPE}" alt="{ALT_IMG_TYPE}" title="{ALT_IMG_TYPE}" border="0" /></a>
  </td>
  <td align="left" valign="top">
    <div class="list-item">
      <a href="{LINK_TARGET}"> {OPS_TITLE} </a>
    </div>
  </td>
  <td align="left" valign="top">
    <div class="list-item">
      <a href="{LINK_TARGET}"> {OPS_DESC} </a>
    </div>
  </td>
  <td align="right" valign="top">
      {OPS_STATUS}
  </td>
  <td align="right" valign="top">
      &nbsp;
  </td>
</tr>
<!-- END row -->

<!-- BEGIN notfound -->
<tr>
  <td colspan="6" align="center" valign="top">
    <i>{MESSAGE}</i>
  </td>
</tr>
<!-- END notfound -->

</table>
	  <!-- BEGIN options -->
	  <table width="100%" cellspacing="0" cellpadding="2" border="0">
		  <tr height="40">

			<td align="left">
			  <div class="form-element">
			  <img src="images/pfeil_rechts.gif" border="0">
				<input class="form-element" type="submit" name="cmd"
					   value="delete" />
				<input class="form-element" type="submit" name="cmd"
					   value="create" />
			  </div>
			</td>
			<td align="right" width="25%">
			  <div class="form-element">
				<input class="form-element" type="submit" name="cmd"
					   value="addPermission" />
			  </div>
			</td>
			<td align="right" width="5%">&nbsp;</td>
		  </tr>
	  </table>
	  <!-- END options -->
</form>