body {
	color:#222222;
	background-color:#dddddd;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:13px;
	margin:10px;
}

td {
	font-size:13px;
}

.btnbar {
	background-color:#006699;
}

input, textarea {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:13px;
}
/* ---------------- alternating tablerowcolors ----------------- */

.tblrow2 {
	color:#222222;
	background-color:#eeeeee;
	font-size:13px;
	padding:3px;
}

.tblrow1 {
	color:#222222;
	background-color:#bbbbbb;
	font-size:13px;
	padding:3px;
}

/* -------------------- table formatting ------------------ */

table.std {
	border-spacing: 0px;
}

table.fullwidth {
	width: 100%;
	border-spacing:1px;
}

td.std {
	padding:3px;
}

.tblheader {
	font-weight:bold;
	color:#ffffff;
	background-color:#666677;
}

td.option {
	padding:3px;
	border-bottom:1px solid #000000;
}

td.option_value {
	padding:3px;
	border-bottom:1px solid #000000;
}

/* ---------------- headlines ------------------ */

h1 {
	font-size:16px;
	color:#222222;
	white-space:nowrap;
}

h2 {
	font-size:16px;
	color:#222222;
}

/* ----------------- alternative text styles ------------- */
.small {
	text-decoration:none;
	font-size:11px;
}

.smallgreen {
	text-decoration:none;
	font-size:11px;
	color:green;
}

.smallred {
	text-decoration:none;
	font-size:11px;
	color:red;
}

.warning {
	text-decoration:none;
	font-weight:bold;
	color:red;
}

.asterisk {
	color:red;
	font-size:11px;
}

.default {
	text-decoration:none;
	font-weight:normal;
}

.quote {
	font-style:italic;
	font-weight:normal;
}

/* ----------------- normal links ------------- */
a {
	text-decoration:none;
	color:#0066ff;
}

a:hover {
	color:#0066ff;
}

a:visited {
	color:#0066ff;
}

/* ------------------- mail links ----------- */
a.mailread
{
	font-weight:normal;
	color:blue;
}

a.mailunread
{
	color:blue;
	font-weight:bold;
}

/* ------------------ buttons -------------- */

.btn {
	background-color:#006699;
	color:#ffffff;
}

a.btn {
	color:#ffffff;
	text-decoration:none;
	font-size:13px;
}

a.tblheader:visited, a.tblheader:hover {
	color:#ffffff;
}

a.btn:visited {
	color:#ffffff;
	text-decoration:none;
	font-size:13px;
}

a.btn:hover {
	color:#eeeeff;
}

.message {
	color:#dd0000;
	line-height:25px;
	font-weight:bold;
	text-align:center;
	vertical-align:top;
}

/* ------------------ tabs -------------- */
.tab {
	font-size:11px;
	color:#000000;
	background-color:#000000;
}

.tabactive {
	background-color:#dddddd;
}
.tabinactive {
	background-color:#bbbbbb;
}

/* ------------------ content window body tag (not used yet) -------------- */
.content {
	margin:0px;
}

/* --- to prevent images from spacing when using DOCTYPE xhtml --- */
img {
	display:block;
}
