body {
	color: #222;
	background-color: #ddd;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 13px;
	margin: 10px;
}

td {
	font-size:13px;
}

.btnbar {
	background-color: #069;
}

input, textarea {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 13px;
}

a.menu:link, a.menu:visited {
	color: #a0c0ff;
	text-decoration: underline;
}

a.menu:hover {
	color: #f90;
}

span.il_menu {
	color: #f7f7f7;
}

/* ---------------- alternating tablerowcolors ----------------- */

.tblrow2 {
	color: #222;
	background-color: white;
	font-size: 13px;
	padding: 3px;
}

.tblrow1 {
	color: #222;
	background-color: white;
	font-size: 13px;
	padding: 3px;
}

/* -------------------- table formatting ------------------ */

table.std {
	border-spacing: 0px;
}

table.fullwidth {
	width: 100%;
	border-spacing:1px;
}

table.fullwidth_invisible {
	width: 100%;
	border-spacing: 0;
}

td.std {
	padding: 3px;
}

.tbltitle {
	font-size: 16px;
	font-weight: bold;
	color: white;
	background-color: #069;
}

.tblheader {
	font-weight: bold;
	color: white;
	background-color: #667;
}

.tblfooter {
	color: white;
	background-color: #667;
}

td.option {
	padding: 3px;
	border-bottom: 1px solid black;
}

td.option_value {
	padding: 3px;
	border-bottom: 1px solid black;
}

td.submit {
	background-color: #d0d0d0;
	color: #222;
	padding: 4px;
	font-size: 13px;
	vertical-align: top;
}

/* must reset all values of td style */
td.il_no_style {
	font-size: normal;
	font-weight: normal;
	background-image: none;
	background-color: white;
}

/* locator */

div.locator {
	padding: 2px 5px;
	font-size: 13px;
	vertical-align: top;
	text-align: left;
	background-color: #ddd;
	border: 2px solid #606060;
}


/* ---------------- headlines ------------------ */

h1 {
	font-size: 16px;
	color: #222;
	white-space: nowrap;
}

h2 {
	font-size: 16px;
	color: #222;
}

/* ----------------- invisible border ------------- */
div.top_border {
	margin: 0;
	padding: 10px 15px 5px;
	background-color: black;
}
div.invisible_border {
	margin: 12px 15px;
}

div.il_Footer {
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 10px;
	text-align: center;
}

/* ----------------- alternative text styles ------------- */
.small {
	text-decoration: none;
	font-size: 11px;
}

.smallgreen {
	text-decoration: none;
	font-size: 11px;
	color: green;
}

.smallred {
	text-decoration: none;
	font-size: 11px;
	color: red;
}

.warning {
	text-decoration: none;
	font-weight: bold;
	color: red;
}

.asterisk {
	color: red;
	font-size: 11px;
}

.default {
	text-decoration: none;
	font-weight: normal;
}

.quote {
	font-style: italic;
	font-weight: normal;
}

.subtitle {
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
}

.moderator_small {
	text-decoration: none;
	font-size: 11px;
	color: red;
}

.moderator {
	text-decoration: none;
	font-size: 13px;
	color: red;
}

.bold {
	font-weight: bold;
}

/* ----------------- normal links ------------- */
a {
	text-decoration: none;
	color: #06f;
}

a:hover {
	color: #06f;
}

a:visited {
	color:#06f;
}

/* ------------------- mail links ----------- */
a.mailread
{
	font-weight: normal;
	color: blue;
}

a.mailunread
{
	color: blue;
	font-weight: bold;
}

/* ------------------ buttons -------------- */

.btn {
	background-color: #069;
	color: white;
}

a.btn {
	color: white;
	text-decoration: none;
	font-size: 13px;
}

a.tblheader:visited, a.tblheader:hover  {
	color: white;
}

a.tblfooter:visited, a.tblfooter:hover  {
	color: white;
}

a.btn:visited {
	color: white;
	text-decoration: none;
	font-size: 13px;
}

a.btn:hover {
	color: #eef;
}

.message {
	color: #d00;
	line-height: 25px;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
}

/* ------------------ tabs -------------- */
.tab {
	font-size: 11px;
	color: black;
	background-color: white;
}

.tabactive {
	background-color: #f0f0f0;
}
.tabinactive {
	background-color: #c5c5c5;
}

/* --- to prevent tab-images from spacing when using DOCTYPE xhtml --- */
img.imgtab {
	display: block;
}

/* ------------------ content window body tag (not used yet) -------------- */
.content {
	margin: 0;
}

/* --- Editor styles ---*/
div.il_editarea {
	border-style: dotted;
	border-width: 1px;
}


/* ------------------ blind image - spacer gif --------------
   please use this style class always when using this blind image */
img.spacer {
	display: block;
}

/* ------------------ visually distinguishable numeric input fields --------------
	Styles related to https://mantis.ilias.de/view.php?id=26494
 */
.ilcqinput_NumericInput {
	background: #E0FAFA;
}

.ilcqinput_NumericInput+span:after {
	content: " (!) ";
	color: green;
}

.ilcqinput_NumericInputInvalid {
	background: red;
}