/* Error: Can't find stylesheet to import.
 *   ,
 * 5 | @use "./css-output/tools_typography"; // SHOULD be distributed to another layer
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   030-patterns/_index.scss 5:1  @use
 *   delos.scss 8:1                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 5 \2502  @use \"./css-output/tools_typography\"; // SHOULD be distributed to another layer\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   030-patterns/_index.scss 5:1  @use\a   delos.scss 8:1                root stylesheet";
}
