/* -- for link pseudo-classes, respect order: Link, Visited, Hover, Active -- */


body.il_Explorer {
	color:#222222;
	background-color:#FFFFFF;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	margin:0px;
	font-size:0.9em;
}


.btnbar {
	background-color:#ffffff;
	color:#ffffff;
}

/* BEGIN WebDAV: Enable links with AnchorClick behavior for Internet Explorer. 
 * All skins which want to support mounting of Webfolders using Internet Explorer
 * must explicitly enable AnchorClick behavior.
 */
a {
  behavior: url(#default#AnchorClick);
}
/* END WebDAV: Enable links with AnchorClick behavior for Internet Explorer. */


a.menu:link, a.menu:visited {
	color:#a0c0ff;
}

a.menu:hover {
	color:#DDDDFF;
}

a.offline, a.offline:visited
{
	font-style: italic;
}

input {
	font-family:Verdana,Arial,Helvetica,sans-serif;
}

input.marked {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	background: #FFFFCC;
}


input.fullwidth {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	width: 98%
}

input.fullwidth_marked {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	width: 98%;
	background: #FFFFCC
}

/* ---------------- alternating tablerowcolors ----------------- */


.tblrow2_mo {
	background-color: #F1F1F1;
	color:#222222;
	padding:3px;
}

.tblrow1_mo {
	background-color:#FFFFFF;
	color:#222222;
	padding:3px;
}

.tblrow1_mo:hover, .tblrow2_mo:hover {
	background-color:#D0D0FF;
}


.tblrow2light {
	background-color:#F1F1F1;
	color:#808080;
	padding:3px;
	vertical-align:top;
}

.tblrow1light {
	background-color:#FFFFFF;
	color:#808080;
	padding:3px;
	vertical-align:top;
}

.tblrowmarked {
	background-color:#FFE4E4;
	color:#222222;
	padding:3px;
}

.tblrow2top {
	background-color:#F1F1F1;
	color:#222222;
	padding:3px;
	vertical-align: top;
}

.tblrow1top {
	background-color:#FFFFFF;
	color:#222222;
	padding:3px;
	vertical-align: top;
}

.tblrowmarkedtop {
	background-color:#FFE4E4;
	color:#222222;
	padding:3px;
	vertical-align: top;
}

/* -------------------- table formatting ------------------ */

table {
	font-size: 100%;
}

table.std {
	color:#222222;
	background-color:#bbbbbb;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:#9EADBA;
}


table.halfwidth {
	color:#222222;
	background-color:#bbbbbb;
	width:50%;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:#9EADBA;
}

table.ilPDSelectedItemBlock {
	color:#222222;
	background-color:#bbbbbb;
	width:100%;
	border-spacing:1px;
	border-width:0px;
}


table.fullwidth_nowrap {
	color:#222222;
	background-color:#bbbbbb;
	width:100%;
	border-spacing:1px;
	white-space: nowrap;
}

table.fullwidth_invisible {
	color:#222222;
	background-color:#FFFFFF;
	width:100%;
	border-spacing:0px;
}

table.nobackground {
	color: #000000;
	background-color: inherit;
	border-spacing:0px;
	padding: 3px;
}

td.nobackground {
	color: #000000;
	background-color: inherit;
	border-spacing:0px;
	border: none;
	padding: 3px;
	vertical-align: top;
}

th.il_invisible, td.il_invisible {
	background-color:#FFFFFF;
	background-image: none;
}

.tbltitle {
	color:#222222;
	font-weight:bold;
	background-color: #EDEDED;
	background-image: url(images/TableHeader.gif);
	background-repeat:repeat-x;
}

tr.tbltitle {
	border-bottom-width:1px;
	border-bottom-color:#9EADBA;
	border-bottom-style:solid;
}


tr.std {
	background-color:#FFFFFF;
	color:#222222;
	padding:3px;
}

th.option, td.option {
	background-color: #F5F5F5;
	color:#222222;
	padding:3px;
	font-weight : bold;
	vertical-align:top;
	text-align:right;
	border-top-width:1px;
	border-top-color:#9EADBA;
	border-top-style:solid;
}

td.sub_option {
	background-color:#FFFFFF;
	color:#222222;
	padding:3px;
	font-weight : bold;
	vertical-align:top;
	text-align:right;
	border-top-width:1px;
	border-top-color:#9EADBA;
	border-top-style:solid;
}

td.option_subtitle {
	background-color:#FFFFFF;
	background-image: none;
	width:100%;
	color:#222222;
	padding:13px 3px 3px 3px;
	vertical-align:top;
	text-align:left;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#9EADBA;
}

td.option_value {
	background-color:#FFFFFF;
	background-image: none;
	color:#222222;
	padding:3px;
	vertical-align:top;
	text-align:left;
	border-top-width:1px;
	border-top-color:#9EADBA;
	border-top-style:solid;
}

td.option_value_center {
	background-color:#FFFFFF;
	background-image: none;
	color:#222222;
	padding:3px;
	vertical-align:top;
	text-align:center;
	border-top-width:1px;
	border-top-color:#9EADBA;
	border-top-style:solid;
}

td.option_value_details {
	background-color:#FFE4E4;
	background-image: none;
	color:#222222;
	padding:3px;
	vertical-align:top;
	text-align:left;
}
td.option_value_center_details {
	background-color:#FFE4E4;
	background-image: none;
	color:#222222;
	padding:3px;
	vertical-align:top;
	text-align:center;
}

td.option_desc, p.option_desc {
	background-color:#FFFFFF;
	background-image: none;
	color:#222222;
	padding:3px;
	font-style:italic;
	font-weight:normal;
	vertical-align:top;
	text-align:left;
}

td.option_info {
	background-color:#FFFFFF;
	background-image: none;
	color:#222222;
	padding:3px;
    font-weight:bold;
	vertical-align:top;
	text-align:center;
}

td.boxed {
	border-style: solid;
	border-width: thin;
}

/*Link, Visited, Hover, Focus, Activ*/
a.il_ContainerItemCommand:link, a.il_ContainerItemCommand:visited, a.il_ContainerItemCommand:hover
{
	padding: 1px 5px;
	margin: 1px 0px;
	border-width: 1px;
	border-style: solid;
	border-top-color: #BABABA;
	border-left-color: #BABABA;
	border-bottom-color: #808080;
	border-right-color: #808080;
	white-space: nowrap;
	text-decoration:none;
	font-weight: normal;
	background-color: #FFFFFF;
	background-image: url(images/ButtonsBack.gif);
	background-position: bottom;
	background-repeat:repeat-x;
	font-size: 70%;
}

/*Link, Visited, Hover, Focus, Activ*/
a.il_ContainerItemCommand2:link, a.il_ContainerItemCommand2:visited
{
	font-size: 80%;
	text-decoration: none;
	border-bottom: 1px dotted #2020C0;
	margin: 0px 0px 0px 3px;
	white-space: nowrap;
}
a.il_ContainerItemCommand2:hover
{
	border-bottom: 1px solid #000000;
}

div.il_ContainerItemCommands2
{
	text-align: right;
	margin: 0px 3px 3px 3px;
}


div.il_ContainerItemCommands
{
	padding-bottom: 2px;
	padding-top: 2px;
}

/*Link, Visited, Hover, Focus, Activ*/
a.il_ContainerItemTitle:link, a.il_ContainerItemTitle:visited, a.il_ContainerItemTitle:hover
{
	text-decoration: none;
}

div.il_ItemProperties
{
	margin-top: 2px;
	margin-bottom: 5px;
	text-align:left;
	font-weight: normal;
	font-size: 90%;
}

div.il_ItemNotice
{
	margin-top: 2px;
	margin-bottom: 5px;
	text-align:left;
	font-weight: normal;
	font-size: 90%;
	color: green
}

div.il_Preconditions
{
	margin-top: 3px;
	text-align:left;
	font-size: 90%;
}

a.il_ItemProperty:link, a.il_ItemProperty:visited {
	text-decoration:none;
	font-weight: normal;
}

a.il_ItemProperty:hover {
	color:#000000;
}


span.il_ItemAlertProperty
{
	color: #C04000;
}

span.il_ItemProperty
{
}


/* Top Title */
div.ilTopTitle
{
	font-size: 120%;
	color: #606060;
	letter-spacing: 0.05em;
	word-spacing: -0.1em;
	white-space: nowrap;
	padding-top: 12px
}

table.il_PDBlock
{
	color:#222222;
	background-color:#bbbbbb;
	width:100%;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:#9EADBA;
	margin-bottom:25px;
	clear:both;
}

th.il_PDBlockHeader
{
	background-image: url(images/TableHeaderBlue.gif);
	background-repeat:repeat-x;
	font-weight: bold;
	padding: 3px;
	background-color: #E2EAF4;
	text-align:left;
	border-bottom-width:1px;
	border-bottom-color:#9EADBA;
	border-bottom-style:solid;
}


/* Repository Header */
table.ilc_RepHeader {
	border-width: 0px;
	border-spacing: 0px;
	margin: 0px;
	padding: 0px;
	background-color:#EEEEEE;
	width:100%;
}

td.il_RepHeader
{
	padding:0px;
	border-style: solid;
	border-color:#9EADBA;
	border-width: 1px;
	margin-bottom: 0px;
}

div.il_RepHeader
{
	color:#222222;
	background-color: #F0F0F0;
}

/* SCORM styles */

table.il_ScormTable
{
	color:#222222;
	background-color:#bbbbbb;
	border-spacing:1px;
	border-width:0px;
}

td.il_ScormTableKey {
	background-color:#e2e2e2;
	color:#222222;
	padding-left:3px;
	padding-right:3px;
	padding-top:1px;
	padding-bottom:1px;
	vertical-align:top;
	text-align:right;
}

td.il_ScormTableValue {
	background-color:#f7f7f7;
	background-image: none;
	color:#222222;
	padding-left:3px;
	padding-right:3px;
	padding-top:1px;
	padding-bottom:1px;
	vertical-align:top;
	text-align:left;
}

/* must reset all values of td style */
td.il_no_style {
	font-weight:normal;
	background-image:none;
	background-color:white;
}

/* locator */
table.il_Locator
{
	background-color: #FFFFFF;
}

div.il_Locator {
	padding-top: 2px;
	vertical-align:top;
	font-size: 80%;
	font-weight: normal;
}

a.il_LocatorLink, a.il_LocatorLink:link, a.il_LocatorLink:visited, a.il_LocatorLink:hover
{
	color: #224499;
	font-weight: normal;
}

a.il_LocatorLink:hover
{
	color: #000000;
}

span.il_LocatorTitle
{
	display: none;
}

/* form */
form.il_Form
{
	padding: 0px;
	margin: 0px;
	border: 0px;
}


/* InfoScreen */

table.il_InfoScreen
{
	color:#222222;
	background-color:#FFFFFF;
	width:100%;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:#9EADBA;
}

th.il_InfoScreen
{
	text-align:left;
}

div.il_InfoScreenSection,th.il_InfoScreenSection
{
	margin: 10px 4px 8px 4px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#909090;
	color:#909090;
	font-weight:normal;
	font-size:130%;
}

td.il_InfoScreenProperty
{
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#909090;
	text-align: right;
	padding: 3px 10px 3px 4px;
	vertical-align: top;
	color:#909090;
}

td.il_InfoScreenPropertyValue
{
	padding: 3px 4px 3px 10px;
	vertical-align: top;
}

/* Explorer */

div.il_Explorer
{
	margin:0px;
	padding:3px;
	background-color: #FFFFFF;
}

div.il_ExplorerHeader
{
	padding: 1px 3px;
	vertical-align:top;
	text-align:left;
	font-weight: bold;
	background-color: #FFFFFF;
	font-size: 90%;
}

div.il_ExplorerTree
{
	font-size: 90%;
}

ul.il_Explorer
{
	margin: 0px 0px 0px 10px;
	padding: 0px 0px 0px 0px;
	list-style:none;
}

ul.il_ExplorerNoIndent
{
	margin: 0px;
	padding: 0px 0px;
	list-style:none;
}

li.il_Explorer
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	white-space: nowrap;
	background-color: #FFFFFF;
}

li.il_ExplorerInline
{
	margin:0;
	padding:0;
}

a.il_HighlightedNode
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFDD77;
	background-color: #FFFF99;
	padding: 0px 5px;
}

div.il_ExplorerItemDescription
{
	margin-left: 44px;
}

/* Table Links */
a.tblheader, a.tblheader:visited
{
	color:#3444aa;
}

a.tblheader:hover
{
	color:#000000;
}

/* --- description text ---*/
div.il_Description, td.il_Description
{
	margin-top:2px;
	margin-bottom:5px;
	font-size: 90%;
	font-weight:normal;
	text-align:left;
}
div.il_Description_no_margin, td.il_Description_no_margin
{
	font-size: 90%;
	font-style: italic;
	text-align:left;
}
div.il_info
{
	font-size: 90%;
	text-align:left;
}
div.il_PermDescription
{
	font-size: 60%;
	font-style: italic;
}

/* ---------------- headlines ------------------ */

div.il_HeaderOuter
{
	clear: both;
}

div.il_Header
{
}

div.il_HeaderInner
{
	float:left;
	margin: 0px;
	padding: 0px;
	color:#222222;
}

div.il_TreeIcons
{
	padding-right: 15px;
	padding-top: 15px;
	margin: 0px;
}


a.ilMainHeader, a.ilMainHeader:hover
{
	padding-top:1px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:1px;
	margin-top:2px;
	margin-bottom: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: #B0B0B0;
	background-color: #E6ECF8;
	font-size:90%;
}

div.ilLogin
{
	padding:2px 20px 3px 10px;
	margin-top:0px;
	margin-bottom:0px;
	white-space: nowrap;
	text-align:right;
	font-size:80%;
}


span.il_menu
{
	line-height: 150%;
	padding-right: 20px;
}

.ilLanguageSelection
{
	font-size:80%;
}

div.il_Footer
{
	margin-top:30px;
	margin-bottom:10px;
	font-size: 90%;
	text-align:center;
}

div.ilPermaLink
{
	margin: 15px;
}


/* ----------------- invisible border ------------- */

div.invisible_border {
	margin-top:15px;
	margin-bottom:15px;
	margin-right:15px;
	margin-left:15px;
}

td.ilInvisibleBorder
{
	padding:15px;
}

/* --- column table -- */

td.il_LeftColumn
{
	padding-left:15px;
	vertical-align:top;
	width:23%;
}

td.il_CenterColumn
{
	padding-right:15px;
	padding-left:15px;
	vertical-align:top;
	
}

td.il_RightColumn
{
	padding-right:15px;
	vertical-align:top;
	width:23%;
}

/* ------- Helptext --------- */
span.il_Helptext {
	font-size: 90%;
	font-weight: normal;
}

/* ----------------- alternative text styles ------------- */
.small {
	text-decoration:none;
	font-size: 90%;
}

.xsmall {
	text-decoration:none;
	font-size: 80%;
}

.smallgreen {
	text-decoration:none;
	font-size: 90%;
	color:green;
}

.smallred {
	text-decoration:none;
	font-size: 90%;
	color:red;
}

.obligatory {
	font-weight: normal;
	color: #800000;
	font-variant: normal;
}

.warning {
	text-decoration:none;
	font-weight:bold;
	color:red;
}

div.Warning {
	text-decoration:none;
	font-weight:bold;
	color:red;
}

div.Access {
	text-decoration:none;
	font-weight:bold;
	text-decoration:underline;
	color:red;
}

.asterisk {
	color:red;
	font-size: 90%;
}

.default {
	text-decoration:none;
	font-weight:normal;
}

.inactivepage {
	text-decoration:none;
	font-weight: bold;
	color: gray;
}

.quote {
	font-style:italic;
	font-weight:normal;
}

.subtitle {
	font-style:italic;
	font-weight:normal;
	font-size: 90%;
}

.questiontext {
	font-weight:bold;
}

.bold {
	font-weight:bold;
}

/* ----------------- alternative text styles ------------- */

.light
{
	color: #909090;
}

/* ----------------- normal links ------------- */

a:link, a:visited {
	text-decoration: none;
	color:#0033AA;
}

a:hover {
	color:#000000;
}


a.light:link, a.light:visited {
	text-decoration: none;
	color:#3355BB;
}

a.light:hover {
	color:#000000;
}

/* ------------------- mail links ----------- */
a.mailread, a.mailread:visited
{
	font-weight: normal;
}

a.mailunread, a.mailunread:visited
{
	font-weight: bold;
}

/* ------------------- forum links ----------- */
a.postread, a.postread:visited
{
	font-weight: normal;
}

a.postunread, a.postunread:visited
{
	font-weight: bold;
}

a.postnew, a.postnew:visited
{
    font-style: italic;
	font-weight: bold;
}

blockquote.ilForumQuote
{
	margin: 0px 20px;
	padding: 5px;
	border-width:1px;
	border-color:#B6B6B6;
	border-style:solid;
}

div.ilForumQuoteHead
{
	font-weight: bold;
	font-size: 90%;
	margin: 0px 0px 10px 0px;
}

/* ------------------ buttons -------------- */

/* not used anymore (no extra table for buttons)*/
td.btn {
	background-color:#E6ECF8;
	color:#BBBBBB;
	border-width:1px;
	border-color:#B6B6B6;
	border-style:solid;
	padding:2px;
}

/* not used anymore (use submit style)*/
a.btn:link, a.btn:visited {
	text-decoration:none;
	font-size: 90%;
}

/* not used anymore (use submit style)*/
a.btn:hover {
	color:#000000;
}

div.il_ButtonGroup
{
	margin: 3px 0px 3px 0px;
	line-height: 150%;
	white-space: nowrap;
	display: block;
}

input.submit, a.submit, a.submit:hover
{
	background-color: #FFFFFF;
	background-image: url(images/ButtonsBack.gif);
	background-position: bottom;
	background-repeat:repeat-x;
	color:#2255a0;
	border-width:1px;
	border-top-color: #BABABA;
	border-left-color: #BABABA;
	border-bottom-color: #808080;
	border-right-color: #808080;
	border-style:solid;
	padding: 1px 5px;
	text-decoration:none;
	font-size: 80%;
	cursor:pointer;
	font-weight:normal;
}

input.submit_disabled, a.submit_disabled, a.submit_disabled:hover {
	background-color:#E6ECF8;
	color:gray;
	border-width:1px;
	border-color:#B6B6B6;
	border-style:solid;
	padding:2px;
	text-decoration:none;
	font-size: 90%;
	cursor:pointer;
}

label, input[type=checkbox], input[type=radio], select
{
	cursor:pointer;
}

input[type=text].numeric
{
	text-align: right;
}

input[type=checkbox], input[type=radio]
{
	border-style: none;
	background-color: transparent;
}

a.ilEditSubmit {
	background-color: #FFFFFF;
	background-image: url(images/ButtonsBack.gif);
	background-position: bottom;
	background-repeat:repeat-x;
	padding: 2px;
	margin: 0px;
	border-width:1px;
	border-top-color: #BABABA;
	border-left-color: #BABABA;
	border-bottom-color: #808080;
	border-right-color: #808080;
	border-style:solid;
	text-decoration: none;
	font-size: 80%;
	line-height: 14px;
	cursor:pointer;
}

input.ilEditSubmit {
	color:#2255a0;
	padding: 1px;
	margin: 0px;
	font-size: 80%;
	line-height: 14px;
	cursor:pointer;
	
	background-color: #FFFFFF;
	background-image: url(images/ButtonsBack.gif);
	background-position: bottom;
	background-repeat:repeat-x;
	border-width:1px;
	border-top-color: #BABABA;
	border-left-color: #BABABA;
	border-bottom-color: #808080;
	border-right-color: #808080;
	border-style:solid;
}

input.ilEditHelpline {
	border-style:none;
	background-image: none;
	text-decoration:none;
	margin: 2px 0px;
	font-size: 80%;
}

input.tblrow1, input.tblrow2
{
	background-color:#ffffff;
	color:#000000;
	background-image: none;
	padding:0px;
}

textarea
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	background-color:#ffffff;
	color:#000000;
	border-width:1px;
	border-color:#9EADBA;
	border-style:inset;
	padding:3px;
	text-decoration:none;
	font-size: 100%;
}

textarea.fullwidth
{
	width: 98%;
}


input.submit:hover, input.ilEditSubmit:hover, a.submit:hover {
	color:#000000;
}


div.message {
	color: #dd0000;
	text-align:center;
	background-color:#FFFFFF;
	border-width:1px;
	border-style:solid;
	border-color:#9EADBA;
	margin: 2px 0px 5px 0px;
	clear:both;
}

.alert {
	color: #dd0000;
}

select.ilEditSelect {
	background-color:#ffffff;
	border-width:1px;
	border-color:#bbbbbb;
	padding:1px;
	background-image: none;
	text-decoration:none;
	font-size: 80%;
}

img {
	vertical-align: middle;
	border: 0px;
}

/* --- to prevent tab-images from spacing when using DOCTYPE xhtml --- */
img.imgtab {
	display:block;
}

/* ------------------ content window body tag (not used yet) -------------- */
.content {
	margin:0px;
}

/* --- Editor styles ---*/

div.il_droparea
{
	border-style: solid;
	border-width: 1px;
	border-color: #D0D0D0;
	font-size: 1px;
	background-image: url(images/drop_back.gif);
	background-repeat: repeat;
	padding: 0px 0px;
	text-align: center;
}

div.il_droparea_active
{
	padding: 0px 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	font-size: 1px;
	background-image: url(images/drop_back_active.gif);
	background-repeat: repeat;
	text-align: center;
}

div.il_droparea_valid_target
{
	padding: 0px 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	font-size: 1px;
	background-image: url(images/drop_back.gif);
	background-repeat: repeat;
	text-align: center;
}

div.il_editarea_nojs
{
	border-style: dotted;
	border-width: 1px;
	border-color: #999999;
}

div.il_editarea
{
	border-style: solid;
	border-width: 1px;
	border-color: transparent !important;
	border-color: #FFFFFF;	/* IE6 does not understand the transparent border */ 
}

div.il_editarea_disabled
{
	border: 2px dotted red;
}

div.il_editarea_active
{
	border-style: solid;
	border-width: 1px;
	border-color: #909090;
}

div.il_editarea_selected
{
	border-style: solid;
	border-width: 2px;
	border-color: #A0A0A0;
}

div.il_editarea_disabled_selected
{
	border: 2px solid red;
}

div.il_editarea_active_selected
{
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
}

div.il_edit_pc_tab_head
{
	background-color: #F0F0F0;
	border-style: solid;
	border-width: 1px;
	border-color: #909090;
	border-bottom-width: 0px;
	font-size: 90%;
	margin-top: 5px;
	padding: 2px;
}

div.il_edit_pc_tab
{
	border-style: solid;
	border-width: 1px;
	border-color: #909090;
	margin-bottom: 5px;
	padding: 5px;
}

table.il_editmenu
{
	border-style: solid;
	border-width: 1px;
	border-color: #909090;
	background-color: #FFFFFF;
	color: #000000;
	font-weight: normal;
	text-align: left;
	font-style: normal;
	font-size: 14px;
}

a.il_PageDisabled
{
	border-bottom: 2px dotted red;
}

a.il_PageDeactivatedElements
{
	border-right: 2px dotted red;
}

/* ------------------ blind image - spacer gif --------------
   please use this style class always when using this blind image */
img.spacer {
	display:block;
}

/* --- calendar styles -- */
div.dp_Menu
{
	padding-top:1px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:1px;
	margin-top:2px;
	margin-bottom:2px;
	border-width: 1px;
	border-style: solid;
	border-color: #9EADBA;
	background-color: #EBEBEB;
	width: 152px;
	font-size: 90%;
}

td.even
{
	color:#222222;
	background-color:#F7F7F7;
	padding: 3px;
}

td.uneven
{
	color:#222222;
	background-color:#EEEEEE;
	padding: 3px;
}

td.today
{
	text-align: center;
	font-size: 90%;
	background-color: #E0E0FF;
}

td.chosenDate
{
	text-align: center;
	font-size: 90%;
	background-color: #FFE4E4;
}

td.date
{
	text-align: center;
	font-size: 90%;
	background-color: #F7F7F7;
}

td.prevMonth
{
	text-align: center;
	font-size: 90%;
	background-color: #DFDFDF;
}

td.todayMO
{
	height: 40px;
	text-align: center;
	vertical-align: top;
	font-size: 90%;
	background-color: #E0E0FF;
}

td.chosenDateMO
{
	height: 40px;
	text-align: center;
	vertical-align: top;
	font-size: 90%;
	background-color:  #FFE4E4;
}

td.dateMO
{
	height: 40px;
	text-align: center;
	vertical-align: top;
	font-size: 90%;
	background-color: #F7F7F7;
}

td.prevMonthMO
{
	height: 40px;
	text-align: center;
	vertical-align: top;
	font-size: 90%;
	background-color: #DFDFDF;
}

td.evenMO
{
	color:#222222;
	background-color:#F7F7F7;
	font-size: 90%;
	padding: 3px;
}

td.unevenMO
{
	color:#222222;
	background-color:#EEEEEE;
	font-size: 90%;
	padding: 3px;
}

td.weeknumber
{
	color: #5F5F5F;
	background-color: transparent;
	font-size: 90%;
}

a.weekLink
{
	font-size: 80%;
}

td.appointmentConfTitle
{
	font-style: italic;
}

td.doubleComment
{
	font-size: 80%;
	color: #FF0000;
	font-weight: bold;
}

td.il_CalMonth
{
	font-size: 90%;
}

td.il_CalNextMonth
{
	font-size: 90%;
}

td.il_CalNextMonth
{
	font-size: 80%;
}

td.il_CalShortMonth
{
	font-size: 80%;
}

td.il_CalShortWeek
{
	font-size: 80%;
}

td.il_CalShortDayOfWeek
{
	font-size: 80%;
}

td.il_CalDay
{
	font-size: 80%;
}

/* --- content styles (will move to content.css) --- */
td.ilc_PageDisabled
{
	padding:20px;
	border-right-style: solid;
	border-color: #9EADBA;
	border-right-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	margin-bottom: 0px;
	border-left: 3px dotted red;

}

div.ilc_DefinitionHeader
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-top-style: solid;
	border-color: #000000;
}

table.ilc_Fullscreen
{
	background-color: #FFFFFF;
	position: absolute;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

html.ilc_Fullscreen, body.ilc_Fullscreen
{
	margin: 0;
	padding: 0;
	height: 100%;
}

div.ilc_LMMenu
{
	line-height: 22px;
}

a.ilc_LMMenu
{
	padding-top:1px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:1px;
	margin-top:2px;
	margin-bottom:2px;
	border-width: 1px;
	border-style: solid;
	border-color: #B0B0B0;
	background-color: #E6ECF8;
	white-space: nowrap;
}

div.ilc_TableOfContents
{
	background-color:#FFFFFF;
	padding:20px;
	border-spacing: 1px;
	border-style: solid;
	border-color: #EEEEEE;
	border-width: 1px;
	margin-bottom: 0px;
}

table.ilc_media
{
	background-color:white;
}

h1.il_LMHead
{
	margin: 6px 15px 6px 15px;
	font-size: 120%;
	font-weight: normal;
}

table.ilc_Table
{
	border-collapse: collapse;
	background-color: #FFFFFF;
	margin: 10px 0px;
	border-color: #9EADBA;
}

/* -- Members Gallery Styles -- */
div.il_MembersGallery
{
	margin: 0 auto;
	text-align:center;
	width:95%;
	padding: 8px;
	line-height: 1.33;
	display:block;
	float:left;
}

div.il_Member
{
	page-break-before: auto;
	margin: 0px 5px 20px 5px;
	background-color: #EEEEEE;
	padding: 10px 15px;
	font-size: 75%;
	height:14em;
	width:10em;
	float:left;
	text-align:center;
	overflow: hidden;
}

div.il_Tutor
{
	page-break-before: auto;
	margin: 0px 5px 20px 5px;
	padding: 10px 15px;
	background-color: #BBBBBB;
	font-size: 75%;
	height:14em;
	width:10em;
	float:left;
	text-align:center;
	overflow: hidden;
}

/* COPage Comparison */

div.ilEditModified
{
	border-left-width: 3px;
	padding-left: 5px;
	border-left-style: solid;
	border-left-color: #8080FF;
	border-bottom-width: 3px;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-color: #8080FF;
	margin-bottom: 2px;
}

div.ilEditDeleted
{
	border-left-width: 3px;
	padding-left: 5px;
	border-left-style: solid;
	border-left-color: #FF8080;
	border-bottom-width: 3px;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-color: #FF8080;
	margin-bottom: 2px;
}

div.ilEditNew
{
	border-left-width: 3px;
	padding-left: 5px;
	border-left-style: solid;
	border-left-color: #80FF80;
	border-bottom-width: 3px;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-color: #80FF80;
	margin-bottom: 2px;
}

span.ilDiffDel
{
	background-color: #FFC0C0;
}

span.ilDiffIns
{
	background-color: #C0FFC0;
}

a.ilWikiPageMissing:link, a.ilWikiPageMissing:visited
{
	color: red;
}

a.ilWikiPageMissing:hover
{
	color: black;
}

div#agreement
{
	width:100%;
	height:375px;
	overflow:auto;
	overflow-x:hidden;
}

span.ilSearchHighlight
{
	background-color: #FFFF99;
}

div.il_SearchFragment
{
	margin-top:2px;
	margin-bottom:5px;
	font-size: 90%;
	font-weight:normal;
	text-align:left;
}



/* CHANGES */


div.ilMainHeader
{
	right: 0px;
	min-height: 48px;
}

a.ilLogin, a.ilLogin:visited
{
	border-bottom: 1px dotted #2020C0;
}

/* MainMenu */
div.il_MainMenu
{
	background-image: url(images/MainMenuBack.gif);
	background-repeat: repeat-x;
	background-position: bottom;	
	margin: 0px;
	padding: 0px 0px 6px 0px;
	line-height: normal;
}

a.MMInactive:link, a.MMInactive:visited
{
	color:#FFFFFF;
    padding: 0px 0px;
	font-size: 85%;
	text-decoration:none;
	margin: 0px 0px 5px 15px;
	font-weight: normal;
	white-space: nowrap;
}

a.MMInactive:hover
{
	color: #8CC6FF;
    padding: 0px 0px;
	font-size: 85%;
	text-decoration:none;
	margin: 0px 0px 5px 15px;
	font-weight: normal;
}

a.MMActive:link, a.MMActive:visited
{
	color: #8CC6FF;
    padding: 0px 0px;
	font-size: 85%;
	text-decoration:none;
	margin: 0px 0px 5px 15px;
	font-weight: normal;
	white-space: nowrap;
}

a.MMActive:hover
{
	color: #8CC6FF;
    padding: 0px 0px;
	font-size: 85%;
	text-decoration:none;
	margin: 0px 0px 5px 15px;
	font-weight: normal;
}

div.ilMainMenuSearch {
	text-align: right;
	margin: 3px 15px 0px 15px;
}

form.ilMainMenuSearch
{
	padding: 0px;
	margin: 0px;
}

input.ilMainMenuSearch {
	cursor:pointer;
	border-style: solid;
	border-width: 1px;
	border-color: #D6D6D6;
	width:150px;
	padding: 1px;
	margin: 0px;
}

input.ilMainMenuSearchSubmit
{
	margin: 0px;
	background-color: #FFFFFF;
	background-image: url(images/ButtonsBack.gif);
	background-position: bottom;
	background-repeat:repeat-x;
	color:#2255a0;
	border-width:1px;
	border-top-color: #BABABA;
	border-left-color: #BABABA;
	border-bottom-color: #808080;
	border-right-color: #808080;
	border-style:solid;
	padding: 0px 5px;
	text-decoration:none;
	font-size: 70%;
	cursor:pointer;
	font-weight:normal;
}


table.ilTabContentOuter
{
	border-style: solid;
	border-color: #bccae5;
	background-color: #FFFFFF;
	border-width: 4px 1px;
	margin: 0px;
	clear:both;
	width:100%;
}

div.ilTabContentInner
{
	padding: 0px;
	margin: 10px 0px;
	clear:both;
	min-height: 250px;
}


div.ilBelowMainMenu
{
	background-color: #FFFFFFF;
	padding: 0px 15px;
}

body {
	color:#222222;
	background-color: #FFFFFFF;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	margin:0px;
	font-size:0.89em;
}

/* Tabs */

div.il_Tab
{
    float:left;
	padding-left:0px;
    line-height:normal;
	border-bottom-color: #bccae5;
	border-bottom-width: 4px;
	margin: 0px 15px;
}

ul.il_Tab
{
	margin: 0px;
	padding: 0px;
	list-style:none;
	position: relative;
	top: 4px;
}

li.tabinactive
{
	float:left;
	margin: 0px 2px 0px 0px;
	padding: 0px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #bccae5;
}

a.tabinactive
{
	float: left;
	display:block;
	border-width: 1px;
	border-style: solid;
	border-color: #bccae5;
	border-bottom-color: #a7b4cc;
	background-color: #e8effe;
	border-bottom-width: 0px;
    padding: 4px 7px 4px 7px;;
	font-size: 80%;
	text-decoration: none;
}

a.tabinactive:hover
{
	background-color: #FFFFFF;
}

li.tabactive
{
	float:left;
	margin: 0px 2px 0px 0px;
	padding: 2px 0px;
	border-width: 1px;
	border-style: solid;
	border-color: #bccae5;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}

a.tabactive:link, a.tabactive:visited, a.tabactive:hover
{
	float: left;
	display:block;
    padding: 2px 7px;
	font-size: 80%;
	text-decoration: none;
}

li.backtab
{
	float:left;
	margin:0;
	padding:0;
	border-bottom-width: 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B0B0B0;
}

a.backtab, a.backtab:hover
{
	float: left;
	display:block;
	background:url("images/BackTab.gif") no-repeat left top;
    padding: 3px 8px 3px 12px;
	font-size: 80%;
}

li.back2tab
{
	float:left;
	margin:0;
	padding:0;
	border-bottom-width: 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B0B0B0;
}

a.back2tab, a.back2tab:hover
{
	float: left;
	display:block;
	background:url("images/Back2Tab.gif") no-repeat left top;
    padding: 3px 8px 3px 16px;
	font-size: 80%;
}

/*  Commented Backslash Hack
	hides rule from IE5-Mac, we do not want the left float for other browsers \*/
	a.tabinactive a.tabactive a.backtab {float:none;}
/* End IE5-Mac hack */



/* Sub Tabs */

div.il_SubTab
{
    float:left;
    width:100%;
	margin: 0px;
	/* background-color: #E5F0FF; */
}

ul.il_SubTab
{
	margin: 0px;
	/* padding: 10px 15px 0px 15px; */
	padding: 5px 15px 5px 15px;
	list-style:none;
}

li.subtabinactive
{
	float:left;
	margin:0px;
	padding:0px 5px;
}

a.subtabinactive
{
	float: left;
	display:block;
    padding: 3px 5px 3px 5px;
	font-size: 80%;
}

a.subtabinactive:hover
{
	/* background-color: #FFFFFF; */
	text-decoration: underline;
}

li.subtabactive
{
	float:left;
	margin:0;
	padding:0px 5px;
}

a.subtabactive, a.subtabactive:hover
{
	float: left;
	display:block;
    padding: 3px 5px 3px 5px;
	font-size: 80%;
	color: #000000;
	/* background-color: #FFFFFF; */
	text-decoration: underline;
}


/*  Commented Backslash Hack
	hides rule from IE5-Mac, we do not want the left float for other browsers \*/
	a.subtabinactive a.subtabactive {float:none;}
/* End IE5-Mac hack */



table.il_ColumnLayout
{
	width:100%;
	border-spacing:0px;
}

/* Blocks */

table.il_Block
{
	background-color:#FFFFFF;
	width:100%;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:#D6D6D6;
	margin-bottom:25px;
	clear:both;
}

th.il_BlockHeader
{
	font-weight: bold;
	padding: 3px;
	background-color: #F3F3F3;
	text-align:left;
	font-size: 90%;
}

th.il_BlockHeaderBig
{
	font-weight: bold;
	padding: 3px;
	background-color: #F3F3F3;
	text-align:left;
}

td.il_BlockFooter {
	color:#222222;
	background-color:#D0D0FF;
	text-align:right;
	font-size: 80%;
	padding:2px;
}

.il_BlockInfo
{
	font-size: 80%;
	color: #909090;
}

th.il_ContainerBlockHeader
{
	font-weight: bold;
	font-size: 90%;
	padding: 2px;
	text-align:left;
	vertical-align: middle;
	background-color: #F8F8F8;
}

table.il_ContainerBlock
{
	border-color:#D6D6D6;
	width:100%;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	clear:both;
}

th.il_PDBlockSubHeader
{
	font-weight: normal;
	text-align:left;
	font-size: 90%;
	background-color: #F8F8F8;
	vertical-align: middle;
}

/* Tables */

.tblfooter {
	color: #000000;
	font-weight:normal;
	background-color: #F8F8F8;
	padding-bottom: 1px 0px;
}

tr.tblfooter {
	color:#000000;
	font-weight:normal;
	background-color: #F3F3F3;
}

.tblrow2 {
	padding:3px;
	background-color: #FFFFFF;
	border-top-color: #F0F0F0;
	border-top-style: solid;
	border-top-width: 1px;
}

.tblrow1 {
	padding:3px;
	background-color: #FFFFFF;
	border-top-color: #F0F0F0;
	border-top-style: solid;
	border-top-width: 1px;
}


td.submit {
	padding:3px;
	vertical-align:top;
	background-color: #F3F3F3;
}

/* List Items */
div.ilContainerListItemOuter
{
	padding: 8px;
}

div.ilContainerListItemOuterHighlight
{
	padding: 8px;
	background-color: #FFFFD9;
}

div.il_ContainerListItem
{
	margin: 2px 0px;
	padding-left: 8px;
}

table.il_adv_sel {
	color:#000000;
	background-color:#FAFAFA;
	border-spacing:0px;
	border-width:1px;
	border-style:solid;
	border-color: #A0A0A0;
	cursor: pointer;
}

tr.il_adv_sel {
	cursor: pointer;
}

tr.il_adv_sel_act {
	background-color: #FFF9BC;
	cursor: pointer;
}

td.il_adv_sel {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E0E0E0;
	padding: 3px 10px;
	text-align: left;
	white-space: nowrap;
	cursor: pointer;
}

td.il_adv_sel_ic {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E0E0E0;
	padding: 3px 0px 3px 10px;
	text-align: left;
	cursor: pointer;
}

div.il_adv_cont {
	background-image:url(images/25black.png); 
}

/* tables */

div.ilTableHeaderTitle
{
	padding-bottom: 10px;
	font-size: 120%;
}

div.ilTableOuter
{
	border-width:1px;
	border-style:solid;
	border-color:#D6D6D6;
}

table.fullwidth {
	background-color:#FFFFFF;
	width:100%;
	border-collapse:collapse;
}

.tblheader {
	font-weight: normal;
}

tr.tblheader
{
	font-weight: normal;
	background-color: #F0F0F0;
	font-size:90%;
	/* font-style: italic; */
}

th
{
	text-align: left;
	vertical-align: bottom;
	font-weight: normal;
}

td.std, th.std {
	padding: 4px 6px;
	text-align: left;
}

/* Navigation History */
form.ilNavHistoryForm
{
	padding: 0px;
	margin: 0px 5px 0px 0px;
	padding: 5px 5px 2px 5px;
	border: 0px;
	display: inline;
	background-color: #FFF9EC;
	border-width: 1px;
	border-style: solid;
	border-color: #F9E690;
	border-bottom-width: 0px;
	font-size: 80%;
}

input.ilNavHistorySubmit {
	color:#2255a0;
	padding: 0px;
	margin: 0px;
	border-width: 0px;
	/* font-size: 80%; */
	cursor:pointer;
	background-color: #FFF9EC;
}

select.ilNavHistorySelect {
	background-color: #FFF9EC;
	border-width:0px;
	border-color:#bbbbbb;
	padding:0px;
	background-image: none;
	text-decoration:none;
	/* font-size: 80%; */
}

