body {
	color:#222222;
	background-color:#edf3f9;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:13px;
	margin:10px;
}

td {
	font-size:13px;
}

.btnbar {
	background-color:#ffffff;
	color:#ffffff;
}

a.menu:link, a.menu:visited {
	color:#a0c0ff;
}

a.menu:hover {
	color:#DDDDFF;
}

input, textarea {
	font-family:Verdana,Arial,Helvetica,sans-serif;
}


/* ---------------- alternating tablerowcolors ----------------- */

.tblrow2 {
	background-color:#E7F2F9;
	color:#222222;
	font-size:13px;
	padding:0px;
}

.tblrow1 {
	background-color:#DCE8F8;
	color:#222222;
	font-size:13px;
	padding:0px;
}

.tblrowmarked {
	background-color:#ffe0e0;
	color:#222222;
	font-size:13px;
	padding:4px;
}

/* -------------------- table formatting ------------------ */

table.std {
	color:#222222;
	background-color:#5BAAFD;
	border-spacing: 1px;
	border-width: 0px;
	border-color:#5271FD
}

table.fullwidth {
	color:#222222;
	width:100%;
	border-spacing:0px;
	border-width:0px;
	background-color:#5BAAFD;
}

table.ilPDSelectedItemBlock {
	color:#222222;
	background-color:#5BAAFD;
	width:100%;
	border-spacing:1px;
	border-width:0px;
}

table.fullwidth_nowrap {
	color:#222222;
	background-color:#bbbbbb;
	width:100%;
	border-spacing:1px;
	white-space: nowrap;
}

table.fullwidth_invisible {
	color:#222222;

	width:100%;
	border-spacing:0px;
}

td.std {
	padding:3px;
}

th.il_invisible, td.il_invisible {
	background-color:#D9D9D9;
	background-image: none;
}

.tbltitle {
	color:#222222;
	font-size:16px;
	font-weight:bold;
	background-image: url(ibb/images/add/linebg3.jpg);
}

.tblheader {
	color: #000000;
	font-size:13px;
	font-weight:bold;
}

tr.tblheader {
	font-size:13px;
	font-weight:bold;
	background-image:url(ibb/images/add/linebg2.jpg);
	background-repeat:repeat-x;
}

.tblfooter {
	color: #000000;
	font-size:13px;
	font-weight:normal;
}

tr.tblfooter {
	color:#000000;
	font-size:13px;
	font-weight:normal;
	background-color:#dce8f8;
	background-image:url(ibb/images/add/linebg3.jpg);
	background-repeat:repeat-x;
}

tr.std {
	background-color:#dce8f8;
	color:#222222;
	padding:4px;
}

td.option {
	background-color:#DCE8F8 ;
	color:#222222;
	padding:4px;
	font-size:13px;
	font-weight : bold;
	vertical-align:top;
	text-align:right;
}

td.sub_option {
	background-color:#DCE8F8;
	color:#222222;
	padding:4px;
	font-size:13px;
	font-weight : bold;
	vertical-align:top;
	text-align:right;
}

td.option_value {
	background-color:#E7F2F9;
	background-image: none;
	color:#222222;
	padding:4px;
	font-size:13px;
	vertical-align:top;
	text-align:left;
}

td.option_desc, p.option_desc {
	background-color:#f7f7f7;
	background-image: none;
	color:#222222;
	padding:4px;
	font-style:italic;
	font-weight:normal;
	font-size:11px;
	vertical-align:top;
	text-align:left;
}

td.submit {
	background-color:#C0DBFD;
	color:#222222;
	padding:4px;
	font-size:13px;
	vertical-align:top;
}

/* Personal Desktop Header*/
div.il_PDTitle
{
	font-family: "Times New Roman", Times, Palatino, "Palatino Linotype", serif;
	font-size: 22px;
	line-height: 36px;
	color: #FFFFFF;
	letter-spacing: 0.1em;
	word-spacing: -0.1em;
	

}


/* Repository Header */
table.ilc_RepHeader {
	border-width: 0px;
	border-spacing: 0px;
	margin: 0px;
	padding: 0px;
	background-color:#EEEEEE;
	width:100%;
}

td.il_RepHeader
{
	padding:0px;
	border-style: solid;
	border-color:#5BAAFD;
	border-width: 1px;
	margin-bottom: 0px;
}

div.il_RepHeader
{
	color:#222222;
	background-color:#DCE8F8
	
}

/* SCORM styles */

table.il_ScormTable
{
	color:#222222;
	background-color:#bbbbbb;
	border-spacing:1px;
	border-width:0px;
}

td.il_ScormTableKey {
	background-color:#e2e2e2;
	color:#222222;
	padding-left:3px;
	padding-right:3px;
	padding-top:1px;
	padding-bottom:1px;
	font-size:13px;
	vertical-align:top;
	text-align:right;
}

td.il_ScormTableValue {
	background-color:#f7f7f7;
	background-image: none;
	color:#222222;
	padding-left:3px;
	padding-right:3px;
	padding-top:1px;
	padding-bottom:1px;
	font-size:13px;
	vertical-align:top;
	text-align:left;
}



/* must reset all values of td style */
td.il_no_style {
	font-size:normal;
	font-weight:normal;
	background-image:none;
	background-color:white;
}

/* locator */
div.il_Locator {
	padding-top:3px;
	padding-left:2px;
	padding-right:5px;
	padding-bottom:3px;
	font-size:13px;
	vertical-align:top;
	text-align:left;
	border-width:1px;
	border-style: solid;
	border-color: #5271FD;
	background-image: url(ibb/images/add/locatorbg.jpg);
	
}

span.il_LocatorTitle
{
	font-weight: bold;
}

/* form */
form.il_Form
{
	padding: 0px;
	margin: 0px;
	border: 0px;
}

/* Tabs */

div.il_Tab
{
	
	line-height: 20px;
}

a.tabactive
{
	padding-top:1px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:1px;
	margin-top:2px;
	margin-bottom:2px;
	border-width: 1px;
	border-style: solid;
	border-color: #5271FD;
	color: black;
	background-image: url(ibb/images/add/buttonbgactive.jpg);
}

a.tabinactive
{
	padding-top:1px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:1px;
	margin-top:2px;
	margin-bottom:2px;
	border-width: 1px;
	border-style: solid;
	border-color: #5271FD;
	background-image: url(ibb/images/add/buttonbginactive.jpg);
}

/* Explorer */

div.il_Explorer
{
	background-color: #FBFBFB;
	border-color: #5271fd;
	border-width: 1px;
	border-style: solid;
}

div.il_RepExplorer
{
	background-color:#EEEEEE;
	padding:20px;
	border-spacing: 1px;
	border-style: outset;
	border-color: #EEEEEE;
	border-width: 1px;
	margin-bottom: 0px;
}

div.il_ExplorerHeader
{
	padding-top:1px;
	padding-left:3px;
	padding-right:3px;
	padding-bottom:1px;
	font-size:13px;
	vertical-align:top;
	text-align:left;
    
	border-width: 1px;
	border-style: solid;
	border-color: #5271fd;
	margin:0px;
	font-weight: bold;
	border-bottom:0px;
}

/* Table Links */

a.tblheader, a.tblheader:visited
{
	color:#3444aa;
}

a.tblheader:hover
{
	color:#000000;
}

/* --- description text ---*/
div.il_Description, td.il_Description
{
	margin-top:5px;
	font-size: 13px;
	font-style: italic;
	text-align:left;
}

/* ---------------- headlines ------------------ */

div.il_Header
{
	margin-top:2px;
	margin-bottom:5px;
	color:#222222;
	border-width:0px;
	border-color:#5271FD;
	border-style:solid;
	padding:0px;
	
}

table.ilHeader
{
	margin-top:2px;
	margin-bottom:5px;
	color:#222222;
	background-color: #FFFFFF;
	border-width:0px;
	border-color:#E0E0F0;
	border-style:outset;
	padding:7px;
	background-image: url(ibb/images/cellpic5.gif);
	background-repeat:repeat-x;
}

div.ilMainHeader
{
	background-image: url(ibb/images/add/shanghaisummerbg.jpg);
	background-repeat: no-repeat;
	
}

a.ilMainHeader
{
	padding-top:1px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:1px;
	margin-top:2px;
	margin-bottom:2px;
	border-width: 1px;
	border-style: solid;
	border-color: #284EFC;
	background-image:url(ibb/images/add/buttonbg.jpg);
}

div.ilLogin
{
	padding-top:0px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:0px;
	margin-top:2px;
	margin-bottom:2px;
	border-width: 0px;
	border-style: solid;
}

div.il_Footer
{
	margin-top:30px;
	margin-bottom:10px;
	font-size: 10px;
	text-align:center;
}

h1 {
	margin-top:2px;
	margin-bottom:5px;
	font-size:16px;
}

h2 {
	font-size:16px;
	color:#222222;
	background-color: #CCCCCC;
	border-width:0px;
	border-color:#5BAAFD;
	border-style:solid;
	padding:4px;
	margin-top:25px;
	margin-bottom:0px;
	background-image: url(ibb/images/add/linebg3.jpg);
}

/* ----------------- invisible border ------------- */

div.invisible_border {
	margin-top:15px;
	margin-bottom:15px;
	margin-right:15px;
	margin-left:15px;
}

td.ilInvisibleBorder
{
	padding:2px;
	
}

/* ------- Helptext --------- */
span.il_Helptext {
	font-size:11px;
}

/* ----------------- alternative text styles ------------- */
.small {
	text-decoration:none;
	font-size:11px;
}

.smallgreen {
	text-decoration:none;
	font-size:11px;
	color:green;
}

.smallred {
	text-decoration:none;
	font-size:11px;
	color:red;
}

.warning {
	text-decoration:none;
	font-weight;bold;
	color:red;
}

.asterisk {
	color:red;
	font-size:11px;
}

.default {
	text-decoration:none;
	font-weight:normal;
}

.quote {
	font-style:italic;
	font-weight:normal;
}

.subtitle {
	font-style:italic;
	font-weight:normal;
	font-size:11px;
}


/* ----------------- normal links ------------- */

a:link, a:visited {
	text-decoration:none;
	font-weight: bold;
	color:#2255a0;
}

a:hover {
	color:#000000;
}

/* ------------------- mail links ----------- */
a.mailread
{
	font-weight: normal;
	color: #2255a0;
}

a.mailunread
{
	color: #2255a0;
	font-weight: bold;
}

/* ------------------ buttons -------------- */

td.btn {
	background-image:url(ibb/images/add/buttonbg3.jpg);
	color:#BBBBBB;
	border-width:1px;
	border-color:#5271fd;
	border-style:solid;
	padding:2px;
}

a.btn:link, a.btn:visited {
	color:#2255a0;
	text-decoration:none;
	font-size:13px;
}


a.btn:hover {
	color:#000000;
}


/*
input {
	background-color:#ffffff;
	color:#000000;
	border-width:1px;
	border-color:#bbbbbb;
	border-style:inset;
	font-size:13px;
}
*/


input.submit, a.submit {
	background-image:url(ibb/images/add/linebg2.jpg);;
	color:#2255a0;
	border-width:1px;
	border-color:#909090;
	border-style:solid;
	padding:2px;
	text-decoration:none;
	font-size:13px;
	font-weight:bold;
	cursor:pointer;
}

label, input[type=checkbox], input[type=radio], select
{
	cursor:pointer;
}

input[type=checkbox], input[type=radio]
{
	border-style:none;
	background-color:none;
}

a.ilEditSubmit, input.ilEditSubmit {
	background-color:#ffffff;
	color:#2255a0;
	border-width:1px;
	border-color:#bbbbbb;
	border-style:outset;
	padding:1px;
	background-image: none;
	text-decoration:none;
	font-size:10px;
	font-weight:bold;
	cursor:pointer;
}

input.ilEditHelpline {
	background-color:#eeeeee;
	border-style:none;
	padding:4px;
	background-image: none;
	text-decoration:none;
	font-size:10px;
}

input.tblrow1, input.tblrow2
{
	background-color:#ffffff;
	color:#000000;
	background-image: none;
	padding:0px;
}

textarea {
	background-color:#ffffff;
	color:#000000;
	border-width:1px;
	border-color:#bbbbbb;
	border-style:inset;
	padding:3px;
	text-decoration:none;
	font-size:13px;
}

input.submit:hover, input.ilEditSubmit:hover, a.submit:hover {
	color:#000000;
}


.message {
	color: #dd0000;
	font-weight:bold;
	text-align:center;
	background-color:#DCE8F8;
	margin-bottom: 2px;
}

.alert {
	color: #dd0000;
}

select.ilEditSelect {
	background-color:#ffffff;
	border-width:1px;
	border-color:#bbbbbb;
	padding:1px;
	background-image: none;
	text-decoration:none;
	font-size:10px;
}

/* --- to prevent tab-images from spacing when using DOCTYPE xhtml --- */
img.imgtab {
	display:block;
}

/* ------------------ content window body tag (not used yet) -------------- */
.content {
	margin:0px;
}

/* --- Editor styles ---*/

div.il_editarea
{
	border-style: dotted;
	border-width: 1px;
}

/* ------------------ blind image - spacer gif --------------
   please use this style class always when using this blind image */
img.spacer {
	display:block;
}

/* --- calendar styles -- */
div.dp_Menu
{
	padding-top:1px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:1px;
	margin-top:2px;
	margin-bottom:2px;
	border-width: 1px;
	border-style: solid;
	border-color: #909090;
	background-color: #EBEBEB;
	width: 152px;
}

td.even
{
	color:#222222;
	background-color:#F7F7F7;
	padding: 3px;
}

td.uneven
{
	color:#222222;
	background-color:#EEEEEE;
	padding: 3px;
}

td.today
{
	text-align: center;
	font-size: smaller;
	background-color: #E0E0FF;
}

td.chosenDate
{
	text-align: center;
	font-size: smaller;
	background-color: #FFE0E0;
}

td.date
{
	text-align: center;
	font-size: smaller;
	background-color: #F7F7F7;
}

td.prevMonth
{
	text-align: center;
	font-size: smaller;
	background-color: #DFDFDF;
}

td.todayMO
{
	height: 40px;
	text-align: center;
	vertical-align: top;
	font-size: smaller;
	background-color: #E0E0FF;
}

td.chosenDateMO
{
	height: 40px;
	text-align: center;
	vertical-align: top;
	font-size: smaller;
	background-color:  #FFE0E0;
}

td.dateMO
{
	height: 40px;
	text-align: center;
	vertical-align: top;
	font-size: smaller;
	background-color: #F7F7F7;
}

td.prevMonthMO
{
	height: 40px;
	text-align: center;
	vertical-align: top;
	font-size: smaller;
	background-color: #DFDFDF;
}

td.evenMO
{
	color:#222222;
	background-color:#F7F7F7;
	font-size: smaller;
	padding: 3px;
}

td.unevenMO
{
	color:#222222;
	background-color:#EEEEEE;
	font-size: smaller;
	padding: 3px;
}

td.weeknumber
{
	color: #5F5F5F;
	background-color: none;
	font-size: smaller;
}

a.weekLink
{
	font-size: x-small;
}

td.appointmentConfTitle
{
	font-size: 2em;
	font-style: italic;
}

td.doubleComment
{
	font-size: 1em;
	color: #FF0000;
	font-weight: bold;
}

/* --- content styles (will move to content.css) --- */
table.ilc_Page {
	border-width: 1px;
	border-color:#5271fd
	border-spacing: 0px;
	margin: 0px;
	padding: 0px;
	background-color:#dce8f8;
	width:100%;
}

td.ilc_Page
{
	padding:20px;
	background-color:#dce8f8;	
	border-width: 1px;
	border-color:#5271fd
	border-width: 1px;
	margin-bottom: 0px;
}

div.ilc_DefinitionHeader
{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size:18px;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-top-style: solid;
	border-color: #000000;
}

table.ilc_Fullscreen
{
	background-color:#EEEEEE;
	position: absolute;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

html.ilc_Fullscreen, body.ilc_Fullscreen
{
	margin: 0;
	padding: 0;
	height: 100%;
}

table.ilc_FileList
{
	color: #222222;
	background-color: #c0c0c0;
	width: 100%;
	border-spacing: 1px;
	border-style: outset;
	border-color: #bbbbbb;
	border-width: 1px;
	margin-bottom: 5px;
	margin-top: 5px;
}

th.ilc_FileList
{
	font-size: 13px;
	text-align: left;
	padding: 3px;
}

td.ilc_FileItem
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	background-color: #FFFFFF;
	padding: 3px;
}

a.ilc_LMMenu
{
	padding-top:0px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:0px;
	margin-top: 3px;
	margin-bottom: 3px;
	border-width: 1px;
	border-color:#000000;
	background-color: #f2eaf9;
	background-image:url(ibb/images/add/buttonbg.jpg);
	
	
}

div.ilc_TableOfContents
{
	background-color:#EEEEEE;
	padding:20px;
	border-spacing: 1px;
	border-style: outset;
	border-color: #EEEEEE;
	border-width: 1px;
	margin-bottom: 0px;
}

/* --- ferres add --- */
/* --------------------ferres table formatting ------------------ */

table.fstd {
	color:#222222;
	border-spacing: 0px;
	border-width: 0px;
	background-image:url(ibb/images/add/login2row.gif);
	}
	
table.ftopbg{

background-image:url(ibb/images/add/shanghaisummerbg.jpg);
}


/* --------------------ferres tr formatting ------------------ */
tr.ftblheader {
	font-size:13px;
	font-weight:bold;
	background-image:url(ibb/images/add/login1row.gif);
	background-repeat:repeat-x;
}
tr.ffooter {
	color:#000000;
	font-size:13px;
	font-weight:normal;
	background-image:url(ibb/images/add/login3row.gif);
	background-repeat:repeat-x;
}

/* --------------------ferres td formatting ------------------ */
td.fstd {
	color:#222222;
	border-spacing: 0px;
	border-width: 0px;
	}
/* --------------------ferres input formatting ------------------ */	
input.submit, a.submit {
	background-color:#F1F7FB;
	color:#2255a0;
	border-width:1px;
	border-color:#5271fd;
	border-style:solid;
	padding:1px;
	text-decoration:none;
	font-size:13px;
	font-weight:bold;
	cursor:pointer;
}
/* --------------------ferres body formatting ------------------ */
body.fbody1{
background-image:url(ibb/images/add/background1.jpg);
}	