body {
        color:#222222;
        background-color:#dddddd;
        font-family:Verdana,Arial,Helvetica,sans-serif;
        font-size:x-small;
                margin:10px;
}
td {
        font-size:x-small;
}

.btnbar {
        background-color:#006699;
}

/* ---------------- alternating tablerowcolors ----------------- */

.tblrow2 {
        color:#222222;
        background-color:#eeeeee;
}

.tblrow1 {
        color:#222222;
        background-color:#bbbbbb;
}

/* -------------------- table formatting ------------------ */

.tblheader {
     color:#ffffff;
     background-color:#666677;
}

/* ---------------- headlines ------------------ */

h1 {
   font-size:medium;
   color:#222222;
}

h2 {
   font-size:medium;
   color:#222222;
}



/* ----------------- normal links ------------- */
a {
        font-weight:bold;
        text-decoration:none;
        color:#0066ff;
}

a:hover {
        color:#0066ff;
}

a:visited {
        color:#0066ff;
}

/* ------------------- mail links ----------- */
a.mailread
{
        font-weight: normal;
        color: blue;
}

a.mailunread
{
        color: blue;
        font-weight: bold;
}

/* ------------------ buttons -------------- */

.btn {
        background-color:#006699;
        color:#ffffff;
}

a.btn {
        color:#ffffff;
        text-decoration:none;
        font-size:x-small;
}

a.tblheader:visited, a.tblheader:hover {
                color:#ffffff;
}

a.btn:visited {
        color:#ffffff;
        text-decoration:none;
        font-size:x-small;
}

a.btn:hover {
        color:#eeeeff;
}

.message {
  color: #dd0000;
  font-weight: bold;
  text-align: center;
}

/* ------------------ tabs -------------- */
.tab {
        font-size: x-small;
        color: #000000;
        font-weight: bold;
        background-color:#000000;
}

.tabactive {
        background-color:#dddddd;
}
.tabinactive {
        background-color:#bbbbbb;
}

/* ------------------ content window body tag (not used yet) -------------- */
.content {
        margin:0px;
}

/* --- to prevent images from spacing when using DOCTYPE xhtml --- */
img {
        display: block;
}

sup {
	color:ff0000;
}