<tr class="{CSS_ROW}">
<!-- BEGIN table_cell -->
  <td class="std">
<!-- BEGIN begin_link -->
    <a href="{LINK_TARGET}{NEW_TARGET}" {FRAME_TARGET}>
<!-- END begin_link -->
<!-- BEGIN text -->
	{TEXT_CONTENT}
<!-- END text -->
<!-- BEGIN checkbox -->
	<input class="{CSS_ROW}" type="checkbox" name="id[]" id="id_{CHECKBOX_ID}" value="{CHECKBOX_ID}" {CHECKED} />
<!-- END checkbox -->
<!-- BEGIN empty_cell -->
	&nbsp;
<!-- END empty_cell -->
<!-- BEGIN end_link -->
	</a>
<!-- END end_link -->
<!-- BEGIN subtitle -->
	<br/><span class="subtitle">{DESC}</span>
<!-- END subtitle -->
  </td>
<!-- END table_cell -->
</tr>
