<form action="object.php?obj_id={OBJ_ID}&parent={TPOS}" name="objectItems" method="post">
<input type="HIDDEN" name="type" value="{TYPE}">
<table width="100%" cellspacing="0" cellpadding="2" border="0">
<tr class="tblheader">
  <td width="8%" align="right" colspan="2">
    <a href="void">&nbsp;</a>
  </td>
  <td width="62%" align="left">
    <a class="tblheader" href="content.php?obj_id={OBJ_ID}&parent={TPOS}&order=title&direction={DIR}">
       <strong>Name</strong></a>
  </td>
  <td width="30%" align="right">
  <a class="tblheader" href="content.php?obj_id={OBJ_ID}&parent={TPOS}&order=last_update&direction={DIR}">Last modified</a>
  </td>
</tr>

<!-- BEGIN row -->
<tr class="{CSS_ROW}">
  <td align="left" valign="top" width="16">
    <input type="checkbox" name="id[]" value="{OBJ}"/>
  </td>
  <td align="left" valign="top" nowrap="1">
    <a href="{LINK_TARGET}">
  	<img src="{TPLPATH}/images/{IMG_TYPE}" alt="{ALT_IMG_TYPE}" title="{ALT_IMG_TYPE}" border="0" /></a>
  </td>
  <td align="left" valign="top">
    <div class="list-item">
      <a href="{LINK_TARGET}"> {OBJ_TITLE} </a>
    </div>
  </td>
  <td align="right" valign="top">
      {OBJ_LAST_UPDATE}
  </td>
</tr>
<!-- END row -->
</table>

<!-- BEGIN options -->
<table cellspacing="0" cellpadding="2" border="0">
<tr height="40">
  <td align="left" width="16"><img src="{TPLPATH}/images/arrow_downright.gif" border="0" /></td>
  <td align="left">
    <div class="form-element">
	<input class="form-element" type="submit" name="cmd"
					   value="delete" />
	<input class="form-element" type="submit" name="cmd"
					   value="create" />
	</div>
	</td>
</tr>
</table>
<!-- END options -->
</form>