<script type="text/javascript">
<!--
function setCheckboxes(a_form, a_varname, a_elements, a_check)
{
	for(i=0;i<a_elements.length;i++) {
		if (typeof(document.forms[a_form].elements[a_varname + a_elements[i]]) != 'undefined') {
    		document.forms[a_form].elements[a_varname + a_elements[i]].checked = a_check;
    	}
    }

    return true;
}
//-->
</script>
<!-- BEGIN sysrole_msg -->
<table class="fullwidth">
	<tr>
	  <td class="message">{TXT_SYSROLE_MSG}</td>
	</tr>
</table>
<!-- END sysrole_msg -->
<form action="{FORMACTION}" name="ObjectItems" method="post">
  <table class="fullwidth">
  <tr class="tbltitle">
    <td class="std" colspan="4">
	    <img src="{TBL_TITLE_IMG}" style="vertical-align:middle;" alt="{TBL_TITLE_IMG_ALT}" title="{TBL_TITLE_IMG_ALT}" border="0" />
		{TBL_TITLE}<br />
		<span class="il_Helptext">{TXT_TITLE_INFO}</span>
    </td>
  </tr>
<!-- BEGIN object_type -->
  <tr class="tblheader">
  <td class="std" colspan="4">
<!-- BEGIN obj_action_toggle_checkboxes -->
	<div class="il_ContainerItemCommands" style="float:right;">
		<a class="il_ContainerItemCommand" href="#" onclick="setCheckboxes('ObjectItems','{JS_VARNAME}_',{JS_ONCLICK},true); return false;">{TXT_CHECKALL}</a>
		<a class="il_ContainerItemCommand" href="#" onclick="setCheckboxes('ObjectItems','{JS_VARNAME}_',{JS_ONCLICK},false); return false;">{TXT_UNCHECKALL}</a>
	</div>
<!-- END obj_action_toggle_checkboxes -->
	{TXT_OBJ_TYPE} {TXT_ADMINIS}<span class="alert">{TXT_NOT_IMPL}</span>
	</td>
  </tr>
<!-- BEGIN object_operations -->
  <tr class="{CSS_ROW}">
	<td class="std" width="1%">{CHECK_PERMISSION}</td>
 	<td class="std" colspan="3" width="99%"><label for="{LABEL_ID}">{PERMISSION}</label><span class="alert">{TXT_NOT_IMPL}</span></td>
  </tr>
<!-- END object_operations -->
<!-- BEGIN obj_action_change_existing_object_type -->
  <tr class="tblfooter">
	<td class="std" align="left"><input type="checkbox" name="recursive_list[]" value="{OBJ_TYPE}" id="change_{OBJ_TYPE}" /></td>
	<td class="std" colspan="3" nowrap="nowrap"><span class="alert"><label for="change_{OBJ_TYPE}" title="{CHANGE_PERM_OBJ_TYPE_DESC}">{CHANGE_PERM_OBJ_TYPE}</label></span></td>
  </tr>
<!-- END obj_action_change_existing_object_type -->
<!-- END object_type -->
<!-- BEGIN tblfooter_sysrole -->
  <tr class="tblfooter">
    <td colspan="{COL_ANZ_SYS}">
	<table class="fullwidth_invisible">
	  <tr class="tblfooter">
	    <td>&nbsp;</td>
	  </tr>
	</table>	
	</td>
  </tr>
<!-- END tblfooter_sysrole -->
<!-- BEGIN tblfooter_special_options -->
  <tr class="tblheader">
  <td class="std" colspan="4">
	{TXT_PERM_SPECIAL_OPTIONS}
	</td>
  </tr>
<!-- END tblfooter_special_options -->
<!-- BEGIN tblfooter_recursive -->
  <tr class="tblfooter">
	<td class="std" align="left" colspan="2">{CHECK_RECURSIVE}</td>
	<td class="std" nowrap="nowrap"><span class="alert"><label for="recursive">{TXT_RECURSIVE}</label></span></td>
	<td><span class="small">{TXT_RECURSIVE_DESC}</span></td>
  </tr>
<!-- END tblfooter_recursive -->
<!-- BEGIN tblfooter_protected -->
  <tr class="tblfooter">
	<td class="std" align="left" colspan="2">{CHECK_PROTECTED}</td>
	<td class="std" nowrap="nowrap"><span class="alert"><label for="protected">{TXT_PROTECTED}</label></span></td>
	<td><span class="small">{TXT_PROTECTED_DESC}</span></td>
  </tr>
<!-- END tblfooter_protected -->
<!-- BEGIN tblfooter_standard -->
  <tr class="std">
	<td class="std" align="right" colspan="{COL_ANZ_PLUS}"><input class="submit" type="submit" name="cmd[permSave]" value="{TXT_SAVE}" /></td>
  </tr>
<!-- END tblfooter_standard -->
</table>
</form>
<!-- BEGIN ADOPT_PERM_FORM -->
<br />
<div style="color: #000000;">
  <strong>
	{MESSAGE_MIDDLE}
  </strong>
</div>
<br />
<form action="{FORMACTION_ADOPT}" name="ObjectAdopt" method="post">
  <table class="std">
  <tr class="tblheader">
	<td class="std">&nbsp;</td>
	<td class="std">Role</strong></td>
	<td class="std">Type</strong></td>
  </tr>
<!-- BEGIN ADOPT_PERM_ROW -->
  <tr class={CSS_ROW_ADOPT}>
    <td class="std">{CHECK_ADOPT}</td>
	<td class="std">
		<label for="{LABEL_ID}">
			{ROLE_NAME}
			<!-- BEGIN ADOPT_PERM_DESC -->
			<div class="il_Description">
				{ROLE_DESC}
			</div>
			<!-- END ADOPT_PERM_DESC -->
		</label>
	</td>
	<td class="std">{TYPE}</td>
  </tr>
<!-- END ADOPT_PERM_ROW -->
  <tr class="tblrow2">
	<td class="std"><img src="{TPLPATH}/images/arrow_downright.gif" /></td>
	<td class="std" colspan="3"><input class="submit" type="submit" name="cmd[adoptPermSave]" value="{ADOPT}"></td>
  </tr>
  </table>
</form>
<!-- END ADOPT_PERM_FORM -->
