<div class="ilFrame"><div class="ilFrameH"><div class="ilFrameTL"><div class="ilFrameTR">
{MAINMENU}<!-- BEGIN sr_focus -->
<script type="text/javascript">ilAddOnLoad(ilScreenReaderFocus); var il_sr_opt = true;</script>
<!-- END sr_focus --><div class="ilBelowMainMenu">
		<!-- BEGIN tree_mode -->
		<a {TREE_ACC_KEY} class="ilTreeView" href="{LINK_MODE}" target="{TARGET_TREE}" id="imgtree"><img src="{IMG_TREE}" alt="{ALT_TREE}" title="{ALT_TREE}" border="0" /></a>
		<!-- END tree_mode -->
<div style="padding-left:2px;">{STATUSLINE}</div>
<div class="il_HeaderOuter">
<div class="il_Header">
<div class="il_HeaderInner">
	<h1 class="il_Header"><!-- BEGIN header_image --><img style="vertical-align:middle" <!-- BEGIN header_image_desc -->alt="{IMAGE_DESC}" title="{IMAGE_DESC}"<!-- END header_image_desc --> border="0" src="{IMG_HEADER}" id="headerimage" />&nbsp;<!-- END header_image -->
	<a class="ilAccAnchor" id="il_mhead_t_focus" name="il_mhead_t_focus">{HEADER}</a></h1><div class="il_Description">{H_DESCRIPTION}</div></div>
	<!-- BEGIN tree_icons -->
	<div class="il_TreeIcons" style="float:right;">
		<!-- BEGIN top -->
		<a style="display:none;" class="{CLASS_TOP}" href="{LINK_TOP}" <!-- BEGIN target_top -->target="{TARGET_TOP}"<!-- END target_top -->
			id="imgtop"><img src="{IMG_TOP}" border="0" <!-- BEGIN alt_top --> alt="{ALT_TOP}" title="{ALT_TOP}" <!-- END alt_top --> /></a>
		<!-- END top -->
		<!-- BEGIN mount_webfolder -->
		<!-- always show actions on item level -->
		<!-- <a class="{CLASS_MOUNT_WEBFOLDER}" href="{LINK_MOUNT_WEBFOLDER}" folder="{FOLDER_MOUNT_WEBFOLDER}" target="{TARGET_MOUNT_WEBFOLDER}"><img src="{IMG_MOUNT_WEBFOLDER}" title="{ALT_MOUNT_WEBFOLDER}" alt="{ALT_MOUNT_WEBFOLDER}" border="0"></a> -->
		<!-- END mount_webfolder -->
	</div>
	<!-- END tree_icons -->
	<div style="clear:both;"><!-- BEGIN stop_floating -->&nbsp;<!-- END stop_floating --></div>
{TABS}
</div>
</div>
<!-- BEGIN tabs_outer_start --><table class="ilTabContentOuter"><tr><td><!-- END tabs_outer_start -->
<div style="clear:both;">{SUB_TABS}</div><span class="ilAccHidden"><a id="after_sub_tabs" name="after_sub_tabs"></a></span>
<!-- BEGIN tabs_inner_start --><div class="ilTabContentInner"><!-- END tabs_inner_start -->
<!-- BEGIN page_form_start --><form id="main_page_form" action="{PAGE_FORM_ACTION}" method="post"><!-- END page_form_start -->
<table class="il_ColumnLayout" style="clear:both;"><tr>
<!-- BEGIN left_columnt -->
<td></td>
<!-- END left_columnt -->
<td>{MESSAGE}
	<!-- BEGIN adm_panel -->
	<!-- BEGIN adm_view_components -->
	<div style="float:left; margin: 0px 10px 5px 15px;">
	<img border="0" src="{ADM_IMG_ARROW}" alt="{ADM_ALT_ARROW}" />
	<!-- BEGIN admin_panel_cmd -->
	<input class="submit" type="submit" name="cmd[{PANEL_CMD}]" value="{TXT_PANEL_CMD}" />
	<!-- END admin_panel_cmd -->
	</div>
	<!-- END adm_view_components -->

<div style="text-align: right; padding-right:19px; margin-bottom: 5px;">
	<!-- BEGIN add_commands -->
	<!-- action="{H_FORMACTION}" -->
	{SELECT_OBJTYPE_REPOS}&nbsp;&nbsp;&nbsp;
	{PAGE_ACTIONS}
	<!-- <input class="submit" type="submit" name="cmd[{BTN_NAME_REPOS}]" value="{TXT_ADD_REPOS}" /> -->
	<!-- END add_commands -->
	<!-- BEGIN admin_view -->
	<!-- BEGIN edit_cmd -->
	<a class="il_ContainerItemCommand2" target="{FRAME_EDIT_PAGE}" href="{LINK_EDIT_PAGE}">{TXT_EDIT_PAGE}</a>
	<!-- END edit_cmd -->
	<!-- BEGIN admin_button -->
	<a class="il_ContainerItemCommand2" href="{ADMIN_MODE_LINK}">{TXT_ADMIN_MODE}</a>
	<!-- END admin_button -->
	<!-- END admin_view -->
</div>
	<!-- END adm_panel -->
</td>
<!-- BEGIN right_columnt -->
<td></td>
<!-- END right_columnt -->
</tr><tr>
<!-- BEGIN left_column -->
<td class="il_LeftColumn">{LEFT_CONTENT}</td>
<!-- END left_column -->
<td class="il_CenterColumn" id="il_CenterColumn">
{BUTTONS}
{RTE_SWITCH}
{ADM_CONTENT}
{OBJECTS}
{SYSTEMSETTINGS}
	<!-- BEGIN adm_view_components2 -->
	<div style="margin-bottom:10px;">
	<img border="0" src="{ADM_IMG_ARROW2}" alt="{ADM_ALT_ARROW2}" />
	<!-- BEGIN admin_panel_cmd2 -->
	<input class="submit" type="submit" name="cmd[{PANEL_CMD2}]" value="{TXT_PANEL_CMD2}" />
	<!-- END admin_panel_cmd2 -->
	</div>
	<!-- END adm_view_components2 -->
</td>
<!-- BEGIN right_column -->
<td class="il_RightColumn">{RIGHT_CONTENT}</td>
<!-- END right_column -->
</tr></table>
<!-- BEGIN print_content --><div style="padding-left: 15px; padding-right: 15px;">{PRINT_CONTENT}</div><!-- END print_content -->
<!-- BEGIN page_form_end --></form><!-- END page_form_end -->
<!-- BEGIN tabs_inner_end --></div><!-- END tabs_inner_end -->
<!-- BEGIN tabs_outer_end --></td></tr></table><!-- END tabs_outer_end -->
<div class="ilPermaLink">{PRMLINK}</div>
</div>
{FOOTER}
</div></div></div></div>
