<form enctype="multipart/form-data" action="{FORMACTION}" {TARGET} method="post">

<table class="std" width="60%">
	<tr class="tbltitle">
		<th colspan="2" class="std">
			<img src="{TYPE_IMG}" style="vertical-align:middle;" alt="{ALT_IMG}" title="{ALT_IMG}" border="0" vspace="0" />
			{TXT_HEADER}
		</th>
	</tr>
	<tr>
		<td class="option">{TXT_TITLE}<span class="asterisk">*</span></td>
		<td class="option_value"><input name="Fobject[title]" value="{TITLE}" size="40" maxlength="128" style="width:300px;"/></td>
	</tr>
	<tr>
		<td class="option">{TXT_DESC}</td>
		<td class="option_value"><textarea name="Fobject[desc]" rows="2" cols="40" style="width:300px;">{DESC}</textarea></td>
	</tr>
	<tr>
		<td class="submit" colspan="2">
		<span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FLD}</span>
		<div align="right">
		<input class="submit" type="submit" name="cmd[{CMD_SUBMIT}]" value="{TXT_SUBMIT}" />
		<input class="submit" type="submit" name="cmd[cancel]" value="{TXT_CANCEL}" />
		</div>
		</td>
	</tr>
</table>

<br />
<table class="std" width="60%">
	<tr class="tbltitle">
		<th class="std" colspan="2">
			<img src="{TYPE_IMG2}" style="vertical-align:middle;" alt="{ALT_IMG2}" title="{ALT_IMG2}" border="0" vspace="0" />
			{TXT_IMPORT_SPL}
		</th>
	</tr>
	<tr>
		<td class="option">{TXT_SPL_FILE}</td>
		<td class="option_value">
			<input type="file" name="xmldoc" />
		</td>
	</tr>
	<tr>
		<td class="submit" align="right" colspan="2">
			<input class="submit" type="submit" name="cmd[importFile]" value="{TXT_IMPORT}" />
			<input class="submit" type="submit" name="cmd[cancel]" value="{TXT_CANCEL}" />
		</td>
	</tr>
</table>
</form>
{DUPLICATE}

