<h1>{TXT_PAGEHEADLINE}</h1>
{BUTTONS}
{MESSAGE}
 <FORM ACTION="{FORMACTION}" METHOD="POST">
    <table class="std">
    <tr class="tblrow2">
      <TD ALIGN="right">&nbsp;{TXT_GROUPNAME}&nbsp;</TD>
      <TD><INPUT TYPE=text NAME="g_name" SIZE=20></TD>
    </TR>
    <tr class="tblrow1">
      <TD ALIGN="right">&nbsp;{TXT_DESCRIPTION}&nbsp;</TD>
      <TD><INPUT TYPE=text NAME="g_desc" SIZE=20></TD>
    </TR>
    <tr class="tblrow2">
      <TD ALIGN="right">&nbsp;{TXT_ACCESS}&nbsp;</TD>
      <TD><SELECT NAME="g_open"><OPTION>{TXT_ACCESS_CLOSED}<OPTION SELECTED>{TXT_ACCESS_OPEN}</SELECT></TD>
    </TR>
    <tr class="tblrow1">
      <TD ALIGN="right">&nbsp;{TXT_GROUP_SCOPE}&nbsp;</TD>
      <TD><SELECT NAME="g_target"><OPTION SELECTED>{TXT_FORUM}<OPTION>{TXT_LO}</SELECT></TD>
    </TR>
    </table>
      <br/>
      <INPUT TYPE="submit" VALUE="{TXT_SAVE}" NAME="save"/>
    </FORM>