<form action="{FORMACTION}" {TARGET} method="post">
<table class="std">
<tr class="tblheader">
  <td class="std" colspan="3">
  <table class="invisible_border" width="100%">
    <tr>
      <td>{TXT_HEADER}</td>
    </tr>
  </table>
  </td>
</tr>
<tr colspan="2">
  <td class="option">{TXT_TITLE}<span class="asterisk">*</span></td>
  <td class="option_value"><input name="Fobject[title]" value="{TITLE}" size="40" maxlength="70" style="width:300px;"/></td>
</tr>
<tr>
  <td class="option">{TXT_DESC}</td>
  <td class="option_value"><textarea name="Fobject[desc]" rows="2" cols="40" style="width:300px;">{DESC}</textarea></td>
</tr>

<tr>
  <td class="option" rowspan="2">{TXT_REGISTRATION}</td>
</tr>


<tr>
  <td class="option_value">
  	<table border="0">
		<tr>
			<td class="option_value">{RB_NOREGISTRATION}{TXT_DISABLEREGISTRATION}
	  	</tr>
	  	<tr>
			<td class="option_value">{RB_REGISTRATION}{TXT_ENABLEREGISTRATION}
	  	</tr>
		<tr>
		  	<td class="option_value">{RB_PASSWORDREGISTRATION}{TXT_PASSWORDREGISTRATION}</td>
		  	<td class="option_value"><input name="password" value="{PASSWORD}" size="25" maxlength="40" /></td>
          	</tr>
		<tr>
			<td class="option_value">{TXT_EXPIRATIONDATE}</td>
			<td class="option_value"><input name="expirationdate" value="{EXPIRATIONDATE}" size="10" maxlength="10" /> [{TXT_DATE}]</td>
		</tr>
		<tr>
			<td class="option_value">{TXT_EXPIRATIONTIME}</td>
			<td class="option_value"><input name="expirationtime" value="{EXPIRATIONTIME}" size="5" maxlength="5"/> [{TXT_TIME}]</td>
		</tr>
	</table>
  </td>
</tr>
<!-- BEGIN grp_status -->
<tr>
  <td class="option">{TXT_GROUP_STATUS}</td>
  <td class="option_value">{SELECT_GROUPSTATUS}<br/><p class="option_desc">{TXT_GROUP_STATUS_DESC}</p></td>
</tr>
<!-- END grp_status -->
<tr>
  <td class="submit" colspan="2">
  <span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FLD}</span>
  <div align="right">
	<input class="submit" type="submit" name="cmd[{CMD_SUBMIT}]" value="{TXT_SUBMIT}" />
	<input class="submit" type="submit" name="cmd[{CMD_CANCEL}]" value="{TXT_CANCEL}" />
  </div>
  </td>
</tr>
</table>
</form>
