<!--div class="ilMainHeader">
	<div style="padding:5px 0px 5px 15px;">
		<img style="vertical-align:middle; padding:0px 15px 0px 0px;" width="36" height="36" src="{IMG_SPACE}"/>
		<span class="il_PDTitle">&nbsp;</span>
	</div>
	<div class="il_MainMenu">
	<ul class="il_MainMenu" style="visibility:hidden;">
		<li class="MMInactive" style="visibility:hidden;">
		<a class="MMInactive" style="visibility:hidden;" href="#">&nbsp;</a>
		</li>
	</ul>
	</div>
	<div style="clear:both;"></div>
</div-->
<!-- BEGIN explorer_head -->
<div class="il_ExplorerHeader">
{TXT_EXPLORER_HEADER}
</div>
<!-- END explorer_head -->
<div class="il_Explorer">
{EXPLORER}
<br/>
<div align="left">
  <form action="{ACTION}" method="post">
    <input class="submit" type="submit" name="cmd[refresh]" value="{EXP_REFRESH}" />
	<!-- BEGIN exp_button -->
	<input class="submit" type="submit" name="cmd[{CMD_EXP_BTN}]" value="{TXT_EXP_BTN}" />
	<!-- END exp_button -->
  </form>
</div>
</div>

<!-- BEGIN includejavascript -->
<script src="./content/js/wz_dragdrop.js"></script>

<script>
dragDropTree = true;	// set variable in wz_dragdrop.js to control drag and drop-function 
SET_DHTML({ICONIDS});
</script>

<script>
var sourceId = -1;
var targetId = -1;
var copymove = "move";	// move | copy
var position = "after";	// before | after
function doDragDropAction() 
{
	PARAM = "&dragdropSource="+sourceId+"&dragdropTarget="+targetId+"&dragdropCopymove="+copymove+"&dragdropPosition="+position;
	window.location = "{TESTPFAD}"+PARAM;
}

function openPopupQuestion() 
{
	w = window.open('{POPUPLINK}&sourceId='+sourceId+'&targetId='+targetId,'dragdropquestion','width=400,height=350');
	w.focus();
}
</script>

<!-- END includejavascript -->




