<div class="il_SubCategory">
<!-- BEGIN subcategories -->
{CATEGORIES}
<br />
<!-- BEGIN category -->
<h2>{CATEGORY}</h2>
{CONTENT}
<!-- END category -->
<!-- END subcategories -->
<!-- BEGIN folders -->
{FOLDERS}
<br />
<!-- END folders -->
<!-- BEGIN courses -->
{COURSES}
<br />
<!-- END courses -->
<!-- BEGIN groups -->
{GROUPS}
<br />
<!-- END groups -->
<!-- BEGIN chats -->
{CHATS}
<br />
<!-- END chats -->
<!-- BEGIN forums -->
{FORUMS}
<br />
<!-- END forums -->
<!-- BEGIN learning_resources -->
{LEARNING_RESOURCES}
<br />
<!-- END learning_resources -->
<!-- BEGIN glossaries -->
{GLOSSARIES}
<br />
<!-- END glossaries -->
<!-- BEGIN files -->
{FILES}
<br />
<!-- END files -->
<!-- BEGIN exercises -->
{EXERCISES}
<br />
<!-- END exercises -->
<!-- BEGIN tests -->
{TESTS}
<br />
<!-- END tests -->
<!-- BEGIN surveys -->
{SURVEYS}
<br />
<!-- END surveys -->
<!-- BEGIN media_pools -->
{MEDIA_POOLS}
<br />
<!-- END media_pools -->
<!-- BEGIN questionpools -->
{QUESTIONPOOLS}
<br />
<!-- END questionpools -->
<!-- BEGIN surveyquestionpools -->
{SURVEYQUESTIONPOOLS}
<br />
<!-- END surveyquestionpools -->
<!-- BEGIN ilinc_courses -->
{ILINC_COURSES}
<br />
<!-- END ilinc_courses -->
<!-- BEGIN ilinc_classrooms -->
{ILINC_CLASSROOMS}
<br />
<!-- END ilinc_classrooms -->
<!-- BEGIN visible_items_message -->
<br />
<table class="fullwidth">
<tr class="std"><td class="std">
<a name="visible_only_expl"><b>[*]</b></a> {VIS_ITEMS_MESSAGE}
</td></tr>
</table>
<!-- END visible_items_message -->
</div>
