<form action="{FORMACTION}" name="objectItems" method="post">

<table class="fullwidth">
<!-- BEGIN table_header_row -->
<tr class="tblheader">
<!-- BEGIN table_header_cell -->
  <td class="std"><a class="tblheader" href="{LINK}"><strong>{TEXT}</strong></a></td>
<!-- END table_header_cell -->
</tr>
<!-- END table_header_row -->

<!-- BEGIN table_row -->
<tr class="{CSS_ROW}">
<!-- BEGIN table_cell -->
  <td class="std" valign="top" nowrap="1">
<!-- BEGIN image -->
  	<img src="{TPLPATH}/images/{IMG}" alt="{ALT_IMG}" title="{ALT_IMG}" border="0" vspace="0" />
<!-- END image -->
<!-- BEGIN text -->
	{TEXT_CONTENT}
<!-- END text -->
<!-- BEGIN empty_cell -->
	&nbsp;
<!-- END empty_cell -->
  </td>
<!-- END table_cell -->

</tr>
<!-- END table_row -->

</table>
<br />
<input class="submit" type="submit" name="cmd" value="{BTN_VALUE}" />

</form>

<br><br>

<!-- BEGIN add_object -->

<table width="100%" cellspacing="0" cellpadding="0" border="0">

<tr>

	<td align="left" valign="top">&nbsp;</td>

	<td align="left" valign="top">

		<form action="{FORMACTION_OBJ_ADD}" method="post">

		{SELECT_OBJTYPE}

		    <input class="submit" type="submit" name="submit" value="{TXT_ADD}" />

	    </form>

	</td>

</tr>

</table>

<!-- END add_object -->
{SYSTEMSETTINGS}
