<h1>{TXT_NOTES}</h1>
{BUTTONS}
{MESSAGE}
<form name="form" action="{FORMACTION}" method="post">
<table>
<tr class="tblheader">
  <td>&nbsp;<b>delete{TXT_DELETE}</b>&nbsp;</td>
  <td>&nbsp;<b>{TXT_TITLE}</b>&nbsp;</td>
  <td>&nbsp;<b>{TXT_DESCRIPTION}</b>&nbsp;</td>
  <td colspan=2>&nbsp;</td>
</tr>
<!-- BEGIN noterow -->
<tr class="{ROWCOL}">
  <td>&nbsp;<input type="checkbox" name="id[]" value="{NOTE_ID}"></td>
  <td>&nbsp;<a href="{TITLE}" target="_blank">{TITLE}</a>&nbsp;</td>
  <td>&nbsp;{DESC}&nbsp;</td>
  <td>&nbsp;<a href="{LINK_EDIT}"><img src="./images/edit.gif" border=0 alt="{TXT_EDIT}"></a></td>
  <td>&nbsp;<a href="{LINK_VIEW}"><img src="./images/view.gif" border=0 alt="{TXT_VIEW}"></a></td>
</tr>
<!-- END noterow -->
</table>
  <br/>
  <input type=submit name="submit" value="delete"/>
</form>

