<tr>
	<td valign="top" class="{ROWCOL}">{CHECKBOX}</td>
	<td valign="top" class="{ROWCOL}" nowrap="nowrap">
	<a href="{VIEW_LINK}" target="lo_view">
	<img src="{TPLPATH}/images/{IMG}" alt="{ALT_IMG}" title="{ALT_IMG}" border="0" vspace="0" align="left" />
	</a>
	</td>
	<td valign="top" class="{ROWCOL}">
	<a href="{VIEW_LINK}" target={VIEW_TARGET}>{TITLE}</a>
	&nbsp;<a href="{EDIT_LINK}" target="{EDIT_TARGET}">{TXT_EDIT}</a>
	&nbsp;<a href="{TO_DESK_LINK}">{TXT_TO_DESK}</a>
	</td>
	<td valign="top" class="{ROWCOL}"><i>{DESCRIPTION}</i></td>
	<td valign="top" class="{ROWCOL}">{LAST_CHANGE}</td>
</tr>
