	<form action="{FORMACTION}" method="post">
	  <table class="std" border="0">
		  <tr class="tblheader">
			<td colspan="2" class="std">
			  <img src="{COLL_TITLE_IMG}" style="vertical-align:middle;" alt="{COLL_TITLE_IMG_ALT}" title="{COLL_TITLE_IMG_ALT}" border="0" />
			  {TABLE_TITLE} -> {TRIGGER_TITLE}
			</td>
		  </tr>
		  <tr>
			<td class="option" width="10%">
			  {CONDITION}
			</td>
			<td class="option_value">
			  {SEL_CONDITION}
			</td>
		  </tr>
		  <!-- BEGIN sco_info -->
		  <tr>
			<td class="{ROWCOL_INFO}" colspan="2">
			  {INFO_SCO}
			</td>
		  </tr>
		  <!-- END sco_info -->
		  <!-- BEGIN sco_row -->
		  <tr>
			<td class="{ROWCOL}" colspan="2">
			  {CHECK_SCO}&nbsp;{SCO_TITLE}
			</td>
		  </tr>
		  <!-- END sco_row -->
		  <tr class="tblfooter">
			<td class="std" valign="center" align="left" colspan="2">
			  <img src="{DOWNRIGHT}" border="0" />
			  &nbsp;<input class="submit" type="SUBMIT" name="cmd[updateCondition]" value="{BTN_SAVE}"/>
			  &nbsp;<input class="submit" type="SUBMIT" name="cmd[listConditions]" value="{BTN_CANCEL}"/>
			</td>
		  </tr>
	  </table>
	</form>