<form action="{FORMACTION}" {TARGET} method="post">
<table class="std">
<tr>
  <td class="option">{TXT_TITLE}<span class="asterisk">*</span></td>
  <td class="option_value"><input name="Fobject[title]" value="{TITLE}" size="40" maxlength="70" style="width:300px;"/></td>
</tr>
<tr>
  <td class="option">{TXT_DESC}</td>
  <td class="option_value"><textarea name="Fobject[desc]" rows="2" cols="40" style="width:300px;">{DESC}</textarea></td>
</tr>
<tr>
  <td class="option">{TXT_ALLOW_REGISTER}</td>
  <td class="option_value"><input type="checkbox" name="Fobject[allow_register]" value="1" {ALLOW_REGISTER}/></td>
</tr>
<tr>
  <td class="submit" colspan="2">
  <span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FLD}</span>
  <div align="right"><input class="submit" type="submit" value="{TXT_SAVE}"/></div></td>
</tr>
</form>