<H1>{TXT_MAILS_OF}</H1>
	  {INFOPANEL}
	  {LOCATOR}
	  {BUTTONS}
	  {MESSAGE}
	<form method="post" name="cmd" action="{ACTION}">
	  <!-- BEGIN confirm_delete -->
	  <table width="100%" cellspacing="0" cellpadding="2" border="0">
		  <tr>
			<td align="center" valign="top" height="30">
			  <input class="submit" type="submit" name="confirm" value="{BUTTON_CONFIRM}"/>
			  <input class="submit" type="submit" name="cancel" value="{BUTTON_CANCEL}"/>
			</td>
		  </tr>
	  </table>
	  <!-- END confirm_delete -->
	  <p>{MAIL_COUNT}&nbsp;{TXT_MAIL_S} ({MAIL_COUNT_UNREAD} {TXT_UNREAD})</p>
	  <!-- BEGIN linkbar -->
	  <table class="std">
		  <tr>
			<td class="std">{LINKBAR}</td>
		  </tr>
	  </table>
	  <!-- END linkbar -->
	  <table width="100%" cellpadding=3 cellspacing=1 border=0>
		  <tr class="tblheader">
			<td width="4%">&nbsp;</td>
			<td>{TXT_SENDER}</td>
			<td>{TXT_SUBJECT}</td>
			<td>{TXT_DATE}</td>
		  </tr>

		  <!-- BEGIN mails -->
		  <tr class="{ROWCOL}">
			<td>&nbsp;<input type="checkbox" name="mail_id[]" value="{MAIL_ID}" {CHECKBOX_CHECKED}></td>
			<td valign="middle">&nbsp;{MAIL_FROM}</TD>
			<td valign="middle">&nbsp;<a class="{MAILCLASS}" href="{MAIL_LINK_READ}">{MAIL_SUBJECT}</a></td>
			<td valign="middle">&nbsp;{MAIL_DATE}</td>
		  </tr>
		  <!-- END mails -->
	  </table>
	  <table width="100%" cellpadding=3 cellspacing=1 border=0>
		  <tr class="tblrow2">
			<td colspan=4>&nbsp;<input type="checkbox" name="all" value="check_all" onClick="CheckAll();">&nbsp;
			  <strong>{TXT_SELECT_ALL}</strong>
			</td>
		  </tr>
	  </table>
	  <table width="100%" cellpadding=10 cellspacing=1 border=0>
		  <tr>
			<td width="4%">
			  <img src="{IMGPATH}/images/arrow_downright.gif" />
			</td>
			<td>
			  <select name="cmd">
				<!-- BEGIN mailactions -->
				<option value="{MAILACTION_NAME}" {MAILACTION_SELECTED}>{MAILACTION_VALUE}</option>
				<!-- END mailactions -->	  
			  </select>
			  <select name="move_to">
				<!-- BEGIN mailmove -->
				<option value="{MAILMOVE_VALUE}">{MAILMOVE_NAME}</option>
				<!-- END mailmove -->	  
			  </select>
			  <input class="submit" type="submit" name="action" value="{TXT_SUBMIT}"/>
			</td>
	</form>
	<form action="{ACTION_FLAT}" method="GET">
	  <!-- BEGIN show_folder -->
	  <td align="right">{TXT_FOLDERS}
		<select name="mobj_id">
		  <!-- BEGIN flat_select -->
		  <option value="{FLAT_VALUE}" "{FLAT_SELECTED}">{FLAT_NAME}</option>
		  <!-- END flat_select -->
		</select>
		<input class="submit" type="SUBMIT" value="{FOLDER_VALUE}"/>
	  </td>
	</tr>
	  <!-- END show_folder -->	  
	</table>
	</form>