<style>
body { margin:0px; }
</style>
{LOCATOR}
<div class="invisible_border">
<div class="il_Header"><h1>{TXT_COMPOSE}</h1>
<div class="il_Tab">
{TABS}	  
</div>
</div>
{INFOPANEL}
{BUTTONS}
<br />
{MESSAGE}
	<form action="{ACTION}" method="post">
	  <table class="fullwidth">
		<!-- BEGIN search -->
		  <tr>
			<td class="std" align="right">Suche nach:
			</td>
			<td class="std">
			  <input name="search" value="" size="30" width="80%"/>
			</td>
		  </tr>
		  <tr>
			<td class="std">&nbsp;
			</td>
			<td class="std">
			  <input type="checkbox" name="type_addressbook" value="address" checked="checked"/>{TXT_SEARCH_ADDRESS}
			  </td>
		  </tr>
		  <tr>
			<td class="std">&nbsp;
			</td>
			  <td class="std">
			  <input type="checkbox" name="type_system" value="system"/>{TXT_SEARCH_SYSTEM}
			</td>
		  </tr>
		  <tr>
			<td class="std">&nbsp;</td>
			<td class="std" >
			  <input class="submit" type="submit" name="cmd[search]" value="{BUTTON_SEARCH}"/>
			  <input class="submit" type="submit" name="cmd[search_cancel]" value="{BUTTON_CANCEL}"/>
			</td>
		  </tr>
		  <!-- END search -->
		  <tr>
			<td class="std" align="right">{TXT_RECIPIENT}</a></td>
			<td class="std" >
			  <input name="rcp_to" value="{RCP_TO}" size="50" width="80%"/>
			  <input class="submit" type="submit" name="cmd[rcp_to]" value="{BUTTON_TO}"/>
			</td>
		  </tr>
		  <tr>
			<td class="std" align="right">{TXT_CC}</a></td>
			<td class="std">
			  <input name="rcp_cc" value="{RCP_CC}" size="50" width="80%"/>
			  <input class="submit" type="submit" name="cmd[rcp_cc]" value="{BUTTON_CC}"/>
			</td>
		  </tr>
		  <tr>
			<td class="std" align="right">{TXT_BC}</a></td>
			<td class="std">
			  <input name="rcp_bcc" value="{RCP_BCC}" size="50" width="80%"/>
			  <input class="submit" type="submit" name="cmd[rcp_bc]" value="{BUTTON_BC}"/>
			</td>
		  </tr>
		  <tr>
			<td class="std" align="right">{TXT_SUBJECT}</td>
			<td class="std"><input name="m_subject" value="{M_SUBJECT}" size="50" width="80%"/></td>
		  </tr>
		  <tr>
			<td class="std" align="right">{TXT_TYPE}</td>
			<td class="std">
			  <input type="checkbox" name="m_type[]" value="normal" {CHECKED_NORMAL}/>{TXT_NORMAL}
			  <!-- BEGIN system_message --> 
			  <input type="checkbox" name="m_type[]" value="system" {CHECKED_SYSTEM}/>{TXT_SYSTEM}
			  <!-- END system_message --> 
			  <!-- BEGIN also_smtp -->
			  <input type="checkbox" name="m_type[]" value="email" {CHECKED_EMAIL}/>{TXT_EMAIL}
			  <!-- END also_smtp -->
			</td>
		  </tr>
		  <tr>
			<td class="std" align="right" valign="top">{TXT_ATTACHMENT}</td>
			<td class="std">
			  <!-- BEGIN files -->
			  <textarea cols="60" rows="{ROWS}" readonly="readonly">{FILES}</textarea><br/>
			  <!-- BEGIN hidden -->
			  <input type="hidden" name="attachments[]" value="{ATTACHMENTS}"/>
			  <!-- END hidden -->
			  <!-- END files -->
			  <input class="submit" type="submit" name="cmd[edit]" value="{BUTTON_EDIT}"/>
			</td>
		  </tr>
		  <tr>
			<td class="std" align="right" valign="top">{TXT_MSG_CONTENT}</td>
			<td class="std"><textarea name="m_message" rows="10" cols="60">{M_MESSAGE}</textarea></td>
		  </tr>
		  <tr>
			<td class="std">&nbsp;</td>
			<td class="std"><input class="submit" type="submit" name="cmd[send]" value="{TXT_SEND}"/>&nbsp;
			  <input class="submit" type="submit" name="cmd[save_message]" value="{TXT_MSG_SAVE}"/></td>
		  </tr>
	  </table>
    </form>
</div>