<form action="{CHOOSE_SECTION_ACTION}" {TARGET} name="post" method="post">
<p>{TXT_CHOOSE_SECTION}:
<select name="meta_section" size=1>
	<option value="general"{META_SECTION_GENERAL}>General</option>
	<option value="lifecycle"{META_SECTION_LIFECYCLE}>Lifecycle</option>
	<option value="meta-metadata"{META_SECTION_META-METADATA}>Meta-Metadata</option>
	<option value="technical"{META_SECTION_TECHNICAL}>Technical</option>
	<option value="educational"{META_SECTION_EDUCATIONAL}>Educational</option>
	<option value="rights"{META_SECTION_RIGHTS}>Rights</option>
	<option value="relation"{META_SECTION_RELATION}>Relation</option>
	<option value="annotation"{META_SECTION_ANNOTATION}>Annotation</option>
	<option value="classification"{META_SECTION_CLASSIFICATION}>Classification</option>
</select>
<input class="submit" type="submit" value="{TXT_OK}"/></p>
</form>
<form action="{EDIT_ACTION}" {TARGET} name="post" method="post">
<input type="hidden" name="meta_section" value="{VAL_SECTION}">
<table class="std">
<!-- BEGIN general -->
<input type="hidden" name="meta_path" value="General">
<tr class="tblheader">
	<td class="std" colspan="3">{GENERAL_TXT_GENERAL} (General)</td>
</tr>
<tr>
	<td class="option" colspan=2>{GENERAL_TXT_NEW_ELEMENT}</td>
	<td class="option_value">
		<select name="meta_name" size="1">
			<option value="">{GENERAL_TXT_PLEASE_SELECT}</option>
			<option value="Identifier"{GENERAL_VAL_ELEMENT_IDENTIFIER}>{GENERAL_TXT_ELEMENT_IDENTIFIER} (Identifier)</option>
			<option value="Language"{GENERAL_VAL_ELEMENT_LANGUAGE}>{GENERAL_TXT_ELEMENT_LANGUAGE} (Language)</option>
			<option value="Keyword"{GENERAL_VAL_ELEMENT_KEYWORD}>{GENERAL_TXT_ELEMENT_KEYWORD} (Keyword)</option>
<!-- BEGIN sel_coverage -->
			<option value="Coverage"{GENERAL_VAL_ELEMENT_COVERAGE}>{GENERAL_TXT_ELEMENT_COVERAGE} (Coverage)</option>
<!-- END sel_coverage -->
		</select>
	</td>
</tr>
<tr>
	<td class="submit" colspan="2">&nbsp;</td>
	<td class="submit"><input class="submit" type="submit" name="cmd[add_meta]" value="{GENERAL_TXT_ADD}"/></td>
</tr>
<tr>
	<td class="option" colspan=2>{GENERAL_TXT_STRUCTURE} (Structure)</td>
	<td class="option_value">
		<select name="meta[structure]" size="1">
			<option value="">{GENERAL_TXT_PLEASE_SELECT}</option>
			<option value="Atomic"{GENERAL_VAL_STRUCTURE_ATOMIC}>{GENERAL_TXT_STRUCTURE_ATOMIC} (Atomic)</option>
			<option value="Collection"{GENERAL_VAL_STRUCTURE_COLLECTION}>{GENERAL_TXT_STRUCTURE_COLLECTION} (Collection)</option>
			<option value="Networked"{GENERAL_VAL_STRUCTURE_NETWORKED}>{GENERAL_TXT_STRUCTURE_NETWORKED} (Networked)</option>
			<option value="Hierarchical"{GENERAL_VAL_STRUCTURE_HIERARCHICAL}>{GENERAL_TXT_STRUCTURE_HIERARCHICAL} (Hierarchical)</option>
			<option value="Linear"{GENERAL_VAL_STRUCTURE_LINEAR}>{GENERAL_TXT_STRUCTURE_LINEAR} (Linear)</option>
		</select>
	</td>
</tr>
<!-- BEGIN identifier_loop -->
<tr>
	<td class="option" colspan=2>{IDENTIFIER_LOOP_TXT_IDENTIFIER} (Identifier)</td>
	<td class="option_value">{IDENTIFIER_LOOP_VAL_IDENTIFIER}</td>
</tr>
<tr>
	<td class="option" width=10>&nbsp;</td>
	<td class="sub_option">{IDENTIFIER_LOOP_TXT_CATALOG} (Catalog)</td>
	<td class="option_value"><input type="text" maxlength="200" name="meta[identifier_catalog]" value="{IDENTIFIER_LOOP_VAL_CATALOG}"></td>
</tr>
<tr>
	<td class="option" width=10>&nbsp;</td>
	<td class="sub_option">{IDENTIFIER_LOOP_TXT_ENTRY} (Entry)</td>
	<td class="option_value"><input type="text" maxlength="200" name="meta[identifier_entry]" value="{IDENTIFIER_LOOP_VAL_ENTRY}"></td>
</tr>
<tr>
	<td class="option" width=10>&nbsp;</td>
	<td class="sub_option">&nbsp;</td>
	<td class="option_value">[ <a href="{IDENTIFIER_LOOP_ACTION_DELETE}">{IDENTIFIER_LOOP_TXT_DELETE}</a> ]</td>
</tr>
<!-- END identifier_loop -->
<tr>
	<td class="option" colspan=2>{GENERAL_TXT_TITLE}</td>
	<td class="option_value"><input type="text" maxlength="200" name="meta[title]" value="{GENERAL_VAL_TITLE}"></td>
</tr>
<tr>
	<td class="option" colspan=2>{GENERAL_TXT_LANGUAGE}</td>
	<td class="option_value">{GENERAL_SEL_LANGUAGE}</td>
</tr>
<!-- END general -->
<tr>
	<td class="submit" colspan="2">&nbsp;</td>
	<td class="submit"><input class="submit" type="submit" name="cmd[save_meta]" value="{TXT_SAVE}"/></td>
</tr>
</table>
</form>