<h1>{TXT_PAGEHEADLINE}</h1>

{BUTTONS}

<table CELLPADDING=2 CELLSPACING=0 BORDER=0>
<tr class="tblheader">
  <td>&nbsp;<b>{TXT_URL}</b>&nbsp;</td>
  <td>&nbsp;<b>{TXT_DESCRIPTION}</b>&nbsp;</td>
  <td colspan=2>&nbsp;</td>
</tr>
<!-- BEGIN bookmarkrow -->
<tr class="{ROWCOL}">
  <td>&nbsp;<a href="{URL}" target="_blank">{URL}</a>&nbsp;</td>
  <td>&nbsp;{DESC}&nbsp;</td>
  <td>&nbsp;<a href="{LINK_EDIT}"><img src="./images/edit.gif" border=0 alt="{TXT_EDIT}"></a></td>
  <td>&nbsp;<a href="{LINK_DEL}"><img src="./images/delete.gif" border=0 alt="{TXT_DEL}"></a></td>
</tr>
<!-- END bookmarkrow -->
</table>