<!-- BEGIN warning -->
<a href="{HREF_WARNING}"><img src="{IMAGE_WARNING}" border="0" alt="{ALT_WARNING}" title="{TITLE_WARNING}" /></a>
<!-- END warning -->
<!-- BEGIN item_title -->
<b>{TXT_TITLE}</b>
<!-- END item_title -->
&nbsp;
<!-- BEGIN payment -->
<img src="{PAYMENT_TYPE_IMG}" alt="{PAYMENT_ALT_IMG}" title="{PAYMENT_ALT_IMG}" border="0" vspace="0" align="absmiddle" />
<!-- END payment -->
<!-- BEGIN item_command -->
<a href="{HREF_COMMAND}" <!-- BEGIN item_frame -->target="{TARGET_COMMAND}"<!-- END item_frame--> >{TXT_COMMAND}</a>
<!-- END item_command -->
<br />
<!-- BEGIN item_description -->
<div class="il_Description">{TXT_DESC}</div><br />
<!-- END item_description -->
<!-- BEGIN item_param_value -->
<div class="il_Description"><b>{TXT_PARAM}</b>: {TXT_VALUE}</div>
<!-- END item_param_value -->
