<style>
body { margin:0px; }
</style>
{STATUSLINE}
<table class="fullwidth_invisible"><tr><td class="ilInvisibleBorder">
<!--<div class="invisible_border">-->
<div class="il_Header">
<table border="0" cellpadding="0" cellspacing="7" width="100%">
	<tr>
	<td><h1>{TXT_PAGEHEADLINE}</h1></td>
	<td nowrap="1" align="right">
	<table align="right">
	<tr>
<form name="languageselection" method="get">
  <input type="hidden" name="cmd" value="{VAL_CMD}" />
  <select name="lang" onChange="this.form.submit()">
 
	  <option value="">{TXT_CHOOSE_LANGUAGE}</option>
<!-- BEGIN languages -->
	  <option value="{LANG_KEY}" {SELECTED_LANG}>{LANG_NAME}</option>
<!-- END languages -->
</select>
<input class="submit" type="submit" value="{TXT_OK}"/>
</form>
<!-- BEGIN lng_empty_cell -->
	<td>&nbsp;</td>
<!-- END lng_empty_cell -->
	</tr>
	</table>
	</td>
	</tr>
	</table>
</div>
{MESSAGE}

<table class="fullwidth">
<tr class="tblheader">
 <td class="std">{TXT_AGREEMENT}</td>
</tr>
<tr class="std">
 <td class="std">{TXT_USR_AGREEMENT}</td>
</tr>
<tr>
<td class="std">
 </td>
</tr>
<!-- BEGIN get_acceptance -->
<tr class="std">
    <td class="std">
	<form action="{FORM_ACTION}" method="post">
	<b><label for="status">{ACCEPT_AGREEMENT}</label></b>&nbsp;
    {ACCEPT_CHECKBOX}&nbsp;
	<input type="submit" class="submit" value="{TXT_SUBMIT}">
	</form>
    </td>
</tr>
<!-- END get_acceptance -->
</table>
</div>
<br/>
<br/>
<div style="text-align:center;">
<!-- BEGIN back -->
[<a href="login.php?lang={LANG_KEY}">{BACK}</a>]
<!-- END back -->
<!--</div>-->
</td></tr></table>
