<form name="assessment_logs" action="{FORMACTION}" method="POST">
<table class="std">
	<tr class="tblheader">
		<td class="std" colspan="2">{TXT_ASSESSMENT_LOG}</td>
	</tr>
	<tr>
		<td class="option"><label for="log_from">{TXT_LOG_FROM}</label>:</td>
		<td class="option_value">{INPUT_LOG_FROM}  <input type="image" alt="{TXT_LOG_FROM_CALENDAR}" title="{TXT_LOG_FROM_CALENDAR}" src="{IMG_CALENDAR}" id="btn_cal_log_from" /></td>
	</tr>
	<tr>
		<td class="option"><label for="log_to">{TXT_LOG_TO}</label>:</td>
		<td class="option_value">{INPUT_LOG_TO}  <input type="image" alt="{TXT_LOG_TO_CALENDAR}" title="{TXT_LOG_TO_CALENDAR}" src="{IMG_CALENDAR}" id="btn_cal_log_to" /></td>
	</tr>
	<tr>
		<td class="option"><label for="sel_test">{TXT_TEST}</label>:</td>
		<td class="option_value"><select name="sel_test" id="sel_test">
<option value="-1">{TXT_SELECT_TEST}</option>
<!-- BEGIN sel_test_row -->
<option value="{VALUE_OPTION}"{SELECTED_OPTION}>{TXT_OPTION}</option>
<!-- END sel_test_row -->
		</select></td>
	</tr>
	<tr class="tablefooter">
	<td class="submit" colspan="2">
		<div align="right">
			<input class="submit" type="submit" name="cmd[showLog]" value="{TXT_CREATE}">
			<input class="submit" type="submit" name="cmd[exportLog]" value="{TXT_EXPORT}">
		</div>
	</td>
	</tr>
</table>
</form>
<!-- BEGIN javascript_call_calendar -->
<script type="text/javascript">
	Calendar.setup( 
		{ 
			button : "btn_cal_log_from",
			inputFieldsDate : "{INPUT_FIELDS_LOG_FROM}"
		} 
	); 
	Calendar.setup( 
		{ 
			button : "btn_cal_log_to",
			inputFieldsDate : "{INPUT_FIELDS_LOG_TO}"
		} 
	);
</script> 
<!-- END javascript_call_calendar -->
<!-- BEGIN log_output -->
<br />
<table class="std">
	<tr class="tblheader">
		<td class="std">{HEADER_DATETIME}</td>
		<td class="std">{HEADER_USER}</td>
		<td class="std">{HEADER_LOGTEXT}</td>
	</tr>
<!-- BEGIN output_row -->
	<tr class="{ROW_CLASS}">
		<td class="std">{TXT_DATETIME}</td>
		<td class="std">{TXT_USER}</td>
		<td class="std">{TXT_LOGTEXT}</td>
	</tr>
<!-- END output_row -->
<!-- BEGIN empty_row -->
	<tr class="tblrow1">
		<td class="std" colspan="3">{TXT_NOLOG}</td>
	</tr>
<!-- END empty_row -->
</table>
<!-- END log_output -->
