<form action="{FORMACTION}" method="post">
<table class="std">
	<tr class="tblheader">
		<td class="std" colspan="2">{TXT_TRACKING_DATA}</td>
	</tr>
	<tr class="tblheader">
		<td class="std">
		{TXT_MONTH}
		</td>
		<td class="std">
		{TXT_NUMBER_OF_ACC}
		</td>
	</tr>
	<!-- BEGIN load_row -->
	<tr class="{ROWCOL}">
		<td class="std" nowrap="1">
		<input name="month" type="radio" value="{VAL_MONTH}" />
		{VAL_MONTH}
		</td>
		<td class="std">
		{VAL_NUMBER_OF_ACC}
		</td>
	</tr>
	<!-- END load_row -->
	<tr class="tablefooter">
	<td class="submit" colspan="3">
		<div align="right">
		<input class="submit" type="SUBMIT" name="cmd[confirmDeletionData]" value="{TXT_DELETE_OLDER}">
		</div>
	</td>
	</tr>
</table>
</form>
