<form name="form" action="{FORMACTION}" method="post">

<table class="std">
<tr class="tblheader">
	<td class="std" colspan="2">{TXT_BOOKMARK_NEW}</td>
</tr>
<tr>
	<td class="option"><b>{TXT_NAME}</b></td>
	<td class="option_value"><input type=text maxlength=255 SIZE=40 name="name" value="{NAME}"></td>
</tr>
<tr>
	<td class="option"><b>{TXT_URL}</b></td>
	<td class="option_value"><input type=text maxlength=255 SIZE=40 name="target" value="{TARGET}"></td>
</tr>
<tr>
	<td class="option">{TXT_FOLDER}</td>
	<td class="option_value"><select name="folder" size="1">
	<option value="top">{TXT_TOP}</option>
<!-- BEGIN selfolders -->
	<option value="{SEL_VALUE}" {SEL_SELECTED}>{SEL_OPTION}</option>
<!-- END selfolders -->
	</select></td>
</tr>
<tr>
	<td class="submit" colspan="2">
	<input class="submit" type="submit" name="submit" value="{TXT_SAVE}">
	</td>
</tr>
</table>

</FORM>
