<form name="form" action="{FORMACTION}" {TARGET} method="post">
<table class="std">
	<tr>
		<td class="option">{TXT_GROUP_NAME}<span class="asterisk">*</span></td>
		<td class="option_value"><input name="Fobject[title]" value="{TITLE}" size="40" maxlength="70" style="width:300px;"/></td>
	</tr>
	<tr>
		<td class="option"martin gr>{TXT_DESC}</td>
		<td class="option_value"><textarea name="Fobject[desc]" rows="2" cols="40" style="width:300px;">{DESC}</textarea></td>
	</tr>
	<tr class="tblrow2">
		<td class="option">{TXT_GROUP_STATUS}</td>
		<td class="option_value" colspan="{NUM_COLS}" align="left" valign="top">{SELECT_OBJTYPE}</td>
	</tr>
</table>
<p class="small"><span class="asterisk">*</span> {TXT_REQUIRED_FLD}</p>
<br /><input class="submit" type="submit" value="{TXT_SAVE}"/>
</form>