<div class="il_SubCategory">
<!-- BEGIN subcategories -->
{CATEGORIES}
<br />
<!-- BEGIN category -->
<h2>{CATEGORY}</h2>
{CONTENT}
<!-- END category -->
<!-- END subcategories -->
<!-- BEGIN courses -->
{COURSES}
<br />
<!-- END courses -->
<!-- BEGIN learning_resources -->
{LEARNING_RESOURCES}
<br />
<!-- END learning_resources -->
<!-- BEGIN glossaries -->
{GLOSSARIES}
<br />
<!-- END glossaries -->
<!-- BEGIN forums -->
{FORUMS}
<br />
<!-- END forums -->
<!-- BEGIN groups -->
{GROUPS}
<br />
<!-- END groups -->
<!-- BEGIN exercises -->
{EXERCISES}
<br />
<!-- END exercises -->
<!-- BEGIN questionpools -->
{QUESTIONPOOLS}
<br />
<!-- END questionpools -->
<!-- BEGIN tests -->
{TESTS}
<br />
<!-- END tests -->
</div>
