<tr>
	<td valign="top" class="{ROWCOL}" nowrap="nowrap">{CHECKBOX}</td>
	<td valign="top" class="{ROWCOL}" nowrap="nowrap">
	<!--<a href="{LO_LINK}" target="{LINK_TARGET}">-->	
	
	<img src="{TPLPATH}/images/{IMG}" alt="{ALT_IMG}" title="{ALT_IMG}" border="0" vspace="0" align="left" />
	</a>
	&nbsp;<a href="{LO_LINK}" target="{LINK_TARGET}">{TITLE}</a>
	<!--&nbsp;<a href="{LO_LINK}" >{TITLE}</a>-->
	<!--&nbsp;<a href="{EDIT_LINK}" target="bottom">{TXT_EDIT}</a>
	&nbsp;<a href="{VIEW_LINK}" target="_top">{TXT_VIEW}</a>-->
	</td>
	<td valign="top" class="{ROWCOL}"><i>{DESCRIPTION}</i></td>
	<td valign="top" class="{ROWCOL}">{OWNER}</td>
	
	<td valign="top" class="{ROWCOL}">{LAST_CHANGE}</td>
	<td valign="top" class="{ROWCOL}"><font size="1">{CONTEXTPATH}</font></td>
</tr>
