{MAINMENU}
{STATUSLINE}
<table class="fullwidth_invisible"><tr><td class="ilInvisibleBorder">
<!--<div class="invisible_border">-->
<!-- BEGIN forum -->
<div class="il_Header"><h1>{TXT_PAGEHEADLINE}</h1></div>
{BUTTONS}
{MESSAGE}
{COUNT_FORUM}
<!-- BEGIN linkbar -->
<table class="std">
<tr>
<td class="std">{LINKBAR}</td>
</tr>
</table>
<!-- END linkbar -->
<form method="post" name="cmd" action="{FORMACTION}">
<table class="fullwidth">
<tr class="tblheader">
  <td class="std" width=1%>&nbsp;</td>
  <td class="std" width=60%>{TXT_FORUM}</td>
  <td class="std" align="center">{TXT_NUM_THREADS}</td>
  <td class="std" align="center">{TXT_NUM_POSTS}</td>
  <td class="std" align="center">{TXT_NUM_VISITS}</td>
  <td class="std" width="20%" align="center" nowrap="nowrap">{TXT_LAST_POST}</td>
  <td class="std" width="20%" align="center">{TXT_MODS}</td>
</tr>
<!-- BEGIN forum_row -->
<tr>
 <td class="tblrow1" nowrap="nowrap" width="1%" valign="top"><input type="checkbox" name="forum_id[]" value="{FORUM_ID}"{CHECKBOX_CHECKED}></td>
 <td width="60%" class="tblrow2" valign="top">{TITLE}
 &nbsp;<a href="{TO_DESK_LINK}">{TXT_TO_DESK}</a>
 <br/>
 <span class="quote">{DESCRIPTION}</span><br/>
 <span class="small">{TXT_FORUMPATH}: {FORUMPATH}</span><br/>
 <!-- BEGIN start_data -->
 <span class="small">{START_DATE_TXT1}: {START_DATE} {START_DATE_TXT2} {START_DATE_USER}</span>
 <!-- END start_data -->
 <!-- BEGIN update_data -->
 <br/><span class="small">{LAST_UPDATE_TXT1}: {LAST_UPDATE} {LAST_UPDATE_TXT2} {LAST_UPDATE_USER}</span>
 <!-- END update_data -->
 </td>
 <td align="center" nowrap="nowrap" class="tblrow1" valign="top">{NUM_THREADS}</td>
 <td align="center" nowrap="nowrap" class="tblrow2" valign="top">{NUM_POSTS}</td>
 <td align="center" nowrap="nowrap" class="tblrow1" valign="top">{NUM_VISITS}</td>
 <td width="20%" nowrap="nowrap" class="tblrow2" valign="top">{LAST_POST}</td>
 <td align="center" width="20%" class="tblrow1" valign="top">{MODS}</td>
</tr>
<!-- END forum_row -->
<!-- BEGIN forum_no -->
<tr class="std">
 <td class="std" colspan="7">{TXT_MSG_NO_FORUMS_AVAILABLE}</td>
</tr>
<!-- END forum_no -->
</table>
<!-- BEGIN forum_options -->
<table class="fullwidth">
  <tr class="tblrow1">
	<td class="std" nowrap="nowrap"><input type="checkbox" name="all" value="check_all" onClick="CheckAllBoxes(document.cmd);">&nbsp;
	  <strong>{TXT_SELECT_ALL}</strong>
	</td>
  </tr>
 </table>
<table class="fullwidth">
  <tr>
	<td class="std" width="1%" align="center" nowrap="nowrap"><img src="{IMGPATH}/images/arrow_downright.gif" /></td>
	<td class="std" nowrap="nowrap">
	  <select name="action">			
		<option value="html">{TXT_EXPORT_HTML}</option>
		<!-- <option value="xml">{TXT_EXPORT_XML}</option> -->
	  </select>
	  <input class="submit" type="submit" name="cmd[submit]" value="{TXT_OK}"/>
	</td>
  </tr>
 </table>
<!-- END forum_options -->
</form>
<!-- END forum -->
<!--</div>-->
</td></tr></table>
