<table class="il_PDBlock">
<!-- BEGIN pd_header_row -->
<tr>
<td class="il_PDBlockHeader" colspan="2"><div style="float:left;">{PD_BLOCK_HEADER_CONTENT}</div>
<div class="il_ContainerItemCommands" style="float:right;"><a class="il_ContainerItemCommand" href="{LINK_SEL_ITEMS_MODE}">{TXT_SEL_ITEMS_MODE}</a></div>
</td>
</tr>
<!-- END pd_header_row -->
<!-- BEGIN container_row -->
<!-- BEGIN container_header_row_image -->
<tr>
<td class="il_PDBlockSubHeader" width="1">
<img border="0" src="{HEADER_IMG}" alt="{HEADER_ALT}" title="{HEADER_ALT}" />
</td>
<td class="il_PDBlockSubHeader">{BLOCK_HEADER_CONTENT}</td>
</tr>
<!-- END container_header_row_image -->
<!-- BEGIN container_header_row -->
<tr>
<td class="il_PDBlockSubHeader" style="padding:3px;" colspan="2">{BLOCK_HEADER_CONTENT}</td>
</tr>
<!-- END container_header_row -->
<!-- BEGIN container_standard_row -->
<!-- BEGIN row_type_1 -->
<tr class="tblrow1">
<!-- END row_type_1 -->
<!-- BEGIN row_type_2 -->
<tr class="tblrow2">
<!-- END row_type_2 -->
<td class="std" valign="top" width="1"><!-- BEGIN block_row_image --><img border="0" src="{ROW_IMG}" alt="{ROW_ALT}" title="{ROW_ALT}" /><!-- END block_row_image -->{ROW_NBSP}</td>
<td class="std">{BLOCK_ROW_CONTENT}</td>
</tr>
<!-- END container_standard_row -->
<!-- BEGIN separator_row -->
<tr></table>
<br />
<table class="il_ContainerBlock">
</tr>
<!-- END separator_row -->
<!-- END container_row -->
</table>