<form action="{FORMACTION}" method="post">
<table class="std">
	<tr class="tblheader">
		<td class="std" colspan="1">{TXT_DELETE_DATA}</td>
	</tr>
	<tr class="std">
		<td class="std">
		{TXT_CONFIRMATION}<br />
		{TXT_MONTH}: {VAL_MONTH}<br />
		{TXT_NUMBER_OF_RECORDS}: {VAL_NUMBER_OF_RECORDS}
		</td>
	</tr>
	<tr class="tablefooter">
	<td class="submit" colspan="1">
		<div align="right">
		<input class="submit" type="SUBMIT" name="cmd[deleteData]" value="{TXT_DELETE_DATA}">
		<input class="submit" type="SUBMIT" name="cmd[cancelDeleteData]" value="{TXT_CANCEL}">
		</div>
	</td>
	</tr>
</table>
</form>
