<h1>{TXT_PAGEHEADLINE}</h1>
{INFOPANEL}
{BUTTONS}
{MESSAGE}
<form action="{ACTION}" method="post" name="form">
<table class="std">
<tr class="tblheader">
 <td><b>{TXT_AGREEMENT}</b></td>
</tr>
<tr class="tblrow2">
 <td>{TXT_USR_AGREEMENT}</td>
</tr>
<tr class="tblrow1">
 <td align=center><b>{TXT_ACCEPT}</b></td>
</tr>
<tr class="tblrow2">
 <td align="center"><input type="radio" name="agreement" checked="checked" value="y" /><b>{TXT_YES}</b><input type="radio" name="agreement" value="n" /><b>{TXT_NO}</b></td>
</tr>
</table>
  <br />
  <input type="submit" name="butSubmit" value="{TXT_SUBMIT}" />
</form>