<tr>
	<td valign="top" class="{ROWCOL}">
	<!-- BEGIN svy_warning -->	
	<a href="{HREF_WARNING}"><img src="{IMAGE_WARNING}" border="0" alt="{ALT_WARNING}" title="{TITLE_WARNING}" /></a>
	<!-- END svy_warning -->
	<!-- BEGIN svy_read -->
	<a href="{VIEW_LINK}" target="{VIEW_TARGET}">{R_TITLE}</a>
	<!-- END svy_read -->
	<!-- BEGIN svy_visible -->
	<b>{V_TITLE}</b>
	<!-- END svy_visible -->
	<!-- BEGIN svy_finished -->	
	[{TXT_FINISHED}]
	<!-- END svy_finished -->
	&nbsp;
	<!-- BEGIN svy_edit -->	
	[<a href="{EDIT_LINK}" target="{EDIT_TARGET}">{TXT_EDIT}</a>]
	<!-- END svy_edit -->
	<!-- BEGIN svy_delete -->	
	[<a href="{DELETE_LINK}">{TXT_DELETE}</a>]
	<!-- END svy_delete -->
	<!-- BEGIN svy_link -->	
	[<a href="{LINK_LINK}">{TXT_LINK}</a>]
	<!-- END svy_link -->
	<!-- BEGIN svy_cut -->	
	[<a href="{CUT_LINK}">{TXT_CUT}</a>]
	<!-- END svy_cut -->
	<!-- BEGIN svy_subscribe -->	
	[<a href="{SUBSCRIBE_LINK}">{TXT_SUBSCRIBE}</a>]
	<!-- END svy_subscribe -->
	<!-- BEGIN svy_evaluation -->	
	[<a href="{EVALUATION_LINK}" target="{VIEW_TARGET}">{TXT_EVALUATION}</a>]
	<!-- END svy_evaluation -->
	<br />
	<div class="il_Description">{DESCRIPTION}</div>
	</td>
</tr>
