<form action="{FORMACTION}" method="post">
<table class="std">
  <tr>
    <td class="option">{TXT_LOGIN} *</td>
    <td class="option_value"><input type="text" name="Fobject[login]"  value="{LOGIN}" size="40" maxlength="32" /></td>
  </tr>
  <tr>
    <td class="option">{TXT_PASSWD} *</td>
    <td class="option_value"><input type="password" name="Fobject[passwd]"  value="{PASSWD}" size="40" maxlength="32" /></td>
  </tr>
  <tr>
    <td class="option">{TXT_GENDER} *</td>
    <td class="option_value">
<!-- BEGIN gender -->
        {GENDER}
<!-- END gender -->
    </td>
  </tr>
  <tr>
    <td class="option">{TXT_FIRSTNAME} *</td>
    <td class="option_value"><input type="text" name="Fobject[firstname]" value="{FIRSTNAME}" size="40" maxlength="32" /></td>
  </tr>
  <tr>
    <td class="option">{TXT_LASTNAME} *</td>
    <td class="option_value"><input type="text" name="Fobject[lastname]" value="{LASTNAME}" size="40" maxlength="32" /></td>
  </tr>
  <tr>
    <td class="option">{TXT_TITLE}&nbsp;</td>
    <td class="option_value"><input type="text" name="Fobject[title]" value="{TITLE}" size="40" maxlength="32" /></td>
  </tr>
  <tr>
    <td class="option">{TXT_INSTITUTION}&nbsp;</td>
    <td class="option_value"><input type="text" name="Fobject[institution]" value="{INSTITUTION}" size="40" maxlength="80" /></td>
  </tr>
  <tr>
    <td class="option">{TXT_STREET}&nbsp;</td>
    <td class="option_value"><input type="text" name="Fobject[street]" value="{STREET}" size="40" maxlength="40" /></td>
  </tr>
  <tr>
    <td class="option">{TXT_CITY}&nbsp;</td>
    <td class="option_value"><input type="text" name="Fobject[city]" value="{CITY}" size="40" maxlength="40" /></td>
  </tr>
  <tr>
    <td class="option">{TXT_ZIPCODE}&nbsp;</td>
    <td class="option_value"><input type="text" name="Fobject[zipcode]" value="{ZIPCODE}" size="5" maxlength="10" /></td>
  </tr>
  <tr>
    <td class="option">{TXT_COUNTRY}&nbsp;</td>
    <td class="option_value"><input type="text" name="Fobject[country]" value="{COUNTRY}" size="40" maxlength="40" /></td>
  </tr>
  <tr>
    <td class="option">{TXT_PHONE}&nbsp;</td>
    <td class="option_value"><input type="text" name="Fobject[phone]" value="{PHONE}" size="40" maxlength="30" /></td>
  </tr>
  <tr>
    <td class="option">{TXT_EMAIL} *</td>
    <td class="option_value"><input type="text" name="Fobject[email]" value="{EMAIL}" size="40" maxlength="40" /></td>
  </tr>
  <tr>
    <td class="option">{TXT_DEFAULT_ROLE} *</td>
    <td class="option_value">
<!-- BEGIN role -->
        {DEFAULT_ROLE}
<!-- END role -->
    </td>
  </tr>
</table>
<p class="infotext">* Required</p>
<input class="submit" type="submit" value="{TXT_SAVE}" />
</form>
<!-- BEGIN ACTIVE_ROLE -->
	<form action="{ACTIVE_ROLE_FORMACTION}" name="objectItems" method="post">
	  <table class="std">
		  <tr class="tblheader">
			<td class="std" colspan="2">
				Active Roles
			</td>
		  </tr>
			<!-- BEGIN TABLE_ROLES -->
			<tr class="{ACTIVE_ROLE_CSS_ROW}">
			  <td class="std">
				{CHECK_ROLE}
			  </td>
			  <td class="std">
				{ROLENAME}
			  </td>
			</tr>
			<!-- END TABLE_ROLES -->
		  <!-- BEGIN TABLE_SUBMIT -->
			<tr class="tblheader">
			  <td class="std">
				<img src="images/pfeil_rechts.gif" />
			  </td>
			  <td class="std">
				<input class="submit" type="submit" value="assign" />
			  </td>
			</tr>
		  <!-- END TABLE_SUBMIT -->
	  </table>
	  </form>
<!-- END ACTIVE_ROLE -->
