<script type="text/javascript">
<!--
function setCheckboxes(a_form, a_varname, a_elements)
{
	if (document.forms[a_form].elements[a_varname].checked == false)
		check = false;
	else
		check = true;

	for(i=0;i<a_elements.length;i++) {
		if (typeof(document.forms[a_form].elements[a_varname + a_elements[i]]) != 'undefined') {
    		document.forms[a_form].elements[a_varname + a_elements[i]].checked = check;
    	}
    }

    return true;
}
//-->
</script>
<form action="{FORMACTION}" name="ObjectItems" method="post">
<table class="il_InfoScreen">
<tr class="tbltitle">
	<th class="std" colspan="{COLSPAN}">
	<img src="{IMG_PERM}" style="vertical-align:middle;" border="0" alt="{TXT_TITLE}"/>
	{TXT_TITLE}<br />
	<span class="il_Helptext">{TXT_TITLE_INFO}</span>
	</th>
</tr>

<tr class="tblheader">
<!-- BEGIN role_infos -->
  <th class="std">
<!-- BEGIN rolelink_open -->
<a href="{LINK_ROLE_RULESET}" alt="{TXT_ROLE_RULESET}" title="{TXT_ROLE_RULESET}">
<!-- END rolelink_open -->
{ROLE_NAME}
<!-- BEGIN rolelink_close -->
</a>
<!-- END rolelink_close -->
<br/><span class="small">{ROLE_CONTEXT_TYPE}<br/>{ROLE_CONTEXT}</span>
  </th>
<!-- END role_infos -->
</tr>

<!-- BEGIN perm_settings -->

<!-- BEGIN perm_subtitle -->
<tr>
  <th class="il_InfoScreen" colspan="{COLSPAN}">
    <div class="il_InfoScreenSection">{TXT_PERM_CLASS} <div class="il_PermDescription">{TXT_PERM_CLASS_DESC}</div></div>
  </th>
</tr>
<!-- END perm_subtitle -->

<tr class="std">
<!-- BEGIN perm_table -->
  <td>
    <table>
<!-- BEGIN chk_toggle_create -->
      <tr>
        <td style="padding-bottom:10px"><input type="checkbox" name="perm_{ROLE_ID}_" value="{ROLE_ID}" id="perm_{ROLE_ID}_" onclick="setCheckboxes('ObjectItems','{JS_VARNAME}_',{JS_ONCLICK}); return true;" /></td>
        <td style="font-size:80%;font-style:italic;padding-bottom:10px"><label for="perm_{ROLE_ID}_" title="{PERM_TOOLTIP}">{PERM_NAME}</label></td>
<!-- END chk_toggle_create -->
<!-- BEGIN perm_item -->
      <tr>
        <td>{PERM_CHECKBOX}</td>
        <td style="font-size:80%"><label for="{PERM_LABEL}" title="{PERM_TOOLTIP}">{PERM_NAME}</label></td>
      </tr>
<!-- END perm_item -->
    </table>
  </td>
<!-- END perm_table -->
</tr>
<!-- END perm_settings -->

<tr class="tblfooter">
  <td class="std" align="right" colspan="{COLSPAN}">
    <input class="submit" type="submit" name="cmd[permSave]" value="{TXT_SAVE}" />
  </td>
</tr>

</table>
</form>
