<form action="{FORMACTION}" {TARGET} method="post" enctype="multipart/form-data">
<table class="std" width="60%">
<tr class="tblheader">
  <td class="std" colspan="2">
  	<img src="{TYPE_IMG}" style="vertical-align:middle;" alt="{ALT_IMG}" title="{ALT_IMG}" border="0" vspace="0" />
    {TXT_HEADER}
  </td>
</tr>
<tr>
  <td class="option">{TXT_TITLE}</td>
  <td class="option_value">
  	<input name="Fobject[title]" value="{TITLE}" size="40" maxlength="128" style="width:300px;"/>
	<br/>{TXT_TITLE_NOTE}
  </td>
</tr>
<tr>
  <td class="option">{TXT_DESC}</td>
  <td class="option_value"><textarea name="Fobject[desc]" rows="2" cols="40" style="width:300px;">{DESC}</textarea></td>
</tr>
<tr>
  <td class="option">{TXT_FILE}<span class="asterisk">*</span><span class="small"></td>
  <td class="option_value"><input type="file" name="Fobject[file]" size="30"/></td>
</tr>
<tr>
  <td class="submit" colspan="2">
  <span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FLD}</span>
  <div align="right">
	<input class="submit" type="submit" name="cmd[{CMD_SUBMIT}]" value="{TXT_SUBMIT}" />
	<input class="submit" type="submit" name="cmd[{CMD_SUBMIT_AND_META}]" value="{TXT_SUBMIT_AND_META}" />
	<input class="submit" type="submit" name="cmd[cancel]" value="{TXT_CANCEL}" />
  </div>
  </td>
</tr>
</table>
</form>
<br>
<form action="{FORMACTION}" {TARGET} method="post" enctype="multipart/form-data">
<table class="std" width="60%">
<tr class="tblheader">
  <td class="std" colspan="2">
  	<img src="{TYPE_IMG}" style="vertical-align:middle;" alt="{ALT_IMG}" title="{ALT_IMG}" border="0" vspace="0" />
    {TXT_HEADER_ZIP}
  </td>
</tr>

<tr>
  <td class="option">{TXT_FILE}<span class="asterisk">*</span><span class="small"></td>
  <td class="option_value"><input type="file" name="Fobject[file]" size="30"/></td>
</tr>

<tr>
  <td class="option"></td>
  <td class="option_value"><input type="checkbox" name="Fobject[structure]" value="true"/>{TXT_TAKE_OVER_STRUCTURE}</td>
</tr>

<tr>
  <td class="submit" colspan="2">
  <span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FLD}</span>
  <div align="right">
	<input class="submit" type="submit" name="cmd[saveUnzip]" value="{TXT_SUBMIT}" />
	<input class="submit" type="submit" name="cmd[cancel]" value="{TXT_CANCEL}" />
  </div>
  </td>
</tr>
</table>

{DUPLICATE}