<tr>
	<td valign="top" class="{ROWCOL}">
	<!-- BEGIN tst_warning -->	
	<a href="{HREF_WARNING}"><img src="{IMAGE_WARNING}" border="0" alt="{ALT_WARNING}" title="{TITLE_WARNING}" /></a>
	<!-- END tst_warning -->
	<!-- BEGIN tst_read -->
	<a href="{VIEW_LINK}" target="{VIEW_TARGET}">{R_TITLE}</a>
	<!-- END tst_read -->
	<!-- BEGIN tst_visible -->
	<b>{V_TITLE}</b>
	<!-- END tst_visible -->
	&nbsp;
	 <!-- BEGIN payment -->
	<img src="{PAYMENT_TYPE_IMG}" alt="{PAYMENT_ALT_IMG}" title="{PAYMENT_ALT_IMG}" border="0" vspace="0" align="absmiddle" />
	<!-- END payment -->
	<!-- BEGIN tst_edit -->	
	[<a href="{EDIT_LINK}" target="{EDIT_TARGET}">{TXT_EDIT}</a>]
	<!-- END tst_edit -->
	<!-- BEGIN tst_delete -->	
	[<a href="{DELETE_LINK}">{TXT_DELETE}</a>]
	<!-- END tst_delete -->
	<!-- BEGIN tst_link -->	
	[<a href="{LINK_LINK}">{TXT_LINK}</a>]
	<!-- END tst_link -->
	<!-- BEGIN tst_cut -->	
	[<a href="{CUT_LINK}">{TXT_CUT}</a>]
	<!-- END tst_cut -->
	<!-- BEGIN tst_subscribe -->	
	[<a href="{SUBSCRIBE_LINK}">{TXT_SUBSCRIBE}</a>]
	<!-- END tst_subscribe -->
	<!-- BEGIN tst_anon_eval -->	
	[<a href="{ANON_EVAL_LINK}" target="{VIEW_TARGET}">{TXT_ANON_EVAL}</a>]
	<!-- END tst_anon_eval -->
	<!-- BEGIN tst_statistical_evaluation -->	
	[<a href="{STATISTICAL_EVALUATION_LINK}" target="{VIEW_TARGET}">{TXT_STATISTICAL_EVALUATION}</a>]
	<!-- END tst_statistical_evaluation -->
	<br />
	<div class="il_Description">{DESCRIPTION}</div>
	</td>
</tr>
