<form action="{FORMACTION}" method="post" enctype="multipart/form-data">
<table class="std">
	<tr class="tblheader">
		<td class="std" colspan="2">{TXT_IMPORT_FORUM}</td>
	</tr>
	<tr>
		<td class="option">
			{TXT_IMPORT_FILE}
		</td>
		<td class="option_value">
			<input type="file" name="importFile"/>
		</td>
	</tr>
	<tr class="submit">
		<td class="submit" colspan="2">
			<input class="submit" type="submit" name="cmd[performImport]" value="{BTN_IMPORT}"/>
			<input class="submit" type="submit" name="cmd[cancel]" value="{BTN_CANCEL}"/>
		</td>
	</tr>
</table>
</form>
