<!-- BEGIN linkbar -->
<table class="std">
<tr>
<td class="std">{LINKBAR}</td>
</tr>
</table>
<!-- END linkbar -->
<form method="post" name="cmd" action="{FORMACTION}">
<table class="fullwidth">
<tr class="tbltitle">
	<td colspan="6">
	<table class="fullwidth_invisible">
	<tr class="tbltitle">
		<td width="10"><img src="{FRM_IMG}" alt="{FRM_IMG_ALT}" title="{FRM_IMG_ALT}" border="0" /></td>
		<td class="tbltitle" align="left">&nbsp;{FRM_TITLE}</td>
	</tr>
	</table>
	</td>
</tr>
<tr class="tblheader">
  <td class="std" width=60%>{TXT_FORUM}</td>
  <td class="std" align="center">{TXT_NUM_THREADS}</td>
  <td class="std" align="center" nowrap="nowrap" >{TXT_NUM_POSTS}</td>
  <td class="std" align="center">{TXT_NUM_VISITS}</td>
  <td class="std" width="39%" align="center" nowrap="nowrap">{TXT_LAST_POST}</td>
</tr>
<!-- BEGIN forum_row -->
<tr>
 <td width="60%" class="tblrow2" valign="top">{TITLE}
 &nbsp;
<!-- BEGIN forum_edit -->
[<a href="{EDIT_LINK}">{TXT_EDIT}</a>]	
<!-- END forum_edit -->
<!-- BEGIN forum_delete -->
 [<a href="{DELETE_LINK}">{TXT_DELETE}</a>]
<!-- END forum_delete -->
<!-- BEGIN forum_desklink -->
 [<a href="{TO_DESK_LINK}">{TXT_TO_DESK}</a>]
<!-- END forum_desklink -->
 <br/>
 <span class="quote">{DESCRIPTION}</span><br/>
 <!-- <span class="small">{TXT_FORUMPATH}: {FORUMPATH}</span><br/> -->
 <span class="small">{TXT_MODERATORS}: {MODS}</span>
 <!-- BEGIN update_data -->
 <br/><span class="small">{LAST_UPDATE_TXT1}: {LAST_UPDATE} {LAST_UPDATE_TXT2} {LAST_UPDATE_USER}</span>
 <!-- END update_data -->
 </td>
 <td align="center" nowrap="nowrap" class="tblrow1" valign="top">{NUM_THREADS}</td>
 <td align="center" nowrap="nowrap" class="tblrow2" valign="top">{NUM_POSTS}</td>
 <td align="center" nowrap="nowrap" class="tblrow1" valign="top">{NUM_VISITS}</td>
 <td width="20%" nowrap="nowrap" class="tblrow2" valign="top">{LAST_POST}</td>
 </tr>
<!-- END forum_row -->
<!-- BEGIN forum_no -->
<tr class="std">
	<td class="std" colspan="6">{TXT_MSG_NO_FORUMS_AVAILABLE}</td>
</tr>
<!-- END forum_no -->
<!-- BEGIN forum_options -->
<tr>
	<td class="submit" nowrap="nowrap" colspan="6"><input type="checkbox" name="all" value="check_all" onClick="CheckAllBoxes(document.cmd);">&nbsp;
	<strong>{TXT_SELECT_ALL}</strong>
	</td>
</tr>
<tr>
	<td class="submit" colspan="6">
	<img src="{IMGPATH}/images/arrow_downright.gif" />&nbsp;
	<select name="action">
		<option value="html">{TXT_EXPORT_HTML}</option>
		<!-- <option value="xml">{TXT_EXPORT_XML}</option> -->
	</select>
	<input class="submit" type="submit" name="cmd[submit]" value="{TXT_OK}"/>
	</td>
</tr>
<!-- END forum_options -->
</table>
</form>
<!-- END forum -->
