<form action="{FORMACTION}" method="post">
<table class="std">
	<tr class="tblheader">
		<td class="std" colspan="2">
		<!-- BEGIN img --><img src="{IMG_FORM}" border="0"/><!-- END img -->
		{TXT_TITLE}</td>
	</tr>
	<!-- BEGIN prop -->
	<tr>
		<td class="option">
		{PROPERTY_TITLE}
		</td>
		<td class="option_value">
		<!-- BEGIN prop_Varchar -->
		<input type="text" size="40" name="{POST_VAR}" value="{PROPERTY_VALUE}" />
		<!-- END prop_Varchar -->
		<!-- BEGIN prop_Text -->
		<textarea name="{POST_VAR}" wrap="virtual" cols="40" rows="4">{PROPERTY_VALUE}</textarea>
		<!-- END prop_Text -->
		<!-- BEGIN prop_Enum -->
		<!-- BEGIN prop_Enum_Option -->
		<input type="radio" name="{POST_VAR}" value="{VAL_ENUM_OPTION}" {CHK_ENUM_OPTION}/> {TXT_ENUM_OPTION}<br />
		<!-- END prop_Enum_Option -->
		<!-- END prop_Enum -->
		<!-- BEGIN description -->
		<br /><span class="ilDescription">{PROPERTY_DESCRIPTION}</span>
		<!-- END description -->
		<!-- BEGIN alert -->
		<br /><img border="0" src="{IMG_ALERT}" />
		<span class="small">{TXT_ALERT}</span>
		<!-- END alert -->
		</td>
	</tr>
	<!-- END prop -->
	<tr>
	<td class="submit" colspan="2">
		<div align="right">
		<!-- BEGIN cmd -->
		<input class="submit" type="SUBMIT" name="cmd[{CMD}]" value="{CMD_TXT}">
		<!-- END cmd -->
		</div>
	</td>
	</tr>
</table>
</form>
