
<h2>{TXT_FORUM_USER}</h2>

{BUTTONS}

{MESSAGE}

<!-- BEGIN usertable -->
<table CELLPADDING=3 CELLSPACING=1 BORDER=0>

<tr class="{ROWCOL2}">
	<td valign=top>{TXT_LOGIN}:&nbsp;</td>
	<td valign=top>{LOGIN}</td>	 
</tr>
<tr class="{ROWCOL1}">
	<td valign=top>{TXT_NAME}:&nbsp;</td>
	<td valign=top>{FIRSTNAME}&nbsp;{SURNAME}</td>	 
</tr>
<tr class="{ROWCOL2}">
	<td valign=top>{TXT_TITLE}:&nbsp;</td>
	<td valign=top>{TITLE}</td>	 
</tr>
<tr class="{ROWCOL1}">
	<td valign=top>{TXT_GENDER}:&nbsp;</td>
	<td valign=top>{GENDER}</td>	 
</tr>
<tr class="{ROWCOL2}">
	<td valign=top>{TXT_EMAIL}:&nbsp;</td>
	<td valign=top><a href="mailto:{EMAIL}">{EMAIL}</a></td>	 
</tr>
<tr class="{ROWCOL1}">
	<td valign=top>{TXT_REGISTERED}:&nbsp;</td>
	<td valign=top>{REGISTERED}</td>	 
</tr>
<tr class="{ROWCOL2}">
	<td valign=top>{TXT_NUM_POSTS}:&nbsp;</td>
	<td valign=top>{NUM_POSTS}</td>	 
</tr>



</table>
<!-- END usertable -->
