<form action="{FORMACTION}" method="post">
<table class="std">
<tr>
	<td class="il_no_style" colspan="2">
	<!-- BEGIN Example_a -->
	<a src="" class="{EX_CLASS}">{EX_TEXT}</a>
	<!-- END Example_a -->
	<!-- BEGIN Example_div -->
	<div class="{EX_CLASS}">{EX_TEXT}</div>
	<!-- END Example_div -->
	<!-- BEGIN Example_span -->
	<span class="{EX_CLASS}">{EX_TEXT}</span>
	<!-- END Example_span -->
	<!-- BEGIN Example_p -->
	<p class="{EX_CLASS}">{EX_TEXT}</p>
	<!-- END Example_p -->
	<!-- BEGIN Example_td -->
	<table border="0" cellpadding="0" cellspacing="0"><tr>
	<td class="{EX_CLASS}">{EX_TEXT}</td>
	</tr></table>
	<!-- END Example_td -->
	</td>
</tr>
<tr class="tblheader">
	<th class="std" colspan="2">{TXT_TEXT}</th>
</tr>
<tr>
	<td class="option">{TXT_FONT_SIZE}
	</td>
	<td class="option_value">
	<input type="text" name="font_size" value="{VAL_FONT_SIZE}"/>
	</td>
</tr>
<tr>
	<td class="option">{TXT_FONT_FAMILY}
	</td>
	<td class="option_value">
	<input type="text" name="font_family" value="{VAL_FONT_FAMILY}"/>
	</td>
</tr>
<tr>
	<td class="option">{TXT_FONT_WEIGHT}
	</td>
	<td class="option_value">
	{SEL_FONT_WEIGHT}
	</td>
</tr>
<tr>
	<td class="option">{TXT_FONT_STYLE}
	</td>
	<td class="option_value">
	{SEL_FONT_STYLE}
	</td>
</tr>
<tr>
	<td class="option">{TXT_FONT_VARIANT}
	</td>
	<td class="option_value">
	{SEL_FONT_VARIANT}
	</td>
</tr>
<tr>
	<td class="option">{TXT_FONT_STRETCH}
	</td>
	<td class="option_value">
	{SEL_FONT_STRETCH}
	</td>
</tr>
<tr>
	<td class="option">{TXT_COLOR}
	</td>
	<td class="option_value">
	<input type="text" name="color" value="{VAL_COLOR}"/>
	</td>
</tr>
<tr>
	<td class="option">{TXT_WORD_SPACING}
	</td>
	<td class="option_value">
	<input type="text" name="word_spacing" value="{VAL_WORD_SPACING}"/>
	</td>
</tr>
<tr>
	<td class="option">{TXT_LETTER_SPACING}
	</td>
	<td class="option_value">
	<input type="text" name="letter_spacing" value="{VAL_LETTER_SPACING}"/>
	</td>
</tr>
<tr>
	<td class="option">{TXT_TEXT_DECORATION}
	</td>
	<td class="option_value">
	{SEL_TEXT_DECORATION}
	</td>
</tr>
<tr>
	<td class="option">{TXT_TEXT_TRANSFORM}
	</td>
	<td class="option_value">
	{SEL_TEXT_TRANSFORM}
	</td>
</tr>
<tr>
	<td class="option">{TXT_TEXT_ALIGN}
	</td>
	<td class="option_value">
	{SEL_TEXT_ALIGN}
	</td>
</tr>
<tr>
	<td class="option">{TXT_VERTICAL_ALIGN}
	</td>
	<td class="option_value">
	{SEL_VERTICAL_ALIGN}
	</td>
</tr>
<tr>
	<td class="option">{TXT_TEXT_INDENT}
	</td>
	<td class="option_value">
	<input type="text" name="text_indent" value="{VAL_TEXT_INDENT}"/>
	</td>
</tr>
<tr>
	<td class="option">{TXT_LINE_HEIGHT}
	</td>
	<td class="option_value">
	<input type="text" name="line_height" value="{VAL_LINE_HEIGHT}"/>
	</td>
</tr>
<tr>
	<td class="option">{TXT_WHITE_SPACE}
	</td>
	<td class="option_value">
	{SEL_WHITE_SPACE}
	</td>
</tr>
<tr class="tblheader">
	<th class="std" colspan="2">{TXT_MARGIN_AND_PADDING}</th>
</tr>
<tr>
	<td class="option">{TXT_MARGIN}
	</td>
	<td class="option_value">
	{TXT_ALL}
	<input type="text" maxlength="5" size="5" name="margin" value="{VAL_MARGIN}"/>
	&nbsp;&nbsp;{TXT_TOP}
	<input type="text" maxlength="5" size="5" name="margin_top" value="{VAL_MARGIN_TOP}"/>
	&nbsp;&nbsp;{TXT_BOTTOM}
	<input type="text" maxlength="5" size="5" name="margin_bottom" value="{VAL_MARGIN_BOTTOM}"/>
	&nbsp;&nbsp;{TXT_LEFT}
	<input type="text" maxlength="5" size="5" name="margin_left" value="{VAL_MARGIN_LEFT}"/>
	&nbsp;&nbsp;{TXT_RIGHT}
	<input type="text" maxlength="5" size="5" name="margin_right" value="{VAL_MARGIN_RIGHT}"/>
	</td>
</tr>
<tr>
	<td class="option">{TXT_PADDING}
	</td>
	<td class="option_value">
	{TXT_ALL}
	<input type="text" maxlength="5" size="5" name="padding" value="{VAL_PADDING}"/>
	&nbsp;&nbsp;{TXT_TOP}
	<input type="text" maxlength="5" size="5" name="padding_top" value="{VAL_PADDING_TOP}"/>
	&nbsp;&nbsp;{TXT_BOTTOM}
	<input type="text" maxlength="5" size="5" name="padding_bottom" value="{VAL_PADDING_BOTTOM}"/>
	&nbsp;&nbsp;{TXT_LEFT}
	<input type="text" maxlength="5" size="5" name="padding_left" value="{VAL_PADDING_LEFT}"/>
	&nbsp;&nbsp;{TXT_RIGHT}
	<input type="text" maxlength="5" size="5" name="padding_right" value="{VAL_PADDING_RIGHT}"/>
	</td>
</tr>
<tr class="tblheader">
	<th class="std" colspan="2">{TXT_BORDER}</th>
</tr>
<tr>
	<td class="option">{TXT_BORDER_WIDTH}
	</td>
	<td class="option_value">
	{TXT_ALL}
	<input type="text" maxlength="5" size="5" name="border_width" value="{VAL_BORDER_WIDTH}"/>
	&nbsp;&nbsp;{TXT_TOP}
	<input type="text" maxlength="5" size="5" name="border_top_width" value="{VAL_BORDER_TOP_WIDTH}"/>
	&nbsp;&nbsp;{TXT_BOTTOM}
	<input type="text" maxlength="5" size="5" name="border_bottom_width" value="{VAL_BORDER_BOTTOM_WIDTH}"/>
	&nbsp;&nbsp;{TXT_LEFT}
	<input type="text" maxlength="5" size="5" name="border_left_width" value="{VAL_BORDER_LEFT_WIDTH}"/>
	&nbsp;&nbsp;{TXT_RIGHT}
	<input type="text" maxlength="5" size="5" name="border_right_width" value="{VAL_BORDER_RIGHT_WIDTH}"/>
	</td>
</tr>
<tr>
	<td class="option">{TXT_BORDER_COLOR}
	</td>
	<td class="option_value">
	{TXT_ALL}
	<input type="text" maxlength="20" size="7" name="border_color" value="{VAL_BORDER_COLOR}"/>
	&nbsp;&nbsp;{TXT_TOP}
	<input type="text" maxlength="20" size="7" name="border_top_color" value="{VAL_BORDER_TOP_COLOR}"/>
	&nbsp;&nbsp;{TXT_BOTTOM}
	<input type="text" maxlength="20" size="7" name="border_bottom_color" value="{VAL_BORDER_BOTTOM_COLOR}"/>
	&nbsp;&nbsp;{TXT_LEFT}
	<input type="text" maxlength="20" size="7" name="border_left_color" value="{VAL_BORDER_LEFT_COLOR}"/>
	&nbsp;&nbsp;{TXT_RIGHT}
	<input type="text" maxlength="20" size="7" name="border_right_color" value="{VAL_BORDER_RIGHT_COLOR}"/>
	</td>
</tr>
<tr>
	<td class="option">{TXT_BORDER_STYLE}
	</td>
	<td class="option_value">
	{TXT_ALL}
	{SEL_BORDER_STYLE}
	&nbsp;&nbsp;{TXT_TOP}
	{SEL_BORDER_TOP_STYLE}
	&nbsp;&nbsp;{TXT_BOTTOM}
	{SEL_BORDER_BOTTOM_STYLE}
	&nbsp;&nbsp;{TXT_LEFT}
	{SEL_BORDER_LEFT_STYLE}
	&nbsp;&nbsp;{TXT_RIGHT}
	{SEL_BORDER_RIGHT_STYLE}
	</td>
</tr>
<tr class="tblheader">
	<th class="std" colspan="2">{TXT_BACKGROUND}</th>
</tr>
<tr>
	<td class="option">{TXT_BACKGROUND_COLOR}
	</td>
	<td class="option_value">
	<input type="text" name="background_color" value="{VAL_BACKGROUND_COLOR}"/>
	</td>
</tr>
<tr>
	<td class="option">{TXT_BACKGROUND_IMAGE}
	</td>
	<td class="option_value">
	<input type="text" name="background_image" value="{VAL_BACKGROUND_IMAGE}"/>
	</td>
</tr>
<tr>
	<td class="option">{TXT_BACKGROUND_REPEAT}
	</td>
	<td class="option_value">
	{SEL_BACKGROUND_REPEAT}
	</td>
</tr>
<tr>
	<td class="option">{TXT_BACKGROUND_ATTACHMENT}
	</td>
	<td class="option_value">
	{SEL_BACKGROUND_ATTACHMENT}
	</td>
</tr>
<tr>
	<td class="option">{TXT_BACKGROUND_POSITION}
	</td>
	<td class="option_value">
	{SEL_BACKGROUND_POSITION}
	</td>
</tr>
<tr class="tblheader">
	<th class="std" colspan="2">{TXT_SPECIAL}</th>
</tr>
<tr>
	<td class="option">{TXT_CURSOR}
	</td>
	<td class="option_value">
	{SEL_CURSOR}
	</td>
</tr>
<tr>
	<td class="option">{TXT_CLEAR}
	</td>
	<td class="option_value">
	{SEL_CLEAR}
	</td>
</tr>
<tr><td class="submit" colspan="2">
<input class="submit" type="submit" name="cmd[{BTN_REFRESH}]" value="{TXT_REFRESH}"/>&nbsp;
<input class="submit" type="submit" name="cmd[{BTN_SAVE}]" value="{TXT_SAVE}"/>
</table>
</form>
