<h1>{TXT_PAGEHEADLINE}</h1>
{INFOPANEL}
{BUTTONS}
{MESSAGE}
<form method="POST" action="{FORMACTION}" ENCTYPE="MULTIPART/FORM-DATA">
<table class="std">
<tr class="tblheader">
	<td class="std" colspan="4">{TXT_USR_DATA} {TXT_OF} {USR_FULLNAME}</td>
</tr>
<tr>
	<td class="option">{TXT_NICKNAME}</td>
	<td class="option_value" colspan="3">{NICKNAME}</td>
</tr>
<tr>
	<td class="option">{TXT_DEFAULT_ROLE}</td>
	<td class="option_value" colspan="3">{DEFAULT_ROLE}</td>
</tr>
<tr class="tblheader">
	<td class="std" colspan="2">{TXT_PERSONAL_DATA}</td>
	<td class="std">{TXT_PUBLIC_PROFILE}</td>
	<td class="std"><input type="checkbox" name="chk_pub" {CHK_PUB}></td>
</tr>
<tr>
	<td class="option">{TXT_SALUTATION}</td>
	<td class="option_value">
	<select name="usr_gender">
		<option {SELECTED_M} value="m">{TXT_SALUTATION_M}</option>
		<option {SELECTED_F} value="f">{TXT_SALUTATION_F}</option>
	</select>
	</td>
	<td class="option_value" colspan="2">&nbsp;</td>
</tr>
<tr>
	<td class="option">{TXT_FIRSTNAME}<span class="asterisk">*</span></td>
	<td class="option_value"><input type="text" name="usr_fname" maxlength="32" size="40" value="{FIRSTNAME}"/></td>
	<td class="option_value" colspan="2"><img src="{IMAGE_PATH}"></td>
</tr>
<tr>
	<td class="option">{TXT_LASTNAME}<span class="asterisk">*</span></td>
	<td class="option_value"><input type="text" name="usr_lname" maxlength="32" size="40" value="{LASTNAME}"/></td>
	<td class="option_value" colspan="2">&nbsp;</td>
</tr>
<tr>
	<td class="option">{TXT_TITLE}</td>
	<td class="option_value"><input type="text" name="usr_title" maxlength="32" size="40" value="{TITLE}"/></td>
	<td class="option_value" colspan="2">&nbsp;</td>
</tr>

<tr>
	<td class="option">{TXT_UPLOAD}</td>
	<td class="option_value"><input type="file" name="userfile" >
	 <input class="submit" type="submit" name="usr_upload" VALUE="{UPLOAD}">
	</td>
	<td class="option_value" colspan="2"><center><input type="checkbox" name="chk_upload" {CHK_UPLOAD}></center></td>
</tr>

<tr class="tblheader">
	<td class="std" colspan="2">{TXT_CONTACT_DATA}</td>
	<td class="option_value" colspan="2">&nbsp;</td>
</tr>
<tr>
	<td class="option">{TXT_INSTITUTION}</td>
	<td class="option_value"><input type="text" name="usr_institution" maxlength="80" size="40" value="{INSTITUTION}"/></td>
	<td class="option_value" colspan="2"><center><input type="checkbox" name="chk_institute" {CHK_INSTITUTE}></center></td>
</tr>
<tr>
	<td class="option">{TXT_STREET}</td>
	<td class="option_value"><input type="text" name="usr_street" maxlength="40" size="40" value="{STREET}"/></td>
	<td class="option_value" colspan="2"><center><input type="checkbox" name="chk_street" {CHK_STREET}></center></td>
</tr>
<tr>
	<td class="option">{TXT_ZIPCODE}</td>
	<td class="option_value"><input type="text" name="usr_zipcode" maxlength="10" size="10" value="{ZIPCODE}"/></td>
	<td class="option_value" colspan="2"><center><input type="checkbox" name="chk_zip" {CHK_ZIP}></center></td>
</tr>
<tr>
	<td class="option">{TXT_CITY}</td>
	<td class="option_value"><input type="text" name="usr_city" maxlength="40" size="40" value="{CITY}"/></td>
	<td class="option_value" colspan="2"><center><input type="checkbox" name="chk_city" {CHK_CITY}></center></td>
</tr>
<tr>
	<td class="option">{TXT_COUNTRY}</td>
	<td class="option_value"><input type="text" name="usr_country" maxlength="40" size="40" value="{COUNTRY}"/></td>
	<td class="option_value" colspan="2"><center><input type="checkbox" name="chk_country" {CHK_COUNTRY}></center></td>
</tr>
<tr>
	<td class="option">{TXT_PHONE}</td>
	<td class="option_value"><input type="text" name="usr_phone" maxlength="40" size="40" value="{PHONE}"/></td>
	<td class="option_value" colspan="2"><center><input type="checkbox" name="chk_phone" {CHK_PHONE}></center></td>
</tr>
<tr>
	<td class="option">{TXT_EMAIL}<span class="asterisk">*</span></td>
	<td class="option_value"><input type="text" name="usr_email" maxlength="40" size="40" value="{EMAIL}"/></td>
	<td class="option_value" colspan="2"><center><input type="checkbox" name="chk_email" {CHK_EMAIL}></center></td>
</tr>

<tr>
	<td class="option">{TXT_HOBBIE}</td>
	<td class="option_value">
	<textarea name="usr_hobbie" rows=3 cols=45>{HOBBIE}</textarea>
	</td>
	<td class="option_value" colspan="2"><center><input type="checkbox" name="chk_hobbie" {CHK_HOBBIE}></center></td>
</tr>

<tr class="tblheader">
	<td class="std" colspan="2">{TXT_SETTINGS}</td>
	<td class="option_value" colspan="2">&nbsp;</td>
</tr>
<tr>
	<td class="option">{TXT_LANGUAGE}</td>
	<td class="option_value">
	<select name="usr_language">
<!-- BEGIN sel_lang -->
		<option {SELECTED_LANG} value="{LANGSHORT}">{LANG}</option>
<!-- END sel_lang -->
	</select>
	</td>
	<td class="option_value" colspan="2">&nbsp;</td>
</tr>
<tr>
	<td class="option">{TXT_USR_SKIN}</td>
	<td class="option_value">
	<select name="usr_skin">
<!-- BEGIN selectskin -->
		<option value="{SKINVALUE}" {SKINSELECTED}>{SKINOPTION}</option>
<!-- END selectskin -->
	</select>
	</td>
	<td class="option_value" colspan="2">&nbsp;</td>
</tr>
<tr>
	<td class="option">{TXT_USR_STYLE}</td>
	<td class="option_value">
	<select name="usr_style">
<!-- BEGIN selectstyle -->
		<option value="{STYLEVALUE}" {STYLESELECTED}>{STYLEOPTION}</option>
<!-- END selectstyle -->
	</select>
	</td>
	<td class="option_value" colspan="2">&nbsp;</td>
</tr>
<tr>
	<td class="submit" colspan="4"><span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FIELDS}<br /><br /></span>
	<div align="left"><input class="submit" type="submit" value="{TXT_SAVE}"/></div></td>
</tr>
</table>
</form>
