{STATUSLINE}
<table class="fullwidth_invisible">
<tr>
<td class="ilInvisibleBorder">
	<div class="il_Header">
	<!-- BEGIN tree_icons -->
		<!-- BEGIN top -->
		<a class="{CLASS_TOP}" href="{LINK_TOP}"><img src="{IMG_TOP}" align="right" border="0"></a>&nbsp;
		<!-- END top -->
		<!-- BEGIN tree_mode -->
		<a class="{CLASS_TREE}" href="{LINK_MODE}" target="bottom"><img src="{IMG_TREE}" align="right" border="0"></a>
		<!-- END tree_mode -->
	<!-- END tree_icons -->
	<h1><!-- BEGIN header_image --><!-- END header_image -->{HEADER}</h1>
	</div>
	{TABS}
	<br/>
	<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
		<td valign="top" width="25%">{ADM_TREE_CONTENT}</td>
		<td valign="top" width="75%" style="padding-left:5px;">
		{BUTTONS}
		{MESSAGE}
		{ADM_CONTENT}
		{SYSTEMSETTINGS}
	</td>
	</tr>
	</table>
</td>
</tr>
</table>
