<form name="form" action="{FORMACTION}" method="post">
<table class="std">
<tr class="tblheader">
	<td class="std" colspan="2">{TXT_FOLDER_NEW}</td>
</tr>
<tr>
	<td class="option">{TXT_TITLE}</td>
	<td class ="option_value"><input type="text" maxlength="255" name="title" size="40" value="{TITLE}"></td>
</tr>
<tr>
	<td class="submit" colspan="2" align="right">
	<input class="submit" type="submit" name="cmd[{VAL_CMD}]" value="{TXT_SAVE}">
	<input class="submit" type="submit" name="cmd[cancel]" value="{TXT_CANCEL}">
	</td>
</tr>
</table>
</FORM>
