<tr>
    <td valign="top" class="{ROWCOL}">
		<!-- BEGIN qpl_visible -->	
		<b>{VIS_TITLE}</b>&nbsp;
		<!-- END qpl_visible -->
        <!-- BEGIN qpl_edit -->	
        <a href="{EDIT_LINK}" target="{EDIT_TARGET}">{V_TITLE}</a>&nbsp;
        <!-- END qpl_edit -->
        <!-- BEGIN qpl_view -->	
				<strong>{V_TITLE}</strong>&nbsp;[<a href="{VIEW_LINK}" target="{VIEW_TARGET}">{VIEW_TEXT}</a>]
        <!-- END qpl_view -->
        <!-- BEGIN qpl_delete -->	
        [<a href="{DELETE_LINK}">{TXT_DELETE}</a>]
	    <!-- END qpl_delete -->
		<!-- BEGIN qpl_cut -->	
		[<a href="{CUT_LINK}">{TXT_CUT}</a>]
		<!-- END qpl_cut -->
        <!-- BEGIN qpl_desklink -->
        [<a href="{TO_DESK_LINK}">{TXT_TO_DESK}</a>]
        <!-- END qpl_desklink -->
        <br />
        <div class="il_Description">{DESCRIPTION}</div>
    </td>
</tr>
