<form action="{CHOOSE_SECTION_ACTION}" {TARGET} name="post" method="post">
<p>{TXT_CHOOSE_SECTION}:
<select name="meta_section" size=1>
	<option value="General"{META_SECTION_GENERAL}>General</option>
	<option value="Lifecycle"{META_SECTION_LIFECYCLE}>Lifecycle</option>
	<option value="Meta-Metadata"{META_SECTION_META-METADATA}>Meta-Metadata</option>
	<option value="Technical"{META_SECTION_TECHNICAL}>Technical</option>
	<option value="Educational"{META_SECTION_EDUCATIONAL}>Educational</option>
	<option value="Rights"{META_SECTION_RIGHTS}>Rights</option>
	<option value="Relation"{META_SECTION_RELATION}>Relation</option>
	<option value="Annotation"{META_SECTION_ANNOTATION}>Annotation</option>
	<option value="Classification"{META_SECTION_CLASSIFICATION}>Classification</option>
</select>
<input class="submit" type="submit" value="{TXT_OK}"/></p>
</form>

<!-- BEGIN no_general -->
{TXT_NO_GENERAL} ( {ACTION_NO_GENERAL} )
<!-- END no_general -->
<!-- BEGIN general -->
{GENERAL}
<!-- END general -->

<!-- BEGIN no_relation -->
{TXT_NO_RELATION} ( <a href="{ACTION_ADD_RELATION}">{TXT_ADD_RELATION}</a> )
<!-- END no_relation -->
<!-- BEGIN relation -->
{RELATION}
<!-- END relation -->
