{RELOAD}
<div align="center">
<br/>
<img src="./images/ilias_logo_big.png" border="0"/>
<p class="small">{ILIAS_RELEASE}</p>
<p class="warning">&nbsp;{TXT_MSG_LOGIN_FAILED}&nbsp;</p>
<!-- BEGIN cookies_howto -->
[<a href="nocookies.php?lang={LANG_ID}" target="_blank">{COOKIES_HOWTO}</a>]
<!-- END cookies_howto -->
<form method="post" action="{FORMACTION}" name="formlogin">
<table class="std">
  <tr class="tblheader">
	<td class="std" colspan="2" align="center">{TXT_ILIAS_LOGIN}</td>
  </tr>
  <tr>
	<td class="option" align="right">{TXT_USERNAME}</td>
	<td class="option_value"><input type="text" name="username" value="{USERNAME}"/></td>
  </tr>
  <tr>
	<td class="option" align="right">{TXT_PASSWORD}</td>
	<td class="option_value"><input type="password" name="password" value="{PASSWORD}"/></td>
  </tr>
  <tr class="tblfooter">
	<td class="submit" colspan="2" align="center"><input class="submit" type="submit" name="butSubmit" value="{TXT_SUBMIT}"/></td>
  </tr>
</table>
</form>
<p>
<!-- BEGIN new_registration -->
[<a href="register.php?lang={LANG_ID}">{REGISTER}</a>]
<!-- END new_registration -->
<!-- BEGIN homelink -->
[<a href="./index.php{CLIENT_ID}">{TXT_HOME}</a>]
<!-- END homelink -->
<!-- BEGIN password_assistance -->
[<a href="pwassist.php?lang={LANG_ID}">{FORGOT_PASSWORD}</a>]
<!-- END password_assistance -->
<!-- BEGIN password_assistance -->
[<a href="pwassist.php?lang={LANG_ID}&cmd=forgot_username">{FORGOT_USERNAME}</a>]
<!-- END password_assistance -->
<!-- BEGIN client_list -->
[<a href="./index.php">{TXT_CLIENT_LIST}</a>]
<!-- END client_list -->

</p>
<p><form name="languageselection" action="{LANG_FORM_ACTION}"
method="post">
<select name="lang" onChange="this.form.submit()"> 
<option value="">{TXT_CHOOSE_LANGUAGE}</option>
<!-- BEGIN languages -->
<option value="{LANG_KEY}" {SELECTED_LANG}>{LANG_NAME}</option>
<!-- END languages -->
</select>
<input class="submit" type="submit" value="{TXT_OK}"/>
</form>
</p>
<p>[<a href="view_usr_agreement.php?lang={LANG_ID}">{USER_AGREEMENT}</a>]</p>

</div>
<script language="JavaScript">
<!--
	if(document.formlogin.username.value!="") document.formlogin.password.focus();
	else document.formlogin.username.focus();
//-->
</script>
