<style>
body { margin:0px; }
</style>
{LOCATOR}
<div class="invisible_border">
<div class="il_Header"><h1>{TXT_PAGEHEADLINE}</h1>
<!-- BEGIN subtitle -->
{TXT_SUBTITLE_not_needed_anymore}
<!-- END subtitle -->
</div>
{INFOPANEL}
{BUTTONS}
{MESSAGE}
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>

<td width="50%" valign="top">
<!-- BEGIN tbl_lo -->
<h2>{TXT_LO_HEADER}</h2>
<table class="fullwidth">
	<tr class="tblheader">
	<td class="std"><b>{TXT_LO_TITLE}</b></td>
	</tr>
<!-- BEGIN tbl_lo_row -->
	<tr class="{ROWCOL}">
	<td class="std"><a href="{LO_LINK}" CLASS="navigation" target="_top">{LO_TITLE}</a>
	&nbsp;<a href="{DROP_LINK}" CLASS="navigation">{TXT_DROP}</a>
	</td>
	</tr>
<!-- END tbl_lo_row -->
<!-- BEGIN tbl_no_lo -->
	<tr class="{ROWCOL}">
	<td class="std">{TXT_NO_LO}</td>
	</tr>
<!-- END tbl_no_lo -->
</table>
<!-- END tbl_lo -->
</td>

<td>
<img class="spacer" src="{IMG_SPACE}" border="0" width="20" height="1" />
</td>

<td width="50%" valign="top">
<!-- BEGIN tbl_frm -->
<h2>{TXT_FRM_HEADER}</h2>
<table class="fullwidth">
	<tr class="tblheader">
	<td class="std"><b>{TXT_FRM_TITLE}</b></td>
	</tr>
<!-- BEGIN tbl_frm_row -->
	<tr class="{ROWCOL}">
	<td class="std"><a href="{FRM_LINK}" CLASS="navigation" target="bottom">{FRM_TITLE}</a>
	&nbsp;<a href="{DROP_LINK}" CLASS="navigation">{TXT_DROP}</a>
	</td>
	</tr>
<!-- END tbl_frm_row -->
<!-- BEGIN tbl_no_frm -->
	<tr class="{ROWCOL}">
	<td class="std">{TXT_NO_FRM}</td>
	</tr>
<!-- END tbl_no_frm -->
</table>
<!-- END tbl_frm -->
</td>
</tr>
</table>

<!-- BEGIN tbl_users -->
<h2>{TXT_USERS_ONLINE}</h2>
    <table class="fullwidth">
	<tr class="std">
      <td class="std" valign="top" colspan="5">{USER_LIST}</td>
	</tr>
<!-- BEGIN tbl_users_header -->
	<tr class="tblheader">
      <td class="std" valign="top"><b>{TXT_USR_LOGIN}</b></td>
      <td class="std" valign="top"><b>{TXT_USR_TITLE}</b></td>
      <td class="std" valign="top"><b>{TXT_USR_FIRSTNAME}</b></td> 
      <td class="std" valign="top"><b>{TXT_USR_LASTNAME}</b></td> 
      <td class="std" valign="top"><b>{TXT_USR_LOGIN_TIME}</b></td>
	</tr>
<!-- END tbl_users_header -->
<!-- BEGIN tbl_users_row -->
    <tr class="{ROWCOL}">
      <td class="std" valign="top">{USR_LOGIN}</td>
      <td class="std" valign="top">{USR_TITLE}</td>
	  <td class="std" valign="top">{USR_FIRSTNAME}</td>
      <td class="std" valign="top">{USR_LASTNAME}</td>
      <td class="std" valign="top">{USR_LOGIN_TIME}</td>
    </tr>
<!-- END tbl_users_row -->
    </table>
<!-- END tbl_users -->
</div>
