<!-- BEGIN comments -->
<form  name="form_comments" method="post" action="{COMMENTS_FORMACTION}">
<table class="fullwidth">
<tr>
  <td class="tblheader">{EDIT_COMMENTS}</td>
  <td class="option">{MEMBER_LOGIN}</td>

</tr>
<tr>
  <td class="option"><img src="{MEMBER_PICTURE}"/></td>
  <td class="option_value"><textarea rows=8 cols=40 class="option" name="comments_value" value="">{NOTICE_VALUE}</textarea></td>
</tr>
<tr>
<td class="option">&nbsp;</td>
<td class="option"><input type="submit" class="submit" name="save_comments" value="{SAVE_COMMENTS}"></input></td>
</tr>
</table>
</form>
<br/>
<!-- END comments -->
{MEMBER_TABLE}
<br/>
<div align="right">{SPECIAL_BUTTONS}</div>
<br/>
