<h1>{TXT_PAGEHEADLINE}</h1>
{BUTTONS}
{MESSAGE}
<h1>{TXT_PAGEHEADLINE}</h1>
{INFOPANEL}
<form name="form" action="{FORMACTION}" method="post">
<table class="std">
	<tr>
		<td class="option">{TXT_MEMBER_NAME}<span class="asterisk">*</span></td>
		<td class="option_value"><input name="Fobject[title]" value="{TITLE}" size="40" maxlength="70" style="width:300px;"/></td>
	</tr>
	<tr class="tblrow2">
		<td class="option">{TXT_MEMBER_STATUS}</td>
		<td class="option_value" colspan="{NUM_COLS}" align="left" valign="top">{SELECT_OBJTYPE}</td>
	</tr>
</table>
<p class="small"><span class="asterisk">*</span> {TXT_REQUIRED_FLD}</p>
<br /><input class="submit" type="submit" value="{TXT_SAVE}"/>
</form>
