{MAINMENU}

<!-- BEGIN sr_focus -->
<script type="text/javascript">il.Util.addOnLoad(il.Util.setStdScreenReaderFocus); var il_sr_opt = true;</script>
<!-- END sr_focus -->

<!-- BEGIN tree_mode -->
<a {TREE_ACC_KEY} class="ilTreeView{RIGHT}<!-- BEGIN tree_lns --> kilLeftNavSpace<!-- END tree_lns -->" href="{LINK_MODE}" target="{TARGET_TREE}" id="imgtree">
	<img src="{IMG_TREE}" alt="{ALT_TREE}" title="{ALT_TREE}" /></a>
<!-- END tree_mode -->
<div id="mainspacekeeper" class="container-fluid ilContainerWidth {MAINMENU_SPACER}">
	<div class="row" style="position: relative;">
	<!-- BEGIN left_nav -->
	<div id="left_nav" class="ilLeftNav">{LEFT_NAV_CONTENT}</div>
	<!-- END left_nav -->
	<div id="fixed_content" class="<!-- BEGIN left_nav_space -->ilLeftNavSpace<!-- END left_nav_space --> ilContentFixed" >
		<div id="mainscrolldiv" {FRAME_BG_COLOR}>
			{STATUSLINE}
			
	<!-- BEGIN banner_bl -->
	<div class="ilFrameFixedWidthHeader">				
		<div class="ilHeaderBanner" style="height:{BANNER_HEIGHT}px">
			<img class="ilHeaderImg" src="{BANNER_URL}">
		</div>
		<div class="ilClearFloat"></div>
	</div>	
	<!-- END banner_bl -->
	
	<div class="media il_HeaderInner"{FILEUPLOAD_DROPZONE_ID}>
		<!-- BEGIN head_action -->
		<div class="ilHeadAction" id="il_head_action">
			<!-- BEGIN head_action_inner -->{HEAD_ACTION}<!-- END head_action_inner -->
		</div>
		<!-- END head_action -->
		
		<!-- BEGIN headerbl -->
			<!-- BEGIN header_image -->
			<img id="headerimage" class="media-object" src="{IMG_HEADER}" alt="{IMAGE_ALT}" title="{IMAGE_DESC}" />
			<!-- END header_image -->
				<h1 class="media-heading ilHeader"><a class="ilAccAnchor" id="il_mhead_t_focus" name="il_mhead_t_focus" {HEADER_COLOR}{HEADER_URL}>{HEADER}</a></h1>
		<!-- END headerbl -->
		<div class="media-body">
	<!-- BEGIN header_desc -->
	<div class="ilHeaderDesc">{H_DESCRIPTION}</div><!-- END header_desc -->
	<!-- BEGIN header_alert -->
	<div class="ilHeaderAlert">
		<!-- BEGIN header_alert_prop_name -->
		{H_PROP} <!-- END header_alert_prop_name -->{H_VALUE}</div><!-- END header_alert -->
		</div>
	</div>
	
    <!-- BEGIN header_fileupload -->
    {HEADER_FILEUPLOAD_SCRIPT}
    <!-- END header_fileupload -->
	
	<!-- BEGIN tree_icons -->
	<div class="il_TreeIcons ilNoDisplay">
		<!-- BEGIN top -->
		<a class="{CLASS_TOP} ilNoDisplay" href="{LINK_TOP}" <!-- BEGIN target_top -->target="{TARGET_TOP}"<!-- END target_top -->
			id="imgtop"><img src="{IMG_TOP}" <!-- BEGIN alt_top -->alt="{ALT_TOP}" title="{ALT_TOP}" <!-- END alt_top -->/></a>
		<!-- END top -->
		<!-- BEGIN mount_webfolder -->
		<!-- always show actions on item level -->
		<!-- <a class="{CLASS_MOUNT_WEBFOLDER}" href="{LINK_MOUNT_WEBFOLDER}" folder="{FOLDER_MOUNT_WEBFOLDER}" target="{TARGET_MOUNT_WEBFOLDER}"><img src="{IMG_MOUNT_WEBFOLDER}" title="{ALT_MOUNT_WEBFOLDER}" alt="{ALT_MOUNT_WEBFOLDER}" ></a> -->
		<!-- END mount_webfolder -->
	</div>
	<!-- END tree_icons -->
	
	<div class="ilClearFloat"><!-- BEGIN stop_floating -->&nbsp;<!-- END stop_floating --></div>

{TABS}
<!-- BEGIN tabs_outer_start --><div class="ilTabsContentOuter"><div class="clearfix"></div><!-- END tabs_outer_start -->
{SUB_TABS}
<span class="ilAccHidden"><a id="after_sub_tabs" name="after_sub_tabs"></a></span>
<!-- BEGIN tabs_inner_start --><!-- END tabs_inner_start -->
<!-- BEGIN page_form_start -->
<form id="main_page_form" action="{PAGE_FORM_ACTION}" method="post">
	<!-- END page_form_start -->

<div>
	<!-- BEGIN mess --><div class="ilAdminRow">{MESSAGE}</div><!-- END mess -->
	<!-- BEGIN adm_view_components -->
	<div class="ilAdminRow">{ADM_PANEL1}</div>
	<!-- END adm_view_components -->
</div>

<div class="container-fluid" id="ilContentContainer">
	<div class="row">

		<div id="il_center_col" class="<!-- BEGIN center_col_width -->{CENTER_COL}<!-- END center_col_width -->">
			<!-- BEGIN add_commands -->
			<div class="ilNewObjectSelector">
				{SELECT_OBJTYPE_REPOS}
			</div>
			<!-- END add_commands -->
			<!-- BEGIN toolbar_buttons -->{BUTTONS}<!-- END toolbar_buttons -->
			{RTE_SWITCH}
			{ADM_CONTENT}
			{OBJECTS}
			{SYSTEMSETTINGS}
			<!-- BEGIN adm_view_components2 -->
			<div style="margin-bottom:10px;">{ADM_PANEL2}</div>
			<!-- END adm_view_components2 -->
		</div>

		<!-- BEGIN left_column -->
		<div id="il_left_col" class="{LEFT_COL_CLASS}">{LEFT_CONTENT}</div>
		<!-- END left_column -->

		<!-- BEGIN right_column -->
		<div id="il_right_col" class="col-sm-3">{RIGHT_CONTENT}</div>
		<!-- END right_column -->
	</div>
</div>

<!-- BEGIN print_content --><div class="ilPrintContent">{PRINT_CONTENT}</div><!-- END print_content -->
<!-- BEGIN page_form_end --></form><!-- END page_form_end -->
<!-- BEGIN tabs_inner_end --><!-- END tabs_inner_end -->
<!-- BEGIN tabs_outer_end --></div><!-- END tabs_outer_end -->

</div>
</div>
</div>
</div>
<div id="minheight"></div>
<footer id="ilFooter" class="ilFooter"><div class="container-fluid ilContainerWidth">
		<div class="row"><div class="ilFooterContainer">{PRMLINK} {FOOTER}</div></div></div></footer>
{LIGHTBOX}
