<style>
	body { margin:0px; }
</style>
{STATUSLINE}
<br />
<div class="il_Header">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			  <tr>
				<td><h1>{TXT_HEADER}</h1></td>
			  </tr>
			  <tr>
				<td><div class="il_Tab">{TABS}</div></td>
			  </tr>
		  </table>
	  </div>
	  {BUTTONS}
	  <br />
	  {MESSAGE}
</div>
<div class="invisible_border">
	<form action="{SEARCH_ACTION}" METHOD="post">
		<table class="std">
			<tr class="tblheader">
			  <td class="std" colspan="3" >{TXT_SUBJECT_MODULE}</td>
			</tr>
			<tr>
			  <td class="option">
				{TXT_TIME_SEGMENT}
			  </td>
			  <td class="option_value" colspan="2">
				<select name="Fobject[yearf]">
					<!-- BEGIN fromyear_selection -->
					<option value="{YEARF}">{YEARFR}</option>
					<!-- END fromyear_selection -->
				</select>
				<select name="Fobject[monthf]">
					<!-- BEGIN frommonth_selection -->
					<option value="{MONTHF}">{MONTHFR}</option>
					<!-- END frommonth_selection -->
				</select>
				<select name="Fobject[dayf]">
					<!-- BEGIN fromday_selection -->
					<option value="{DAYF}">{DAYFR}</option>
					<!-- END fromday_selection -->
				</select>
				&nbsp;to&nbsp;
				<select name="Fobject[yeart]">
					<!-- BEGIN toyear_selection -->
					<option value="{YEART}">{YEARTO}</option>
					<!-- END toyear_selection -->
				</select>
				<select name="Fobject[montht]">
					<!-- BEGIN tomonth_selection -->
					<option value="{MONTHT}">{MONTHTO}</option>
					<!-- END tomonth_selection -->
				</select>
				<select name="Fobject[dayt]">
					<!-- BEGIN today_selection -->
					<option value="{DAYT}">{DAYTO}</option>
					<!-- END today_selection -->
				</select>
			  </td>
			</tr>
			<tr>
			  <td class="option">
				{TXT_TIME}
			  </td>
			  <td align="center" class="option_value" colspan="2">
				<input type="RADIO" name="time" value="h" >{TXT_TIME_H}</input>&nbsp;&nbsp;
				<input type="RADIO" name="time" value="d" >{TXT_TIME_D}</input>
			  </td>
			</tr>
			<tr>
				<td class="option">{TXT_LANGUAGE}</td>
				<td class="option_value" colspan="2">
					<select name="Fobject[language]">
					<!-- BEGIN language_selection -->
					<option value="{LANGSHORT}">{LANG}</option>
					<!-- END language_selection -->
					</select>
				</td>
			</tr>
			<tr>
			  <td class="option">
				{TXT_SEARCH_FOR}
			  </td>
			  <td class="option_value" colspan="2">
				<input type="CHECKBOX" name="search_for[usr]" value="usr" {USR_CHECKED}>{TXT_USER}</input>
			  </td>
			</tr>
			<tr>
			  <td class="option">
				&nbsp;
			  </td>
			  <td class="option_value">
				<input type="CHECKBOX" name="search_for[learn]" value="lm" {LM_CHECKED}>{TXT_LM}</input>&nbsp;&nbsp;
			  <select name="lm">
			  <!-- BEGIN lm_selection -->
			  <option value="{LM}">{LM_SELECT}
			  </option>
			  <!-- END lm_selection -->
			  </select>
			  </td>
			</tr>
			<tr class="tablefooter">
			  <td class="submit" colspan="3">
				<div align="right">
				<input class="submit" type="SUBMIT" name="BTN_SEARCH">
				</div>
			  </td>
			</tr>
		 </table>
	</form>
</div>
{TESTMODULE}