<!--<h1>{TXT_GROUP_DETAILS}</h1>-->
{BUTTONS}
{MESSAGE}
<h2>{TXT_HEADER}</h2>
<!-- BEGIN groupheader -->
<table class="fullwidth" >
<tr>
  <td class ="tblrow1" colspan="2"><b>{TXT_MESSAGE}</b></td>
<tr>
  <td class ="tblrow1" width="20%" align="right"><b>{TXT_GRP_NAME}</b></td>
  <td class ="tblrow1"><b>{GRP_NAME}</b></td>
</tr>
<tr>
  <td class ="tblrow2" width="20%" align="right"><b>{TXT_GRP_DESC}</b></td>
  <td class ="tblrow2"><b>{GRP_DESC}</b></td>
</tr>
<tr>
  <td class ="tblrow1" width="20%" align="right"><b>{TXT_GRP_OWNER}</b></td>
  <td class ="tblrow1"><b>{GRP_OWNER}</b></td>
</tr>
<tr>
  <td class ="tblrow2" width="20%" align="right"><b>{TXT_GRP_STATUS}</b></td>
  <td class ="tblrow2"><b>{GRP_STATUS}</b></td>
</tr>

</table>
<!-- END locontent -->

<p><p><p>
{CONTENT}
