<style>
body { margin:0px; }
</style>
<div class="invisible_border">
<div class="il_Header"><h1>{TXT_PAGEHEADLINE}</h1></div>
<p>{TXT_WELCOME}</p>
{MESSAGE}
<table class="std">
<form action="{FORMACTION}" {TARGET} method="post">
  <tr class="tblheader">
    <td class="std" colspan="2">{TXT_LOGIN_DATA}</td>
  </tr>
  <tr>
    <td class="option">{TXT_LOGIN}<span class="asterisk">*</span></td>
    <td class="option_value"><input type="text" name="Fobject[login]"  value="{LOGIN}" size="40" maxlength="32" /></td>
  </tr>
  <tr>
    <td class="option">{TXT_PASSWD}<span class="asterisk">*</span></td>
    <td class="option_value"><input type="password" name="Fobject[passwd]"  value="{PASSWD}" size="40" maxlength="32" /></td>
  </tr>
  <tr>
    <td class="option">{TXT_PASSWD2}<span class="asterisk">*</span></td>
    <td class="option_value"><input type="password" name="Fobject[passwd2]"  value="{PASSWD2}" size="40" maxlength="32" /></td>
  </tr>
  <tr class="tblheader">
    <td class="std" colspan="2">{TXT_PERSONAL_DATA}</td>
  </tr>
  <tr>
    <td class="option">{TXT_GENDER}<span class="asterisk">*</span></td>
    <td class="option_value">
<!-- BEGIN gender -->
        {GENDER}
<!-- END gender -->
    </td>
  </tr>
  <tr>
    <td class="option">{TXT_FIRSTNAME}<span class="asterisk">*</span></td>
    <td class="option_value"><input type="text" name="Fobject[firstname]" value="{FIRSTNAME}" size="40" maxlength="32" /></td>
  </tr>
  <tr>
    <td class="option">{TXT_LASTNAME}<span class="asterisk">*</span></td>
    <td class="option_value"><input type="text" name="Fobject[lastname]" value="{LASTNAME}" size="40" maxlength="32" /></td>
  </tr>
  <tr>
    <td class="option">{TXT_TITLE}</td>
    <td class="option_value"><input type="text" name="Fobject[title]" value="{TITLE}" size="40" maxlength="32" /></td>
  </tr>
  <tr class="tblheader">
    <td class="std" colspan="2">{TXT_CONTACT_DATA}</td>
  </tr>
  <tr>
    <td class="option">{TXT_INSTITUTION}</td>
    <td class="option_value"><input type="text" name="Fobject[institution]" value="{INSTITUTION}" size="40" maxlength="80" /></td>
  </tr>
  <tr>
    <td class="option">{TXT_STREET}</td>
    <td class="option_value"><input type="text" name="Fobject[street]" value="{STREET}" size="40" maxlength="40" /></td>
  </tr>
  <tr>
    <td class="option">{TXT_CITY}</td>
    <td class="option_value"><input type="text" name="Fobject[city]" value="{CITY}" size="40" maxlength="40" /></td>
  </tr>
  <tr>
    <td class="option">{TXT_ZIPCODE}</td>
    <td class="option_value"><input type="text" name="Fobject[zipcode]" value="{ZIPCODE}" size="5" maxlength="10" /></td>
  </tr>
  <tr>
    <td class="option">{TXT_COUNTRY}</td>
    <td class="option_value"><input type="text" name="Fobject[country]" value="{COUNTRY}" size="40" maxlength="40" /></td>
  </tr>
  <tr>
    <td class="option">{TXT_PHONE}</td>
    <td class="option_value"><input type="text" name="Fobject[phone]" value="{PHONE}" size="40" maxlength="30" /></td>
  </tr>
  <tr>
    <td class="option">{TXT_EMAIL}<span class="asterisk">*</span></td>
    <td class="option_value"><input type="text" name="Fobject[email]" value="{EMAIL}" size="40" maxlength="40" /></td>
  </tr>
  <tr>
	<td class="option">{TXT_HOBBY}</td>
	<td class="option_value">
	<textarea name="usr_hobby" rows="3" cols="40">{HOBBY}</textarea>
  </td>
  </tr>
  <tr class="tblheader">
    <td class="std" colspan="2">{TXT_SETTINGS}</td>
  </tr>
<!-- BEGIN role -->
  <tr>
    <td class="option">{TXT_DEFAULT_ROLE}<span class="asterisk">*</span></td>
    <td class="option_value">
        {DEFAULT_ROLE}
    </td>
  </tr>
<!-- END role -->
  <tr>
	<td class="option">{TXT_LANGUAGE}</td>
	<td class="option_value">
	<select name="usr_language">
<!-- BEGIN language_selection -->
		<option {SELECTED_LANG} value="{LANGSHORT}">{LANG}</option>
<!-- END language_selection -->
	</select>
	</td>
  </tr>
  <tr>
	<td class="submit" colspan="2">
	<span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FIELDS}</span>
	<div align="right"><input class="submit" type="submit" value="{TXT_SAVE}"/></div></td>
  </tr>
</form>
</table>
</div>





