	  {LOCATOR}
	  {BUTTONS}
	  {MESSAGE}
	<TABLE WIDTH="100%" CELLPADDING=4 CELLSPACING=0 BORDER=0>
	  <!-- BEGIN confirm -->
	  <FORM ACTION="{ACTION_DELETE_CONFIRM}" method="post">
		<TR>
		  <TD>&nbsp;</TD>
		  <TD>
			<input type=submit value="{TXT_DELETE_CONFIRM}" name="cmd">
			<input type=submit value="{TXT_DELETE_CANCEL}" name="cmd">
		  </TD>
		</TR>
	  </FORM>
		<!-- END confirm --> 
		<!-- BEGIN edit -->
		<tr>
		  <td>
			<H3>{FOLDER_OPTIONS}</H3>
		  </td>
		</tr>
		<TR>
		  <FORM ACTION="{ACTION_FOLDER_EDIT}" method="post">
			<TR>
			  <TD align="right">{TXT_NAME}</TD>
			  <TD>
				<input type="TEXT" name="folder_name" value="{FOLDER_NAME}" size="32">
			  </TD>
			</TR>
			<TR>
			  <TD>&nbsp;</TD>
			  <TD>
				<TABLE>
					<TR>
					  <TD>
						<input type=submit value="{TXT_RENAME}" name="cmd">
					  </TD>
					  <TD>
						<input type=submit value="{TXT_DELETE}" name="cmd">
					  </TD>
					</TR>
				</TABLE>
			  </TD>
			</TR>
		  </FORM>
		  <!-- END edit -->
		  <!-- BEGIN add -->
		  <FORM ACTION="{ACTION_FOLDER_ADD}" method="post">
			<TR>
			  <TD align="right">{TXT_NAME_ADD}</TD>
			  <TD>
				<input type="TEXT" name="folder_name_add" size="32">
			  </TD>
			</TR>
			<TR>
			  <TD>&nbsp;</TD>
			  <TD>
				<input type=submit value="{TXT_FOLDER_ADD}" name="cmd">
			  </TD>
			</TR>
		  </FORM>
		  <!-- END add -->
		  <!-- BEGIN options -->
		  <FORM ACTION="{ACTION_GLOBAL}" method="post">
			<tr>
			  <td>
				<H3>{GLOBAL_OPTIONS}</H3>
			  </td>
			</tr>
			<TR>
			  <TD>&nbsp;</TD>
			</TR>
			<TR>
			  <TD align="right">
				{TXT_LINEBREAK}
			  </TD>
			  <TD>
				<SELECT name="linebreak">
				  <!-- BEGIN option_line -->
				  <option value="{OPTION_VALUE}" {OPTION_SELECTED}>
					{OPTION_NAME}
				  </option>
				  <!-- END option_line -->
				</SELECT>
			  </TD>
			</TR>
			<TR>
			  <TD ALIGN=right valign="top">{TXT_SIGNATURE}</TD>
			  <TD><TEXTAREA name="signature" ROWS=10 COLS=60>{CONTENT}</TEXTAREA></TD>
			</TR>
			<tr>
			  <TD>&nbsp;</TD>
			</TR>
			<TR>
			  <TD>&nbsp;</TD>
			  <TD><input type=submit value="{TXT_SAVE}" name="cmd"></TD>
			</TR>
		  </FORM>
		  <!-- END options -->
	</TABLE>
	