	<form action="{ACTION}" METHOD="post">
	<table class="fullwidth">
	<!-- BEGIN crs_grp -->
		<tr class="tblheader" valign="top">
			<td class="std" width="4%">
			  &nbsp;
			</td>
		<!-- BEGIN crs_grp_courses -->
			<td class="std" >
			  <b>{CRS_GRP_TXT_COURSES}</b>
			</td>
		<!-- END crs_grp_courses -->
		<!-- BEGIN crs_grp_groups -->
			<td class="std" >
			  <b>{CRS_GRP_TXT_GROUPS}</b>
			</td>
		<!-- END crs_grp_groups -->
			<td class="std" >
			  <b>{CRS_GRP_TXT_NO_MEMBERS}</b>
			</td>
		</tr>
		<!-- BEGIN loop_crs_grp -->
		  <tr class="{LOOP_CRS_GRP_CSSROW}">
			<td class="std" align="center">	
			  <input type="checkbox" name="search_crs_grp[]" value="{LOOP_CRS_GRP_ID}"/>
			</td>
			<td class="std"  valign="top">{LOOP_CRS_GRP_NAME}</td>
			<td class="std"  valign="top">{LOOP_CRS_GRP_NO_MEMBERS}</td>
		</tr>
		<!-- END loop_crs_grp -->
		<!-- BEGIN crs_grp_not_found -->
		<tr class="tblrow1">
			<td class="std" colspan="3" align="center">{TXT_CRS_GRP_NOT_FOUND}</td>
		</tr>
		<!-- END crs_grp_not_found -->
	<!-- END crs_grp -->
	<!-- BEGIN members -->
		<tr class="tblheader" valign="top">
			<td class="std" width="4%">
			  &nbsp;
			</td>
			<td class="std" >
			  <b>{MEMBERS_TXT_LOGIN}</b>
			</td>
			<td class="std" >
			  <b>{MEMBERS_TXT_NAME}</b>
			</td>
		<!-- BEGIN members_course -->
			<td class="std" >
			  <b>{MEMBERS_TXT_COURSE}</b>
			</td>
		<!-- END members_course -->
		<!-- BEGIN members_group -->
			<td class="std" >
			  <b>{MEMBERS_TXT_GROUP}</b>
			</td>
		<!-- END members_group -->
			<td class="std" >
			  <b>{MEMBERS_TXT_IN_ADDRESSBOOK}</b>
			</td>
		</tr>
		<!-- BEGIN loop_members -->
		  <tr class="{LOOP_MEMBERS_CSSROW}">
			<td class="std" align="center">	
			  <input type="checkbox" name="search_members[]" value="{LOOP_MEMBERS_ID}"/>
			</td>
			<td class="std"  valign="top">{LOOP_MEMBERS_LOGIN}</td>
			<td class="std"  valign="top">{LOOP_MEMBERS_NAME}</td>
			<td class="std"  valign="top">{LOOP_MEMBERS_CRS_GRP}</td>
			<td class="std"  valign="top">{LOOP_MEMBERS_IN_ADDRESSBOOK}</td>
		</tr>
		<!-- END loop_members -->
		<!-- BEGIN members_not_found -->
		<tr class="tblrow1">
			<td class="std" colspan="5" align="center">{TXT_MEMBERS_NOT_FOUND}</td>
		</tr>
		<!-- END members_not_found -->
	<!-- END members -->
		<tr class="tblfooter">
			<td class="submit"  width="4%" align="center">
			<img src="templates/default/images/arrow_downright.gif" />
			</td>
			<td class="submit" colspan="5">
			<input class="submit" type="submit" name="cmd[mail]" value="{BUTTON_MAIL}"/>
	<!-- BEGIN list -->
			<input class="submit" type="submit" name="cmd[list]" value="{BUTTON_LIST}"/>
	<!-- END list -->
	<!-- BEGIN adopt -->
			<input class="submit" type="submit" name="cmd[adopt]" value="{BUTTON_ADOPT}"/>
	<!-- END adopt -->
			<input class="submit" type="submit" name="cmd[cancel]" value="{BUTTON_CANCEL}"/>
			</td>
		</tr>
	  </table>
	</form>
<!--</div>-->
</td></tr></table>
