<form enctype="multipart/form-data" action="{FORMACTION}" method="post">
<table class="std">
<tr class="tblheader">
	<td class="std" colspan="2">{TXT_IMPORT_TST}</td>
</tr>
<tr>
	<td class="option">{TXT_SELECT_QUESTIONPOOL}</td>
	<td class="option_value">
	<select name="spl">
	<option value="-1">{OPTION_SELECT_QUESTIONPOOL}</option>
<!-- BEGIN option_qpl -->	
	<option value="{OPTION_VALUE}">{TXT_OPTION}</option>
<!-- END option_qpl -->	
	</select>
	</td>
</tr>
<tr>
	<td class="option">{TXT_SELECT_FILE}</td>
	<td class="option_value">
		<input type="file" name="xmldoc" value="{TXT_SAVE}" />
	</td>
</tr>
<tr>
	<td class="submit" align="right" colspan="2">
		<input class="submit" type="submit" name="cmd[{BTN_NAME}]" value="{TXT_UPLOAD}" />
	</td>
</tr>
</table>
</form>
