<form action="{FORMACTION}" name="objectItems" method="post">
<table class="il_InfoScreen">
<tr class="tbltitle">
  <td class="std" colspan="{COLSPAN}">{TXT_TITLE}</td>
</tr>

<tr class="tblheader">
<!-- BEGIN role_infos -->
  <td class="std">
<!-- BEGIN rolelink_open -->
<a href="{LINK_ROLE_RULESET}" alt="{TXT_ROLE_RULESET}" title="{TXT_ROLE_RULESET}">
<!-- END rolelink_open -->
{ROLE_NAME}
<!-- BEGIN rolelink_close -->
</a>
<!-- END rolelink_close -->
<br/><span class="small">{ROLE_CONTEXT_TYPE}<br/>{ROLE_CONTEXT}</span>
  </td>
<!-- END role_infos -->
</tr>

<!-- BEGIN perm_settings -->

<!-- BEGIN perm_subtitle -->
<tr>
  <th class="il_InfoScreen" colspan="{COLSPAN}">
    <div class="il_InfoScreenSection">{TXT_PERM_CLASS} <div style="font-style:italic;font-size:60%">{TXT_PERM_CLASS_DESC}</div></div>
  </th>
</tr>
<!-- END perm_subtitle -->

<tr class="std">
<!-- BEGIN perm_table -->
  <td>
    <table>
<!-- BEGIN perm_item -->
      <tr>
        <td>{PERM_CHECKBOX}</td>
        <td style="font-size:80%"><label for="{PERM_LABEL}" title="{PERM_TOOLTIP}">{PERM_NAME}</label></td>
      </tr>
<!-- END perm_item -->
    </table>
  </td>
<!-- END perm_table -->
</tr>
<!-- END perm_settings -->

<tr class="tblfooter">
  <td class="std" align="right" colspan="{COLSPAN}">
    <input class="submit" type="submit" value="{TXT_SAVE}" />
  </td>
</tr>

</table>
</form>
