<form name="assessment_settings" action="{FORMACTION}" method="POST">
<table class="std">
	<tr class="tblheader">
		<td class="std" colspan="2">{TXT_ASSESSMENT_SETTINGS}</td>
	</tr>
	<tr>
		<td class="option"><label for="chb_assessment_logging">{TXT_ACTIVATE_ASSESSMENT_LOGGING}</label></td>
		<td class="option_value"><input type="checkbox" name="chb_assessment_logging" id="chb_assessment_logging" value="1"{ASSESSMENT_LOGGING_CHECKED} /></td>
	</tr>
	<tr>
		<td class="option"><label for="select_lang">{TXT_REPORTING_LANGUAGE}</label></td>
		<td class="option_value"><select name="reporting_language" id="select_lang">
<!-- BEGIN reporting_lang_row -->
		<option value="{LANG_VALUE}"{LANG_SELECTED}>{LANG_NAME}</option>
<!-- END reporting_lang_row -->		
		</select></td>
	</tr>
	<tr class="tblheader">
		<td class="std" colspan="2">{TXT_ADVANCED_EDITING}</td>
	</tr>
	<tr>
		<td class="option"><label for="html_tags">{TXT_ALLOW_HTML_TAGS}</label></td>
		<td class="option_value">
			<select name="html_tags[]" size="10" multiple>
<!-- BEGIN html_tag_row -->
				<option value="{HTML_TAG}"{HTML_TAG_SELECTED}>{HTML_TAG}</option>
<!-- END html_tag_row -->
			</select>
		</td>
	</tr>
<!-- BEGIN javascript_editor -->
	<tr>
		<td class="option"><label for="javascript_editor">{TXT_ALLOW_JAVASCRIPT_EDITOR}</label></td>
		<td class="option_value"><input type="checkbox" name="javascript_editor" id="javascript_editor" value="1"{CHECKED_JAVASCRIPT_EDITOR} /></td>
	</tr>
<!-- END javascript_editor -->
	<tr class="tablefooter">
	<td class="submit" colspan="2">
		<div align="right">
			<input class="submit" type="SUBMIT" name="cmd[saveSettings]" value="{TXT_SAVE}">
		</div>
	</td>
	</tr>
</table>
</form>
