<h1>{HEADER}</h1>
{LOCATOR}
<table class="fullwidth">
<tr>
	<td width="1%" nowrap="nowrap" valign="top">{COUNT_POST}</td>
	<td align="right">{BUTTONS}</td>
</tr>
</table>
{NO_BTN}
<table class="fullwidth">
<tr>
	<td width="25%" nowrap="nowrap" valign="top">{LINK_SORT}</td>
	<td valign="top">
		<!-- BEGIN linkbar -->
		<table class="std">
		  <tr>
			<td class="std">{LINKBAR}</td>
		  </tr>
		</table>
		<!-- END linkbar -->
	</td>
</tr>
</table>
{MESSAGE}
<!-- BEGIN posttable -->
<table class="fullwidth">
<tr class="tblheader">
  <td class="std" width="25%">{TXT_AUTHOR}</td>
  <td class="std">{TXT_POST}</td>
</tr>
<!-- BEGIN posts_row -->
<tr>
 <td valign="top" width="25%" class="{ROWCOL}">{AUTHOR}<br/><br/>
 <span class="small">{TXT_REGISTERED}: {REGISTERED_SINCE}
 <br/>{TXT_NUM_POSTS}: {NUM_POSTS}</span>
 </td>
 <td class="{ROWCOL}">
 <span class="small">{TXT_CREATE_DATE}: {POST_DATE}</span>
 {SPACER}
 <a name="{POST_ANKER}"></a>{POST}<br/>
 <span class="small">{POST_UPDATE}</span>
 <!-- BEGIN reply_cell -->
 {SPACER}
 <span class="small">[{REPLY_BUTTON}]&nbsp;</span>
 <!-- BEGIN edit_cell -->
 <span class="small">[{EDIT_BUTTON}]&nbsp;</span>
 <!-- END edit_cell -->
  <!-- BEGIN del_cell -->
 <span class="small">[{DEL_BUTTON}]&nbsp;</span>
 <!-- END del_cell -->
 <br/>
 <!-- END reply_cell -->
 <!-- BEGIN kill_cell -->
 <form name="formular2" action="{DEL_FORMACTION}" method="post">
 {KILL_SPACER}<a name="{KILL_ANKER}"></a>
 <p class="warning">{TXT_KILL}</p>
 <input class="submit" type="submit" name="cancel" value="{CANCEL_BUTTON}"/>
 &nbsp;&nbsp;
 <input class="submit" type="submit" name="confirm" value="{CONFIRM_BUTTON}"/>
 </form>
 <br/>
 <!-- END kill_cell -->
 <!-- BEGIN reply_post -->
<a name="{REPLY_ANKER}"></a>
<table class="std">
	<tr>
		<td>
			<br/><p><b>{TXT_FORM_HEADER}</b></p>
			<form name="formular1" action="{FORMACTION}" method="post" onSubmit="return isEmpty(this, 'all', '')">
			<table class="std">
			<tr>
			    <td valign="top">
				<textarea id="{TXT_FORM_MESSAGE}" name="formData[message]" cols="50" rows="15" wrap=virtual style="width:550px; height=250px">{FORM_MESSAGE}</textarea></td>
			</tr>
			<tr>
			    <td align="right" nowrap="nowrap"><input class="submit" type="submit" name="SUB" value="{SUBMIT}"/>&nbsp;&nbsp;<input class="submit" type="Reset" value ="{RESET}"/></td>
			</tr>
			</table>
			</form>
		</td>
	</tr>
</table>
<!-- END reply_post -->
 </td> 
</tr>
<!-- END posts_row -->
<!-- BEGIN posts_no -->
<tr>
 <td colspan="2">{TXT_MSG_NO_POSTS_AVAILABLE}</td>
</tr>
<!-- END posts_no -->
</table>
<!-- END posttable -->