<h2>{TXT_HEADER_PROFILE}</h2>
<p>{TXT_EXPLANATION_PROFILE}</p>
<form name="frm_global_user_settings" action="{FORMACTION}" method="post">
<table class="std">
<tr class="tblheader">
	<td class="std">{HEADER_PROFILE_DATA}</td>
	<td class="std">{HEADER_VISIBLE}</td>
	<td class="std">{HEADER_ENABLED}</td>
	<td class="std">{HEADER_SEARCH}</td>
	<td class="std">{HEADER_REQUIRED}</td>
	<td class="std">{HEADER_EXPORT}</td>
	<td class="std">{HEADER_DEFAULT_VALUE}</td>
</tr>
<!-- BEGIN profile_settings -->
<tr>
	<td class="option">{TXT_PROFILE_DATA}</td>
	<td class="option_value"><div style="text-align:center"><input type="checkbox" name="chb[{PROFILE_OPTION_VISIBLE}]" value="1"{CHECKED_VISIBLE}{DISABLE_VISIBLE}/></div></td>
	<td class="option_value"><div style="text-align:center"><input type="checkbox" name="chb[{PROFILE_OPTION_ENABLED}]" value="1"{CHECKED_ENABLED}{DISABLE_ENABLED}/></div></td>
	<td class="option_value"><div style="text-align:center">{CHECK_SEARCH}</td>	  
	<td class="option_value"><div style="text-align:center"><input type="checkbox" name="chb[{PROFILE_OPTION_REQUIRED}]" value="1"{CHECKED_REQUIRED}{DISABLE_REQUIRED}/></div></td>
	<td class="option_value"><!-- BEGIN show_export_checkbox --><div style="text-align:center"><input type="checkbox" name="chb[{PROFILE_OPTION_EXPORT}]" value="1"{CHECKED_EXPORT}{DISABLE_EXPORT}/></div><!-- END show_export_checkbox --></td>
	<td class="option_value">
<!-- BEGIN default_value -->
            <select name="select[{PROFILE_OPTION_DEFAULT_VALUE}]">
<!-- BEGIN default_value_option -->
                <option value="{OPTION_VALUE}" {OPTION_SELECTED}>{OPTION_TEXT}</option>
<!-- END default_value_option -->
            </select>
<!-- END default_value -->	
        </td>
</tr>
<!-- END profile_settings -->
<tr class="tblfooter">
	<td colspan="7"><div align="right"><input class="submit" type="submit" name="cmd[saveGlobalUserSettings]" value="{TXT_SAVE}" /></div></td>
</tr>
</table>
</form>

