{LOCATOR}

<table WIDTH="100%" CELLPADDING=0 CELLSPACING=0 BORDER=0>
<tr>
	<!-- BEGIN form_feedback -->
	<td nowrap><b>{TXT_FORM_FEEDBACK}</b></td>
	<!-- END form_feedback -->
	<td width="100%" align=right>{BUTTONS}</td>
</tr>
</table>

{NO_BTN}

<table width="100%" cellpadding=3 cellspacing=1 border=0>
<tr>
	<td width=20% nowrap valign=top>{LINK_SORT}</td>	
	<td valign=top>
		<!-- BEGIN linkbar -->
		<table cellpadding=3 cellspacing=1 border=0>
		<tr><td>{LINKBAR}</td></tr>
		</table>
		<!-- END linkbar -->
	</td>	
</tr>
</table>

{MESSAGE}

<!-- BEGIN posttable -->
<table WIDTH="100%" CELLPADDING=3 CELLSPACING=1 BORDER=0>

<tr class="tblheader" VALIGN="top">  
  <td width=20%><b>{TXT_AUTHOR}</b></td>
  <td><b>{TXT_POST}</b></td>  
</tr>

<!-- BEGIN posts_row -->
<tr>
 <td width=20% valign=top class="{ROWCOL}">{AUTHOR}<br>{POST_DATE}<br>{POST_UPDATE}</td>
 <td valign=top class="{ROWCOL}"><a name="{POST_ANKER}"></a>{POST}<br>
 <!-- BEGIN reply_cell -->
 {SPACER}
 <div align='left'>&nbsp;<b>></b>{REPLY_BUTTON}</div><br>
 <!-- END reply_cell -->
 
 <!-- BEGIN reply_post -->
<a name="{FORM_ANKER}"></a>
<table cellpadding=3 cellspacing=1 border=0>
	<tr>
		<td valign=top>
			<br><p><b>{TXT_FORM_HEADER}</b></p>
			<form name="formular1" action="{FORMACTION}" method="post" onSubmit="return isEmpty(this, 'all', '')">
			
			<table cellspacing=0 cellpadding=3 border=0>		
			<tr>			    
			    <td valign=top>
				<textarea id="{TXT_FORM_MESSAGE}" name="formData[message]" cols="50" rows="15" wrap=virtual style="width:550px; height=250px">{FORM_MESSAGE}</textarea></td>
			</tr>
			<tr>			    
			    <td nowrap><input type="submit" name="SUB" value="{SUBMIT}">&nbsp;&nbsp;<input type="Reset" value ="{RESET}"></td>
			</tr>
			</table>
			</form>
			
		</td>
	</tr>
</table>
<!-- END reply_post -->
 
 </td> 
</tr>
<!-- END posts_row -->

<!-- BEGIN posts_no -->
<tr>
 <td COLSPAN=2>{TXT_MSG_NO_POSTS_AVAILABLE}</td>
</tr>
<!-- END posts_no -->
</table>
<!-- END posttable -->
