<form action="{FORMACTION}" method="post">
<table class="std">
<tr class="tblheader">
	<td class = "std" colspan="2">{TXT_BENCH_SETTINGS}</td>
</tr>
<tr>
	<td class = "option">{TXT_ACTIVATION}</td>
	<td class = "option_value"><input type="checkbox" name="activate" value="y" {ACT_CHECKED}></td>
</tr>
<tr>
	<td class = "option">{TXT_CUR_RECORDS}</td>
	<td class = "option_value">{VAL_CUR_RECORDS}</td>
</tr>
<tr>
	<td class = "option">{TXT_MAX_RECORDS}</td>
	<td class = "option_value"><input name="max_records" value="{VAL_MAX_RECORDS}" type="input" maxlength="8" size="8"></td>
</tr>
<tr>
	<td class="submit" colspan="2">
	<input class="submit" type="submit" name="cmd[saveBenchSettings]" value="{TXT_SAVE}"/>
	<input class="submit" type="submit" name="cmd[clearBench]" value="{TXT_CLEAR}"/>
	</td>
</tr>
</table>
<br />

<!-- BEGIN eval_table -->
<table class="std">
<tr class="tblheader">
	<td class = "std" colspan="3">{SELECT_MODULE} <input class="submit" type="submit" name="cmd[switchBenchModule]" value="{TXT_SHOW}"/></td>
</tr>
<tr class="tblheader">
	<td class="std">{TXT_BENCH}</td>
	<td class="std">{TXT_NUMBER_RECORDS}</td>
	<td class="std">{TXT_AVG_TIME}</td>
</tr>
<!-- BEGIN eval_row -->
<tr class="{ROWCOL}">
	<td class="std">{VAL_BENCH}</td>
	<td class="std">{VAL_NUMBER_RECORDS}</td>
	<td class="std">{VAL_AVG_TIME}</td>
</tr>
<!-- END eval_row -->
</table>
<!-- END eval_table -->
</form>
