<style>
body { margin:15px; }
</style>

<div class="il_Header"><h1><img border="0" src="{IMG_USER}" style="vertical-align:middle" />&nbsp;{TXT_PAGEHEADLINE}</h1></div>
<div align="center">
<p>{TXT_WELCOME}<br/>{TXT_REGISTERED}</p>
<!-- BEGIN activation -->
<form action="{FORMACTION}" {TARGET} method="post">
<input type="hidden" name="password" value="{PASSWORD}"/>
<input type="hidden" name="username" value="{USERNAME}"/>
<input class="submit" type="submit" value="{TXT_LOGIN}"/>
</form>
<!-- END activation -->
</div>

