<table class="std">
<tr class="tblheader">
  <td class="std" colspan="2">{USR_PROFILE}</td>
</tr>
<tr>
	<td valign="top" class="{ROWCOL1}">{TXT_NAME}:&nbsp;</td>
	<td valign="top" class="{ROWCOL1}">{FIRSTNAME}&nbsp;{LASTNAME}</td>
</tr>
<tr>

	<td valign="top" class="{ROWCOL1}">{TXT_IMAGE}</td>
	<td valign="top" class="{ROWCOL1}"><img src="{IMAGE_PATH}" /></td>
</tr>
<tr>
	<td valign="top" class="{ROWCOL2}">{TXT_INSTITUTION}:&nbsp;</td>
	<td valign="top" class="{ROWCOL2}">{INSTITUTION}</td>
</tr>
<tr>
	<td valign="top" class="{ROWCOL2}">{TXT_DEPARTMENT}:&nbsp;</td>
	<td valign="top" class="{ROWCOL2}">{DEPARTMENT}</td>
</tr>
<tr>
	<td valign="top" class="{ROWCOL1}">{TXT_STREET}:&nbsp;</td>
	<td valign="top" class="{ROWCOL1}">{STREET}</td>
</tr>
<tr>
	<td valign="top" class="{ROWCOL2}">{TXT_ZIPCODE}:&nbsp;</td>
	<td valign="top" class="{ROWCOL2}">{ZIPCODE}</td>
</tr>
<tr>
	<td valign="top" class="{ROWCOL1}">{TXT_CITY}:&nbsp;</td>
	<td valign="top" class="{ROWCOL1}">{CITY}</td>
</tr>
<tr>
	<td valign="top" class="{ROWCOL2}">{TXT_COUNTRY}:&nbsp;</td>
	<td valign="top" class="{ROWCOL2}">{COUNTRY}</td>
</tr>
<tr>
	<td valign="top" class="{ROWCOL1}">{TXT_PHONE_OFFICE}:&nbsp;</td>
	<td valign="top" class="{ROWCOL1}">{PHONE_OFFICE}</td>
</tr>
<tr>
	<td valign="top" class="{ROWCOL1}">{TXT_PHONE_HOME}:&nbsp;</td>
	<td valign="top" class="{ROWCOL1}">{PHONE_HOME}</td>
</tr>
<tr>
	<td valign="top" class="{ROWCOL1}">{TXT_PHONE_MOBILE}:&nbsp;</td>
	<td valign="top" class="{ROWCOL1}">{PHONE_MOBILE}</td>
</tr>
<tr>
	<td valign="top" class="{ROWCOL1}">{TXT_FAX}:&nbsp;</td>
	<td valign="top" class="{ROWCOL1}">{FAX}</td>
</tr>
<tr>
	<td valign="top" class="{ROWCOL2}">{TXT_EMAIL}:&nbsp;</td>
	<td valign="top" class="{ROWCOL2}">{EMAIL}</td>
</tr>
<tr>
	<td valign="top" class="{ROWCOL1}">{TXT_HOBBY}:&nbsp;</td>
	<td valign="top" class="{ROWCOL1}">{HOBBY}</td>
</tr>
<tr>
	<td valign="top" > <BR> </td>

</tr>
</table>
