<br />
<form action="{FORMACTION_CLONE}" method="post">
<table class="std" width="60%">
	<tr class="tblheader">
		<th class="std" colspan="2">
			<img src="{TYPE_IMG3}" style="vertical-align:middle;" alt="{ALT_IMG3}" title="{ALT_IMG3}" border="0" vspace="0" />
			{TXT_DUPLICATE}
		</th>
	</tr>
	<tr>
		<td class="option">{WIZARD_TXT_SELECT}</td>
		<td class="option_value">
			  {WIZARD_OBJS}
		</td>
	</tr>
	<tr>
		<td class="submit" align="right" colspan="2">
			<input class="submit" type="submit" name="cmd[{CMD_WIZARD}]" value="{BTN_WIZARD}" />
			<input class="submit" type="submit" name="cmd[cancel]" value="{WIZARD_TXT_CANCEL}" />
		</td>
	</tr>
</table>
</form>