<h2>{TXT_AVAILLANG}</h2>
<p></p>

{BUTTONS}

{MESSAGE}

<form name="formmsg" action="{FORMACTION}" method="post">
<input type="hidden" name="cmd">
<table width="500" cellpadding="2" cellspacing="0" border="0">
<tr  class="tblheader" >
  <td><b>&nbsp;{TXT_LANG}&nbsp;</b></td>
  <td><b>&nbsp;{TXT_STATUS}&nbsp;</b></td>
  <td><b>&nbsp;{TXT_LASTCHANGE}&nbsp;</b></td>
</tr>

<!-- BEGIN language_row -->
<tr class="{ROWCOL}">
  <td><font size=-1>&nbsp;{LNG}&nbsp;</font></td>
  <td><a href="{LINK}">&nbsp;{STATUS}&nbsp;</a></td>
  <td><font size=-1>&nbsp;{LASTCHANGE}</font></td>
</tr>
<!-- END language_row -->

</table>
<br>
</form>