<tr class="{ROW_CSS}">
  <td class="std" valign="top">
  {VAL_CHKBOX}
  <input type="hidden" name="id[{VAL_ID}]" value = "1" />
  </td>
  <td class="std" valign="top">
  <img border="0" src="{USR_IMAGE}" title="{USR_ALT}" alt="{USR_ALT}" style="vertical-align:text-bottom" />
  </td>
  <td class="std" valign="top">
  {TXT_NAME}
  </td>
  <td class="std" valign="top">
  {TXT_LOGIN}
  </td>
  <td class="std" valign="top">
  <span class="small">{TXT_MAIL_SENT}</span>
  </td>
  <td class="std" valign="top">
  <span class="small">{TXT_LAST_SUBMISSION}: {VAL_LAST_SUBMISSION}<br />
  {TXT_SUBMITTED_FILES}: {VAL_SUBMITTED_FILES} &nbsp;&nbsp;&nbsp;</span>
  <!-- BEGIN download_link -->
  <a class="il_ContainerItemCommand" href="{LINK_DOWNLOAD}">{TXT_DOWNLOAD}</a>
  <!-- END download_link -->
  <div style="margin: 2px 0px 0px 0px">
  <span class="small">
  {TXT_NOTE}: <input type="text" name="{NAME_NOTE}" value="{VAL_NOTE}" size="40" maxlength="200" />
  </span>
  </div>
  </td>
  <td class="std" valign="top">
  {CHKBOX_SOLVED}<br />
  <span class="small">{VAL_SOLVED_DATE}</span>
  </td>
  <td class="std" valign="top">
  <a class="il_ContainerItemCommand" target="_blank" href="{LINK_FEEDBACK}">{TXT_FEEDBACK}</a>
  </td>
  	<!--<input type="text" name="{ROW_INPUT_NAME}" value="{ROW_INPUT_VALUE}" size="40" maxlength="200" />-->
</tr>