<tr>
        <td valign="top" class="{ROWCOL}" nowrap="nowrap">
                <a href="{LINK}" target="{LINK_TARGET}">{TITLE}</a>
		&nbsp;
                <!-- BEGIN exc_edit -->
                [<a href="{EDIT_LINK}">{TXT_EDIT}</a>]	
                <!-- END exc_edit -->
                <!-- BEGIN exc_delete -->
                [<a href="{DELETE_LINK}">{TXT_DELETE}</a>]
                <!-- END exc_delete -->
                <!-- BEGIN exc_link -->
                [<a href="{LINK_LINK}">{TXT_LINK}</a>]
                <!-- END exc_link -->
                <!-- BEGIN exc_cut -->
                [<a href="{CUT_LINK}">{TXT_CUT}</a>]
                <!-- END exc_cut -->
                <!-- BEGIN exc_desklink -->
                [<a href="{TO_DESK_LINK}">{TXT_TO_DESK}</a>]
                <!-- END exc_desklink -->
                <div class="il_Description">{DESCRIPTION}</div>
        </td>
        <td valign="top" class="{ROWCOL}">{OWNER}</td>
</tr>
