<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
	"http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>ILIAS 3</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<link rel="stylesheet" type="text/css" href="{LOCATION_STYLESHEET}" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>
<script language="JavaScript" type="text/javascript">
<![CDATA[
<!--
function popup_window(url, x1, x2, y1, y2)
{
var xpos;
xpos = screen.availWidth / 100 * x1;
ypos = screen.availHeight / 100 * y1;
xwidth = (screen.availWidth / 100 * (x2 - x1)) - 5;
yheight = (screen.availHeight / 100 * (y2 - y1)) - 30;
window.open(url,"list","height=" + yheight + ",width=" + xwidth + ",left=" +xpos + ",ScreenX=" + xpos + ",ScreenY=" + ypos + ",top=" + ypos + ",resizable=yes,menubar=no,status=no,directories=no,toolbar=no,scrollbars=yes");
return false;
}
//-->
]]>
</script>

{PAGECONTENT}

</body>
</html>