<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>{WINDOW_TITLE} {PAGETITLE}</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-language" content="{META_CONTENT_LANGUAGE}" />
	<!-- BEGIN mh_meta_item -->
	<meta name="{MH_META_NAME}" lang="{MH_META_LANG}" content="{MH_META_CONTENT}" />
	<!-- END mh_meta_item -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_STYLESHEET}" />
	<!-- <link rel="P3Pv1" href="{LOCATION_P3PFILE}" /> -->
	{LOCATION_NEWCONTENT_STYLESHEET_TAG}
	<!-- BEGIN AdditionalStyle -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_ADDITIONAL_STYLESHEET}" />
	<!-- END AdditionalStyle -->
	<!-- BEGIN generic_css -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_GENERIC_STYLESHEET}" media="{MEDIA_GENERIC_STYLESHEET}" />
	<!-- END generic_css -->
	<!-- BEGIN ContentStyle -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_CONTENT_STYLESHEET}" />
	<!-- END ContentStyle -->
	<!-- BEGIN SyntaxStyle -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_SYNTAX_STYLESHEET}" />
	<!-- END SyntaxStyle -->
	<!-- BEGIN ChatStyle -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_CHAT_STYLESHEET}" />
			{EXPIRES}
	<!-- END ChatStyle -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<!-- BEGIN css_file -->
	<link rel="stylesheet" type="text/css" href="{CSS_FILE}" media="{CSS_MEDIA}" />
	<!-- END css_file -->
	<!-- BEGIN js_file -->
	<script type="text/javascript" src="{JS_FILE}"></script>
	<!-- END js_file -->
	{SESSION_REMINDER}
<!-- BEGIN HeadContent -->
{CONTENT_BLOCK}
<!-- END HeadContent -->
<!-- BEGIN CalendarJS -->
<style type="text/css">@import url({LOCATION_JAVASCRIPT_CALENDAR_STYLESHEET});</style>
<script type="text/javascript" src="{LOCATION_JAVASCRIPT_CALENDAR}"></script>
{CALENDAR_LANG_JAVASCRIPT}
<script type="text/javascript" src="{LOCATION_JAVASCRIPT_CALENDAR_SETUP}"></script>
<!-- END CalendarJS -->
</head>
<body <!-- BEGIN body_class -->class="{BODY_CLASS}" <!-- END body_class --> {BODY_ATTRIBUTES}>
{CONTENT}
</body>
</html>
