<div class="il_ContainerListItem">
<!-- BEGIN command_block -->
<div style="float:right;">
<!-- BEGIN payment -->
<div style="text-align: right;"><img src="{PAYMENT_TYPE_IMG}" alt="{PAYMENT_ALT_IMG}" title="{PAYMENT_ALT_IMG}" border="0" /></div>
<!-- END payment -->
<div class="il_ContainerItemCommands2">
<!-- BEGIN item_command -->
<a class="il_ContainerItemCommand2" href="{HREF_COMMAND}" <!-- BEGIN item_frame -->target="{TARGET_COMMAND}"<!-- END item_frame --> >{TXT_COMMAND}</a>
<!-- END item_command -->
</div>
</div>
<!-- END command_block -->
<div>
<!-- BEGIN item_title -->
<span class="il_ContainerItemTitle">{TXT_TITLE}</span>
<!-- END item_title -->
<!-- BEGIN item_title_linked -->
<a href="{HREF_TITLE_LINKED}" class="il_ContainerItemTitle" <!-- BEGIN title_linked_frame -->target="{TARGET_TITLE_LINKED}"<!-- END title_linked_frame --> >{TXT_TITLE_LINKED}</a>
<!-- END item_title_linked -->
</div>
<!-- BEGIN item_description -->
<div class="il_Description">{TXT_DESC}</div>
<!-- END item_description -->
<!-- BEGIN item_properties -->
<div class="il_ItemProperties">
<!-- BEGIN item_property -->
<!-- BEGIN newline_prop --><br /><!-- END newline_prop -->
<span 	<!-- BEGIN std_prop -->class="il_ItemProperty"<!-- END std_prop -->
		<!-- BEGIN alert_prop -->class="il_ItemAlertProperty"<!-- END alert_prop -->>
<!-- BEGIN prop_name -->{TXT_PROP}:<!-- END prop_name --><!-- BEGIN linked_prop --><a href="{LINK_PROP}">{LINK_VAL_PROP}</a><!-- END linked_prop --><!-- BEGIN text_prop -->{VAL_PROP}<!-- END text_prop --></span> {VAL_PROP}&nbsp;&nbsp;</span>
<!-- END item_property -->
</div>
<!-- END item_properties -->
<!-- BEGIN path -->
<div class="il_ItemProperties">
<!-- BEGIN path_item -->
{SEPARATOR} {PATH_ITEM}
<!-- END path_item -->
</div>
<!-- END path -->
<!-- BEGIN notice_property -->
<div class="il_ItemNotice">
<!-- BEGIN notice_item -->
{NOTICE_ITEM_VALUE}<br />
<!-- END notice_item -->
</div>
<!-- END notice_property -->
<!-- BEGIN preconditions -->
<div class="il_Preconditions">
{TXT_PRECONDITIONS}:</div>
<!-- BEGIN precondition -->
<div style="margin-left:40px">{TRIGGER_ITEM}</div>
<!-- END precondition -->
<!-- END preconditions -->
</div>
