<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
	"http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>ILIAS 3</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<link rel="stylesheet" type="text/css" href="{LOCATION_STYLESHEET}" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>

<style type="text/css">
body { margin:0px; }
</style>

<script type="text/javascript" src="{TPLPATH}/buttons.js">
</script>

<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr class="btnbar">
  <td width="1%" height="1"></td>
  <td width="59%" height="1"></td>
  <td width="39%" height="1"></td>
  <td width="1%" height="1"></td>
</tr>
<tr class="btnbar">
  <td><img src="{TPLPATH}/images/spacer.gif" border="0" width="10" height="1" /></td>
  <td width="100%">
    <table cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td colspan="6"><img border="0" src="{TPLPATH}/images/spacer.gif" width="1" height="4" /></td>
    </tr>
    <tr>
      <td><a href="usr_personaldesktop.php" target="bottom" onmouseover="swtchon(11,desk,'{TXT_PERSONAL_DESKTOP}');return true;" onmouseout="swtch(0,desk)">
	    <img border="0" src="{TPLPATH}/images/navbar/desk.gif" width="32" height="32" alt="{TXT_PERSONAL_DESKTOP}" title="{TXT_PERSONAL_DESKTOP}" name="desk" /></a>
	  </td>
      <td><img border="0" src="{TPLPATH}/images/spacer.gif" width="5" /></td>
      <td><a href="lo.php" target="bottom" onmouseover="swtchon(12,courses,'{TXT_LO_OVERVIEW}');return true;" onmouseout="swtch(1,courses)">
	    <img border="0" src="{TPLPATH}/images/navbar/course.gif" width="32" height="32" alt="{TXT_LO_OVERVIEW}" title="{TXT_LO_OVERVIEW}" name="courses" /></a></td>
      <td><img border="0" src="{TPLPATH}/images/spacer.gif" width="5" /></td>

<!-- buttons disabled

      <td><a href="bookmarks.php" target="bottom" onmouseover="swtchon(13,bookmarks,'{TXT_BOOKMARKS}');return true;" onmouseout="swtch(2,bookmarks)">
	    <img border="0" src="{TPLPATH}/images/navbar/bookma.gif" width="32" height="32" alt="{TXT_BOOKMARKS}" title="{TXT_BOOKMARKS}" name="bookmarks" /></a></td>
      <td><img border="0" src="{TPLPATH}/images/spacer.gif" width="5" /></td>
      <td><a href="search.php?act=index_suche&co_id=&co_inst=&lowcat=" target="bottom" onmouseover="swtchon(14,srch,'{TXT_SEARCH}');return true;" onmouseout="swtch(3,srch)">
	    <img border="0" src="{TPLPATH}/images/navbar/search.gif" width="32" height="32" alt="{TXT_SEARCH}" title="{TXT_SEARCH}" name="srch" /></a></td>
      <td><img border="0" src="{TPLPATH}/images/spacer.gif" width="5" /></td>
      <td><a href="literature.php?act=&amp;back=index.php" target="bottom" onmouseover="swtchon(15,literat,'{TXT_LITERATURE}');return true;" onmouseout="swtch(4,literat)">
	    <img border="0" src="{TPLPATH}/images/navbar/literat.gif" width="32" height="32" alt="{TXT_LITERATURE}" title="{TXT_LITERATURE}" name="literat" /></a></td>
      <td><img border="0" src="{TPLPATH}/images/spacer.gif" width="5" /></td>
      <td><a href="mail.php" target="bottom" onmouseover="swtchon(16,mail,'{TXT_MAIL}');return true;" onmouseout="swtch(5,mail)">
	    <img border="0" src="{TPLPATH}/images/navbar/mail.gif" width="32" height="32" alt="{TXT_MAIL}" title="{TXT_MAIL}" name="mail" /></a></td>
      <td><img border="0" src="{TPLPATH}/images/spacer.gif" width="5" /></td>
-->

      <td><a href="forums.php" target="bottom" onmouseover="swtchon(17,newsgr,'{TXT_FORUMS}');return true;" onmouseout="swtch(6,newsgr)">
	    <img border="0" src="{TPLPATH}/images/navbar/newsgr.gif" width="32" height="32" alt="{TXT_FORUMS}" title="{TXT_FORUMS}" name="newsgr" /></a></td>
      <td><img border="0" src="{TPLPATH}/images/spacer.gif" width="5" /></td>


<!-- buttons disabled
      <td><a href="groups.php" target="bottom" onmouseover="swtchon(18,groups,'{TXT_GROUPS}');return true;" onmouseout="swtch(7,groups)">
	    <img border="0" src="{TPLPATH}/images/navbar/groups.gif" width="32" height="32" alt="{TXT_GROUPS}" title="{TXT_GROUPS}" name="groups" /></a></td>

<!-- BEGIN userisauthor -->
      <td><img border="0" src="{TPLPATH}/images/spacer.gif" width="5" /></td>
      <td><a href="editor.php" target="bottom" onmouseover="swtchon(25,editor,'{TXT_EDITOR}');return true;" onmouseout="swtch(24,editor)">
	    <img border="0" src="{TPLPATH}/images/navbar/editor.gif" width="32" height="32" alt="{TXT_EDITOR}" title="{TXT_EDITOR}" name="editor" /></a></td>
<!-- END userisauthor -->
-->

<!-- BEGIN userisadmin -->
      <td><img border="0" src="{TPLPATH}/images/spacer.gif" width="5" /></td>
      <td><a href="admindex.php" target="bottom" onmouseover="swtchon(27,admin,'{TXT_ADMINISTRATION}');return true;" onmouseout="swtch(26,admin)">
	    <img border="0" src="{TPLPATH}/images/navbar/admin.gif" width="32" height="32" alt="{TXT_ADMINISTRATION}" title="{TXT_ADMINISTRATION}" name="admin" /></a></td>
<!-- END userisadmin -->
    </tr>
    <tr>
      <td colspan="6"><img border="0" src="{TPLPATH}/images/layout/kopf1h.gif" width="1" height="5"</></td>
    </tr>
    </table>
  </td>
  <td align="right">
    <table cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td><img  border="0" src="{TPLPATH}/images/spacer.gif" width="5" /></td>
      <td><a href="help.php" target="bottom" onmouseover="swtchon(19,help,'{TXT_HELP}');return true;" onmouseout="swtch(8,help)" target="_iliashelp">
	    <img  border="0" src="{TPLPATH}/images/navbar/help.gif" width="32" height="32" alt="{TXT_HELP}" title="{TXT_HELP}" name="help" /></a></td>
      <td><img  border="0" src="{TPLPATH}/images/spacer.gif" width="5" /></td>
      <td><a href="feedback.php" target="bottom" onmouseover="swtchon(20,feed,'{TXT_FEEDBACK}');return true;" onmouseout="swtch(9,feed)">
	    <img  border="0" src="{TPLPATH}/images/navbar/feedb.gif" width="32" height="32" alt="{TXT_FEEDBACK}" title="{TXT_FEEDBACK}" name="feed" /></a></td>
      <td><img  border="0" src="{TPLPATH}/images/spacer.gif" width="5" /></td>
      <td><a href="logout.php" target="_top" onmouseover="swtchon(21,logout,'{TXT_LOGOUT}');return true;" onmouseout="swtch(10,logout)">
	    <img  border="0" src="{TPLPATH}/images/navbar/logout.gif" width="32" height="32" alt="{TXT_LOGOUT}" title="{TXT_LOGOUT}" name="logout" /></a></td>
      <td><img  border="0" src="{TPLPATH}/images/spacer.gif" width="5" /></td>
      <td><a href="http://www.ilias.uni-koeln.de" target="_blank" onmouseover="window.status='ILIAS open source - Homepage';return true;" onmouseout="window.status='';">
	    <img  border="0" src="{TPLPATH}/images/navbar/ilias.gif" width="32" height="32" alt="ILIAS open source - Homepage" title="ILIAS open source - Homepage" /></a></td>
      <td><small>&nbsp;</small></td>
    </tr>
    </table>
  </td>
  <td class="btnbar"><small>&nbsp;</small></td>
</tr>
</table>
</body>
</html>