<table class="il_PDBlock">
	<tr>
		<td class="il_PDBlockHeader">
		{TXT_BM_HEADER}
		<div class="il_ContainerItemCommands" style="float:right;"><a href="{LINK_BKM_MODE}"><img src="{IMG_BKM_TREE}" border="0" hspace="0" align="middle"></a>&nbsp;<a class="il_ContainerItemCommand" href="{LINK_BKM_DETAILS}">{TXT_BKM_DETAILS}</a></div>
		</td>
	</tr>
	<tr>
	<td class="tblrow1">
		{EXPLORER}
	</td>
	</tr>
<!-- BEGIN tbl_no_bm -->
  <tr class="{ROWCOL}">
    <td class="std">{TXT_NO_BM}</td>
  </tr>
<!-- END tbl_no_bm -->
</table>

