<style>
body { margin:0px;}
</style>

<script type="text/javascript">
<!--
if (document.images)
{
	var path = "./templates/default/images/navbar/";

	imag = new Array();
	imag[0]  = "{IMG_DESK}";
	imag[1]  = "{IMG_CATALOG}";
	imag[2]  = "{IMG_BOOKMA}";
	imag[3]  = "{IMG_SEARCH}";
	imag[4]  = "{IMG_LITERAT}";
	imag[5]  = "{IMG_MAIL}";
	imag[6]  = "{IMG_FORUMS}";
	imag[7]  = "{IMG_GROUPS}";
	imag[8]  = "{IMG_HELP}";
	imag[9]  = "{IMG_FEEDB}";
	imag[10] = "{IMG_LOGOUT}";
	imag[11] = "{IMG_DESK_O}";
	imag[12] = "{IMG_CATALOG_O}";
	imag[13] = "{IMG_BOOKMA_O}";
	imag[14] = "{IMG_SEARCH_O}";
	imag[15] = "{IMG_LITERAT_O}";
	imag[16] = "{IMG_MAIL_O}";
	imag[17] = "{IMG_FORUMS_O}";
	imag[18] = "{IMG_GROUPS_O}";
	imag[19] = "{IMG_HELP_O}";
	imag[20] = "{IMG_FEEDB_O}";
	imag[21] = "{IMG_LOGOUT_O}";
	imag[22] = "{IMG_LOGIN}";
	imag[23] = "{IMG_LOGIN_O}";
	imag[24] = "{IMG_EDITOR}";
	imag[25] = "{IMG_EDITOR_O}";
	imag[26] = "{IMG_ADMIN}";
	imag[27] = "{IMG_ADMIN_O}";
	imag[28] = "{IMG_DP}";
	imag[29] = "{IMG_DP_O}";

	im = new Array();

	for (var i = 0; i < imag.length; i++)
	{
		im[i] = new Image();
		im[i].src = imag[i];
	}

	function swtch(num,imgname)
	{
		imgname.src = im[num].src;
		window.status = '';
	}

	function swtchon(num,imgname,text)
	{
		imgname.src = im[num].src;
		window.status = text;
	}
}
//-->
</script>

<div class="ilMainHeader">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
	<td width="20" height="5">
		<img class="spacer" src="{IMG_SPACE}" border="0" width="20" height="5" />
	</td>
	<td height="5"><img class="spacer" src="{IMG_SPACE}" border="0" width="20" height="5" /></td>
	<td height="5"><img class="spacer" src="{IMG_SPACE}" border="0" width="20" height="5" /></td>
	<td width="20" height="5">
		<img class="spacer" src="{IMG_SPACE}" border="0" width="20" height="5" />
	</td>
</tr>
<tr>
	<td><img class="spacer" src="{IMG_SPACE}" border="0" width="20" height="1" /></td>
	<td valign="top">
		<table cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td rowspan="2"><img style="vertical-align:bottom;" width="60" height="60" border="0" src="{HEADER_ICON}"></td>
			<td rowspan="2"><img class="spacer" src="{IMG_SPACE}" border="0" width="20" height="5" /></td>
			<td nowrap="1"><div class="il_PDTitle">{TXT_HEADER_TITLE}</div></td>
		</tr>
		<tr><td valign="bottom" nowrap="1">
		<div class="il_Tab">
<!-- BEGIN desktopbutton -->
		<a class="ilMainHeader" href="{SCRIPT_DESK}" target="{TARGET_DESK}">{TXT_PERSONAL_DESKTOP}</a>
<!-- END desktopbutton -->
		<a class="ilMainHeader" href="{SCRIPT_CATALOG}" target="{TARGET}">{TXT_CATALOG}</a>
<!-- BEGIN searchbutton -->
		<a class="ilMainHeader" href="{SCRIPT_SEARCH}" target="{TARGET_SEARCH}">{TXT_SEARCH}</a>
<!-- END searchbutton -->
<!-- BEGIN mailbutton -->
		<a class="ilMainHeader" href="{SCRIPT_MAIL}" target="{TARGET_MAIL}">{TXT_MAIL}</a>
<!-- END mailbutton -->
<!-- BEGIN userisadmin -->
		<a class="ilMainHeader" href="{SCRIPT_ADMIN}" target="{TARGET_ADMIN}">{TXT_ADMINISTRATION}</a>
<!-- END userisadmin -->
		</div>
		</td></tr>
		</table>
	</td>
	<!-- BEGIN userisanonymous -->
	<td align="right" nowrap="nowrap">
	<div class="ilLogin">
	<span class="il_menu">{TXT_NOT_LOGGED_IN}!</span>
	<br/>
	<a href="index.php?cmd=login" target="_top">{TXT_LOGIN}</a>
	<!-- BEGIN registration_link -->
	<span class="il_menu">&nbsp;|&nbsp;</span>
	<a href="{LINK_REGISTER}" target="bottom">{TXT_REGISTER}</a>
	<!-- END registration_link -->
	</div>
	</td>
	<!-- END userisanonymous -->
	<!-- BEGIN userisloggedin -->
	<td align="right" nowrap="nowrap">
	<div class="ilLogin">
	{TXT_LOGIN_AS} {USERNAME}<br/><a href="{LINK_LOGOUT2}" target="_top">{TXT_LOGOUT2}</a>
	</div>
	</td>
	<!-- END userisloggedin -->
	<td><img class="spacer" src="{IMG_SPACE}" border="0" width="20" height="1" /></td>
	</tr>
	<tr>
	<td width="20" height="5">
		<img class="spacer" src="{IMG_SPACE}" border="0" width="20" height="5" />
	</td>
	<td height="5"><img class="spacer" src="{IMG_SPACE}" border="0" width="20" height="5" /></td>
	<td height="5"><img class="spacer" src="{IMG_SPACE}" border="0" width="20" height="5" /></td>
	<td width="20" height="5">
		<img class="spacer" src="{IMG_SPACE}" border="0" width="20" height="5" />
	</td>
	</tr>
</table>
</div>
