	<form action="{FORMACTION}" method="post">
	  <table class="fullwidth">
		  <tr class="tblheader">
			<!-- BEGIN table_header -->
			<td class="std">{TEXT}</td>
			<!-- END table_header -->
		  </tr>
		  <!-- BEGIN table_row -->
		  <tr class="{CSS_ROW}">
			<!-- BEGIN table_cell -->
			<td class="std" valign="top" nowrap="1">
			  {TEXT_CONTENT}
<!-- BEGIN subtitle -->
	<br/><span class="subtitle">{DESC}</span>
<!-- END subtitle -->
			</td>
			<!-- END table_cell -->
		  </tr>
		  <!-- END table_row -->
		  <tr>
		    <td class="submit" colspan="4">
			    <table width="100%" cellpadding="0" cellspacing="0" border="0">
				  <tr>
					<td align="left" width="30">
						<!-- BEGIN image_arrow_block -->
		  				<img src="{IMG_ARROW}" border="0" />
						<!-- END image_arrow_block -->
					</td>
					<td align="left">
					  <!-- BEGIN operation_btn -->	    
					  <input class="submit" type="submit" name="cmd[{BTN_NAME}]" value="{BTN_VALUE}" />
					  <!-- END operation_btn -->
					</td>
				  </tr>
			  </table>
			</td>
		  </tr>
	  </table>
	</form>
