	<form action="{FORMACTION}" method="post">
	  <table class="std" border="0">
		<tr class="tbltitle">
		  <td colspan="4" class="std">
			<img src="{COLL_TITLE_IMG}" style="vertical-align:middle;" alt="{COLL_TITLE_IMG_ALT}" title="{COLL_TITLE_IMG_ALT}" border="0" />
			{TABLE_TITLE}
		  </td>
		</tr>
		<tr class="tblheader">
		  <th class="std"></th>
		  <th class="std">{HEAD_TITLE}</th>
		  <th class="std">{HEAD_CONDITION}</th>
		  <th class="std"></th>
		</tr>
		<!-- BEGIN table_empty -->
		<tr>
		  <td class="option_value" colspan="4">
			{EMPTY_TXT}
		  </td>
		</tr>
		<!-- END table_empty -->
		<!-- BEGIN table_content -->
		<tr>
		  <td class="{ROWCOL}">
			{CHECKBOX}
		  </td>
		  <td class="{ROWCOL}">
		  	<img src="{TRIGGER_SRC}" style="vertical-align:middle;" alt="{TRIGGER_ALT}" title="{TRIGGER_ALT}" border="0" />
			{TITLE}
			<!-- BEGIN description_block -->
			<div class="il_Description">
			  {DESCRIPTION}
			</div>
			<!-- END description_block -->
		  </td>
		  <td class="{ROWCOL}">
			{OBJ_CONDITION}
		  </td>
		  <td class="{ROWCOL}">
			<div style="float:right">
			  <a class="il_ContainerItemCommand" href="{EDIT_LINK}">{EDIT}</a>
			</div>
		  </td>
 		</tr>
		<!-- END table_content -->
		<tr class="tblfooter">
		  <td class="tblfooter" valign="center" align="left" width="1%">
			<img src="{DOWNRIGHT}" border="0" />
		  </td>
		  <td class="tblfooter" valign="center" align="left">
			&nbsp;<input class="submit" type="SUBMIT" name="cmd[delete]" value="{BTN_DELETE}"/>
		  </td>
		  <td class="tblfooter" valign="center" colspan="2">
			<div align="right">
			  <input class="submit" type="SUBMIT" name="cmd[selector]" value="{BTN_ADD}"/>
			</div>
		  </td>
		</tr>
	  </table>
	</form>