<style>
body { margin:0px; }
</style>
{STATUSLINE}
<div class="invisible_border">
<div class="il_Header"><h1>{TXT_PAGEHEADLINE}</h1>
<div class="il_Tab">
{TABS}
</div>
</div>
{BUTTONS}
{MESSAGE}
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td width="50%" valign="top">
<!-- BEGIN tbl_lo -->
<h2>{TXT_LO_HEADER}</h2>
<table class="fullwidth">
	<tr class="tblheader">
	<td class="std"><b>{TXT_LO_TITLE}</b></td>
	</tr>
<!-- BEGIN tbl_lo_row -->
	<tr class="{ROWCOL}">
	<td class="std"><a href="{LO_LINK}" class="navigation" target="{LO_TARGET}">{LO_TITLE}</a>&nbsp;
<!-- BEGIN tbl_lo_edit -->
	 [<a href="{EDIT_LINK}" class="navigation">{TXT_EDIT}</a>]
<!-- END tbl_lo_edit -->
	 [<a href="{DROP_LINK}" class="navigation">{TXT_DROP}</a>]
	</td>
	</tr>
<!-- END tbl_lo_row -->
<!-- BEGIN tbl_no_lo -->
	<tr class="{ROWCOL}">
	<td class="std">{TXT_NO_LO}</td>
	</tr>
<!-- END tbl_no_lo -->
</table>
<!-- END tbl_lo -->

<!-- BEGIN tbl_frm -->
<h2>{TXT_FRM_HEADER}</h2>
<table class="fullwidth">
  <tr class="tblheader">
	<td class="std"><b>{TXT_FRM_TITLE}</b></td>
  </tr>
<!-- BEGIN tbl_frm_row -->
  <tr class="{ROWCOL}">
	<td class="std"><a href="{FRM_LINK}" class="navigation" target="bottom">{FRM_TITLE}</a>
	&nbsp;[<a href="{DROP_LINK}" class="navigation">{TXT_DROP}</a>]
	</td>
  </tr>
<!-- END tbl_frm_row -->
<!-- BEGIN tbl_no_frm -->
  <tr class="{ROWCOL}">
	<td class="std">{TXT_NO_FRM}</td>
  </tr>
<!-- END tbl_no_frm -->
</table>
<!-- END tbl_frm -->
<!-- BEGIN tbl_system_msg -->
<h2>{SYSTEM_MAILS}</h2>
    <table class="fullwidth">
    <tr class="tblheader">
      <td class="std"><b>{TXT_SENDER}</b></td>
      <td class="std"><b>{TXT_SUBJECT}</b></td>
      <td class="std"><b>{TXT_DATETIME}</b></td>
    </tr>
<!-- BEGIN tbl_system_msg_row -->
<tr class="{ROWCOL}">
  <td class="std" valign="middle">{MAIL_FROM}</td>
  <td class="std" valign="middle"><a class="{MAILCLASS}" href="{MAIL_LINK_READ}" target="bottom">{MAIL_SUBJ}</a></td>
  <td class="std" valign="middle">{MAIL_DATE}</td>
</tr>
<!-- END tbl_system_msg_row -->
    </table>
<!-- END tbl_system_msg -->
<!-- BEGIN tbl_users -->
<h2>{TXT_USERS_ONLINE}</h2>
    <table class="fullwidth">
	<tr class="tblheader">
      <td class="std" valign="top" colspan="4">{USER_LIST}</td>
	</tr>
<!-- BEGIN tbl_users_header -->
	<tr class="tblheader">
      <td class="std" valign="top" width="25%"><b>{TXT_USR_LOGIN}</b></td>
      <td class="std" valign="top" width="35%"><b>{TXT_USR_FULLNAME}</b></td>
      <td class="std" valign="top" width="25%"><b>{TXT_USR_LOGIN_TIME}</b></td>
  	  <td class="std" valign="top" width="15%">&nbsp;</td>
	</tr>
<!-- END tbl_users_header -->
<!-- BEGIN tbl_users_row -->
    <tr class="{ROWCOL}">
      <td class="std" valign="top">{USR_LOGIN}</td>
      <td class="std" valign="top">{USR_FULLNAME}</td>
      <td class="std" valign="top">{USR_LOGIN_TIME}</td>
      <td class="std" valign="top">
<!-- BEGIN profile_link -->
	    <a href="profile.php?user={USR_ID}"><img src="{IMG_VIEW}" alt="{ALT_TXT_VIEW}" title="{ALT_TXT_VIEW}" border="0"/></a>
<!-- END profile_link -->
<!-- BEGIN mailto_link -->
		<a href="mail_new.php?type=new&mail_data[rcp_to]={USR_LOGIN}"><img src="{IMG_MAIL}" alt="{ALT_TXT_MAIL}" title="{ALT_TXT_MAIL}" border="0"/></a>
<!-- END mailto_link -->
	  </td>
    </tr>
<!-- END tbl_users_row -->
    </table>
<!-- END tbl_users -->


<td>
<img class="spacer" src="{IMG_SPACE}" border="0" width="20" height="1" />
</td>

<td width="50%" valign="top">
<!-- BEGIN tbl_bm -->
<h2>{TXT_BM_HEADER}</h2>
<table class="fullwidth">
  <tr class="tblheader">
	<td class="std"><b>{TXT_BM_TITLE}</b></td>
  </tr>
<!-- BEGIN tbl_bm_row -->
  <tr class="{ROWCOL}">
	<td class="std"><a href="{BM_LINK}" class="navigation" target="bottom">{BM_TITLE}</a>
	&nbsp;
<!-- BEGIN tbl_bm_drop -->
[<a href="{DROP_LINK}" class="navigation">{TXT_DROP}</a>]
<!-- END tbl_bm_drop -->
	</td>
  </tr>
<!-- END tbl_bm_row -->
<!-- BEGIN tbl_no_bm -->
  <tr class="{ROWCOL}">
	<td class="std">{TXT_NO_BM}</td>
  </tr>
<!-- END tbl_no_bm -->
</table>
<!-- END tbl_bm -->

<!-- BEGIN tbl_grp -->
<h2>{TXT_GRP_HEADER}</h2>
<table class="fullwidth">
  <tr class="tblheader">
	<td class="std"><b>{TXT_GRP_TITLE}</b></td>
  </tr>
<!-- BEGIN tbl_grp_row -->
  <tr class="{ROWCOL}">
	<td class="std"><a href="{GRP_LINK}" class="navigation" target="bottom">{GRP_TITLE}</a>
	&nbsp;<a href="{DROP_LINK}" class="navigation">{TXT_DROP}</a>
	</td>
  </tr>
<!-- END tbl_grp_row -->
<!-- BEGIN tbl_no_grp -->
  <tr class="{ROWCOL}">
	<td class="std">{TXT_NO_GRP}</td>
  </tr>
<!-- END tbl_no_grp -->
</table>
<!-- END tbl_grp -->

<!-- BEGIN tbl_chat -->
<h2>{TXT_CHAT_HEADER}</h2>
<table class="fullwidth">
  <tr class="tblheader">
	<td class="std"><b>{TXT_CHAT_TITLE}</b></td>
  </tr>
<!-- BEGIN tbl_chat_row -->
  <tr class="{ROWCOL}">
	<td class="std"><a href="{CHAT_LINK}" class="navigation" target="bottom">{CHAT_TITLE}</a>
	&nbsp;<a href="{DROP_LINK}" class="navigation">{TXT_DROP}</a>
	</td>
  </tr>
<!-- END tbl_chat_row -->
<!-- BEGIN tbl_no_chat -->
  <tr class="{ROWCOL}">
	<td class="std">{TXT_NO_CHAT}</td>
  </tr>
<!-- END tbl_no_chat -->
</table>
<!-- END tbl_chat -->
    </td>

  </tr>
</table>
</div>
