<tr>
	<td valign="top" class="{ROWCOL}" nowrap="nowrap">
		<!-- BEGIN file_visible -->
		<b>{VISIBLE_TITLE}</b>
		<!-- END file_visible -->
		<!-- BEGIN file_dl -->
		<a href="{DL_LINK}" target="{DL_TARGET}"><b>{DL_TITLE}</b></a>
		<!-- END file_dl -->
		&nbsp;
	    <!-- BEGIN payment -->
	    <img src="{PAYMENT_TYPE_IMG}" alt="{PAYMENT_ALT_IMG}" title="{PAYMENT_ALT_IMG}" border="0" vspace="0" align="absmiddle" />
		<!-- END payment -->
		<!-- BEGIN file_edit -->
		[<a href="{EDIT_LINK}" target="{EDIT_TARGET}">{TXT_EDIT}</a>]
		<!-- END file_edit -->
		<!-- BEGIN file_delete -->
		[<a href="{DELETE_LINK}">{TXT_DELETE}</a>]
		<!-- END file_delete -->
                <!-- BEGIN file_desklink -->
                [<a href="{TO_DESK_LINK}">{TXT_TO_DESK}</a>]
                <!-- END file_desklink -->
		<br />
		<div class="il_Description">{DESCRIPTION}</div>
	</td>
	<td valign="top" class="{ROWCOL}">{OWNER}</td>
</tr>
