<h1>{TXT_PAGEHEADLINE}</h1>

{BUTTONS}
{MESSAGE}

<!-- BEGIN message -->
<font color="red">{MSG}</font>
<!-- END message -->
<form action="usr_password.php" method="post" name="form">
<table class="std">
<tr class="tblheader">
<td class="std" align="right" valign="middle"><b>{TXT_NAME}</b></td>
<td class="std">{NAME}</td>
</tr>
<tr  class="tblrow2">
<td class="std" align="right" valign="middle"><b>{TXT_CURRENT_PW}</b></td>
<td class="std"><input type="password" name="pw_old" maxlength="32" size="32" value="" /></td>
</tr>
<tr class="tblrow1">
<td class="std" align="right" valign="middle"><b>{TXT_DESIRED_PW}</b></td>
<td class="std"><input type="password" name="pw1" maxlength="32" size="32" value="" /></td>
</tr>
<tr class="tblrow2">
<td class="std" align="right" valign="middle"><b>{TXT_RETYPE_PW}</b></td>
<td class="std"><input type="password" name="pw2" maxlength="32" size="32" value="" /></td>
</tr>
</table>
<br>
<input class="submit" type="submit" value="{TXT_SAVE}" />
</form>
