<table class="std">

<tr>
	<td valign="top" class="{ROWCOL1}">{TXT_NAME}:&nbsp;</td>
	<td valign="top" class="{ROWCOL1}">{FIRSTNAME}&nbsp;{LASTNAME}</td>
</tr>
<tr>
	<td valign="top" class="{ROWCOL2}">{TXT_TITLE}:&nbsp;</td>
	<td valign="top" class="{ROWCOL2}">{TITLE}</td>
</tr>

<tr>

	<td valign="top" class="{ROWCOL1}">{TXT_IMAGE}</td>
	<td valign="top" class="{ROWCOL1}"><img src="{IMAGE_PATH}"></td>
</tr>
<tr>
	<td valign="top" class="{ROWCOL2}">{TXT_INSTITUTE}:&nbsp;</td>
	<td valign="top" class="{ROWCOL2}">{INSTITUTE}</td>
</tr>
<tr>
	<td valign="top" class="{ROWCOL1}">{TXT_STREET}:&nbsp;</td>
	<td valign="top" class="{ROWCOL1}">{STREET}</td>
</tr>
<tr>
	<td valign="top" class="{ROWCOL2}">{TXT_ZIPCODE}:&nbsp;</td>
	<td valign="top" class="{ROWCOL2}">{ZIPCODE}</td>
</tr>
<tr>
	<td valign="top" class="{ROWCOL1}">{TXT_CITY}:&nbsp;</td>
	<td valign="top" class="{ROWCOL1}">{CITY}</td>
</tr>
<tr>
	<td valign="top" class="{ROWCOL2}">{TXT_COUNTRY}:&nbsp;</td>
	<td valign="top" class="{ROWCOL2}">{COUNTRY}</td>
</tr>
<tr>
	<td valign="top" class="{ROWCOL1}">{TXT_PHONE}:&nbsp;</td>
	<td valign="top" class="{ROWCOL1}">{PHONE}</td>
</tr>
<tr>
	<td valign="top" class="{ROWCOL2}">{TXT_EMAIL}:&nbsp;</td>
	<td valign="top" class="{ROWCOL2}">{EMAIL}</td>
</tr>
<tr>
	<td valign="top" > <BR> </td>

</tr>

</table>
<br />
