	<form action="{ACTION_FLAT}" class="il_Form" method="GET">
	  <!-- BEGIN show_folder -->
	  <table class="std">
		  <tr class="std">
			<td class="option">{TXT_FOLDERS}
			</td>
			<td class="option_row">
			  <select name="mobj_id">
				<!-- BEGIN flat_select -->
				<option value="{FLAT_VALUE}" "{FLAT_SELECTED}">{FLAT_NAME}</option>
				<!-- END flat_select -->
			  </select>
			  <input class="submit" type="SUBMIT" value="{FOLDER_VALUE}"/>
			</td>
		  </tr>
	  </table><br />
	  <!-- END show_folder -->
	</form>
	  {MESSAGE}
	<form method="post" name="cmd" action="{ACTION}">
	  <!-- BEGIN confirm_delete -->
	  <table class="fullwidth">
		  <tr>
			<td class="std"  align="center" valign="top" height="30">
			  <input class="submit" type="submit" name="cmd[confirm]" value="{BUTTON_CONFIRM}"/>
			  <input class="submit" type="submit" name="cmd[cancel]" value="{BUTTON_CANCEL}"/>
			</td>
		  </tr>
	  </table>
	  <!-- END confirm_delete -->
	  <!-- BEGIN linkbar -->
	  <table class="std">
		  <tr>
			<td class="std">{LINKBAR}</td>
		  </tr>
	  </table>
	  <!-- END linkbar -->
	  <table class="fullwidth">
		  <tr class="tbltitle">
			<td class="std" colspan="1" width="1px">
			<img border="0" src="{IMG_FOLDER}" /></td>
			<td class="std" colspan="3">
			{TXT_FOLDER}:&nbsp;
			{MAIL_COUNT}&nbsp;{TXT_MAIL_S} ({MAIL_COUNT_UNREAD} {TXT_UNREAD})</td>
		  </tr>
		  <tr class="tblheader">
			<td class="std"  width="1px">&nbsp;</td>
			<td class="std" >{TXT_SENDER}</td>
			<td class="std" >{TXT_SUBJECT}</td>
			<td class="std" >{TXT_DATE}</td>
		  </tr>

		  <!-- BEGIN mails -->
		  <tr class="{ROWCOL}">
			<td class="std" ><input type="checkbox" name="mail_id[]" value="{MAIL_ID}" {CHECKBOX_CHECKED}></td>
			<td class="std"  valign="middle">{MAIL_FROM} [{MAIL_LOGIN}]</TD>
			<td class="std"  valign="middle"><a class="{MAILCLASS}" href="{MAIL_LINK_READ}">{MAIL_SUBJECT}</a></td>
			<td class="std"  valign="middle">{MAIL_DATE}</td>
		  </tr>
		  <!-- END mails -->
		  <tr class="tblrow2">
			<td class="std" colspan="1"><input type="checkbox" name="all" value="check_all" onClick="CheckAll();"></td>
			<td class="std" colspan="3">
			  <strong>{TXT_SELECT_ALL}</strong>
			</td>
		  </tr>
		  <tr>
			<td class="submit"  width="1px" align="center">
			  <img src="{IMGPATH}/images/arrow_downright.gif" />
			</td>
			<td class="submit" colspan="3">
			  <select name="action">
				<!-- BEGIN mailactions -->
				<option value="{MAILACTION_VALUE}" {MAILACTION_SELECTED}>{MAILACTION_NAME}</option>
				<!-- END mailactions -->	  
			  </select>
			  <input class="submit" type="submit" name="cmd[submit]" value="{TXT_SUBMIT}"/>
			</td>
		  </tr>
	  </table>
	</form>
<!--</div>-->
</td></tr></table>
