<!-- <form action="{FORMACTION1}" name="post" method="post" enctype="multipart/form-data">
<table class="std">
	<tr>
		<td class="option">
		{TXT_NEW_DIRECTORY}
		</td>
		<td class="option_value">
		<input type="text" name="new_dir" size="30" maxlength="80">
		</td>
		<td class="submit">
		<input class="submit" type="submit" name="cmd[{CMD_NEW_DIR}]" value="{BTN_NEW_DIR}" />
		</td>
	</tr>
	<tr>
		<td class="option">
		{TXT_NEW_FILE}
		</td>
		<td class="option_value">
		<input type="file" name="new_file" size="30">
		</td>
		<td class="submit">
		<input class="submit" type="submit" name="cmd[{CMD_NEW_FILE}]" value="{BTN_NEW_FILE}" />
		</td>
	</tr>
	<!-- BEGIN select_uploaded_file -->
	<tr>
		<td class="option">{TXT_UPLOADED_FILE}</td>
		<td class="option_value">
			<select name="uploaded_file">
				<option value="">{TXT_SELECT_FROM_UPLOAD_DIR}</option>
				<!-- BEGIN option_uploaded_file -->
				<option value="{UPLOADED_FILENAME}">{TXT_UPLOADED_FILENAME}</option>
				<!-- END option_uploaded_file -->
			</select>
		</td>
		<td class="submit">
		<input class="submit" type="submit" name="cmd[{CMD_SELECT_FILE}]" value="{BTN_SELECT}" />
		</td>
	</tr>
	<!-- END select_uploaded_file -->
</table>
</form>-->
{FILE_TABLE}
