<form action="{EDIT_ACTION}" {TARGET} name="post" method="post">
<input type="hidden" name="meta_section" value="{VAL_SECTION}"/>
<input type="hidden" name="meta_path" value="Annotation"/>
<table class="std">
<tr class="tblheader">
	<td class="std" colspan="3">
		<div align="left">{TXT_ANNOTATION} (Annotation)
		( <a href="{ACTION_DELETE}">{TXT_DELETE}</a> )</div>
	</td>
</tr>
<tr>
	<td class="option" colspan="2">{TXT_ENTITY} (Entity)</td>
	<td class="option_value"><input type="text" maxlength="200" name="meta[Entity]" value="{VAL_ENTITY}"></td>
</tr>
<tr>
	<td class="option" colspan="2">{TXT_DATE} (Date)</td>
	<td class="option_value"><input type="text" maxlength="200" name="meta[Date]" value="{VAL_DATE}"></td>
</tr>
<tr>
	<td class="option" colspan="3">
		<div align="left">{TXT_DESCRIPTION} (Description)</div>
	</td>
</tr>
<tr>
	<td class="option"width="10" rowspan="2">&nbsp;</td>
	<td class="sub_option">{TXT_VALUE} (Value)</td>
	<td class="option_value"><textarea name="meta[Description][Value]">{VAL_DESCRIPTION}</textarea></td>
</tr>
<tr>
	<td class="sub_option">{TXT_LANGUAGE} (Language)</td>
	<td class="option_value">{VAL_DESCRIPTION_LANGUAGE}</td>
</tr>

<tr>
	<td class="submit" colspan="4"><div align="right"><input class="submit" type="submit" name="cmd[saveMeta]" value="{TXT_SAVE}"/></div></td>
</tr>
</table>
</form>