<ul class="il_ExplorerNoIndent">
<!-- BEGIN element -->
<!-- BEGIN start_list -->
<li class="il_Explorer"><ul class="il_Explorer">
<!-- END start_list -->
<!-- BEGIN start_list_no_indent -->
<li class="il_Explorer"><ul class="il_ExplorerNoIndent">
<!-- END start_list_no_indent -->
<!-- BEGIN list_item -->
<li class="il_Explorer">
<!-- BEGIN expander --><a name="{LINK_NAME}" href="{LINK_TARGET_EXPANDER}"><img style="vertical-align:middle" src="{IMGPATH}" border="0" /></a><!-- END expander --><!-- BEGIN blank --><img style="vertical-align:middle" src="{BLANK_PATH}" border="0" /><!-- END blank --><!-- BEGIN icon --><img style="vertical-align:middle" id="{TARGET_ID}" name="{TARGET_ID}" src="{ICON_IMAGE}" alt="{TXT_ALT_IMG}" title="{TXT_ALT_IMG}" border="0" /><!-- END icon -->
<!-- BEGIN link --><a {A_CLASS} name="{LINK_NAME}" href="{LINK_TARGET}" {TARGET} {ONCLICK}>{TITLE}</a> {DESC}<!-- END link -->
<!-- BEGIN text --><b>{OBJ_TITLE}</b><div class="il_ExplorerItemDescription">{OBJ_DESC}</div><!-- END text -->
</li>
<!-- END list_item -->
<!-- BEGIN end_list -->
</ul></li>
<!-- END end_list -->
<!-- END element -->
</ul>
