<form action="{FORMACTION}" name="RADIUSOptions" method="post">
<table class="fullwidth">
  <tr class="tblheader">
    <td class="std" colspan="3">{TXT_RADIUS_TITLE}</td>
  </tr>
     <tr>
      <td class="option">{TXT_RADIUS_ACTIVE}</td>
      <td class="option_value"><input type="checkbox" name="radius[active]" value="1" {CHK_RADIUS_ACTIVE}/></td>
    </tr>
     <tr>
      <td class="option">{TXT_RADIUS_SERVER} <span class="asterisk">*</span><span class="small"></td>
      <td class="option_value"><input type="text" size="50" maxlength="256" name="radius[server]" value="{RADIUS_SERVER}" />
      <br/><span class="small"><i>{TXT_RADIUS_SERVER_DESC}</i></span></td>
    </tr>
     <tr>
      <td class="option">{TXT_RADIUS_PORT} <span class="asterisk">*</span><span class="small"></td>
      <td class="option_value"><input type="text" size="7" maxlength="5" name="radius[port]" value="{RADIUS_PORT}" /></td>
    </tr>
     <tr>
      <td class="option">{TXT_RADIUS_SHARED_SECRET} <span class="asterisk">*</span><span class="small"></td>
      <td class="option_value"><input type="text" size="20" maxlength="64" name="radius[shared_secret]" value="{RADIUS_SHARED_SECRET}" /></td>
    </tr>
  <tr>
	<td class="submit" colspan="3" align="left">
	<span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FLD}</span>
  <div align="right">
	<input class="submit" type="submit" name="cmd[{CMD_SUBMIT}]" value="{TXT_SUBMIT}" />
	<input class="submit" type="submit" name="cmd[cancel]" value="{TXT_CANCEL}" />
  </div>
	</td>
  </tr>
</table>
</form>