<script type="text/javascript">
<!--
function setCheckboxes(a_form, a_varname, a_elements, a_check)
{
        for(i=0;i<a_elements.length;i++) {
                if (typeof(document.forms[a_form].elements[a_varname + a_elements[i]]) != 'undefined') {
                document.forms[a_form].elements[a_varname + a_elements[i]].checked = a_check;
        }
    }

    return true;
}
//-->
</script>
	<form action="{F_ACTION}" name="post" method="post" >
	  <!-- BEGIN USR_SEARCH -->
	  <table class="std">
		  <tr class="tblheader">
			<td class="std" colspan="2">{SEARCH_ASSIGN_USR}</td>
		  </tr>
		  <tr class="std">
			<td class="option">{SEARCH_SEARCH_TERM}</td>
			<td class="option_value"><input type="text" name="search_str" size="30" /></td>
		  </tr>
		  <tr class="std">
			<td class="option">{SEARCH_FOR}</td>
			<td class="option_value">&nbsp;</td>
		  </tr>
		  <!-- BEGIN USR_SEARCH_ROW -->
		  <tr class="std">
			<td class="sub_option">&nbsp;</td>
			<td class="option_value">{SEARCH_ROW_CHECK}&nbsp; {SEARCH_ROW_TXT}</td>
		  </tr>
		  <!-- END USR_SEARCH_ROW -->
			<td class="submit" colspan="2">
			  <input class="submit" type="submit" name="search" value="{BTN1_VALUE}" />&nbsp;
			  <input class="submit" type="submit" name="cancel" value="{BTN2_VALUE}" />&nbsp;

			</td>
		  </tr>
	  </table>
	  <!-- END USR_SEARCH -->
	  <!-- BEGIN USR_SELECT -->
	  <h4>{SELECT_TXT}</h4>
	  <table class="std" width="40%">
		  <tr class="tblheader">
			<td class="std">&nbsp;</td>
			<td class="std">{SELECT_LOGIN}</td>
			<td class="std">{SELECT_FIRSTNAME}</td>
			<td class="std">{SELECT_LASTNAME}</td>
		  </tr>
		  <!-- BEGIN USR_SELECT_ROW -->
		  <tr class="std">
			<td class="option_value"><input type="checkbox" name="id[]" id="{NAME_ID}" value="{ROW_ID}" /></td>
			<td class="option_value">{ROW_LOGIN}</td>
			<td class="option_value">{ROW_FIRSTNAME}</td>
			<td class="option_value">{ROW_LASTNAME}</td>
		  </tr>
		  <!-- END USR_SELECT_ROW -->
		  <tr class="tblfooter">
			<td colspan="4">
			  <input class="submit" type="submit" name="select" value="{BTN1_VALUE}" />&nbsp;
			  <input class="submit" type="submit" name="cancel" value="{BTN2_VALUE}" />&nbsp;
			   [<a href="" onclick="setCheckboxes('post','{JS_VARNAME}_',{JS_ONCLICK},true); return false;">{TXT_CHECKALL}</a>]
			   [<a href="" onclick="setCheckboxes('post','{JS_VARNAME}_',{JS_ONCLICK},false); return false;">{TXT_UNCHECKALL}</a>]


			</td>
		  </tr>
	  </table>
	  <!-- END USR_SELECT -->
	  <!-- BEGIN OBJ_SELECT -->
	  <table class="std" width="40%">
		  <tr class="tblheader">
			<td class="std">&nbsp;</td>
			<td class="std">{OBJ_SELECT_TITLE}</td>
			<td class="std">{OBJ_SELECT_DESCRIPTION}</td>
		  </tr>
		  <!-- BEGIN OBJ_SELECT_ROW -->
		  <tr class="std">
			<td class="option_value"><input type="checkbox" name="obj[][id]" value="{OBJ_ROW_ID}" /></td>
			<td class="option_value">{OBJ_ROW_TITLE}</td>
			<td class="option_value">{OBJ_ROW_DESCRIPTION}</td>
		  </tr>
		  <!-- END OBJ_SELECT_ROW -->
		  <tr class="tblfooter">
			<td colspan="4">
			  <input class="submit" type="submit" name="obj_select" value="{OBJ_BTN1_VALUE}" />&nbsp;
			  <input class="submit" type="submit" name="cancel" value="{OBJ_BTN2_VALUE}" />&nbsp;
			</td>
		  </tr>
	  </table>
	  <!-- END OBJ_SELECT -->

	</form>