<style>
body { margin:0px; }
</style>
{STATUSLINE}
<table class="fullwidth_invisible"><tr><td class="ilInvisibleBorder">
<!--<div class="invisible_border">-->
<div class="il_Header"><h1>{TXT_PAGEHEADLINE}</h1>
<div class="il_Tab">
{TABS}
</div>
</div>
<br/>
{BUTTONS}
{MESSAGE}
<form action="{ACTION}" method="post" name="form">
<table class="fullwidth">
<tr class="tblheader">
 <td class="std">{TXT_AGREEMENT}</td>
</tr>
<tr class="std">
 <td class="std">{TXT_USR_AGREEMENT}</td>
</tr>
<tr>
 <td class="submit" align="center"><b>{TXT_ACCEPT}</b><input type="radio" name="agreement" value="y" />{TXT_YES}<input type="radio" name="agreement" checked="checked" value="n" />{TXT_NO}
 <div align="left"><input class="submit" type="submit" name="butSubmit" value="{TXT_SUBMIT}" /></div>
 </td>
</tr>
</table>
</form>
<!--</div>-->
</td></tr></table>
