	<form action="" method="post">
	  <table class="std">
	 	<tr class="tblheader">
	      <td class="std" colspan="2">{TXT_LDAP}</td>
	    </tr>
	    <tr>
	      <td class="option">{TXT_LDAP_ENABLE}</td>
	      <td class="option_value"><input type="checkbox" name="ldap_enable"  value="1" {LDAP_ENABLE} /></td>
	    </tr>
	    <tr>
	      <td class="option">{TXT_LDAP_SERVER}</td>
	      <td class="option_value"><input type="text" size="40" maxlength="200" name="ldap_server" value="{LDAP_SERVER}" /></td>
	    </tr>
	    <tr>
	      <td class="option">{TXT_LDAP_PORT}</td>
	      <td class="option_value"><input type="text" size="5" maxlength="5" name="ldap_port" value="{LDAP_PORT}" /></td>
	    </tr>
	    <tr>
	      <td class="option">{TXT_LDAP_BASEDN}</td>
	      <td class="option_value"><input type="text" size="40" maxlength="200" name="ldap_basedn" value="{LDAP_BASEDN}" /></td>
	    </tr>
		<tr>
		  <td class="submit" colspan="2">
		  <div align="right"><input class="submit" type="submit" name="save_settings" value="{TXT_SAVE}"/></div></td>
		</tr>
	  </table>
    </form>
