<div class="ilFrame registration"><div class="ilFrameH"><div class="ilFrameTL"><div class="ilFrameTR">
<img src="./templates/default/images/HeaderIcon.png" border="0" style="margin: 20px;"/>
<div class="ilFrameBL"><div class="ilFrameBR" style="min-height: 250px;">
<div style="padding:10px 10px;">
<div>
<h1><img border="0" src="{IMG_USER}" />&nbsp;{TXT_PAGEHEADLINE}</h1></div>
<p>{TXT_WELCOME}<br/>{TXT_REGISTERED}</p>
<!-- BEGIN activation -->
<form action="{FORMACTION}" {TARGET} method="post">
<input type="hidden" name="password" value="{PASSWORD}"/>
<input type="hidden" name="username" value="{USERNAME}"/>
<input class="submit" type="submit" value="{TXT_LOGIN}"/>
</form>
<!-- END activation -->
<!-- BEGIN redirect -->
<script type="text/javascript">
setTimeout(function() {
	window.location.href = '{REDIRECT_URL}';	
}, 20000);
</script>
<noscript><meta http-equiv="refresh" content="20; url={REDIRECT_URL}" /></noscript>
<!-- END redirect -->
</div> </div></div></div></div></div>