table2
<!-- BEGIN tbl_form_header2 -->
<form action="{FORMACTION}" name="ObjectItems" method="post" target="{ACTIONTARGET}">
<!-- END tbl_form_header2 -->
<table class="{CSS_TABLE}">
<!-- BEGIN tbl_header_title2 -->
  <tr class="tbltitle">
    <td colspan="{COLUMN_COUNT}">
	<table class="fullwidth_invisible">
	  <tr class="tbltitle">
<!-- BEGIN tbl_header_title_icon2 -->
	    <td width="10"><img src="{TBL_TITLE_IMG}" alt="{TBL_TITLE_IMG_ALT}" title="{TBL_TITLE_IMG_ALT}" border="0" /></td>
<!-- END tbl_header_title_icon2 -->
		<td class="tbltitle" align="left">&nbsp;{TBL_TITLE}</td>
<!-- BEGIN tbl_header_title_help2 -->
		<td align="right"><a href="#" onclick="return popup_window('{TBL_HELP_LINK}',60,90,20,80);"><img src="{TBL_HELP_IMG}" alt="{TBL_HELP_IMG_ALT}" title="{TBL_HELP_IMG_ALT}" border="0" align="right" /></a></td>
<!-- END tbl_header_title_help2 -->
	  </tr>
	</table>
    </td>
  </tr>
<!-- END tbl_header_title2 -->
  <tr class="tblheader">
<!-- BEGIN tbl_header_cell2 -->
    <td class="std"{TBL_COLUMN_WIDTH}>
	  <a class="tblheader" href="{TBL_ORDER_LINK}" alt="{TBL_ORDER_ALT}" title="{TBL_ORDER_ALT}">{TBL_HEADER_CELL}
<!-- BEGIN tbl_order_image2 -->
	  <img src="{IMG_ORDER_DIR}" border="0" valign="absmiddle" />
<!-- END tbl_order_image2 -->
	  </a>
	</td>
<!-- END tbl_header_cell2 -->
  </tr>
<!-- BEGIN tbl_content_row2 -->
  <tr class="{ROWCOLOR}">
<!-- BEGIN tbl_content_cell2 -->
    <td class="std">{TBL_CONTENT_CELL}</td>
<!-- END tbl_content_cell2 -->
  </tr>
<!-- END tbl_content_row2 -->
{TBL_CONTENT2}
<!-- BEGIN tbl_footer2 -->
  <tr class="tblfooter">
    <td colspan="{COLUMN_COUNT}">
	<table class="fullwidth_invisible">
	  <tr class="tblfooter">
	    <td>
<!-- BEGIN tbl_footer_numinfo2 -->
          {NUMINFO}
<!-- END tbl_footer_numinfo2 -->
	    &nbsp;</td>
<!-- BEGIN tbl_footer_linkbar2 -->
	    <td class="tblfooter" align="right">{LINKBAR}</td>
<!-- END tbl_footer_linkbar2 -->
	  </tr>
	</table>
	</td>
  </tr>
<!-- END tbl_footer2 -->
<!-- BEGIN tbl_action_row2 -->
  <tr>
	<td class="submit" colspan="{COLUMN_COUNTS}" align="left">
	<table width="100%" cellpadding="0" cellspacing="0" border="0">
	  <tr>
		<td align="left" width="10">
		  <img src="{TPLPATH}/images/arrow_downright.gif" border="0" />
		</td>
		<td align="left">&nbsp;
<!-- BEGIN tbl_action_select2 -->
				  {SELECT_ACTION}&nbsp;
				  <input class="submit" type="submit" name="cmd[{BTN_NAME}]" value="{BTN_VALUE}" />
<!-- END tbl_action_select2 -->
<!-- BEGIN tbl_action_btn2 -->
		  <input class="submit" type="submit" name="cmd[{BTN_NAME}]" value="{BTN_VALUE}" />
<!-- END tbl_action_btn2 -->
		</td>
<!-- BEGIN add_object2 -->
	<td align="right" valign="top">
		{SELECT_OBJTYPE}
		<input class="submit" type="submit" name="cmd[{BTN_NAME}]" value="{TXT_ADD}" />
<!-- BEGIN import_object2 -->
		<input class="submit" type="submit" name="cmd[{BTN_IMP}]" value="{TXT_IMP}" />
<!-- END import_object2 -->
	</td>
<!-- END add_object2 -->
	  </tr>
	</table>
    </td>
  </tr>
<!-- END tbl_action_row2 -->
</table>
<!-- BEGIN save_object2 -->
<br />
<input class="submit" type="submit" value="{BTN_VALUE}" />
<!-- END save_object2 -->
<!-- BEGIN tbl_form_footer2 -->
</form>
<!-- END tbl_form_footer2 -->
