<h1>{TXT_PAGEHEADLINE}</h1>
{BUTTONS}

    <form ACTION="{ACTION}" method="post">

    <TABLE WIDTH="100%" CELLPADDING=0 CELLSPACING=0 BORDER=0>
    <TR>
      <TD align="right">{TXT_LINEBREAK}</TD>
      <TD><SELECT name="msg_cols">
      <OPTION value=50>50
      <OPTION value=51>51
      <OPTION value=52>52
      <OPTION value=53>53
      <OPTION value=54>54
      <OPTION value=55>55
      <OPTION value=56>56
      <OPTION value=57>57
      <OPTION value=58>58
      <OPTION value=59>59
      <OPTION SELECTED value=60>60
      <OPTION value=61>61
      <OPTION value=62>62
      <OPTION value=63>63
      <OPTION value=64>64
      <OPTION value=65>65
      <OPTION value=66>66
      <OPTION value=67>67
      <OPTION value=68>68
      <OPTION value=69>69
      <OPTION value=70>70
      <OPTION value=71>71
      <OPTION value=72>72
      <OPTION value=73>73
      <OPTION value=74>74</SELECT></TD>
    </TR>
       <TR>
      <TD ALIGN=right valign="top">{TXT_SIGNATURE}</TD>
      <TD><TEXTAREA name="msg_signature" ROWS=10 COLS=60>{CONTENT}</TEXTAREA></TD>
    </TR>
    <tr>
      <TD>&nbsp;</TD>
    </TR>
    <TR>
      <TD>&nbsp;</TD>
      <TD><input type=submit value="{TXT_SAVE}" name="gen_g"></TD>
    </TR>
    </TABLE>
	</FORM>
