<form action="{FORMACTION}" method="post">
<table class="std">
<tr class="tblheader">
<td class="std" colspan="2">{TXT_SEARCH_USER}</td>
</tr>
<tr>
  <td class="std" colspan="2"><input type="text" name="search_string" size="35" width="80%" /></td>
</tr>
<tr>
  <td class="std">{TXT_SEARCH_IN}:</td>
  <td class="std"><input type="checkbox" name="search_fields[]" id="username" value="username"{USERNAME_CHECKED} /><label for="username">{TXT_SEARCH_USERNAME}</label></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td class="std"><input type="checkbox" name="search_fields[]" id="firstname" value="firstname"{FIRSTNAME_CHECKED} /><label for="firstname">{TXT_SEARCH_FIRSTNAME}</label></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td class="std"><input type="checkbox" name="search_fields[]" id="lastname" value="lastname"{LASTNAME_CHECKED} /><label for="lastname">{TXT_SEARCH_LASTNAME}</label></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td class="std"><input type="checkbox" name="search_fields[]" id="email" value="email"{EMAIL_CHECKED} /><label for="email">{TXT_SEARCH_EMAIL}</label></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td class="std"><input type="checkbox" name="search_fields[]" id="active" value="active"{ACTIVE_CHECKED} /><label for="active">{TXT_SEARCH_ACTIVE}</label></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td class="std"><input type="checkbox" name="search_fields[]" id="inactive" value="inactive"{INACTIVE_CHECKED} /><label for="inactive">{TXT_SEARCH_INACTIVE}</label></td>
</tr>
<tr>
  <td class="std">&nbsp;</td>
  <td class="std" >
      <input class="submit" type="submit" name="cmd[searchCancelled]" value="{BUTTON_CANCEL}" />
      <input class="submit" type="submit" name="cmd[searchUser]" value="{BUTTON_SEARCH}" />
  </td>
</tr>
</table>
<p>{TXT_SEARCH_NOTE}</p>
</form>
