<form action="{FORMACTION_STYLESETTINGS}" method="post">
<table class="std">
	<tr class="tblheader">
		<td class="std" colspan="2">{TXT_STYLE_SETTINGS}</td>
	</tr>
	<tr>
		<td class="option">{TXT_TREE_FRAME}</td>
		<td class="option_value">
			<select name="tree_frame">
				<option value="left" {SEL_FRAME_LEFT}>{TXT_FRAME_LEFT}</option>
				<option value="right" {SEL_FRAME_RIGHT}>{TXT_FRAME_RIGHT}</option>
			</select><br />
			<span class="subtitle">{TXT_TREE_FRAME_INFO}</span>
		</td>
	</tr>
	<tr>
		<td class="option">{TXT_ICONS_IN_TYPED_LISTS}</td>
		<td class="option_value">
			<select name="icon_position_in_lists">
				<option value="header" {SEL_ICON_POS_HEADER}>{TXT_ICONS_IN_HEADER}</option>
				<option value="item_rows" {SEL_ICON_POS_ITEM_ROWS}>{TXT_ICONS_IN_ITEM_ROWS}</option>
			</select><br />
			<span class="subtitle">{TXT_ICONS_IN_TYPED_LISTS_INFO}</span>
		</td>
	</tr>
	<tr>
		<td class="option">{TXT_ENABLE_CUSTOM_ICONS}</td>
		<td class="option_value">
			<input type="checkbox" name="custom_icons"  value="1" {CHK_CUSTOM_ICONS} /><br />
			<span class="subtitle">{TXT_ENABLE_CUSTOM_ICONS_INFO}</span>
		</td>
	</tr>
	<tr>
		<td class="option">{TXT_CUSTOM_ICON_SIZE_BIG}</td>
		<td class="option_value">
			<input type="input" size="2" maxlength="2" name="custom_icon_big_width" value="{CUST_ICON_BIG_WIDTH}" /> x
			<input type="input" size="2" maxlength="2" name="custom_icon_big_height" value="{CUST_ICON_BIG_HEIGHT}" /><br />
			<span class="subtitle">{TXT_WIDTH_X_HEIGHT}</span>
		</td>
	</tr>
	<tr>
		<td class="option">{TXT_CUSTOM_ICON_SIZE_SMALL}</td>
		<td class="option_value">
			<input type="input" size="2" maxlength="2" name="custom_icon_small_width" value="{CUST_ICON_SMALL_WIDTH}" /> x
			<input type="input" size="2" maxlength="2" name="custom_icon_small_height" value="{CUST_ICON_SMALL_HEIGHT}" /><br />
			<span class="subtitle">{TXT_WIDTH_X_HEIGHT}</span>
		</td>
	</tr>
	<tr>
		<td class="option">{TXT_CUSTOM_ICON_SIZE_TINY}</td>
		<td class="option_value">
			<input type="input" size="2" maxlength="2" name="custom_icon_tiny_width" value="{CUST_ICON_TINY_WIDTH}" /> x
			<input type="input" size="2" maxlength="2" name="custom_icon_tiny_height" value="{CUST_ICON_TINY_HEIGHT}" /><br />
			<span class="subtitle">{TXT_WIDTH_X_HEIGHT}</span>
		</td>
	</tr>
	<tr>
		<td class="submit" colspan="2">
		<div align="right"><input class="submit" type="submit" name="cmd[saveBasicStyleSettings]" value="{TXT_SAVE}"/></div></td>
	</tr>
</table>
</form>
