<form action="adm_object.php?obj_id={OBJ_ID}&parent={TPOS}&cmd=permSave" name="objectItems" method="post">
<table width="100%" cellspacing="0" cellpadding="2" border="0">
<!-- BEGIN tableheader -->
<tr class="tblheader">
  <td width="30%" align="left">
	<strong>{TXT_PERMISSION}:</strong>
  </td>
  <td width="70%" align="left">
	<strong>{TXT_ROLES}:</strong>
  </td>
</tr>
<!-- END tableheader -->
</table>

<table width="100%" cellspacing="0" cellpadding="2" border="0">
<tr class="tblheader">
  <td width="30%" align="left">&nbsp;</td>
    <!-- BEGIN ROLENAMES -->
  <td>
    <strong>{ROLE_NAME}</strong>
  </td>
	<!-- END ROLENAMES -->
</tr>
	<!-- BEGIN TABLE_DATA_OUTER -->
<tr class="{CSS_ROW}">
  <td width="30%" align="left">{PERMISSION}</td>
    <!-- BEGIN CHECK_PERM -->
  <td>{CHECK_PERMISSION}</td>
	<!-- END CHECK_PERM -->
</tr>
<!-- END TABLE_DATA_OUTER -->
<tr class="tblrow2">
  <td width="30%" align="left"><font color="red">Stop Inheritance</font></td>
    <!-- BEGIN CHECK_INHERIT -->
  <td>
	{CHECK_INHERITANCE}
  </td>
    <!-- END CHECK_INHERIT -->
</tr>
<tr class="header">
  <td colspan="100">
    <input type="submit" value="submit" />
  </td>
</tr>
</table>
</form>
<br />
<!-- BEGIN LOCAL_ROLE -->
{MESSAGE_BOTTOM}
<br />

<form action="adm_object.php?cmd=addRole&obj_id={LR_OBJ_ID}&parent={LR_TPOS}" method="post">
<table>
<tr>
  <td>
	<input type="text" name="Flocal_role" size="16" />
  </td>
  <td>
	<input type="submit" value="{TXT_ADD}" />
  </td>
</tr>
</table>
</form>
<!-- END LOCAL_ROLE -->
