<div class="ilFrame registration"><div class="ilFrameH"><div class="ilFrameTL"><div class="ilFrameTR">
<img src="./templates/default/images/HeaderIcon.png" border="0" style="margin: 20px;"/>
<div class="ilFrameBL"><div class="ilFrameBR" style="min-height: 450px;">
<div style="padding:10px 10px;">
<div>
{STATUSLINE}
<form action="{FORMACTION}" {TARGET} method="post">
<div class="il_Header" style="margin:20px 0px;">
<div style="float:right;">
	<input type="hidden" name="cmd" value="">
	<select name="change_lang_to" onChange="this.form.submit()">
		<option value="">{TXT_CHOOSE_LANGUAGE}</option>
		<!-- BEGIN languages -->
		<option value="{LANG_ICON}" {SELECTED_LANG}>{LANG_NAME}</option>
		<!-- END languages -->
	</select>
	<input class="submit" type="submit" value="{TXT_OK}"/>
</div>
<h1>{TXT_PAGEHEADLINE}</h1>
</div>
</form>
<p>{TXT_WELCOME}</p>
{MESSAGE}
{FORM}
<table class="std">

<!-- BEGIN registration_code_section -->
  <tr>
    <td class="option" >{TXT_REGISTRATION_CODE}</td>
    <td class="option_value"><input type="text" name="user[registration_code]"  value="{REGISTRATION_CODE}" size="40" maxlength="32" /></td>
  </tr>
<!-- END registration_code_section -->
<!-- BEGIN select_password -->
  <tr>
    <td class="option" >{TXT_PASSWD_SELECT}</td>
    <td class="option_desc">{TXT_PASSWD_VIA_MAIL}</td>
  </tr>
<!-- END select_password -->

</table>
</div>
</div>
</div></div></div></div></div></div>

