<tr>
	<td valign="top" class="{ROWCOL}">{CHECKBOX}</td>
	<td valign="top" class="{ROWCOL}" nowrap="nowrap">
	<img src="{IMG}" alt="{ALT_IMG}" title="{ALT_IMG}" border="0" vspace="0" align="left" />
	</td>
	<td valign="top" class="{ROWCOL}"><a href="{LINK_TARGET}" target="{FRAME_TARGET}">{TXT_TITLE}</a>
	<!-- BEGIN edit -->
	[<a href="{LINK_EDIT}" target="bottom">{TXT_EDIT}</a>]
	<!-- END edit -->
	</td>
	<td valign="top" class="{ROWCOL}"><a href="{LINK_TARGET}" target="_new">{TXT_TARGET}</a></td>
</tr>
