<!--<div align="right" style="margin-top:-20px;"><a href="{LINK_BKM_MODE}"><img src="{IMG_BKM_TREE}" border="0" hspace="0"></a></div>-->
<table class="il_PDBlock">
	<tr>
		<th class="il_PDBlockHeader" colspan="2">
			<div style="float:left">{TXT_BM_HEADER}</div>
			<div class="il_ContainerItemCommands" style="float:right;"><a class="il_ContainerItemCommand" href="{LINK_BKM_DETAILS}">{TXT_BKM_DETAILS}</a></div>
		</th>
	</tr>
	<!-- BEGIN tbl_bm_row -->
	<tr class="{ROWCOL}">
		<td class="std" width="1"><img title="{IMG_ALT}" alt="{IMG_ALT}" border="0" vspace="0" align="left" src="{IMG_BM}" /></td>
		<td class="std" ><a href="{BM_LINK}" class="navigation" target="{BM_TARGET}" title="{BM_TOOLTIP}">{BM_TITLE}</a>
		<!-- BEGIN tbl_bm_desc --><br />{BM_DESCRIPTION}<!-- END tbl_bm_desc -->
		</td>
	</tr>
	<!-- END tbl_bm_row -->
	<!-- BEGIN tbl_no_bm -->
	<tr class="{ROWCOL}" colspan="2">
		<td class="std">{TXT_NO_BM}</td>
	</tr>
	<!-- END tbl_no_bm -->
	<!-- BEGIN block_footer -->
	<tr>
		<td class="il_BlockFooter" colspan="2">
		<!-- BEGIN footer_item -->
		<!-- BEGIN footer_separator --> | <!-- END footer_separator -->
		<!-- BEGIN footer_link -->
			<a style="font-weight:normal;" href="{HREF_FOOT_LINK}">{TXT_FOOT_LINK}</a>
		<!-- END footer_link -->
		<!-- END footer_item -->
		</td>
	</tr>
	<!-- END block_footer -->

</table>

