<style>
body { margin:0px; }
</style>
{STATUSLINE}
<div class="invisible_border">
<div class="il_Header"><h1>{TXT_PAGEHEADLINE}</h1></div>
{BUTTONS}
{MESSAGE}
<form name="form" method="post" action="{ACTION}">
<table class="std">
<tr class="tblheader">
  <td class="std" align="left">{TXT_MSG_TO} {FEEDBACK_RECIPIENT}</td>
</tr>
<tr class="tblrow2">
  <td class="std">
  	<b>{TXT_YOUR_MSG}:</b><br/>
	<textarea name="msg_content" rows="10" cols="60">{TXT_MSG_DEFAULT}</textarea>
  </td>
</tr>
<tr class="tblrow1">
  <td class="std" align="right"><input class="submit" type="submit" name="msg_send" value="{TXT_SEND}" /></td>
</tr>
</table>
</form>
</div>