<tr>
<!--	<td valign="top" class="{ROWCOL}">{CHECKBOX}</td>-->
		<td valign="top" class="{ROWCOL}" nowrap="nowrap">
		<!-- BEGIN icla_read -->
			<a href="{VIEW_LINK}" target="{VIEW_TARGET}">{R_TITLE}</a>
		<!-- END icla_read -->
		<!-- BEGIN icla_visible -->
		<b>{V_TITLE}</b>
		<!-- END icla_visible -->
		&nbsp;
                <!-- BEGIN icla_edit -->
                [<a href="{EDIT_LINK}">{TXT_EDIT}</a>]	
                <!-- END icla_edit -->
		<!-- BEGIN icla_delete -->
 			[<a href="{DELETE_LINK}">{TXT_DELETE}</a>]
		<!-- END icla_delete -->
		<!-- BEGIN icla_desklink -->
 			[<a href="{TO_DESK_LINK}">{TXT_TO_DESK}</a>]
		<!-- END icla_desklink -->
		<br />
		<div class="il_Description">{DESCRIPTION}</div>
	</td>
	<td valign="top" class="{ROWCOL}">{OWNER}</td>
</tr>
