{RELOAD}
<h1>{TXT_PAGEHEADLINE}</h1>
{BUTTONS}
{MESSAGE}
<form method="POST" action="{FORMACTION}">
<table class="std">
<tr class="tblheader">
  <td class="std" colspan="2">{TXT_USR_DATA} <span class="default">{TXT_OF} {USR_FULLNAME}</span></td>
</tr>
<tr>
        <td class="option">{TXT_NICKNAME}</td>
        <td class="option_value">{NICKNAME}</td>
</tr>
<tr>
        <td class="option">{TXT_DEFAULT_ROLE}</td>
        <td class="option_value">{DEFAULT_ROLE}</td>
</tr>
<tr>
  <td colspan="2">&nbsp;</td>
</tr>
<tr class="tblheader">
  <td class="std" colspan="2">{TXT_PERSONAL_DATA}</td>
</tr>
<tr>
        <td class="option">{TXT_SALUTATION}</td>
        <td class="option_value">
                <select name="usr_gender">
                        <option {SELECTED_M} value="m">{TXT_SALUTATION_M}</option>
                        <option {SELECTED_F} value="f">{TXT_SALUTATION_F}</option>
                </select>
        </td>
</tr>
<tr>
        <td class="option">{TXT_FIRSTNAME}<span class="asterisk">*</span></td>
        <td class="option_value"><input type="text" name="usr_fname" maxlength="32" size="40" value="{FIRSTNAME}"/></td>
</tr>
<tr>
        <td class="option">{TXT_LASTNAME}<span class="asterisk">*</span></td>
        <td class="option_value"><input type="text" name="usr_lname" maxlength="32" size="40" value="{LASTNAME}"/></td>
</tr>
<tr>
        <td class="option">{TXT_TITLE}</td>
        <td class="option_value"><input type="text" name="usr_title" maxlength="32" size="40" value="{TITLE}"/></td>
</tr>
<tr>
  <td colspan="2">&nbsp;</td>
</tr>
<tr class="tblheader">
  <td class="std" colspan="2">{TXT_CONTACT_DATA}</td>
</tr>
<tr>
        <td class="option">{TXT_INSTITUTION}</td>
        <td class="option_value"><input type="text" name="usr_institution" maxlength="80" size="40" value="{INSTITUTION}"/></td>
</tr>
<tr>
        <td class="option">{TXT_STREET}</td>
        <td class="option_value"><input type="text" name="usr_street" maxlength="40" size="40" value="{STREET}"/></td>
</tr>
<tr>
        <td class="option">{TXT_ZIPCODE}</td>
        <td class="option_value"><input type="text" name="usr_zipcode" maxlength="10" size="10" value="{ZIPCODE}"/></td>
</tr>
<tr>
        <td class="option">{TXT_CITY}</td>
        <td class="option_value"><input type="text" name="usr_city" maxlength="40" size="40" value="{CITY}"/></td>
</tr>
<tr>
        <td class="option">{TXT_COUNTRY}</td>
        <td class="option_value"><input type="text" name="usr_country" maxlength="40" size="40" value="{COUNTRY}"/></td>
</tr>
<tr>
        <td class="option">{TXT_PHONE}</td>
        <td class="option_value"><input type="text" name="usr_phone" maxlength="40" size="40" value="{PHONE}"/></td>
</tr>
<tr>
        <td class="option">{TXT_EMAIL}<span class="asterisk">*</span></td>
        <td class="option_value"><input type="text" name="usr_email" maxlength="40" size="40" value="{EMAIL}"/></td>
</tr>
<tr>
  <td colspan="2">&nbsp;</td>
</tr>
<tr class="tblheader">
  <td class="std" colspan="2">{TXT_SETTINGS}</td>
</tr>
<tr>
        <td class="option">{TXT_LANGUAGE}</td>
        <td class="option_value">
                <select name="usr_language">
<!-- BEGIN sel_lang -->
                        <option {SELECTED_LANG} value="{LANGSHORT}">{LANG}</option>
<!-- END sel_lang -->
                </select>
        </td>
</tr>
<tr>
  <td class="option" align="right">{TXT_USR_SKIN}</td>
  <td class="option_value">
   <select name="usr_skin">
<!-- BEGIN selectskin -->   
   <option value="{SKINVALUE}" {SKINSELECTED}>{SKINOPTION}</option>
<!-- END selectskin -->
   </select>
   </td>
</tr>
<tr>
  <td class="option">{TXT_USR_STYLE}</td>
  <td class="option_value">
   <select name="usr_style">
<!-- BEGIN selectstyle -->   
   <option value="{STYLEVALUE}" {STYLESELECTED}>{STYLEOPTION}</option>
<!-- END selectstyle -->
   </select>
   </td>
</tr>
<tr>
  <td colspan="2"><span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FIELDS}</span></td>
</tr>
<tr>
  <td colspan="2" align="right"><input class="submit" type="submit" value="{TXT_SAVE}"/></td>
</tr>
</table>
</form>
