<form action="{FORMACTION}" method="post">
<table class="std">
<tr class="tblheader">
	<td class="std" colspan="5">{TXT_ACTION}</td>
</tr>
<tr>
  <td class="option" colspan="2">{TXT_TITLE}<span class="asterisk">*</span></td>
  <td class="option_value" colspan="3"><input name="style_title" value="{TITLE}" size="40" maxlength="128"/></td>
</tr>
<tr>
  <td class="option" colspan="2">{TXT_DESC}<br />
  </td>
  <td class="option_value" colspan="3"><textarea name="style_description" rows="2" cols="40">{DESCRIPTION}</textarea></td>
</tr>
<tr>
	<td class="submit" colspan="5"><small><span class="asterisk">*</span> {TXT_REQUIRED_FLD}<br /></small>
	</td>
</tr>
<tr><td class="submit" style="text-align:right;" colspan="5">
	<input class="submit" type="submit" name="cmd[{BTN_SAVE}]" value="{TXT_SAVE}"/>
	</td></tr>
</table>
</form>
