<form action="{FORMACTION}" name="objectItems" method="post">
<table class="fullwidth">
<!-- BEGIN tableheader -->
<tr class="tbltitle">
  <td colspan="{COLSPAN}">
  <table class="fullwidth_invisible">
    <tr class="tbltitle">
	  <td class="tbltitle" align="left">&nbsp;{TXT_TITLE}</td>
	  <td align="right">&nbsp;</td>
	</tr>
  </table>
  </td>
</tr>
<tr class="tblheader">
  <td class="std" width="30%" align="left">
  </td>
  <td class="std" align="left" colspan="100">
{TXT_ROLES}

  </td>
</tr>
<!-- END tableheader -->
<tr class="tblheader" valign="top">

  <td class="std" width="30%" align="left">{TXT_OPERATION}</td>
    <!-- BEGIN ROLENAMES -->
  <td class="std" width="15%">
<!-- BEGIN ROLELINK_OPEN -->
<a href="{LINK_ROLE_RULESET}" alt="{TXT_ROLE_RULESET}" title="{TXT_ROLE_RULESET}">
<!-- END ROLELINK_OPEN -->
{ROLE_NAME}
<!-- BEGIN ROLELINK_CLOSE -->
</a>
<!-- END ROLELINK_CLOSE -->
<br/><span class="small">{ROLE_CONTEXT_TYPE}<br/>{ROLE_CONTEXT}</span>
  </td>
	<!-- END ROLENAMES -->


</tr>
	<!-- BEGIN TABLE_DATA_OUTER -->
<tr class="{CSS_ROW}">
<td class="std">{PERMISSION} <span class="alert">{TXT_NOT_IMPL}</span></td>
    <!-- BEGIN CHECK_PERM -->
  <td class="std">{CHECK_PERMISSION}</td>
<!-- END CHECK_PERM -->

</tr>
<!-- END TABLE_DATA_OUTER -->
<!-- BEGIN STOP_INHERIT -->
<tr class="std">
	<td class="std" ><font color="red">{TXT_STOP_INHERITANCE}</font></td>
	<!-- BEGIN CHECK_INHERIT -->
	<td class="std">{CHECK_INHERITANCE}</td>
	<!-- END CHECK_INHERIT -->
</tr>
	<!-- END STOP_INHERIT -->

<tr class="std">
  <td class="std" align="right" colspan="{COL_ANZ}">
    <input class="submit" type="submit" value="{TXT_SAVE}" />
  </td>
</tr>
</table>
</form>
<!-- BEGIN LOCAL_ROLE -->
<form action="{FORMACTION_LR}" {TARGET} method="post">
<table class="std">
<tr class="tblheader">
  <td class="std" colspan="2">
  <table class="invisible_border" width="100%">
    <tr>
      <td>{TXT_HEADER}</td>
    </tr>
  </table>
  </td>
</tr>
<tr>
  <td class="option">{TXT_TITLE}<span class="asterisk">*</span></td>
  <td class="option_value"><input name="Fobject[title]" value="{TITLE}" size="40" maxlength="70" style="width:300px;"/></td>
</tr>
<tr>
  <td class="option">{TXT_DESC}</td>
  <td class="option_value"><textarea name="Fobject[desc]" rows="2" cols="40" style="width:300px;">{DESC}</textarea></td>
</tr>
<tr>
  <td class="submit" colspan="2">
  <span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FLD}</span>
  <div align="right">
	<input class="submit" type="submit" value="{TXT_ADD_ROLE}" />
  </div>
  </td>
</tr>
</table>
</form>
<!-- END LOCAL_ROLE -->
