<table class="ilPDSelectedItemBlock">
<tr class="tblheader">
	<td class="std" colspan="3"><img border="0" src="{IMG_HEADER}" align="middle" />
	{TXT_BLOCK_HEADER}</td>
</tr>

<!-- BEGIN block_row -->

<!-- BEGIN tbl_tstheader -->
<tr class="tblheader">
	<td class="std" colspan="3"><b>{TXT_TST_TITLE}</b></td>
</tr>
<!-- END tbl_tstheader -->

<tr class="{ROWCOL}">
	<td class="std">
	<table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td>
	<a href="{LINK_SHOW}" class="navigation" target="{TARGET_SHOW}">{TXT_ITEM_TITLE}</a>
	<!-- BEGIN description -->
	<br /><div class="il_Description">{TXT_ITEM_DESCRIPTION}</div>
	<!-- END description -->
	</td>
	<td valign="top" class="std" width="1px">{EDIT}
	<!-- BEGIN edit_link -->
	<a href="{LINK_EDIT}" class="navigation" target="{TARGET_EDIT}">{TXT_EDIT}</a>
	<!-- END edit_link -->
	</td>
	<td valign="top" class="std" width="1px">{DROP}
	<!-- BEGIN drop_link -->
	<a href="usr_personaldesktop.php?cmd=dropItem&type={TYPE}&id={ID}" class="navigation" target="{TARGET_DROP}">{TXT_DROP}</a>
	<!-- END drop_link -->
	</td></tr></table>
	</td>
</tr>
<!-- END block_row -->
</table>
