	<form action="{FORMACTION}" method="post">
	  <table class="std" width="50%" border="0">
		  <tr class="tblheader">
			<th class="std" colspan="2">
			  {TXT_DELETE_FIELD}
			</th>
		  </tr>
		  <tr>
			<td class="option" width="20%">
			  {TXT_FIELD_NAME}
			</td>
			<td class="option_value">
			  {FIELD_NAME}
			</td>
		  </tr>
		  <tr class="tblfooter">
			<td class="std" colspan="2">
			  <div align="right">
				<input type="submit" class="submit" name="cmd[deleteField]" value="{BTN_DELETE}" />
				<input type="submit" class="submit" name="cmd[listUserDefinedFields]" value="{BTN_CANCEL}" />
			  </div>
			</td>
		  </tr>
	  </table>
	</form>