<style>
body { margin:0px; }
</style>
{STATUSLINE}
<form action="{FORM_ACTION}" method="post">
<table class="fullwidth_invisible"><tr><td class="ilInvisibleBorder">
<!--<div class="invisible_border">-->
<div class="il_Header">
<table border="0" cellpadding="0" cellspacing="7" width="100%">
	<tr>
	<td><h1>{TXT_PAGEHEADLINE}</h1></td>
	<td nowrap="1" align="right">
	<table align="right">
	<tr>
<!-- BEGIN languages -->
		<td>
		<a href="{LINK_LANG}"><img src="./images/flags/{LANG_ICON}.gif" border="{BORDER}" vspace="{VSPACE}" hspace="0" title="{LANG_NAME}" alt="{LANG_NAME}"/></a> 
	    </td>
<!-- BEGIN lng_new_row -->
	</tr><tr>
<!-- END lng_new_row -->
<!-- END languages -->
<!-- BEGIN lng_empty_cell -->
	<td>&nbsp;</td>
<!-- END lng_empty_cell -->
	</tr>
	</table>
	</td>
	</tr>
	</table>
</div>
{MESSAGE}

<table class="fullwidth">
<tr class="tblheader">
 <td class="std">{TXT_AGREEMENT}</td>
</tr>
<tr class="std">
 <td class="std">{TXT_USR_AGREEMENT}</td>
</tr>
<tr>
<td class="std">
 </td>
</tr>
<!-- BEGIN get_acceptance -->
<tr class="std">
    <td class="std"><b><label for="status">{ACCEPT_AGREEMENT}</label></b>&nbsp;
    {ACCEPT_CHECKBOX}&nbsp;
	<input type="submit" class="submit" value="{TXT_SUBMIT}">
    </td>
</tr>
<!-- END get_acceptance -->
</table>
</form>
</div>
<br/>
<br/>
<div style="text-align:center;">
<!-- BEGIN back -->
[<a href="login.php?lang={LANG_KEY}">{BACK}</a>]
<!-- END back -->
<!--</div>-->
</td></tr></table>
