<!-- BEGIN mejs_video -->
<div id="player_{PLAYER_NR}_wrapper" class="ilPlayerPreviewOverlayOuter" tabindex="0" aria-label="{TXT_PLAY}">
	<!-- BEGIN preview -->
	<div class="ilPlayerPreviewOverlay">
		<img src="{IMG_SRC}" alt="{IMG_ALT}"/>
		<div class="ilPlayerPreviewDescription">
		<!-- BEGIN download --><div class="ilPlayerPreviewDescriptionDownload"><a href="{HREF_DOWNLOAD}">{TXT_DOWNLOAD}</a></div><!-- END download -->
		{PTITLE}</div>
		<div class="ilPlayerPreviewPlayButton"></div>
	</div>
	<!-- END preview -->
	<!-- preload none is currently not working in IE: http://www.longtailvideo.com/html5 (April 2012) -->
	<!-- info on video preload attribute: http://www.stevesouders.com/blog/2013/04/12/html5-video-preload/ -->
	<div id="player_{PLAYER_NR}_vtwrap" class="il-vt-wrap {CLASS}">
		<div >
				<!-- BEGIN source --><!-- END source -->
			<video id="player_{PLAYER_NR}" src="{FILE}" xwidth="{DISPLAY_WIDTH}" xheight="{DISPLAY_HEIGHT}" style="max-width: 100%;" class="{CLASS}" poster="{POSTER}" preload="none"></video>
			<!--<div style="padding-top: 10px; font-size: 80%; color: #808080;">
				<a href="#" onclick="il.MediaObjects.processCloseIcon(); return false;" class="ilMediaLightboxClose">{CLOSE}</a>
				<p>{TITLE}</p>
				<div>{DESCRIPTION}</div>
			</div>-->
		</div>
	</div>
</div>
<!-- END mejs_video -->
<!-- BEGIN youtube -->
<div id="player_{PLAYER_NR}_wrapper" class="ilPlayerPreviewOverlayOuter" tabindex="0" aria-label="{TXT_PLAY}">
	<!-- BEGIN ytpreview -->
	<div class="ilPlayerPreviewOverlay">
		<img src="{IMG_SRC}" alt="{IMG_ALT}"/>
		<div class="ilPlayerPreviewDescription">
			<!-- BEGIN ytdownload --><div class="ilPlayerPreviewDescriptionDownload"><a href="{HREF_DOWNLOAD}">{TXT_DOWNLOAD}</a></div><!-- END ytdownload -->
			{PTITLE}</div>
		<div class="ilPlayerPreviewPlayButton"></div>
	</div>
	<!-- END ytpreview -->
	<div id="player_{PLAYER_NR}_vtwrap" class="il-vt-wrap {CLASS}">
		<div>
		<video id="player_{PLAYER_NR}" xwidth="{DISPLAY_WIDTH}" xheight="{DISPLAY_HEIGHT}" src="{SRC}" style="max-width: 100%;" class="{CLASS}" poster="{POSTER}" preload="none"></video>
		<!-- <div style="padding-top: 10px; font-size: 80%; color: #808080;">
			<a href="#" onclick="il.MediaObjects.processCloseIcon(event); return false;" class="ilMediaLightboxClose">{CLOSE}</a>
			<p>{TITLE}</p>
			<div>{DESCRIPTION}</div>
		</div> -->
		</div>
	</div>
</div>
<!-- END youtube -->
<!-- BEGIN flv -->
<p id="player{PLAYER_NR}">
<object width="{DISPLAY_WIDTH}" height="{DISPLAY_HEIGHT}" type="application/x-shockwave-flash" data="{SWF_FILE}">
	<param name="movie" value="{SWF_FILE}" />
	<param name="flashvars" value="controls=true&file={FILE}" />
</object>
</p>
<!-- END flv -->
<!-- BEGIN audio -->
<div id="player{APLAYER_NR}_wrapper">
	<!-- BEGIN apreview -->
	<div class="ilPlayerPreviewOverlayOuter">
	<div class="ilPlayerPreviewOverlay">
		<img src="{IMG_SRC}" alt="{IMG_ALT}"/>
		<div class="ilPlayerPreviewDescription">
			<!-- BEGIN adownload --><div class="ilPlayerPreviewDescriptionDownload"><a href="{HREF_DOWNLOAD}">{TXT_DOWNLOAD}</a></div><!-- END adownload -->
			{PTITLE}</div>
		<div class="ilPlayerPreviewPlayButton"></div>
	</div>
	</div>
	<!-- END apreview -->
	<div style="{ASTYLE}">
	<audio id="player_{APLAYER_NR}" src="{AFILE}" width="{AWIDTH}" height="{AHEIGHT}" preload="meta"></audio>
	<script>
	$(function() {
		$('#player_{APLAYER_NR}').mediaelementplayer({
			success: function (mediaElement, domObject) {
				// add event listener
				mediaElement.addEventListener('play', function(e) {
					il.MediaObjects.current_player_id = 'player_{APLAYER_NR}';
					il.MediaObjects.playerStarted('');
					}, false);		
				}
		});
		il.MediaObjects.setPlayerConfig('player_{APLAYER_NR}', {event_url: '{AEVENT_URL}'});
	});
	</script>
	</div>
</div>
<!-- END audio -->
<!-- BEGIN image -->
<div id="player{IPLAYER_NR}_wrapper">
	<!-- BEGIN ipreview -->
	<div class="ilPlayerPreviewOverlayOuter ilPlayerPreviewImage">
	<div class="ilPlayerPreviewOverlay">
		<img src="{IMG_SRC}" alt="{IMG_ALT}"/>
		<div class="ilPlayerPreviewDescription">
			<!-- BEGIN idownload --><div class="ilPlayerPreviewDescriptionDownload"><a href="{HREF_DOWNLOAD}">{TXT_DOWNLOAD}</a></div><!-- END idownload -->
			{PTITLE}</div>
		<!-- <div class="ilPlayerPreviewPlayButton"></div> -->
	</div>
	</div>
	<!-- END ipreview -->
	<div id="player_{IPLAYER_NR}_vtwrap" class="ilPlayerImage ilNoDisplay" width="{IWIDTH}" style="max-width:100%;">	
		<img src="{IFILE}" alt="{IMG_ALT}" style="max-width:100%;"/>
		<div style="padding-top: 10px; font-size: 80%; color: #808080;">
				<a href="#" onclick="il.MediaObjects.processCloseIcon(); return false;" class="ilMediaLightboxClose">{ICLOSE}</a>
				<p>{ITITLE}</p>
				<div>{IDESCRIPTION}</div>
		</div>
	</div>
	<!-- BEGIN img_callback -->
	<script>	
	$(function() {		
		il.MediaObjects.setPlayerConfig('player_{IMG_CALLBACK_PLAYER_NR}_vtwrap', {event_url: '{IMG_CALLBACK_URL}'});
	});
	</script>
	<!-- END img_callback -->
</div>
<!-- END image -->
<!-- BEGIN default -->
<p id="player{PLAYER_NR}">
</p>
<!-- END default -->
