<form action="{FORMACTION}" name="post" method="post" enctype="multipart/form-data">

<table class="std">
<tr class="tblheader">
	<td class="std" colspan="2">
		{TXT_ACTION}
	</td>
</tr>
<!-- standard view -->
<tr class="tblheader">
	<td class="std" colspan="2">
		{TXT_STANDARD_VIEW}
	</td>
</tr>
<tr class="std">
	<td class="option">{TXT_FILE}
	<input type="radio" name="standard_type" value="LocalFile" {FILE_CHECKED}/>
	</td>
	<td class="option_value">
	{VAL_FILE}<br />
	<input type="file" name="standard_file" size="30">
	</td>
</tr>
<tr class="std">
	<td class="option">{TXT_REFERENCE}
	<input type="radio" name="standard_type" value="Reference" {REF_CHECKED}/>
	</td>
	<td class="option_value">
	<input type="text" name="standard_reference" value="{VAL_REFERENCE}" size="40" maxlength="200" /><br />
	<span class="il_Helptext">{TXT_REF_HELPTEXT}</span>
	</td>
</tr>
<!-- Format -->
<tr class="std">
	<td class="option">{TXT_FORMAT}
	</td>
	<td class="option_value">
	{VAL_FORMAT}
	</td>
</tr>
<!-- Width / Height-->
<tr class="std">
	<td class="option">
	{TXT_MOB_WIDTH} / {TXT_MOB_HEIGHT}
	</td>
	<td class="option_value">
	<input name="{INPUT_MOB_WIDTH}" value="{VAL_MOB_WIDTH}" size="8" maxlength="8" /> /
	<input name="{INPUT_MOB_HEIGHT}" value="{VAL_MOB_HEIGHT}" size="8" maxlength="8" />
	<!-- BEGIN get_size -->
	&nbsp;
	<input class="submit" type="submit" name="cmd[{CMD_SIZE}]" value="{TXT_GET_SIZE}" />
	<!-- END get_size -->
	<!-- BEGIN orig_size -->
	<br />
	<span class="il_Helptext">({TXT_ORIGINAL_SIZE}: {VAL_ORIG_WIDTH}x{VAL_ORIG_HEIGHT})</span>
	<!-- END orig_size -->
	</td>
</tr>
<!-- Caption -->
<tr class="std">
	<td class="option">
	{TXT_CAPTION}
	</td>
	<td class="option_value">
	<input name="{INPUT_CAPTION}" value="{VAL_CAPTION}" size="40" maxlength="200" />
	{SELECT_CAPTION}
	</td>
</tr>
<!-- Parameter -->
<tr class="std">
	<td class="option">{TXT_PARAMETER}
	</td>
	<td class="option_value">
	<textarea name="{INPUT_PARAMETERS}" cols="40" rows="4" wrap="virtual">{VAL_PARAMETERS}</textarea>
	</td>
</tr>
<!-- BEGIN fullscreen -->
<tr class="tblheader">
	<td class="std" colspan="2">
		{TXT_FULLSCREEN_VIEW}
	</td>
</tr>
<!-- File -->
<tr class="std">
	<td class="option">{TXT_FULL_FILE}
	<input type="radio" name="full_type" value="LocalFile" {FULL_FILE_CHECKED}/>
	</td>
	<td class="option_value">
	{VAL_FULL_FILE}<br />
	<input type="file" name="full_file" size="30">
	</td>
</tr>
<!-- Reference -->
<tr class="std">
	<td class="option">{TXT_FULL_REFERENCE}
	<input type="radio" name="full_type" value="Reference" {FULL_REF_CHECKED}/>
	</td>
	<td class="option_value">
	<input type="text" name="full_reference" value="{VAL_FULL_REFERENCE}" size="40" maxlength="200" /><br />
	<span class="il_Helptext">{TXT_FULL_REF_HELPTEXT}</span>
	</td>
</tr>
<!-- Format -->
<tr class="std">
	<td class="option">{TXT_FULL_FORMAT}
	</td>
	<td class="option_value">
	{VAL_FULL_FORMAT}
	</td>
</tr>
<!-- Width / Height -->
<tr class="std">
	<td class="option">
	{TXT_FULL_WIDTH} / {TXT_FULL_HEIGHT}
	</td>
	<td class="option_value">
	<input name="{INPUT_FULL_WIDTH}" value="{VAL_FULL_WIDTH}" size="8" maxlength="8" /> /
	<input name="{INPUT_FULL_HEIGHT}" value="{VAL_FULL_HEIGHT}" size="8" maxlength="8" />
	<!-- BEGIN get_full_size -->
	&nbsp;
	<input class="submit" type="submit" name="cmd[{CMD_FULL_SIZE}]" value="{TXT_GET_FULL_SIZE}" />
	<!-- END get_full_size -->
	<!-- BEGIN orig_full_size -->
	<br />
	<span class="il_Helptext">({TXT_ORIGINAL_SIZE}: {VAL_ORIG_WIDTH}x{VAL_ORIG_HEIGHT})</span>
	<!-- END orig_full_size -->
	</td>
</tr>
<!-- Caption -->
<tr class="std">
	<td class="option">
	{TXT_FULL_CAPTION}
	</td>
	<td class="option_value">
	<input name="{INPUT_FULL_CAPTION}" value="{VAL_FULL_CAPTION}" size="40" maxlength="200" />
	{SELECT_FULL_CAPTION}
	</td>
</tr>
<!-- Parameter -->
<tr class="std">
	<td class="option">{TXT_FULL_PARAMETER}
	</td>
	<td class="option_value">
	<textarea name="{INPUT_FULL_PARAMETERS}" cols="40" rows="4" wrap="virtual">{VAL_FULL_PARAMETERS}</textarea>
	</td>
</tr>
<!-- END fullscreen -->
<!-- BEGIN commands -->
<tr>
	<td class="submit" colspan="2">
		<input class="submit" type="submit" name="cmd[{BTN_NAME}]" value="{BTN_TEXT}" />
		<input class="submit" type="submit" name="cmd[{BTN_RESIZE}]" value="{TXT_RESIZE}" />
		<!-- BEGIN remove_full -->
		<input class="submit" type="submit" name="cmd[{CMD_REMOVE_FULL}]" value="{TXT_REMOVE_FULL}" />
		<!-- END remove_full -->
		<!-- BEGIN add_full -->
		<input class="submit" type="submit" name="cmd[{CMD_ADD_FULL}]" value="{TXT_ADD_FULL}" />
		<!-- END add_full -->
	</td>
</tr>
<!-- END commands -->
</table>
<br />[*] {TXT_RESIZE_EXPLANATION}
</form>
