<!-- BEGIN instruction -->
<table class="fullwidth">
	<tr>
	  <td class="message">{INSTRUCTION}</td>
	</tr>
</table>
<!-- END instruction -->
<form action="{FORMACTION}" name="post" method="post">
<table class="fullwidth">
	<tr class="tblheader">
		<td class="std" colspan="2">
			{TXT_IMAGEMAP}
		</td>
	</tr>
	<tr>
		<td class="option_value" colspan="2">
			{IMAGE_MAP}
		</td>
	</tr>
</table>
<br />
<!-- BEGIN new_area -->
<table class="std">
	<tr class="tblheader">
		<td class="std" colspan="2">
			{TXT_NEW_AREA}
		</td>
	</tr>
	<!-- BEGIN edit_link -->
	<tr>
		<td class = "option">{TXT_LINK_EXT}
			<input type="radio" name="{VAR_LINK_TYPE}" value="ext" {EXT_CHECKED}>
		</td>
		<td class = "option_value">
			<input type="text" size="20" maxlength="200" name="{VAR_LINK_EXT}" value="{VAL_LINK_EXT}" />
		</td>
	</tr>
	<tr>
		<td class = "option">{TXT_LINK_INT}
			<input type="radio" name="{VAR_LINK_TYPE}" value="int" {INT_CHECKED}>
		</td>
		<td class = "option_value">
			{VAL_LINK_INT}&nbsp;<a href="{LINK_ILINK}" target="tree">{TXT_ILINK}</a>
		</td>
	</tr>
	<!-- END edit_link -->
	<!-- BEGIN edit_name -->
	<tr>
		<td class = "option">{TXT_NAME2}</td>
		<td class = "option_value">
			<input type="text" size="20" maxlength="200" name="{VAR_NAME2}" value="{VAL_NAME2}" />
		</td>
	</tr>
	<!-- END edit_name -->
	<tr class="std">
		<td class="submit" colspan="2">
		<input type="submit" class="submit" name="cmd[{BTN_SAVE}]" value="{TXT_SAVE}">
		</td>
	</tr>
</table>
<!-- END new_area -->
</form>
{MAP_AREA_TABLE}
<!-- BEGIN area_table -->
<table class="fullwidth">
	<tr class="tblheader">
		<td class="std" width="1">
			&nbsp;
		</td>
		<td class="std">
			{TXT_NAME}
		</td>
		<td class="std">
			{TXT_SHAPE}
		</td>
		<td class="std">
			{TXT_COORDS}
		</td>
		<td class="std">
			{TXT_LINK}
		</td>
	</tr>
	<!-- BEGIN area_row -->
	<tr class="{CSS_ROW}">
		<td class="std">
			{CHECKBOX}
		</td>
		<td class="std">
			<input type="text" size="20" maxlength="200" name="{VAR_NAME}" value="{VAL_NAME}" />
		</td>
		<td class="std">
			{VAL_SHAPE}
		</td>
		<td class="std">
			{VAL_COORDS}
		</td>
		<td class="std">
			{VAL_LINK}
		</td>
	</tr>
	<!-- END area_row -->
	<!-- BEGIN commands -->
	<tr class="std">
		<td class="submit" colspan="5">
		<img src="{IMG_ARROW}" border="0">
		<input type="submit" class="submit" name="cmd[{BTN_DELETE}]" value="{TXT_DELETE}">
		&nbsp;
		<input type="submit" class="submit" name="cmd[{BTN_SET_LINK}]" value="{TXT_SET_LINK}">
		&nbsp;
		<input type="submit" class="submit" name="cmd[{BTN_SET_SHAPE}]" value="{TXT_SET_SHAPE}">
		&nbsp;{SELECT_TYPE2}
		</td>
	</tr>
	<tr class="std">
		<td class="submit" colspan="5">
		<input type="submit" class="submit" name="cmd[{BTN_UPDATE}]" value="{TXT_UPDATE}">
		&nbsp;
		<input type="submit" class="submit" name="cmd[{BTN_ADD_AREA}]" value="{TXT_ADD_AREA}">
		&nbsp;{SELECT_TYPE}
		</td>
	</tr>
	<!-- END commands -->
</table>
<!-- END area_table -->
