body.ilSetup{
}

div.ilSetupContent div.ilTabContentOuter {
}

div.ilSetupLogin{
	float:right;
	font-size: 90%;
}

div.ilSetupLanguage{
	float:right;
	color: black;
	line-height: 40px;
    vertical-align: middle;
	padding: 0 15px 0 0;
}

div.ilSetupTitle{
	padding:0px 0px 10px 0px;
}

span.ilSetupTitle{
	font-size: 120%;
	color: #3040A0;	
}

span.ilSetupAccessMode{
	font-size: 75%;
	color: white;
	display: inline;
}

ul.ilSetupMenu
{
	list-style: none;
	margin: 0px;
	padding: 15px 0 0;
}

li.ilSMInactive
{
	margin: 0 0 5px;
	padding: 6px 0 6px 15px;
}

li.ilSMInactive:hover
{
	background-color: #FFFFFF;
}

a.ilSMInactive
{
	
}

li.ilSMActive
{
	margin: 0px;
	margin-bottom: 5px;
	padding: 6px 0 6px 15px;
	background-color: #FFFFFF;
}

a.ilSMActive
{
	
}

div.ilSetupContent
{
	padding: 10px 20px;
}


h1 {
	font-weight: normal;
	font-size: 140%;
	color: #4050B0;
	margin: 5px 0px 15px 0px;
	padding: 0px;
}

table.ilSetupPreliminaries {
	border-color:#F0F0F0;
	width: 100%;
	background-color:#F9F9F9;
	border-style:solid;
	border-width:1px;
	margin-top:10px;
	padding:0px;
}

td.ilSetupPreliminaries {
	padding:5px;
	font-size: 90%;
}
#form_client_login,
#form_master_login {
    text-align: left;
    width: 40em;
}

div.ilSetupContent table.fullwidth_invisible {
	background-color: transparent;
}

#left-panel {
	padding: 0;
}

body.setup footer.ilFooter {
	padding: 20px 15px 0;
}

body.ilSetupLogin #left-panel {
	width: 0;
}

body.ilSetupLogin form.form-horizontal input.form-control,
body.ilSetupLogin form.form-horizontal textarea.form-control,
body.ilSetupLogin form.form-horizontal select.form-control {
    max-width: 100%;
}