body.ilSetup{
	background-color: #f0f0f0;
}

div.ilSetupFrame{
	padding:15px;
	background-image: url(../../templates/default/images/frame_back.png);
	background-repeat: repeat-x;
	background-color: #f0f0f0;
}

div.ilSetupFrameH{
	background-image: url(../../templates/default/images/head_back.png);
	background-repeat: repeat-x;
	background-color: #a7d3ff;
	min-width:850px;
	margin-left:auto;
	margin-right:auto;
}

div.ilSetupFrameTL{
	background-image: url(../../templates/default/images/tl.png);
	background-repeat: no-repeat;
}

div.ilSetupFrameTR{
	background-image: url(../../templates/default/images/tr.png);
	background-repeat: no-repeat;
	background-position: top right;
}

div.ilSetupFrameBL{
	background-image: url(../../templates/default/images/bl.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

div.ilSetupFrameBR{
	background-image: url(../../templates/default/images/br.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	padding: 10px 20px;
	min-height: 600px;
}

div.ilSetupContent div.ilTabContentOuter {
	float: none;
	width: inherit;
	padding: 0 10px;
}

div.ilSetupLogin{
	float:right;
	font-size: 90%;
}

div.ilSetupTitle{
	padding:0px 0px 10px 0px;
}

span.ilSetupTitle{
	font-size: 120%;
	color: #3040A0;	
}

span.ilSetupAccessMode{
	font-size: 75%;
	color: #3040A0;	
}

ul.ilSetupMenu
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

li.ilSMInactive
{
	margin: 0px;
	margin-bottom: 5px;
	padding: 6px 10px;
	background-color: #A0C0F0;
}

li.ilSMInactive:hover
{
	background-color: #FFFFFF;
}

a.ilSMInactive
{
	font-size: 90%;
}

li.ilSMActive
{
	margin: 0px;
	margin-bottom: 5px;
	padding: 6px 10px;
	background-color: #FFFFFF;
}

a.ilSMActive
{
	font-size: 90%;
}

div.ilSetupContent
{
	background-color:white;
	padding: 10px 20px;
}

div.ilSetupInfoMessage {
	background-color: #ecf0f9;
	margin: 8px 0px 8px 0px;
	padding: 10px 45px;
	min-height: 20px;
	vertical-align: middle;
	background-image: url('../../templates/default/images/mess_info.png');
	background-repeat: no-repeat;
	background-position: 5px 5px;
	font-size: 90%;
	clear:both;
}

div.ilSetupFailureMessage {
	background-color: #fceaea;
	margin: 8px 0px 8px 0px;
	padding: 10px 45px;
	min-height: 20px;
	vertical-align: middle;
	background-image: url('../../templates/default/images/mess_failure.png');
	background-repeat: no-repeat;
	background-position: 5px 5px;
	font-size: 90%;
	clear:both;
}

h1 {
	font-weight: normal;
	font-size: 140%;
	color: #4050B0;
	margin: 5px 0px 15px 0px;
	padding: 0px;
}

table.ilSetupPreliminaries {
	border-color:#F0F0F0;
	width: 100%;
	background-color:#F9F9F9;
	border-style:solid;
	border-width:1px;
	margin-top:10px;
	padding:0px;
}

td.ilSetupPreliminaries {
	padding:5px;
	font-size: 90%;
}
