<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<script type="text/javascript" src="{API_LINK}"></script>
</head>
<frameset cols="25%,75%">
	<frame src="{EXPLORER_LINK}" name="tree" marginwidth="0" marginheight="0" scrolling="auto" />
	<frame src="{PRESENTATION_LINK}" name="sahs_content" marginwidth="0" marginheight="0" scrolling="auto" />
	<noframes>
	The editor interface requires a <b>frames-capable</b> web browser.
	</noframes>
</frameset>
</html>
