/* Services/UIComponent/Checklist */

div.ilChecklist ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.ilChecklist ul li {
	padding: 0;
	font-size: 90%;
}

div.ilChecklist ul li a, div.ilChecklist ul li span	{
	padding: 5px 5px;
	margin: 0 -5px;
	display: block;
}

div.ilChecklist ul a:hover {
	text-decoration: none;
	color: @link-color;
}

div.ilChecklist ul li a:hover {
	background-color: @il-highlight-bg;
}

div.ilChecklist ul li p, div.ilChecklist ul li p:hover {
	color: #808080;
	font-size: 85%;
	text-decoration: none;
	padding: 0;
	margin-top: 0px;
}

div.ilChecklist ul li img {
	width: 18px;
	height: 18px;
	float: right;
}

.ilSetupContent div.ilChecklist {
	min-width: 200px;
}