<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" stopOnFailure="false" backupGlobals="false" bootstrap="./tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">classes</directory>
    </include>
  </coverage>
  <testsuite name="ilServicesCertificateSuite">
    <file>./tests/ilServicesCertificateSuite.php</file>
  </testsuite>
</phpunit>
