/* Modules/Forum */

a.postread, a.postread:visited {
	font-weight: @il-font-weight-base;
}

a.postunread, a.postunread:visited {
	font-weight: @il-font-weight-bold;
}

a.postnew, a.postnew:visited {
	font-style: italic;
	font-weight: @il-font-weight-bold;
}

blockquote.ilForumQuote {
	margin: 0 20px 10px;
	padding: 5px;
	border: 1px solid @il-main-border-color;
	font-size: @il-font-size-small;
}

div.ilForumQuoteHead {
	font-weight: @il-font-weight-bold;
	font-size: @il-font-size-small;
	margin: 0 0 @il-margin-xxlarge-vertical;
}

/* Modules/Forum */
#ilFrmPostList {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: @il-main-bg;
}

.ilFrmPostImage {
	float: left;
	width: 100px;
	overflow: hidden;
	img {
		vertical-align: top;
		margin: @il-margin-xlarge-vertical @il-margin-xxxlarge-horizontal @il-margin-xlarge-vertical @il-margin-small-horizontal;
		border: none;
		max-width: 100%;
		@media only screen and (min-width: @grid-float-breakpoint) {
			margin: 0 !important;
			padding: @il-padding-large-vertical @il-padding-base-horizontal @il-padding-xlarge-vertical @il-padding-small-horizontal;
		}
	}
}

.ilFrmPostClear {
	clear: both;
	width: 1px;
	height: 1px;
	line-height: 1px;
}

.ilFrmPostTitle {
	margin-top: @il-margin-xxxlarge-vertical;
	font-size: @il-font-size-large;
	@media only screen and (max-width: @grid-float-breakpoint-max) {
		margin-top: @il-margin-large-vertical;
		font-size: @il-font-size-base;
	}
}

div.ilFrmPostHeader span.small {
	color: @il-text-light-color;
}

.ilFrmPostContentContainer {
	margin: 0 0 @il-margin-base-vertical;
	width: 80%;
	float: left;
	@media only screen and (max-width: @grid-float-breakpoint-max) {
		padding-left: @il-padding-small-horizontal;
		width: 100%;
	}
	img {
		@media only screen {
			width: 100%;
			height: auto !important;
		}
	}
}

.ilFrmTargetImage {
	margin: 0 0 @il-margin-xxxlarge-vertical;
	height: auto !important;

	img {
		height: 20px !important;
	}

	a {
		display: inline-block;
	}

	.il-link.link-bulky .bulky-label {
		display: none;
	}
}

.ilFrmPostContent {
	margin-top: @il-margin-xxxlarge-vertical;
}

li.ilFrmPostRow {
	padding: @il-padding-base-vertical 0 @il-padding-small-vertical @il-padding-xs-horizontal;
	margin-bottom: @il-margin-xxxlarge-vertical;
	border-left: @il-posting-left-border-width solid @il-main-border-color;

	&.tblrowmarked{
		background-color: @il-main-bg;
		border-left: @il-posting-left-border-width solid @il-highlight-bg;
	}

	div.ilForm {
		width: 100%;
		max-width: 1000px;
		div.ilFormValue {
			width: auto;
		}
		div.ilFormOption {
			width: 150px;
		}
		&, input[type=text], textarea {
			@media only screen and (max-width: @grid-float-breakpoint-max) {
				width: 100%;
			}
		}
	}
	img.ilUserIcon {
		@media only screen and (max-width: @grid-float-breakpoint-max) {
			width: 50px;
			height: 50px;
		}
	}
}

@media only screen and (min-width: @screen-lg-desktop) {
	.sort_by_posts .ilFrmPostRow {
		&.ilFrmPost-level-2 {
			padding-left: 50px;
		}
		&.ilFrmPost-level-3 {
			padding-left: 100px;
		}
		&.ilFrmPost-level-4 {
			padding-left: 150px;
		}
		&.ilFrmPost-level-5 {
			padding-left: 190px;
		}
		&.ilFrmPost-level-6 {
			padding-left: 220px;
		}
		&.ilFrmPost-level-7 {
			padding-left: 240px;
		}
		&.ilFrmPost-level-8 {
			padding-left: 260px;
		}
		&.ilFrmPost-level-9 {
			padding-left: 280px;
		}
		&.ilFrmPost-level-10 {
			padding-left: 300px;
		}
	}
}

li.ilFrmPostCensorshipAdvice {
	margin: 0;
	padding: 0;
	font-weight: @il-font-weight-bold;
}

.ilFrmPostAttachmentsContainer {
	margin: @il-margin-xxxlarge-vertical 0 0;
	font-weight: @il-font-weight-bold;
	a {
		font-weight: @il-font-weight-base;
	}
	img {
		vertical-align: middle;
	}
}

.ilFrmPostCommands {
	float: right;
	margin: 0 0 @il-padding-small-vertical;
}

li.ilModeratorPosting {
	border-left: @il-posting-left-border-width solid @il-posting-by-moderator-bg;
}

li.ilPostingNeedsActivation {
	border-left: @il-posting-left-border-width solid @il-posting-needs-moderation-bg;
}

.ilFrmBottomToolbar {
	margin-top: @il-margin-xxxlarge-vertical;
}

.ilForumTreeTitle {
	display: inline-block;
}

.ilForumTreeTitleUnread {
	font-weight: @il-font-weight-bold;
}

.ilForumTreeUnlinkedContent {
	display: block;
	line-height: 0.9em;
	margin-bottom: 10px;
	text-decoration: none;
	cursor: text;
	font-size: smaller;
	color: @il-text-color;
	padding-left: 23px;
}

.frm-thread-scrollable-print {
	overflow: auto;
}

.ilForumNotificationSettingsForm {
	white-space: normal;
}

.ilForumDraftHistoryEntry {
	padding: 5px;
}