#loading_div_background {
    display: none;
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

#loading_div {
    width: 10em;
    height: 5em;
    background-color: #EEEEEE;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -5em;
    margin-top: -2.5em;
    padding-top: 1em;
    padding-bottom: 1px;
    opacity: 1.0;
}

.xcld_locator{
    float: left;
    padding-top: 4px;
    padding-left: 10px;
    min-width: 300px;
}

#xcld_toolbar {
    white-space: inherit;
}