

.il-input-rating-topic{
	 float: left;
	 margin-right: 5px;
	}

.il-input-rating {
	display: inline-block;

	input {
		float: right;
		padding: 0;
		margin: 0 0 0 -20px;
		opacity: 0;
	}

	/*delos uses "\e006", which is the right-arrow...*/
	.glyphicon-star:before {
	  content: "\2605" !important;
	}

	.glyphicon-star {
		float: right;
		position: relative;
		display: block;
		margin-top: -8px;
		margin-bottom: 0px;
		font-size: 160%;
		color: @il-glyph-color;
		/*
			for disabled mode, use:
			color: @il-glyph-hover-color;
		*/

	}
	.glyphicon-star:hover,
	.glyphicon-star:hover ~ .glyphicon-star,
	input:checked ~ .glyphicon-star {
		color: @il-glyph-highlighted-color;
		/*
			for disabled mode, use:
			color: @il-glyph-highlighted-hover-color
		*/
	}

	span.label {
		margin-left: 110px;
		position: absolute;
		display: none;
		color: @text-color
	}

	&:hover span.label{
	  display: none;
	}

	.glyphicon-star:hover + span.label,
	input:checked + label + span {
	  display: block;
	}

}
