<script src="Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.js"></script>

<script>
	document.addEventListener('DOMContentLoaded', (event) => {
		const lang = {
			main: {LBL_MAINROOM},
			left: {LBL_LEFT_PRIVATE_ROOM},
			enter: {LBL_JOIN},
			invite_users: {LBL_INVITE_TO_PRIVATE_ROOM},
			kick: {LBL_KICK},
			ban: {LBL_BAN},
			kick_question: {LBL_KICK_QUESTION},
			ban_question: {LBL_BAN_QUESTION},
			address: {LBL_ADDRESS},
			speak_to: {LBL_SPEAK_TO},
			whisper: {LBL_WHISPER},
			whisper_to: {LBL_WHISPER_TO},
			connect: {LBL_CONNECT},
			disconnected: {LBL_DISCONNECT},
			welcome_to_chat: {LBL_WELCOME_TO_CHAT},
			user_invited: {LBL_USER_INVITED},
			user_kicked: {LBL_USER_KICKED},
			user_invited_self: {LBL_USER_INVITED_SELF},
			private_room_closed: {LBL_PRIVATE_ROOM_CLOSED},
			private_room_entered: {LBL_PRIVATE_ROOM_ENTERED},
			private_room_left: {LBL_PRIVATE_ROOM_LEFT},
			private_room_entered_user: {LBL_PRIVATE_ROOM_ENTERED_USER},
			kicked_from_private_room: {LBL_KICKED_FROM_PRIVATE_ROOM},
			ok: {LBL_OK},
			'delete': {LBL_DELETE},
			cancel: {LBL_CANCEL},
			history_has_been_cleared: {LBL_HISTORY_CLEARED},
			clear_room_history: {LBL_CLEAR_ROOM_HISTORY},
			clear_room_history_question: {LBL_CLEAR_ROOM_HISTORY_QUESTION},
			end_whisper: {LBL_END_WHISPER},
			timeformat: {LBL_TIMEFORMAT},
			dateformat: {LBL_DATEFORMAT}
		};

		il.Chatroom.run("chat_messages", lang, "{BASEURL}", "{INSTANCE}", "{SCOPE}", "{POSTURL}", {INITIAL_DATA});
	});
</script>

<div id="invite_users_container" class="ilNoDisplayChat">
    <p id="invite_user_text_wrapper">
        <label for="invite_user_text">{LBL_USER_TEXT}:</label><img id="invite_users_loading" class="ilNoDisplayChat" src="{LOADING_IMAGE}"/>
        <input autocomplete="off" type="text" class="form-control ui-autocomplete-input" id="invite_user_text" />
        {LBL_USER_IN_ILIAS}
        <div id="invite_users_no_user" class="ilNoDisplayChat alert alert-info">{LBL_NO_USER}</div>
    </p>
</div>

{CHAT_OUTPUT}
{CHAT_INPUT}

<input class="ilHidden" type="text" name="moreOptions" id="moreOptions" />
