<form role="form" class="form-horizontal">
    <div class="form-group row">
	<div class="col-sm-3">
	    <label class="control-label" for="submit_message_text">
		<span id="message_recipient_info_all">{LBL_TOALL}</span>
		<span id="message_recipient_info"></span>
	    </label>
	</div>
	<div id="iosChatInputContainer" class="col-sm-9">
	    <textarea autocomplete="off" class="form-control" name="message" id="submit_message_text"></textarea>
	    <input type="button" class="btn btn-default btn-sm" value="{LBL_SEND}" id="submit_message"/>
	</div>
    </div>
</form>
