<!-- BEGIN formtop -->
<form name="formInfoScreen" method="post" action="{FORMACTION}">
<!-- END formtop -->
{TOP_BUTTONS}
{TOP_FORMBUTTONS}
<table class="il_InfoScreen">
<!-- BEGIN row -->
<!-- BEGIN header_row -->
<tr>
	<th class="il_InfoScreen" colspan="2">
		<div class="il_InfoScreenSection">{TXT_SECTION}</div>
	</th>
</tr>
<!-- END header_row -->
<!-- BEGIN property_row -->
<tr>
	<td class="il_InfoScreenProperty" width="30%">{TXT_PROPERTY}</td>
	<td class="il_InfoScreenPropertyValue" width="70%">
		<!-- BEGIN pv -->{TXT_PROPERTY_VALUE}<!-- END pv -->
		<!-- BEGIN lpv --><a href="{LINK_PROPERTY_VALUE}">{TXT_PROPERTY_LVALUE}</a><!-- END lpv -->
	</td>
</tr>
<!-- END property_row -->
<!-- BEGIN property_full_row -->
<tr>
	<td class="il_InfoScreenPropertyValue" colspan="2">{TXT_PROPERTY_FULL_VALUE}</td>
</tr>
<!-- END property_full_row -->
<!-- END row -->
<tr>
	<td class="il_InfoScreenPropertyValue" colspan="2">&nbsp;</td>
</tr>
</table>
<!-- BEGIN hidden_element -->
<input type="hidden" name="{HIDDEN_NAME}" value="{HIDDEN_VALUE}" />
<!-- END hidden_element -->
<!-- BEGIN formbottom -->
</form>
<!-- END formbottom -->
<!-- BEGIN learning_progress -->
<br />
{LP_TABLE}
<!-- END learning_progress -->
<!-- BEGIN notes -->
<br />
{NOTES}
<!-- END notes -->
