<!-- BEGIN formtop -->
<form name="formInfoScreen" method="post" action="{FORMACTION}">
<!-- END formtop -->
{TOP_BUTTONS}
{TOP_FORMBUTTONS}
<!-- BEGIN row -->
<div class="ilInfoScreenSec form-horizontal" id="infoscreen_section_{SECTION_ID}"{SECTION_HIDDEN}>
	<h3 class="ilHeader">{TXT_SECTION}</h3>
	<!-- BEGIN property_row -->
	<div class="form-group">
		<div class="il_InfoScreenProperty control-label col-xs-3">{TXT_PROPERTY}</div>
		<div class="il_InfoScreenPropertyValue col-xs-9">
			<!-- BEGIN pv -->{TXT_PROPERTY_VALUE}<!-- END pv -->
			<!-- BEGIN lpv --><a href="{LINK_PROPERTY_VALUE}">{TXT_PROPERTY_LVALUE}</a><!-- END lpv -->
		</div>
	</div>
	<!-- END property_row -->
	<!-- BEGIN property_full_row -->
	<div class="form-group">
		<div class="il_InfoScreenPropertyValue col-xs-offset-3 col-xs-9">{TXT_PROPERTY_FULL_VALUE}</div>
	</div>
	<!-- END property_full_row -->
</div>
<!-- END row -->
<!-- BEGIN hidden_element -->
<input type="hidden" name="{HIDDEN_NAME}" value="{HIDDEN_VALUE}" />
<!-- END hidden_element -->
<!-- BEGIN formbottom -->
</form>
<!-- END formbottom -->
<!-- BEGIN learning_progress -->
<br />
{LP_TABLE}
<!-- END learning_progress -->
<!-- BEGIN notes -->
<br />
{NOTES}
<!-- END notes -->
<!-- BEGIN hidden_js -->
<script language="JavaScript" type="text/javascript">
	function toggleSections(elm, show_sections_txt, hide_sections_txt) {
		var $elms = $('div[id*="infoscreen_section_hidable_"]');

		$elms.toggle();

		if (typeof elm.nodeName != "undefined" && elm.nodeName.toLowerCase() == 'a') {
			elm.innerHTML = $elms.is(":visible") ?  hide_sections_txt : show_sections_txt;
		} else {
			$("a.submit").filter(function() {
				return $(this).attr("href").toLowerCase().indexOf("javascript:togglesections") != -1
			}).text($elms.is(":visible") ?  hide_sections_txt : show_sections_txt);
		}
	}
</script>
<!-- END hidden_js -->