
/**********HEADER**********/
@media  (max-width: 767px) {
#ilTopBar.ilTopBar {
    height: 60px;
    background-color: #f9f9f9;
    color: @mid-gray;
    border-bottom: 3px solid #f0f0f0;
 }
#ilTopBarNav > li > a {
    background-color: transparent;
    margin-top: 9px;
    font-size: initial;
  }
#ilTopNav button.navbar-toggle {
    color: @mid-gray;
    background-color: transparent;
    border: 1px solid @mid-gray;
    border-radius: 3px;
    left: 65px;
    top: 11px;
    height: 38px;
    width: 38px;
}
 #ilTopNav {
    margin: 0px 0 0 0;
}
#ilTopNav button.navbar-toggle .icon-bar {
    margin-left: -3px;
 }
.ilMainMenu.ilTopFixed {
    top: 60px;
 }
.ilMainMenu {
    background-color: #E5EEF6;
 }
#ilTopNav .navbar-nav > li > a {
    color: #666;
    margin: 0px;
    padding: 7px 10px 8px;
 }
#ilTopNav.navbar-default {
    background-color: transparent;
 }
#ilTopNav.navbar {
    float: right;
    margin-right: 0px;
    width: 100%;
 }
#ilTopNav .navbar-nav > li {
    border-bottom: 1px solid #ccc;
    margin: 0px;
 }
#ilTopNav.navbar > .navbar-collapse {
    padding: 0 0 0 0;
 }
#ilTopNav .navbar-nav > li > a:hover,
#ilTopNav .navbar-nav > li > a:active,
#ilTopNav .navbar-nav > li > a:focus {
    background-color: @accent-primary;
 }
.navbar-nav {
    margin: 0px 0px;
 }
#ilTopNav .navbar-nav > .active > a,
#ilTopNav .navbar-nav > .open > a,
#ilTopNav .navbar-nav > .active > a:hover,
#ilTopNav .navbar-nav > .open > a:hover,
#ilTopNav .navbar-nav > .active > a:active,
#ilTopNav .navbar-nav > .open > a:active,
#ilTopNav .navbar-nav > .active > a:focus,
#ilTopNav .navbar-nav > .open > a:focus {
    background-color: @accent-primary;
 }
.navbar-nav .open .dropdown-menu > li > a,
.navbar-nav .open .dropdown-menu .dropdown-header {
    margin-left: -15px;
    margin-right: -15px;
 }
.ilMainHeader > header > .row > a.navbar-brand > img {
    height: 55px;
    margin-top: 4px;
    margin-left: 4px;
 }
}

/**********BODY**********/
@media  (max-width: 767px) {
body {
      background-color: white;
 }
#fixed_content {
    margin-right: 0px;
    margin-left: 0px;
 }
.RepositoryPermaLink a.permalink_label > span.glyphicon {
    display: inherit;
 }
}
