<!-- BEGIN list_start -->
<ul class="ilTimeline">
<!-- END list_start -->
	<!-- BEGIN item -->
	<li>
		<!-- BEGIN badge --><div class="ilTimelineBadge"><p class="ilTimelineDay">{DAY}</p><p class="ilTimelineMonth">{MONTH}</p></div><!-- END badge -->
		<div class="ilTimelinePanel">
			<div class="js-dynamic-height dynamic-max-height" data-maxheight="370" style="position: relative; z-index:500;">
				<div class="dynamic-height-wrap">
				{CONTENT}
				</div>
				<button class="js-dynamic-show-hide dynamic-show-more button btn btn-default" title="Show more" data-replace-text="Show less">Show more</button>
			</div>
			<div style="position: relative;">
				{FOOTER}
			</div>
		</div>
		</li>
	<!-- END item -->
<!-- BEGIN list_end -->
</ul>
<!-- END list_end -->