// No Category to start

//** comment variable 11
@variableNoCategory1:	value11;
@variableNoCategory1NoComment:		value12;
//== Category 1 no valid section
@variableNoValidSection1:	value21;
//** comment
@variableNoValidSection2:		value22;

//== Category 2
//
//## Comment Category 2
//** Hard references id
@regular:		value;
//** Hard references
@variable21:		floor((@regular * 1.6)) * lighten(@regular, 20%);

//== Category 3
//## No Section Between
@variable3:	value3;