/* Modules/Forum */
a.postread,
a.postread:visited {
  font-weight: normal;
}
a.postunread,
a.postunread:visited {
  font-weight: bold;
}
a.postnew,
a.postnew:visited {
  font-style: italic;
  font-weight: bold;
}
blockquote.ilForumQuote {
  margin: 0 20px 10px;
  padding: 5px;
  border: 1px solid #B6B6B6;
}
div.ilForumQuoteHead {
  font-weight: bold;
  font-size: 90%;
  margin: 0 0 10px;
}
/* Modules/Forum */
#ilFrmPostList {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ilFrmPostImage {
  float: left;
  width: 100px;
  overflow: hidden;
}
.ilFrmPostImage img {
  vertical-align: top;
  margin: 5px 20px 5px 5px;
  border: none;
}
.ilFrmPostClear {
  clear: both;
  width: 1px;
  height: 1px;
  line-height: 1px;
}
.ilFrmPostTitle {
  margin-top: 15px;
  font-size: 120%;
}
div.ilFrmPostHeader span.small {
  color: #909090;
}
.ilFrmPostContentContainer {
  margin: 0 0 10px;
  width: 80%;
  float: left;
}
.ilFrmPostContent {
  margin-top: 20px;
}
.ilFrmPostRow div.ilForm {
  width: 100%;
  max-width: 1000px;
}
.ilFrmPostRow div.ilForm div.ilFormValue {
  width: auto;
}
.ilFrmPostRow div.ilForm div.ilFormOption {
  width: 150px;
}
.ilFrmPostCensorshipAdvice {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.ilFrmPostAttachmentsContainer {
  margin: 20px 0 0;
  font-weight: bold;
}
.ilFrmPostAttachmentsContainer a {
  font-weight: normal;
}
.ilFrmPostAttachmentsContainer img {
  vertical-align: middle;
}
.ilFrmPostCommands {
  float: right;
  margin: 0 0 3px;
}
.ilModeratorPosting {
  border: 1px solid #FD7;
  background-color: #FF9;
  padding: 0 5px;
}
