/* Modules/Forum */
.ilFrmPostRow div.ilForm,
.ilFrmPostRow div.ilForm input[type=text],
.ilFrmPostRow div.ilForm textarea {
  width: 100%;
}
.ilFrmPostRow div.ilForm div.ilFormValue {
  width: auto;
}
.ilFrmPostRow img.ilUserIcon {
  width: 50px;
  height: 50px;
}
.ilFrmPostTitle {
  margin-top: 5px;
  font-size: 100%;
}
.ilFrmPostContentContainer {
  width: 100%;
}
