<tr class="{CSS_ROW}">
	<td class="std" valign="top">
	<input type="checkbox" name="id[]" value="{ID}" />
	</td>
	<td class="std small" valign="top">
	{TXT_TITLE}
	</td>
	<td class="std small" valign="top">
	{TXT_TYPE}
	</td>
	<td class="std small" valign="top">
	<input type="text" size="4" maxlength="4" name="order[{ID}]" value="{ORDER_VAL}"/>
	</td>
	<td class="std small" valign="top" style="white-space:nowrap;">
	{TXT_START_TIME}
	</td>
	<td class="std small" valign="top" style="white-space:nowrap;">
	{TXT_DEADLINE}
	</td>
	<td class="std small" valign="top">
	{TXT_MANDATORY}
	</td>
	<td class="std small" valign="top">
	{TXT_INSTRUCTIONS}
	</td>
	<td class="std small" valign="top">
	<a href="{CMD_EDIT}">{TXT_EDIT}</a>
	</td>
</tr>