<tr class="{CSS_ROW}">
  <!-- <td class="std">
  {VAL_CHKBOX}
  </td>-->
  <td class="std">
  <!-- BEGIN multi_bl -->
  <input type="hidden" name="id[{VAL_ID}]" value = "1" />
  <!-- END multi_bl -->
  {TXT_ASS_TITLE}
  <!-- BEGIN team_ass -->
  <div class="small">
	  <!-- BEGIN team_ass_details -->
	  <ul>
		<!-- BEGIN ass_members -->
		<li>{TXT_MEMBER_NAME}</li>
		<!-- END ass_members -->
	  </ul>
	  <a href="{HREF_LOG}" class="il_ContainerItemCommand">{TXT_LOG}</a>
	  <!-- END team_ass_details -->
	  <!-- BEGIN team_info -->	  
	   <span class="small">{TXT_TEAM_INFO}
		  <a href="{URL_CREATE_TEAM}">{TXT_CREATE_TEAM}</a>
		  {TEAM_FILES_INFO}
	  </span>
	  <!-- END team_info -->
  </div>
  <!-- END team_ass -->
  </td>
   <!-- BEGIN member_has_no_team_bl -->
  <td colspan="3">
	  &nbsp;
  </td>
  <!-- END member_has_no_team_bl -->
  <!-- BEGIN member_has_team_bl -->
  <td class="std">
  <span class="small">{TXT_LAST_SUBMISSION}: {VAL_LAST_SUBMISSION}<br />
  {TXT_SUBMITTED_FILES}: {VAL_SUBMITTED_FILES} &nbsp;</span>
  <!-- BEGIN download_link -->
  <a class="il_ContainerItemCommand" href="{LINK_DOWNLOAD}">{TXT_DOWNLOAD}</a>
  <!-- END download_link -->
  <!-- BEGIN download_new_link -->
  <a class="il_ContainerItemCommand" href="{LINK_NEW_DOWNLOAD}">{TXT_NEW_DOWNLOAD}</a>
  <!-- END download_new_link -->
  <div style="margin: 2px 0px 0px 0px">
  <span class="small">
  {TXT_NOTE}:<br /><input class="form-control" type="text" name="{NAME_NOTE}" value="{VAL_NOTE}" size="45" maxlength="200" />
  </span>
  </div>
  </td>
  <td class="std"><span class="small ilWhiteSpaceNowrap">
  	<img src="{IMG_STATUS}" alt="{ALT_STATUS}" />
  	<select class="form-control" name="status[{VAL_ID}]" >
		<option value="notgraded" {SEL_NOTGRADED}>{TXT_NOTGRADED}</option>
		<option value="passed" {SEL_PASSED}>{TXT_PASSED}</option>
		<option value="failed" {SEL_FAILED}>{TXT_FAILED}</option>
	</select><br /><br />
  {TXT_MARK}: <input class="form-control" type="text" name="{NAME_MARK}" value="{VAL_MARK}" size="5" maxlength="32" />
  <!-- BEGIN status_date -->
  <br /><br />{TXT_LAST_CHANGE}:<br />{VAL_STATUS_DATE}
  <!-- END status_date -->
  </span>
  </td>
  <td class="std">
  <div id="{LCOMMENT_ID}" class="small">{LCOMMENT_SNIPPET}</div>
  <div id="{COMMENT_OVERLAY_TRIGGER_ID}">	  
	  <a href="#" class="il_ContainerItemCommand">{COMMENT_OVERLAY_TRIGGER_TEXT}</a>
  </div>	  
  <div style="margin-top: 12px">
	<a class="il_ContainerItemCommand" target="_blank" href="{LINK_FEEDBACK}">{TXT_FEEDBACK}</a>
  </div>
  <!-- BEGIN feedback_date -->
  <div class="small" style="margin-top: 4px">
  {TXT_FEEDBACK_MAIL_SENT}<br />
  {VAL_FEEDBACK_DATE}</div>
  <!-- END feedback_date -->
  <div style="margin-top: 12px"><a class="il_ContainerItemCommand" href="{LINK_FILE_FEEDBACK}">{TXT_FILE_FEEDBACK}</a></div>
  <!-- BEGIN feedback_file_date -->
  <!-- END feedback_file_date -->
  <!-- BEGIN peer_review_bl -->
  <div style="margin-top: 12px">
	{VAL_RATING}<br />
	<a class="il_ContainerItemCommand" href="{LINK_PEER_REVIEW}">{TXT_PEER_REVIEW}</a>
  </div>
  <!-- END peer_review_bl -->  
  </td>
   <!-- END member_has_team_bl -->
</tr>