<!-- BEGIN item -->
<div>
	<span id="{ID}">{TEXT}</span>
	<input type="hidden" name="{NAME}" value="{VAL}" />
	<input type="hidden" name="{TNAME}" value="{TEXT}" />
	<button class="btn btn-link" title="{TXT_DOWN}" onclick="javascript: var next = $(this.parentNode).next(); if(next[0]) { $(next).after($(this.parentNode)) }; return false;">{DOWN}</button>
	<button class="btn btn-link" title="{TXT_UP}" onclick="javascript: var prev = $(this.parentNode).prev(); if(prev[0]) { $(prev).before($(this.parentNode)) }; return false;">{UP}</button>
</div>
<!-- END item -->