//== Spacing
//
//## Define common padding, margin and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
$il-padding-base: 0.562rem; // 9px

$il-padding-base-vertical: 3 * 0.0625rem; // 3px
$il-padding-base-horizontal: $il-padding-base;

$il-padding-large-vertical: 6 * 0.0625rem; // 6px
$il-padding-large-horizontal: 12 * 0.0625rem; // 12px

$il-padding-xlarge-vertical: 9 * 0.0625rem;
$il-padding-xlarge-horizontal: 15 * 0.0625rem;

$il-padding-xxlarge-vertical: 12 * 0.0625rem;
$il-padding-xxlarge-horizontal: 15 * 0.0625rem;

$il-padding-xxxlarge-vertical: 15 * 0.0625rem;
$il-padding-xxxlarge-horizontal: 18 * 0.0625rem;

$il-padding-small-vertical: 3 * 0.0625rem;
$il-padding-small-horizontal: 6 * 0.0625rem;

$il-padding-xs-vertical: 1 * 0.0625rem;
$il-padding-xs-horizontal: 3 * 0.0625rem;

$il-margin-base: $il-padding-base;
$il-margin-base-vertical: $il-padding-base-vertical;
$il-margin-base-horizontal: $il-padding-base-horizontal;

$il-margin-large-vertical: $il-padding-large-vertical;
$il-margin-large-horizontal: $il-padding-large-horizontal;

$il-margin-xlarge-vertical: $il-padding-xlarge-vertical;
$il-margin-xlarge-horizontal: $il-padding-xlarge-horizontal;

$il-margin-xxlarge-vertical: $il-padding-xxlarge-vertical;
$il-margin-xxlarge-horizontal: $il-padding-xxlarge-horizontal;

$il-margin-xxxlarge-vertical: $il-padding-xxxlarge-vertical;
$il-margin-xxxlarge-horizontal: $il-padding-xxxlarge-horizontal;

$il-margin-small-vertical: $il-padding-small-vertical;
$il-margin-small-horizontal: $il-padding-small-horizontal;

$il-margin-xs-vertical: $il-padding-xs-vertical;
$il-margin-xs-horizontal: $il-padding-xs-horizontal;