<tr class="{CSS_ROW}">
<td class="std" style="vertical-align:top;">
<!-- BEGIN edit_checkbox -->
<input type="checkbox" name="item_id[]" value="{VAL_ID}" />
<!-- END edit_checkbox -->
</td>
<td class="std" style="vertical-align:top;">
<p class="small"><b>{VAL_TITLE}</b></p>
<p class="small">
{VAL_DESCRIPTION}
</p>
</td>
<td class="std" style="vertical-align:top;">
<p class="small"><b>{TXT_FILENAME}</b>:
{VAL_FILENAME}
</p>
<p class="small"><b>{TXT_DURATION}</b>:
{VAL_DURATION}
</p>
<!-- BEGIN access -->
<p class="small"><b>{TXT_ACCESS}</b>:
{VAL_ACCESS}
</p>
<!-- END access -->
<p class="small"><b>{TXT_CREATED}</b>:
{VAL_CREATED}
</p>
<!-- BEGIN last_update -->
<p class="small"><b>{TXT_LAST_UPDATE}</b>:
{VAL_LAST_UPDATE}
</p>
<!-- END last_update -->
<!-- BEGIN downloadable -->
<p>
<a class="il_ContainerItemCommand" href="{CMD_DOWNLOAD}">{TXT_DOWNLOAD}</a>
</p>
<!-- END downloadable -->
</td>
<td class="std">
{PLAYER}
<div>
<!-- BEGIN edit -->
<a class="il_ContainerItemCommand" href="{CMD_EDIT}">{TXT_EDIT}</a>
<a class="il_ContainerItemCommand" href="{CMD_DET_PLAYTIME}">{TXT_DET_PLAYTIME}</a>
<!-- END edit -->
</div>
</td>
</tr>
