@use "sass:math";
//== Panel
//
//##
$il-panel-heading-padding: $il-padding-xlarge-vertical $il-padding-xlarge-horizontal;
$il-panel-heading-color: $il-text-color;
$il-panel-shadow: none;
$il-panel-border: 1px solid $il-main-border-color;
$il-panel-border-radius: 3px;


//Valid for all panels (if not overridden)
.panel{
	border: $il-panel-border;
	border-radius: $il-panel-border-radius;
	-webkit-box-shadow: $il-panel-shadow;
	box-shadow: $il-panel-shadow;

	.panel-heading.ilHeader, .panel-heading.ilBlockHeader {
		background-color: $il-main-dark-bg;

		margin: 0;
		padding: $il-panel-heading-padding;

		border: none;
		@include box-shadow(none);
		h2, h2.ilHeader {
			margin: 0;
			color: $il-panel-heading-color;
			font-size: $il-font-size-xlarge;
			line-height: $line-height-large;
			font-weight: $il-font-weight-bold;
		}

		h4, h4.ilBlockHeader {
			margin: 0;
			color: $il-panel-heading-color;
			font-size: $il-font-size-base;
		}

		.dropdown {
			> button.dropdown-toggle {
				color: $il-btn-standard-color;

			}
		}
	}

	.panel-body {
		padding: $il-padding-xxxlarge-vertical $il-padding-xlarge-horizontal;
		background-color: $il-main-bg;

	}
}

//Special assignments for Panels using Flex layouts (Standard, Secondary, Report and Sub)
.panel-flex{
	.panel-heading {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
	}
	.ilHeader{
		display: flex;
	}
	h2.ilHeader {
		flex-grow: 99;
		flex-shrink: 1;
		line-height: math.ceil((unit($il-font-size-large) / $il-pixel-to-rem) * 1.235);
		order: 1;
	}
	.ilBlockHeader h4,.ilHeader h4{
		flex-grow: 99;
		flex-shrink: 1;
		order: 1;
	}
	.il-viewcontrol-sortation {
		flex-shrink: 1;
		order: 2;
		margin-right: $il-margin-base-horizontal;
		margin-left: auto;
	}
	.panel-heading .dropdown {
		flex-shrink: 1;
		order: 3;
	}

	.il-viewcontrol-pagination, .il-viewcontrol-section {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 100%;
		order: 4;
		background-color:$il-main-dark-bg;
		text-align:center;
		padding-top:$il-padding-base-horizontal;
	}
}

//Standard Panel
.panel-primary {
	h2.ilHeader {
		font-weight: $il-font-weight-bold;
	}
}

//Secondary Panel
.panel-secondary{
	-webkit-box-shadow: $il-panel-shadow;
    box-shadow: $il-panel-shadow;
	.panel-heading.ilHeader{
		h2.ilHeader {
			font-size: $il-font-size-large;
		}

		h2.ilHeader {
			font-size: $il-font-size-large;
		}
	}

	.panel-body {
		.il-item-group{
			margin: 0 -$il-margin-xlarge-horizontal;
			h2{
				padding: $il-padding-large-vertical $il-padding-xlarge-horizontal;
			}
			h3{
				padding: $il-padding-large-vertical $il-padding-xlarge-horizontal;
			}

			&:first-child{
				margin: -$il-margin-xxxlarge-vertical -$il-margin-xlarge-horizontal 0 -$il-margin-xlarge-horizontal;
			}

			.il-item{
				padding-left: $il-padding-xlarge-horizontal;

				.media-right{
					vertical-align: middle;
				}
			}
		}
	}

	.il-panel-listing-std-container > h2, .panel-body h4{
		display: block;
		padding: $il-padding-large-vertical 0;
		font-size: $font-size-base;
		color: $il-panel-heading-color;
		margin: 0;
	}

	.il-std-item-container:not(:last-child) {
		border-bottom: $il-item-border-bottom-small;
	}
}

//Sub Panel
.panel-sub{
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;

	margin: -$il-padding-xxxlarge-vertical -$il-margin-xlarge-horizontal;

	.panel-body{
		margin: 0;
	}

	&:first-child{
		.panel-heading{
			padding: $il-panel-heading-padding;
		}
	}
}

//Report Panel
.il-panel-report {
	.thumbnail {
		margin-bottom: 0;
	}
	> .panel-body > .panel {
		margin-bottom: $il-margin-large-vertical;
	}
	.panel-heading{
		min-height: 34px;
	}

}

//Listing Panel
.il-panel-listing-std-container {
	background-color: $il-main-dark-bg;
	margin-bottom: $il-standard-page-content-padding;

	> h2 {
		color: $il-panel-heading-color;
		font-size: $il-font-size-xlarge;
		font-weight: $il-font-weight-bold;
		float: left;
		padding: $il-panel-heading-padding;
		margin: 0;
		line-height: $line-height-large;
	}

	.dropdown {
		float: right;
	}
	> .dropdown {
		padding: $il-panel-heading-padding;

		&:not(:last-child){
			padding-bottom: $il-padding-small-vertical;
		}
	}
}