<div style="clear:both;" class="il_ItemProperties">
<!-- BEGIN subitem -->
<div style="margin: 5px 2em; padding-top:5px;">
<hr width="60%" align="left" size="1px" color="lightgrey" />
<table border="0" width="100%">
	<tr>
		<td width="1%" nowrap="nowrap">
			<!-- BEGIN is_image -->
			{SUB_ITEM_IMAGE}
			<!-- END is_image -->
			<!-- BEGIN is_type -->
			{SUBITEM_TYPE}{SEPERATOR}
			<!-- END is_type -->
		</td>
		<td>
			<a href="{LINK}" target="{TARGET}">{TITLE}</a>
		</td>
		<td width="20%" align="right">
			{SUB_REL}
		</td>
	</tr>
	<tr>
		<td>
			<!-- BEGIN is_linked_image -->
			<a href="{LINKED_LINK}" target="{LINKED_TARGET}">{LINKED_IMAGE}</a>
			<!-- END is_linked_image -->
		</td>
		<td>
			<!-- BEGIN sea_fragment  --><div class="il_SearchFragment">{TXT_FRAGMENT} ...</div><!-- END sea_fragment -->
		</td>
		<td></td>
	</tr>
</table>	
</div>
<!-- END subitem -->
<!-- BEGIN choose_details -->
<div style="margin: 5px 2em; padding-top:5px;">
<hr width="60%" align="left" size="1px" color="lightgrey" />
	<a href="{LUC_DETAILS_LINK}"><strong>{LUC_NUM_HITS}</strong></a>
</div>
<!-- END choose_details -->
</div>