<tr class="{CSS_ROW} small">
        <td class="std">
                <!-- BEGIN obj_icon -->
                <!-- BEGIN padding --><div style="padding-left: 22px"><!-- END padding -->
                <img src="{TYPE_IMG}" style="vertical-align:middle;" alt="{TYPE_STR}" title="{TYPE_STR}" border="0" vspace="0" />&nbsp;{OBJ_TITLE}
                <!-- BEGIN row_desc --><div class="il_Description">{VAL_DESC}</div><!-- END row_desc -->
                <!-- BEGIN end_padding --></div><!-- END end_padding -->
                <!-- END obj_icon -->
        </td>
        <td class="std">
                {PROGRESS_BAR}
        </td>
</tr>