.il-mcst-side .row > .col-sm-3 {
  width: 100%;
  img {
    width: 100%;
  }
}

.il-mcst-side .row > .col-sm-9 {
  .il-item-title {
    padding: 12px 0 6px;
  }
}

.mcst-completed-preview img {
  filter: grayscale(100%);
}

.mcst-current {
  background-color: #fff6be;
}

#mcst-prev-items > button {
  margin-bottom: 20px;
}

#il-mcst-img-gallery {
  .modal-dialog {
    width: 100%;
    margin: 0 auto;
    height: 100%;
  }

  .modal-content {
    min-height: 100%;
    img {
      margin: 30px auto 0 auto;
    }
    background-color: black;
  }

  .modal-title {
    color: white;
  }

  .carousel-caption {
    display: none;
  }

  .modal-header {
    border: 0;
    text-align: center;
  }

  .carousel-indicators {
    bottom: auto;
    top: -20px;
  }

  .carousel-control {
    .glyphicon {
      top: -5px;
    }
  }

  .carousel-control.right, .carousel-control.left {
    background-image: none;
  }
}