/* Modules/Wiki */

a.ilWikiPageMissing:link, a.ilWikiPageMissing:visited {
	color: $il-danger-color;
}

a.ilWikiPageMissing:hover {
	color: $il-text-hover-color;
}

ul.ilWikiBlockList {
	margin: 0 0 0 20px;
	padding: 0;
	list-style: disc outside;
}

ul.ilWikiBlockListNoIndent {
	margin: 0;
	padding: 0;
	list-style: none;
}

li.ilWikiBlockItem {
	margin: 0;
	padding: 0;
}

/* see mantis #0027530 */
#block_wikiside_0 {
	.panel-body {
		overflow: visible;
	}
}