<!-- <form name="form_questions" method="POST" action="{FORM_ACTION}">
<input type="hidden" name="move_{MOVE_COUNTER}" value="{MOVE_VALUE}">
 END move -->
<tr class="{CSS_ROW}">
	<!-- BEGIN write_cols -->
	<td class="std"{CHECKABLE_INDENT}>
		<!-- BEGIN checkable -->
		<input type="checkbox" name="id[]" value="cb_{QUESTION_ID}" />
		<!-- END checkable -->
	</td>
	<td class="std"{ORDER_INDENT}>
		<!-- BEGIN order -->
		<input type="text" class="form-control" name="{ORDER_NAME}" value="{ORDER_VALUE}" maxlength="3" size="3"/>
		<!-- END order -->
	</td>
	<!-- END write_cols -->
	<td class="std"{TITLE_INDENT}>
	<!-- BEGIN heading -->
	<div class="small">{TXT_HEADING}</div>
	<!-- END heading -->
	<!-- BEGIN title_edit -->
	<a href="{URL_TITLE}">{TITLE}</a>
	<!-- END title_edit -->
	<!-- BEGIN title_static -->
	{TITLE}
	<!-- END title_static -->
	</td>
	<td class="std">{OBLIGATORY}</td>
	<td class="std">{DESCRIPTION}</td>
	<td class="std">{TYPE}</td>
	<td class="std">{AUTHOR}</td>
	<td class="std">{POOL}</td>
	<!-- BEGIN actions -->
	<td class="std">{ACTION}</td>
	<!-- END actions -->
</tr>