<h1>{TXT_PAGEHEADLINE}</h1>
{INFOPANEL}
{BUTTONS}
<!--{LOCATOR}-->
<!--{MESSAGE}-->
<form action="{FORMACTION_NEW_MEMBER}" method="post">
<table class="std">
	<tr>
		<td class="option">{TXT_MEMBER_NAME}<span class="asterisk">*</span></td>
		<td class="option_value"><input name="search_user" value="{SEARCH_STRING}" size="40" maxlength="70" style="width:300px;"/></td>
	</tr>
	<tr class="tblrow2">
		<td class="option">{TXT_STATUS}</td>
		<td class="option_value" colspan="{NUM_COLS}" align="left" valign="top">
			{RADIO_MEMBER}{TXT_MEMBER_STATUS}
			{RADIO_ADMIN}{TXT_ADMIN_STATUS}
		</td>
	</tr>
</table>
<br /><input class="submit" type="submit" value="{TXT_SEARCH}"/>
</form>
{NEW_MEMBERS_TABLE}

<!-- BEGIN no_content -->

