<div style="margin:-5px;">
<script type="text/javascript">
<!--if (document.images)
{
        buttonup_imag = new Array();
        buttonup_imag[0]  = "./images/navigation/go_up.gif";
        buttonup_imag[1]  = "./images/navigation/go_up_ro.gif";
        buttonup_im = new Array();
        for (var i = 0; i < buttonup_imag.length; i++)
        {
                buttonup_im[i] = new Image();
                buttonup_im[i].src = buttonup_imag[i];
        }
        function buttonup(num,imgname,text)
        {
                imgname.src = buttonup_im[num].src;
                window.status = text;
        }
}
//-->
</script>

   <table width="150" cellpadding="0" cellspacing="0" border="0" bgcolor="#336699">
<!-- showpageimage -->


   <tr bgcolor="#336699">
   <td height="24" width="100%">
      &nbsp;
   </td>
   </tr>

    <tr bgcolor="#336699">
    <td height="5" width="100%">
    </td>
    </tr>
     <tr>
       <td align=middle valign=middle >
<!--       <a href="{SHOW_PAGE_IMAGE_REF}"><img vspace=0 border=0 src="{SHOW_PAGE_IMAGE_SRC}" height=80> -->
       <a href="{SHOW_PAGE_IMAGE_REF}" target="{SHOW_PAGE_IMAGE_TARGET}"><img vspace=0 border=0 src="{SHOW_PAGE_IMAGE_SRC}" height=80>
       </a>
       </td>
     </tr>
<!-- BEGIN showupbutton -->
     <tr>
        <td align=middle valign=middle onclick="ZweiFrames('{SHOW_UP_BUTTON_REF1}','{SHOW_UP_BUTTON_FRAME1}','{SHOW_UP_BUTTON_REF2}','{SHOW_UP_BUTTON_FRAME2}')" style='cursor: pointer; cursor: hand; color: #ffffff' onMouseOver="buttonup(1,up_image,'{SHOW_UP_BUTTON_TXT}');return true;" onMouseOut="buttonup(0,up_image)";>
           <img vspace=0 border=0 src="{SHOW_UP_BUTTON_SRC}" width="100%" height="22"  alt="{SHOW_UP_BUTTON_TXT}" title="{SHOW_UP_BUTTON_TXT}"  name="up_image">
        </td>
     </tr>
<!-- END showupbutton -->
<!-- BEGIN showemptybutton -->
     <tr>
        <td align=middle valign=middle>
           <img vspace=0 border=0 src="{SHOW_EMPTY_BUTTON_SRC}" width="100%" height="22"  alt="{SHOW_EMPTY_BUTTON_TXT}" title="{SHOW_EMPTY_BUTTON_TXT}"  name="empty_image">
        </td>
     </tr>
<!-- END showemptybutton -->
   </table>
   {LTAB_LN}
</div>