<style>
body { margin:0px; }
</style>
{STATUSLINE}
<div class="invisible_border">
<div class="il_Header"><h1>{TXT_PAGEHEADLINE}</h1>
<div class="il_Tab">
{TABS}
</div>
</div>

{BUTTONS}

<table width="100%" border="0">
	<tr>
		<td width="50%">
			<table class="fullwidth">
				<tr class="tblheader">
					<th width="50">{TXT_TIME}</th>
					<th>{TXT_APPOINTMENT}</th>
				</tr>
				<!-- Hourslist for chosen day -->
				<!-- BEGIN time_row -->
				<tr>
					<td class="{APPOINTMENT_STYLE}" align="right" valign="top" width="50">
						<b>{ROW_TIME}</b>
					</td>
					<td class="{APPOINTMENT_STYLE}">
						{ROW_APPOINTMENT}
					</td>
				</tr>
				<!-- END time_row -->

			</table>
		</td>
		<td valign="top" align="left" width="50%">
			<table width="100%" cellspacing="1">
				<tr>
					<td colspan="17" align="center"><a href="cal_date.php?ts={GOTOTODAYLINK}">{TXT_GOTOTODAY}</a></td>
				</tr>
				<tr>
					<td colspan="17" align="center">
						<form name="gotoDate" method="GET" action="cal_date.php">
							<SELECT name="date" size="1">
								{VAL_day_count}
					     	</SELECT>
					     	<SELECT name="month" size="1">
								{VAL_month_count}
					     	</SELECT>
					     	<SELECT name="year" size="1">
					     		<OPTION {VAL_Year_act_sel}>{VAR_Year_act}</OPTION>
								<OPTION {VAL_Year_nxt_sel}>{VAR_Year_nxt}</OPTION>
					     	</SELECT>
					     	<input class="submit" type="submit" value="go">
						</form>
					</td>
				</tr>
				<tr>
					<!-- Year -->
					<td align="left" class="even"><b><a href="cal_date.php?ts={MINUS_YEAR}" target="bottom">&lt;</a></b></td>
					<td colspan="15" align="center" class="even"><b>{CHOSEN_YEAR}</b></td>
					<td align="right" class="even"><b><a href="cal_date.php?ts={PLUS_YEAR}" target="bottom">&gt;</a></b></td>
				</tr>
				<tr>
					<!-- 1. Month -->
					<td align="left" class="uneven"><b><a href="cal_date.php?ts={MINUS_MONTH}" target="bottom">&lt;</a></b></td>
					<td colspan="7" align="center" class="uneven"><b><a href="cal_month_overview.php?ts={CHOSENMONTHLINK}" target="bottom">{CHOSEN_MONTH}</a></b></td>
					<!-- spacercolumn -->
					<td width="50"  class="uneven">&nbsp;</td>
					<!-- 2. Month -->
					<td colspan="7" align="center" class="uneven"><b><a href="cal_month_overview.php?ts={NEXTMONTHLINK}" target="bottom">{NEXT_MONTH}</a></b></td>
					<td align="right" class="uneven"><b><a href="cal_date.php?ts={PLUS_MONTH}" target="bottom">&gt;</a></b></td>
				</tr>
				<tr class="tblheader">
				<!-- 1. Month Weekdays -->
					<td class="il_invisible">&nbsp;</td>
				<!-- BEGIN firstWeekDays -->
					<td align="center" width="40">
						<b>{FIRST_WEEKDAY}</b>
					</td>
				<!-- END firstWeekDays -->
				<!-- spacer column -->
					<td class="il_invisible" width="50">&nbsp;</td>
				<!-- 2. Month weekdays -->
					<td class="il_invisible">&nbsp;</td>
				<!-- BEGIN secondWeekDays -->
					<td align="center" width="40">
						<b>{SECOND_WEEKDAY}</b>
					</td>
				<!-- END secondWeekDays -->
				</tr>
				<!-- BEGIN dateRows -->
				<tr>
				<!-- date rows of first month -->
					<td class="{WEEK_CSS1}"><a class="weekLink" href="cal_week_overview.php?ts={WEEKLINK1}">{WEEK1}.</a></td>
					<td class="{DATE_CSS11}" width="6%"><a href="cal_date.php?ts={FIRSTMONTHROWDATELINK1}">{FIRSTMONTHROWDATE1}</a></td>
					<td class="{DATE_CSS12}" width="6%"><a href="cal_date.php?ts={FIRSTMONTHROWDATELINK2}">{FIRSTMONTHROWDATE2}</a></td>
					<td class="{DATE_CSS13}" width="6%"><a href="cal_date.php?ts={FIRSTMONTHROWDATELINK3}">{FIRSTMONTHROWDATE3}</a></td>
					<td class="{DATE_CSS14}" width="6%"><a href="cal_date.php?ts={FIRSTMONTHROWDATELINK4}">{FIRSTMONTHROWDATE4}</a></td>
					<td class="{DATE_CSS15}" width="6%"><a href="cal_date.php?ts={FIRSTMONTHROWDATELINK5}">{FIRSTMONTHROWDATE5}</a></td>
					<td class="{DATE_CSS16}" width="6%"><a href="cal_date.php?ts={FIRSTMONTHROWDATELINK6}">{FIRSTMONTHROWDATE6}</a></td>
					<td class="{DATE_CSS17}" width="6%"><a href="cal_date.php?ts={FIRSTMONTHROWDATELINK7}">{FIRSTMONTHROWDATE7}</a></td>
				
				<!-- spacercoloumn -->
					<td>&nbsp;</td>
				<!-- date rows of second month -->
					<td class="{WEEK_CSS2}"><a class="weekLink" href="cal_week_overview.php?ts={WEEKLINK2}">{WEEK2}.</a></td>
					<td class="{DATE_CSS21}" width="6%"><a href="cal_date.php?ts={SECONDMONTHROWDATELINK1}">{SECONDMONTHROWDATE1}</a></td>
					<td class="{DATE_CSS22}" width="6%"><a href="cal_date.php?ts={SECONDMONTHROWDATELINK2}">{SECONDMONTHROWDATE2}</a></td>
					<td class="{DATE_CSS23}" width="6%"><a href="cal_date.php?ts={SECONDMONTHROWDATELINK3}">{SECONDMONTHROWDATE3}</a></td>
					<td class="{DATE_CSS24}" width="6%"><a href="cal_date.php?ts={SECONDMONTHROWDATELINK4}">{SECONDMONTHROWDATE4}</a></td>
					<td class="{DATE_CSS25}" width="6%"><a href="cal_date.php?ts={SECONDMONTHROWDATELINK5}">{SECONDMONTHROWDATE5}</a></td>
					<td class="{DATE_CSS26}" width="6%"><a href="cal_date.php?ts={SECONDMONTHROWDATELINK6}">{SECONDMONTHROWDATE6}</a></td>
					<td class="{DATE_CSS27}" width="6%"><a href="cal_date.php?ts={SECONDMONTHROWDATELINK7}">{SECONDMONTHROWDATE7}</a></td>
				
				<!-- END dateRows -->
				</tr>
				<tr>
					<td colspan="17" align="left">
						<p>
							<b>
							<i>[S]</i> - Start eines Termins<br>
							<i>[M]</i> - Mehrtägiger Termin<br>
							<i>[E]</i> - Ende eines Termins<br>
							</b>
						</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{COMMENT}
</div>