<form action="{EDIT_ACTION}" {TARGET} name="post" method="post">
<input type="hidden" name="meta_section" value="{VAL_SECTION}"/>
<input type="hidden" name="meta_path" value="Relation"/>
<table class="std">
<tr class="tblheader">
	<td class="std" colspan="3">{TXT_RELATION} (Relation)</td>
</tr>
<tr>
	<td class="option" colspan="2">{TXT_KIND} (Kind)</td>
	<td class="option_value">
		<select name="meta[kind]" size="1">
			<option value="">{TXT_PLEASE_SELECT}</option>
			<option value="IsPartOf"{META_NAME_VAL_ISPARTOF}>{TXT_ISPARTOF} (IsPartOf)</option>
			<option value="HasPart"{META_NAME_VAL_HASPART}>{TXT_HASPART} (HasPart)</option>
			<option value="IsVersionOf"{META_NAME_VAL_ISVERSIONOF}>{TXT_ISVERSIONOF} (IsVersionOf)</option>
			<option value="HasVersion"{META_NAME_VAL_HASVERSION}>{TXT_HASVERSION} (HasVersion)</option>
			<option value="IsFormatOf"{META_NAME_VAL_ISFORMATOF}>{TXT_ISFORMATOF} (IsFormatOf)</option>
			<option value="HasFormat"{META_NAME_VAL_HASFORMAT}>{TXT_HASFORMAT} (HasFormat)</option>
			<option value="References"{META_NAME_VAL_REFERENCES}>{TXT_REFERENCES} (References)</option>
			<option value="IsReferencedBy"{META_NAME_VAL_ISREFERENCEDBY}>{TXT_ISREFERENCEDBY} (IsReferencedBy)</option>
			<option value="IsBasedOn"{META_NAME_VAL_ISBASEDON}>{TXT_ISBASEDON} (IsBasedOn)</option>
			<option value="IsBasisFor"{META_NAME_VAL_ISBASISFOR}>{TXT_ISBASISFOR} (IsBasisFor)</option>
			<option value="Requires"{META_NAME_VAL_REQUIRES}>{TXT_REQUIRES} (Requires)</option>
			<option value="IsRequiredBy"{META_NAME_VAL_ISREQUIREDBY}>{TXT_ISREQUIREDBY} (IsRequiredBy)</option>
		</select>
	</td>
</tr>
<tr>
	<td class="option" colspan="3">{TXT_RESOURCE} (Resource)</td>
</tr>

<!-- BEGIN identifier_loop -->
<tr>
	<td class="option" colspan="3">
		<div align="left">{IDENTIFIER_LOOP_TXT_IDENTIFIER} (Identifier)
		( <a href="{IDENTIFIER_LOOP_ACTION_DELETE}">{IDENTIFIER_LOOP_TXT_DELETE}</a> )
		( <a href="{IDENTIFIER_LOOP_ACTION_ADD}">{IDENTIFIER_LOOP_TXT_ADD}</a> )</div>
	</td>
</tr>
<tr>
	<td class="option" width="10" rowspan="3">&nbsp;</td>
	<td class="sub_option">{IDENTIFIER_LOOP_TXT_VALUE} (Value)</td>
	<td class="option_value"><input type="text" maxlength="200" name="meta[identifier_value][]" value="{IDENTIFIER_LOOP_VAL_IDENTIFIER}"></td>
</tr>
<tr>
	<td class="sub_option">{IDENTIFIER_LOOP_TXT_CATALOG} (Catalog)</td>
	<td class="option_value"><input type="text" maxlength="200" name="meta[identifier_catalog][]" value="{IDENTIFIER_LOOP_VAL_IDENTIFIER_CATALOG}"></td>
</tr>
<tr>
	<td class="sub_option">{IDENTIFIER_LOOP_TXT_ENTRY} (Entry)</td>
	<td class="option_value"><input type="text" maxlength="200" name="meta[identifier_entry][]" value="{IDENTIFIER_LOOP_VAL_IDENTIFIER_ENTRY}"></td>
</tr>
<!-- END identifier_loop -->

<!-- BEGIN description_loop -->
<tr>
	<td class="option" colspan="3">
		<div align="left">{DESCRIPTION_LOOP_TXT_DESCRIPTION} (Description)
		( <a href="{DESCRIPTION_LOOP_ACTION_DELETE}">{DESCRIPTION_LOOP_TXT_DELETE}</a> )
		( <a href="{DESCRIPTION_LOOP_ACTION_ADD}">{DESCRIPTION_LOOP_TXT_ADD}</a> )</div>
	</td>
</tr>
<tr>
	<td class="option"width="10" rowspan="2">&nbsp;</td>
	<td class="sub_option">{DESCRIPTION_LOOP_TXT_VALUE} (Value)</td>
	<td class="option_value"><textarea name="meta[description_value][]">{DESCRIPTION_LOOP_VAL}</textarea></td>
</tr>
<tr>
	<td class="sub_option">{DESCRIPTION_LOOP_TXT_LANGUAGE} (Language)</td>
	<td class="option_value">{DESCRIPTION_LOOP_VAL_LANGUAGE}</td>
</tr>
<!-- END description_loop -->

<tr>
	<td class="submit" colspan="3"><div align="right"><input class="submit" type="submit" name="cmd[saveMeta]" value="{TXT_SAVE}"/></div></td>
</tr>
</table>
</form>