



<style>

body {  background-color:#336699; ; margin:2px;}

</style>


<table  bgcolor="#ffffff">
				<tr><td>


{EXPLORER}

<br/>

<!--h1>Test-Beginn</h1>
<div align="center">
  <form action="{ACTION}" method="post">
    <input class="submit" type="submit" value="was passiert ?" />
  </form>
</div>
{INFOPANEL}
{BUTTONS}
{LOCATOR}
{MESSAGE}
{LO_TABLE}
{EXPLORER}
<h1>Test-Ende</h1-->
<div align="center">
  <form action="{ACTION}" method="post">
    <input class="submit" type="submit" value="refresh" />
  </form>
</div>



			</tr></td>
</table>