<h1>{TXT_PAGEHEADLINE}</h1>
{BUTTONS}
{MESSAGE}
<form name="form" action="{FORMACTION}" method="post">
<h3>Notiz hinzufügen{TXT_NOTE_NEW}</h3>
<table>
<tr class="tblrow1">
  <td><b>&nbsp;{TXT_LOID}</b></td>
  <td>&nbsp;<input type=text maxlength=255 SIZE=40 name="lo_id" value="{LOID}"/></td>
</tr>
<tr class="tblrow2">
  <td><b>&nbsp;{TXT_LOTITLE}</b></td>
  <td>&nbsp;<input type=text maxlength=255 SIZE=40 name="lo_title" value="{LOTITLE}"/></td>
</tr>
<tr class="tblrow1">
  <td><b>&nbsp;{TXT_NOTETEXT}</b></td>
  <td>&nbsp;<input type=text maxlength=255 SIZE=40 name="note_text" value="{NOTETEXT}"/></td>
</tr>
</table>
  <br/>
  <input type=submit name="submit" value="{TXT_SAVE}"/>
</form>
