<!-- BEGIN using_info -->
<table class="fullwidth_style1_ing" cellpadding=2 cellspacing=0 >
<tr>
  <td  class="std_text_ing" >
    <font color=#336699>&nbsp;<B>Benutzerdaten ändern</B></font>
  </td>
</tr>
</table>

<table class="fullwidth_style1_ing" bgcolor="#FFFFFF" cellpadding=5>
<tr>
  <td>
    <font SIZE=2>Hier können Sie Ihre persönliche Daten ändern. Sie sind NICHT verpflichtet, außer dem INGMEDIA Benutzername und Passwort weitere Daten einzugeben. Alle andere Felder dürfen Sie mit sonstigen Zeichen füllen.<BR><BR>Der INGMEDIA Benutzername darf KEINE Sonderzeichen sowie Leerzeichen beinhalten! Um INGMEDIA benutzen zu dürfen, müssen Sie mit den Benutzervereinbarungen einverstanden sein.<BR><BR>Bitte wählen Sie einen, von denen auf der linken Seite eingeblendeten Links, aus.</font></td>
</tr>
</table>
<!-- END using_info -->