.ilLike {
	/* background-color: @il-secondary-container-bg; */
	padding: 5px 0px;
	text-align: right;
}

.ilLike .modal {
	text-align: left;
}

.ilLike .modal .glyphicon {
	font-size: 160%;
}

.ilLike .badge {
	margin-left: -7px;
	top: 7px;
}

.ilLike .glyphicon {
	font-size: 130%;
}

.ilLike .il-counter-spacer {
	margin-left: 0px;
	font-size: 9px;
	padding: 0;
	visibility: hidden;
}

.ilLike a {
	display: inline-block;
	/* padding: 2px 4px; */
}

.ilLike a:hover {
	text-decoration: none;
}

.ilLikeEmoticons {
	padding: 0;
}

.ilLikeEmoticons a {
	display: inline-block;
	font-size: 140%;
	padding: 4px;
}

.ilLikeEmoticons a:hover {
	text-decoration: none;
	/*background-color: @il-highlight-bg;*/
	background-color: #F0F0F0;
}

.ilLike .il-item img {
	max-width: 50%;
	float:right;
}
