<tr class="{CSS_ROW}">
  <td class="std" valign="top">
	<input type="checkbox" name="mjid[]" value="{VAL_JID}" />
  </td>	  
  <td class="std small" valign="top">
	{VAL_ID}
	<!-- BEGIN desc_bl -->
	<div class="il_Description_no_margin">{VAL_DESC}</div>
	<!-- END desc_bl -->
  </td>
  <td class="std small" valign="top">
	{VAL_COMPONENT}
  </td>
   <td class="std small" valign="top">
	{VAL_SCHEDULE}
  </td>
   <td class="std small" valign="top">
	{VAL_STATUS}
  </td>
   <td class="std small" valign="top">
	{VAL_STATUS_INFO}
  </td>
   <td class="std small" valign="top">
	{VAL_RESULT}
  </td>
   <td class="std small" valign="top">
	{VAL_RESULT_INFO}
  </td>
  <td class="std small" valign="top">
	{VAL_LAST_RUN}
  </td>
  <td class="std small" valign="top">
	 <!-- BEGIN action_bl -->
	 <a href="{URL_ACTION}">{TXT_ACTION}</a><br />
	 <!-- END action_bl -->		
  </td>
</tr>