//== Category 11
//
//## Comment Category 11
// Random Section 11

//** comment variable 111
$variable111: value111;
//** comment variable 112
$variable112: value112;
//** comment variable 113
$variable113: $variable111;

//== Category 12
//
//## Comment Category 12
/**
 Random Section 12 **/

//** comment variable 121
$variable121: $variable111;
//** comment variable 122
$variable122: value121;
//** comment variable 123
$variable123: $variable121;
