<tr class="{CSS_ROW}">
	<td class="std" valign="top" width="1">
		<!-- BEGIN chbox -->
		<input type="checkbox" name="id[]" value="{CHECKBOX_ID}" {CHECKED}/>
		<!-- END chbox -->
	</td>
	<td class="std" valign="top" nowrap="1" width="1">
		<img src="{IMG_OBJ}" border="0" />
	</td>
	<td class="std" valign="top">
		<!-- BEGIN link -->
		<div style="float:left;">
			<a href="{LINK_VIEW}" <!-- BEGIN nf --> target="_blank" <!-- END nf --> >
			{TXT_TITLE}
			</a>{TXT_NO_LINK_TITLE}
		</div>
		<div style="float:right;" class="il_ContainerItemCommands">
			<!-- BEGIN edit -->
			<a class="il_ContainerItemCommand" href="{EDIT_LINK}">{TXT_EDIT}</a>
			<!-- END edit -->
			<!-- BEGIN show -->
			<a class="il_ContainerItemCommand" href="{SHOW_LINK}" target="_blank">{TXT_SHOW}</a>
			<!-- END show -->
		</div>
		<!-- END link -->
		<div style="clear:both;">
		{MEDIA_INFO}
		</div>
	</td>
</tr>
