<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.1/phpunit.xsd"
         bootstrap="../../vendor/composer/vendor/autoload.php"
         colors="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         failOnRisky="true"
         failOnWarning="true"
         failOnDeprecation="true"
         failOnNotice="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         backupGlobals="true"
         executionOrder="random"
         cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="all">
            <directory>../../components/*/*/tests/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">../../components/*/*/</directory>
        </include>
        <exclude>
            <directory>../../components/*/*/lib/</directory>
            <directory>../../components/*/*/libs/</directory>
            <directory>../../artifacts</directory>
            <directory>../../components/*/*/tests/</directory>
            <directory>../../components/*/*/templates/</directory>
            <directory>../../components/*/*/resources/</directory>
        </exclude>
    </source>
</phpunit>
