<tr class="{CSS_ROW}">
	<!-- BEGIN multi_bl -->
	<td class="std" valign="top">
		<input type="checkbox" name="id[]" value="{VAL_ID}" />		
	</td>	
	<!-- END multi_bl -->
	<td class="std" valign="top">
  		{TXT_NAME}
	</td>
	<td class="std" valign="top">
  		{TXT_LOGIN}
	</td>   
	<td class="std" valign="top">
  		{TXT_TYPE}
	</td> 
	<td class="std" valign="top">
  		{TXT_TITLE}
	</td> 	
	<td class="std" valign="top">
  		{TXT_ISSUED}
	</td> 
	<!-- BEGIN parent_bl -->
	<td class="std" valign="top">		
  		<img src="{PARENT_ICON}" alt="{PARENT_TYPE}" title="{PARENT_TYPE}" /> {PARENT}
	</td> 		
	<!-- END parent_bl -->
</tr>