<div class="ilProfileSection">
    <h3 class="ilProfileSectionHead">{TXT_BADGES}</h3>
    <div id="ilbdgprcont">
        <!-- BEGIN badge_bl -->
        <span class="ilProfileBadge<!-- BEGIN hidden_badge --> ilNoDisplay<!-- END hidden_badge -->">{BADGE}</span>
        <!-- END badge_bl -->
    </div>
    <!-- BEGIN badge_hidden_actions_bl -->
    <a href="#" id="ilbdgprfhdm" class="btn btn-default">{BADGE_HIDDEN_TXT_MORE}</a>
    <a href="#" id="ilbdgprfhdl" class="btn btn-default ilNoDisplay">{BADGE_HIDDEN_TXT_LESS}</a>
    <!-- END badge_hidden_actions_bl -->
</div>
