<div class="c-launcher c-launcher--inline" id="{ID}">
    <!-- BEGIN status -->
    <div class="c-launcher__status">
        <!-- BEGIN status_message -->
        <div class="c-launcher__status__message">{STATUS_MESSAGE}</div>
        <!-- END status_message -->
        <!-- BEGIN status_icon -->
        <div class="c-launcher__status__icon">{STATUS_ICON}</div>
        <!-- END status_icon -->
    </div>
    <!-- END status -->
    
    <div class="c-launcher__description">
        {DESCRIPTION}
    </div>

    {BUTTON}

    <div class="c-launcher__form">
        {FORM}
    </div>

</div>
