<!-- <div id="{CONTAINER_OUTER_ID}" class="ilNoDisplay"> -->
	<div id="{CONTAINER_ID}">
		<!-- BEGIN tag --><!-- BEGIN list_start -->
		<ul><!-- END list_start -->
			<!-- BEGIN list_search --><li> {SEARCH_CONTAINER_ID} {SEARCH_VAL} </li><!-- END list_search -->
			<!-- BEGIN list_item_start -->
		<li <!-- BEGIN li_closed --><!-- END li_closed -->>{DOM_NODE_ID}<!-- END list_item_start --><!-- BEGIN cb -->{CB_NAME} {CB_VAL} {CHECKED} <!-- END cb --><!-- BEGIN rd -->{RD_NAME}{RD_VAL}{SELECTED}<!-- END rd --><!-- BEGIN content --><a {A_CLASS} href="{HREF}" {TARGET} {ONCLICK}>{ICON} <!-- BEGIN hl --> ilHighlighted<!-- END hl --> {CONTENT}</a>
		<!-- END content --><!-- BEGIN list_item_end --></li><!-- END list_item_end --><!-- BEGIN list_end --></ul><!-- END list_end --><!-- END tag -->
	</div>
<!-- </div> -->
