<div id="{CONTAINER_OUTER_ID}" class="ilNoDisplay ilExplorerContainer">
	<div id="{CONTAINER_ID}">
		<!-- BEGIN tag --><!-- BEGIN list_start -->
		<ul><!-- END list_start -->
			<!-- BEGIN list_search --><li rel="disabled" data-jstree='{ "disabled" : true }' id="exp_search_{SEARCH_CONTAINER_ID}"><input type="text" name="exp_search_input_{SEARCH_CONTAINER_ID}" class="ilExpSearchInput" value="{SEARCH_VAL}" /></li><!-- END list_search -->
			<!-- BEGIN list_item_start -->
		<li rel="disabled" data-jstree='{ "disabled" : true <!-- BEGIN li_opened -->, "opened" : true<!-- END li_opened --> }' id="{DOM_NODE_ID}" <!-- BEGIN li_closed -->class="jstree-closed"<!-- END li_closed -->><!-- END list_item_start --><!-- BEGIN content --><a {A_CLASS} href="{HREF}" {TARGET} {ONCLICK}>{ICON}<!-- BEGIN rd --><input type="radio" name="{RD_NAME}" value="{RD_VAL}" {SELECTED} /> <!-- END rd --><!-- BEGIN cb --><input type="checkbox" name="{CB_NAME}" value="{CB_VAL}" {CHECKED} /> <!-- END cb --><span class="loader"></span><span class="ilExp2NodeContent<!-- BEGIN hl --> ilHighlighted<!-- END hl -->">{CONTENT}</span></a>
		<!-- END content --><!-- BEGIN list_item_end --></li><!-- END list_item_end --><!-- BEGIN list_end --></ul><!-- END list_end --><!-- END tag -->
	</div>
</div>
