<tr class="{CSS_ROW}">
	<td class="std small"  style="vertical-align:top;">
		<a href="{VAL_LINK}">{VAL_TITLE}</a>
		<!-- BEGIN desc -->
		<div class="il_Description">
			{VAL_DESC}
		</div>
		<!-- END desc -->
	</td>
	<td class="std small" >
		{VAL_LAST_UPDATE}
	</td>
	<td class="std" >
		<font class="smallgreen"> {VAL_COMPLETED}</font>
	</td>
	<td class="std small" >
		<font class="warning"> {VAL_FAILED}</font>
	</td>
	<td class="std small">
		<div class="il_ContainerItemCommand2">
			{ACTIONS}
		</div>
	</td>
</tr>