body {
    height: 100%;
}

.chat.messageLine.dateline {
	background-color: #ECF0F9;
}

.chat.messageLine {
	margin-top: 5px;
	margin-bottom: 5px;
}

.chat.messageLine.private {
    background-color: #FAD8CF;
}

.chat.username {
	/*font-weight: bold;
	color: blue;*/
}

.chat.messageseparator {
    padding: 0;
	padding-right: 3px;
}

.chat.date {
    /*color: green;*/
}

#chat_sidebar_wrapper {
    border: 1px solid #BCCAE5;
}

#private_rooms {
    /*margin: 0 0 50px 10px;*/
    overflow: auto;
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 10px;
    right: 0px;
}

#chat_wrapper {
    width: 100%;
    min-height: 300px;
    height: auto !important;
    height: 100%;
}

#chat_toolbox {
    margin-right: 210px;
    border: 1px solid #BCCAE5;
    text-align: left;
}

#submit_message_text {
    width: 80%;
	display: inline;
}

.online_user {
	line-height: 2em;
}

.online_user img {
	width: 22px;
	height: 22px;
}

.listentry {
	position: relative;
}

.listentry.self {
    font-style: italic;
}

.online_user.mover {
    background-color: #2222ff;
    color: white;
    cursor: pointer;
}

.size_normal {	font-size: 14px;    }
.size_small {	font-size: 10px;    }
.size_large {	font-size: 18px;    }

.family_sans {	font-family: Sans, Arial; }
.family_times {	font-family: times; }
.family_monospace {	font-family: Monospace, Courier; }

.style_italic { font-style: italic; }
.style_normal { font-style: normal; }
.style_bold { font-weight: bold; }
.style_underlined { text-decoration: underline; }

.invisible {
	display:none;
}

.chat.optionlist {
	display: none;
}

.in_room {
	font-weight: bold;
}

#invite_users_available {
	border: 1px solid #BCCAE5;
	padding: 0;
}

#invite_users_available li{
	list-style-image: none;
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
	padding-left: 20px;
	margin: 3px 0;

}

#create_private_room {
    font-size: 10pt;
}

.chat.notice {
    background-color: #ECF0F9;
}

.chat.error {
    background-color: #FCEAEA;
}

.new_events {
    font-weight: bold;
}

h2.current_room_title {
	display: inline;
	width: auto;
}

.ilChatDialog {
	background-color: white;
	border: 1px solid #BCCAE5;
	padding-top: 0;
}

.ilChatDialog .ilChatDialogBody {
	padding: 3px;
}

.ilChatDialog .ilChatDialogButtons {
	padding: 3px;
	text-align: right;
}

.ilChatDialog .ilChatDialogButtons .submit {
	margin: 2px;
}

.chat_block_title {
	font-weight: bold;
	padding: 3px;
	text-align: left;
	font-size: 90%;
	color: #404040;
	background-color: #F8F8F8;
	border-bottom: 1px solid #E9E9E9;
	margin-top: 0;
	
}

.chat_new_events:before {
	color: #D06000;
	font-weight: bold;
	content: '*';
}

.chat_modal_overlay {
	position: fixed;
	left: 0;
	top: 0;
	background: url("./images/overlay.png");
	width: 100%;
	height: 100%;
}

.invite_user_line {
	background-image: url(../../../../templates/default/images/icon_usr.svg);
	background-position: left center;
	background-repeat: no-repeat;
}

#iosChatInputContainer {
	position: relative;
}

#iosChatEmoticonsPanel {
	position: absolute;
	left: 16px;
	top: 1px;
	display: block;
	height: 19px;
	width: 19px;
}

#iosChatEmoticonsPanel > a {
	display: block;
	height: 19px;
	width: 19px;
	background: url("./images/emoticons_trigger.png") no-repeat 1px 2px;
	position: relative;
	z-index: 1;
	border-left: 1px solid #FFFFFF;
}

#iosChatEmoticonsPanel > a:hover, #iosChatEmoticonsPanel > a.active {
	background-color: #6D84B4;
	border-bottom: 1px solid #6D84B6;
	border-left: 1px solid #3B5998;
	border-right: 1px solid #3B5998;
	border-top: none;
}

#iosChatEmoticonsPanelFlyout {
	position: absolute;
	background-color: white;
	border: 1px solid gray;
	padding: 5px;
	border-bottom: 2px solid #293E6A;
	bottom: 19px;
	position: absolute;
	display: none;
}

#iosChatEmoticonsPanelFlyout a {
	border: 1px solid white;
	display: block;
	padding: 1px 0 1px 2px;
}

#iosChatEmoticonsPanelFlyout a:hover {
	border: 1px solid silver;
}

#ilChatBlockRoomSelect {
	width: 100% !important;
}

#ilChatBlockMessageBody {
	overflow: auto;
	height: 240px;
	font-size: 0.85em;
	font-style: italic;
}

#ilChatBlockMessageBody .size_small {
	font-size: 0.85em !important;
}

#ilChatBlockMessageBody .size_normal {
	font-size: 1em !important;
}

#ilChatBlockMessageBody .size_large {
	font-size: 1.1em !important;
}

.ilNoDisplayChat {
	display: none;
}