<div id="ilChatBlockMessageBody"></div>
<div id="ilChatBlockMessageHeader" class="tblfooter option small">
	<div class="form-group">
		<label class="control-label" for="ilChatBlockMessageBodyEnableAutoscroll">{TXT_ENABLE_AUTOSCROLL}</label>
		<input checked="checked" type="checkbox" value="1" name="ilChatBlockMessageBodyEnableAutoscroll" id="ilChatBlockMessageBodyEnableAutoscroll" />
	</div>
</div>
<div id="ilChatBlockRoomSelectorContainer"></div>
<script type="text/javascript">
	$(document).ready(function () {
		$('body').ilChatViewer({
			base_url:                         '{CHATBLOCK_BASE_URL}',
			loaderImage:                      '{LOADER_PATH}',
			smilies:                          {SMILIES},
			message_container_selector:       '#ilChatBlockMessageBody',
			message_header_selector:          '#ilChatBlockMessageHeader',
			room_selector:                    '#ilChatBlockRoomSelect',
			room_selector_container:          '#ilChatBlockRoomSelectorContainer',
			autoscroll_selector:              '#ilChatBlockMessageBodyEnableAutoscroll',
			polling_interval:                 20,
			lang:                             {
				connect:      {LBL_CONNECT},
				disconnected: {LBL_DISCONNECT},
				timeformat:   {LBL_TIMEFORMAT},
				dateformat:   {LBL_DATEFORMAT}
			}
		});
	});
</script>