<script src="Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.js"></script>

<script>
	document.addEventListener('DOMContentLoaded', (event) => {
		const lang = {
			main: {LBL_MAINROOM},
			leave: {LBL_LEAVE_PRIVATE_ROOM},
			left: {LBL_LEFT_PRIVATE_ROOM},
			enter: {LBL_JOIN},
			delete_private_room_question: {LBL_DELETE_PRIVATE_ROOM_QUESTION},
			delete_private_room: {LBL_DELETE_PRIVATE_ROOM},
			invite_users: {LBL_INVITE_TO_PRIVATE_ROOM},
			kick: {LBL_KICK},
			ban: {LBL_BAN},
			kick_question: {LBL_KICK_QUESTION},
			ban_question: {LBL_BAN_QUESTION},
			address: {LBL_ADDRESS},
			speak_to: {LBL_SPEAK_TO},
			whisper: {LBL_WHISPER},
			whisper_to: {LBL_WHISPER_TO},
			connect: {LBL_CONNECT},
			disconnected: {LBL_DISCONNECT},
			create_private_room: {LBL_CREATE_PRIVATE_ROOM_JS},
			welcome_to_chat: {LBL_WELCOME_TO_CHAT},
			user_invited: {LBL_USER_INVITED},
			user_kicked: {LBL_USER_KICKED},
			user_invited_self: {LBL_USER_INVITED_SELF},
			private_room_closed: {LBL_PRIVATE_ROOM_CLOSED},
			private_room_entered: {LBL_PRIVATE_ROOM_ENTERED},
			private_room_left: {LBL_PRIVATE_ROOM_LEFT},
			private_room_entered_user: {LBL_PRIVATE_ROOM_ENTERED_USER},
			kicked_from_private_room: {LBL_KICKED_FROM_PRIVATE_ROOM},
			ok: {LBL_OK},
			'delete': {LBL_DELETE},
			cancel: {LBL_CANCEL},
			history_has_been_cleared: {LBL_HISTORY_CLEARED},
			clear_room_history: {LBL_CLEAR_ROOM_HISTORY},
			clear_room_history_question: {LBL_CLEAR_ROOM_HISTORY_QUESTION},
			end_whisper: {LBL_END_WHISPER},
			timeformat: {LBL_TIMEFORMAT},
			dateformat: {LBL_DATEFORMAT}
		};

		il.Chatroom.run("chat_messages", lang, "{BASEURL}", "{INSTANCE}", "{SCOPE}", "{POSTURL}", {INITIAL_DATA});
	});
</script>

<div id="invite_users_container" class="ilNoDisplayChat">
	<div>
		<input type="radio" name="invite_users_type" id="invite_users_in_room"/><span id="radioText">{LBL_USER_IN_ROOM}&nbsp;&nbsp;</span>
		<input type="radio" name="invite_users_type" id="invite_users_global"/>{LBL_USER_IN_ILIAS}
	</div>
	<div>
		<p id="invite_user_text_wrapper" class="ilNoDisplayChat"><label for="invite_user_text">{LBL_USER_TEXT}:</label> <input autocomplete="off" type="text" class="form-control" id="invite_user_text" /></p>
		<ul id="invite_users_available">
			<li></li>
		</ul>
	</div>
</div>
<h3 id="chat_head_line" class="ilHeader current_room_title"></h3>
{CHAT_OUTPUT}
{CHAT_INPUT}

<input class="ilHidden" type="text" name="moreOptions" id="moreOptions" />

<div class="ilNoDisplayChat" id="create_private_room_dialog">
	<label for="new_room_name">{LBL_CREATE_PRIVATE_ROOM_TEXT}:</label> <input class="form-control" type="text" id="new_room_name" />
</div>
