<input placeholder="{TXT_AUTH_PROP_1}" class="form-control" type="text" size="{SIZE}" id="{ID_AUTH_PROP_1}" name="{POST_VAR}[{NAME_AUTH_PROP_1}]" value="{VALUE_AUTH_PROP_1}" {DISABLED} />
<br />
<input placeholder="{TXT_AUTH_PROP_2}" class="form-control" type="text" size="{SIZE}" id="{ID_AUTH_PROP_2}" name="{POST_VAR}[{NAME_AUTH_PROP_2}]" value="{VALUE_AUTH_PROP_2}" {DISABLED} />
<br />
<button id="{ID_BTN}" type="button" class="btn btn-default">{TXT_BTN}</button>
<script type="text/javascript">
(function($) {

    var fields = ["{ID_AUTH_PROP_1}", "{ID_AUTH_PROP_2}"];

    $("#{ID_BTN}").on('click', function (e) {
        e.preventDefault();
        e.stopPropagation();

        $.ajax({
            "url": "{URL}",
            "type": "GET",
            "dataType": "json"
        }).done(function (resp) {
            $(fields).each(function () {
                $("#" + this.toString()).val(resp[this.toString()]);
            });
        });
    });

})(jQuery);
</script>
