<tr class="{CSS_ROW}">
	<td class="std">{VAL_LANGUAGE}</td>
	<td class="std<!-- BEGIN agreement_missing --> {VAL_MISSING_AGREEMENT_CSS_CLASS}<!-- END agreement_missing -->">{VAL_AGREEMENT}</td>
	<td class="std">{VAL_AGREEMENT_DOCUMENT}
		<!-- BEGIN tos_content -->
		<a class="il_ContainerItemCommand" id="accpt_doc_trigger_{VAL_ID}" href="#">{VAL_IMG_DOWN}</a>
		{VAL_MODAL}
		<script type="text/javascript">
			(function($) {
				$().ready(function() {
					$('#accpt_doc_trigger_{VAL_ID}').click(function(e) {
						var promise = $.ajax({
							url: '{VAL_CONTENT_LINK}',
							dataType: 'json'
						});

						promise.done(function(response) {
							if (1 == response.status) {
								var $modal = $('#tos_{VAL_ID}');
								$modal.find('.modal-body').html(response.body);
								$modal.modal('show');
							}
						});

						e.preventDefault();
					});
				});
			})(jQuery);
		</script>
		<!-- END tos_content -->
	
	</td><!-- BEGIN optional_column -->
	<td class="std">{OPTIONAL_COLUMN_VAL}</td><!-- END optional_column -->
</tr>