<div class="il-item il-item-shy" <!-- BEGIN id -->id="{ID}"<!-- END id -->>
	<!-- BEGIN lead_icon -->{LEAD_ICON}<!-- END lead_icon -->
	<div class="content">
		<div class="il-item-title">{TITLE}</div>
		<!-- BEGIN desc -->
		<div class="il-item-description">{DESC}</div>
		<!-- END desc -->
		<!-- BEGIN properties -->
		<hr class="il-item-divider" />
		<dl class="il-item-properties">
		<!-- BEGIN property_row -->
			<dt class="il-item-property-name">{PROP_NAME_A}</dt>
			<dd class="il-item-property-value">{PROP_VAL_A}</dd>
		<!-- END property_row -->
		</dl>
		<!-- END properties -->
		<!-- BEGIN close -->{CLOSE}<!-- END close -->
	</div>
</div>
