<tr class="{CSS_ROW}">
	<td class="std">
		<input type="checkbox" value="{VAL_ID}" name="file[]"/>
	</td><!-- BEGIN exp_type_block -->
	<td class="std small">
		{VAL_TYPE}
	</td><!-- END exp_type_block --><!-- BEGIN exp_file_block -->
	<td class="std small">
		{VAL_FILE}
	</td><!-- END exp_file_block --><!-- BEGIN exp_size_block -->
	<td class="std small">
		{VAL_SIZE}
	</td><!-- END exp_size_block --><!-- BEGIN exp_date_block -->
	<td class="std small">
		{VAL_DATE}
	</td>	
	<!-- END exp_date_block --><!-- BEGIN custom -->
	<td class="std small">
		{VAL_CUSTOM}
	</td>
	<!-- END custom -->
	<td class="std small">
		<a href="{URL_DOWNLOAD}">{TXT_DOWNLOAD}</a>
	</td>
</tr>
