<script language="JavaScript" type="text/javascript">
<!--

var help_line = {
		s: '{TXT_STR} [str]text[/str] (alt+s)',
		e: '{TXT_EMP} [emp]text[/emp]  (alt+e)',
		c: '{TXT_COM} [com]text[/com]  (alt+c)',
		f: '{TXT_FN} [fn]text[/fn]  (alt+f)',
		q: '{TXT_QUOT} [quot]text[/quot]  (alt+q)',
		d: '{TXT_CODE} [code]code[/code]  (alt+d)',
		i: '{TXT_ILN} [iln page=\"page_id\"]text[/iln]  (alt+i)',
		x: '{TXT_XLN} [xln url=\"http://url\"]text[/xln]  (alt+x)',
		t: '{TXT_TEX} [tex]LaTeX code[/tex]  (alt+t)'
}

// Define the bbCode tags
var bbcode = new Array();
var bbtags = new Array('[str]','[/str]','[emp]','[/emp]','[com]','[/com]','[quot]','[/quot]','[code]','[/code]','[fn]','[/fn]','[iln page=""]','[/iln]','[xln url="http://"]','[/xln]','[url]','[/url]', '[tex]','[/tex]');
imageTag = false;

var form_name = 'post';
var text_name = '{PAR_TA_NAME}';
var load_draft = false;
var upload = false;

//-->
</script>

<div id="bbcodebuttons" style="position:relative;visibility:visible;">
<input type="text" name="helpbox" size="90" maxlength="100" class="ilEditHelpline" value="{TXT_BB_TIP}" />
<br />
<!-- <input type="button" class="ilEditSubmit" accesskey="s" name="addbbcode0" value=" str " onClick="bbstyle(0); return true;" onMouseOver="helpline('s')" /> -->
<a style="color:black;" class="ilEditSubmit" href="#" accesskey="s" name="addbbcode0" onClick="bbstyle(0); return true;" onMouseOver="helpline('s')" ><span class="ilc_Strong">&nbsp;str&nbsp;</span></a>&nbsp;
<a style="color:black;" class="ilEditSubmit" href="#" accesskey="e" name="addbbcode2" onClick="bbstyle(2)" onMouseOver="helpline('e')" ><span class="ilc_Emph">&nbsp;emp&nbsp;</span></a>&nbsp;
<a style="color:black;" class="ilEditSubmit" href="#" accesskey="c" name="addbbcode4" onClick="bbstyle(4)" onMouseOver="helpline('c')" ><span class="ilc_Comment">&nbsp;com&nbsp;</span></a>&nbsp;
<a style="color:black;" class="ilEditSubmit" href="#" accesskey="q" name="addbbcode6" onClick="bbstyle(6)" onMouseOver="helpline('q')" ><span class="ilc_Quotation">&nbsp;quot&nbsp;</span></a>&nbsp;
<a style="color:black;" class="ilEditSubmit" href="#" accesskey="d" name="addbbcode8" onClick="bbstyle(8)" onMouseOver="helpline('d')" ><span class="ilc_Code">&nbsp;code&nbsp;</span></a>&nbsp;
<a style="color:black;" class="ilEditSubmit" href="#" accesskey="t" name="addbbcode18" onClick="bbstyle(18)" onMouseOver="helpline('t')" ><span>&nbsp;tex&nbsp;</span></a>&nbsp;
<a class="ilEditSubmit" href="#" accesskey="f" name="addbbcode10" onClick="bbstyle(10)" onMouseOver="helpline('f')" >&nbsp;fn&nbsp;</a>&nbsp;
<a class="ilEditSubmit" href="#" accesskey="x" name="addbbcode14" onClick="bbstyle(14)" onMouseOver="helpline('x')" >&nbsp;xln&nbsp;</a>&nbsp;
<!-- BEGIN bb_ilink_button -->
<a class="ilEditSubmit" href="{BB_LINK_ILINK}" accesskey="i" target="tree" onMouseOver="helpline('i')">&nbsp;iln&nbsp;</a>
<!-- END bb_ilink_button -->
</div>
