<table class="ilc_page_cont_PageContainer" width="100%" cellspacing="0" cellpadding="0">
<!-- BEGIN hist_nav -->
<tr class="std">
<td class="std"><div class="small">
{TXT_REVISION} {VAL_REVISION_DATE} - {VAL_REV_USER}<br />
<!-- BEGIN previous_rev --><a href="{HREF_PREV}">← {TXT_PREV_REV}</a><!-- END previous_rev -->
<!-- BEGIN previous_rev_disabled --><span class="light">← {TXT_PREV_REV}</span><!-- END previous_rev_disabled -->
|
<!-- BEGIN next_rev --><a href="{HREF_NEXT}">{TXT_NEXT_REV} →</a><!-- END next_rev -->
| 
<!-- BEGIN latest_rev --><a href="{HREF_LATEST}">{TXT_LATEST_REV}</a><!-- END latest_rev -->
</div>
</td>
</tr>
<!-- END hist_nav -->
<tr><td><div class="ilc_page_Page">
<script LANGUAGE="JavaScript1.1">
<!--
focus();
//-->
</script>
<form action="{FORMACTION}" class="il_Form" method="post">
{PAGE_CONTENT}
</form>
</div></td></tr></table>
