<form action="{FORMACTION}" name="post" method="post">
<!-- Table -->
<table class="std">
<tr class="tblheader">
	<td class="std" colspan="2">
		{TXT_LIST}
	</td>
</tr>
<!-- Language -->
<tr class="std">
	<td class="option">
	{TXT_ORDER}
	</td>
	<td class="option_value">
	{SELECT_ORDER}
	</td>
</tr>
<!-- BEGIN commands -->
<tr>
	<td class="submit" colspan="2" style="text-align:right;">
		<input class="submit" type="submit" name="cmd[{BTN_NAME}]" value="{BTN_TEXT}" />
		<input class="submit" type="submit" name="cmd[{BTN_CANCEL}]" value="{TXT_CANCEL}" />
	</td>
</tr>
<!-- END commands -->
</table>
</form>
