<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" class="ilc_Fullscreen">
<head>
	<title>ILIAS{TITLE}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{LOCATION_STYLESHEET}" />
	<!-- BEGIN ContentStyle -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_CONTENT_STYLESHEET}" />
	<!-- END ContentStyle -->
	<!-- BEGIN js_file -->
	<script type="text/javascript" src="{JS_FILE}"></script>
	<!-- END js_file -->
	<!-- BEGIN css_file -->
	<link rel="stylesheet" type="text/css" href="{CSS_FILE}" media="{CSS_MEDIA}" />
	<!-- END css_file -->
</head>
<body class="ilc_Fullscreen">
<table class = "ilc_Fullscreen"><tr><td valign="middle">
<!-- BEGIN ilMedia -->
{MEDIA_CONTENT}
<!-- END ilMedia -->
</td></tr></table>
<!-- BEGIN on_load_code -->
<script type="text/javascript">
	il.Util.addOnLoad(function() {
		<!-- BEGIN on_load_code_inner -->{OLCODE}
		<!-- END on_load_code_inner -->
	});
</script>
<!-- END on_load_code -->
</body>
</html>
