<tr class="{CSS_ROW}">
<td class="std" style="vertical-align:top;">
({TXT_CUR})
</td>
<td class="std" style="vertical-align:top;">
({TXT_LAST})
</td>
<td class="std" style="vertical-align:top;">
<input type="radio" name="left" value="{NR}"/>
</td>
<td class="std" style="vertical-align:top;">
<input type="radio" name="right" value="{NR}"/>
</td>
<td class="std" style="vertical-align:top;">
<a href="{HREF_OLD_PAGE}">{TXT_HDATE}</a>
</td>
<td class="std" style="vertical-align:top;">
{TXT_USER}
</td>
</tr>
