<tr class="{CSS_ROW}">
<td class="std" style="vertical-align:top;">
<input type="radio" name="left" value="{NR}"/>
</td>
<td class="std" style="vertical-align:top;">
<input type="radio" name="right" value="{NR}"/>
</td>
<td class="std" style="vertical-align:top;">
<a href="{HREF_OLD_PAGE}">{TXT_HDATE}</a>
</td>
<td class="std" style="vertical-align:top;">
<img border="0" src="{IMG_USER}" alt="{TXT_USER}"/>  {TXT_USER}
<a href="{USER_LINK}">{TXT_LINKED_USER}</a>
</td>
<td class="std" style="vertical-align:top;">
<!-- BEGIN command --> 
<a href="{HREF_COMMAND}">{TXT_COMMAND}</a>
<!-- END command -->
</td>
</tr>
