<script language="JavaScript" type="text/javascript">
/*ilCOPage = {
	setCharacterClass: function (v) {
		var b = il.COPageBB;
		console.log(v);
		switch (v.hid_val) {
			case "Quotation":
				b.applyCommand("quot");
				break;
			case "Accent":
				b.applyCommand("acc");
				break;
			case "Code":
				b.applyCommand("code");
				break;
			case "Comment":
				b.applyCommand("com");
				break;
			default:
				b.insertBBTabs('[marked class="' + v.hid_val + '"]', '[/marked]');
				break;
		}
	}
};*/
il.COPageBB = {
	initCommands: function () {
		t = il.COPageBB;
		t.commands = {
			str: {
				short: "s"
			},
			emp: {
				short: "e"
			},
			com: {
				short: "c"
			},
			fn: {
				short: "f"
			},
			quot: {
				short: "q"
			},
			code: {
				short: "d"
			},
			iln: {
				short: "i",
				start: "[iln page=\"\"]"
			},
			wlink: {
				short: "w",
				start: "[[",
				tag_text: il.Language.txt("wiki_wiki_page"),
				end: "]]",
				fill: ""
			},
			xln: {
				short: "x",
				start: "[xln url=\"http://\"]"
			},
			anc: {
				short: "n",
				start: '[anc name=""]',
				tag_text: il.Language.txt("cont_anchor")
			},
			tex: {
				short: "t"
			},
			imp: {
				short: "m"
			},
			acc: {
				short: "a"
			},
			kw: {
				short: "k"
			},
			sup: {
				short: "p"
			},
			sub: {
				short: "b"
			}
		}
	},

	init: function () {
		var t = il.COPageBB;
		t.initCommands();
		$("a.btn-sm:not([accesskey=''])").on("mouseover", function() {
			var t = il.COPageBB;
			t.showHelp(this);
		}).on("click", function () {
			var t = il.COPageBB;
			t.handleButtonClick(this);
		})
	},

	findCommandForKey: function (k) {
		var t = il.COPageBB;
		for (var c in t.commands) {
			if (t.commands[c].short == k) {
				return c;
			}
		}
	},

	showHelp: function (e) {
		var text, com, start, end, fill, hkey, tag_text,
				t = il.COPageBB,
				k = $(e).attr("accesskey");

		// workaround to get lang vars at this time
		t.initCommands();

		com = t.findCommandForKey(k);
		if (typeof com == "undefined") {
			return;
		}

		start = (t.commands[com].start)
				? t.commands[com].start
				: "[" + com + "]";
		end = (t.commands[com].end)
				? t.commands[com].end
				: "[/" + com + "]";
		fill = (t.commands[com].fill)
				? t.commands[com].fill
				: "text";
		tag_text = (t.commands[com].tag_text)
				? t.commands[com].tag_text
				: il.Language.txt("cont_text_" + com);
		hkey = "alt";
		text = tag_text + " " + start + fill + end + " (" + hkey + "+" + k + ")";
		$("#helpbox").html(text);
	},

	handleButtonClick: function (e) {
		var t = il.COPageBB,
				k = $(e).attr("accesskey"),
				com = t.findCommandForKey(k);
		if (com != "iln") {
			t.applyCommand(com);
		}
	},

	applyCommand: function (com) {
		var bbopen, bbclose,
				t = il.COPageBB;
		if (typeof com == "undefined") {
			return;
		}
		bbopen = (t.commands[com].start)
				? t.commands[com].start
				: "[" + com + "]";
		bbclose = (t.commands[com].end)
				? t.commands[com].end
				: "[/" + com + "]";
		t.insertBBTabs(bbopen, bbclose);
	},

	setCharacterClass: function(i)
	{
		var t = i.hid_val;
		var stype = {Strong: 'str', Emph: 'emp', Important: 'imp', Comment: 'com',
			Quotation: 'quot', Accent: 'acc', Code: 'code'};
		if (stype[t]) {
			il.COPageBB.applyCommand(stype[t]);
		} else {
			il.COPageBB.insertBBTabs('[marked class="' + t + '"]', '[/marked]');
		}

		console.log(t);
		return false;
	},

	insertBBTabs: function (bbopen, bbclose) {

		theSelection = false;

		var textarea = document.forms[form_name].elements[text_name];

		textarea.focus();

		if (document.selection) {
			// Get text selection
			theSelection = document.selection.createRange().text;

			if (theSelection) {
				// Add tags around selection
				document.selection.createRange().text = bbopen + theSelection + bbclose;
				document.forms[form_name].elements[text_name].focus();
				theSelection = '';
				return;
			}
		}
		else if (document.forms[form_name].elements[text_name].selectionEnd && (document.forms[form_name].elements[text_name].selectionEnd - document.forms[form_name].elements[text_name].selectionStart > 0))
		{
			mozWrap(document.forms[form_name].elements[text_name], bbopen, bbclose);
			document.forms[form_name].elements[text_name].focus();
			theSelection = '';
			return;
		}

		//The new position for the cursor after adding the bbcode
		var caret_pos = getCaretPosition(textarea).start;
		var new_pos = caret_pos + bbopen.length;

		// Open tag
		insert_text(bbopen + bbclose);

		// Center the cursor when we don't have a selection
		// Gecko and proper browsers
		if (!isNaN(textarea.selectionStart))
		{
			textarea.selectionStart = new_pos;
			textarea.selectionEnd = new_pos;
		}
		// IE
		else if (document.selection)
		{
			var range = textarea.createTextRange();
			range.move("character", new_pos);
			range.select();
			storeCaret(textarea);
		}

		textarea.focus();
	}

};

$(function () {
	il.COPageBB.init();
});

// Define the bbCode tags
imageTag = false;

var form_name = 'post';
var text_name = '{PAR_TA_NAME}';
var load_draft = false;
var upload = false;

</script>

<div id="bbcodebuttons">
<div id="helpbox" class="ilEditHelpline">{TXT_BB_TIP}</div>
<!-- BEGIN bb_str_button -->
<a class="btn btn-sm btn-default" href="#" accesskey="s"><span class="ilc_text_inline_Strong">&nbsp;str&nbsp;</span></a>
<!-- END bb_str_button -->
<!-- BEGIN bb_emp_button -->
<a class="btn btn-sm btn-default" href="#" accesskey="e"><span class="ilc_text_inline_Emph">&nbsp;emp&nbsp;</span></a>
<!-- END bb_emp_button -->
<!-- BEGIN bb_imp_button -->
<a class="btn btn-sm btn-default" href="#" accesskey="m"><span class="ilc_text_inline_Important">&nbsp;imp&nbsp;</span></a>
<!-- END bb_imp_button -->
<!-- BEGIN bb_sup_button -->
<a class="btn btn-sm btn-default" href="#" accesskey="p">&nbsp;x<sup class="ilc_sub_Sup">2</sup>&nbsp;</a>
<!-- END bb_sup_button -->
<!-- BEGIN bb_sub_button -->
<a class="btn btn-sm btn-default" href="#" accesskey="b">&nbsp;x<sub class="ilc_sub_Sub">2</sub>&nbsp;</a>
<!-- END bb_sub_button -->
{CHAR_STYLE_SELECT}
<!-- BEGIN bb_kw_button -->
<a class="btn btn-sm btn-default" href="#" accesskey="k">&nbsp;kw&nbsp;</a>
<!-- END bb_kw_button -->
<!-- BEGIN bb_tex_button -->
<a class="btn btn-sm btn-default" href="#" accesskey="t"><span>&nbsp;tex&nbsp;</span></a>
<!-- END bb_tex_button -->
<!-- BEGIN bb_fn_button -->
<a class="btn btn-sm btn-default" href="#" accesskey="f">&nbsp;fn&nbsp;</a>
<!-- END bb_fn_button -->
<!-- BEGIN bb_anc_button -->
<a class="btn btn-sm btn-default" href="#" accesskey="n">&nbsp;anc&nbsp;</a>
<!-- END bb_anc_button -->
<!-- BEGIN bb_xln_button -->
<a class="btn btn-sm btn-default" href="#" accesskey="x">&nbsp;xln&nbsp;</a>
<!-- END bb_xln_button -->
<!-- BEGIN bb_ilink_button -->
<a id="iosEditInternalLinkTrigger" class="btn btn-sm btn-default" xhref="{BB_LINK_ILINK}" accesskey="i" xtarget="tree">&nbsp;iln&nbsp;</a>
<!-- END bb_ilink_button -->
	<!-- BEGIN bb_wikilink_button2 -->
	<a class="btn btn-sm btn-default" href="#" onClick="il.Wiki.Edit.openLinkDialog('{WIKI_BUTTON2_URL}');" >&nbsp;{TXT_WIKI_BUTTON2}&nbsp;</a>
	<!-- END bb_wikilink_button2 -->
	<!-- BEGIN bb_wikilink_button -->
	<a class="btn btn-sm btn-default" href="#" accesskey="w">&nbsp;[[{TXT_WLN2}]]&nbsp;</a>
	<!-- END bb_wikilink_button -->
</div>
<!-- BEGIN int_link_prep -->
{INT_LINK_PREP}
<script>
$("#ilEditorPanel").parent().appendTo("body");
</script>
<!-- END int_link_prep -->
