<script language="JavaScript" type="text/javascript">
<!--

function ilInitInsertions(el)
{
	text_name = el.id;
	initInsertions();
}

function handleTDInput(el)
{
	storeCaret(el);
	text_name = el.id;
}

function handleDataTableCommand(type, command)
{
	obj = document.getElementById("post");
	hid_type = document.getElementById("dtform_type");
	hid_type.value = type;
	hid_cmd = document.getElementById("dtform_command");
	hid_cmd.value = command;
	hid_id = document.getElementById("dtform_nr");
	hid_id.value = current_row_col;
	
    obj.submit();
}

var current_row_col;

//-->
</script>
<form action="{FORMACTION}" id="post" name="post" method="post">
<input type="hidden" id="dtform_type" name="type" value="" />
<input type="hidden" id="dtform_command" name="action" value="" />
<input type="hidden" id="dtform_nr" name="id" value="" />
<table id="ilEditTableDataCl" class="fullwidth">
<tr class="tblheader">
	<td class="std">
		{TXT_ACTION}
	</td>
</tr>
<tr class="std">
	<td class="option_value">
	{BB_MENU}
	</td>
</tr>
<tr class="std">
<td class="std">
<table border="0" cellpadding="0" cellspacing="0">
<!-- BEGIN row -->
<tr>
	<!-- BEGIN empty_td -->
	<td>&nbsp;</td>
	<!-- END  empty_td -->
	<!-- BEGIN col_icon -->
	<td style="text-align: center;">
		<img src="{COL_ICON}" onclick="current_row_col = {NR}; doMouseClick(event, '{COL_ONCLICK}');" border="0" />
	</td>
	<!-- END col_icon -->
	<!-- BEGIN row_icon -->
	<td style="vertical-align: middle;">
		<img src="{ROW_ICON}" onclick="current_row_col = {NR}; doMouseClick(event, '{ROW_ONCLICK}');" border="0" />
	</td>
	<!-- END row_icon -->
	<!-- BEGIN cell -->
	<td {COLSPAN} {ROWSPAN}>
	<textarea id="{PAR_TA_ID}" name="{PAR_TA_NAME}" onfocus="ilInitInsertions(this);" onkeyup="handleTDInput(this);" onselect="handleTDInput(this);" onclick="handleTDInput(this);" onkeyup="handleTDInput(this);" style="width:{WIDTH}px; height:{HEIGHT}px; padding:2px; margin:0px; border-width:1px; overflow:auto;" wrap="virtual">{PAR_TA_CONTENT}</textarea>
	</td>
	<!-- END cell -->
</tr>
<!-- END row -->
</table>
</td>
</tr>
<!-- BEGIN commands -->
<tr>
	<td class="submit" style="text-align:right;">
		<input class="submit" type="submit" name="cmd[{BTN_NAME}]" value="{BTN_TEXT}" />
		<!-- <input class="submit" type="submit" name="cmd[{BTN_CANCEL}]" value="{TXT_CANCEL}" /> -->
	</td>
</tr>
<!-- END commands -->
</table>
</form>

<!-- BEGIN menu -->
</div><div class="ilOverlay il_editmenu ilNoDisplay" id="{TYPE}_menu_{MOVE}">
<!-- BEGIN menu_item -->
<a href="#" class="ilGroupedListLE" onMouseOver="M_in(this);" onMouseOut="M_out(this);" onClick="handleDataTableCommand('{TYPE}', '{CMD}');">{MENU_ITEM_TITLE}</a>
<!-- END menu_item -->
</div>
<!-- END menu -->

<!-- data table command form -->
<!-- <form style="visibility:hidden;" name="dtform" id="dtform" method="post" action="{FORMACTION2}">
<input type="hidden" id="dtform_type" name="type" value="" />
<input type="hidden" id="dtform_command" name="action" value="" />
<input type="hidden" id="dtform_nr" name="id" value="" />
</form> -->

