<div class="ilc_page_toc_PageTOC">
<h1 style="display:inline;" class="ilc_page_toc_PageTOCHead">{TXT_PAGE_TOC}</h1>
 <span id="ilPageTocOff">[<a onclick="il.COPagePres.toggleToc(); return false;" class="ilc_page_toc_PageTOCLink" href="#">{TXT_HIDE}</a>]</span>
 <span id="ilPageTocOn" style="display:none;">[<a onclick="il.COPagePres.toggleToc(); return false;" class="ilc_page_toc_PageTOCLink" href="#">{TXT_SHOW}</a>]</span>
 <div id="ilPageTocContent">{PAGE_TOC}</div>
</div><div style="clear:both;"></div>