<div class="yui-skin-sam">
<div id="iltinymenu" style="display:none;">
<div class="hd">&nbsp;</div>
<div class="bd" id="iltinymenu_bd">
<div id="ilsaving" class="ilHighlighted" style="display:none;">{TXT_SAVING}</div>
<div id="ilTinyMenuButtons">
	<!-- BEGIN save_return -->
	<a class="ilEditSubmit" href="#" onClick="ilCOPage.cmdSaveReturn(); return false;" >&nbsp;{TXT_SAVE_RETURN}&nbsp;</a>
	<!-- END save_return -->
	<a class="ilEditSubmit" href="#" accesskey="s" onClick="ilCOPage.cmdSave(null); return false;" >&nbsp;{TXT_SAVE}&nbsp;</a>
	<a class="ilEditSubmit" href="#" onClick="ilCOPage.cmdCancel(); return false;" >&nbsp;{TXT_CANCEL}&nbsp;</a>
	<!-- BEGIN debug_ghost -->
	<a onClick="ilCOPage.switchDebugGhost(); return false;" >DebugG</a>
	<a onClick="ilCOPage.debugContent(); return false;" >Content</a>
	<a onClick="ilCOPage.splitBR(); return false;" >SplitBR</a>
	<a href="#" onClick="ilCOPage.setParagraphClass(); return false;" >SP</a>
	<a href="#" onClick="ilCOPage.cmdNewParagraph(); return false;" >NP</a>
	<!-- END debug_ghost -->
</div>
<!-- BEGIN par_edit -->
<div class="ilTinyMenuSection">
	<p class="small">{TXT_PAR_FORMAT}</p>
	{STYLE_SELECTOR}
	<!-- BEGIN new_par -->
	<!-- &nbsp;<a id="il_edm_newpar" style="color:black;" class="ilEditSubmit" href="#" onClick="ilCOPage.cmdNewParagraph(); return false;" >&nbsp;{IMG_NEWPAR}&nbsp;</a> -->
	<!-- END new_par -->
</div>
<!-- END par_edit -->
<div class="ilTinyMenuSection">
	<p class="small">{TXT_CHAR_FORMAT}</p>
	<!-- BEGIN bb_str_button -->
	<a id="il_edm_cc_str" style="color:black;" class="ilEditSubmit" href="#" accesskey="b" onClick="ilCOPage.cmdSpan('Strong'); return false;" ><span class="ilc_text_inline_Strong">&nbsp;{CC_STR}&nbsp;</span></a>
	<!-- END bb_str_button -->
	<!-- BEGIN bb_emp_button -->
	<a id="il_edm_cc_emp" style="color:black;" class="ilEditSubmit" href="#" accesskey="e" onClick="ilCOPage.cmdSpan('Emph'); return false;"  ><span class="ilc_text_inline_Emph">&nbsp;{CC_EMP}&nbsp;</span></a>
	<!-- END bb_emp_button -->
	<!-- BEGIN bb_imp_button -->
	<a id="il_edm_cc_imp" style="color:black;" class="ilEditSubmit" href="#" accesskey="m" onClick="ilCOPage.cmdSpan('Important'); return false;" ><span class="ilc_text_inline_Important">&nbsp;{CC_IMP}&nbsp;</span></a>
	<!-- END bb_imp_button -->
	<!-- BEGIN bb_com_button -->
	<a id="il_edm_cc_com" style="color:black;" class="ilEditSubmit" href="#" accesskey="c" onClick="ilCOPage.cmdSpan('Comment'); return false;" ><span class="ilc_text_inline_Comment">&nbsp;{CC_COM}&nbsp;</span></a>
	<!-- END bb_com_button -->
	<!-- BEGIN bb_quot_button -->
	<a id="il_edm_cc_quot" style="color:black;" class="ilEditSubmit" href="#" accesskey="q" onClick="ilCOPage.cmdSpan('Quotation'); return false;" ><span class="ilc_text_inline_Quotation">&nbsp;{CC_QUOT}&nbsp;</span></a>
	<!-- END bb_quot_button -->
	<!-- BEGIN bb_acc_button -->
	<a id="il_edm_cc_acc" style="color:black;" class="ilEditSubmit" href="#" accesskey="a" onClick="ilCOPage.cmdSpan('Accent'); return false;" ><span class="ilc_text_inline_Accent">&nbsp;{CC_ACC}&nbsp;</span></a>
	<!-- END bb_acc_button -->
	<!-- BEGIN bb_code_button -->
	<a id="il_edm_cc_code" style="color:black;" class="ilEditSubmit" href="#" accesskey="d" onClick="ilCOPage.cmdCode(); return false;" ><code>&nbsp;{CC_CODE}&nbsp;</code></a>
	<!-- END bb_code_button -->
	{CHAR_STYLE_SELECTOR}
	<!-- BEGIN rformat_button -->
	&nbsp;<a id="il_edm_rformat" style="color:black;" class="ilEditSubmit" href="#" onClick="ilCOPage.cmdRemoveFormat(); return false;" >&nbsp;{IMG_RFORMAT}&nbsp;</a>
	<!-- END rformat_button -->
</div>
<div class="ilTinyMenuSection">
	<p class="small">{TXT_LISTS}</p>
	<!-- BEGIN blist_button -->
	<a id="il_edm_blist" style="color:black;" class="ilEditSubmit" href="#" onClick="ilCOPage.cmdBList(); return false;" >&nbsp;{IMG_BLIST}&nbsp;</a>
	<!-- END blist_button -->
	<!-- BEGIN nlist_button -->
	<a id="il_edm_nlist" style="color:black;" class="ilEditSubmit" href="#" onClick="ilCOPage.cmdNList(); return false;" >&nbsp;{IMG_NLIST}&nbsp;</a>
	<!-- END nlist_button -->
	<!-- BEGIN list_outdent -->
	<a style="color:black;" id="ilOutdentBut" class="ilEditSubmit" href="#" onClick="ilCOPage.cmdListOutdent(); return false;" >&nbsp;{IMG_LIST_OUTDENT}&nbsp;</a>
	<!-- END list_outdent -->
	<!-- BEGIN list_indent -->
	<a style="color:black;" id="ilIndentBut" class="ilEditSubmit" href="#" onClick="ilCOPage.cmdListIndent(); return false;" >&nbsp;{IMG_LIST_INDENT}&nbsp;</a>
	<!-- END list_indent -->
</div>
<div class="ilTinyMenuSection">
	<p class="small">{TXT_LINKS}</p>
	<!-- BEGIN bb_wikilink_button -->
	<a id="il_edm_wlink" class="ilEditSubmit" href="#" accesskey="w" name="addbbcode14" onClick="ilCOPage.cmdWikiLink(); return false;" >&nbsp;[[{TXT_WLN2}]]&nbsp;</a>
	<!-- END bb_wikilink_button -->
	<!-- BEGIN bb_xln_button -->
	<a id="il_edm_xlink" class="ilEditSubmit" href="#" accesskey="x" name="addbbcode14" onClick="ilCOPage.cmdExtLink(); return false;" >&nbsp;{CC_XLN}&nbsp;</a>
	<!-- END bb_xln_button -->
	<!-- BEGIN bb_ilink_button -->
	<a id="iosEditInternalLinkTrigger" class="ilEditSubmit" href="#" accesskey="i" >&nbsp;iln&nbsp;</a>
	<!-- END bb_ilink_button -->
</div>
<div class="ilTinyMenuSection last">
	<p class="small">{TXT_MORE_FUNCTIONS}</p>
	<!-- BEGIN pword_button -->
	<a id="il_edm_pword" class="ilEditSubmit" href="#" onClick="ilCOPage.cmdPasteWord(); return false;" >&nbsp;{IMG_PWORD}&nbsp;</a>
	<!-- END pword_button -->
	<!-- BEGIN bb_kw_button -->
	<a id="il_edm_kw" style="color:black;" class="ilEditSubmit" href="#" accesskey="k" onClick="ilCOPage.cmdKeyword(); return false;" >&nbsp;{CC_KW}&nbsp;</a>
	<!-- END bb_kw_button -->
	<!-- BEGIN bb_tex_button -->
	<a id="il_edm_tex" style="color:black;" class="ilEditSubmit" href="#" accesskey="t" onClick="ilCOPage.cmdTex(); return false;" ><span>&nbsp;{CC_TEX}&nbsp;</span></a>
	<!-- END bb_tex_button -->
	<!-- BEGIN bb_fn_button -->
	<a id="il_edm_fn" class="ilEditSubmit" href="#" accesskey="f" name="addbbcode10" onClick="ilCOPage.cmdFn(); return false;" >&nbsp;{CC_FN}&nbsp;</a>
	<!-- END bb_fn_button -->
	<!-- BEGIN bb_anc_button -->
	<a id="il_edm_anc" class="ilEditSubmit" href="#" accesskey="n" name="addbbcode22" onClick="ilCOPage.cmdAnc(); return false;" >&nbsp;{CC_ANC}&nbsp;</a>
	<!-- END bb_anc_button -->
</div>
<div style="clear:both; float:none;"></div>
</div>
</div>
</div>
