<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td width="50%" valign="top">{LEFT}</td>
<td>&nbsp;</td>
<td width="50%" valign="top">{RIGHT}</td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0">
<tr><td width="15px" class="small"><div class="ilEditNew" style="margin: 3px;">&nbsp;</div></td><td class="small">: {TXT_NEW}</td></tr>
<tr><td width="15px" class="small"><div class="ilEditModified" style="margin: 3px;">&nbsp;</div></td><td class="small">: {TXT_MODIFIED}</td></tr>
<tr><td width="15px" class="small"><div class="ilEditDeleted" style="margin: 3px;">&nbsp;</div></td><td class="small">: {TXT_DELETED}</td></tr>
</table>

