<div id="iltinymenu">
<div style="position:relative;">
<div id="iltinymenu_bd">
<div id="ilTinyMenuButtons">
	<div class="ilFloatLeft">
		{SPLIT_BUTTON}
		{SAVE_DROPDOWN}
		{CANCEL_BUTTON}
	</div>
	<div class="ilFloatRight">
		<img style="display:none;" data-copg-ed-type="top-loader" src="{SRC_LOADER}" alt="" />
	</div>
	<div class="ilClearFloat"></div>
</div>
<p id="copg-auto-save" class="subtitle">&nbsp;</p>
<!-- BEGIN par_edit -->
<div class="ilTinyMenuSection ilTinyParagraphClassSelector">
	<p class="ilTinyInfo small">{TXT_PAR_FORMAT}</p>
	{STYLE_SELECTOR}
</div>
<!-- END par_edit -->
<div class="ilClearFloat"></div>
<!-- BEGIN section -->
<div class="ilTinyMenuSection">
	<p class="ilTinyInfo small">{TXT_SECTION}</p>
	<!-- BEGIN button -->{BUTTON}<!-- END button -->
</div>
<!-- END section -->
<div class="ilClearFloat"></div>
<div class="ilTinyMenuSection ilSectionClassSelector">
	<p class="ilTinyInfo small">{TXT_BLOCK}</p>
	{BLOCK_STYLE_SELECTOR}
</div>
</div>
</div>
</div>
