/* Services/Membership */
div.ilAttendanceListPrint td,
div.ilAttendanceListPrint th {
  border: 1px solid #D6D6D6;
  padding: 2px;
}
body.ilBodyPrint {
  height: auto;
  background-color: #FFF;
  margin: 10px;
  padding: 0;
}
