div.ilSurveyPageEditDropArea {
	border-color: lighten(@brand-secondary, 10%);
	color: lighten(@brand-secondary, 10%);
	background-color: lighten(@brand-secondary, 45%);	
}

div.ilSurveyPageEditDropAreaSelected {
	border-color: lighten(@brand-secondary, 10%);
	color: lighten(@brand-secondary, 10%);
	background-color: lighten(@brand-secondary, 25%);	
}

div.ilSurveyPageEditAreaDragging {
	background-color: rgba(240, 240, 240, 0.75);	
}
