<style type="text/css">
    @media print {
        div.il-filter {
            display:none;
        }
        div.il-filter form.il-standard-form {
            display:none;
        }
        main.il-layout-page-content {
            overflow:hidden;
        }
    }
</style>
<!-- <div class="ilNotesHeader"> -->
<!-- BEGIN title --><!-- <h3 class="ilHeader"><span class="small">{TITLE}</span></h3>--><!-- END title -->
<!-- </div> -->
<div id="ilNotes">
    {MESS}
    {WIDGET_HEADER}
    <!-- BEGIN edit_note_form -->
    <a id="note_edit"></a>
    <div data-note-el="edit-form-area">
        {EDIT_FORM_BUTTON}
        <div data-note-form-cancel-text="{TXT_CANCEL}" data-note-form-cancel-action="{CANCEL_FORM_ACTION}" data-note-form-action="{EDIT_FORM_ACTION}" data-note-el="edit-form" style="{EDIT_STYLE}">{EDIT_FORM}</div>
    </div>
    <!-- END edit_note_form -->
    {NOTES_LIST}
</div>