<a name="notes_top"></a>
{NOTE_MESS}
<table border="0" cellpadding="0" width="100%" cellspacing="0"><tr>
<!-- BEGIN notes_col -->
<td width="50%" valign="top" style="padding-right:10px;">
{NOTES}
</td>
<!-- END notes_col -->
<!-- BEGIN comments_col -->
<td width="50%" valign="top" <!-- BEGIN comments_style -->style="padding-left:10px;"<!-- END comments_style -->>
{COMMENTS}
<!-- BEGIN comments_settings -->
<div class="il_ContainerItemCommands" style="text-align:right; margin-top:10px;">
<a class="il_ContainerItemCommand" href="{HREF_COMMENTS_SETTINGS}">{TXT_COMMENTS_SETTINGS}</a>
</div>
<!-- END comments_settings -->
</td>
<!-- END comments_col -->
</tr></table>
