<!-- BEGIN print_style -->
<style type="text/css">
<!--
body
{
	margin: 10px;
}
table.fullwidth
{
	width: 100%;
	border-width:0px;
	border-spacing:0px;
	border-collapse:collapse;
}
td
{	
	border-style:solid;
	border-width:1px;
	padding: 3px;
}
th
{
	font-size: 130%;
	padding: 14px 0px 4px 0px;
}
div.subtitle
{
	font-size: 90%;
}
a.il_PrintBack
{
	font-size: 80%;
}
-->
</style>
<!-- END print_style -->
<!-- BEGIN print_back -->
<a class="il_PrintBack" href="{LINK_BACK}">{TXT_BACK}</a>
<!-- END print_back -->
<form action="{FORMACTION}" name="cmd" method="post">
<div style="border-bottom-width: 1px;
	border-bottom-style: solid; border-bottom-color: #606060; margin-bottom:5px; padding-bottom:5px;">
<img alt="{TXT_NOTES}" src="{IMG_NOTES}" border="0" style="vertical-align:text-bottom;" />
<span style="font-size:110%; color: #606060;">
{TXT_NOTES}</span>
</div>
	<div class="il_ContainerItemCommands" style="text-align:right;">
	<!-- BEGIN show_notes -->
	<a class="il_ContainerItemCommand" href="{LINK_SHOW_NOTES}">{TXT_SHOW_NOTES}</a>
	<!-- END show_notes -->
	<!-- BEGIN hide_notes -->
	<a class="il_ContainerItemCommand" href="{LINK_HIDE_NOTES}">{TXT_HIDE_NOTES}</a>
	<!-- END hide_notes -->
	<!-- BEGIN all_pub_notes -->
	<a class="il_ContainerItemCommand" href="{LINK_ALL_PUB_NOTES}">{TXT_ALL_PUB_NOTES}</a>
	<!-- END all_pub_notes -->
	<!-- BEGIN my_pub_notes -->
	<a class="il_ContainerItemCommand" href="{LINK_MY_PUB_NOTES}">{TXT_MY_PUB_NOTES}</a>
	<!-- END my_pub_notes -->
	<!-- BEGIN add_note_btn -->
	<a class="il_ContainerItemCommand" href="{LINK_ADD_NOTE}">{TXT_ADD_NOTE}</a>
	<!-- END add_note_btn -->
	</div>
<table class="fullwidth_invisible" width="100%" style="clear:both;">
<!-- BEGIN note_row -->
<!-- BEGIN edit_note_form -->
<tr class="std">
	<td class="option" width="1%"><a name="note_edit" />{TXT_SUBJECT}</td>
	<td class="option_value" >
		<input type="text" style="width:95%" maxlength="200" name="{SUB_NOTE}" value="{NOTE_SUBJECT}" />
	</td>
</tr>
<tr class="std">
	<td class="option" width="1%">{TXT_NOTE}</td>
	<td class="option_value">
		<textarea name="{TA_NOTE}" style="width:95%" rows="7" wrap="virtual">{NOTE_CONTENT}</textarea>
	</td>
</tr>
<tr>
	<td class="submit" style="text-align:right;" colspan="2">
		<select name="note_label">
			<option value="{VAL_LABEL_NONE}" {SEL_NONE}>{TXT_LABEL_NONE}</option>
			<option value="{VAL_LABEL_QUESTION}" {SEL_QUESTION}>{TXT_LABEL_QUESTION}</option>
			<option value="{VAL_LABEL_IMPORTANT}" {SEL_IMPORTANT}>{TXT_LABEL_IMPORTANT}</option>
			<option value="{VAL_LABEL_PRO}" {SEL_PRO}>{TXT_LABEL_PRO}</option>
			<option value="{VAL_LABEL_CONTRA}" {SEL_CONTRA}>{TXT_LABEL_CONTRA}</option>
		</select>
		<input class="submit" type="submit" name="cmd[{BTN_ADD_NOTE}]" value="{TXT_ADD_NOTE}" />
		<input class="submit" type="submit" name="cmd[{BTN_CANCEL_ADD_NOTE}]" value="{TXT_CANCEL_ADD_NOTE}" />
		<input type="hidden" name="note_id" value="{VAL_NOTE_ID}" />
	</td>
</tr>
<!-- END edit_note_form -->
<!-- BEGIN note -->
<tr class="{ROWCLASS}">
	<!-- BEGIN checkbox_col -->
	<td width="1%" valign="top"><input type="checkbox" name="{CHK_NOTE}" value="{CHK_NOTE_ID}"/>
	</td>
	<!-- END checkbox_col -->
	<td class="std" colspan="{CNT_COL}">
	<!-- BEGIN delete_ids --><input type="hidden" name="{HID_NOTE}" value="{HID_NOTE_ID}"/><!-- END delete_ids -->
	<div style="margin: 5px 0px;">
	<a name="note_{NOTE_ID}">{EXP_ICON}<!-- BEGIN note_img --><img src="{IMG_NOTE}" alt="{ALT_NOTE}" title="{ALT_NOTE}" border="0" style="vertical-align:text-bottom; margin-bottom:2px;"/><!-- END note_img --></a>
	{VAL_SUBJECT}
	<!-- BEGIN author --> ({VAL_AUTHOR})<!-- END author -->  
		<br /><div class="small" style="margin: 6px 0px;">{NOTE_TEXT}</div>
	<div class="subtitle" style="text-align:right; margin-top:4px;">{TXT_CREATED} {VAL_DATE}<!-- BEGIN last_edit --><br />
	{TXT_LAST_EDIT} {DATE_LAST_EDIT}
	<!-- END last_edit --></div>
	<!-- BEGIN target_objects -->
		<div style="margin-top:4px;" class="subtitle">
		<!-- BEGIN target_object -->
			<div>{TXT_CONTAINER} > <a href="{LINK_TARGET}">{TXT_TARGET}</a></div>
		<!-- END target_object -->
		<!-- BEGIN exp_target_object -->
			<div>{TXT_CONTAINER} > {TXT_TARGET}</div>
		<!-- END exp_target_object -->
		</div>
	<!-- END target_objects -->
	<div class="il_ContainerItemCommands" style="text-align:right;">
	<!-- BEGIN delete_note -->
	<a class="il_ContainerItemCommand" href="{LINK_DELETE_NOTE}">{TXT_DELETE_NOTE}</a>
	<!-- END delete_note -->
	<!-- BEGIN edit_note -->
	<a class="il_ContainerItemCommand" href="{LINK_EDIT_NOTE}">{TXT_EDIT_NOTE}</a>
	<!-- END edit_note -->
	</div>
	</div>
	</td>
</tr>
<!-- END note -->
<!-- END note_row -->
<!-- BEGIN multiple_commands -->
<tr>
	<td class="submit" width="1%">
	<input type="checkbox" name="all" value="check_all" onClick="CheckAll();" />
	</td>
	<td class="submit">{TXT_SELECT_ALL}
	</td>
</tr>
<tr>
	<td class="submit" colspan="2">
		<img border="0" src="{IMG_ARROW}" alt="{ALT_ARROW}" />
		<input type="submit" class="submit" name="cmd[deleteNotes]" value="{TXT_DELETE_NOTES}" />
		<input type="submit" class="submit" name="cmd[exportNotesHTML]" value="{TXT_EXPORT_NOTES}" />
		<input type="submit" class="submit" name="cmd[printNotes]" value="{TXT_PRINT_NOTES}" />
	</td>
</tr>
<!-- END multiple_commands -->
<!-- BEGIN delete_cancel -->
<tr>
	<td class="submit" colspan="2">
		<input type="submit" class="submit" name="cmd[confirmDelete]" value="{TXT_DEL_NOTES}" />
		<input type="submit" class="submit" name="cmd[cancelDelete]" value="{TXT_CANCEL_DEL_NOTES}" />
	</td>
</tr>
<!-- END delete_cancel -->
</table>
</form><br />
<!-- BEGIN print_js -->
<script type="text/javascript" language="javascript1.2">
<!--
	// Do print the page
	if (typeof(window.print) != 'undefined')
	{
		window.print();
	}
//-->
</script>
<!-- END print_js -->
