<!-- BEGIN print_style -->
<style type="text/css">
<!--
body
{
	margin: 10px;
}
table.fullwidth
{
	width: 100%;
	border-width:0px;
	border-spacing:0px;
	border-collapse:collapse;
}
td
{	
	border-style:solid;
	border-width:1px;
	padding: 3px;
}
th
{
	font-size: 130%;
	padding: 14px 0px 4px 0px;
}
div.subtitle
{
	font-size: 90%;
}
a.il_PrintBack
{
	font-size: 80%;
}
-->
</style>
<!-- END print_style -->
<!-- BEGIN print_back -->
<a class="il_PrintBack" href="{LINK_BACK}">{TXT_BACK}</a>
<!-- END print_back -->
<div class="ilNotesHeader">
	<!-- BEGIN close_img -->
	<a id="ilRightPanelClose" class="btn btn-link" onclick="il.UICore.hideRightPanel(event); return false;" href="#">
		{CLOSE_IMG}
	</a>
	<!-- END close_img -->
	<!-- BEGIN notes_img -->
<!-- <img alt="{ALT_NOTES}" title="{ALT_NOTES}" src="{IMG_NOTES}" border="0" style="vertical-align:text-bottom;" /> -->
<!-- END notes_img -->
<h3 class="ilHeader">{TXT_NOTES}<!-- BEGIN title --><br /><span class="small">{TITLE}</span><!-- END title --></h3>
</div>
<div class="ilNotes" id="ilNotes">
<form {ON_SUBMIT_FORM} id="ilNoteForm{FORM_ID}" action="{FORMACTION}" name="cmd" method="post">
	<div class="il_ContainerItemCommands2" style="text-align:right;">
	<!-- BEGIN show_notes -->
<!--	<a class="il_ContainerItemCommand2" {ON_CLICK_SHOW_NOTES} href="{LINK_SHOW_NOTES}">{TXT_SHOW_NOTES}</a> -->
	<!-- END show_notes -->
	<!-- BEGIN hide_notes -->
<!--	<a class="il_ContainerItemCommand2" {ON_CLICK_HIDE_NOTES} href="{LINK_HIDE_NOTES}">{TXT_HIDE_NOTES}</a> -->
	<!-- END hide_notes -->
	<!-- BEGIN all_pub_notes -->
<!--	<a class="il_ContainerItemCommand2" {ON_CLICK_ALL_PUB_NOTES} href="{LINK_ALL_PUB_NOTES}">{TXT_ALL_PUB_NOTES}</a> -->
	<!-- END all_pub_notes -->
	<!-- BEGIN my_pub_notes -->
<!--	<a class="il_ContainerItemCommand2" {ON_CLICK_MY_PUB_NOTES} href="{LINK_MY_PUB_NOTES}">{TXT_MY_PUB_NOTES}</a> -->
	<!-- END my_pub_notes -->
	<!-- BEGIN add_note_btn -->
	<!-- <a class="il_ContainerItemCommand2" href="{LINK_ADD_NOTE}">{TXT_ADD_NOTE}</a> -->
	<!-- END add_note_btn -->
	</div>
{MESS}
<!-- BEGIN no_notes -->
<div class="small light">{NO_NOTES}</div>
<!-- END no_notes -->
<table class="fullwidth_invisible" width="100%" style="clear:both;">
<!-- BEGIN note_row -->
<!-- BEGIN edit_note_form -->
<tr>
	<td valign="top" colspan="2">
	<a name="note_edit"></a>
	{EDIT_FORM}
	</td>
</tr>
<!-- END edit_note_form -->
<!-- BEGIN sort_list -->
<tr>
	<td colspan="2">
		<div class="il_ContainerItemCommands2">
			<a {ON_CLICK_SORT_LIST} href="{LINK_SORT_LIST}" class="il_ContainerItemCommand2">{TXT_SORT_LIST}</a>
		</div>
	</td>
</tr>
<!-- END sort_list -->
<!-- BEGIN note -->
<tr>
	<!-- BEGIN checkbox_col -->
	<td width="1" class="ilNoteList"><input type="checkbox" name="{CHK_NOTE}" value="{CHK_NOTE_ID}"/>
	</td>
	<!-- END checkbox_col -->
	<td class="ilNoteList" colspan="{CNT_COL}">
	<!-- BEGIN delete_ids --><input type="hidden" name="{HID_NOTE}" value="{HID_NOTE_ID}"/><!-- END delete_ids -->
	<div class="{CLASS}">
		<!-- BEGIN user_img --><div class="ilNotesUImage"><img alt="{USR_ALT}" title="{USR_ALT}" src="{USR_IMG}" border="0"/></div><!-- END user_img -->
		<a name="note_{NOTE_ID}">{EXP_ICON}<!-- BEGIN note_img --><!-- <img src="{IMG_NOTE}" alt="{ALT_NOTE}" title="{ALT_NOTE}" border="0" style="vertical-align:text-bottom; margin-bottom:2px;"/> --><!-- END note_img --></a>
		<span class="small light">{TXT_USR} {TXT_CREATED} {VAL_DATE} {TXT_LAST_EDIT} {DATE_LAST_EDIT}</span>
		<!-- BEGIN author --><!-- END author -->  
		<div class="ilNoteText"><h4 class="ilNoteTitle">{VAL_SUBJECT}</h4>{NOTE_TEXT}</div>
	</div>
		<!-- BEGIN target_objects -->
			<div style="margin-top:4px;" class="subtitle">
			<!-- BEGIN target_object -->
				<div><!-- <img src="{IMG_CONTAINER}" border="0" />--> {TXT_CONTAINER} > <!--<img src="{IMG_TARGET}" border="0" />--> <a href="{LINK_TARGET}">{TXT_TARGET}</a>
				<!-- BEGIN target_sub_object -->> <!-- <img src="{IMG_SUB_TARGET}" border="0" />--> <a href="{LINK_SUB_TARGET}">{TXT_SUB_TARGET}</a><!-- END target_sub_object -->
				</div>
			<!-- END target_object -->
			<!-- BEGIN exp_target_object -->
				<div><!-- <img src="{IMG_CONTAINER}" border="0" />--> {TXT_CONTAINER} > <!--<img src="{IMG_TARGET}" border="0" />--> {TXT_TARGET}
				<!-- BEGIN exp_target_sub_object -->> <!-- <img src="{IMG_SUB_TARGET}" border="0" />--> {TXT_SUB_TARGET}<!-- END exp_target_sub_object -->
				</div>
			<!-- END exp_target_object -->
			</div>
		<!-- END target_objects -->
		<div class="il_ContainerItemCommands2" style="text-align:right; margin: 3px 0px;">
			<!-- BEGIN delete_note -->
			<a class="il_ContainerItemCommand2" {ON_CLICK_DELETE_NOTE} href="{LINK_DELETE_NOTE}">{TXT_DELETE_NOTE}</a>
			<!-- END delete_note -->
			<!-- BEGIN edit_note -->
			<a class="il_ContainerItemCommand2" {ON_CLICK_EDIT_NOTE} href="{LINK_EDIT_NOTE}">{TXT_EDIT_NOTE}</a>
			<!-- END edit_note -->
		</div>
	</div>
	</td>
</tr>
<!-- END note -->
<!-- END note_row -->
<!-- BEGIN multiple_commands -->
<tr>
	<td width="1">
	<input type="checkbox" name="all" value="check_all" onClick="il.Util.setChecked('ilNotes', '', this.checked)" />
	</td>
	<td>{TXT_SELECT_ALL}
	</td>
</tr>
<tr>
	<td colspan="2">
		<img border="0" src="{IMG_ARROW}" alt="{ALT_ARROW}" />
		<!-- BEGIN delete_cmd --><input type="submit" class="btn btn-default" name="cmd[deleteNotes]" value="{TXT_DELETE_NOTES}" /><!-- END delete_cmd -->
		<input type="submit" class="btn btn-default" name="cmd[exportNotesHTML]" value="{TXT_EXPORT_NOTES}" />
		<input type="submit" class="btn btn-default" name="cmd[printNotes]" value="{TXT_PRINT_NOTES}" />
	</td>
</tr>
<!-- END multiple_commands -->
<!-- BEGIN delete_cancel -->
<tr>
	<td colspan="2">
		<input type="submit" class="btn btn-default" name="cmd[confirmDelete]" value="{TXT_DEL_NOTES}" />
		<input type="submit" class="btn btn-default" name="cmd[cancelDelete]" value="{TXT_CANCEL_DEL_NOTES}" />
	</td>
</tr>
<!-- END delete_cancel -->
</table>
</form>
</div>
<!-- BEGIN print_js -->
<script type="text/javascript" language="javascript1.2">
<!--
	// Do print the page
	if (typeof(window.print) != 'undefined')
	{
		window.print();
	}
//-->
</script>
<!-- END print_js -->
