<!-- BEGIN target_objects -->
<div style="margin-top:4px;" class="subtitle">
	<!-- BEGIN target_object -->
	<div>{TXT_CONTAINER} > <a href="{LINK_TARGET}">{TXT_TARGET}</a>
		<!-- BEGIN target_sub_object -->> <a href="{LINK_SUB_TARGET}">{TXT_SUB_TARGET}</a><!-- END target_sub_object -->
	</div>
	<!-- END target_object -->
	<!-- BEGIN exp_target_object -->
	<div>{TXT_CONTAINER} > {TXT_TARGET}
		<!-- BEGIN exp_target_sub_object -->> {TXT_SUB_TARGET}<!-- END exp_target_sub_object -->
	</div>
	<!-- END exp_target_object -->
</div>
<!-- END target_objects -->