@use "../../../010-settings/"as *;
@use "../../../030-tools/tool_focus-outline" as *;

.il-link.link-bulky {
	text-decoration: none;

	.icon, .bulky-label{
		display: inline-block;
	}

	.icon {
		text-decoration: none;
	}

	.bulky-label{
		color: $il-text-color;
	}
}

a[aria-disabled], 
a[aria-disabled].il-link.link-bulky:hover {
	text-decoration: none;
	cursor:initial;
	color: inherit;
	background-color:unset;
}