<?php xml version = "1.0" encoding = "UTF-8"?>
<module xmlns="http://www.w3.org" version="$Id: modules.xml 15671 2008-01-04 13:08:30Z akill $"
	id="feed">
	<baseclasses>
	</baseclasses>
	<objects>
		<object id="feed" class_name="ExternalFeed" dir="classes" default_pos="80"
			checkbox="1" inherit="1" allow_link="1" allow_copy="1" rbac="1" sideblock="1" export="1">
			<parent id="cat">cat</parent>
			<parent id="crs">crs</parent>
			<parent id="grp">grp</parent>
			<parent id="root">root</parent>
		</object>
	</objects>
</module>
