<div class="ilTableHeaderTitle">
	<h3 class="ilTableHeaderTitle">
		{TXT_OBJECT}
	</h3>
</div>
<div class="small ilTextinfo">
	{TXT_INFO}
</div>
{NAVIGATION}
<form method="post" action="{FORM_ACTION}" id="reservation_form">
<div class="ilTableOuter">
	<table class="fullwidth">
		<tr class="tblheader">
			<th style="width:16%">&nbsp;</th>
			<!-- BEGIN weekdays -->
			<th class="std ilBorderLeft ilCenter" style="width:12%">{TXT_WEEKDAY}<br />{TXT_DATE}</th>
			<!-- END weekdays -->
		</tr>
		<!-- BEGIN slots -->
		<tr class="{CSS_ROW}">
			<td class="std">
				{TXT_HOUR}
			</td>
			<!-- BEGIN dates -->
			<td class="std ilCenter ilBorderLeft" style="{DATE_COLOR}">
				<!-- BEGIN choice -->
				<div>
					<input type="checkbox" name="date[]" value="{VALUE_DATE}" /> {TXT_DATE}
					<div class="small">({TXT_AVAILABLE})</div>				
				</div>
				<!-- END choice -->
				{DUMMY}
			</td>
			<!-- END dates -->
		</tr>
		<!-- END slots -->
	</table>
	<div class="ilTableCommandRow">
		<div class="ilFloatLeft"></div>
		<div class="ilRight">
			<input class="btn btn-default" type="submit" name="cmd[confirmedbooking]" value="{TXT_CMD_BOOK}" />
			<input class="btn btn-default" type="submit" name="cmd[render]" value="{TXT_CMD_CANCEL}" />
		</div>
		<div class="ilClearFloat"></div>
	</div>
</div>
</form>

