<div style="position: relative;">
	<!-- BEGIN row -->
	<div id="ilFormField~{ID}~{ROW}" style="margin-bottom:10px;">
		{TXT_FROM} <input type="text" id="{ID}~from~hh~{ROW}" name="{POST_VAR}_from_hh~{ROW}" value="{FROM_HH_VALUE}" size="2" maxlength="2" /> :
		<input type="text" id="{ID}~from~mm~{ROW}" name="{POST_VAR}_from_mm~{ROW}" value="{FROM_MM_VALUE}" size="2" maxlength="2" /> 
		{TXT_TO} <input type="text" id="{ID}~to~hh~{ROW}" name="{POST_VAR}_to_hh~{ROW}" value="{TO_HH_VALUE}" size="2" maxlength="2" /> :
		<input type="text" id="{ID}~to~mm~{ROW}" name="{POST_VAR}_to_mm~{ROW}" value="{TO_MM_VALUE}" size="2" maxlength="2" /> 
		<input align="absmiddle" type="image" id="ilMultiAdd~{ID}~{ROW}" src="{IMG_MULTI_ADD}" alt="{TXT_MULTI_ADD}" title="{TXT_MULTI_ADD}" onclick="javascript: return false;"{ADD_STYLE} />
		<input align="absmiddle" type="image" id="ilMultiRmv~{ID}~{ROW}" src="{IMG_MULTI_REMOVE}" alt="{TXT_MULTI_REMOVE}" title="{TXT_MULTI_REMOVE}"  onclick="javascript: return false;"{RMV_STYLE} />
		<br />
		<!-- BEGIN days -->
		{TXT_DAY} <input type="checkbox" id="{ID}_days_{DAY}_{ROW}" name="{POST_VAR}_days~{ROW}[]" value="{DAY}"{DAY_STATUS} />
		<!-- END days -->	
	</div>
	<!-- END row -->
</div>