<tr class="{CSS_ROW}">
	<td class="std" valign="top">
	{TXT_TITLE}
	</td>
	<td class="std small" valign="top">
	{TXT_DESC}
	</td>
	<!-- BEGIN avail -->
	<td class="std small" valign="top">
	{VALUE_AVAIL}/{VALUE_AVAIL_ALL}
	</td>
	<!-- END avail -->
	<!-- BEGIN user_info -->	
	<td class="std" valign="top">
	{TXT_CURRENT_USER}
	</td>
	<!-- END user_info -->
	<!-- BEGIN period -->
	<td class="std" valign="top">
	{VALUE_DATE}
	</td>
	<!-- END period -->
	<td class="std small" valign="top" nowrap="nowrap" width="20%" align="center">
		<!-- BEGIN actions -->
		<a href="{ACTION_LINK}">{ACTION_CAPTION}</a><br />
		<!-- END actions -->
	</td>
</tr>
