<tr class="{CSS_ROW}">
	<td class="std">
	<!-- BEGIN multi_bl -->
	<input type="checkbox" name="mrsv[]" value="{MULTI_ID}" />		   
	<!-- END multi_bl -->
	</td>
	<td class="std">
	{TXT_TITLE}
	</td>
	<!-- BEGIN period -->
	<td class="std">
	{VALUE_DATE}
	</td>
	<td class="std">
	{VALUE_WEEK}
	</td>
	<td class="std">
	{VALUE_WEEKDAY}
	</td>
	<td class="std">
	{VALUE_SLOT}
	</td>
	<td class="std">
	{VALUE_COUNTER}
	</td>
	<!-- END period --> 
	<!-- BEGIN status_bl -->
	<td class="std">
	{TXT_STATUS}
	</td>
	<!-- END status_bl -->
	<td class="std">
		<a href="{HREF_PROFILE}">{TXT_CURRENT_USER}</a>
	</td>
	
	<td class="std">
		<a href="{URL_ACTION}">{TXT_ACTION}</a>
	</td>
</tr>
