<tr class="{CSS_ROW}">
	<td class="std" valign="top">
	{TXT_TITLE}
	<!-- BEGIN not_yet_bl -->
	<div class="small">({NOT_YET})</div>
	<!-- END not_yet_bl -->
	</td>
	<!-- BEGIN desc_bl -->
	<td class="std small" valign="top">
	{TXT_DESC}
	</td>
	<!-- END desc_bl -->
	<!-- BEGIN advmd_bl -->
	<td class="std" valign="top">
	{ADVMD_VAL}
	</td>
	<!-- END advmd_bl -->
	<!-- BEGIN avail -->
	<td class="std small" valign="top">
	{VALUE_AVAIL}/{VALUE_AVAIL_ALL}
	</td>
	<!-- END avail -->	
	<td class="std small" valign="top" nowrap="nowrap" width="20%" align="center">
		{ACTION_DROPDOWN}
	</td>
</tr>
