WholeIliasCodebase = PhpClass with name:"il*"
GUIClasses = PhpClass with name:"il*GUI"
triggerError = PhpClass with name:"trigger_error"
ilLanguageGlobal = PhpClass with name:"GLOBAL\\lng"
ilLanguage = PhpClass with name:"ilLanguage"
exitOrDie = PhpClass with name:"exit/die"
ilTopLevelException = PhpClass with name:"ilException"
ilExceptions = PhpClass with name:"il*Exception*"
ilExceptionsWithoutTopLevelException = {ilExceptions} except {ilTopLevelException} 

/**
 * The global function trigger_error is a procedural concept. Please ommit this function and use an
 * exception instead. This also helps in keeping consistent feedback for developers and end users.
 *
 * See: http://example.com/link-to-exception-handling-concept
 */
WholeIliasCodebase cannot depend on triggerError

/**
 * Exit and die are a bad idea in both development and production. In development you have no idea what
 * went wrong and in production the user receives a white page and has no idea what's going on. If you 
 * want to deny access use an ilAccessDenied Exception.
 *
 * Exception: Currently if you want to output json you most likely have to use exit() at the moment. The
 *            rule still documents the violation as it should be removed sometimes in the future.
 *
 * See: http://example.com/link-to-exception-handling-concept
 */
WholeIliasCodebase cannot depend on exitOrDie


/**
 * The Model of ILIAS should be language independent. Only on the GUI layer the language should be
 * assigned.
 *
 * See: http://www.ilias.de/docu/goto_docu_pg_199_42.html
 *
 */
only GUIClasses can depend on ilLanguageGlobal

/**
 * The Model of ILIAS should be language independent. Only on the GUI layer the language should be
 * assigned.
 *
 * See: http://www.ilias.de/docu/goto_docu_pg_199_42.html
 *
 */
only GUIClasses can depend on ilLanguage

/**
 * All ILIAS Exceptions must be in a Hierarchy and finally extend ilException Every module/service 
 * should define its own top level Exception e.g. ilCourseException where all other exceptions from
 * that module/service extend this service/module Exception.
 *
 * See: http://www.ilias.de/docu/goto_docu_pg_42740_42.html
 */
ilExceptionsWithoutTopLevelException must depend on ilExceptions
