<div class="il-chart-progressmeter-box<!-- BEGIN responsive --> il-chart-progressmeter-responsive<!-- END responsive --><!-- BEGIN fixed-size --> il-chart-progressmeter-fixed-size<!-- END fixed-size -->">
    <div class="il-chart-progressmeter-container">
        <div class="il-chart-progressmeter-marker-box" style="transform: rotate({MARKER_POS}deg)">
            <div class="il-chart-progressmeter-marker"><div class="il-chart-progressmeter-arrow"></div></div>
        </div>
        <div class="il-chart-progressmeter-outerbox
<!-- BEGIN outer-bar-success --> il-chart-progressmeter-bar-success<!-- END outer-bar-success -->
<!-- BEGIN outer-bar-no-success --> il-chart-progressmeter-bar-no-success<!-- END outer-bar-no-success -->
<!-- BEGIN outer-bar-active --> il-chart-progressmeter-active<!-- END outer-bar-active -->
">
            <div class="il-chart-progressmeter-pointer pointer-1" style="transform: rotate({ROTATION_MAIN1}deg) skew({SKEW_MAIN}deg)"></div>
            <div class="il-chart-progressmeter-pointer pointer-2" style="transform: rotate({ROTATION_MAIN2}deg) skew({SKEW_MAIN}deg)"></div>
            <div class="il-chart-progressmeter-pointer pointer-3" style="transform: rotate({ROTATION_MAIN3}deg) skew({SKEW_MAIN}deg)"></div>
            <div class="il-chart-progressmeter-cover">
                <div class="il-chart-progressmeter-text-container">
                    <span class="il-chart-progressmeter-score-text">{TEXT_MAIN}</span>
                    <span class="il-chart-progressmeter-score">{MAIN}</span>
                    <span class="il-chart-progressmeter-minscore">{REQUIRED}</span>
                    <span class="il-chart-progressmeter-minscore-text">{TEXT_REQUIRED}</span>
                </div>
            </div>
        </div>
    </div>
</div>