<?php xml version = "1.0" encoding = "UTF-8"?>
<module xmlns="http://www.w3.org" version="$Id: modules.xml 15671 2008-01-04 13:08:30Z akill $"
	id="sahs">
	<baseclasses>
		<baseclass name="ilSAHSPresentationGUI" dir="classes" />
		<baseclass name="ilSAHSEditGUI" dir="classes" />
	</baseclasses>
	<objects>
		<object id="sahs" class_name="SAHSLearningModule" dir="classes" default_pos="140"
			checkbox="1" inherit="1" translate="0" allow_link="1" rbac="1" group="lres" allow_copy="1">
			<subobj id="rolf" max="1">rolf</subobj>
			<parent id="cat">cat</parent>
			<parent id="crs">crs</parent>
			<parent id="fold">fold</parent>
			<parent id="grp">grp</parent>
			<parent id="recf">recf</parent>
			<parent id="root">root</parent>
		</object>
		<object id="scov" class_name="SCORMVerification" dir="classes/Verification" default_pos="90" default_pres_pos="150"
			checkbox="0" inherit="0" translate="0" rbac="0" allow_link="0" allow_copy="0" export="0"
			repository="0" workspace="1">
			<parent id="wsrt">wsrt</parent>
			<parent id="wfld">wfld</parent>
		</object>
	</objects>
</module>
