<div class="ilCourseObjectiveProgressBar"{SUB_STYLE}>	
	<!-- BEGIN statusbar_bl -->
	<div class="ilCourseObjectiveProgressBarContainer" id="{TT_ID}">
		<div class="progress">
			<div class="progress-bar {PERC_COLOR}" role="progressbar" style="width: {PERC_WIDTH}%;">
				 {PERC_STATUS}%
			</div>
		</div>
		<div class="ilCourseObjectiveProgressBarLimit" style="left:{LIMIT_POS}px;">
			&nbsp;
		</div>
	</div>
	<!-- END statusbar_bl -->
	<!-- BEGIN statustxt_bl -->
	<div class="ilFloatRight">
		{TXT_PROGRESS_STATUS}
	</div>		
	<!-- END statustxt_bl -->	
	<!-- BEGIN statustxt_no_link_bl -->
	<div class="ilFloatRight">
		{TXT_PROGRESS_STATUS_NO_LINK}
	</div>		
	<!-- END statustxt_no_link_bl -->	
	<!-- BEGIN nstep_bl -->
	<br class="ilClearFloat" />
	<div class="small">
		{TXT_NEXT_STEP}
	</div>
	<!-- END nstep_bl -->
</div>
{SUB_INIT}