<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
	"http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>ILIAS</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{LOCATION_STYLESHEET}" />
</head>
<body>
<style>
body { margin:0px; }
</style>
<div class="il_ExplorerHeader">
{TXT_HELP_HEADER}
</div>
<table class="fullwidth">
<!-- BEGIN row -->
<tr class="{ROWCOL}">
	<td class="std"><b>{TYPE}</b><br />{TXT_LINK}
	</td>
</tr>
<!-- END row -->
</table>
</body>
</html>
