/* Services/UIComponent/Toolbar */

.ilToolbar {
	.container-fluid {
		padding-left: 0;
	}
	&.navbar {
		border: 0 none;
		background-color: @il-toolbar-bg;
	}
	.navbar-toggle {
		.il-focus();
	}
	.ilToolbarItems {
		padding: 0;
	}
	.form-control{
		width: auto;
		display: inline-block;
		vertical-align: top;
	}
	.input-group  {
		vertical-align: top;
	}
	input[type="file"] {
		display: inline-block;
	}
	li {
		border: 0 none;
		margin-right: @il-toolbar-margin;
		.dropdown-header{
			border-bottom: 1px solid @il-main-border-color;
		}
		.navbar-form, .navbar-text {
			padding: 0;
			border: 0 none;
			margin-left: 0;
			margin-right: 0;
			display: inline-block;
			color: @il-text-color;
		}
		&.navbar-text {
			margin-left: 0;
		}
		&.ilToolbarSeparator {
			border-left: @il-toolbar-border;
			height: @il-toolbar-height;
		}
		&.ilToolbarGroup {
			.navbar-form, .navbar-text {
				margin-left: (@il-toolbar-margin / 2);
				&:first-child {
					margin-left: 0;
				}
			}
			.navbar-text {
				margin-right: 0;
			}
		}
	}

	.btn[disabled]{
		padding:  @padding-small-vertical @padding-small-horizontal;
	}

	.ilToolbarStickyItems {
		float: left;
		margin-left: @il-toolbar-margin;
		&.navbar-nav {
			margin-top: 0;
			margin-bottom: 0;
			.open .dropdown-menu > li > a {
				padding-left: 10px;
			}
		}
		> li {
			float: left;
			margin-right: @il-toolbar-margin;
			.navbar-form {
				border: 0 none;
			}
			&.ilToolbarStickyItem {
				border: 0 none;
			}
		}
	}
	ul {
		&.dropdown-menu {
			> li {
				border: 0 none;
				margin-right: 0;
			}
		}
	}
}
//See #https://mantis.ilias.de/view.php?id=30615
.ilToolbarContainer + .ilFilterContainer{
	margin-top: -20px;
}
@media only screen and (max-width: @grid-float-breakpoint-max) {
	.ilToolbar {
		.container-fluid {
			padding-left: 15px;
		}
		li {
			border-bottom: @il-toolbar-border;
			margin-right: 0;
		}
		.ilToolbarStickyItems {
			&.navbar-nav {
				.open .dropdown-menu > li > a {
					padding-left: 0;
				}
			}
		}
	}
}