.il-link.link-bulky {
	display: block;
	text-decoration: none;

	.icon, .bulky-label{
		display: inline-block;
	}

	.icon{
		margin-bottom: -3px;
		text-decoration: none;
	}

	.bulky-label{
		color: @text-color;
	}
}