<div class="ilAttendanceListPrint">

<h1>{TXT_TITLE}</h1>
<!-- BEGIN desc -->
<h2>{TXT_DESCRIPTION}</h2>
<!-- END desc -->

<table class="std" width="100%">
	<thead>
		<tr class="tblheader">
		  <!-- BEGIN head_item -->
		  <th>{TXT_HEAD}</th>
		  <!-- END head_item -->	
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN member_row -->
		<tr class="std">				
		  <!-- BEGIN row_preset -->
		  <td class="option_value">{TXT_PRESET}</td>
		  <!-- END row_preset -->	
		  <!-- BEGIN row_blank -->
		  <td class="option_value">&nbsp;</td>
		  <!-- END row_blank -->		 
		</tr>
		<!-- END member_row -->
	</tbody>
</table>

</div>