  <table class="std">
    <tr class="tblheader">
      <td class="std" colspan="2">{TXT_BASIC_DATA}</td>
    </tr>
    <tr>
      <td class="option">{TXT_INST_NAME}</td>
      <td class="option_value">{INST_NAME}<br/><span class="subtitle">{INST_INFO}</span></td>
    </tr>
    <tr>
      <td class="option">{TXT_CLIENT_ID2}</td>
      <td class="option_value">{CLIENT_ID2}</td>
    </tr>
    <tr>
      <td class="option">{TXT_INST_ID}</td>
      <td class="option_value">{INST_ID}</td>
    </tr>
    <tr>
      <td class="option">{TXT_DB_VERSION}</td>
      <td class="option_value">{DB_VERSION}</td>
    </tr>
    <tr>
      <td class="option">{TXT_ACCESS_STATUS}</td>
      <td class="option_value">{ACCESS_STATUS}</td>
    </tr>
    <tr class="tblheader">
      <td class="std" colspan="2">{TXT_SERVER_DATA}</td>
    </tr>
    <tr>
      <td class="option">{TXT_ILIAS_VERSION}</td>
      <td class="option_value">{ILIAS_VERSION}</td>
    </tr>
    <tr>
      <td class="option">{TXT_HOSTNAME}</td>
      <td class="option_value">{HOSTNAME}</td>
    </tr>
    <tr>
      <td class="option">{TXT_IP_ADDRESS} & {TXT_SERVER_PORT}</td>
      <td class="option_value">{IP_ADDRESS}:{SERVER_PORT}</td>
    </tr>
    <tr>
      <td class="option">{TXT_SERVER_SOFTWARE}</td>
      <td class="option_value">{SERVER_SOFTWARE}</td>
    </tr>
    <tr>
      <td class="option">{TXT_HTTP_PATH}</td>
      <td class="option_value">{HTTP_PATH}</td>
    </tr>
    <tr>
      <td class="option">{TXT_ABSOLUTE_PATH}</td>
      <td class="option_value">{ABSOLUTE_PATH}</td>
    </tr>

	<tr class="tblheader">
      <td class="std" colspan="2">{TXT_SOFTWARE}</td>
    </tr>
    <tr>
      <td class="option">{TXT_CONVERT_PATH}</td>
      <td class="option_value">{CONVERT_PATH}</td>
    </tr>
    <tr>
      <td class="option">{TXT_ZIP_PATH}</td>
      <td class="option_value">{ZIP_PATH}</td>
    </tr>
    <tr>
      <td class="option">{TXT_UNZIP_PATH}</td>
      <td class="option_value">{UNZIP_PATH}</td>
    </tr>
    <tr>
      <td class="option">{TXT_JAVA_PATH}</td>
      <td class="option_value">{JAVA_PATH}</td>
    </tr>
    <tr>
      <td class="option">{TXT_HTMLDOC_PATH}</td>
      <td class="option_value">{HTMLDOC_PATH}</td>
    </tr>
    <tr>
      <td class="option">{TXT_FFMPEG_PATH}</td>
      <td class="option_value">{FFMPEG_PATH}</td>
    </tr>
    <tr>
      <td class="option">{TXT_LATEX_URL}</td>
      <td class="option_value">{LATEX_URL}</td>
    </tr>
    <tr>
      <td class="option">{TXT_VIRUS_SCANNER}</td>
      <td class="option_value">{VAL_VIRUS_SCANNER}</td>
    </tr>
    <tr>
      <td class="option">{TXT_SCAN_COMMAND}</td>
      <td class="option_value">{VAL_SCAN_COMMAND}</td>
    </tr>
    <tr>
      <td class="option">{TXT_CLEAN_COMMAND}</td>
      <td class="option_value">{VAL_CLEAN_COMMAND}</td>
    </tr>
  </table>

