<table class="std" style="border-color:#E0E0E0;">
	<tr class="tblheader">
		<td class="std small" colspan="3"><b>{TXT_OVERALL_STATUS}</b></td>
	</tr>
<!-- BEGIN status_row -->
	<tr>
		<td class="std small" style="background-color:#FAFAFA; color:#606060;">{TXT_STEP}</td>
		<td class="std small" style="background-color:#FAFAFA; color:#606060;" nowrap="nowrap">{TXT_STATUS}</td>
		<td class="std small" style="background-color:#FAFAFA; color:#606060;" nowrap="nowrap">{TXT_COMMENT}</td>
	</tr>
<!-- END status_row -->
</table>