<table class="std">
<form action="{FORMACTION}" {TARGET} method="post" ENCTYPE="MULTIPART/FORM-DATA">
    <tr class="tblheader">
        <td class="std" colspan="2">
            <table class="invisible_border" width="100%">
            <tr>
                <td>{TXT_HEADER}</td>
            </tr>
            </table>
        </td>
    </tr>
    <tr class="tblheader">
        <td class="std" colspan="2">{TXT_LOGIN_DATA}</td>
    </tr>
	<tr>
		<td class="option">{TXT_AUTH_MODE}</td>
		<td class="option_value">
		<select name="Fobject[auth_mode]">
	<!-- BEGIN auth_mode_selection -->
			<option {SELECTED_AUTH_MODE} value="{AUTH_MODE}">{AUTH_MODE_NAME}</option>
	<!-- END auth_mode_selection -->
		</select>
		</td>
	</tr>
    <tr>
        <td class="option">{TXT_LOGIN}</td>
        <td class="option_value"><input type="text" name="Fobject[login]"  value="{LOGIN}" size="40" maxlength="80" /></td>
    </tr>
    <!--  BEGIN passwords_visible -->
    <tr>
        <td class="option">{VISIBLE_TXT_PASSWD}<span class="asterisk">*</span></td>
        <td class="option_value">
        	<input type="password" name="Fobject[passwd]"  value="{VISIBLE_PASSWD}" size="40" maxlength="32" />
        </td>
    </tr>
    <tr>
        <td class="option">{VISIBLE_TXT_PASSWD2}<span class="asterisk">*</span></td>
        <td class="option_value">
        	<input type="password" name="Fobject[passwd2]"  value="{VISIBLE_PASSWD2}" size="40" maxlength="32" />
        </td>
    </tr>
    <!-- END passwords_visible -->
    <!--  BEGIN passwords_invisible -->
    <tr>
        <td class="option">{INVISIBLE_TXT_PASSWD}</td>
        <td class="option_value">
        	<input type="password" name="Fobject[passwd]"  value="{INVISIBLE_PASSWD}" disabled="disabled" size="40" maxlength="32" />
        	<input type="hidden" name="Fobject[passwd]" value="{INVISIBLE_PASSWD_HIDDEN}" />
        </td>
    </tr>
    <tr>
        <td class="option">{INVISIBLE_TXT_PASSWD2}</td>
        <td class="option_value">
        	<input type="password" name="Fobject[passwd2]"  value="{INVISIBLE_PASSWD2}" disabled="disabled" size="40" maxlength="32" />
        	<input type="hidden" name="Fobject[passwd2]" value="{INVISIBLE_PASSWD_HIDDEN}" />
        </td>
    </tr>
    <!-- END passwords_invisible -->
	<!-- BEGIN ext_account -->
    <tr>
        <td class="option">{TXT_EXT_ACCOUNT}</td>
        <td class="option_value"><input type="text" name="Fobject[ext_account]"  value="{EXT_ACCOUNT_VAL}" size="40" maxlength="50" {OPTION_DISABLED_EXT}/>
		<br/><span class="small"><i>{TXT_EXT_ACCOUNT_DESC}</i></span></td>
    </tr>
	<!-- END ext_account -->
    <tr class="tblheader">
        <td class="std" colspan="2">{TXT_SYSTEM_INFO}</td>
    </tr>
    <tr>
        <td class="option">{TXT_CREATE_DATE}</td>
        <td class="option_value">{CREATE_DATE} {OWNER}<input type="hidden" name="Fobject[create_date]"  value="{CREATE_DATE}" /></td>
    </tr>
    <tr>
        <td class="option">{TXT_APPROVE_DATE}</td>
        <td class="option_value">{APPROVE_DATE}<input type="hidden" name="Fobject[approve_date]"  value="{APPROVE_DATE}" /></td>
    </tr>
    <tr>
        <td class="option">{TXT_AGREE_DATE}</td>
        <td class="option_value">{AGREE_DATE}<input type="hidden" name="Fobject[agree_date]"  value="{AGREE_DATE}" /></td>
    </tr>
    <tr>
        <td class="option">{TXT_LAST_LOGIN}</td>
        <td class="option_value">{LAST_LOGIN}<input type="hidden" name="Fobject[last_login]"  value="{LAST_LOGIN}" /></td>
    </tr>
    <tr>
        <td class="option">{TXT_ACTIVE}</td>
        <td class="option_value"><input type="checkbox" name="Fobject[active]"  value="1" {ACTIVE} /></td>
    </tr>
<!-- BEGIN time_limit -->
	  <tr>
		<td class="option">{TXT_TIME_LIMIT}</td>
		<td class="option_value">
		  <table cellspacing=0 cellpadding=0 border=0>
			<tr>
			  <td>{TIME_LIMIT_UNLIMITED}</td>
			  <td>&nbsp;</td>
			  <td>{TXT_TIME_LIMIT_UNLIMITED}</td>
			</tr>
		  </table>
		  <table cellspacing=0 cellpadding=0 border=0>
			<tr>
			  <td valign=top><b>{TXT_TIME_LIMIT_FROM}</b></td>
			  <td>&nbsp;</td>
			  <td valign=top nowrap>{SELECT_TIME_LIMIT_FROM_DAY}&nbsp;&nbsp;{SELECT_TIME_LIMIT_FROM_MONTH}&nbsp;{SELECT_TIME_LIMIT_FROM_YEAR}<br>{SELECT_TIME_LIMIT_FROM_HOUR}:&nbsp;{SELECT_TIME_LIMIT_FROM_MINUTE}</td>
			  <td valign=top><b>{TXT_TIME_LIMIT_UNTIL}</b></td>
			  <td>&nbsp;</td><td valign=top nowrap>{SELECT_TIME_LIMIT_UNTIL_DAY}&nbsp;&nbsp;{SELECT_TIME_LIMIT_UNTIL_MONTH}&nbsp;{SELECT_TIME_LIMIT_UNTIL_YEAR}<br>{SELECT_TIME_LIMIT_UNTIL_HOUR}:&nbsp;{SELECT_TIME_LIMIT_UNTIL_MINUTE}</td>
			</tr>
		  </table>
		</td>
	  </tr>
	  <!-- END time_limit -->
	  <!-- BEGIN show_limit -->
	  <tr>
		<td class="option">{SHOW_TXT_TIME_LIMIT}</td>
		<td class="option_value">{SHOW_TIME}</td>
	  </tr>
	  <!-- END show_limit -->
    <tr>
        <td class="option">{TXT_DISK_SPACE_USED}</td>
        <td class="option_value">{DISK_SPACE_USED}</td>
    </tr>
    <tr class="tblheader">
        <td class="std" colspan="2">{TXT_PERSONAL_DATA}</td>
    </tr>
    <tr>
        <td class="option">{TXT_GENDER}</td>
        <td class="option_value">
            <input type="radio" name="Fobject[gender]" id="gender_f" value="f" {BTN_GENDER_F}/> <label for="gender_f">{TXT_GENDER_F}</label>
            &nbsp;&nbsp;&nbsp;<input type="radio" name="Fobject[gender]" id="gender_m" value="m" {BTN_GENDER_M}/> <label for="gender_m">{TXT_GENDER_M}</label>
        </td>
    </tr>
    <tr>
        <td class="option">{TXT_FIRSTNAME}</td>
        <td class="option_value"><input type="text" name="Fobject[firstname]" value="{FIRSTNAME}" size="40" maxlength="32" /></td>
    </tr>
    <tr>
        <td class="option">{TXT_LASTNAME}</td>
        <td class="option_value"><input type="text" name="Fobject[lastname]" value="{LASTNAME}" size="40" maxlength="32" /></td>
    </tr>
    <tr>
        <td class="option">{TXT_TITLE}</td>
        <td class="option_value"><input type="text" name="Fobject[title]" value="{TITLE}" size="40" maxlength="32" /></td>
    </tr>
    <tr>
	<td class="option">{TXT_UPLOAD}
	    <!-- BEGIN pers_image -->
	    <br />
	    <img src="{IMG_PERSONAL}" alt="{ALT_IMG_PERSONAL}" border="0" />
	    <!-- END pers_image -->
	</td>
	<td class="option_value"><input type="file" name="userfile"{DISABLED_UPLOAD} />
	    <!-- BEGIN upload_pic -->
	    <input class="submit" type="submit" name="cmd[uploadUserPicture]" value="{UPLOAD}" />
	    <!-- END upload_pic -->
	    <!-- BEGIN remove_pic -->
	    <br /><br />
	    <input class="submit" type="submit" name="cmd[removeUserPicture]" value="{TXT_REMOVE_PIC}" />
	    <!-- END remove_pic -->
	    <!-- BEGIN ilinc_upload_pic -->
	    <br /><i>{TXT_ILINC_UPLOAD}<a href="{ILINC_UPLOAD_LINK}" target="_blank">{ILINC_UPLOAD_LINKTXT}</a></i>
	    <!-- END ilinc_upload_pic -->
	</td>
    </tr>
    <tr class="tblheader">
        <td class="std" colspan="2">{TXT_CONTACT_DATA}</td>
    </tr>
    <tr>
        <td class="option">{TXT_INSTITUTION}</td>
        <td class="option_value"><input type="text" name="Fobject[institution]" value="{INSTITUTION}" size="40" maxlength="80" /></td>
    </tr>
    <tr>
        <td class="option">{TXT_DEPARTMENT}</td>
        <td class="option_value"><input type="text" name="Fobject[department]" value="{DEPARTMENT}" size="40" maxlength="80" /></td>
    </tr>
    <tr>
        <td class="option">{TXT_STREET}</td>
        <td class="option_value"><input type="text" name="Fobject[street]" value="{STREET}" size="40" maxlength="40" /></td>
    </tr>
    <tr>
        <td class="option">{TXT_CITY}</td>
        <td class="option_value"><input type="text" name="Fobject[city]" value="{CITY}" size="40" maxlength="40" /></td>
    </tr>
    <tr>
        <td class="option">{TXT_ZIPCODE}</td>
        <td class="option_value"><input type="text" name="Fobject[zipcode]" value="{ZIPCODE}" size="5" maxlength="10" /></td>
    </tr>
    <tr>
        <td class="option">{TXT_COUNTRY}</td>
        <td class="option_value"><input type="text" name="Fobject[country]" value="{COUNTRY}" size="40" maxlength="40" /></td>
    </tr>
    <tr>
        <td class="option">{TXT_PHONE_OFFICE}</td>
        <td class="option_value"><input type="text" name="Fobject[phone_office]" value="{PHONE_OFFICE}" size="40" maxlength="30" /></td>
    </tr>
    <tr>
        <td class="option">{TXT_PHONE_HOME}</td>
        <td class="option_value"><input type="text" name="Fobject[phone_home]" value="{PHONE_HOME}" size="40" maxlength="30" /></td>
    </tr>
    <tr>
        <td class="option">{TXT_PHONE_MOBILE}</td>
        <td class="option_value"><input type="text" name="Fobject[phone_mobile]" value="{PHONE_MOBILE}" size="40" maxlength="30" /></td>
    </tr>
    <tr>
        <td class="option">{TXT_FAX}</td>
        <td class="option_value"><input type="text" name="Fobject[fax]" value="{FAX}" size="40" maxlength="30" /></td>
    </tr>
    <tr>
        <td class="option">{TXT_EMAIL}</td>
        <td class="option_value"><input type="text" name="Fobject[email]" value="{EMAIL}" size="40" maxlength="80" /></td>
    </tr>
    <tr>
        <td class="option">{TXT_HOBBY}</td>
        <td class="option_value">
            <textarea name="Fobject[hobby]" rows="3" cols="40">{HOBBY}</textarea>
        </td>
    </tr>
    <tr>
        <td class="option">{TXT_REFERRAL_COMMENT}</td>
        <td class="option_value">
            <textarea name="Fobject[referral_comment]" rows="3" cols="40">{REFERRAL_COMMENT}</textarea>
        </td>
    </tr>

<!-- BEGIN instant_messengers -->
<tr class="tblheader">
	<th class="std" colspan="4">{TXT_INSTANT_MESSENGERS}</th>
</tr>
<!-- BEGIN im_icq -->
<tr>
	<td class="option">{TXT_IM_ICQ}</td>
	<td class="option_value" colspan="3">
		<input type="text" name="Fobject[im_icq]" maxlength="15" size="40" value="{IM_ICQ}" />
	</td>
</tr>
<!-- END im_icq -->
<!-- BEGIN im_yahoo -->
<tr>
	<td class="option">{TXT_IM_YAHOO}</td>
	<td class="option_value" colspan="3">
		<input type="text" name="Fobject[im_yahoo]" maxlength="40" size="40" value="{IM_YAHOO}" />
	</td>
</tr>
<!-- END im_yahoo -->
<!-- BEGIN im_msn -->
<tr>
	<td class="option">{TXT_IM_MSN}</td>
	<td class="option_value" colspan="3">
		<input type="text" name="Fobject[im_msn]" maxlength="40" size="40" value="{IM_MSN}" />
	</td>
</tr>
<!-- END im_msn -->
<!-- BEGIN im_aim -->
<tr>
	<td class="option">{TXT_IM_AIM}</td>
	<td class="option_value" colspan="3">
		<input type="text" name="Fobject[im_aim]" maxlength="40" size="40" value="{IM_AIM}" />
	</td>
</tr>
<!-- END im_aim -->
<!-- BEGIN im_skype -->
<tr>
	<td class="option">{TXT_IM_SKYPE}</td>
	<td class="option_value" colspan="3">
		<input type="text" name="Fobject[im_skype]" maxlength="40" size="40" value="{IM_SKYPE}" />
	</td>
</tr>
<!-- END im_skype -->
<!-- END instant_messengers -->

	<tr class="tblheader">
		<td class="std" colspan="4">{TXT_OTHER}</td>
	</tr>
	<tr>
		<td class="option">{TXT_MATRICULATION}</td>
		<td class="option_value"><input type="text" name="Fobject[matriculation]" maxlength="40" size="40" value="{MATRICULATION}" /></td>
	</tr>
	<tr>
			<td class="option">{TXT_CLIENT_IP}</td>
			<td class="option_value"><input type="text" name="Fobject[client_ip]" maxlength="255" size="40" value="{CLIENT_IP}" />&nbsp;{TXT_CURRENT_IP}<br><small class="warning">{TXT_CURRENT_IP_ALERT}</small></td>
	</tr>
		<!-- BEGIN user_defined -->
		<tr>
		  <td class="option">{TXT_FIELD_NAME}</td>
		  <td class="option_value" colspan="3">
			<!-- BEGIN field_text -->
			<input type="text" name="{FIELD_NAME}" maxlength="255" size="40" value="{FIELD_VALUE}"{DISABLED_FIELD} />
			<!-- END field_text -->
			<!-- BEGIN field_select -->
			{SELECT_BOX}
			<!-- END field_select -->
		  </td>
		</tr>
		<!-- END user_defined -->

    <tr class="tblheader">
        <td class="std" colspan="2">{TXT_SETTINGS}</td>
    </tr>
<!-- BEGIN role -->
  <tr>
    <td class="option">{TXT_DEFAULT_ROLE}</td>
    <td class="option_value">
        {DEFAULT_ROLE}
    </td>
  </tr>
<!-- END role -->
<tr>
	<td class="option">{TXT_LANGUAGE}</td>
	<td class="option_value">
	<select name="Fobject[language]">
<!-- BEGIN language_selection -->
		<option {SELECTED_LANG} value="{LANGSHORT}">{LANG}</option>
<!-- END language_selection -->
	</select>
	</td>
</tr>
<tr>
	<td class="option">{TXT_SKIN_STYLE}</td>
	<td class="option_value">
	<select name="Fobject[skin_style]">
<!-- BEGIN selectskin -->
		<option value="{SKINVALUE}" {SKINSELECTED}>{SKINOPTION}</option>
<!-- END selectskin -->
	</select>
	</td>
</tr>
<tr>
    <td class="option">{TXT_HITS_PER_PAGE}</td>
    <td class="option_value">
	<select name="Fobject[hits_per_page]">
<!-- BEGIN selecthits -->
        <option value="{HITSVALUE}" {HITSSELECTED}>{HITSOPTION}</option>
<!-- END selecthits -->
    </select>
    </td>
</tr>
<tr>
	<td class="option">{TXT_SHOW_USERS_ONLINE}</td>
	<td class="option_value">
	<select name="Fobject[show_users_online]">
<!-- BEGIN show_users_online -->
		<option value="{USERS_ONLINE_VALUE}" {USERS_ONLINE_SELECTED}>{USERS_ONLINE_OPTION}</option>
<!-- END show_users_online -->
	</select>
	</td>
</tr>
<!-- BEGIN hide_own_online_status -->
<tr>
    <td class="option">{TXT_HIDE_OWN_ONLINE_STATUS}</td>
    <td class="option_value">
			<input type="checkbox" name="Fobject[hide_own_online_status]" value="y" {CHK_HIDE_OWN_ONLINE_STATUS}/>
		</td>
</tr>
<!-- END hide_own_online_status -->
<!-- BEGIN inform_user -->
  <tr>
    <td class="option" colspan="2">{TXT_INFORM_USER_MAIL} <input type="checkbox" name="send_mail"  value="y" {SEND_MAIL} /></td>
  </tr>
<!-- END inform_user -->
    <tr>
        <td class="submit" colspan="2">
            <span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FLD}</span>
            <div align="right">
                <input class="submit" type="submit" name="cmd[{CMD_SUBMIT}]" value="{TXT_SUBMIT}" />
                <input class="submit" type="submit" name="cmd[cancel]" value="{TXT_CANCEL}" />
            </div>
        </td>
    </tr>
</form>
<!-- BEGIN ACTIVE_ROLE -->
<form action="{ACTIVE_ROLE_FORMACTION}" name="objectItems" method="post">
  <tr class="tblheader">
    <td class="std" colspan="2">{TXT_ACTIVE_ROLES}</td>
  </tr>
  <!-- BEGIN TABLE_ROLES -->
  <tr class="{ACTIVE_ROLE_CSS_ROW}">
    <td class="std">
	<input type="checkbox" name="id[]" value="{CHECKBOX_ID}" {CHECKED}/><a href="adm_object.php?ref_id=8&obj_id={CHECKBOX_ID}&cmd=perm">{ROLENAME}</a></td>
	<td class="std">{ROLECONTEXT}</td>
  </tr>
  <!-- END TABLE_ROLES -->  
  <tr>
	<td class="submit" colspan="2">
	<img src="{TPLPATH}/images/arrow_downright.svg" border="0" />
	<input class="submit" type="submit" name="cmd[activeRoleSave]" value="{TXT_ASSIGN}"/>
	</td>
  </tr>
</form>
<!-- END ACTIVE_ROLE -->
</table>
