<ul>
  <!-- BEGIN field -->
  <li>
    <span>{FIELD_NAME}</span>
    <ul>
      <!-- BEGIN attribute -->
      <li>
        <span>{ATTRIBUTE_NAME}</span>
        <ul>
          <!-- BEGIN component -->
          <li>
            <span>{COMPONENT_NAME}</span>
            <ul style="list-style-type:none;">
              <li>{DESCRIPTION}</li>
            </ul>
          </li>
          <!-- END component -->
        </ul>
      </li>
      <!-- END attribute -->
    </ul>
  </li>
  <!-- END field -->
</ul>