<!-- BEGIN no_users -->
<div>{NO_GALLERY_USERS}</div>
<!-- END no_users -->
{GALLERY_HTML}
<script type="text/javascript">
(function($, $scope) {
	var no_entries_html = {NO_ENTRIES_HTML};

	<!-- BEGIN js_remove_handler -->
	$(function() {
		var stateChangedListener = function(event, usr_id, is_state, was_state) {
			if (is_state == "ilBuddySystemUnlinkedRelationState") {
				$('.il-deck [data-buddy-id="' + usr_id + '"]').closest(".il-card").parent().remove();
				if (!$('.il-card.thumbnail').size())  {
					$('.il-deck').html(no_entries_html);
				}
			}
			return true;
		};

		$($scope).on("il.bs.stateChange.afterStateChangePerformed", stateChangedListener);
	});
	<!-- END js_remove_handler -->
})(jQuery, window);
</script>