<tr class="{CSS_ROW}">
	<td class="std">
		<input aria-label="user_page[{ID}] checkbox" type="checkbox" name="user_page[{ID}]" value="1" />
	</td>
	<td class="std small">
		<input type="text" aria-label="order[{ID}]" size="3" maxlength="3" name="order[{ID}]" value="{VAL_ORDER_NR}" />
	</td>
	<td class="std small">
		<input type="text" aria-label="title[{ID}]" size="20" maxlength="200" name="title[{ID}]" value="{VAL_TITLE}" />
	</td>
	<td class="std small">
		<a aria-label="{TXT_EDIT}" href="{CMD_EDIT}">
			{TXT_EDIT}
		</a>
	</td>
</tr>