	<form action="{FORMACTION}" method="post">
	  <table class="std">
		<tr class="tblheader">
		  <td class="std" colspan="2">{TXT_SEARCH_USER}</td>
		</tr>
		<tr>
		  <td class="option_value" colspan="2"><input type="text" name="search_string" size="35" width="80%" /></td>
		</tr>
		<tr>
		  <td class="option" rowspan="6">{TXT_SEARCH_IN}:</td>
		  <td class="option_value"><input type="checkbox" name="search_fields[]" id="username" value="username"{USERNAME_CHECKED} /><label for="username">{TXT_SEARCH_USERNAME}</label></td>
		</tr>
		<tr>
		  <td class="option_value"><input type="checkbox" name="search_fields[]" id="firstname" value="firstname"{FIRSTNAME_CHECKED} /><label for="firstname">{TXT_SEARCH_FIRSTNAME}</label></td>
		</tr>
		<tr>
		  <td class="option_value"><input type="checkbox" name="search_fields[]" id="lastname" value="lastname"{LASTNAME_CHECKED} /><label for="lastname">{TXT_SEARCH_LASTNAME}</label></td>
		</tr>
		<tr>
		  <td class="option_value"><input type="checkbox" name="search_fields[]" id="email" value="email"{EMAIL_CHECKED} /><label for="email">{TXT_SEARCH_EMAIL}</label></td>
		</tr>
		<tr>
		  <td class="option_value"><input type="radio" name="active" id="active" value="1" {ACTIVE_CHECKED} /><label for="active">{TXT_SEARCH_ACTIVE}</label></td>
		</tr>
		<tr>
		  <td class="option_value"><input type="radio" name="active" id="inactive" value="0" {INACTIVE_CHECKED} /><label for="inactive">{TXT_SEARCH_INACTIVE}</label></td>
		</tr>
		<tr class="tblfooter">
		  <td class="std" colspan="2">
			<div style="float:right">
			  <input class="submit" type="submit" name="cmd[searchUser]" value="{BUTTON_SEARCH}" />
			  <input class="submit" type="submit" name="cmd[searchCancelled]" value="{BUTTON_CANCEL}" />
			</div>
		  </td>
		</tr>
	  </table>
	  <p>{TXT_SEARCH_NOTE}</p>
	</form>
