<tr class="{CSS_ROW}">
<td class="std">
<!-- BEGIN checkb --><input type="checkbox" name="id[]" value="{ID}" /><!-- END checkb -->
</td>
<td class="std">
<span class="small"><a href="{HREF_LOGIN}">{VAL_LOGIN}</a></span>
</td>
<td class="std">
<span class="small">{VAL_FIRSTNAME}</span>
</td>
<td class="std">
<span class="small">{VAL_LASTNAME}</span>
</td>
<!-- BEGIN email -->
<td class="std">
<span class="small">{VAL_EMAIL}</span>
</td>
<!-- END email -->
<!-- BEGIN access_until -->
<td class="std">
<span class="{CLASS_ACCESS_UNTIL}">{VAL_ACCESS_UNTIL}</span>
</td>
<!-- END access_until -->
<!-- BEGIN last_login -->
<td class="std">
<span class="small">{VAL_LAST_LOGIN}</span>
</td>
<!-- END last_login -->
<!-- BEGIN user_field -->
<td class="std">
<span class="small">{VAL_UF}</span>
</td>
<!-- END user_field -->
</tr>