<div class="ilUsersGalleryContainer">
	<!-- BEGIN users -->
	<div class="ilUsersGalleryRow row">
		<!-- BEGIN user -->
		<div class="col-md-2">
			<div class="ilUser" data-users-gallery-status="{BUDDYLIST_STATUS}">
				<!-- BEGIN linked_image -->
				<a href="{LINK_PROFILE}"><img class="img" src="{SRC_USR_IMAGE}" /><h3>{PUBLIC_NAME}</h3></a>
				<!-- END linked_image -->
				<!-- BEGIN unlinked_image -->
				<img class="img" src="{SRC_USR_IMAGE}" /><h3>{PUBLIC_NAME}</h3>
				<!-- END unlinked_image -->
				<div class="action">
					<!-- BEGIN link -->
					{BUDDY_HTML}
					<!-- END link -->
				</div>
			</div>
		</div>
		<!-- END user -->
	</div>
	<!-- END users -->
	<!-- BEGIN no_users -->
	{NO_GALLERY_USERS}
	<!-- END no_users -->
</div>