{FORM}

<div class="panel panel-default panel-body small">
<b>{TXT_USE_PLACEHOLDERS}</b>:<br /><br />
<b>&lbrace;&lbrace;MAIL_SALUTATION&rbrace;&rbrace;</b>: {TXT_MAIL_SALUTATION}<br />
<b>&lbrace;&lbrace;FIRST_NAME&rbrace;&rbrace;</b>: {TXT_FIRST_NAME}<br />
<b>&lbrace;&lbrace;LAST_NAME&rbrace;&rbrace;</b>: {TXT_LAST_NAME}<br />
<b>&lbrace;&lbrace;EMAIL&rbrace;&rbrace;</b>: {TXT_EMAIL}<br />
<b>&lbrace;&lbrace;LOGIN&rbrace;&rbrace;</b>: {TXT_LOGIN}<br />
<b>&lbrace;&lbrace;PASSWORD&rbrace;&rbrace;</b>: {TXT_PASSWORD}<br />
<b>&lbrace;&lbrace;#IF_PASSWORD&rbrace;&rbrace;...&lbrace;&lbrace;/IF_PASSWORD&rbrace;&rbrace;</b>: {TXT_PASSWORD_BLOCK}<br />
<b>&lbrace;&lbrace;#IF_NO_PASSWORD&rbrace;&rbrace;...&lbrace;&lbrace;/IF_NO_PASSWORD&rbrace;&rbrace;</b>: {TXT_NOPASSWORD_BLOCK}<br />
<b>&lbrace;&lbrace;ADMIN_MAIL&rbrace;&rbrace;</b>: {TXT_ADMIN_MAIL}<br />
<b>&lbrace;&lbrace;ILIAS_URL&rbrace;&rbrace;</b>: {TXT_ILIAS_URL}<br />
<b>{{INSTALLATION_NAME}}</b>: {TXT_INSTALLATION_NAME}<br />
<b>&lbrace;&lbrace;TARGET&rbrace;&rbrace;</b>: {TXT_TARGET}<br />
<b>&lbrace;&lbrace;TARGET_TITLE&rbrace;&rbrace;</b>: {TXT_TARGET_TITLE}<br />
<b>&lbrace;&lbrace;TARGET_TYPE&rbrace;&rbrace;</b>: {TXT_TARGET_TYPE}<br />
<b>&lbrace;&lbrace;#IF_TARGET&rbrace;&rbrace;...&lbrace;&lbrace;/IF_TARGET&rbrace;&rbrace;</b>: {TXT_TARGET_BLOCK}<br />
<b>&lbrace;&lbrace;#IF_TIMELIMIT&rbrace;&rbrace;...&lbrace;&lbrace;/IF_TIMELIMIT&rbrace;&rbrace;</b>: {TXT_IF_TIMELIMIT}<br />
<b>&lbrace;&lbrace;TIMELIMIT&rbrace;&rbrace;</b>: {TXT_TIMELIMIT}<br />
</div>
