<tr class="{CSS_ROW}">
    <td class="std">
        <!-- BEGIN editable -->
        <input type="checkbox" aria-label="role_id[]" name="role_id[] checkbox"
               value="{VAL_ID}" {VAL_CHECKED} {VAL_DISABLED} />
        <input aria-hidden="true" type="hidden" name="role_id_ctrl[]" value="{VAL_ID}" />
        <!-- END editable -->
    </td>
    <td class="std">
        {ROLE}
    </td>
    <td class="std">
        {DESCRIPTION}
    </td>
    <td class="std">
        {CONTEXT}
    </td>
    <td class="std">
        {PATH}
    </td>
</tr>
