<tr class="{ROWCLASS}">
	<td id="matrix" class="rowtext">{TEXT_ROW}</td>
<!-- BEGIN bipolar_start -->
	<td id="matrix" class="bipolar" rowspan="{ROWSPAN}">{TEXT_BIPOLAR_START}</td>
<!-- END bipolar_start -->
<!-- BEGIN answer -->
	<td id="matrix" class="{CLASS}">
<!-- BEGIN radiobutton -->
		<input type="radio" name="matrix_{ROW}" value="{VALUE}" />
<!-- END radiobutton -->
	</td>
<!-- END answer -->
<!-- BEGIN bipolar_end -->
	<td id="matrix" class="bipolar" rowspan="{ROWSPAN}">{TEXT_BIPOLAR_END}</td>
<!-- END bipolar_end -->
</tr>

