<form name="pasteQuestions" method="post" action="{FORM_ACTION}">
<table class="fullwidth">
<thead>
	<tr class="tblheader">
		<th class="std">{TXT_TITLE}</th>
		<th class="std">{TXT_DESCRIPTION}</th>
		<th class="std">{TXT_TYPE}</th>
	</tr>
</thead>
<!-- BEGIN row -->
	<tr class="{COLOR_CLASS}">
		<td class="{COLOR_CLASS}">{TXT_TITLE}</td>
		<td class="{COLOR_CLASS}">{TXT_DESCRIPTION}</td>
		<td class="{COLOR_CLASS}">{TXT_TYPE}</td>
	</tr>
<!-- END row -->
	<tr class="std">
		<td class="std" colspan="3">
			<input type="submit" class="submit" name="cmd[confirmPasteQuestions]" value="{BTN_CONFIRM}" />
			<input type="submit" class="submit" name="cmd[cancelPasteQuestions]" value="{BTN_CANCEL}" />
		</td>
	</tr>
</table>
<!-- BEGIN hidden -->
<input type="hidden" name="{HIDDEN_NAME}" value="{HIDDEN_VALUE}" />
<!-- END hidden -->
</form>