<!-- BEGIN editbutton -->
<input class="submit" type="submit" name="cmd[edit]" value="{EDIT}" />
<!-- END editbutton -->
<!-- BEGIN deletequestions -->
<input class="submit" type="submit" name="cmd[deleteQuestions]" value="{DELETE}" />
<!-- END deletequestions -->
<!-- BEGIN copy -->
<input class="submit" type="submit" name="cmd[copy]" value="{COPY}" />
<!-- END copy -->
<!-- BEGIN paste -->
<input class="submit" type="submit" name="cmd[paste]" value="{PASTE}"{PASTE_DISABLED} />
<!-- END paste -->
<!-- BEGIN exportquestions -->
<input class="submit" type="submit" name="cmd[exportQuestions]" value="{EXPORT}" />
<!-- END exportquestions -->
<!-- BEGIN selection -->
<input class="submit" type="submit" name="cmd[insert]" value="{INSERT}" />
<!-- END selection -->
