<!-- BEGIN question_data -->
<!-- BEGIN questiontitle -->
<div class="questionTitle">{QUESTION_TITLE}</div>
<!-- END questiontitle -->
{ERROR_MESSAGE}
<p>{QUESTIONTEXT}<span class="obligatory">{OBLIGATORY_TEXT}</span></p>
<!-- BEGIN min_max_msg -->
<div class="surveyhint">{MIN_MAX_MSG}</div>
<!-- END min_max_msg -->
<!-- BEGIN tableoutput_mc -->
<table class="nobackground">
<!-- BEGIN outer_row -->
<!-- BEGIN mc_row -->
<tr{ROWCLASS}>
<td class="nobackground" width="1%"><input type="checkbox" name="{QUESTION_ID}_value[]" value="{VALUE_MC}" id="{QUESTION_ID}_{VALUE_MC}"{CHECKED_MC} /></td>
<td class="nobackground"><label for="{QUESTION_ID}_{VALUE_MC}">{TEXT_MC}</label></td>
</tr>
<!-- END mc_row -->
<!-- BEGIN other_row -->
<tr>
<td class="nobackground" width="1%"><input type="checkbox" name="{QUESTION_ID}_value[]" value="{VALUE_MC}" id="{QUESTION_ID}_{VALUE_MC}"{CHECKED_MC} /></td>
<td class="nobackground"><label for="{QUESTION_ID}_{VALUE_MC}">{OTHER_LABEL}</label> <input type="text" class="form-control" size="80" name="{QUESTION_ID}_{VALUE_MC}_other" onkeypress="$('#{QUESTION_ID}_{VALUE_MC}')[0].checked = true;" {OTHER_VALUE}/></td>
</tr>
<!-- END other_row -->
<!-- END outer_row -->
<!-- BEGIN mc_col -->
<tr>
<!-- BEGIN checkbox_col -->
<td class="nobackground" align="center"><input type="checkbox" name="{QUESTION_ID}_value[]" value="{VALUE_MC}" id="{QUESTION_ID}_{VALUE_MC}"{CHECKED_MC} /></td>
<td width="20">&nbsp;</td>
<!-- END checkbox_col -->
</tr>
<tr>
<!-- BEGIN text_outer_col -->
<!-- BEGIN text_col -->
<td class="nobackground{COLCLASS}" align="center"><label for="{QUESTION_ID}_{VALUE_MC}">{TEXT_MC}</label></td>
<td width="20">&nbsp;</td>
<!-- END text_col -->
<!-- BEGIN text_other_col -->
<td class="nobackground" align="center"><label for="{QUESTION_ID}_{VALUE_MC}">{OTHER_LABEL}</label> <input type="text" class="form-control" size="50" name="{QUESTION_ID}_{VALUE_MC}_other" {OTHER_VALUE}/></td>
<td width="20">&nbsp;</td>
<!-- END text_other_col -->
<!-- END text_outer_col -->
</tr>
<!-- END mc_col -->
</table>
<!-- END tableoutput_mc -->
<!-- BEGIN material -->
<p>
{TEXT_MATERIAL}
</p>
<!-- END material -->
<!-- END question_data -->