<p><em>{FORM_DATA_MODIFIED_PRESS_SAVE}</em></p>
<p>{QUESTION_TEXT}</p>
<form name="formMatrixAnswers" action="{FORMACTION}" method="post" enctype="multipart/form-data">
<table class="fullwidth">
<thead>
	<tr class="tblheader">
		<th colspan="5">{TEXT_ANSWERS}</th>
	</tr>
</thead>
<tr class="tblrow2">
	<td colspan="5">
		<div align="right">
			<input type="submit" class="submit" name="cmd[addPhrase]" id="add_phrase" value="{VALUE_ADD_PHRASE}" />
			<input type="submit" class="submit" name="cmd[addColumn]" id="add_category" value="{VALUE_ADD_CATEGORY}" />
			<select name="nrOfCategories">
<!-- BEGIN numbers -->
				<option value="{VALUE_NUMBER}">{TEXT_NUMBER}</option>
<!-- END numbers -->			
			</select>
		</div>
	</td>
</tr>
<tr class="tblrow2">
  <td width="20"></td>
	<td></td>
	<td></td>
  <td><div class="il_Description_no_margin">{TEXT_STANDARD_ANSWERS}</div></td>
  <td></td>
</tr>
<!-- BEGIN categories -->
<tr class="tblrow2">
  <td width="20">
		<input type="checkbox" name="chb_category[]" value="{CATEGORY_ORDER}" />
	</td>
	<td width="20">
<!-- BEGIN move_up -->
		<input type="image" name="moveUp_{COLUMN}" alt="{ALT_UP}" title="{TITLE_UP}" src="{IMAGE_UP}" />
<!-- END move_up -->	
	</td>
	<td width="20">
<!-- BEGIN move_down -->	
		<input type="image" name="moveDown_{COLUMN}" alt="{ALT_DOWN}" title="{TITLE_DOWN}" src="{IMAGE_DOWN}" />
<!-- END move_down -->	
	</td>
  <td><input name="category_{CATEGORY_ORDER}" type="text" id="category_{CATEGORY_ORDER}" size="50" value="{VALUE_CATEGORY}" /></td>
  <td><input type="text" name="number" value="{CATEGORY_NUMBER}" size="3" disabled="disabled"/></td>
</tr>
<!-- END categories -->
<tr class="tblrow2">
  <td width="20"></td>
	<td></td>
	<td></td>
  <td><div class="il_Description_no_margin">{TEXT_NEUTRAL_ANSWER}</div></td>
  <td></td>
</tr>
<tr class="tblrow2">
  <td width="20"></td>
	<td></td>
	<td></td>
  <td><input name="neutral" type="text" id="neutral" size="50"{VALUE_NEUTRAL} /></td>
  <td><input type="text" name="number" value="{CATEGORY_NEUTRAL}" size="3" disabled="disabled"/></td>
</tr>
<!-- BEGIN selectall -->
<tr class="tblrow2">
	<td><input type="checkbox" id="chb_check_all" name="chb_check_all" value="1" onclick="setChecked('formMatrixAnswers', 'chb_category', document.formMatrixAnswers.chb_check_all.checked);" /></td>
  <td colspan="4"><label for="chb_check_all"><strong>{SELECT_ALL}</strong></label></td>
</tr>
<!-- END selectall -->
<!-- BEGIN nocategories -->
<tr>
	<td colspan="5" class="option_value">{NO_CATEGORIES}</td>
</tr>
<!-- END nocategories -->
<!-- BEGIN existingcategories -->
<tr>
	<td class="submit" width="20">{ARROW}</td>
	<td class="submit" colspan="4">
		<input type="submit" class="submit" name="cmd[deleteColumn]" value="{DELETE}" />
		<input type="submit" class="submit" name="cmd[savePhrase]" id="save_phrase" value="{VALUE_SAVE_PHRASE}" />
	</td>
</tr>
<!-- END existingcategories -->
<tr>
	<td colspan="5" class="submit">
		<div align="right">
			<input name="cmd[saveRowColEditor]" type="submit" class="submit" id="save" value="{SAVE}" />
		</div>
	</td>
</tr>
</table>
<br />
<!-- BEGIN ordinal -->
<table class="fullwidth">
<thead>
	<tr class="tblheader">
		<th colspan="2">{TEXT_COLUMN_SETTINGS}</th>
	</tr>
</thead>
<tr>
  <td class="option">{TEXT_BIPOLAR_ADJECTIVES}</td>
  <td class="option_value">
		<input name="bipolar1" type="text" id="bipolar1" size="50"{VALUE_BIPOLAR1} />
		<br />
		<input name="bipolar2" type="text" id="bipolar2" size="50"{VALUE_BIPOLAR2} />
		<br />
		<div class="il_Description_no_margin">{TEXT_BIPOLAR_ADJECTIVES_DESCRIPTION}</div>
	</td>
</tr>
<tr>
	<td colspan="2" class="submit">
		<div align="right">
			<input name="cmd[saveRowColEditor]" type="submit" class="submit" id="save" value="{SAVE}" />
		</div>
	</td>
</tr>
</table>
<br />
<!-- END ordinal -->
<table class="fullwidth">
<thead>
	<tr class="tblheader">
		<th colspan="2">{TEXT_ROWS}</th>
	</tr>
</thead>
<tr class="tblrow2">
	<td colspan="2">
		<div align="right">
			<input type="submit" class="submit" name="cmd[addRow]" id="addRow" value="{VALUE_ADD_ROW}" />
			<select name="nrOfRows">
<!-- BEGIN rownumbers -->
				<option value="{VALUE_NUMBER}">{TEXT_NUMBER}</option>
<!-- END rownumbers -->			
			</select>
		</div>
	</td>
</tr>
<!-- BEGIN rows -->
<tr class="tblrow2">
  <td width="20">
		<input type="checkbox" name="chb_row[]" value="{ROW_ORDER}" />
	</td>
  <td><input name="row_{ROW_ORDER}" type="text" id="row_{ROW_ORDER}" size="50" value="{VALUE_ROW}" /></td>
</tr>
<!-- END rows -->
<!-- BEGIN selectall_rows -->
<tr class="tblrow2">
	<td><input type="checkbox" id="chb_check_all_rows" name="chb_check_all_rows" value="1" onclick="setChecked('formMatrixAnswers', 'chb_row', document.formMatrixAnswers.chb_check_all_rows.checked);" /></td>
  <td colspan="4"><label for="chb_check_all_rows"><strong>{SELECT_ALL}</strong></label></td>
</tr>
<!-- END selectall_rows -->
<tr>
	<td class="submit" width="20">{ARROW}</td>
	<td class="submit" colspan="4">
		<input type="submit" class="submit" name="cmd[deleteRow]" value="{DELETE}" />
	</td>
</tr>
<tr>
	<td colspan="2" class="submit">
		<div align="right">
			<input name="cmd[saveRowColEditor]" type="submit" class="submit" id="save" value="{SAVEROWS}" />
		</div>
	</td>
</tr>
</table>
</form>
