<!-- BEGIN questiontitle -->
<div class="questionTitle">{QUESTION_TITLE}</div>
<!-- END questiontitle -->
<p>{QUESTIONTEXT}<br /><span class="obligatory">{OBLIGATORY_TEXT}</span></p>
<!-- BEGIN tableoutput_mc -->
<table class="nobackground">
<!-- BEGIN mc_row -->
<tr>
<td class="nobackground" width="20"><img src="{IMAGE_CHECKBOX}" alt="{ALT_CHECKBOX}" width="13" height="13" title="{TITLE_CHECKBOX}" /></td>
<td class="nobackground">{TEXT_MC}</td>
</tr>
<!-- END mc_row -->
<!-- BEGIN mc_col -->
<tr>
<!-- BEGIN checkbox_col -->
<td class="nobackground" align="center"><img src="{IMAGE_CHECKBOX}" alt="{ALT_CHECKBOX}" width="13" height="13" title="{TITLE_CHECKBOX}" /></td>
<td width="20"></td>
<!-- END checkbox_col -->
</tr>
<tr>
<!-- BEGIN text_col -->
<td class="nobackground" align="center">{TEXT_MC}</td>
<td width="20"></td>
<!-- END text_col -->
</tr>
<!-- END mc_col -->
</table>
<!-- END tableoutput_mc -->