<form name="removeCategories" method="post" action="{FORM_ACTION}">
<table class="fullwidth">
<thead>
	<tr class="tblheader">
		<th class="std" colspan="2">{TXT_TITLE}</th>
	</tr>
</thead>
<!-- BEGIN row -->
	<tr class="{COLOR_CLASS}">
		<td class="{COLOR_CLASS}">{TXT_TITLE}</td>
	</tr>
<!-- END row -->
	<tr class="std">
		<td class="std" colspan="2">
			<input type="submit" class="submit" name="cmd[confirmDeleteCategory]" value="{BTN_CONFIRM}" />
			<input type="submit" class="submit" name="cmd[cancelDeleteCategory]" value="{BTN_CANCEL}" />
		</td>
	</tr>
</table>
<!-- BEGIN hidden -->
<input type="hidden" name="{HIDDEN_NAME}" value="{HIDDEN_VALUE}" />
<!-- END hidden -->
</form>