<!-- BEGIN question_data_nominal -->
<!-- BEGIN questiontitle -->
<div class="questionTitle">{QUESTION_TITLE}</div>
<!-- END questiontitle -->
{ERROR_MESSAGE}
<p>{QUESTIONTEXT}<span class="obligatory">{OBLIGATORY_TEXT}</span></p>
<!-- BEGIN tableoutput_nominal -->
<table class="nobackground">
<!-- BEGIN nominal_row_sr -->
<tr>
<td class="nobackground" width="1%"><input type="radio" name="{QUESTION_ID}_value" value="{VALUE_NOMINAL}" id="{QUESTION_ID}_{VALUE_NOMINAL}"{CHECKED_NOMINAL} /></td>
<td class="nobackground"><label for="{QUESTION_ID}_{VALUE_NOMINAL}">{TEXT_NOMINAL}</label></td>
</tr>
<!-- END nominal_row_sr -->
<!-- BEGIN nominal_col -->
<tr>
<!-- BEGIN radio_col_nominal -->
<td class="nobackground" align="center"><input type="radio" name="{QUESTION_ID}_value" value="{VALUE_NOMINAL}" id="{QUESTION_ID}_{VALUE_NOMINAL}"{CHECKED_NOMINAL} /></td>
<td width="20">&nbsp;</td>
<!-- END radio_col_nominal -->
</tr>
<tr>
<!-- BEGIN text_col_nominal -->
<td class="nobackground" align="center"><label for="{QUESTION_ID}_{VALUE_NOMINAL}">{TEXT_NOMINAL}</label></td>
<td width="20">&nbsp;</td>
<!-- END text_col_nominal -->
</tr>
<!-- END nominal_col -->
<!-- BEGIN nominal_row_mr -->
<tr>
<td class="nobackground" width="1%"><input type="checkbox" name="{QUESTION_ID}_value[]" value="{VALUE_NOMINAL}" id="{QUESTION_ID}_{VALUE_NOMINAL}"{CHECKED_NOMINAL} /></td>
<td class="nobackground"><label for="{QUESTION_ID}_{VALUE_NOMINAL}">{TEXT_NOMINAL}</label></td>
</tr>
<!-- END nominal_row_mr -->
<!-- BEGIN nominal_col_mr -->
<tr>
<!-- BEGIN checkbox_col_nominal -->
<td class="nobackground" align="center"><input type="checkbox" name="{QUESTION_ID}_value[]" value="{VALUE_NOMINAL}" id="{QUESTION_ID}_{VALUE_NOMINAL}"{CHECKED_NOMINAL} /></td>
<td width="20">&nbsp;</td>
<!-- END checkbox_col_nominal -->
</tr>
<tr>
<!-- BEGIN text_col_nominal_mr -->
<td class="nobackground" align="center"><label for="{QUESTION_ID}_{VALUE_NOMINAL}">{TEXT_NOMINAL}</label></td>
<td width="20">&nbsp;</td>
<!-- END text_col_nominal_mr -->
</tr>
<!-- END nominal_col_mr -->
</table>
<!-- END tableoutput_nominal -->
<!-- BEGIN combooutput_nominal -->
{TEXT_SELECTION}: <select name="{QUESTION_ID}_value">
	<option value="">{SELECT_OPTION}</option>
<!-- BEGIN comborow_nominal -->
	<option value="{VALUE_NOMINAL}"{SELECTED_NOMINAL}>{TEXT_NOMINAL}</option>
<!-- END comborow_nominal -->
</select>
<!-- END combooutput_nominal -->
<!-- BEGIN material_nominal -->
<p>
{TEXT_MATERIAL}
</p>
<!-- END material_nominal -->
<!-- END question_data_nominal -->
