<tr class="{ROWCLASS}">
	<td id="matrix" class="rowtext">{TEXT_ROW}</td>
<!-- BEGIN bipolar_start -->
	<td id="matrix" class="bipolar" rowspan="{ROWSPAN}">{TEXT_BIPOLAR_START}</td>
<!-- END bipolar_start -->
<!-- BEGIN answer -->
	<td id="matrix" class="{CLASS}"{STYLE}>
<!-- BEGIN radiobutton -->
		<input type="radio" name="matrix_{QUESTION_ID}_{ROW}" value="{VALUE}"{CHECKED_RADIOBUTTON} />
<!-- END radiobutton -->
<!-- BEGIN checkbox -->
		<input type="checkbox" name="matrix_{QUESTION_ID}_{ROW}[]" value="{VALUE}"{CHECKED_CHECKBOX} />
<!-- END checkbox -->
	</td>
<!-- END answer -->
<!-- BEGIN bipolar_end -->
	<td id="matrix" class="bipolar" rowspan="{ROWSPAN}">{TEXT_BIPOLAR_END}</td>
<!-- END bipolar_end -->
</tr>

