<div id="{ELEMENT_ID}">
	<table class="categorywizard">
		<thead>
			<tr>
				<th>{ANSWER_TEXT}</th>
				<th>{SCALE_TEXT}</th>
				<th>{ACTIONS_TEXT}</th>
			</tr>
		</thead>
		<tbody>
<!-- BEGIN row -->
			<tr class="{ROW_CLASS}">
				<td>
					<input type="text" size="{SIZE}" id="{ID}" maxlength="{MAXLENGTH}" name="{POST_VAR}[answer][{ROW_NUMBER}]" <!-- BEGIN prop_text_propval -->value="{PROPERTY_VALUE}" <!-- END prop_text_propval -->{DISABLED} />
				</td>
				<td style="vertical-align: top;">
					<input type="text" style="text-align: right;" size="3" id="{SCALE_ID}" name="{POST_VAR}[scale][{ROW_NUMBER}]" <!-- BEGIN prop_scale_propval -->value="{PROPERTY_VALUE}" <!-- END prop_scale_propval -->{DISABLED_SCALE} />
				</td>
				<td style="vertical-align: top;">
					<input type="image" name="{CMD_ADD}" class="categorywizard_add" id="add_{ID}" src="{ADD_BUTTON}" onclick="javascript: void(0); return false;" />
					<input type="image" name="{CMD_REMOVE}" class="categorywizard_remove" id="remove_{ID}" src="{REMOVE_BUTTON}" onclick="javascript: void(0); return false;" />
<!-- BEGIN move -->
					<input type="image" name="{CMD_UP}" class="categorywizard_up" id="up_{ID}" src="{UP_BUTTON}" onclick="javascript: void(0); return false;" />
					<input type="image" name="{CMD_DOWN}" class="categorywizard_down" id="down_{ID}" src="{DOWN_BUTTON}" onclick="javascript: void(0); return false;" />
<!-- END move -->
				</td>
			</tr>
<!-- END row -->
		</tbody>
	</table>
</div>