<div id="{ELEMENT_ID}">
	
	<div class="row">
		<div class="col-sm-{TITLE_COLS}">{ANSWER_TEXT}<!-- BEGIN wizard --> <input type="submit" class="btn btn-default" name="{CMD_WIZARD}" value="{WIZARD_TEXT}" /><!-- END wizard --></div>
		<!-- BEGIN other_answer_title -->
		<div class="col-sm-3">{OTHER_TEXT}</div>
		<!-- END other_answer_title -->
		<div class="col-sm-{TITLE_COLS}">{SCALE_TEXT}</div>
		<div class="col-sm-{TITLE_COLS}">{ACTIONS_TEXT}</div>
	</div>

	<div>
		
		<!-- BEGIN row -->
		<div class="row catwzd">

			<div class="col-sm-{ROW_COLS}">
				<input type="text" class="form-control" size="{SIZE}" id="{ID}" maxlength="{MAXLENGTH}" name="{POST_VAR}[answer][{ROW_NUMBER}]" <!-- BEGIN prop_text_propval -->value="{PROPERTY_VALUE}" <!-- END prop_text_propval -->{DISABLED} />
			</div>

			<!-- BEGIN other_answer_checkbox -->
			<div class="col-sm-3">
				<input type="checkbox" name="{POST_VAR}[other][{ROW_NUMBER}]" value="1" id="{OTHER_ID}" {CHECKED_OTHER} />
			</div>
			<!-- END other_answer_checkbox -->

			<div class="col-sm-{ROW_COLS}">
				<input type="text" class="form-control" style="text-align: right;" size="3" id="{SCALE_ID}" name="{POST_VAR}[scale][{ROW_NUMBER}]" <!-- BEGIN prop_scale_propval -->value="{PROPERTY_VALUE}" <!-- END prop_scale_propval -->{DISABLED_SCALE} />
			</div>

			<div class="col-sm-{ROW_COLS}">				
				<button name="{CMD_ADD}" class="categorywizard_add btn btn-link" id="add_{ID}" onclick="javascript: void(0); return false;" >{ADD_BUTTON}</button>
				<button name="{CMD_REMOVE}" class="categorywizard_remove btn btn-link" id="remove_{ID}" onclick="javascript: void(0); return false;">{REMOVE_BUTTON}</button>
				<!-- BEGIN move -->
				<button name="{CMD_UP}" class="categorywizard_up btn btn-link" id="up_{ID}" onclick="javascript: void(0); return false;">{UP_BUTTON}</button>
				<button name="{CMD_DOWN}" class="categorywizard_down btn btn-link" id="down_{ID}" onclick="javascript: void(0); return false;">{DOWN_BUTTON}</button>
				<!-- END move -->
			</div>

		</div>
		<!-- END row -->
		
	</div>
	
	<!-- BEGIN neutral_row -->
	
	<!-- BEGIN neutral_category_title -->
	<div class="row">		
		<div class="col-sm-12 neutral"><br />	
			<span class="neutral_category_title">{CATEGORY_TITLE}</span>
		</div>
	</div>
	<!-- END neutral_category_title -->
	
	<div class="row">		
		
		<div class="col-sm-{NEUTRAL_COLS}">		
			<input type="text" class="form-control" size="{SIZE}" id="{ID}" maxlength="{MAXLENGTH}" name="{POST_VAR}[neutral]" <!-- BEGIN prop_text_neutral_propval -->value="{PROPERTY_VALUE}" <!-- END prop_text_neutral_propval -->{DISABLED} />
		</div>
		
		<!-- BEGIN other_answer_neutral -->
		<div class="col-sm-3">	
			&nbsp;
		</div>
		<!-- END other_answer_neutral -->

		<div class="col-sm-{NEUTRAL_COLS}">		
			<input type="text" class="form-control" style="text-align: right;" size="3" id="{SCALE_ID}" name="{POST_VAR}_neutral_scale" <!-- BEGIN prop_scale_neutral_propval -->value="{PROPERTY_VALUE}" <!-- END prop_scale_neutral_propval -->{DISABLED_SCALE} />
		</div>
		
		<div class="col-sm-{NEUTRAL_COLS}">	
			&nbsp;
		</div>
		
	</div>
	<!-- END neutral_row -->
	
	<!-- BEGIN savephrase -->	
	<div class="row">
		<div class="col-sm-12">		
			<input type="submit" class="btn btn-default" name="cmd[savePhrase]" value="{VALUE_SAVE_PHRASE}" />
		</div>
	</div>
	<!-- END savephrase -->
</div>