<!-- BEGIN question_data_ordinal -->
<!-- BEGIN questiontitle -->
<div class="questionTitle">{QUESTION_TITLE}</div>
<!-- END questiontitle -->

{ERROR_MESSAGE}
<p>{QUESTIONTEXT}<span class="obligatory">{OBLIGATORY_TEXT}</span></p>
<!-- BEGIN tableoutput -->
<table class="nobackground">
<!-- BEGIN ordinal_row -->
<tr>
<td class="nobackground" width="1%"><input type="radio" name="{QUESTION_ID}_value" value="{VALUE_ORDINAL}" id="{QUESTION_ID}_{VALUE_ORDINAL}"{CHECKED_ORDINAL} /></td>
<td class="nobackground"><label for="{QUESTION_ID}_{VALUE_ORDINAL}">{TEXT_ORDINAL}</label></td>
</tr>
<!-- END ordinal_row -->
<!-- BEGIN ordinal_col -->
<tr>
<!-- BEGIN radio_col_ordinal -->
<td class="nobackground" align="center"><input type="radio" name="{QUESTION_ID}_value" value="{VALUE_ORDINAL}" id="{QUESTION_ID}_{VALUE_ORDINAL}"{CHECKED_ORDINAL} /></td>
<td width="20">&nbsp;</td>
<!-- END radio_col_ordinal -->
</tr>
<tr>
<!-- BEGIN text_col_ordinal -->
<td class="nobackground" align="center"><label for="{QUESTION_ID}_{VALUE_ORDINAL}">{TEXT_ORDINAL}</label></td>
<td width="20">&nbsp;</td>
<!-- END text_col_ordinal -->
</tr>
<!-- END ordinal_col -->
</table>
<!-- END tableoutput -->
<!-- BEGIN combooutput -->
{TEXT_SELECTION}: <select name="{QUESTION_ID}_value">
	<option value="">{SELECT_OPTION}</option>
<!-- BEGIN comborow -->
	<option value="{VALUE_ORDINAL}"{SELECTED_ORDINAL}>{TEXT_ORDINAL}</option>
<!-- END comborow -->
</select>
<!-- END combooutput -->
<!-- BEGIN material_ordinal -->
<p>
{TEXT_MATERIAL}
</p>
<!-- END material_ordinal -->
<!-- END question_data_ordinal -->
