<!-- BEGIN questiontitle -->
<div class="questionTitle">{QUESTION_TITLE}</div>
<!-- END questiontitle -->
<p>{QUESTIONTEXT}<br /><span class="obligatory">{OBLIGATORY_TEXT}</span></p>
<!-- BEGIN tableoutput_nominal -->
<table class="nobackground">
<!-- BEGIN nominal_row_sr -->
<tr>
<td class="nobackground" width="20"><img src="{IMAGE_RADIO}" alt="{ALT_RADIO}" width="13" height="13" title="{TITLE_RADIO}" /></td>
<td class="nobackground">{TEXT_NOMINAL}</td>
</tr>
<!-- END nominal_row_sr -->
<!-- BEGIN nominal_col -->
<tr>
<!-- BEGIN radio_col_nominal -->
<td class="nobackground" align="center"><img src="{IMAGE_RADIO}" alt="{ALT_RADIO}" width="13" height="13" title="{TITLE_RADIO}" /></td>
<td width="20"></td>
<!-- END radio_col_nominal -->
</tr>
<tr>
<!-- BEGIN text_col_nominal -->
<td class="nobackground" align="center">{TEXT_NOMINAL}</td>
<td width="20"></td>
<!-- END text_col_nominal -->
</tr>
<!-- END nominal_col -->
<!-- BEGIN nominal_row_mr -->
<tr>
<td class="nobackground" width="20"><img src="{IMAGE_CHECKBOX}" alt="{ALT_CHECKBOX}" width="13" height="13" title="{TITLE_CHECKBOX}" /></td>
<td class="nobackground">{TEXT_NOMINAL}</td>
</tr>
<!-- END nominal_row_mr -->
<!-- BEGIN nominal_col_mr -->
<tr>
<!-- BEGIN checkbox_col_nominal -->
<td class="nobackground" align="center"><img src="{IMAGE_CHECKBOX}" alt="{ALT_CHECKBOX}" width="13" height="13" title="{TITLE_CHECKBOX}" /></td>
<td width="20"></td>
<!-- END checkbox_col_nominal -->
</tr>
<tr>
<!-- BEGIN text_col_nominal_mr -->
<td class="nobackground" align="center">{TEXT_NOMINAL}</td>
<td width="20"></td>
<!-- END text_col_nominal_mr -->
</tr>
<!-- END nominal_col_mr -->
</table>
<!-- END tableoutput_nominal -->
<!-- BEGIN combooutput_nominal -->
{TEXT_SELECTION}: <select name="{QUESTION_ID}_value">
	<option value="">{SELECT_OPTION}</option>
<!-- BEGIN comborow_nominal -->
	<option value="{VALUE_NOMINAL}"{SELECTED_NOMINAL}>{TEXT_NOMINAL}</option>
<!-- END comborow_nominal -->
</select>
<!-- END combooutput_nominal -->