<h2>
	{TEXT_ADD_PHRASE}
</h2>
<form name="addPhrases" method="post" action="{FORM_ACTION}">
	<p>
		{TEXT_INTRODUCTION}
	</p>
	<table class="std">
		<thead>
			<tr class="tblheader">
				<th scope="col" class="std">
				</th>
				<th scope="col" class="std">
					{TEXT_PHRASE}
				</th>
				<th scope="col" class="std">
					{TEXT_CONTENT}
				</th>
			</tr>
		</thead>
		<tbody>
			<!-- BEGIN phraserow -->
			<tr class="{COLOR_CLASS}" valign="top">
				<td>
					<input type="radio" name="phrases"
						   aria-label="phrases"
						   id="phrase_{PHRASE_VALUE}" value="{PHRASE_VALUE}" />
				</td>
				<td>
					<label for="phrase_{PHRASE_VALUE}">
						{PHRASE_NAME}
					</label>
				</td>
				<td>
					{PHRASE_CONTENT}
				</td>
			</tr>
			<!-- END phraserow -->
		</tbody>
	</table>
	<!-- BEGIN hidden -->
	<input type="hidden" aria-hidden="true" name="{HIDDEN_NAME}" value="{HIDDEN_VALUE}" />
	<!-- END hidden -->
	<p>
		<input type="submit" aria-label="cmd[addSelectedPhrase]"
			   name="cmd[addSelectedPhrase]" value="{TEXT_ADD_PHRASE}" class="submit" />
		<input type="submit" name="cmd[cancelViewPhrase]"
			   aria-label="cmd[cancelViewPhrase]"
			   value="{TEXT_CANCEL}" class="submit" />
	</p>
</form>