@use "../010-settings/"as *;


//** Default background color used for dropzones.
$il-dropzone-bg: $il-main-bg;
$il-dropzone-bg-inactive: #F4F4F4;
//** Background color used when a dropzone is highlighted (not when hovered).
$il-dropzone-highlight-bg: #FFFFD6;
//** Background color used when a dropzone is hovered.
$il-dropzone-hover-bg: #FFF9BC;
$il-dropzone-border-radius: 0px;
$il-dropzone-border-style: dashed;
$il-dropzone-border-width: 1px;
//** Default border color
$il-dropzone-border-color: $il-main-border-dark-color;
//** Border color used when a dropzone is hovered.
$il-dropzone-border-color-hover: darken($il-main-border-dark-color, 10%);
//** Border of one file after dragging them to the dropzone
$il-dropzone-filelist-border-color: $il-dropzone-border-color;
$il-dropzone-filelist-border-type: solid;
$il-dropzone-filelist-border-width: $il-dropzone-border-width;
$il-dropzone-filelist-border-radius: $il-dropzone-border-radius;