<div class="ilc_qanswer_Answer ilc_answers answers ilClearFloat">
	<!-- BEGIN maximum_char_hint -->
		<p class="quote">{MAXIMUM_CHAR_HINT}</p>
	<!-- END maximum_char_hint -->

	<textarea class="ilc_qlinput_LongTextInput fullwidth textinput js_essay" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" cols="40" rows="10" name="{POST_VAR}">{ESSAY}</textarea>

	<!-- BEGIN word_counter -->
	<p>{WORDCOUNTER} <span class="js_word_count"></span></p>
	<!-- END word_counter -->

	<!-- BEGIN maxchars_counter -->
	<p>{CHARACTERS} <span "class="js_letter_count"></span></p>
	<!-- END maxchars_counter -->
</div>