
<div id="tst_output">
	<form name="question_output" action="{FORMACTION}" method="post" enctype="multipart/form-data">
	{QUESTION_NAVIGATION}
	<table class="fullwidth">
			<tr class="std">
				<td class="ilc_Page">
					<div class="ilc_Page<!-- BEGIN readonly_css_class --> readonly<!-- END readonly_css_class -->" id="ilc_Page">
						{QUESTION_OUTPUT}
						<!-- BEGIN instant_feedback -->
						{INSTANT_FEEDBACK}
						<!-- END instant_feedback -->
					</div>
				</td>
			</tr>
	</table>
	</form>
</div>
<div id="autosavemessage" class="ilHighlighted tstAutosaveMsg"></div>