<!-- BEGIN question -->
	<div id="ilAsqQuestionView" class="il_ass_question_preview_container ilc_page_cont_PageContainer">
		<form name="ilAsqQuestionView" method="post" enctype="multipart/form-data" action="{FORM_ACTION}">
			{QUESTION_OUTPUT}
			<!-- BEGIN instant_response_header -->
				<div>
					<h1 class="ilc_page_title_PageTitle">{INSTANT_RESPONSE_HEADER}</h1>
				</div>
			<!-- END instant_response_header -->
			<!-- BEGIN instant_feedback_generic -->
				<div class="{ILC_FB_CSS_CLASS}">{GENERIC_FEEDBACK}</div>
			<!-- END instant_feedback_generic -->
			<!-- BEGIN instant_feedback_specific -->
				<div class="ilSpecificAnswerFeedback">{ANSWER_FEEDBACK}</div>
			<!-- END instant_feedback_specific -->
			<!-- BEGIN reached_points_feedback -->{REACHED_POINTS_FEEDBACK}<!-- END reached_points_feedback -->
			<!-- BEGIN solution_output -->
				<p><strong>{TXT_CORRECT_SOLUTION}</strong></p>
				<div class="ilc_question_Standard">{SOLUTION_OUTPUT}</div>
			<!-- END solution_output -->
			<input name="cmd[{SCORE_COMMAND}]" type="submit" value="OK" />
		</form>
	</div>
	<!-- BEGIN notes_panel -->{NOTES_PANEL}<!-- END notes_panel -->
<!-- END question -->