/* Services/UIComponent/Tabs */
/* Tabs */
div.il_Tab {
  float: left;
  padding-left: 0;
  line-height: normal;
  /* border-bottom: 1px solid #E0E0E0; */
  margin: 0 10px;
}
ul.il_Tab {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  top: 1px;
}
li.tabinactive {
  float: left;
  margin: 0 4px 0 0;
  padding: 0;
  border-bottom: 1px solid #E0E0E0;
  white-space: nowrap;
}
a.tabinactive {
  float: left;
  display: block;
  border: 1px solid #E0E1E8;
  border-bottom: none;
  background-color: #E8EFFE;
  padding: 4px 7px;
  font-size: 80%;
  text-decoration: none;
  background: url(images/TabInactive.png) repeat-x left bottom;
}
a.tabinactive:hover {
  background: none #FFF;
  text-decoration: none;
}
li.tabactive {
  float: left;
  margin: 0 4px 0;
  padding: 2px 0;
  border: 1px solid #E0E0E0;
  border-bottom: 1px solid #FFF;
  background-color: #FFF;
  white-space: nowrap;
}
a.tabactive:link,
a.tabactive:visited,
a.tabactive:hover {
  float: left;
  display: block;
  padding: 2px 7px;
  font-size: 80%;
  text-decoration: none;
  color: #404040;
  cursor: default;
}
li.backtab {
  float: left;
  margin: 0 2px 0 0;
  padding: 2px 0;
}
a.backtab,
a.backtab:hover {
  float: left;
  display: block;
  background: url(images/BackTab.png) no-repeat left top;
  padding: 3px 8px 3px 12px;
  font-size: 80%;
}
li.back2tab {
  float: left;
  margin: 0 2px 0 0;
  padding: 2px 0;
}
a.back2tab,
a.back2tab:hover {
  float: left;
  display: block;
  background: url(images/Back2Tab.png) no-repeat left top;
  padding: 3px 8px 3px 12px;
  font-size: 80%;
}
li.nontabbed {
  float: left;
  margin: 0 2px 0 0;
  padding: 0;
  white-space: nowrap;
}
a.nontabbed {
  float: left;
  display: block;
  padding: 5px 7px 4px;
  font-size: 80%;
  text-decoration: none;
}
/* Sub Tabs */
div.il_SubTab {
  float: left;
  width: 100%;
  margin: 0;
  padding-left: 2px;
}
ul.il_SubTab {
  margin: 0;
  padding: 5px;
  list-style: none;
}
li.subtabinactive {
  float: left;
  margin: 0;
  margin-right: 15px;
}
a.subtabinactive {
  float: left;
  display: block;
  padding: 3px 0;
  font-size: 80%;
}
a.subtabinactive:hover {
  text-decoration: underline;
}
li.subtabactive {
  float: left;
  margin: 0;
  margin-right: 15px;
}
a.subtabactive,
a.subtabactive:hover {
  display: block;
  padding: 3px 0;
  font-size: 80%;
  color: #000;
  text-decoration: underline;
}
