/* Services/UIComponent/Tabs */

.nav-tabs {
	> li {
		margin: 0 4px 0 0;
		//border-top: 4px solid transparent;
		> a {
			border-radius: 0;
			border: 0 none;
			padding: 6px 12px 3px;
			font-size: ceil((@font-size-base * 0.9));
			margin: 0;
			&:hover {
				//background-color: transparent;
				//border-color: transparent;
			}
		}
		&.active {
			//border-top: 4px solid lighten(@brand-primary, 25%);
		}
		// Active state, and its :hover to override normal :hover
		&.active > a {
			&,
			&:hover,
			&:focus {
				background-color: @il-neutral-color;
				color: white;
				border: 0 none;
			}
		}

	}
}

[dir="rtl"] .nav-tabs {
	> li {
		margin: 0 0 0 4px;
		float: right;
	}
}

#ilTab {
	padding: 0;
	margin:  7px 15px 23px;
	border: 0 none;
	border-bottom: 2px solid @il-neutral-color;
}

#ilTab a:focus-visible {
	z-index: 3;
}

.ilSetupContent #ilTab {
	margin:  7px 0 23px;
}

.ilTabsContentOuter {
	padding: 0;
}

/* Sub Tabs */
#ilSubTab {
	padding: 5px 20px;
	margin: -23px 0 10px;
	> li {
		> a {
			border-radius: 0;
			padding: 3px 7px;
			font-size: (@font-size-small * 0.97);
			/* font-weight: 600; */
			&:hover {
				color: @il-link-hover-color;
			}
		}
		&.active > a {
			&,
			&:hover,
			&:focus {
				color: @il-link-color;
				background-color: transparent;
				text-decoration: underline;
			}
		}
	}
}
