<script>
    $(document).ready(function(){
        var sr_id_input = "{ID_SELECT}";
        var sr_link_input = "{AJAX_LINK}";
        var settings = {placeholder: "{PLACEHOLDER}",
                        minimumInputLength: "{MINIMUM_INPUT_LENGTH}"
        };

        $("#"+sr_id_input).select2(settings);
    });
</script>

<select style="width:{WIDTH}; height:{HEIGHT}" class="{CSS_CLASS}" data-placeholder="{PLACEHOLDER}" id="{ID}" name="{POST_VAR}" {ALL_DISABLED} multiple="multiple">
    <!-- BEGIN item -->
    <option value="{VAL}" {SELECTED} {DISABLED}>{TEXT}</option>
    <!-- END item -->
</select>

