/* Services/Captcha */

div.iosCaptcha {
}

div.iosCaptchaImageContainer {
}

div.iosCaptchaInfoContainer {
	margin: 10px 0 0 0;
}

div.iosCaptchaInputCommandContainer {
	margin: 10px 0 0 0;
}

div.iosCaptchaInputCommandContainer .reload {
	width: 19px;
	height: 19px !important;
	font-size: 100%;
	vertical-align: top;
	margin: 0;
	padding: 0;
}

div.iosCaptchaInputCommandContainer .reload img {
	width: 19px;
	height: 19px;
	margin: 0;
	padding: 3;
}

div.iosCaptchaInputCommandContainer .audio {
	width: 19px;
	height: 19px;
	margin: 0 10px 0 12px;
	vertical-align: middle;
}

input.iosCaptchaInput {
}
