
{MESSAGE}
<div class="ilMessageBox">
	<!-- BEGIN warning -->
	<img class="ilFailureMessage" alt="{ALT_IMAGE}" title="{ALT_IMAGE}" src="{SRC_IMAGE}" />
	<div class="ilFailureMessage">
		<div class="ilAccHeadingHidden"><a id="il_message_focus" name="il_message_focus">{MESSAGE_HEADING}</a></div>
		{TXT_MSG_LOGIN_FAILED}
	</div>
	<!-- END warning -->
	<!-- BEGIN success -->
	<img class="ilSuccessMessage" alt="{ALT_IMAGE}" title="{ALT_IMAGE}" src="{SRC_IMAGE}" />
	<div class="ilSuccessMessage">
		<div class="ilAccHeadingHidden"><a id="il_message_focus" name="il_message_focus">{MESSAGE_HEADING}</a></div>
		{TXT_MSG_LOGIN_SUCCESS}
	</div>
	<!-- END success -->
</div>

<ul id="ilTopBarNav" class="">
    <!-- BEGIN lang_select -->
    <li class="dropdown"><a id="mm_lang_sel" href="#" class="dropdown-toggle" data-toggle="dropdown">{TXT_LANGSELECT} <span class="caret"></span></a>
        {LANG_SELECT}
    </li>
    <!-- END lang_select -->
</ul>

{STARTUP_CONTENT}
<!-- BEGIN links_bl -->
<div class="ilCenter" style="padding-top: 25px">
	<!-- BEGIN link_item_bl -->
	<a class="il_ContainerItemCommand" href="{LINK_URL}">{LINK_TXT}</a>
	<!-- END link_item_bl -->
</div>
<!-- END links_bl -->

{PRMLINK}
{SCRIPT}