<div class="il_Header"><h1><img src="{IMG_AUTH}" /> {TXT_PAGEHEADLINE}</h1></div>
<!-- BEGIN pw_message -->
<div>
	<p class="warning">&nbsp;{TXT_MESSAGE}&nbsp;</p>
</div>
<!-- END pw_message -->
<p>{TXT_ENTER_USERNAME_AND_NEW_PASSWORD}</p>
<div class="ilStartupSection">
	<form action="{FORMACTION}" {TARGET} method="post" name="Fobject">
	<table class="std">
	  <tr>
		<td class="option" align="right">{TXT_USERNAME}</td>
		<td class="option_value"><input type="text" name="username" value="{USERNAME}"/></td>
	  </tr>
	  <tr>
		<td class="option" align="right">{TXT_PASSWORD1}</td>
		<td class="option_value"><input type="password" name="password1" value="{PASSWORD1}"/></td>
	  </tr>
	  <tr>
		<td class="option" align="right">{TXT_PASSWORD2}</td>
		<td class="option_value"><input type="password" name="password2" value="{PASSWORD2}"/></td>
	  </tr>
	  <tr>
		<td class="submit" colspan="2" align="center"><input class="submit" type="submit" name="cmd[submitAssignPasswordForm]" value="{TXT_SUBMIT}"/></td>
	  </tr>
	</table>
	<input type="hidden" name="key" value="{KEY}"/></form>
	<a class="il_ContainerItemCommand" href="{CMD_BACK}">{BACK}</a>
</div>

