{RELOAD}
<div class="ilFrame" style="margin-top:5px; width:700px; margin-left:auto; margin-right:auto;"><div class="ilFrameH"><div class="ilFrameTL"><div class="ilFrameTR">
<img src="./templates/default/images/HeaderIcon.png" border="0" style="margin: 20px;"/>
<div class="ilFrameBL"><div class="ilFrameBR" style="min-height: 450px;">
<div style="padding:35px 10px;">
<!-- <p class="small">{ILIAS_RELEASE}</p> -->
<!-- BEGIN warning -->
<img class="ilFailureMessage" alt="{ALT_IMAGE}" title="{ALT_IMAGE}" src="{SRC_IMAGE}" />
<div class="ilFailureMessage">
<h5 class="ilAccHeadingHidden"><a id="il_message_focus" name="il_message_focus">{MESSAGE_HEADING}</a></h5>
{TXT_MSG_LOGIN_FAILED}</div>
<!-- END warning -->
<!-- BEGIN login_information -->
<div class="small">{TXT_LOGIN_INFORMATION}</div>
<!-- END login_information -->
<div align="center" style="padding-top: 25px">
<!-- BEGIN cookies_howto -->
<a class="il_ContainerItemCommand" href="{LINK_NO_COOKIES}" target="_blank">{COOKIES_HOWTO}</a><br /><br />
<!-- END cookies_howto -->
<form method="post" action="{FORMACTION}" name="formlogin">
<input type="hidden" name="sendLogin" value="1" />
<!-- BEGIN cas_login -->
	<table class="std" width="400">
		<tr class="tblheader">
			<td class="std">
				{TXT_CAS_LOGIN}
			</td>
		</tr>
		<tr class="tblrow1">
			<td class="std" style="text-align:center;">
				<a href="{TARGET_CAS_LOGIN}"><img src="{TXT_CAS_LOGIN_BUTTON}" border="0" alt="CAS Login Button"></a>
			</td>
		</tr>
		<tr class="tblrow1">
			<td class="std" style="text-align:center;">
				{TXT_CAS_LOGIN_INSTRUCTIONS}
			</td>
		</tr>
	</table>
	<br />
<!-- END cas_login -->
<!-- BEGIN shibboleth_wayf_login -->
	<table class="std" width="400">
		<tr class="tblheader">
			<td class="std" style="text-align:center;">
				{TXT_SHIB_LOGIN} {TXT_SHIB_FEDERATION_NAME}
			</td>
		</tr>
		<tr class="tblrow1">
			<td class="std">
				{TXT_SELECT_HOME_ORGANIZATION}
			</td>
		</tr>
		<tr class="tblrow1">
			<td class="std" style="text-align:center;">
				<p>
					<span class="warning">{TXT_SHIB_INVALID_SELECTION}</span><br/>
					{SHIB_IDP_LIST} 
				</p>
				<p>
					<input type="hidden" name="il_target" value="{ILW_TARGET}" />
					<input type="submit" name="home_organization_selection" value="{TXT_CONTINUE}" />
				</p>
			</td>
		</tr>
		<tr class="tblrow1">
			<td class="std">
				{TXT_SHIB_LOGIN_INSTRUCTIONS}
				{TXT_SHIB_CUSTOM_LOGIN_INSTRUCTIONS}
			</td>
		</tr>
	</table>
	<br />
<!-- END shibboleth_wayf_login -->
<!-- BEGIN shibboleth_login -->
	<table class="std" width="400">
		<tr class="tblheader">
			<td class="std">
				{TXT_SHIB_LOGIN} {TXT_SHIB_FEDERATION_NAME}
			</td>
		</tr>
		<tr class="tblrow1">
			<td class="std" style="text-align:center;">
				<p><a href="shib_login.php?target={IL_TARGET}"><img src="{TXT_SHIB_LOGIN_BUTTON}" border="0" alt="Shibboleth Login Button"></a></p>
			</td>
		</tr>
		<tr class="tblrow1">
			<td class="std">
				{TXT_SHIB_LOGIN_INSTRUCTIONS}
				{TXT_SHIB_CUSTOM_LOGIN_INSTRUCTIONS}
			</td>
		</tr>
	</table>
	<br />
<!-- END shibboleth_login -->
<!-- BEGIN ilias_login -->
{LOGIN_FORM}
<!-- <table class="std" width="400" datatable="0">
  <tr class="tblheader">
	<td class="std" colspan="2">{TXT_ILIAS_LOGIN}</td>
  </tr>
		  <!-- BEGIN auth_selection -->
		  <tr>
			<td class="option">{TXT_AUTH_MODE}</td>
			<td class="option_value">
				<!-- BEGIN  auth_mode_row -->
					<input type="radio" id="{VAL_AUTH_MODE}" name="auth_mode" value="{VAL_AUTH_MODE}" {AUTH_CHECKED} /> <label for="{VAL_AUTH_MODE}">{TXT_AUTH_MODE}</label><br />
				<!-- END auth_mode_row -->
			</td>
		  </tr>
		  <!-- END auth_selection -->
  <tr>
	<td class="option">{TXT_USERNAME}</td>
	<td class="option_value"><input type="text" name="username" value="{USERNAME}"/></td>
  </tr>
  <tr>
	<td class="option">{TXT_PASSWORD}</td>
	<td class="option_value"><input type="password" name="password" value="{PASSWORD}"/></td>
  </tr>
  <tr class="tblfooter">
	<td class="submit" colspan="2" align="center"><input class="submit" type="submit" name="butSubmit" value="{TXT_SUBMIT}"/></td>
  </tr>
</table> -->
<!-- END ilias_login -->
</form>
<p style="padding-top: 20px;">
<!-- BEGIN new_registration -->
<a class="il_ContainerItemCommand" href="{CMD_REGISTER}">{REGISTER}</a>
<!-- END new_registration -->
<!-- BEGIN homelink -->
<a class="il_ContainerItemCommand" href="./index.php{CLIENT_ID}">{TXT_HOME}</a>
<!-- END homelink -->
<!-- BEGIN password_assistance -->
<a class="il_ContainerItemCommand" href="{CMD_FORGOT_PASSWORD}">{FORGOT_PASSWORD}</a>
<a class="il_ContainerItemCommand" href="{CMD_FORGOT_USERNAME}">{FORGOT_USERNAME}</a>
<!-- END password_assistance -->
<!-- BEGIN client_list -->
<a class="il_ContainerItemCommand" href="{CMD_CLIENT_LIST}">{TXT_CLIENT_LIST}</a>
<!-- END client_list -->

</p>
<p><form name="languageselection" action="{LANG_FORM_ACTION}" method="post">
<input type="hidden" name="cmd[showLogin]" value="1" />
<select name="change_lang_to" onChange="this.form.submit()">
<option value="">{TXT_CHOOSE_LANGUAGE}</option>
<!-- BEGIN languages -->
<option value="{LANG_KEY}" {SELECTED_LANG}>{LANG_NAME}</option>
<!-- END languages -->
</select>
<input class="submit" type="submit" value="{TXT_OK}"/>
</form>
</p>
<p><a class="il_ContainerItemCommand" href="{LINK_USER_AGREEMENT}">{USER_AGREEMENT}</a></p>
</div></div>
</div>
</div></div></div></div>

<script language="JavaScript">
<!--
if (document.formlogin.username && document.formlogin.password)
{
	if(document.formlogin.username.value!="") document.formlogin.password.focus();
	else document.formlogin.username.focus();
}
//-->
</script>
