<div class="il_Header"><h1><img src="{IMG_AUTH}" /> {TXT_PAGEHEADLINE}</h1></div>
<!-- BEGIN pw_message -->
<div class="ilCenter">
	<p class="warning">&nbsp;{TXT_MESSAGE}&nbsp;</p>
</div>
<!-- END pw_message -->
<p>{TXT_ENTER_USERNAME_AND_EMAIL}</p>
<div class="ilStartupSection">
	<form action="{FORMACTION}" {TARGET} method="post" name="Fobject">
	<input type="hidden" name="key" value="{KEY}"/>
	<table class="std">
	  <tr>
		<td class="option" align="right">{TXT_USERNAME}</td>
		<td class="option_value"><input type="text" name="username" value="{USERNAME}"/></td>
	  </tr>
	  <tr>
		<td class="option" align="right">{TXT_EMAIL}</td>
		<td class="option_value"><input type="text" name="email" value="{EMAIL}"/></td>
	  </tr>
	  <tr>
		<td class="submit" colspan="2" align="center"><input class="submit" type="submit" name="cmd[submitAssistanceForm]" value="{TXT_SUBMIT}"/></td>
	  </tr>
	</table>
	</form><br />
	<a class="il_ContainerItemCommand" href="{LINK_BACK}">{BACK}</a>
</div>
