{RELOAD}
<div class="ilFrame" style="margin-top:5px; width:700px; margin-left:auto; margin-right:auto;">
	<div class="ilFrameH">
		<div class="ilFrameTL">
			<div class="ilFrameTR">
				<img src="./templates/default/images/HeaderIcon.png" style="border:0;margin: 20px;" alt="ILIAS Logo" />
				<div class="ilFrameBL"><div class="ilFrameBR" style="min-height: 450px;">
						<div style="padding:35px 10px;">
							<!-- <p class="small">{ILIAS_RELEASE}</p> -->
							<!-- BEGIN warning -->
							<img class="ilFailureMessage" alt="{ALT_IMAGE}" title="{ALT_IMAGE}" src="{SRC_IMAGE}" />
							<div class="ilFailureMessage">
								<h5 class="ilAccHeadingHidden"><a id="il_message_focus" name="il_message_focus">{MESSAGE_HEADING}</a></h5>
								{TXT_MSG_LOGIN_FAILED}
							</div>
							<!-- END warning -->
							<!-- BEGIN success -->
							<img class="ilSuccessMessage" alt="{ALT_IMAGE}" title="{ALT_IMAGE}" src="{SRC_IMAGE}" />
							<div class="ilSuccessMessage">
								<h5 class="ilAccHeadingHidden"><a id="il_message_focus" name="il_message_focus">{MESSAGE_HEADING}</a></h5>
								{TXT_MSG_LOGIN_SUCCESS}
							</div>
							<!-- END success -->
							<!-- BEGIN login_information -->
							<div class="small">{TXT_LOGIN_INFORMATION}</div>
							<!-- END login_information -->
							
							<div align="padding-top: 25px">
								{FORM}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>