<div class="container">
	{MESSAGE}
	<div class="ilMessageBox">
		<!-- BEGIN warning -->
		<img class="ilFailureMessage" alt="{ALT_IMAGE}" title="{ALT_IMAGE}" src="{SRC_IMAGE}" />
		<div class="ilFailureMessage">
			<h5 class="ilAccHeadingHidden"><a id="il_message_focus" name="il_message_focus">{MESSAGE_HEADING}</a></h5>
			{TXT_MSG_LOGIN_FAILED}
		</div>
		<!-- END warning -->
		<!-- BEGIN success -->
		<img class="ilSuccessMessage" alt="{ALT_IMAGE}" title="{ALT_IMAGE}" src="{SRC_IMAGE}" />
		<div class="ilSuccessMessage">
			<h5 class="ilAccHeadingHidden"><a id="il_message_focus" name="il_message_focus">{MESSAGE_HEADING}</a></h5>
			{TXT_MSG_LOGIN_SUCCESS}
		</div>
		<!-- END success -->
	</div>
	{STARTUP_CONTENT}
	<!-- BEGIN links_bl -->
	<div class="ilCenter" style="padding-top: 25px">
		<!-- BEGIN link_item_bl -->
		<a class="il_ContainerItemCommand" href="{LINK_URL}">{LINK_TXT}</a>
		<!-- END link_item_bl -->
	</div>
	<!-- END links_bl -->
</div>
{PRMLINK}
{SCRIPT}