/* Services/UIComponent/Tabs */

.nav-tabs {
	> li {
		margin: 0 $il-padding-xs-horizontal 0 0;
		> a {
			border-radius: 0;
			border: 0 none;
			padding: $il-padding-large-vertical $il-padding-xlarge-horizontal $il-padding-base-vertical;
			font-size: $il-font-size-base;
			margin: 0;
		}
		&.active > a {
			&,
			&:hover,
			&:focus {
				background-color: $il-neutral-color;
				color: white;
				border: 0 none;
			}
		}

	}
}

#ilTab {
	padding: 0;
	margin:  $il-padding-base-vertical $il-margin-xlarge-horizontal $il-padding-base-vertical;
	border: 0 none;
	border-bottom: 2px solid $il-neutral-color;
}

#ilTab a:focus-visible {
	z-index: 3;
}

.ilTabsContentOuter {
	padding: 0;
}

/* Sub Tabs */
#ilSubTab {
	padding: $il-padding-large-vertical 0;
	margin: 0 $il-margin-xlarge-horizontal;

	> li:first-child > a {
		margin-left: $il-padding-xs-horizontal;
	}

	> li {
		> a {
			border-radius: 0;
			padding: $il-padding-base-vertical $il-padding-large-horizontal;
			font-size: ($il-font-size-small);

			&:hover {
				text-decoration: underline;
				background-color: transparent;
			}
		}
		&.active > a {
			&,
			&:hover,
			&:focus {
				color: $il-link-color;
				background-color: transparent;
				text-decoration: underline;
			}
		}
	}
}

.il_after_tabs_spacing {
	margin-bottom: $il-margin-xxlarge-vertical;
}