@use "../../../../020-dependencies/modifications/bootstrap-3-scss/bootstrap-3-scss-modified-variables-mixins" as btstrp3;

//
// Building legacy panel variants from Btstrp3
//

@mixin panel-variant($border, $heading-text-color, $heading-bg-color, $heading-border) {
	border-color: $border;

	&>.panel-heading {
		color: $heading-text-color;
		background-color: $heading-bg-color;
		border-color: $heading-border;

		+.panel-collapse>.panel-body {
			border-top-color: $border;
		}

		.badge {
			color: $heading-bg-color;
			background-color: $heading-text-color;
		}
	}

	&>.panel-footer {
		+.panel-collapse>.panel-body {
			border-bottom-color: $border;
		}
	}
}

/* currently don't seem to look any different from normal panels
.panel-default {
	@include panel-variant(btstrp3.$panel-default-border, btstrp3.$panel-default-text, btstrp3.$panel-default-heading-bg, btstrp3.$panel-default-border);
}

.panel-primary {
	@include panel-variant(btstrp3.$panel-primary-border, btstrp3.$panel-primary-text, btstrp3.$panel-primary-heading-bg, btstrp3.$panel-primary-border);
}
*/