
@use "../../../../010-settings/" as *;

$progress-bar-info-bg: darken($il-main-color, 5%);
$progress-bg: #bbb;

.progress {
	height: 15px;
	min-width: 100px;
	background-color: lighten($il-neutral-color, 55%);
}

.progress-bar {
	font-size: $il-font-size-small;
	line-height: 15px;
	min-width: 50px;
	text-align: center;
	color: $il-main-darker-bg;
}

.progress-bar-success {
	background-color: $il-secondary-color;
}