@use "../../../../010-settings/" as *;
@use "../../../../020-dependencies/modifications/bootstrap-3-scss/bootstrap-3-scss-modified-variables-mixins" as btstrp3;

/* Services/UIComponent/AdvancedSelectionList */

div.il_adv_sel {
	border: 1px solid $il-main-border-color;
    @include btstrp3.box-shadow(2px 2px 4px #c0c0c0);
}

table.il_adv_sel {
	color: $il-text-color;
	background-color: $il-main-bg;
	border-spacing: 0;
	cursor: pointer;
}

tr.il_adv_sel {
	cursor: pointer;
}

tr.il_adv_sel_act {
	background-color: #fff9bc;
	cursor: pointer;
}

td.il_adv_sel {
	border-bottom: 1px solid $il-main-border-color;
	padding: 3px 10px;
	text-align: left;
	white-space: nowrap;
	cursor: pointer;
	font-weight: $il-font-weight-base;
}

#ilAdvSelListTable_item_creation td.il_adv_sel {
	min-width: 150px;
}

td.il_adv_sel_ic {
	border-bottom: 1px solid $il-main-border-color;
	padding: 3px 0 3px 10px;
	text-align: left;
	cursor: pointer;
}

td.ilAsyncImgLoader {
	padding: 0 40px;
}

span[id^="ilAdvSelListAnchorElement_"] + div {
	position: absolute;
	z-index: 5000;
	left: 0;
	right: 0;
}

div[id^="ilAdvSelListTable_"] {
	overflow: auto;
	background-color: $il-main-bg;
	clear: both;
	display: none;
	position: absolute;
}

//mantis #0017724, 17884, #17943
#ilAdvSelListAnchorText_asl + ul.dropdown-menu > li > div.row,
#ilAdvSelListAnchorText_asl + .dropdown-backdrop + ul.dropdown-menu > li > div.row,
#mm_adm_tr + span + ul.dropdown-menu > li > div.row,
#mm_adm_tr + ul.dropdown-menu > li > div.row {
	@media only screen and (min-width: btstrp3.$screen-lg-min) {
		.row{
			width: auto;
		}
		ul{
			min-width: 250px;
		}
	}
	@media only screen and (max-width: $il-grid-float-breakpoint-max) {
		width: 100% !important;
		margin: 0;
	}
}
#ilAdvSelListAnchorText_asl + ul.dropdown-menu > li > div.row
{
	@media only screen and (max-width: btstrp3.$screen-md-min){
		min-width: 260px;
	}
	@media only screen and (min-width: btstrp3.$screen-md-min) and (max-width: btstrp3.$screen-lg-min){
		min-width: 520px;
	}
	@media only screen and (min-width: btstrp3.$screen-lg-min) {
		min-width: 780px;
	}
}
#ilAdvSelListAnchorText_asl + ul.dropdown-menu {
	@media only screen and (max-width: btstrp3.$screen-sm-min) {
		position: absolute;
		background-color: $il-main-bg;
	}
}

div.ilNewObjectSelector {
	display: block;
	text-align: right;
	margin-bottom: 8px;
	padding: 0;
	width: 100%;
	> .btn-group.open {
		display: inline-block;
		width: 100%;
		#ilAdvSelListAnchorText_asl {
			float: right;
		}
		#ilAdvSelListAnchorText_asl + .dropdown-menu {
			top: 30px;
			right: 0;
			left: auto;
			.dropdown-header{
				margin-right:1px;
			}
		}
	}
}

#il-add-new-item-gl {
	h2, a {
		white-space: break-spaces;
	}
}