<div>
	{STATUSLINE}
	<form action="{FORMACTION}" {TARGET} method="post">
	<div class="il_Header" style="margin:20px 0px;">
		<div style="float:right;">
			<input type="hidden" name="cmd" value="">
			<select name="change_lang_to" onChange="this.form.submit()">
				<option value="">{TXT_CHOOSE_LANGUAGE}</option>
				<!-- BEGIN languages -->
				<option value="{LANG_ICON}" {SELECTED_LANG}>{LANG_NAME}</option>
				<!-- END languages -->
			</select>
			<input class="submit" type="submit" value="{TXT_OK}"/>
		</div>
	<h1>{TXT_PAGEHEADLINE}</h1>
	</div>
	</form>
	<p>{TXT_WELCOME}</p>
	{MESSAGE}
	{FORM}
</div>
