<table class="ilContainerBlock">
<!-- BEGIN container_row -->
<!-- BEGIN container_header_row_image -->
<tr>
<th class="ilContainerBlockHeader">
<img border="0" alt="{HEADER_ALT}" title="{HEADER_ALT}" src="{HEADER_IMG}" />
<h3 class="ilContainerBlockHeader">{BLOCK_HEADER_CONTENT}</h3></th>
</tr>
<!-- END container_header_row_image -->
<!-- BEGIN container_header_row -->
<tr>
<th class="ilContainerBlockHeader" style="padding:3px;"><h3 class="ilContainerBlockHeader">{BLOCK_HEADER_CONTENT}</h3></th>
</tr>
<!-- END container_header_row -->
<!-- BEGIN container_standard_row -->
<!-- BEGIN row_type_1 -->
<tr class="ilCLIRow1" {ROW_ID}>
<!-- END row_type_1 -->
<!-- BEGIN row_type_2 -->
<tr class="ilCLIRow2" {ROW_ID}>
<!-- END row_type_2 -->
<td class="ilCLI">{BLOCK_ROW_CONTENT}</td>
</tr>
<!-- END container_standard_row -->
<!-- BEGIN separator_row -->
<!-- BEGIN container_details_row -->
<tr class="tblfooter">
	<td class="tblfooter" colspan="1">
		<div style="float: right;" class="il_BlockInfo">{TXT_DETAILS}: 
			<!-- BEGIN details_img -->
			<a href="{DETAILS_LINK}"><img src="{DETAILS_SRC}" alt="{DETAILS_ALT}" title="{DETAILS_ALT}" /></a> 
			<!-- END details_img -->
		</div>
	</td>
</tr>
<!-- END container_details_row -->
</table>
<br />
<table class="ilContainerBlock">
<!-- END separator_row -->
<!-- END container_row -->
</table>