<tr class="{CSS_ROW}">  	
	<td class="std">
  		{VAL_NR}
	</td>
	<td class="std">
  		{TXT_TITLE}
		<!-- BEGIN title_manual -->
		<img src="{TYPE_IMG}" alt="{TYPE_ALT}" /> <a href="{TITLE_MANUAL_LINK}">{VAL_TITLE_MANUAL}</a>
		<!-- END title_manual -->
	</td>
	<td class="std">
		<img src="{IMG_STATUS}" alt="{TXT_STATUS}" title="{TXT_STATUS}" />
	</td>
	<td class="std">
  		<!-- BEGIN link -->
		<a class="il_ContainerItemCommand" href="{LINK_HREF}">{LINK_NAME}</a>
		<!-- END link -->
	</td>
</tr>