<div class="ilFloatRight">
<!-- BEGIN item_progress -->
<div style="text-align: right;">{TXT_PROGRESS_INFO}: <img src="{PROGRESS_TYPE_IMG}" alt="{PROGRESS_ALT_IMG}" title="{PROGRESS_ALT_IMG}" border="0" /></div>
<!-- END item_progress -->
<div class="il_ContainerItemCommands2 ilFloatRight">
<!--  <!-- BEGIN item_command -->
<a class="il_ContainerItemCommand2" href="{HREF_COMMAND}" <!-- BEGIN item_frame -->target="{TARGET_COMMAND}"<!-- END item_frame --> >{TXT_COMMAND}</a>
<!-- END item_command --> -->
{COMMAND_SELECTION_LIST}
</div>
<!-- BEGIN payment -->
<div style="width: 22px;" class="ilFloatRight"><img src="{PAYMENT_TYPE_IMG}" alt="{PAYMENT_ALT_IMG}" title="{PAYMENT_ALT_IMG}" /></div>
<!-- END payment -->
</div>

