//
//== Settings
//

// The linked files contains globally used variables set by ILIAS.
// These variables MUST be only the ones absolutely needed to quickly recolor and reshape ILIAS.
// Bootstrap variables MUST be overridden in the Dependency layer.

@forward "./settings_color-palette";
@forward "./settings_typography";
@forward "./settings_borders";
@forward "./settings_button";
@forward "./settings_footer"; 
@forward "./settings_header";
@forward "./settings_layout";
@forward "./settings_media";