@use "../050-layout/layout_breakpoints" as *;

$il-grid-float-breakpoint-max: $screen-sm-max !default; //Note if changed, breakpoint_max_width in src/UI/templates/js/Page/stdpage.js must also be adapted
$il-grid-float-breakpoint:  $screen-sm-min !default;
$il-toolbar-height: 40px !default;