@use "./_settings_color-palette.scss" as s-color;
@use "./_settings_typography.scss" as s-typo;

//== Buttons
//

//** Size of the font displayed inside a button
$il-button-font-size: s-typo.$il-font-size-small;

//** Text color of the standard button (most button instances)
$il-btn-standard-color: white;
//** Background color of the standard button (most button instances)
$il-btn-standard-bg: s-color.$il-main-color;
//** Border color of the standard button (most button instances)
$il-btn-standard-border: s-color.$il-main-color;

//** Text color of the primary button (most important button on the screen)
$il-btn-primary-color: white;
//** Background color of the primary button (most important button on the screen)
$il-btn-primary-bg: darken(s-color.$il-secondary-color, 10%);
//** Border color of the primary button (most important button on the screen)
$il-btn-primary-border: darken(s-color.$il-secondary-color, 10%);