//** Base Border Color, e.g. applied to Meta Bar and Breadcrumbs in Default.
$il-main-border-color: #dddddd;
//** Darker version of Base Border Color. Used as e.g. Text Inputs.
$il-main-border-dark-color: #757575;

$il-border-radius-base: 0px;
$il-border-radius-large: 0px;
$il-border-radius-small: 0px;