@use "./settings_color-palette" as s;

$il-mainbar-btn-color: s.$il-main-bg !default;
$il-mainbar-btn-bg-color: s.$il-neutral-color !default;

$il-mainbar-btn-color-hover: s.$il-neutral-color !default;
$il-mainbar-btn-bg-color-hover: s.$il-main-bg !default;

$il-mainbar-btn-color-engaged: s.$il-neutral-color !default;
$il-mainbar-btn-bg-color-engaged: s.$il-main-bg !default;

$il-mainbar-btn-icon-filter: brightness(0) invert(1) !default;
$il-mainbar-btn-hover-icon-filter: invert(50%) !default;
$il-mainbar-btn-engaged-icon-filter: invert(50%) !default;
