//** Base Border Color, e.g. applied to Meta Bar and Breadcrumbs in Default.
$il-main-border-color: #dddddd !default;
//** Darker version of Base Border Color. Used as e.g. Text Inputs.
$il-main-border-dark-color: #757575 !default;
$il-main-border: 1px solid $il-main-border-color !default;
//** Border Radius for giving the whole skin a rounded look
$il-border-radius-base: 0px !default;
$il-border-radius-large: 0px !default;
$il-border-radius-small: 0px !default;
//** Border Radius for sub-elements that are rounded to stand out from the default (like tags).
$il-border-radius-secondary-base: 4px !default;
$il-border-radius-secondary-large: 6px !default;
$il-border-radius-secondary-small: 3px !default;