<div class="ilTableOuter">
	<div class="table-responsive">
		<table class="table table-striped fullwidth" id="{ID}" datatable="1">
			<thead></thead>
			<tbody>
			<tr style="font-size: 75%" class="tblrow{ROW_INDEX}">
				<td class="std" style="vertical-align: top" width="1px">
					<input name="template_perm[orgu][]" id="template_perm_orgu_92" value="92" type="checkbox">
				</td>
				<td class="std" width="100%">
					<label for="template_perm_orgu_92"><font>View Learning Progress: View Learning Progress</font></label>
				</td>
			</tr>
			<tr style="font-size: 75%" class="tblrow2">
				<td class="std" style="vertical-align: top" width="1px">
					<input name="template_perm[orgu][]" id="template_perm_orgu_93" value="93" type="checkbox">
				</td>
				<td class="std" width="100%">
					<label for="template_perm_orgu_93"><font>View Learning Progress of Unit incl. Subunits: View Learning Progress of Unit incl. Subunits</font></label>
				</td>
			</tr>
			<tr style="font-size: 75%" class="tblrow1">
				<td class="std" style="vertical-align: top" width="1px">
					<input name="template_perm[orgu][]" id="template_perm_orgu_2" value="2" type="checkbox">
				</td>
				<td class="std" width="100%">
					<label for="template_perm_orgu_2"><font>Visible: Organisational Unit is visible</font></label>
				</td>
			</tr>
			<tr style="font-size: 75%" class="tblrow2">
				<td class="std" style="vertical-align: top" width="1px">
					<input name="template_perm[orgu][]" id="template_perm_orgu_3" value="3" type="checkbox">
				</td>
				<td class="std" width="100%">
					<label for="template_perm_orgu_3"><font>Read: User has read access to Organisational Unit</font></label>
				</td>
			</tr>
			<tr style="font-size: 75%" class="tblrow1">
				<td class="std" style="vertical-align: top" width="1px">
					<input name="template_perm[orgu][]" id="template_perm_orgu_58" value="58" type="checkbox">
				</td>
				<td class="std" width="100%">
					<label for="template_perm_orgu_58"><font>Copy: Copy Organisational Unit</font></label>
				</td>
			</tr>
			<tr style="font-size: 75%" class="tblrow2">
				<td class="std" style="vertical-align: top" width="1px">
					<input name="template_perm[orgu][]" id="template_perm_orgu_4" value="4" type="checkbox">
				</td>
				<td class="std" width="100%">
					<label for="template_perm_orgu_4"><font>Edit Settings: User can edit settings of Organisational Unit</font></label>
				</td>
			</tr>
			<tr style="font-size: 75%" class="tblrow1">
				<td class="std" style="vertical-align: top" width="1px">
					<input name="template_perm[orgu][]" id="template_perm_orgu_48" value="48" type="checkbox">
				</td>
				<td class="std" width="100%">
					<label for="template_perm_orgu_48"><font>Read Access to User Accounts: User can read local user accounts created in this Organisational Unit</font></label>
				</td>
			</tr>
			<tr style="font-size: 75%" class="tblrow2">
				<td class="std" style="vertical-align: top" width="1px">
					<input name="template_perm[orgu][]" id="template_perm_orgu_47" value="47" type="checkbox">
				</td>
				<td class="std" width="100%">
					<label for="template_perm_orgu_47"><font>Administrate Local User Accounts: User can create and administrate local user accounts in this Organisational Unit</font></label>
				</td>
			</tr>
			<tr style="font-size: 75%" class="tblrow1">
				<td class="std" style="vertical-align: top" width="1px">
					<input name="template_perm[orgu][]" id="template_perm_orgu_6" value="6" type="checkbox">
				</td>
				<td class="std" width="100%">
					<label for="template_perm_orgu_6"><font>Delete: User can move or delete Organisational Unit</font></label>
				</td>
			</tr>
			<tr style="font-size: 75%" class="tblrow2">
				<td class="std" style="vertical-align: top" width="1px">
					<input name="template_perm[orgu][]" id="template_perm_orgu_1" value="1" type="checkbox">
				</td>
				<td class="std" width="100%">
					<label for="template_perm_orgu_1"><font>Change Permissions: User can change permission settings</font></label>
				</td>
			</tr>
			<tr style="font-size: 75%" class="tblrow1">
				<td class="std" style="vertical-align: top" width="1px">
					<input name="template_perm[orgu][]" id="template_perm_orgu_91" value="91" type="checkbox">
				</td>
				<td class="std" width="100%">
					<label for="template_perm_orgu_91"><font>Create Organisational Units</font></label>
				</td>
			</tr>
			<tr style="font-size: 75%" class="tblrow2">
				<td class="std" style="vertical-align: top" width="1px">
					<input name="recursive_list[]" id="ce_orgu" value="orgu" type="checkbox">
				</td>
				<td class="std">
					<label for="ce_orgu" title="This will also change the permissions of already existing objects of that type"><font class="bold">Change Existing Organisational Units &nbsp;</font></label>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="ilTableSelectAll">
		<input name="chb_select_all_6f13444628c5bf3b64c8b1faa77fc6c1" id="chb_select_all_6f13444628c5bf3b64c8b1faa77fc6c1" value="1" onclick="il.Util.setChecked('role_template_permissions', 'template_perm[orgu]', document.forms['role_template_permissions'].elements['chb_select_all_6f13444628c5bf3b64c8b1faa77fc6c1'].checked);" type="checkbox">
		<label for="chb_select_all_6f13444628c5bf3b64c8b1faa77fc6c1">Select All</label>
	</div>
</div>