/* Modules/Excercise */

.ilExcAssignmentBody {
	padding: 20px;
	/* background-color: lighten(@body-bg, 2%); */
}

.ilExcAssignmentHead img {
	display: block;
	float: left;
}

.ilExcAssignmentHead h3 {
	padding: 0;
	margin: 4px 0 0 25px;
	font-size: floor(@font-size-base*1.2);
}

.ilExcAssignmentHead > div {
	margin: 4px 0 0 25px;
	font-size: floor(@font-size-base*0.9);
}