//** breadcrumbs
$il-standard-page-breadcrumbs-height: 33px;
$il-standard-page-breadcrumbs-seperator: " \e606";
$il-standard-page-breadcrumbs-bg-color: $il-main-bg;
$il-standard-page-breadcrumbs-color: $il-link-color;
$il-standard-page-breadcrumbs-active-color: $il-link-hover-color;
$il-standard-page-breadcrumbs-divider-color: $il-neutral-light-color;
$il-standard-page-breadcrumbs-font-weight: $il-font-weight-bold;

.breadcrumb_wrapper {
	width: 100%;
	display: inline-grid;
	background: $il-standard-page-breadcrumbs-bg-color;

	.breadcrumb {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		direction: rtl;
		text-align: left;
		margin: 0;
		font-weight: $il-standard-page-breadcrumbs-font-weight;
		font-size: $il-font-size-small;
		padding: ($il-padding-small-vertical * 2);
		padding-left: $il-standard-page-content-padding;

		span.crumb a {
			color: $il-standard-page-breadcrumbs-color;
			&:hover {
				color: $il-standard-page-breadcrumbs-active-color;
			}
			&:focus {
				border: $il-focus-outline-inner;
				
				&::after {
					content: none;
				}
			}
		}

		&>span+span:before {
			content: $il-standard-page-breadcrumbs-seperator;
			color: $il-standard-page-breadcrumbs-divider-color;
			padding: 8px 10px;
			font-family: "il-icons";
		}
	}

}

// This part is for legacy dropdowns, visible e.g. in the repository listing or session materials
// Note they have a bootstrap dep.

//== Navs
//== Breadcrumbs
//
//##

//** Breadcrumb margin
$il-breadcrumb-margin-top: .8em;
$il-breadcrumb-margin-right: 0;
$il-breadcrumb-margin-bottom: $il-line-height-computed;
$il-breadcrumb-margin-left: 0;
$il-breadcrumb-resp-margin-top: 0;
$il-breadcrumb-resp-margin-right: 0;
$il-breadcrumb-resp-margin-bottom: 0;
$il-breadcrumb-resp-margin-left: 0;
//** Breadcrumb padding
$breadcrumb-padding-vertical:   0;
$breadcrumb-padding-horizontal: 15px;
$il-breadcrumb-resp-padding-vertical: 0;
$il-breadcrumb-resp-padding-horizontal: 5px;
//** Breadcrumb background color
$breadcrumb-bg:                 transparent;
//** Breadcrumb text color
$breadcrumb-color:               $il-link-color;
//** Text color of current page in the breadcrumb
$breadcrumb-active-color:        $il-link-hover-color;
//** font-weight of breadcrumbs
$breadcrumb-font-weight:        $il-font-weight-bold;
//** Textual separator for between breadcrumb elements
$breadcrumb-separator:          " \e606";


/* Breadcrumb */

.breadcrumb {
	margin: $il-breadcrumb-margin-top $il-breadcrumb-margin-right $il-breadcrumb-margin-bottom $il-breadcrumb-margin-left;
	font-size: $il-font-size-small;

	> li + li:before {
		font-family: 'il-icons';
	}

	@media only screen and (max-width: $grid-float-breakpoint-max) {
		margin: $il-breadcrumb-resp-margin-top $il-breadcrumb-resp-margin-right $il-breadcrumb-resp-margin-bottom $il-breadcrumb-resp-margin-left;
		padding: $il-breadcrumb-resp-padding-vertical $il-breadcrumb-resp-padding-horizontal;
	}
}
