span.ilNewsRssIcon {
	background-color: @badge-bg;
	color: @badge-color;
	min-width: 36px;
	font-size: 10px;
	text-align: center;
	display: inline-block;
	padding: 0px 5px;
}

span.ilNewsRssIcon:hover {
	text-decoration: none;
	background-color: darken(@badge-bg, 10%);
}