<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
	"http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>{WINDOW_TITLE} {PAGETITLE}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{LOCATION_STYLESHEET}" />
	<!-- BEGIN js_file -->
	<script type="text/javascript" src="{JS_FILE}"></script>
	<!-- END js_file -->
</head>
<body class="il_Explorer">
<div class="ilExplorerFrame">
<table class="ilExplorer" cellspacing="0" cellpadding="0" border="0"s><tr><td class="ilExpH">
<div class="ilExpH">
<h1 class="ilExplorerHead">{TXT_EXPLORER_HEADER}</h1>
</div>
</td></tr><tr><td class="ilExpBody">
<div class="il_Explorer">
{EXPLORER}
</div>
</td></tr></table>
</div>
</body>
</html>