@use "../../../010-settings/" as *;
@use "../../../050-layout/basics" as *;

.c-transfer {
  display: flex;
  flex-direction: column;
  gap: $il-padding-small-vertical;

  &__contents {
    display: flex;
    align-items: center;
    gap: 0;
  }

  &__payload {
    flex: 0 1 auto;
    // align margin with buttons rendered for each transfer mechanism,
    // so spacing looks evenly distributed on one line in the end:
    margin: 0 ($il-margin-small-horizontal / 2) 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // make modals shrink-wrap to the qr-code image size.
  .modal-dialog {
    max-width: fit-content;
  }
}
