 /*
 this is an abomination for release_8! 
 proper "kiosk-handling" is _very_ much encouraged for 9.
 */

body .il-layout-page {
    grid-template-rows: auto 0px 1fr !important;
}
body header .header-inner {
    display:none !important;
}