@page { size: auto;
        margin-top: 1cm;
        margin-bottom:1cm;
        margin-left: 1cm;
        margin-right:1cm
}

body {
	color : black; 
	background : white; 
	font-family : Tahoma, Helvetica, sans-serif; 
	font-size : 10pt; 
}

.noprint, .il_Locator, .tabinactive, .tabactive, .il_Footer, .il_Header, .ilMainHeader, .il_SubTab, .submit, .il_ContainerItemCommand {
	visibility: hidden;
	display: none;
}

.il_Header {
	border: 0px white none;
	margin: 0;
	padding: 0;
}

#form_test, #legend, #dontprint, #imgtop, #imgtree, #headerimage, .form_test, .legend, .dontprint, .imgtop, .imgtree, .headerimage {
	visibility: hidden;
	display: none;
}

input[type="submit"], input[type="button"] {
	visibility: hidden;
	display: none;
}

.fullwidth {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
	border: 1px solid gray;
}

.fullwidth_nowrap {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
	border: 1px solid gray;
}

.tblheader {
	border-collapse: collapse;
	border-spacing: 0px;
	border: 1px solid double gray;
	font-weight: bold;
	vertical-align: top;
}

.std {
	border-collapse: collapse;
	border-spacing: 0px;
	border: 1px solid gray;
	vertical-align: top;
}

.tblrow1 {
	background: #EEEEEE;
	border-collapse: collapse;
	border-spacing: 0px;
	border: 1px solid gray;
	vertical-align: top;
}

.tblrow2 {
	background: #cccccc;
	border-collapse: collapse;
	border-spacing: 0px;
	border: 1px solid gray;
	vertical-align: top;
}

.tblrowmarked {
	background: #bbbbbb;
	border-collapse: collapse;
	border-spacing: 0px;
	border: 1px solid gray;
	vertical-align: top;
}

.tblrow1top {
	background: #EEEEEE;
	border-collapse: collapse;
	border-spacing: 0px;
	border: 1px solid gray;
	vertical-align: top;
}

.tblrow2top {
	background: #cccccc;
	border-collapse: collapse;
	border-spacing: 0px;
	border: 1px solid gray;
	vertical-align: top;
}

h2 {
	border: 1px dashed gray;
}

.option {
	font-weight: bold;
	vertical-align: top;
}

h1 {
	text-decoration: none;
	font-weight: bold;
}

h2 {
	text-decoration: none;
	font-weight: bold;
}

h3 {
	text-decoration: none;
	font-weight: bold;
}

tr {
	border: 0px;
}

td {
	border: 0px;
	vertical-align: top;
}

.option_value {
	font-weight: normal;
	vertical-align: top;
}

hr {
	border: 1px double gray;
}

.questionTitle {
	border-bottom: 1px solid black;
	padding: 2px;	
	background-color: #DDDDDD;
}


div.ilc_Question {
	padding-top: 5px;	
	padding-bottom: 5px;	
	padding-left: 2px;
	border: none;
	page-break-inside: avoid;
}

td.freefield_line {
	text-align: left;
	vertical-align: bottom;
	font-size : 8pt; 
	border-bottom: 1px solid black;
}

table.freefield_bottom {
	padding-top: 5em;
}

.print {
	visibility: visible;
}

.clearfix:after 
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

div.ilMainHeader {
	display: none;
}

#fixed_content {
	top: 0;
	position: static;
}

.ilAdminRow {
	display: none;
}