<tr class="{CSS_ROW}">
	<td class="std" style="vertical-align: top">{ORDER}</td>
	<td class="std" style="vertical-align: top"><a href="{HREF}">{TITLE}</a><!-- BEGIN description --> <span class="question_description">({DESCRIPTION})</span<!-- END description --></td>
	<td class="std" style="vertical-align: top">{POSTPONED}</td>
<!-- BEGIN points -->	
	<td class="std" style="vertical-align: top">{POINTS}</td>
<!-- END points -->	
	<td class="std" style="vertical-align: top"><img src="{HREF_WORKED_THROUGH}" alt="{WORKED_THROUGH}" /></td>
<!-- BEGIN marker -->	
	<td class="std" style="vertical-align: top"><!-- BEGIN marked_img --><img src="{HREF_MARKED}" alt="{ALT_MARKED}" /><!-- END marked_img --></td>
<!-- END marker -->
</tr>