<form name="formManualScoring" action="{FORMACTION}" method="post">
<table class="fullwidth">
	<tr class="std">
		<td class="submit">
			<div id="filterpanel">
				<select name="userfilter" id="userfilter" class="{FILTER_CLASS_USERFILTER}" onchange="javascript:document.formManualScoring.submit();">
					<option value="0">{SELECT_USERFILTER}</option>
<!-- BEGIN userfilter -->
					<option value="{VALUE_USERFILTER}"{SELECTED_USERFILTER}>{TEXT_USERFILTER}</option>
<!-- END userfilter -->
				</select>
				<select name="participants" id="participants" class="{FILTER_CLASS}" onchange="javascript:document.formManualScoring.submit();">
					<option value="0">{PLEASE_SELECT}</option>
<!-- BEGIN participants -->
					<option value="{ID_PARTICIPANT}"{SELECTED_PARTICIPANT}>{TEXT_PARTICIPANT}</option>
<!-- END participants -->
				</select>
				<input type="submit" class="submit" name="cmd[scoringfilter]" value="{BUTTON_SELECT}" />
				<input type="submit" class="submit" name="cmd[scoringfilterreset]" value="{BUTTON_RESET}" />
			</div>
		</td>
	</tr>
</table>
</form>
<div style="padding-top: 1em;">{PASS_OVERVIEW}</div>
{SCORING_DATA}
<!-- BEGIN lastchanged -->
<script type="text/javascript">
	window.location = "#form{LAST_CHANGED}";
</script>
<!-- END lastchanged -->
<script type="text/javascript">
	function togglebutton(e, obj)
	{
		if (YAHOO.util.Dom.hasClass(obj, 'yes'))
		{
			YAHOO.util.Dom.removeClass(obj, 'yes');
			next = YAHOO.util.Dom.getNextSibling(obj);
			if (next != null)
			{
				YAHOO.util.Dom.setStyle(next, 'display', 'block');
			}
		}
		else
		{
			YAHOO.util.Dom.addClass(obj, 'yes');
			next = YAHOO.util.Dom.getNextSibling(obj);
			if (next != null)
			{
				YAHOO.util.Dom.setStyle(next, 'display', 'none');
			}
		}
	}
	
	function togglehandler()
	{
		toggles = YAHOO.util.Dom.getElementsByClassName("toggle-button");
		for (i = 0; i < toggles.length; i++)
		{
			YAHOO.util.Dom.removeClass(toggles[i], 'off');
			YAHOO.util.Event.addListener(toggles[i], 'click', togglebutton, toggles[i]);
			next = YAHOO.util.Dom.getNextSibling(toggles[i]);
			if (next != null)
			{
				YAHOO.util.Dom.setStyle(next, 'display', 'none');
			}
		}
	}

	YAHOO.util.Event.onDOMReady(togglehandler); 
</script>
