<!-- BEGIN kiosk_options -->
<div id="kioskOptions">
<div id="kioskTestTitle">
<!-- BEGIN kiosk_show_title -->
{TEST_TITLE}
<!-- END kiosk_show_title -->
</div>
<div id="kioskParticipant">
<!-- BEGIN kiosk_show_participant -->
{PARTICIPANT_NAME}
<!-- END kiosk_show_participant -->
</div>
</div>
<!-- END kiosk_options -->
<!-- BEGIN enableprocessingtime -->
<div id="workingtime"><span id="userworkingtime">{USER_WORKING_TIME}</span><span id="timeleft">{USER_REMAINING_TIME}</span></div>
<!-- END enableprocessingtime -->
<form id="taForm" name="test_output" method="post" style="clear: both;" action="{FORMACTION}"<!-- BEGIN onsubmit --> onsubmit="{ON_SUBMIT}"<!-- END onsubmit -->>
<input type="hidden" name="formtimestamp" value="{FORM_TIMESTAMP}" />
<table class="fullwidth_invisible">
		<tr>
			<td>
<!-- BEGIN question_status -->
<!-- BEGIN ismarked -->
	<div><small>{TEXT_QUESTION_STATUS_LABEL}</small> <img src="{MARKED_SOURCE}" alt="{ALT_MARKED}" title="{TITLE_MARKED}" /> <input name="cmd[resetmarked]" type="submit" class="submit" value="{TEXT_RESET_MARK}" /></div>
<!-- END ismarked -->
<!-- BEGIN isnotmarked -->
	<div><input type="submit" class="submit" name="cmd[setmarked]" value="{TEXT_MARK_QUESTION}" /></div>
<!-- END isnotmarked -->
<!-- END question_status -->
			</td>
			<td style="text-align: right;">
<!-- BEGIN cancel_test -->
				<a href="{HREF_CANCELTEXT}">{TEXT_CANCELTEST}</a>&nbsp;<a href="{HREF_IMGCANCELTEST}"><img align="middle" alt="{TEXT_ALTCANCELTEXT}" title="{TEXT_TITLECANCELTEXT}" src="{IMAGE_CANCEL}" border="0" /></a>
<!-- END cancel_test -->
			</td>
		</tr>
</table>
<table class="fullwidth">
	<tr>
	<td align="left" width="33%" class="submit">
<!-- BEGIN prev -->
		<input type="submit" class="submit" name="cmd[previous]" value="{BTN_PREV}" id="prevbutton" />
<!-- END prev -->
	</td>
	<td align="left" width="1" class="submit">
<!-- BEGIN summary -->
		<input type="submit" class="submit" name="cmd[summary]" value="{BTN_SUMMARY}" id="summarybutton" />
<!-- END summary -->
	</td>
	<td align="right" width="33%" class="submit">
<!-- BEGIN postpone -->
	<input type="submit" class="submit" name="cmd[postpone]" value="{BTN_POSTPONE}" id="postponebutton" />
	&nbsp;&nbsp;
<!-- END postpone -->
<!-- BEGIN next -->
	<input type="submit" class="submit" name="cmd[next]" value="{BTN_NEXT}" id="nextbutton" />
<!-- END next -->
	</td>
	</tr>
</table>
<!-- BEGIN closeform --></form><!-- END closeform -->
<table class="fullwidth">
	<tr class="std">
		<td class="ilc_Page">
			<div class="ilc_Page" id="ilc_Page">
				<div id="javascript_switch" style="z-index: 10; float: right; display: none;"><a href="{JAVASCRIPT_URL}"><img src="{JAVASCRIPT_IMAGE}" alt="{JAVASCRIPT_IMAGE_ALT}" title="{JAVASCRIPT_IMAGE_TITLE}" /></a></div>
				{QUESTION_OUTPUT}
			</div>
<!-- BEGIN direct_feedback --><div align="center"><input type="submit" class="submit" name="cmd[directfeedback]" id="directfeedback" value="{TEXT_DIRECT_FEEDBACK}" /></div><!-- END direct_feedback -->
<!-- BEGIN answer_feedback -->
<p>{ANSWER_FEEDBACK}</p>
<!-- END answer_feedback -->
<!-- BEGIN solution_output -->
<!-- BEGIN solution_output_details -->
<p><strong>{CORRECT_SOLUTION}</strong>:</p>
<div class="ilc_Page" id="ilc_Page">
{QUESTION_FEEDBACK}
</div>
<!-- END solution_output_details -->
<p>{RECEIVED_POINTS_INFORMATION}</p>
<!-- END solution_output -->
		</td>
	</tr>
</table>
<form name="test_output_bottom" method="post" action="{FORMACTION}">
<!-- BEGIN navigation_bottom -->
<table class="fullwidth">
	<tr>
		<td align="left" width="33%" class="submit">
<!-- BEGIN prev_bottom -->
			<input type="submit" class="submit" name="cmd[previous]" value="{BTN_PREV}" id="bottomprevbutton" />
<!-- END prev_bottom -->
		</td>
		<td align="left" width="1" class="submit">
<!-- BEGIN summary_bottom  -->
			<input type="submit" class="submit" name="cmd[summary]" value="{BTN_SUMMARY}" id="bottomsummarybutton" />
<!-- END summary_bottom -->
		</td>
		<td align="right" width="33%" class="submit">
<!-- BEGIN postpone_bottom -->
			<input type="submit" class="submit" name="cmd[postpone]" value="{BTN_POSTPONE}" id="bottompostponebutton" />
			&nbsp;&nbsp;
<!-- END postpone_bottom -->
<!-- BEGIN next_bottom -->
			<input type="submit" class="submit" name="cmd[next]" value="{BTN_NEXT}" id="bottomnextbutton" />
<!-- END next_bottom -->
		</td>
	</tr>
</table>
<!-- END navigation_bottom -->
<p></p>
<input type="hidden" name="formtimestamp" value="{FORM_TIMESTAMP}" />
</form>
<!-- BEGIN js_initialize -->
{JS_INITIALIZE}
<!-- END js_initialize -->
<!-- BEGIN jsswitch -->
<script type="text/javascript" charset="utf-8">
	var jsswitch = document.getElementById("javascript_switch");
	if (jsswitch != null)
	{
		jsswitch.style.display = "block";
	}
</script>
<!-- END jsswitch -->
<script type="text/javascript" charset="utf-8">
	function saveformOnTimeReached()
	{
		autosave('{AUTOSAVE_URL}');
	}
	function saveTextarea(editor)
	{
		document.forms["taForm"].submit();
	}
	function charCounter(e)
	{
		if(e.type == 'keyup')
		{
			content = tinyMCE.selectedInstance.getDoc().body.innerHTML;
			content = content.replace(/&lt;/ig, "<");
			content = content.replace(/&gt;/ig, ">");
			stripped = content.replace(/(<([^>]+)>)/ig,"");
			counterblock = YAHOO.util.Dom.get("charcounter");
			if (counterblock != null)
			{
				counterblock.style.visibility = 'visible';
				counter = YAHOO.util.Dom.get("myCounter");
				if (maxL > 0) counter.value = maxL - stripped.length;
			}
			
		}
	}
	
	function initCharCounter()
	{
		content = YAHOO.util.Dom.get("TEXT").innerHTML;
		content = content.replace(/&lt;/ig, "<");
		content = content.replace(/&gt;/ig, ">");
		stripped = content.replace(/(<([^>]+)>)/ig,"");
		counterblock = YAHOO.util.Dom.get("charcounter");
		if (counterblock != null)
		{
			counterblock.style.visibility = 'visible';
			counter = YAHOO.util.Dom.get("myCounter");
			if (maxL > 0) counter.value = maxL - stripped.length;
		}
	}
	
	YAHOO.util.Event.onDOMReady(initCharCounter);
</script>
<div id="autosavemessage" style="font-style: italic; border: 1px #666 solid; background-color: #ffffe0; position: fixed; right: 0; top: 0;"></div>
