<tr class="{CSS_ROW}">
	<td class="std" style="vertical-align: top">
		<input type="checkbox" name="q_id[]" value="{QUESTION_ID}" id="cb_{QUESTION_ID}" {VAL_CHECKED} />
	</td>
	<td class="std" style="vertical-align: top">{QUESTION_TITLE}</td>
	<td class="std" style="vertical-align: top"><table border="0"><tr><td width="20">{BUTTON_UP}</td><td width="20">{BUTTON_DOWN}</td></tr></table></td>
	<td class="std" style="vertical-align: top">{QUESTION_COMMENT}</td>
	<td class="std" style="vertical-align: top">{QUESTION_TYPE}</td>
	<td class="std" style="vertical-align: top">{QUESTION_POINTS}</td>
	<td class="std" style="vertical-align: top">{QUESTION_AUTHOR}</td>
	<td class="std" style="vertical-align: top">{QUESTION_POOL}</td>
</tr>