<form id="taForm" name="test_output" method="post" style="clear: both;" {ENCTYPE} action="{FORMACTION}"<!-- BEGIN onsubmit --> onsubmit="{ON_SUBMIT}"<!-- END onsubmit -->>
<input type="hidden" name="formtimestamp" value="{FORM_TIMESTAMP}" />
<table class="fullwidth_invisible">
		<tr>
			<td>
<!-- BEGIN view_sidelist -->
	<input type="image" name="cmd[togglesidelist][list]" src="{IMAGE_SIDELIST}" title="{TEXT_SIDELIST}" />
<!-- END view_sidelist -->
<!-- BEGIN question_status -->
<!-- BEGIN ismarked -->
	<input type="image" name="cmd[resetmarked][mark]" src="{IMAGE_SET}" title="{TEXT_SET}" />
<!-- END ismarked -->
<!-- BEGIN isnotmarked -->
	<input type="image" name="cmd[setmarked][mark]" src="{IMAGE_UNSET}" title="{TEXT_UNSET}" />
<!-- END isnotmarked -->
<!-- END question_status -->
			</td>
			<td style="text-align: right;">
<!-- BEGIN cancel_test -->
				<a href="{HREF_CANCELTEXT}">{TEXT_CANCELTEST}</a>&nbsp;<a href="{HREF_IMGCANCELTEST}"><img align="middle" alt="{TEXT_ALTCANCELTEXT}" title="{TEXT_TITLECANCELTEXT}" src="{IMAGE_CANCEL}" border="0" /></a>
<!-- END cancel_test -->
			</td>
		</tr>
</table>
<table class="fullwidth">
	<tr>
	<td align="left" width="33%" class="submit">
<!-- BEGIN prev -->
		<input type="submit" class="btn btn-default" name="cmd[gotoquestion]" value="{BTN_PREV}" id="prevbutton" />
<!-- END prev -->
	</td>
	<td align="left" width="1" class="submit">
<!-- BEGIN summary -->
		<input type="submit" class="btn btn-default" name="cmd[summaryWithoutSaving]" value="{BTN_SUMMARY}" id="summarybutton" />
<!-- END summary -->
	</td>
	<td align="right" width="33%" class="submit">
<!-- BEGIN postpone -->
	<input type="submit" class="btn btn-default" name="cmd[postpone]" value="{BTN_POSTPONE}" id="postponebutton" />
	&nbsp;&nbsp;
<!-- END postpone -->
<!-- BEGIN next -->
	<input type="submit" class="btn btn-default" name="cmd[next]" value="{BTN_NEXT}" id="nextbutton" />
<!-- END next -->
	</td>
	</tr>
</table>
</form>
{TXT_OBLIGATIONS_NOT_ANSWERED}