<div class="ilClearFloat col2">
	<div class="lcol participant">
		<!-- BEGIN header_participant --><div class="head"><strong>{HEADER_PARTICIPANT}</strong></div><!-- END header_participant -->
		<div class="data ilClearFloat">{PARTICIPANT}</div>
		<!-- BEGIN intermediate -->
			<div class="head warning"><strong>{TXT_INTERMEDIATE}</strong></div>
		<div class="data ilClearFloat">{INTERMEDIATE}</div>
		<!-- END intermediate -->
	</div>
	<div class="rcol solution">
		<!-- BEGIN header_solution --><div class="head"><strong>{HEADER_SOLUTION}</strong></div><!-- END header_solution -->
		<div class="data ilClearFloat">{SOLUTION}</div>
	</div>
</div>