<!-- fau: testNav - new template for instant feedback modal. -->
{QUESTION_OUTPUT}
<!-- BEGIN instant_response_header -->
<div<!-- BEGIN inst_resp_id --> id="{INSTANT_RESPONSE_FOCUS_ID}"<!-- END inst_resp_id -->><h1 class="ilc_page_title_PageTitle">{INSTANT_RESPONSE_HEADER}</h1></div>
<!-- END instant_response_header -->
<!-- BEGIN instant_response_message -->
<p>{INSTANT_RESPONSE_MESSAGE}</p>
<!-- END instant_response_message -->
<!-- BEGIN received_points_information -->
<p>{RECEIVED_POINTS_INFORMATION}</p>
<!-- END received_points_information -->
<!-- BEGIN answer_feedback -->
<p>{ANSWER_FEEDBACK}</p>
<!-- END answer_feedback -->
<!-- BEGIN specific_feedback -->
<div class="test_specific_feedback">{SPECIFIC_FEEDBACK}</div>
<!-- END specific_feedback -->
<!-- BEGIN solution_output -->
<!-- BEGIN solution_output_details -->
<p><strong>{CORRECT_SOLUTION}</strong>:</p>
{QUESTION_FEEDBACK}
<!-- END solution_output_details -->
<!-- END solution_output -->
{BUTTON}