<strong>{PH_INTRODUCTION}</strong>:<br /><br />
<strong>[USER_FULLNAME]</strong>: {PH_USER_FULLNAME}<br />
<strong>[USER_FIRSTNAME]</strong>: {PH_USER_FIRSTNAME}<br />
<strong>[USER_LASTNAME]</strong>: {PH_USER_LASTNAME}<br />
<strong>[USER_TITLE]</strong>: {PH_USER_TITLE}<br />
<strong>[USER_INSTITUTION]</strong>: {PH_USER_INSTITUTION}<br />
<strong>[USER_DEPARTMENT]</strong>: {PH_USER_DEPARTMENT}<br />
<strong>[USER_STREET]</strong>: {PH_USER_STREET}<br />
<strong>[USER_CITY]</strong>: {PH_USER_CITY}<br />
<strong>[USER_ZIPCODE]</strong>: {PH_USER_ZIPCODE}<br />
<strong>[USER_COUNTRY]</strong>: {PH_USER_COUNTRY}<br />
<strong>[RESULT_PASSED]</strong>: {PH_RESULT_PASSED}<br />
<strong>[RESULT_POINTS]</strong>: {PH_RESULT_POINTS}<br />
<strong>[RESULT_PERCENT]</strong>: {PH_RESULT_PERCENT}<br />
<strong>[MAX_POINTS]</strong>: {PH_MAX_POINTS}<br />
<strong>[RESULT_MARK_SHORT]</strong>: {PH_RESULT_MARK_SHORT}<br />
<strong>[RESULT_MARK_LONG]</strong>: {PH_RESULT_MARK_LONG}<br />
<strong>[TEST_TITLE]</strong>: {PH_TEST_TITLE}<br />
<strong>[DATE]</strong>: {PH_DATE}<br />
<strong>[DATETIME]</strong>: {PH_DATETIME}<br />
