<form name="frm_properties" action="{ACTION_PROPERTIES}" method="post">
<table class="std">
<thead>
	<tr class="tblheader">
		<th colspan="2">{HEADING_GENERAL}</th>
	</tr>
</thead>
<tr>
  <td class="option"><label for="anonymity">{TEXT_ANONYMITY}</label></td>
  <td class="option_value"><input type="checkbox" name="anonymity" id="anonymity" value="1"{CHECKED_ANONYMITY}{DISABLED_ANONYMITY} /><br /><label for="anonymity"><div class="il_Description_no_margin">{DESCRIPTION_ANONYMITY}</div></label></td>
</tr>
<tr>
  <td class="option"><label for="chb_random">{TEXT_RANDOM_TEST}</label></td>
  <td class="option_value">
		<input type="checkbox" name="chb_random" id="chb_random" value="1"{CHECKED_RANDOM_TEST}{ENABLED_RANDOM_TEST} />
		<br /><label for="chb_random"><div class="il_Description_no_margin">{TEXT_RANDOM_TEST_DESCRIPTION}</div></label>
	</td>
</tr>
<tr>
	<td class="option">{TEXT_INTRODUCTION}</td>
	<td class="option_value">
		<textarea name="introduction" id="introduction" rows="10" cols="80" wrap="virtual" style="width95%;">{VALUE_INTRODUCTION}</textarea>
		<br />
		<input type="checkbox" name="showinfo" id="showinfo" value="1"{CHECKED_SHOWINFO} /> <label for="showinfo">{SHOWINFO}</label>
		<br />
		<div class="il_Description_no_margin"><label for="showinfo">{SHOWINFO_DESC}</label></div>
	</td>
</tr>
<tr>
	<td class="option">{FINAL_STATEMENT}</td>
	<td class="option_value">
		<input type="checkbox" name="showfinalstatement" id="showfinalstatement" value="1"{CHECKED_FINAL_STATEMENT_SHOW} /> <label for="showfinalstatement">{FINAL_STATEMENT_SHOW}</label>
		<br />
		<div class="il_Description_no_margin"><label for="showfinalstatement">{FINAL_STATEMENT_SHOW_DESC}</label></div>
		<br />
		<textarea name="finalstatement" id="finalstatement" rows="10" cols="80" wrap="virtual" style="width95%;">{VALUE_FINAL_STATEMENT}</textarea>
	</td>
</tr>
<tr class="tblheader">
  <th colspan="2">{HEADING_SEQUENCE}</th>
</tr>
<tr>
  <td class="option"><label for="chb_postpone">{TEXT_POSTPONE}</label></td>
  <td class="option_value">
		<input type="checkbox" name="chb_postpone" id="chb_postpone" value="1"{CHECKED_POSTPONE} />
		<br />
		<label for="chb_postpone"><div class="il_Description_no_margin">{TEXT_POSTPONE_DESCRIPTION}</div></label>
	</td>
</tr>
<tr>
  <td class="option"><label for="chb_shuffle_questions">{TEXT_SHUFFLE_QUESTIONS}</label></td>
  <td class="option_value">
		<input type="checkbox" name="chb_shuffle_questions" id="chb_shuffle_questions" value="1"{CHECKED_SHUFFLE_QUESTIONS} {DISABLE_SHUFFLE_QUESTIONS} />
		<br />
		<label for="chb_shuffle_questions"><div class="il_Description_no_margin">{TEXT_SHUFFLE_QUESTIONS_DESCRIPTION}</div></label>
	</td>
</tr>
<tr>
  <td class="option"><label for="list_of_questions_no">{TEXT_SHOW_SUMMARY}</label></td>
  <td class="option_value">
		<input type="radio" name="list_of_questions" id="list_of_questions_no" value="0"{CHECKED_LIST_OF_QUESTIONS_NO} /> <label for="list_of_questions_no">{TEXT_NO}</label>
		<br />
		<input type="radio" name="list_of_questions" id="list_of_questions_yes" value="1"{CHECKED_LIST_OF_QUESTIONS_YES} /> <label for="list_of_questions_yes">{TEXT_YES}</label>
		<br />
		<span style="padding-left:2em"><input type="checkbox" name="chb_list_of_questions_start" id="chb_list_of_questions_start" value="1"{CHECKED_LIST_OF_QUESTIONS_START}{DISABLED_LIST_OF_QUESTIONS_START} /> <label for="chb_list_of_questions_start">{TEXT_LIST_OF_QUESTIONS_START}</label></span>
		<br />
		<span style="padding-left:2em"><input type="checkbox" name="chb_list_of_questions_end" id="chb_list_of_questions_end" value="1"{CHECKED_LIST_OF_QUESTIONS_END}{DISABLED_LIST_OF_QUESTIONS_END} /> <label for="chb_list_of_questions_end">{TEXT_LIST_OF_QUESTIONS_END}</label></span>
		<br />
		<span style="padding-left:2em"><input type="checkbox" name="chb_list_of_questions_with_description" id="chb_list_of_questions_with_description" value="1"{CHECKED_LIST_OF_QUESTIONS_WITH_DESCRIPTION}{DISABLED_LIST_OF_QUESTIONS_WITH_DESCRIPTION} /> <label for="chb_list_of_questions_with_description">{TEXT_LIST_OF_QUESTIONS_WITH_DESCRIPTION}</label></span>
		<p><div class="il_Description_no_margin">{TEXT_SHOW_SUMMARY_DESCRIPTION}</div></p>
	</td>
</tr>
<tr>
  <td class="option"><label for="chb_show_marker">{TEXT_SHOW_MARKER}</label></td>
  <td class="option_value">
		<input type="checkbox" name="chb_show_marker" id="chb_show_marker" value="1"{CHECKED_SHOW_MARKER} {DISABLE_SHOW_MARKER} />
		<br />
		<label for="chb_show_marker"><div class="il_Description_no_margin">{TEXT_SHOW_MARKER_DESCRIPTION}</div></label>
	</td>
</tr>
<tr>
  <td class="option"><label for="chb_show_cancel">{TEXT_SHOW_CANCEL}</label></td>
  <td class="option_value">
		<input type="checkbox" name="chb_show_cancel" id="chb_show_cancel" value="1"{CHECKED_SHOW_CANCEL} {DISABLE_SHOW_CANCEL} />
		<br />
		<label for="chb_show_cancel"><div class="il_Description_no_margin">{TEXT_SHOW_CANCEL_DESCRIPTION}</div></label>
	</td>
</tr>
<tr class="tblheader">
  <th colspan="2">{HEADING_KIOSK}</th>
</tr>
<tr>
	<td class="option"><label for="chb_kiosk">{TEXT_KIOSK}</label></td> 
	<td class="option_value">
		<input type="checkbox" name="kiosk" id="chb_kiosk" value="1"{CHECKED_KIOSK} {DISABLE_KIOSK} />
		<br />
		<div class="il_Description_no_margin"><label for="chb_kiosk">{TEXT_KIOSK_DESCRIPTION}</label></div>
	</td>
</tr>
<tr>
	<td class="option">{TEXT_KIOSK_OPTIONS}</td> 
	<td class="option_value">
		<input type="checkbox" name="kiosk_title" id="chb_kiosk_title" value="1"{CHECKED_KIOSK_TITLE} {DISABLE_KIOSK_TITLE} />
		<label for="chb_kiosk_title">{TEXT_KIOSK_TITLE}</label>
		<br />
		<input type="checkbox" name="kiosk_participant" id="chb_kiosk_participant" value="1"{CHECKED_KIOSK_PARTICIPANT} {DISABLE_KIOSK_PARTICIPANT} />
		<label for="chb_kiosk_participant">{TEXT_KIOSK_PARTICIPANT}</label>
		<br />
		<div class="il_Description_no_margin">{TEXT_KIOSK_OPTIONS_DESCRIPTION}</div>
	</td>
</tr>
<tr class="tblheader">
  <th colspan="2">{HEADING_SESSION}</th>
</tr>
<tr>
  <td class="option">{TEXT_NR_OF_TRIES}</td>
  <td class="option_value"><input type="text" name="nr_of_tries" value="{VALUE_NR_OF_TRIES}" size="8" {DISABLE_NR_OF_TRIES} />{COMMENT_NR_OF_TRIES}</td>
</tr>
<tr>
  <td class="option">{TEXT_PROCESSING_TIME}</td>
  <td class="option_value">
		<input type="checkbox" name="chb_processing_time" id="chb_processing_time" value="1"{CHECKED_PROCESSING_TIME} /> <label for="chb_processing_time">{TXT_ENABLED}</label><br />
		{MAX_PROCESSING_TIME}
		<div class="il_Description_no_margin">{TEXT_PROCESSING_TIME_DESC}</div>
		<input type="checkbox" name="chb_reset_processing_time" id="chb_reset_processing_time" value="1"{CHECKED_RESET_PROCESSING_TIME} /> <label for="chb_reset_processing_time">{TXT_RESET_PROCESSING_TIME}</label>
		<div class="il_Description_no_margin">{TEXT_RESET_PROCESSING_TIME_DESC}</div>
	</td>
</tr>
<!-- BEGIN starting_time -->
<tr>
  <td class="option">{TEXT_STARTING_TIME}</td>
  <td class="option_value"><input type="checkbox" name="chb_starting_time" id="chb_starting_time" value="1"{CHECKED_STARTING_TIME} /> <label for="chb_starting_time">{TXT_ENABLED}</label><br />{INPUT_STARTING_TIME} <input type="image" alt="{TXT_STARTING_TIME_CALENDAR}" title="{TXT_STARTING_TIME_CALENDAR}" src="{IMG_STARTING_TIME_CALENDAR}" id="btn_cal_starting_time" /></td>
</tr>
<!-- END starting_time -->
<!-- BEGIN ending_time -->
<tr>
  <td class="option">{TEXT_ENDING_TIME}</td>
  <td class="option_value"><input type="checkbox" name="chb_ending_time" id="chb_ending_time" value="1"{CHECKED_ENDING_TIME} /> <label for="chb_ending_time">{TXT_ENABLED}</label><br />{INPUT_ENDING_TIME} <input type="image" alt="{TXT_ENDING_TIME_CALENDAR}" title="{TXT_ENDING_TIME_CALENDAR}" src="{IMG_ENDING_TIME_CALENDAR}" id="btn_cal_ending_time" /></td>
</tr>
<!-- END ending_time -->
<tr>
  <td class="option"><label for="chb_use_previous_answers">{TEXT_USE_PREVIOUS_ANSWERS}</label></td> 
  <td class="option_value">
		<input type="checkbox" name="chb_use_previous_answers" id="chb_use_previous_answers" value="1"{CHECKED_USE_PREVIOUS_ANSWERS} {DISABLE_USE_PREVIOUS_ANSWERS} />
		<br />
		<label for="chb_use_previous_answers"><div class="il_Description_no_margin">{TEXT_USE_PREVIOUS_ANSWERS_DESCRIPTION}</div></label>
	</td>
</tr>
<tr>
  <td class="option"><label for="forcejs">{FORCEJS_SHORT}</label></td> 
  <td class="option_value">
		<input type="checkbox" name="forcejs" id="forcejs" value="1"{CHECKED_FORCEJS} /> <label for="forcejs">{FORCEJS}</label>
		<br />
		<div class="il_Description_no_margin"><label for="forcejs">{FORCEJS_DESC}</label></div>
	</td>
</tr>
<tr>
  <td class="option"><label for="chb_hide_title_points">{TEXT_TITLE_OUTPUT}</label></td>
  <td class="option_value">
		<input type="radio" name="title_output" id="title_output_0" value="0"{CHECKED_TITLE_OUTPUT_FULL} /> <label for="title_output_0">{TEXT_TITLE_OUTPUT_FULL}</label><br />
		<input type="radio" name="title_output" id="title_output_1" value="1"{CHECKED_TITLE_OUTPUT_HIDE_POINTS} /> <label for="title_output_1">{TEXT_TITLE_OUTPUT_HIDE_POINTS}</label><br />
		<input type="radio" name="title_output" id="title_output_2" value="2"{CHECKED_TITLE_OUTPUT_NO_TITLE} /> <label for="title_output_2">{TEXT_TITLE_OUTPUT_NO_TITLE}</label><br />
		<div class="il_Description_no_margin">{TEXT_TITLE_OUTPUT_DESCRIPTION}</div>
	</td>
</tr>
<tr>
  <td class="option">{TEXT_PASSWORD}</td>
  <td class="option_value"><input type="text" name="password" size="20"{VALUE_PASSWORD} /><br /><div class="il_Description_no_margin">{TEXT_PASSWORD_DETAILS}</div></td>
</tr>
<tr>
  <td class="option">{TEXT_MAX_ALLOWED_USERS}</td>
  <td class="option_value">
		{TEXT_ALLOWED_USERS} <input type="text" name="allowedUsers" size="3"{VALUE_ALLOWED_USERS} />
		<br />
		{TEXT_ALLOWED_USERS_TIME_GAP} <input type="text" name="allowedUsersTimeGap" size="4"{VALUE_ALLOWED_USERS_TIME_GAP} /> {SECONDS}
	</td>
</tr>
<tr><td colspan="2" class="submit">
<!-- BEGIN command_buttons -->
<div align="right">
	<input name="cmd[saveProperties]" type="submit" class="submit" id="save" value="{SAVE}" />
</div>
<!-- END command_buttons -->
</td></tr>
</table>
</form>
<!-- BEGIN javascript_call_calendar -->
<script type="text/javascript">
	Calendar.setup( 
		{ 
			button : "btn_cal_starting_time",
			inputFieldsDate : "{INPUT_FIELDS_STARTING_DATE}"
		} 
	); 
	Calendar.setup( 
		{ 
			button : "btn_cal_ending_time",
			inputFieldsDate : "{INPUT_FIELDS_ENDING_DATE}"
		} 
	);
</script> 
<!-- END javascript_call_calendar -->

