<tr id="{ROW_ID}" class="{CSS_ROW}">
	<td class="std">{VALUE_QUESTION_COUNTER}</td>
	<td class="std">{VALUE_QUESTION_ID}</td>
	<td class="std">
		<!-- BEGIN title_link_begin_tag --><a href="{URL_QUESTION_TITLE}"><!-- END title_link_begin_tag -->
		{VALUE_QUESTION_TITLE}
		<!-- BEGIN title_link_end_tag --></a><!-- END title_link_end_tag -->
	</td>
	<td class="std">{VALUE_MAX_POINTS}</td>
	<td class="std">{VALUE_REACHED_POINTS}</td>
	<!-- BEGIN hint_count -->
	<td class="std">{VALUE_HINT_COUNT}</td>
	<!-- END hint_count -->
	<td class="std">{VALUE_PERCENT_SOLVED}</td>
	<!-- BEGIN question_suggested_solution -->
	<td class="std">{SOLUTION_HINT}</td>
	<!-- END question_suggested_solution -->
	<!-- BEGIN actions_menu -->
	<td class="std">{ACTIONS_MENU}</td>
	<!-- END actions_menu -->
</tr>
