<div class="ilAdminRow">
    <img class="ilQuestionMessage" alt="Icon Question" title="Icon Question" src="./templates/default/images/mess_question.png">
    <div class="ilQuestionMessage">
        <h5 class="ilAccHeadingHidden"><a id="il_message_focus" name="il_message_focus">Question</a></h5>
        {TXT_INFORMATION}</div>
</div>
<form name="saveConfirmation" method="post" action="{FORM_ACTION}">
    <div class="ilToolbar">
        <input class="submit" type="submit" name="cmd[{CMD_CONFIRM}]" value="{BTN_CONFIRM}" />
        <input class="submit" type="submit" name="cmd[{CMD_CANCEL}]" value="{BTN_CANCEL}" />
    </div>

    <!-- BEGIN hidden_variable -->
    <input type="hidden" name="{HIDDEN_KEY}" value="{HIDDEN_VALUE}" />
    <!-- END hidden_variable -->