<tr class="{CSS_ROW} {VAL_HIGHLIGHT}">
  <td class="std {VAL_HIGHLIGHT}" valign="top">
	  {VAL_RANK}
  </td>
  <td class="std {VAL_HIGHLIGHT}" valign="top">
	  {VAL_PARTICIPANT}
  </td>
  <td class="std {VAL_HIGHLIGHT}" valign="top">
	  {VAL_ACHIEVED}
  </td>
  <td class="std {VAL_HIGHLIGHT}" valign="top">
	  {VAL_SCORE}
  </td>
    <td class="std {VAL_HIGHLIGHT}" valign="top">
	  {VAL_PERCENTAGE}
  </td>
  <!-- BEGIN VAL_HINTS -->
  <td class="std {VAL_HIGHLIGHT}" valign="top">
	  {VAL_HINTS}
  </td>
  <!-- END VAL_HINTS -->
  <td class="std {VAL_HIGHLIGHT}" valign="top">
	  {VAL_TIME}
  </td>
</tr>