<!-- BEGIN objectives_progress_header --><h2>{OBJECTIVES_PROGRESS_HEADER}</h2><!-- END objectives_progress_header -->
<!-- BEGIN objectives_bl -->
<ul class="ilTestLoStatusBar list-group" id="objtvlst_{OBJTV_LIST_CRS_ID}">
	<!-- BEGIN objective_bl -->
	<li class="list-group-item">
		<img src="{OBJTV_ICON_URL}" alt="{OBJTV_ICON_ALT}" title="{OBJTV_ICON_ALT}" />
		<!-- BEGIN objective_link_bl -->
		<a href="{OBJECTIVE_LINK_URL}" id="{OBJECTIVE_LINK_ID}">{OBJECTIVE_LINK_TITLE}</a>
		<!-- END objective_link_bl -->
		<!-- BEGIN objective_nolink_bl -->
		{OBJECTIVE_NOLINK_TITLE}
		<!-- END objective_nolink_bl -->
		<!-- BEGIN lp_objtv_bl -->
		<div class="ilFloatRight">
			<img src="{LP_OBJTV_ICON_URL}" alt="{LP_OBJTV_ICON_ALT}" title="{LP_OBJTV_ICON_ALT}" />
			{LP_OBJTV_PROGRESS}
		</div>
		<br class="ilClearFloat" />
		<!-- END lp_objtv_bl -->
	</li>
	<!-- END objective_bl -->
</ul>
<!-- END objectives_bl -->
