<form name="frm_scoring" action="{FORMACTION}" method="post">
<table class="std">
<tr class="tblheader">
	<th colspan="2">{HEADING_SCORING_AND_RESULTS}</th>
</tr>
<tr>
  <td class="option">{TEXT_COUNT_SYSTEM}</td>
  <td class="option_value">
		<input type="radio" name="count_system" id="count_system_0" value="0"{CHECKED_COUNT_PARTIAL_SOLUTIONS}{DISABLED_COUNT_PARTIAL_SOLUTIONS} /> <label for="count_system_0">{COUNT_PARTIAL_SOLUTIONS} {DEFAULT}</label>
		<br />
		<input type="radio" name="count_system" id="count_system_1" value="1"{CHECKED_COUNT_CORRECT_SOLUTIONS}{DISABLED_COUNT_CORRECT_SOLUTIONS} /> <label for="count_system_1">{COUNT_CORRECT_SOLUTIONS}</label>
		<div class="il_Description_no_margin">{COUNT_SYSTEM_DESCRIPTION}</div>
	</td>
</tr>
<tr>
  <td class="option">{TEXT_SCORE_MCMR}</td>
  <td class="option_value">
		<input type="radio" name="mc_scoring" id="mc_scoring_0" value="0"{CHECKED_ZERO_POINTS_WHEN_UNANSWERED}{DISABLED_ZERO_POINTS_WHEN_UNANSWERED} /> <label for="mc_scoring_0">{ZERO_POINTS_WHEN_UNANSWERED} {DEFAULT}</label>
		<br />
		<input type="radio" name="mc_scoring" id="mc_scoring_1" value="1"{CHECKED_USE_SCORING_SYSTEM}{DISABLED_USE_SCORING_SYSTEM} /> <label for="mc_scoring_1">{USE_SCORING_SYSTEM}</label>
		<div class="il_Description_no_margin">{TEXT_SCORE_MCMR_DESCRIPTION}</div>
	</td>
</tr>
<tr>
  <td class="option">{TEXT_SCORE_CUTTING}</td>
  <td class="option_value">
		<input type="radio" name="score_cutting" id="score_cutting_0" value="0"{CHECKED_CUT_QUESTION}{DISABLED_CUT_QUESTION} /> <label for="score_cutting_0">{TEXT_CUT_QUESTION} {DEFAULT}</label>
		<br />
		<input type="radio" name="score_cutting" id="score_cutting_1" value="1"{CHECKED_CUT_TEST}{DISABLED_CUT_TEST} /> <label for="score_cutting_1">{TEXT_CUT_TEST}</label>
		<div class="il_Description_no_margin">{TEXT_SCORE_CUTTING_DESCRIPTION}</div>
	</td>
</tr>
<tr>
  <td class="option">{TEXT_PASS_SCORING}</td>
  <td class="option_value">
		<input type="radio" name="pass_scoring" id="pass_scoring_0" value="0"{CHECKED_LASTPASS}{DISABLED_LASTPASS} /> <label for="pass_scoring_0">{TEXT_LASTPASS} {DEFAULT}</label>
		<br />
		<input type="radio" name="pass_scoring" id="pass_scoring_1" value="1"{CHECKED_BESTPASS}{DISABLED_BESTPASS} /> <label for="pass_scoring_1">{TEXT_BESTPASS}</label>
		<div class="il_Description_no_margin">{TEXT_PASS_SCORING_DESCRIPTION}</div>
	</td>
</tr>
<tr>
  <td class="option">{TEXT_INSTANT_FEEDBACK}</td>
  <td class="option_value">
		<input type="checkbox" name="chb_instant_feedback_answer" id="instant_feedback_answer" value="3"{CHECKED_ANSWER_SPECIFIC_FEEDBACK} /> <label for="instant_feedback_answer">{TEXT_ANSWER_SPECIFIC_FEEDBACK}</label>
		<br />
		<input type="checkbox" name="chb_instant_feedback_results" id="instant_feedback_results" value="2"{CHECKED_SHOW_RESULTS} /> <label for="instant_feedback_results">{TEXT_SHOW_RESULTS}</label>
		<br />
		<input type="checkbox" name="chb_instant_feedback_solution" id="instant_feedback_solution" value="1"{CHECKED_SHOW_SOLUTION} /> <label for="instant_feedback_solution">{TEXT_SHOW_SOLUTION}</label>
		<div class="il_Description_no_margin">{TEXT_INSTANT_FEEDBACK_DESCRIPTION}</div>
	</td>
</tr>
<tr>
	<td class="option">{TEXT_RESULTS_ACCESS}</td>
	<td class="option_value">
		<input type="radio" name="results_access" id="results_access_1" value="1"{CHECKED_RESULTS_FINISHED} /> <label for="results_access_1">{TEXT_RESULTS_FINISHED} {DEFAULT}</label>
		<br />
		<input type="radio" name="results_access" id="results_access_3" value="3"{CHECKED_RESULTS_DATE} /> <label for="results_access_3">{TEXT_RESULTS_DATE}</label>
		<br />
		{INPUT_REPORTING_DATE} <input type="image" alt="{TXT_REPORTING_DATE_CALENDAR}" title="{TXT_REPORTING_DATE_CALENDAR}" src="{IMG_REPORTING_DATE_CALENDAR}" id="btn_cal_reporting_date" />
		<br />
		<input type="radio" name="results_access" id="results_access_2" value="2"{CHECKED_RESULTS_ALWAYS} /> <label for="results_access_2">{TEXT_RESULTS_ALWAYS}</label>
		<div class="il_Description_no_margin">{TEXT_RESULTS_ACCESS_DESCRIPTION}</div>
	</td>
</tr>
<tr>
	<td class="option">{TEXT_RESULTS_PRESENTATION}</td>
	<td class="option_value">
		<input type="checkbox" name="chb_show_pass_details" id="pass_details" value="1"{CHECKED_SHOW_PASS_DETAILS} /> <label for="pass_details">{TEXT_SHOW_PASS_DETAILS} {DEFAULT}</label>
		<br />
		<input type="checkbox" name="chb_show_solution_details" id="solution_details" value="1"{CHECKED_SHOW_SOLUTION_DETAILS} /> <label for="solution_details">{TEXT_SHOW_SOLUTION_DETAILS} {DEFAULT}</label>
		<br />
		<input type="checkbox" name="chb_show_solution_printview" id="solution_printview" value="1"{CHECKED_SHOW_SOLUTION_PRINTVIEW} /> <label for="solution_printview">{TEXT_SHOW_SOLUTION_PRINTVIEW}</label>
		<br />
		<input type="checkbox" name="chb_show_solution_feedback" id="solution_feedback" value="1"{CHECKED_SHOW_SOLUTION_FEEDBACK} /> <label for="solution_feedback">{TEXT_SHOW_SOLUTION_FEEDBACK}</label>
		<br />
		<input type="checkbox" name="chb_show_solution_answers_only" id="solution_answers_only" value="1"{CHECKED_SHOW_SOLUTION_ANSWERS_ONLY} /> <label for="solution_answers_only">{TEXT_SHOW_SOLUTION_ANSWERS_ONLY}</label>
		<br />
		<input type="checkbox" name="chb_show_solution_signature" id="solution_signature" value="1"{CHECKED_SHOW_SOLUTION_SIGNATURE}{DISABLED_SHOW_SOLUTION_SIGNATURE} /> <label for="solution_signature">{TEXT_SHOW_SOLUTION_SIGNATURE}</label>
		<br />
		<input type="checkbox" name="chb_show_solution_suggested" id="solution_suggested" value="1"{CHECKED_SHOW_SOLUTION_SUGGESTED}{DISABLED_SHOW_SOLUTION_SUGGESTED} /> <label for="solution_suggested">{TEXT_SHOW_SOLUTION_SUGGESTED}</label>
		<div class="il_Description_no_margin">{TEXT_RESULTS_PRESENTATION_DESCRIPTION}</div>
	</td>
</tr>
<tr><td colspan="2" class="submit">
<!-- BEGIN command_buttons -->
<div align="right">
	<input name="cmd[saveScoring]" type="submit" class="submit" id="save" value="{SAVE}" />
</div>
<!-- END command_buttons -->
</td></tr>
</table>
</form>
<!-- BEGIN javascript_call_calendar -->
<script type="text/javascript">
	Calendar.setup( 
		{ 
			button : "btn_cal_reporting_date",
			inputFieldsDate : "{INPUT_FIELDS_REPORTING_DATE}"
		} 
	); 
</script> 
<!-- END javascript_call_calendar -->

