<!-- BEGIN kiosk_options -->
{KIOSK_HEAD}
<!-- END kiosk_options -->
<!-- BEGIN enableprocessingtime -->
<div class="ilTstQuestionSummaryBlock_WorkingTime">
	<p>{USER_WORKING_TIME} <span id="timeleft">{USER_REMAINING_TIME}</span></p>
</div>
<!-- END enableprocessingtime -->
<!-- BEGIN cancel_test -->
<div style="text-align: right;">
	<a href="{HREF_CANCELTEXT}">{TEXT_CANCELTEST}</a>&nbsp;<a href="{HREF_IMGCANCELTEST}"><img align="middle" alt="{TEXT_ALTCANCELTEXT}" title="{TEXT_TITLECANCELTEXT}" src="{IMAGE_CANCEL}" border="0" /></a>
</div>
<!-- END cancel_test -->
{TABLE_LIST_OF_QUESTIONS}