<form name="form_export" action="{FORMACTION}" method="post">
<div id="finalstatement">
	{FINALSTATEMENT}
</div>
<p>
	<input type="submit" class="btn btn-default" name="cmd[{CANCEL_CMD}]" value="{BUTTON_BACK}" id="prevbutton" />
	<input type="submit" class="btn btn-default" name="cmd[finishTest]" value="{BUTTON_CONTINUE}" />
	<!-- BEGIN pdf_export -->
	<a class="btn btn-default" href="{PDF_URL}">{PDF_TEXT}</a>
	<script type="text/javascript">
		setTimeout(function () { window.location = '{PDF_FILE_LOCATION}'; }, 5000)
	</script>
	<!-- END pdf_export -->
	<!-- BEGIN html_review -->
	{HTML_REVIEW}
	<!-- END html_review --><!-- BEGIN bottom_navigation_block -->
	<input type="submit" class="btn btn-default" name="cmd[{CANCEL_CMD_BOTTOM}]" value="{BUTTON_BACK_BOTTOM}" id="prevbutton" />
	<input type="submit" class="btn btn-default" name="cmd[finishTest]" value="{BUTTON_CONTINUE_BOTTOM}" /><!-- END bottom_navigation_block -->
</p>
</form>
