<table class="fullwidth">
<thead>
	<tr class="tblheader">
		<th class="std">{QUESTION_COUNTER}</th>
		<th class="std">{QUESTION_TITLE}</th>
		<th class="std" style="text-align: right;">{MAX_POINTS}</th>
		<th class="std" style="text-align: right;">{REACHED_POINTS}</th>
		<th class="std" style="text-align: right;">{PERCENT_SOLVED}</th>
		<th class="std">{SOLUTION_HINT_HEADER}</th>
	</tr>
</thead>
<!-- BEGIN question -->
<tr>
<td class="{COLOR_CLASS}">{VALUE_QUESTION_COUNTER}</td>
<!-- BEGIN linked_title -->
<td class="{COLOR_CLASS}"><a href="{URL_QUESTION_TITLE}">{VALUE_QUESTION_TITLE}</a></td>
<!-- END linked_title -->
<!-- BEGIN plain_title -->
<td class="{COLOR_CLASS}">{VALUE_QUESTION_TITLE}</td>
<!-- END plain_title -->
<td class="{COLOR_CLASS}" style="text-align: right;">{VALUE_MAX_POINTS}</td>
<td class="{COLOR_CLASS}" style="text-align: right;">{VALUE_REACHED_POINTS}</td>
<td class="{COLOR_CLASS}" style="text-align: right;">{VALUE_PERCENT_SOLVED}</td>
<td class="{COLOR_CLASS}">{SOLUTION_HINT}</td>
</tr>
<!-- END question --> 
<!-- BEGIN footer -->
<tr class="tblfooter">
<td>{VALUE_QUESTION_COUNTER}</td>
<td>{VALUE_QUESTION_TITLE}</td>
<td style="text-align: right;">{VALUE_MAX_POINTS}</td>
<td style="text-align: right;">{VALUE_REACHED_POINTS}</td>
<td style="text-align: right;">{VALUE_PERCENT_SOLVED}</td>
<td>{SOLUTION_HINT}</td>
</tr>
<!-- END footer --> 
</table>
