<tr class="{CSS_ROW}">
	<!-- BEGIN col_selection_checkbox -->
	<td class="std">{SELECTION_CHECKBOX_HTML}</td>
	<!-- END col_selection_checkbox -->
	<!-- BEGIN col_order_checkbox -->
	<td class="std">{ORDER_INPUT_HTML}</td>
	<!-- END col_order_checkbox -->
	<td class="std">{SOURCE_POOL_LABEL}</td>
	<td class="std">{FILTER_TAXONOMY}</td>
	<td class="std">{FILTER_TAX_NODE}</td>
	<!-- BEGIN col_question_amount -->
	<td class="std">{QUESTION_AMOUNT_INPUT_HTML}</td>
	<!-- END col_question_amount -->
	<!-- BEGIN col_actions -->
	<td class="std">{ACTIONS_HTML}</td>
	<!-- END col_actions -->
</tr>