<form name="formManualScoring" action="{FORMACTION}" method="post">
<p>
{TEXT_SELECT_USER}: 
	<select name="participants" id="participants" onchange="javascript:document.formManualScoring.submit();">
		<option value="0">{PLEASE_SELECT}</option>
<!-- BEGIN participants -->
		<option value="{ID_PARTICIPANT}"{SELECTED_PARTICIPANT}>{TEXT_PARTICIPANT}</option>
<!-- END participants -->
	</select>
	<input type="submit" class="submit" name="cmd[selectParticipant]" value="{BUTTON_SELECT}" />
</p>
{PASS_OVERVIEW}
</form>
{SCORING_DATA}
<!-- BEGIN lastchanged -->
<script type="text/javascript">
	window.location = "#form{LAST_CHANGED}";
</script>
<!-- END lastchanged -->
