<!-- BEGIN changelog -->
<h1>{HEADING_CHANGELOG}</h1>
<p>{DESCRIPTION_CHANGELOG}</p>
<table class="std">
	<tr class="tblheader">
		<td class="std">{HEADER_DATETIME}</td>
		<td class="std">{HEADER_USER}</td>
		<td class="std">{HEADER_LOGTEXT}</td>
		<td class="std">{HEADER_TEST_REFERENCE}</td>
	</tr>
<!-- BEGIN changelog_row -->
	<tr class="{ROW_CLASS}">
		<td class="std">{TXT_DATETIME}</td>
		<td class="std">{TXT_USER}</td>
		<td class="std">{TXT_LOGTEXT}</td>
		<td class="std"><!-- BEGIN testref --><a href="{HREF_REFERENCE}" class="il_ContainerItemCommand" style="display: block;">{TXT_TEST_REFERENCE}</a><!-- END testref --></td>
	</tr>
<!-- END changelog_row -->	
</table>
<!-- END changelog -->