<!-- BEGIN enableprocessingtime -->
<p>{USER_WORKING_TIME}</p>
<!-- END enableprocessingtime -->
<!-- BEGIN cancel_test -->
<div align="right"><a href="{HREF_CANCELTEXT}">{TEXT_CANCELTEST}</a>&nbsp;<a href="{HREF_IMGCANCELTEST}"><img align="middle" alt="{TEXT_ALTCANCELTEXT}" title="{TEXT_TITLECANCELTEXT}" src="{IMAGE_CANCEL}" border="0" /></a></div>
<br />
<!-- END cancel_test -->
<form name="test_output" method="post" action="{FORMACTION}"<!-- BEGIN onsubmit --> onsubmit="{ON_SUBMIT}"<!-- END onsubmit -->>
<table class="fullwidth">
	<tr>
	<td align="left" width="33%" class="submit">
<!-- BEGIN prev -->
		<input type="submit" class="submit" name="cmd[previous]" value="{BTN_PREV}" id="prevbutton" />
<!-- END prev -->
	</td>
	<td align="left" width="1" class="submit">
<!-- BEGIN summary -->
		<input type="submit" class="submit" name="cmd[summary]" value="{BTN_SUMMARY}" id="summarybutton" />
<!-- END summary -->
	</td>
	<td align="right" width="33%" class="submit">
<!-- BEGIN postpone -->
	<input type="submit" class="submit" name="cmd[postpone]" value="{BTN_POSTPONE}" id="postponebutton" />
	&nbsp;&nbsp;
	<!-- END postpone -->
	<!-- BEGIN next -->
	<input type="submit" class="submit" name="cmd[next]" value="{BTN_NEXT}" id="nextbutton" />
	<!-- END next -->
	</td>
	</tr>
	<tr class="std">
		<td colspan="3" class="ilc_Page">
			<div class="ilc_Page" id="ilc_Page">
				{QUESTION_OUTPUT}
<!-- BEGIN back -->
				<p>
					<input type="submit" class="submit" name="cmd[preview_cancel]" value="{BACKLINK_TEXT}" />
				</p>
<!-- END back -->
			</div>
		</td>
	</tr>
</table>
<!-- BEGIN navigation_bottom -->
<table class="fullwidth">
	<tr>
		<td align="left" width="33%" class="submit">
<!-- BEGIN prev_bottom -->
			<input type="submit" class="submit" name="cmd[previous]" value="{BTN_PREV}" id="bottomprevbutton" />
<!-- END prev_bottom -->
		</td>
		<td align="left" width="1" class="submit">
<!-- BEGIN summary_bottom  -->
			<input type="submit" class="submit" name="cmd[summary]" value="{BTN_SUMMARY}" id="bottomsummarybutton" />
<!-- END summary_bottom -->
		</td>
		<td align="right" width="33%" class="submit">
<!-- BEGIN postpone_bottom -->
			<input type="submit" class="submit" name="cmd[postpone]" value="{BTN_POSTPONE}" id="bottompostponebutton" />
			&nbsp;&nbsp;
<!-- END postpone_bottom -->
<!-- BEGIN next_bottom -->
			<input type="submit" class="submit" name="cmd[next]" value="{BTN_NEXT}" id="bottomnextbutton" />
<!-- END next_bottom -->
		</td>
	</tr>
</table>
<!-- END navigation_bottom -->
<!-- BEGIN solution_output -->
<!-- BEGIN solution_output_details -->
<p><strong>{CORRECT_SOLUTION}</strong>:</p>
<table class="ilc_Page" width="100%" cellspacing="0" cellpadding="0"><tr><td class="ilc_Page">
<div class="ilc_Page" id="ilc_Page">
{QUESTION_FEEDBACK}
</div>
</td></tr></table>
<!-- END solution_output_details -->
<p>{RECEIVED_POINTS_INFORMATION}</p>
<!-- END solution_output -->
<!-- BEGIN question_status --><table><tr valign="top"><td><small>{TEXT_QUESTION_STATUS_LABEL}</small></td><td>{TEXT_QUESTION_STATUS}</td></tr></table><!-- END question_status -->
<p>
<!-- BEGIN direct_feedback --><input type="submit" class="submit" name="cmd[directfeedback]" id="directfeedback" value="{TEXT_DIRECT_FEEDBACK}" /><!-- END direct_feedback -->
</p>
<input type="hidden" name="formtimestamp" value="{FORM_TIMESTAMP}" />
</form>
<!-- BEGIN js_initialize -->
{JS_INITIALIZE}
<!-- END js_initialize --> 
