<tr class="{CSS_ROW}">
	<td class="std" style="vertical-align: top"><span class="question_title">{TITLE}</span><!-- BEGIN description --> <span class="question_description">({DESCRIPTION})</span<!-- END description --></td>
<!-- BEGIN marker -->	
	<td class="std" style="vertical-align: top"><!-- BEGIN marked_img --><img src="{HREF_MARKED}" alt="{ALT_MARKED}" /><!-- END marked_img --></td>
<!-- END marker -->
	<td class="std" style="vertical-align: top"><img src="{SRC_WORKED_THROUGH}" alt="{ALT_WORKED_THROUGH}" /></td>
	<td class="std" style="vertical-align: top">{POSTPONED}</td>
</tr>