<div class="tstModalConfirmationText">{CONFIRMATION_TEXT}</div>
<div class="tstModalConfirmationButtons">
	<!-- BEGIN buttons -->{BUTTON}<!-- END buttons -->
</div>
<script type="text/javascript" charset="utf-8">
(function($){ $(document).ready( function(){

	$('#tst_discard_answer_button').click(
		function() { $('#tst_discard_answer_modal').modal('show'); }
	);

	$('#tst_cancel_discard_button').click(
		function() { $('#tst_discard_answer_modal').modal('hide'); }
	);

}); })
(jQuery);
</script>