<!-- BEGIN element -->
	<!-- BEGIN drop_area -->
	<div class="il_droparea" id="droparea_{DROP_ID}">
		<!-- BEGIN dropdown_menu_bl -->
		<div class="btn-group">
			<div class="dropdown-toggle" data-toggle="dropdown" data-container="body">{ICON_ADD}</div>						
			<ul class="dropdown-menu" role="menu">
				<!-- BEGIN menu_cmd -->										
				<li>						
					<a href="{URL_MENU_CMD}"><span>{TXT_MENU_CMD}</span></a>
				</li>					
				<!-- END menu_cmd -->
			</ul>					
		</div>
		<!-- END dropdown_menu_bl -->
	</div>
	<!-- END drop_area -->
	<!-- BEGIN list_item -->					
	<div class="il_editarea{SELECTABLE}" id="{NODE_ID}">										
		<div class="ilEditLabel" style="display:none;" id="label_{NODE_ID}">{TXT_NODE_TYPE}</div>
		<!-- BEGIN action_menu_bl -->
		<div class="dropdown ilSurveyPageEditActionMenu">
			<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-container="body">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" id="actions_{NODE_ID}">
				<!-- BEGIN action_cmd -->										
				<li>						
					<a href="{URL_ACTION_CMD}"><span>{TXT_ACTION_CMD}</span></a>
				</li>					
				<!-- END action_cmd -->
			</ul>
		</div>
		<!-- END action_menu_bl -->
		<div style="padding: 10px;">{TXT_NODE_CONTENT}</div>				
	</div>			
	<!-- END list_item -->
<!-- END element -->