<form name="removeCategories" method="post" action="{FORM_ACTION}">
<table class="std">
	<tr class="tblheader">
		<td colspan="2">
			{HEADING_QUESTIONBLOCK}
		</td>
	</tr>
	<tr>
		<td class="option">{TEXT_TITLE}<span class="asterisk">*</span></td>
		<td class="option_value"><input type="text" name="title" value="{VALUE_TITLE}" size="50" /></td>
	</tr>
	<tr>
		<td class="option"><label for="show_blocktitle">{TXT_BLOCKTITLE}</label></td>
		<td class="option_value">
			<input type="checkbox" name="show_blocktitle" id="show_blocktitle" value="1"{CHECKED_BLOCKTITLE} />
			<br />
			<div class="il_Description_no_margin">{TXT_BLOCKTITLE_DESCRIPTION}</div>
		</td>
	</tr>
	<tr>
		<td class="option"><label for="show_questiontext">{TXT_QUESTIONTEXT}</label></td>
		<td class="option_value">
			<input type="checkbox" name="show_questiontext" id="show_questiontext" value="1"{CHECKED_QUESTIONTEXT} />
			<br />
			<div class="il_Description_no_margin">{TXT_QUESTIONTEXT_DESCRIPTION}</div>
		</td>
	</tr>
	<tr>
		<td colspan="2" class="submit">
			<span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FLD}</span>
			<div align="right">
			<input name="cmd[saveDefineQuestionblock]" type="submit" class="submit" id="save" value="{SAVE}" />&nbsp;&nbsp;<input name="cmd[cancelDefineQuestionblock]" type="submit" class="submit" id="cancel" value="{CANCEL}" />
			</div>
		</td>
	</tr>
</table>
<!-- BEGIN hidden -->
<input type="hidden" name="{HIDDEN_NAME}" value="{HIDDEN_VALUE}" />
<!-- END hidden -->
</form>