<!-- BEGIN survey_online -->
<form name="frm_invitation" action="{FORM_ACTION}" method="post">
<table class="std">
<tr>
  <td class="option">{TEXT_INVITATION}:</td>
  <td class="option_value"><select name="invitation"><option value="0"{SELECTED_OFF}>{VALUE_OFF}</option><option value="1"{SELECTED_ON}>{VALUE_ON}</option></select></td>
</tr>
<!-- BEGIN invitation_mode -->
<tr>
  <td class="option">{TEXT_MODE}:</td>
  <td class="option_value"><select name="mode"<!--  BEGIN disabled_mode --> disabled="disabled"<!--  END disabled_mode -->><option value="0"{SELECTED_UNLIMITED}>{VALUE_UNLIMITED}</option><option value="1"{SELECTED_PREDEFINED}>{VALUE_PREDEFINED}</option></select></td>
</tr>
<!-- END invitation_mode -->
<tr><td colspan="2" class="submit">
<span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FLD}</span>
<!-- BEGIN command_buttons -->
<div align="right">
<input name="cmd[saveInvitationStatus]" type="submit" class="submit" id="save" value="{SAVE}" />
</div>
<!-- END command_buttons -->
</td></tr>
</table>
<!-- BEGIN inviation -->
<br />
<table class="std">
<thead>
<tr class="tblheader">
  <th colspan="2">{SEARCH_INVITATION}</th>
</tr>
</thead>
<tr>
  <td class="option">{SEARCH_TERM}:</td>
  <td class="option_value"><input type="text" name="search_term" value="{VALUE_SEARCH_TERM}" size="50" /></td>
</tr>
<tr>
	<td class="option">{TEXT_CONCATENATION}</td>
	<td class="option_value">
	<input type="radio" name="concatenation" value="or"{CHECKED_OR} />{TEXT_OR}</input>
	<input type="radio" name="concatenation" value="and"{CHECKED_AND} />{TEXT_AND}</input>
	</td>
</tr>
<tr>
  <td class="option">{SEARCH_FOR}:</td>
  <td class="option_value">
		<input type="checkbox" name="search_for[]" id="cbusers" value="usr"{CHECKED_USERS} /> <label for="cbusers">{SEARCH_USERS}</label> 
		<input type="checkbox" name="search_for[]" id="cbgroups" value="grp"{CHECKED_GROUPS} /> <label for="cbgroups">{SEARCH_GROUPS}</label>
		<input type="checkbox" name="search_for[]" id="cbroles" value="role"{CHECKED_ROLES} /> <label for="cbroles">{SEARCH_ROLES}</label>
	</td>
</tr>
<tr><td colspan="2" class="submit">
<div align="right">
<input name="cmd[searchInvitation]" type="submit" class="submit" id="apply" value="{SEARCH}" />
</div>
</td></tr>
</table>
<!-- END inviation -->
<!-- BEGIN user_result -->
<br />
<table class="fullwidth">
<thead>
<tr class="tblheader"><th colspan="4">{TEXT_USER_TITLE}</th></tr>
<tr class="tblheader"><th class="std"></th><th class="std">{TEXT_LOGIN}</th><th class="std">{TEXT_FIRSTNAME}</th><th class="std">{TEXT_LASTNAME}</th></tr>
</thead>
<!-- BEGIN user_row -->
<td class="{COLOR_CLASS}" width="1%"><input type="checkbox" name="user_select[]" value="{COUNTER}" /></td>
<td class="{COLOR_CLASS}" width="15%">{VALUE_LOGIN}</td>
<td class="{COLOR_CLASS}" width="15%">{VALUE_FIRSTNAME}</td>
<td class="{COLOR_CLASS}" width="69%">{VALUE_LASTNAME}</td>
</tr>
<!-- END user_row -->
<!-- BEGIN selectall_user_result -->
<tr>
	<td class="{COLOR_CLASS}"><input type="checkbox" id="chb_user_select_check_all" name="chb_user_select_check_all" value="1" onclick="setChecked('frm_invitation', 'user_select', document.frm_invitation.chb_user_select_check_all.checked);" /></td>
  <td class="{COLOR_CLASS}" colspan="3"><label for="chb_user_select_check_all"><strong>{SELECT_ALL}</strong></label></td>
</tr>
<!-- END selectall_user_result -->
<tr><td class="submit">{ARROW}</td><td class="submit" colspan="3"><input type="submit" class="submit" name="cmd[inviteUserGroup]" value="{VALUE_ADD}" /></td></tr>
</table>
<!-- END user_result -->
<!-- BEGIN group_result -->
<br />
<table class="fullwidth">
<thead>
<tr class="tblheader"><th colspan="3">{TEXT_GROUP_TITLE}</th></tr>
<tr class="tblheader"><th class="std"></th><th class="std">{TEXT_TITLE}</th><th class="std">{TEXT_DESCRIPTION}</th></tr>
</thead>
<!-- BEGIN group_row -->
<td class="{COLOR_CLASS}" width="1%"><input type="checkbox" name="group_select[]" value="{COUNTER}" /></td>
<td class="{COLOR_CLASS}" width="30%">{VALUE_TITLE}</td>
<td class="{COLOR_CLASS}" width="69%">{VALUE_DESCRIPTION}</td>
</tr>
<!-- END group_row -->
<!-- BEGIN selectall_group_result -->
<tr>
	<td class="{COLOR_CLASS}"><input type="checkbox" id="chb_group_select_check_all" name="chb_group_select_check_all" value="1" onclick="setChecked('frm_invitation', 'group_select', document.frm_invitation.chb_group_select_check_all.checked);" /></td>
  <td class="{COLOR_CLASS}" colspan="2"><label for="chb_group_select_check_all"><strong>{SELECT_ALL}</strong></label></td>
</tr>
<!-- END selectall_group_result -->
<tr><td class="submit">{ARROW}</td><td class="submit" colspan="2"><input type="submit" class="submit" name="cmd[inviteUserGroup]" value="{VALUE_ADD}" /></td></tr>
</table>
<!-- END group_result -->
<!-- BEGIN role_result -->
<br />
<table class="fullwidth">
<thead>
<tr class="tblheader"><th colspan="3">{TEXT_ROLE_TITLE}</th></tr>
<tr class="tblheader"><th class="std"></th><th class="std">{TEXT_TITLE}</th><th class="std">{TEXT_DESCRIPTION}</th></tr>
</thead>
<!-- BEGIN role_row -->
<td class="{COLOR_CLASS}" width="1%"><input type="checkbox" name="role_select[]" value="{COUNTER}" /></td>
<td class="{COLOR_CLASS}" width="30%">{VALUE_TITLE}</td>
<td class="{COLOR_CLASS}" width="69%">{VALUE_DESCRIPTION}</td>
</tr>
<!-- END role_row -->
<!-- BEGIN selectall_role_result -->
<tr>
	<td class="{COLOR_CLASS}"><input type="checkbox" id="chb_role_select_check_all" name="chb_role_select_check_all" value="1" onclick="setChecked('frm_invitation', 'role_select', document.frm_invitation.chb_role_select_check_all.checked);" /></td>
  <td class="{COLOR_CLASS}" colspan="2"><label for="chb_role_select_check_all"><strong>{SELECT_ALL}</strong></label></td>
</tr>
<!-- END selectall_role_result -->
<tr><td class="submit">{ARROW}</td><td class="submit" colspan="2"><input type="submit" class="submit" name="cmd[inviteUserGroup]" value="{VALUE_ADD}" /></td></tr>
</table>
<!-- END role_result -->
<!-- BEGIN invited_user_result -->
<br />
<table class="fullwidth">
<thead>
<tr class="tblheader"><th colspan="4">{TEXT_USER_TITLE}</th></tr>
<tr class="tblheader"><th class="std"></th><th class="std">{TEXT_LOGIN}</th><th class="std">{TEXT_FIRSTNAME}</th><th class="std">{TEXT_LASTNAME}</th></tr>
</thead>
<!-- BEGIN invited_user_row -->
<td class="{COLOR_CLASS}" width="1%"><input type="checkbox" name="invited_users[]" value="{COUNTER}" /></td>
<td class="{COLOR_CLASS}" width="15%">{VALUE_LOGIN}</td>
<td class="{COLOR_CLASS}" width="15%">{VALUE_FIRSTNAME}</td>
<td class="{COLOR_CLASS}" width="69%">{VALUE_LASTNAME}</td>
</tr>
<!-- END invited_user_row -->
<!-- BEGIN selectall_invited_user_result -->
<tr>
	<td class="{COLOR_CLASS}"><input type="checkbox" id="chb_invited_users_check_all" name="chb_invited_users_check_all" value="1" onclick="setChecked('frm_invitation', 'invited_users', document.frm_invitation.chb_invited_users_check_all.checked);" /></td>
  <td class="{COLOR_CLASS}" colspan="3"><label for="chb_invited_users_check_all"><strong>{SELECT_ALL}</strong></label></td>
</tr>
<!-- END selectall_invited_user_result -->
<!-- BEGIN user_action_buttons -->
<tr><td class="submit">{ARROW}</td><td class="submit" colspan="3"><input type="submit" class="submit" name="cmd[disinviteUserGroup]" value="{VALUE_DISINVITE}" /></td></tr>
<!-- END user_action_buttons -->
</table>
<!-- END invited_user_result -->
<!-- BEGIN hidden -->
<input type="hidden" name="{NAME_HIDDEN}" value="{VALUE_HIDDEN}" />
<!-- END hidden -->
</form>
<!-- END survey_online -->
<!-- BEGIN survey_offline -->
<p>{SURVEY_OFFLINE_MESSAGE}</p>
<!-- END survey_offline -->
