<!-- BEGIN percentage -->
<div align="center">	
	<div style="width:50%">{NEW_PBAR}</div>
</div>
<br />
<!-- END percentage -->
<form name="surveyOutput" method="post" action="{FORM_ACTION}" class="form-inline" role="form">
<table class="fullwidth">
	<tr>
	<td align="left" width="33%" class="submit">
<!-- BEGIN top_prev -->
		<input type="submit" id="prevButton" class="btn btn-default" name="cmd[previous]" value="{BTN_PREV}" />
<!-- END top_prev -->
	</td>
	<td class="submit">
<!-- BEGIN suspend_survey -->
		<div align="center">
			<a href="{HREF_SUSPEND}" class="btn btn-default">{TEXT_SUSPEND}</a>
		</div>
<!-- END suspend_survey -->
	</td>
	<td align="right" width="33%" class="submit">
<!-- BEGIN top_next -->
		<input type="submit" id="nextButton" class="btn btn-default btn-primary" name="cmd[next]" value="{BTN_NEXT}" />
<!-- END top_next -->
	</td>
	</tr>	
	<tr class="std">
		<td colspan="3" class="ilc_Page">
			<div class="ilc_Page" id="ilc_Page" style="padding:10px;">
<!-- BEGIN questionblock_title -->
<div class="questionblockTitle">{TEXT_QUESTIONBLOCK_TITLE}</div>
<br />
<!-- END questionblock_title -->
<!-- BEGIN survey_content -->
<!-- BEGIN heading -->
<div class="questionheading">{QUESTION_HEADING}</div>
<!-- END heading -->
{QUESTION_OUTPUT}
<br />
<!-- END survey_content -->
{SYSTEMSETTINGS}
			</div>
		</td>
	</tr>
	<!-- BEGIN required -->
	<tr>
		<td colspan="3">
			<div class="required" style="padding: 10px;"><span class="obligatory">*</span><span class="small">{TEXT_REQUIRED}</span></div>
		</td>
	<!-- END required -->				
</table>
<!-- BEGIN bottom_navigation -->
<table class="fullwidth">
	<tr>
		<td align="left" width="33%" class="submit">
<!-- BEGIN bottom_prev -->
			<input type="submit" id="prevButtonBottom" class="btn btn-default" name="cmd[previous]" value="{BTN_PREV}" />
<!-- END bottom_prev -->
		</td>
		<td align="left" width="1" class="submit">
		</td>
		<td align="right" width="33%" class="submit">
<!-- BEGIN bottom_next -->
			<input type="submit" id="nextButtonBottom" class="btn btn-default btn-primary" name="cmd[next]" value="{BTN_NEXT}" />
<!-- END bottom_next -->
		</td>
	</tr>
</table>
<!-- END bottom_navigation -->
</form>
