<form name="removeQuestions" method="post" action="{FORM_ACTION}">
<table class="fullwidth">
<thead>
	<tr class="tblheader">
		<th class="std">{TEXT_TITLE}</th>
		<th class="std">{TEXT_DESCRIPTION}</th>
		<th class="std">{TEXT_TYPE}</th>
		<th class="std">{TEXT_QUESTIONBLOCK}</th>
	</tr>
</thead>
<!-- BEGIN row -->
<tr class="{COLOR_CLASS}">
<td class="{COLOR_CLASS}">{TEXT_TITLE}</td>
<td class="{COLOR_CLASS}">{TEXT_DESCRIPTION}</td>
<td class="{COLOR_CLASS}">{TEXT_TYPE}</td>
<td class="{COLOR_CLASS}">{TEXT_QUESTIONBLOCK}</td>
</tr>
<!-- END row -->
<tr class="std">
<td class="std" colspan="4">
<input type="submit" class="submit" name="cmd[confirmRemoveQuestions]" value="{BTN_CONFIRM}" />
<input type="submit" class="submit" name="cmd[cancelRemoveQuestions]" value="{BTN_CANCEL}" />
</td>
</tr>
</table>
<!-- BEGIN hidden -->
<input type="hidden" name="{HIDDEN_NAME}" value="{HIDDEN_VALUE}" />
<!-- END hidden -->
</form>