<div class="panel panel-primary">
	{NODES}
	<!-- BEGIN commands -->
	<div class="panel-footer">	
		<!-- BEGIN multi_cmds -->
		<img border="0" alt="{MCMD_ALT}" src="{MCMD_IMG}" />
		<!-- BEGIN multi_cmd -->
		<input class="btn btn-default" type="submit" name="cmd[{ORG_CMD_MULTI}]" value="{MULTI_CMD_TXT}" onClick="return ilSurveyPageView.multiAction('{ORG_CMD_MULTI}', '{MULTI_CMD}');" />
		<!-- END multi_cmd -->
		<!-- END multi_cmds -->	
	</div>
	<!-- END commands -->
</div>	


<div style="margin-top: 10px;">
<!-- BEGIN help_section -->
<div id="ilPageEditLegend">
	<div>
		<div class="il_droparea">{PLUS}</div>
		<span class="subtitle">{TXT_ADD_EL}</span>
	</div>
	<div>
		<div class="ilPageEditLegendElement">&nbsp;</div>
		{DRAG_ARROW}
		<div class="il_droparea">{PLUS}</div>
		<span class="subtitle">{TXT_DRAG}</span>
	</div>
	<div>
		<div class="ilPageEditLegendElement">&nbsp;</div>
		<span class="subtitle">{TXT_SEL}</span>
	</div>
</div>
<!-- END help_section -->
</div>

<form method="post" action="{FORM_ACTION}" id="form_hform" class="form-inline">
<input type="hidden" id="il_hform_cmd" name="" value="" />
<input type="hidden" id="il_hform_node" name="il_hform_node" value="" />
<input type="hidden" id="il_hform_subcmd" name="il_hform_subcmd" value="" />
<input type="hidden" id="il_hform_multi" name="il_hform_multi" value="" />
<input type="hidden" id="il_hform_source_id" name="il_hform_source" value="" />
<input type="hidden" id="il_hform_target_id" name="il_hform_target" value="" />
</form>

<script language="JavaScript" type="text/javascript">
ilSurveyPageView.init();
</script>