<!-- BEGIN question_data_text -->
<div class="questionTitle">{QUESTION_TITLE}</div>
{ERROR_MESSAGE}
<p class="questiontext">{QUESTIONTEXT}<br /><span class="obligatory">{OBLIGATORY_TEXT}</span></p>
<table class="nobackground">
<tr>
<td class="nobackground"><label for="{QUESTION_ID}_text_question">{TEXT_ANSWER}</label>:</td>
<td class="nobackground" colspan="4"><textarea name="{QUESTION_ID}_text_question" cols="50" rows="5" id="{QUESTION_ID}_text_question">{VALUE_ANSWER}</textarea><br /><span class="quote">{TEXT_MAXCHARS}</span></td>
</tr>
</table>
<!-- BEGIN material_text -->
<p>
{TEXT_MATERIAL}
</p>
<!-- END material_text -->
<!-- END question_data_text -->
