/* Services/Locator */

ol.breadcrumb {
	margin: 0;
	font-weight: 600;
	padding-left: 15px;
	font-size: .8em;
}

[dir="rtl"] ol.breadcrumb {
	padding-right: 15px;
}

.breadcrumb a {
/*	color: #a0a0a0; */
}

.breadcrumb > li + li:before {
/*	 color: #a0a0a0; */
 }