<tr class="{CSS_ROW}">
    <td class="std">
        {VAL_TITLE}
    </td>
    <!-- BEGIN file -->
    <td class="std">
        {VAL_FILE}
    </td>
    <!-- END file -->
    <!-- BEGIN version -->
    <td class="std">
        {VAL_VERSION}
    </td>
    <!-- END version -->
    <!-- BEGIN status -->
    <td class="std">
        {VAL_STATUS}
    </td>
    <!-- END status -->
    <!-- BEGIN instances -->
    <td class="std">
        {TXT_INSTANCES_TOTAL}:&nbsp;{VAL_INSTANCES_TOTAL},&nbsp;{TXT_INSTANCES_ACTIVE}:&nbsp;{VAL_INSTANCES_ACTIVE}
    </td>
    <!-- END instances -->
    <td class="std">
        {HTML_ASL}
    </td>
</tr>