<tr>
	<td valign="top" class="{ROWCOL}" width="5%">{CHECKBOX}</td>
	<td class="{ROWCOL}" width="60%" nowrap="nowrap"><input type="text" size="2" maxlength="2" name="{DURATION_NAME}" value="{DURATION}"/>&nbsp;{MONTH}</td>
	<td class="{ROWCOL}" width="20%" nowrap="nowrap"><input type="text" size="4" maxlength="5" name="{UNIT_NAME}" value="{UNIT}"/>&nbsp;{SHORTFORM}</td>
	<td class="{ROWCOL}" width="20%" nowrap="nowrap"><input type="text" size="2" maxlength="2" name="{SUB_UNIT_NAME}" value="{SUB_UNIT}"/>&nbsp;{SUB_UNIT_TXT}</td>
</tr>