  <form action="{PERSONAL_DATA_FORMACTION}" method="post">
	<p><table class="std">
	  <tr class="tbltitle">
		<td colspan="3">
		  <table class="fullwidth_invisible" cellspacing="0">
			<tr class="tbltitle">
			  <td width="10"><img src="{TYPE_IMG}" alt="{ALT_IMG}" title="{ALT_IMG}" border="0" vspace="0" align="left" /></td>
			  <td class="tbltitle" align="left">&nbsp;{TITLE}</td>
			</tr>
		  </table>
		</td>
	  </tr>
	  <tr>
		<td class="sub_option">{TXT_FIRSTNAME}</td>
		<td class="sub_option"><div align="left">{FIRSTNAME}</div></td>
	  </tr>
	  <tr>
		<td class="sub_option">{TXT_LASTNAME}</td>
		<td class="sub_option"><div align="left">{LASTNAME}</div></td>
	  </tr>
	  <tr> 
		<td nowrap class="sub_option">{TXT_STREET} {TXT_HOUSE_NUMBER}</td>
		<td nowrap class="option_value"><input type="text" name="street" value="{STREET}" maxlength="100"> <input type="text" name="house_number" value="{HOUSE_NUMBER}" size="5"  maxlength="10"></td>
	  </tr>
	  <tr>
		<td class="sub_option"><i>{TXT_OR}</i> {TXT_PO_BOX}</td>
		<td class="option_value"><input type="text" name="po_box" value="{PO_BOX}" size="11" maxlength="10"></td>
	  </tr>
	  <tr> 
		<td class="sub_option">{TXT_ZIPCODE}</td>
		<td class="option_value"><input type="text" name="zipcode" value="{ZIPCODE}" size="5" maxlength="10"></td>
	  </tr>
	  <tr> 
		<td class="sub_option">{TXT_CITY}</td>
		<td class="option_value"><input type="text" name="city" value="{CITY}"maxlength="22"></td>
	  </tr>
	  <tr>
		<td class="sub_option">{TXT_COUNTRY}</td>
		<td class="option_value">
			<select name="country" size="1">
				<option value="">{TXT_PLEASE_SELECT}</option>
<!-- BEGIN loop_countries -->
				<option value="{LOOP_COUNTRIES}"{LOOP_COUNTRIES_SELECTED}>{LOOP_COUNTRIES_TXT}</option>
<!-- END loop_countries -->
			</select>
		</td>
	  </tr>
	  <tr>
		<td class="sub_option">{TXT_EMAIL}</td>
		<td class="sub_option"><div align="left">{EMAIL}</div></td>
	  </tr>
	  <tr class="tblfooter" >
		<td class="submit" colspan="3" >
			<input class="submit" type="submit" name="cmd[getPersonalData]" value="{INPUT_VALUE}" />
<!--			<input class="submit" type="submit" name="cmd[cancel]" value="{CANCEL}" />//-->
		</td>
	  </tr>
	</table></p>
</form>
