<form name="formular" action="{FORMACTION}" method="post">
<input type="hidden" name="updateView" value="1" />
<h3>{TXT_FILTER}</h3>
<table cellspacing="2" cellpadding="2" border="0">
<tr>
	<td nowrap>{TXT_COUPON}:</td>
	<td nowrap>
		<table cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td>
				<select name="title_type" size="1">					
					<option value="0"{TITLE_TYPE_0}>{TXT_STARTING}</option>
					<option value="1"{TITLE_TYPE_1}>{TXT_ENDING}</option>
				</select>
			</td>
			<td>&nbsp;</td>
			<td>
				<input type="text" name="title_value" value="{TITLE_VALUE}" />
			</td>
		</tr>
		</table>
	</td>
	<td>&nbsp;</td>
	<td nowrap>{TXT_TYPE}:</td>
	<td nowrap>
		<select name="type" size="1">
			<option></option>
			<option value="fix"{TYPE_FIX}>{TXT_TYPE_FIX}</option>
			<option value="percent"{TYPE_PERCENT}>{TXT_TYPE_PERCENTAGED}</option>			
		</select>
	</td>
</tr>
<tr>
	<td nowrap>{TXT_VALID_DATE_FROM}:</td>
	<td nowrap>
		<select name="from[day]" size="1">
			<option value=""></option>
<!-- BEGIN loop_from_day -->
			<option value="{LOOP_FROM_DAY}"{LOOP_FROM_DAY_SELECTED}>{LOOP_FROM_DAY}</option>
<!-- END loop_from_day -->
		</select>
		.
		<select name="from[month]" size="1">
			<option value=""></option>
<!-- BEGIN loop_from_month -->
			<option value="{LOOP_FROM_MONTH}"{LOOP_FROM_MONTH_SELECTED}>{LOOP_FROM_MONTH}</option>
<!-- END loop_from_month -->
		</select>
		.
		<select name="from[year]" size="1">
			<option value=""></option>
<!-- BEGIN loop_from_year -->
			<option value="{LOOP_FROM_YEAR}"{LOOP_FROM_YEAR_SELECTED}>{LOOP_FROM_YEAR}</option>
<!-- END loop_from_year -->
		</select>
	</td>
	<td>&nbsp;</td>
	<td nowrap colspan="2" valign="bottom">
		<input class="submit" type="submit" name="cmd[showCoupons]" value="{TXT_UPDATE_VIEW}" />
		<input class="submit" type="submit" name="cmd[resetFilter]" value="{TXT_RESET_FILTER}" />
	</td>
</tr>
<tr>
	<td nowrap>{TXT_VALID_DATE_TILL}:</td>
	<td nowrap>
		<select name="till[day]" size="1">
			<option value=""></option>
<!-- BEGIN loop_till_day -->
			<option value="{LOOP_TILL_DAY}"{LOOP_TILL_DAY_SELECTED}>{LOOP_TILL_DAY}</option>
<!-- END loop_till_day -->
		</select>
		.
		<select name="till[month]" size="1">
			<option value=""></option>
<!-- BEGIN loop_till_month -->
			<option value="{LOOP_TILL_MONTH}"{LOOP_TILL_MONTH_SELECTED}>{LOOP_TILL_MONTH}</option>
<!-- END loop_till_month -->
		</select>
		.
		<select name="till[year]" size="1">
			<option value=""></option>
<!-- BEGIN loop_till_year -->
			<option value="{LOOP_TILL_YEAR}"{LOOP_TILL_YEAR_SELECTED}>{LOOP_TILL_YEAR}</option>
<!-- END loop_till_year -->
		</select>
	</td>	
</tr>
</table>
</form>
{COUPONS_TABLE}