<form name="formular" action="{FORMACTION}" method="post">
<input type="hidden" name="updateView" value="1" />
<h3>{TXT_FILTER}</h3>
<table cellspacing="2" cellpadding="2" border="0">
<tr>
	<td nowrap>{TXT_COUPON}:</td>
	<td nowrap>
		<table cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td>
				<select name="title_type" size="1">					
					<option value="0"{TITLE_TYPE_0}>{TXT_STARTING}</option>
					<option value="1"{TITLE_TYPE_1}>{TXT_ENDING}</option>
				</select>
			</td>
			<td>&nbsp;</td>
			<td>
				<input type="text" name="title_value" value="{TITLE_VALUE}" />
			</td>
		</tr>
		</table>
	</td>
	<td>&nbsp;</td>
	<td nowrap>{TXT_TYPE}:</td>
	<td nowrap>
		<select name="type" size="1">
			<option></option>
			<option value="fix"{TYPE_FIX}>{TXT_TYPE_FIX}</option>
			<option value="percent"{TYPE_PERCENT}>{TXT_TYPE_PERCENTAGED}</option>			
		</select>
	</td>
</tr>
<tr>
	<td nowrap>{TXT_VALID_DATE_FROM}:</td>
	<td nowrap>{DATE_FROM}&nbsp;<input type="checkbox" name="from_enabled" id="chs_starting_date" value="1"{CHECKED_STARTING_DATE} /> <label for="chs_starting_date">{TXT_ENABLED}</label></td>
	<td>&nbsp;</td>
	<td nowrap colspan="2" valign="bottom">
		<input class="submit" type="submit" name="cmd[showCoupons]" value="{TXT_UPDATE_VIEW}" />
		<input class="submit" type="submit" name="cmd[resetFilter]" value="{TXT_RESET_FILTER}" />
	</td>
</tr>
<tr>
	<td nowrap>{TXT_VALID_DATE_TILL}:</td>
	<td nowrap>{DATE_TILL}&nbsp;<input type="checkbox" name="till_enabled" id="chs_ending_date" value="1"{CHECKED_ENDING_DATE} /> <label for="chs_ending_date">{TXT_ENABLED}</label></td>	
</tr>
</table>
</form>
{COUPONS_TABLE}