  <form action="{SO_FORMACTION}" method="post">
	<table class="std">
	  <tr class="tbltitle">
		<td colspan="2">
		  <table class="fullwidth_invisible" cellspacing="0">
			<tr class="tbltitle">
			  <td width="10"><img src="{TYPE_IMG}" alt="{ALT_IMG}" title="{ALT_IMG}" border="0" vspace="0" align="left" /></td>
			  <td class="tbltitle" align="left">&nbsp;{DETAILS}</td>
			</tr>
		  </table>
		</td>
	  </tr>
	  <tr>
		<td class="option">{TXT_TITLE}</td>
		<td class="option_value">{TITLE}</td>
	  </tr>
	  <tr>
		<td class="option">{TXT_DESCRIPTION}</td>
		<td class="option_value">{DESCRIPTION}</td>
	  </tr>
	  <tr>
		<td class="option">{TXT_OWNER}</td>
		<td class="option_value">{OWNER}</td>
	  </tr>
	  <tr>
		<td class="option">{TXT_PATH}</td>
		<td class="option_value">{PATH}</td>
	  </tr>
	  <tr>
		<td class="option">{TXT_VENDOR}</td>
		<td class="option_value">{VENDOR}</td>
	  </tr>
	  <tr class="tblfooter">
		<td class="tblfooter" colspan="2" align="right">
		  <input class="submit" type="submit" name="cmd[{BTN1_NAME}]" value="{BTN1_VALUE}" />&nbsp;
			<input class="submit" type="submit" name="cmd[{BTN2_NAME}]" value="{BTN2_VALUE}" />
		</td>
	  </tr>
	</table>
  </form>