<!-- BEGIN confirm_delete -->
  <form action="{CONFIRM_FORMACTION}" method="post">
	<table class="fullwidth_invisible">
	  <tr>
		<td align="center">
			<input class="submit" type="submit" name="cmd[{CONFIRM_CMD}]" value="{TXT_CONFIRM}" />
		  <input class="submit" type="submit" name="cmd[editStatistic]" value="{TXT_CANCEL}" />
		</td>
	  </tr>
	</table>
  </form>
  <!-- END confirm_delete -->
  <form action="{STAT_FORMACTION}" method="post">
	<table class="std" width="40%">
	  <tr class="tbltitle">
		<td colspan="2">
		  <table class="fullwidth_invisible" cellspacing="0">
			<tr class="tbltitle">
			  <td width="10"><img src="{TYPE_IMG}" alt="{ALT_IMG}" title="{ALT_IMG}" border="0" vspace="0" align="left" /></td>
			  <td class="tbltitle" align="left">&nbsp;{TITLE}</td>
			</tr>
		  </table>
		</td>
	  </tr>
	  <tr>
		<td class="option">{TXT_OBJECT}</td>
		<td class="option_value">{OBJECT}</td>
	  </tr>
	  <tr>
		<td class="option">{TXT_TRANSACTION}</td>
		<td class="option_value">{TRANSACTION}</td>
	  </tr>
	  <tr>
		<td class="option">{TXT_VENDOR}</td>
		<td class="option_value">{VENDOR}</td>
	  </tr>
	  <tr>
		<td class="option" >{TXT_PAY_METHOD}</td>
		<td class="option_value">{PAY_METHOD}</td>
	  </tr>
	  <tr>
		<td class="option" >{TXT_ORDER_DATE}</td>
		<td class="option_value">{ORDER_DATE}</td>
	  </tr>
	  <tr>
		<td class="option">{TXT_DURATION}</td>
		<td class="option_value">{DURATION}</td>
	  </tr>
	  <tr>
		<td class="option">{TXT_PRICE}</td>
		<td class="option_value">{PRICE}</td>
	  </tr>
	  <tr>
		<td class="option">{TXT_PAYED}</td>
		<td class="option_value">{PAYED}</td>
	  </tr>
	  <tr>
		<td class="option">{TXT_ACCESS}</td>
		<td class="option_value">{ACCESS}</td>
	  </tr>
	  <tr class="tblfooter" >
		<td class="submit" colspan="2" ><input class="submit" type="submit" name="cmd[{INPUT_CMD}]" value="{INPUT_VALUE}" />&nbsp;<input class="submit" type="submit" name="cmd[{DELETE_CMD}]" value="{DELETE_VALUE}" /></td>
	  </tr>
	</table>
</form>
<!-- BEGIN CUSTOMER_DATA -->
<br>
	<table class="std" width="40%">
	  <tr class="tbltitle">
		<td colspan="2">
		  <table class="fullwidth_invisible" cellspacing="0">
			<tr class="tbltitle">
			  <td width="10"><img src="{TYPE_IMG_2}" alt="{ALT_IMG_2}" title="{ALT_IMG_2}" border="0" vspace="0" align="left" /></td>
			  <td class="tbltitle" align="left">&nbsp;{TITLE_2}</td>
			</tr>
		  </table>
		</td>
	  </tr>
	  <tr>
		<td class="option">{TXT_EMAIL}</td>
		<td class="option_value">{EMAIL}</td>
	  </tr>
	  <tr>
		<td class="option">{TXT_STREET}</td>
		<td class="option_value">{STREET}</td>
	  </tr>
	  <tr>
		<td class="option" >{TXT_PO_BOX}</td>
		<td class="option_value">{PO_BOX}</td>
	  </tr>
	  <tr>
		<td class="option" >{TXT_ZIPCODE}</td>
		<td class="option_value">{ZIPCODE}</td>
	  </tr>
	  <tr>
		<td class="option">{TXT_CITY}</td>
		<td class="option_value">{CITY}</td>
	  </tr>
	  <tr>
		<td class="option">{TXT_COUNTRY}</td>
		<td class="option_value">{COUNTRY}</td>
	  </tr>	  
	</table>
<!-- END CUSTOMER_DATA -->
