<form action="{FORMACTION}" method="post">
<table class="std">
<tr class="tblheader">
	<td class="std" colspan="2">{TXT_HEADLINE}</td>
</tr>
<tr>
	<td class="option">{TXT_TITLE}<span class="asterisk">*</span></td>
	<td class="option_value"><input type="text" name="title" value="{TITLE}" /></td>
</tr>
<tr>
	<td class="option">{TXT_DESCRIPTION}</td>
	<td class="option_value"><textarea name="description" rows="4" cols="35">{DESCRIPTION}</textarea></td>
</tr>
<tr>
	<td class="option">{TXT_TYPE}<span class="asterisk">*</span></td>
	<td class="option_value">
		<select name="type" size="1">
			<option value="fix"{TYPE_FIX}>{TXT_FIX}</option>
			<option value="percent"{TYPE_PERCENT}>{TXT_PERCENTAGED}</option>
		</select>
	</td>
</tr>
<tr>
	<td class="option">{TXT_VALUE}<span class="asterisk">*</span></td>
	<td class="option_value"><input type="text" name="value" value="{VALUE}" style="text-align: right; width: 75px;" /> &euro; / %</td>
</tr>
<tr>
	<td class="option">{TXT_VALID_FROM}</td>
	<td class="option_value"><input type="checkbox" name="pc_from_enabled" id="chs_starting_date" value="1"{CHECKED_STARTING_DATE} /> <label for="chs_starting_date">{TXT_ENABLED}</label><br />{DATE_FROM}</td>
</tr>
<tr>
	<td class="option">{TXT_VADID_TILL}</td>
	<td class="option_value"><input type="checkbox" name="pc_till_enabled" id="chs_ending_date" value="1"{CHECKED_ENDING_DATE} /> <label for="chs_ending_date">{TXT_ENABLED}</label><br />{DATE_TILL}</td>
</tr>
<tr>
	<td class="option">{TXT_USAGE}</td>
	<td class="option_value"><input type="text" name="usage" value="{USAGE}" style="width: 75px;" /></td>
</tr>
<tr class="tblfooter" >
	<td class="submit" colspan="2">
		<div align="right"><span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FIELDS}</span></div>
		<input class="submit" type="submit" name="cmd[saveCouponForm]" value="{TXT_SAVE}" />
		<input class="submit" type="submit" name="cmd[{COUPONS}]" value="{TXT_CANCEL}" />
	</td>
</tr>
</table>
</form>