


//Valid for all panels (if not overridden)
.panel{
	border: none;

	.panel-heading.ilHeader, .panel-heading.ilBlockHeader {
		background-color: @il-secondary-container-bg;

		margin: 0;
		padding: @panel-heading-padding;

		border: none;
		.box-shadow(none);
		h2, h2.ilHeader {
			margin: 0;
			color: @panel-heading-color;
			font-size: @font-size-h2;
		}

		h3, h3.ilHeader {
			margin: 0;
			color: @panel-heading-color;
			font-size: @font-size-h3;
		}

		h4, h4.ilBlockHeader {
			margin: 0;
			color: @panel-heading-color;
			font-size: @font-size-h4;
		}

		.dropdown {
			float: right;

			> button.dropdown-toggle {
				color: @il-btn-standard-color;
			}
		}
	}

	.panel-body {
		padding: @padding-large-vertical @padding-large-horizontal;
		background-color: @il-primary-container-bg;

	}
}

//Special assignments for Panels using Flex layouts (Standard, Secondary, Report and Sub)
.panel-flex{
	.panel-heading {
		display: flex;
		flex-flow: row wrap;
	}
	.ilHeader{
		display: flex;
	}
	h3.ilHeader {
		flex-grow: 99;
		flex-shrink: 1;
		line-height: ceil(@font-size-h4 * 1.235);
		order: 1;
	}
	.ilBlockHeader h4{
		flex-grow: 99;
		flex-shrink: 1;
		order: 1;
	}
	.panel-heading .dropdown {
		flex-grow: 1;
		flex-shrink: 0;
		order: 3;
		.dropdown-toggle {
			float: right;
		}
	}
	.il-viewcontrol-sortation {
		flex-grow: 1;
		flex-shrink: 0;
		order: 2;
		margin-right: @padding-base-horizontal;
	}
	.il-viewcontrol-pagination, .il-viewcontrol-section {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 100%;
		order: 4;
		background-color:@il-secondary-container-bg;
		text-align:center;
		padding-top:@padding-base-horizontal;
	}
}

//Standard Panel
.panel-primary {
	h3.ilHeader {
		font-weight: 600;
	}
}

//Secondary Panel
.panel-secondary{
	.panel-heading.ilHeader{
		padding: @padding-large-vertical @padding-large-horizontal;
		h2.ilHeader {
			font-size: @font-size-h4;
		}

		h3.ilHeader {
			font-size: @font-size-h4;
		}
	}

	.panel-body {
		overflow: hidden;

		.il-item-group{
			margin: 0 -@padding-large-horizontal;
			h3{
				padding: @padding-large-vertical @padding-large-horizontal;
			}
			h4{
				padding: @padding-large-vertical @padding-large-horizontal;
			}

			&:first-child{
				margin: -@padding-large-vertical -@padding-large-horizontal 0 -@padding-large-horizontal;
			}

			.il-item{
				padding-left: @padding-large-horizontal;

				.media-right{
					vertical-align: middle;
				}
			}
		}
	}

	.il-panel-listing-std-container > h2, .panel-body h4{
		display: block;
		padding: @padding-large-vertical 0;
		font-size: @font-size-base;
		color: @panel-heading-color;
		margin: 0;
	}

	.il-std-item-container:not(:last-child) {
		border-bottom: @il-item-border-bottom-small;
	}
}

//Sub Panel
.panel-sub{
	margin: -@padding-large-vertical -@padding-large-horizontal;

	.panel-body{
		margin: 0;
	}

	&:first-child{
		.panel-heading{
			padding-top: @padding-small-vertical;
		}
	}
}

//Report Panel
.il-panel-report {
	.thumbnail {
		margin-bottom: 0;
	}
	> .panel-body > .panel {
		margin-bottom: @padding-large-vertical;
	}
	.panel-heading{
		min-height: 34px;
	}

}

//Listing Panel
.il-panel-listing-std-container {
	background-color: @il-secondary-container-bg;
	margin-bottom: @il-standard-page-content-padding;

	> h2 {
		color: @panel-heading-color;
		font-size: @font-size-h3;
		font-weight: 600;
		float: left;
		padding: @panel-heading-padding;
		padding-bottom: @padding-small-vertical;
		margin: 0;
		line-height: @line-height-large;
	}

	.dropdown {
		float: right;
	}
	> .dropdown {
		padding: @panel-heading-padding;

		&:not(:last-child){
			padding-bottom: @padding-small-vertical;
		}
	}
}