.il-panel-report {
	.thumbnail {
		margin-bottom: 0;
	}
	> .panel-body > .panel {
		margin-bottom: 10px;
	}
	.panel-heading{
		height: 34px;
	}

}

.panel-heading {
	> h3 {
		float: left;
	}

	> h4 {
		float: left;
	}

	.dropdown {
		float: right;

		> button.dropdown-toggle {
			color: @il-btn-standard-color;
		}
	}
}

.il-panel-listing-std-item-container {
	margin: @il-panel-listing-std-item-container-margin;
}

.il-panel-listing-std-container {
	> .il-item-group > h4 {
		margin: @il-panel-listing-std-container-h4-margin;
		font-size: @font-size-h4;
		font-weight: normal;
		padding: 0;
		text-transform: @il-panel-listing-std-container-h4-text-transform;
		color: @il-panel-listing-std-container-h4-color;
	}
	> h3 {
		font-weight: normal;
		padding: 0;
		margin: @il-panel-listing-std-container-h3-margin;
		font-size: @font-size-h3;
		text-transform: @il-panel-listing-std-container-h3-text-transform;
		color: @il-panel-listing-std-container-h3-color;
		float: left;
	}

	.dropdown {
		float: right;
	}
}

/* this is currently experimental, could be removed */
.il-narrow-content .il-panel-listing-std-container > h3, .il-narrow-content .il-panel-listing-std-container > h4 {
	display: block;
	padding: 3px 5px;
	font-size: 12px;
	background-color: #f3f3f3;
	color: #777777;
	white-space: nowrap;
	margin:0;
}