.il-panel-report {
	.thumbnail {
		margin-bottom: 0;
	}
	> .panel-body > .panel {
		margin-bottom: 10px;
	}
}

.il-panel-listing-std-item-container {
	margin-bottom: 1px;
}

.il-panel-listing-std-container > h3, .il-panel-listing-std-container > h4 {
	font-weight: normal;
	padding: 0;
	margin: 8px 0 2px 0;
	font-size: 19px;
	color: #909090;
	text-transform: uppercase;
}

.il-panel-listing-std-container > h4 {
	margin-top: 16px;
	font-size: 17px;
}

.il-narrow-content .il-panel-listing-std-container > h3, .il-narrow-content .il-panel-listing-std-container > h4 {
	display: block;
	padding: 3px 5px;
	font-size: 12px;
	background-color: #f3f3f3;
	color: #777777;
	white-space: nowrap;
	margin:0;
}