<div class="panel panel-primary il-panel-data">
    <div class="panel-heading ilHeader">
        <h3 class="ilHeader">{TITLE}</h3>
    </div>
    <div class="panel-body">
        <!-- BEGIN data-row -->
        <!-- BEGIN data-row-divider -->{DIVIDER}<!-- END data-row-divider -->
        <div class="il-panel-data-row clearfix">
            <div class="il-panel-data-label col-md-4">{LABEL}</div>
            <div class="il-panel-data-value col-md-8">{VALUE}</div>
        </div>
        <!-- END data-row -->
    </div>
</div>