<tr class="{CSS_ROW}">
	<td class="std"  style="vertical-align:top;">
		{VAL_TITLE}
		<div class="il_Description">{VAL_DESC}</div>
	</td>
	<td class="std" style="vertical-align:top">
		<!-- BEGIN link -->
		<img src="{LINK_IMG}" title="{LINK_CONTAINER}" alt="{LINK_CONTAINER}" />
		<a target="_top" href="{LINK_LINK}">{LINK_CONTAINER}</a><br />
		<!-- END link -->
	</td> 
	<td class="std"  style="vertical-align:top;">
		{VAL_REMOTE}
	</td>
	<td class="std"  style="vertical-align:top;">
		<small>
			<strong>{TXT_CRS_ID}:</strong> {VAL_CRS_ID}<br />
			<strong>{TXT_TERM}:</strong> {VAL_TERM}<br />
			<strong>{TXT_LECTURER}:</strong> {VAL_LECTURER}<br />
			<strong>{TXT_CRS_TYPE}:</strong> {VAL_CRS_TYPE}<br />
			<strong>{TXT_SWS}:</strong> {VAL_SWS}<br />
			<strong>{TXT_CREDITS}:</strong> {VAL_CREDITS}<br />
			<strong>{TXT_ROOM}:</strong> {VAL_ROOM}<br />
			<strong>{TXT_CYCLE}:</strong> {VAL_CYCLE}<br />
			<strong>{TXT_START}:</strong> {VAL_START}<br />
			<strong>{TXT_END}:</strong> {VAL_END}<br />
		</small>
	</td>
	<td class="std" style="vertical-align:center;">
		{VAL_LAST_UPDATE}
	</td>
</tr>