<tr class="{CSS_ROW}">
	<td class="std" style="text-align:center;">
		<img src="{IMAGE_OK}" title="{TXT_OK}" alt="{TXT_OK}" border="0">
	</td>
	<td class="std"  style="vertical-align:top;">
		<a href="{LINK_EDIT}">{VAL_TITLE}</a>
		<div>
			<small><strong>{TXT_SRV_ADDR}:</strong> {VAL_DESC}</small>
		</div>
		<!-- BEGIN cert_valid -->
		<div>
			<small><strong>{TXT_CERT_VALID}:</strong> {VAL_CERT}</small>
		</div>
		<!-- END cert_valid -->
	</td>
	<td class="std">
		<div class="il_ContainerItemCommand2">
			{ACTIONS}
		</div>
	</td>
</tr>