<tr class="{CSS_ROW}">
	<td class="std" style="vertical-align:top;">
		<input type="checkbox" name="mid[]" value="{VAL_ID}" {VAL_CHECKED}/>
	</td>
	<td class="std"  style="vertical-align:top;">
		{VAL_TITLE}
		<div class="il_Description">{VAL_DESC}</div>
	</td>
	<td class="std"  style="vertical-align:top;">
		<small>
			<strong>{TXT_DNS}:</strong> {VAL_DNS}<br />
			<strong>{TXT_EMAIL}:</strong> {VAL_EMAIL}<br />
			<strong>{TXT_ABR}: {VAL_ABR}</strong>
		</small>
	</td>
	<td class="std" style="vertical-align:center;">
		<img src="{IMAGE_OK}" alt="{TXT_OK}" border="0">
	</td>
</tr>