.il-maincontrols-footer {
	color: white;
	font-size: 0.9em;
	padding: 2px 10px;

	.il-footer-content div {
		float: left;
	}

	.il-footer-links ul {
		list-style: none;
		paddinng: 0px;
		margin: 0px;

		li {
			display: inline-block;
			margin-left: 5px;
			a {
				color: white;
			}
		}
	}

	.il-footer-permanent-url {
		display: inline-block;
		border: 1px solid gray;
	}
}
