.il-maincontrols-footer {
	color: white;
	font-size: 0.9em;
	padding: 2px 10px;

	.il-footer-content div {
		display: inline-block;
	}

	.il-footer-links ul {
		list-style: none;
		padding: 0px;
		margin: 0px;

		li {
			display: inline-block;
			margin-right: 5px;
			a {
				color: white;
			}
		}
	}

	.il-footer-permanent-url {
		background-color: #fff;
		color: @brand-primary;
		padding: 2px;
		margin-right: 5px;
	}

	.il-footer-text {
		margin-right: 5px;
	}
}
