.il-maincontrols-metabar {
	display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;


	.il-logo {
		justify-self: start;
		img {
			height: @logo-height;
			width: @logo-width;
		}
	}


	.il-metabar-entries {
		display: flex;

		.metabar-entry,
		.il-logout {
			padding-left: 10px;
		}
	}
}