.il-head_info {
  box-shadow: @il-standard-page-modeinfo-shadow-size @il-standard-page-modeinfo-shadow-color;
  background-color: @il-standard-page-headinfo-bg-color;
  border-top: @il-standard-page-modeinfo-border @il-standard-page-border-light-color;

  width: 100%;
  color: @il-standard-page-modeinfo-text-color;
  padding-left: @il-logo-margin;

  h1, p, span {
	margin: 0;
	padding: 0;
	line-height: @il-standard-page-headinfo-height;
	font-size: 0.8em;
	display: inline-block;
	float: left;
  }

  * {

  }

  h1 {
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 20px;
  }
}

/*
**************************************************************
       mobile Layout
**************************************************************
*/


@media only screen and (max-width: @grid-float-breakpoint-max) {
  .il-head_info {
	border-top: none;

	p {
	  display: none;
	}
  }
}