
.il-mode-info {
  border-top: @il-mode-info-border;
  border-left: @il-mode-info-border;
  border-right: @il-mode-info-border;
  text-align: center;
  height: @il-mode-info-height;
  margin-bottom: -@il-mode-info-height;
  z-index: 2;
  position: static;
}

.il-mode-info + div {
  border: @il-mode-info-border;
  border-top: 0 none;
}

.il-layout-page-content > div {
  display: grid;
  grid-template-rows: auto 1fr
}


.il-mode-info span.il-mode-info-content {
  margin: auto;
  background-color: @il-mode-info-color;
  display: inline-block;
  padding: 2px 10px 3px 12px;
  color: white;

  -webkit-box-shadow: @il-mode-info-shadow;
  -moz-box-shadow: @il-mode-info-shadow;
  box-shadow: @il-mode-info-shadow;
}

.il-mode-info span {
  color: @il-mode-info-text-color;
  font-size: 1.2em;
}

.il-mode-info button {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: @grid-float-breakpoint-max) {
  .il-mode-info {
	margin-bottom: 0;
  }

  span.il-mode-info-content {
	display: block;
	width: 100%;
  }
}

