/*
**************************************************************
	System Infos
	change the rule for &.full to

		height: 100%;
		position: fixed;
		padding: 100px;
		top: 0;
		left: 0;
		font-size: 2em;
		line-height: 1.2em;

	to show a fullscreen info
**************************************************************
*/


.il-system-info {

  .head-info-color-variant(@variant_name, @base-color) {
    @contrast-color: contrast(greyscale(@base-color), darken(@base-color, @il-standard-page-system-info-contrast), lighten(@base-color, @il-standard-page-system-info-contrast), @il-standard-page-system-info-contrast-threshold);
    &.il-system-info-@{variant_name} {
      // Shadow
      -webkit-box-shadow: @il-standard-page-system-info-shadow;
      -moz-box-shadow: @il-standard-page-system-info-shadow;
      box-shadow: @il-standard-page-system-info-shadow;
      background-color: @base-color;
      // Border
      border-top: @il-standard-page-system-info-border-color @il-standard-page-system-info-border-top-and-bottom;
      border-bottom: @il-standard-page-system-info-border-color @il-standard-page-system-info-border-top-and-bottom;
      border-left: @il-standard-page-system-info-border-color @il-standard-page-system-info-border-left-and-right;
      border-right: @il-standard-page-system-info-border-color @il-standard-page-system-info-border-left-and-right;
      // Colors
      color: @contrast-color;

      a.glyph {
        color: @contrast-color;
      }
    }

  }
  // 3 Color Variants
  .head-info-color-variant(neutral, @il-standard-page-system-info-color-variant-neutral);
  .head-info-color-variant(important, @il-standard-page-system-info-color-variant-important);
  .head-info-color-variant(breaking, @il-standard-page-system-info-color-variant-breaking);

  // General Sizes
  line-height: @line-height-computed;
  padding-top: @il-padding-large-vertical;
  padding-bottom: @il-padding-large-vertical;
  height: calc(@il-padding-large-vertical + @il-padding-large-vertical + @line-height-computed);


  // Flex
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;

  // Show full message
  &.full {
    height: auto;
    overflow: visible;
  }

  div.il-system-info-content-wrapper {
    flex-grow: 4;
    flex-shrink: 1;
    flex-basis: auto;
    overflow: hidden;

    span.il-system-info-headline {
      text-transform: @il-standard-page-system-info-headline-transform;
      font-weight: @il-standard-page-system-info-headline-font-weight;
      margin-right: @padding-base-horizontal;
    }
  }

  div.il-system-info-actions {
    font-size: @font-size-large;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: right;
    flex-basis: @padding-large-horizontal*5;

    :not(:last-child){
      padding-right: @padding-large-horizontal;
    }

    span.il-system-info-more {
      display: none;
    }
  }

  &:not(:first-child) {
    border-top: none;
  }
}

/*
**************************************************************
	Mobile Layout for System Info
**************************************************************
*/

@media only screen and (max-width: @grid-float-breakpoint-max) {
  .il-system_info {
    border-top: none;
  }
}
