<div class="il-maincontrols-footer">
	<div class="il-footer-content">

		<!-- BEGIN footer_perm_url -->
		<div class="il-footer-permanent-url" onclick="document.getElementById('current_perma_link').select();document.execCommand('copy'); return false;">
			{PERMA_LINK_LABEL}
			<input id="current_perma_link" type="text" value="{PERMANENT_URL}" readonly="readOnly">
		</div>
		<!-- END footer_perm_url -->

		<div class="il-footer-text">
			{TEXT}
		</div>
		<!-- BEGIN footer_links -->
		<div class="il-footer-links">
			{LINKS}
		</div>
		<!-- END footer_links -->

	</div>
</div>
