<div class="il-maincontrols-footer">
	<div class="il-footer-content">

		<!-- BEGIN footer_perm_url -->
		<div class="il-footer-permanent-url c-tooltip__container c-tooltip--top" aria-live="polite">
                    {PERMANENT}
                    <div class="c-tooltip c-tooltip--hidden" role="tooltip">
                        {PERMANENT_TOOLTIP}
                    </div>
		</div>
		<!-- END footer_perm_url -->

		<div class="il-footer-text">
			{TEXT}
		</div>
		<!-- BEGIN footer_links -->
		<div class="il-footer-links">
			{LINKS}
		</div>
		<!-- END footer_links -->
	</div>
	<!-- BEGIN footer_modals -->
	<div class="il-footer-modals">
		{MODALS}
	</div>
	<!-- END footer_modals -->
</div>
