<table>
	<tr>
		<td style="text-align:right; vertical-align:top; white-space:nowrap; padding-bottom:5px;">{ALL}</td>
		<td style="text-align:right; vertical-align:top; white-space:nowrap; padding: 0px 5px 5px; 5px">{TOP}</td>
		<td style="text-align:right; vertical-align:top; white-space:nowrap; padding-bottom:5px;">{LEFT}</td>
	</tr>
	<tr>
		<td colspan="{COLSPAN}">&nbsp;</td>
		<td style="text-align:right; vertical-align:top; white-space:nowrap; padding: 0px 5px 0px; 5px">{BOTTOM}</td>
		<td style="text-align:right; vertical-align:top; white-space:nowrap;">{RIGHT}</td>
	</tr>
</table>
