/* Services/Help */
#ilHelpText .ilc_text_inline_Strong {
  font-weight: bold;
}
#ilHelpBack {
  padding-bottom: 20px;
}
#ilHelpText {
  clear: both;
  font-size: 90%;
}
#ilHelpText .ilc_list_o_NumberedList,
#ilHelpText .ilc_list_u_BulletedList {
  margin: 10px 0;
  padding: 0 0 0 25px;
}
#ilHelpText .ilc_list_o_NumberedList .ilc_list_o_NumberedList,
#ilHelpText .ilc_list_o_NumberedList .ilc_list_u_BulletedList,
#ilHelpText .ilc_list_u_BulletedList .ilc_list_u_BulletedList,
#ilHelpText .ilc_list_u_BulletedList .ilc_list_o_NumberedList {
  padding-left: 15px;
}
a#ilHelpClose {
  display: block;
  float: right;
  padding: 5px;
}
#ilHelpPanel .il_VAccordionHead {
  background-position: 3px 3px;
  padding: 3px 3px 3px 20px;
  font-size: 90%;
  font-weight: bold;
  border: none;
}
#ilHelpPanel .ilGroupedListLE {
  padding: 5px 10px 5px 20px;
}
div#il_screen_id {
  position: fixed;
  right: 0;
}
#mm_help li a span:first-child {
  width: 20px;
  display: inline-block;
}
