/* disabled buttons */
input.submit:disabled,
input.submit:disabled:hover,
button.submit:disabled,
button.submit:disabled:hover {
	background: #F6F6F6;
	cursor: default;
	color: gray;
}

.ilFormOption.ilFormOptionHidden {
	width: 1px;
	padding: 0;
}
.ilFormOption.ilFormOptionHidden > label {
	display: none;
}

/* upload panel */
#ilFileUploadPanel {
    overflow: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 100%;
    -webkit-box-shadow: -2px 0 5px rgba(0, 0, 0, .2);
    box-shadow: -2px 0 5px rgba(0, 0, 0, .2);
	z-index: 2000;
}

div.ilFileUploadHeader {
    background-color: #F0F0F0;
    margin-bottom: 5px;
    padding: 5px 10px;
}
h3.ilFileUploadHeader {
    font-size: 110%;
    color: #606060;
    display: inline;
}

.ilFileUploadToolbar {
    padding: 5px 10px 0 10px;
}
.ilFileUploadStart {
	padding: 8px 10px;
	font-size: 90%;
}
.ilFileUploadCancel {
	padding: 8px 10px;
	font-size: 90%;
    cursor: pointer;
}
.ilFileUploadPanelClose {
    position: absolute;
    right: 5px;
    top: 3px;
    width: 21px;
    height: 21px;
    background: transparent url(images/close_sprite.png) no-repeat 0 0;
    padding: 0;
}
.ilFileUploadPanelClose:hover {
    background-position: -50px 0;
}

/* container */
.ilFileUploadContainer {
    padding: 15px;
    /* reset font back to 100% because ilFormValue is applied twice */
    font-size: 1.1111em;
}

/* file list */
.ilFileUploadList {
	padding: 0 0 10px 0;
    display: none;    
}

.ilFileUploadListTitle {
	padding: 3px 0 8px 0;	
	font-size: 90%;
}

#ilFileUploadLists {
}
#ilFileUploadLists .ilFileUploadList {
    margin-top: 15px;
    display: block;    
}
#ilFileUploadLists .ilFileUploadListTitle {
    color: #606060;
    background-color: #F0F0F0;
    padding: 5px 10px;
    font-weight: normal;
}
#ilFileUploadLists .ilFileUploadEntry {
    border-left: none;
    border-right: none;
}

/* drop zone */
.ilFileUploadDropArea {
	text-align: center;
	padding-bottom: 10px;
	font-size: 90%;
}
.ilFileUploadDropZone {
    padding: 55px 20px 45px 20px;
    border: 3px #C0C0C0 dashed;
    text-align: center;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #FFFFFF;
}
.ilFileUploadFileCount {
    font-weight: bold;
    display: none;    
}

.ilFileDropTarget {
    position: relative;
}

.ilFileDropTargetOverlay {
    border: 3px dashed #C0C0C0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    position: absolute;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
    background-color: #FFFFD6;
    display: none;
    opacity: 0.7;
}
.ilFileDropTargetOverlayText {
    color: #606060;
    font-size: 85%;
    font-weight: bold;
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    line-height: 24px;
    height: 24px;
    margin: 0 auto;
    margin-top: -12px;
}
.ilFileDropTargetOverlayImage {
    background: transparent url(images/drop_here.png) no-repeat center center;
    width: 26px;
    height: 26px;
    padding-right: 3px;
    display: inline-block;
    vertical-align: -8px;
}
.ilFileDragOver {
    border-color: #606060;
    background-color: #FFF9BC;
}

/* status styles */
.ilFileUploadNewEntry {
}
.ilFileUploadSuccess {
}
.ilFileUploadError {
}
.ilFileUploadNoUpload {
}
.ilFileUploadEntryExpanded {
}

/* file table */
.ilFileUploadEntry {
	position: relative;
	background: white;
	table-layout: auto;
	border: 1px solid #EAEAEA;
	margin: 5px 0;
    width: 100%;
    border-collapse: collapse;
}
.ilFileUploadEntry td {
	vertical-align: top;
	padding: 4px 8px;	
}

/* file header */
.ilFileUploadEntryHeader {
    font-size: 90%;
    cursor: pointer;
}
.ilFileUploadEntryHeader:hover {
	background: #FFFFC9;
}
.ilFileUploadNewEntry .ilFileUploadEntryHeader {
    background: #FFFFC9;
}
.ilFileUploadError .ilFileUploadEntryHeader {
	background: #FFEFEF;
	cursor: default;
}
.ilFileUploadError .ilFileUploadEntryHeader:hover {
	background: #FFEFEF;
	cursor: default;
}
.ilFileUploadEntryHeader td {
	border-bottom: 1px solid #EAEAEA;
}

/* file header filename */
td.ilFileUploadEntryFileName {
	text-align: left;
	background-image: url(../../../../templates/default/images/tree_col.svg);
	background-position: 5px 7px;
	background-repeat: no-repeat;
	padding: 7px 8px 6px 24px;
	line-height: 1.35em;
}
.ilFileUploadEntryExpanded td.ilFileUploadEntryFileName {
	background-image: url(../../../../templates/default/images/tree_exp.svg);
}
.ilFileUploadError td.ilFileUploadEntryFileName {
	background-image: url(../../../../templates/default/images/icon_alert.svg);
	background-position: 4px 6px;
	font-weight: normal;
	padding-left: 24px;
}

/* file header error */
.ilFileUploadEntryError {
    font-size: 90%;
}
.ilFileUploadEntryErrorText {
    font-weight: bold;
}

/* file header progress */
.ilFileUploadEntryProgress {
	text-align: center;
	width: 100px;
	padding-top: 3px;
}
.ilFileUploadEntryProgressBack {
	position: relative;
	display: block;
	background: white;
	width: 100%;
	border: 1px solid #D6D6D6; 
	overflow: hidden;
	line-height: 19px;
}
.ilFileUploadNoUpload .ilFileUploadEntryProgressBack {
	background: transparent;
	border-color: transparent;
}
.ilFileUploadEntryProgressBar {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 0;
	height: 50px;
	background: #C3E3FF url(images/progressbar.gif) repeat 0 0;
}
.ilFileUploadEntryProgressPercent {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	line-height: 19px;	
}

/* file header button */
.ilFileUploadEntryCancel {
	text-align: center;
	width: 22px;
	padding: 3px;
	white-space: nowrap;
}
.ilFileUploadEntryCancel input.submit {
	font-weight: bold;
	padding: 2px 0;
	width: 22px;
	text-align: center;
	line-height: 15px;
}
.ilFileUploadSuccess .ilFileUploadEntryCancel {
    background: transparent url(../../../../templates/default/images/icon_ok.svg) no-repeat 2px 50%;
}

/* file options */
.ilFileUploadEntryOptions {
	background: #FCFDFC;
}
.ilFileUploadEntryOptionsTable {
    width: 100%;
    border-collapse: collapse;
	background: transparent;
}
.ilFileUploadEntryOptions .ilFormOption {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 180px;
    max-width: 180px;
    width: 180px;
}
.ilFileUploadEntryOptions .ilFormValue input[type=text],
.ilFileUploadEntryOptions .ilFormValue textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}

/* toggle options */
.ilFileUploadToggleOptions {
	float: right;
	text-align: right;
	font-size: 85%;
}

/* file select button */
.ilFileUploadDropAlternative {
	padding: 0 0 10px 0;
	margin-bottom: 10px;
	text-align: center;	
}

.ilFileUploadDropAlternative a.submit,
.ilFileUploadDropAlternative a.submit:hover {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	font-size: 90%;
	vertical-align: top;
	display: inline-block;
	padding: 0 15px;
	height: 40px;
	line-height: 40px;
}

.ilFileUploadDropAlternative a.submit img {
	vertical-align: -6px;
}

.ilFileUploadDropAlternative a.submit input {
	padding: 0;
	margin: 0;
	cursor: pointer;
	position: absolute;
	top: -10px;
	right: -10px;
	border: 0;
	direction: ltr;
	z-index: 2;
	/* line height should match container */
	height: 60px;
	line-height: 60px;
	/* big font size is needed to make the button big enough */
	font-size: 100px !important;
	/* reset font for IE7 as it does wrong height calculation (IE7)
	   and make the button bigger to match the width of the visible button */
	*font-size: 11px !important;
	*zoom: 5;
	/* hide the input field, it's still clickable though */
	-ms-filter: "alpha(opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0.0;
}

.ilFileUploadDropAlternative a.disabled,
.ilFileUploadDropAlternative a.disabled:hover {
	background: #F6F6F6;
	cursor: default;
	color: gray;
}
.ilFileUploadDropAlternative a.disabled input {
	cursor: default;
}