<table id="{%=o.id%}" class="ilFileUploadEntry {% o.canUpload ? print('') : print('ilFileUploadNoUpload'); %}" datatable="0">
	<tbody>
		<tr class="ilFileUploadEntryHeader">
			<td class="ilFileUploadEntryFileName">
				<span class="ilFileUploadEntryError"><span class="ilFileUploadEntryErrorText"></span><br /></span>{%=o.name%}
			</td>
			<td class="ilFileUploadEntryProgress">
				<span class="ilFileUploadEntryProgressBack">
					&nbsp;
					<span class="ilFileUploadEntryProgressBar"></span>
					<span class="ilFileUploadEntryProgressPercent">{% (o.size === null && o.canUpload) ? print("{TXT_PENDING}") : print(o.sizeFormatted); %}</span>
				</span>
			</td>
			<td class="ilFileUploadEntryCancel"><input id="cancel_{%=o.id%}" class="submit" type="button" src="{FILE_CANCEL_ICON}" value="X" /></td>
		</tr>
		{% if (o.canUpload) { %}
		<tr class="ilFileUploadEntryOptions">
			<td colspan="3">
				<table class="ilFileUploadEntryOptionsTable" datatable="0">
					<tbody>
						{% if (o.canExtract) { %}
						<tr class="ilFileUploadEntryExtract">
							<td class="ilFormOption">
								<label for="extract_{%=o.id%}">{TXT_EXTRACT}</label>
							</td>
							<td class="ilFormValue">
								<input type="checkbox" id="extract_{%=o.id%}" name="extract_{%=o.id%}" value="false">
							</td>
						</tr>
						<tr class="ilFileUploadEntryKeepStructure">
							<td class="ilFormOption">
								<label for="keepstructure_{%=o.id%}">{TXT_KEEP_STRUCTURE}</label>
							</td>
							<td class="ilFormValue">
								<input type="checkbox" id="keepstructure_{%=o.id%}" name="keepstructure_{%=o.id%}" value="true" checked>
                                <div class="help-block">{TXT_KEEP_STRUCTURE_INFO}</div>
							</td>
						</tr>
						{% } %}
						<tr class="ilFileUploadEntryTitle">
							<td class="ilFormOption">
								<label for="title_{%=o.id%}">{TXT_TITLE}</label>
							</td>
							<td class="ilFormValue">
								<input type="text" size="40" id="title_{%=o.id%}" maxlength="128" name="title" value="{%=o.name%}">
							</td>
						</tr>
						<tr class="ilFileUploadEntryDescription">
							<td class="ilFormOption">
                                <label for="desc_{%=o.id%}">{TXT_DESCRIPTION}</label>
                            </td>
							<td class="ilFormValue">
                                <textarea name="description" id="desc_{%=o.id%}" class="noRTEditor" wrap="virtual" rows="" style="width:90%;"></textarea>
                            </td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		{% } %}
	</tbody>
</table>