<!-- BEGIN fileupload_texts -->
<script type="text/javascript">
    il.FileUpload.texts.fileTooLarge = "{ERROR_MSG_FILE_TOO_LARGE}";
    il.FileUpload.texts.invalidFileType = "{ERROR_MSG_WRONG_FILE_TYPE}";
    il.FileUpload.texts.fileZeroBytes = "{ERROR_MSG_EMPTY_FILE_OR_FOLDER}";
    il.FileUpload.texts.uploadWasZeroBytes = "{ERROR_MSG_UPLOAD_ZERO_BYTES}";
    il.FileUpload.texts.cancelAllQuestion = "{QUESTION_CANCEL_ALL}";
    il.FileUpload.texts.extractionFailed = "{ERROR_MSG_EXTRACT_FAILED}";
    il.FileUpload.texts.uploading = "{PROGRESS_UPLOADING}";
    il.FileUpload.texts.extracting = "{PROGRESS_EXTRACTING}";
    il.FileUpload.texts.dropFilesHere = "{DROP_FILES_HERE}";
</script>
<!-- END fileupload_texts -->
<!-- BEGIN fileupload_defaults -->
<script type="text/javascript">
    il.FileUpload.defaults.concurrentUploads = {CONCURRENT_UPLOADS};
    il.FileUpload.defaults.maxFileSize = {MAX_FILE_SIZE};
    il.FileUpload.defaults.allowedExtensions = [ {ALLOWED_SUFFIXES} ];
    il.FileUpload.defaults.supportedArchives = [ {SUPPORTED_ARCHIVES} ];
</script>
<!-- END fileupload_defaults -->
<!-- BEGIN fileupload_panel_tmpl -->
<script type="text/x-tmpl" id="fileupload_panel_tmpl">
{PANEL_TEMPLATE_HTML}
</script>
<!-- END fileupload_panel_tmpl -->
<!-- BEGIN fileupload_row_tmpl -->
<script type="text/x-tmpl" id="fileupload_row_tmpl">
{ROW_TEMPLATE_HTML}
</script>
<!-- END fileupload_row_tmpl -->