/* Services/UIComponent/Tooltip */
.qtip-default {
	font-size: @font-size-small;
	line-height: @line-height-small;

	background-color: @il-tooltip-bg-color;
	border-color: @il-tooltip-border-color;
	color: @il-tooltip-color;

	.box-shadow(@il-tooltip-shadow);

	-webkit-border-radius: @il-tooltip-border-radius;
	-moz-border-radius: @il-tooltip-border-radius;
	border-radius: @il-tooltip-border-radius;
}