<ul>
	<li class="left clearfix" style="[[removeStyle]]">
		<span class="chat-img pull-left" style="[[style]]">
			<img data-onscreenchat-avatar="[[userId]]" src="[[avatar]]" alt="User Avatar">
		</span>
		<div class="chat-body clearfix">
			<div class="header">
				<strong class="primary-font" style="[[style]]" title="[[username]]"><span class="osc_truncate_username_right">[[username]]</span></strong><br>
				<small class="pull-left text-muted-right" style="[[style]]"><span class="glyphicon glyphicon-time"></span><span data-livestamp="[[time_raw]]">[[time]]</span></small>
			</div><br>
			<p data-onscreenchat-body-msg class="iosOnScreenChatBodyMsg">[[message]]</p>
		</div>
	</li>
	<li class="right clearfix" style="[[removeStyle]]">
		<span class="chat-img pull-right" style="[[style]]">
			<img data-onscreenchat-avatar="[[userId]]" src="[[avatar]]" alt="User Avatar" class="">
		</span>
		<div class="chat-body clearfix">
			<div class="header">
				<strong class="pull-right primary-font" style="[[style]]" title="[[username]]"><span class="osc_truncate_username_left">[[username]]</span></strong><br>
				<small class="pull-right text-muted-left" style="[[style]]"><span class="glyphicon glyphicon-time"></span><span data-livestamp="[[time_raw]]">[[time]]</span></small>
			</div><br>
			<p data-onscreenchat-body-msg class="iosOnScreenChatBodyMsg">[[message]]</p>
		</div>
	</li>
	<li class="neutral clearfix">
		<div class="chat-body clearfix" style="[[style]]">
			<div class="header">
				<small class="text-muted-right"><span class="glyphicon glyphicon-time"></span><span data-livestamp="[[time_raw]]">[[time]]</span></small>
			</div><br>
			<p data-onscreenchat-body-msg class="iosOnScreenChatBodyMsg">[[message]]</p>
		</div>
	</li>
</ul>