<div class="iosOnScreenChatModalBody" data-onscreenchat-modal-body="[[conversationId]]">
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-sm-12">
				<label for="invite_user_text_[[conversationId]]">#:#chat_osc_user#:#:</label>
				<input type="text" class="form-control" id="invite_user_text_[[conversationId]]" data-onscreenchat-usersearch>
				<div class="ilNoDisplay alert alert-info" role="alert" data-onscreenchat-no-usr-found>#:#chat_osc_no_usr_found#:#</div>
				<div class="help-block">#:#chat_osc_search_modal_info#:#</div>
			</div>
		</div>
	</form>
</div>