<li class="ilOnScreenChatMenuDropDown">
   <!--<a tabindex="0" role="button" data-trigger="focus" data-toggle="popover" id="onscreenchat_trigger">-->
    <a data-toggle="popover" id="onscreenchat_trigger">
        <span class="glyphicon glyphicon-comment"></span>
        <span>
			<span id="onscreenchat_badge">
                <span class="badge" style="display: none;" data-onscreenchat-menu-nummessages></span>
                <span class="badge bottom" style="display: none;" data-onscreenchat-menu-numconversations></span>
            </span>
		</span>
    </a>
</li>
<div id="onscreenchatmenu-head" class="hide">
</div>
<div id="onscreenchatmenu-content-container" class="hide">
    <div id="onscreenchatmenu-content">
        <img class="ilOnScreenChatMenuLoader" src="{LOADER}" />
    </div>
</div>