<ul>
	<li class="left clearfix">
		<span class="chat-img pull-left">
			<img src="[[avatar]]" alt="User Avatar">
		</span>
		<div class="chat-body clearfix">
			<div class="header">
				<strong class="primary-font">[[username]]</strong>
				<small class="pull-right text-muted">
					<span class="glyphicon glyphicon-time"></span><span data-livestamp="[[time_raw]]">[[time]]</span></small>
			</div>
			<p>[[message]]</p>
		</div>
	</li>
	<li class="right clearfix">
        <span class="chat-img pull-right">
            <img src="[[avatar]]" alt="User Avatar" class="">
        </span>
		<div class="chat-body clearfix">
			<div class="header">
				<small class="text-muted"><span class="glyphicon glyphicon-time"></span><span data-livestamp="[[time_raw]]">[[time]]</span></small>
				<strong class="pull-right primary-font">[[username]]</strong>
			</div>
			<p>[[message]]</p>
		</div>
	</li>
</ul>