<li class="ilOnScreenChatMenuDropDown">
	<a data-toggle="popover" id="onscreenchat_trigger">
		<span class="glyphicon glyphicon-comment"></span>
		<span>
			<span id="onscreenchat_hbadge" data-onscreenchat-menu-nummessages>
				<span class="badge iosOnScreenChatHidden"></span>
				<span class="ilBadgeSpacer iosOnScreenChatHidden"></span>
			</span>
			<span id="onscreenchat_badge" data-onscreenchat-menu-numconversations>
				<span class="badge iosOnScreenChatHidden"></span>
				<span class="ilBadgeSpacer iosOnScreenChatHidden"></span>
			</span>
		</span>
	</a>
</li>
<div id="onscreenchatmenu-head" class="hide">
</div>
<div id="onscreenchatmenu-content-container" class="hide">
	<div id="onscreenchatmenu-content">
		<img class="ilOnScreenChatMenuLoader" src="{LOADER}"/>
	</div>
</div>