<li class="ilOnScreenChatMenuDropDown">
   <!--<a tabindex="0" role="button" data-trigger="focus" data-toggle="popover" id="onscreenchat_trigger">-->
    <a data-toggle="popover" id="onscreenchat_trigger">
        <span class="glyphicon glyphicon-comment"></span>
        <span>
			<span id="onscreenchat_badge"><!-- BEGIN status_text --><span class="badge {HIDDEN}">{STATUS_TXT}</span><span class="ilBadgeSpacer">{STATUS_TXT}</span><!-- END status_text --></span>
		</span>
    </a>
</li>
<div id="onscreenchatmenu-head" class="hide">
</div>
<div id="onscreenchatmenu-content-container" class="hide">
    <div id="onscreenchatmenu-content">
        <img class="ilOnScreenChatMenuLoader" src="{LOADER}" />
    </div>
</div>