<div class="col-md-2 chat-window-wrapper pull-right" data-onscreenchat-window="[[conversationId]]">
	<div class="panel panel-primary">
		<div class="panel-heading" data-onscreenchat-header>
			{CONVERSATION_ICON} <span class="osc_truncate_username" data-toggle="participants-tooltip" data-html="true" data-placement="left" title="[[participants-tt]]" data-onscreenchat-window-participants>[[participants-header]]</span>
			<div class="btn-group pull-right">
				{ADD_ACTION}
				{CLOSE_ACTION}
			</div>
		</div>
		<div class="panel-body">
			<ul class="chat" data-onscreenchat-body></ul>
			<div class="fader"></div>
		</div>
		<div class="panel-footer">
			<div class="iosOnScreenChatMessageContainer">
				<div class="form-control iosOnScreenChatMessagePlaceholder" data-onscreenchat-message-placeholder>#:#chat_osc_write_a_msg#:#</div>
				<div class="form-control iosOnScreenChatMessage" spellcheck="true" data-onscreenchat-message contenteditable="true"></div>
			</div>
			<div class="ilNoDisplay" data-onscreenchat-emoticons></div>
		</div>
	</div>
</div>
