<a class="glyph" href="{ACTION}">

<!-- BEGIN up -->
<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
<!-- END up -->

<!-- BEGIN down -->
<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
<!-- END down -->

<!-- BEGIN add -->
<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
<!-- END add -->

<!-- BEGIN remove -->
<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
<!-- END remove -->

<!-- BEGIN previous -->
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
<!-- END previous -->

<!-- BEGIN next -->
<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<!-- END next -->

<!-- BEGIN calendar -->
<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
<!-- END calendar -->

<!-- BEGIN close -->
<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
<!-- END close -->

<!-- BEGIN attachment -->
<span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
<!-- END attachment -->

<!-- BEGIN caret -->
<span class="caret" aria-hidden="true"></span>
<!-- END caret -->

<!-- BEGIN drag -->
<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
<!-- END drag -->

<!-- BEGIN search -->
<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
<!-- END search -->

<!-- BEGIN filter -->
<span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
<!-- END filter -->

<!-- BEGIN info -->
<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
<!-- END info -->

<!-- BEGIN envelope -->
<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
<!-- END envelope -->

<!-- BEGIN counter_status -->
{COUNTER_STATUS}
<!-- END counter_status -->

<!-- BEGIN counter_novelty -->
{COUNTER_NOVELTY}
<!-- END counter_novelty -->

</a>
