<!-- BEGIN formtop -->
<form name="formInfoScreen" method="post" action="{FORMACTION}">
<!-- END formtop -->
{TOP_BUTTONS}
{TOP_FORMBUTTONS}
<!-- BEGIN row -->
<div class="ilInfoScreenSec" id="infoscreen_section_{SECTION_ID}"{SECTION_HIDDEN}>
<h3>{TXT_SECTION}</h3>
<table class="{TCLASS}" style="border:0">
<!-- BEGIN property_row -->
<tr>
	<td class="il_InfoScreenProperty">{TXT_PROPERTY}</td>
	<td class="il_InfoScreenPropertyValue">
		<!-- BEGIN pv -->{TXT_PROPERTY_VALUE}<!-- END pv -->
		<!-- BEGIN lpv --><a href="{LINK_PROPERTY_VALUE}">{TXT_PROPERTY_LVALUE}</a><!-- END lpv -->
	</td>
</tr>
<!-- END property_row -->
<!-- BEGIN property_full_row -->
<tr>
	<td class="il_InfoScreenPropertyValue" colspan="2">{TXT_PROPERTY_FULL_VALUE}</td>
</tr>
<!-- END property_full_row -->
</table>
</div>
<!-- END row -->
<!-- BEGIN hidden_element -->
<input type="hidden" name="{HIDDEN_NAME}" value="{HIDDEN_VALUE}" />
<!-- END hidden_element -->
<!-- BEGIN formbottom -->
</form>
<!-- END formbottom -->
<!-- BEGIN learning_progress -->
<br />
{LP_TABLE}
<!-- END learning_progress -->
<!-- BEGIN notes -->
<br />
{NOTES}
<!-- END notes -->
<!-- BEGIN hidden_js -->
<script language="JavaScript" type="text/javascript">
function toggleSections()
{
	obj=document.getElementsByTagName('div');
	for (var i=0;i<obj.length;i++)
	{
		if(/infoscreen_section_hidable_/.test(obj[i].id))
		{
			if(obj[i].style.display == 'none')
			{
				obj[i].style.display = '';
			}
			else
			{
				obj[i].style.display = 'none';
			}
		}
	}
}
</script>
<!-- END hidden_js -->