@page { size: auto;
        margin-top: 1cm;
        margin-bottom:1cm;
        margin-left: 1cm;
        margin-right:1cm
}

table 
{
	border-collapse: collapse;
	background-color: white;
}

body
{ 
	color : black; 
	background : white; 
	font-family : "Arial"; 
	font-size : 12pt; 
} 

tr 
{
	font-family : "Times New Roman", Times, serif;
	background-color:white;
	color:black;
	valign:top;
}

th
{     	
	valign: top;
	font-size : 12pt; 
	vertical-align: top;
} 

td
{      	
	text-align: left;
	vertical-align: middle;
	font-size : 12pt; 
}

table.fullwidth  {
	width: 100%;
	border: collapse;
	border: 1px solid black;
}

td.std {
	font-weight: bold;
}

td.freefield {
	padding-right: 5px;
	padding-right: 15px;
}


th.std {
	font-weight: bold;
	border-bottom: 1px solid black;
	background-color: #CCCCCC;
	text-align: left;
}


.tblrow1{
	background-color: #EEEEEE;
}

.tblrow2{
	background: #DDDDDD;
}


.ilc_PageTitle {
	background-color: #CCCCCC;
	font-size: 12pt;
	font-weight: bold;
	border-bottom: 1px solid black;
}

.ilc_Question {
	font-size: 10pt;
}