@page { size: auto;
        margin-top: 1cm;
        margin-bottom:1cm;
        margin-left: 1cm;
        margin-right:1cm
}

table 
{
	border-collapse: collapse;
	background-color: white;
}

h1 
{
	font-size:12pt;
}

h3 
{
	font-size:10pt;
}

body
{ 
	color : black; 
	background : white; 
	font-family : "Arial"; 
	font-size : 8pt; 
} 

tr 
{
	font-family : "Times New Roman", Times, serif;
	background-color:white;
	color:black;
	valign:top;
}

th
{     	
	valign: top;
	font-size : 8pt; 
	vertical-align: top;
} 

td
{      	
	text-align: left;
	vertical-align: middle;
	font-size : 8pt; 
}

.freefield {
	text-align: left;
	vertical-align: bottom;
	font-size : 8pt; 
}


td.freefield_line {
	text-align: left;
	vertical-align: bottom;
	font-size : 8pt; 
	border-bottom: 1px solid black;
}



div.question_title {
	border-bottom: 1px solid black;
	padding: 2px;	
	background-color: #DDDDDD;
}


div.ilc_Question {
	padding-top: 5px;	
	padding-bottom: 5px;	
	padding-left: 2px;	
}


textarea, input, select {
	font-size: 8pt;
	background-color: white;
	color: black;
}

span.textanswer {
	font-weight: bold;
}
