p.ilc_Code {
	font-size: 10pt;
}


table.ilc_Sourcecode {
	border: 1px solid black;
	background: white;
	padding: 2px;
	font-size: 10pt;
}

td.ilc_LineNumbers {
	background: #ffffff;
	padding-left: 5px;
	text-align: right;
	font-size: 10pt;
}

td.ilc_Sourcecode {
	background: white;
	padding-left: 5px;
	font-size: 10pt;
}


span.ilc_CodeCategory_1 {
	color: navy;
	font-weight: bold;
	font-size: 10pt;
}

span.ilc_CodeCategory_2 {
	color: navy;
	font-size: 10pt;
}

span.ilc_CodeCategory_3 {
	color: #555555;
	font-size: 10pt;
}

span.ilc_CodeQuote {
	color: green;
	font-size: 10pt;
}

span.ilc_CodeLinecomment {
	color: gray;
	font-size: 10pt;
}

span.ilc_CodeBlockcomment {
	color: gray;
	font-size: 10pt;
}

span.ilc_CodePrepro {
	color: black;
	font-size: 10pt;
}

span.ilc_CodeSelect {
	color: black;
	font-size: 10pt;
}

