<!-- BEGIN info -->
<table class="invisible">
<!-- BEGIN info_row -->
<tr><td>{TEXT_INFO_COL1}</td><td>{TEXT_INFO_COL2}</td></tr>
<!-- END info_row -->
</table>
<!-- END info -->
<!-- BEGIN test_user_name --><h1>{USER_NAME}</h1><!-- END test_user_name -->
<p>
	<strong>{USER_FEEDBACK}</strong>
<!-- BEGIN certificate -->
<form name="formCertificate" method="post" action="{FORMACTION}"><input type="submit" class="submit" name="cmd[outCertificate]" value="{TEXT_CERTIFICATE}" /></form>
<!-- END certificate -->
</p>
<h2>{TEXT_RESULTS}</h2>
{TEST_RESULTS}