<form name="frm_cloze_test" action="{ACTION_CLOZE_TEST}" method="post">
<input type="hidden" name="id" value="{CLOZE_ID}">
<table class="std">
<tr>
  <td class="option">{TEXT_TITLE}<span class="asterisk">*</span>:</td>
  <td class="option_value" colspan="5"><input name="title" type="text" value="{VALUE_CLOZE_TITLE}" size="50" /></td></tr>
<tr>
  <td class="option">{TEXT_AUTHOR}<span class="asterisk">*</span>:</td>
  <td class="option_value" colspan="5"><input name="author" type="text" value="{VALUE_CLOZE_AUTHOR}" size="50" /></td></tr>
<tr>
  <td class="option">{TEXT_COMMENT}:</td>
  <td class="option_value" colspan="5"><input name="comment" type="text" value="{VALUE_CLOZE_COMMENT}" id="comment" size="50" /></td></tr>
<tr>
  <td class="option">{TEXT_CLOZE_TEXT}<span class="asterisk">*</span>:</td>
  <td class="option_value" colspan="5"><textarea name="clozetext" cols="50" rows="5" id="clozetext">{VALUE_CLOZE_TEXT}</textarea></td>
</tr>
<tr>
  <td class="option">{TEXT_TYPE}:</td>
  <td class="option_value" colspan="5"><select name="clozetype" id="clozetype">
    <option value="0"{SELECTED_TEXT_GAP}>{TEXT_TEXT_GAP}</option>
    <option value="1"{SELECTED_SELECT_GAP}>{TEXT_SELECT_GAP}</option>
  </select></td>
</tr>
<tr><td colspan="6" class="option"><input name="creategaps" type="submit" class="submit" id="creategaps" value="{TEXT_CREATE_GAPS}" /></td>
</tr>
<!-- BEGIN selectgap -->
<tr><td colspan="6" class="tblheader">{TEXT_SELECT_GAP} {VALUE_GAP_COUNTER}</td></tr>
<!-- BEGIN selectgap_value -->
<tr>
  <td class="option">{TEXT_GAP_SELECTION}: </td>
  <td class="option_value"><input name="selectgap_{VALUE_GAP_COUNTER}" type="text" id="selectgap_{VALUE_GAP_COUNTER}" size="50" value="{VALUE_SELECT_GAP}" /></td>
  <td class="option_value"><input type="image" class="submit" name="order_up_{VALUE_GAP_COUNTER}" src="{IMG_UP}" /><input type="image" class="submit" name="order_down_{VALUE_GAP_COUNTER}" src="{IMG_DOWN}" /></td>
  <td class="option_value"><input type="radio" name="correctness_{VALUE_GAP}" value="{VALUE_INDEX}" id="correctness_{VALUE_GAP_COUNTER}"{SELECTED_CORRECTNESS_TRUE} />&nbsp;<label for="correctness_{VALUE_GAP_COUNTER}">{TEXT_TRUE}</label></td>
  <td class="option_value">{TEXT_POINTS}: <input name="points_{VALUE_GAP_COUNTER}" type="text" id="points_{VALUE_GAP_COUNTER}" size="10" value="{VALUE_SELECT_GAP_POINTS}" /></td>
  <td class="option_value"><input type="submit" class="submit" name="delete_{VALUE_GAP_COUNTER}" value="{DELETE}" /></td>
</tr>
<!-- END selectgap_value -->
<!-- END selectgap -->
<tr><td colspan="6" class="submit">
<span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FLD}</span>
<div align="right">
<input name="cmd[apply]" type="submit" class="submit" id="apply_multiple_choice" value="{APPLY}" />&nbsp;<input name="cmd[save]" type="submit" class="submit" id="save_multiple_choice" value="{SAVE}" />&nbsp;&nbsp;<input name="cmd[cancel]" type="submit" class="submit" id="cancel" value="{CANCEL}" />
</div>
</td></tr>
</table>
</form>