</form>
<! BEGIN submit_allowed -->
<p class="warning">{TEXT_CONFIRM_SUBMIT_RESULTS}</p>
<!-- END submit_allowed -->
<! BEGIN not_submit_allowed -->
<p class="warning">{TEXT_ALREADY_SUBMITTED}</p>
<!-- END not_submit_allowed -->
<table>
<tr valign="top">
<form action="{FORM_ACTION}" method="POST">
<td><input type="submit" class="submit" name="cmd[confirm_submit_answers]" value="{BTN_OK}" />&nbsp;&nbsp;<input type="submit" class="submit" name="cmd[cancel_confirm_submit_answers]" value="{BTN_BACK}" /></td>
</form></tr>
</table>
