<form name="form_questions" method="POST" action="{ACTION_QUESTION_FORM}">
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td align="left">{FILTER_QUESTION_MANAGER}</td>
<td align="right">{CREATE_QUESTION}</td>
</tr>
</table>
<table class="fullwidth">
<tr class="tblheader">
<td></td>
<td>{QUESTION_TITLE}</td>
<td>{QUESTION_EDIT}</td>
<td>{QUESTION_PREVIEW}</td>
<td>{QUESTION_COMMENT}</td>
<td>{QUESTION_TYPE}</td>
<td>{QUESTION_ASSESSMENT}</td>
<td>{QUESTION_AUTHOR}</td>
<td>{QUESTION_CREATED}</td>
<td>{QUESTION_UPDATED}</td>
</tr>
<!-- BEGIN QTab --> 
<tr class="{COLOR_CLASS}">
<td class="{COLOR_CLASS}">
<!-- BEGIN checkable -->
<input type="checkbox" name="cb_{QUESTION_ID}" value="1" />
<!-- END checkable -->
</td>
<td class="{COLOR_CLASS}">{QUESTION_TITLE}</td>
<td class="{COLOR_CLASS}">[<a href="{LINK_EDIT}">{TXT_EDIT}</a>]</td>
<td class="{COLOR_CLASS}">[<a href="{LINK_PREVIEW}">{TXT_PREVIEW}</a>]</td>
<td class="{COLOR_CLASS}">{QUESTION_COMMENT}</td>
<td class="{COLOR_CLASS}">{QUESTION_TYPE}</td>
<td class="{COLOR_CLASS}">{QUESTION_ASSESSMENT}</td>
<td class="{COLOR_CLASS}">{QUESTION_AUTHOR}</td>
<td class="{COLOR_CLASS}">{QUESTION_CREATED}</td>
<td class="{COLOR_CLASS}">{QUESTION_UPDATED}</td>
</tr>
<!-- END QTab --> 
<!-- BEGIN navigation_bottom -->
<tr class="tblfooter"><td></td><td colspan="4"><a href="{HREF_PREV_ROWS}">{PREV_ROWS}</a></td><td colspan="5"><div align="right"><a href="{HREF_NEXT_ROWS}">{NEXT_ROWS}</a></div></td></tr>
<!-- END navigation_bottom -->
<!-- BEGIN Emptytable -->
<tr><td class="option_value" colspan="10">{TEXT_EMPTYTABLE}</td></tr>
<!-- END Emptytable -->
<!-- BEGIN Footer -->
<tr><td class="option_value">{ARROW}</td><td class="option_value" colspan="9">{A_BUTTONS}</td></tr>
<!-- END Footer -->
</table>
<p align="right">
<input type="submit" class="submit" name="cmd[cancel]" value="{BUTTON_CANCEL}" />
</p>
</form>
