<div class="testSheet">
<!-- BEGIN info -->
<table class="invisible">
<!-- BEGIN info_row -->
<tr><td>{TEXT_INFO_COL1}</td><td>{TEXT_INFO_COL2}</td></tr>
<!-- END info_row -->
<tr><td colspan="2"><input type="checkbox" name="chb_javascript" id="use_javascript" value="1" {CHECKED_JAVASCRIPT}/> <label for="use_javascript">{TEXT_USE_JAVASCRIPT}</label></td></tr>
</table>
<!-- END info -->
<p>{TEXT_INTRODUCTION}</p>
<p class="warning">{MAXIMUM_NUMBER_OF_TRIES_REACHED}</p>
<!-- BEGIN result_date_not_reached -->
<p class="warning">{RESULT_DATE_NOT_REACHED}</p>
<!-- END result_date_not_reached -->
<div align="right">
<!-- BEGIN delete_results -->
<input type="submit" class="submit" name="cmd[deleteresults]" value="{BTN_DELETERESULTS}"{DISABLED} />
<!-- END delete_results -->
<!-- BEGIN results -->
<input type="submit" class="submit" name="cmd[outResultsOverview]" value="{BTN_RESULTS}" {DISABLED} />
<!-- END results -->
<!-- BEGIN start -->
<input type="submit" class="submit" name="cmd[start]" value="{BTN_START}" {DISABLED} />
<!-- END start -->
<!-- BEGIN resume -->
<input type="submit" class="submit" name="cmd[resume]" value="{BTN_RESUME}"{DISABLED} />
<!-- END resume -->
<!-- BEGIN show_summary -->
<input type="submit" class="submit" name="cmd[show_answers]" value="{BTN_SUMMARY}" {DISABLED} />
<!-- END show_summary -->
<!-- BEGIN show_printview -->
<a target="TOP" href="{PRINT_VIEW_HREF}" class="submit">{BTN_ANSWERS}</a>
<!-- END show_printview -->
<!-- BEGIN startingtime -->
<p>
<img src="{IMAGE_STARTING_TIME}" alt="{ALT_STARTING_TIME_NOT_REACHED}" title="{ALT_STARTING_TIME_NOT_REACHED}" />&nbsp;{TEXT_STARTING_TIME_NOT_REACHED}
<!-- END startingtime -->
</div>
</div>
