<table class="invisible">
<tr>
<td>{FILTER_TEXT}</td>
<td>
<select name="sel_filter_type">
<!-- BEGIN filterrow -->
<option value="{VALUE_FILTER_TYPE}"{VALUE_FILTER_SELECTED}>{NAME_FILTER_TYPE}</option>
<!-- END filterrow -->
</select>
{TEXT_FILTER_BY}
</td>
<td colspan="3"><input type="text" name="filter_text" size="20" value="{VALUE_FILTER_TEXT}" /></td>
</tr>
<tr>
<td colspan="2">
{SHOW_QUESTION_TYPES}:
</td>
<td colspan="3">
<select name="sel_question_type">
<option value="all"{SELECTED_ALL_QUESTION_TYPES}>{TEXT_ALL_QUESTION_TYPES}</option>
<!-- BEGIN questiontype_row -->
<option value="{VALUE_QUESTION_TYPE}"{SELECTED_QUESTION_TYPE}>{TEXT_QUESTION_TYPE}</option>
<!-- END questiontype_row -->
</select>
</td>
</tr>
<tr>
<td colspan="2">
{SHOW_QUESTIONPOOLS}:
</td>
<td>
<select name="sel_questionpool">
<option value="all"{SELECTED_ALL_QUESTIONPOOLS}>{TEXT_ALL_QUESTIONPOOLS}</option>
<!-- BEGIN questionpool_row -->
<option value="{VALUE_QUESTIONPOOL}"{SELECTED_QUESTIONPOOL}>{TEXT_QUESTIONPOOL}</option>
<!-- END questionpool_row -->
</select>
</td>
<td><input class="submit" type="submit" name="cmd[filter]" value="{VALUE_SUBMIT_FILTER}" /></td>
<td><input class="submit" type="submit" name="cmd[resetFilter]" value="{VALUE_RESET_FILTER}" /></td>
</tr>
</table>
