<table class="fullwidth">
<tr class="tblheader">
<td class="std" colspan="2"><h1>{ORDERING_QUESTION_HEADLINE}</h1></td>
</tr>
</table>

<p>
<table class="std">
<tr class="tblheader"><td class="std" colspan="2">{ORDERING_QUESTION}</td></tr>
<!-- BEGIN orderingQuestion -->
<tr>
<td class="option_value" width="30"><input name="order_{ORDERING_QUESTION_ANSWER_VALUE}" type="text" id="{ORDERING_QUESTION_ANSWER_VALUE}" value="{VALUE_ORDER}" size="2"/></td>
<td class="tblrow1" align="left" ><label for="{ORDERING_QUESTION_ANSWER_VALUE}">{ORDERING_QUESTION_ANSWER_TEXT}</label>
<tr>
<!-- END orderingQuestion -->
</table>
</p>
<!-- BEGIN material_download -->
<table class="std">
<tr class="tblheader"><td class="std" colspan="2" >{TEXT_MATERIAL_DOWNLOAD}</td></tr>
  <!-- BEGIN material_preview -->
  <tr> <td class="tblrow1"> {COUNTER} </td>
  <td align="left" class="tblrow1">
  <a href="{URL_MATERIAL_DOWNLOAD}" target="_blank">{VALUE_MATERIAL_DOWNLOAD}</a>
  </td></tr>
  <!-- END material_preview -->
</table>
<!-- END material_download -->
