<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
     "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>{TITLE}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{PRINT_CSS}" />
	<link rel="stylesheet" type="text/css" href="{SYNTAX_CSS}" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
<script type="text/javascript" language="javascript1.2">
<!--
// Do print the page
if (typeof(window.print) != 'undefined') {
    //window.print();
}
//-->
</script>
<body>
<p><h1>{PRINT_TEST}</h1><h3>{TITLE}</h3></p>
{TXT_PRINT_DATE}:&nbsp;{VALUE_PRINT_DATE}
<!-- BEGIN question -->
<div class="ilc_Page" id="ilc_Page">
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid black; margin-top:10px">
<tr valign="top"><th width="10px" nowrap="true" height="1" class="ilc_PageTitle"><b>{COUNTER_QUESTION}</b>&nbsp;</th>
<td rowspan="2">{CLOZE_TEST}{MATCHING_QUESTION}{ORDERING_QUESTION}{MULTIPLE_CHOICE_QUESTION}{IMAGEMAP_QUESTION}{JAVA_QUESTION}{TEXT_QUESTION}</td>
</tr>
<tr><td>&nbsp;</td></tr>
</table>
</div>
<!-- END question -->
</body>
</html>