<div class="questionTitle">{MULTIPLE_CHOICE_HEADLINE}</div>
<p>
<p>{MULTIPLE_CHOICE_QUESTION}</p>
<table class="nobackground">
<!-- BEGIN single -->
<tr>
<td class="nobackground" width="15"><input type="radio" name="multiple_choice_result" value="{MULTIPLE_CHOICE_ANSWER_VALUE}" id="{MULTIPLE_CHOICE_ANSWER_VALUE}"{VALUE_CHECKED} /></td>
<td class="nobackground" align="left"><label for="{MULTIPLE_CHOICE_ANSWER_VALUE}">{MULTIPLE_CHOICE_ANSWER_TEXT}</label>
<tr>
<!-- END single -->
<!-- BEGIN multiple -->
<tr>
<td class="nobackground" width="15"><input type="checkbox" name="multiple_choice_result_{MULTIPLE_CHOICE_ANSWER_VALUE}" value="{MULTIPLE_CHOICE_ANSWER_VALUE}" id="{MULTIPLE_CHOICE_ANSWER_VALUE}"{VALUE_CHECKED} /></td>
<td class="nobackground"><label for="{MULTIPLE_CHOICE_ANSWER_VALUE}">{MULTIPLE_CHOICE_ANSWER_TEXT}</label>
<tr>
<!-- END multiple -->
</table>
</p>
<!-- BEGIN material_download -->
<p>
<table class="std">
<thead>
	<tr class="tblheader">
		<th colspan="2" >{TEXT_MATERIAL_DOWNLOAD}</th>
	</tr>
</thead>
  <!-- BEGIN material_preview -->
  <tr> <td class="tblrow1"> {COUNTER} </td>
  <td align="left" class="tblrow1">
  <a href="{URL_MATERIAL_DOWNLOAD}" target="_blank">{VALUE_MATERIAL_DOWNLOAD}</a>
  </td></tr>
  <!-- END material_preview -->
</table>
</p>
<!-- END material_download -->
