<table class="invisible">
<tr>
<td>{FILTER_TEXT}</td>
<td>
<select name="sel_filter_type">
<!-- BEGIN filterrow -->
<option value="{VALUE_FILTER_TYPE}"{VALUE_FILTER_SELECTED}>{NAME_FILTER_TYPE}</option>
<!-- END filterrow -->
</select>
</td>
<td>{TEXT_FILTER_BY}</td>
<td><input type="text" name="filter_text" size="20" value="{VALUE_FILTER_TEXT}" /></td>
<td><input class="submit" type="submit" name="cmd[filter]" value="{VALUE_SUBMIT_FILTER}" /></td>
<td><input class="submit" type="submit" name="cmd[resetFilter]" value="{VALUE_RESET_FILTER}" /></td>
</tr>
</table>
