<style>
body { margin:0px; }
</style>
{STATUSLINE}
<table class="fullwidth_invisible"><tr><td class="ilInvisibleBorder">
<!--<div class="invisible_border">-->
<form name="test_output" method="post" action="{FORMACTION}">
<div class="il_Header">
<table width="100%">
<tr>
<td colspan="2"><h1>{HEADER}</h1></td>
</tr>
<tr>
<td align="left">
<!-- BEGIN prev -->
<input type="submit" class="submit" name="cmd[previous]" value="{BTN_PREV}" />
<!-- END prev -->
</td>
<td align="right">
<!-- BEGIN postpone -->
<input type="submit" class="submit" name="cmd[postpone]" value="{BTN_POSTPONE}" />
&nbsp;&nbsp;
<!-- END postpone -->
<!-- BEGIN next -->
<input type="submit" class="submit" name="cmd[next]" value="{BTN_NEXT}" />
<!-- END next -->
</td>
</tr>
</table>
</div>
<br/>
{BUTTONS}
{MESSAGE}
{ADM_CONTENT}
{SYSTEMSETTINGS}
</form>
<!--</div>-->
</td></tr></table>
