<div class="questionTitle">{CLOZE_TEST_HEADLINE}</div>
<p>
<!-- BEGIN cloze -->
{TEXT}
{GAP}
<!-- END cloze -->
</p>
<!-- BEGIN material_download -->
<p>
<table class="std">
<thead>
	<tr class="tblheader">
		<th colspan="2" >{TEXT_MATERIAL_DOWNLOAD}</th>
	</tr>
</thead>
  <!-- BEGIN material_preview -->
  <tr> <td class="tblrow1"> {COUNTER} </td>
  <td align="left" class="tblrow1">
  <a href="{URL_MATERIAL_DOWNLOAD}" target="_blank">{VALUE_MATERIAL_DOWNLOAD}</a>
  </td></tr>
  <!-- END material_preview -->
</table>
</p>
<!-- END material_download -->
