<form name="frm_properties" action="{ACTION_PROPERTIES}" method="post">
<table class="std">
<tr class="tblheader">
  <td class="std" colspan="2">{HEADING_GENERAL}</td>
</tr>
<tr>
  <td class="option">{TEXT_TEST_TYPES}:</td>
  <td class="option_value"><select name="sel_test_types">
<!-- BEGIN test_types -->  
  <option value="{VALUE_TEST_TYPE}"{SELECTED_TEST_TYPE}>{TEXT_TEST_TYPE}</option>
<!-- END test_types -->  
  </select>
<!-- BEGIN change_type -->
	<input class="submit" type="submit" name="cmd[save]" value="{SUBMIT_TYPE}" />
<!-- END change_type -->
	<div class="warning">{TEST_TYPE_COMMENT}</div>
  </td>
</tr>
<tr>
  <td class="option">{TEXT_TITLE}<span class="asterisk">*</span>:</td>
  <td class="option_value"><input name="title" type="text" value="{VALUE_TITLE}" size="50" disabled="disabled" /></td></tr>
<tr>
  <td class="option">{TEXT_AUTHOR}<span class="asterisk">*</span>:</td>
  <td class="option_value"><input name="author" type="text" value="{VALUE_AUTHOR}" size="50" /></td></tr>
<tr>
  <td class="option"><label for="description">{TEXT_DESCRIPTION}:</label></td>
  <td class="option_value"><input name="description" type="text" value="{VALUE_DESCRIPTION}" id="description" size="50" disabled="disabled" /></td></tr>
<tr>
  <td class="option">{TEXT_INTRODUCTION}:</td>
  <td class="option_value"><textarea name="introduction" style="width:95%" rows="10" cols="60">{VALUE_INTRODUCTION}</textarea></td>
</tr>
<tr class="tblheader">
  <td class="std" colspan="2">{HEADING_SEQUENCE}</td>
</tr>
<tr>
  <td class="option">{TEXT_SEQUENCE}:</td>
  <td class="option_value"><select name="sequence_settings"><option value="0"{SELECTED_FIXED}>{SEQUENCE_FIXED}</option><option value="1"{SELECTED_POSTPONE}>{SEQUENCE_POSTPONE}</option></select>
</tr>
<tr class="tblheader">
  <td class="std" colspan="2">{HEADING_SCORE}</td>
</tr>
<tr>
  <td class="option">{TEXT_SCORE_TYPE}:</td>
  <td class="option_value"><select name="score_reporting"{DISABLE_SCORE_REPORTING}><option value="0"{SELECTED_QUESTION}>{REPORT_AFTER_QUESTION}</option><option value="1"{SELECTED_TEST}>{REPORT_AFTER_TEST}</option></select>
</tr>
<!-- BEGIN reporting_date -->
<tr>
  <td class="option">{TEXT_SCORE_DATE}:</td>
  <td class="option_value"><input type="checkbox" name="chb_reporting_date" id="chb_reporting_date" value="1"{CHECKED_REPORTING_DATE} /> <label for="chb_reporting_date">{TXT_ENABLED}</label><br>{INPUT_REPORTING_DATE}</td>
</tr>
<!-- END reporting_date -->
<tr class="tblheader">
  <td class="std" colspan="2">{HEADING_SESSION}</td>
</tr>
<tr>
  <td class="option">{TEXT_NR_OF_TRIES}:</td>
  <td class="option_value"><input type="text" name="nr_of_tries" value="{VALUE_NR_OF_TRIES}" size="8" />{COMMENT_NR_OF_TRIES}</td>
</tr>
<tr>
  <td class="option">{TEXT_PROCESSING_TIME}:</td>
  <td class="option_value"><input type="checkbox" name="chb_processing_time" id="chb_processing_time" value="1"{CHECKED_PROCESSING_TIME} /> <label for="chb_processing_time">{TXT_ENABLED}</label><br />
		{MAX_PROCESSING_TIME}</td>
</tr>
<!-- BEGIN starting_time -->
<tr>
  <td class="option">{TEXT_STARTING_TIME}:</td>
  <td class="option_value"><input type="checkbox" name="chb_starting_time" id="chb_starting_time" value="1"{CHECKED_STARTING_TIME} /> <label for="chb_starting_time">{TXT_ENABLED}</label><br>{INPUT_STARTING_TIME}</td>
</tr>
<!-- END starting_time -->
<!-- BEGIN ending_time -->
<tr>
  <td class="option">{TEXT_ENDING_TIME}:</td>
  <td class="option_value"><input type="checkbox" name="chb_ending_time" id="chb_ending_time" value="1"{CHECKED_ENDING_TIME} /> <label for="chb_ending_time">{TXT_ENABLED}</label><br>{INPUT_ENDING_TIME}</td>
</tr>
<!-- END ending_time -->
<tr><td colspan="2" class="submit">
<span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FLD}</span>
<!-- BEGIN command_buttons -->
<div align="right">
<input name="cmd[save]" type="submit" class="submit" id="save" value="{SAVE}" />&nbsp;&nbsp;<input name="cmd[cancel]" type="submit" class="submit" id="cancel" value="{CANCEL}" />
</div>
<!-- END command_buttons -->
</td></tr>
</table>
</form>
