<form name="form_maintenance" method="POST" action="{FORM_ACTION}">
<p>
<!-- BEGIN maintenance_information -->
{MAINTENANCE_INFORMATION}
<!-- END maintenance_information -->
<!-- BEGIN generation -->
<input class="submit" type="submit" name="cmd[createSolutions]" value="{BTN_CREATE_SOLUTIONS}" />
<!-- END generation -->
<!-- BEGIN delete_button -->
<input class="submit" type="submit" name="cmd[deleteAllUserData]" value="{BTN_DELETE_ALL}" />
<!-- END delete_button -->
<!-- BEGIN confirm_delete -->
<input class="submit" type="submit" name="cmd[confirmDeleteAllUserData]" value="{BTN_CONFIRM_DELETE_ALL}" /> <input class="submit" type="submit" name="cmd[cancelDeleteAllUserData]" value="{BTN_CANCEL_DELETE_ALL}" />
<!-- END confirm_delete -->
<!-- BEGIN confirm_delete_selected -->
<input class="submit" type="submit" name="cmd[confirmDeleteSelectedUserData]" value="{BTN_CONFIRM_DELETE_SELECTED}" /> <input class="submit" type="submit" name="cmd[cancelDeleteSelectedUserData]" value="{BTN_CANCEL_DELETE_SELECTED}" />
<!-- END confirm_delete_selected -->
</p>
<!-- BEGIN participanttable -->
<table class="fullwidth">
<tr class="tblheader">
  <td class="std" width="20"></td>
  <td class="std">{USER_NAME}</td>
</tr>
<!-- BEGIN userrow -->
<tr class="{ROW_CLASS}">
  <td class="{ROW_CLASS}"><input type="checkbox" name="chbUser[]" value="{USER_ID}" id="{USER_ID}" /></td>
  <td class="{ROW_CLASS}"><label for="{USER_ID}">{VALUE_USER_NAME}</label></td>
</tr>
<!-- END userrow -->
<!-- BEGIN selectall -->
<tr class="{ROW_CLASS}">
	<td class="{ROW_CLASS}"><input type="checkbox" name="chb_check_all" id="chb_check_all" value="1" onclick="setChecked('form_maintenance', 'chbUser', document.form_maintenance.chb_check_all.checked);" /></td>
	<td class="{ROW_CLASS}"><label for="chb_check_all"><strong>{SELECT_ALL}</strong></label></td>
</tr>
<!-- END selectall -->
<tr><td class="submit">{ARROW}</td><td class="submit"><input class="submit" type="submit" name="cmd[deleteSingleUserResults]" value="{DELETE}" /></td></tr>
</table>
<!-- END participanttable -->
<!-- BEGIN hidden -->
<input type="hidden" name="chbUser[]" value="{USER_ID}" />
<!-- END hidden -->
</form>
