<p>{DELETE_QUESTION}</p>
<form name="deleteQuestions" method="post" action="{FORM_ACTION}">
<table class="fullwidth">
<thead>
	<tr class="tblheader">
		<th class="std">{TXT_TITLE}</th>
		<th class="std">{TXT_DESCRIPTION}</th>
		<th class="std">{TXT_TYPE}</th>
	</tr>
</thead>
<!-- BEGIN row -->
<tr class="{COLOR_CLASS}">
<td>{TXT_TITLE}</td>
<td>{TXT_DESCRIPTION}</td>
<td>{TXT_TYPE}</td>
</tr>
<!-- END row -->
<!-- BEGIN emptyrow -->
<tr class="tblrow1">
	<td colspan="3">{TEXT_EMPTY_ROW}</td>
</tr>
<!-- END emptyrow -->
<tr>
	<td class="submit" colspan="3">
		<input class="submit" type="submit" name="cmd[confirmDeleteQuestions]" value="{BTN_CONFIRM}" />
		<input class="submit" type="submit" name="cmd[cancelDeleteQuestions]" value="{BTN_CANCEL}" />
	</td>
</tr>
</table>
<!-- BEGIN hidden -->
<input type="hidden" name="{HIDDEN_NAME}" value="{HIDDEN_VALUE}" />
<!-- END hidden -->
</form>
<!-- BEGIN undeleteable_questions -->
<p>{TEXT_UNDELETEABLE_QUESTIONS}</p>
<table>
<!-- BEGIN undeleteable_row -->
	<tr>
		<td>
			{QUESTION_TITLE}
		</td>
	</tr>
<!-- END undeleteable_row -->
</table>
<!-- END undeleteable_questions -->
