<form name="frm_text_question" action="{ACTION_TEXT_QUESTION}" method="post">
<input type="hidden" name="id" value="{TEXT_QUESTION_ID}" />
<table class="fullwidth">
<thead>
	<tr class="tblheader">
		<th colspan="5">{TEXT_QUESTION_TYPE}</th>
	</tr>
</thead>
<tr>
  <td class="option">{TEXT_TITLE}<span class="asterisk">*</span>:</td>
  <td class="option_value" colspan="4"><input name="title" type="text" value="{VALUE_TEXT_QUESTION_TITLE}" size="50" /></td>
</tr>
<tr>
  <td class="option">{TEXT_AUTHOR}<span class="asterisk">*</span>:</td>
  <td class="option_value" colspan="4"><input name="author" type="text" value="{VALUE_TEXT_QUESTION_AUTHOR}" size="50" /></td>
</tr>
<tr>
  <td class="option">{TEXT_COMMENT}:</td>
  <td class="option_value" colspan="4"><input name="comment" type="text" value="{VALUE_TEXT_QUESTION_COMMENT}" id="comment" size="50" /></td>
</tr>
<tr>
  <td class="option">{TEXT_QUESTION}<span class="asterisk">*</span>:</td>
  <td class="option_value" colspan="4"><textarea class="fullwidth" name="question" cols="40" rows="10" id="question">{VALUE_QUESTION}</textarea></td>
</tr>
<tr>
  <td class="option"><label for="maxchars">{TEXT_MAXCHARS}</label>:</td>
  <td class="option_value" colspan="4"><input name="maxchars" type="text" value="{VALUE_MAXCHARS}" id="maxchars" size="5" /><br />{DESCRIPTION_MAXCHARS}</td>
</tr>
<tr>
  <td class="option">{TEXT_WORKING_TIME}:<br />({TIME_FORMAT})</td>
  <td class="option_value" colspan="4">{VALUE_WORKING_TIME} </td>
</tr>
<tr>
	<td class="option">{TEXT_SOLUTION_HINT}:</td>
	<td class="option_value" colspan="4">
		<input type="hidden" name="solution_hint" value="{VALUE_SOLUTION_HINT}" />
		{TEXT_VALUE_SOLUTION_HINT}
		<!-- BEGIN remove_solution -->
		<input type="submit" class="submit" name="cmd[removeSuggestedSolution]" value="{BUTTON_REMOVE_SOLUTION}" />
		<!-- END remove_solution -->
		<input type="submit" class="submit" name="cmd[addSuggestedSolution]" value="{BUTTON_ADD_SOLUTION}" />
		<select name="internalLinkType">
<!-- BEGIN internallink -->
		<option value="{TYPE_INTERNAL_LINK}">{TEXT_INTERNAL_LINK}</option>
<!-- END internallink -->
		</select>
	</td>
</tr>
<tr>
  <td class="option"><label for="points">{TEXT_POINTS}</label><span class="asterisk">*</span>:</td>
  <td class="option_value" colspan="4"><input name="points" type="text" value="{VALUE_POINTS}" id="points" size="5" /></td>
</tr>
<tr class="tblheader">
	<td colspan="5">{OPTIONAL_KEYWORDS}</td>
</tr>
<tr>
	<td class="option"><label for="keywords">{TEXT_KEYWORDS}</label>:</td>
  <td class="option_value" colspan="4">
		<textarea class="fullwidth" name="keywords" cols="40" rows="10" id="keywords">{VALUE_KEYWORDS}</textarea>
		<br />
		<span class="small">{TEXT_KEYWORDS_HINT}</span>
	</td>
</tr>
<tr>
	<td class="option"><label for="text_rating">{TEXT_RATING}:</label></td>
	<td class="option_value" colspan="4">
		<select name="text_rating" id="text_rating">
<!-- BEGIN text_rating -->
	    <option value="{RATING_VALUE}"{SELECTED_RATING_VALUE}>{RATING_TEXT}</option>
<!-- END text_rating -->
		</select>
	</td>
</tr>
<tr><td colspan="5" class="submit">
<span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FLD}</span>
<div align="right">
<input name="cmd[save]" type="submit" class="submit" id="save_text_question" value="{SAVE}" /> <input name="cmd[saveEdit]" type="submit" class="submit" value="{SAVE_EDIT}" />&nbsp;&nbsp;<input name="cmd[cancel]" type="submit" class="submit" id="cancel" value="{CANCEL}" />
</div>
</td></tr>
</table>
</form>
<a name="bottom"></a>