<!-- BEGIN survey_online -->
<form name="frm_invitation" action="{FORM_ACTION}" method="post">
<!-- BEGIN inviation -->
<table class="std">
<tr class="tblheader">
  <td colspan="2">{SEARCH_INVITATION}</td>
</tr>
<tr>
  <td class="option">{SEARCH_TERM}:</td>
  <td class="option_value"><input type="text" name="search_term" value="{VALUE_SEARCH_TERM}" size="60" /></td>
</tr>
<tr>
	<td class="option">{TEXT_CONCATENATION}:</td>
	<td class="option_value">
	<input type="radio" name="concatenation" value="or"{CHECKED_OR} />{TEXT_AND}</input>
	<input type="radio" name="concatenation" value="and"{CHECKED_AND} />{TEXT_OR}</input>
	</td>
</tr>
<tr>
  <td class="option">{SEARCH_FOR}:</td>
  <td class="option_value"><input type="checkbox" name="search_for[]" id="cbusers" value="usr"{CHECKED_USERS} /> <label for="cbusers">{SEARCH_USERS}</label> <input type="checkbox" name="search_for[]" id="cbgroups" value="grp"{CHECKED_GROUPS} /> <label for="cbgroups">{SEARCH_GROUPS}</label> <input type="checkbox" name="search_for[]" id="cbroles" value="role"{CHECKED_ROLES} /> <label for="cbroles">{SEARCH_ROLES}</label></td>
</tr>
<tr><td colspan="2" class="submit">
<div align="right">
<input name="cmd[search]" type="submit" class="submit" id="apply" value="{SEARCH}" />
</div>
</td></tr>
</table>
<!-- END inviation -->
<!-- BEGIN user_result -->
<h2>{TEXT_USER_TITLE}</h2>
<table class="fullwidth">
<tr class="tblheader"><td class="std"><input type="checkbox" name="chb_user_select_check_all" value="1" onclick="setCheckboxes('frm_invitation', 'user_select', document.frm_invitation.chb_user_select_check_all.checked);" /></td><td class="std">{TEXT_LOGIN}</td><td class="std">{TEXT_FIRSTNAME}</td><td class="std">{TEXT_LASTNAME}</td><td class="std">{TEXT_CLIENT_IP}</td></tr>
<!-- BEGIN user_row -->
<td class="{COLOR_CLASS}" width="1%"><input type="checkbox" name="user_select[]" value="{COUNTER}" /></td>
<td class="{COLOR_CLASS}" width="15%">{VALUE_LOGIN}</td>
<td class="{COLOR_CLASS}" width="15%">{VALUE_FIRSTNAME}</td>
<td class="{COLOR_CLASS}" width="15%">{VALUE_LASTNAME}</td>
<td class="{COLOR_CLASS}" width="15%">{VALUE_CLIENT_IP}<input type="hidden" name="client_ip[]" value="{VALUE_CLIENT_IP}"></td>
</tr>
<!-- END user_row -->
<tr><td class="submit" colspan="5">{ARROW} <input type="submit" class="submit" name="cmd[add]" value="{VALUE_ADD}" /></td></tr>
</table>
<!-- END user_result -->
<!-- BEGIN group_result -->
<h2>{TEXT_GROUP_TITLE}</h2>
<table class="fullwidth">
<tr class="tblheader"><td class="std"><input type="checkbox" name="chb_group_select_check_all" value="1" onclick="setCheckboxes('frm_invitation', 'group_select', document.frm_invitation.chb_group_select_check_all.checked);" /></td><td class="std">{TEXT_TITLE}</td><td class="std">{TEXT_DESCRIPTION}</td></tr>
<!-- BEGIN group_row -->
<td class="{COLOR_CLASS}" width="1%"><input type="checkbox" name="group_select[]" value="{COUNTER}" /></td>
<td class="{COLOR_CLASS}" width="30%">{VALUE_TITLE}</td>
<td class="{COLOR_CLASS}" width="69%">{VALUE_DESCRIPTION}</td>
</tr>
<!-- END group_row -->
<tr><td class="submit" colspan="3">{ARROW} <input type="submit" class="submit" name="cmd[add]" value="{VALUE_ADD}" /></td></tr>
</table>
<!-- END group_result -->
<!-- BEGIN role_result -->
<h2>{TEXT_ROLE_TITLE}</h2>
<table class="fullwidth">
<tr class="tblheader"><td class="std"><input type="checkbox" name="chb_role_select_check_all" value="1" onclick="setCheckboxes('frm_invitation', 'role_select', document.frm_invitation.chb_role_select_check_all.checked);" /></td><td class="std">{TEXT_TITLE}</td><td class="std">{TEXT_DESCRIPTION}</td></tr>
<!-- BEGIN role_row -->
<td class="{COLOR_CLASS}" width="1%"><input type="checkbox" name="role_select[]" value="{COUNTER}" /></td>
<td class="{COLOR_CLASS}" width="30%">{VALUE_TITLE}</td>
<td class="{COLOR_CLASS}" width="69%">{VALUE_DESCRIPTION}</td>
</tr>
<!-- END role_row -->
<tr><td class="submit" colspan="3">{ARROW} <input type="submit" class="submit" name="cmd[add]" value="{VALUE_ADD}" /></td></tr>
</table>
<!-- END role_result -->
<!-- BEGIN invited_user_result -->
<h2>{TEXT_INVITED_USER_TITLE}</h2>
<table class="fullwidth">
<tr class="tblheader"><td class="std"><input type="checkbox" name="chb_invited_users_check_all" value="1" onclick="setCheckboxes('frm_invitation', 'invited_users', document.frm_invitation.chb_invited_users_check_all.checked);" /></td><td class="std">{TEXT_IV_LOGIN}</td><td class="std">{TEXT_IV_FIRSTNAME}</td><td class="std">{TEXT_IV_LASTNAME}</td><td class="std">{TEXT_IV_CLIENT_IP}</td><td class="std">{TEXT_IV_TEST_FINISHED}</td></tr>
<!-- BEGIN invited_user_row -->
<td class="{COLOR_CLASS}" width="1%"><input type="checkbox" name="invited_users[]" value="{COUNTER}" /></td>
<td class="{COLOR_CLASS}" width="15%">{VALUE_IV_LOGIN}</td>
<td class="{COLOR_CLASS}" width="15%">{VALUE_IV_FIRSTNAME}</td>
<td class="{COLOR_CLASS}" width="15%">{VALUE_IV_LASTNAME}</td>
<td class="{COLOR_CLASS}" width="15%"><input type="text" name="clientip[]" value="{VALUE_IV_CLIENT_IP}" size="15" maxlength="15"/></td>
<td class="{COLOR_CLASS}" width="15%">{VALUE_IV_TEST_FINISHED}</td>
</tr>
<!-- END invited_user_row -->
<!-- BEGIN user_action_buttons -->
<tr><td class="submit" colspan="6">{ARROW} &nbsp;<input type="submit" class="submit" name="cmd[save_client_ip]" value="{VALUE_SAVE}" />&nbsp;<input type="submit" class="submit" name="cmd[remove]" value="{VALUE_REMOVE}" /></td></tr>
<!-- END user_action_buttons -->
</table>
<!-- END invited_user_result -->
<!-- BEGIN hidden -->
<input type="hidden" name="{NAME_HIDDEN}" value="{VALUE_HIDDEN}" />
<!-- END hidden -->
</form>
<!-- END survey_online -->
<!-- BEGIN survey_offline -->
<p>{SURVEY_OFFLINE_MESSAGE}</p>
<!-- END survey_offline -->
