<table class="fullwidth">
<tr class="tblheader">
<td class="std"><h1>{CLOZE_TEST_HEADLINE}</h1></td>
</tr>
<p>
<!-- BEGIN cloze -->
<tr class="tblrow2"><td class="tblrow2">
{TEXT}
{GAP}
</td></tr>
<!-- END cloze -->
</table>
</p>
<!-- BEGIN material_download -->
<table class="std">
<tr class="tblheader"><td class="std" colspan="2" >{TEXT_MATERIAL_DOWNLOAD}</td></tr>
  <!-- BEGIN material_preview -->
  <tr> <td class="tblrow1"> {COUNTER} </td>
  <td align="left" class="tblrow1">
  <a href="{URL_MATERIAL_DOWNLOAD}" target="_blank">{VALUE_MATERIAL_DOWNLOAD}</a>
  </td></tr>
  <!-- END material_preview -->
</table>
<!-- END material_download -->
