<form name="frm_properties" action="{FORM_ACTION}" method="post">
<table class="std">
<thead>
	<tr class="tblheader">
		<th colspan="2">{HEADING_GENERAL}</th>
	</tr>
</thead>
<tr>
  <td class="option"><label for="online">{PROPERTY_ONLINE}</label></td>
  <td class="option_value"><input type="checkbox" name="online" id="online" value="1"{PROPERTY_ONLINE_CHECKED}{PROPERTY_ONLINE_DISABLED}><br /><em>{PROPERTY_ONLINE_DESCRIPTION}</em></td>
</tr>
<!-- BEGIN command_buttons -->
<tr><td colspan="2" class="submit">
<div align="right">
<input name="cmd[saveProperties]" type="submit" class="submit" id="save" value="{SAVE}" />
</div>
</td></tr>
<!-- END command_buttons -->
</table>
