	{QUESTIONTEXT}
<table class="nobackground">
<!-- BEGIN standard_matching_row -->
	<tr>
		<td class="nobackground">
			<span class="solutionbox">{SOLUTION}</span>
		</td>
		<td class="nobackground">{MATCHES}</td>
		<td class="nobackground">
<!-- BEGIN standard_matching_terms -->
			<strong>{DEFINITION}</strong>
<!-- END standard_matching_terms -->		
<!-- BEGIN standard_matching_pictures -->
			<img src="{THUMBNAIL_HREF}" border="0" id="thumb_{DEFINITION_ID}" alt="{THUMB_ALT}" title="{THUMB_TITLE}" />
<!-- END standard_matching_pictures -->		
		</td>
	</tr>
<!-- END standard_matching_row -->
</table>