<div class="questionTitle">{MATCHING_QUESTION_HEADLINE}</div>
<p>
{MATCHING_QUESTION}
</p>
<table class="nobackground">
<!-- BEGIN matching_question -->
<tr>
<td class="nobackground">
<select name="sel_matching_{COUNTER}">
<option value="-1" selected="selected">{PLEASE_SELECT}</option>
<!-- BEGIN matching_combo -->
<option value="{COMBO_MATCHING}"{VALUE_SELECTED}>{COMBO_MATCHING_VALUE}</option>
<!-- END matching_combo -->
</select>
</td>
<td class="nobackground">{TEXT_MATCHES}</td>
<!-- BEGIN matching_text -->
<td class="nobackground">{MATCHING_TEXT}</td>
<!-- END matching_text -->
<!-- BEGIN matching_picture -->
<td class="boxed">{MATCHING_PICTURE}</td>
<!-- END matching_picture -->
<tr>
<!-- END matching_question -->
</table>
<!-- BEGIN material_download -->
<p>
<table class="std">
<tr class="tblheader"><td class="std" colspan="2" >{TEXT_MATERIAL_DOWNLOAD}</td></tr>
  <!-- BEGIN material_preview -->
  <tr> <td class="tblrow1"> {COUNTER} </td>
  <td align="left" class="tblrow1">
  <a href="{URL_MATERIAL_DOWNLOAD}" target="_blank">{VALUE_MATERIAL_DOWNLOAD}</a>
  </td></tr>
  <!-- END material_preview -->
</table>
</p>
<!-- END material_download -->
