/* Modules/Chatroom */

.ilValignBottom {
	vertical-align: bottom;
}

#chat_actions {
	white-space: nowrap;
	margin-left: 10px;
}

#chat_messages {
	height: 300px;
	padding: 2px;
	overflow-y: scroll;
	overflow-x: auto;
	width: 100%;
	min-height: 200px;
	background-color: @il-primary-container-bg;
}

#chat_users {
	overflow: auto;
	height: 100%;
	min-height: 300px;
}

#private_rooms {
	z-index: 200;
	display: none;
}

td.chatroom {
	width: 200px;
	height: auto;
}
