<tr class="{CSS_ROW}">
	<!-- BEGIN multi_bl -->
	<td class="std" valign="top">
		<input type="checkbox" name="id[]" value="{VAL_ID}" />		
	</td>	
	<!-- END multi_bl -->
	<td class="std" valign="top">
  		{PREVIEW} {TXT_TITLE}
	</td>
	<td class="std" valign="top">
  		{TXT_TYPE}
	</td>
    <td class="std" valign="top">
		<!-- BEGIN container_link_bl -->
        <a href="{URL_CONTAINER}">{TXT_CONTAINER}</a>
		<!-- END container_link_bl -->
		<!-- BEGIN container_nolink_bl -->
		{TXT_CONTAINER_STATIC}
		<!-- END container_nolink_bl -->
    </td>
	<td class="std" valign="top">
        {TXT_ACTIVE}
    </td>	
	<!-- BEGIN action_bl -->
	<td class="std" valign="top">
        <a href="{URL_LIST}">{TXT_LIST}</a>
    </td>	
	<!-- END action_bl -->
</tr>