<tr class="{CSS_ROW}">
	<td class="std" valign="top">
        <input type="checkbox" name="badge_id[]" value="{VAL_ID}" />
    </td>	
	<td class="std" valign="top">
        {PREVIEW} {TXT_TITLE}
    </td>	
	<td class="std" valign="top">
		<!-- BEGIN parent_bl -->
		<img src="{SRC_PARENT}" /> {TXT_PARENT}
		<!-- END parent_bl -->
	</td>   
	<td class="std" valign="top">
        {TXT_ISSUED_ON}
    </td>	
	<td class="std" valign="top">
        {TXT_ACTIVE}
    </td>	
	<td class="std" valign="top">
		{ACTIONS}
    </td>			
</tr>