<div id="{ELEMENT_ID}">
	<table class="imagewizard">
		<tbody>
<!-- BEGIN row -->
			<tr class="{ROW_CLASS}">
				<td class="imagecolumn">
<!-- BEGIN addimage -->
					<input type="hidden" name="{IMAGE_POST_VAR}[count][{IMAGE_ROW_NUMBER}]" value="1" />
					<div class="imageselection">
					<div><input type="file" id="{IMAGE_ID}" name="{IMAGE_POST_VAR}[image][{IMAGE_ROW_NUMBER}]" size="20" /> <input type="submit" class="submit" name="cmd[upload{IMAGE_POST_VAR}][{IMAGE_ROW_NUMBER}]" value="{IMAGE_SUBMIT}" /></div>
<!-- BEGIN image -->
					<div class="imagepresentation">
						<input type="hidden" name="{IMAGE_POST_VAR}[imagename][{IMAGE_ROW_NUMBER}]" value="{IMAGE_NAME}" />
						<img style="margin: 5px 0px 5px 0px;" src="{SRC_IMAGE}" alt="{ALT_IMAGE}" {WIDTH} {HEIGHT} border="0" /><br />
						<input type="submit" class="submit" name="cmd[removeimage{IMAGE_POST_VAR}][{IMAGE_ROW_NUMBER}]" value="{TXT_DELETE_EXISTING}" /><br />
					</div>
<!-- END image -->
					</div>
<!-- END addimage -->
				</td>
				<td style="vertical-align: top;">
					<input type="image" name="{CMD_ADD}" class="imagewizard_add" id="add_{ID}" src="{ADD_BUTTON}" onclick="javascript: void(0); return false;" />
					<input type="image" name="{CMD_REMOVE}" class="imagewizard_remove" id="remove_{ID}" src="{REMOVE_BUTTON}" onclick="javascript: void(0); return false;" />
<!-- BEGIN move -->
					<input type="image" name="{CMD_UP}" class="imagewizard_up" id="up_{ID}" src="{UP_BUTTON}" onclick="javascript: void(0); return false;" />
					<input type="image" name="{CMD_DOWN}" class="imagewizard_down" id="down_{ID}" src="{DOWN_BUTTON}" onclick="javascript: void(0); return false;" />
<!-- END move -->
				</td>
			</tr>
<!-- END row -->
		</tbody>
	</table>
	<div class="ilFormInfo">{TXT_MAX_SIZE}<!-- BEGIN allowed_image_suffixes --> {TXT_ALLOWED_SUFFIXES}<!-- END allowed_image_suffixes --></div>
</div>