.il-std-item-container:not(:last-child) {
	border-bottom: @il-item-border-bottom;
}

.il-item {
	background-color: @il-primary-container-bg;
	position: relative;
	padding: @il-item-padding;
	.clearfix();

	.il-item-title {
		font-size: @font-size-base;
		display: inline-block;
		.btn-link, a {
			font-size: inherit;
			line-height: @line-height-base;
		}
	}

	.il-item-divider {
		clear: both;
		padding: @il-item-divider-padding;
		margin: @il-item-divider-margin;
		border: 0 none;
		background: none;
		border-bottom: @il-item-divider-border-bottom;
	}

	.dropdown {
		display: inline-block;
		float: right;
	}

	.il-item-description {
		padding: @il-item-description-padding;
		font-size: @font-size-small;
		clear: both;
	}

	.il-item-property-name {
		font-size: @font-size-small;
		color: @il-light-text-color;
		overflow: hidden;
	}

	.il-item-property-value {
		font-size: @font-size-small;
		overflow: hidden;
	}

	.col-sm-9 > .row {
		clear: both;
	}

	.row .row > .col-md-6 {
		margin-bottom: 6px;
	}

}

.il-item-marker {
	border-left: @il-item-marker-border-left;
}

.il-item-group {
	clear: both;
	background-color: @il-secondary-container-bg;

	> h3 {
		float:left;
		color: @panel-heading-color;
		font-size: @font-size-h4;
		font-weight: normal;
		padding: @panel-heading-padding;
		margin: 0;
	}

	.dropdown {
		float:right;
	}
}

.il-item-group-items {
	clear: both;
}
.il-item-notification-replacement-container:not(:first-child){
	.il-notification-item{
		margin-top: @padding-large-vertical;
	}
}

.il-notification-item{
	//To give some extra space in case for vertical scroll bar
	padding-right: @il-item-padding + 3px;
	.il-item-notification-title{
		display: inline-block;
		margin: 0;
	}

	.il-item-additional-content{
		clear:both;
	}

	.row {
		//To prevent horizontal scroll bar.
		margin-right: 0px;
	}

	.dropdown{
		margin-top: -(@font-size-base+@padding-large-vertical);
	}

}

/* this is currently experimental, could be removed */
@media only screen and (min-width: (@grid-float-breakpoint-max + 1px)) {

	.panel-secondary .il-item {
		padding: @padding-large-vertical @padding-small-horizontal;
		display: table;
		width: 100%;

		h5 {
			margin-top: 0;
			font-size: @font-size-base;
			float: none;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.il-item-description {
			padding-top: @padding-small-vertical;
			font-size: @font-size-xs;
		}

		.il-item-divider {
			padding-top: @padding-large-vertical;
			margin-bottom: @padding-large-vertical;
		}

		.il-item-property-name {
			padding:0;
			width: 40%;
			font-size: @font-size-xs;
		}

		.il-item-property-value {
			padding:0;
			width: 60%;
			font-size: @font-size-xs;
		}

		.row {
			display: block;
			margin: 0;

			> .col-md-6 {
				padding:0;
				width: 100%;
			}
		}

		.col-sm-3 {
			display: table-cell;
			height: 100%;
			padding: 0;
			float: none;
			vertical-align: top;
			width: 45px;
		}

		.col-sm-3 img {
			width: 40px;
		}

		.col-sm-9 {
			position: static;
			display: table-cell;
			padding: 0 @padding-small-horizontal;
			overflow: hidden;
			max-width: 0;
			float: none;
			zoom: 1;
			vertical-align: top;
			/* using auto has issues on firefox, using calc(100%-45px) seems to have issues on IE,
				see known issues at https://caniuse.com/#search=calc */
			width: 100%;
		}

		.dropdown {
			position: static;
		}

		.dropdown-menu  {
			width: 100%;
		}

		.dropdown-toggle {
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;
			margin-top: -20px;
			z-index: 1;
		}

		.open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default {
			background-color: transparent;
		}

		button.dropdown-toggle {
			background-color: transparent;
			border: 0;
		}

		button.dropdown-toggle > span {
			display: none;
		}
	}
}

/* otherwise dropdowns in items with icon do not work */
.il-std-item .media .media-body, .il-std-item .media, .il-notification-item .media, .il-notification-item .media .media-body {
	overflow: visible;
}

@media only screen and (max-width: @grid-float-breakpoint-max) {

	.il-item {
		div.col-sm-3 > h5 {
			font-size: @font-size-h6;
			float: none;
		}

		.il-item-divider {
			padding: @il-item-divider-padding;
			margin: 0;
			border-bottom: 0;
		}
	}
}