.il-item {
	background-color: @il-primary-container-bg;
	position: relative;

	h5 {
		margin: 4px 0px 2px 0px;
		font-size: 130%;
		float: left;
	}

	.il-item-divider {
		clear: both;
		padding: 0;
		margin: 0;
		padding-top: 10px;
		margin-bottom: 10px;
		border: 0 none;
		background: none;
		border-bottom: dashed 2px #E0E0E0;
	}

	.dropdown {
		float: right;
	}

	.il-item-description {
		padding-top: 10px;
		font-size: 90%;
		clear: both;
	}

	.il-item-property-name {
		font-size: 90%;
	}

	.il-item-property-value {
		font-size: 90%;
		color: #A0A0A0;
	}
}

.il-std-item {
	padding: 20px;
}

/* needs variable / mixin? */
.il-item-marker-1 {
	border-left: 5px solid #FF8080;
}
.il-item-marker-2 {
	border-left: 5px solid #80FF80;
}
.il-item-marker-3 {
	border-left: 5px solid #8080FF;
}

.il-narrow-content .il-item:hover {
	background-color: @il-highlight-bg;
}

.il-narrow-content .il-item {
	padding: 0px;
	display: table;
	width: 100%;

	h5 {
		margin-top: 3px;
		font-size: 100%;
		float: none;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.il-item-description {
		padding-top: 1px;
		font-size: 80%;
	}

	.il-item-divider, .il-item-property-name, .il-item-property-value {
		display:none;
	}

	.row {
		display: table-row;
	}

	.col-sm-3 {
		display: table-cell;
		height: 100%;
		padding: 0;
		float: none;
		vertical-align: top;
		width: 45px;
	}

	.col-sm-3 img {
		width: 40px;
	}

	.col-sm-9 {
		position: static;
		display: table-cell;
		padding: 0 5px 0 5px;
		overflow: hidden;
		max-width: 0;
		float: none;
		zoom: 1;
		vertical-align: top;
		width: auto;
	}

	.dropdown {
		position:static;
	}

	.dropdown-menu.pull-right {
		width:100%;
	}

	.dropdown-toggle {
		position: absolute;
		left: 0px;
		width: 100%;
		height: 100%;
		margin-top: -20px;
		z-index: 1;
	}

	button.dropdown-toggle {
		background-color: transparent;
		border: 0;
	}

	button.dropdown-toggle > span {
		display: none;
	}

}