<div class="il-item-notification-replacement-container">
	<div class="il-item il-notification-item" <!-- BEGIN id -->id="{ID}"<!-- END id -->>
		<div class="media">
			<div class="media-left">
				<!-- BEGIN lead_icon -->{LEAD_ICON}<!-- END lead_icon -->
			</div>
			<div class="media-body">
				<h4 class="il-item-notification-title">{TITLE}</h4>
				{CLOSE_ACTION}

				<!-- BEGIN desc -->
				<div class="il-item-description">{DESC}</div>
				<!-- END desc -->
				{ACTIONS}
				<!-- BEGIN additional_content -->
				<div class="il-item-additional-content">{ADDITIONAL_CONTENT}</div>
				<!-- END additional_content -->

				<!-- BEGIN properties -->
				<hr class="il-item-divider">
				<!-- BEGIN property_row -->
				<div class="row il-item-properties">
					<div class="col-sm-12 il-multi-line-cap-3">
						<span class="il-item-property-name">{PROP_NAME_A}</span><span class="il-item-property-value">{PROP_VAL_A}</span>
					</div>
					<div class="col-sm-12 il-multi-line-cap-3">
						<span class="il-item-property-name">{PROP_NAME_B}</span><span class="il-item-property-value">{PROP_VAL_B}</span>
					</div>
				</div>
				<!-- END property_row -->
				<!-- END properties -->
				<!-- BEGIN aggregate_notifications -->
				<div class="il-aggregate-notifications" data-aggregatedby="{PARENT_ID}">
					{AGGREGATES}
				</div>
				<!-- END aggregate_notifications -->
			</div>
		</div>
	</div>
</div>