<div class="il-item il-std-item <!-- BEGIN color -->il-item-marker " style="border-color:{COLOR}<!-- END color -->">
	<!-- BEGIN lead_start -->
	<div class="row">
		<div class="col-sm-3">
			<!-- BEGIN lead_text --><h5>{LEAD_TEXT}</h5><!-- END lead_text -->
			<!-- BEGIN lead_image -->{LEAD_IMAGE}<!-- END lead_image -->
		</div>
		<div class="col-sm-9">
			<!-- END lead_start -->
	<!-- BEGIN lead_start_icon -->
	<div class="media">
		<div class="media-left">
			<!-- BEGIN lead_icon -->{LEAD_ICON}<!-- END lead_icon -->
		</div>
		<div class="media-body">
			<!-- END lead_start_icon -->
			<h5><!-- BEGIN title_link_start --><a href="{TITLE_HREF}"><!-- END title_link_start -->{TITLE}<!-- BEGIN title_link_end --></a><!-- END title_link_end --></h5>
			{ACTIONS}
			<!-- BEGIN desc -->
			<div class="il-item-description">{DESC}</div><!-- END desc -->
			<!-- BEGIN properties -->
			<hr class="il-item-divider" />
			<!-- BEGIN property_row -->
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-sm-5 col-lg-4 il-item-property-name">{PROP_NAME_A}</div>
						<div class="col-sm-7 col-lg-8 il-item-property-value il-multi-line-cap-3">{PROP_VAL_A}</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-sm-5 col-lg-4 il-item-property-name">{PROP_NAME_B}</div>
						<div class="col-sm-7 col-lg-8 il-item-property-value il-multi-line-cap-3">{PROP_VAL_B}</div>
					</div>
				</div>
			</div>
			<!-- END property_row -->
			<!-- END properties -->
			<!-- BEGIN lead_end -->
		</div>
	</div><!-- END lead_end -->
</div>