<div class="il-item il-item-shy" <!-- BEGIN id -->id="{ID}"<!-- END id -->>
	<!-- BEGIN lead_icon -->{LEAD_ICON}<!-- END lead_icon -->
	<div class="content">
		<div class="il-item-title">{TITLE}</div>
		<!-- BEGIN desc -->
		<div class="il-item-description">{DESC}</div>
		<!-- END desc -->
		<!-- BEGIN properties -->
		<hr class="il-item-divider" />
		<!-- BEGIN property_row -->
		<div class="il-item-properties">
			<div class="il-item-property-name">{PROP_NAME_A}</div>
			<div class="il-item-property-value">{PROP_VAL_A}</div>
		</div>
		<!-- END property_row -->
		<!-- END properties -->
		<!-- BEGIN close -->{CLOSE}<!-- END close -->
	</div>
</div>
