/* Services/UIComponent/Lightbox */
.ilLightbox {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #303030;
  overflow: auto;
}
a.ilMediaLightboxClose {
  display: block;
  float: right;
  margin: 5px 0 10px 10px;
  cursor: pointer;
  color: #808080;
  font-size: 140%;
}
a.ilMediaLightboxClose:hover {
  color: #A0A0A0;
  text-decoration: none;
}
.ilLightboxContent {
  margin: 50px auto 0;
  width: 640px;
  max-width: 100%;
}
