<div class="il-survey-page" id="ilc_Page">
    <!-- BEGIN questionblock_title -->
    <div class="questionblockTitle">{TEXT_QUESTIONBLOCK_TITLE}</div>
    <br />
    <!-- END questionblock_title -->
    <!-- BEGIN survey_content -->
    <div class="il-survey-question {CMPR_CLASS}">
    <!-- BEGIN heading -->
    <div class="questionheading">{QUESTION_HEADING}</div>
    <!-- END heading -->
    {QUESTION_OUTPUT}
    </div>
    <!-- END survey_content -->
    {SYSTEMSETTINGS}
</div>
<!-- BEGIN required -->
<div class="required" style="padding: 10px;">
    <span class="obligatory">*</span><span class="small">{TEXT_REQUIRED}</span>
</div>
<!-- END required -->
