<tr class="{CSS_ROW}">	
	<td class="std small">
		{LASTNAME}
	</td>	
	<td class="std small">
		{FIRSTNAME}
	</td>	
	<td class="std small">
		{LOGIN}
	</td>	
	<td class="std small">
		<img src="{ICON}" alt="{ICON_ALT}" title="{ICON_ALT}" /> {TYPE}
	</td>	
	<td class="std small">
		{ACL_DATE}
	</td>
	<td class="std small">
		<a href="{URL_TITLE}">{TITLE}</a>
	</td> 
	<td class="std small">
		<!-- BEGIN acl_type_bl -->
			<!-- BEGIN acl_type_icon_bl -->
			<img src="{ACL_ICON}" alt="{ACL_ICON_ALT}" title="{ACL_ICON_ALT}" />
			<!-- END acl_type_icon_bl -->
			{ACL_TYPE}		
		<!-- END acl_type_bl -->
	</td> 
	<td class="std small">
		<!-- BEGIN action_bl -->
		<a href="{URL_ACTION}">{ACTION}</a>
		<!-- END action_bl -->
	</td> 
</tr>