<div>
	<!-- BEGIN actions -->
	<div align="right">
		<!-- BEGIN action_item -->
		<a href="{ACTION_ITEM_URL}">{ACTION_ITEM_CAPTION}</a>
		<!-- END action_item -->
	</div>
	<!-- END actions -->

	<ul style="list-style-type: none;">
		<!-- BEGIN node -->
		<li>
			<img src="{NODE_ICON_SRC}" alt="{NODE_ICON_ALT}" title="{NODE_ICON_ALT}" />
			{NODE_CAPTION}
			<!-- BEGIN node_action -->
			[<a href="{NODE_ACTION_URL}">{NODE_ACTION_CAPTION}</a>]
			<!-- END node_action -->
		</li>
		<!-- END node -->
	</ul>

</div>