<tr>
	<td><a class="{ACCORDION_BUTTON_CLASS}">EX</a></td>
	<td>{TITLE}</td>
	<td>{CUSTOM_ID}</td>
	<td>{TYPE}</td>
	<td>{CATEGORY}</td>
	<td>{LOCATION}</td>
	<td>{DATE}</td>
	<td>{APDAYS}</td>
	<td>{MBRS}</td>
	<td>{ACTIONS}</td>
</tr>
<tr class="{ACCORDION_ROW}" style="display:none">
	<td  colspan="{COLSPAN}">
		<div>
			<h4>Zielgruppe</h4><p>{TARGET_GROUP}</p>
			<h4>Ziele und Nutzen</h4><p>{GOALS}</p>
			<h4>Inhalte</h4><p>{CONTENTS}</p>

			<br>
			<a href="{MBMRLST_LINK}">{MBMRLST_ICO} {MBMRLST_LINK_TXT}</a>
			<!-- BEGIN set_stat -->
			<a href="{SETSTAT_LINK}">{SETSTAT_ICO} {SETSTAT_LINK_TXT}</a>
			<!-- END set_stat -->
	
	
		</div>
	</td>
</tr>