<tr>
	<td><a class="{ACCORDION_BUTTON_CLASS}">EX</a></td>
	<td>{TITLE}</td>
	<td>{STATUS}</td>
	<td>{TYPE}</td>
	<td>{LOCATION}</td>
	<td>{DATE}</td>
	<td>{POINTS}</td>
	<td>{FEE}</td>
	<td>{ACTIONS}</td>
</tr>
<tr class="{ACCORDION_ROW}" style="display:none">
	<td  colspan="{COLSPAN}"><div>
	<h4>Zielgruppe</h4><p>{TARGET_GROUP}</p>
	<h4>Ziele und Nutzen</h4><p>{GOALS}</p>
	<h4>Inhalte</h4><p>{CONTENTS}</p>
	<!-- BEGIN booking_link -->
	<a href="{BOOKING_LINK}">zur Buchung</a>
	<!-- END booking_link -->
	freie Plätze: {FREE_PLACES}
	<!-- BEGIN booking_deadline -->
	buchbar bis: {BOOKING_DEADLINE}
	<!-- END booking_deadline -->
	<!-- BEGIN cancel_deadline -->
	kostenfrei stornierbar bis: {CANCEL_DEADLINE}
	<!-- END cancel_deadline -->



	</div></td>
</tr>