<div id="ilCharSelectorPanel">
	<div id="ilCharSelectorFixed">
		
		<div id="ilCharSelectorPageNav">
			<!-- BEGIN select -->
				<select id="ilCharSelectorSelPage" class="" >
					<!-- BEGIN page_option -->
					<option value="{PAGE_INDEX}">{PAGE_NAME}</option>
					<!-- END page_option -->
				</select>
			<!-- END select -->	
		</div>	
		<div id="ilCharSelectorSubPageNav">
			<!-- BEGIN navigation -->
				<select id="ilCharSelectorSelSubPage" class="" >
				</select>
			<a id="ilCharSelectorPrevPage" class="ilEditSubmit" href="#">&nbsp;{TXT_PREVIOUS_PAGE}&nbsp;</a>
			<a id="ilCharSelectorNextPage" class="ilEditSubmit" href="#" >&nbsp;{TXT_NEXT_PAGE}&nbsp;</a>
			<!-- END navigation -->
		</div>	
		
		<div id="ilCharSelectorPreviewContainer">
			<span id="ilCharSelectorPreview"></span>
		</div>
	</div>
	
	<!-- BEGIN chars -->
	<div id="ilCharSelectorScroll">
		<div id="ilCharSelectorChars"></div>
	</div>
	<!-- END chars -->
</div>