.icon {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('./images/icon_default.svg');
	display: inline-block;
	text-align: center;

	.abbreviation {
		font-weight: bold;
		position: absolute;
	}
	img {
		float:left;
	}

	&.small {
		height: @icon-size-small;
		width: @icon-size-small;
		line-height: @icon-size-small;
		.abbreviation {
			font-size: ceil(@icon-size-small / 2.5);
			width: @icon-size-small;
		}
		img {
			width: @icon-size-small;
			height: @icon-size-small;
		}
	}
	&.medium {
		height: @icon-size-medium;
		width: @icon-size-medium;
		line-height: @icon-size-medium;
		.abbreviation {
			font-size: ceil(@icon-size-medium / 2.5);
			width: @icon-size-medium;
		}
		img {
			width: @icon-size-medium;
			height: @icon-size-medium;
		}
	}
	&.large {
		height: @icon-size-large;
		width: @icon-size-large;
		line-height: @icon-size-large;
		.abbreviation {
			font-size: ceil(@icon-size-large / 2.5);
			width: @icon-size-large;
		}
		img {
			width: @icon-size-large;
			height: @icon-size-large;
		}
	}

	/* the custom-icon is rendered with an image contained in the div */
	&.custom {
		background-image: none;
	}

	/* add known standard classes here */
	&.grp,
	&.cat,
	&.crs,
	&.mob,
	&.mail,
	&.sahs,
	&.adm,
	&.usrf,
	&.rolf,
	&.objf,
	&.usr,
	&.typ,
	&.rolt,
	&.lngf,
	&.lng,
	&.role,
	&.dbk,
	&.glo,
	&.root,
	&.lm,
	&.notf,
	&.note,
	&.frm,
	&.exc,
	&.auth,
	&.fold,
	&.file,
	&.tst,
	&.qpl,
	&.recf,
	&.mep,
	&.htlm,
	&.svy,
	&.spl,
	&.cals,
	&.trac,
	&.assf,
	&.stys,
	&.crsg,
	&.webr,
	&.seas,
	&.extt,
	&.adve,
	&.ps,
	&.nwss,
	&.feed,
	&.mcst,
	&.pdts,
	&.rcrs,
	&.mds,
	&.cmps,
	&.facs,
	&.svyf,
	&.sess,
	&.mcts,
	&.wiki,
	&.crsr,
	&.catr,
	&.tags,
	&.cert,
	&.lrss,
	&.accs,
	&.mobs,
	&.frma,
	&.book,
	&.skmg,
	&.blga,
	&.prfa,
	&.chtr,
	&.chta,
	&.otpl,
	&.blog,
	&.dcl,
	&.poll,
	&.hlps,
	&.itgr,
	&.rcat,
	&.rwik,
	&.rlm,
	&.rglo,
	&.rfil,
	&.rgrp,
	&.rtst,
	&.ecss,
	&.tos,
	&.bibl,
	&.sysc,
	&.cld,
	&.reps,
	&.crss,
	&.grps,
	&.wbrs,
	&.prtt,
	&.orgu,
	&.wiks,
	&.excs,
	&.taxs,
	&.bibs,
	&.awra,
	&.logs,
	&.prg,
	&.prgs,
	&.cadm,
	&.grpr,
	&.bdga,
	&.wfe,
	&.iass
	{
		.abbreviation {
			display: none;
		}
	}


	&.grp{
		background-image: url('./images/icon_grp.svg');
	}
	&.cat{
		background-image: url('./images/icon_cat.svg');
	}
	&.crs{
		background-image: url('./images/icon_crs.svg');
	}
	&.mob{
		background-image: url('./images/icon_mob.svg');
	}
	&.mail {
		background-image: url('./images/icon_mail.svg');
	}
	&.sahs{
		background-image: url('./images/icon_sahs.svg');
	}
	&.adm {
		background-image: url('./images/icon_adm.svg');
	}
	&.usrf{
		background-image: url('./images/icon_usrf.svg');
	}
	&.rolf{
		background-image: url('./images/icon_rolf.svg');
	}
	&.objf{
		background-image: url('./images/icon_objf.svg');
	}
	&.usr{
		background-image: url('./images/icon_usr.svg');
	}
	&.rolt{
		background-image: url('./images/icon_rolt.svg');
	}
	&.lngf{
		background-image: url('./images/icon_lngf.svg');
	}
	&.lng{
		background-image: url('./images/icon_lng.svg');
	}
	&.role{
		background-image: url('./images/icon_role.svg');
	}
	&.dbk{
		background-image: url('./images/icon_dbk.svg');
	}
	&.glo{
		background-image: url('./images/icon_glo.svg');
	}
	&.root{
		background-image: url('./images/icon_root.svg');
	}
	&.lm{
		background-image: url('./images/icon_lm.svg');
	}
	&.notf{
		background-image: url('./images/icon_notf.svg');
	}
	&.note{
		background-image: url('./images/icon_note.svg');
	}
	&.frm{
		background-image: url('./images/icon_frm.svg');
	}
	&.exc{
		background-image: url('./images/icon_exc.svg');
	}
	&.auth{
		background-image: url('./images/icon_auth.svg');
	}
	&.fold{
		background-image: url('./images/icon_fold.svg');
	}
	&.file{
		background-image: url('./images/icon_file.svg');
	}
	&.tst{
		background-image: url('./images/icon_tst.svg');
	}
	&.qpl{
		background-image: url('./images/icon_qpl.svg');
	}
	&.recf{
		background-image: url('./images/icon_recf.svg');
	}
	&.mep{
		background-image: url('./images/icon_mep.svg');
	}
	&.htlm{
		background-image: url('./images/icon_htlm.svg');
	}
	&.svy{
		background-image: url('./images/icon_svy.svg');
	}
	&.spl{
		background-image: url('./images/icon_spl.svg');
	}
	&.cals{
		background-image: url('./images/icon_cals.svg');
	}
	&.trac{
		background-image: url('./images/icon_trac.svg');
	}
	&.assf{
		background-image: url('./images/icon_assf.svg');
	}
	&.stys{
		background-image: url('./images/icon_stys.svg');
	}
	&.crsg{
		background-image: url('./images/icon_crsg.svg');
	}
	&.webr{
		background-image: url('./images/icon_webr.svg');
	}
	&.seas{
		background-image: url('./images/icon_seas.svg');
	}
	&.extt{
		background-image: url('./images/icon_extt.svg');
	}
	&.adve{
		background-image: url('./images/icon_adve.svg');
	}
	&.ps{
		background-image: url('./images/icon_ps.svg');
	}
	&.nwss{
		background-image: url('./images/icon_nwss.svg');
	}
	&.feed{
		background-image: url('./images/icon_feed.svg');
	}
	&.mcst{
		background-image: url('./images/icon_mcst.svg');
	}
	&.pdts{
		background-image: url('./images/icon_pdts.svg');
	}
	&.rcrs{
		background-image: url('./images/icon_rcrs.svg');
	}
	&.mds{
		background-image: url('./images/icon_mds.svg');
	}
	&.cmps{
		background-image: url('./images/icon_cmps.svg');
	}
	&.facs{
		background-image: url('./images/icon_facs.svg');
	}
	&.svyf{
		background-image: url('./images/icon_svyf.svg');
	}
	&.sess{
		background-image: url('./images/icon_sess.svg');
	}
	&.mcts{
		background-image: url('./images/icon_mcts.svg');
	}
	&.wiki{
		background-image: url('./images/icon_wiki.svg');
	}
	&.crsr{
		background-image: url('./images/icon_crsr.svg');
	}
	&.catr{
		background-image: url('./images/icon_catr.svg');
	}
	&.tags{
		background-image: url('./images/icon_tags.svg');
	}
	&.cert{
		background-image: url('./images/icon_cert.svg');
	}
	&.lrss{
		background-image: url('./images/icon_lrss.svg');
	}
	&.accs{
		background-image: url('./images/icon_accs.svg');
	}
	&.mobs{
		background-image: url('./images/icon_mobs.svg');
	}
	&.frma{
		background-image: url('./images/icon_frma.svg');
	}
	&.book{
		background-image: url('./images/icon_book.svg');
	}
	&.skmg{
		background-image: url('./images/icon_skmg.svg');
	}
	&.blga{
		background-image: url('./images/icon_blga.svg');
	}
	&.prfa{
		background-image: url('./images/icon_prfa.svg');
	}
	&.chtr{
		background-image: url('./images/icon_chtr.svg');
	}
	&.chta{
		background-image: url('./images/icon_chta.svg');
	}
	&.otpl{
		background-image: url('./images/icon_otpl.svg');
	}
	&.blog{
		background-image: url('./images/icon_blog.svg');
	}
	&.dcl{
		background-image: url('./images/icon_dcl.svg');
	}
	&.poll{
		background-image: url('./images/icon_poll.svg');
	}
	&.hlps{
		background-image: url('./images/icon_hlps.svg');
	}
	&.itgr{
		background-image: url('./images/icon_itgr.svg');
	}
	&.rcat{
		background-image: url('./images/icon_rcat.svg');
	}
	&.rwik{
		background-image: url('./images/icon_rwik.svg');
	}
	&.rlm{
		background-image: url('./images/icon_rlm.svg');
	}
	&.rglo{
		background-image: url('./images/icon_rglo.svg');
	}
	&.rfil{
		background-image: url('./images/icon_rfil.svg');
	}
	&.rgrp{
		background-image: url('./images/icon_rgrp.svg');
	}
	&.rtst{
		background-image: url('./images/icon_rtst.svg');
	}
	&.ecss{
		background-image: url('./images/icon_ecss.svg');
	}
	&.tos{
		background-image: url('./images/icon_tos.svg');
	}
	&.bibl{
		background-image: url('./images/icon_bibl.svg');
	}
	&.sysc{
		background-image: url('./images/icon_sysc.svg');
	}
	&.cld{
		background-image: url('./images/icon_cld.svg');
	}
	&.reps{
		background-image: url('./images/icon_reps.svg');
	}
	&.crss{
		background-image: url('./images/icon_crss.svg');
	}
	&.grps{
		background-image: url('./images/icon_grps.svg');
	}
	&.wbrs{
		background-image: url('./images/icon_wbrs.svg');
	}
	&.prtt{
		background-image: url('./images/icon_prtt.svg');
	}
	&.orgu{
		background-image: url('./images/icon_orgu.svg');
	}
	&.wiks{
		background-image: url('./images/icon_wiks.svg');
	}
	&.excs{
		background-image: url('./images/icon_excs.svg');
	}
	&.taxs{
		background-image: url('./images/icon_taxs.svg');
	}
	&.bibs{
		background-image: url('./images/icon_bibs.svg');
	}
	&.awra{
		background-image: url('./images/icon_awra.svg');
	}
	&.logs{
		background-image: url('./images/icon_logs.svg');
	}
	&.prg{
		background-image: url('./images/icon_prg.svg');
	}
	&.prgs{
		background-image: url('./images/icon_prgs.svg');
	}
	&.cadm{
		background-image: url('./images/icon_cadm.svg');
	}
	&.grpr{
		background-image: url('./images/icon_grpr.svg');
	}
	&.bdga{
		background-image: url('./images/icon_bdga.svg');
	}
	&.wfe{
		background-image: url('./images/icon_wfe.svg');
	}
	&.iass{
		background-image: url('./images/icon_iass.svg');
	}
}