<div class="il-table-presentation-row row collapsed" id="{ID}">

	<div class="il-table-presentation-row-controls">
		<div class="il-table-presentation-row-controls-expander inline">
			{EXPANDER}
		</div>
		<div class="il-table-presentation-row-controls-collapser">
			{COLLAPSER}
		</div>
	</div>


	<div class="il-table-presentation-row-contents">

		<div class="il-table-presentation-row-header">

			<h4 class="il-table-presentation-row-header-headline" onClick="$(document).trigger('{TOGGLE_SIGNAL}');">
				{HEADLINE}
				<!-- BEGIN subheadline -->
				<br>
				<small>
					{SUBHEADLINE}
				</small>
				<!-- END subheadline -->
			</h4>

			<div class="il-table-presentation-row-header-fields">
				<!-- BEGIN important_field -->
				{IMPORTANT_FIELD_LABEL}
				{IMPORTANT_FIELD_VALUE}
				|
				<!-- END important_field -->
				{SHY_EXPANDER}
			</div>

		</div>


		<div class="il-table-presentation-row-expanded">
			<div class="il-table-presentation-desclist inline">
				{DESCLIST}
			</div>

			<div class="il-table-presentation-details inline">
				<div class="il-table-presentation-actions">
					<!-- BEGIN button -->{BUTTON}<br><!-- END button -->
				</div>

				<div class="il-table-presentation-fields">
					<!-- BEGIN further_fields_headline -->
					<h5>{FURTHER_FIELDS_HEADLINE}</h5>
					<!-- END further_fields_headline -->

					<!-- BEGIN further_field -->
					<!-- BEGIN further_field_label -->
					<span class="il-item-property-name">
						{FIELD_LABEL}
					</span>
					<!-- END further_field_label -->

					<span class="il-item-property-value">
						{FIELD_VALUE}
					</span>
					<br />
					<!-- END further_field -->
				</div>

			</div>
		</div>

	</div>

</div>
