<div class="il-table-data">

	<!-- BEGIN header_title -->
	<h3 class="ilHeader" id="{ID}_label">{TITLE}</h3>
	<!-- END header_title -->

	<div class="table" role="grid" aria-labelledby="{ID}_label" aria-colcount="{COL_COUNT}">

		<div class="header row" role="rowgroup">
			<!-- BEGIN header_cell -->
			<div class="header cell" role="columnheader" aria-colindex="{COL_INDEX}" aria-sort="{COL_SORTATION}">
				{COL_TITLE}
			</div>
			<!-- END header_cell -->
		</div>

		<div class="body" role="rowgroup">
			<!-- BEGIN row -->
			<div class="row {ALTERNATION}" role="row">
				{CELLS}
			</div>
			<!-- END row -->
		</div>

	</div>

</div>
