<form action="{ACTION}" method="post">
<h2>Auftrag als Trusted Partner Service</h2>
<p style="height: 10px"></p>
<p>
	Die Generali soll für für SIe als Trusted Partner Service agieren. Bitte wählen Sie aus, ob Sie bereits eine Registrierung bei der Weiterbildungsdatenbank besitzen, oder für Sie eine Registrierung durchgeführt werden soll.
</p>

<p style="height: 20px" />

<div class="WBDRegform">
{FORM}
</div>

</form>

<p style="height: 50px" />

<p>
	Bitte klicken Sie <a href="{NO_BWV_SERVICE_REG_LNK}" class="blue">hier</a>, falls die Generali nicht Ihr Trusted Partner Service  sein soll oder Sie bereits an anderer Stelle eine Kontoeröffnung beantragt haben.
<p />