
<form action="{ACTION}" method="post">


<p style="height: 20px"></p>
{QUESTION}<p />

<p style="height: 10px"></p>
{HAS_BWV_ID}: <input type="text" size="20" id="bwv_id" name="bwv_id" /><p />
<input class="submit" type="SUBMIT" name="cmd[setBWVId]" value="{HAS_BWV_ID_COMMAND}"><p />


<p style="height: 20px"></p>
{NO_BWV_ID}
<p />
<input class="submit" type="SUBMIT" name="cmd[noBWVId]" value="{NO_BWV_ID_COMMAND}"><p />


<p style="height: 20px"></p>
<input class="submit" type="SUBMIT" name="cmd[startRegistration]" value="Zurück"><p />

</form>
