Ihre Registrierung war nicht erfolgreich. Dies kann unterschiedliche Ursachen haben:

<ul>
<li>Die von Ihnen eingegebene E-Mail-Adresse passt nicht mit der von Ihnen eingegebenen Vermittlernummer überein. Geben Sie Ihre Generali Vermittlernummer sowie die zu dieser Vermittlernummer hinterlegte E-Mail-Adresse ein.</li>
<li>Zu Ihrer Vermittlernummer ist keine passende E-Mail-Adresse hinterlegt. Bitte kontaktieren Sie in diesem Fall <a href="mailto:bildungspunkte.de@generali.com" class="blue">bildungspunkte.de@generali.com</a>.</li>
</ul>