<form action="{ACTION}" method="post">
<h2>Auftrag als Trusted Partner Service</h2>
<p style="height: 10px"></p>
<p>Die Generali soll für mich ein Weiterbildungkonto eröffnen und ist berechtigt, aber auch verpflichtet, die Pflege meiner Daten und Einstellungen vorzunehmen.</p>
<p>Ich beauftrage die Generali Versicherung AG für mich ein Konto in der Weiterbildungsdatenbank (WBD) des BWV e.V. sowie ein Nutzerkonto bei der Trusted German Insurance Cloud (TGIC) zu eröffnen.</p>
<div style="position:absolute; text-align: right; margin-top: 8px; width: 325px; color: #404040; font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;"><label>Auftrag zur Kontoeröffnung</label></div>
{FORM}
</form>

<p style="height: 60px" />

Bitte klicken Sie <a href="{NO_BWV_SERVICE_REG_LNK}">hier</a>, falls die Generali nicht Ihr Trusted Partner Service  sein soll oder Sie bereits an anderer Stelle eine Kontoeröffnung beantragt haben.<p />



