<form action="{ACTION}" method="post">
<h2>Auftrag als Trusted Partner Service</h2>
<p style="height: 10px"></p>
<p>
	Ich habe bereits ein Konto bei der Weiterbildungsdatenbank (WBD) des BWV e.V.. Hiermit beauftrage ich die Generali den TP-Service für mich zu übernehmen
</p>

<p style="height: 20px" />

<div style="position:absolute; text-align: right; margin-top: 8px; width: 325px; color: #404040; font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;"><label>Auftrag zur TP-Service übernahme</label></div>

<div class="WBDRegform">
{FORM}
</div>

</form>

<div class="affiliateAdvice">
	<h2>Voraussetzungen zur Übernahme als Trusted Partner Service</h2>
	<ul>
		<li>Ihre BWV-Id ist korrekt</li>
		<li>Ihr Vorname in der Generali Online Akademie stimmt mit dem in der WBD hinterlegten Namen überein.</li>
		<li>Ihr Nachname in der Generali Online Akademie stimmt mit dem in der WBD hinterlegten Nachnamen überein.</li>
		<li>Ihr Geburtsdatum in der Generali Online Akademie stimmt mit dem in der WBD hinterlegten Geburtsdatumüberein.</li>
		<li>Ihre Email zur Authentifizierung in der Generali Online Akademie stimmt mit der in der WBD hinterlegten Email überein.</li>
		<li>Ihre Telefonnummer zur Authentifizierung in der Generali Online Akademie stimmt mit der in der WBD hinterlegten Telefonnummer überein.</li>
		<li>Sie sind innerhalb der WBD von Ihrem vorherigen Trusted Partner Service in den Pool zur Aufnahme freigegeben und dort noch nicht länger als acht Wochen.</li>
		<li>Ihr Benutzer ist in der WBD aktiv.</li>
	</ul>
</div>