
<form action="{ACTION}" method="post">


<p style="height: 20px"></p>
<p>{QUESTION}</p>

<p style="height: 10px"></p>
<p>{HAS_BWV_ID}: <input type="text" size="20" id="bwv_id" name="bwv_id" /></p/>
<p>{WBD_ACCEPTANCE_CHECKBOX}</p>
<p><input class="submit" type="SUBMIT" name="cmd[setBWVId]" value="{HAS_BWV_ID_COMMAND}"></p>


<p style="height: 20px"></p>
<p>{NO_BWV_ID}</p>
<p><input class="submit" type="SUBMIT" name="cmd[noBWVId]" value="{NO_BWV_ID_COMMAND}"></p>


<p style="height: 20px"></p>
<p><input class="submit" type="SUBMIT" name="cmd[startRegistration]" value="Zurück"></p>

</form>
