<form action="{ACTION}" method="post">
<h2>Auftrag als Trusted Partner Service</h2>
<p style="height: 10px"></p>
<p>Die Generali soll für mich ein Weiterbildungkonto eröffnen und ist berechtigt, aber auch verpflichtet, die Pflege meiner Daten und Einstellungen vorzunehmen.</p>
<p>Ich beauftrage die Generali Versicherung AG für mich ein Konto in der Weiterbildungsdatenbank (WBD) des BWV e.V. sowie ein Nutzerkonto bei der Trusted German Insurance Cloud (TGIC) zu eröffnen.</p>
<div style="position:absolute; text-align: right; margin-top: 8px; width: 325px; color: #404040; font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;"><label>Auftrag zur Kontoeröffnung</label></div>
{FORM}
</form>

<p style="height: 50px" />

<form action="{ACTION}" method="post">
<h2>{QUESTION}</h2>
<p style="height: 10px"></p>
{HAS_BWV_ID}: <input type="text" size="20" id="bwv_id" name="bwv_id" /><p />
<input class="submit" type="SUBMIT" name="cmd[setBWVId]" value="{HAS_BWV_ID_COMMAND}"><p />
<a href='/data/Generali/documents/GEV_BDL_Auftrag_BDL.pdf' target='_blank' style='color: #0000ff'>(Auftrag zur Übermittlung der Punkte)</a>
<p style="height: 20px"></p>

{NO_BWV_ID}<p />
<input class="submit" type="SUBMIT" name="cmd[noBWVId]" value="{NO_BWV_ID_COMMAND}"><p />
</form>
