<br />
	<form action="{FORMACTION}" method="post">
	  <!-- BEGIN chat_active -->
	  <table class="std">
		  <tr class="tblheader">
			<td class="std" colspan="2">{TXT_ACT_CHAT}</td>
		  </tr>
		  <tr>
			<td class="option">{TXT_ACT_STATUS}</td>
			<td class="option_value">{SELECT_ACT_STATUS}</td>
		  </tr>
		  <tr>
			<td class="submit" colspan="2"> 
			  <div align="right">
				<input class="submit" type="submit" name="cmd[activate]" value="{TXT_ACT_SUBMIT}" />
			  </div>
			</td>
		  </tr>
	  </table>
	  <br />
	  <br />
	  <!-- END chat_active -->
	  <table class="std">
		  <tr class="tblheader">
			<td class="std" colspan="2">{TXT_CHAT_SERVER_SETTINGS}</td>
		  </tr>
          <tr>
            <td class="option">{TXT_CHAT_SERVER_INTERNAL_IP}&nbsp;<span class="asterisk">*</span></td>
            <td class="option_value"><input type="text" size="40" maxlength="128" name="chat_internal_ip" value="{CHAT_SERVER_INTERNAL}" /></td>
          </tr>
          <tr>
            <td class="option">{TXT_CHAT_SERVER_EXTERNAL_IP}&nbsp;<span class="asterisk">*</span></td>
            <td class="option_value"><input type="text" size="40" maxlength="128" name="chat_external_ip" value="{CHAT_SERVER_EXTERNAL}" /></td>
          </tr>
		  <tr>
			<td class="option">{TXT_CHAT_SERVER_PORT}&nbsp;<span class="asterisk">*</span></td>
			<td class="option_value"><input type="text" size="5" maxlength="5" name="chat_port" value="{CHAT_PORT}" /></td>
		  </tr>
		  <tr>
			<td class="option">{TXT_CHAT_SERVER_MODERATOR}&nbsp;<span class="asterisk">*</span></td>
			<td class="option_value"><input type="password" size="9" maxlength="16" name="chat_moderator" value="{CHAT_MODERATOR}" /></td>
		  </tr>
		  <tr>
			<td class="option">{TXT_CHAT_SERVER_LOGFILE}</td>
			<td class="option_value"><input type="text" size="40" maxlength="256" name="chat_logfile" value="{CHAT_LOGFILE}" /></td>
		  </tr>
		  <tr>
			<td class="option">{TXT_CHAT_SERVER_LEVEL}</td>
			<td class="option_value">{SELECT_LEVEL}</td>
		  </tr>
		  <tr>
			<td class="option">{TXT_CHAT_SERVER_ALLOWED}&nbsp;<span class="asterisk">*</span><br /><span class="small">{TXT_CHAT_SERVER_ALLOWED_B}</small></td>
			<td class="option_value"><input type="text" size="40" maxlength="256" name="chat_allowed" value="{CHAT_ALLOWED}" /></td>
		  </tr>
		  <tr>
			<td class="submit" colspan="2"> 
			  <span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FLD}</span>
			  <div align="right">
				<input class="submit" type="submit" name="cmd[cancel]" value="{TXT_CANCEL}" />
				<input class="submit" type="submit" name="cmd[update]" value="{TXT_SUBMIT}" />
			  </div>
			</td>
		  </tr>
	  </table>
    </form>
