	<form action="{FORMACTION}" name="ObjectItems" method="post">
	  <table class="std" width="60%">
		  <tr class="tbltitle">
			<td colspan="5" class="tbltitle" align="left">&nbsp;{TBL_TITLE}</td>
		  </tr>
		  <tr class="tblheader">
			<td class="std" nowrap="nowrap" width="1%" nowrap>&nbsp;</td>
			<td class="std" nowrap="nowrap" width="50%" nowrap>{HEADER_DESC}</td>
			<td class="std" nowrap="nowrap" width="24%" nowrap>{HEADER_MOD}</td>
			<td class="std" nowrap="nowrap" width="24%" nowrap>{HEADER_TIME}</td>
			<td class="std" nowrap="nowrap" width="1%" nowrap>{HEADER_ACTION}</td>
		  </tr>
		  <!-- BEGIN recording_row -->
		  <tr>
			<td class="{ROW_CLASS}" nowrap>
			  {CHECKBOX}
			</td>
			<td class="{ROW_CLASS}">
			  <!-- BEGIN title -->
			  {RECORDING_TITLE}
			  <!-- END title -->
			  <!-- BEGIN description -->
			  <div class="il_Description_no_margin">{RECORDING_DESCRIPTION}</div>
			  <!-- END description -->
			</td>
			<td class="{ROW_CLASS}" nowrap>
			  {MODERATOR}
			</td>
			<td class="{ROW_CLASS}" nowrap>
			  {START_TIME}<!-- BEGIN end_time --> -<br />{END_TIME}<!-- END end_time -->
			</td>
			<td class="{ROW_CLASS}" nowrap align="center">
			  <!-- BEGIN export -->
			  <a class="il_ContainerItemCommand" href="{LINK_EXPORT}" target="_top">{TXT_EXPORT}</a>
			  <!-- END export -->
			</td>
		  </tr>
		  <!-- END recording_row -->
		  <tr>
			<td class="submit" colspan="5" align="left" nowrap="nowrap">
			  <table width="100%" cellpadding="0" cellspacing="0" border="0">
				  <tr>
					<td align="left" width="10">
					  <img src="{IMG_ARROW}" border="0" />
					</td>
					<td align="left">&nbsp;
					  <input class="submit" type="submit" name="cmd[askDeleteRecordings]" value="{BTN_DELETE}" />
					</td>
				  </tr>
			  </table>
			</td>
		  </tr>
	  </table>
	</form>
