@use "../010-settings/" as *;
@use "../010-settings/legacy-settings/legacy-settings_form" as *;

@use "../030-tools/tool_focus-outline" as t-focus;


button {
	cursor: pointer;
	@include t-focus.il-focus-outline-only();
}

textarea {
	@media only screen and (max-width: $il-grid-float-breakpoint-max) {
		max-width: 100%;
	}
}

input, select {
	@media only screen and (max-width: $il-grid-float-breakpoint-max) {
		max-width: 100%;
	}
}

input[type="text"],
input[type="submit"],
input[type="datetime-local"],
input[type="url"],
select {
	min-height: $il-input-min-height;
}

input[type="radio"],
input[type="checkbox"] {
	margin: 0;
	padding: 0;
	line-height: normal;

  // <label>s don't inherit their parent's `cursor`.
	&[disabled],
	&.disabled,
	fieldset[disabled] & {
		cursor: $cursor-disabled;
	}
}

// Focus for file, radio, and checkbox
input[type="file"],
input[type="radio"],
input[type="checkbox"] {
	@include t-focus.il-focus();
}

input[type="text"],
input[type="url"],
input[type="datetime-local"],
input[type="password"],
input[type="number"],
textarea {
	border: 1px solid $il-input-border-color;
  	@include t-focus.il-focus-outline-only();
}
