<div>
	<!-- BEGIN navigation_month -->
	<div>
		<a href="{URL_MONTH}">{MONTH_NAME}</a> ({MONTH_COUNT})
	</div>
	<!-- END navigation_month -->
	<!-- BEGIN navigation_month_details_in -->
	<div>
		{NAV_MONTH}
		<ul>
		<!-- END navigation_month_details_in -->
			<!-- BEGIN navigation_item -->
			<li class="small"><a href="{NAV_ITEM_URL}">{NAV_ITEM_CAPTION}</a></li>
			<!-- END navigation_item -->
		<!-- BEGIN navigation_month_details_out -->
		</ul>
	</div>
	<!-- END navigation_month_details_out -->
</div>
