<h4>{TXT_CURRENT_MONTH}</h4>

<!-- BEGIN posting -->
<div style="padding-bottom: 5px; margin-bottom: 5px; border-bottom: 1px solid #ccc;">
	<!-- BEGIN actions -->
	<div style="float:right">{ACTION_SELECTOR}</div>
	<!-- END actions -->
	<h3><a href="{URL_TITLE}">{TITLE}</a></h3>
	<div class ="small">{DATETIME}</div>
	<div style="margin:5px">
		{CONTENT}
		<span class="small">[<a href="{URL_MORE}">{TEXT_MORE}&hellip;</a>]</span>
	</div>
	<div class="small" style="text-align:right;">		
		<!-- BEGIN comments -->
		<a href="{URL_COMMENTS}">{TEXT_COMMENTS}</a> ({COUNT_COMMENTS}) &middot; 
		<!-- END comments -->
		<a href="{URL_PERMALINK}">{TEXT_PERMALINK}</a>
	</div>
</div>
<!-- END posting -->

{NOTES}