<!-- BEGIN navigation_select -->
<div class="ilBlogSideBlockNavigationSelection">
	<form method="post" action="{FORM_ACTION}" name="bmsel">
		<select class="form-control" name="bmn" onchange="this.form.submit();">
			<!-- BEGIN option_bl -->
			<option value="{OPTION_VALUE}"{OPTION_SEL}>{OPTION_CAPTION}</option>
			<!-- END option_bl -->
		</select>	
	</form>
</div>
<!-- END navigation_select -->	
<!-- BEGIN navigation_month_details -->
<div>	
	<a href="{URL_MONTH}">{NAV_MONTH}</a>
	<ul class="ilBlogSideBlockNavigation">		
		<!-- BEGIN navigation_item -->				
		<li class="small"><a href="{NAV_ITEM_URL}">{NAV_ITEM_CAPTION}</a>
			<!-- BEGIN navigation_item_draft -->
			<span class="ilBlogNavigationItemDraft">({NAV_ITEM_DRAFT})</span>
			<!-- END navigation_item_draft -->
			<!-- BEGIN navigation_item_approval -->
			<span class="ilBlogNavigationItemDraft">({NAV_ITEM_APPROVAL})</span>
			<!-- END navigation_item_approval -->
		</li>
		<!-- END navigation_item -->
	</ul>
</div>
<!-- END navigation_month_details -->