<div class="ilBlogSideBlocks">
	
	<!-- BEGIN block_bl -->
	<div class="il_Block" datatable="0">
		<div class="ilBlockHeader">
			<div>				
				<h3 class="ilBlockHeader">{BLOCK_TITLE}</h3>
			</div>
		</div>
		<div class="ilBlockContent">
			{BLOCK_CONTENT}
		</div>
		<!-- BEGIN block_cmd_bl -->
		<div class="ilBlockInfo">
			<div class="ilBlogSideBlockCommand"><a href="{URL_BLOCK_CMD}">{TXT_BLOCK_CMD}</a></div>
		</div>
		<!-- END block_cmd_bl -->
	</div>			
	<!-- END block_bl -->
		
	{RSS_BUTTON}
</div>