<div style="margin-left:5px;">
	
	<table class="il_Block" datatable="0">
	<tr>
		<td class="ilBlockHeader">{NAVIGATION_TITLE}</td>
	</tr>
	<tr class="tblrow1">
		<td class="std" style="padding:10px;">
			<!-- BEGIN navigation_month_details -->
			<div>
				<a href="{URL_MONTH}">{NAV_MONTH}</a>
				<ul style="margin-top:3px; padding-left:15px;">
					<!-- BEGIN navigation_item -->
					<li class="small" style="padding:0"><a href="{NAV_ITEM_URL}">{NAV_ITEM_CAPTION}</a>
						<!-- BEGIN navigation_item_draft -->
						<span class="ilBlogNavigationItemDraft">({NAV_ITEM_DRAFT})</span>
						<!-- END navigation_item_draft -->
					</li>
					<!-- END navigation_item -->
				</ul>
			</div>
			<!-- END navigation_month_details -->
			<!-- BEGIN navigation_month -->
			<div>
				<a href="{URL_MONTH}">{MONTH_NAME}</a> ({MONTH_COUNT})
			</div>
			<!-- END navigation_month -->	
		</td>
	</tr>
	</table>
	
</div>