<!-- BEGIN prop_date_activation -->
			<input type="checkbox" name="{CHECK_ENABLED_DATE}" value="1" {CHECKED_ENABLED} {CHECKED_DISABLED}/> {TXT_DATE_ENABLED}<br />
<!-- END prop_date_activation -->
<!-- BEGIN prop_date -->
			<span style="white-space:nowrap;">		
			{DATE_SELECT}
			<!-- BEGIN prop_date_input_field -->
			<input type="text" name="{DATE_ID}[date]" id="field_{DATE_ID}" value="{DATE_VALUE}"{DISABLED} />
			<!-- END prop_date_input_field -->
			<input type="image" alt="{TXT_DATE_CALENDAR}" title="{TXT_DATE_CALENDAR}" src="{IMG_DATE_CALENDAR}" id="btn_cal_{DATE_ID}" />
			</span>
			<script type="text/javascript">
			//<![CDATA[
			Calendar.setup( 
			{ 
				button : "btn_cal_{DATE_ID}",
				<!-- BEGIN prop_date_input_field_setup -->
				inputField: "field_{DATE_ID}",
				ifFormat: "{DATE_FIELD_FORMAT}",
				<!-- END prop_date_input_field_setup -->
				<!-- BEGIN prop_date_input_select_setup -->
				inputFieldsDate : "{INPUT_FIELDS_DATE}",
				<!-- END prop_date_input_select_setup -->
				firstDay : {DATE_FIRST_DAY}
			}
			);
			//]]>
			</script>
			<!-- BEGIN prop_date_input_field_info -->
			<div class="ilFormInfo">({TXT_INPUT_FORMAT})</div>
			<!-- END prop_date_input_field_info -->
<!-- END prop_date -->{DELIM}
<!-- BEGIN prop_time -->
	<!-- BEGIN prop_time_input_field -->
    <input type="text" name="{DATE_ID}[time]" value="{TIME_VALUE}"{DISABLED} />
	<!-- END prop_time_input_field -->
			{TIME_SELECT} 
			<div class="ilFormInfo">{TXT_TIME}</div>
<!-- END prop_time -->
