<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{DELOS_CSS_HREF}">
        <script type="text/javascript" src="{JQUERY_SRC}"></script>
    </head>
    <body>
    <form id="ltiLaunchForm" action="{LAUNCH_URL}" method="post" target="_self" enctype="application/x-www-form-urlencoded">
        <!-- BEGIN launch_parameter -->
        <input type="hidden" name="{LAUNCH_PARAMETER}" value="{LAUNCH_PARAM_VALUE}" />
        <!-- END launch_parameter -->
    </form>
    <div id="ltiLoadingAnimation">
        <img src="{LOADER_ICON_SRC}" />
    </div>
    <script>
        (function($){
            $().ready(function() {

                $('#ltiLaunchForm').submit();

            })
        })(jQuery);
    </script>    </body>
</html>
