/*
body {
	visibility: visible;
}

#ilTopBar {
	top: 0px;
	display:none;
}

div.ilMainHeader {
	top: 0px;
	display: none;
}

div.ilMainMenu {
	top: 0px;
	display: none;
}

div.ilFixedTopSpacer {
	padding-top: 45px;
}


footer {
	display:none;
}

a.ilTreeView {
	display: none;
}


#ilSideBarIcon {
	display: none;
}

#fixed_content {
	position: absolute;
}
*/

.ilHeadAction {
	display: none;
}

#fixed_content {
	/*position: absolute;*/
	margin-top: 50px;
}

/* LTI Menu */

#ilLtiMenu {
/*
	position: fixed;
	
	left: 0px;
	top: 0px;
	height: 40px;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	border-top: 0px;
	font-weight: bold;
	font-size: 1.2em;
	background-color: #FFF;
	z-index: 1000;
	*/ 
}

span.userImage {
	position: absolute;
	top:5px;
	left: 30px;
}

.userImage img {
	width: 30px;
	height: 30px;
}

span.userFullname {
	position: absolute;
	left: 80px;
	top: 8px;
}

#btnFinish {
	position: absolute;
	right: 20px;
	margin-top: 7px;
}

div.ilLtiExited {
	margin-top: 5%;
	font-style: italic;
	text-align: center;	
}
