/* Services/Skill */
div.ilSkill {
  background: border: 1px solid #E0E0E0;
  padding: 5px;
  margin-bottom: 20px;
}
div.ilSkill > h3 {
  margin: 10px 0;
  padding: 0;
  font-size: 1.2em;
  float: left;
}
div.ilSkill > h4 {
  margin: 10px 0;
  padding: 0;
  font-size: 1em;
  color: #909090;
  float: left;
  clear: left;
}
table.ilSkill,
td.ilSkill,
th.ilSkill {
  border: 1px solid #E0E0E0;
}
div.ilSkillActions {
  float: right;
}
table.ilSkill {
  margin-bottom: 5px;
  margin-left: 50px;
  background-color: #FFF;
  border-collapse: collapse;
  clear: both;
}
td.ilSkill,
th.ilSkill {
  font-size: .8em;
  padding: 4px;
  min-width: 50px;
}
td.ilSkill {
  text-align: center;
  vertical-align: middle;
}
td.ilSkillLevel {
  cursor: pointer;
}
th.ilSkill,
td.ilSkillLevel {
  background-color: #F8F8F8;
}
td.ilSkillSelf {
  background-color: #FFF0E0;
}
td.ilSkillMat {
  background-color: #F0F0FF;
}
div.ilSkillSuggRes {
  margin-left: 50px;
}
th.ilSkillEntryHead {
  width: 250px;
}
