<tr class="{ROWCLASS}">
	<td id="matrixrowtext"{STYLE}>{TEXT_ROW} <!-- BEGIN row_other --><div><input type="text" class="matrixother form-control" name="matrix_other_{QUESTION_ID}_{ROW}" value="{VALUE_OTHER}" /></div><!-- END row_other --></td>
<!-- BEGIN bipolar_start -->
	<td id="matrix" class="bipolar" rowspan="{ROWSPAN}"{STYLE}>{TEXT_BIPOLAR_START}</td>
<!-- END bipolar_start -->
<!-- BEGIN answer -->
	<td id="matrix" class="center"{STYLE}>
<!-- BEGIN radiobutton -->
		<input type="radio" name="matrix_{QUESTION_ID}_{ROW}" value="{VALUE}"{CHECKED_RADIOBUTTON} />
<!-- END radiobutton -->
<!-- BEGIN checkbox -->
		<input type="checkbox" name="matrix_{QUESTION_ID}_{ROW}[]" value="{VALUE}"{CHECKED_CHECKBOX} />
<!-- END checkbox -->
	</td>
<!-- END answer -->
<!-- BEGIN bipolar_end -->
	<td id="matrix" class="bipolar" rowspan="{ROWSPAN}"{STYLE}>{TEXT_BIPOLAR_END}</td>
<!-- END bipolar_end -->
<!-- BEGIN neutral_answer -->
	<td id="matrix" class="center"{STYLE}>
<!-- BEGIN neutral_radiobutton -->
		<input type="radio" name="matrix_{QUESTION_ID}_{ROW}" value="{VALUE}"{CHECKED_RADIOBUTTON} />
<!-- END neutral_radiobutton -->
<!-- BEGIN neutral_checkbox -->
		<input type="checkbox" name="matrix_{QUESTION_ID}_{ROW}[]" value="{VALUE}"{CHECKED_CHECKBOX} />
<!-- END neutral_checkbox -->
	</td>
<!-- END neutral_answer -->
</tr>

