<tr class="{CSS_ROW}">
    <td class="std">
        <!-- BEGIN check -->
        <input type="radio" name="{PARAM}" value="{VAL_ID}" id="{VAL_ID}" />
        <!-- END check -->
    </td>
    <td class="std">
        <label for="{VAL_ID}">
            {VAL_TITLE}
            <!-- BEGIN ADOPT_PERM_DESC -->
            <div class="il_Description">
                {VAL_DESCRIPTION}
            </div>
            <!-- END ADOPT_PERM_DESC -->
        </label>
    </td>
    <td class="std">
        {VAL_TYPE}
    </td>
</tr>
