<script type="text/javascript">
<!--
function setCheckboxes(a_form, a_varname, a_elements, a_check)
{
	for(i=0;i<a_elements.length;i++) {
		if (typeof(document.forms[a_form].elements[a_varname + a_elements[i]]) != 'undefined') {
    		document.forms[a_form].elements[a_varname + a_elements[i]].checked = a_check;
    	}
    }

    return true;
}
//-->
</script>
<!-- BEGIN sysrole_msg -->
<table class="fullwidth">
	<tr>
	  <td class="message">{TXT_SYSROLE_MSG}</td>
	</tr>
</table>
<!-- END sysrole_msg -->
<form action="{FORMACTION}" name="ObjectItems" method="post">
<div class="ilTableOuter">
  <table class="fullwidth">
  <tr class="tbltitle">
    <td class="std" colspan="4">
    	<table>
    		<tr>
				<td>
					<img src="{TBL_TITLE_IMG}" style="vertical-align:middle;" alt="{TBL_TITLE_IMG_ALT}" title="{TBL_TITLE_IMG_ALT}" border="0" />
					{TBL_TITLE}<br />
				</td>
				<td style="text-align:right">
					<!-- BEGIN header_delete_role -->
					<a class="submit" href="{LINK_DELETE_ROLE}">&nbsp;{TXT_DELETE_ROLE}&nbsp;</a>
					<!-- END header_delete_role -->
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<span class="il_Helptext">{TXT_TITLE_INFO}</span>
				</td>
			</tr>
		</table>
    </td>
  </tr>
<!-- BEGIN object_type -->
  <tr class="tblheader">
  <td class="std" colspan="4" style="padding-top:20px;">
<!-- BEGIN obj_action_toggle_checkboxes -->
	<div class="il_ContainerItemCommands ilFloatRight">
		<a class="submit" href="#" onclick="setCheckboxes('ObjectItems','{JS_VARNAME}_',{JS_ONCLICK},true); return false;">{TXT_CHECKALL}</a>
		<a class="submit" href="#" onclick="setCheckboxes('ObjectItems','{JS_VARNAME}_',{JS_ONCLICK},false); return false;">{TXT_UNCHECKALL}</a>
	</div>
<!-- END obj_action_toggle_checkboxes -->
	<strong>{TXT_OBJ_TYPE}</strong> {TXT_ADMINIS}<span class="ilAlert">{TXT_NOT_IMPL}</span>
	</td>
  </tr>
<!-- BEGIN object_operations -->
  <tr class="{CSS_ROW}">
	<td class="std" width="1%">{CHECK_PERMISSION}</td>
 	<td class="std small" colspan="3" width="99%"><label for="{LABEL_ID}">{PERMISSION}</label><span class="ilAlert">{TXT_NOT_IMPL}</span></td>
  </tr>
<!-- END object_operations -->
<!-- BEGIN obj_action_change_existing_object_type -->
  <tr class="tblfooter">
	<td class="std" style="border-bottom: 1px solid #D6D6D6;" align="left"><input type="checkbox" name="recursive_list[]" value="{OBJ_TYPE}" id="change_{OBJ_TYPE}" /></td>
	<td class="std small" style="border-bottom: 1px solid #D6D6D6;" colspan="3" nowrap="nowrap"><span class="ilAlert"><label for="change_{OBJ_TYPE}" title="{CHANGE_PERM_OBJ_TYPE_DESC}">{CHANGE_PERM_OBJ_TYPE}</label></span></td>
  </tr>
  <!-- <tr class="std">
	<td class="std" style="border-bottom: 1px solid #D6D6D6;" colspan="4">&nbsp;</td>
  </tr> -->
<!-- END obj_action_change_existing_object_type -->
<!-- END object_type -->
<!-- BEGIN tblfooter_sysrole -->
  <tr class="tblfooter">
    <td colspan="{COL_ANZ_SYS}">
	<table class="fullwidth_invisible">
	  <tr class="tblfooter">
	    <td>&nbsp;</td>
	  </tr>
	</table>	
	</td>
  </tr>
<!-- END tblfooter_sysrole -->
<!-- BEGIN tblfooter_special_options -->
  <tr class="tblheader">
  <td class="std" colspan="4" style="padding-top:20px;">
	<strong>{TXT_PERM_SPECIAL_OPTIONS}</strong>
	</td>
  </tr>
<!-- END tblfooter_special_options -->
<!-- BEGIN tblfooter_recursive -->
  <tr class="tblfooter">
	<td class="std" align="left" colspan="2">{CHECK_RECURSIVE}</td>
	<td class="std" nowrap="nowrap"><span class="ilAlert"><label for="recursive">{TXT_RECURSIVE}</label></span></td>
	<td><span class="small">{TXT_RECURSIVE_DESC}</span></td>
  </tr>
<!-- END tblfooter_recursive -->
<!-- BEGIN tblfooter_protected -->
  <tr class="tblfooter">
	<td class="std" align="left" colspan="2">{CHECK_PROTECTED}</td>
	<td class="std" nowrap="nowrap"><span class="ilAlert"><label for="protected">{TXT_PROTECTED}</label></span></td>
	<td><span class="small">{TXT_PROTECTED_DESC}</span></td>
  </tr>
<!-- END tblfooter_protected -->
  <tr class="std">
	<td class="std ilLeft" colspan="{COL_ANZ_PLUS}">
		<input class="submit" type="submit" name="cmd[permSave]" value="{TXT_SAVE}" />
	</td>
	<td class="std" style="text-align:right" colspan="1">
		<!-- BEGIN footer_delete_role -->
		<input class="submit" type="submit" name="cmd[confirmDeleteRole]" value="{TXT_FOOTER_DELETE_ROLE}" />
		<!-- END footer_delete_role -->
	</td>
  </tr>
</table>
</div>
</form>