body {
        color:#222222;
        background-color:#a0a0b0;
        font-family:Verdana,Arial,Helvetica,sans-serif;
        font-size:small;
                margin:10px;
}
td {
        font-size:small;
}

.btnbar {
	background-color:#444499;
	background-image: url(images/navbar/back.gif);
}

input, textarea {
        font-family:Verdana,Arial,Helvetica,sans-serif;
}


/* ---------------- alternating tablerowcolors ----------------- */

.tblrow2 {
	background-color:#F7F7F7; border: #FFFFFF; border-style: solid;
	color:#222222;
	padding:4px;
}

.tblrow1 {
	background-color:#EEEEEE; border: #FFFFFF; border-style: solid;
	color:#222222;
	padding:4px;
}

td.cell {
	padding:4px;
}

/* -------------------- table formatting ------------------ */

table.normal {
	width: 100%;
	border-spacing: 0px;
	border-style: outset;
	border-color: #BBBBBB;
	border-width: 1px;
}

.tblheader {
	color: #000000; font-size: 13px; font-weight : bold;
}

tr.tblheader {
	color: #000000; font-size: 13px; font-weight : bold;
	background-color: #006699;
	background-image: url(images/cellpic1.gif);
}

a.tblheader, a.tblheader:visited
{
	color:#444499;
}

a.tblheader:hover
{
	color:#000000;
}


/* ---------------- headlines ------------------ */

h1 {
	font-size:medium;
	color:#222222;
	background-color: #C0C0C0;
	border-width:2px;
	border-color:#BBBBBB;
	border-style:outset;
	padding:7px;
	background-image: url(images/cellpic5.gif);
}

h2 {
	font-size:medium;
	color:#222222;
	background-color: #CCCCCC;
	border-width:1px;
	border-color:#BBBBBB;
	border-style:outset;
	padding:4px;
	margin-top:25px;
	margin-bottom:0px;
	background-image: url(images/cellpic5.gif);
}

/* ----------------- alternative text styles ------------- */
.small {
        text-decoration:none;
        font-size:x-small;
}

.smallgreen {
        text-decoration:none;
        font-size:x-small;
	color:green;
}

.smallred {
        text-decoration:none;
        font-size:x-small;
	color:red;
}

/* ----------------- normal links ------------- */
a {
        font-weight:bold;
        text-decoration:none;
        color:#444499;
}

a:hover {
        color:#000000;
}

a:visited {
        color:#444499;
}

/* ------------------- mail links ----------- */
a.mailread
{
        font-weight: normal;
        color: #444499;
}

a.mailunread
{
        color: #444499;
        font-weight: bold;
}

/* ------------------ buttons -------------- */

td.btn {
	background-color:#006699;
	color:#BBBBBB;
	border-width:2px;
	border-color:#BBBBBB;
	border-style:outset;
	padding:3px;
	background-image: url(images/cellpic2.jpg);
}

a.btn {
        color:#444499;
        text-decoration:none;
        font-size:small;
}


a.btn:visited {
        color:#444499;
        text-decoration:none;
        font-size:small;

}

a.btn:hover {
        color:#000000;

}

.message {
  color: #dd0000;
  font-weight: bold;
  text-align: center;
}

/* ------------------ tabs -------------- */
.tab {
        font-size: x-small;
        color: #000000;
        font-weight: bold;
        background-color:#000000;
}

.tabactive {
        background-color:#dddddd;
}
.tabinactive {
        background-color:#bbbbbb;
}

/* ------------------ content window body tag (not used yet) -------------- */
.content {
        margin:0px;
}

/* --- to prevent images from spacing when using DOCTYPE xhtml --- */
img {
        display: block;
}

sup {
	color:ff0000;
}