.dcl_reference_hover{
    display: none;
    border: 0;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    background-color: #F4F4F4;
    position: absolute;
    padding: 5px;
    float: right;
}