<!-- BEGIN LAST_MODIFIED --><br /><b>{AS_OF} {LAST_CHECK}</b><br /><br /><!-- END LAST_MODIFIED -->
		<form action="{F_ACTION}" name="post" method="post" >
		  <table class="std" width="100%" border="0">
			<tr class="tbltitle">
			  <td colspan="3">
				<table class="fullwidth_invisible" cellspacing="0" border="0">
				  <tr class="tbltitle">
					<td width="10"><img src="{TYPE_IMG}" alt="{ALT_IMG}" title="{ALT_IMG}" border="0" vspace="0" align="left" /></td>
					<td class="tbltitle" align="left" nowrap="nowrap" >&nbsp;{TITLE}</td>
				  </tr>
				</table>
			  </td>
			</tr>
			<tr class="tblheader">
			  <td class="std" width="40%" nowrap="nowrap">{PAGE_TITLE}</td>
			  <td class="std" width="40%" nowrap="nowrap">{URL}</td>
			  <td class="std" width="20%" nowrap="nowrap">{OPTIONS}</td>
			</tr>
			<!-- BEGIN no_invalid -->
			<tr>
			  <td class="option_info" colspan="3">{TXT_NO_INVALID}</td>
			</tr>
			<!-- END no_invalid -->
			<!-- BEGIN invalid_row -->
			<tr class="{ROW_COLOR}">
			  <td>{ROW_PAGE_TITLE}</td>
			  <td>{ROW_URL}</td>
			  <td valign="center" align="center" class="{ROW_COLOR}"><a href="{ROW_EDIT_LINK}"><img src="{ROW_IMG}" alt="{ROW_ALT_IMG}" title="{ROW_ALT_IMG}" border="0" vspace="0" align="left" /></a>
			  </td>
			</tr>
			<!-- END invalid_row -->
			<!-- BEGIN MESSAGE_BLOCK -->
			<tr>
			  <td colspan="3">
				<table class="fullwidth_invisible" cellspacing="0" cellpadding="0">
				  <tr>
					<td class="option_value">{CHECK_MESSAGE}&nbsp<span class="subtitle">{INFO_MESSAGE_LONG}</td>
				  </tr>
				</table>
				</td>
			  </tr>
			<!-- END MESSAGE_BLOCK -->
			<tr>
			  <td class="submit" colspan="3" align="left" nowrap="nowrap">
				<table class="fullwidth_invisible" width="100%" cellpadding="0" cellspacing="0" border="0">
				  <tr>
					<!-- BEGIN CRON_ENABLED -->
					<td align="left" width="10">
					  <img src="{DOWNRIGHT_IMG}" border="0" />
					</td>
					<td align="left">&nbsp;
					  <input class="submit" type="submit" name="cmd[saveLinkCheck]" value="{BTN_SUBMIT_LINK_CHECK}" />
					</td>
					<!-- END CRON_ENABLED -->
					<td align="right" valign="top">
					  <input class="submit" type="submit" name="cmd[refreshLinkCheck]" value="{BTN_REFRESH}" />
					</td>		  
				  </tr>
				</table>
			  </td>
			</tr>
		  </table>
		</form>