<?php xml version = "1.0" encoding = "UTF-8"?>
<module xmlns="http://www.w3.org" version="$Id: modules.xml 15671 2008-01-04 13:08:30Z akill $"
	id="wsrt">
	<baseclasses>
	</baseclasses>
	<objects>
		<object id="wsrt" class_name="WorkspaceRootFolder" dir="classes" checkbox="0" inherit="0"
			translate="0" rbac="0" system="1" repository="0" workspace="1">
		</object>
	</objects>
</module>
