<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
<title>ILIAS admin interface</title>
<link rel="stylesheet" type="text/css" href="ilias.css">
</head>
<body>
<table cellpadding="0" cellspacing="0" width="100%" border="0">

<tr>
  <td bgcolor="#000000" rowspan="5" width="10%" valign="bottom" 
   align="left">&nbsp;&nbsp;<img src="images/spacer.gif" 
   width="2" height="1" alt="" />
  </td>
  <td bgcolor="#000000" colspan="28"><img 
   src="images/spacer.gif" width="1" height="5" alt="" /></td>
</tr>

<tr>
  <td bgcolor="#ffffff" rowspan="2" valign="top" 
   align="left"><img src="images/eck_l.gif" width="5" 
   height="5" alt="" /></td>
  <td bgcolor="#ffffff"><img src="images/spacer.gif"
   width="1" height="2" alt="" /></td>
  <td bgcolor="#ffffff" rowspan="2" valign="top" 
   align="right"><img src="images/eck_r.gif" width="5" 
   height="5" alt="" /></td>
  <td bgcolor="#000000" rowspan="4"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>

  <td bgcolor="#efefef" rowspan="2" valign="top" 
   align="left"><img src="images/eck_l.gif" width="5" 
   height="5" alt="" /></td>
  <td bgcolor="#efefef"><img src="images/spacer.gif"
 width="1" height="2" alt="" /></td>
  <td bgcolor="#efefef" rowspan="2" valign="top" 
   align="right"><img src="images/eck_r.gif" width="5" 
   height="5" alt="" /></td>
  <td bgcolor="#000000" rowspan="4"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>

  <td bgcolor="#efefef" rowspan="2" valign="top" 
   align="left"><img src="images/eck_l.gif" width="5" 
   height="5" alt="" /></td>
  <td bgcolor="#efefef"><img src="images/spacer.gif"
 width="1" height="2" alt="" /></td>
  <td bgcolor="#efefef" rowspan="2" valign="top" 
   align="right"><img src="images/eck_r.gif" width="5" 
   height="5" alt="" /></td>
  <td bgcolor="#000000" rowspan="4"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>
 
  <td bgcolor="#efefef" rowspan="2" valign="top" 
   align="left"><img src="images/eck_l.gif" width="5" 
   height="5" alt="" /></td>
  <td bgcolor="#efefef"><img src="images/spacer.gif"
 width="1" height="2" alt="" /></td>
  <td bgcolor="#efefef" rowspan="2" valign="top" 
   align="right"><img src="images/eck_r.gif" width="5" 
   height="5" alt="" /></td>
  <td bgcolor="#000000" rowspan="4"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>
</tr>
<tr>
  <td bgcolor="#ffffff" valign="bottom" class="tab-small" 
   align="center"><font face="Verdana, Arial, Helvetica" 
   size="1" color="#000000">&nbsp;<a href="{OBJ_SELF}"><span style="color: #000000;"><strong>Contents</strong></span></a>&nbsp;</font></td>
  <td bgcolor="#efefef" valign="bottom" class="tab-small" 
   align="center"><font face="Verdana, Arial, Helvetica" 
   size="1" color="#000000">&nbsp;<a href="./object.php?obj_id={OBJ_ID}&parent={TPOS}&cmd=edit"><span style="color: #000000;"><strong>Properties</strong></span></a>&nbsp;</font></td>
  <td bgcolor="#efefef" valign="bottom" class="tab-small" 
   align="center"><font face="Verdana, Arial, Helvetica" 
   size="1" color="#000000">&nbsp;<a href="object.php?obj_id={OBJ_ID}&parent={TPOS}&cmd=perm"><span style="color: #000000;"><strong>Security</strong></span></a>&nbsp;</font></td>
  <td bgcolor="#efefef" valign="bottom" class="tab-small" 
   align="center"><font face="Verdana, Arial, Helvetica" 
   size="1" color="#000000">&nbsp;<a href="object.php?obj_id={OBJ_ID}&parent={TPOS}&cmd=owner"><span style="color: #000000;"><strong>Ownership</strong></span></a>&nbsp;</font></td>
</tr>
<tr>
  <td colspan="3" bgcolor="#ffffff"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>
  <td colspan="3" bgcolor="#efefef"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>
  <td colspan="3" bgcolor="#efefef"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>
  <td colspan="3" bgcolor="#efefef"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>
</tr>
<tr>
  <td colspan="3" bgcolor="#ffffff"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>
  <td colspan="3" bgcolor="#c0c0c0"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>
  <td colspan="3" bgcolor="#c0c0c0"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>
  <td colspan="3" bgcolor="#c0c0c0"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>
</tr>
</table>



<table width="100%" cellspacing="0" cellpadding="2" border="0">
  <tr class="locator">
	<td align="left" valign="top">
      <strong>
            Content of {TREEPATH}
	  </strong>
    </td>
  </tr>
</table>

<!-- BEGIN sys_message -->
<table width="100%" cellspacing="0" cellpadding="2" border="0">
  <tr class="message">
	<td align="center" valign="top" height="30">
      <strong>
            {ERROR_MESSAGE}
	  </strong>
    </td>
  </tr>
</table>
<!-- END sys_message -->

<br><br>

<form action="content.php?obj_id={OBJ_ID}&parent={TPOS}" name="objectItems" method="post">
<table width="100%" cellspacing="0" cellpadding="2" border="0">
<tr class="header">
  <td width="3%">
	&nbsp;
  </td>
  <td width="6%">
    <a href="content.php?obj_id={OBJ_ID}&parent={TPOS}&order=type&direction={DIR}"><strong>Type</strong></a>
  </td>
  <td width="25%"><a href="content.php?obj_id={OBJ_ID}&parent={TPOS}&order=title&direction={DIR}"
   <strong>Title</strong></a>
  </td>
  </td>
   <td width="42%"><a href="content.php?obj_id={OBJ_ID}&parent={TPOS}&order=description&direction={DIR}"
   <strong>Description</strong></a>
  </td>
  <td width="24%" align="right">
  <a href="content.php?obj_id={OBJ_ID}&parent={TPOS}&order=last_update&direction={DIR}"><strong>Last modified</strong></a>
  </td>
</tr>


<!-- BEGIN row -->
<tr class="{CSS_ROW}">
  <td valign="top" width="16">
    {CHECKBOX}
  </td>
  <td align="center" valign="top" nowrap="1">
    <a href="{LINK_TARGET}">
  	<img src="images/{IMG_TYPE}" alt="{ALT_IMG_TYPE}" title="{ALT_IMG_TYPE}" border="0" vspace="0"/></a>
  </td>
  <td valign="top">
      <a href="{LINK_TARGET}"> {OBJ_TITLE} </a>
  </td>
  <td valign="top">
      <a href="{LINK_TARGET}"> {OBJ_DESC} </a>
  </td>
  <td align="right" valign="top">
      {OBJ_LAST_UPDATE}
  </td>
</tr>
<!-- END row -->

<!-- BEGIN notfound -->
<tr>
  <td colspan="5" align="center" valign="top">
    <i>No object found</i>
  </td>
</tr>
<!-- END notfound -->

</table>
	  <!-- BEGIN options -->
	  <table cellspacing="0" cellpadding="2" border="0">
		  <tr height="40">
			<td align="left" width="16"><img src="images/pfeil_rechts.gif" border="0"></td>
			<td align="left">
			  <div class="form-element">

				<input class="form-element" type="submit" name="cmd" 
					   value="cut" />
				<input class="form-element" type="submit" name="cmd" 
					   value="copy" />
				<!-- BEGIN btn_paste -->	    
				<input class="form-element" type="submit" name="cmd" 
					   value="paste" />
				<!-- END btn_paste -->
				<input class="form-element" type="submit" name="cmd" 
					   value="delete" />
			  </div>
			</td>
		  </tr>
</table>
<!-- END options -->

</form>

<!-- BEGIN type -->
  <table width="100%" cellspacing="0" cellpadding="0" border="0">

  <tr>
  <td align="left" valign="top">&nbsp;</td>
  <td align="left" valign="top">
  <div class="form-element">
  <form action="object.php?cmd=create&obj_id={OBJ_ID}&parent={TPOS}" method="post">
        {SELECT_OBJTYPE}
    <input class="form-element" type="submit" name="submit" value=" Add " />
    </form>
  </div>
  </td>
  </tr>
  </table>
<!-- END type -->

{TESTING}

</body>
</html>