<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
<title>ILIAS admin interface</title>
<link rel="stylesheet" type="text/css" href="ilias.css">
</head>
<body>
<table cellpadding="0" cellspacing="0" width="100%" border="0">

<tr>
  <td bgcolor="#000000" rowspan="5" width="10%" valign="bottom" 
   align="left">&nbsp;&nbsp;<img src="images/spacer.gif" 
   width="2" height="1" alt="" />
  </td>
  <td bgcolor="#000000" colspan="28"><img 
   src="images/spacer.gif" width="1" height="5" alt="" /></td>
</tr>

<tr>
  <td bgcolor="#efefef" rowspan="2" valign="top" 
   align="left"><img src="images/eck_l.gif" width="5" 
   height="5" alt="" /></td>
  <td bgcolor="#efefef"><img src="images/spacer.gif"
 width="1" height="2" alt="" /></td>
  <td bgcolor="#efefef" rowspan="2" valign="top" 
   align="right"><img src="images/eck_r.gif" width="5" 
   height="5" alt="" /></td>
  <td bgcolor="#000000" rowspan="4"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>

  <td bgcolor="#ffffff" rowspan="2" valign="top" 
   align="left"><img src="images/eck_l.gif" width="5" 
   height="5" alt="" /></td>
  <td bgcolor="#ffffff"><img src="images/spacer.gif"
   width="1" height="2" alt="" /></td>
  <td bgcolor="#ffffff" rowspan="2" valign="top" 
   align="right"><img src="images/eck_r.gif" width="5" 
   height="5" alt="" /></td>
  <td bgcolor="#000000" rowspan="4"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>
 
  <td bgcolor="#efefef" rowspan="2" valign="top" 
   align="left"><img src="images/eck_l.gif" width="5" 
   height="5" alt="" /></td>
  <td bgcolor="#efefef"><img src="images/spacer.gif"
 width="1" height="2" alt="" /></td>
  <td bgcolor="#efefef" rowspan="2" valign="top" 
   align="right"><img src="images/eck_r.gif" width="5" 
   height="5" alt="" /></td>
  <td bgcolor="#000000" rowspan="4"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>
 
  <td bgcolor="#efefef" rowspan="2" valign="top" 
   align="left"><img src="images/eck_l.gif" width="5" 
   height="5" alt="" /></td>
  <td bgcolor="#efefef"><img src="images/spacer.gif"
 width="1" height="2" alt="" /></td>
  <td bgcolor="#efefef" rowspan="2" valign="top" 
   align="right"><img src="images/eck_r.gif" width="5" 
   height="5" alt="" /></td>
  <td bgcolor="#000000" rowspan="4"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>
</tr>
<tr>
  <td bgcolor="#efefef" valign="bottom" class="tab-small" 
   align="center"><font face="Verdana, Arial, Helvetica" 
   size="1" color="#000000">&nbsp;<a href="./content.php?obj_id={OBJ_ID}&parent={TPOS}"><span style="color: #000000;"><strong>Contents</strong></span></a>&nbsp;</font></td>
  <td bgcolor="#ffffff" valign="bottom" class="tab-small" 
   align="center"><font face="Verdana, Arial, Helvetica" 
   size="1" color="#000000">&nbsp;<a href="./object.php?obj_id={OBJ_ID}&parent={TPOS}&cmd=edit"><span style="color: #000000;"><strong>Properties</strong></span></a>&nbsp;</font></td>
  <td bgcolor="#efefef" valign="bottom" class="tab-small" 
   align="center"><font face="Verdana, Arial, Helvetica" 
   size="1" color="#000000">&nbsp;<a href="object.php?obj_id={OBJ_ID}&parent={TPOS}&cmd=perm"><span style="color: #000000;"><strong>Security</strong></span></a>&nbsp;</font></td>
  <td bgcolor="#efefef" valign="bottom" class="tab-small" 
   align="center"><font face="Verdana, Arial, Helvetica" 
   size="1" color="#000000">&nbsp;<a href="object.php?obj_id={OBJ_ID}&parent={TPOS}&cmd=owner"><span style="color: #000000;"><strong>Ownership</strong></span></a>&nbsp;</font></td>
</tr>
<tr>
  <td colspan="3" bgcolor="#efefef"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>
  <td colspan="3" bgcolor="#ffffff"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>
  <td colspan="3" bgcolor="#efefef"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>
  <td colspan="3" bgcolor="#efefef"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>
</tr>
<tr>
  <td colspan="3" bgcolor="#c0c0c0"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>
  <td colspan="3" bgcolor="#ffffff"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>
  <td colspan="3" bgcolor="#c0c0c0"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>
  <td colspan="3" bgcolor="#c0c0c0"><img src="images/spacer.gif"
 width="2" height="1" alt="" /></td>
</tr>
</table>

<table width="100%" cellspacing="0" cellpadding="2" border="0">
  <tr class="locator">
	<td align="left" valign="top">
      <strong>
            Properties of {TREEPATH}
	  </strong>
    </td>
  </tr>
</table>

<br>


<form action="object.php?obj_id={OBJ_ID}&parent={TPOS}&cmd={CMD}" method="post">
<input type="HIDDEN" name="type" value="{TYPE}">
<table bgcolor="{TABLE_BGCOLOR}" border="{TABLE_BORDER}" cellspacing="{TABLE_CELLSPACING}" cellpadding="{TABLE_CELLPADDING}">
  <tr>
    <td align="right">Title<sup>*</sup></td>
    <td><input type="text" name="Fobject[title]"  value="{OBJ_TITLE}" size="30" maxsize="70"></td>
  </tr>
  <tr>
    <td align="right">Description&nbsp;</td>
    <td><textarea type="text" name="Fobject[desc]" rows="3" cols="25">{OBJ_DESC}</textarea></td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <input type="submit" value="OK">&nbsp;
    </td>
  </tr>
</table>
<p class="infotext"><sup>*</sup> Required.</p>
</form>
</body>
</html>