<h1>{TXT_PAGEHEADLINE}</h1>
{TXT_OPTIMIZE_TEXT}
<table WIDTH="100%" CELLPADDING=1 CELLSPACING=0 BORDER=0>
<TR>
  <TD ALIGN=right><B>{TXT_SELECT_ALL}</B>&nbsp;&nbsp;</TD>
  <TD COLSPAN=2>&nbsp;<INPUT TYPE=submit NAME="act" VALUE=" OK "></TD>
</TR>
<tr>
  <td>&nbsp;</td>
</tr>
<TR  class="tblheader">
  <TD>&nbsp;{TXT_TABLE_NAME}&nbsp;</B></TD>
  <TD ALIGN=right><B>&nbsp;{TXT_OPTIMIZE_TABLE}&nbsp;</B></TD>
</TR>
<TR class="tblrow2">
  <td>&nbsp;{TABLE}&nbsp;</TD>
  <TD ALIGN=right><INPUT TYPE="checkbox" NAME="tab_count[]" VALUE="bearbeitet">&nbsp;</TD>
</TR>
</TABLE>