<h1>{TXT_PAGEHEADLINE}</h1>

<h2>{TXT_VERSION}</h2>
<p><font color="red">
<!-- BEGIN versionmessage -->
{MSG}<br>
<!-- END versionmessage -->
</font></p>
<p>{TXT_DATABASE_VERSION}</p>
<p>{TXT_FILE_VERSION}</p>
<p><font color="red"><b>{TXT_DATABASE_VERSION_STATUS}</b></font></p>

<!-- BEGIN migrate -->
 <a href="adm_database.php?func=migrate">[ {TXT_MIGRATE} ]</a>
<!-- END migrate -->

<h2>{TXT_OPTIMIZE}</h2>
<form name="form" action="adm_database.php" method="post">
<table WIDTH="100%" CELLPADDING=1 CELLSPACING=0 BORDER=0>
<TR  class="tblheader">
  <TD>&nbsp;{TXT_TABLE}&nbsp;</TD>
  <TD ALIGN=right>&nbsp;</TD>
</TR>
<TR class="tblrow2">
  <td>&nbsp;{TABLE}&nbsp;</TD>
  <TD ALIGN=right><INPUT TYPE="checkbox" NAME="tab_count[]" VALUE="bearbeitet">&nbsp;</TD>
</TR>
<TR>
  <TD colspan=2>&nbsp;<INPUT TYPE=submit NAME="act" VALUE="{TXT_SELECT_ALL}">
&nbsp;<INPUT TYPE=submit NAME="act" VALUE="{TXT_SELECT_NONE}">
 &nbsp;<INPUT TYPE=submit NAME="act" VALUE="{TXT_OPTIMIZE}"> uparrow</TD>
</TR>
</table>

</form>