<h1>{TXT_PAGEHEADLINE}</h1>
{BUTTONS}
    <form action="{FORMACTION}" method="post">
    <p class="tblrow2"><input type="checkbox" {SEQ_CHECKED} name="seq_edit" value=1>{TXT_SEQUENCES}
      <input type="checkbox" {ONL_CHECKED} name="online" value=1>{TXT_ONLINE_CHAPTER}&nbsp;
	  -&nbsp;{TXT_VISIBLE_LAYERS}&nbsp;<select name="glevel">
<!-- BEGIN level -->
		<option value="{SEL_VALUE}" {SEL_SELECTED}>{SEL_OPTION}</option>	  
<!-- END level -->
	  </select>
      <br>
      <input type=submit name="refresh" value="{TXT_REFRESH}">&nbsp;<input type="submit" name="special" value="{TXT_FAQ_EXERCISE}">
    </p>

    <TABLE CELLPADDING=0 CELLSPACING=0 BORDER=0>
    <TR class="tblheader">
	  <td>&nbsp;</td>
      <TD ALIGN="center" colspan=3>&nbsp;{TXT_CHAPTER_NUMBER}<input type=checkbox checked name=kap_nr value=1>&nbsp;</TD>

      <TD ALIGN="center">&nbsp;{TXT_CHAPTER_TITLE}<input type=checkbox checked name=kap_titel value=1>&nbsp;</TD>
      <TD ALIGN="center" colspan=2>&nbsp;{TXT_SEQUENCE}<input type=checkbox checked name=seq value=1>&nbsp;</TD>
      <TD ALIGN="center">&nbsp;{TXT_FORUM}<input type=checkbox checked name=forum value=1>&nbsp;</TD>
    </TR>
<!-- BEGIN row -->	
    <TR class="{ROWCOL}">
      <TD ALIGN="center">&nbsp;<A HREF="{LINK_SWITCHSTATUS}" onMouseOver="window.status='{TXT_STATUS}'; return true;"><IMG SRC="./images/{STATUS}.gif" BORDER=0 WIDTH=16 HEIGHT=16 ALT="{TXT_STATUS}"></A></TD>
	  <td>&nbsp;{NUMBER}&nbsp;</td>	
      <TD ALIGN="center">&nbsp;<A HREF="{LINK_NEWSUBCHAPTER}" onMouseOver="window.status='{TXT_NEW_SUBCHAPTER}'; return true;"><IMG SRC="./images/new.gif" BORDER=0 WIDTH=16 HEIGHT=16 ALT="{TXT_NEW_SUBCHAPTER}"></A></TD>
      <TD ALIGN="center">&nbsp;<A HREF="{LINK_ENUMERATE}" onMouseOver="window.status='{TXT_ENUMERATE}'; return true;"><IMG SRC="./images/num_{ENUMERATE_STATUS}.gif" BORDER=0 WIDTH=16 HEIGHT=16 ALT="{TXT_ENUMERATE}"></A></TD>

      <td>&nbsp;{TITLE}<A HREF="{LINK_EDIT_TITLE}" onMouseOver="window.status='{TXT_EDIT_TITLE}';return true;"><IMG VSPACE=0 BORDER=0 SRC="./images/edit.gif" ALT="{TXT_EDIT}"></A></td>
      <TD ALIGN="center">&nbsp;<A HREF="{LINK_EDIT_PAGE}" onMouseOver="window.status='{TXT_EDIT_PAGE}';return true;"><IMG VSPACE=0 BORDER=0 SRC="./images/new.gif" WIDTH=16 HEIGHT=16 ALT="{TXT_NEW_PAGE}"></A></TD>
      <TD ALIGN="center">&nbsp;<A HREF="{LINK_}" onMouseOver="window.status='{TXT_LINK}';return true;"><IMG VSPACE=0 BORDER=0 SRC="./images/chain.gif" WIDTH=24 HEIGHT=16 ALT="{TXT_LINK}"></A></TD>
      <TD ALIGN="center">&nbsp;<A HREF="{LINK_CREATE_FORUM}" onMouseOver="window.status='{TXT_NEW_FORUM}'; return true;"><IMG SRC="./images/new.gif" BORDER=0 WIDTH=16 HEIGHT=16 ALT="{TXT_NEW_FORUM}"></A></TD>
    </TR>
<!-- END row -->	
    </TABLE>
        </form>

    </BODY>
    </HTML>