<h1>{TXT_PAGEHEADLINE}</h1>

{BUTTONS}

<h2>{TXT_LNG_AVAILLANG_TXT}</h2>

<table cellpadding="0" cellspacing="0" border="0">
<tbody>

<tr  class="tblheader" >
  <td><b>&nbsp;{TXT_LNG_LANG}&nbsp;</b></td>
  <td><b>&nbsp;{TXT_LNG_STATUS}&nbsp;</b></td>
  <td><b>&nbsp;{TXT_LNG_LASTCHANGE}&nbsp;</b></td>
</tr>

<!-- BEGIN language_row -->
<tr class="{ROWCOL}">
  <td>&nbsp;{LNG_TITLE}&nbsp;</td>
  <td><a href="{LNG_LINK}" target="_top">&nbsp;{LNG_STATUS}&nbsp;</a></td>
  <td><font size=-1>{LNG_DATE}</font></td>
</tr>
<!-- END language_row -->

</tbody>
</table>
<br>

{BUTTONS2}