<h1>{TXT_PAGEHEADLINE}</h1>
{BUTTONS}

    <table CELLPADDING=4 CELLSPACING=0 BORDER=0>
    <form method="post">
    <input type="hidden" name="act" value="proc_del_menu">
    <input type="hidden" name="list_mod" value="list_unread">
    <input type="hidden" name="direc" value="ctime DESC">
    <tr class="tblrow2">
      <td><select name="what_do"><option value="0">{TXT_DELETE_SELECTED}<option value="1">{TXT_DELETE_ALL}<option value="2">{TXT_MARK_SELECTED}<option value="3">{TXT_MARK_ALL}</select></font></td>
      <td><input type=submit value="{TXT_EXECUTE}"></td>
    </tr>
    </table>

<h2>{MAIL_COUNT}&nbsp;{TXT_MAIL_S}</h2>
    <table WIDTH="100%" CELLPADDING=0 CELLSPACING=0 BORDER=0>
    <tr class="tblheader">
      <td COLSPAN=2><a HREF="" TARGET="_top">&nbsp;{TXT_SENDER}&nbsp;</a></td>
      <td><a HREF="" TARGET="_top">&nbsp;{TXT_SUBJECT}&nbsp;</a></td>
      <td COLSPAN=2><a HREF="" TARGET="_top">&nbsp;{TXT_DATE}&nbsp;<img VSPACE=0 BORDER=0 SRC="images/message/desc.gif" WIDTH=12 HEIGHT=6 ALT="{TXT_ASC}" TITLE="{TXT_ASC}"></a></td>
    </tr>
<!-- BEGIN row -->
    <tr class="{ROWCOL}">
      <td valign="middle">{MAIL_SND_FNAME} {MAIL_SND_LNAME} [{MAIL_SND_NICK}]</TD>
      <td valign="middle"><a href="{MAIL_LINK_READ}" target="_top"><b>{MAIL_SUBJ}</b></a></td>
      <td valign="middle">{MAIL_DATE}</td>
      <td valign="bottom"><a href="{MAIL_LINK_DEL}" onClick="return confirm('{TXT_ARE_YOU_SURE}');"><img border=0 src="images/delete.gif" alt="{TXT_DELETE}"></a></td>
    </tr>
<!-- END row -->
    </form>
    </table>