<?php xml version = "1.0" encoding = "UTF-8"?>
<module xmlns="http://www.w3.org" version="$Id: modules.xml 15671 2012-01-11 13:08:30Z otruffer $" id="bibl">
	<baseclasses></baseclasses>
	<objects>
		<object id="bibl" class_name="Bibliographic" dir="classes" default_pos="360" default_pres_pos="360" checkbox="1" inherit="1" translate="0" allow_link="1" allow_copy="1" rbac="1" export="1" workspace="0" repository="1">
			<subobj id="rolf" max="1">rolf</subobj>
			<parent id="cat">cat</parent>
			<parent id="crs">crs</parent>
			<parent id="fold">fold</parent>
			<parent id="grp">grp</parent>
			<parent id="recf">recf</parent>
			<parent id="root">root</parent>
		</object>
		<object id="bibs" class_name="BibliographicAdmin" dir="classes/Admin" checkbox="0" inherit="0" translate="sys" rbac="1" system="1" administration="1">
			<subobj id="rolf" max="1">rolf</subobj>
			<parent id="adm" max="1">adm</parent>
		</object>
	</objects>
</module>