<tr class="{CSS_ROW}">
	<td class="std" align="center" nowrap>{VAL_ADDR_ID}</td>
	
	<td class="std" valign="top">
		<!-- BEGIN login_linked --><a class="navigation" href="{VAL_LOGIN_LINKED_LINK}">{VAL_LOGIN_LINKED_LOGIN}</a><!-- END login_linked -->
		<!-- BEGIN login_unlinked -->{VAL_LOGIN_UNLINKED}&nbsp;<!-- END login_unlinked -->
	</td>
	
	<td class="std" valign="top">{VAL_FIRSTNAME}</td>
	<td class="std" valign="top">{VAL_LASTNAME}</td>
	
	<td class="std" valign="top">
		<!-- BEGIN email_linked --><a class="navigation" href="{VAL_EMAIL_LINKED_LINK}">{VAL_EMAIL_LINKED_EMAIL}</a><!-- END email_linked -->
		<!-- BEGIN email_unlinked -->{VAL_EMAIL_UNLINKED}&nbsp;<!-- END email_unlinked -->
	</td>
	
	<!-- BEGIN auto_update --><td class="std">{VAL_CRON_AUTO_UPDATE}</td>	<!-- END auto_update -->
	
	<td class="std" valign="top" align="center">{VAL_ACTIONS}</td>
</tr>