<h1>{TITLE}</h1>
<p>{TXT_PRINT_DATE}:&nbsp;{VALUE_PRINT_DATE}</p>
<!-- BEGIN question -->
<div class="questionPrintview clearfix">
    <strong>{TXT_USR_NAME}</strong>: {VALUE_USR_NAME}
    <!-- BEGIN matriculation -->,
        <strong>{TXT_USR_MATRIC}</strong>:{VALUE_USR_MATRIC}
    <!-- END matriculation -->
    <!-- BEGIN client_ip -->,
        <strong>{TXT_CLIENT_IP}</strong>:{VALUE_CLIENT_IP}
    <!-- END client_ip -->
    {TXT_PASS}: {VALUE_PASS}
	{SOLUTION_OUTPUT}
</div>
<!-- END question -->
