<tr class="{CSS_ROW} {VAL_HIGHLIGHT}">
	<td class="std">{VAL_RANK}</td>
	<td class="std">{VAL_PARTICIPANT}</td>

	<!-- BEGIN block_achieved -->
	<td class="std ">{VAL_ACHIEVED}</td>
	<!-- END block_achieved -->

	<!-- BEGIN block_score -->
	<td class="std">{VAL_SCORE}</td>
	<!-- END block_score -->

	<!-- BEGIN block_percentage -->
	<td class="std">{VAL_PERCENTAGE}</td>
	<!-- END block_percentage -->

	<!-- BEGIN block_hints -->
	<td class="std">{VAL_HINTS}</td>
	<!-- END block_hints -->

	<!-- BEGIN block_time -->
	<td class="std">{VAL_TIME}</td>
	<!-- END block_time -->
</tr>