/* Services/PersonalDesktop */

h3.ilPDBlockSubHeader {
	margin: 0;
	font-family: 'Open Sans Light';
    font-size: 90%;
    font-style: italic;
    font-weight: normal;
	text-align: left;
	vertical-align: middle;
	padding: 1px 0 0 5px;
}

.ilUserOnlineRow {
	margin: 0 0 0 40px;
}

.ilUserImage {
	margin:0 0 0 -40px;
}

div.ilUserImage + img {
	margin: 2px 0;
}

div#ilPDIntro img {
	float: right;
	width: 120px;
	height: 120px;
}

