<!-- BEGIN user_rating_simple -->
<!-- BEGIN rating_simple_title -->
<p>{TXT_RATING_SIMPLE}</p>
<!-- END rating_simple_title -->
<p>
<!-- BEGIN rating_link_simple -->
<a class="ilRating" href="{HREF_RATING}" {ONCLICK_RATING}>
<!-- BEGIN rating_mark_simple --><img class="ilRatingMarker" src="{SRC_MARK_SIMPLE}" alt="{ALT_MARK_SIMPLE}" style="position:absolute;" border="0" /><!-- END rating_mark_simple -->
<img class="ilRatingIcon" src="{SRC_ICON}" alt="{ALT_ICON}" border="0" />
</a>
<!-- END rating_link_simple -->
{NUMBER_VOTES_SIMPLE}
</p>
<!-- BEGIN rating_simple_del_bl -->
<p>
<a class="small" href="{HREF_RATING_DEL}"{ONCLICK_RATING_DEL}>{CAPTION_RATING_DEL}</a>
</p>
<!-- END rating_simple_del_bl -->
<!-- END user_rating_simple -->

<!-- BEGIN user_rating_categories -->
<!-- BEGIN user_rating_categories_form_in -->
<form action="{FORM_ACTION}" method="post">
<!-- END user_rating_categories_form_in -->
<table width="100%">
<!-- BEGIN user_rating_category_title -->
<tr>
<td width="50%">&nbsp;</td>
<td class="std small" width="50%">{TXT_RATING_OVERALL}</td>
</tr>
<!-- END user_rating_category_title -->
<!-- BEGIN user_rating_category -->
<tr>
<td class="std small">{TXT_RATING_CATEGORY}</td>
<!-- BEGIN user_rating_category_column -->
<td class="std" style="white-space:nowrap;">
<!-- BEGIN user_rating_icon -->
<a href="#" onclick="{HREF_RATING}" style="text-decoration:none;"{ICON_MOUSEACTION}>
<!-- BEGIN rating_mark --><img class="ilRatingMarker" src="{SRC_MARK}" alt="{ALT_MARK}" style="position:absolute;" border="0" /><!-- END rating_mark -->
<img class="ilRatingIcon" src="{SRC_ICON}" alt="{ALT_ICON}" border="0" id="{JS_ID}rating_icon_{CATEGORY_ID}_{ICON_VALUE}" />
</a>
<!-- END user_rating_icon -->
<input type="hidden" id="{JS_ID}rating_value_{CATEGORY_ID}" name="rating[{CATEGORY_ID}]" value="{CATEGORY_VALUE}" />
</td>
<!-- END user_rating_category_column -->
</tr>
<!-- END user_rating_category -->
<!-- BEGIN user_rating_submit -->
<tr>
<td>&nbsp;</td>
<td>
<p><input type="submit" class="btn btn-link" value="{TXT_SUBMIT}" name="cmd[{CMD_SUBMIT}]" /></p>
<!-- BEGIN user_rating_categories_del_bl -->
<p>
<a class="btn btn-link" href="{HREF_RATING_DEL_CAT}">{CAPTION_RATING_DEL_CAT}</a>
</p>
<!-- END user_rating_categories_del_bl -->
</td>
</tr>
<!-- END user_rating_submit -->
<!-- BEGIN votes_number_bl -->
<tr>
<td class="small" colspan="2">&nbsp;{NUMBER_VOTES}</td>
</tr>
<!-- END votes_number_bl -->
</table>
<!-- BEGIN user_rating_categories_form_out -->
</form>
<!-- END user_rating_categories_form_out -->
<!-- END user_rating_categories -->