<tr class="{CSS_ROW}">
<!-- BEGIN radio --><td>
	<input type="radio" name="user_id" value="{VAL_USER_ID}"/>
	</td>
<!-- END radio -->
<!-- BEGIN checkbox --><td>{VAL_TRUSTEE_ID}</td><!-- END checkbox -->
<!-- BEGIN vendor_id --><td>{VAL_VENDOR_ID}</td><!-- END vendor_id -->
<!-- BEGIN login --><td>{VAL_LOGIN}</td><!-- END login -->
<!-- BEGIN firstname --><td>{VAL_FIRSTNAME}</td><!-- END firstname -->
<!-- BEGIN lastname --><td>{VAL_LASTNAME}</td><!-- END lastname -->
<!-- BEGIN perm_stat --><td>{VAL_PERM_STAT}</td><!-- END perm_stat -->
<!-- BEGIN perm_obj --><td>{VAL_PERM_OBJ}</td><!-- END perm_obj -->
<!-- BEGIN perm_coupons --><td>{VAL_PERM_COUPONS}</td><!-- END perm_coupons -->
<!-- BEGIN cost_center --><td>{VAL_COST_CENTER}</td><!-- END cost_center -->
<!-- BEGIN number_bookings --><td>{VAL_NUMBER_BOOKINGS}</td><!-- END number_bookings -->

<!-- BEGIN options --><td>{VAL_OPTIONS}</td><!-- END options -->
</tr>