{MAINMENU}
{STATUSLINE}
<div class="il_HeaderOuter">
<div class="il_Header">
<div class="il_HeaderInner">
	<h1><!-- BEGIN header_image --><img src="{IMG_HEADER}">&nbsp;<!-- END header_image -->
	{TXT_HEADER}</h1><div class="il_Description">{H_DESCRIPTION}</div></div>
	<!-- BEGIN top -->
	<div style="float:right; margin-right:15px;  margin-top:5px;">
	<a class="{CLASS_TOP}" href="{LINK_TOP}"><img src="{IMG_TOP}"></a>&nbsp;
	</div>
	<!-- END top -->
	<div class="ilClearFloat"></div>
{TABS}
</div>
</div>
<div class="ilClearFloat" style="margin-left:15px;">{SUB_TABS}</div>
<div class="il_ColumnLayout">
	<div id="il_center_col">
		{BUTTONS}
		{MESSAGE}
		{ADM_CONTENT}
	</div>
</div>