<tr class="{CSS_ROW}">
<!-- BEGIN item --><td>{VAL_ITEM}</td><!-- END item -->
<!-- BEGIN title --><td>{VAL_TITLE} <br> {VAL_ASSIGNED_COUPONS}</td><!-- END title -->
<!-- BEGIN duration --><td>{VAL_DURATION}</td><!-- END duratino -->
<!-- BEGIN vat_rate --><td>{VAL_VAT_RATE}</td><!-- END vat_rate -->
<!-- BEGIN vat_unit --><td>{VAL_VAT_UNIT}</td><!-- END vat_unit -->
<!-- BEGIN price --><td>{VAL_PRICE}</td><!-- END price -->
</tr>
<!-- BEGIN totals_row -->
<tr class="{CSS_ROW_2}">
	<td colspan ="4"></td><td align="center">{TXT_SUB_TOTAL}</td><td>{VAL_SUB_TOTAL}</td></tr>
<tr><td colspan ="4"></td><td align="center">{TXT_COUPON_BONUS}</td><td>{VAL_COUPON_BONUS}</td></tr>
<tr><td colspan ="4"></td><td align="center">{TXT_TOTAL_AMOUNT}</td><td>{VAL_TOTAL_AMOUNT}</td></tr>
<tr><td colspan ="4"></td><td align="center">{TXT_TOTAL_VAT}</td><td>{VAL_TOTAL_VAT}</td></tr>
<!-- END totals_row -->