<div class="option_value" id="placeholders_box">
	<div class="il_Description">
		<b>{TXT_USE_PLACEHOLDERS}</b>:<br />
		{TXT_PLACEHOLDERS_ADVISE}<br />
		<b><a href="#" onclick="insertTextIntoTextField(this.innerHTML, 'invoice_number_text'); return false;">[CURRENT_TIMESTAMP]</a></b>: {TXT_CURRENT_TIMESTAMP}<br />
		<b><a href="#" onclick="insertTextIntoTextField(this.innerHTML, 'invoice_number_text'); return false;">[INSTALLATION_ID]</a></b>: {TXT_INSTALLATION_ID}<br />
		<b><a href="#" onclick="insertTextIntoTextField(this.innerHTML, 'invoice_number_text'); return false;">[USER_ID]</a></b>: {TXT_USER_ID}<br />
		<b><a href="#" onclick="insertTextIntoTextField(this.innerHTML, 'invoice_number_text'); return false;">[DAY]</a></b>: {TXT_DAY}<br />
		<b><a href="#" onclick="insertTextIntoTextField(this.innerHTML, 'invoice_number_text'); return false;">[MONTH]</a></b>: {TXT_MONTH}<br />
		<b><a href="#" onclick="insertTextIntoTextField(this.innerHTML, 'invoice_number_text'); return false;">[YEAR]</a></b>: {TXT_YEAR}<br />
		<b><a href="#" onclick="insertTextIntoTextField(this.innerHTML, 'invoice_number_text'); return false;">[INCREMENTAL_NUMBER]</a></b>: {TXT_INCREMENTAL_NUMBER}<br />
	
	</div>
</div>
