<!-- BEGIN tc -->
<h2>Bedingungen für die entgeltliche Nutzung der Inhalte der Lernplattform der HSU HH</h2>
<p>Stand: 5. Oktober 2004</p>

<p><b>§ 1 Beschaffenheit der Inhalte</b></p>

<p>(1) Die Inhalte sind mit gebührender Sorgfalt zusammengestellt. Nach dem Stand der Technik ist es jedoch nicht ausgeschlossen, dass Inhalte und Lernplattform Fehler aufweisen. Eine bestimmte inhaltliche Qualität oder die inhaltliche Freiheit von Fehlern ist daher nicht geschuldet.</p>

<p>(2) Der  jeweilige Anbieter (Fachprofessor(-inn)en, Zentrale Einrichtungen der HSU HH ) behält sich vor, die Inhalte kurzfristig an mögliche Veränderungen seitens der Wissenschaft und Technik anzupassen.</p>

<p><b>§ 2 Nutzungsberechtigung</b></p>

<p>(1) Der Anbieter gewährt dem Nutzer während der Vertragsdauer im Rahmen der vorliegenden Nutzungsbestimmungen Zugang zu den vertragsgegenständlichen Inhalten des Anbieters. Die Inhalte werden in Form von didaktisch-methodisch aufbereiteten Lerneinheiten auf einer Lernplattform bereitgestellt.</p>

<p>(2) Die Nutzung der Inhalte des Anbieters dient nur zur Information des Nutzers; die Inhalte können insbesondere zum Lehren und Lernen im Sinne einer Stärkung der Selbstlern-kompetenz der Nutzer eingesetzt werden. Weder der Anbieter noch Beauftragte des Anbieters überwachen den Lernerfolg im Sinne des § 1 I Nr. 2 Fernunterrichtsschutzgesetz vom 4.12.2000.</p>

<p>(3) Die Nutzungsberechtigung umfasst:</p>

<ul>
<li>Die im Lernmanagementsystem ILIAS angebotenen Lern- Arbeits- und Kommunikationsfunktionen.
<li>Das Abrufen und Nutzen der Online-Inhalte auf einem dem Nutzer oder einem Dritten gehörenden datenverarbeitenden Gerät (Computer) zum Zwecke des Informierens und Lernens.
</ul>

<p>(4) Aus der vertragsgegenständlichen Nutzung der Inhalte des Anbieters resultieren für die Nutzer keine Prüfungs- und Betreuungsrechte und kein Anspruch auf Zertifizierung des Wissenserwerbs.</p>

<p>(5) Nicht gestattet ist die Herstellung von Vervielfältigungsstücken aller Art ( Schriftstücke, Disketten, Ausdrucke und Kopien auf Papier oder sonstige Materialien etc.) und /oder deren Weitergabe an Dritte während und nach Beendigung der Zugangsberechtigung. Gestattet ist die automatische Herstellung im Rahmen des elektronischen Abrufs unvermeidlicher temporärer Kopien durch das Browser-Programm sowie die Herstellung von Ausdrucken zu privaten Lernzwecken.</p>

<p>Zuwiderhandlungen gegen Satz 1 führen - neben sonstigen zivil- und rechtlichen Sanktionen - zur sofortigen, automatischen Beendigung der Nutzungsberechtigung. Das gleiche gilt für jedes Zugänglichmachen der Inhalte der Lernplattform für nicht zugangsberechtigte Dritte einschließlich der Weitergabe des Passworts.</p>

<p><b>§ 3 Entgelt</b></p>

<p>(1) Für die Nutzung während der vereinbarten Nutzungsdauer schuldet der Nutzer das vereinbarte Entgelt in Form einer einmaligen Zahlung. Die Zahlung erfolgt mittels Lastschrifteinzugsverfahren (LEV) oder per Kreditkarte.</p>

<p>(2) Die Zahlung hat innerhalb von 14 Tagen nach Freischaltung der Inhalte zu erfolgen.</p>

<p>(3) Bei Zahlungsverzögerung ist der Anbieter berechtigt, den Zugang zur Lernplattform zu sperren. Weitergehende gesetzliche Rechte wegen Verzugs bleiben unberührt.</p>

<p>(4) Der Nutzer kann nur mit unbestrittenen oder rechtskräftig festgestellten Ansprüchen gegenüber dem Anbieter aufrechnen. Ein Zurückbehaltungsrecht steht dem Nutzer nur aufgrund von Gegenansprüchen aus diesem Vertrag zu.</p>

<p><b>§ 4 Vertragsdauer</b></p>

<p>Die Zugangsberechtigung nach § 2 endet automatisch nach Ablauf der vertraglich vereinbarten Nutzungsdauer. Eine Kündigung des Vertragsverhältnisses ist nicht erforderlich.</p>

<p><b>§ 5 Verfügbarkeit</b></p>

<p>(1) Der Anbieter sorgt dafür, dass die vertragsgegenständlichen Inhalte während der vereinbarten Vertragsdauer möglichst rund um die Uhr nutzbar sind.</p>

<p>(2) Wartung (technische, inhaltliche), mit unwesentliche Beeinträchtigung der Nutzung sind zu dulden; vier Wochenendwartungen des Rechenzentrums (RZ) sind zu dulden.</p>

<p>(3) Bei pflichtwidrigen Störungen der Verfügbarkeit von nicht unwesentlicher Dauer erfolgt eine automatische Verlängerung der Nutzungslaufzeit. Bei Fehlschlagen der Verlängerung hat der Nutzer ein Minderungsrecht. Die Haftung auf Schadensersatz statt der Leistung beschränkt sich auf grobe Fahrlässigkeit und Vorsatz. Dies gilt nicht für Schäden, die auf die Verletzung des Lebens, des Körpers oder der Gesundheit des Nutzers beruhen.</p>

<p><b>§ 6 Haftung</b></p>

<p>(1) Der Anbieter haftet dem Nutzer über die Gewährleistung nach § 5(3) hinaus wegen etwaiger Begleitschäden (Integritätsinteresse) als Folge von Pflichtverletzungen einschließlich pflichtwidriger Einschränkungen der Verfügbarkeit nur bei Vorsatz und grober Fahrlässigkeit. Dies gilt nicht für Schäden, die auf die Verletzung des Lebens, des Körpers oder der Gesundheit des Nutzers beruhen.</p>

<p><b>§ 7 Urheberrechte; gewerbliche Schutzrechte</b></p>

<p>(1) Die  Gestattung der Nutzung der Inhalte steht unter dem Vorbehalt etwaiger Urheberrechte oder gewerblicher Schutzrechte Dritter.</p>

<p>(2) Das Nutzungsverhältnis bewirkt in keiner Weise die Übertragung von Nutzungsrechten an Urheberrechten oder die Übertragung gewerblicher Schutzrechte.</p>

<p><b>§ 8 Datenschutz</b></p>

<p>(1) Um die Zugangsberechtigung zu überprüfen und den Zugang zu ermöglichen, wird im entgeltlichen Nutzungsbereich eine Nutzerkartei angelegt. In der Nutzerkartei werden Name, Kontaktadresse und sonstige zur Nutzung erforderlichen Daten gespeichert. Die Speicherung der personenbezogenen Daten erfolgt ausschließlich zur Erfüllung des Vertragsverhältnisses, zur Sicherung der Inhalte und für die Kommunikation zwischen dem Anbieter und dem Nutzer. Die deutschen Datenschutzbestimmungen werden eingehalten.</p>

<p>(2) Nach Ablauf des Vertragsverhältnisses werden die personenbezogenen Daten des Nutzers unverzüglich gelöscht.</p>

<p>(3) Der Anbieter gewährleistet, dass alle Mitarbeiter(innen), die mit der Abwicklung des Vertragsverhältnisses und der Betreuung der Inhalte beschäftigt sind, die einschlägigen datenschutzrechtlichen Vorschriften kennen und beachten.</p>

<p>(4) Der Nutzer erklärt sich damit einverstanden, dass der Anbieter die Daten über Abs. 2 hinaus in anonymisierter Form zu wissenschaftlichen Zwecken speichert. Wissenschaftliche Zwecke sind z.B. die Optimierung der Inhalte und die Erstellung von Nutzerstatistiken. Der Nutzer kann diesem Einverständnis jederzeit schriftlich oder in Textform widersprechen.</p>

<p><b>§ 9 Gerichtsstand</b></p>

<p>(1) Der Gerichtsstand für alle Streitigkeiten im Zusammenhang mit der Nutzung der Lernplattform ist Hamburg, sofern der Nutzer Kaufmann, juristische Person des öffentlichen Rechts oder öffentlich-rechtliches Sondervermögen ist oder keinen allgemeinen Gerichtsstand in der Bundesrepublik Deutschland hat.</p>

<p>(2) Für den Vertrag gilt deutsches Recht. Die Bestimmungen des UN-Kaufrechts sind nicht anwendbar.</p>

<p><b>§ 10 Schlussbestimmungen</b></p>

<p>(1) Änderungen und Ergänzungen der in diesen entgeltlichen Nutzungsbedingungen enthaltenen Bestimmungen bedürfen zu ihrer Wirksamkeit der Schriftform oder der elektronischen Form (§ 126a BGB).</p>

<p>(2) Soweit einzelne Bestimmungen dieser Nutzungsbedingungen unwirksam sind, berührt dies die Wirksamkeit der übrigen Bestimmungen nicht. An die Stelle der unwirksamen Bestimmungen tritt dispositives Gesetzesrecht und in Ermangelung entsprechender Vorschriften eine Ersatzregelung, die dem mit der unwirksamen Bestimmung angestrebten Zweck möglichst nahe kommt.</p>
<!-- END tc -->