<tr class="{CSS_ROW}">
	<td class="std" align="center" nowrap>{VAL_CHECK}</td>
	<td class="std" valign="top">{VAL_VAT_TITLE}</td>
	<td class="std" valign="top">{VAL_VAT_RATE}</td>
	<td class="std" valign="top">
		<div>			
			<div class="il_ContainerItemCommands" style="float: right;">
				<a class="il_ContainerItemCommand" href="{VAL_EDIT_URL}">{VAL_EDIT_TEXT}</a>
			</div>
			<div class="il_ContainerItemCommands" style="float: right; padding-right: 5px;">
				<a class="il_ContainerItemCommand" href="{VAL_DELETE_URL}">{VAL_DELETE_TEXT}</a>
			</div>
		</div>
	</td>
</tr>