<tr class="{CSS_ROW}">
	<td class="std" nowrap="nowrap">
		<h4><a href="{HREF_TITLE}">{VAL_TITLE}</a></h4>
		<p>{VAL_CREATION_DATE}</p>
		<p>{VAL_CONTENT}</p>


<!-- BEGIN ni_creation -->
<div style="text-align:right;" class="il_BlockInfo">{VAL_TXT_CREATION_DATE}: {VAL_CREATION_DATE}</div>
<!-- END ni_creation -->
<!-- BEGIN ni_update -->
<div style="text-align:right;" class="il_BlockInfo">{VAL_TXT_UPDATE_DATE}: {VAL_UPDATE_DATE}</div>
<!-- END ni_update -->
<!-- BEGIN access -->
<div style="text-align:right;" class="il_BlockInfo">{VAL_TXT_ACCESS}: {VAL_ACCESS}</div>
<!-- END access -->
<!-- BEGIN user_info -->
<div style="text-align:right;" class="il_BlockInfo">{VAL_TXT_AUTHOR}: {VAL_AUTHOR}</div>
<!-- END user_info -->

<div class="il_ContainerItemCommands2">
<!-- BEGIN edit_button --><a class="il_ContainerItemCommand2" href="{VAL_EDIT_SRC}" title="{VAL_EDIT_TXT}">{VAL_EDIT_TXT}</a><!-- END edit_button -->
<!-- BEGIN delete_button --><a class="il_ContainerItemCommand2" href="{VAL_DELETE_SRC}" title="{VAL_DELETE_TXT}">{VAL_DELETE_TXT}</a><!-- END delete_button -->
</div>
</td>
</tr>