<?php xml version = "1.0" encoding = "UTF-8"?>
<module xmlns="http://www.w3.org" version="$Id: modules.xml 15671 2008-01-04 13:08:30Z akill $"
	id="chat">
	<baseclasses>
		<baseclass name="ilChatHandlerGUI" dir="classes" />
		<baseclass name="ilChatPresentationGUI" dir="classes" />
	</baseclasses>
	<objects>
		<object id="chat" class_name="Chat" dir="classes" default_pos="60" default_pres_pos="80"
			checkbox="1" inherit="1" translate="0" rbac="1" allow_link="1" allow_copy="1">
			<subobj id="rolf" max="1">rolf</subobj>
			<parent id="cat">cat</parent>
			<parent id="crs">crs</parent>
			<parent id="fold">fold</parent>
			<parent id="grp">grp</parent>
			<parent id="recf">recf</parent>
			<parent id="root">root</parent>
		</object>
		<object id="chac" class_name="ChatServer" dir="classes"
			checkbox="0" inherit="0" translate="sys" rbac="1" system="1">
			<parent id="adm" max="1">adm</parent>
		</object>
	</objects>
</module>
