//== Footer
$il-footer-padding: 10px 0 10px 5px;

footer{
	background-color: $il-footer-bg-color;
	padding: $il-footer-padding;
	border-top: 1px solid $il-main-border-color;
	height: $il-footer-height;
}
.il-maincontrols-footer {
	color: $il-footer-color;
	font-size: $il-font-size-small;
	padding: $il-padding-small-vertical $il-padding-large-horizontal;

	.il-footer-content div {
		display: inline-block;
	}

	.il-footer-links {
		ul {
			list-style: none;
			padding: 0px;
			margin: 0px;
		}
		li {
			display: inline-block;
			margin-right: $il-margin-xs-horizontal;
			a, button {
				color: $il-link-color;
			}
			button {
				vertical-align: baseline;
			}
		}
		li:first-child:before {
			content: "\00b7";
			margin-right: 10px;
		}
		li:after {
			content: "\00b7";
			margin-left: 10px;
		}
		li:last-child:after {
			content: " ";
		}
	}

	.il-footer-permanent-url {
		margin-right: $il-margin-xs-horizontal;

		label {
			margin-right: $il-margin-xs-horizontal;

			color: $il-main-color;
			&:hover{
				text-decoration: underline;
			}
		}
	}

	.il-footer-text {
		margin-right: $il-margin-xs-horizontal;
	}
}
