<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{SOM_TITLE}</title>
	<!-- Bootstrap -->
	<link href="./libs/bower/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link id="skin" href="./Modules/ScormAicc/templates/som/skin/ilias/som.css" rel="stylesheet" media="screen">
	<script type="text/javascript" src="./libs/bower/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="./libs/bower/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./libs/bower/bower_components/pouchdb/dist/pouchdb.min.js"></script>
	<script type="text/javascript" src="./Modules/ScormAicc/scripts/som.js"></script>
</head>
<body id="somBody">
	<script>
		var somGlobals = {
			"player12_url"			: '{PLAYER12_URL}',
			"player2004_url"		: '{PLAYER2004_URL}'
		}
	</script>
	<div class="container" id="somHeader">
		<div id="somLogo64"></div><div id="somTitle" data-l10n-id="somTitle"></div>
	</div>
	<div class="container" id="somLm">
		<div class="accordion" id="acLm"></div>
	</div>
</body>
</html>
