<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{LOCATION_STYLESHEET}" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>
<frameset rows="0,*" frameborder="0" framespacing="0" border="0">
	<frame src="{API_LINK}" scrolling="no" name="APIFRAME" marginwidth="0" marginheight="0" frameborder="0" />
	<frame src="{PRESENTATION_LINK}" name="sahs_content" marginwidth="0" marginheight="0" scrolling="auto" />
</frameset>
<noframes>
The editor interface requires a <b>frames-capable</b> web browser.
</noframes>
</html>
