<strong>{PH_INTRODUCTION}</strong>:<br /><br />
<!-- BEGIN items -->
<strong>[{ID}]</strong>: {TXT}<br />
<!-- END items -->
&nbsp;<br />
<!-- BEGIN NO_SCO -->
{PH_NO_SCO}
<!-- END NO_SCO -->
<!-- BEGIN SCOS -->
{PH_SCOS}
<!-- END SCOS -->
<table>
<!-- BEGIN SCO_HEADER -->
<tr>
	<td>{PH_TITLE_SCO}</td>
	<td>{PH_SCO_TITLE}</td>
	<td>{PH_SCO_POINTS_RAW}</td>
	<td>{PH_SCO_POINTS_MAX}</td>
	<td>{PH_SCO_POINTS_SCALED}</td>
</tr>
<!-- END SCO_HEADER -->
<!-- BEGIN SCO -->
<tr>
	<td>{SCO_TITLE}</td>
	<td><strong>{PH_SCO_TITLE}</strong></td>
	<td><strong>{PH_SCO_POINTS_RAW}</strong></td>
	<td><strong>{PH_SCO_POINTS_MAX}</strong></td>
	<td><strong>{PH_SCO_POINTS_SCALED}</strong></td>
</tr>
<!-- END SCO -->
</table>