<style type="text/css">

.il-drilldown ul{
	list-style: none;
	padding: 0;
}

.il-drilldown-entry .entry{
	cursor: pointer;
}

.il-drilldown-current,
.il-drilldown-backlink,
.il-drilldown-visible {
	border: 1px solid;
}

.il-drilldown-structure,
.il-drilldown-current ul,
.il-drilldown-backlink ul,
.il-drilldown-visible ul {
	display: none;
}


</style>

<div class="il-drilldown" id="{ID}">

	<ul class="il-drilldown-structure">
		{ENTRIES}
	</ul>

	<ul class="il-drilldown-backlink">
	</ul>

	<ul class="il-drilldown-current">
	</ul>

	<ul class="il-drilldown-visible">
	</ul>

</div>

