<script type="text/javascript">

function {PREFIX}GetValue(dataModelElement) {
 	return window.document.APIAdapter.LMSGetValue(dataModelElement);
}

function {PREFIX}SetValue(dataModelElement,elemValue) {
	return window.document.APIAdapter.LMSSetValue(dataModelElement,elemValue);
}

function {PREFIX}Initialize(inString) {
 	return window.document.APIAdapter.LMSInitialize(inString);
}

function {PREFIX}Finish(inString) {
 return window.document.APIAdapter.LMSFinish(inString);
}

function {PREFIX}Commit(inString) {
 return window.document.APIAdapter.LMSCommit(inString);
}

function {PREFIX}GetLastError() {
 	return window.document.APIAdapter.LMSGetLastError();
}

function {PREFIX}GetErrorString(errorNumber) {
 	return window.document.APIAdapter.APIAdapter.LMSGetErrorString(errorNumber);
}

function {PREFIX}GetDiagnostics(inString) {
	return window.document.APIAdapter.LMSGetDiagnostics(inString);
}

function {PREFIX}Terminate(inString) {
 return window.document.APIAdapter.LMSFinish(inString);
}

</script>