<tr class="{CSS_ROW}">
	<td class="std" valign="top">
		<input class="{CSS_ROW}" type="checkbox" name="file[]" value="{CHECKBOX_ID}" {CHECKED}/>
	</td>
	<td class="std" valign="top">
		{ICON}
	</td>
	<td class="std" valign="top">
		<!-- BEGIN FileLink -->
		<a href="{LINK_FILENAME}">{TXT_FILENAME}</a>
		<!-- END FileLink -->
		<!-- BEGIN File -->
		{TXT_FILENAME2}
		<!-- END File -->
	</td>
	<td class="std" valign="top">
		{TXT_SIZE}
	</td>
	<td class="std" valign="top">
		{TXT_PURPOSE}
	</td>
</tr>
