<form action="{FORMACTION}" name="post" method="post">
<table class="std">
<tr class="tblheader">
	<td class="std" colspan="2">
		{TXT_PROPERTIES}
	</td>
</tr>
<tr class="std">
	<td class="option">
	{TXT_ONLINE}
	</td>
	<td class="option_value">
	<input type="checkbox" name="{CBOX_ONLINE}" value="{VAL_ONLINE}" {CHK_ONLINE}>
	</td>
</tr>
<tr class="std">
	<td class="option">
	{TXT_LAYOUT}
	</td>
	<td class="option_value">
	{SELECT_LAYOUT}
	</td>
</tr>
<tr class="std">
	<td class="option">
	{TXT_PAGE_HEADER}
	</td>
	<td class="option_value">
	{SELECT_PAGE_HEADER}
	</td>
</tr>
<!-- BEGIN commands -->
<tr>
	<td class="submit" colspan="2">
		<input class="submit" type="submit" name="cmd[{BTN_NAME}]" value="{BTN_TEXT}" />
	</td>
</tr>
<!-- END commands -->
</table>
<!-- BEGIN TRANSLATION -->
	  <br />
	  <table class="std">
		  <tr class="tblheader">
			<td class="std" colspan="2">
			  {TRANSLATION_HEADER}
			</td>
		  </tr>
		  <!-- BEGIN TRANSLATION_ROW -->
		  <tr class="std">
			<td class="option_value"><input type="checkbox" name="id[]" value="{ROW_ID} /></td>
			<td class="option_value">{ROW_TITLE}</td>
		  </tr>
		  <!-- END TRANSLATION_ROW -->
		  <tr>
			<td class="submit" colspan="2">
			  <input class="submit" type="submit" name="cmd[{BTN1_NAME}]" value="{BTN1_TEXT}" />&nbsp;
			  <!-- BEGIN TRANSLATION_DELETE -->
			  <input class="submit" type="submit" name="cmd[{BTN2_NAME}]" value="{BTN2_TEXT}" />
			  <!-- END TRANSLATION_DELETE -->
			</td>
		  </tr>
	  </table>
<!-- END TRANSLATION -->
	</form>
		  
		
