<form action="{FORMACTION}" name="post" method="post" enctype="multipart/form-data">
<table class="std">
<tr class="tblheader">
	<td class="std" colspan="2">
		{TXT_ACTION}
	</td>
</tr>
<!--- standard view -->
<tr class="tblheader">
	<td class="std" colspan="2">
		{TXT_STANDARD_VIEW}
	</td>
</tr>
<tr class="std">
	<td class="option">{TXT_FILE}
	<input type="radio" name="standard_type" value="File" checked="1"/>
	</td>
	<td class="option_value">
	<input type="file" name="standard_file" size="30">
	</td>
</tr>
<tr class="std">
	<td class="option">{TXT_REFERENCE}
	<input type="radio" name="standard_type" value="Reference" />
	</td>
	<td class="option_value">
	<input type="text" name="standard_reference" size="30" maxlength="200"><br />
	<span class="il_Helptext">{TXT_REF_HELPTEXT}</span>
	</td>
</tr>
<tr class="std">
	<td class="option">{TXT_WIDTH} / {TXT_HEIGHT}
	</td>
	<td class="option_value">
	<input type="radio" name="standard_size" value="selected" />&nbsp;
	<input type="text" name="standard_width" size="7" maxlength="20"> /
	<input type="text" name="standard_height" size="7" maxlength="20">&nbsp;&nbsp;&nbsp;
	<input type="radio" name="standard_size" value="original" checked="1" />&nbsp;
	{TXT_ORIGINAL_SIZE}<br />
	<input type="checkbox" name="standard_resize" value="y" checked="1"/>
	{TXT_RESIZE} [*]
	</td>
</tr>
<tr class="std">
	<td class="option">{TXT_CAPTION}</td>
	<td class="option_value">
	<input type="text" name="standard_caption" size="30" maxlength="200">
	</td>
</tr>
<tr class="std">
	<td class="option">{TXT_PARAMETER}
	</td>
	<td class="option_value">
	<textarea name="standard_param" cols="40" rows="4" wrap="virtual"></textarea>
	</td>
</tr>
<!--- fullscreen view -->
<tr class="tblheader">
	<td class="std" colspan="2">
		<input type="checkbox" name="fullscreen" value="y" />
		{TXT_FULLSCREEN_VIEW}
	</td>
</tr>
<tr class="std">
	<td class="option">{TXT_FILE}
	<input type="radio" name="full_type" value="File" checked="1"/>
	</td>
	<td class="option_value">
	<input type="file" name="full_file" size="30">
	</td>
</tr>
<tr class="std">
	<td class="option">{TXT_REFERENCE}
	<input type="radio" name="full_type" value="Reference" />
	</td>
	<td class="option_value">
	<input type="text" name="full_reference" size="30" maxlength="200"><br />
	<span class="il_Helptext">{TXT_REF_HELPTEXT}</span>
	</td>
</tr>
<tr class="std">
	<td class="option">{TXT_WIDTH} / {TXT_HEIGHT}
	</td>
	<td class="option_value">
	<input type="radio" name="full_size" value="selected" />&nbsp;
	<input type="text" name="full_width" size="7" maxlength="20"> /
	<input type="text" name="full_height" size="7" maxlength="20">&nbsp;&nbsp;&nbsp;
	<input type="radio" name="full_size" value="original" checked="1" />&nbsp;
	{TXT_ORIGINAL_SIZE}
	<br /><input type="checkbox" name="full_resize" value="y" checked="1"/>
	{TXT_RESIZE} [*]
	</td>
</tr>
<tr class="std">
	<td class="option">{TXT_CAPTION}</td>
	<td class="option_value">
	<input type="text" name="full_caption" size="30" maxlength="200">
	</td>
</tr>
<tr class="std">
	<td class="option">{TXT_PARAMETER}
	</td>
	<td class="option_value">
	<textarea name="full_param" cols="40" rows="4" wrap="virtual"></textarea>
	</td>
</tr>

<!-- BEGIN commands -->
<tr>
	<td class="submit" colspan="2">
		<input class="submit" type="submit" name="cmd[{BTN_NAME}]" value="{BTN_TEXT}" />
	</td>
</tr>
<!-- END commands -->
</table>
</form>
[*] {TXT_RESIZE_EXPLANATION}