<!-- <style>
body { margin:0px; }
</style>
{STATUSLINE}
<div class="invisible_border">-->
<form action="{FORMACTION}" name="post" method="post">
<!-- <div class="il_Header"><h1>{TXT_HEADER}</h1>
<div class="il_Tab">
{TABS}
</div>
</div>-->
<table class="ilc_Page" width="100%" cellspacing="0" cellpadding="0"><tr><td class="ilc_Page">
<div class="ilc_Page">
<div class="ilc_PageTitle">{TXT_TERM}</div>
<!-- BEGIN definition -->
<!-- BEGIN definition_header -->
<div class="ilc_DefinitionHeader">{TXT_DEFINITION}</div>
<!-- END definition_header -->
<table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td>
{PAGE_CONTENT}
</td></tr></table>
<!-- BEGIN submit_btns -->
<br />
<a class="submit" href="{LINK_EDIT}">{TXT_EDIT}</a>&nbsp;&nbsp;
<a class="submit" href="{LINK_DELETE}">{TXT_DELETE}</a>&nbsp;&nbsp;
<!-- BEGIN up -->
<a class="submit" href="{LINK_UP}">{TXT_UP}</a>&nbsp;&nbsp;
<!-- END up -->
<!-- BEGIN down -->
<a class="submit" href="{LINK_DOWN}">{TXT_DOWN}</a>&nbsp;&nbsp;
<!-- END down -->
<br />
<!-- END submit_btns -->
<br />
<!-- END definition -->
<!-- BEGIN backlink_list -->
<div class="ilc_BacklinkTitle">{BACKLINK_TITLE}:</div>
<!-- BEGIN backlink_item -->
<p class="ilc_List"><a class="ilc_IntLink" href="{BACKLINK_LINK}">{BACKLINK_ITEM}</a></p>
<!-- END backlink_item -->
<!-- END backlink_list -->
</div>
</td></tr></table>
<!-- BEGIN add_def -->
<table class="fullwidth">
<tr class="std">
	<td class="submit"><input type="submit" class="submit" name="cmd[{BTN_ADD}]" value="{TXT_ADD_DEFINITION}"></td>
</tr>
</table>
<!-- END add_def -->
</form>
<!--</div>-->
