<form action="{FORMACTION}" {TARGET} method="post">
<table class="std">
<tr class="tblheader">
	<td class="std" colspan="2">
		<td>{TXT_HEADER}</td>
	</td>
</tr>
<tr>
	<td class="option">{TXT_TITLE}</span></td>
	<td class="option_value"><input name="title" value="{TITLE}" size="40" maxlength="70" /></td>
</tr>
<tr>
	<td class="option">{TXT_DESC}</td>
	<td class="option_value"><textarea name="desc" rows="2" cols="40">{DESC}</textarea></td>
</tr>
<tr>
	<td class="submit" colspan="2">
	<div align="right">
		<input class="submit" type="submit" name="cmd[saveProperties]" value="{TXT_SUBMIT}" />
		<input class="submit" type="submit" name="cmd[cancel]" value="{TXT_CANCEL}" />
	</div>
	</td>
</tr>
</table>
</form>
