<form action="{FORMACTION}" name="post" method="post">
<table class="std">
<tr class="tblheader">
	<td class="std" colspan="2">
		{TXT_PROPERTIES}
	</td>
</tr>
<tr class="std">
	<td class="option">
	{TXT_ONLINE}
	</td>
	<td class="option_value">
	<input type="checkbox" name="{CBOX_ONLINE}" value="{VAL_ONLINE}" {CHK_ONLINE}>
	</td>
</tr>
<tr class="std">
	<td class="option">
	{TXT_START_FILE}
	</td>
	<td class="option_value">
	{VAL_START_FILE} <a href="{LINK_SET_START_FILE}">[{TXT_SET_START_FILE}]</a>
	</td>
</tr>
<!-- BEGIN commands -->
<tr>
	<td class="submit" colspan="2">
		<input class="submit" type="submit" name="cmd[{BTN_NAME}]" value="{BTN_TEXT}" />
	</td>
</tr>
<!-- END commands -->
</table>
</form>


