<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
	"http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>ILIAS 3</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{LOCATION_STYLESHEET}" />
	<!-- BEGIN ContentStyle -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_CONTENT_STYLESHEET}" />
	<!-- END ContentStyle -->
	<!-- BEGIN SyntaxStyle -->
	<link rel="stylesheet" type="text/css" href="{LOCATION_SYNTAX_STYLESHEET}" />
	<!-- END SyntaxStyle -->
</head>
<body>
<style>
body { margin:0px; }
</style>
<!-- BEGIN ilLocator -->
{STATUSLINE}
<!-- END ilLocator -->
<table class="fullwidth_invisible"><tr><td class="ilInvisibleBorder">
<!--<div class="invisible_border">-->
{MENU}
{MESSAGE}
<br />
<!-- BEGIN ilLMNavigation -->
<table class="ilc_LMNavigation" width="100%" cellspacing="0" cellpadding="0"><tr><td class="ilc_LMNavigation">
<div class = "ilc_Page">
<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr>
	<!-- BEGIN ilLMNavigation_Prev -->
	<td align="left">
	{LMNAVIGATION_PREV}
	</td>
	<!-- END ilLMNavigation_Prev -->
	<!-- BEGIN ilLMNavigation_Next -->
	<td align="right">
	{LMNAVIGATION_NEXT}
	</td>
	<!-- END ilLMNavigation_Next -->
</tr>
</table>
</div>
</td></tr></table>
<!-- END ilLMNavigation -->
<!-- BEGIN ilPage -->{PAGE_CONTENT}<!-- END ilPage -->
<!-- BEGIN ilLMNavigation2 -->
<table class="ilc_LMNavigation" width="100%" cellspacing="0" cellpadding="0"><tr><td class="ilc_LMNavigation">
<div class = "ilc_Page">
<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr>
	<!-- BEGIN ilLMNavigation_Prev2 -->
	<td align="left">
	{LMNAVIGATION_PREV2}
	</td>
	<!-- END ilLMNavigation_Prev2 -->
	<!-- BEGIN ilLMNavigation_Next2 -->
	<td align="right">
	{LMNAVIGATION_NEXT2}
	</td>
	<!-- END ilLMNavigation_Next2 -->
</tr>
</table>
</div>
</td></tr></table>
<!-- END ilLMNavigation2 -->
<!--</div>-->
<br />
{SUBMENU}
</td></tr></table>
</body>
</html>
