<tr class="{CSS_ROW}">
	<td class="std" valign="top">
		<input class="{CSS_ROW}" type="checkbox" name="id[]" value="{CHECKBOX_ID}" {CHECKED}/>
	</td>
	<td class="std" valign="top" nowrap="1" width="1">
		<img src="{IMG_OBJ}" border="0" />
	</td>
	<td class="std" valign="top">
		<!-- BEGIN link -->
		<a href="{LINK_VIEW}">
		{TXT_TITLE}
        </a>
			<!-- BEGIN edit -->
			[<a href="{EDIT_LINK}">{TXT_EDIT}</a>]
			<!-- END edit -->
			<!-- BEGIN show -->
			[<a href="{SHOW_LINK}" target="_new">{TXT_SHOW}</a>]
			<!-- END show -->
		<!-- END link -->
		{MEDIA_INFO}
	</td>
</tr>
