<form action="{FORMACTION}" name="post" method="post">
<table class="std" width="50%">
<tr class="tblheader">
	<td class="std" colspan="2">
		{TXT_PROPERTIES}
	</td>
</tr>
<tr class="std">
	<td class="option">
	{TXT_ONLINE}
	</td>
	<td class="option_value">
	<input type="checkbox" name="{CBOX_ONLINE}" value="{VAL_ONLINE}" {CHK_ONLINE}>
	</td>
</tr>
<tr>
  <td class="option">{TXT_GLO_MODE}</td>
  <td class="option_value">{SELECT_GLO_MODE}<br/><p class="option_desc">{TXT_GLO_MODE_DESC}</p></td>
</tr>
<!-- BEGIN commands -->
<tr>
	<td class="submit" colspan="2">
	<div align="right">
		<input class="submit" type="submit" name="cmd[{BTN_NAME}]" value="{BTN_TEXT}" />
	</div>
	</td>
</tr>
<!-- END commands -->
</table>
</form>


