<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<frameset rows="0,*">
<frame  name="API" arginwidth="0" marginheight="0" scrolling="auto" >
<script>
//document.writeln('<object classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93" width="0" height="0" ID="APIAdapter" Name="APIAdapter" codebase="http://java.sun.com/products/plugin/1.3/jinstall-13-win32.cab#Version=1,3,0,0">');
                                                                                                                             
        document.writeln('<applet CODE="Ilias.class"  ID="APIAdapter" NAME="APIAdapter" width="0" height="0">');
        document.writeln('<param name = "code" value = "Ilias.class" >');
        document.writeln('<param name = "type" value="application/x-java-applet">');
        document.writeln('<param name = "mayscript" value="true" >');
        document.writeln('<param name = "scriptable" value="true" >');
        document.writeln('<param name="item_id" value="{ITEM_ID}">');
        document.writeln('<param name="user_id" value="{USER_ID}">');
        document.writeln('<param name="language" value="de_DE"></applet>');
                                                                                                                             
        // this one works in ns 4.x only, some switch implementation has still to be provided
        //document.writeln('<EMBED  Name="APIAdapter" type="application/x-java-applet;version=1.3" code="ILIAS.class" WIDTH="0" HEIGHT="0">');
    //document.writeln('</object>');
        init();
</script>
</frame>
<frame src="{ITEM_LOCATION}" name="item" arginwidth="0" marginheight="0" scrolling="auto"/>
<noframes>
The editor interface requires a <b>frames-capable</b> web browser.
</noframes>
</frameset>
</html>
