<form action="{FORMACTION}" name="post" method="post">

<table class="std">
<tr class="tblheader">
	<td class="std" colspan="2">
		{TXT_ACTION}
	</td>
</tr>
<!-- standard view -->
<tr class="tblheader">
	<td class="std" colspan="2">
		{TXT_STANDARD_VIEW}
	</td>
</tr>
<tr class="std">
	<td class="option">{TXT_TYPE}
	</td>
	<td class="option_value">
	{TXT_LOCATION}
	</td>
</tr>
<!-- Format -->
<tr class="std">
	<td class="option">{TXT_FORMAT}
	</td>
	<td class="option_value">
	{VAL_FORMAT}
	</td>
</tr>
<!-- Width -->
<tr class="std">
	<td class="option">
	{TXT_MOB_WIDTH}
	</td>
	<td class="option_value">
	<input name="{INPUT_MOB_WIDTH}" value="{VAL_MOB_WIDTH}" size="8" maxlength="8" />
	</td>
</tr>
<!-- Height -->
<tr class="std">
	<td class="option">
	{TXT_MOB_HEIGHT}
	</td>
	<td class="option_value">
	<input name="{INPUT_MOB_HEIGHT}" value="{VAL_MOB_HEIGHT}" size="8" maxlength="8" />
	</td>
</tr>
<!-- Caption -->
<tr class="std">
	<td class="option">
	{TXT_CAPTION}
	</td>
	<td class="option_value">
	<input name="{INPUT_CAPTION}" value="{VAL_CAPTION}" size="40" maxlength="100" />
	{SELECT_CAPTION}
	</td>
</tr>
<!-- Parameter -->
<tr class="std">
	<td class="option">{TXT_PARAMETER}
	</td>
	<td class="option_value">
	<textarea name="{INPUT_PARAMETERS}" cols="40" rows="4" wrap="virtual">{VAL_PARAMETERS}</textarea>
	</td>
</tr>
<!-- BEGIN fullscreen -->
<tr class="tblheader">
	<td class="std" colspan="2">
		{TXT_FULLSCREEN_VIEW}
	</td>
</tr>
<tr class="std">
	<td class="option">{TXT_FULL_TYPE}
	</td>
	<td class="option_value">
	{TXT_FULL_LOCATION}
	</td>
</tr>
<!-- Format -->
<tr class="std">
	<td class="option">{TXT_FULL_FORMAT}
	</td>
	<td class="option_value">
	{VAL_FULL_FORMAT}
	</td>
</tr>
<!-- Width -->
<tr class="std">
	<td class="option">
	{TXT_FULL_WIDTH}
	</td>
	<td class="option_value">
	<input name="{INPUT_FULL_WIDTH}" value="{VAL_FULL_WIDTH}" size="8" maxlength="8" />
	</td>
</tr>
<!-- Height -->
<tr class="std">
	<td class="option">
	{TXT_FULL_HEIGHT}
	</td>
	<td class="option_value">
	<input name="{INPUT_FULL_HEIGHT}" value="{VAL_FULL_HEIGHT}" size="8" maxlength="8" />
	</td>
</tr>
<!-- Caption -->
<tr class="std">
	<td class="option">
	{TXT_FULL_CAPTION}
	</td>
	<td class="option_value">
	<input name="{INPUT_FULL_CAPTION}" value="{VAL_FULL_CAPTION}" size="40" maxlength="100" />
	{SELECT_FULL_CAPTION}
	</td>
</tr>
<!-- Parameter -->
<tr class="std">
	<td class="option">{TXT_FULL_PARAMETER}
	</td>
	<td class="option_value">
	<textarea name="{INPUT_FULL_PARAMETERS}" cols="40" rows="4" wrap="virtual">{VAL_FULL_PARAMETERS}</textarea>
	</td>
</tr>
<!-- END fullscreen -->
<!-- BEGIN commands -->
<tr>
	<td class="submit" colspan="2">
		<input class="submit" type="submit" name="cmd[{BTN_NAME}]" value="{BTN_TEXT}" />
		<!-- BEGIN remove_full -->
		&nbsp;
		<input class="submit" type="submit" name="cmd[{CMD_REMOVE_FULL}]" value="{TXT_REMOVE_FULL}" />
		<!-- END remove_full -->
	</td>
</tr>
<!-- END commands -->
</form>
