<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
	"http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>ILIAS 3</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<link rel="stylesheet" type="text/css" href="{LOCATION_STYLESHEET}" />
</head>
<body>
<style>
body { margin:0px; }
</style>
<div class="il_ExplorerHeader">
{TXT_HELP_HEADER}
</div>
<div class="il_Explorer">
<form action="{FORMACTION}" name="post" method="post">
<table class="fullwidth">
<tr class="tblheader">
	<td class="std">{TXT_TYPE}</td>
</tr>
<tr class="std">
	<td class="option_value">{SELECT_TYPE}</td>
</tr>
<tr>
	<td class="submit">
	<input type="submit" class="submit" name="cmd[{CMD_CHANGETYPE}]" value="{BTN_CHANGETYPE}">
	<input type="submit" class="submit" name="cmd[{CMD_CLOSE}]" value="{BTN_CLOSE}">
	</td>
</tr>
</table>
</form>
<form action="{FORMACTION2}" name="post" method="post" {TARGET2}>
<!-- BEGIN chapter_list -->
<table class="fullwidth">
<tr class="tblheader">
	<td class="std">{TXT_CONTENT_OBJECT}</td>
</tr>
<tr class="std">
	<td class="option_value">{TXT_CONT_TITLE}</td>
</tr>
<tr>
	<td class="submit">
	<!-- BEGIN change_cont_obj -->
	<input type="submit" class="submit" name="cmd[{CMD_CHANGE_CONT_OBJ}]" value="{BTN_CHANGE_CONT_OBJ}">
	<!-- END change_cont_obj -->
	<!-- BEGIN new_mob -->
	<input type="submit" class="submit" name="cmd[{CMD_NEW_MOB}]" value="{BTN_NEW_MOB}">
	<!-- END new_mob -->
	</td>
</tr>
<!-- BEGIN row -->
<!-- BEGIN chapter_row -->
<tr class="{ROWCLASS}">
	<td class="std"><b>{TXT_CHAPTER}</b><br />{LINK_CHAPTER}</td>
</tr>
<!-- END chapter_row -->
<!-- BEGIN link_row -->
<tr class="{ROWCLASS}">
	<td class="std"><a href="{LINK}" target="content">{TXT_CHAPTER}</a></td>
</tr>
<!-- END link_row -->
<!-- END row -->
</table>
<!-- END chapter_list -->
</form>
</div>
</body>
</html>
