/**********HEADER**********/
#ilTopNav.navbar {
    float: left;
    margin-right: 15px;
    margin-left: 180px;
}
#ilTopNav {
    margin: -45px 0 0 0;
}
.ilMainHeader {
    background-color: #dc7800;
}
#ilTopNav .navbar-nav > .active > a,
#ilTopNav .navbar-nav > .open > a,
#ilTopNav .navbar-nav > .active > a:hover,
#ilTopNav .navbar-nav > .open > a:hover,
#ilTopNav .navbar-nav > .active > a:active,
#ilTopNav .navbar-nav > .open > a:active,
#ilTopNav .navbar-nav > .active > a:focus,
#ilTopNav .navbar-nav > .open > a:focus {
    border-top: none;
    background-color: #ae5f00;
}
#ilTopNav .navbar-nav > li > a:hover,
#ilTopNav .navbar-nav > li > a:active,
#ilTopNav .navbar-nav > li > a:focus {
    background-color: #ae5f00;
}
div.ilMemberViewMainHeader {
    background-color: #dc7800;
    color: white !important;
}
