@media  (max-width: 767px) {
#ilTopBar.ilTopBar {
    height: 60px;
    background-color: #f9f9f9;
    color: @mid-gray;
    border-bottom: 3px solid #f0f0f0;
 }
#ilTopBarNav > li > a {
    background-color: transparent;
    margin-top: 9px;
    font-size: initial;
  }
#ilTopNav button.navbar-toggle {
    color: white;
    border: 1px solid white;
 }
#ilTopNav {
     margin: 0px 0 0 0;
 }
#ilTopNav button.navbar-toggle .icon-bar {
     background-color: white;
 }
 #ilTopNav button.navbar-toggle:hover {
    background-color: #ae5f00;
 }
.ilMainMenu.ilTopFixed {
    top: 60px;
 }
.ilMainMenu {
     background-color: #E5EEF6;
 }
#ilTopNav .navbar-nav > li > a {
    color: #666;
    margin: 0px;
    padding: 7px 10px 8px;
 }
#ilTopNav.navbar-default {
    background-color: transparent;
 }
#ilTopNav.navbar {
    float: right;
    margin-right: 0px;
    width: 100%;
 }
#ilTopNav .navbar-nav > li {
    border-bottom: 1px solid #ccc;
    margin: 0px;
 }
#ilTopNav.navbar > .navbar-collapse {
    padding: 0 0 0 0;
 }
#ilTopBar.ilTopBar {
    background-color: #dc7800;
 }
 #ilTopNav .navbar-nav > li > a:hover,
 #ilTopNav .navbar-nav > li > a:active,
 #ilTopNav .navbar-nav > li > a:focus {
     background-color: #dc7800;
  }
.navbar-nav {
    margin: 0px 0px;
 }
#ilTopBarNav > li > a:hover,
#ilTopBarNav > li > a:active,
#ilTopBarNav > li > a:focus {
    background-color: #ae5f00;
}
#ilTopNav .navbar-nav > .active > a,
#ilTopNav .navbar-nav > .open > a,
#ilTopNav .navbar-nav > .active > a:hover,
#ilTopNav .navbar-nav > .open > a:hover,
#ilTopNav .navbar-nav > .active > a:active,
#ilTopNav .navbar-nav > .open > a:active,
#ilTopNav .navbar-nav > .active > a:focus,
#ilTopNav .navbar-nav > .open > a:focus {
    background-color: #dc7800;
 }
.navbar-nav .open .dropdown-menu > li > a,
.navbar-nav .open .dropdown-menu .dropdown-header {
    margin-left: -15px;
    margin-right: -15px;
 }
#ilTopBarNav > li > a {
    color: white;
 }
.ilMainHeader > header > .row > a.navbar-brand > img {
    height: 30px !important;
    top: 15px;
    margin-left: 21px;
 }
.ilMainHeader > header > .row > a.navbar-brand {
    height: 40px;
    width: 40px;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid white;
    margin: -30px 15px 0 !important;
    position: fixed;
 }
}
