<!-- BEGIN message_box -->
<div class="alert <!-- BEGIN failure_class -->alert-danger<!-- END failure_class --><!-- BEGIN success_class -->alert-success<!-- END success_class --><!-- BEGIN info_class -->alert-info<!-- END info_class --><!-- BEGIN confirmation_class -->alert-warning<!-- END confirmation_class -->" role="alert">
	<h5 class="ilAccHeadingHidden"><a id="il_message_focus" name="il_message_focus">{ACC_TEXT}</a></h5>{MESSAGE_TEXT}<!-- BEGIN buttons --><div>{BUTTONS}</div><!-- END buttons -->{LINK_LIST}</div>
<!-- END message_box -->