	<form class="il_Form" name="cmd" method="post" action="{FORMACTION}">
	  <table class="fullwidth">
		<tr class="tblheader">
		  <th class="std" colspan="3">
			  <img style="vertical-align: middle;" src="{TYPE_IMG}" alt="{ALT_IMG}" title="{ALT_IMG}" border="0" vspace="0" align="left" />&nbsp;{TITLE}: {EDIT_TIMINGS}
		  </th>
		</tr>
		<tr class="std">
		  <td class="option" width="30%">{TXT_TIMINGS}</td>
		  <td class="option_value">
			{RADIO_DEACTIVATE}
			<div class="subtitle">
			  {INFO_DEACTIVATED}
			</div>
		  </td>
		</tr>
		<tr class="std">
		  <td class="option">
			{TXT_AVAILABILITY}
		  </td>
		  <td class="option_value">
			{RADIO_ACTIVATION}&nbsp;{TXT_ACTIVATION_ENABLED}
			<br />{CHECK_VISIBILITY}&nbsp;{TXT_VISIBILITY}
			<table>
			  <tr>
				<td>
				  {TXT_BEGIN}:
				</td>
				<td>
				  {START_DATE_SELECT} {TXT_TIME}: {START_TIME_SELECT}
				</td>
			  </tr>
			  <tr>
				<td>				
				  {TXT_END}:
				</td>
				<td>
				  {END_DATE_SELECT} {TXT_TIME}: {END_TIME_SELECT}
				</td>
			  </tr>
			</table>
			<div class="subtitle">
			  {INFO_AVAILABILITY}
			</div>
		  </td>
		</tr>
		<tr class="std">
		  <td class="option">
			{TXT_PRESETTING}
		  </td>
		  <td class="option_value">
			{RADIO_TIMINGS}&nbsp;{TXT_TIMINGS_PRESETTING}<br />
			<table>
			  <tr>
				<td>
				  {TXT_SUG_BEGIN}:
				</td>
				<td>
				  {SUG_START_SELECT}
				</td>
			  </tr>
			  <tr>
				<td>				
				  {TXT_SUG_END}:
				</td>
				<td>
				  {SUG_END_SELECT}
				</td>
			  </tr>
			</table>
			{CHECK_CHANGE} {TXT_CHANGE}<br />
			<table>
			  <tr>
				<td>
				  {TXT_EARLY_BEGIN}:
				</td>
				<td>
				  {EARLY_SELECT}
				</td>
			  </tr>
			  <tr>
				<td>				
				  {TXT_LATE_END}:
				</td>
				<td>
				  {LATE_SELECT}
				</td>
			  </tr>
			</table>
			<div class="subtitle">
			  {INFO_PRESETTING}
			</div>
		  </td>
		</tr>
		<tr>
		  <td class="submit" colspan="2" align="right">
			<input type="submit" class="submit" name="cmd[update]" value="{TXT_SAVE}" />
			<input type="submit" class="submit" name="cmd[cancel]" value="{TXT_CANCEL}" />
		  </td>
		</tr>			

	  </table>
	</form>