	<form action="{F_ACTION}" name="post" method="post" >
	  <table class="std">
		  <tr class="tblheader">
			<td class="std" colspan="2">{SEARCH_ASSIGN_USR}</td>
		  </tr>
		  <tr class="std">
			<td class="option">{SEARCH_SEARCH_TERM}</td>
			<td class="option_value"><input type="text" name="search_str" size="30" /></td>
		  </tr>
		  <tr class="std">
			<td class="option">{SEARCH_FOR}</td>
			<td class="option_value">&nbsp;</td>
		  </tr>
		  <!-- BEGIN USR_SEARCH_ROW -->
		  <tr class="std">
			<td class="sub_option">&nbsp;</td>
			<td class="option_value">{SEARCH_ROW_CHECK}&nbsp; {SEARCH_ROW_TXT}</td>
		  </tr>
		  <!-- END USR_SEARCH_ROW -->
			<td class="submit" colspan="2">
			  <input class="submit" type="submit" name="search" value="{BTN1_VALUE}" />&nbsp;
			  <input class="submit" type="submit" name="cancel" value="{BTN2_VALUE}" />&nbsp;
			</td>
		  </tr>
	  </table>
	</form>
