	<form action="{FORMACTION}" {TARGET} method="post">
	  <table class="std" width="60%">
		  <tr class="tbltitle">
			<td colspan="4">
			  <table class="fullwidth_invisible" cellspacing="0">
				  <tr class="tbltitle">
					<td width="10"><img src="{TBL_TITLE_IMG}" alt="{TBL_TITLE_IMG_ALT}" title="{TBL_TITLE_IMG_ALT}" border="0" /></td>
					<td class="tbltitle" align="left">&nbsp;{TXT_HEADER}</td>
				  </tr>
			  </table>
			</td>
		  </tr>
		<tr>
		  <td class="option" align="top" rowspan="5">{TXT_VISIBILITY}</td>
		  <td class="sub_option">{TXT_VISIBILITY_UNVISIBLE}</td>
		  <td class="option_value">{ACTIVATION_OFFLINE}<div class="il_Description_no_margin">{ACTIVATION_UNV_INFO}</div></td>
		</tr>
		<tr>
		  <td class="sub_option">{TXT_VISIBILITY_LIMITLESS}</td>
		  <td class="option_value">{ACTIVATION_UNLIMITED}&nbsp;<div class="il_Description_no_margin">{ACTIVATION_UNL_INFO}</div></td>
		</tr>
		<tr>
		  <td class="sub_option" rowspan="3">{TXT_VISIBILITY_UNTIL}</td>
		  <td class="option_value">{ACTIVATION_UNTIL}<div class="il_Description_no_margin">{ACTIVATION_LIM_INFO}</div></td>
		</tr>
		<tr>
		  <td class="option_value">{SELECT_ACTIVATION_START_DAY}&nbsp;{SELECT_ACTIVATION_START_MONTH}&nbsp;{SELECT_ACTIVATION_START_YEAR}&nbsp;{SELECT_ACTIVATION_START_HOUR}:&nbsp;{SELECT_ACTIVATION_START_MINUTE}</td>
		</tr>
		<tr>
		  <td class="option_value">{SELECT_ACTIVATION_END_DAY}&nbsp;{SELECT_ACTIVATION_END_MONTH}&nbsp;{SELECT_ACTIVATION_END_YEAR}&nbsp;{SELECT_ACTIVATION_END_HOUR}:&nbsp;{SELECT_ACTIVATION_END_MINUTE}</td>
		</tr>
	  <tr>
		<td class="option">{TXT_SYLLABUS}</td>
		<td class="option_value" colspan="2">
		  <textarea id="syllabus" name="crs[syllabus]" rows="10" cols="80">{SYLLABUS}</textarea>
		</td>
	  </tr>
	  <tr>
		<td class="option" align="top" rowspan="5">{TXT_CONTACT}</td>
		<td class="sub_option">{TXT_CONTACT_NAME}</td>
		<td class="option_value"><input name="crs[contact_name]" value="{CONTACT_NAME}" size="40" maxlength="70" style="width:300px;"/></td>
	  </tr>
	  <tr>
		<td class="sub_option">{TXT_CONTACT_RESPONSIBILITY}</td>
		<td class="option_value"><input name="crs[contact_responsibility]" value="{CONTACT_RESPONSIBILITY}" size="40" maxlength="70" style="width:300px;" /></td>
	  </tr>
	  <tr>
		<td class="sub_option">{TXT_CONTACT_PHONE}</td>
		<td class="option_value"><input name="crs[contact_phone]" value="{CONTACT_PHONE}" size="40" maxlength="40" style="width:300px;"/></td>
	  </tr>
	  <tr>
		<td class="sub_option">{TXT_CONTACT_EMAIL}</td>
		<td class="option_value"><input name="crs[contact_email]" value="{CONTACT_EMAIL}" size="40" maxlength="70" style="width:300px;"/></td>
	  </tr>
	  <tr>
		<td class="sub_option">{TXT_CONTACT_CONSULTATION}</td>
		<td class="option_value"><textarea id="consultation" name="crs[contact_consultation]" rows="10" cols="60">{CONTACT_CONSULTATION}</textarea></td>
	  </tr>

	  <tr>
		<td class="option" align="top" rowspan="10">{TXT_SUBSCRIPTION}</td>
		<td class="sub_option">{TXT_REGISTRATION_DEACTIVATED}</td>
		<td class="option_value">{REGISTRATION_DEACTIVATED}<div class="il_Description_no_margin">{REG_DEAC_INFO}</div></td>
	  </tr>		
	  <tr>
		<td class="sub_option">{TXT_REGISTRATION_UNLIMITED}</td>
		<td class="option_value">{REGISTRATION_UNLIMITED}<div class="il_Description_no_margin">{REG_UNLIM_INFO}</div></td>
	  </tr>		
	  <tr>
		<td class="sub_option" rowspan="3">{TXT_REGISTRATION_LIMITED}</td>
		<td class="option_value">{REGISTRATION_LIMITED}<div class="il_Description_no_margin">{REG_LIM_INFO}</div></td>
	  </tr>		
	  <tr>
		<td class="option_value">{SELECT_SUBSCRIPTION_START_DAY}&nbsp;{SELECT_SUBSCRIPTION_START_MONTH}&nbsp;{SELECT_SUBSCRIPTION_START_YEAR}&nbsp;{SELECT_SUBSCRIPTION_START_HOUR}:&nbsp;{SELECT_SUBSCRIPTION_START_MINUTE}</td>
	  </tr>
	  <tr>
		<td class="option_value">{SELECT_SUBSCRIPTION_END_DAY}&nbsp;{SELECT_SUBSCRIPTION_END_MONTH}&nbsp;{SELECT_SUBSCRIPTION_END_YEAR}&nbsp;{SELECT_SUBSCRIPTION_END_HOUR}:&nbsp;{SELECT_SUBSCRIPTION_END_MINUTE}</td>
	  </tr>
	  <tr>
		<td class="sub_option" rowspan="3">{TXT_REGISTRATION_TYPE}</td>
		<td class="option_value">{RADIO_SUB_CONFIRMATION}&nbsp;{TXT_CONFIRMATION}</td>
	  </tr>
	  <tr>
		<td class="option_value">{RADIO_SUB_DIRECT}&nbsp;{TXT_DIRECT}</td>
	  </tr>
	  <tr>
		<td class="option_value">{RADIO_SUB_PASSWORD}&nbsp;{TXT_PASSWORD}&nbsp;<input name="crs[subscription_password]" value="{SUBSCRIPTION_PASSWORD}" size="12" maxlength="12" /></td>
	  </tr>
	  <tr>
		<td class="sub_option">{TXT_SUBSCRIPTION_MAX_MEMBERS}</td>
		<td class="option_value"><input name="crs[subscription_max]" value="{SUBSCRIPTION_MAX_MEMBERS}" size="3" maxlength="4" /><div class="il_Description_no_margin">{REG_MAX_INFO}</div></td>
	  </tr>
	  <tr>
		<td class="sub_option">&nbsp;</td>
		<td class="option_value">{CHECK_SUBSCRIPTION_NOTIFY}<div class="il_Description_no_margin">{REG_NOTY_INFO}</div></td>
	  </tr>







	  <tr>
		<td class="option" align="top" rowspan="5">{TXT_SORTORDER}</td>
		<td class="sub_option" rowspan="5">&nbsp;</td>
		<td class="option_value">{RADIO_SORTORDER_MANUAL}&nbsp;{TXT_MANUAL}</td>
	  </tr>
	  <tr>
		<td class="option_value">{RADIO_SORTORDER_TITLE}&nbsp;{TXT_TITLE}</td>
	  </tr>
	  <tr>
		<td class="option_value">{RADIO_SORTORDER_ACTIVATION}&nbsp;{TXT_SORT_ACTIVATION}</td>
	  </tr>
	  <tr>
		<td class="option_value">{CHECK_OBJ_VIEW}&nbsp;{TXT_OBJ_VIEW}</td>
	  </tr>
	  <tr>
		<td class="option_value">{CHECK_ABO}&nbsp;{TXT_ABO}</td>
	  </tr>
	  <tr>
		<td class="option" align="top" rowspan="5">{TXT_ARCHIVE}</td>
		<td class="sub_option">{TXT_ARCHIVE_START}</td>
		<td class="option_value">{SELECT_ARCHIVE_START_DAY}&nbsp;{SELECT_ARCHIVE_START_MONTH}&nbsp;{SELECT_ARCHIVE_START_YEAR}&nbsp;{SELECT_ARCHIVE_START_HOUR}:&nbsp;{SELECT_ARCHIVE_START_MINUTE}</td>
	  </tr>
	  <tr>
		<td class="sub_option">{TXT_ARCHIVE_END}</td>
		<td class="option_value">{SELECT_ARCHIVE_END_DAY}&nbsp;{SELECT_ARCHIVE_END_MONTH}&nbsp;{SELECT_ARCHIVE_END_YEAR}&nbsp;{SELECT_ARCHIVE_END_HOUR}:&nbsp;{SELECT_ARCHIVE_END_MINUTE}</td>
	  </tr>
	  <tr>
		<td class="sub_option" rowspan="3">{TXT_ARCHIVE_TYPE}</td>
		<td class="option_value">{RADIO_ARCHIVE_DISABLED}&nbsp;{TXT_DISABLED}</td>
	  </tr>
	  <tr>
		<td class="option_value">{RADIO_ARCHIVE_READ}&nbsp;{TXT_READ}</td>
	  </tr>
	  <tr>
		<td class="option_value">{RADIO_ARCHIVE_DOWNLOAD}&nbsp;{TXT_DOWNLOAD}</td>
	  </tr>
	  <tr>
		<td class="submit" colspan="3">
		  <span class="asterisk">*</span><span class="small"> {TXT_REQUIRED_FLD}</span>
		  <div align="right">
			<input class="submit" type="submit" name="cmd[cancel]" value="{TXT_CANCEL}" />
			  <input class="submit" type="submit" name="cmd[{CMD_SUBMIT}]" value="{TXT_SUBMIT}" />
		  </div>
		</td>
	  </tr>
	</table>
  </form>

{PRECONDITION_TABLE}
