<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
	"http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
	<title>{TITLE}</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	  <link rel="stylesheet" type="text/css" href="./default.css" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		  <script type="text/javascript" src="{JS_PATH}/functions.js"></script>
  </head>
  <body>
	<h2>{CRS_STRUCTURE}</h2>
	{STRUCTURE}
  </body>
</html>