	<form action="{FORMACTION}" name="ObjectItems" method="post">
	  <table class="{CSS_TABLE}" width="{WIDTH}">
		  <tr class="tbltitle">
			<td colspan="{COLUMN_COUNT}">
			  <table class="fullwidth_invisible" cellspacing="0">
				  <tr class="tbltitle">
					<td width="10"><img src="{TBL_TITLE_IMG}" alt="{TBL_TITLE_IMG_ALT}" title="{TBL_TITLE_IMG_ALT}" border="0" /></td>
					<td class="tbltitle" align="left">&nbsp;{TBL_TITLE}</td>
				  </tr>
			  </table>
			</td>
		  </tr>
		  <tr class="tblheader">
			<!-- BEGIN tbl_header_no_link -->
			<td class="std" nowrap="nowrap" {TBL_HEADER_COLSPAN} width="{TBL_COLUMN_WIDTH_NO_LINK}" >{TBL_HEADER_CELL_NO_LINK}</td>
			<!-- END tbl_header_no_link -->
		  </tr>
		  <!-- BEGIN objective_row -->
		  <tr>
			<td class="option" rowspan="{ROWSPAN}">
			  {OBJ_TITLE}
			</td>
			<td class="sub_option">
			  &nbsp;
			</td>
			<td class="option_info">
			  <b>{OBJ_QST}</b>
			</td>
			<td class="option_info">
			  <b>{OBJ_POINTS}</b>
			</td>
			<td class="option_value">
			  &nbsp;
			</td>
		  </tr>
		  <!-- BEGIN test_row -->
		  <tr>
			<td class="sub_option">{TEST_TITLE}</td>
			<td class="option_value_center">
			  {TEST_QST}
			</td>
			<td class="option_value_center">
			  {TEST_POINTS}
			</td>
			<td>
			  <table class="fullwidth_invisible">
				  <tr>
					<td class="option_value">
					  {TXT_CHANGE_STATUS} {CHECK_CHANGE_STATUS}
					</td>
				  </tr>
				  <tr>
					<td class="option_value">
					  {TXT_SUGGEST} &lt;= <input name="{SUGGEST_NAME}" value="{SUGGEST_VALUE}" size="3" maxlength="3"/>&nbsp;%
					</td>
				  </tr>
			  </table>
			</td>
		  </tr>
		  <!-- END test_row -->
		  <!-- END objective_row -->
		<!-- BEGIN edit_footer -->
		  <tr>
			<td class="submit" colspan="5">
			  <div align="right">
				<input class="submit" type="submit" name="cmd[editQuestionAssignment]" value="{TXT_RESET}" />
				<input class="submit" type="submit" name="cmd[{CMD_UPDATE}]" value="{TXT_UPDATE}" />
			  </div>
			</td>
		  </tr>
		<!-- END edit_footer -->
	  </table>
	</form>
