  <tr>
  <td valign="top" class="{ROWCOL}" width="1" style="white-space:nowrap;">
    <!-- BEGIN block_row_check --><input type="checkbox" name="rep_item_id[]" value="{ITEM_ID}" /><!-- END block_row_check -->
	<img src="{TYPE_IMG}" alt="{ALT_IMG}" title="{ALT_IMG}" border="0" />
  </td>
  <td valign="top" class="{ROWCOL}">
	{ITEM_HTML}
  </td>
  <!-- BEGIN options -->
  <td valign="center" class="{OPT_ROWCOL}" nowrap="nowrap" style="text-align:center;">
	<!-- BEGIN img -->
	<a href="{IMG_LINK}" target="{IMG_TARGET}"><img src="{IMG_TYPE}" alt="{IMG_ALT}" title="{IMG_ALT}" border="0" vspace="0" /></a>&nbsp;
	<!-- END img -->
  </td>
  <!-- END options -->
  </tr>
  