	<form action="{FORMACTION}" method="post">
	  <table class="std" width="30%">
		<tr class="tblheader">
		  <th>{TIMING_ACCEPT}</th>
		</tr>
		<tr class="std">
		  <td class="option_value">
			<input type="checkbox" name="accepted" value="1" {ACCEPT_CHECKED} /> {TXT_ACCEPT}<br />
			<div style="padding-top:5px;">
			  {TXT_REMARK}:
			</div>
			<textarea rows="3" cols="50" name="remark">{REMARK}</textarea>
			<div style="padding-top:5px;">
			  <input type="checkbox" name="tutor" value="1" {TUTOR_CHECKED} /> {TXT_TUTOR}<br />
			</div>
		</tr>
		<tr class="tblfooter">
		  <td class="std" colspan="2">
			<div align="right">
			  <input class="submit" type="submit" name="cmd[saveAcceptance]" value="{TXT_BTN_UPDATE}" />
			</div>
		  </td>
		</tr>
	  </table>
	  <br />
	  <table class="fullwidth" border="0">
		  <tr class="tbltitle">
			<th class="std" colspan="7">
			  <img style="vertical-align: middle;" border="0" src="{HEADER_IMG}" alt="{HEADER_ALT}" title="{HEADER_ALT}" />
			  &nbsp;{BLOCK_HEADER_CONTENT}
			</th>
		  </tr>
		  <tr class="tblheader">
			<th class="std" width="30%">{TXT_TITLE}</th>
			<th class="std" width="15%">{TXT_START_END}</th>
			<th class="std" width="15%">{TXT_LIMIT}</th>
		    <th class="std" width="30%">{TXT_OWN_PRESETTING}</th>
		    <th class="std" width="10%">{TXT_DURATION}</th>
		  </tr>
		  <!-- BEGIN container_standard_row -->
		  <tr class="{ROWCLASS}">
			<td>
			  <!-- BEGIN start_indent --><div style="padding-left:26px"><!-- END start_indent -->
				<div style="float:left;">
				  <img src="{TYPE_IMG}" alt="{TYPE_ALT_IMG}" title="{TYPE_ALT_IMG}" border="0" vspace="0" align="absmiddle" />
				</div>
				<div style="float:left;padding-left:5px">
				  <b>{TITLE}</b>
				  <!-- BEGIN item_description -->
				  <div class="il_Description" >{DESC}</div>
				  <!-- END item_description -->
				</div>
				<!-- BEGIN end_indent --></div><!-- END end_indent -->
			</td>
			<td nowrap="nowrap">
			  {SUG_START}<br />
			  {SUG_END}
			</td>
			<td nowrap="nowrap">
			  {LIM_START}<br />
			  {LIM_END}
			</td>
			<td nowrap="nowrap">
			  {OWN_START}<br />
			  {OWN_END}
			</td>
		  <td align="center">
			<input type="text" name="{NAME_DURATION}" value="{VAL_DURATION}" size="2" maxlength="3" />
		  </td>
		  </tr>
		  <!-- END container_standard_row -->
		<tr class="tblfooter">
		  <td class="std" colspan="6">
			<div align="right">
			  <input class="submit" type="submit" name="cmd[updateUserTimings]" value="{TXT_BTN_UPDATE}" />
			  <input class="submit" type="submit" name="cmd[editUserTimings]" value="{TXT_CANCEL}" />
			</div>
		  </td>
		</tr>
	  </table>
	</form>
