<tr class="{CSS_ROW}">
  <td class="std" valign="top" align="center">
	<div style="text-align:center"><input type="checkbox" name="participants[]" value="{USER_ID}" {CHECKED} /></div>
  </td>
  <td class="std" valign="top" nowrap="1">
	{LASTNAME}, {FIRSTNAME} [{LOGIN}]
	<!-- BEGIN comment -->
	<div class="il_ItemProperty">{TXT_COMMENT}: {USR_COMMENT}</div>
	<!-- END comment -->
  </td>
  <td class="std" valign="top" align="center"> 
	<div style="text-align:center">{MARK}</div>
  </td>
  <!-- BEGIN registered_col -->
  <td class="std" valign="top" align="center">
	<div style="text-align:center"><img src="{IMAGE_REGISTERED}" alt="{REGISTERED}" title="{REGISTERED}" border="0"></div>
  </td>
  <!-- END registered_col -->
  <td class="std" valign="top" align="center">
	<div style="text-align:center"><img src="{IMAGE_PART}" alt="{PART}" title="{PART}" border="0"></div>
  </td>
  <td class="std" valign="top">
	<a class="il_ContainerItemCommand" href="{EDIT_LINK}">{TXT_EDIT}</a>
  </td>
</tr>
