	<form action="{FORMACTION}" method="post" name="cmd">
	  <table class="std">
		<tr class="tbltitle">
		  <th class="std" colspan="2">
			  <img src="{USR_IMAGE}" style="vertical-align: middle;" alt="{ALT_USER}" title="{ALT_USER}" border="0">
			  {EVENT_TITLE}: {FULLNAME} [{LOGIN}]
			</th>
		</tr>
		<tr class="std">
		  <td class="option">{TXT_PARTICIPANCE}</td>
		  <td class="option_value">
			<input type="checkbox" name="participance" value="1" {PART_CHECKED} />
		  </td>
		</tr>
		<tr class="std">
		  <td class="option">{TXT_REGISTERED}</td>
		  <td class="option_value">
			<input type="checkbox" name="registration" value="1" {REG_CHECKED} />
		  </td>
		</tr>
		<tr class="std">
		  <td class="option" width="30%">{TXT_MARK}</td>
		  <td class="option_value"><input type="text" name="mark" value="{MARK}" maxlength="70"></td>
		</tr>
		<tr class="std">
		  <td class="option" width="30%">{TXT_COMMENT}</td>
		  <td class="option_value" width="70%">
			<input type="text" name="comment" value="{COMMENT}" maxlength="127">
			<!-- 
			<textarea rows="3" cols="50" name="comment">{COMMENT}</textarea>
			-->
		  </td>
		</tr>
		<tr class="tblfooter">
		  <td class="std" colspan="2">
			<div align="right">
			  <input class="submit" type="submit" name="cmd[updateUser]" value="{TXT_BTN_UPDATE}" />
			  <input class="submit" type="submit" name="cmd[editMembers]" value="{TXT_CANCEL}" />
			</div>
		  </td>
		</tr>
