	<form class="il_Form" name="cmd" method="post" action="{FORMACTION}">
	  <table class="fullwidth">
		  <tr class="tblheader">
			<th class="std" colspan="3">
			  <div style="float:left;">
				<img src="{TYPE_IMG}" alt="{ALT_IMG}" title="{ALT_IMG}" border="0" vspace="0" align="left" />
				&nbsp;{TITLE}
			  </div>
			</th>
		  </tr>
		  <tr class="std">
			<td class="option" align="top" rowspan="3" width="30%">{TXT_AVAILABILITY}</td>
			<td class="option_value">{RADIO_DEACTIVATE}&nbsp;{TXT_TIMINGS_DEACTIVATED}</td>
		  </tr>
		  <tr class="std">
			<td class="option_value">{RADIO_ACTIVATION}&nbsp;{TXT_TIMINGS_ACTIVATION}
			  <ul class="il_Explorer">
				<li class="il_Explorer">{CHECK_VISIBILITY}&nbsp;{TXT_VISIBILITY}</li>
			  </ul>
			</td>
		  </tr>
		  <tr class="std">
			<td class="option_value">{RADIO_TIMINGS}&nbsp;{TXT_TIMINGS_PRESETTING}
			  <ul class="il_Explorer">
				<li class="il_Explorer">{CHECK_CHANGE}&nbsp;{TXT_CHANGE}</li>
			  </ul>
			</td>
		  </tr>
		  <tr class="std">
			<td class="option" align="top">{TXT_START}</td>
			<td class="option_value">{SELECT_ACTIVATION_START_DAY}&nbsp;
			  {SELECT_ACTIVATION_START_MONTH}&nbsp;{SELECT_ACTIVATION_START_YEAR}&nbsp;
			  {SELECT_ACTIVATION_START_HOUR}:&nbsp;{SELECT_ACTIVATION_START_MINUTE}
			</td>
		  </tr>
		  <tr class="std">
			<td class="option" align="top">{TXT_END}</td>
			<td class="option_value">{SELECT_ACTIVATION_END_DAY}&nbsp;
			  {SELECT_ACTIVATION_END_MONTH}&nbsp;{SELECT_ACTIVATION_END_YEAR}&nbsp;
			  {SELECT_ACTIVATION_END_HOUR}:&nbsp;{SELECT_ACTIVATION_END_MINUTE}
			</td>
		  </tr>
		  <tr>
			<td class="submit" colspan="2" align="right">
			  <input type="submit" class="submit" name="cmd[update]" value="{TXT_SAVE}" />
			  <input type="submit" class="submit" name="cmd[cancel]" value="{TXT_CANCEL}" />
			</td>
		  </tr>			

	  </table>
	</form>