<?php xml version = "1.0" encoding = "UTF-8"?>
<module xmlns="http://www.w3.org" version="$Id: modules.xml 15671 2008-01-04 13:08:30Z akill $"
	id="poll">
	<baseclasses>
	</baseclasses>
	<objects>
		<object id="poll" class_name="Poll" dir="classes" default_pos="350" default_pres_pos="350"
			checkbox="1" inherit="1" translate="0" allow_link="1" allow_copy="1" rbac="1" export="1" 
			sideblock="1" workspace="1" repository="1">
			<subobj id="rolf" max="1">rolf</subobj>
			<parent id="cat">cat</parent>
			<parent id="crs">crs</parent>
			<parent id="fold">fold</parent>
			<parent id="grp">grp</parent>
			<parent id="recf">recf</parent>
			<parent id="root">root</parent>		
		</object>	
	</objects>
</module>