<ul class="{LIST_CLASS}" role="{LIST_ROLE}">
<!-- BEGIN multi_start --><li><div class="row" style="width: 750px;"><ul class="col-sm-4 list-unstyled"><!-- END multi_start -->
<!-- BEGIN item -->
<!-- BEGIN group_head --><li class="dropdown-header {ADD_CLASS}">{GROUP_HEAD}</li><!-- END group_head -->
<!-- BEGIN sep --><li class="divider"></li><!-- END sep -->
<!-- BEGIN linked_entry --><li class="{ADD_CLASS}"><a href="{HREF}" {TARGET} {ID} {ONCLICK}>{TXT_ENTRY}</a></li><!-- END linked_entry -->
<!-- BEGIN unlinked_entry --><li class="{ADD_CLASS2}"><span>{TXT_ENTRY2}</span></li><!-- END unlinked_entry -->
<!-- BEGIN next_col --></ul><ul class="col-sm-4 list-unstyled"><!-- END next_col -->
<!-- END item -->
<!-- BEGIN multi_end --></ul></div></li><!-- END multi_end -->
</ul>
<!-- BEGIN script --><script type="text/javascript">
{TT_CALLS}
il.Tooltip.init();
</script><!-- END script -->
