<ul class="{LIST_CLASS}" {LIST_ROLE}>
<!-- BEGIN multi_start --><li><div class="row"><ul class="col-md-6 col-lg-4 list-unstyled"><!-- END multi_start -->
<!-- BEGIN item -->
    <!-- BEGIN group_head --><li class="dropdown-header {ADD_CLASS}"><h2>{GROUP_HEAD}</h2></li><!-- END group_head -->
<!-- BEGIN sep --><li class="divider"></li><!-- END sep -->
<!-- BEGIN linked_entry --><li class="{ADD_CLASS}"><a href="{HREF}" {TARGET} {ID} {ONCLICK}>{TXT_ENTRY}</a></li><!-- END linked_entry -->
<!-- BEGIN unlinked_entry --><li class="{ADD_CLASS2}"><span>{TXT_ENTRY2}</span></li><!-- END unlinked_entry -->
<!-- BEGIN next_col --></ul><ul class="col-md-6 col-lg-4 list-unstyled"><!-- END next_col -->
<!-- END item -->
<!-- BEGIN multi_end --></ul></div></li><!-- END multi_end -->
</ul>
<!-- BEGIN script --><script>
{TT_CALLS}
il.Tooltip.init();
</script><!-- END script -->
