/* Services/MediaObjects */

.ilPlayerPreviewOverlayOuter {
	position: relative;
}

.ilPlayerPreviewOverlay {
	position: relative;
	width: 320px;
	height: auto;
	cursor: pointer;
}

.ilPlayerPreviewDescription {
	padding: 7px;
	font-size: 85%;
	position: absolute;
	width: 100%;
	color: #f0f0f0;
	/* margin-top: -240px; */
	top: 0;
	background: url("@{il-background-images-path}black60.png");
}

.ilPlayerPreviewOverlay img {
	cursor: pointer;
	width: 100%;
	height: 100%;
}

.ilPlayerPreviewDescriptionDownload {
	float: right;
}

.ilPlayerPreviewDescriptionDownload a {
	color: white;
}

.mejs-overlay-button {
	background-image: url("@{il-background-images-path}bigplay.svg");
}

.ilPlayerPreviewPlayButton {
	background: url("@{il-background-images-path}bigplay.svg") no-repeat scroll 0 0 transparent;
	height: 100px;
	left: 50%;
	margin: -50px 0 0 -50px;
	position: absolute;
	top: 50%;
	width: 100px;
	cursor: pointer;
}

.ilPlayerPreviewOverlay:hover .ilPlayerPreviewPlayButton {
	background-position: 0 -100px;
}
