<div class="multi_input_line ilWzdContainerText form-inline" <!-- BEGIN cust_attr -->{CUSTOM_ATTR_KEY} = "{CUSTOM_ATTR_VALUE}"<!-- END cust_attr -->>
	<div class="ilWzdRow">
		<!-- BEGIN input -->
		<div style="display:inline-block">{CONTENT}</div>
		<!-- END input -->

		<!-- BEGIN multi_icons -->
			<button type="button" class="add_button ilWzdBtn_add btn btn-link"><span class="sr-only"></span>{IMAGE_PLUS}</button>
			<button type="button" class="remove_button ilWzdBtn_remove btn btn-link"><span class="sr-only"></span>{IMAGE_MINUS}</button>
			<button type="button" class="up_button ilWzdBtn_up btn btn-link"><span class="sr-only"></span>{IMAGE_UP}</button>
			<button type="button" class="down_button ilWzdBtn_down btn btn-link"><span class="sr-only"></span>{IMAGE_DOWN}</button>
		<!-- END multi_icons -->
	</div>
    <!-- BEGIN input_label -->
    <!--<div class="input">-->
        <!--<label>{LABEL}</label>-->
        <!--{CONTENT}-->
    <!--</div>-->
    <!-- END input_label -->

</div>