<tr class="{CSS_ROW}">
    <td class="std">
        <!-- BEGIN FIELD_ID -->
        <input type="checkbox" name="dcl_field_ids[]" value="{FIELD_ID}">
        <!-- END FIELD_ID -->
    </td>
    <!-- BEGIN order -->
	<td class="name">
        <input type="text" size="3" maxlength="4" name="{ORDER_NAME}" value="{ORDER_VALUE}">
    </td>
    <!-- END order -->
    <!-- BEGIN no_order -->
    <td class="name">
        {NO_ORDER}
    </td>
    <!-- END no_order -->

	<td class="name">{TITLE}</td>
    <td class="visible">
        <input type="checkbox" name="{CHECKBOX_VISIBLE}" {CHECKBOX_VISIBLE_CHECKED}>
    </td>

    <!-- BEGIN filter -->
	<td class="filter">
        <input type="checkbox" name="{CHECKBOX_FILTERABLE}" {CHECKBOX_FILTERABLE_CHECKED}>
    </td>
    <!-- END filter -->
    <!-- BEGIN no_filter -->
    <td class="filter">
        {NO_FILTER}
    </td>
    <!-- END no_filter -->

    <!-- BEGIN locked -->
    <td class="dcl_locked">
        <input type="checkbox" name="{CHECKBOX_NAME_LOCKED}" {CHECKBOX_CHECKED_LOCKED}>
    </td>
    <!-- END locked -->
    <!-- BEGIN not_locked -->
    <td class="dcl_not_locked">
        {NOT_LOCKED}
    </td>
    <!-- END not_locked -->
    <!-- BEGIN exportable -->
    <td class="dcl_exportable_checkbox">
        <input type="checkbox" name="{CHECKBOX_EXPORTABLE}" {CHECKBOX_EXPORTABLE_CHECKED}>
    </td>
    <!-- END exportable -->
    <!-- BEGIN no_filter_exportable -->
    <td class="filter">
        {NO_FILTER_EXPORTABLE}
    </td>
    <!-- END no_filter_exportable -->
	<td class="desc">{DESCRIPTION}</td>
	<td class="datatype">{DATATYPE}</td>
    <!-- BEGIN required -->
	<td class="req">
		<img src="{REQUIRED}">
	</td>
    <!-- END required -->

    <!-- BEGIN unique -->
    <td class="uniq">
        <img src="{UNIQUE}">
    </td>
    <!-- END unique -->

    <!-- BEGIN no_required -->
    <td class="req">
        {NO_REQUIRED}
    </td>
    <!-- END no_required -->

    <!-- BEGIN no_unique -->
    <td class="uniq">
        {NO_UNIQUE}
    </td>
    <!-- END no_unique -->

    <td class="req">
       {ACTIONS}
    </td>
</tr>