<?php xml version = "1.0" encoding = "UTF-8"?>
<module xmlns="http://www.w3.org" version="$Id: modules.xml 15671 2008-01-04 13:08:30Z akill $"
	name="TestQuestionPool" short="qpl" dir="Modules/TestQuestionPool">
	<baseclasses>
		<baseclass name="ilObjQuestionPoolGUI" dir="classes" />
	</baseclasses>
	<objects>
		<object short="qpl" class_name="QuestionPool" location="Modules/TestQuestionPool/classes"
			module="Modules/TestQuestionPool"
			checkbox="1" inherit="1" allow_link="1" translate="0" rbac="1">
			<subobj name="rolf" max="1">rolf</subobj>
		</object>
	</objects>
</module>
