<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
     "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>ILIAS 3</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{LOCATION_STYLESHEET}" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>

<!--
/**
 * frameset for ilias
 * this file is the basic frameset for ilias
 * topframe with buttons
 * bottomframe with content
 *
 * @author Peter Gabriel <pgabriel@databay.de>
 * @package ilias-layout
 * @version $Id$
 */
//-->

{RELOAD}

<frameset rows="70,*" frameborder="0" framespacing="0" border="0">
<frame src="buttons.php" name="top" marginheight="0" scrolling="no" />
<frame src="{SCRIPT}" name="bottom" marginwidth="0" marginheight="0" scrolling="auto" />
<noframes>
ILIAS requires the use of a <b>frames-capable</b> web browser.
</noframes>
</frameset>
</html>
