<?php xml version = "1.0" encoding = "UTF-8"?>
<module xmlns="http://www.w3.org" version="$Id: modules.xml 15671 2008-01-04 13:08:30Z akill $"
	id="wiki">
	<baseclasses>
		<baseclass name="ilWikiHandlerGUI" dir="classes" />
	</baseclasses>
	<objectgroups>
		<objectgroup id="wiki" name="Wikis" default_pres_pos="140"/>
	</objectgroups>
	<objects>
		<object id="wiki" class_name="Wiki" dir="classes" default_pos="115" default_pres_pos="140"
			checkbox="1" inherit="1" allow_link="1" rbac="1" export="1" allow_copy="1">
			<subobj id="rolf" max="1">rolf</subobj>
			<parent id="cat">cat</parent>
			<parent id="crs">crs</parent>
			<parent id="fold">fold</parent>
			<parent id="grp">grp</parent>
			<parent id="recf">recf</parent>
			<parent id="root">root</parent>
			<sub_type id="wpg" amet="1" />
		</object>
		<object id="wiks" class_name="WikiSettings" dir="classes"
			checkbox="0" inherit="0" translate="sys" rbac="1" system="1" administration="1">
			<subobj id="rolf" max="1">rolf</subobj>
			<parent id="adm" max="1">adm</parent>
		</object>
	</objects>
	<copage>
		<pageobject parent_type="wpg" class_name="ilWikiPage" directory="classes"/>
		<pagecontent pc_type="amdpl" name="AMDPageList" directory="classes" int_links="0" style_classes="0" xsl="0" def_enabled="0"/>
	</copage>
</module>
