<?php xml version = "1.0" encoding = "UTF-8"?>
<module xmlns="http://www.w3.org" version="$Id: modules.xml 15671 2008-01-04 13:08:30Z akill $"
	name="Wiki" short="wiki" dir="Modules/Wiki">
	<baseclasses>
		<baseclass name="ilWikiHandlerGUI" dir="classes" />
	</baseclasses>
	<objects>
		<object short="wiki" class_name="Wiki" location="Modules/Wiki/classes"
			module="Modules/Wiki" checkbox="1" inherit="1" allow_link="1" rbac="1">
			<subobj name="rolf" max="1">rolf</subobj>
		</object>
	</objects>
</module>
