<div id="{ELEMENT_ID}">
	<table class="matrixrowwizard">
		<thead>
			<tr>
				<th>{ANSWER_TEXT}</th>
<!-- BEGIN other_answer_title -->				<th>{OTHER_TEXT}</th><!-- END other_answer_title -->
				<th>{LABEL_TEXT}</th>
				<th>{ACTIONS_TEXT}</th>
			</tr>
		</thead>
		<tbody>
<!-- BEGIN row -->
			<tr class="{ROW_CLASS}">
				<td>
					<input type="text" size="{SIZE}" id="{ID}" maxlength="{MAXLENGTH}" name="{POST_VAR}[answer][{ROW_NUMBER}]" <!-- BEGIN prop_text_propval -->value="{PROPERTY_VALUE}" <!-- END prop_text_propval -->{DISABLED} />
				</td>
<!-- BEGIN other_answer_checkbox -->
				<td>
					<input type="checkbox" name="{POST_VAR}[other][{ROW_NUMBER}]" value="1" id="{OTHER_ID}" {CHECKED_OTHER} />
				</td>
<!-- END other_answer_checkbox -->
				<td>
					<input type="text" size="{SIZE_LABEL}" id="{ID_LABEL}" maxlength="{MAXLENGTH}" name="{POST_VAR}[label][{ROW_NUMBER}]" <!-- BEGIN prop_label_propval -->value="{PROPERTY_VALUE}" <!-- END prop_label_propval -->{DISABLED_LABEL} />
				</td>
				<td style="vertical-align: top;">
					<input type="image" name="{CMD_ADD}" class="matrixrowwizard_add" id="add_{ID}" src="{ADD_BUTTON}" onclick="javascript: void(0); return false;" />
					<input type="image" name="{CMD_REMOVE}" class="matrixrowwizard_remove" id="remove_{ID}" src="{REMOVE_BUTTON}" onclick="javascript: void(0); return false;" />
<!-- BEGIN move -->
					<input type="image" name="{CMD_UP}" class="matrixrowwizard_up" id="up_{ID}" src="{UP_BUTTON}" onclick="javascript: void(0); return false;" />
					<input type="image" name="{CMD_DOWN}" class="matrixrowwizard_down" id="down_{ID}" src="{DOWN_BUTTON}" onclick="javascript: void(0); return false;" />
<!-- END move -->
				</td>
			</tr>
<!-- END row -->
		</tbody>
	</table>
</div>