<!-- BEGIN related_selection -->
<form class="il_Form" method="post" action="{FORMACTION}">
{TXT_RELATED_TO}
<select name="news_ref_id">
<!-- BEGIN related_option -->
<option value="{VAL_RELATED}" {SEL} >{TXT_RELATED}</option>
<!-- END related_option -->
</select>
<select name="news_per">
<!-- BEGIN per_option -->
<option value="{VAL_PER}" {SEL_PER} >{TXT_PER}</option>
<!-- END per_option -->
</select>
<input type="submit" class="submit" value="{TXT_CHANGE}" name="cmd[changeRelatedObject]" />
</form>
<br />
<!-- END related_selection -->
{NEWS}
<!-- BEGIN no_news -->
<div style="text-align:center;">{NO_NEWS}</div>
<!-- END no_news -->