<tr class="{CSS_ROW}">
<td class="std">
<!-- BEGIN link -->
<p class="small"><a href="{HREF_LINK}"><img alt="{ALT_LINK}" src="{IMG_LINK}" /> {TXT_LINK}</a></p>
<!-- END link -->
<!-- BEGIN user_info -->
<div style="float:left;">
	<img border="0" src="{USR_IMAGE}" style="margin:0px 10px 10px 0px;" />
</div>
<!-- END user_info -->
<p><b>{VAL_TITLE}</b></p>
<div style="clear:both;">
<!-- BEGIN content -->
<p>{VAL_CONTENT}</p>
<!-- END content -->
<!-- BEGIN long -->
<div>{VAL_LONG_CONTENT}</div>
<!-- END long -->
<!-- BEGIN player -->
<p>{PLAYER}</p>
<!-- END player -->
<div style="text-align:right;" class="small">{VAL_CREATION_DATE}</div>
<!-- BEGIN ni_update -->
<div style="text-align:right;" class="small">{TXT_LAST_UPDATE}: {VAL_LAST_UPDATE}</div>
<!-- END ni_update -->
</div>
<br />
</td>
</tr>
