<tr class="{CSS_ROW}">
<td class="std" style="vertical-align:top;">
<input type="checkbox" name="news_id[]" value="{VAL_ID}" />
</td>
<td class="std" nowrap="nowrap"  style="vertical-align:top;">
{VAL_CREATION_DATE}
</td>
<td class="std">
<div style="float:right;"><a class="il_ContainerItemCommand" href="{CMD_EDIT}">{TXT_EDIT}</a></div>
<b>{VAL_TITLE}</b><br />
<div style="clear:both;">
<!-- BEGIN content -->
<p>{VAL_CONTENT}</p>
<!-- END content -->
<!-- BEGIN long -->
<div>{VAL_LONG_CONTENT}</div>
<!-- END long -->
<!-- BEGIN ni_update -->
<div style="text-align:right;">{TXT_LAST_UPDATE}: {VAL_LAST_UPDATE}</div>
<!-- END ni_update -->
</td>
</tr>
