<div>
	<div class="ilNewsTimelineUserImage">
		<img class="media-object" src="{USER_IMAGE}" alt="{USER_TITLE}">
	</div>
	<div class="ilNewsTimelineContentSection">
		<div class="pull-right">
			{ACTIONS}
		</div>
		<div class="light small ilNewsTimelineEditInfo">
			{TXT_USR} - {TIME}
			<!-- BEGIN edited --><br />{TXT_EDITED}: {TXT_USR_EDITED} {TIME_EDITED}<!-- END edited -->
		</div>
		<h4 class="ilNewsTimelineTruncatedText">{TITLE}</h4>
		<!-- BEGIN object -->
		<p class="ilNewsTimelineObjHead ilNewsTimelineTruncatedText">
			<a href="{OBJ_HREF}"><img src="{OBJ_IMG}" /> {OBJ_TITLE}</a>
		</p>
		<!-- END object -->
		{CONTENT}
		<!-- BEGIN player -->
		<div class="ilNewsTimelinePlayer">{PLAYER}</div>
		<!-- END player -->
	</div>
	<!-- BEGIN like -->
	<div>
		{LIKE}
	</div>
	<!-- END like -->
</div>