<tr class="{CSS_ROW}"><td class="std">
<!-- BEGIN notification --><div style="float:right;" class="il_BlockInfo">[{CHAR_NOT}]</div><!-- END notification -->
<div class="small">
<!-- BEGIN news_context --><!-- <img alt="{TYPE}" src="{IMG_TYPE}" border="0"/> --><span {TITLE_CLASS}>{TYPE}: {TITLE}</span><br /><!-- END news_context -->
<a {A_CLASS} href="{HREF_SHOW}">{VAL_TITLE}</a>
<!-- BEGIN long --><p>{VAL_CONTENT}</p>
</div>
<div style="text-align:right;" class="il_BlockInfo">{VAL_CREATION_DATE}</div><!-- END long -->
</td></tr>
