<tr class="{CSS_ROW}">
	<td class="std" valign="top">
		<input type="checkbox" name="item_ids[]" value="{ITEM_ID}" />
	</td>
	<td class="std" valign="top">
		<!-- BEGIN item_row -->
		<img src="{TYPE_IMG}" alt="{ALT_IMG}" title="{ALT_IMG}" /> {COLL_TITLE}
		<!-- BEGIN description -->
		<div class="il_Description_no_margin">{COLL_DESC}</div>
		<!-- END description -->
		<br />
		<!-- END item_row -->
	</td>
	<td class="std" valign="top">
		<img src="{ASSIGNED_IMG_OK}" alt="{ASSIGNED_STATUS}" title="{ASSIGNED_STATUS}" border="0" vspace="0" align="center" />
	</td>
</tr>
