<tr class="{CSS_ROW}">
	<td class="std" valign="top">
		<input type="checkbox" name="item_ids[]" value="{ITEM_ID}" />
	</td>
	<td class="std" valign="top">
		<div>
			<!-- BEGIN item_row -->
			<img src="{TYPE_IMG}" alt="{ALT_IMG}" title="{ALT_IMG}" /> <a href="{COLL_LINK}">{COLL_TITLE}</a>
			<!-- END item_row -->
		</div>		
	</td>
	<!-- BEGIN tlt -->
	<td class="std" valign="top" nowrap="nowrap">
	{TXT_MONTH}&nbsp;{SEL_MONTHS}&nbsp;{TXT_DAYS}&nbsp;{SEL_DAYS}&nbsp;{TXT_TIME}&nbsp;{SEL_TLT}&nbsp;{TLT_HINT}		
	</td>
	<!-- END tlt -->
	<td class="std" valign="top">
		<img src="{ASSIGNED_IMG_OK}" alt="{ASSIGNED_STATUS}" title="{ASSIGNED_STATUS}" border="0" vspace="0" align="center" />
	</td>
</tr>
