<!-- BEGIN container_row -->
<!-- BEGIN container_header_row_image -->
<h3 id="{BLOCK_HEADER_ID}" class="ilPDBlockSubHeader">{BLOCK_HEADER_CONTENT}</h3>
<!-- END container_header_row_image -->
<!-- BEGIN container_header_row -->
<h3 id="{BLOCK_HEADER_ID}" class="ilPDBlockSubHeader">{BLOCK_HEADER_CONTENT}</h3>
<!-- END container_header_row -->
<!-- BEGIN container_standard_row -->
<!-- BEGIN row_type_1 -->
<div class="ilObjListRow">
<!-- END row_type_1 -->
<!-- BEGIN row_type_2 -->
<div class="ilObjListRow">
<!-- END row_type_2 -->
<!-- <td class="std" valign="top" width="1">--><!-- BEGIN block_row_image --><!-- <img border="0" src="{ROW_IMG}" alt="{ROW_ALT}" title="{ROW_ALT}"/> --><!-- END block_row_image --><!-- {ROW_NBSP}</td>-->
<div class="ilCLI" headers="{BLOCK_ROW_HEADERS}">{BLOCK_ROW_CONTENT}</div>
</div>
<!-- END container_standard_row -->
<!-- END container_row -->
<!-- BEGIN select_all_row -->
<div class="ilTableSelectAll">
	<input type="checkbox" name="{CHECKBOXNAME}" id="{CHECKBOXNAME}" value="1" onClick="javascript:il.Util.setChecked('{SEL_ALL_PARENT}', '{SEL_ALL_CB_NAME}', this.checked);" />
	<label for="{CHECKBOXNAME}" class="small">{TXT_SELECT_ALL}</label>
</div>
<!-- END select_all_row -->