<tr class="{CSS_ROW}">
	<td class="std" valign="top" align="center" width="1">
		<input type="checkbox" name="bm_id[]" value="{VAL_ID}"/>
	</td>
	<td class="std" valign="top">
		<img src="{VAL_ICON}" alt="{VAL_ICON_ALT}" />
	</td>
	<td valign="top">
		<!-- BEGIN bm_admrow_bm -->
			<p><a href="{VAL_BM_TARGET}" target="{FRAME_TARGET}">{VAL_BM_TITLE}</a></p>
			<!-- BEGIN bm_admrow_description --><p>{VAL_BM_DESCRIPTION}</p><!-- END bm_admrow_description -->
			<p><a href="{VAL_BM_TARGET}" target="{FRAME_TARGET}">{VAL_BM_TARGET}</a></p>
		<!-- END bm_admrow_bm -->
		<!-- BEGIN bm_admrow_bmf -->
			<p><a href="{VAL_BMF_TARGET}" target="{FRAME_TARGET}">{VAL_BMF_TITLE}</a></p>
		<!-- END bm_admrow_bmf -->
	</td>
	<td valign="top">
		<!-- BEGIN bm_admrow_edit --><a href="{EDIT_HREF}">{EDIT_TXT}</a><!-- END bm_admrow_edit -->
	</td>
</tr>
