<table width="100%" cellpadding="6">
<tr><td>
{STATUSLINE}
<div class="il_HeaderOuter">
<div class="il_Header">
<div class="il_HeaderInner">
<table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0"><tr><td class="reiter">	
	&nbsp;&nbsp;&nbsp;&nbsp;{TXT_HEADER}&nbsp;&nbsp;
	<!-- BEGIN top -->
	<a class="{CLASS_TOP}" href="{LINK_TOP}"><img src="{IMG_TOP}" border="0" align="absmiddle"/></a>&nbsp;
	<!-- END top -->
	&nbsp;&nbsp;<img src="./templates/studip/images/reiter4.jpg" align="absmiddle">
</td></tr></table>
{TABS}
<table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" width="100%">
<tr><td class="pgtitle" colspan="3">&nbsp;
<!-- BEGIN header_image --><img align="absmiddle" border="0" src="{IMG_HEADER}"/>&nbsp;<!-- END header_image -->
{TXT_HEADER}
</td></tr><tr><td>
<br>
<table cellpadding="5" width="100%" align="center"><tr><td>
<div class="il_Description">{H_DESCRIPTION}</div>
</div>
</div>
<div style="margin-left:15px; clear:both;">{SUB_TABS}</div>
<table class="il_ColumnLayout"><tr>
<td class="il_CenterColumn">
	<!-- BEGIN add_commands -->
	<form class="il_Form" action="{H_FORMACTION}" method="post">
	<div style="text-align:right; margin-bottom:10px;">
	{SELECT_OBJTYPE}
	<input class="submit" type="submit" name="cmd[{BTN_NAME}]" value="s{TXT_ADD}" />
	</div>
	</form>
	<!-- END add_commands -->
{BUTTONS}
{MESSAGE}
</td></tr></table>
{ADM_CONTENT}
</td></tr></table>
</td></tr></table>
</td></tr></table>