<tr class="{CSS_ROW}">
	<td class="std small"  style="vertical-align:top;">
		{VAL_TITLE}
		<!-- BEGIN desc -->
		<div class="il_Description">
			{VAL_DESC}
		</div>
		<!-- END desc -->
	</td>
	<td class="std small" >
		{VAL_LAST_UPDATE}
	</td>
	<td class="std" >
		<!-- BEGIN warning -->
		<span class="smallred">{VAL_STATUS_WARNING}</span>
		<!-- END warning -->
		<!-- BEGIN success -->
		<span class="smallgreen">{VAL_STATUS_SUCCESS}</span>
		<!-- END success -->
		<!-- BEGIN standard -->
		<span class="small">{VAL_STATUS_STANDARD}</span>
		<!-- END standard -->
	</td>
	<td class="std small">
		<div class="il_ContainerItemCommand2">
			{ACTIONS}
		</div>
	</td>
</tr>