<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="phpunit.xsd"
         bootstrap="../../libs/composer/vendor/autoload.php"
         cacheResultFile="../../.phpunit.result.cache"
         verbose="true"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         failOnRisky="true"
         failOnWarning="true"
         backupGlobals="true"
         executionOrder="random"
        >
    <testsuites>
        <testsuite name="unit">
            <file>../../tests/ILIASSuite.php</file>
        </testsuite>
    </testsuites>
</phpunit>