<tr class="{CSS_ROW}" id="{ID}">
    <td class="name">{TITLE}</td>
    <td class="std">
        <input style="margin-top: -3px; vertical-align: middle" type="radio" id="v_{FIELD_ID}"
               name="RadioGroup_{FIELD_ID}" value="VisibleCreate_{FIELD_ID}" {HIDDEN} {IS_VISIBLE}>
        <label style="margin-top: 4px; margin-right: 10px" for="v_{FIELD_ID}" {HIDDEN}>{TEXT_VISIBLE}</label>
        <input style="margin-top: -3px; vertical-align: middle" type="radio" id="rv_{FIELD_ID}"
               name="RadioGroup_{FIELD_ID}" value="RequiredCreate_{FIELD_ID}" {HIDDEN} {IS_REQUIRED}>
        <label style="margin-top: 4px; margin-right: 10px" for="rv_{FIELD_ID}" {HIDDEN}>{TEXT_REQUIRED_VISIBLE}</label>
        <input style="margin-top: -3px; vertical-align: middle" type="radio" id="lv_{FIELD_ID}"
               name="RadioGroup_{FIELD_ID}" value="LockedCreate_{FIELD_ID}" {HIDDEN} {IS_LOCKED}>
        <label style="margin-top: 4px; margin-right: 10px" for="lv_{FIELD_ID}" {HIDDEN}>{TEXT_LOCKED_VISIBLE}</label>
        <input style="margin-top: -3px; vertical-align: middle" type="radio" id="nv_{FIELD_ID}"
               name="RadioGroup_{FIELD_ID}" value="NotVisibleCreate_{FIELD_ID}" {HIDDEN} {IS_NOT_VISIBLE}>
        <label for="nv_{FIELD_ID}" {HIDDEN}>{TEXT_NOT_VISIBLE}</label>
    </td>
    <td class="std">
        {EXTRA_INPUT}
        {INPUT}
    </td>
</tr>