.il-deck {
  .row{
    margin-left: -$il-margin-xs-horizontal;
    margin-right: 0;
    margin-bottom: $il-margin-xxlarge-vertical;

    > div{
      padding-left: $il-padding-xs-horizontal;
      padding-right: $il-padding-xs-horizontal;
      margin-bottom: $il-margin-large-vertical;
    }

    &.row-eq-height {
      &:before {
        content: none !important;
      }

      &:after {
        content: none !important;
      }
    }
  }
}

.row-eq-height {

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;

  > div {
    display: flex;
  }
}
