/* Services/News */


.ilTimeline:before {
	left: 90%;
}

.ilTimeline > li > .ilTimelinePanel {
	width: 80%;
}

.ilTimeline > li > .ilTimelineBadge {
	left: 90%;
}

.ilTimeline > li:nth-child(even) > .ilTimelinePanel {
	float: left;
}
.ilTimeline > li:nth-child(even) > .ilTimelinePanel:before {
	border-left-width: 15px;
	border-right-width: 0;
	right: auto;
	right: -15px;
}
.ilTimeline > li:nth-child(even) > .ilTimelinePanel:after {
	border-left-width: 14px;
	border-right-width: 0;
	left: auto;
	right: -14px;
}
