.il-item-task {
  @il-item-task-button-padding: 8px;
  padding:          @il-item-task-button-padding 14px;
  border-top:       1px @panel-inner-border solid;
  min-width:        300px;
  max-width:        300px;
  margin-top:       -1px;
  background-color: white;
  .il-item-task-title {
	h4 {
	  font-size:   @font-size-base;
	  font-weight: bold;
	}

  }
  .il-item-task-content {
	.progress {
	  margin-bottom: @il-item-task-button-padding;
	}
  }
}

@media (max-width: 768px) {
  .il-item-task {
	min-width: inherit;
	max-width: inherit;
	width:     100%;
  }
}