.ilInfoScreenSec:not(:first-child) .ilFormHeader {
	margin: @il-standard-form-header-margin;
	border-top: @il-standard-form-header-border;
}

.il_InfoScreenPropertyValue{
	padding-top: @il-padding-base-vertical + 1px;
	padding-bottom: @il-padding-base-vertical + 1px;

	.ilProfile {
		margin: 0;
	}
}