.ilInfoScreenSec:not(:first-child) .ilFormHeader {
	margin: @il-standard-form-header-margin;
	border-top: @il-standard-form-header-border;
}

.il_InfoScreenPropertyValue{
	.ilProfile {
		margin: 0;
	}
}