/* Services/InfoScreen */
div.ilInfoScreenSec {
	padding: 0;
	margin-bottom: 20px;
}

div.ilInfoScreenSec h2.ilHeader {
	margin-bottom: 5px;
	display: block;
}

.il_InfoScreenProperty {
	padding: 15px;
	vertical-align: top;
	color: @il-text-light-color;
	font-style: italic;
}

.il_InfoScreenPropertyValue {
	padding: 15px;
	vertical-align: top;
	background-color: @il-main-bg;
}

.ilInfoScreenSec.form-horizontal .form-group {
    margin: 0;
	background-color: @il-main-bg;
}

.ilInfoScreenSec.form-horizontal {
	background-color: transparent;
}
.ilInfoScreenSec.form-horizontal .control-label {
    padding: 15px;
	line-height: normal;
}
