<!-- BEGIN node-content-block -->
	<span class="{NODE_TITLE_CLASSES}">{NODE_TITLE}</span>
	<span class="{NODE_POINT_CLASSES}">{NODE_POINTS}</span>
	<!-- BEGIN enable-tree-buttons -->
	<span class="icon_bar">
		{NODE_INFO_BUTTON}
		{NODE_CREATE_BUTTON}
		{NODE_DELETE_BUTTON}
	</span>
	<!-- END enable-tree-buttons -->
<!-- END node-content-block -->

<!-- BEGIN tree-button-block -->
<button type="button" href="{LINK_HREF}" class="btn btn-link {LINK_CLASSES}" <!-- BEGIN enable-async-link -->data-toggle="modal" data-target="{LINK_DATA_TARGET}"<!-- END enable-async-link -->{LINK_ADDITIONAL}>
	{LINK_CONTENT}
</button>
<!-- END tree-button-block -->