<div id="{ID}">
<!-- BEGIN prop_checkbox_option -->
	<div style="margin-bottom: 8px;">
	<input type="checkbox" name="{POST_VAR}" id="{OP_ID}" style="position:absolute;" value="{VAL_CHECKBOX_OPTION}" {CHK_CHECKBOX_OPTION} {DISABLED}/>
	<div style="margin-left:28px;"><label for="{OP_ID}">{TXT_CHECKBOX_OPTION}</label>
<!-- BEGIN checkbox_option_desc -->
	<div class="help-block" style="padding-left:0px; margin-left:0px;">{CHECKBOX_OPTION_DESC}</div>
<!-- END checkbox_option_desc -->
	</div>
	<!-- BEGIN checkbox_option_subform -->
	<div class="ilSubForm" id="subform_{SOP_ID}">{SUB_FORM}</div>
	<!-- END checkbox_option_subform -->
	</div>
<!-- END prop_checkbox_option -->
</div>
