<div id="{ID}" class="container-fluid il-system-info il-system-info-{DENOTATION}" data-close-uri="{CLOSE_URI}" {ROLE} {LIVE} aria-labelledby="{ID}_headline" aria-describedby="{ID}_description">
    <div class="il-system-info-content-wrapper">
        <div class="il-system-info-content">
            <span id="{ID}_headline" class="il-system-info-headline">{HEADLINE}</span>
            <span id="{ID}_description" class="il-system-info-body">{BODY}</span>
        </div>
    </div>
    <div class="il-system-info-actions">
        <span class="il-system-info-more">{MORE_BUTTON}</span>
        <span class="il-system-info-close">{CLOSE_BUTTON}</span>
    </div>
</div>
