table.calstd {
	color:#222222;
	width:100%;
	background-color:#bbbbbb;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:0px;
	border-style:solid;
	border-color:#9EADBA;
	font-size: 100%;
}

.calheader {
	color:#222222;
	font-weight:bold;
	background-color: #EDEDED;
}


th.calstd {
	text-align: center;
	border-spacing:0px;
	background-color: #EDEDED;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:#9EADBA;
}

th.calheadertime {
	width: 6em;
	text-align: center;
	border-spacing:0px;
	background-color: #EDEDED;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:#9EADBA;
}
	
td.calempty {
	background-color:#ffffff;
	border-spacing:0px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#9EADBA;
}

th.calempty {
	background-color:#ffffff;
}

td.calrightborder {
	border-spacing:0px;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#9EADBA;
}	


tr.calstd {
	background-color: inherit;
	height: 8em;
}

tr.calstdtime {
	height: 3em;
	background-color: inherit;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#9EADBA;
}
		

td.calstd {
	vertical-align: top;
	background-color:#ffffff;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:#9EADBA;
}

td.calnow {
	vertical-align: top;
	background-color:#FFE79C;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:#9EADBA;
}

td.calnext { 
	vertical-align: top;
	background-color:#EDEDED;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:#9EADBA;
}

td.calprev {
	vertical-align: top;
	background-color:#EDEDED;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:#9EADBA;
}

p.il_calevent {
	color:white;
	margin-left: 5px;
	margin-right: 5px;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:2px;
	border-style:outset;
	border-color:grey;
}

td.calevent {
	color:white;
	vertical-align: top;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:outset;
	border-color:grey;
}

p.il_cal_monthday {
	margin-left: 4px;
	font-weight: bold;
}

p.il_cal_navigation {
	margin-right: 4px;
}

a.callink:link, a.callink:visited {
	color: inherit;
}
a.callink:hover {
	text-decoration: underline;
	color: inherit;
}

// calendar block

table.calmini
{
	width:100%;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:#9EADBA;
}

.calminiheader {
	color:#222222;
	background-color: #EDEDED;
}

th.calmini {
	text-align: center;
	font-size:90%;
	font-weight:normal;
	background-color: #FFFFFF;
}

tr.calmini {
}

a.calminiapp {
	font-weight: bold;
}

p.il_calmini_monthday {
	margin: 1px;
	text-align:center;
}

td.calministd {
	vertical-align: top;
	border-collapse:collapse;
	background-color:#ffffff;
	border-spacing:0px;
	border-width:1px;
	border-style:solid;
	border-color:#9EADBA;
	font-size:90%;
	text-align:center;
	vertical-align:middle;
}

td.calmininow {
	vertical-align: top;
	background-color:#FFE79C;
	border-width:1px;
	border-style:solid;
	border-color:#9EADBA;
	font-size:90%;
	text-align:center;
	vertical-align:middle;
}

td.calmininext { 
	vertical-align: top;
	background-color:#EDEDED;
	border-width:1px;
	border-style:solid;
	border-color:#9EADBA;
	font-size:90%;
	text-align:center;
	vertical-align:middle;
}

td.calminiprev {
	vertical-align: top;
	background-color:#EDEDED;
	border-width:1px;
	border-style:solid;
	border-color:#9EADBA;
	font-size:90%;
	text-align:center;
	vertical-align:middle;
}

td.calminiweek {
	vertical-align: top;
	background-color: #FFFFFF;
	font-size:90%;
	text-align:center;
	vertical-align:middle;
}

