table.calstd {
	color:#222222;
	width:100%;
	background-color:#bbbbbb;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:0px;
	border-style:solid;
	border-color:#9EADBA;
	font-size: 100%;
}

.calheader {
	color:#222222;
	font-weight:bold;
	background-color: #EDEDED;
}


th.calstd {
	text-align: center;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:#9EADBA;
}
tr.calstd {
	background-color: inherit;
	height: 8em;
}

tr.calstdweek {
	background-color: inherit;
	height: 5em;
}
		

td.calstd {
	vertical-align: top;
	background-color:#ffffff;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:#9EADBA;
}

td.calnow {
	vertical-align: top;
	background-color:#FFE79C;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:#9EADBA;
}

td.calnext { 
	vertical-align: top;
	background-color:#EDEDED;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:#9EADBA;
}

td.calprev {
	vertical-align: top;
	background-color:#EDEDED;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:1px;
	border-style:solid;
	border-color:#9EADBA;
}

p.il_calevent {
	color:white;
	margin-left: 5px;
	margin-right: 5px;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:2px;
	border-style:outset;
	border-color:grey;
}

div.il_caleventweek {
	position: relative;
	float: left;
	color:white;
	border-spacing:0px;
	border-collapse:collapse;
	border-width:2px;
	border-style:outset;
	border-color:grey;
}		

p.il_cal_monthday {
	margin-left: 4px;
	font-weight: bold;
}

p.il_cal_navigation {
	margin-right: 4px;
}
