{NAVIGATION}
<table class="calstd">
	<thead>
		<tr class="calheader">
			<th class="calstd"></th>
			<!-- BEGIN day_header_row -->
			<th class="calstd" colspan="{DAY_COLSPAN}">
				<a class="callink" href="{NEW_APP_DAY_LINK}">
					<font class="small">{HEADER_DATE}</font><br />
						{DAYNAME}
				</a>
			</th>
			<!-- END day_header_row -->
		</tr>
		<!-- BEGIN fullday_apps -->
		<tr class="calstd" style="height: 1em">
			<th class="calstd"></th>
			<!-- BEGIN f_day_row -->
			<td class="calstd" colspan="{COLSPAN}">
				<!-- BEGIN fullday_app -->
				<p class="il_calevent" 
					style="background-color:{F_APP_BGCOLOR}; color:{F_APP_FONTCOLOR}">
					<a class="callink" href="{F_APP_EDIT_LINK}"><font class="small">{F_APP_TITLE}</font></a>
				</p>
				<!-- END fullday_app -->
			</td>
			<!-- END f_day_row -->
		</tr>
		<!-- END fullday_apps -->
	</thead>
	<tbody>
		<!-- BEGIN time_row -->
		<tr class="calstdtime">
			<th class="calheadertime">
				{TIME}
			</th>
			<!-- BEGIN day_cell -->
			<td class="{TD_CLASS}" style="{TD_STYLE}" rowspan="{TD_ROWSPAN}">
				<!-- BEGIN not_empty -->
				<a class="callink" href="{APP_EDIT_LINK}">
					<font class="small">{APP_TITLE}</font>
				</a>
				<!-- END not_empty -->
			</td>
			<!-- END day_cell -->
		</tr>
		<!-- END time_row -->
	</tbody>
</table>					