<div class="yui-skin-sam">
	<div class="bd" style="padding-bottom:2em">
		<!-- BEGIN toolbar -->
			{TOOLBAR}
		<!-- END toolbar -->
		<div class="ilFloatRight">
		<!-- BEGIN panel_edit_link -->
			<a href="{PANEL_EDIT_HREF}" class="btn btn-default small">{TXT_PANEL_EDIT}</a>
		<!-- END panel_edit_link -->
		<!-- BEGIN panel_delete_link -->
			<a href="{PANEL_DELETE_HREF}" class="btn btn-default small">{TXT_PANEL_DELETE}</a>
		<!-- END panel_delete_link -->
		</div>
		<div class="hd" style="clear:both;"><h2 style="text-transform: uppercase;">{PANEL_TITLE}</h2></div>
		<div class="hd cal_modal_infoscreen" style="clear:both;">{CONTENT}</div>
	</div>
</div>
