<tr class="{CSS_ROW}">
	<td class="std">
		<span class="small">
			{VAL_BEGIN}
		</span>
	</td>
	<td class="std">
		<div class="small">
			<!-- BEGIN img_ms -->
			<img src="{IMG_MS}" alt="{ALT_MS}" title="{ALT_MS}" border="0" />
			<!-- END img_ms -->
			<!-- BEGIN title_link -->
			<a href="{VAL_LINK}">{VAL_TITLE_LINK}</a>
			<!-- END title_link -->
			<!-- BEGIN title -->
			{VAL_TITLE}
			<!-- END title -->
			<!-- BEGIN description -->
			<div class="il_Description">
				{VAL_DESCRIPTION}
			</div>
			<!-- END description -->
		</div>
	</td>
	<!--
	<td class="std">
		<span class="small">
			{VAL_DURATION}
		</span>
	</td>
	-->
	<td class="std">
		<span class="small">
			{VAL_FREQUENCE}
		</span>
	</td>
	<td class="std">
		<span class="small">
			{VAL_LAST_UPDATE}
		</span>
	</td>
	
</tr>
