<script type="text/javascript">
<!--
// full day names
Calendar._DN = new Array
("{FULL_SUNDAY}",
 "{FULL_MONDAY}",
 "{FULL_TUESDAY}",
 "{FULL_WEDNESDAY}",
 "{FULL_THURSDAY}",
 "{FULL_FRIDAY}",
 "{FULL_SATURDAY}",
 "{FULL_SUNDAY}");

// Please note that the following array of short day names (and the same goes
// for short month names, _SMN) isn't absolutely necessary.  We give it here
// for exemplification on how one can customize the short day names, but if
// they are simply the first N letters of the full name you can simply say:
//
//   Calendar._SDN_len = N; // short day name length
//   Calendar._SMN_len = N; // short month name length
//
// If N = 3 then this is not needed either since we assume a value of 3 if not
// present, to be compatible with translation files that were written before
// this feature.

// short day names
Calendar._SDN = new Array
("{SHORT_SUNDAY}",
 "{SHORT_MONDAY}",
 "{SHORT_TUESDAY}",
 "{SHORT_WEDNESDAY}",
 "{SHORT_THURSDAY}",
 "{SHORT_FRIDAY}",
 "{SHORT_SATURDAY}",
 "{SHORT_SUNDAY}");

// First day of the week. "0" means display Sunday first, "1" means display
// Monday first, etc.
Calendar._FD = 0;

// full month names
Calendar._MN = new Array
("{FULL_JANUARY}",
 "{FULL_FEBRUARY}",
 "{FULL_MARCH}",
 "{FULL_APRIL}",
 "{FULL_MAY}",
 "{FULL_JUNE}",
 "{FULL_JULY}",
 "{FULL_AUGUST}",
 "{FULL_SEPTEMBER}",
 "{FULL_OCTOBER}",
 "{FULL_NOVEMBER}",
 "{FULL_DECEMBER}");

// short month names
Calendar._SMN = new Array
("{SHORT_JANUARY}",
 "{SHORT_FEBRUARY}",
 "{SHORT_MARCH}",
 "{SHORT_APRIL}",
 "{SHORT_MAY}",
 "{SHORT_JUNE}",
 "{SHORT_JULY}",
 "{SHORT_AUGUST}",
 "{SHORT_SEPTEMBER}",
 "{SHORT_OCTOBER}",
 "{SHORT_NOVEMBER}",
 "{SHORT_DECEMBER}");

// tooltips
Calendar._TT = {};
Calendar._TT["INFO"] = "{ABOUT_CALENDAR}";

Calendar._TT["ABOUT"] = "{ABOUT_CALENDAR_LONG}";
Calendar._TT["ABOUT_TIME"] = "{ABOUT_TIME_LONG}";
Calendar._TT["PREV_YEAR"] = "{PREV_YEAR}";
Calendar._TT["PREV_MONTH"] = "{PREV_MONTH}";
Calendar._TT["GO_TODAY"] = "{GO_TODAY}";
Calendar._TT["NEXT_MONTH"] = "{NEXT_MONTH}";
Calendar._TT["NEXT_YEAR"] = "{NEXT_YEAR}";
Calendar._TT["SEL_DATE"] = "{SEL_DATE}";
Calendar._TT["DRAG_TO_MOVE"] = "{DRAG_TO_MOVE}";
Calendar._TT["PART_TODAY"] = "{PART_TODAY}";

// the following is to inform that "%s" is to be the first day of week
// %s will be replaced with the day name.
Calendar._TT["DAY_FIRST"] = "{DAY_FIRST}";

// This may be locale-dependent.  It specifies the week-end days, as an array
// of comma-separated numbers.  The numbers are from 0 to 6: 0 means Sunday, 1
// means Monday, etc.
Calendar._TT["WEEKEND"] = "0,6";

Calendar._TT["CLOSE"] = "{CLOSE}";
Calendar._TT["TODAY"] = "{TODAY}";
Calendar._TT["TIME_PART"] = "{TIME_PART}";

// date formats
Calendar._TT["DEF_DATE_FORMAT"] = "{DEF_DATE_FORMAT}";
Calendar._TT["TT_DATE_FORMAT"] = "{TT_DATE_FORMAT}";

Calendar._TT["WK"] = "{WK}";
Calendar._TT["TIME"] = "{TIME}:";
//-->
</script>