{NAVIGATION}
<script type="text/javascript"> 
	function redirectTo(link)
	{
		window.location = link;
	}
	
		
    function init() 
    { 

		<!-- BEGIN panel_code -->
		myPanel = new YAHOO.widget.Panel("panel{NUM}", { width:"40em", visible:false, draggable:true, close:true, constraintoviewport:true} );
		myPanel.render();
		
		YAHOO.util.Event.addListener("show_{NUM}","click",onPanelClick,myPanel,true);
		YAHOO.util.Event.addListener("link_{NUM}","click",onEditLinkClick,myPanel,true);
		
		function onEditLinkClick(event,panel) 
		{
			window.location = event.target ? event.target : event.srcElement;
			YAHOO.util.Event.stopEvent(event);
			return true;
		}
		
		function onPanelClick(event,panel)
		{
			document.getElementById(panel.id).style.display = '';
			panel.show();
		}	
		
		<!-- END panel_code -->
	}
	YAHOO.util.Event.onDOMReady(init);
</script> 

<table class="calstd">
	<thead>
	<tr class="calheader">
		<!-- BEGIN month_header_col -->
		<th class="calstd" width="14%">{TXT_WEEKDAY}</th>
		<!--  END month_header_col -->
	</tr>
	</thead>
	<tbody>
	<!-- BEGIN month_row -->
	<tr class="calstd">
		<!-- BEGIN month_col -->
		<td class="{TD_CLASS}" >
			<div style="float:left">
				<p class="il_cal_monthday"><a class="callink" href="{OPEN_DAY_VIEW}">{MONTH_DAY}</a></p>
			</div>
			<div style="float:right">
				<p class="il_cal_navigation">
					<a href="{ADD_LINK}"><img style="vertical-align: bottom" src="{NEW_SRC}" alt="{NEW_ALT}" title="{NEW_ALT}" /></a>
				</p>
			</div>
			<div style="clear:both" />
			</div>

			<!-- BEGIN il_event -->
				<div class="yui-skin-sam">
					<div id="panel{PANEL_NUM}" style="display: none">
						<div class="hd">{PANEL_TITLE}</div>
						<div id="myPanel" class="bd">
							<font class="small">
							<table class="il_InfoScreen">
								<tr>
									<th class="il_InfoScreen" colspan="2">
										<div class="il_InfoScreenSection">
												{PANEL_DETAILS}
										</div>
									</th>
								</tr>
								<tr>
									<td class="il_InfoScreenProperty" width="30%">{PANEL_TXT_DATE}</td>
									<td class="il_InfoScreenPropertyValue" width="70%">{PANEL_DATE}</td>
								</tr>
								<!-- BEGIN panel_location -->
								<tr>
									<td class="il_InfoScreenProperty" width="30%">{PANEL_TXT_WHERE}</td>
									<td class="il_InfoScreenPropertyValue" width="70%">{PANEL_WHERE}</td>
								</tr>
								<!-- END panel_location -->
								<!-- BEGIN panel_description -->
								<tr>
									<td class="il_InfoScreenProperty" width="30%">{PANEL_TXT_DESC}</td>
									<td class="il_InfoScreenPropertyValue" width="70%">{PANEL_DESC}</td>
								</tr>
								<!-- END panel_description -->
								<!-- BEGIN panel_link -->
								<tr>
									<td class="il_InfoScreenProperty" width="30%">{PANEL_TXT_LINK}</td>
									<td class="il_InfoScreenPropertyValue" width="70%">
										{PANEL_PARENT} > <a target="_top" href="{PANEL_LINK_HREF}">{PANEL_LINK_NAME}</a>
									</td>
								</tr>
								<!-- END panel_link -->
							</table>
							</font>
						</div>
					</div>
				</div>
				<p id="show_{PANEL_NUM}" 
					class="il_calevent" 
					style="background-color:{EVENT_BGCOLOR}; color:{EVENT_FONTCOLOR}">
					<font class="small">
						<a id="link_{PANEL_NUM}" class="callink" href="{EVENT_EDIT_LINK}">
							{EVENT_TITLE}
						</a>
					</font>
				</p>
			<!-- END il_event -->
		</td>
		<!-- END month_col -->
	</tr>
	<!-- END month_row -->
	</tbody>
</table>
