<!-- BEGIN fullday_app -->
<div id="show_{F_DAY_ID}" class="il_calevent"
   style="background-color:{F_APP_BGCOLOR}; color:{F_APP_FONTCOLOR}">
	<!-- BEGIN fullday_ms_icon --><img alt="{ALT_FD_MS}" title="{ALT_FD_MS}" src="{SRC_FD_MS}" /><!-- END fullday_ms_icon -->
	{EXTRA_GLYPH_BY_PLUGIN}
	{EVENT_CONTENT}
	{EXTRA_CONTENT_BY_PLUGIN}
</div>
<!-- END fullday_app -->

<!-- BEGIN event_cell_content -->
<div class="il_calevent calfullcontent" style="{STYLE}">
	{EXTRA_GLYPH_BY_PLUGIN}
	{EVENT_CONTENT}
	{EXTRA_CONTENT_BY_PLUGIN}
</div>
<!-- END event_cell_content -->