{NAVIGATION}
<table class="calstd il-cal-day">
	<thead>
		<tr class="calheader">
			<th class="calstd">
				<span class="small">{TXT_TIME}</span> 
			</th>
			<th class="calstd" colspan="{HCOLSPAN}">
				<span class="small">{HEADER_DAY}, {HEADER_DATE}</span>
				<!-- BEGIN new_app1 -->
				{H_NEW_APP_GLYPH}
				<!-- END new_app1 -->
				<!-- BEGIN new_ms -->				
				<div class="btn-group">
					<div class="dropdown-toggle callink" data-toggle="dropdown" data-container="body" id="add_dd_tr_{DD_ID}" type="button">
						{DD_TRIGGER}
					</div>
					<ul class="dropdown-menu pull-right" role="menu" id="add_dd_{DD_ID}">
						<li><a href="{URL_DD_NEW_APP}">{TXT_DD_NEW_APP}</a></li>						
						<li><a href="{URL_DD_NEW_MS}">{TXT_DD_NEW_MS}</a></li>						
				</ul>					
				</div>
				<!-- END new_ms -->
			</th>
		</tr>
		</thead>
		<tbody>
		<!-- BEGIN fullday_apps -->
		<tr class="calstd" style="height: 1em">
			<td class="calheadertime">
				{TXT_F_DAY}
			</td>
			<td class="calstd" colspan="{COLSPAN}">
				<!-- BEGIN content_fd -->
					{CONTENT_EVENT}
				<!-- END content_fd -->
			</td>
		</tr>
		<!-- END fullday_apps -->
		<!-- BEGIN time_row -->
		<tr class="calstdtime">
			<!-- BEGIN time_txt -->
			<td class="calheadertime" width="1" style="vertical-align: top;white-space: nowrap"  rowspan="{TIME_ROWSPAN}">
				{TIME}

				<!-- BEGIN new_app2 -->
				{NEW_APP_GLYPH}
				<!-- END new_app2 -->
			</td>
			<!-- END time_txt -->
			<!-- BEGIN event_nfd -->
			<td class="calevent" rowspan="{APP_ROWSPAN}">
				{CONTENT_EVENT_NFD}
			</td>
			<!-- END event_nfd -->
			<!-- BEGIN empty_cell -->
			<td class="calempty{EMPTY_STYLE}" width="{EMPTY_WIDTH}"></td>
			<!-- END empty_cell -->
		</tr>
		<!-- END time_row -->
	</tbody>
</table>