<tr class="{CSS_ROW}">
	<td class="std">
		<input type="checkbox" name="cal_ids[]" value="{VAL_ID}" {VAL_CHECKED} />
	</td>
	<td class="std" style="vertical-align:top;">
		{CALENDAR_NAME}<br />
		{TXT_FROM}: {LASTNAME}, {FIRSTNAME}
	</td>
	<td class="std" style="vertical-align:top;">
		{APPS_COUNT}
	</td>
	<td class="std" style="vertical-align:top;">
		{CREATE_DATE}
	</td>
	<td class="std" style="vertical-align:top;text-align:center">
		<!-- BEGIN accepted_img -->
		<img src="{ACC_IMG}" title="{ALT_ACC}" alt="{ALT_ACC}" />
		<!-- END accepted_img -->
	</td>
</tr>
