<div class="form-inline">
	{FREQUENCE}
	<!-- BEGIN daily_block -->
	<div id="sub_DAILY_1" style="padding-left: 40px;">
		<hr/>
		<label class="control-label" for="count_DAILY">{TXT_EVERY}</label>
		<label class="control-label">
			<input type="text"
			   class="form-control"
			   name="count_DAILY"
			   value="{COUNT_DAILY_VAL}"
			   size="2"
			   maxlength="3"
			   style="text-align:right" /> {TXT_DAILY_FREQ_UNIT}</label>
		<hr/>
	</div>
	<!-- END daily_block -->
	<!-- BEGIN weekly_block -->
	<div id="sub_WEEKLY_1" style="padding-left: 40px;">
		<hr/>
		<label class="control-label" for="count_WEEKLY">{TXT_EVERY}</label>
		<input type="text"
			   class="form-control"
				name="count_WEEKLY" 
				value="{COUNT_WEEKLY_VAL}" 
				size="2"
				maxlength="3"
				style="text-align:right" />
		{TXT_WEEKLY_FREQ_UNIT}
	</div>
	<div id="sub_WEEKLY_2" style="padding-left: 40px;">
		<label class="control-label" for="byday_WEEKLY">{TXT_ON}</label>
		<!-- BEGIN byday_simple -->
		<label class="control-label small" for="byday_{DAY_COUNT}">{TXT_DAY_SHORT}</label>
		<input id="byday_{DAY_COUNT}"
			   type="checkbox"
			   class="form-control"
			   name="byday_WEEKLY[]"
			   value="{BYDAY_WEEKLY_VAL}"
			   {BYDAY_WEEKLY_CHECKED} />
		<!-- END byday_simple -->
		<hr/>
	</div>
	<!-- END weekly_block -->
	<!-- BEGIN monthly_block -->
	<div id="sub_MONTHLY_1" style="padding-left: 40px;">
		<hr/>
		<label class="control-label" for="count_MONTHLY">{TXT_EVERY}</label>
		<input	type="text" 
				class="form-control ilRight"
				name="count_MONTHLY" 
				value="{COUNT_MONTHLY_VAL}" 
				size="2"
				maxlength="3" />
		{TXT_MONTHLY_FREQ_UNIT}
	</div>
	<div id="sub_MONTHLY_2" style="padding-left: 40px;">
			<label class="control-label">
				<input	id="sub_monthly_radio_1"
						class="form-control radio"
						type="radio"
						{M_BYDAY_CHECKED}
						name="subtype_MONTHLY"
						value="1" /> {TXT_ON_THE}</label>
				{SELECT_BYDAY_NUM_MONTHLY}
				{SEL_BYDAY_DAY_MONTHLY}
	</div>
	<div id="sub_MONTHLY_3" style="padding-left: 40px;">
		<label class="control-label">
			<input	id="sub_monthly_radio_2"
					class="form-control radio"
					type="radio"
					{M_BYMONTHDAY_CHECKED}
					name="subtype_MONTHLY"
					value="2" /> {TXT_ON_THE}</label>
		{SELECT_BYMONTHDAY}
		{TXT_SUFFIX}
		<hr/>	
	</div>
	<!-- END monthly_block -->
	<!-- BEGIN yearly_block -->
	<div id="sub_YEARLY_1" style="padding-left: 40px;">
		<hr/>
		<label class="control-label" for="count_YEARLY">{TXT_EVERY}</label>
		<input	type="text"
				class="form-control ilRight" 
				name="count_YEARLY" 
				value="{COUNT_YEARLY_VAL}" 
				size="2"
				maxlength="3" />
		{TXT_YEARLY_FREQ_UNIT}
	</div>
	<div id="sub_YEARLY_2" style="padding-left: 40px;">
		<label class="control-label">
			<input	id="sub_yearly_radio_1"
					class="form-control radio"
					type="radio"
					{Y_BYDAY_CHECKED}
					name="subtype_YEARLY"
					value="1" /> {TXT_ON_THE}</label>
			{SELECT_BYDAY_NUM_YEARLY}
			{SELECT_BYDAY_DAY_YEARLY}
			{TXT_IN}
			{SELECT_BYMONTH_BYDAY}
	</div>
	<div id="sub_YEARLY_3" style="padding-left: 40px;">
		<label class="control-label">
			<input	id="sub_yearly_radio_2"
					class="form-control radio"
					type="radio"
					{Y_BYMONTHDAY_CHECKED}
					name="subtype_YEARLY"
					value="2" /> {TXT_ON_THE}</label>
		{SELECT_BYMONTHDAY_NUM_YEARLY}
		{SELECT_BYMONTH_YEARLY}
		<hr/>
	</div>
	<!-- END yearly_block -->
	
	<!--  BEGIN until_selection_unlimited -->
	<div id="sub_UNTIL_1" style="padding-left: 40px;">
			<label class="control-label">
				<input	id="sub_until_radio_1"
						class="form-control radio"
						type="radio"
						{UNTIL_NO_CHECKED}
						name="until_type"
						value="1" /> {TXT_NO_ENDING}</label>
	</div>
	<!-- END until_selection_unlimited -->
	<div id="sub_UNTIL_2" style="padding-left: 40px;">
		<label class="control-label">
			<input id="sub_until_radio_2"
				   class="form-control radio"
				   type="radio"
				   {UNTIL_COUNT_CHECKED}
				   name="until_type"
				   value="2" /> {TXT_UNTIL_CREATE}</label>
		<label class="control-label"><input	class="form-control"
			   type="text"
			   size="2"
			   maxlength="2"
			   name="count"
			   value="{VAL_COUNT}"
			   onclick="ilUpdateSubTypeSelection('sub_until_radio_2');" /> {TXT_APPOINTMENTS}</label>
	</div>
	<div id="sub_UNTIL_3" style="padding-left: 40px;">
		<label class="control-label">
			<input id="sub_until_radio_3"
				   class="form-control radio"
				   type="radio"
				   {UNTIL_END_CHECKED}
				   name="until_type"
				   value="3" /> {TXT_UNTIL_END}</label>
		{UNTIL_END_DATE}
	</div>
	<!-- BEGIN until_fixed -->
	<div id="sub_UNTIL_1" style="padding-left: 40px;">
		<label class="control-label" for="count">{TXT_FIXED_UNTIL_CREATE}</label>
		<input	type="text"
				class="form-control"
				size="2"
				maxlength="2"
				name="count"
				value="{VAL_FIXED_COUNT}" /> {TXT_FIXED_APPOINTMENTS}
	</div>
	<!-- END until_fixed -->
</div>