<tr class="{CSS_ROW}" style="font-size: small">
	<td class="std">
		<!-- BEGIN deletable -->
		<input type="checkbox" name="appointments[]" value="{VAL_ID}" {VAL_CHECKED} />
		<!-- END deletable -->
	</td>
	<td class="std">
		{VAL_BEGIN}
	</td>
	<td class="std">
		<!-- BEGIN title_link -->
		<a href="{VAL_LINK}">{VAL_TITLE_LINK}</a>
		<!-- END title_link -->
		<!-- BEGIN title -->
		{VAL_TITLE}
		<!-- END title -->		
		<!-- BEGIN description -->
		<div class="il_Description">
			{VAL_DESCRIPTION}
		</div>
		<!-- END description -->
	</td>
	<td class="std">
		{VAL_DURATION}
	</td>
	<td class="std">
		{VAL_FREQUENCE}
	</td>
</tr>
