<tr class="{CSS_ROW}" style="font-size: small">
	<td class="std" >
		<!-- BEGIN checkbox -->
		<input type="checkbox" name="selected_cat_ids[]" value="{VAL_ID}" />
	    <!-- END checkbox -->
	</td>
	<td class="std" style="vertical-align:top;">
	<img src="{IMG_SRC}" alt="{IMG_ALT}" title="{IMG_ALT}" />
	</td>
	<td class="std" style="vertical-align:top;">
		<span style="padding: 0px 5px; background-color: {BGCOLOR}">&nbsp;</span>&nbsp;&nbsp;<a class="small" href="{EDIT_LINK}">{VAL_TITLE}</a>
		<!-- BEGIN cal_description -->
		<div class="il_Description">
			<span style="padding: 0px 5px;">&nbsp;</span>&nbsp;&nbsp;<span class="small">{ADD_PATH_INFO}</span>
		</div>
		<!-- END cal_description -->
	</td>
	<td class="std small" style="vertical-align:top; text-align:right; padding-right: 30px">
		{ACTIONS}
	</td>
</tr>
