<div class="yui-skin-sam">
	<div id="panel_{PANEL_NUM}" style="display: none">
		<div class="hd">{PANEL_TITLE}</div>
		<div class="bd" style="padding-bottom:2em">
			<table class="il_InfoScreen small fullwidth">
				<tr>
					<th colspan="2" class="il_InfoScreenSection">
							<div class="ilFloatLeft">
								<h3>{PANEL_DETAILS}<h3>
							</div>
							<!-- BEGIN panel_delete_link -->
							<div class="ilFloatRight">
								<a href="{PANEL_DELETE_HREF}" class="submit small">{TXT_PANEL_DELETE}</a>
							</div>
							<!-- END panel_delete_link -->
							<!-- BEGIN panel_edit_link -->
							<div class="ilFloatRight">
								<a href="{PANEL_EDIT_HREF}" class="submit small">{TXT_PANEL_EDIT}</a>
							</div>
							<!-- END panel_edit_link -->
							<!-- BEGIN panel_book_link -->
							<div class="ilFloatRight">
								<a href="{PANEL_BOOK_HREF}" class="submit small">{TXT_PANEL_BOOK}</a>
							</div>
							<!-- END panel_book_link -->
							<!-- BEGIN panel_cancel_book_link -->
							<div class="ilFloatRight">
								<a href="{PANEL_CANCELBOOK_HREF}" class="submit small">{TXT_PANEL_CANCELBOOK}</a>
							</div>
							<!-- END panel_cancel_book_link -->
					</th>
				</tr>
				<tr>
					<td class="il_InfoScreenProperty ilRight" width="30%">{PANEL_TXT_CAL_TYPE}</td>
					<td class="il_InfoScreenPropertyValue" width="70%">{PANEL_CAL_TYPE}</td>
				</tr>
				<tr>
					<td class="il_InfoScreenProperty ilRight" width="30%">{PANEL_TXT_CAL_NAME}</td>
					<td class="il_InfoScreenPropertyValue" width="70%">{PANEL_CAL_NAME}</td>
				</tr>
				<tr>
					<td class="il_InfoScreenProperty ilRight" width="30%">{PANEL_TXT_DATE}</td>
					<td class="il_InfoScreenPropertyValue" width="70%">{PANEL_DATE}</td>
				</tr>
				<!-- BEGIN panel_location -->
				<tr>
					<td class="il_InfoScreenProperty ilRight" width="30%">{PANEL_TXT_WHERE}</td>
					<td class="il_InfoScreenPropertyValue" width="70%">{PANEL_WHERE}</td>
				</tr>
				<!-- END panel_location -->
				<!-- BEGIN panel_completion -->
				<tr>
					<td class="il_InfoScreenProperty ilRight" width="30%">{PANEL_TXT_COMPL}</td>
					<td class="il_InfoScreenPropertyValue" width="70%">{PANEL_COMPL}</td>
				</tr>
				<!-- END panel_completion -->
				<!-- BEGIN panel_responsible -->
				<tr>
					<td class="il_InfoScreenProperty ilRight" width="30%">{PANEL_TXT_RESP}</td>
					<td class="il_InfoScreenPropertyValue" width="70%">{PANEL_RESP}</td>
				</tr>
				<!-- END panel_responsible -->
				<!-- BEGIN panel_description -->
				<tr>
					<td class="il_InfoScreenProperty ilRight" width="30%">{PANEL_TXT_DESC}</td>
					<td class="il_InfoScreenPropertyValue" width="70%">{PANEL_DESC}</td>
				</tr>
				<!-- END panel_description -->
				<!-- BEGIN panel_link -->
				<tr>
					<td class="il_InfoScreenProperty ilRight" width="30%">{PANEL_TXT_LINK}</td>
					<td class="il_InfoScreenPropertyValue" width="70%">
						{PANEL_PARENT} > <a target="_top" href="{PANEL_LINK_HREF}">{PANEL_LINK_NAME}</a>
					</td>
				</tr>
				<!-- END panel_link -->
				<!-- BEGIN panel_booking_owner -->
				<tr>
					<td class="il_InfoScreenProperty ilRight" width="30%">{PANEL_TXT_BOOKING_OWNER}</td>
					<td class="il_InfoScreenPropertyValue" width="70%">{PANEL_BOOKING_OWNER}</td>
				</tr>
				<!-- END panel_booking_owner -->
				<!-- BEGIN panel_booking_target -->
				<tr>
					<td class="il_InfoScreenProperty ilRight" width="30%">{PANEL_TXT_BOOKING_TARGET}</td>
					<td class="il_InfoScreenPropertyValue" width="70%">
						<!-- BEGIN panel_booking_target_row -->
						<a href="{PANEL_BOOKING_TARGET}" target="_top">{PANEL_BOOKING_TARGET_TITLE}</a><br />
						<!-- END panel_booking_target_row -->
					</td>
				</tr>
				<!-- END panel_booking_target -->
				<!-- BEGIN panel_max_booking -->
				<tr>
					<td class="il_InfoScreenProperty ilRight" width="30%">{PANEL_TXT_MAX_BOOKING}</td>
					<td class="il_InfoScreenPropertyValue" width="70%">{PANEL_MAX_BOOKING}</td>
				</tr>
				<!-- END panel_max_booking -->
				<!-- BEGIN panel_current_booking -->
				<tr>
					<td class="il_InfoScreenProperty ilRight" width="30%">{PANEL_TXT_CURRENT_BOOKING}</td>
					<td class="il_InfoScreenPropertyValue" width="70%">{PANEL_CURRENT_BOOKING}</td>
				</tr>
				<!-- END panel_current_booking -->
			</table>
		</div>
	</div>
</div>