<form class="ilForm" method="post" action="{FORM_ACTION}">

<div class="ilCalSelList" id="categories">
<!-- BEGIN item_grp -->
<h6>{GRP_HEAD}</h6>
<ul class="ilCalSel" >
<!-- BEGIN item -->
	<li>
		<div>
			<div class="ilCalColSpan" style="border-color: {BGCOLOR}">
				<input type="hidden" name="shown_cat_ids[]" value="{VAL_ID}" />
				<input type="checkbox" name="selected_cat_ids[]" value="{VAL_ID}" {VAL_CHECKED} {VAL_DISABLED}/>
			</div>
			<div>
				<img src="{IMG_SRC}" alt="{IMG_ALT}" title="{IMG_ALT}" />
			</div>
			<div>
				<!-- BEGIN linked_title -->
				<div class="ilCalSelTitle">
				<a class="small" href="{EDIT_LINK}">{VAL_TITLE}</a>
				<!-- END linked_title -->
				<!-- BEGIN plain_title -->
				{PLAIN_TITLE}
				<!-- END plain_title -->
				<!-- BEGIN calendar_path -->
				<div class="il_Description">
					<span class="small">{ADD_PATH_INFO}</span>
				</div>
				<!-- END calendar_path -->
				</div>
			</div>
		</div>
	</li>
<!-- END item -->
</ul>
<!-- END item_grp -->
</div>
<div class="ilCalSelSelAll light">
<input id="chb_select_all_cat" type="checkbox" onclick="il.Util.setChecked('categories', 'selected_cat_ids',
	this.checked);" value="1" name="chb_select_all_cat"> <label for="chb_select_all_cat">{TXT_SELECT_ALL}</label>
</div>
<div class="ilCalSelAct">
<img border="0" style="vertical-align:middle;" alt="{TXT_ACTION}" src="{SRC_ACTION}">
<input class="btn btn-default" type="submit" value="{TXT_SHOW}" name="cmd[{CMD_SHOW}]">
</div>

</form>
