{NAVIGATION}
<script type="text/javascript"> 
	function redirectTo(link)
	{
		window.location = link;
	}
	
		
    function init() 
    { 

		<!-- BEGIN panel_code -->
		myPanel = new YAHOO.widget.Panel("panel_{NUM}", { width:"40em", visible:false, draggable:true, close:true, constraintoviewport:true} );
		myPanel.render();
		myPanel.hideEvent.subscribe(hideEvent);
	
		YAHOO.util.Event.addListener("show_{NUM}","click",onAppointmentClick,myPanel,true);
		YAHOO.util.Event.addListener("link_{NUM}","click",onEditLinkClick,myPanel,true);
		<!-- END panel_code -->
		
		var ignoreClickEvent = false;
		
		<!-- END panel_code -->
		
		function onEditLinkClick(event,panel) 
		{
			document.getElementById(panel.id).style.display = '';
			panel.show();
			YAHOO.util.Event.stopEvent(event);
			return true;
		}
		
		function onAppointmentClick(event,panel)
		{
			if(ignoreClickEvent == false)
			{
				document.getElementById(panel.id).style.display = 'block';
				panel.show();
			}
			ignoreClickEvent = false;				
		}
		
		function hideEvent()
		{
			ignoreClickEvent = true;
			this.hide();
		}			
	}
	
	var current_id = null;
	function showNewAppLink(num_link)
	{
		hideNewAppLink();
		
		document.getElementById('new_link_' + num_link).style.visibility = 'visible';
		current_id = num_link;
	}
	
	function hideNewAppLink()
	{
		if(current_id)
		{
			document.getElementById('new_link_' + current_id).style.visibility = 'hidden';
		}
	}
	
	YAHOO.util.Event.onDOMReady(init);
</script> 

<table class="calstd">
	<thead>
		<tr class="calheader">
			<th class="calstd">{TXT_TIME}</th>
			<!-- BEGIN day_header_row -->
			<th class="calstd" width="13%" colspan="{DAY_COLSPAN}">
				    <!-- BEGIN day_view1_link -->
					<a class="callink" href="{DAY_VIEW_LINK}">
						<font class="small">{HEADER_DATE}</font>
					</a>
					<!-- END day_view1_link -->
					<!-- BEGIN day_view1_no_link -->
					<font class="small">{HEADER_DATE}</font>
					<!-- END day_view1_no_link -->
					
				    <!-- BEGIN new_app --><a href="{NEW_APP_LINK}">{NEW_APP_SRC}</a><!-- END new_app -->
					<!-- BEGIN new_ms -->
					<div class="btn-group">
						<div class="dropdown-toggle callink" data-toggle="dropdown" data-container="body" id="add_dd_tr_{DD_ID}" type="button">
							{DD_TRIGGER}
						</div>
						<ul class="dropdown-menu pull-right" role="menu" id="add_dd_{DD_ID}">
							<li><a href="{URL_DD_NEW_APP}">{TXT_DD_NEW_APP}</a></li>						
							<li><a href="{URL_DD_NEW_MS}">{TXT_DD_NEW_MS}</a></li>						
					</ul>					
					</div>
					<!-- END new_ms -->
					
					<br />
					<!-- BEGIN day_view2_link -->
					<a class="callink" href="{DAY_VIEW_LINK}">{DAYNAME}</a>
					<!-- END day_view2_link -->
					<!-- BEGIN day_view2_no_link -->
					{DAYNAME}
					<!-- END day_view2_no_link -->
			</th>
			<!-- END day_header_row -->
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN fullday_apps -->
		<tr class="calstd" style="height: 1em">
			<td class="calheadertime">{TXT_F_DAY}</th>
			<!-- BEGIN f_day_row -->
			<td class="calstd" colspan="{COLSPAN}">
				<!-- BEGIN fullday_app -->
				{PANEL_F_DAY_DATA}
				<p id="show_{F_DAY_ID}" class="il_calevent" 
					style="background-color:{F_APP_BGCOLOR}; color:{F_APP_FONTCOLOR}">
					<!-- BEGIN fullday_ms_icon --><img alt="{ALT_FD_MS}" title="{ALT_FD_MS}" src="{SRC_FD_MS}" /><!-- END fullday_ms_icon --><a id="link_{F_DAY_ID}" class="callink" href="{F_APP_EDIT_LINK}"><font class="small">{F_APP_TITLE}</font></a>
				</p>
				<!-- END fullday_app -->
			</td>
			<!-- END f_day_row -->
		</tr>
		<!-- END fullday_apps -->
		<!-- BEGIN time_row -->
		<tr class="calstdtime">
			<!-- BEGIN time_txt -->
			<td class="calheadertime" style="vertical-align: top" nowrap="nowrap" rowspan="{TIME_ROWSPAN}">
				{TIME}
			</td>
			<!-- END time_txt -->
			<!-- BEGIN scrd_day_cell -->
			<td id="show_{DAY_CELL_NUM}" class="{TD_CLASS}" style="{TD_STYLE}" valign="top" rowspan="{TD_ROWSPAN}"
				onmouseover="showNewAppLink({DAY_ID})">
				<!-- BEGIN scrd_not_empty -->
				<div class="calevent" style="{DIV_STYLE}">
				{PANEL_DATA}
				<a id="link_{LINK_NUM}" class="callink" href="{APP_EDIT_LINK}">
					<font class="small">{APP_TITLE}</font>
				</a>
				</div>
				<!-- END scrd_not_empty -->
			</td>
			<!-- END scrd_day_cell -->
			<!-- BEGIN day_cell -->
			<td id="show_{DAY_CELL_NUM}" class="{TD_CLASS}" style="{TD_STYLE}" valign="top" rowspan="{TD_ROWSPAN}"
				onmouseover="showNewAppLink({DAY_ID})" onmouseout="hideNewAppLink()">
				<!-- BEGIN new_app_link -->
				<div id="new_link_{DAY_NEW_ID}" style="float: right;visibility: hidden">
					<a href="{DAY_NEW_APP_LINK}" class="callink">{DAY_NEW_APP_SRC}</a>
				</div>
				<!-- END new_app_link -->
				<!-- BEGIN not_empty -->
				{PANEL_DATA}
				<a id="link_{LINK_NUM}" class="callink" href="{APP_EDIT_LINK}" style="{LINK_STYLE}">
					<font class="small">{APP_TITLE}</font>
				</a>
				<!-- END not_empty -->
			</td>
			<!-- END day_cell -->
		</tr>
		<!-- END time_row -->
	</tbody>
</table>					