{NAVIGATION}
<table class="calstd il-cal-week">
	<thead>
	<tr class="calheader">
		<th class="calstd">{TXT_TIME}</th>
		<!-- BEGIN day_header_row -->
		<th class="calstd" width="13%" colspan="{DAY_COLSPAN}">

			<!-- BEGIN day_view_link -->
			<a class="callink" href="{DAY_VIEW_LINK}">{HEADER_DATE}</a>
			<!-- END day_view_link -->
			<!-- BEGIN day_view_no_link -->
			{HEADER_DATE}
			<!-- END day_view_no_link -->

			<!-- BEGIN new_app -->{NEW_APP_GLYPH}<!-- END new_app -->
			<!-- BEGIN new_ms -->
			<div class="btn-group">
				<div class="dropdown-toggle callink" data-toggle="dropdown" data-container="body" id="add_dd_tr_{DD_ID}" type="button">
					{DD_TRIGGER}
				</div>
				<ul class="dropdown-menu pull-right" role="menu" id="add_dd_{DD_ID}">
					<li><a href="{URL_DD_NEW_APP}">{TXT_DD_NEW_APP}</a></li>
					<li><a href="{URL_DD_NEW_MS}">{TXT_DD_NEW_MS}</a></li>
				</ul>
			</div>
			<!-- END new_ms -->

		</th>
		<!-- END day_header_row -->
	</tr>
	</thead>
	<tbody>
		<!-- BEGIN fullday_apps -->
		<tr class="calstd" style="height: 1em">
			<td class="calheadertime">{TXT_F_DAY}</th>
			<!-- BEGIN f_day_row -->
			<td class="calstd" colspan="{COLSPAN}">
				<!-- BEGIN content_fd -->
				{CONTENT_EVENT_FD}
				<!-- END content_fd -->
			</td>
			<!-- END f_day_row -->
		</tr>
		<!-- END fullday_apps -->
		<!-- BEGIN time_row -->
		<tr class="calstdtime">
			<!-- BEGIN time_txt -->
			<td class="calheadertime" style="vertical-align: top; white-space: nowrap" rowspan="{TIME_ROWSPAN}">
				{TIME}
			</td>
			<!-- END time_txt -->
			<!-- BEGIN not_full_day_event -->
				<!-- BEGIN scrd_day_cell -->
				<td id="show_{DAY_ID}" class="{TD_CLASS}" style="{TD_STYLE}" valign="top" rowspan="{TD_ROWSPAN}">
					<!-- BEGIN scrd_not_empty -->
					<div class="calevent" style="{DIV_STYLE}">
						{GRID_CONTENT}
					</div>
					<!-- END scrd_not_empty -->
				</td>
				<!-- END scrd_day_cell -->
				<!-- BEGIN day_cell -->
				<td id="show_{DAY_ID}" class="{TD_CLASS}" style="{TD_STYLE}" valign="top" rowspan="{TD_ROWSPAN}">
					<!-- BEGIN new_app_link -->
					<div id="new_link_{DAY_NEW_ID}" class="calnewapplink">
						{DAY_NEW_APP_LINK}
					</div>
					<!-- END new_app_link -->
					<!-- BEGIN not_empty -->
					{GRID_CONTENT}
					<!-- END not_empty -->
				</td>
				<!-- END day_cell -->
			<!-- END not_full_day_event -->
		</tr>
		<!-- END time_row -->
	</tbody>
</table>