<tr class="{CSS_ROW}">
	<td class="std" style="vertical-align:top;background-color: {BGCOLOR}">
		<input style="background-color: {BGCOLOR}" type="checkbox" name="selected_cat_ids[]" value="{VAL_ID}" {VAL_CHECKED} />
		<input type="hidden" name="shown_cat_ids[]" value="{VAL_ID}" />
	</td>
	<td class="std" style="vertical-align:top;" width="100%">
		<div style="float:left">
			&nbsp;<img src="{IMG_SRC}" alt="{IMG_ALT}" title="{IMG_ALT}" />&nbsp;<font class="small"><a href="{EDIT_LINK}">{VAL_TITLE}</a></font>
			<div class="il_Description">
				<font class="small">{ADD_PATH_INFO}</font>
			</div>
		</div>
	</td>
</tr>
