<br/>
{NAVIGATION}
<br/>
<table class="calstd">
	<tr class="calheader">
		<!-- BEGIN month_header_col -->
		<th class="calstd" width="14%">{TXT_WEEKDAY}</th>
		<!--  END month_header_col -->
	</tr>	
	<!-- BEGIN month_row -->
	<tr class="calstd">
		<!-- BEGIN month_col -->
		<td class="calstd">
			<p class="il_monthday">{MONTH_DAY}</p>
			<p class="il_calevent" style="background-color:orange">08:00 Fullday</p>
			<img src="{NEW_SRC}" alt="{NEW_ALT}" title="{NEW_ALT}" />
			<img src="{OPEN_SRC}" alt="{OPEN_ALT}" title="{OPEN_ALT}" />
		</td>
		<!-- END month_col -->
	</tr>
	<!-- END month_row -->
</table>	
		