<div id="test">
	<div class="{CRS_REF}{CRS_REQUEST}{CRS_TPL}">
		<script type="text/javascript">
			il.mail_data_json_url = "{MAIL_PREVIEW_JSON}";
		</script>
		<div id="courseSearchCloseBtn">
			<a onClick="gevHideMailPreview();">Schließen (X)</a>
		</div>
		<div id="dct-mail_template_base">{MAILTEMPLATE}</div>
		<div id="dct-mail_content">
			<div class="mail">&nbsp;</div>
			<div class="attachment_header">
					<h3>Anhänge</h3>
			</div>
			<div class="attachment_content">&nbsp;</div>
		</div>
	</div>
</div>