<div id="form_dct_training_settings">
	<div class="dct-row">
		<div class="dct-coloumn">
			<p class="txt-bold no-margin no-padding">Zeitraum</p>
		</div>
		<div class="dct-coloumn">
			<div class="dct-label"><lable>{DATE_LABEL}</label></div><div class="dct-element padding-top-1em">{DATE}</div>
		</div>
		<div class="dct-coloumn">
			<div class="dct-label"><lable>{TIME_LABEL}</label></div><div class="dct-element">{TIME}</div>
		</div>
	</div>

	<!-- BEGIN hidden -->
	<input type="{PROP_INPUT_TYPE}" name="{POST_VAR}" id="{ID}" value="{PROPERTY_VALUE}"></input>
	<!-- END hidden -->

	<div class="dct-clear"></div>
	<div class="dct-row-footer">
			<div class="dct-element-footer"><input class="submit" type="submit" name="cmd[{BTN_CMD}]" value="{BTN_VALUE}"></div>
	</div>
	<div class="dct-clear"></div>
</div>