<tr class="{CSS_ROW}">
<td class="std" style="vertical-align:top;">
<img alt="{IMG_ALT}" src="{IMG_SRC}" />
{VAL_TITLE}
</td>
<td class="std" style="vertical-align:top;">
{VAL_LAST_EXPORT}
</td>
<td class="std" style="vertical-align:top;">
<input type="radio" name="sel[{ID}]" value="last_file" {SEL_LAST_FILE} />{TXT_LAST_EXPORT_FILE}
</td>
<td class="std" style="vertical-align:top;">
<input type="radio" name="sel[{ID}]" value="create" {SEL_CREATE} />{TXT_CREATE_NEW_EXPORT_FILE}
</td>
<td class="std" style="vertical-align:top;">
<input type="radio" name="sel[{ID}]" value="omit"/>{TXT_OMIT}
</td>
</tr>
