//== Category 1
//
//## Comment Category 1
// Random Section 1

//** comment variable 11
@variable11:		value11;
//** comment variable 12
@variable12:		value12;
//** comment variable 13
@variable13:		@variable11;

//== Category 2
//
//## Comment Category 2
/**
 Random Section 2 **/

//** comment variable 21
@variable21:		@variable11;
//** comment variable 22
@variable22:		value21;
//** comment variable 23
@variable23:		@variable21;
