/* Modules/Excercise */

.ilExcAssignmentBody {
	padding: 20px;
	background-color: @il-main-dark-bg;
}

.ilExcAssignmentHead img {
	display: block;
	float: left;
	margin-top: 4px;
}

.ilExcAssignmentHead .ilAssignmentHeader {
	padding: 0;
	margin: 1px 0 0 25px;
	font-size: @il-font-size-large;
}

.ilExcAssignmentHead, .ilAssignmentHeader {
	display: block;
}

.ilExAssignmentHeadProperty {
	margin: 4px 0 0 25px;
	font-size: @il-font-size-small;
}

.ilExcOverview .ilExcAssImageContainer {
	max-width: 300px;
	display:inline-block;
	cursor:pointer;
}
.ilExcReportFeedback{
	background-color:@il-main-dark-bg;
	padding:9px;
}

.ilExcAssignmentInfoTool {
	padding: 10px;
	h4 {
		padding-left:0px;
		padding-right:0px;
	}
	p {
		padding: 0px;
	}
	ul {
		padding-left: 30px;
		margin: 0;
	}
}

// show more text
.read-more-state {
	display: none;
}

.read-more-target {
	opacity: 0;
	max-height: 0;
	font-size: 0;
	transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
	opacity: 1;
	font-size: inherit;
	max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
	content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
	content: 'Show less';
}

.read-more-trigger {
	cursor: pointer;
	display: inline-block;
	padding: 0 .5em;
	color: @il-neutral-light-color;
	font-size: .9em;
	line-height: 2;
	border: 1px solid @il-main-border-color;
	border-radius: .25em;
}
