
{MESSAGE}

<!-- BEGIN forum -->
<h2>{TXT_FORUM_GROUP}</h2>

{COUNT_FORUM}<br>

<!-- BEGIN feedback -->
<p><div align=center><b>{TXT_FEEDBACK}</b></div></p>
<!-- END feedback -->

<!-- BEGIN linkbar -->
<table cellpadding=3 cellspacing=1 border=0>
<tr><td>{LINKBAR}</td></tr>
</table>
<!-- END linkbar -->

<table WIDTH="100%" CELLPADDING=3 CELLSPACING=1 BORDER=0>

<tr class="tblheader" VALIGN="top">
  <td width=20%><b>{TXT_TITLE}/{TXT_DESCRIPTION}</b></td>
  <td><b>{TXT_NUM_THREADS}</b></td>
  <td><b>{TXT_NUM_POSTS}</b></td>
  <td><b>{TXT_NUM_VISITS}</b></td>
  <td><b>{TXT_LAST_POST}</b></td>
  <td><b>{TXT_MODS}</b></td>
  <td><b>{TXT_FORUMPATH}</b></td>
</tr>

<!-- BEGIN forum_row -->
<tr>
 <td valign=top class="{ROWCOL}" width=20%>{TITLE}<br><i>{DESCRIPTION}</i><br>
 <!-- BEGIN start_data -->
 <br>{START_DATE_TXT1}: {START_DATE} {START_DATE_TXT2} {START_DATE_USER}
 <!-- END start_data -->
 
 <!-- BEGIN update_data -->
 <br>{LAST_UPDATE_TXT1}: {LAST_UPDATE} {LAST_UPDATE_TXT2} {LAST_UPDATE_USER}
 <!-- END update_data -->
 </td>
 <td valign=top class="{ROWCOL}">{NUM_THREADS}</td>
 <td valign=top class="{ROWCOL}">{NUM_POSTS}</td>
 <td valign=top class="{ROWCOL}">{NUM_VISITS}</td>
 <td valign=top class="{ROWCOL}">{LAST_POST}</td>
 <td valign=top class="{ROWCOL}">{MODS}</td>
 <td valign=top class="{ROWCOL}"><font size=1>{FORUMPATH}</font></td>
</tr>
<!-- END forum_row -->

<!-- BEGIN forum_no -->
<tr>
 <td COLSPAN=7>{TXT_MSG_NO_FORUMS_AVAILABLE}</td>
</tr>
<!-- END forum_no -->
</table>
<!-- END forum -->
