<h1>{TXT_FORUMS}</h1>

<!-- BEGIN forum -->
<h2>{TXT_FORUM_GROUP}</h2>
<table WIDTH="100%" CELLPADDING=0 CELLSPACING=0 BORDER=0>
<tr class="tblheader" VALIGN="bottom">
  <td>&nbsp;<b>{TXT_TITLE}</b>&nbsp;</td>
  <td>&nbsp;<b>{TXT_OWNER}</b>&nbsp;</td>
  <td>&nbsp;<b>{TXT_LAST_CHANGE}</b>&nbsp;</td>
</tr>

<!-- BEGIN forum_no -->
<tr>
 <td COLSPAN=2>{TXT_MSG_NO_FORUMS_AVAILABLE}</td>
</tr>
<!-- END forum_no -->
<!-- BEGIN forum_row -->
<tr class="{ROWCOL}">
 <td>&nbsp;{TITLE}&nbsp;</td>
 <td>&nbsp;{TITLE}&nbsp;</td>
 <td>&nbsp;{TITLE}&nbsp;</td>
</tr>
<!-- END forum_row -->
</table>
