<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
	"http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>ILIAS3 - {TXT_SETUP}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<link rel="stylesheet" type="text/css" href="ilias.css" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>

<table width="100%">
  <tr class="head">
    <td><a href="setup.php?step=begin&amp;lang={LANG}">ILIAS3 - {TXT_SETUP}</a></td>
    <td>{TXT_SETUP} Version {VERSION}</td>
	<td>
<!-- BEGIN languages -->
	<a href="{LINK_LANG}"> {LANG_DESC} </a> 
<!-- END languages -->
	</td>
  </tr>
</table>
<!-- BEGIN message -->
  <p class="msg"><font color="red">{TXT_ERR}</font></p>
<!-- END message -->



<!-- BEGIN step0 -->
<p>Welcome to ILIAS setup. This setup-routine helps you
<ul>
  <li>write the ini-file for your installation</li>
  <li>setup the database</li>
  <li>install additional languages</li>
  <li>create a password for accessing setup-routine later again</li>
</ul>
</p>

<h3>Environment</h3>
<p>{TXT_ENV}</p>

<h3>Preliminaries</h3>
<p>Let us first see, if your environment meets all requirements to install and run ILIAS3 on your system</p>
<table>
<!-- BEGIN preliminary -->
<tr>
  <td>&nbsp;-&nbsp;</td>
  <td>&nbsp;{TXT_PRE}&nbsp;</td>
  <td>&nbsp;{STATUS_PRE}&nbsp;</td>
  <td>&nbsp;<i>{COMMENT_PRE}</i>&nbsp;</td>
</tr>
<!-- END preliminary -->
</table>
<!-- BEGIN all_ok -->
<p><a href="{LINK_OVERVIEW}">[ Installation ]</a></p>
<!-- END all_ok -->
<!-- BEGIN premessage -->
  <p class="msg"><font color="red">{TXT_PREERR}</font></p>
<!-- END premessage -->
<!-- END step0 -->



<!-- BEGIN begininstallation -->
<h3>Setup Mainmenu</h3>
<p>This is the main page of ILIAS3 setup. From here you can step through the installation.</p>
<table>

<!-- BEGIN link -->
<tr>
  <td>&nbsp;&nbsp;&nbsp;&nbsp;{NR}. </td>
  <td><a href="{LINK}">[ {TXT_LINK} ]</a></td>
  <td>{STATUS}</td>
</tr>
<!-- END link -->

</table>

<!-- BEGIN ready -->
<div align="center">
<p>Setup is ready. you may now proceed with the login and check further system settings.</p>
<p><a href="{LINK_LOGIN}">[ {TXT_LOGIN} ]</a></p>
</div>
<!-- END ready -->

<!-- END begininstallation -->



<!-- BEGIN step1 -->
<h1>{TXT_INIFILE1}</h1>
<form method="post" name="form" action="setup.php?step=2&amp;lang={LANG1}">
<table>
  <tr>
    <td>{TXT_DB_TYPE}</td>
    <td><select name="dbtype">
<!-- BEGIN seldbtype -->
    <option value="{DBTYPESHORT}" {SELDBSELECTED}>{DBTYPE}</option>
<!-- END seldbtype -->
    </select></td>
  </tr>
  <tr>
    <td>{TXT_DB_HOST}</td>
    <td><input type="text" size=40 name="dbhost" value="{DB_HOST}" /></td>
  </tr>
  <tr>
    <td>{TXT_DB_NAME}</td>
    <td><input type="text" size=20 name="dbname" value="{DB_NAME}" /></td>
  </tr>
  <tr>
    <td>{TXT_DB_USER}</td>
    <td><input type="text" size=15 name="dbuser" value="{DB_USER}" /></td>
  </tr>
  <tr>
    <td>{TXT_DB_PASS}</td>
    <td><input type="text" size=15 name="dbpass" value="{DB_PASS}" /></td>
  </tr>
</table>
<input type="submit" name="butSubmit" value="{TXT_SUBMIT}" />&nbsp;
<input type="reset" name="butReset" value="{TXT_RESET}" />
</form>
<!-- END step1 -->

<!-- BEGIN step2 -->
<h1>{TXT_INIFILE2}</h1>
<!-- BEGIN step2_success -->
		<p>The ini-file has been successfully saved on your host.</p>
		<p>Your ini-file has this content:</p>
		<p>ILIAS.INI:</p>
		<table>
		<tr bgcolor="#eeeeee">
			<td>
				<font size=2>
				<pre>
{INIFILECONTENT}
				</pre>
				</font>
			</td>
		</tr>
		</table>
<!-- END step2_success -->
		<p><a href="{LINK_STEP2}">[ {TXT_STEP2} ]</a></p>
<!-- END step2 -->

<!-- BEGIN step3 -->
	<p><h1>{TXT_DATABASE3}</h1></p>
	<p><a href="{LINK_STEP3}">[ {TXT_STEP3} ]</a></p>
<!-- END step3 -->

<!-- BEGIN step4 -->
<h1>{TXT_LANGUAGES4}</h1>
<p>Coming soon...<br/>English is pre-installed if you setup your database for the first time.</p>
<p><a href="{LINK_STEP4}">[ {TXT_STEP4} ]</a></p>
<!-- END step4 -->

<!-- BEGIN step5 -->
<h1>{TXT_PASSWORD5}</h1>
<p>To protect your configuration data against other users you will need a password to access ILIAS3 setup later again.</p>
<form action="setup.php?setup.php?step=6&amp;lang={LANG}" method="post">
<p>Please choose a password: 
<input type="password" name="passwd" size="20"/>
<input type="submit" name="ok" value="ok" />
</p>
</form>
<p><font color="red">Under construction. Password protection doesn't work yet.</font></p>
<p><a href="{LINK_STEP5}">[ {TXT_STEP5} ]</a></p>
<!-- END step5 -->

<hr />
</body>
</html>
