<?php xml version = "1.0" encoding = "UTF-8"?>
<module xmlns="http://www.w3.org" version="$Id: modules.xml 15671 2008-01-04 13:08:30Z akill $"
	name="RemoteCourse" short="rcrs" dir="Modules/RemoteCourse">
	<baseclasses>
		<baseclass name="ilObjRemoteCourseGUI" dir="classes" />
	</baseclasses>
</module>
