<div class="il-drilldown" id="id_2"> 
    
    <header class="show-title show-backnav"> 
        <h2>root</h2> 
        <div class="backnav">
            <button class="btn btn-bulky" id="id_1" aria-label="back"><span class="glyph" role="img"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></span><span class="bulky-label"></span></button>
        </div> 
    </header>

    <ul>
        <li>
            <button class="menulevel" aria-expanded="false">root<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button>
            <ul>
                <li>
                    <button class="menulevel" aria-expanded="false">1<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button>
                    <ul>
                        <li>
                            <button class="menulevel" aria-expanded="false">1.1<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button>
                            <ul></ul>
                        </li>
                        <li>
                            <button class="menulevel" aria-expanded="false">1.2<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button>
                            <ul></ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <button class="menulevel" aria-expanded="false">2<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button>
                    <ul></ul>
                </li>
            </ul>
        </li>
    </ul>

</div>
