<div class="il-drilldown" id="{ID}">
    <header class="show-title show-backnav">
        <div></div>
        <div></div>
        <div class="backnav">
            {BACKNAV}
        </div>
    </header>
    <ul>
        <li>
            <div class="menulevel filter">
                <label for='{ID_FILTER}' class="control-label">{LABEL}</label>
                <input id='{ID_FILTER}' type="text" name='{NAME}' class="form-control" />
            </div>
            <ul>
                {DRILLDOWN}
            </ul>
        </li>
    </ul>
</div>
