/* Services/UIComponent/GroupedLists */

div.ilGroupedListH {
	padding: @il-padding-large-vertical 0 @il-padding-small-vertical 0;
   	color: @il-panel-heading-color;
}

div.ilGroupedListSep {
	padding-bottom: 3px;
	border-bottom: 1px solid @il-main-border-color;
	margin: 0 10px 3px;
}

a.ilGroupedListLE {
	display: block;
	padding: 5px 10px;
	font-size: @il-font-size-small;
}

a.ilGroupedListLE:hover {
	background-color: #ffffd9;
	text-decoration: none;
}

td.ilGroupedListNewCol {
	border-left: 1px solid @il-main-border-color;
}
