@use "../../../010-settings/"as *;
@use "../../../020-dependencies/modifications/bootstrap-3-scss-modified-variables-mixins" as btstrp3;
@use "../../../030-tools/scss-input/tool_form-patterns" as *;
@use "../../../030-tools/scss-input/tool_focus-outline" as *;
@use "../../../050-layout/basics"as *;
//== Specific Inputs
//
//
@use "_ui-component_tag.scss";
@use "_ui-component_password.scss";
@use "_ui-component_radio.scss";
@use "_ui-component_multiselect.scss";
@use "_ui-component_textarea.scss";
@use "_ui-component_filter.scss";
@use "_ui-component_duration.scss";
@use "_ui-component_file.scss";


//== Standard Form
//
//## Variables used to style the ILIAS standard form used e.g. in the "Settings"-Tab

.il-standard-form{
  background-color: $il-standard-form-bg;
  margin-top: $il-margin-large-vertical;


  .il-standard-form-cmd {
    float: right;
    .btn {
      display: inline-block;
      min-width: $il-button-min-width-forms;
      vertical-align: top;

      @media (max-width: $il-grid-float-breakpoint-max){
        min-width: 0;
      }
    }

  }
  .il-standard-form-header {
    padding-left: $il-padding-large-horizontal;
    padding-right: $il-padding-large-horizontal;

    background-color: $il-standard-form-header-bg;
    color: $il-standard-form-header-color;
  }

  .il-standard-form-footer, .il-section-input-header{
    padding: $il-standard-form-header-padding;

    background-color: $il-standard-form-header-bg;
    color: $il-standard-form-header-color;
  }

  .il-standard-form-header + .il-section-input > .il-section-input-header {
    border-top: none;
  }
  .il-section-input-header {
    margin: $il-standard-form-header-margin;
    border-top: $il-standard-form-header-border;
  }

  .il-standard-form-header h2, .il-section-input-header h2{
    font-size: $il-standard-form-header-font-size;
    font-weight: $il-font-weight-bold;
    padding-top: 2*$il-padding-large-vertical;
    padding-bottom: $il-padding-small-vertical;

  }

  .il-standar-form-header-byline, .il-section-input-header-byline{
    font-size: $il-standard-form-header-byline-font-size;
  }

  //Move the first section header up, to be displayed next to the forms top button
  .il-standard-form-header + .il-section-input{
    margin-top: calc(-1 * ($il-button-font-size*$il-line-height-base + ($il-margin-small-vertical + 1vw)));
    padding: 0;

    .il-section-input-header h2{
      margin-top: 0;
      padding-top: 0;
    }
  }

  .il-dependant-group{
    background-color: $il-standard-form-dependant-group-bg;
    padding: $il-padding-small-vertical 0;
    .form-group {
      margin: 0;
    }
  }

  input[type="radio"], input[type="checkbox"] {
    height: unset;
    width: unset;
  }

}

.input-group-addon {
	padding: 3px 8px;
	font-size: $il-font-size-base;
	font-weight: $il-font-weight-base;
	line-height: 1;
	color: $il-text-color;
	text-align: center;
	background-color: $il-main-dark-bg;
	border: 1px solid lighten($il-neutral-light-color,20%);
	border-radius: 0;
}

.form-horizontal .help-block {
  color: $il-standard-form-color;
  font-size: $il-standard-form-byline-font-size;

  margin: 2px 0 4px;
  padding: 0;

  clear: both;
  &:last-child {
    margin: 2px 0 10px;
  }

  &.alert-danger {
    margin: $il-margin-small-vertical 0 0;
    padding: 0 $il-padding-small-vertical 0 $il-padding-small-vertical;

    color: btstrp3.$alert-danger-text;
    background-color: btstrp3.$alert-danger-bg;
    border-color: btstrp3.$alert-danger-border;
  }
}

label, input[type=checkbox], input[type=radio], select {
  cursor: pointer;
}

.form-control {
  height: ($il-font-size-small * $il-line-height-base) + ((2+2*$il-padding-base-vertical)); // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: $il-padding-base-vertical $il-padding-base-horizontal;
  font-size: $il-standard-form-font-size;
  color: $il-text-color;
  border: 1px solid $il-main-border-dark-color;

}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: $il-main-dark-bg;
}

.form-horizontal {
  margin-bottom: 20px;
  background: $il-standard-form-bg;
}

form.form-inline {
  margin-bottom: 20px;
}

.form-horizontal .form-group {
  margin: 0px;
  padding: $il-padding-base-vertical 0;
  background-color: $il-main-bg;
}

.form-control, .form-control:focus {
  @include btstrp3.box-shadow(none);
}

.form-control:focus-visible {
  @include btstrp3.box-shadow(none);
  outline: $il-focus-outline-inner;
}

input[type="file"]:focus:focus-visible::after,
input[type="radio"]:focus:focus-visible::after,
input[type="checkbox"]:focus:focus-visible::after {
  content: none;
}

input.btn.btn-default:focus-visible {
  outline: $il-focus-outline-inner;
  outline-offset: $il-focus-outline-inner-width;
}

.btn-file:focus-within, .btn-file:hover:focus-within {
  z-index: 3;
  outline: $il-focus-outline-inner;
  outline-offset: $il-focus-outline-inner-width;
}

textarea.form-control {
  max-width: 100%;
}

select.form-control {
  width: auto;
  max-width:100%;
}

.form-horizontal label {
  color: $il-standard-form-label-color;
  font-size: 100%;
}


.form-horizontal {
  .control-label {
    text-align: $il-form-label-text-align;
    //padding-top: 0;
    //line-height: 24px;
    padding-bottom: ($il-padding-base-vertical + 1);
    min-height: ($il-line-height-computed + $il-font-size-base);
    @media only screen and (max-width: $il-grid-float-breakpoint-max) {
      min-height: auto;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    &.col-sm-3.il_textarea {
      width: 100%;
    }
  }

  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    padding-top: 0;
    line-height: normal;
  }
  div.radio label.radio-inline {
    line-height: btstrp3.$input-height-base;
  }
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: static;
  display: inline-block;
  margin-left: -20px;
  margin-top: 7px;
  min-width: 13px;
  @media only screen and (max-width: $il-grid-float-breakpoint-max) {
    min-width: 16px;
  }
}
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  vertical-align: top;
}

.radio .help-block {
  padding-left: $il-padding-xxlarge-horizontal;
}

label {
  font-weight: $il-font-weight-base;
}

td.form-inline > div.form-group {
  display: block;
  padding: 4px 0;
}

input[type="radio"]:focus:focus-visible,
input[type="checkbox"]:focus:focus-visible {
  outline: $il-focus-outline-inner;
  outline-offset: $il-focus-outline-outer-width;
}


