@use "../../../050-layout/basics/" as l;

.c-form ul.c-field-multiselect {
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		margin-top: l.$il-margin-base-vertical;
		&:first-child {
			margin-top: 0;
		}
		label {
			display: flex;
			> input[type="checkbox"] {
				margin-right: l.$il-margin-base-horizontal;
				width: auto;
			}
			> .c-input__multiselect__label-text {
				flex-grow: 1;
			}
		}
	}
}
