@use "../../../010-settings/"as *;
@use "../../../050-layout/"as *;

//== Standard Filter
//
//## Variables used to style the ILIAS Standard Filter

//** Filter Bar
$il-standard-filter-bar-btn-font-size: $il-font-size-base;
$il-standard-filter-bar-glyph-padding-right: 0.3em;
$il-standard-filter-bar-toggle-padding-left: 10px;

//** Input Fields Area
$il-standard-filter-input-section-border-top: 1px solid $il-main-border-color;
$il-standard-filter-input-section-padding-bottom: 40px;
$il-standard-filter-input-section-margin: 0;
$il-standard-filter-input-section-multiselect-margin: 0.8em;
$il-standard-filter-input-group-width: 100%;
$il-standard-filter-input-group-height: 25px;
$il-standard-filter-select-input-border: 1px solid $il-main-border-dark-color;
$il-standard-filter-label-width: 30%;
$il-standard-filter-input-remove-width: 10%;
$il-standard-filter-font-color-disabled: #b0b0b0;
$il-standard-filter-controls-bottom: 0px;
$il-standard-filter-controls-padding-left: 15px;
$il-standard-filter-controls-padding-bottom: 6px;

//** Division with active inputs under Filter Bar
$il-standard-filter-active-inputs-margin-left: 0;
$il-standard-filter-active-inputs-padding-vertical: 0;
$il-standard-filter-active-inputs-font-size: $il-font-size-small;

//** Popovers
$il-standard-filter-screen-sm-input-popover-padding: 4px;
$il-standard-filter-screen-sm-input-popover-margin-top: 0;
$il-standard-filter-screen-sm-input-popover-border: 0;
$il-standard-filter-add-input-popover-list-margin: 0;
$il-standard-filter-add-input-popover-list-padding: 0;
$il-standard-filter-add-input-popover-list-button-width: 100%;

.il-filter {
	.col-md-4, .col-md-6{
		padding-top: $il-padding-large-vertical;
		padding-bottom: $il-padding-large-vertical;
		padding-right: 0px;
	}

	//Necessary fix for Apply-Glyph
	.glyphicon-ok {
		font-size: unset;
		text-align: unset;
	}

	input {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.input-group {
		width: $il-standard-filter-input-group-width;
		height: $il-standard-filter-input-group-height;
		table-layout: fixed;

		select {
			width: $il-standard-filter-input-group-width;
			height: $il-standard-filter-input-group-height;
			border: $il-standard-filter-select-input-border;
			background-color: $il-main-bg;
		}

		.btn-bulky {
			background-color: $il-main-darker-bg;
		}
	}

	.leftaddon {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		width: $il-standard-filter-label-width;
	}

	.rightaddon {
		overflow: visible;
		white-space: nowrap;
		text-overflow: ellipsis;
		width: $il-standard-filter-input-remove-width;

		.glyphicon{
			top: 0;
		}
	}
}

.il-filter-bar {
	display: flex;
	padding: $il-padding-small-vertical $il-padding-large-horizontal;
	background-color: $il-main-dark-bg;

	.il-filter-bar-opener {
		flex: 1;

		.btn-bulky {
			display: inline-flex;
			width: $il-standard-filter-input-group-width;
			background-color: initial;
			font-size: $il-standard-filter-bar-btn-font-size;

			.glyph {
				padding-right: $il-standard-filter-bar-glyph-padding-right;
			}
		}
	}

	.il-filter-bar-toggle {
		float: right;
		padding-left: $il-standard-filter-bar-toggle-padding-left;
	}
}

.il-filter-controls {
	position: absolute;
	bottom: $il-standard-filter-controls-bottom;
	padding-left: $il-standard-filter-controls-padding-left;
	padding-bottom: $il-standard-filter-controls-padding-bottom;

	.btn-bulky {
		width: auto;
		background-color: initial;
		font-size: $il-font-size-base;
	}
}

.il-filter {
	.glyphicon {
		font-size: $il-font-size-base;
	}
}


.il-filter-inputs-active {
	background-color: $il-main-dark-bg;
	padding: $il-padding-small-vertical $il-padding-base-horizontal;

	span {
		display: inline-block;
		margin: $il-margin-small-vertical $il-margin-base-horizontal $il-margin-small-vertical $il-standard-filter-active-inputs-margin-left;
		padding: $il-standard-filter-active-inputs-padding-vertical $il-padding-base-horizontal;
		float: left;
		background-color: $il-main-bg;
		font-size: $il-standard-filter-active-inputs-font-size;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		max-width: 90vw;
	}
}

.il-filter-input-section {
	border-top: $il-standard-filter-input-section-border-top;
	position: relative;
	padding-bottom: $il-standard-filter-input-section-padding-bottom;
	padding-right: $il-padding-large-horizontal;
	margin: $il-standard-filter-input-section-margin;
	background: $il-main-dark-bg;

	.leftaddon {
		font-size: $il-font-size-small;
	}

	.il-input-multiselect {
		margin: $il-standard-filter-input-section-multiselect-margin;
	}
}

.il-filter-field {
	cursor: text;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@media (max-width: $screen-sm) {
	.il-filter {
		.webui-popover {
			position: static;
			max-width: none;

		}

		.webui-popover.bottom > .webui-arrow, .webui-popover.bottom-right > .webui-arrow, .webui-popover.bottom-left > .webui-arrow {
			display: none;
		}
		.webui-popover.bottom, .webui-popover.bottom-left, .webui-popover.bottom-right {
			padding: $il-standard-filter-screen-sm-input-popover-padding;
			margin-top: $il-standard-filter-screen-sm-input-popover-margin-top;
			border: $il-standard-filter-screen-sm-input-popover-border;
			box-shadow: none;
			background-color: $il-main-dark-bg;
		}
	}
}

.il-filter.disabled {
	.il-filter-inputs-active span {
		color: $il-standard-filter-font-color-disabled;
	}
}

.il-filter-add-list ul {
	list-style: none;
	margin: $il-standard-filter-add-input-popover-list-margin;
	padding: $il-standard-filter-add-input-popover-list-padding;

	li > button {
		padding: $il-padding-large-vertical $il-padding-large-horizontal;
		display: block;
		width: $il-standard-filter-add-input-popover-list-button-width;
	}
}
