@use "../../../010-settings/"as *;
@use "../../../050-layout/"as *;

//** Tag Input
$il-input-tag-color-bg: $il-btn-standard-bg;
$il-input-tag-color-text: $il-btn-standard-color;
$il-input-tag-color-disabled: #EEEEEE;

.il-input-tag {
	--tags-focus-border-color: $il-input-tag-color-bg;
	--tag-bg: $il-input-tag-color-bg;
	--tag-hover: $il-input-tag-color-bg;
	--tag-text-color: $il-input-tag-color-text;
	--tag-invalid-color: $il-input-tag-color-bg;
	--tag-invalid-bg: $il-input-tag-color-bg;
	--tag-remove-bg: $il-input-tag-color-bg;
	--tag-remove-btn-color: $il-input-tag-color-text;
	--tag-remove-btn-bg--hover: $il-input-tag-color-bg;
	--tag-hide-transition: .0s;
	line-height: $line-height-base;
}

.il-input-tag-container {
  height:     auto;
  min-height: $line-height-base;

	.il-input-tag {
		border:      none;
		box-shadow:  none;
		outline:     none;
		padding:     0 0px $il-padding-base-vertical + 1;
		line-height: $line-height-base;
		font-weight: $il-font-weight-bold !important;
		margin-bottom: ($il-margin-base-vertical * 2.2);
	}

	.il-input-tag .tagify__tag {
		margin-top: 0;
	}
}

.il-input-tag-container.disabled {
	background-color: $il-input-tag-color-disabled;
	cursor: not-allowed;

	.tagify__tag {
		cursor: not-allowed;
	}
	.form-control {
		background-color: $il-input-tag-color-disabled;
	}
}
