.c-field-password {
  &__revelation-glyph {
    float: right;
    margin-top: -21px;
    margin-right: 5px;
    &--reveal {
      display: block;
    }
    &--mask {
      display: none;
    }
  }

  &.revealed {
    .c-field-password__revelation-glyph--reveal {
      display: none;
    }
    .c-field-password__revelation-glyph--mask {
      display: block;
    }
  }
}