@use "../../../050-layout/basics" as l;

.c-field-radio {
	> .c-field-radio__item {
		display: grid;
		grid-template-areas: 	"input label"
								"input helpline";
		grid-template-columns: auto 1fr;
		margin-top: l.$il-margin-large-vertical;
		&:first-child {
			margin-top: 0;
		}
		> input {
			grid-area: input;
			margin-top: l.$il-margin-base-vertical;
			margin-right: l.$il-margin-base-horizontal;
			width: auto;
			height: max-content;
			align-self: baseline;
			justify-self: end;
		}
		> label {
			grid-area: label;
			flex-grow: 1;
		}
		> .c-input__help-byline {
			grid-area: helpline;
			width: 100%;
		}
	}
}
