@use "../../010-settings/" as *;

.yui-panel-container {
	color: $il-text-color;
}

.yui-skin-sam {
	&.form-inline .form-control {
		vertical-align: top;
	}
	.yui-button button {
		line-height: 23px;
		min-height: 23px;
	}

}