<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" bootstrap="../../../vendor/composer/vendor/autoload.php" colors="true" beStrictAboutOutputDuringTests="true" beStrictAboutTestsThatDoNotTestAnything="true" failOnRisky="true" failOnWarning="true" backupGlobals="true" executionOrder="random">
  <testsuite name="ilModulesTestSuite">
    <file>./tests/ilModulesTestSuite.php</file>
  </testsuite>
  <source>
    <include>
      <directory suffix=".php">classes</directory>
      <directory suffix=".php">exceptions</directory>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <file>src/Setup/Test9DBUpdateSteps.php</file>
      <file>src/Setup/Test10DBUpdateSteps.php</file>
    </exclude>
  </source>
</phpunit>