<div class="ilNotesHeader">
<h3 class="ilNotesHeader">
	{TXT_TAGS}
<br>
<span class="small">{TXT_OBJ_TITLE}</span>
</h3>
</div>
<div style="padding:5px;">{MESS}</div>
<div style="padding:5px 10px;">
<form id="ilTagFormAjax" method="post" name="cmd" action="#" onsubmit="{ON_SUBMIT}">
<textarea id="tags" class="noRTEditor" name="tags" wrap="virtual" style="width:450px;" rows="4">{VAL_TAGS}</textarea><br />
<input class="submit" type="submit" name="cmd[{CMD_SAVE}]" value="{TXT_SAVE}">
</form>
</div>
