.yui-simple-dialog .bd span.blckicon {
	background: none;
}

.yui-simple-dialog .bd span.alrticon {
	background: none;
}

.yui-simple-dialog .bd span.hlpicon {
	background: none;
}

.yui-simple-dialog .bd span.infoicon {
	background: none;
}

.yui-simple-dialog .bd span.warnicon {
	background: none;
}

.yui-simple-dialog .bd span.tipicon {
	background: none;
}

.yui-panel .container-close {
	position:absolute;
	top:5px;
	right:4px;
	z-index:6;
	height:16px;
	width:16px;
	margin:0px;
	padding:0px;
	cursor:pointer;
	visibility:inherit;
}

.yui-panel .hd {
	background-color:#3d77cb;
	color:black;
	font-size:100%;
	line-height:100%;
	border:1px solid #FFF;
	border-bottom:1px solid #000;
	font-weight:bold;
	overflow:hidden;
	padding:4px;
}
