/* former ta.css */

.kiosk {
	padding: 2em;
	background-color: #fafafa;
}

.fullwidth_invisible {
	background-color: transparent !important;
}

.feedback {
/*	border:  1px solid gray;*/
	padding: 4px;
	display: block;
	background: #EEEEEE;
}

.centermessage {
	width: 25em;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	font-size: 150%;
}

.col2 {
	width: 100%;
	float: left;
}

.rcol {
	width: 50%;
	float: right;
}

.lcol {
	width: 50%;
	float: left;
}

.participant.solution {
	padding: 5px;
	width: 50%;
	overflow-x: auto;
}

.lcol.participant
{
    width: 49%;
	overflow-x: auto;
}

.rcol.solution {
	width: 49%;
	overflow-x: auto;
	padding: 5px;
	background: #E2FFC7; /* Fallback IE 6-8 */
	background: rgba(226, 255, 199, .4);
}

#kioskOptions {
	clear: both;
	overflow: hidden;
	width: 100%;
	border-top: 1px #aaa solid;
	border-bottom: 1px #aaa solid;
	margin-bottom: 1em;
	padding: 1em 0;
}

#kioskTestTitle {
	float: left;
	width: 50%;
}

#kioskParticipant {
	float: right;
	text-align: right;
	width: 50%;
}

.print {
	visibility: hidden;
}


.ilTstWorkingFormBlock_WorkingTime {
	text-align: center;
	clear: both;
}

.ilTstWorkingFormInfo_UserWorkingTime {
	visibility: hidden;
	display: none;
}

.ilTstWorkingFormInfo_ProcessTimeLeft {
	font-size: 200%;
	font-weight: bold;
}

.ilTstQuestionSummaryBlock_WorkingTime {
	clear: both;
}

div.ilc_Question {
	padding-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.testSheet {
	background: #EEEEEE;
	border-spacing: 1px;
	border: 1px outset #BBBBBB;
	margin: 5px;
	padding: 2em;
}

.questionTitle {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 140%;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: #000000;
}

.ilTestQuestionRelatedObjectivesInfo
{
    font-size: 0.7em;
    font-style: italic;
    margin: 5px 0;
}

.questionPrintview {
	border: 1px solid #C0C0C0;
	padding: 0.25em;
	margin-top: 1em;
}

.solutionbox {
	color: black;
	background-color: white;
	padding-left: 5px;
	padding-right: 5px;
	border-style: inset;
	border-width: 1px;
}

td.middle {
	color: #000000;
	background-color: inherit;
	border-spacing: 0px;
	border: none;
	padding: 3px;
	vertical-align: middle;
}

td.top {
	color: #000000;
	background-color: inherit;
	border-spacing: 0px;
	border: none;
	padding: 3px;
	vertical-align: top;
}

/* --- Test tool javascript styles --- */

span.nowrap {
	white-space: nowrap;
}

div.termtext {
	width: 200px;
	height: 100px;
	border: 1px solid #000000;
	background-color: #F1F1F1;
	color: #222222;
	padding: 10px;
	vertical-align: middle;
	border-style: outset;
	text-align: center;
}

div.dropzone {
	width: 220px;
	height: 120px;
	border: 1px solid #000000;
	background-color: #FFE4E4;
	color: #222222;
	padding: 10px;
	vertical-align: middle;
	border-style: dotted;
	text-align: center;
}

div.textboximage {
	width: 200px;
	height: 80px;
	border: 1px solid #000000;
	background: #DDDDDD;
	padding: 10px;
	vertical-align: middle;
	border-style: outset;
	text-align: center;
}

div.imagebox {
	width: 200px;
	height: 100px;
	border: 1px solid #000000;
	background-color: #F1F1F1;
	color: #222222;
	padding: 10px;
	vertical-align: middle;
	border-style: outset;
	text-align: center;
	z-index: 200;
}

div.textbox {
	width: 200px;
	height: 100px;
	border: 1px solid #000000;
	background-color: #F1F1F1;
	color: #222222;
	padding: 10px;
	vertical-align: middle;
	border-style: outset;
	text-align: center;
	z-index: 200;
}

#filterpanel {
	text-align: right;
}

.filteractive {
	background-color: #f7face;
	border: 1px #d48110 solid;
}

.filterinactive {
	background-color: #fff;
}

.manfeedback .toggle-button
{
	padding-left:20px;
	background:transparent url(images/del_sprite_arrows.gif) 3px -318px no-repeat;
	cursor:pointer;
}

.manfeedback .yes
{
	padding-left:20px;
	background:transparent url(images/del_sprite_arrows.gif) 3px -359px no-repeat;
	cursor:pointer;
}

.manfeedback .off
{
	padding-left:20px;
	background:none;
	cursor:default;
}

div.odd {
	padding: 0.5em 0;
}

div.even {
	padding: 0.5em 0;
}

div.last {
	border-bottom: none;
}


table.imagemapareas tr,
table.kvpwizard tr,
table.matchingwizard tr,
table.matchingpairwizard tr,
table.errortextwizard tr,
table.singlechoicewizard tr,
table.multiplechoicewizard tr {
	vertical-align: top;
}

table.imagemapareas th,
table.kvpwizard th,
table.matchingwizard th,
table.matchingpairwizard th,
table.errortextwizard th,
table.singlechoicewizard th,
table.multiplechoicewizard th,
table.kprimchoicewizard th
{
    vertical-align: top;
}
table.kprimchoicewizard th.true,
table.kprimchoicewizard th.false
{
    padding: 5px 5px;
}
table.kprimchoicewizard td.correctness
{
    vertical-align: top;
    text-align: center;
}
table.kprimchoicewizard th
{
    font-size: 90%;
    font-weight: bold;
    text-align: center;
}
table.kprimchoicewizard
{
}
table.kprimchoicewizard
{
    margin-bottom: 15px;
}
table.kprimchoicewizard td
{
    padding-top: 15px;
}
div.ilAssKprimChoiceTable div.optionLabel,
table.kprimchoicewizard th.optionLabel
{
    background-color: lightgrey;
}

table.ilAssKprimChoiceTable tr.aggregaterow td
{
	border-bottom: solid lightgrey 1px;
}
table.ilAssKprimChoiceTable tr.aggregaterow td.answer_frequency
{
	text-align: right;
}
table.il_tst_answer_aggregation
{
	border-collapse: collapse;
}
table.il_tst_answer_aggregation td,
table.il_tst_answer_aggregation th
{
	padding: 5px 15px;
}
table.il_tst_answer_aggregation th
{
	background-color: lightgrey;
}
table.il_tst_answer_aggregation td
{
	border-bottom: solid lightgrey 1px;
}
table.il_tst_answer_aggregation td.answer_option
{
	font-style: italic;
}
table.il_tst_answer_aggregation td.answer_frequency
{
	text-align: right;
}

#tst_output {
	clear: both;
	overflow: hidden;
	width: 100%;
	float: left;
}

#tst_left {
	float: left;
	width: 0%;
}

#tst_left h1 {
	font-size: 110%;
	font-weight: bold;
}

#tst_right {
	float: right;
	width: 100%;
}

.question_description {
	font-style: italic;
	font-size: 90%;
}

ul.shortlist {
	list-style-type: none;
	padding: 0;
}

/* fau: testNav - icon for answered/unanswered questions in shortlist */
ul.shortlist li {
	padding: 0 0 6px 15px;
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 0px 5px;
}

ul.shortlist li.answered {
    background-image: url('../../../../templates/default/images/answered.svg');
}

ul.shortlist li.unanswered {
    background-image: url('../../../../templates/default/images/answered_not.svg');
}
/* fau. */

ul.shortlist li.active {
	font-weight: bold;
}

ul.shortlist li.listEntry a
{
	text-decoration:none;
	color:#0033AA;
}

ul.shortlist li.listEntry a:hover
{
	text-decoration: underline;
}

.number {
	text-align: right;
}

.errortext a:link,
.errortext a:visited {
	text-decoration: none;
	color: #000;
	padding: 0 2px;
	line-height: 1.5em;
}

.errortext a:hover {
	background-color: #ddd;
}

.ilc_qetitem_ErrorTextSelected {
	background-color: #9bd9fe;
	border: 1px #666 solid;
}
.selGroup {
	border: 2px #9bd9fe solid;
	padding: 3px 2px;
	margin-right: 2px;
}


.imageselection {
}

.questionpool_info {
	padding: 0.4em;
	margin-top: 0.4em;
}

.questionpool_title {
	font-weight: bold;
}

td.matching {
	vertical-align: middle;
}

div.term {
	display: inline;
	padding: 0.5em 1em;
	float: left;
}

.solutiontable td {
	padding: 0 1em;
}

span.result {
	font-style: italic;
}

div.ilc_Page.readonly div.ilc_question_Standard
{
	background-color: #f3f3f3;
	background-image: url(../../../../templates/default/images/qmark-ro.svg);
}

ul.ilAssQuestionRelatedNavigationContainer,
div.ilAssQuestionRelatedNavigationContainer
{
	margin: 15px 0;
	float: none;
}

ul.ilAssQuestionRelatedNavigationContainer div.navbar
{
	padding-right: 12px;
	min-height: unset;
	margin-bottom: 10px;
}

div.tstModalConfirmationText
{
	margin-bottom: 20px;
}

div.tstModalConfirmationButtons a,
div.tstModalConfirmationButtons input
{
	margin-right: 20px;
}

div.ilTestOutputBlock_DynTestFinished
{
	background-color: #FAFAFA;
	padding: 100px;
}

a.il_question_answer_list_back_anchor
{
    float:right;
    font-size:0.7em;
    margin-right:3px;
}

.ilCenterForced {
	text-align: center !important;
}

tr.ilBorderlessRow
{
    margin-right: 20px;
}

td.ilAssQuestSkillAssignQuestTitle div
{
    margin-right: 20px;
}

.ilAssQuestionLacExprWizard td,
.ilAssQuestionLacExprWizard th
{
	padding-right: 10px;
}

a.il_participant_block_back_anchor,
a.il_question_answer_list_back_anchor
{
    float:right;
    margin-right:3px;
}
a.il_question_answer_list_back_anchor
{
    font-size:0.7em;
}

.test_specific_feedback td:first-child{
    padding-right: 1em;
    font-style: italic;
    font-weight: bold;
}
.test_specific_feedback td:last-child p:first-child{
    margin-top: 0;
}

p.ilAssKprimInstruction,
p.ilAdditionalAssQuestionInstruction
{
    font-style: italic;
    font-size: 0.9em;
    margin:5px 0 15px 0 !important;
}

table.kprimchoicewizard  th.optionLabel
{
	font-size: 1.1em;
}

table.imagemapareas tr.active-area, table.imagemapareas tr.active-area td {
	background-color: #fdfabb !important;
}

/* fau: testNav - added and changed styles */

td.ilc_Page {
    padding: 15px;
}

.ilTestQuestionSubtitleBlocks
{
    margin-top: -12px;
}

.ilTestMarkQuestionIcon {
	width: 12px;
	height: 12px;
}

.ilTestAnswerStatusIcon {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-top: -3px;
}

.ilTestQuestionAction.disabled a {
    color: #b0b0b0!important;
}
/* fau. */

div.ilAssClozeTest
{
	line-height: 2.5em;
}
div.ilAssClozeTest input
{
	line-height: 1.25em;
}

div.ilc_Page.readonly img.imagemap,
div.ilc_Page.readonly div.filesContainer,
div.ilc_Page.readonly div.filesContainer a,
div.ilc_Page.readonly div.uploadContainer input,
div.ilc_Page.readonly div.ilAssErrorText span,
div.ilc_Page.readonly input[disabled],
div.ilc_Page.readonly select[disabled],
div.ilc_Page.readonly textarea[disabled]
{
	pointer-events: all !important;
	cursor: not-allowed !important;
}

.tstAutosaveMsg
{
	font-style: italic;
	border: 1px #666 solid;
	background-color: #ffffe0;
	position:fixed;
	z-index:99999999999;
	top:0;
	left:0;
}

.textarea {
	cursor: not-allowed !important;
	border: 1px solid rgb(169, 169, 169);
	padding: 2px;
	background-color: rgb(235, 235, 228);
	min-height: 200px;
}

.ilSpecificAnswerFeedback td:first-child {
	padding-right: 30px;
}

.ilc_question_MultipleChoice .ilc_qanswer_Answer > div {
	vertical-align: top;
}
.ilc_question_SingleChoice .ilc_qanswer_Answer > div {
	vertical-align: top;
}