<div class="ilc_page_{CLASS}Navigation">
	<!-- BEGIN ilLMNavigation_Prev -->
	<div class="ilc_page_lnav_LeftNavigation">
		<a {PREV_ACC_KEY} class="ilc_page_lnavlink_LeftNavigationLink" href="{HREF_PREV}" {FRAME_PREV}>
			<img class="ilc_page_lnavimage_LeftNavigationImage" src="{SPACER_PREV}" alt="{ALT_PREV}" title="{ALT_PREV}" />{TXT_PREV}&nbsp;</a>
	</div>
	<!-- END ilLMNavigation_Prev -->
	<!-- BEGIN ilLMNavigation_Next -->
	<div class="ilc_page_rnav_RightNavigation">
		<a {NEXT_ACC_KEY} class="ilc_page_rnavlink_RightNavigationLink" href="{HREF_SUCC}" {FRAME_SUCC}>&nbsp;
			{TXT_SUCC}
			<img class="ilc_page_rnavimage_RightNavigationImage" src="{SPACER_SUCC}" alt="{ALT_SUCC}" title="{ALT_SUCC}" /></a>
	</div>
	<!-- END ilLMNavigation_Next -->
	<div class="ilClearFloat"></div>
</div>