<tr class="{CSS_ROW}">
	<!-- BEGIN cb -->
	<td class="std">
		<input type="checkbox" value="{CB_ID}" name="id[]" />
	</td>
	<!-- END cb -->
	<!-- BEGIN nr -->
	<td class="std small">
		<input type="text" class="form-control" name="order[{ORD_ID}]" value="{VAL_NR}" size="4" max_length="4" />
	</td>
	<!-- END nr -->
	<td class="std small">
		{TXT_TITLE}
	</td>
	<td class="std small">
		{TXT_DESCRIPTION}
	</td>	
<!--	<td class="std small">
		{TXT_TRIGGER}
	</td>
	<td class="std small">
		{TXT_CERTIFICATE}
	</td> -->
	<td class="std small">
		<!-- BEGIN ressource_bl -->
		<a href="{RSRC_URL}">{RSRC_IMG} {RSRC_TITLE}</a><br />
		<!-- END ressource_bl -->
	</td>
	<td class="std small">
	<!-- BEGIN cmd --><a href="{HREF_CMD}">{TXT_CMD}</a><!-- END cmd -->
	</td>
</tr>