<div style="background-image:url('./templates/default/images/FramedBack.gif'); background-repeat:repeat-x; border: 1px solid #F0F0F0; padding: 5px; margin-bottom: 20px;">
<h3 style="margin: 0; padding: 0;">{SKILL_TITLE}</h3>
<!-- BEGIN skill -->
<h4 style="margin: 0; padding: 0;">{BSKILL_TITLE}</h3>
<table style="border: 1px solid #F0F0F0; background-color: #FFFFFF;">
	<tr>
		<th>{TXT_LEVEL}
		</th>
		<!-- BEGIN level_td -->
		<td>
			{VAL_LEVEL}
		</td>
		<!-- END level_td -->
	</tr>
	<tr>
		<th>{TXT_SELF_EVAL}
		</th>
		<!-- BEGIN self_eval_td -->
		<td>
			{VAL_SELF_EVAL}
		</td>
		<!-- END self_eval_td -->
	</tr>
	<tr>
		<th>{TXT_MATERIAL}
		</th>
		<!-- BEGIN material_td -->
		<td>
			{VAL_MATERIAL}
		</td>
		<!-- END material_td -->
	</tr>
</table>
<!-- END skill -->
</div>
