services:
	errorFormatter.csv:
		class: \ILIAS\Scripts\PHPStan\ErrorFormatter\CSVFormatter
rules:
    - ILIAS\Scripts\PHPStan\Rules\NoLegacyButtonUsagesRule # ILIAS 9
    - ILIAS\Scripts\PHPStan\Rules\NoLegacyCheckboxListUsagesRule # ILIAS 9
    - ILIAS\Scripts\PHPStan\Rules\NoLegacyConfirmationUsagesRule # ILIAS 9
    - ILIAS\Scripts\PHPStan\Rules\NoLegacyExplorerUsagesRule # ILIAS 10
    - ILIAS\Scripts\PHPStan\Rules\NoLegacyGlyphUsagesRule # ILIAS 10
    - ILIAS\Scripts\PHPStan\Rules\NoLegacyGroupedListUsagesRule # ILIAS 10
    - ILIAS\Scripts\PHPStan\Rules\NoLegacyLightboxUsagesRule # ILIAS 10
    - ILIAS\Scripts\PHPStan\Rules\NoLegacyModalUsagesRule # ILIAS 10
    - ILIAS\Scripts\PHPStan\Rules\NoLegacyNestedListUsagesRule # ILIAS 10
    - ILIAS\Scripts\PHPStan\Rules\NoLegacyOverlayUsagesRule # ILIAS 10
    - ILIAS\Scripts\PHPStan\Rules\NoLegacyPanelUsagesRule # ILIAS 10
    - ILIAS\Scripts\PHPStan\Rules\NoLegacyProgressBarUsagesRule # ILIAS 10
    - ILIAS\Scripts\PHPStan\Rules\NoLegacySelectionListUsagesRule # ILIAS 9
    - ILIAS\Scripts\PHPStan\Rules\NoLegacySyntaxHighlighterUsagesRule # ILIAS 10
    - ILIAS\Scripts\PHPStan\Rules\NoLegacyTableUsagesRule # ILIAS 10
    - ILIAS\Scripts\PHPStan\Rules\NoLegacyTextHighlighterUsagesRule # ILIAS 10
    - ILIAS\Scripts\PHPStan\Rules\NoLegacyToolbarUsagesRule # ILIAS 10
    - ILIAS\Scripts\PHPStan\Rules\NoLegacyTabsUsagesRule # ILIAS 10
    - ILIAS\Scripts\PHPStan\Rules\NoLegacyTooltipsUsagesRule # ILIAS 10
parameters:
    parallel:
        maximumNumberOfProcesses: 10
    customRulesetUsed: true
    bootstrapFiles:
        - constants.php
    excludePaths:
        - '%currentWorkingDirectory%/vendor/*'
        - '%currentWorkingDirectory%/Customizing/*'
        - '%currentWorkingDirectory%/scripts/*'
        - '%currentWorkingDirectory%/data/*'
        - '%currentWorkingDirectory%/dicto/*'
        - '%currentWorkingDirectory%/docs/*'
        - '%currentWorkingDirectory%/lang/*'
        - '%currentWorkingDirectory%/node_modules/*'
        - '%currentWorkingDirectory%/templates/*'
        - '%currentWorkingDirectory%/xml/*'
        - '%currentWorkingDirectory%/.github/*'
        - '%currentWorkingDirectory%/**/mediawiki/*'
        - '%currentWorkingDirectory%/**/Wiki/libs/*'
        - '%currentWorkingDirectory%/**/class.ilLTIConsumerResultService.php'
    earlyTerminatingMethodCalls:
        ilCtrl:
            - redirect
            - redirectByClass
            - redirectToURL
        ilCtrlInterface:
            - redirect
            - redirectByClass
            - redirectToURL
        ILIAS\HTTP\RawHTTPServices:
            - close
