services:
	errorFormatter.csv:
		class: \ILIAS\Scripts\PHPStan\ErrorFormatter\CSVFormatter
rules:
    - ILIAS\Scripts\PHPStan\Rules\LegacyUI\NoLegacyButtonUsagesRule # ILIAS 9
    - ILIAS\Scripts\PHPStan\Rules\LegacyUI\NoLegacyCheckboxListUsagesRule # ILIAS 9
    - ILIAS\Scripts\PHPStan\Rules\LegacyUI\NoLegacyConfirmationUsagesRule # ILIAS 9
    - ILIAS\Scripts\PHPStan\Rules\LegacyUI\NoLegacyExplorerUsagesRule # ILIAS 10git
    - ILIAS\Scripts\PHPStan\Rules\LegacyUI\NoLegacyLightboxUsagesRule # ILIAS 10
    - ILIAS\Scripts\PHPStan\Rules\LegacyUI\NoLegacyModalUsagesRule # ILIAS 10
    - ILIAS\Scripts\PHPStan\Rules\LegacyUI\NoLegacyNestedListUsagesRule # ILIAS 10
    - ILIAS\Scripts\PHPStan\Rules\LegacyUI\NoLegacyPanelUsagesRule # ILIAS 10
    - ILIAS\Scripts\PHPStan\Rules\LegacyUI\NoLegacyProgressBarUsagesRule # ILIAS 10
    - ILIAS\Scripts\PHPStan\Rules\LegacyUI\NoLegacySyntaxHighlighterUsagesRule # ILIAS 10
    - ILIAS\Scripts\PHPStan\Rules\LegacyUI\NoLegacyTableUsagesRule # ILIAS 10
    - ILIAS\Scripts\PHPStan\Rules\LegacyUI\NoLegacyTextHighlighterUsagesRule # ILIAS 10
    - ILIAS\Scripts\PHPStan\Rules\LegacyUI\NoLegacyToolbarUsagesRule # ILIAS 10
    - ILIAS\Scripts\PHPStan\Rules\LegacyUI\NoLegacyTabsUsagesRule # ILIAS 10
parameters:
    tmpDir: %currentWorkingDirectory%/tmp/phpstan
    parallel:
        maximumNumberOfProcesses: 10
    customRulesetUsed: true
    bootstrapFiles:
        - constants.php
    excludePaths:
        - '%currentWorkingDirectory%/vendor/*'
        - '%currentWorkingDirectory%/Customizing/*'
        - '%currentWorkingDirectory%/scripts/*'
        - '%currentWorkingDirectory%/data/*'
        - '%currentWorkingDirectory%/dicto/*'
        - '%currentWorkingDirectory%/docs/*'
        - '%currentWorkingDirectory%/lang/*'
        - '%currentWorkingDirectory%/node_modules/*'
        - '%currentWorkingDirectory%/templates/*'
        - '%currentWorkingDirectory%/xml/*'
        - '%currentWorkingDirectory%/.github/*'
        - '%currentWorkingDirectory%/**/mediawiki/*'
        - '%currentWorkingDirectory%/**/Wiki/libs/*'
        - '%currentWorkingDirectory%/**/class.ilLTIConsumerResultService.php'
    earlyTerminatingMethodCalls:
        ilCtrl:
            - redirect
            - redirectByClass
            - redirectToURL
        ilCtrlInterface:
            - redirect
            - redirectByClass
            - redirectToURL
        ILIAS\HTTP\RawHTTPServices:
            - close
