.il-chart-scale-bar {
  min-width: 100px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.il-chart-scale-bar > li {
  float: left;
  padding: 0 @il-chart-item-space;
}

.il-chart-scale-bar > li:last-child {
  padding-right: 0;
}

.il-chart-scale-bar > li:first-child {
  padding-left: 0;
}

.il-chart-scale-bar-item {
  font-size: @font-size-xs;
  padding: @padding-xs-vertical @padding-xs-horizontal;
  color: @il-chart-item-inactive-color;
  text-align: center;
  background-color: @il-chart-item-inactive-bg;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.il-chart-scale-bar-active {
  color: @il-chart-item-active-color;
  background-color: @il-chart-item-active-bg;
}

.il-chart-progressmeter-container,
.il-chart-progressmeter-mini-container {
  display: block;
  position: relative;
  background-color: transparent;
  height: 130%;
  width: 100%;

  .il-chart-progressmeter-outerbox {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: @il-chart-progressmeter-background;

    .il-chart-progressmeter-pointer {
      position: absolute;
      transform-origin: 100% 100%;
      transform: rotate(-25deg) skew(90deg);
      width: 50%;
      height: 50%;
    }

    &.il-chart-progressmeter-bar-success {
      & > .il-chart-progressmeter-pointer {
        background-color: @il-chart-progressmeter-bar-success;
      }
    }
    &.il-chart-progressmeter-bar-no-success {
      & > .il-chart-progressmeter-pointer {
        background-color: @il-chart-progressmeter-bar-no-success;
      }
    }
  }

  .il-chart-progressmeter-innerbox {
    position: absolute;
    width: 94%;
    height: 94%;
    border-radius: 50%;
    top: 3%;
    left: 3%;
    background-color: @il-chart-progressmeter-background;
    border: 5px solid transparent;
    overflow: hidden;

    .il-chart-progressmeter-pointer {
      position: absolute;
      transform-origin: 100% 100%;
      transform: rotate(-24deg) skew(90deg);
      height: 50%;
      width: 50%;
      background-color: @il-chart-progressmeter-bar-inactive;
      top: -1px;
    }

    &.il-chart-progressmeter-active {
      & > .il-chart-progressmeter-pointer {
        background-color: @il-chart-progressmeter-bar-active;
      }
    }
  }

  .il-chart-progressmeter-cover {
    position: absolute;
    border-radius: 50%;
    background-color: @body-bg;
    overflow: hidden;

    .il-chart-progressmeter-text-container {
      width: 100%;
      height: 100%;
      position: relative;
      color: #000;

      .il-chart-progressmeter-score-text {
        position: absolute;
        left: 25%;
        top: 22%;
        width: 50%;
        text-align: center;
        color: @il-chart-progressmeter-text;
        font-size: 1em;
      }

      .il-chart-progressmeter-score {
        position: absolute;
        left: 20%;
        top: 28%;
        text-align: center;
        font-weight: bold;
      }

      .il-chart-progressmeter-minscore {
        position: absolute;
        left: 25%;
        top: 58%;
        width: 50%;
        text-align: center;
        font-size: 1em;
      }

      .il-chart-progressmeter-minscore-text {
        position: absolute;
        left: 25%;
        top: 66%;
        width: 50%;
        text-align: center;
        color: @il-chart-progressmeter-text;
        font-size: 1em;
      }

      .il-chart-progressmeter-test-score {
        display: none;
        font-size: 1em;
      }
    }
  }

  .il-chart-progressmeter-marker-box {
    position: absolute;
    width: 93.3334%;
    height: 93.3334%;
    transform: rotate(0deg);
    pointer-events: none;
    background: transparent;
    z-index: 3;

    .il-chart-progressmeter-marker {
      position: absolute;
      left: 50%;
      margin-left: -8px;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-top: 11px solid @il-chart-progressmeter-marker-shadow;
      width: 1px;
      height: 1px;

      .il-chart-progressmeter-arrow {
        position: relative;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 13px solid @il-chart-progressmeter-marker;
        width: 1px;
        height: 1px;
        top: -14px;
        left: -10.5px;
      }
    }
  }
}

.il-chart-progressmeter-mini-container {
  .il-chart-progressmeter-marker-box {
    position: absolute;
    width: 80%;
    height: 80%;
    transform: rotate(115deg);
    pointer-events: none;
    background: transparent;
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;

    .il-chart-progressmeter-mini-marker {
      transform-origin: 100% 100%;
      width: 50%;
      height: 50%;
      transform: rotate(90deg) skew(85deg);
      background-color: @il-chart-progressmeter-mini-marker-color; // get own color var
    }
  }
  .il-chart-progressmeter-cover {
    z-index: 3;
  }
}

.il-chart-progressmeter-container {
  padding: 10px;
  font-size: 1.25rem;

  .il-chart-progressmeter-outerbox {
    border: 5px solid transparent;

    & > .il-chart-progressmeter-cover {
      width: 84.552%;
      height: 84.552%;
      top: 8.3224%;
      left: 8.3224%;
      border: 5px solid @il-chart-progressmeter-background;
    }

    .il-chart-progressmeter-innerbox > .il-chart-progressmeter-cover {
      width: 93.552%;
      height: 93.552%;
      top: 3.3224%;
      left: 3.3224%;
      border: 5px solid @il-chart-progressmeter-background;
    }

    .il-chart-progressmeter-text-container {
      .il-chart-progressmeter-score {
        width: 60%;
        font-size: 3em;
      }
    }
  }
}

.il-chart-progressmeter-mini-container {
  padding: 5px;
  font-size: 1rem;

  .il-chart-progressmeter-outerbox {
    border: 2px solid transparent;

    .il-chart-progressmeter-cover {
      width: 80%;
      height: 80%;
      top: 10%;
      left: 10%;
      border: 2px solid @il-chart-progressmeter-background;
    }
  }
}

.il-chart-progressmeter-box {
  overflow: hidden;
  position: relative;

  &:before, &:after {
    content: " ";
    display: block;
    position: absolute;
    background-color: #ddd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  &:before {
    bottom: 0;
    left: 30px;
    z-index: 2;
  }
  &:after {
    bottom: 0;
    right: 30px;
    z-index: 2;
  }

  .il-chart-progressmeter-container:after,
  .il-chart-progressmeter-mini-container:after {
    content: " ";
    display: block;
    position: absolute;
    width: 93%;
    height: 93%;
    bottom: -60%;
    border-radius: 25%;
    z-index: 1;
    background-color: #f0f0f0;
  }

  &.il-chart-progressmeter-fixed-size {
    width: 300px;
    height: 230px;

  }
  &.il-chart-progressmeter-mini {
    width: 50px;
    height: 35px;

    &:before, &:after {
      background-color: transparent;
    }
    .il-chart-progressmeter-mini-container:after {
      width: 80%;
      height: 93%;
      bottom: -57%;
    }
  }

  @media (min-width: @screen-lg) {
    &.il-chart-progressmeter-responsive {
      width: 300px;
      height: 230px;

      .il-chart-progressmeter-container:after {
        bottom: -60%;
        border-radius: 25%;
      }

      .il-chart-progressmeter-container {
        font-size: 1.25rem;

        .il-chart-progressmeter-outerbox {
          border: 5px solid transparent;

          .il-chart-progressmeter-cover {
            border: 5px solid @il-chart-progressmeter-background;
          }

          .il-chart-progressmeter-text-container {
            .il-chart-progressmeter-score {
              width: 60%;
              font-size: 3em;
            }
          }
        }
      }
    }
  }
  @media (min-width: @screen-md) and (max-width: @screen-md-max) {
    &.il-chart-progressmeter-responsive {
      width: 250px;
      height: 192px;

      &:before, &:after {
        width: 26px;
        height: 26px;
      }
      &:before {
        left: 26px;
      }
      &:after {
        right: 26px;
      }

      .il-chart-progressmeter-container {
        font-size: 1.25rem;

        .il-chart-progressmeter-marker-box {
          width: 92.3334%;
          height: 92.3334%;

          .il-chart-progressmeter-marker {
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-top: 11px solid #bcbcbc;

            .il-chart-progressmeter-arrow {
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-top: 13px solid #f0f0f0;
            }
          }
        }

        .il-chart-progressmeter-outerbox {
          border: 4px solid transparent;

          .il-chart-progressmeter-innerbox {
            border: 4px solid transparent;
          }

          .il-chart-progressmeter-cover {
            border: 4px solid @il-chart-progressmeter-background;
          }

          .il-chart-progressmeter-text-container {
            .il-chart-progressmeter-score {
              width: 60%;
              font-size: 3em;
            }
          }
        }
      }
    }
  }
  @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
    &.il-chart-progressmeter-responsive {
      width: 200px;
      height: 154px;

      &:before, &:after {
        width: 21px;
        height: 21px;
      }
      &:before {
        left: 22px;
      }
      &:after {
        right: 22px;
      }

      .il-chart-progressmeter-container {
        font-size: 1rem;

        .il-chart-progressmeter-marker-box {
          width: 90.3334%;
          height: 90.3334%;

          .il-chart-progressmeter-marker {
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 9px solid #bcbcbc;

            .il-chart-progressmeter-arrow {
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-top: 11px solid #f0f0f0;
              top: -12px;
              left: -8.5px;
            }
          }
        }

        .il-chart-progressmeter-outerbox {
          border: 3px solid transparent;

          .il-chart-progressmeter-innerbox {
            border: 3px solid transparent;
          }

          .il-chart-progressmeter-cover {
            border: 3px solid @il-chart-progressmeter-background;
          }

          .il-chart-progressmeter-text-container {
            .il-chart-progressmeter-score {
              width: 60%;
              font-size: 3em;
            }
          }
        }
      }
    }
  }
  @media (max-width: @screen-xs-max) {
    &.il-chart-progressmeter-responsive {
      width: 150px;
      height: 115px;

      &:before, &:after {
        width: 16px;
        height: 16px;
      }
      &:before {
        left: 18px;
      }
      &:after {
        right: 18px;
      }

      .il-chart-progressmeter-container {
        font-size: 0.75rem;

        .il-chart-progressmeter-marker-box {
          width: 87.3334%;
          height: 87.3334%;

          .il-chart-progressmeter-marker {
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 8px solid #bcbcbc;

            .il-chart-progressmeter-arrow {
              border-left: 7px solid transparent;
              border-right: 7px solid transparent;
              border-top: 10px solid #f0f0f0;
              top: -11px;
              left: -6.5px;
            }
          }
        }

        .il-chart-progressmeter-outerbox {
          border: 2px solid transparent;

          .il-chart-progressmeter-innerbox {
            border: 2px solid transparent;
          }

          .il-chart-progressmeter-cover {
            border: 2px solid @il-chart-progressmeter-background;
          }

          .il-chart-progressmeter-text-container {
            .il-chart-progressmeter-score {
              width: 60%;
              font-size: 3em;
            }
          }
        }
      }
    }
  }
}
