@il-chart-piechart-section-font: @font-size-xs - 8;
@il-chart-piechart-legend-font: @font-size-xs - 9;

.il-chart-pie-chart-section {
  fill: none;
  stroke: gold;
  stroke-width: 12px;
}

.il-chart-pie-chart-total-circle {
  stroke: white;
  fill: white;
}

.il-chart-pie-chart-section-text {
  font-size: @il-chart-piechart-section-font;
}

.il-chart-pie-chart-legend-text {
  font-size: @il-chart-piechart-legend-font;
}
