<div class="il-chart-speedo-box mini">
    <div class="il-chart-speedo-mini-container">
        <div class="il-chart-speedo-outerbox {SCORE_BAR_CLASS}">
            <div class="il-chart-speedo-pointer pointer-1" style="transform: rotate({ROTATION_SCORE1}deg) skew({SKEW_SCORE}deg)"></div>
            <div class="il-chart-speedo-pointer pointer-2" style="transform: rotate({ROTATION_SCORE2}deg) skew({SKEW_SCORE}deg)"></div>
            <div class="il-chart-speedo-pointer pointer-3" style="transform: rotate({ROTATION_SCORE3}deg) skew({SKEW_SCORE}deg)"></div>
            <div class="il-chart-speedo-cover">
                <div class="il-chart-speedo-text-container"></div>
            </div>
        </div>
    </div>
</div>