<div class="il-chart-gauge-box<!-- BEGIN responsive --> il-chart-gauge-responsive<!-- END responsive --><!-- BEGIN fixed-size --> il-chart-gauge-fixed-size<!-- END fixed-size -->">
    <div class="il-chart-gauge-container">
        <div class="il-chart-gauge-marker-box" style="transform: rotate({MARKER_POS}deg)">
            <div class="il-chart-gauge-marker"><div class="il-chart-gauge-arrow"></div></div>
        </div>
        <div class="il-chart-gauge-outerbox
<!-- BEGIN outer-bar-success --> il-chart-gauge-bar-success<!-- END outer-bar-success -->
<!-- BEGIN outer-bar-no-success --> il-chart-gauge-bar-no-success<!-- END outer-bar-no-success -->
<!-- BEGIN outer-bar-yellow --> il-chart-gauge-yellow<!-- END outer-bar-yellow -->
">
            <div class="il-chart-gauge-pointer pointer-1" style="transform: rotate({ROTATION_MAIN1}deg) skew({SKEW_MAIN}deg)"></div>
            <div class="il-chart-gauge-pointer pointer-2" style="transform: rotate({ROTATION_MAIN2}deg) skew({SKEW_MAIN}deg)"></div>
            <div class="il-chart-gauge-pointer pointer-3" style="transform: rotate({ROTATION_MAIN3}deg) skew({SKEW_MAIN}deg)"></div>
            <div class="il-chart-gauge-cover">
                <div class="il-chart-gauge-text-container">
                    <span class="il-chart-gauge-score-text">{TEXT_MAIN}</span>
                    <span class="il-chart-gauge-score">{MAIN}</span>
                    <span class="il-chart-gauge-minscore">{REQUIRED}</span>
                    <span class="il-chart-gauge-minscore-text">{TEXT_REQUIRED}</span>
                </div>
            </div>
        </div>
    </div>
</div>