<div class="il-chart-gauge-box il-chart-gauge-mini">
    <div class="il-chart-gauge-mini-container">
        <div class="il-chart-gauge-marker-box<!-- BEGIN marker-hidden --> hidden<!-- END marker-hidden -->" style="transform: rotate({MARKER_POS}deg)">
            <div class="il-chart-gauge-mini-marker"></div>
        </div>
        <div class="il-chart-gauge-outerbox
<!-- BEGIN outer-bar-success --> il-chart-gauge-bar-success<!-- END outer-bar-success -->
<!-- BEGIN outer-bar-no-success --> il-chart-gauge-bar-no-success<!-- END outer-bar-no-success -->
<!-- BEGIN outer-bar-yellow --> il-chart-gauge-yellow<!-- END outer-bar-yellow -->
">
            <div class="il-chart-gauge-pointer pointer-1" style="transform: rotate({ROTATION_MAIN1}deg) skew({SKEW_MAIN}deg)"></div>
            <div class="il-chart-gauge-pointer pointer-2" style="transform: rotate({ROTATION_MAIN2}deg) skew({SKEW_MAIN}deg)"></div>
            <div class="il-chart-gauge-pointer pointer-3" style="transform: rotate({ROTATION_MAIN3}deg) skew({SKEW_MAIN}deg)"></div>
            <div class="il-chart-gauge-cover">
                <div class="il-chart-gauge-text-container"></div>
            </div>
        </div>
    </div>
</div>