<div class="il-chart-progressmeter-box il-chart-progressmeter-mini">
    <div class="il-chart-progressmeter-mini-container">
        <svg viewBox="0 0 50 40" class="il-chart-progressmeter-viewbox">
            <path class="il-chart-progressmeter-circle-bg" stroke-dasharray="100, 100"
                  d="M9,35 q-4.3934,-4.3934 -4.3934,-10.6066 a1,1 0 1,1 40,0 q0,6.2132 -4.3934,10.6066">
            </path>
            <path class="il-chart-progressmeter-circle {COLOR_ONE_CLASS}" stroke-dasharray="{BAR_ONE_WIDTH}, 100"
                  d="M9,35 q-4.3934,-4.3934 -4.3934,-10.6066 a1,1 0 1,1 40,0 q0,6.2132 -4.3934,10.6066">
            </path>
            <path class="il-chart-progressmeter-needle-mini {NEEDLE_ONE_CLASS}" stroke-dasharray="100, 100" d="M25,10 l0,15"
            style="transform: rotate({ROTATE_ONE}deg)"></path>
        </svg>
    </div>
</div>