/* Services/Table */

div.tblfooter {
	font-weight: normal;
	background-color: @il-main-dark-bg;
	padding: 3px;
	font-size: 80%;
	text-align: right;
}

div.ilTableNav {
	font-weight: normal;
	padding: 0 3px;
	font-size: 80%;
	text-align: right;
	table {
		width: 100%;
	}
	select {
		//See Issue #32398
		display: inline-block;
	}
	.ilFloatRight .ilOverlay{
		//See Issue #32363
		display: none;
	}
}

td.tblfooter {
}

tr.tblfooter {
	color: @il-text-color;
	font-weight: normal;
	background-color: @il-main-dark-bg;
	border-top: 1px solid @il-content-bg;
}

.tblrow1 {
}

.tblrow2 {
}


td.submit {
	padding: 3px;
	vertical-align: top;
	background-color: @il-main-dark-bg;
}

div.ilTableHeaderTitleBlock {
	font-weight: bold;
	padding: 3px;
	font-size: 90%;
	color: @il-text-color;
	border-bottom: 1px solid @il-main-border-color;
}

div.ilTableHeaderTitle {
	margin: 15px 0 0;
	padding: 0;
	+ .ilHeaderDesc {
		margin: 0 0 5px;
	}
}

h3.ilTableHeaderTitleBlock {
	font-weight: bold;
	font-size: 100%;
	display: inline;
	padding: 0;
	margin: 0;
}

h3.ilTableHeaderTitle {
	display: inline;
}

div.ilTableOuter {
	padding: 0;
	background-color: @il-main-bg;
}

div.ilTableSelectAll {
	background-color: @il-main-bg;
	padding: 6px 8px;
	font-size: 90%;
	border-top: 1px solid @il-main-border-color;
}

div.ilTableSelectAll label {
	padding-left: 13px;
}

div.ilTableCommandRow, div.ilTableCommandRowTop {
	background-color: @il-table-cmd-bg;
	padding: 5px 8px;
	font-size: 90%;
}

div.ilTableCommandRowTop {
}

span.ilTableFootLight {
	color: @il-text-color;
}

div.ilTableFilterActivator {
	margin: 0 0 5px 3px;
}

.ilTableMenuItem {
	margin: 0 10px 0 0;
}


div.ilTableFilter {
	padding: 0 0 5px 0;
	margin: 0;
}

legend.ilTableFilter {
	font-size: 80%;
	border: none;
	padding: 2px 5px;
	margin: -12px 0 0;
	font-weight: normal;
	text-align: right;
	> a {
		margin-right: -20px;
		margin-top: -15px;
	}
}

fieldset.ilTableFilter {
	background-color: @il-main-dark-bg;
	padding: 10px 15px;
	margin:  5px 0 15px 0;
}

div.ilTableFilterLabel {
	font-style: italic;
	background-color: @il-main-dark-bg;
	padding: 3px 0px;
}

div.ilTableFilterLabel label {
	margin: 0;
}

div.ilTableFilterInput {
	min-width: 150px;
	padding: 0 0 5px 0;
}

div.ilTableFilterInput select {
	width: 100%;
	max-width: 150px;
}

div.ilTableFilterInput .radio, div.ilTableFilterInput .checkbox {
	margin: 0;
}

td.ilFilterOption {
	text-align: left;
	vertical-align: top;
	font-size: 80%;
	white-space: nowrap;
	padding: 0 10px 10px 0;
	min-width: 150px;
}


td.ilFilterType {
	font-size: 80%;
	font-weight: bold;
	text-align: left;
	white-space: nowrap;
	padding: 3px;
}

div.ilTableContainer {
	overflow: auto;
}

.tblheader {
	font-weight: normal;
}

tr.tblheader {
	font-weight: normal;
	background-color: @il-main-dark-bg;
	font-size: 90%;
	border-bottom: 1px solid #d6d6d6;
}

/* ---------------- alternating tablerowcolors ----------------- */
.tblrow2_mo {
	background-color: @il-content-bg;
	color: @il-text-color;
	padding: 3px;
}

.tblrow1_mo {
	background-color: white;
	color: @il-text-color;
	padding: 3px;
}

.tblrow1_mo:hover, .tblrow2_mo:hover {
	background-color: #d0d0ff;
}

.tblrowmarked {
	background-color: #ffe4e4 !important;
	color: @il-text-color;
	padding: 3px;
}

.tblrow2top {
	background-color: @il-content-bg;
	color: @il-text-color;
	padding: 3px;
	vertical-align: top;
}

.tblrow1top {
	background-color: white;
	color: @il-text-color;
	padding: 3px;
	vertical-align: top;
}

.tblrowmarkedtop {
	background-color: #ffe4e4;
	color: @il-text-color;
	padding: 3px;
	vertical-align: top;
}

div.ilTableCommandRowTop {
}

.table > thead > tr > th {
	border-bottom: 1px solid @il-main-border-color;
	background-color: @il-table-head-bg;
}

.ilTableOuter .table {
	background-color: @il-data-table-bg;
}

td > img[src$="icon_custom.svg"] {
    max-width: 32px;
}

.ilTableCommandRowTop, .ilTableCommandRow {
	.ilFloatLeft {
		img, select {
			display: inline-block;
		}
	}
}

// Because of an issue ion Bootstrap when using Dropdown in Tables we need this. See https://github.com/twbs/bootstrap/issues/11037
@media (max-width: 767px) {
  .table-responsive .dropdown-menu,
  .table-responsive .dropdown-toggle {
	//position: static !important; // Removed due to https://mantis.ilias.de/view.php?id=22175
  }
}

//Note this is fixes the responsive view for the legacy table. In future we should rather move to truly responsive tables.
//See #27833
@media only screen and (max-width: @grid-float-breakpoint-max) {
	.table-responsive{
		overflow-x: auto;
		max-width: 94vw;
	}
}

@media (min-width: @grid-float-breakpoint-max) {
	.table-responsive {
		overflow: visible;
	}
}
