/* Services/Table */

div.tblfooter {
	font-weight: normal;
	background-color: #f5f5f5;
	padding: 3px;
	font-size: 80%;
	text-align: right;
}

div.ilTableNav {
	font-weight: normal;
	padding: 0 3px;
	font-size: 80%;
	text-align: right;
	table {
		width: 100%;
	}
}

td.tblfooter {
}

tr.tblfooter {
	color: black;
	font-weight: normal;
	background-color: #f9f9f9;
	border-top: 1px solid #f0f0f0;
}

.tblrow1 {
}

.tblrow2 {
}


td.submit {
	padding: 3px;
	vertical-align: top;
	background-color: #f3f3f3;
}

div.ilTableHeaderTitleBlock {
	font-weight: bold;
	padding: 3px;
	font-size: 90%;
	color: #404040;
	background: url("@{background-images-path}block_top.png") repeat-x #f8f8f8;
	border-bottom: 1px solid #e9e9e9;
}

div.ilTableHeaderTitle {
	margin: 15px 0 0;
	padding: 0;
	+ .ilHeaderDesc {
		margin: 0 0 5px;
	}
}

h3.ilTableHeaderTitleBlock {
	font-weight: bold;
	font-size: 100%;
	display: inline;
	padding: 0;
	margin: 0;
}

h3.ilTableHeaderTitle {
	display: inline;
}

div.ilTableOuter {
	padding: 0;
	background-color: @il-primary-container-bg;
}

div.ilTableSelectAll {
	background-color: #f8f8f8;
	padding: 6px 8px;
	font-size: 90%;
}

div.ilTableSelectAll label {
	padding-left: 13px;
}

div.ilTableCommandRow, div.ilTableCommandRowTop {
	background-color: @il-table-cmd-bg;
	padding: 5px 8px;
	font-size: 90%;
}

div.ilTableCommandRowTop {
}

span.ilTableFootLight {
	color: #909090;
}

div.ilTableFilterActivator {
	margin: 0 0 5px 3px;
}

.ilTableMenuItem {
	margin: 0 10px 0 0;
}


div.ilTableFilter {
	padding: 0 0 5px 0;
	margin: 0;
}

legend.ilTableFilter {
	font-size: 80%;
	border: none;
	padding: 2px 5px;
	margin: -12px 0 0;
	font-weight: normal;
	text-align: right;
	> a {
		margin-right: -20px;
		margin-top: -15px;
	}
}

fieldset.ilTableFilter {
	background-color: @il-secondary-container-bg;
	padding: 10px 15px;
	margin:  5px 0 15px 0;
}

div.ilTableFilterLabel {
	font-style: italic;
	background-color: @body-bg;
	padding: 3px 5px;
}

div.ilTableFilterLabel label {
	margin: 0;
}

div.ilTableFilterInput {
	min-width: 150px;
	padding: 5px 0;
}

div.ilTableFilterInput select {
	width: 100%;
	max-width: 150px;
}

div.ilTableFilterInput .radio, div.ilTableFilterInput .checkbox {
	margin: 0;
}

td.ilFilterOption {
	text-align: left;
	vertical-align: top;
	font-size: 80%;
	white-space: nowrap;
	padding: 0 10px 10px 0;
	min-width: 150px;
}


td.ilFilterType {
	font-size: 80%;
	font-weight: bold;
	text-align: left;
	white-space: nowrap;
	padding: 3px;
}

div.ilTableContainer {
	overflow: auto;
}

.tblheader {
	font-weight: normal;
}

tr.tblheader {
	font-weight: normal;
	background-color: #f9f9f9;
	font-size: 90%;
	border-bottom: 1px solid #d6d6d6;
}

/* ---------------- alternating tablerowcolors ----------------- */
.tblrow2_mo {
	background-color: #f1f1f1;
	color: #222;
	padding: 3px;
}

.tblrow1_mo {
	background-color: white;
	color: #222;
	padding: 3px;
}

.tblrow1_mo:hover, .tblrow2_mo:hover {
	background-color: #d0d0ff;
}

.tblrowmarked {
	background-color: #ffe4e4 !important;
	color: #222;
	padding: 3px;
}

.tblrow2top {
	background-color: #f1f1f1;
	color: #222;
	padding: 3px;
	vertical-align: top;
}

.tblrow1top {
	background-color: white;
	color: #222;
	padding: 3px;
	vertical-align: top;
}

.tblrowmarkedtop {
	background-color: #ffe4e4;
	color: #222;
	padding: 3px;
	vertical-align: top;
}

div.ilTableCommandRowTop {
}

.table > thead > tr > th {
	border-bottom: 1px solid #a0a0a0;
	background-color: @il-table-head-bg;
}

.ilTableOuter .table {
	background-color: @il-data-table-bg;
}

td > img[src$="icon_custom.svg"] {
    max-width: 32px;
}

// Because of an issue ion Bootstrap when using Dropdown in Tables we need this. See https://github.com/twbs/bootstrap/issues/11037
@media (max-width: 767px) {
  .table-responsive .dropdown-menu,
  .table-responsive .dropdown-toggle {
	//position: static !important; // Removed due to https://mantis.ilias.de/view.php?id=22175
  }
}

@media (min-width: 768px) {
  .table-responsive {
	overflow: visible;
  }
}