#ilMMSearch ul li {
	padding: 5px;
	label {
		font-weight: normal;
	}
}

#ilMMSearchMenu {
	legend {
		margin-bottom: 0;
		margin-top: 20px;
		font-size: 16px;
		border-bottom: 0;
	}
	p {
		white-space: nowrap;
	}
}

#main_menu_search {
	width: 80%;
}

#ilTopBarNav .dropdown-menu #ilMMSearchMenu a {
	&,
	&:hover,
	&:active,
	&:focus {
		background-color: @il-top-bar-dropdown-link-bg;
		color: @il-top-bar-dropdown-link-color;
	}
}

div.ilMainMenuSearch {
	padding: 0 10px 3px;
	margin: 1px 0 2px -1px;
	line-height: 26px;
}

input.ilMainMenuSearch {
	cursor: pointer;
	border: none;
	color: @il-text-color;
	width: 150px;
	padding: 2px 4px 1px;
	margin: 0;
	background-color: white;
	min-height: 16px;
    .box-shadow(inset 1px 1px 2px #a0a0a0);
	line-height: 1;
}

#mm_search_menu_head {
	background-color: @il-main-dark-bg;
	padding: 5px;
	font-size: 85%;
	p {
		margin: 0;
	}
	input {
		margin: 0;
		padding: 0;
	}
}

#il_search_toolbar {
	> div{
		padding-top: @il-padding-large-vertical;
	}
	div.ilFormOption {
		width: auto;
	}
	div.ilFormFooter {
		display: none;
	}
}

#mm_search_menu_ac .ui-menu {
	border: 0 none;
    .box-shadow(none);
	color: @il-text-color;
}

span.ilSearchHighlight {
	font-weight: bold;
}

div.il_SearchFragment {
	margin: 2px 0 5px;
	font-size: 80%;
	font-weight: normal;
	text-align: left;
}

#ilSearchResultsTable.table-striped > tbody > tr > td {
	background-color: transparent;
}

#search_area_form {
	min-width: 350px;
	.form-horizontal .control-label {
		padding-top: 0;
	}
}