<!-- BEGIN questiontitle -->
<div class="questionTitle">{QUESTION_TITLE}</div>
<!-- END questiontitle -->
<p>{QUESTIONTEXT}<span class="obligatory">{OBLIGATORY_TEXT}</span></p>
<table class="nobackground">
<tr>
<td class="nobackground">{TEXT_ANSWER}:</td>
<td class="nobackground" colspan="4"><span class="solutionbox">{TEXT_SOLUTION}</span> {MIN_MAX}</td></tr>
<!-- BEGIN minimum -->
<tr>
  <td class="nobackground">{TEXT_MINIMUM}:</td>
  <td class="nobackground" colspan="4">{VALUE_MINIMUM}</td>
</tr>
<!-- END minimum -->
<!-- BEGIN maximum -->
<tr>
  <td class="nobackground">{TEXT_MAXIMUM}:</td>
  <td class="nobackground" colspan="4">{VALUE_MAXIMUM}</td>
</tr>
<!-- END maximum -->
</table>