<!-- BEGIN questiontitle -->
<div class="questionTitle">{QUESTION_TITLE}</div>
<!-- END questiontitle -->
<p>{QUESTIONTEXT}<span class="obligatory">{OBLIGATORY_TEXT}</span></p>
<p>{TEXT_ANSWER}: 
<!-- BEGIN no_answer_bl -->
<img style="vertical-align: top;" src="{TEXTBOX_IMAGE}" alt="{TEXTBOX}" title="{TEXTBOX}" width="{TEXTBOX_WIDTH}" height="{TEXTBOX_HEIGHT}" />
<!-- END no_answer_bl -->
<br />
<!-- BEGIN answer_bl -->
<span class="solutionbox vertical">{TEXT}</span>
<!-- END answer_bl -->
<span class="quote">{TEXT_MAXCHARS}</span>
</p>