<!-- BEGIN question_data_metric -->
<!-- BEGIN questiontitle -->
<div class="questionTitle">{QUESTION_TITLE}</div>
<!-- END questiontitle -->
{ERROR_MESSAGE}
<p>{QUESTIONTEXT}<span class="obligatory">{OBLIGATORY_TEXT}</span></p>
<table class="nobackground">
<tr>
<td class="nobackground"><label for="{QUESTION_ID}_metric_question">{TEXT_ANSWER}</label>:</td>
<td class="nobackground" colspan="4"><input name="{QUESTION_ID}_metric_question" type="text" class="form-control" id="{QUESTION_ID}_metric_question" size="{INPUT_SIZE}" value="{VALUE_METRIC}" /> {MIN_MAX}</td></tr>
<!-- BEGIN minimum -->
<tr>
  <td class="nobackground">{TEXT_MINIMUM}:</td>
  <td class="nobackground" colspan="4">{VALUE_MINIMUM}</td>
</tr>
<!-- END minimum -->
<!-- BEGIN maximum -->
<tr>
  <td class="nobackground">{TEXT_MAXIMUM}:</td>
  <td class="nobackground" colspan="4">{VALUE_MAXIMUM}</td>
</tr>
<!-- END maximum -->
</table>
<!-- BEGIN material_metric -->
<p>
{TEXT_MATERIAL}
</p>
<!-- END material_metric -->
<!-- END question_data_metric -->
