<div id="mainspacekeeper" class="col-sm-12">

	<div class="ilLSOKioskModeObjectHeader">
		<div class="media il_HeaderInner">
			<div class="ilHeadAction hidden-print" id="il_head_action">
				<span class="il_ItemProperty">{OBJECT_RATING}</span>
				{VIEW_MODES}
			</div>
			<div id="headerimage" class="media-object">
				{OBJECT_ICON}
			</div>
			<div class="media-body">
				<h1 class="il-page-content-header media-heading ilHeader">
						{OBJECT_TITLE}
				</h1>
				<!-- BEGIN obj_desc -->
				<div class="ilHeaderDesc">{OBJECT_DESCRIPTION}</div>
				<!-- END obj_desc -->
			</div>
		</div>
	</div>

	<nav class="ilToolbar navbar-default ilLSOKioskModeNavigation" role="navigation" id="2">
		<div class="container-fluid">
			<div class="navbar-header">
				<div class="navbar-form">
					<script>{JS_INLINE}</script>
					{PLAYER_NAVIGATION} | {OBJ_NAVIGATION}
				</div>

			</div>

		</div>
	</nav>

	<div class="ilLSOKioskModeLocator">
		{LOCATOR}
	</div>

	<div class="ilLSOKioskModeContent">
		{CONTENT}
	</div>
	<div id="ilLastTab" class="ilNoDisplay">
		<a class="dropdown-toggle" href="#"></a>
		<ul class="dropdown-menu"></ul>
	</div>

</div> <!-- il_center_col -->
