@use "../../010-settings/" as *;
@use "../../020-dependencies/modifications/bootstrap-3-scss/bootstrap-3-scss-modified-variables-mixins" as btstrp3;

/* Overlays, Blocks */
.ilOverlay {
	background-color: white;
	border: 1px solid $il-main-border-color;
	text-align: left;
	position: absolute;
    @include btstrp3.box-shadow(2px 2px 4px #c0c0c0);
}