@use "../../010-settings/" as *;
@use "../../030-tools/legacy-bootstrap-mixins/vendor-prefixes" as *;

/* Overlays, Blocks */
.ilOverlay {
	background-color: white;
	border: 1px solid $il-main-border-color;
	text-align: left;
	position: absolute;
    @include box-shadow(2px 2px 4px #c0c0c0);
}