div.ilBox {
	background: url("@{il-background-images-path}FramedBack.png") repeat-x;
	border: 1px solid @il-main-border-color;
	padding: 10px;
	margin-bottom: 20px;
}

div.ilSideBarHead{
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 5px;
}

div.ilSideBarHead h3, div.ilSideBarHead h1 {
	font-size: @il-font-size-large;
	color: @il-text-color;
	display: inline;
	padding: 0;
}

div.ilSideBarContent{
	padding: 5px;
}
/* ------- Helptext --------- */
span.il_Helptext {
	font-size: @il-font-size-small;
	font-weight: @il-font-weight-base;
}