<!-- @version $Id$ -->
<style>
body { margin:0px; }
</style>
{TABS}
<table width="100%" cellspacing="0" cellpadding="2" border="0">
  <tr>
	<td valign="top">
      <strong>Content of {TREEPATH}</strong>
    </td>
  </tr>
</table>

<!-- BEGIN sys_message -->
<table width="100%" cellspacing="0" cellpadding="2" border="0">
  <tr class="message">
	<td align="center" valign="top" height="30">
      <strong>
            {ERROR_MESSAGE}
	  </strong>
    </td>
  </tr>
</table>
<!-- END sys_message -->

<br><br>

<form action="content.php?obj_id={OBJ_ID}&parent={TPOS}" name="objectItems" method="post">
<table width="100%" cellspacing="0" cellpadding="2" border="0">
<tr class="tblheader">
  <td width="3%">&nbsp;</td>
  <td width="6%">
    <a class="tblheader" href="content.php?obj_id={OBJ_ID}&parent={TPOS}&order=type&direction={DIR}">
	  <strong>Type</strong></a>
  </td>
  <td width="25%">
    <a class="tblheader" href="content.php?obj_id={OBJ_ID}&parent={TPOS}&order=title&direction={DIR}"
      <strong>Title</strong></a>
  </td>
  <td width="42%">
    <a class="tblheader" href="content.php?obj_id={OBJ_ID}&parent={TPOS}&order=description&direction={DIR}"
      <strong>Description</strong></a>
  </td>
  <td width="24%" align="right">
    <a class="tblheader" href="content.php?obj_id={OBJ_ID}&parent={TPOS}&order=last_update&direction={DIR}">
	  <strong>Last modified</strong></a>
  </td>
</tr>


<!-- BEGIN row -->
<tr class="{CSS_ROW}">
  <td valign="top" width="16">
    {CHECKBOX}
  </td>
  <td align="center" valign="top" nowrap="1">
    <a href="{LINK_TARGET}">
  	<img src="{TPLPATH}/images/{IMG_TYPE}" alt="{ALT_IMG_TYPE}" title="{ALT_IMG_TYPE}" border="0" vspace="0"/></a>
  </td>
  <td valign="top">
      <a href="{LINK_TARGET}"> {OBJ_TITLE} </a>
  </td>
  <td valign="top">
      <a href="{LINK_TARGET}"> {OBJ_DESC} </a>
  </td>
  <td align="right" valign="top">
      {OBJ_LAST_UPDATE}
  </td>
</tr>
<!-- END row -->

<!-- BEGIN notfound -->
<tr>
  <td colspan="5" align="center" valign="top">
    <i>No object found</i>
  </td>
</tr>
<!-- END notfound -->

</table>
	  <!-- BEGIN options -->
	  <table cellspacing="0" cellpadding="2" border="0">
		  <tr height="40">
			<td align="left" width="16"><img src="{TPLPATH}/images/arrow_downright.gif" border="0"></td>
			<td align="left">
			  <div class="form-element">

				<input class="form-element" type="submit" name="cmd" 
					   value="cut" />
				<input class="form-element" type="submit" name="cmd" 
					   value="copy" />
				<!-- BEGIN btn_paste -->	    
				<input class="form-element" type="submit" name="cmd" 
					   value="paste" />
				<!-- END btn_paste -->
				<input class="form-element" type="submit" name="cmd" 
					   value="delete" />
				<!-- BEGIN btn_clear -->	    
				<input class="form-element" type="submit" name="cmd" 
					   value="clear" />
				<!-- END btn_clear -->
			  </div>
			</td>
		  </tr>
</table>
<!-- END options -->

</form>

<!-- BEGIN type -->
  <table width="100%" cellspacing="0" cellpadding="0" border="0">

  <tr>
  <td align="left" valign="top">&nbsp;</td>
  <td align="left" valign="top">
  <div class="form-element">
  <form action="object.php?cmd=create&obj_id={OBJ_ID}&parent={TPOS}" method="post">
        {SELECT_OBJTYPE}
    <input class="form-element" type="submit" name="submit" value=" Add " />
    </form>
  </div>
  </td>
  </tr>
  </table>
<!-- END type -->

{TESTING}
