<!-- $Id$ -->
<!-- @author Eva Wenzl <ewenzl@databay.de> -->

<h3>{TXT_PAGEHEADLINE}</h3>

{BUTTONS}

    <br><form action="{formACTION}" method="post">

    <table cellpadding=2 cellspacing=0 border=0>
    <tr>
      <td>{TXT_TITLE}</td>
      <td>{TITLE}</td>
      <td>{TXT_KEYWORDS}</td>
      <td>{KEYWORDS}</td>
    </tr>
    <tr>
      <td>{TXT_UID}</td>
      <td>{UID}</td>
      <td>{TXT_MATERIALTYPE}</td>
      <td>{MATERIALTYPE}</td>
    </tr>
    <tr>
      <td>{TXT_AUTHORS}</td>
      <td>{AUTHORS}</td>
      <td>{TXT_MATERIALDEPTH}</td>
      <td>{MATERIALDEPTH}</td>
    </tr>
    <tr>
      <td>{TXT_MEMBERS}</td>
      <td>{MEMBERS}</td>
      <td>{TXT_PUB_DATE}</td>
      <td>{PUB_DATE}</td>
    </tr>
    <tr>
      <td>{TXT_LANGUAGE}</td>
      <td>{LANGUAGE}</td>
      <td>{TXT_LASTCHANGE}</td>
      <td>{LASTCHANGE}</td>
    </tr>
    </table>

    <br><table cellpadding=0 cellspacing=0 border=0>
    <tr>
      <td colspan=11 align="center">{TXT_FUNCTIONS}</td>
    </tr>
    <tr>
      <td align="center"><a href="ed_meta.php?typ=pg&amp;id=5&amp;back=%2Fprojekte%2Funi-koeln%2Filias%2Fed_page.php%3Fid%3D5%26inst%3D1&amp;inst=1" CLASS="navigation"  TARGET="_top">{TXT_CHANGE_METADATA}</a></td>
      <td align="center"><a href="ed_pageglossar.php?le=5&amp;id=5&amp;inst=1" CLASS="navigation"  TARGET="_top">{TXT_LINK_GLOSSARY_ITEM}</a></td>
      <td align="center"><a href="ed_uebung.php?pgid=5&amp;pginst=1&amp;le=5&amp;le_inst=1" CLASS="navigation"  TARGET="_top">{TXT_COMPOSE_TEST}</a></td>
      <td align="center"><a href="ed_links.php?le=5&inst=1&page=5&pg_inst=1" CLASS="navigation"  TARGET="_top">{TXT_APPEND_LINKS}</a></td>
      <td align="center"><a href="./course.php?co_id=5&co_inst=1&pg_id=5&pg_inst=1&preview=1&pg_ref=0&back=ed_page.php%3Fle%3D5%26amp%3Bid%3D5%26amp%3Binst%3D1%26amp%3Bpg_ref%3D0%26amp%3Bst_id%3D5%26amp%3Bst_inst%3D1" CLASS="navigation" TARGET="_top">{TXT_PREVIEW}</a></td>
    </tr>
    </table>

    <p><table width="100%" cellpadding=0 cellspacing=0 border=0>
    <tr>
    <form action="/projekte/uni-koeln/ilias/ed_page.php" method="post"  >

    <td COLSPAN=5><select name="type">

    <!-- BEGIN selecttype -->
        <option value="text">{TXT_TEXT}</option>
    <!-- END selecttype -->

    </select><input type="submit" name="append" value="{APPEND}"></td>
    </form>
    </tr>
    <tr>
      <td>{TXT_TABLE}</td>
      <td><a href="ed_tabellen.php?b=6&amp;cmd=switch&amp;inst=1&amp;page=5&amp;get_tab=1" onMouseOver="window.status='&Auml;ndern';return true;"><IMG VSPACE=0 BORDER=0 SRC="./images/layout/change.gif" WIDTH=16 HEIGHT=16 ALT="&Auml;ndern" TITLE="&Auml;ndern" ></A></td>
      <td><a href="/projekte/uni-koeln/ilias/ed_page.php?el=6&amp;el_inst=1&amp;cmd=de&amp;id=5&amp;inst=1&amp;herk_id=&amp;herk_inst=" onMouseOver="window.status='L&ouml;schen';return true;" onClick="return confirm('WARNUNG: Das Objekt und damit verkn&uuml;pfte Inhalte werden unwideruflich gel&ouml;scht !');" ><IMG VSPACE=0 BORDER=0 SRC="./images/layout/delete.gif" WIDTH=16 HEIGHT=16 ALT="L&ouml;schen" TITLE="L&ouml;schen" ></A></td>
    </tr>
    </table>
