<h3>{TXT_PAGEHEADLINE}</h3>
{BUTTONS}
<form action="usr_agreement.php" method="post" name="form">
<input type="hidden" name="back" value="index.php">
<input type="hidden" name="act" value="modify_u_agreement">
<input type="hidden" name="u_id" value="2">

<table cellpadding=3 cellspacing=0 border=0>
<tr bgcolor="#bbbbcc">
 <td><b>{TXT_AGREEMENT}</b></td>
</tr>
<tr bgcolor="#ddddee">
 <td>{TXT_USR_AGREEMENT}</td>
</tr>
<tr bgcolor="#ddddee">
 <td align=center>{TXT_ACCEPT}</td>
</tr>
<tr bgcolor="#ddddee">
 <td align=center><input type="radio" name="agreement" checked value="y">{TXT_YES}<input type="radio" name="agreement" value="n">{TXT_NO}</td>
</tr>
</table>
  <br>
  <input type="submit" name="butSubmit" value="{TXT_SUBMIT}">
</form>