<h3>{TXT_PAGEHEADLINE}</h3>

{BUTTONS}

 <FORM ACTION="{FORMACTION}" METHOD="POST">
    <TABLE bgcolor="#ddddee" CELLPADDING=2 CELLSPACING=0 BORDER=0>
    <tr class="tblrow2">
      <TD ALIGN="right"><b>{TXT_GROUPNAME}</b></TD>
      <TD><INPUT TYPE=text NAME="g_name" SIZE=16></TD>
    </TR>
    <tr class="tblrow1">
      <TD ALIGN="right"><b>{TXT_DESCRIPTION}</b></TD>
      <TD><INPUT TYPE=text NAME="g_desc" SIZE=16></TD>
    </TR>
    <tr class="tblrow2">
      <TD ALIGN="right"><b>{TXT_ACCESS}</b></TD>
      <TD><SELECT NAME="g_open"><OPTION>{TXT_ACCESS_CLOSED}<OPTION SELECTED>{TXT_ACCESS_OPEN}</SELECT></TD>
    </TR>
    <tr class="tblrow1">
      <TD ALIGN="right"><b>{TXT_GROUP_SCOPE}</b></TD>
      <TD><SELECT NAME="g_target"><OPTION SELECTED>{TXT_FORUM}<OPTION>{TXT_LO}</SELECT></TD>
    </TR>
    </TABLE>
      <br>
      <INPUT TYPE="submit" VALUE="{TXT_SAVE}" NAME="save">
    </FORM>