<!-- $Id$ -->
<!-- @author Eva Wenzl <ewenzl@databay.de> -->

<h3>{TXT_PAGEHEADLINE}</h3>
{BUTTONS}

    <br><form action="{FORMACTION}" method="post">

    <table bgcolor="#ddddee" cellpadding=2 cellspacing=0 border=0>
    <tr>
      <td valign="top" bgcolor="#bbbbcc">{TXT_TITLE}</td>
      <td class="tblrow1">{TITLE}</td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#bbbbcc">{TXT_UID}</td>
      <td class="tblrow2">{UID}</td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#bbbbcc">{TXT_AUTHORS}</td>
      <td class="tblrow1">{AUTHORS}</TD>
      <td></td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#bbbbcc">{TXT_MEMBERS}</td>
      <td class="tblrow2">{MEMBERS}</td>
      <td></td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#bbbbcc">{TXT_PUBLISHING_ORGANISATION}</td>
      <td class="tblrow1">{PUBLISHING_ORGANISATION}</td>
      <td></td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#bbbbcc">{TXT_LANGUAGE}</td>
	  <td class="tblrow2">{LANGUAGE}</td>
      <td> </td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#bbbbcc">{TXT_SUMMARY}</td>
      <td class="tblrow1">{SUMMARY}</td>
      <td></td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#bbbbcc">{TXT_KEYWORDS}</td>
      <td class="tblrow2">{KEYWORDS}</td>
    </tr>
    <tr>
      <td VALIGN="top" bgcolor="#bbbbcc">{TXT_LO_CAT}</td>
      <td class="tblrow1">{LO_CAT}</td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#bbbbcc">{TXT_LEVEL}</td>
      <td class="tblrow1">{LEVEL}</td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#bbbbcc">{TXT_STATUS}</td>
      <td class="tblrow2">{STATUS}</td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#bbbbcc">{TXT_PUB_DATE}</td>
      <td class="tblrow1">{PUB_DATE}</td>
    </tr>
    <tr>
	  <td valign="top" bgcolor="#bbbbcc">{TXT_PUB}</td>
      <td class="tblrow2">{PUBLICATION}</td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#bbbbcc">{TXT_LASTCHANGE}</td>
      <td class="tblrow1">{LASTCHANGE}</td>
    </tr>
    </table>

    <p>
    <table bgcolor="#ddddee" cellpadding=3 cellspacing=0 border=0>
    <tr bgcolor="#bbbbcc">
      <td colspan=9><b>{TXT_FUNCTIONS}<b></td>
    </TR>
    <TR>
      <td>{TXT_CHANGE_METADATA}</td>
    </tr>
    <TR>
      <td>{TXT_PRESENTATION_OPTIONS}</td>
    </tr>
    <TR>
      <td>{TXT_CHANGE_LO_INFO}</td>
    </tr>
    <TR>
      <td>{TXT_ANNOUNCE_CHANGES}</td>
    </tr>
    <TR>
      <td>{TXT_ASSIGN_LO_FORUM}</td>
    </tr>
    </table>
    </form>

