<h1>{TXT_PAGEHEADLINE}</h1>
{BUTTONS}

<table CELLPADDING=2 CELLSPACING=0 BORDER=0>
<tr class="tblheader">
  <td align="center"><b>{TXT_TITLE}</b></td>
  <td colspan=2 align="center"><b>{TXT_ONLINE_VERSION}</b></td>
  <td colspan=2 align="center"><b>{TXT_OFFLINE_VERSION}</b></td>
  <td colspan=2>&nbsp;</td>
</tr>
<tr class="tblheader">
  <td>&nbsp;</td>
  <td colspan=2 align="center"><i>{TXT_PUBLISHED}</i></td>
  <td colspan=2 align="center"><i>{TXT_PUBLISHED}</i></td>
  <td colspan=2>&nbsp;</td>
</tr>

<!-- BEGIN row -->
<tr class="{ROWCOL}">
  <td>&nbsp;{TITLE}&nbsp;</td>
  <td align="center">&nbsp;<font size=-1>{DATE}</font>&nbsp;</td>
  <td align="center">&nbsp;<a href="{LINK_STATUS}"><img VSPACE=0 BORDER=0 SRC="./images/{STATUS}.gif" WIDTH=16 HEIGHT=16 ALT="{TXT_LO_SET_STATUS}"></a>&nbsp;</td>
  <td align="center">&nbsp;<font size=-1>{DATE}</font>&nbsp;</td>
  <td align="center">&nbsp;<a href="{LINK_GENERATE}" onMouseOver="window.status='{TXT_GENERATE}';return true;" onClick="return popup_window('', 50, 100, 0, 75);"><img VSPACE=0 BORDER=0 SRC="images/generate.gif" ALT="{TXT_GENERATE}" ></a>&nbsp;</td>
  <td align="center">&nbsp;<a HREF="{LINK_ANNOUNCE}" onMouseOver="window.status='{TXT_ANNOUNCE}';return true;"><img VSPACE=0 BORDER=0 SRC="./images/announce.gif" WIDTH=16 HEIGHT=16 ALT="{TXT_ANNOUNCE}"></a>&nbsp;</td>
  <td align="center">&nbsp;<a href="{LINK_EDIT}" onMouseOver="window.status='{TXT_EDIT}';return true;"><img VSPACE=0 BORDER=0 SRC="./images/edit.gif" ALT="{TXT_EDIT}"></a>&nbsp;</td>
</tr>
<!-- END row -->

</table>