<script language="JavaScript">
<!--
function CheckAll(){
	if(document.formmsg.all)
	{
		var c = document.formmsg.all.checked;
	}
	for (var i=0;i<document.formmsg.elements.length;i++)
	{
		var e = document.formmsg.elements[i];
 	  	if(e.name != 'all') e.checked = c;
   	}
}
//-->
</script>

<h3>{TXT_PAGEHEADLINE}</h3>

{BUTTONS}

<form method="post" name="formmsg" action="{ACTION}">
<input type="hidden" name="func" value="">
<h4>{FOLDERNAME}</h4>

<p>{MAIL_COUNT}&nbsp;{TXT_MAIL} ({MAIL_COUNT_UNREAD} {TXT_UNREAD})</p>

<table width="100%" cellpadding=2 cellspacing=0 border=0>
<tr class="tblrow2">
  <td><img src="./images/arrow_upright.gif" border=0 alt="{TXT_ARROW_UPRIGHT}"></td>
  <td align="right"><select name="action" onChange="document.formmsg.func.value=document.formmsg.action[document.formmsg.action.selectedIndex].value; document.formmsg.submit();">
	   <option selected>{TXT_ACTIONS}</option>
<!-- BEGIN mailactions -->
	   <option value="{MAILACTION_VALUE}">{MAILACTION_OPTION}</option>
<!-- END mailactions -->
	</select>
  </td>
</tr>
<br>
<tr class="tblrow2">
	<td colspan=2 align="right"><select name="move_to" onChange="submit()">
	   <option selected>{TXT_MOVE_TO}</option>
<!-- BEGIN folder -->
	   <option value="{FOLDER_VALUE}" {FOLDER_SELECTED}>{FOLDER_OPTION}</option>
<!-- END folder -->
	</select>
	</td>
</tr>
</table>

<table width="100%" cellpadding=2 cellspacing=0 border=0>
<tr bgcolor="#bbbbcc">
  <td>&nbsp;</td>
  <td><b>{TXT_SENDER}</b></td>
  <td><b>{TXT_SUBJECT}</b></td>
  <td><b>{TXT_DATE}</b></a></td>
</tr>
<!-- BEGIN row -->
<tr bgcolor="#ddddee">
  <td><font size=1><input type="checkbox" name="marker[]" value="{MAIL_ID}"></font></td>
  <td valign="middle">{MAIL_FROM}</TD>
  <td valign="middle"><a class="{MAILCLASS}" href="{MAIL_LINK_READ}">{MAIL_SUBJ}</a></td>
  <td valign="middle">{MAIL_DATE}</td>
</tr>
<!-- END row -->
<tr bgcolor="#bbbbcc">
  <td colspan=4><input type="checkbox" name="all" value="check_all" onClick="CheckAll();"><strong>{TXT_SELECT_ALL}</strong></td>
</tr>
</table>

</form>
