<!-- $Id$ -->
<!-- author: Eva Wenzl <ewenzl@databay.de> -->
<h3>{TXT_PAGEHEADLINE}</h3>
{BUTTONS}
    <form action="/projekte/uni-koeln/ilias/mail.php" METHOD="post">

    <table CELLPADDING=3 CELLSPACING=0 BORDER=0>
    <TR bgcolor="#ddddee">
      <TD ALIGN="right" bgcolor="#bbbbcc"><b>{TXT_FROM}<b></TD>
      <TD>{FROM}</TD>
    </TR>
    <TR bgcolor="#ddddee">
      <TD ALIGN="right" bgcolor="#bbbbcc"><b>{TXT_TO}<b></TD>
      <TD>{TO}</TD>
    </TR>
    <TR bgcolor="#ddddee">
      <TD ALIGN="right" bgcolor="#bbbbcc"><b>{TXT_SUBJECT}<b></TD>
      <TD>{SUBJECT}</TD>
    </TR>
    <TR bgcolor="#ddddee">
      <TD ALIGN="right" bgcolor="#bbbbcc"><b>{TXT_DATE}<b></TD>
      <TD>{DATE}</TD>
    </TR>
</table>
<br>

{BUTTONS2}

    <table CELLPADDING=3 CELLSPACING=0 BORDER=0>
    <TR bgcolor="#ddddee" colspan=2>
      <TD ALIGN="right" VALIGN="top" bgcolor="#bbbbcc"><b>{TXT_MESSAGE}<b></TD>
      <TD colspan=2>{MESSAGE}</TD>
    </TR>
<!-- BEGIN urlblock -->
    <TR bgcolor="#ddddee">
      <TD ALIGN="right" bgcolor="#bbbbcc"><b>{TXT_URL}<b></TD>
      <TD><A HREF="{LINK_URL}" CLASS="navigation"  TARGET="_blank">{URL_DESC} ({LINK_URL})</A></TD>
    </tr>
<!-- BEGIN urlblock -->
    </TABLE>
    </BODY>
    </HTML>
    </form>
