	<form action="{FORMACTION}" method="post">
	  <table width="100%" cellspacing="0" cellpadding="2" border="0">
		  <tr class="tblheader">
			<!-- BEGIN table_header -->
			<td><strong>{TEXT}</strong></td>
			<!-- END table_header -->
		  </tr>
		  <!-- BEGIN table_row -->
		  <tr class="{CSS_ROW}">
			<!-- BEGIN table_cell -->
			<td valign="top" nowrap="1">
			  {TEXT_CONTENT}
			</td>
			<!-- END table_cell -->
		  </tr>
		  <!-- END table_row -->
	  </table>
	  <table cellspacing="0" cellpadding="2" border="0">
		  <tr height="40">
			<td align="left" width="16"><img src="{TPLPATH}/images/arrow_downright.gif" border="0" /></td>
			<td align="left">
			  <!-- BEGIN operation_btn -->	    
			  <input type="submit" name="cmd" value="{BTN_VALUE}" />
			  <!-- END operation_btn -->
			</td>
		  </tr>
	  </table>
	</form>
