<table width="100%" cellpadding=2 cellspacing=0>
<tr bgcolor="#cccccc">
<td>
<font size=-1>
<A HREF="usr_personaldesktop.php">[PD]</A>
<A HREF="lo.php">[LO]</A>

<!-- buttons disabled
<A HREF="bookmarks.php">[FAV]</A>
<A HREF="search.php?act=index_suche&co_id=&co_inst=&lowcat=">[SRCH]</A>
<A HREF="literature.php?act=&amp;back=index.php">[LIT]</A>
<A HREF="mail.php">[MAIL]</A>
-->

<A HREF="forums.php">[FRM]</A>

<!-- buttons disabled
<A HREF="groups.php">[GRP]</A>
-->

<!-- BEGIN userisauthor -->
<!-- buttons disabled
<A HREF="editor.php" alt="{TXT_EDITOR}">[ED]</A>
-->
<!-- END userisauthor -->

<!-- BEGIN userisadmin -->
<A HREF="admindex.php" alt="{TXT_ADMINISTRATION}">[ADM]</A>
<!-- END userisadmin -->
&nbsp;
<A HREF="http://www.ilias.uni-koeln.de/iosbb/index.php">[?]</A>
<A HREF="feedback.php">[FB]</A>
<A HREF="logout.php">[Bye]</A>
</font>
</td>
</tr>
</table>
