
<h2>{TXT_FORUM_USER}</h2>

{BUTTONS}

{MESSAGE}

<!-- BEGIN usertable -->
<table CELLPADDING=3 CELLSPACING=1 BORDER=0>

<tr>
	<td valign=top class="{ROWCOL2}">{TXT_LOGIN}:&nbsp;</td>
	<td valign=top class="{ROWCOL2}">{LOGIN}</td>	 
</tr>
<tr>
	<td valign=top class="{ROWCOL1}">{TXT_NAME}:&nbsp;</td>
	<td valign=top class="{ROWCOL1}">{FIRSTNAME}&nbsp;{SURNAME}</td>	 
</tr>
<tr>
	<td valign=top class="{ROWCOL2}">{TXT_TITLE}:&nbsp;</td>
	<td valign=top class="{ROWCOL2}">{TITLE}</td>	 
</tr>
<tr>
	<td valign=top class="{ROWCOL1}">{TXT_GENDER}:&nbsp;</td>
	<td valign=top class="{ROWCOL1}">{GENDER}</td>	 
</tr>
<tr>
	<td valign=top class="{ROWCOL2}">{TXT_EMAIL}:&nbsp;</td>
	<td valign=top class="{ROWCOL2}">{EMAIL}</td>	 
</tr>
<tr>
	<td valign=top class="{ROWCOL1}">{TXT_REGISTERED}:&nbsp;</td>
	<td valign=top class="{ROWCOL1}">{REGISTERED}</td>	 
</tr>
<tr>
	<td valign=top class="{ROWCOL2}">{TXT_NUM_POSTS}:&nbsp;</td>
	<td valign=top class="{ROWCOL2}">{NUM_POSTS}</td>	 
</tr>



</table>
<!-- END usertable -->
