<tr class="{CSS_ROW} {VAL_HIGHLIGHT}">

	<!-- BEGIN VAL_RANK -->
	<td class="std {VAL_HIGHLIGHT}" valign="top">{VAL_RANK}</td>
	<!-- END VAL_RANK -->

	<!-- BEGIN VAL_PARTICIPANT -->
	<td class="std {VAL_HIGHLIGHT}" valign="top">{VAL_PARTICIPANT}</td>
	<!-- END VAL_PARTICIPANT -->

	<!-- BEGIN VAL_ACHIEVED -->
	<td class="std {VAL_HIGHLIGHT}" valign="top">{VAL_ACHIEVED}</td>
	<!-- END VAL_ACHIEVED -->

	<!-- BEGIN VAL_SCORE -->
	<td class="std {VAL_HIGHLIGHT}" valign="top">{VAL_SCORE}</td>
	<!-- END VAL_SCORE -->

	<!-- BEGIN VAL_PERCENTAGE -->
	<td class="std {VAL_HIGHLIGHT}" valign="top">{VAL_PERCENTAGE} </td>
	<!-- END VAL_PERCENTAGE -->

	<!-- BEGIN VAL_HINTS -->
	<td class="std {VAL_HIGHLIGHT}" valign="top">{VAL_HINTS}</td>
	<!-- END VAL_HINTS -->

	<!-- BEGIN VAL_TIME -->
	<td class="std {VAL_HIGHLIGHT}" valign="top">{VAL_TIME}</td>
	<!-- END VAL_TIME -->
	
</tr>