<tr class="{CSS_ROW}">
	<!-- BEGIN scored --><td class="std"><strong>{VAL_SCORED}</strong></td><!-- END scored -->
	<td class="std">{VAL_PASS}</td>
	<td class="std">{VAL_DATE}</td>
	<!-- BEGIN answered --><td class="std">{VAL_ANSWERED}</td><!-- END answered -->
	<!-- BEGIN result_VAL_hints --><td class="std">{VAL_HINTS}</td><!-- END result_VAL_hints -->
	<!-- BEGIN reached --><td class="std">{VAL_REACHED}</td><!-- END reached -->
	<!-- BEGIN percentage --><td class="std">{VAL_PERCENTAGE}</td><!-- END percentage -->
	<!-- BEGIN pass_details --><td class="std">{VAL_PASS_DETAILS}</td><!-- END pass_details -->
</tr>