.ilDashboardMainContent {

	.il-panel-listing-std-container {
		margin-bottom: 15px;
	}

	.il-item-group {
		background-color: @il-secondary-container-bg;

		h4 {
			color: @il-panel-listing-std-container-h3-color;
			margin: 0;
			padding: @padding-large-vertical @padding-large-horizontal;
			font-size: @font-size-h4;
		}
	}
}
