.ilDashboardMainContent {

	.il-panel-listing-std-container {
		margin-bottom: 15px;
	}

	.il-item-group {
		background-color: @il-secondary-container-bg;

		h4 {
			margin: 0;
			padding: @padding-base-vertical @padding-base-horizontal;
			text-transform: none;
			font-size: @font-size-small;
		}
	}
}