<form action="{FORMACTION}" name="Scan" method="post">
    <table class="fullwidth">
        <thead>
            <tr class="tbltitle">
                <th scope="colgroup" colspan="{COLSPAN}">
                    <div class="fullwidth_invisible">
                        <div class="tbltitle">
                            <div class="tbltitle" align="left">
                                {TXT_TITLE}
                            </div>
                            <div align="right">
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tblrow2" colspan="3">
                    {TXT_SCAN_LOG}
                    <p class="subtitle">
                        {TXT_MODE}
                    </p>
                </td>
            </tr>
            <tr>
                <td class="submit" colspan="3" align="right">
                    <!-- BEGIN BTN_VIEW_LOG -->
                    <input role="button" class="submit" type="submit" name="cmd[viewScanLog]" value="{TXT_VIEW_LOG}"/>
                    <!-- END BTN_VIEW_LOG -->
                    <input role="button" class="submit" type="submit" name="cmd[check]" value="{TXT_DONE}"/>
                </td>
            </tr>
        </tbody>
    </table>
</form>