//== DropDowns
//
//##
$il-font-size-dropdown: $il-font-size-base;
$il-dropdown-shodow: 3px 9px 9px 0 rgba(0,0,0,0.3);

.dropdown .btn {
	text-align: left;
}

.dropdown hr {
	margin: $il-margin-large-vertical 0;
}

.dropdown h4 {
	margin: $il-margin-base-vertical 0;
}

ul.dropdown-menu {
	background-color: $il-main-bg;
	font-weight: $il-font-weight-base;
	border: 0 none;
	@include box-shadow($il-dropdown-shodow);
	// Links within the dropdown menu
	> li {
		padding-top: $il-padding-xs-vertical;
		padding-bottom: $il-padding-xs-vertical;

		> .btn {
			display: block;
			width: 100%;
			clear: both;
			padding: $il-padding-small-vertical $il-padding-xlarge-horizontal;
			font-weight: $il-font-weight-base;
			font-size: $il-font-size-dropdown;
			line-height: $line-height-base;
			background-color: $dropdown-link-bg;
			color: $dropdown-link-color;
			white-space: nowrap; // prevent links from randomly breaking onto new lines
			&:hover,
			&:focus {
				text-decoration: none;
				color: $dropdown-link-hover-color;
				background-color: $dropdown-link-hover-bg;
			}
		}
	}
}

//Note, this is a rather nasty fix for #27751
//Should be removed in upcoming versions.
.il-maincontrols-slate-content{
	.dropdown-menu{
		right: 0;
		left: inherit;
	}
}