<tr class="{CSS_ROW} small">
	<td class="std">
		<input type="hidden" name="duplicate_id" value="{DUP_ID}" />
		<!-- BEGIN inner_row -->
		<!-- BEGIN padding --><div style="padding-left: 22px"><!-- END padding -->
		<img src="{TYPE_IMG}" style="vertical-align:middle;" alt="{TYPE_STR}" title="{TYPE_STR}" border="0" vspace="0" />&nbsp;{OBJ_TITLE}
		<!-- BEGIN row_desc --><div class="il_Description">{VAL_DESC}</div><!-- END row_desc -->
		<!-- BEGIN end_padding --></div><!-- END end_padding -->
		{PATH}
		<!-- END inner_row -->
	</td>	
	<td class="std">
		<!-- BEGIN binner_row -->
		<!-- BEGIN bpadding --><div style="padding-left: 22px"><!-- END bpadding -->
			<img src="{bTYPE_IMG}" style="vertical-align:middle;" alt="{bTYPE_STR}" title="{bTYPE_STR}" border="0" vspace="0" />&nbsp;{bOBJ_TITLE}
		<!-- BEGIN brow_desc --><div class="il_Description">{bVAL_DESC}</div><!-- END brow_desc -->
		<!-- BEGIN bend_padding --></div><!-- END bend_padding -->
		<!-- END binner_row -->
	</td>	
</tr>