name: install-check-trunk-8.1
on:
  schedule:
    - cron: "0 12 * * *"
  workflow_dispatch:
jobs:
  installation:
    runs-on: ubuntu-latest
    outputs:
      all: ${{ steps.changes.outputs.all }}
    strategy:
      fail-fast: false
      matrix:
        php: [8.1]
    env:
      DB_DATABASE: ilias
      DB_USER: root
      DB_PASSWORD: root
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: trunk

      - name: Copy config file to location outside webroot
        run: |
           cp scripts/install-check/ilias-ci-config.json ../ilias-ci-config.json

      - name: Start MySQL Service
        run: |
           sudo /etc/init.d/mysql start

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, gd, json, readline, xsl, xml, mysql
          tools: composer:v2
          coverage: none

      - name: Install Composer dependencies
        run: composer install --no-interaction --no-progress --no-dev

      - name: Install Node dependencies
        run: npm clean-install --omit-dev --ignore-scripts

      - name: Perform setup
        run: |
           php scripts/setup.php install -y ../ilias-ci-config.json
