	<form class="il_Form" name="cmd" method="post" action="{FORMACTION}">
	  <table class="fullwidth">
		  <tr class="tblheader">
			<th class="std" colspan="2">
			  <div style="float:left;">{TXT_LDAP_MAPPING}</div>
			  <div style="float:right;">{SELECT_MAPPING}&nbsp;
				<input type="submit" class="submit" name="cmd[chooseMapping]" value="{TXT_SHOW}" />
			  <!-- BEGIN reset -->
			  <input type="submit" class="submit" name="cmd[reset]" value="{TXT_RESET}" />
			  <!-- END reset -->
			  </div>
			</th>
		  </tr>
		  <!-- BEGIN attribute_row -->
		  <tr class="std">
			<td class="option" align="top" width="25%">{TXT_NAME}</td>
			<td class="option_value">
			  <input type="text" name="{FIELD_NAME}" value="{FIELD_VALUE}" size="32" maxlength="255" /><br />
			  {CHECK_FIELD}&nbsp;{UPDATE_INFO}
			</td>
		  </tr>
		  <!-- END attribute_row -->
		  <tr>
			<td class="submit" colspan="2" align="right">
			  <input type="submit" class="submit" name="cmd[saveMapping]" value="{TXT_SAVE}" />
			</td>
		  </tr>			
	  </table>

