	<form class="il_Form" name="cmd" method="post" action="{FORMACTION}">
	  <table class="fullwidth">
		  <tr class="tblheader">
			<th class="std" colspan="3">
			  <div style="float:left;">{TXT_ROLE_SETTINGS}</div>
			</th>
		  </tr>
		  <tr class="std">
			<td class="option" align="top" width="33%">{TXT_ROLE_ACTIVE}</td>
			<td class="option_value">{CHECK_ROLE_ACTIVE}</td>
		  </tr>
		  <tr class="std">
			<td class="option" align="top" >{TXT_BINDING}</td>
			<td class="option_value">
				<table>
					<tr>
						<td>
					  	{TXT_ROLE_BIND_USER}:
						</td>
						<td>	
					  	<input type="text" name="role_bind_user" value="{ROLE_BIND_USER}" size="50" maxlength="255" />
						</td>
				  	</tr>
				  	<tr>
						<td>
						  {TXT_ROLE_BIND_PASS}:
						</td>
						<td>
						  <input type="password" name="role_bind_pass" value="{ROLE_BIND_PASS}" size="12" maxlength="36" />
						</td>
			  		</tr>
				</table>
				<div class="il_Description_no_margin">{TXT_ROLE_BIND_USER_INFO}</div>
			</td>
		  </tr>
		  <tr class="tblheader">
			<td class="std" colspan="3">
			  <div style="float:left;">{TXT_NEW_ASSIGNMENT}</div>
			</td>
		  </tr>
		  <tr class="std">
			<td class="option" align="top" colspan="1">{TXT_URL}</td>
			<td class="option_value">
			  <input type="text" name="mapping[0][url]" value="{URL}" size="50" maxlength="255" />
			  <div class="il_Description_no_margin">{TXT_URL_INFO}</div>
			</td>
		  </tr>
		  <tr class="std">
			<td class="option" align="top" colspan="1">{TXT_DN}</td>
			<td class="option_value">
			  <input type="text" name="mapping[0][dn]" value="{DN}" size="50" maxlength="255" />
			  <div class="il_Description_no_margin">{TXT_DN_INFO}</div>
			</td>
		  </tr>
		  <tr class="std">
			<td class="option" align="top" colspan="1">{TXT_MEMBER}</td>
			<td class="option_value">
			  <input type="text" name="mapping[0][member]" value="{MEMBER}" size="32" maxlength="64" /><br />
			  {CHECK_MEMBERISDN}&nbsp;{TXT_MEMBERISDN}
			  <div class="il_Description_no_margin">{TXT_MEMBER_INFO}</div>
			</td>
		  </tr>
		  <tr class="std">
			<td class="option" align="top" colspan="1">{TXT_ROLE}</td>
			<td class="option_value">
			  <input type="text" name="mapping[0][role]" value="{ROLE}" size="32" maxlength="255" />
			  <div class="il_Description_no_margin">{TXT_ROLE_INFO}</div>
			</td>
		  </tr>
		  <tr>
			<td class="submit" colspan="3" align="right">
			  <input type="submit" class="submit" name="cmd[saveRoleMapping]" value="{TXT_SAVE}" />
			</td>
		  </tr>
		</table>
		  <!-- BEGIN txt_assignments -->
		 <br />
	  <table class="fullwidth">
		  <tr class="tblheader">
			<th class="std" colspan="3">
			  <div style="float:left;">{TXT_ASSIGNMENTS}</div>
			</th>
		  </tr>
		  <!-- END txt_assignments -->
		  <!-- BEGIN assignments -->
		  <tr class="std">
			<td class="option" align="top" colspan="1">
			  <div style="float:left">
				{ROW_CHECK}
			  </div>
			  {TXT_PARSED_NAME}
			</td>
			<td class="option_value">
			<table>
				<tr>
					<td>
						{ASS_GROUP_URL}
					</td>
					<td>
			  			<input type="text" name="mapping[{ROW_ID}][url]" value="{ROW_URL}" size="50" maxlength="255" />
			  		</td>
			  	</tr>
			  	<tr>
			  		<td>
						{ASS_GROUP_DN}
					</td>
					<td>
			  			<input type="text" name="mapping[{ROW_ID}][dn]" value="{ROW_DN}" size="50" maxlength="255" />
			  		</td>
			  	</tr>
			  	<tr>
					<td>
						{ASS_MEMBER_ATTR}
					</td>
					<td>
			  			<input type="text" name="mapping[{ROW_ID}][member]" value="{ROW_MEMBER}" size="32" maxlength="50" /><br />
			  			{ROW_CHECK_MEMBERISDN}&nbsp;{TXT_ROW_MEMBERISDN}
			  		</td>
			  	</tr>
			  	<tr>
			  		<td>
						{ASS_ROLE}
					</td>
					<td>
					  <input type="text" name="mapping[{ROW_ID}][role]" value="{ROW_ROLE}" size="32" maxlength="255" /><br />
					</td>
				</tr>
			</table>
			</td>
		</tr>
		  <!-- END assignments -->
		  <!-- BEGIN assignments_footer -->
		  <tr>
			<td class="submit" colspan="3" align="right">
			  <div style="float:left">
				<img src="{SOURCE}" style="vertical-align: middle;" border="0">
				<input type="submit" class="submit" name="cmd[deleteRoleMapping]" value="{TXT_DELETE}" />
			  </div>
			  <input type="submit" class="submit" name="cmd[saveRoleMapping]" value="{TXT_SAVE}" />
			</td>
		  </tr>	
	  </table>
	  <!-- END assignments_footer -->
	</form>