<tr class="{CSS_ROW}">
    <td class="std">
        <img src="{IMG_PATH}" alt="{IMG_INFO}" title="{IMG_INFO}" border="0" vspace="0"/>
    </td>
    <td class="std">
        <a href="{ROLE_LINK}">{TXT_ROLE}</a>
    </td>
    <td class="std">
        <!-- BEGIN effective_from -->
        <a href="{EFFECTIVE_FROM_LINK}">{TXT_EFFECTIVE_FROM}</a>
        <!-- END effective_from -->
    </td>
    <td class="std">
        <!-- BEGIN original_position_with_link -->
        <a href="{ORIGINAL_POSITION_LINK}">{TXT_ORIGINAL_POSITION_WITH_LINK}</a>
        <!-- END original_position_with_link -->
        {TXT_ORIGINAL_POSITION}
    </td>
</tr>