<div class="ilTableHeaderTitle">	
	<!-- <img src="{TBL_TITLE_IMG}" alt="{TBL_TITLE_IMG_ALT}" title="{TBL_TITLE_IMG_ALT}" border="0" /> -->
	<h3 class="ilHeader ilTableHeaderTitle">{TBL_TITLE}</h3>
</div>
<form action="{FORMACTION}" name="ObjectItems" method="post">
	  <table class="table table-striped">
		  <thead>
		  <tr>
			<th class="std" nowrap="nowrap" width="1%"></th>
			<th class="std" nowrap="nowrap" width="94%">{HEADER_DESC}</th>
		  </tr>
		  </thead>
		  <tbody>
		  <!-- BEGIN desk_row -->
		  <tr>
			<td class="{ROW_CLASS}">
			  {CHECK_DESK}
			</td>
			<td class="{ROW_CLASS}">
			  {DESK_TITLE}
			  <!-- BEGIN description -->
			  <div class="il_Description_no_margin">{DESCRIPTION_DESK}</div>
			  <!-- END description -->
			  <div class="il_info">{TXT_PATH} {PATH}</div>
			</td>
		  </tr>
		  <!-- END desk_row -->
		  </tbody>
		  <tfooter>
		  <tr>
			<td class="submit" colspan="2" align="left" nowrap="nowrap">
			  <table width="100%" cellpadding="0" cellspacing="0" border="0">
				  <tr>
					<td align="left" width="10">
					  <img src="{IMG_ARROW}" border="0" />
					</td>
					<td align="left">&nbsp;
					  <input class="btn btn-default" type="submit" name="cmd[askDeleteDesktopItem]" value="{BTN_DELETE}" />
					</td>
				  </tr>
			  </table>
			</td>
		  </tr>
		  </tfooter>
	  </table>
	</form>
