	<form action="{FORMACTION}" name="ObjectItems" method="post">
	  <table class="std" width="60%">
		  <tr class="tbltitle">
			<td colspan="4">
			  <table class="fullwidth_invisible" cellspacing="0">
				  <tr class="tbltitle">
					<td width="10"><img src="{TBL_TITLE_IMG}" alt="{TBL_TITLE_IMG_ALT}" title="{TBL_TITLE_IMG_ALT}" border="0" /></td>
					<td class="tbltitle" align="left">&nbsp;{TBL_TITLE}</td>
				  </tr>
			  </table>
			</td>
		  </tr>
		  <tr class="tblrow1">
			<td class="option" width="30%">{TXT_USERNAME}</td>
			<td class="option_value" width="70%"><input type="text" name="owner" value="{USERNAME}" size="12" maxlength="32" />
			  <br />
			  <small class="warning">{CHOWN_WARNING}</small>
			</td>
		  </tr>
		  <tr>
			<td class="submit" colspan="2" align="left" nowrap="nowrap">
			  <table width="100%" cellpadding="0" cellspacing="0" border="0">
				  <tr>
					<td align="right">&nbsp;
					  <input class="submit" type="submit" name="cmd[changeOwner]" value="{BTN_CHOWN}" />
					</td>
				  </tr>
			  </table>
			</td>
		  </tr>
	  </table>
	</form>
	