<tr class="{CSS_ROW}">
	<td class="std">
		<!-- BEGIN check -->
		<input type="checkbox" name="user_id[]" value="{ID}" />
		<!-- END check -->
	</td>
	<td class="std">
		<!-- BEGIN login_plain -->
		<span class="small">{VAL_PLAIN_LOGIN}</span>
		<!-- END login_plain -->
		<!-- BEGIN login_linked -->
		<span class="small"><a href="{HREF_LOGIN}">{VAL_LOGIN}</a></span>
		<!-- END login_linked -->
	</td>
	<td class="std">
		<span class="small">{VAL_FIRSTNAME}</span>
	</td>
	<td class="std">
		<span class="small">{VAL_LASTNAME}</span>
	</td>
	<td class="std">
		<span class="small">{VAL_ACTIONS}</span>
	</td>
</tr>
