<!-- BEGIN copyright_selection -->
<input type="radio" name="{SPOST_VAR}[sel]" id="{SPOST_VAR}_cp_{COPYRIGHT_ID}" value="{COPYRIGHT_ID}" {COPYRIGHT_CHECKED} />
<label for="{SPOST_VAR}_cp_{COPYRIGHT_ID}">
{COPYRIGHT_TITLE}
<div class="il_Description">{COPYRIGHT_DESCRIPTION}</div>
</label>
<!-- END copyright_selection -->
<!-- BEGIN prop_copyright -->
<textarea name="{POST_VAR}[ta]" id="{ID}" wrap="virtual" <!-- BEGIN prop_ta_c -->cols="{COLS}"<!-- END prop_ta_c --> rows="{ROWS}" <!-- BEGIN prop_ta_w -->style="width:90%;"<!-- END prop_ta_w --> {DISABLED}>{PROPERTY_VALUE}</textarea>
<!-- END prop_copyright -->
{HIDDEN_INPUT}
