@avatar-colors: @avatar-letter-color-variants;
@avatar-inner-size: (@avatar-size - (2 * @avatar-border-size));
@avatar-inner-mobile-size: (@avatar-size / 2 );

@zoom-small: @avatar-size-small / @avatar-size;
@zoom-large: @avatar-size-large / @avatar-size;

.il-avatar {
	height: @avatar-size;
	width: @avatar-size;

	border-radius: @avatar-border-radius;
	border-style: @avatar-border-style;
	border-width: @avatar-border-size;

	overflow: hidden;
	line-height: 1;
	text-align: center;
	pointer-events: none;


	&.il-avatar-picture {
		border-color: @avatar-picture-border-color;

		img {
			height: @avatar-size;
			width: @avatar-size;
			vertical-align: top;
			border: @avatar-border-radius;
			overflow: hidden;
			object-fit: cover;
		}
	}

	&.il-avatar-letter {
		span.abbreviation {
			font-weight: @avatar-letter-abbreviation-font-weight;
			text-transform: @avatar-letter-abbreviation-font-transform;
			font-size: calc(@avatar-inner-size / 2);
			line-height: 1;
			position: relative;
			top: calc(@avatar-inner-size / 4);
		}

		.avatar-color-variant(@i: length(@avatar-colors)) when (@i > 0) {
			.avatar-color-variant(@i - 1);
			@number_text: ~"@{i}";
			@color: (extract(@avatar-colors, @i));
			&.il-avatar-letter-color-@{number_text} {
				@contrast: contrast(@color, lighten(@color, @avatar-letter-border-color-contrast-lighten), darken(@color, @avatar-letter-border-color-contrast-darken));
				background-color: @color;
				border-color: @contrast;
				color: @contrast;
			}
		}
		.avatar-color-variant();
	}
}


@media only screen and (max-width: @grid-float-breakpoint-max) {
	.il-avatar {
		height: @avatar-inner-mobile-size;
		width: @avatar-inner-mobile-size;
		margin-top: auto;
		border-width: @avatar-small-border-size;

		&.il-avatar-picture {
			img {
				height: @avatar-inner-mobile-size;
				width: @avatar-inner-mobile-size;
			}
		}

		&.il-avatar-letter {
			span.abbreviation {
				font-size: calc(@avatar-inner-mobile-size / 2);
				top: calc(@avatar-inner-mobile-size / 4);
			}
		}
	}
}


