@il-avatar-colors: @il-avatar-letter-color-variants;
@il-avatar-inner-size: (@il-avatar-size - (2 * @il-avatar-border-size));
@il-avatar-inner-mobile-size: (@il-avatar-size / 2 );

@zoom-small: @il-avatar-size-small / @il-avatar-size;
@zoom-large: @il-avatar-size-large / @il-avatar-size;

.il-avatar {
	height: @il-avatar-size;
	width: @il-avatar-size;

	display: inline-block;

	border-radius: @il-avatar-border-radius;
	border-style: @il-avatar-border-style;
	border-width: @il-avatar-border-size;

	overflow: hidden;
	line-height: 1;
	text-align: center;
	pointer-events: none;


	&.il-avatar-picture {
		border-color: @il-avatar-picture-border-color;

		img {
			height: @il-avatar-size;
			width: @il-avatar-size;
			vertical-align: top;
			border: @il-avatar-border-radius;
			overflow: hidden;
			object-fit: cover;
		}
	}

	&.il-avatar-letter {
		span.abbreviation {
			font-weight: @il-avatar-letter-abbreviation-font-weight;
			text-transform: @il-avatar-letter-abbreviation-font-transform;
			font-size: calc(@il-avatar-inner-size / 2);
			line-height: 1;
			position: relative;
			top: calc(@il-avatar-inner-size / 4);
		}

		.avatar-color-variant(@i: length(@il-avatar-colors)) when (@i > 0) {
			.avatar-color-variant(@i - 1);
			@number_text: ~"@{i}";
			@color: (extract(@il-avatar-colors, @i));
			&.il-avatar-letter-color-@{number_text} {
				@contrast: contrast(@color, lighten(@color, @il-avatar-letter-border-color-contrast-lighten), darken(@color, @il-avatar-letter-border-color-contrast-darken));
				background-color: @color;
				border-color: @contrast;
				color: white;
			}
		}
		.avatar-color-variant();
	}
}


@media only screen and (max-width: @grid-float-breakpoint-max) {
	.il-avatar {
		height: @il-avatar-inner-mobile-size;
		width: @il-avatar-inner-mobile-size;
		margin-top: auto;
		border-width: @il-avatar-small-border-size;

		&.il-avatar-picture {
			img {
				height: @il-avatar-inner-mobile-size;
				width: @il-avatar-inner-mobile-size;
			}
		}

		&.il-avatar-letter {
			span.abbreviation {
				font-size: calc(@il-avatar-inner-mobile-size / 2);
				top: calc(@il-avatar-inner-mobile-size / 4);
			}
		}
	}
}


