@avatar-color0: #a94136;
@avatar-color1: #1abc9c;
@avatar-color2: #16a085;
@avatar-color3: #f1c40f;
@avatar-color4: #f39c12;
@avatar-color5: #2ecc71;
@avatar-color6: #27ae60;
@avatar-color7: #e67e22;
@avatar-color8: #2980b9;
@avatar-color9: #3498db;
@avatar-color10: #d35400;
@avatar-color11: #e74c3c;
@avatar-color12: #c0392b;
@avatar-color13: #9b59b6;
@avatar-color14: #8e44ad;
@avatar-color15: #3b3b3b;
@avatar-color16: #34495e;
@avatar-color17: #6b93bd;
@avatar-color18: #95a5a6;
@avatar-color19: #7f8c8d;
@avatar-color20: #ec87bf;
@avatar-color21: #d870ad;
@avatar-color22: #f69785;
@avatar-color23: #9ba37e;
@avatar-color24: #b49255;
@avatar-color25: #7fff88;


@avatar-inner-size: (@avatar-size - (2 * @avatar-letter-border-size));
@avatar-inner-mobile-size: (@avatar-size / 2 );


.il-avatar {
	height: @avatar-size;
	width: @avatar-size;
	border-radius: @avatar-border-radius;
	border-style: @avatar-letter-border-style;
	border-width: @avatar-letter-border-size;
	overflow: hidden;
	line-height: 1;
	text-align: center;

	&.il-avatar-picture {
		img {
			height: @avatar-size;
			width: @avatar-size;
			vertical-align: top;
			border: @avatar-border-radius;
			overflow: hidden;
		}
	}

	&.il-avatar-letter {
		span.abbreviation {
			font-weight: @avatar-letter-abbreviation-font-weight;
			text-transform: @avatar-letter-abbreviation-font-transform;
			font-size: calc(@avatar-inner-size / 2);
			line-height: 1;
			position: relative;
			top: calc(@avatar-inner-size / 4);
		}


		// Color Variants

		.avatar-color-variant(@number) {
			@number_text: ~"@{number}";
			@variant: "avatar-color@{number}";
			// This would be an other version to generate the colors dynamicly
			// @color: tint(fade(darken(spin(#F0F, @number*156), 15%), 75%), 20%);
			@color: @@variant;
			@contrast: contrast(@color, lighten(@color, @avatar-letter-border-color-contrast), darken(@color, @avatar-letter-border-color-contrast));
			&.il-avatar-letter-color-@{number_text} {
				background-color: @color;
				border-color: @contrast;
				color: @contrast;
			}
		}

		.for-loop(@index) when (@index >= 0) {
			.avatar-color-variant(@index);
			.for-loop(@index - 1);
		}
		.for-loop(25);
	}
}


@media only screen and (max-width: @grid-float-breakpoint-max) {
	.il-avatar {
		height: @avatar-inner-mobile-size;
		width: @avatar-inner-mobile-size;
		margin-top: auto;
		border: none;

		&.il-avatar-picture {
			img {
				height: @avatar-inner-mobile-size;
				width: @avatar-inner-mobile-size;
			}
		}

		&.il-avatar-letter {
			span.abbreviation {
				font-size: calc(@avatar-inner-mobile-size / 2);
				top: calc(@avatar-inner-mobile-size / 4);
			}
		}
	}
}


