.icon {
	display: inline-block;
	text-align: center;

	.abbreviation {
		font-weight: bold;
		position: absolute;
	}
	img {
		float:left;
	}

	&.small {
		height: @il-icon-size-small;
		line-height: @il-icon-size-small;
		.abbreviation {
			font-size: ceil(@il-icon-size-small * 0.4);
			width: @il-icon-size-small;
		}
		img {
			width: @il-icon-size-small;
			height: @il-icon-size-small;
		}
	}
	&.medium {
		height: @il-icon-size-medium;
		line-height: @il-icon-size-medium;
		.abbreviation {
			font-size: ceil(@il-icon-size-medium * 0.4);
			width: @il-icon-size-medium;
		}
		img {
			height: @il-icon-size-medium;
		}
	}
	&.large {
		height: @il-icon-size-large;
		line-height: @il-icon-size-large;
		.abbreviation {
			font-size: ceil(@il-icon-size-large * 0.4);
		}
		img {
			height: @il-icon-size-large;
		}
	}
	&.responsive {
		width: 100%;
		line-height: @il-icon-size-medium;
		.abbreviation {
			font-size: ceil(@il-icon-size-medium * 0.4);
		}
		img {
			width: 100%;
			height: auto;
		}
	}

	&.disabled {
		-webkit-filter: @il-standard-disabled-icon-filter; /* Safari 6.0 - 9.0 */
		filter: @il-standard-disabled-icon-filter;
	}


	&.outlined{
		filter: @il-standard-outlined-icon-filter;

		&.disabled {
			filter: @il-standard-outlined-disabled-icon-filter;
		}
	}
}
