.icon {
	display: inline-block;
	text-align: center;

	&.small {
		height: @il-icon-size-small;
		line-height: @il-icon-size-small;
	}
	&.medium {
		height: @il-icon-size-medium;
		line-height: @il-icon-size-medium;
	}
	&.large {
		height: @il-icon-size-large;
		line-height: @il-icon-size-large;
	}
	&.responsive {
		width: 100%;
		line-height: @il-icon-size-medium;
	}

	&.disabled {
		-webkit-filter: @il-standard-disabled-icon-filter; /* Safari 6.0 - 9.0 */
		filter: @il-standard-disabled-icon-filter;
	}
}
